[2021-09-14 23:29] andschwa commented on #3462
Ok so we think we've narrowed down the issue to the fact that OmniSharp, our big underlying dependency, requires [`System.Threading.Channels` 4.7.1](https://github.com/OmniSharp/csharp-language-server-protocol/blob/cd64dd4119275a862118a34f97715bcbebed0bb7/Directory.Build.targets#L41), but the assembly being provided by `dotnet` in our package is, for some reason, 4.0.2.0. Technically it's `OmniSha

[2021-09-15 08:02] potatoqualitee commented on #3565
awesome news all around! thanks so much for the updates 💯

[2021-09-15 08:02] #3565 closed

[2021-09-15 08:03] potatoqualitee commented on #3565
also glad to know that chunks of code thing is not a ps extension problem. hopefully it will get fixed at that level 👍🏼

[2021-09-15 17:31] rjmholt commented on #3565
Just to follow up here, the work to improve the fundamental issues in how PowerShell is executed in the extension is being done in https://github.com/PowerShell/PowerShellEditorServices/pull/1459. I've just opened https://github.com/PowerShell/PowerShellEditorServices/pull/1574 onto that branch, which implements debugging (which took much much longer than anticipated because PowerShell's debugger

[2021-09-15 23:23] andschwa commented on #3462
Well that's annoying...[4.7.1 is 4.0.2.0](https://nuget.info/packages/System.Threading.Channels/4.7.1). That explains why it's showing up at that version. @adamdriscoll is `ReadAsync` maybe just not available in .NET Framework (i.e. not .NET Core), or maybe OmniSharp should reference 5.0.0?

[2021-09-15 23:24] andschwa commented on #3462
[No, it looks like 4.7.1 has `ReadAsync`.](https://www.fuget.org/packages/System.Threading.Channels/4.7.1/lib/netstandard2.0/System.Threading.Channels.dll/System.Threading.Channels/ChannelReader%601)

[2021-09-15 23:30] andschwa commented on #3462
So, yeah, super weird.

[code]

That error is pretty clear. The cause is not.

[2021-09-16 00:00] #3567 closed

[2021-09-16 03:05] TylerLeonhardt commented on #3567
reopen?

[2021-09-16 08:20] lucahost commented on #3510
@rjmholt after following up your answer in the PowerShell Discord Server I created a "not-so" minimal repro example.
https://github.com/lucahost/PSES-ALC-Repro
as mentioned in the .\Run.ps1 script, running this with PowerShell 5.1 should work where running it with PSES will result in Errors
If I can provide anything more or something is not working I'm here to assist.

[2021-09-16 12:31] potatoqualitee commented on #3565
fantastic news! Thank you @rjmholt 🥳

[2021-09-17 09:32] baldieavenger commented on #3394
@andschwa This is fixed with the latest update today!
v2021.9.0 and I can use the original Microsoft.VSCode_profile.ps1 with the `"&'$file'" | invoke-expression` and my pop up comes out, in front of my other windows and I can then navigate and choose another .ps1 with my profile in, which then does load!

[2021-09-17 17:19] andschwa commented on #3394
Awesome! So glad to hear that @baldieavenger.

[2021-09-17 18:00] #3568 closed

[2021-09-20 17:20] yadirhb commented on #301
Is there a workaround this yet?

[2021-09-21 20:41] andschwa commented on #3510
@KoenZomers and @gautamdsheth are you two also looking at this? It seems to have been introduced when a custom ALC with a resolver was added to PNP.PowerShell, and it's not expecting another ALC (the one in Editor Services) to exist and possibly resolve dependencies. But we're still not entirely sure.

[2021-09-22 09:04] Andy-AO opened #3576 "No response when running script containing bump2version"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-09-22 17:49] andschwa commented on #3576
I wonder if this is related to similar bugs with some native tools like we see in #2559. My guess is some input handle is hung-up but it's just a guess.

[2021-09-22 20:12] Andy-AO commented on #3576
It may be similar.

[2021-09-22 20:13] Andy-AO commented on #3576
This issue has been around for about a year and there is no sign of a solution, it feels like it's affecting the experience of using it, is it a low priority?

[2021-09-22 20:17] andschwa commented on #3576
It's not a low priority, it's one of many priorities and it's one of the hardest to solve.

[2021-09-22 20:20] andschwa commented on #2377
@JustinGrote The bug you linked appears now resolved. Is this still reproducing?

[2021-09-22 20:23] andschwa commented on #2821
@mverbaas Can you test if this is still reproducing with v2021.9.0? Thanks!

[2021-09-22 21:02] JustinGrote commented on #2377
I can no longer reproduce with the "a and then trash icon" method, so hopefully we are good! @Tyriar thanks so much for finally helping put this long standing aggravating issue to bed.

[2021-09-22 21:02] #2377 closed

[2021-09-23 02:02] Andy-AO commented on #3576
If it is simply not responding, then the problem is not too serious. More importantly, even if the operation has been stopped using `^c`, the corresponding folder will be occupied, and unless the whole program is restarted, it will be difficult to lift it, and the problem will be serious if you accidentally press the wrong button.

Moreover, if this problem occurs in debug mode, it is impossible t

[2021-09-23 18:15] JustinGrote opened #3582 "Debugging Runspace in another process locks the PSIC"
Issue Type: <b>Bug</b>

Almost certainly tied to:
https://github.com/PowerShell/PowerShellEditorServices/issues/1295

And should be revisited when complete

Extension version: 2021.9.1
VS Code version: Code - Insiders 1.61.0-insider (5df296407363de70e9d7b455e1fcb004ceaa6b75, 2021-09-22T12:10:36.121Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No
Remote OS version: Windows_NT x64 6.3.96

[2021-09-23 21:21] gitfvb commented on #3462
Hi all. This error happens on my machine, too. I only realised it does not work anymore two or three weeks ago. Is there any workaround or solution available yet?

[2021-09-24 07:51] mverbaas commented on #2821
@andschwa, to be honest I forgot about this as I haven't seen it in a long time!

[2021-09-24 08:28] yurim108 commented on #679
Same problem on Windows 10, VS Code Version 1.60.2.
EditorServices.log size is 30 Gb and still growing...
Is there any setting to limit the size? Can file be just deleted?

[2021-09-24 13:56] CrendKing opened #3586 "deactivate() fails to execute"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-09-24 14:34] CrendKing commented on #2530
After some digging, I found that if `powershell.integratedConsole.useLegacyReadLine` is set to true (default is false), the conhost.exe no longer lingers after VSCode is terminated. Since this setting is [related to PowerShellEditorServices](https://github.com/PowerShell/vscode-powershell/blob/0ec48b0542618657a062b8a619e7e8158883c756/src/process.ts#L61), something might need fix on that side. But

[2021-09-28 19:24] andschwa commented on #2530
Oo good to know @CrendKing, thanks! @rjmholt and @daxian-dbw sounds like something with `PSReadLine` might be keeping `conhost.exe` around.

[2021-09-28 19:26] andschwa commented on #2821
That's fantastic @mverbaas. I'm going to mark this as resolved for now, please let us know if you see it again!

[2021-09-28 19:29] andschwa commented on #679
@yurim108 that is not the PowerShell extension. You're looking at logs for the extension [AL Language](https://marketplace.visualstudio.com/items?itemName=ms-dynamics-smb.al) (note the extension path, you're in the folder `ms-dynamics-smb.al-<version>`).

Since this bug as been waiting on reproduction for a year, and your issue is with another extension, I'm marking as resolved. Thanks!

[2021-09-28 19:31] andschwa commented on #3586
Oh interesting! @CrendKing would you open a PR with your fix? I'll happily take it.

[2021-09-28 19:34] andschwa commented on #3462
I have a very strong hunch that the method which our dependent library, OmniSharp, relies on is not available in .NET Framework (the Windows framework, i.e. not .NET Core). A workaround, if it's available to you, is to use PowerShell Core (aka PowerShell 7) instead of Windows PowerShell. Because the bug seems to be in the library, it's going to take a bit to fix (and that's only if my hunch is cor

[2021-09-28 20:47] andschwa commented on #3576
It's very interesting to me that the programs we're seeing problems with are all interpreted scripts. Both `hg.exe` and `bump2version.exe` are Python scripts (executables that bundle the Python interpreter and the associated script), and `exiftool.exe` is a Perl script bundled in the same manner. That is to say, they are not simply native executables. There seems to be a connection here but I have

[2021-09-28 22:00] #2821 closed

[2021-09-28 22:00] #679 closed

[2021-09-28 22:13] CrendKing commented on #3586
@andschwa PR is https://github.com/PowerShell/vscode-powershell/pull/3592

[2021-09-29 07:14] gitfvb commented on #3462
Hi @andschwa, thanks a lot. That is something I got working yesterday. I installed PowerShell v7 and changed from line 12 downwards. Now it works like a charm, but have to test with PowerShell 5.1 to ensure backwards compatibility.

![grafik](https://user-images.githubusercontent.com/14135678/135220614-9edc9153-e345-4347-990c-9b62ea0ef8f1.png)

[code]

[2021-09-29 09:29] anankee26 commented on #3462
hello @andschwa,

Affected by this bug for several months, I had to find a workaround: either use powershell 7 with vscode, or use another software, like PS ISE.
But, with vscode, as our servers use PS 5.1 by default and don't have PS 7 installed, it's difficult to develop in 7 and then switch to 5.1 to check that it works since, precisely, 5.1 in vscode doesn't work...
And if I use PS ISE, a lot

[2021-09-29 10:46] timtatam opened #3594 "Set-PnPPage gives 'Method not found' issue in VSC integrated PS"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-09-29 15:42] yobyot commented on #3137
Hello, is this problem being worked on as part of https://github.com/PowerShell/vscode-powershell/projects/9?

[2021-09-29 16:13] andschwa commented on #3462
That is _super strange_ and thanks for the heads up. Perhaps those logs will help. Reproducing this has been super difficult.

[2021-09-29 16:16] andschwa commented on #3137
Yes @yobyot! And it's under review, @rjmholt has made excellent progress.

[2021-09-29 19:00] #3586 closed

[2021-09-29 19:18] andschwa commented on #3594
This looks like the same issue as #3510, or at least close enough to track there too.

[2021-09-29 19:41] andschwa opened #3596 "Use MochaJS's best practices"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

- [x] Convert from [TDD to BDD](https://github.com/PowerShell/vscode-powershell/blob/75795bc1969616fd062347651a1dfeeeea7d1bfc/test/index.ts#L14) which use `describe()` and

[2021-09-29 19:42] andschwa opened #3597 "Enable unit test code coverage"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

- [x] Probably using [Istanbul](https://www.testim.io/blog/mocha-code-coverage-how-to-use-instanbul-to-get-going/) AKA `nyc`.
- [x] It should be integrated into the pipeli

[2021-09-29 19:46] andschwa opened #3598 "Enable the `OpenExamplesFolder` unit test"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Added but also disabled in #3570:

https://github.com/PowerShell/vscode-powershell/blob/bf1091669aa8b0983bc17d85b156f847ffdae115/test/core/paths.test.ts#L14-L19

### Propo

[2021-09-29 19:55] mmunchandersen commented on #2417
I'm getting this on a Window 2013R2 server. Anyone with a solution?

29.9.2021 21.08.33 [NORMAL] - Visual Studio Code v1.60.2 64-bit
29.9.2021 21.08.34 [NORMAL] - PowerShell Extension v2021.9.0
29.9.2021 21.08.34 [NORMAL] - Operating System: Windows 64-bit
29.9.2021 21.08.34 [NORMAL] - Language server starting --
29.9.2021 21.08.34 [NORMAL] -     PowerShell executable: C:\Windows\SysWOW64\WindowsP

[2021-09-29 22:38] KoenZomers commented on #3510
Not entirely sure here what I would need to do but I cannot reproduce this on my end.

![image](https://user-images.githubusercontent.com/5940670/135358081-bb450445-0c1c-4b13-9282-d5e1b144602f.png)

What do I need to do differently to reproduce the issue?

[2021-09-29 23:11] andschwa commented on #3510
@KoenZomers We've managed to narrow it down to reproducing with 1.7.0 and above, but not with 1.5.0. Which version did you test there?

[2021-09-29 23:13] KoenZomers commented on #3510
![image](https://user-images.githubusercontent.com/5940670/135360974-1b220e61-23c0-4386-973a-2fbf62875e47.png)

[2021-09-29 23:14] KoenZomers commented on #3510
![image](https://user-images.githubusercontent.com/5940670/135361051-f6517af4-d406-4fc5-be18-96bca3d05263.png)

[2021-09-29 23:21] andschwa commented on #3510
@KoenZomers It looks like @lucahost has a full repro here.

[2021-09-29 23:26] KoenZomers commented on #3510
This goes beyond my knowledge. We would need Erwin van Hunen to have a look at this, but he's currently overly occupied so that's likely going to take a while.

[2021-09-29 23:27] andschwa commented on #3510
Good to know, thank you. Can we ping his handle for him to look at this when he eventually gets time?

[2021-09-29 23:32] KoenZomers commented on #3510
I've added it to the list to discuss with him during our next meeting. Can someone that can reproduce this issue also try it with PnP PowerShell 1.6.0? And also with the latest prerelease build? Perhaps through narrowing down exactly in which version something changed we can look at the differences done in that release and figure it out.

[2021-09-30 08:38] lucahost commented on #3510
@KoenZomers the problem is not per-se with PnP.PowerShell but with the ALC that resolves the DLL's.
There is a conflict when PowerShell Editor Services (Integrated Terminal) and the 3rd Party Package (PnP.PowerShell or my Repro Package (which includes EntityFramework Core as dependency)) are targeting other version of DLL's and both are using their own ALC.

For example:
- VS Code Editor Services

[2021-09-30 22:00] #3594 closed

[2021-10-03 17:07] PrzemyslawKlys opened #3601 "When extension (any extesion) is reloaded old PowerShell sessions are not discarded"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-10-03 21:33] LNGU opened #3602 "UI width, possibly word wrap, in PowerShell Integrated console is causing an input error while debugging"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-10-05 13:11] emrgcl opened #3604 "Outline should also support #Region"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Outline pane in vscode should also include / support #region blocks in Powershell.

Outline is a great tool for navigating hundreds of lines. If there are hundred of lines

[2021-10-05 20:38] andschwa commented on #3601
I believe this changed when VS Code upstream enabled reconnection to terminals. So Code no longer throws away terminals on reconnect, it instead saves them and brings them back. But it doesn't bring back the connection to Editor Services, so our extension is doing what it's always done: spawn an Integrated Console to host Editor Services and connect. This behavior was fine when Code would throw aw

[2021-10-05 20:39] andschwa commented on #3601
Yup, it's this work: https://github.com/PowerShell/vscode-powershell/issues/3360 I'm going to mark this as a duplicate as the work to be done is known and triaged.

[2021-10-05 20:40] andschwa commented on #3602
Hi @LNGU, could you please share a full repro with us? Either the script you were using or a scaled down one which you know to repro. Thank you!

[2021-10-05 20:41] #3601 closed

[2021-10-05 20:43] andschwa commented on #3604
Oh that's a great idea! Do you know what it would look like? I'm going to mark this as up for grabs because I'd happily take a PR that enabled it, but am unsure of when I'd be able to get to it myself.

[2021-10-05 20:43] rjmholt commented on #3602
Yeah the following will help us to reproduce the issue:

- The `Read-Host` part of the script with the full prompt
- The result of `[console]::windowwidth`
- The result of `gmo PSReadLine` and `gcm PSConsoleHostReadLine`

[2021-10-05 20:54] andschwa commented on #3462
Was discussing this with @rjmholt and he has two ideas which are our best leads yet:

1. The GAC has intercepted this load and given us back a bad assembly which has the type but not the method on the type (which seems really weird to Rob). This would require _some version_ of System.Threading.Channels to not have this method, but as far as we can tell, it's always been available.
2. The .NET Stan

[2021-10-05 21:08] andschwa commented on #3510
Re-reading through this whole issue, please correct me if I'm wrong, but I believe these problems are _only_ occurring with Windows PowerShell (e.g. PowerShell 5.1), not PowerShell Core (e.g. PowerShell 7). This makes some sense too given that it's an assembly loading issue and the ALCs used to separate dependencies from each other are no present in .NET Framework (which Windows PowerShell is boun

[2021-10-06 05:10] LNGU commented on #3602
so dragging UI has to happen. I had to drag between 73 and 72 in micro movement to repro this. If there is a value that tracks in smaller increments than whole numbers, please let me know.
[code]
[code]
[code]

[2021-10-08 12:38] andrewducker opened #3609 "PSScriptAnalyzer links from the Problem panel 404."
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-10-08 15:53] DanielNoord commented on #2337
I think the behaviour of this prompt might have changed since the issue was issued, but currently you also need to confirm you wanted to close the terminal when you do this.
I'm finding this increasingly annoying especially since the integrated terminal auto-runs whenever I click the `Powershell Command Explorer` by mistake.

It would be very nice if the extension noticed that the user intended to

[2021-10-08 16:52] andyleejordan opened #3610 "Update PSScriptAnalyzer rule documentation to `docs.microsoft.com`"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

The PSScriptAnalyzer documentation will soon be published at `docs.microsoft.com`, so we can update this URI:

https://github.com/PowerShell/vscode-powershell/blob/8f40aa1

[2021-10-13 14:28] MatejKafka opened #3616 "Add a formatter option to indent parameter attributes"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

I prefer to format parameter blocks in the following way:
[code]

This way, it is easy to see the parameters, and which attribute applies to which parameter. However, the

[2021-10-14 08:19] davidwallis3101 opened #3622 "Failure launching from vscode"
I'm having issues with the editor services from VSCode and think it maybe related to the stuff locking down this machine I'm using but would really like to try and gather some information to prove this, so looking for assistance in diagnosing the issue.

The machine has Ivanti Application Control Agent installed (formerly AppSense ?)

It appears the amagent.exe version is 10.1.455.0

The powershel

[2021-10-18 06:38] peetrike commented on #3489
Yes, VS Code v1.61.1 still has same issue

[2021-10-18 16:48] VitaliAtWork opened #3621 "VS Code makes no progress when trying to debug a PS script when there's an invalid "watch" variable set"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-10-18 16:52] VitaliAtWork commented on #3621
I have a time travel trace available, but it's unclear to me how to upload it here without risking exposing private data.

[2021-10-18 17:40] #3616 closed, assigned to nobody

[2021-10-18 17:52] StevenBucher98 commented on #3489
Thanks @peetrike, we had a few clarifying questions we want to get answered to help us get a better picture of the issue

- Which processes the integrated console can get to? You can work out which process by executing `$pid` and will give you the pid's back. We want to work out which process is the "zombie" one.

-Are you able to access the third process through the drop down of the vscode termin

[2021-10-18 22:27] #3430 closed

[2021-10-19 06:35] peetrike commented on #3489
There will be as many processes as many times the PowerShell extension spawns new instance.  It means that every time I open new fonder (or open script in new window), the new process is created.  And these processes don't go away.

I haven't tried to connect to those processes.  When i kill it, nothing notable happens in VS Code (I usually close all folders and separate windows before starting to

[2021-10-19 06:54] peetrike commented on #3489
The captured logs are here.  Let me know if You need more.

[1634625748-80020a2b-ead1-460a-8497-192267392d681634625746108.zip](https://github.com/PowerShell/vscode-powershell/files/7370904/1634625748-80020a2b-ead1-460a-8497-192267392d681634625746108.zip)

[2021-10-19 16:01] JustinGrote opened #3625 "PSIC "Run Hint" should show a dot source to more accurate depict what is happening"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

When using a run action, the script being run is shown in the PSIC as `PS> C:\path\to\script`. This is misleading to expect the variables would not return to the PSIC, and

[2021-10-20 18:08] andschwa commented on #3596
Oh _THIS_ is what I was working on @rjmholt 😅

[2021-10-21 18:12] Kalamazoo-DBA opened #3630 "PowerShell 5.1 in vscode-powershell Get-ExecutionPolicy -List result not matching PowerShell 5.1."
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-10-24 08:36] markr-rpc opened #3633 "Connect-AzAccount does not work in PowerShell Integrated Console"
Note, **the solution is posted in the Azure PowerShell module**. They have a temporary engineering built of the Az.Accounts module, with version 2.6.2 with instructions on how to install. The link is here:
https://github.com/Azure/azure-powershell/issues/16340

---

### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/v

[2021-10-24 23:45] chrisxbohling opened #3634 "With PowerShell 7.1.5: Method not found: 'Void System.ServiceModel.NetTcpBinding.set_MaxConnections(Int32)'"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-10-25 16:18] 9126consulting opened #3639 "Invoke-RestMethod issue"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-10-26 18:27] #3610 closed, assigned to andyleejordan, sdwheeler

[2021-10-27 10:21] justPaulo opened #3645 "Get-AzStorageAccount : Your Azure credentials have not been set up or have expired, please run Connect-AzAccount to set up your Azure credentials."
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-10-27 14:38] #3630 closed, assigned to nobody

[2021-10-28 15:55] TylerLeonhardt opened #3647 "Walkthrough's for PowerShell"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

VS Code has a contribution point of Walkthroughs that appear in the Getting Started/Welcome view when the user opens vscode:
![image](https://user-images.githubusercontent

[2021-10-28 22:07] rjmholt opened #3650 "Profiles not loading in lastest preview"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-10-29 06:47] PrzemyslawKlys opened #3651 "`Write-Host -NoNewLine` not respected"
### Prerequisites

- [x] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-10-29 13:00] fflaten opened #3652 "Pester code lens broken in latest preview"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-10-29 14:10] sburbano opened #3653 "`$PROFILE` variable has changed type and behavior"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-10-29 16:11] SeeminglyScience opened #3654 "Go to definition on binary cmdlet or command that doesn't exist times out"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-10-29 16:58] JustinGrote opened #3655 "Run Launch config on unsaved File is broken"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-10-29 18:15] fflaten commented on #3652
Updated the console output in first post to match the image to show that it affects multiple string arguments, ex Output.

I'm not very familiar with VSCode debugger and PSES, but I bet the launch debugger-command provided by PSES now auto-quotes string-arguments, something the caller used to do until now: https://github.com/PowerShell/vscode-powershell/blob/4d4911a639cfd7ce9dbff14dd0d79895fde1036

[2021-10-29 18:35] sburbano commented on #3653
@SeeminglyScience  Wow!! I see!

[code]
PS is like a box of chocolates... 😄

[2021-10-29 18:42] JustinGrote commented on #3652
I'm seeing the same, was trying to dig into where that might ahve changed.

[2021-10-29 20:14] andschwa commented on #3651
Well now this one is weird!

[2021-10-29 20:16] andschwa commented on #3142
Awesome! Do feel free to us know if it happens again

[2021-10-29 20:22] andschwa commented on #3650
Thanks @kborowinski! Your report is fine there, I'll be looking at this first thing Monday!

[2021-10-29 20:27] andschwa commented on #3633
Oof, well I'm sorry about that. I'll see if we can figure out which dependencies are conflicting, though still not sure if it'll be fixable. One of the modules would (most likely) need to change its dependent version to match the other, and then go through a release, and then it'll work until they diverge again. And that's assuming that is indeed the issue.

[2021-10-29 20:56] JustinGrote commented on #3650
In my case the profile loads, but $host.privatedata is not settable, I assume maybe because PSES runs as a different host now and this isn't exposed anymore? Should I be using $PSStyle instead? What about 5.1?

![{BFAC5364-CE55-46B9-A1B7-23D99ED3C4E5}](https://user-images.githubusercontent.com/15258962/139500696-114d6f16-4e12-412c-8349-b951f20b0fb8.png)

[2021-10-29 20:57] JustinGrote commented on #3650
ConsoleHost:
`PrivateData      : Microsoft.PowerShell.ConsoleHost+ConsoleColorProxy`

Visual Studio Code Host:
`PrivateData      :`

[2021-10-29 21:09] andschwa commented on #3650
@JustinGrote Just opened https://github.com/PowerShell/PowerShellEditorServices/issues/1607. Want to take a crack at it? 😁

[2021-10-29 21:16] JustinGrote commented on #3652
Args look correct in the request so it's definitely in the handler
![{D4822CA3-BB8E-4195-9088-06F885480C4E}](https://user-images.githubusercontent.com/15258962/139502590-52b00c54-2ed9-4782-a617-9160d0f7ff4d.png)

[2021-10-29 21:23] JustinGrote commented on #3650
@andschwa currently working on the Pester debug thing, I'm pretty close.

[2021-10-29 21:27] andschwa commented on #3645
@justPaulo I'm going to mark this as a duplicate because I'm pretty sure it's the same issue as #3633.

[2021-10-29 21:30] andschwa commented on #3633
Ok between #3645 and reports on the PowerShell Discord, I am quite sure this is indeed the problem!

If someone can figure out _which_ dependency now conflicts between [PSES](https://github.com/PowerShell/PowerShellEditorServices/network/dependencies) and [Az.Accounts](https://github.com/Azure/azure-powershell/network/dependencies) (which I'm pretty sure is actually going to be from their update t

[2021-10-29 21:36] JustinGrote commented on #3652
This is the new code causing the problem
https://github.com/PowerShell/PowerShellEditorServices/blob/8c568bceecfc8f188e6cb53f23b1ed5673bd5af2/src/PowerShellEditorServices/Utility/StringEscaping.cs#L9-L36

[2021-10-29 21:41] andschwa commented on #3652
I thought that might cause an issue. I'd hoped tests covered it. They apparently did not!

[2021-10-29 21:42] Tiberriver256 commented on #3423
Thanks for reaching out. Looks like it's still an issue in the preview version.

![image](https://user-images.githubusercontent.com/6989492/139504844-1e580f9e-af13-4b8a-a5c2-f980949a300c.png)

[2021-10-29 21:44] JustinGrote commented on #3652
Track on this issue in PSES:
https://github.com/PowerShell/PowerShellEditorServices/issues/1608

[2021-10-30 02:48] Ayanmullick commented on #1405
<a><img align="right" src="https://user-images.githubusercontent.com/17693249/139517342-d540ad0f-22d8-490d-8dc1-c2d1bf360427.png" width="330" height="600" border="10"/></a>

@rjmholt, @andschwa, PFB the features missing from the VSC PowerShell extension's Command Explorer, [as discussed during the Community call for October 21](https://www.youtube.com/embed/_j5bO9yTexY?start=2971&end=3133).

<br>

[2021-10-30 03:41] SeeminglyScience commented on #3653
Yeah `PSObject` is kind of hard to inspect since a pretty significant amount of objects are going to be invisibly wrapped in `PSObject` many times throughout their lifetime.  Really when you call `.GetType()`, that's routed through the `PSInvokeMemberBinder` which controls method invocations are dynamically bound.  For the most part, `GetType()` will never lie.  Except with `PSObject`s when they'r

[2021-10-30 13:50] fflaten commented on #3651
I see this with Pester too. Formatting using NoNewLine, ForegroundColor and BackgroundColor with `Write-Host` doesn't work, so output is broken.

ANSI and `[System.Console]::ForegroundColor + WriteLine` seems to work fine.

[2021-11-01 17:44] andschwa commented on #3655
@JustinGrote Looks like this may be fixed by https://github.com/PowerShell/PowerShellEditorServices/pull/1609?

[2021-11-01 17:47] andschwa commented on #3654
Very strange indeed. Please keep us updated if you find a repro.

[2021-11-01 17:50] andschwa commented on #3652
Which means hopefully also fixed by https://github.com/PowerShell/PowerShellEditorServices/pull/1609

[2021-11-01 17:51] JustinGrote commented on #3655
It doesn't, this is a separate issue.

[2021-11-01 17:52] andschwa commented on #3655
Oh dang, ok! Thanks for the confirmation.

[2021-11-01 21:35] Liturgist commented on #3653
It appears that when VSCode invokes profile.ps1 and Microsoft.VSCode_profile.ps1, that $PROFILE is NULL.

[code]

This is the result in the Terminal window when VSCode starts.

[code]

[2021-11-02 09:23] bvbeek commented on #3633
Same problem here

[2021-11-02 12:23] ggirard07 commented on #1472
Does anyone have a workaround for this while using an interactive session instead of a/current script?

[2021-11-02 16:34] Liturgist opened #3662 "$PROFILE is NULL when invoking profile.ps1 and Microsoft.VSCode_profile.ps1"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-11-02 18:27] JustinGrote commented on #3652
Here's a build of #1609 that fixes it until it gets merged if anyone needs this right away: https://github.com/pester/vscode-adapter/issues/88#issuecomment-958015991

[2021-11-03 01:01] #3645 closed

[2021-11-03 01:01] #3414 closed

[2021-11-03 01:01] #3622 closed

[2021-11-03 01:01] #3602 closed

[2021-11-03 01:01] #3543 closed

[2021-11-03 01:01] #3142 closed

[2021-11-03 01:01] #2508 closed

[2021-11-03 02:01] #3639 closed

[2021-11-03 03:00] #3289 closed

[2021-11-03 08:30] teqqra commented on #3633
Hi, we have same problem here on the last update of vsc.

Connect-AzAccount : Method 'GetTokenAsync' in type 'Azure.Identity.InteractiveBrowserCredential' from assembly 'Azure.Identity, Version=1.4.0.0, Culture=neutral, PublicKeyToken=92742159e12e44c8'
does not have an implementation.

I found a workarround that is open a new powershell window (not integrated console) , but we cannot debug for exa

[2021-11-03 08:44] Glober777 commented on #3650
I suspect that the issue is caused by whitespace characters in the path. This is what i see on my machine, when Integrated Console starts:
![image](https://user-images.githubusercontent.com/18121861/140029253-a09b9123-2d1c-4b43-be28-c64e31934e36.png)

Not sure where it is happening because these errors don't get into the extension logs neither values of $Error contain any references.

[2021-11-03 10:43] rob-peck-wiggle commented on #3662
I can confirm similar behaviour here - it will not load profiles with spaces in the path when using PowerShell Preview extension. I moved back to PowerShell stable extension and the issue goes away.

[2021-11-03 15:20] chrisxbohling commented on #3634
Thanks for looking at the issue. It can be recreated in any PowerShell 7 session, and is definitely due to the switch to .NET Core.

[2021-11-03 17:48] andschwa commented on #3662
Thanks for the bug report! Going to mark this as duplicate as it's reported here too: https://github.com/PowerShell/vscode-powershell/issues/3650#issuecomment-954557385

We totally broke profile loading in the Preview, sorry! Working on fixing and covering with regression tests.

[2021-11-03 17:49] andschwa commented on #3633
If someone can figure this out, we can bandage this temporarily. But we're up against .NET Framework constraints with this kind of bug. Maybe loop in the Azure module devs?

[2021-11-03 20:22] #3662 closed

[2021-11-03 20:49] Jaykul commented on #3650
I feel like there are several different bugs in this thread, but for what it's worth, **if you keep your Documents in OneDrive** and this bug causes them to fail to run, you can load your profile by hand with `. $Profile.CurrentUserAllHosts` -- or, if you actually have multiple profiles:
[code]

[2021-11-03 21:35] andschwa commented on #3650
@Jaykul, indeed, there are!

[2021-11-03 22:32] andschwa commented on #3650
Ok, I believe I've resolved the issues here _except_ @JustinGrote's note of the lack of `PrivateData` implementation.

[2021-11-03 22:32] andschwa commented on #3650
And I'm not sure about whitespace 🤷

[2021-11-03 22:40] fflaten commented on #3651
Does the new method rely on stream-redirection? I just remembered [this issue](https://github.com/pester/Pester/issues/1384#issuecomment-843617873) in Pester about formatting being lost when information stream (which `Write-Host` in 5+ uses) is being redirected.

[2021-11-03 23:04] andschwa commented on #3651
I think the color problem is likely due to https://github.com/PowerShell/PowerShellEditorServices/issues/1607

[2021-11-03 23:12] andschwa opened #3666 "`F5` erroneously prints arguments when running"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-11-04 01:00] #3653 closed

[2021-11-04 01:00] #3652 closed

[2021-11-04 01:01] #3650 closed

[2021-11-04 02:16] fflaten commented on #3652
Thanks @JustinGrote and @andschwa for the quick fix (once released) 🎉

[2021-11-04 03:34] andschwa commented on #3652
@fflaten Should be out now! Still far from bug-free, but one by one we squash them!

[2021-11-04 03:36] andschwa commented on #3650
Can everyone please test again with `v2021.11.0-preview`? The whitespace one I didn't manage to repro, but I _think_ our fix should have taken care of it. If not, that would be great to know. The `PrivateData` is tracked separately in https://github.com/PowerShell/PowerShellEditorServices/issues/1607. Otherwise the other four issues were fixed in https://github.com/PowerShell/PowerShellEditorServi

[2021-11-04 08:04] meCoding commented on #3633
Same problem here. It started when Az.Accounts was updated to 2.6.0. Running Connect-AzAccount in PS7 in VSCode terminal works, also running the command in PowerShell 5.1 (outside of VSCode) works.

[2021-11-04 08:14] WorrenB commented on #3650
The 'whitespace one' is also gone. 😎

[2021-11-04 09:51] Glober777 commented on #3650
Works like a charm!

[2021-11-04 10:32] fflaten opened #3667 "Debugging with active breakpoint crashes Powershell session"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-11-04 10:35] fflaten commented on #3667
@JustinGrote Can you repro this? Would've thought you'd hit it while troubleshooting #3655

[2021-11-04 11:50] FingerlessGlov3s commented on #3633
Same here, this used to work fine but no anymore. Hopefully we can get this working in VSCode again soon

[2021-11-04 13:07] Grueslayer commented on #679
My log file is about 13 GB big `02.11.2021  12:26    13.606.411.956 EditorServices.log` and still growing, first entry is from my first usage on `08/12/2020 11:45:05 [/1] Editor Services Host v5.0.4.50830 starting (pid 27964)`.

There should be a solution with max filesize or entry date to keep the logs in a normal range (I will not look into the log for a problem 1,5 year ago)

[2021-11-04 17:12] andschwa commented on #3633
As I've said, there is a dependency conflict between the Az.Accounts module and PSES. I just don't know which dependency as there are a _lot_ to sift through.

[2021-11-04 17:34] andschwa commented on #3233
@ebmarquez Can you please test v2021.11.0-preview and if it still repros, open a new issue?

[2021-11-04 17:44] andschwa commented on #3633
Would really appreciate it if one of you would file a bug at the [Azure PowerShell module](https://github.com/Azure/azure-powershell) itself so we can start a conversation with their devs. I would also suggest testing their [Az Preview module](https://www.powershellgallery.com/packages/AzPreview/6.6.0) to check if it continues to repro.

[2021-11-04 17:46] andschwa commented on #3633
Actually, you don't need to test their preview module. Both it and their stable [module](https://www.powershellgallery.com/packages/Az/6.6.0) updated to 6.6.0 just two days. Please re-test!

[2021-11-04 18:22] dstroupe opened #3671 "VS Code formatting does not properly align equal signs in enums"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-11-04 19:09] andschwa commented on #3671
Formatting happens via PSScriptAnalyzer, transferring...

[2021-11-04 21:33] JustinGrote commented on #3667
I can consistently reproduce if you:
1. Start a debug session
2. Run a pester test

I get the same scopes issue.

[2021-11-04 21:40] JustinGrote commented on #3667
This particular issue (not the pester reproduction) also just happens with an unsaved file. If you save the file it works fine.

![image](https://user-images.githubusercontent.com/15258962/140424007-405f5184-fced-41f6-bbcb-ef1bfecbea86.png)

[2021-11-04 21:55] andschwa commented on #3667
Definitely some debugging issues to work through...

[2021-11-04 21:56] JustinGrote commented on #3667
Full stacktrace of being able to reproduce it, I'm pretty sure whatever the problem is happens before this point. I'll try to get a debug session going.

[code]

[2021-11-04 22:36] JustinGrote commented on #3667
Looks normal up to this point, something in the _pwsh prcess setup?
![image](https://user-images.githubusercontent.com/15258962/140429663-f6204fa0-8a64-45a5-8eed-dd7c18548f4b.png)

[2021-11-04 23:04] JustinGrote commented on #3667
This part of the fetching of stack frames is the problem, the i loop goes to an undefined scope.

https://github.com/PowerShell/PowerShellEditorServices/blob/f825d89c5ef13423f78c5c3b68809a3daca9609f/src/PowerShellEditorServices/Services/DebugAdapter/DebugService.cs#L809-L844

[2021-11-04 23:13] andschwa commented on #3667
This line sure looks funny: https://github.com/PowerShell/PowerShellEditorServices/blob/f825d89c5ef13423f78c5c3b68809a3daca9609f/src/PowerShellEditorServices/Services/DebugAdapter/DebugService.cs#L813

[2021-11-04 23:13] JustinGrote commented on #3667
Fails here, tries to do a `Get-Variable -Scope 3`
https://github.com/PowerShell/PowerShellEditorServices/blob/f825d89c5ef13423f78c5c3b68809a3daca9609f/src/PowerShellEditorServices/Services/DebugAdapter/DebugService.cs#L687-L692

![image](https://user-images.githubusercontent.com/15258962/140432776-e24fc005-acac-4de2-a827-524683ad76f1.png)

[2021-11-04 23:23] JustinGrote commented on #3667
I think I found the problem. This seems to assume the stacktrace length is the same as the number of variable scopes, which is going to not be true if any assemblies are involved I think.
![image](https://user-images.githubusercontent.com/15258962/140433695-f2f9beda-e874-4396-83ed-8e70b23d3553.png)

[2021-11-04 23:41] JustinGrote commented on #3667
This doesn't account for a scope exception. Adding a try catch to swallow that specific exception here should have the expected result, at least unless we can find a more proactive way to determine if variables exist without having to run a command. Any advice @rjmholt?

https://github.com/PowerShell/PowerShellEditorServices/blob/f825d89c5ef13423f78c5c3b68809a3daca9609f/src/PowerShellEditorService

[2021-11-04 23:49] SeeminglyScience commented on #3667
This is a pretty old issue (#1856) though in the past it just polluted `$Error` so not much of an issue.

In the PR for the rewrite I made a comment about us setting `ErrorActionPreference` to `Stop` somewhere.  @andschwa do you know if that got resolved? Non-terminating errors like parameter binding definitely should not be crashing or even hitting a catch.

[2021-11-04 23:50] SeeminglyScience commented on #3667
Some details about why this error occurs in general [in this comment](https://github.com/PowerShell/vscode-powershell/issues/1856#issuecomment-511784392).

[2021-11-05 00:07] JustinGrote commented on #3667
This does look exactly what it is https://github.com/PowerShell/vscode-powershell/issues/1856#issuecomment-511784392

[2021-11-05 00:09] SeeminglyScience commented on #3667
Yeah it comes up from time to time.  I think the real problem is that a benign error is causing a crash.  Ideally it would be a silent non-terminating error, but at the very least there's a catch somewhere that's too specific.

[2021-11-05 00:12] JustinGrote commented on #3667
Agreed, @andschwa there should be a broad catch for all otherwise-uncaught pwsh invocation exceptions that logs the exception occurred but doesn't kill PSES (or at the very worst auto-restarts it)

[2021-11-05 00:18] SeeminglyScience commented on #3667
Ah right parameter binding exceptions are terminating so not `ErrorActionPreference` related.  Just a catch somewhere that's too narrow probably

[2021-11-05 00:21] markr-rpc commented on #3633
I have updated the Azure PowerShell modules to 6.60 and am getting the same results. I have created an issue with the Azure PowerShell team, as noted above. The Az.Accounts is now at version 2.61

[2021-11-05 00:37] JustinGrote commented on #3667
Draft Fix: https://github.com/PowerShell/PowerShellEditorServices/pull/1620

[2021-11-05 00:52] SeeminglyScience commented on #3667
I think it might need to [just be here](https://github.com/PowerShell/PowerShellEditorServices/blob/5e40029bfb7d9cc3d17bdd69db24c71836da7cfb/src/PowerShellEditorServices/Services/PowerShell/Execution/SynchronousPowerShellTask.cs#L112).  Maybe change the `RuntimeException` clause to `Exception` since really anything can be thrown there.

[2021-11-05 01:04] JustinGrote commented on #3667
Makes sense, @andschwa this should be a separate PR and it has wide reaching consequences so I'd ask you try this part :)

[2021-11-05 01:44] SeeminglyScience commented on #3651
[EditorServicesConsolePSHostUserInterface](https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Services/PowerShell/Host/EditorServicesConsolePSHostUserInterface.cs) needs to implement the virtual (and otherwise empty) method `WriteInformation(InformationRecord)`.

[2021-11-05 07:58] Grueslayer commented on #679
Sorry.... I think this isn't caused by this extension, too. I'll have a deeper look into it.

[2021-11-05 08:31] teqqra commented on #3633
I have tested this on a new VM with fresh install and fail's out of the box, also on preview. If i downgrade VSC and powershell extension, still's the same.

Any workarround  (downgrade) we can do to make it working till a fix goes out?

Thanks all and have a great day!

[2021-11-05 09:58] bizon80 commented on #3633
Hi,
Had the same issue, and not sure but there is a workaround that worked for me at least. When you get the error message in VS Code:
WARNING: Unable to acquire token for tenant 'organizations' with error 'Method 'GetTokenAsync' in type 'Azure.Identity.InteractiveBrowserCredential' from assembly 'Azure.Identity, Version=1.4.0.0, Culture=neutral, PublicKeyToken=92742159e12e44c8' does not have an i

[2021-11-05 11:02] fflaten commented on #3651
Yeah that's sounds more like what I'd expect as it would also affect the NoNewLine-part. 👍

Not really related to this issue but should it also implement `WriteLine(ConsoleColor, ConsoleColor, String)`? It's also missing unlike the `Write(ConsoleColor...`-equivalent.

[2021-11-05 11:51] SeeminglyScience commented on #3651
You'd want to open an issue on PowerShell/PowerShell for that, we don't control that particular API surface.

[2021-11-05 11:59] fflaten commented on #3651
I meant implemented in EditorServicesConsolePSHostUserInterface. 🙂

[2021-11-05 12:10] SeeminglyScience commented on #3651
Oops! 😁

Yeah that'd be good to add as well, thanks for catching that.  I don't think it'll cause any bugs since the method does have a default implementation but `ConsoleHost` does override it so might as well.

[2021-11-05 14:45] JustinGrote opened #3673 "Null Stack if debugging in separate process"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-11-05 16:24] andschwa commented on #679
I was going to say, I think it's coincidental that the file name is `EditorServices.log` (which we do use), since the header in the file is not something I believe we write:

Our editor services are at version 3.0 🙃

[2021-11-05 16:31] andschwa commented on #3633
Thanks @markr-rpc!

[2021-11-05 16:37] PrzemyslawKlys commented on #679
Also your extension when it gets updated deletes all logs. So the log can only get that big if no updates were done for either preview or production version for a very long time which is not possible with your current release times.

[2021-11-05 16:52] andschwa commented on #3651
Interesting...I wonder why we didn't manage to get this as fleshed out.

[2021-11-05 16:53] andschwa commented on #3673
What do you think would be the proper behavior here?

[2021-11-05 17:12] andschwa commented on #3621
Hey @VitaliAtWork, we managed to get a Preview extension out with our pipeline rewrite. So it's an extra buggy preview, but I'm trying to figure out which issues it's solved, which it's created, and which issues it had no impact on. Could you see if this repros with `v2021.11.0-preview`? Thanks!

[2021-11-05 17:19] SeeminglyScience commented on #3651
Incredibly easy to miss tbh.  They don't get generated from the code action to implement an abstract type.  You need the one that says "Generate all overrides" or something like that.  Though even with that you need to be careful not to override a method with a default implementation you need to keep.  Kind of a rough extension model to have empty virtual methods rather than abstract, but it's wha

[2021-11-05 17:22] JustinGrote commented on #3673
@andschwa found this as a side effect of the variable stuff, I'll probably fix it in that PR, just wanted to note it here.

[2021-11-05 23:45] andschwa commented on #3651
Ohh, I see! Thanks Patrick.

[2021-11-05 23:45] andschwa commented on #3673
Love it, keep it all coming! You rock.

[2021-11-06 03:00] #3582 closed

[2021-11-06 03:00] #3199 closed

[2021-11-06 03:00] #3194 closed

[2021-11-06 03:00] #3127 closed

[2021-11-06 03:00] #2187 closed

[2021-11-07 18:47] spencerdavis2000 commented on #2824
quick fix
uninstall vscode
delete the "code" folder in the "App_Data/Roaming/code"

so it doesn't keep any corrupt settings

reinstall vscode
it should not keep asking and should allow you to debug whiteout giving errors like "can't load file because it isn't digitally signed"

[2021-11-08 17:55] Liturgist commented on #3226
I am experiencing the same issue. VSCode tells me that the current latest release is v7.2.0. It does not mention that it is the preview version, rc1. It really should.

https://github.com/PowerShell/PowerShell/releases/download/v7.2.0-rc.1/PowerShell-7.2.0-rc.1-win-x64.msi

![image](https://user-images.githubusercontent.com/2530958/140793245-7dbc1388-0263-4db1-9677-0e400328068d.png)

[code]

[2021-11-08 18:13] JustinGrote commented on #3226
@Liturgist 7.2 is an LTS version, unless I'm missing something, this is as-expected. If it prompts you for 7.3.x when that chain starts, then there is a problem.

[2021-11-08 19:49] JustinGrote opened #3675 "Enter key does not produce a new line in terminal and output is incorrect"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-11-08 20:00] JustinGrote commented on #3675
This may be PSReadline 2.1 related, I get lots of REPL loop and pipeline errors on occasion too

[2021-11-08 21:53] andschwa commented on #3675
@JustinGrote Have you overrode PSReadLine? [PSES 3.0 bundles PSReadLine 2.2.0-beta4](https://github.com/PowerShell/PowerShellEditorServices/blob/78cb9ad50465042490a284d2d4500176397796d0/modules.json#L9). Can you verify what's loaded in your session?

[2021-11-08 21:58] JustinGrote commented on #3675
@andschwa that's on me, I did a dev build and for some reason it scooped in 2.1
![image](https://user-images.githubusercontent.com/15258962/140824745-5a88d2fe-2419-4944-b6aa-212381b9cf43.png)

[2021-11-08 21:59] JustinGrote commented on #3675
Closing for now, will reopen if there's a better way to handle.

[2021-11-08 21:59] #3675 closed

[2021-11-08 22:03] andschwa commented on #3675
That's so strange! Or, "that's a weird one!" 🤣

[2021-11-08 22:22] andschwa commented on #3226
I think this still might be misbehaving. Ideally if you're on an LTS it wouldn't prompt you to update to the "next LTS," just updates to your current LTS until it's out of support. Confirming now if the 7.2 update means 7.0 LTS Is no longer supported.

[2021-11-08 22:24] andschwa commented on #3226
Yeah, 7.0 LTS isn't end-of-life until [December 3, 2022](https://docs.microsoft.com/en-us/powershell/scripting/install/PowerShell-Support-Lifecycle?view=powershell-7.2#powershell-end-of-support-dates), so while 7.2 is _an_ LTS, in this case I do not think the update check should be prompting the user.

[2021-11-08 22:25] andschwa commented on #3226
Closer examination of this issue is that it is still a feature request for the editor to respect this variable. But I agree with @Liturgist that this is a bug in PowerShell's update checker.

[2021-11-08 22:32] andschwa commented on #3226
I almost filed a bug...but actually @Liturgist you're running a non-LTS, 7.1.5. So nevermind all I said! It is strange that the update is pointing you at an RC, I'm guessing this was a cache issue and it prompted you to update before the 7.2 release (non-RC) refreshed on GitHub.

[2021-11-09 01:32] JustinGrote opened #3677 "Terminating Exceptions not handled correctly, throw REPL ArgumentOutOfRangeException"
Issue Type: <b>Bug</b>

Open PSES:
`throw 'oops'`

## StackTrace
<details>
An error occurred while running the REPL loop:System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection. (Parameter 'index')   at System.Collections.Generic.List`1.get_Item(Int32 index)   at Microsoft.PowerShell.EditorServices.Utility.PSCommandExtensions.MergeP

[2021-11-09 19:00] #3654 closed

[2021-11-09 19:13] Liturgist commented on #3226
@andschwa, what steps can I take to remove this "cache issue?"

[2021-11-09 19:16] JustinGrote commented on #3226
@andschwa so I agree the end-behavior (confirmed by tests) should be as such:
1. If you are on an LTS, do not prompt to update your LTS until it is 30 days to EOS or something (how would we know? More info in the Powershell repo metadata.json?)
2. If you are on non-LTS, prompt to always update to the latest, and if LTS is latest, then so be it.

[2021-11-09 19:38] andschwa commented on #3226
It should be gone now!

[2021-11-09 19:39] andschwa commented on #3226
Are you saying this is indeed working as intended @JustinGrote?

[2021-11-09 20:18] JustinGrote commented on #3226
No I'm saying we should have tests to confirm that if we fix it :)

[2021-11-09 21:47] andschwa commented on #3489
I wonder if this is related to https://github.com/PowerShell/vscode-powershell/issues/3360, so when we fix that bug, let's test this again.

[2021-11-09 21:50] StevenBucher98 commented on #3423
Thanks for checking @Tiberriver256! We will leave this issue open and continue to track it.

[2021-11-09 22:50] brwilkinson opened #3683 "VSCode PowerShell Preview PSES no longer shows history from previous F8/F5 command in buffer"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-11-09 22:53] VashJuan opened #3684 "Allow Powershell to update automatically in VS Code"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Its great Powershell has lots of frequent updates! I just would love to set it to auto update (others obviously may not), so I don't have to click through to the info page

[2021-11-09 22:53] VashJuan commented on #3684
Dang, I just noticed this screen during the most recent Powershell update. I don't recall seeing it before. Maybe my answers have just been answered?! Maybe not.

![image](https://user-images.githubusercontent.com/8594671/141018415-44fbcf6e-1b12-4e57-8beb-ab77c7362cbe.png)

[2021-11-09 23:07] JustinGrote commented on #3684
@VashJuan Microsoft Update support is brand new in 7.2, but yes, this answers your ask I think, it's better for the system to do it than vscode as vscode may be running without admin rights and you need ot install as admin.

[2021-11-10 00:46] andschwa commented on #3596
Resolved by https://github.com/PowerShell/vscode-powershell/pull/3643.

[2021-11-10 00:46] #3596 closed

[2021-11-10 13:02] djansen1987 commented on #3633
Also same issue, workaround from @bizon80  worked for as well

[2021-11-10 13:47] SeeminglyScience commented on #3423
A couple of things missing from the old host implementation:

https://github.com/PowerShell/PowerShellEditorServices/blob/6b1e77d6223ff61c4af3cbeedf687e1f65f3ac18/src/PowerShellEditorServices/Services/PowerShellContext/Session/Host/EditorServicesPSHostUserInterface.cs#L609-L622

Track current progress messages so they can be cleared up when a the top level pipeline completes.  Also a little bit un

[2021-11-10 14:38] elvrum commented on #3633
Thanks!

[2021-11-10 14:40] SeeminglyScience opened #3685 "After eval with F8, PSReadLine prompt appears in command output"
### Prerequisites

- [ ] I have written a descriptive issue title.
- [ ] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [ ] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [ ] I am sure this issue is with the _extension its

[2021-11-10 14:41] FingerlessGlov3s commented on #3633
Yeah this this a workaround, it doesn't use the Integrated console.

[2021-11-10 14:49] SeeminglyScience commented on #1405
Personally I'd really like to see some work put into this extension's API to give the community the tools to provide a separate extension with this functionality.

[2021-11-10 15:58] Bummibaer opened #3686 "Format Document inserts spaces between curly braces after point operator"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-11-10 16:00] JustinGrote commented on #3686
Do you have this setting configured?
![image](https://user-images.githubusercontent.com/15258962/141148011-85e2f5cd-0f1a-48c4-b606-16d046c38950.png)

[2021-11-10 19:35] andschwa commented on #3655
Oh this looks like a breakage due to the buggy behavior in #3666.

[2021-11-11 14:10] markr-rpc commented on #3633
workaround will not work for me since I use a setting to create a temporary integrated console. I have modules with functions and classes, so I need to reload the environment for any changes to take effect. Every run creates a new console and fails. I am using Visual Studio 2019 for now, which has an free extension for Windows PowerShell 5.1...doesn't work as well as VS Code though.

[2021-11-11 19:58] jhoneill opened #3690 "$PSStyle.Progress.View = Minimal on some terminal types when there is output"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the [latest released version](https://github.com/PowerShell/PowerShell/releases)
- [X] Search the existing issues.
- [X] Refer to the [FAQ](https://github.com/PowerShell/PowerShell/blob/master/docs/FAQ.md).
- [X] Refer to [Differences between Windows PowerShell 5.1 and PowerShell](https://docs.microsoft

[2021-11-12 01:50] teqqra commented on #3633
Hi! Install powershell 7.2 seems to solve the problem for me.(installed
from the msi installer and work out of the box with vsc)

Some of the scripts will need a rework ,but at least I can now use vsc for
some deploys that uses the git path and I had problems with the workaround
since it was not the integrated console.

I will test 7.2 for some time to check if everything works fine.

Thanks!

El

[2021-11-12 16:31] redwiz666 opened #3688 "Command Explorer use -ShowWindow option"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Currently the Command Explorer using the -Online parameter when you click help or press F1.

It would be nice if we had an option to use the -ShowWIndow parameter option i

[2021-11-12 17:32] JustinGrote opened #3689 "[Preview] Run Selection doesn't re-present the prompt after running"
Issue Type: <b>Bug</b>

The prompt does not re-present after "Run Selection" (F8). Pressing Enter will display it. and the prompt does work fine at this point, it just doesn't run the `prompt` function I don't think.
![image](https://user-images.githubusercontent.com/15258962/141509751-fd58eab5-175f-48f8-8792-72866ba32de9.png)

Extension version: 2021.11.0
VS Code version: Code - Insiders 1.63.0-i

[2021-11-12 17:32] JustinGrote commented on #3689
![image](https://user-images.githubusercontent.com/15258962/141509751-fd58eab5-175f-48f8-8792-72866ba32de9.png)

[2021-11-12 19:13] ili101 commented on #3689
Duplicate? https://github.com/PowerShell/vscode-powershell/issues/3685

[2021-11-12 19:16] JustinGrote commented on #3685
In my case it appears "prior" to the code running, probably a race condition or unawaited async involved here.

[2021-11-12 19:16] JustinGrote commented on #3689
Yup, after checking the prompt comes up just prior, not in the middle, but probably same problem.

[2021-11-12 19:16] #3689 closed

[2021-11-12 21:56] o-l-a-v commented on #3684
Or you could use the Microsoft store version.

https://www.microsoft.com/en-us/store/apps/9mz1snwt0n5d

[2021-11-12 22:30] andschwa commented on #3684
I'd personally prefer to allow the system (either Microsoft Update or the Microsoft Store) to handle updates to PowerShell, as those are the dedicated, tested, and supported methods. The extension's support is a bit of a hack which just says "hey you're out of date" and then attempts to point you at the right installer. I think the former is ok, but the latter should be replaced with pointers to e

[2021-11-12 23:12] MartinGC94 commented on #3683
Some people actually want this behavior: https://github.com/PowerShell/vscode-powershell/issues/2307 so this should get turned into an option. I personally use F8 to load functions or run other big sections of code so when I press arrow up and my entire console gets filled up with a function definition I get annoyed.

[2021-11-12 23:54] VashJuan commented on #3684
@andschwa, I think that is indeed what PowerShell 7.2 has JUST implemented. Nice!

[2021-11-13 18:39] bvandermeide commented on #3227
For what its worth - the root cause I found for this occuring on my machine is that a version mismatch of the powershell version the VS Code extension required and the powershell version installed on the machine.

The extension required powershell core 7, and but installed on my machine was powershell core 6

The .net core runtime of powershell 6 vs. 7 was different and therefore the shell was una

[2021-11-13 23:55] JustinGrote commented on #3227
@bvandermeide nice catch! FYI that Powershell 6 is no longer supported or tested, so def get on that 7 train, however you can choose which version the PSIC works with via the green version toggle on the lower right (5.1, 7, 7-preview, etc.)

[2021-11-15 14:45] markr-rpc commented on #3633
Note, the solution is posted in the Azure PowerShell module. They have a temporary engineering built of the Az.Accounts module, with version 2.6.2 with instructions on how to install. The link is here:
https://github.com/Azure/azure-powershell/issues/16340

[2021-11-15 17:43] andschwa commented on #3227
I had thought about adding a check to warn users of PowerShell 6, but this confirms my suspicion that it wouldn't really work since it won't even start to begin with. Thanks for following up with us @bvandermeide!

[2021-11-15 18:28] JustinGrote commented on #3677
The problem appears to be here:
https://github.com/PowerShell/PowerShellEditorServices/blob/ceb20e8f47754f5c829c6f4ae9c102241f7e59da/src/PowerShellEditorServices/Services/PowerShell/Execution/SynchronousPowerShellTask.cs#L106-L108

The new `PSCommand().AddOutputCommand` has no commands yet at this point, so the `MergePipelineResults` throws an out of bounds exception here:

https://github.com/Powe

[2021-11-15 19:53] SeeminglyScience commented on #3690
Unsure if the original problem is related, but what @daxian-dbw describes is due to a missing piece in the host impl [described here](https://github.com/PowerShell/vscode-powershell/issues/3423#issuecomment-965183184).

[2021-11-15 21:29] JustinGrote commented on #3677
Fixed the null exception and now have a weird one here:s\
![image](https://user-images.githubusercontent.com/15258962/141856215-b7e36db3-35cb-4e30-986e-eb6331a79a97.png)

Keep getting a type initialization exception on the extension method `AsPSObject`
![image](https://user-images.githubusercontent.com/15258962/141856304-b2f6bcda-104e-421d-a769-2eaf8ff37e53.png)

[2021-11-15 21:33] SeeminglyScience commented on #3677
Drill into `InnerException` there for the real exception.  That one is just a wrapper

[2021-11-16 01:41] NJK-HOME opened #3691 "`Register-EditorCommand` appears broken in preview release"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-11-16 05:35] candybaby407 commented on #3633
I have same issue. Installed 2.6.2 but still seeing the issue...

[2021-11-16 15:18] JustinGrote commented on #3633
This issue was fixed here:
https://github.com/Azure/azure-powershell/pull/16337

And this issue should be closed either now or when that associated release occurs.

[2021-11-16 16:57] JustinGrote opened #3693 "Marketplace Verified Domain"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

This product should probably apply for the "blue checkmark" to be a verified extension
![image](https://user-images.githubusercontent.com/15258962/142030181-5322d9cc-31f6-

[2021-11-16 19:05] andschwa commented on #3693
Hehe, I double checked internally if this would happen automatically for us once the cert we (all) use got registered, and indeed it did!

[2021-11-16 19:11] andschwa commented on #3633
I've pinned this issue and am marking it as resolved externally thanks to @dingmeng-xue's great work fixing it.

[2021-11-16 20:00] #3633 closed

[2021-11-16 21:39] StevenBucher98 commented on #3685
Thanks for the information on this one! @SeeminglyScience We marked as bug and will work to fix

[2021-11-16 21:47] StevenBucher98 commented on #3691
Thanks for the detailed information! @NJK-HOME We appreciate the screenshots and steps to repro! We will investigate fixing this

[2021-11-17 14:17] Omzig commented on #2615
Turns out what solved it for us, was an update to BeyondTrust - Privilege Management for Windows, somehow it was keeping the newer versions of PowerShell from running.

[2021-11-17 17:30] andschwa commented on #2615
Woah, thanks for the update @Omzig! Glad it's working.

[2021-11-17 19:44] jutaylorREADI commented on #3462
Out of nowhere I'm getting the same thing. Was literally working fine and I added a command to write some data to the terminal and I got this error:

<code>=====> PowerShell Integrated Console v2021.10.2 <=====

Exception encountered starting EditorServices. Exception logged in D:\a\1\s\src\PowerShellEditorServices.Hosting\Commands\StartEditorServicesCommand.cs on line 246 in EndProcessing:
System

[2021-11-18 17:59] ili101 commented on #3677
Make this Committed-vNext?

[2021-11-18 18:43] JustinGrote commented on #3677
The PR is complete, I imagine @andschwa will review in the next week or two

[2021-11-19 11:13] DawidGrzejek opened #3696 "You have an older version of PackageManagement known to cause issues with the PowerShell extension. Would you like to update PackageManagement (You will need to restart the PowerShell extension after)?"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-11-23 00:14] #3667 closed

[2021-11-23 00:14] #3673 closed

[2021-11-23 07:21] energetic-it opened #3701 "Using PowerShell Preview v2021.11.1, PSReadLine throws an error every so often"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the [latest released version](https://www.powershellgallery.com/packages/PSReadLine)
- [X] Search the existing issues, especially the pinned issues.

### Exception report

[code]

### Screenshot

![image](https://user-images.githubusercontent.com/17512147/142984395-580fcdb3-af59-4434-b69d-a83d5a4fa629.p

[2021-11-23 08:20] PrzemyslawKlys opened #3700 "Pressing CTRL+C to cancel script doesn't stop debugging in preview extension"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-11-23 17:21] andschwa commented on #3701
@daxian-dbw Transferred, will look into.

[2021-11-23 17:24] andschwa commented on #3700
@PrzemyslawKlys Can you link the tracking issue for "Write-Host is fixed yet, and noticed it wasn't"?

[2021-11-23 17:25] andschwa commented on #3700
Also can you test if this repros with PowerShell 7.2? While I wired up a stop debugging notification so that stopping the PowerShell debugger informs Code to stop the GUI, I don't think it is supported with PowerShell 5.1

[2021-11-23 18:46] PrzemyslawKlys commented on #3700
It's not only PowerShell 5.1

![image](https://user-images.githubusercontent.com/15063294/143084714-e0aa90bd-88dc-4b15-9d7a-2b7809d1fa58.png)

Notice how I stopped CTRL+C and was able to type stuff in a terminal, while the GUI was showing something different.

- This is the issue for Write-Host https://github.com/PowerShell/vscode-powershell/issues/3651

I refuse to use preview until this is fixed

[2021-11-23 20:11] andschwa commented on #3700
Cool, thanks for the information.

[2021-11-23 20:13] andschwa commented on #3700
It looks like the wiring up I did in https://github.com/PowerShell/PowerShellEditorServices/pull/1570 was unfortunately not carried over in the pipeline threading rewrite https://github.com/PowerShell/PowerShellEditorServices/pull/1459.

[2021-11-24 17:18] JustinGrote opened #3703 "$true is not highlighted in blue in debugger"
Issue Type: <b>Bug</b>

![image](https://user-images.githubusercontent.com/15258962/143285401-d033569c-5867-4879-b7b7-5346fc5dc833.png)

Latest Preview (maybe earlier) does not show $true highlighted in blue

Extension version: 2021.11.1
VS Code version: Code - Insiders 1.63.0-insider (4e303fcc52269ab578affa6cb1eb455eacab445f, 2021-11-22T05:28:15.683Z)
OS version: Windows_NT x64 10.0.22000
Restric

[2021-11-24 17:50] JustinGrote commented on #3703
I'm thinking the `VariablePresentationHint` is not being set or otherwise presented correctly.

[2021-11-24 18:24] ironScripter commented on #3696
I am having this issue as well. I have confirmed and performed the steps above with the same results.

[2021-11-24 19:27] JustinGrote commented on #3703
The colorization is determined by one of two aspects:
https://github.com/microsoft/vscode/blob/57ca9b99d5b6a59f2d2e0f082ae186559f45f1d8/src/vs/workbench/contrib/debug/browser/baseDebugView.ts#L68-L78

1. If the "type" property is literally `boolean`
2. If it matches a regex that is explicitly 'true' or 'false'

Since the value is presented as $true instead of true, #2 doesn't happen, so it's likel

[2021-11-24 19:39] JustinGrote commented on #3703
Hmmm....
![image](https://user-images.githubusercontent.com/15258962/143302580-fba90002-496d-4704-8a37-424ec4ab0e1f.png)
![image](https://user-images.githubusercontent.com/15258962/143302968-4914a42e-d4f8-4530-ad68-beee4691838f.png)
![image](https://user-images.githubusercontent.com/15258962/143303067-662b17e7-e60b-4ab0-b3df-381059f100b4.png)

[2021-11-24 19:54] JustinGrote commented on #3703
For why it works at all, this is actually a vscode bug:
https://github.com/microsoft/vscode/issues/137818

To resolve, we should be providing special type strings to vscode rather than the default .NET type string
https://github.com/microsoft/vscode/blob/57ca9b99d5b6a59f2d2e0f082ae186559f45f1d8/src/vs/workbench/contrib/debug/browser/baseDebugView.ts#L68-L78

[2021-11-26 13:46] skest3qc commented on #2781
Hi is there any update regarding this feature request?

[2021-11-26 14:13] SeeminglyScience commented on #2781
ESCS hasn't broken in a while, so you can still get the feature there. Ideally ESCS could be shipped as an extension which would make getting it set up significantly less cumbersome. For that to happen though, an API would need to be added to `vscode-powershell`.

Afaik there are no current plans for a separate built in implementation, but it is marked up for grabs.

[2021-11-28 12:32] erichiller opened #3704 "Apply `AlignAssignmentStatement` to Enum declarations"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

It would be really nice if the alignment of Enum declarations could be maintained or formatted automatically.
Example:

[code]

### Proposed Design

Another hashtable key

[2021-11-29 04:50] JustinGrote commented on #3704
@erichiller good idea! Shouldn't this be opened in the PSScriptAnalyzer repo though?

[2021-11-29 08:04] JustinGrote opened #3705 "Microsoft Graph Runtime EventData objects being emitted in PSIC when they do not emit normally"
Issue Type: <b>Bug</b>

1. `Get-MgGroup`

![image](https://user-images.githubusercontent.com/15258962/143829997-1c8aeadc-5bc1-4bfe-a0e0-39c711388257.png)

Extension version: 2021.11.1
VS Code version: Code - Insiders 1.63.0-insider (d18d093403b12a65350c58a7b0d5771cc1f42aba, 2021-11-26T08:21:30.810Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

[2021-11-29 08:05] JustinGrote commented on #3705
@andschwa @SydneyhSmith this should be added to the Pipeline revamp to-do

[2021-11-29 19:55] o-l-a-v commented on #3705
That's what you'll see if setting $InformationPreference to Continue and run any Microsoft.Graph.* cmdlet. Be it Windows PS 5.1, PS ISE, or PS core.

https://github.com/microsoftgraph/msgraph-sdk-powershell/issues/373

So maybe a issue with the Microsoft.Graph module?

[2021-11-29 19:59] JustinGrote commented on #3705
@o-l-a-v it happens even if informationpreference is 'silentlycontinue'. Maybe this is exposing something in the new PSIC host that isn't respecting informationpreference?

![image](https://user-images.githubusercontent.com/15258962/143934395-95a95c0e-5e65-4370-af2d-31569e508925.png)

[2021-11-30 21:35] StevenBucher98 commented on #3696
Hi @DawidGrzejek are you able to access the PowerShell gallery from the integrated console? Try to update or install any module.

[2021-11-30 21:40] andschwa commented on #3704
This is definitely a PSSA thing, transferring...

[2021-11-30 21:45] andschwa commented on #2781
@SeeminglyScience Oo...that could be a cool future project.

[2021-11-30 21:46] StevenBucher98 commented on #3462
@jutaylorREADI can you give more detail about the command you ran that caused this error? Can you also include your PowerShell version `$PSVersiontable` and VSCode extension version?

[2021-11-30 21:50] andschwa commented on #3462
@jutaylorREADI I'm sorry, the error message is confusing due to the DryIoc library, it actually has nothing to do with this. In your error, the important part is this:

`System.Management.Automation.CommandNotFoundException: The term 'Set-Variable' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verif

[2021-11-30 21:52] StevenBucher98 commented on #3677
@JustinGrote was there a reason your PR was closed around this issue?

[2021-11-30 21:52] andschwa commented on #3462
@anankee26 Could you try the latest Preview extension and let me know if your original issue still repros?

[2021-11-30 22:24] JustinGrote commented on #3677
Mistake. Reopened :)

[2021-11-30 23:09] JustinGrote commented on #3705
I'm pretty sure this is a host implementation issue, if you redirect it doesn't happen.
![image](https://user-images.githubusercontent.com/15258962/144142747-9902743a-7f87-494c-a22d-8b28da437639.png)

[2021-11-30 23:28] JustinGrote commented on #2887
@andschwa @SeeminglyScience  there currently is a situation where we get both the "unable to find type" and the PSScriptAnalyzer "Ignoring TypeNotFound" info. Maybe if we detect both of these we can silently suppress the error Problem and only present the information warning?

![image](https://user-images.githubusercontent.com/15258962/144144280-bde2a713-38c4-4154-ac42-029c7db4978d.png)

If so it

[2021-12-01 09:54] anankee26 commented on #3462
Hi @andschwa

Enclosed logs files.
unfortunaltely, always same problem with preview version

[logs Powershell preview v2021.11.1.txt](https://github.com/PowerShell/vscode-powershell/files/7632752/logs.Powershell.preview.v2021.11.1.txt)
[logs Diagnotics Powershell preview v2021.11.1.txt](https://github.com/PowerShell/vscode-powershell/files/7632803/logs.Diagnotics.Powershell.preview.v2021.11.1.txt)

[2021-12-02 01:07] williammsft opened #3709 "Enable ISE Mode command fails in Azure Data Studio"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-02 01:08] parched opened #3710 "Allow running/debugging a file in a workspace without adding an entry in launch.json"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

I am new to using the powershell extension, but have previously used the python extension. The python extension adds an editor button to run or debug the current file, ign

[2021-12-02 02:16] JustinGrote commented on #3710
@andschwa I don't think this is particular unreasonable, it's pretty easy to "embed" a default launch configuration, we already do it via the pester "Run Tests" codelens.

[2021-12-03 16:15] DawidGrzejek commented on #3696
@StevenBucher98  Firstly I tried updating it via VSCode popup and now it gives me :
`PackageManagement update failed. This might be due to PowerShell Gallery using TLS 1.2. More info can be found at https://aka.ms/psgallerytls`

My try to install module via PowerShell Integrated Console in VSCode:
`PS C:\PowerShell> Install-Module -Name PSWindowsUpdate

PackageManagement\Install-Package : No match

[2021-12-03 16:27] DawidGrzejek commented on #3696
Actually now after doing some commands:
`Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Verbose -Force`

 I could install module `Install-Module -Name PSWindowsUpdate`
`Register-PSRepository -Default`

and also
[code]

And psgallery is there:
[code]

But error is still there:
`PackageManagement update failed. This might be due to PowerShell Gallery using TLS 1.2. More info can be f

[2021-12-05 03:28] Andy-AO opened #3711 "Automatic variables are not available in the debug console"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-07 10:43] majkinetor opened #3713 "Running any pester tests shows Cannot read property '0' of undefined"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-07 15:56] isidorn opened #3714 "Have a tree sitter grammar to unlock better Powershell experience in VS Code web"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Hi, VS Code PM here 👋

After discussing with @TylerLeonhardt what would be the best PowerShell experience for vscode.dev and github.dev we think that the best option would

[2021-12-07 16:34] TylerLeonhardt commented on #3714
To fully enumerate the options I thought of that prompted us to open this issue:

* get PSES working in the web (involves a lot of unknowns...WASM, Blazor, but the problem here is multi-threading on the web)
* factor out the PowerShell parser which I think will be way easier to get working in WASM (still same WASM Blazor unknowns)
* Make a tree-sitter grammar for PowerShell (I know this is at leas

[2021-12-07 16:51] SeeminglyScience commented on #3714
Could have sworn @rjmholt started on one somewhere but I can't seem to find it. Am I misremembering that?

[2021-12-07 17:21] TylerLeonhardt commented on #3714
Yeah I don't think we got very far that that was useful to link here.

[2021-12-07 22:32] rjmholt commented on #3714
Repo is [here](https://github.com/PowerShell/tree-sitter-PowerShell)

[2021-12-09 00:26] SeeminglyScience opened #3715 "F5 on a saved script isn't dot sourcing"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-09 00:51] JustinGrote commented on #3715
I feel like I called this out earlier that it was using `&` instead of `.` in the code.

[2021-12-09 12:49] isidorn opened #3716 "Adopt the pre-release extension feature"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Refs: https://github.com/microsoft/vscode/issues/15756

VS Code now supports pre-release extensions. Docs that should help: https://code.visualstudio.com/api/working-with-

[2021-12-09 13:24] charlesroper commented on #1730
I had the same issue and, like @rsb177, uninstalling and reinstalling the extensions fixed it.

[2021-12-09 16:18] andschwa commented on #3715
@rjmholt Do you remember why you changed from dot-source to ampersand-execute?

[2021-12-09 16:18] andschwa commented on #3715
Feels to me like something we should change back just for consistency among user expectations.

[2021-12-09 16:21] andschwa commented on #3714
We're actually already looking at doing something like this but had not announced it publicly. It's an incubation project to be sure (no commitment but we're (read: I'm) quite interested).

[2021-12-09 16:24] SydneyhSmith commented on #3714
+1 to what @andschwa said, and certainly having more proposed scenarios/integration points/community interest always helps prioritization

[2021-12-09 16:24] andschwa commented on #3713
@JustinGrote I feel like there's a setting or workaround for this but can't find it. Do you know?

[2021-12-09 16:30] andschwa commented on #3710
Yup, I agree. This is something that bugs me too, would love to see it fixed. Not even sure if this is a feature request so much as a bug fix as I think it's an error that the extension just uses the current launch configuration. My guess is the vast majority of use cases for a PowerShell file would be (and are) the default "run this file" configuration.

[2021-12-09 16:30] rjmholt commented on #3715
Probably an oversight. Moving away from dot-sourcing in the API is done for constrained language mode compatibility. In this case (if I've read correctly) that doesn't make sense because the debugger isn't going to work in CLM. Just remember that anything that dot-sources or uses `useLocalScope: false` (the default setting) will fail in CLM.

[2021-12-09 16:32] andschwa commented on #3709
Hi, you should not be "Adding the Extension PowerShell v2021.8.2 (current)." to Azure Data Studio, it comes with a bundled and tested PowerShell extension. Can you reinstall ADS and use the bundled extension? Having multiple copies of an extension can cause issues, especially when they try to set each other's settings (like the Enable ISE Mode command does).

[2021-12-09 16:36] andschwa commented on #3716
We've got this on our radar, but question for you @isidorn: I know VS Code now supports this, but isn't the marketplace still working on full support (especially around supporting extensions to publish with proper semantic versioning, with the necessary pre-release suffixes)? I looked and can't find the issue for the latter, but it's a long open one.

[2021-12-09 16:38] andschwa commented on #2887
Just FYI @JustinGrote I'm adding you to the bot's ignore list for it's auto responder lol. Setting it to exclude "collaborators" and up now.

To the issue at hand, I'm not sure! But I can reopen for us to look at again.

[2021-12-10 09:17] isidorn commented on #3716
@andschwa yes, MP is working on supporting full semver versioning. However since the MP is currently in the process of changing their backend infrastructure this will probably take some time. My very very rough estimate, end of 2022 at the earliest.
Here's the issue on the MP side https://github.com/microsoft/vsmarketplace/issues/50

[2021-12-10 14:14] ruffin-- opened #3718 "Remove-Variable can cause `cls` and `Clear-Host` to throw `You cannot call a method on a null-valued expression.`"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-10 14:16] ruffin-- commented on #3718
Changing the line to `Get-Variable -Exclude PWD,*Preference,psEditor | Remove-Variable -EA 0` does seem to remove this issue, so the bug is likely (?) that `$psEditor` is exposed to the terminal window.

[2021-12-10 17:03] andschwa commented on #3716
Cool, thanks! I'll keep an eye on that and when this is fully supported we'd love to do it.

[2021-12-10 17:11] andschwa commented on #3718
I'm not really sure what can be done here. `$psEditor` is [intentionally exposed](https://github.com/PowerShell/PowerShellEditorServices/issues/81) to the user in the integrated console because it's a user interface to the extension. If you remove it, things break. Don't do that!

@daxian-dbw do you know if it's possible to make a variable non-removable via `Remove-Variable`? If so, we could preve

[2021-12-10 17:13] andschwa commented on #3718
I'm wondering if creating the variable with `-Option Constant` would work...

[2021-12-10 19:12] SeeminglyScience commented on #3718
`Constant | AllScope` is probably what we want, that's what a few other similar variables (like `$Host`) are set with. We should definitely guard against this.

---

But for the record this is not a particularly advisable practice. A better approach is to consistently declare variables, e.g.

[code]

That said, there is a middle ground:

[code]

[2021-12-10 19:45] daxian-dbw commented on #3718
`Constant` should do the trick, but I recommend to not use `AllScope`, as that will copy this variable to very new scope created later on, for example, it will be created for every module scope when you load a module, or every local scope when running a script in a new local scope.

[2021-12-10 20:00] SeeminglyScience commented on #3718
Good point, could break someone if they happen to use `$psEditor` as a local. Thanks for catching that!

[2021-12-10 21:16] andschwa commented on #3718
Thanks both! I'll resolve this with a code change that prevents users from accidentally removing the variable.

[2021-12-13 11:35] B1T3X commented on #621
Hey, any progress on this? It's impossible to run certain scripts in VSCode since they hang.

[2021-12-13 13:17] corbob commented on #621
@B1T3X this appears to be an issue that is actually well beyond the scope of the extension. It's marked as a vscode issue, but in my experience it's actually a windows issue and is likely to always exist unless windows changes how it handles windows. This issue definitely happens under wezterm and windows terminal. The only terminal I have not seen exhibit this behaviour is conhost which is the ol

[2021-12-13 13:45] IanMoroney commented on #621
I just tested this on:
Windows 10 21H2
Windows terminal 1.11.2921.0
Az CLI 2.31.0 (with python 3.8.9)
Default browser as Chrome 96.0.4664.93
(also default browser Edge 96.0.1054.43)

with an `az login` command
and it works.
The edge or chrome window spawned on top of the terminal like it should.

I did do an `Invoke-Item .` and the windows explorer window spawned behind terminal, so that test case

[2021-12-13 14:34] B1T3X commented on #621
@IanMoroney I just tested some use cases, here are the results:
Windows PowerShell 5.1.19041.1320
Windows 10 21H2 (OS Build 19044.1387)
Default browser: Microsoft Edge Version 96.0.1054.43 (Official build) (64-bit)
Azure CLI 2.13.0 using Python 3.6.8

`az login` did open a tab in my browser.
`Connect-AzAccount` and `Connect-AzureAD` opened a separate window behind VS code so I had to minimize VS C

[2021-12-14 21:45] StevenBucher98 commented on #3713
@majkinetor thanks! We are unable to reproduce this issue, can you try updating to the latest vscode preview version and see if this is still an issue?

[2021-12-14 22:36] majkinetor commented on #3713
If you think about the latest powershell preview installed from the Releases, it still doesn't work:

![vscode](https://user-images.githubusercontent.com/85767/146090303-61f6b72f-aba4-4606-b4f7-7f7c3e4426d8.gif)

[2021-12-14 22:40] andschwa commented on #3713
@majkinetor Please try the latest [Preview extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview). It's called "PowerShell Preview" on the marketplace. You'll need to disable or uninstall the "PowerShell" extension. It's current version is [v2021.11.1](https://github.com/PowerShell/vscode-powershell/releases/tag/v2021.11.1-preview).

[2021-12-14 22:42] majkinetor commented on #3713
I get the same result.

[2021-12-14 23:08] andschwa commented on #3709
@SQLvariant I think this user may be hitting a bug in the old version of the extension (though I'm not entirely sure, I also suspect there's some weird state with two extensions being installed). Anyway, as ADS has four month old copy, could you please pull in [v2021.10.2](https://github.com/PowerShell/vscode-powershell/releases/tag/v2021.10.2)?

[2021-12-14 23:14] Charles-Gagnon commented on #3709
Would be glad to! Typically in the past you've had some sort of automated pipeline that opens up the PR to update the gallery, is that still active? I can do it manually if needed but we generally prefer customers maintain their own extensions when possible 😁

[2021-12-15 17:40] MN-Joe opened #3723 "VSCode-PowerShell - Allsigned GPO fails with "Could not start language service:""
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-15 18:46] andschwa commented on #3709
@Charles-Gagnon In our last sync we all decided to disable that as it was broken and difficult to maintain, and ADS would just manually check if there's a new release when doing updates. I suggested automating opening an issue, but at the time you didn't want that. That suggestion is still open though! CC: @StevenBucher98 (Did you happen to take notes in that meeting?)

[2021-12-15 18:49] Charles-Gagnon commented on #3709
Ah thanks, I recall that now. Yeah opening an issue seems like a good idea for now then, at least serve as a reminder of what to do.

Did you want me to handle updating the gallery this time or is someone on your team able to take care of it?

[2021-12-15 18:53] andschwa commented on #3713
This line is suspicious to me:

https://github.com/PowerShell/vscode-powershell/blob/f0fddeb2a5c3e8ecfae593f08e5a56668c6572e8/src/features/PesterTests.ts#L147

Do you have _any_ workspaces open?

[2021-12-15 18:56] andschwa commented on #3709
Maybe I'm not recalling correctly but I thought you'd offered to update your gallery, at least until such time that the ADS gallery became updatable by third-parties. I thought there was some pending work to make submissions easier. I can setup a step in our release process to open an issue against https://github.com/microsoft/azuredatastudio/issues when we do a stable release.

[2021-12-15 19:01] Charles-Gagnon commented on #3709
I can do the updates if you don't have resources yourself to do it, but we generally prefer that extension owners handle updating their own extensions (trying to keep track of updates of all the various partners gets overwhelming quickly).

[2021-12-15 19:07] Charles-Gagnon commented on #3709
PR to update to 2021.10.2 https://github.com/microsoft/azuredatastudio/pull/17931

[2021-12-15 20:05] majkinetor commented on #3713
No I don't.

I just tried it now and it works normally when I run it within a workspace.

[2021-12-15 21:06] andschwa commented on #3713
That makes sense! Ok, this is a bug. When no workspaces are open, the indexing there on `workspaceFolders` throws. I'll get it fixed, thanks for the issue.

[2021-12-15 21:55] ruffin-- commented on #3718
🙏

[2021-12-16 23:14] JustinGrote commented on #3510
@andschwa for me, this is still an issue with PS 7.1.2 using PSIC with the latest preview, the pop-up behavior for `-useweblogin` and `-interactive` never shows, however if I open a separate standalone PWSH terminal in vscode, works fine. Maybe something (or something missing) in the PSIC host implementation that is preventing it.

[2021-12-17 01:20] ninmonkey opened #3724 "No Semantic Tokens are Being Generated, while the IntegratedTerminal is working"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-17 01:32] JustinGrote commented on #3724
If the integrated terminal is actively doing something I'm pretty sure it blocks everything (intellisense, etc.), that's just one of those tradeoffs of having it be ISE-like I believe.

[2021-12-17 02:42] ninmonkey commented on #3724
### PSIT blocking

@JustinGrote The PSIT is not blocking in this case. 100% of the time I have no semantic tokens. (Neither existing in the inspector, nor applying using my global super-bright colors config )

By autocomplete I meant Intellisense. (ie: it's not being blocked)

### Logs Summarized

The logs don't seem to be very interesting, except for `log-extension-host.log` below.

## exthost.lo

[2021-12-17 08:23] v2kiran opened #3725 "Execute PowerShell-Code with 'F8' or 'F5' in integrated console failed"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-17 16:57] mhdevop opened #3727 "Integrated Console Colors do not work on older Windows Versions without ANSI/VTY Support (2012R2 etc.)"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-17 18:15] andschwa commented on #3725
Since it's not happening with the Preview, and that extension will soon(ish) move to the stable channel, I will close this as resolved. Thanks for the report and for testing!

[2021-12-17 18:16] andschwa commented on #3709
@williammsft Are you able to update via the ADS gallery to v2021.10.2, and if so, did it resolve your issue?

[2021-12-17 19:00] #3725 closed

[2021-12-17 21:23] andschwa commented on #3718
I was able to repro this, fix it, and verify the fix:

[code]

[2021-12-17 22:21] andschwa commented on #3510
@JustinGrote, this is unfortunately out of my hands. We're waiting on a fix from the PnP.PowerShell team. @KoenZomers said they will have Erwin van Hunen take a look "soon."

[2021-12-17 22:54] ardunster opened #3729 "Better user awareness of documentation of Powershell extension install with AllSigned group policy"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Would like to request this documentation be a little more obvious somewhere, I installed the PowerShell vscode extension for the first time today hoping it would help me s

[2021-12-17 23:09] KoenZomers commented on #3510
We have discussed this, but turns out its very complex to resolve, if possible at all. In all honesty, with everything we have open and the limited resources we have contributing to the code at the moment, I would not count on this to be fixed soon if at all.

[2021-12-17 23:13] andschwa commented on #3510
I would suggest anyone running into this use PowerShell Core which effectively (and correctly) avoids this problem by using an isolated assembly load context. That is the solution, it just _cannot_ technically be implemented for Windows PowerShell because of limitations the Desktop .NET Framework.

[2021-12-17 23:37] #3713 closed

[2021-12-17 23:38] #3718 closed

[2021-12-19 15:45] ninmonkey commented on #3724
### Working

| Addon | Version | Code | Version |
| - |- |-|-|
| ms-vscode.powershell | 2021-10-02 | insider | '1.64.0-insider', 'd12df34e31b4a018735d312a8947d79331132368', 'x64' |
| ms-vscode.powershell-preview | 2021-11-01 | insider | '1.64.0-insider', 'd12df34e31b4a018735d312a8947d79331132368', 'x64' |

### Failed

| Addon | Version| Code |  Version |
| - | - |-|-|
| ms-vscode.powershell | 2021

[2021-12-19 15:45] #3724 closed

[2021-12-19 16:59] JustinGrote commented on #3724
Great detective work @ninmonkey :)

[2021-12-20 16:26] MN-Joe commented on #3729
Based on your description above you have this working.  If so please enlighten me as to how you accomplished this.  I too am working get the PowerShell plugin to work in an AllSigned environment.  Thanks !

[2021-12-20 17:38] ardunster commented on #3729
I'm not in a position to give copy paste commands, but what I did was to look at which filename was causing errors, then manually run it with powershell and select "always run" for the Microsoft signature. For whatever reason I actually had to do this twice (two different files), I'm not sure why the signature differed.

The documentation change in [this commit](https://github.com/MicrosoftDocs/Po

[2021-12-20 19:33] williammsft commented on #3709
@andschwa I did try going to v2021.10.2, still seeing the issue there when running the PowerShell: Enable ISE Mode. I even tried the vsix instead of using the market place one and that has not helped either.

[2021-12-20 19:53] andschwa commented on #3724
Oh awesome, thanks so much @ninmonkey!

[2021-12-20 21:40] MN-Joe commented on #3723
The certificate expired on Dec 2, 2021 so maybe this is my issue within my AllSigned environment.  I was able to load the modules individually and I was then able to run the St
![image](https://user-images.githubusercontent.com/71799135/146836243-0812c212-2208-493d-93c2-7dd4cde20149.png)
art-EditorServices.ps1 script and save the certificate but the certificate is expired.

[2021-12-20 22:46] MN-Joe commented on #3729
Yep - I did that but still won't run - the Microsoft Certificate expired on 12-2-2021 so maybe with the Allsigned GPO that's still preventing it from running.  When I run the script I do accept always and the expired certificate shows in my trusted publisher but still VSCode refused to start powershell.

[2021-12-20 22:51] MN-Joe opened #3733 "Microsoft Code Signing Certificate expired 12-02-2021"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-21 00:54] andschwa commented on #3723
If it's a certificate used to sign extension code, then it should be automatically updated by our release process. I am actually _currently_ issuing a new Preview release. So in a few hours when it's out, please see if v2021.12.0 repros this.

[2021-12-21 01:53] andschwa commented on #3709
This turned out to be an issue related to the Azure Data Studio itself.

[2021-12-21 01:59] #3709 closed

[2021-12-21 17:14] MN-Joe commented on #3723
So with the updated certificate I can now get PowerShell 5.1 to load.  Now I just need to figure out how to change the noninteractive mode so I can regain normal functionality.

[2021-12-21 17:15] MN-Joe commented on #3733
Got word to try the Preview which was updated and I'm able to get that to work.

[2021-12-21 17:22] SeeminglyScience commented on #3723
Are you experiencing an issue around interactivity? If you just mean the `-NonInteractive` flag passed on the command line to `powershell.exe` you can ignore that as implementation detail.

[2021-12-21 17:24] MN-Joe commented on #3723
When I run a script that requires a prompt it comes back with the following:

Windows PowerShell is in NonInteractive mode. Read and Prompt functionality is not available.

Didn’t use to do this and doesn’t when I run PowerShell 7.1 in VSCode.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Patrick ***@***.***>
Sent: Tuesday, December 21, 2021 11:23 AM
To: ***@**

[2021-12-21 17:41] andschwa commented on #3723
@MN-Joe Sorry, can you explicitly confirm the same issue is not occurring with the Preview extension? If so, I'll cut another stable extension which will put it through the same process that signs with whatever current certificate is available to the build and release infrastructure.

[2021-12-21 17:42] andschwa commented on #3733
@MN-Joe Ah! Confirmed here, ok great. Thanks!

[2021-12-21 19:55] MN-Joe commented on #3723
The Preview release works with the 9/1/2022 certificate except it comes up in noninteractive mode and I'm not finding out to change that.
The main release I think would be great if we could get the certificate updated.  For PowerShell 7 we do not have that GPO set yet to AllSigned so those works without the certificate being upgraded.

[2021-12-21 20:17] 50Wliu opened #3736 "Code formatting repeats part of the code"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-21 21:09] JustinGrote commented on #3736
@50Wliu can you try it again with the latest preview extension?

[2021-12-22 21:54] andschwa commented on #3733
@MN-Joe I just released v2021.12.0, can you confirm that it resolves this issue?

[2021-12-22 21:55] andschwa commented on #3723
@MN-Joe I'm going to mark this as a duplicate of #3733 since it seems the root cause was the same. Can confirm that's correct? Thanks!

[2021-12-22 22:00] #3733 closed

[2021-12-23 15:38] MN-Joe opened #3741 "Addition to #3733 - Launching VSCode with AllSigned GPO still fails as not all certificates were updated"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-23 16:02] MN-Joe commented on #3729
If anyone else is running into this issue the documentation tells you to import-module  c:\users\youruser\\.vscode\extensions\ms-vscode.powershell-2021.12.0\modules\PowerShellEditorServices\PowerShellEditorServices.psd1

This is good but I don't know of a way for it to generate a prompt for you to load the certificate - you need to use powershell and load the following file: C:\Users\youruser\.vsc

[2021-12-23 17:55] fsackur opened #3751 "'Safe handle has been closed' when stopping debugger while in a dynamicparam section in v2.2"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the [latest released version](https://www.powershellgallery.com/packages/PSReadLine)
- [X] Search the existing issues, especially the pinned issues.

### Exception report

[code]

### Screenshot

N/A

### Environment data

[code]

### Steps to reproduce

- Use VS Code with PowerShell Preview 2021.12.0 e

[2021-12-23 22:00] #3723 closed

[2021-12-24 10:21] aslan-im opened #3742 "#Requires syntax highlighting bug"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2021-12-24 16:23] JustinGrote commented on #3742
Thanks for the report! Have you tried the preview version of the extension and see if it is still an issue there?

[2021-12-27 14:43] sba923 commented on #3225
As I had to work on my picture/video management scripts during the holidays, I was hit by this issue once again.

Would there be a way to *detect that a script is running under the debugger*, so that it could be prevented from running there? This way I would just be reminded that I *must* run the script outside of VScode?

[2021-12-27 16:30] andschwa commented on #3741
Oh, I see. Thanks for the more detailed info. The stack trace indicates it's failing when loading the bundled [PSReadLine](https://github.com/PowerShell/PSReadLine) module. @daxian-dbw Looks like we need a re-release of the last stable version of PSReadLine, v2.1.0, with an updated signature as its signing certificate has seemingly expired. Can you take a look? I am rather surprised there are no o

[2021-12-27 16:31] andschwa commented on #3742
This looks to be an [EditorSyntax](https://github.com/PowerShell/EditorSyntax) issue: notice how it's reproing on GitHub itself. Transferring...

[2021-12-27 21:15] #3703 closed

[2021-12-29 01:28] andschwa commented on #3489
@Tyriar Hey, just FYI, I see this same bug exist with the C# extension where the spawned `dotnet` processes aren't closed. I'm frequently having to go to my activity manager and force close a dozen of them, even though Code is no longer open. So I don't think this problem is unique to the PowerShell extension. Code is losing track of its child processes.

[2021-12-29 18:24] goblinfactory commented on #1440
In the above example, if you renamed all of them, you wouldn't break anything. If my intent was that an inner scope variable was meant to be treated as a different variable to the outter scope but still have the same name, then that intent as well as the behavior will be preserved by renaming ALL the instances, as if I had done a search and replace. Code still works, and I can choose to rename the

[2021-12-30 16:12] 50Wliu commented on #3736
That's because it's the holidays, msftbot :(.
I can install the preview extension, but since I can't reliably reproduce it, I'm not sure how useful of a baseline that will be.

[2022-01-01 23:41] ptrxyz opened #3747 "Remote Debugging not working"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-02 00:03] ptrxyz opened #3748 "Script path prepended when doing remote debugging."
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-02 02:28] ptrxyz commented on #3748
Added screenshot, upgraded to PS v7.2 on remote machine.

[2022-01-03 04:12] andschwa commented on #3747
Can you please try the PowerShell Preview extension?

[2022-01-03 04:14] andschwa commented on #3748
Can you try the PowerShell Preview extension?

[2022-01-03 04:19] #3715 closed

[2022-01-04 00:52] daxian-dbw commented on #3751
The exception indicates that the `cancellationtoken` passed to `PSConsoleReadLine.ReadLine` was disposed prematurely somehow.

[2022-01-05 17:21] #3677 closed

[2022-01-05 17:23] andschwa commented on #3677
Thanks for identifying and providing the fix for this @JustinGrote!

[2022-01-05 22:11] StevenBucher98 commented on #3727
Thanks @mhdevop! Can you expand upon what you mean when you say Preview mostly works? Are you potentially changing your term env var set in your PowerShell profile?

Have you experienced this issue in the PowerShell terminal in VSCode (not integrated console)?

[2022-01-05 22:12] andschwa commented on #3727
Also, do you experience this on OS's other than Windows Server 2012 R2? We can't seem to reproduce this.

[2022-01-05 23:25] alvicstep commented on #2742
I have been struggling with debugging scripts for some time. This fix saved the day.

[2022-01-05 23:32] andschwa commented on #2742
@alvicstep As the most recent person to encounter this, can I ask you if it reproduces with the Preview extension still?

[2022-01-05 23:45] alvicstep commented on #2742
The extension version i am currently using is v2021.12.0

Last updated: 12/22/2021 13:56:27

Debugging did not work untill i removed a watched variable which did not
exist.

Thank you

On Wed, Jan 5, 2022 at 3:32 PM Andy Schwartzmeyer ***@***.***>
wrote:

[2022-01-06 00:13] andschwa commented on #2742
Could you try the Preview extension?

[2022-01-06 00:57] JustinWebDev opened #3753 "no tab complete for predefined cmdlet param values"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-06 02:04] daxian-dbw commented on #3741
I doubt that's the problem. The certificate used to sign `PSReadLine` and other modules that PowerShell team owns is never considered as trusted publishers by Windows by default. You will have to add it to the `Trusted Publishers` to make then trusted by default.

If you look at the built-in modules shipped with PS 7.2, all the following modules are signed with a certificate that's no longer valid

[2022-01-06 02:06] daxian-dbw commented on #3741
It looks to me @MN-Joe has execution policy set to be `AllSigned` on his machine. That's the only case I can think of that would cause the "trusted publishers" prompt.

[2022-01-06 02:15] MN-Joe commented on #3741
The certificate expired on 3/3/21, under allsigned this will not run, prompt yes and it gets saved to the trusted publishers but will fail as shown in my logs.

________________________________
From: Dongbo Wang ***@***.***>
Sent: Wednesday, January 5, 2022 8:04 PM
To: PowerShell/vscode-powershell
Cc: MN-Joe; Author
Subject: Re: [PowerShell/vscode-powershell] Addition to #3733 - Launching VSCode w

[2022-01-06 02:34] daxian-dbw commented on #3741
The signing cert is never trusted by Windows by default, so even if it's still valid for signing purpose, you will get the same "trust publisher" prompt when running with `AllSigned` execution policy.

The certificate expired, but that only means it cannot be used for signing anymore. For files that are already signed by it, it still shows who published the files as expected.

[2022-01-06 14:19] Qbert777 commented on #3727
`PS C:\Users> $psversiontable

Name                           Value
----                           -----
PSVersion                      7.2.1
PSEdition                      Core
GitCommitId                    7.2.1
OS                             Microsoft Windows 10.0.19043
Platform                       Win32NT
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0…}
PSRemotingProtocolVersion      2.

[2022-01-06 16:58] mhdevop commented on #3727
Hopefully these 2 videos answer both your questions (if I misunderstood do let me know). Basically the raw shell by itself works fine but in VScode it generates ANSI. When I switch to the "preview" version, it resolves the ANSI issue but as you can see, the terminal doesn't show the terminal sequence indicating the command finished running until you hit enter and neither does it "clear" correctly.

[2022-01-06 17:01] mhdevop commented on #3727
I can't "prove" it but I did see this issue semi-recently as well when looking in a log file I found a lot of ANSI characters. Can't remember where it was though or what generated it.

If it helps here's what I'm running:

[code]

[2022-01-06 21:38] andschwa commented on #3683
I think @MartinGC94 is right and this should be configurable, moving to consideration milestone.

[2022-01-06 21:40] andschwa commented on #3701
@energetic-it Can you give me more information on how to reproduce this?

[2022-01-06 21:51] andschwa commented on #3701
@daxian-dbw I think _maybe_ our [`OnPowerShellIdle` function](https://github.com/PowerShell/PowerShellEditorServices/blob/20a35163c39cceaee2023b49783bef6a0c4dfaec/src/PowerShellEditorServices/Services/PowerShell/Host/PsesInternalHost.cs#L772-L829) needs to wait to process events until we know that the rest of the startup process has finished _and_ nothing else is running in the pipeline.

Clearly

[2022-01-06 21:54] andschwa commented on #3685
@SeeminglyScience Could you point me toward that "old code" and where in the new code you think this could be fixed?

[2022-01-07 00:59] andschwa commented on #3563
Got the tests re-enabled at least.

[2022-01-07 00:59] #3563 closed

[2022-01-07 09:48] sburbano opened #3755 "'Throw'-ing a terminating error in a script is not handled correctly in Integrated Console"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-07 15:50] JustinGrote commented on #3755
This should be resolved in the next preview release by https://github.com/PowerShell/PowerShellEditorServices/pull/1651

[2022-01-07 15:50] #3755 closed

[2022-01-08 19:25] kkshinkai opened #3756 "Annoying animation when pasting long string into PowerShell"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-08 23:40] brwilkinson commented on #3701
Adding comment to follow...

First mentioned here: https://github.com/PowerShell/PSReadLine/issues/3091

I have this consistently. Let me know if there is anything I can provide in the way of lots etc ?

[code]

[code]

[2022-01-09 11:59] energetic-it commented on #3701
What can I do to help out?
For me, following my steps above worked.
Perhaps I wasn't clear somewhere?

[2022-01-10 12:20] SamLowryMOI opened #3757 "Get-Childitem works differently than in Windows Powershell"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-10 17:03] JustinGrote commented on #3757
Can't reproduce on Win11, can you do this on a fresh computer or Azure VM?

![image](https://user-images.githubusercontent.com/15258962/148806996-747385fc-106a-415c-9285-df977f63e1fc.png)
![image](https://user-images.githubusercontent.com/15258962/148807127-217cc30e-af11-47de-b4b3-e58307e358b6.png)

[2022-01-10 17:43] SamLowryMOI commented on #3757
I am really very sorry. The green circle in the picture brought the solution. For some reason Windows Powershell (x86) was chosen. Mea culpa! Everything works as expected.

Thank you for your prompt reply! And again sorry.

[2022-01-10 17:43] #3757 closed

[2022-01-10 17:49] alvicstep commented on #2742
I switched to preview.
I can still debug with watched variable which does not exist.

Thanks

On Wed, Jan 5, 2022 at 4:13 PM Andy Schwartzmeyer ***@***.***>
wrote:

[2022-01-10 20:02] andschwa commented on #2742
Fantastic, thank you for the confirmation @alvicstep!

[2022-01-10 21:16] JustinGrote commented on #3757
@SamLowryMOI no worries we are here to help! You can try aka.ms/PSDiscord for more help if you just want to ask people if something is weird before submitting an issue.

[2022-01-10 22:00] #2742 closed

[2022-01-10 22:59] daxian-dbw commented on #3701
@andschwa For that to run, there needs to be event subscribers registered.
@energetic-it and @brwilkinson do you have any event subscribers registered by default? `Get-EventSubscriber -Force` should return any subscribers.

[2022-01-11 00:01] brwilkinson commented on #3701
Good call, I do.. as below, thank you so much  😊

[code]

Thank you so much....

As it turns out I actually have a separate issue open to remove that functionality, so I believe it will be going away in the next release as per this thread.

https://github.com/Azure/azure-powershell/issues/16586

I will follow up over there in regards to this, thanks again, really appreciate the support.

[2022-01-11 00:10] daxian-dbw commented on #3701
@brwilkinson I believe that event handler comes from the Az.Tools.Predictor. Is this particular exception gone after you remove that module or start PowerShell without auto-load that module?

[2022-01-11 00:14] brwilkinson commented on #3701
makes sense for sure, thank you.

I added to the following `Unregister-Event -Force` to my profile, so I will let you know, how it goes.

[code]

[2022-01-11 00:33] SeeminglyScience commented on #3685
@andschwa sorry for the delay

Old code:

https://github.com/PowerShell/PowerShellEditorServices/blob/6b1e77d6223ff61c4af3cbeedf687e1f65f3ac18/src/PowerShellEditorServices/Services/PowerShellContext/PowerShellContextService.cs#L612-L649

New code probably around here:

https://github.com/PowerShell/PowerShellEditorServices/blob/99b523ef9fb6b3894a71291182a42ab280584eb9/src/PowerShellEditorServices/

[2022-01-11 06:57] brwilkinson commented on #3701
I am so thankful Dongbo, that you were able to discover this... 🙏🏼👍🏼

I haven't any occurrences after unregistering the event subscriber, straight after loading the azPredictor module.

[2022-01-11 09:46] energetic-it commented on #3701
I had the same EventSubscriber, the workaround Ben posted works for me as well.
Thanks Dongbo!

[2022-01-11 17:35] andschwa commented on #3685
Thanks!

[2022-01-11 17:37] andschwa commented on #3701
Ah ha! Glad we've figured this out. Now, we certainly _shouldn't_ be crashing due to events, so there is clearly a bug we can solve here, _and_ looks like we have the info we now need to reproduce this. Thanks all!

[2022-01-11 17:42] daxian-dbw commented on #3701
@andschwa The fix will be tricky. Please take a look at my comment about the problem: https://github.com/PowerShell/PSReadLine/pull/1679#issuecomment-947940473

[2022-01-11 21:43] SydneyhSmith commented on #3756
Thanks so much for your issue @kkshinkai , it appears that this is actually a performance issue where the underlying calls to PSReadline delay the pasting in a way that makes it appear as an animation... I will mark this as a performance issue

[2022-01-11 21:44] SydneyhSmith commented on #3756
It would also be great if you could try our preview extension as some of the performance improvements released there may solve this issue

[2022-01-11 21:44] andschwa commented on #2800
So this is partially fixed. Both `[alias(...)]` and `Set-Alias`, if the script has been executed in the integrated console (i.e. with F8) then "Find References" will work (but go-to definition still does not). In order to not rely on querying the aliases in the runspace, we would need an AST way to find all the aliases instead.

[2022-01-11 21:47] SydneyhSmith commented on #3753
thanks @JustinWebDev for your issue! Does this reproduce in both the PowerShell file editor as well in the integrated console? It would also be great to know if this reproduces for you in our preview extension? Thanks so much!

[2022-01-11 21:51] SydneyhSmith commented on #3741
Thanks @MN-Joe for your responses! Does PSReadLine 2.1.0 (latest stable) work with AllSigned in PowerShell outside of VSCode for you?

[2022-01-11 21:54] andschwa commented on #3741
Hi @MN-Joe, actually I see what's going on now. Since you're running under AllSigned, you will need to manually import the modules the extension needs to load (all modules under the extension's folder) and interactively trust the publishers. Once you've established trust of the modules on your system, the extension will load correctly. It cannot interactively ask for you to trust the module, as lo

[2022-01-11 21:59] andschwa commented on #3727
Ok, I _think_ that what's happening is that the PowerShell Preview extension has _no_ support for console colors yet, as we haven't yet implemented that part of the host. So no ANSI escape codes (which represent the colors) are being emitted by the Preview. We're tracking that issue here: https://github.com/PowerShell/PowerShellEditorServices/issues/1607

[2022-01-11 22:47] JustinWebDev commented on #3753
Sydney, it works correctly in the integrated console.

[2022-01-12 14:37] TMattes opened #3763 "## or <# no longer working for creating help block"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-12 16:50] JustinGrote commented on #3763
I can't reproduce, works fine in a fresh vscode with 2021.12.0. Are you sure you're doing it within the context of a function block

https://user-images.githubusercontent.com/15258962/149184886-e6d1dab5-af25-4117-8910-8392f604f6ac.mp4

?

[2022-01-12 17:49] andschwa commented on #3727
That's specifically for the non-preview extension right?

[2022-01-13 00:00] #3741 closed

[2022-01-13 02:28] #3307 closed

[2022-01-13 06:25] TMattes commented on #3763
Yes, as I always used to do  - as I said, a few weeks ago, it worked. But if you can't reproduce, there must be a problem at my side. What I already tried is to uninstall and re-install the extension, but the problem persists.
I'd like to avoid a complete re-install of VScode, because I don't want to lose all my settings. Is there a way to get another solution?

[2022-01-13 15:08] ttt-dlloyd commented on #2897
This is still an ongoing bug. Hoping that the VS Code developers will take this seriously because the program is buggy enough as it is.

[2022-01-13 15:52] JustinGrote commented on #3763
@TMattes have you tried downloading a fresh zip of vscode and creating a "data" directory in the folder? That will create a self-contained install of vscode that you can test in. If it works there, then it's something wrong in your settings/profile/userdata/etc. and I would recommend resetting your user state and bringing back your settings slowly until you find which one is causing you the proble

[2022-01-13 15:52] #3763 closed

[2022-01-13 16:47] TMattes commented on #3763
@JustinGrote thanks for telling about this opportunity. I've just tried it, and I only installed the Powershell extension - unfortuantely the problem is still there. Are there some global user settings which maybe refer to both, the installed version and the copied fresh one?
I also tried it on another computer with another user, there it works, so the problem is my system or user profile, I guess

[2022-01-13 16:51] JustinGrote commented on #3763
Might be something in your PS environment, like your PS profile or whatnot, maybe try removing it.

[2022-01-13 18:29] mhdevop commented on #3727
Correct. Every single issue down to the letter is the exact same.

[2022-01-13 20:03] andschwa commented on #3727
Ok, well the "stable" extension is just old code that will be updated with the "preview" extension soon enough. There's no need to keep testing it, it's the preview extension where bug fixes can be made.

[2022-01-13 21:32] andschwa commented on #3651
Unfortunately @SeeminglyScience there seems to be a bit more to it than just overriding those abstract methods. I'll open a draft PR, but in my testing it's not seeming to fix it. There's also a `_consoleHostUI` that perhaps comes into play?

[2022-01-13 22:00] mhdevop commented on #3727
Understood. Look forward to the new 'preview' in this issue correcting both issues demonstrated in the 2 above screenshots then (like someone mentioned here likely due to handling colors): 1) showing the terminal start at the end of running a command 2) clearing the screen after the command

I'll let the experts get on with it then and let me know if I can provide anything else to help.

[2022-01-13 22:02] andschwa commented on #3727
There's a good chunk of terminal improvements to be made. The underlying way we used PSReadLine changed drastically (for the better!) but it's left us with quite a bit to reimplement.

[2022-01-13 22:22] EM-HKleyn opened #3764 "PowerShell extension crashing when calling new elevated PS Host from script, then deletes source file"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-14 00:00] #3748 closed

[2022-01-14 00:00] #3747 closed

[2022-01-15 22:00] #3736 closed

[2022-01-16 21:00] LethiferousMoose opened #3766 "Extension Formatter Line Wrap Indentation for PowerShell Classes"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

I didn't see anything obvious in the extension settings. but maybe I missed it. When I format a PowerShell file with classes defined. there does not appear to be a setting

[2022-01-17 01:02] MartinGC94 commented on #3753
I know the VS code team said it was an extension issue, but IMO it's more of a VS code issue. Tab in VS code will insert whitespace unless you have the intellisense menu open. There is a tab completion option, but if you enable that it only tab completes if you are at the edge of a word, not in the middle of whitespaces.
The only thing the extension can do is to add space as an intellisense trigge

[2022-01-17 20:54] JustinGrote commented on #3753
FWIW you can hit ctrl-space to get the possible values, and then you can use arrows and tab, but not tab-cycling
![image](https://user-images.githubusercontent.com/15258962/149835895-0397d99b-6bf8-4545-aff9-7be5bec30d88.png)

[2022-01-17 20:55] JustinGrote commented on #3753
I'm going to re-flag this as a potential enhancement, as the behavior is as expected. There may be a way to make this work when selecting ISE mode, but ISE mode is never meant to be a perfect copy of ISE behavior, it's best effort mapping to vscode.

[2022-01-17 22:24] JustinGrote commented on #3766
PSScriptAnalyzer is used to actually do the formatting, so there may be a tweak in the .psd1. Have you considered just going vertical with it though?

[code]

Much easier to read and see what you are doing in my opinion, plus easier to quickly comment out an argument, set a breakpoint, etc.

[2022-01-18 02:03] LethiferousMoose commented on #3766
I only do vertical for PowerShell param blocks, for classes in any language I liked parameters wrapped and lined up. And thanks I will take a look at their settings. Does the plugin not expose all their options via the VS Code extension?

[2022-01-18 02:13] #3766 closed

[2022-01-18 02:35] JustinGrote commented on #3766
@LethiferousMoose not all I don't think, you can find the settings info here:
https://github.com/PowerShell/PSScriptAnalyzer#settings-support-in-scriptanalyzer

[2022-01-18 17:41] 50Wliu commented on #3736
Yeah, feel free to keep this one closed. I haven't had the opportunity to use PowerShell since opening this issue. If it does happen again later down the road, I'll let you know.

[2022-01-18 17:48] andschwa commented on #3736
Thanks @50Wliu! Hopefully by then we'll have the latest code deployed to the "stable" extension too.

[2022-01-18 20:23] #3705 closed

[2022-01-18 20:23] andschwa commented on #3651
Fix for this has been merged!

[2022-01-18 20:26] andschwa commented on #3705
@JustinGrote Can you confirm this is now fixed?

[2022-01-18 20:41] Hetshu opened #3770 "Using a launch configuration with interactive arguments does not work correctly in Powershell preview extension"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-18 21:08] andschwa commented on #3770
Thanks for getting this filed @Hetshu!

[2022-01-18 22:00] #3651 closed

[2022-01-18 23:45] StevenBucher98 commented on #3764
Hi @EM-HKleyn are you using this in the Integrated Console or the standalone PowerShell terminal?

If you could also clarify your scenario, it would be super helpful for us to better understand what you are trying to do.

[2022-01-18 23:47] EM-HKleyn commented on #3764
Hey Steven,

I am using the integrated console to accomplish this. The idea behind that snippet is to escalate the script if the user hasn't opened the script as an administrator.

Cheers!

Kind regards,
Hendrik Kleyn
Office:1300 363 308
***@***.***
Website:www.eManaged.com.au
From: Steven Bucher ***@***.***>
Sent: Wednesday, 19 January 2022 10:46 AM
To: PowerShell/vscode-powershell ***@***.***>
C

[2022-01-19 03:38] apurvparekh30 commented on #2661
Did anyone find solution to this issue?

[2022-01-19 20:05] josefwegner commented on #3756
Hi,

I have the same issue on my Raspberry Pi 400 running Debian Bullseye ARM64. I also tried the preview extension, but sadly, pasting stuff is still as slow as the release extension.

**PowerShell Version**
[code]
** VSCode Version**
[code]

**Extension Version**
[code]

[2022-01-19 21:52] JustinGrote opened #3774 "Syntax Highlighting doesn't recognize ? as part of a variable name"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-20 00:02] andschwa commented on #2448
@Jawz84 Hello, and thank you for your patience! The latest [PowerShell Preview for VS Code](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) is now out, and includes the reworking of our pipeline and threading architecture in https://github.com/PowerShell/PowerShellEditorServices/issues/1295. Could you verify if this issue still reproduces using [v2022.1.0-preview]

[2022-01-20 13:56] Jawz84 commented on #2448
Thanks for getting back to me about this. I'm going to try this out, but can't guarantee a timeframe at this point. Will aim for coming weekend.

Met vriendelijke groet,

Jos Koelewijn
________________________________
From: Andy Schwartzmeyer ***@***.***>
Sent: Thursday, January 20, 2022 1:02:45 AM
To: PowerShell/vscode-powershell ***@***.***>
Cc: Jos Koelewijn ***@***.***>; Mention ***@***.***>
S

[2022-01-21 15:49] mhdevop commented on #3727
FYI - I just had my 2012R2 to 2019 and the "non-preview" works fine now with colors as an added bonus. Preview still has the bug shown above where the command doesn't show the terminal character once it's done running so you're not sure if it ever finished until you hit enter.

[2022-01-21 17:20] JoeBrunsTR opened #3781 "Analyzer says a variable is declared and not used but it is"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-21 19:32] JustinGrote commented on #3781
In this example you're not actually using the variable, you're just assigning it again
https://user-images.githubusercontent.com/67018945/150570564-dd97e1c5-b07e-4119-b2d8-ddd033493730.png

Once you reference it the warning goes away
![image](https://user-images.githubusercontent.com/15258962/150588970-0535021b-1346-4b64-8089-22d4fdac9322.png)

[2022-01-21 19:33] #3781 closed

[2022-01-21 19:38] Jawz84 commented on #2448
Let me start out by saying: thanks for the huge amount of work, that has undoubtably gone into the complete overhaul. 💙

I've tried to reproduce on 2022.1.0-preview. This time, the behaviour was different. The debugger did attach after the 'tab' keystroke. After that, I was able to F10 step through, until I hit this error on line 11 (closing curly for scriptblock `$s`): This error is shown in the

[2022-01-21 19:44] Jawz84 commented on #2448
I just noticed after posting, that the powershell integrated console had an orange exclamation triangle, and when I hovered over it, this displayed:
![image](https://user-images.githubusercontent.com/26464885/150589990-21793a96-a1d1-4326-8769-a949f72c0e5b.png)

I've tried to reproduce this after. I haven't yet been able to do so.

[2022-01-21 19:46] JoeBrunsTR commented on #3781
One could argue that is should remove the warning in this case.

[2022-01-21 22:06] andschwa commented on #2448
This is _super_ helpful because it looks just like #3751. Given that, I'm going to mark this particular issue as resolved, and thank you for the second repro of that early safe handle disposal bug (which is already triaged and slated to be fixed). Thank you!

[2022-01-21 22:07] andschwa commented on #2448
HAHA I have seen that exactly once as well and never been able to repro. It doesn't seem to _break_ anything, and I don't know why it's happening because that environment variable isn't something we touch.

[2022-01-21 22:14] andschwa commented on #3727
Awesome, sounds like it's just lack of ANSI color support in 2021R2. Newer versions of Windows with newer versions of PowerShell have much better support for it. Since the preview doesn't leave buggy unreadable output, but will eventually support `ConsoleColor` correctly, I think maybe this is resolved?

The terminal character issue actually appears to me to be the same bug as #3685 where the prom

[2022-01-21 23:58] andschwa commented on #3710
It took a bit to figure out what exactly was going on here since I was making assumptions based on other erroneous behavior I was seeing. What we're actually looking to do in order to fix this is modify this command:

https://github.com/PowerShell/vscode-powershell/blob/44d8f403feff544d7aa95641223097c0691d4777/src/features/ExtensionCommands.ts#L226-L227

So instead of calling `workbench.action.deb

[2022-01-22 00:01] JustinGrote commented on #2448
I've seen it several times but haven't figured out a good repro either.

[2022-01-22 01:00] #2448 closed

[2022-01-22 07:13] Jawz84 commented on #2448
Agreed, thanks. Great work everyone!

[2022-01-22 19:17] niheaven opened #3782 "PowerShell Extension can not start in macOS (M1)"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-23 21:44] RandyInMarin commented on #633
I go long periods of time not looking at PowerShell.  I forgot about this and found this post again hoping for a solution.  It's still annoying.

[2022-01-24 13:35] shrihanDev commented on #3727
I would like to +1 this. This happens for me as well. Even for simple commands like `pwd`.

`PSVersionTable`:
[code]

`code --version`:
[code]

`winver`:
![Windows Version](https://user-images.githubusercontent.com/54971391/150792006-cdbe5556-436d-469e-9235-dd799a357143.PNG)

I would, however, like to add that using PowerShell Core from the VSCode Terminal doesn't reproduce the issue.

[2022-01-24 15:24] JustinGrote commented on #633
F8 is "run selection", which in my opinion should behave the same as copying and pasting the code into the PowerShell window. When you do this, you don't get `$PSScriptRoot`. That said, I could see an argument for making it an opt-in behavior as a setting, so that you have to check a box saying "I accept this non-normal behavior for convenience" rather than a newbie being surprised his code doesn'

[2022-01-24 15:35] JustinGrote commented on #3711
@Andy-AO I'm pretty sure this is actually a PowerShell thing, not a vscode thing. Items like `$PSScriptRoot` and `$args` you can't reference when at a breakpoint from the console. We are however able to pull them from the debugging info and that's why they show up there.

![image](https://user-images.githubusercontent.com/15258962/150812641-9f243493-a98d-4e90-80ac-6da7cab90b34.png)

I would say th

[2022-01-24 15:46] JustinGrote commented on #3756
I don't have this issue when pasting on Windows, perhaps it is MacOS specific? I believe the vscode terminal implementations use different VTYs between MacOS and Windows. Does this happen in a regular terminal too e.g. bash?

https://user-images.githubusercontent.com/15258962/150815580-2718b9a1-03da-4e79-87b7-1bc1fb7beb63.mp4

[2022-01-24 16:21] RandyInMarin commented on #633
@JustinGrote, I'm not a code developer, so perhaps this is normal for most languages...F8 results in different behavior than F5.  I get the feeling I'm just going about this incorrectly.  Code that depends upon $PSScriptRoot has a smell?  Automatically importing co-located files for "utility" functions and configuration has a smell?

[2022-01-24 16:34] PrzemyslawKlys commented on #633
If you run $PSScriptRoot in PowerShell console it's empty. F8 basically takes the code you highlighted and pastes it into console, so in this case $PSScriptRoot is empty. That's why the behavior is different. To fix it VSCode extension would need to overwrite the default behavior and overwrite $PSScriptRoot variable with folder path of the script the highlighted code was taken from. Not great, not

[2022-01-24 16:55] JustinGrote commented on #633
@RandyInMarin for Powershell at least, there are several variables like $PSScriptRoot that are only present in the context of a script, not within an interactive session.

https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_automatic_variables?view=powershell-7.2#myinvocation
![image](https://user-images.githubusercontent.com/15258962/150827962-ac4b5f27-f128-41

[2022-01-24 17:29] #3710 closed

[2022-01-24 17:47] RandyInMarin commented on #633
Okay, I see that I should not test a block of script via F8 and expect the same behavior as F5.  For a new, unsaved file or the console, I might have a hard time co-locating.  By smell, I mean that perhaps there is a better alternative than $PSScriptRoot in code for locating a file in the same location, even if the location gets weird.  Or perhaps importing co-located files is a bad practice in th

[2022-01-24 18:20] JustinGrote commented on #633
@RandyInMarin there isn't a great option for relative paths that works everywhere. `$PSScriptRoot` is recommended if the code will always be run as a script and you are explicitly referencing files relative to the script, because the paths will be relative to the script. Using `./relative/path` is not recommended if you explicitly want something relative to where the script is located because it w

[2022-01-24 18:21] andschwa commented on #3782
Hm, I'm happy to help you figure out your setup, but I am developing on an Apple M1 with this almost exclusively (so I can say it definitely works), which means this must be an issue with environment.

For what it's worth, I installed PowerShell on my macOS system via [direct download](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-on-macos?view=powershell-7.2#

[2022-01-24 18:22] andschwa commented on #633
I also like David's early idea of replacing any custom F8 functionality with just Code's own APIs. I think deleting code _is_ a good reason to do so.

[2022-01-24 18:30] JustinGrote commented on #3225
@sba923 yes, you can
`$env:TERM_PROGRAM -eq 'vscode'`

[2022-01-24 18:31] simonsabin commented on #633
By Design, but not always as expected.
There are enough people that fall fowl of this and thus it would be good to have a solution. I understand the rationale, but when you do F8 and you are in a script the expectation is that `$psscriptroot` is that script. The fact the implementation of F8 doesn't run that script, is a detail of implementation/powershell that the whole script isn't being run.

[2022-01-24 18:39] JustinGrote commented on #633
@simonsabin for some reason in my brain I tracked this as a different issue, sorry. I think it's still open to, if we don't remove the "clever" F8 functionality, to allow an opt-in setting to reconstitute these variables as part of a F8 run, but it would have a big disclaimer that it would be best-effort.

[2022-01-24 20:05] niheaven commented on #3782
I found more log:

1/25/2022 3:46:59 AM [NORMAL] -     PowerShell Editor Services args: Import-Module '/Users/niheaven/.vscode/extensions/ms-vscode.powershell-2021.12.0/modules/PowerShellEditorServices/PowerShellEditorServices.psd1'; Start-EditorServices -HostName 'Visual Studio Code Host' -HostProfileId 'Microsoft.VSCode' -HostVersion '2021.12.0' -AdditionalModules @('PowerShellEditorServices.VSC

[2022-01-24 20:41] andschwa commented on #3782
Hm, try extending the timeout?

https://github.com/PowerShell/vscode-powershell/blob/ddb877f1cd7fc7e1e46c0898ab1962831e005a1c/package.json#L836-L840

Are you seeing anything from Little Snitch? I know PowerShell itself has some telemetry (that you can, of course, disable) and I wonder if it's starting up, trying to send that telemetry, and is stuck by Little Snitch.

[2022-01-24 20:52] niheaven commented on #3782
Nope, every traffic from VSCode or pwsh is passed, and after I multiple the times by 10, the session file is not there...

This is the only unusual one.

[2022-01-24 21:05] andschwa commented on #3782
So I looked into `Unable to send getCommand request` and it's coming from the Command Explorer feature. I don't _think_ that would break startup, but maybe try disabling the command explorer?

[2022-01-24 21:30] niheaven commented on #3782
Yes, you are right, they just affect Command Explorer, and the extension is still not started...

[2022-01-24 21:33] andschwa commented on #3782
Are you able to _manually_ create an item in `/Users/niheaven/.vscode/extensions/ms-vscode.powershell-2021.12.0/sessions/`? It sounds like a permissions issue. If you open System Preferences and go to the security section, do you see any requests for `pwsh` to write to "Documents" or something?

[2022-01-24 21:42] EM-HKleyn commented on #3764
That does not function the same way as the initial problem code which first checks the session elevation, then requests elevation. Additionally,  you are not using the VSCode inbuilt PowerShell terminal.

Kind regards,
Hendrik Kleyn
Office:1300 363 308
***@***.***
Website:www.eManaged.com.au
From: Justin Grote ***@***.***>
Sent: Tuesday, 25 January 2022 2:43 AM
To: PowerShell/vscode-powershell ***

[2022-01-25 00:47] RandyInMarin commented on #633
@JustinGrote Do we need to create a feature request?

[2022-01-25 02:00] JustinGrote commented on #633
This issue can be used for tracking the enhancement. I've flagged it as Up for Grabs which means we will entertain PR attempts, right now with the pipeline rework the focus is on getting that to the point it can be promoted to stable so that we can have a regular stable release cadence again, so I wouldn't expect this anytime soon unless someone contributes it.

[2022-01-25 02:32] niheaven commented on #3782
Yes, I could manually create files (using New-Item in PS) in the sessions folder, and I've just give VSCode full disk permission manually. There isn't any `pwsh`-related requests here. It's really strange ...

[2022-01-25 11:56] PrzemyslawKlys opened #3786 "Display the command that is running in the PowerShell console on the same line"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-25 16:12] JustinGrote commented on #3786
Thanks for raising! It is a change in behavior and can be jarring to users so I think it's a valid ask. There's a couple other related issues e.g. debug doesn't issue newline after prompt

[2022-01-25 17:02] mhdevop commented on #3727
I'll let you folks decide if this is "resolved" or not now that I have a workaround (an entire OS upgrade). I mean the issue does exist, it has been replicated on 2012R2, so it is an issue but I'm sure it's lower priority compared to other bugs.

[2022-01-25 17:16] andschwa commented on #3786
Yeah there's a lot of work around redisplaying the prompt properly that we need to do! This is definitely valid and thank you for reporting.

[2022-01-25 17:49] JustinGrote commented on #3727
@mhdevop seeing as 2012R2 is EOL in a year and a half, I doubt a lot of engineering effort is going to go into this honestly, unless someone wants to attempt a PR, which we will facilitate.

I am going to rename the issue to be 2012 specific and flag it as "up for grabs"

[2022-01-25 18:17] simonsabin commented on #633
I was wondering if this could be solved by the debug capability rather than built in F8. i.e. being able to specify something in launch.json
I however couldn't find a way to have a script run, the script property of launch.json only seems to take a file.

[2022-01-25 18:37] JustinGrote commented on #633
@simonsabin
[code]

[2022-01-25 21:10] StevenBucher98 commented on #3782
@niheaven Can you disable the Clean my Mac and Little Snitch programs and see if that is what is causing this issue?

[2022-01-25 22:52] StevenBucher98 opened #3788 "`Find/Install PowerShell Modules from the Gallery` command not working"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-26 07:12] simonsabin commented on #633
Thanks @JustinGrote.my point was that "script" only takes a filepath. one can't pass a chunk of text.
I was looking for a cheap workaround
[code]
where run.ps1 is a script that can run the selected text. However you can't override psscriptroot.

It looks like @SeeminglyScience solution would be a much better one.

[2022-01-26 11:00] niheaven commented on #3782
Nothing changed... I remove `~/.vscode` and clean `settings.json` and reinstall the extension, nothing changed... No session file.

[2022-01-26 16:30] niheaven commented on #3782
I just remove `$PROFILE.CurrentUserAllHosts` (which contains `brew` and `starship` startup code), remove `powershell` in brew, remove `VSCode` app, and reinstall `VSCode`, `powershell`, and restore `$PROFILE.CurrentUserAllHosts`, the extension works 😄

I don't know why, but the issue solved... Thanks you guys, I'll reopen it when it occurs again (hope not).

[2022-01-26 16:30] #3782 closed

[2022-01-26 18:59] andschwa commented on #3782
Glad to hear it's resolved!

[2022-01-26 20:13] andschwa commented on #3522
This change got dropped in the pipeline rewrite, so I am reopening this. The good news is that I also just fixed that!

[2022-01-27 21:08] JoeBrunsTR opened #3791 "Collapse all or expand all functions"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Would be nice if this plug-in had a way with either a right click or keyboard shortcut to collapse all functions or expand all functions in Powershell code.

### Proposed

[2022-01-27 21:20] JustinGrote commented on #3791
@JoeBrunsTR have you tried Fold?
![image](https://user-images.githubusercontent.com/15258962/151445526-83a2c5ad-1006-404e-b39e-7d8fa354e8c7.png)

[2022-01-27 21:41] #3522 closed

[2022-01-27 21:41] #3700 closed

[2022-01-27 21:44] andschwa commented on #3751
Well, I can reproduce this, which is great, but not sure why the token is getting prematurely disposed. Working on it 🤷

[2022-01-28 17:17] PrzemyslawKlys opened #3794 "[Preview] Running F8 appears to be never ending"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-28 17:43] andschwa commented on #3794
Thanks @PrzemyslawKlys! This is (fortunately) a duplicate of https://github.com/PowerShell/vscode-powershell/issues/3685. So what's (wrongly) happening is that the prompt position isn't being updated, resulting in behavior that looks like this (also showed up in https://github.com/PowerShell/vscode-powershell/issues/3727#issuecomment-1018903103).

[2022-01-28 17:45] #3794 closed

[2022-01-28 20:21] ztrhgf commented on #2745
Is there any progress? It's real pain to use vsc for Powershell scripting right now. Intellisense doesn't work and formatting neither.

Most of my colleague already gave up and are using different editors. I don't blame them...

[2022-01-28 20:28] andschwa commented on #2745
@ztrhgf Have you tried the Preview extension? A lot of these "occasional failures" issues were resolved in the pipeline thread rewrite.

[2022-01-28 22:03] ztrhgf commented on #2745
Yes, I was running powershell preview extension for several months now but that didn't help, unfortunately. I will give a try to Rider IDE it seems.

[2022-01-28 22:10] JustinGrote commented on #2745
@ztrhgf maybe you can provide some specific examples of where it fails? I'm on preview and intellisense works just fine for me.

[2022-01-28 22:54] PrzemyslawKlys commented on #2745
Sure ;-)

![image](https://user-images.githubusercontent.com/15063294/151632588-c0cdb8cb-1c57-4a34-8599-3b1cbe8bdb9c.png)

[2022-01-29 04:31] JustinGrote commented on #2745
Hard to say if #1 is reasonable, it feels like the editor should be showing you an error that the type doesn't exist (yet), but that's a whole 'nuther can of worms), and it shouldn't intellisense on invalid functions in my opinion

For #2, how is it supposed to know those two .ps1 files are related? Say you have the function defined in two different completely unrelated files in the same workspace

[2022-01-29 09:18] PrzemyslawKlys opened #3797 "[Preview] AutoComplete doesn't show types"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-29 09:26] PrzemyslawKlys commented on #2745
1. It was just showing it fails for unknown types. This can be when you're not connected to Exchange and you work with Exchange types, or when you are using some DLL and it's not loaded yet, but you want to type some code. I do know it's a problem on the PowerShell side.
2. All good points - yet I do work with modules and as I am building them I have 2 choices - push PSM1 wildcard and psd1 wildcar

[2022-01-29 17:15] SeeminglyScience commented on #2745
One thing you can try for a lot of these issues (and I know it's stop gap, not a real solution) is to import the module and enter a nested prompt. e.g.

[code]

Far from perfect, especially since it isn't updated automatically with changes. But it can help with those scenarios.

I have some thoughts about how to build more support for workspace concepts into the PowerShell engine but it's too earl

[2022-01-29 17:28] JustinGrote commented on #2745
We could try an experimental feature with a filewatcher that watches for .ps1 changes and automates this process, that might be better suited to a one-off extension since it probably could use the API that's already there :)

[2022-01-29 17:33] JustinGrote commented on #3797
Might have something to do with the module you're using, works with "built-in" commands just fine, even overloads for different parameter sets
![image](https://user-images.githubusercontent.com/15258962/151671160-157a8f43-ea73-4b5c-ad38-1b97141b4034.png)

[2022-01-29 17:36] PrzemyslawKlys commented on #3797
I mean the type in here.

![image](https://user-images.githubusercontent.com/15063294/151671220-c27c61e1-5acf-47f9-961d-413e234a2094.png)

Actually when it shows up automatically it has no type, and once i type ctrl+space it fills that in.

[2022-01-29 17:37] JustinGrote commented on #3797
I can't reproduce, I didn't hit ctrl-space here:
![image](https://user-images.githubusercontent.com/15258962/151671307-64637535-ae68-4b5c-a2c3-2ade7c49878f.png)

[2022-01-29 17:39] PrzemyslawKlys commented on #3797
ok, let it show up and then press ctrl+space multiple times - does it switch back and forth?

[2022-01-29 17:41] JustinGrote commented on #3797
I also imported pswritehtml and it worked fine, no ctrl-space
![image](https://user-images.githubusercontent.com/15258962/151671350-02ad9710-a8d1-446c-a81f-6788e544966b.png)

When using ctrl-space it pops out, as expected. Maybe your pop out location setting is messed up? I know there's a toggle for it.
![image](https://user-images.githubusercontent.com/15258962/151671377-d3a1655f-1d3d-42d5-910b-6

[2022-01-29 17:45] PrzemyslawKlys commented on #3797
Ok, maybe it's just me. And maybe it's just my module - The window with more information doesn't follow the parameters

![image](https://user-images.githubusercontent.com/15063294/151671454-1976deb1-282d-4fc6-b952-5d149bae1780.png)

[2022-01-29 17:47] #3797 closed

[2022-01-29 17:49] JustinGrote opened #3798 "Parameter Intellisense should include parameter aliases"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Example:
Get-Childitem -System has a parameter alias so it can also be referenced as -as, this should show up as a valid autocomplete, and maybe have an option to auto-tra

[2022-01-29 17:53] PrzemyslawKlys commented on #3791
I wonder why this is hidden from the GUI. I believe it used to be visible, and now it's just under CTRL+SHIFT+P

[2022-01-29 18:36] JustinGrote commented on #3791
Never has been a "button" for it that I'm aware at least in vscode. There might be an extension that contributed one.
https://code.visualstudio.com/docs/editor/codebasics#_folding

[2022-01-29 18:38] SeeminglyScience commented on #3791
There's a UI element to fold *individual* items if you hover your mouse slightly to the right of the line numbers. I don't know of there ever being a "fold all" button though.

[2022-01-29 18:38] babysnakes commented on #3256
Same problem here 🙁

[2022-01-29 18:39] PrzemyslawKlys commented on #3791
There seems to be an extension https://marketplace.visualstudio.com/items?itemName=georgejames.thefoldingstuff that helps:

![image](https://user-images.githubusercontent.com/15063294/151673319-403e6c62-7b85-4fbc-917f-126718b6476e.png)

[2022-01-29 19:28] JustinGrote commented on #3798
@SeeminglyScience fair point, maybe have it go ahead and retrieve aliases that start with that same initial character so that it can continue to filter? I can't remember if for a completion parameter you can have both a "display" and an "actual" value.

[2022-01-29 19:51] SeeminglyScience commented on #3798
Issue is we get all of our intellisense directly from PowerShell (`SMA.CommandCompletion.CompleteInput` method). So if we want to do something different than what PowerShell does already, we have to reimplement *a lot* of what it does before we can get to a point where we can inject something of our own.

[2022-01-29 19:57] PrzemyslawKlys opened #3800 "[Preview] Never ending formatting"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-01-29 23:08] JustinGrote commented on #3800
I've had the formatter hang on me a couple times but not for long, worth looking into.

[2022-01-31 07:35] ztrhgf commented on #2745
I was using preview version of PS extension for several months, now I've switched to stable release. But issues are still the same. Intellisense stopps working even for native commands (like get-process etc). Result is that I have to restart PS session in VSC twice a day at least which is not good user experience.

If you need logs etc let me know.

[2022-01-31 15:38] JustinGrote commented on #2745
@ztrhgf Specific examples would be great or a screenshot when it happens. Note that intellisense requires the PSIC to be active and available, so if you for instance run `sleep 30`, Intellisense will not be available until that command completes.

[2022-01-31 17:38] andschwa commented on #3256
@JustinGrote Do you know if this continues to repro with the latest Preview? @babysnakes What version of the extension are you using?

[2022-01-31 17:39] andschwa commented on #3791
Since this is built into VS Code, and the extension supports that feature, I'm going to mark this as answered!

[2022-01-31 17:51] andschwa commented on #2745
FWIW there is support to analyze across PowerShell files in the same workspace, but it's predicated on the files being explicitly interdependent (e.g. one dot-sources another). So if File A dot-sources File B, then IntelliSense in File A will complete stuff in File B, but not otherwise (which is fair, since if you _didn't_ dot-source File B but tried to use one of its functions, it would fail in P

[2022-01-31 19:21] babysnakes commented on #3256
@andschwa , I'm using current latest (`2021.12.0`).

Thanks

[2022-01-31 19:42] andschwa commented on #3256
@babysnakes Can you try the latest version of [PowerShell Preview for VS Code](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview)? Thanks again!

[2022-01-31 20:04] babysnakes commented on #3256
@andschwa  sure, I'll try tomorrow and update.

[2022-02-01 00:38] andschwa commented on #3786
I'm looking at this, but I'm not sure how addressable it is. Technically when running a script via F5 or arbitrary selected code via F8, we cancel the current prompt and just run the code...so it is explicitly _not_ running on that prompt but entirely separately. Note that if you add anything to that prompt but don't hit enter, and then hit F8, everything at the prompt is thrown away instead. So w

[2022-02-01 09:36] ztrhgf commented on #2745
<img width="221" alt="image" src="https://user-images.githubusercontent.com/2930419/151941710-e6aa0114-40bf-421f-a8ae-9c42b378ba45.png">

[2022-02-01 10:20] PrzemyslawKlys commented on #2745
To be honest I can replicate that on my server. My server is somehow very slow with PowerShell (probably antivirus) and it sits there about 5-10 seconds on the loading part then gives me bullshit, but when I press ctrl+space again it fills that in. The subsequent request works much faster. Is that your experience @ztrhgf ?

On the other hand on my desktop, it's fairly fast - but I've configuration

[2022-02-01 14:46] tibmeister commented on #1863
This continues to be a problem.

VSCode: 1.63.2
Powershell Extension: v2021.12.0

[2022-02-01 15:33] PrzemyslawKlys commented on #3786
That sounds good. Btw I have a lot of issues around the display (clear-host helping partially) where the text goes over text, and even new lines stop working under debugging. Should I create separate issues or update it here?

[2022-02-01 15:40] JustinGrote commented on #2745
That's a good point, where are you running the PSIC extension? Is this a remoting session?

[2022-02-01 16:49] ztrhgf commented on #2745
No it local session.

As I said I was using preview version for several months now and result was quite same. Once session restart per day at minimum.

Can I check some logs to get more insight into this issue?

[2022-02-01 16:53] PrzemyslawKlys commented on #2745
But the new Preview version is much younger than several months. Are you sure it's a new preview and could you retest with the current preview just to make sure?

[2022-02-01 16:58] JustinGrote commented on #2745
There are extended logs but they may not cover just simple completion services, especially just "hangs". You may want to try making a "fresh" portable vscode installation so you don't have to affect your existing setup, just download the zip of vscode and add a "data" folder to the extract.

[2022-02-01 18:00] #3791 closed

[2022-02-01 18:43] andschwa commented on #3786
Let's see how much https://github.com/PowerShell/PowerShellEditorServices/pull/1690 and https://github.com/PowerShell/PowerShellEditorServices/pull/1691 help out with that. I'll get a new Preview out soon, and then for any more problems yes please new issues!

[2022-02-01 18:53] #3685 closed

[2022-02-01 20:06] #3786 closed

[2022-02-01 21:06] andschwa commented on #3683
This might get a little messy. Someone tell me what the want the setting name to be 😂 the whole subblock of settings under `powershell.integratedConsole` are all client-side settings, so while this is kind of for the integrated console, since it would be the first server-size setting it would mean adding a bunch of boiler plate if we want it there. What about just `powershell.includeEvaluateInHist

[2022-02-01 21:30] brwilkinson commented on #3683
Ignoring the naming of the setting... 🙂for now.

I was thinking of optional different behaviors, *i likely should have mentioned this before.*

Also I was trying to also think back to ISE behavior.

Here are a few more considerations or options of how code might be executed/presented. I am not sure what work has already been done etc or if this fits with this work?

1) you have an unsaved or saved

[2022-02-01 21:52] andschwa commented on #3666
I'm not seeing this any more, or I'm not sure what I meant when I filed this. Closing, I guess.

[2022-02-01 21:52] #3666 closed

[2022-02-01 21:56] andschwa commented on #3751
@daxian-dbw I _think_ this recurs when ReadLine is invoked in a nested manner. In this bug report's case, the dynamic parameter was being expanded by ReadLine, then the debugger is invoked and a new nested debug prompt opens up, invoking ReadLine a second time. I was also able to reproduce accidentally when working on another bug, and it was again when ReadLine was running and I called it a second

[2022-02-03 01:00] JustinGrote opened #3807 "`Write-Progress` not cleaned up unless `-Complete` is explicitly specified"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-02-03 01:00] #3764 closed

[2022-02-03 23:19] andschwa commented on #3655
This is weird since I don't think the extant behavior in the stable channel is correct either, it produces the output:

[code]

[2022-02-03 23:49] andschwa commented on #3691
@SydneyhSmith we need to determine if this is still reproducing, if so, we need to fix it.

[2022-02-03 23:51] andschwa commented on #3701
@SydneyhSmith we know what the root cause is here, and the workaround is to unregister the events. Since we don't have a timeline for a true bug fix (as that would require a patch to PowerShell itself), we need to determine the best mitigation strategy:

- Override the PowerShell cmdlets to register an event and make it a no-op with a warning (we should check if this user's report would have been

[2022-02-03 23:58] brwilkinson commented on #3701
There *may* already work being done on this.

https://github.com/Azure/azure-powershell/issues/16586

cc @kceiw

@dcaro or @kceiw did you happen to have any status update on the above? Perhaps we can figure out a timeline?
- the original request was to remove the message 'azpredictor' rating prompt, however I assume this eventsubscriber, is also prompting for feedback is related and could also be

[2022-02-04 09:11] babysnakes commented on #3256
@andschwa, Sorry it took me some time 🙁 ...

I installed the latest preview, Imported the completion from file and tried to debug completions. The good news is that I was able to step the debugger. It doesn't seem to produce completion back to the terminal but it's a good start 😄.

Here's the entire output from the terminal:

[code]

[2022-02-04 10:18] pilgi3 commented on #3078
Any news about the issue?
Yesterday I have tested again, but still not working.

[2022-02-04 18:06] andschwa commented on #3256
Ah ha, that's super useful @babysnakes, it looks like the same thing we're seeing in https://github.com/PowerShell/vscode-powershell/issues/3751. Seems like the way we're invoking PSReadLine barfs if it happens under the debugger while it's in the middle of doing something.

[2022-02-04 18:07] andschwa commented on #3078
@pilgi3 this should be fixed in the latest [preview](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview), can you give it a try?

[2022-02-05 01:32] daxian-dbw commented on #3751
It's not a supported scenario. `PSConsoleReadLine.ReadLine` is a static method, but the operations are all around a singleton of `PSConsoleReadLine`. Reentry of the PSReadLine means corrupting the text buffer of the singleton and more, so it won't work.

Is it possible to identify that we are re-entering the `ReadLine` method? If so, how about use the old legacy readline in that rare scenario?

[2022-02-05 06:56] babysnakes commented on #3256
@andschwa , glad I could help. Let me know if there's anything else you want me to try.

[2022-02-05 09:03] ztrhgf commented on #2745
This seems to help, but to be sure I will test it for a longer period. Thanks anyway!

[2022-02-05 13:55] SeeminglyScience commented on #3751
Yeah even debugging outside of VSCode seems to fall apart in this scenario. We may want to consider automatically resuming in this case, and suggest debugging these scenarios be done via attach to process.

[2022-02-06 20:14] NeoXtreem opened #3812 "Adding invalid string-interpolated watch expression puts watch window in bad state"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-02-07 03:05] SeeminglyScience commented on #2745
@andschwa just a thought, we might want to look at using some heuristics to turn that off automatically in some workspaces. Ideally with an option to force it on always.

As much as I'd like to guide folks to smaller workspaces, an very high number of folks just want to open up all their stuff at the same time. To the point where if someone is talking about issues with intellisense on discord, hal

[2022-02-07 07:12] ztrhgf commented on #2745
(from my point of view) would be better to allow define folders that should
be searched. Or some sort of customizable solution.

Because it is very user friendly to have all your organization code at one
place and be able to search it at once etc.

Thanks in advance
Sebela

On Mon, Feb 7, 2022, 04:05 Patrick Meinecke ***@***.***>
wrote:

[2022-02-07 11:40] pilgi3 commented on #3078
Quite not happy with the preview.
I have installed the preview through .vsix file.
Then I disabled the stable version and enabled the preview.
Afterwards I restarted VSCode.
The script runs fine until I select one command and press F8. Nothing happens, the command did not run and pressing F5 did not work too.
I see the debug toolbar at the top but will be closed after a few minutes.
![grafik](http

[2022-02-07 11:42] MpresaFamDeveloper commented on #1536
I was running my app and my teammates suggested we upgrade to the latest version of flutter so that the app does not crash when it is integrated. right after I upgraded using CMD I got this error with the following code in it.
![image](https://user-images.githubusercontent.com/86482210/152781685-8588d93c-687e-4249-8948-67e75646fc53.png)

Error Description:

Exception:
System.ArgumentOutOfRangeExce

[2022-02-07 14:14] JustinGrote commented on #2745
@ztrhgf FYI that sparse checkout is also a thing:
https://git-scm.com/docs/git-sparse-checkout

[2022-02-07 14:28] JustinGrote commented on #3078
@pilgi3 the preview has a complete rewrite of the core pipelining engine to help make things faster and more stable. The core of it is stable but there may be many new edge cases here and there we are working to smooth over as a result of such a huge change.

Can you provide some more specifics? Run Selection (F8) works just fine for me on selecting a line in a script and having it run in the PSIC

[2022-02-07 14:50] JustinGrote commented on #1536
@MpresaFamDeveloper I don't think what you're seeing is related to this issue, did you just come here via Google? This is for the Visual Studio Code Powershell Extension.

[2022-02-07 15:20] ztrhgf commented on #2745
I see. Unfortunately, it is of no use for us because we have a custom CICD solution that requires all data to be locally available. But thanks for the tip anyway!

I will test this further, but so far it seems that setting
[code]

when combined with the Preview version of the PowerShell extension helped a lot. It is definitely not perfect but is usable.

[2022-02-07 20:16] SydneyhSmith commented on #3691
@andschwa I can reproduce this on latest preview, although I wonder if there's a chance the other host work you have done will cause the command to return--if I have time I'll test on lastest build

[2022-02-08 22:46] andschwa commented on #3655
@JustinGrote Sooo upon digging, the logic around this hasn't changed in [two years](https://github.com/PowerShell/PowerShellEditorServices/blob/1cf808f973c845e894ab2b575baa4fd24810a90b/src/PowerShellEditorServices/Services/DebugAdapter/Handlers/ConfigurationDoneHandler.cs#L103-L125)...

[2022-02-08 23:32] andschwa commented on #3655
This is super broken in general. Might punt from the next stable release because it was already broken.

[2022-02-08 23:48] andschwa commented on #3655
@JustinGrote Can you verify that your scenario is just as broken in the stable channel too?

[2022-02-09 00:29] JustinGrote commented on #3655
@andschwa haven't verified but I do know that the new `Powershell: Run` seems to work on unsaved files just fine, so that's a good enough workaround to punt to the next "sprint"

[2022-02-09 00:32] andschwa commented on #3655
I have a stashed change that definitely makes your scenario work _better_ with respect to running the untitled script as `. {<contents>} <args>` without shifting the args array around with the hack..._but_ this breaks debugging it (as in, any set breakpoints don't work because they're set on lines that aren't actually being run). The current hack (it's literally labeled "hack") is just untenable.

[2022-02-09 00:33] andschwa commented on #3655
@JamesWTruher is ruminating on potential solutions for us 😄

[2022-02-09 01:05] andschwa commented on #3770
So I dug into this a bit and...my conclusion is that we can't support multiple arguments via `specifyScriptArgs` any more because of an upstream [VS Code](https://github.com/PowerShell/vscode-powershell/issues/1315) change in [2018](https://github.com/PowerShell/vscode-powershell/pull/1317). The command can _only_ return a string, which means that when specified in `launch.json` as `"args": ["{com

[2022-02-09 16:27] pinkylabs commented on #2092
I was looking into the same issues and noticed that it (above mentioned script) seems it scans all over the hard drives on places I even forgot they exist ;) Maybe 'we must resolve file paths' step is what I'm hitting into. The memory ends up around 600M on the scan is completed. As soon as I start a dummy script in the editor the scanning starts again. (Observing with Sysinternal's ProcessMonitor

[2022-02-09 19:24] andschwa commented on #3751
Hey @fsackur, I can no longer reproduce this with the latest preview, and we fixed some issues around when to display the prompt in https://github.com/PowerShell/PowerShellEditorServices/pull/1690. Can you please verify that this no longer reproduces with [v2022.2.0-preview](https://github.com/PowerShell/vscode-powershell/releases/tag/v2022.2.0-preview)?

[2022-02-09 19:27] andschwa commented on #3256
Ditto https://github.com/PowerShell/vscode-powershell/issues/3751#issuecomment-1034113288 @babysnakes and @JustinGrote. Can you try again?

[2022-02-09 20:28] andschwa commented on #3256
Marking as fixed, if it _does_ still repro, please let me know, and re-open it!

[2022-02-09 20:29] andschwa commented on #3751
Marking as fixed, if it _does_ still repro, please let me know, and re-open it!

[2022-02-09 22:00] #3256 closed

[2022-02-09 23:43] StevenBucher98 commented on #3812
Thanks for opening this issue @NeoXtreem! Is this currently breaking any workflows for you?

[2022-02-09 23:45] andschwa commented on #3807
I can repro this. Any thoughts on how to fix?

[2022-02-10 05:36] pilgi3 commented on #3078
I will try to capture the issues to give you more informations.

[2022-02-10 16:19] csandfeld opened #3820 "`Get-Credential` throws exception instead of prompting for input in PowerShell 5.1"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-02-10 17:59] andschwa commented on #3256
Yes, that version of the [PowerShell Preview extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) is what I tested. It has the fix I mentioned (https://github.com/PowerShell/PowerShellEditorServices/pull/1690) and I can no longer repro your bug report (where I could previously).

[2022-02-10 19:20] babysnakes commented on #3256
@andschwa, here's the output from the debugging completion terminal. It's similar to before. Note that the current state of debugging completion script is good enough for me. I don't need the output to be printed to the console:

[code]

[2022-02-10 20:29] andschwa commented on #3256
@babysnakes Can you share the script you're debugging that's causing that?

[2022-02-10 20:43] andschwa commented on #3256
<img width="1769" alt="Screen Shot 2022-02-10 at 12 43 07 PM" src="https://user-images.githubusercontent.com/2226434/153493193-0aa18bee-3da7-4478-b906-a5e23680105f.png">

Working fine so far.

[2022-02-10 20:45] andschwa commented on #3256
Ah ha, on pressing Continue it errors:

[code]

[2022-02-10 21:04] babysnakes commented on #3256
@andschwa yeah, sorry, I didn't explain myself correctly ...

[2022-02-10 21:07] andschwa commented on #3256
No worries! That's why it's helpful to have enough repro info for me to step through it all. This helps narrow it down. I'll get a debugger attached and see what's happening when I press "Continue" that ReadLine barfs.

[2022-02-10 21:18] StevenBucher98 opened #3821 "`ContentViewTest.ps1` example broken"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-02-10 21:30] SteveL-MSFT commented on #3821
Found this old post when this feature was introduced.  The examples don't work in stable nor preview:

https://www.reddit.com/r/PowerShell/comments/6imtps/just_released_powershell_for_vs_code_140_with_new/

[2022-02-10 21:40] StevenBucher98 commented on #3821
[code]

[2022-02-10 22:31] StevenBucher98 opened #3822 "Have the Stable extension disable itself if it notices the preview extension installed"
### Summary of the new feature / enhancement

If a user has installed the preview extension, the stable version should disable itself as to avoid any conflicts and issues with having both extensions enabled.

### Proposed technical implementation details (optional)

_No response_

[2022-02-10 22:53] StevenBucher98 commented on #3822
Oops put in wrong repo

[2022-02-11 13:39] bucmic commented on #3741
I would like to know how Microsoft will solve this issue. Will the certificate be installed by any future VS Code installer? It's no very practicable for every user to import the certificate from the module file into the Trusted Publisher store manually.

[2022-02-11 13:50] bucmic opened #3823 "Addition to #3741 - Microsoft Code Signing PCA certificate not installed by VS Code installer"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-02-11 18:06] andschwa commented on #3741
@bucmic you are running on with an explicit `AllSigned` policy, it is up to you to manage your certificate trust. Trusting the certificate _for you_ in an installer would defeat the purpose of the `AllSigned` policy. You should evaluate if that's a policy you actually want enforced on your system considering the trouble it's giving you.

[2022-02-11 18:09] andschwa commented on #3823
You are running on with an explicit AllSigned policy, it is up to you to manage your certificate trust. Trusting the certificate for you in an installer would defeat the purpose of the AllSigned policy. You should evaluate if that's a policy you actually want enforced on your system considering the trouble it's giving you.

This repository is for the PowerShell _extension_ for VS Code. Please see

[2022-02-11 18:37] andschwa commented on #3770
After reviewing the existing examples, while we think we should document that the expect usage is `["an", "array", "of", "string", "args"]` (which is the schema for `launch.json` and is what e.g. the Python extension documents) we're going to revert the change made last November to "helpfully" add quotes around arguments with spaces in them. This will allow a `["string space separated string with

[2022-02-11 18:46] StevenBucher98 opened #3825 "PSES Additional Telemetry for Preformance Metrics"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

In order to help improve the stability of the extention, having telemetry events for when PSES LSP is down would be helpful to know. An enumerated list of items that would

[2022-02-11 19:08] StevenBucher98 opened #3826 "Add Telemetry for command palette commands"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

It would be really interesing to know how many people use particular command palette (Ctrl+Shift+P) commands. This would help us idenfity which ones are the most important

[2022-02-12 19:49] fsackur commented on #3751
I do still see the issue in VS Code 1.64.2 with the PS Preview extension in the PS Integrated Terminal using PSv7.2.1:

[code]

However, in PSRL 2.2.1-rc1 in a "normal" terminal, I do not see the issue.

[2022-02-12 21:00] #3823 closed

[2022-02-13 23:33] itconsultingnc opened #3827 "Fail Starting Powershell - VS Code"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-02-14 10:29] csandfeld commented on #3822
I have both extensions installed, and tend to go back and forth between the two. Would be sweet if enabling one, would automatically disable the other if present, and vice versa.

[2022-02-14 16:23] JustinGrote commented on #3827
@itconsultingnc it looks like you have both the stable and preview extensions installed simultaneously, can you try running preview extension only?

[2022-02-14 21:23] itconsultingnc commented on #3827
Hi ,
I have tested uninstall the preview one, restarting vs code => Same error
then, have tested uninstall Powershell 2021.12.0 and reinstalled the preview one, restarting s code = > same error
Uninstalled both version, restart vs code, reinstall Powershell 2021.12.0 , restart vs code => same error.
ISE is working well, whatever powershell  version is installed.

thank you for your advise.

[2022-02-14 23:18] JustinGrote commented on #3827
Have you tried it in a fresh session with no profile, or tried doing an isolated vscode install by downloading the zip, extracting it, and placing a "data" folder in the resulting extraction?

I can't reproduce this on a fresh installation, so we need to know what's different about your environment that is triggering this.

[2022-02-14 23:25] itconsultingnc commented on #3827
Hi,
how can I launch a fresh session with no profile ?
I am downloading vs code zip file to try your second option.

[2022-02-14 23:46] itconsultingnc commented on #3827
Hi,
I have downloaded Zip File, extract it, add a "data" directory, launch Code.exe from the extracted directory.
I have installed the powershell extension, try to create a simple nex ps1 file, but again, same error occur.
There is the \VSCode-win32-x64-1.64.2\data\extensions\ms-vscode.powershell-2021.12.0 directory after installing powershell extension.

[2022-02-15 01:10] JustinGrote commented on #3827
![image](https://user-images.githubusercontent.com/15258962/153973503-12e217cc-b23b-4ef3-aaec-0fe70a6deb49.png)
This path indicated you are running in Azure Functions or Azure App Service?

[2022-02-15 01:58] itconsultingnc commented on #3827
I am not using Azure pipelines.
Just Using  Azure Functions Extensions.

[2022-02-15 14:05] JustinGrote commented on #3827
@itconsultingnc have you tried on a different computer? Can you potentially enable the PSES diagnostic logs and get a capture?
https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment

[2022-02-15 14:08] JustinGrote commented on #3822
This would ideally be solved by a unified marketplace entry with prerelease versions (https://github.com/PowerShell/vscode-powershell/issues/3716) but that's blocked on https://github.com/microsoft/vsmarketplace/issues/50 right now.

[2022-02-15 14:13] JustinGrote commented on #3716
@andschwa why is https://github.com/microsoft/vsmarketplace/issues/50? At least since the updated CI and the CalVer versioning, we don't use any semver suffixes in the published packages, and we only use 3 octets so if you wanted to clearly distinguish Preview from stable, the fourth octet could be used e.g. 2022.02.0.4

[2022-02-15 16:25] JustinGrote opened #3830 "Semantic Highlighting should recognize a function that doesn't follow noun-verb format if defined in the same document"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its

[2022-02-15 17:57] andschwa commented on #3716
We use `-preview` suffix for the preview releases, and that's explicitly what marks them as newer (and not stable), and is what their implementation seems to require as well.

[2022-02-15 19:20] itconsultingnc commented on #3827
Hi,
here are the 3 log file
[EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/8073974/EditorServices.log)
[StartEditorServices.log](https://github.com/PowerShell/vscode-powershell/files/8073975/StartEditorServices.log)
[vscode-powershell.log](https://github.com/PowerShell/vscode-powershell/files/8073976/vscode-powershell.log)

Thank you

[2022-02-15 21:09] JustinGrote commented on #3827
@andschwa @SeeminglyScience maybe something to do with the input/output encoding?
[code]

Only thing I can see as a possibility.

[2022-02-15 22:33] #3655 closed

[2022-02-15 22:34] andschwa commented on #3770
Fixed via https://github.com/PowerShell/PowerShellEditorServices/pull/1702.

[2022-02-15 22:34] #3770 closed

[2022-02-16 08:36] msgerneu commented on #2627
Is there a solution on the problem meanwhile?

[2022-02-16 09:32] PrzemyslawKlys opened #3831 "Display is heavily affected by progress bars"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I am sure this issue is with the _extension its