[2017-06-22 13:21] daviwil commented on #911
What version of PowerShell are you using?  If it's anything below PowerShell 6.0.0 alpha.18 then you'll need to upgrade because there was a breaking change in PowerShell.

[2017-06-22 13:36] daviwil commented on #905
By "code complete" do you mean tab completion or the IntelliSense UI popup that the ISE has in the console?  The former works, the later probably will not happen because the VS Code team would have to enable it.  The best you might get is PSReadline's completion menu that gets rendered in the console once we get PSReadline hooked up there.

[2017-06-22 13:37] daviwil commented on #913
Hey Tim, the window does actually appear, it just shows up **below** the VS Code window.  Try hitting Alt-Tab or looking in your taskbar, you'll find it.

Definitely need to fix the issue where it doesn't show up on top, though, I'll look into that for the next patch update.

[2017-06-22 13:40] daviwil commented on #894
Hmmm, I wonder if the CodeLens is causing it, VS Code may have a bug there.  I'll look into it!

[2017-06-22 13:43] daviwil commented on #734
Hey John, give this a shot after installing the 1.4.0 update and let us know if the issue is fixed for you now!

[2017-06-22 13:52] daviwil commented on #912
Thanks for filing this Dale, I think your assertion might be correct.  I'll look into fixing this for the next patch update!

[2017-06-22 13:53] daviwil commented on #910
Yep, passing stylesheets as a parameter is coming next!

[2017-06-22 13:58] daviwil commented on #909
Looks like `Write-Host -Object` accepts input from the pipeline so I'll make the `Write-VSCodeHtmlContentView` follow that same standard.  Thanks Stefan!

[2017-06-22 14:00] daviwil commented on #623
Ahhh, just saw this, added it in 1.3.0 :)  Closing for now, let me know if you find anything missing from that!

[2017-06-22 14:00] #623 closed

[2017-06-22 14:08] kamilkosek commented on #910
Hi Guys,
and what about JavaScript ?
I´ve played a little bit and removed the restriction from [here](https://github.com/PowerShell/vscode-powershell/blob/master/src/features/CustomViews.ts#L182) and embedded some JavaScript to achieve a 'Out-GridView' like behaviour
![20170622_160401](https://user-images.githubusercontent.com/3264948/27438293-0d23e8c8-5765-11e7-9351-4f5fbc24c00c.gif)

[2017-06-22 14:13] jbruett commented on #734
Will do. Might be a couple days as I'm on vaca right now. Will let you know
as soon as I can give it a spin.

On Jun 22, 2017 9:43 AM, "David Wilson" <notifications@github.com> wrote:

[2017-06-22 14:14] daviwil commented on #908
Wow!  That's one I haven't seen before.  I think this is due to how we're scanning your workspace's .ps[m]1 files to find function references.  Is the number of files in your workspace particularly large?

For some reason the implementation of System.IO.Directory.EnumerateFiles on *NIX machines is triggering Linux's ulimit setting for maximum open file handles:

https://github.com/dotnet/corefx/is

[2017-06-22 14:16] daviwil commented on #746
@johnbeh I'd like to take a look at this issue soon, could you capture and attach (or send via email) your logs so that I can take a look?

https://github.com/PowerShell/vscode-powershell#reporting-problems

[2017-06-22 14:18] daviwil commented on #910
That's awesome Kamil :)  Yes, I'll be adding the ability to pass JavaScript paths too!  Just needed to enable it in a fairly secure way (no dynamic loading of JavaSscript from files on disk).  There's a way I can set it up to work with that content policy so that we get the best of both worlds.

[2017-06-22 14:22] steviecoaster commented on #911
That could very well be the issue. I've not updated my version of PS on my Mac in a while. It's 6.0, but not sure that it is to that rev.

[2017-06-22 14:24] daviwil commented on #911
Yep, upgrade to beta.2 and let me know if things start working for you!

[2017-06-22 14:24] daviwil commented on #734
No rush, enjoy your vacation man!

[2017-06-22 14:29] kamilkosek commented on #910
Thanks :)
And the absolute cherry on the cake would be if there were be an ability to trigger events from the ContentView to communicate with the LanguageServer  😈

[2017-06-22 14:40] rainerklier commented on #908
what is the workspace?
the folder, where all my source .ps1and .psm1 files are?
if yes, then no, it is not large.
the number of files in my workspace is 8 files and one folder. and in this folder there are 14 files.
and the ulimit for my user is `unlimited`.
if i call `ulimit` the result ist `unlimited`.

[2017-06-22 14:44] daviwil commented on #908
Interesting...  If your ulimit is unlimited then you shouldn't be hitting this.

Do you have a folder open in VS Code or just a single file?  If you have a folder open, that's what I mean by "workspace".

[2017-06-22 14:50] daviwil commented on #551
Ok, I have come up with a way to fix this.  VS Code provides a command called `workbench.action.terminal.clear` which clears the terminal output correctly.  I just need to wire up Clear-Host command so that it ultimately invokes that command in VS Code.  Will get this fixed for the next release!

[2017-06-22 14:53] rainerklier commented on #908
ah, ok.
on the left top side of the VS Code window i see al list of all open files.
on the left bottom side of the VS Code window i see my home-directory, which has of course many files.
i checked, and my home-dir all in all has 683122 files, which is a lot.
how can i force VS Code to have only my development folder open on this left bottom side?
i didn't find a solution to tell VS Code to open on

[2017-06-22 14:56] daviwil commented on #908
`File -> Open Folder`, you can pick your specific development folder this way.  The model for VS Code is that you use "Open Folder" to open the specific folder where the files for your project live, that's how it determines your "workspace" which basically equates to your "project".

[2017-06-22 15:00] rainerklier commented on #908
thanks.
this lets me test, if it helps to have only the dev folder open on the left side of the window.

[2017-06-22 15:01] daviwil commented on #910
Yep, this will ultimately be possible through PSES "editor commands" but we need to make it possible to send them parameters first.

VS Code allows you to invoke commands registered in the editor (like PSES editor commands) from within this HTML view, you just need to encode URIs in a certain way:

https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands#_links

Not sure if there's a wa

[2017-06-22 15:12] General-Gouda opened #914 "Error Parser getting stuck even after code corrected"
### System Details
[code]

### Issue Description

VSCode error parser got stuck showing an error on a piece of code that had been corrected. Would not clear until after VSCode was closed/reopened.

![2017-06-22_11-04-48](https://user-images.githubusercontent.com/16738800/27441471-a73efb52-573b-11e7-91b1-20d065f1aada.gif)

[2017-06-22 15:16] daviwil commented on #914
Thanks Matt!  I've seen this one too, will investigate.

[2017-06-22 15:28] rainerklier commented on #908
at least i am now able to use version 1.4.0 of ms-vscode.PowerShell.
up to now, even this latest version didn't crash.
before, 1.4.0 crashed immediatelly.
so it seems, that it really has something to do with the files section on the left side of the window.
so, it seems, we at least found a workaround.... ;-)

[2017-06-22 15:39] stefanstranger commented on #909
Thank you David.

[2017-06-22 16:32] The-IT-Guy commented on #905
Hi David,
thanks for your reply. I'm talking about the IntelliSense popup menu in ISE. Sad that won't work anytime soon 😞
Do you have any info on when PSReadline is going to be supported?

- Fabian

[2017-06-22 18:06] daviwil commented on #908
Glad to hear it's working for you now!  I'll fix the crashing issue so that this doesn't happen for someone else :)

[2017-06-22 19:11] tmmuessig commented on #913
That is where my problem was. I never saw it come up.

Thanks for the update.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: David Wilson <notifications@github.com>
Sent: Thursday, June 22, 2017 8:37:41 AM
To: PowerShell/vscode-powershell
Cc: Tim; Author
Subject: Re: [PowerShell/vscode-powershell] Help ShowWindow (#913)

Hey Tim, the window does actually appear,

[2017-06-22 19:43] steviecoaster commented on #911
Updated when I ran home for lunch. Can confirm it's fixed running beta 2. Thanks!

[2017-06-22 21:26] kamilkosek commented on #910
Cool :)
I just tested it, you don´t need to encode the command with encodeURI() if you a invoke a parameterless command.
I assume with

you mean that we need to register a new vscode.command, maybe _PowerShell.InvokeEditorCommand_ which accepts the desired command-name as a parameter and then invoke the command on the LanguageServer through the LanguageClient?

[2017-06-22 22:57] kamilkosek opened #916 "Opened HTML-Content causes PowerShell.ShowAdditionalCommands failing"
Hi,
when you have an opened HTMLContent View you have to re-register you EditorCommands in order to make them available. I don´t know if this issue is PSES or vscode-powershell related
![20170623_005218](https://user-images.githubusercontent.com/3264948/27459490-cdb1a08c-57ae-11e7-8469-e5147779e3d2.gif)

[2017-06-22 23:13] kamilkosek opened #917 "Implement new vscode-command : PowerShell.InvokeRegisteredEditorCommand"
Changes are very simple , but for now it´s enough to play around 😄
[https://github.com/kamilkosek/vscode-powershell/tree/HTMLContentViewPlayground](https://github.com/kamilkosek/vscode-powershell/tree/HTMLContentViewPlayground)
[Test Script](https://gist.github.com/kamilkosek/c9e0c9851b50fc8198c38c836cabf656)
Note: This only works if the content view [accepts JavaScript ](https://github.com/kamilk

[2017-06-23 03:28] johnbeh commented on #746
Sorry not to have commented earlier.
In recent days I have **not** been able to reproduce this.
I **think** it was related to the issue of "long running formatting" which has been raised by other people and has been solved.
Part of the problem is that I am a complete novice with VSCode and didn't realise what the system was doing at the time.

Just as an aside - I am very pleased and grateful for

[2017-06-23 13:07] kunaludapi opened #918 "Debug adapter process has terminated unexpectedly"
I getting error after upgrading after upgrading latest VScode-Powershell. Debug adapter process has terminated unexpectedly

      Operating system details:

        Version: Microsoft Windows NT 6.3.9600.0
        Arch:    64-bit

6/23/2017 6:31:56 PM [NORMAL] - Method "StartLanguageService" at line 180 of C:\projects\powershelleditorservices\src\PowerShellEditorServices.Host\EditorServicesHost.c

[2017-06-23 13:26] daviwil commented on #918
Based on what I see here, the code is crashing on a file path.  Can you tell me the path of the file you're trying to debug?  Alternatively, turn on Verbose logging so that we can see more details about what's happening:

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2017-06-23 13:46] daviwil commented on #917
Would you like to send the InvokeRegisteredEditorCommand as a PR too?  If you can leave the JavaScript enabling commit out then I'll add that part next week :)

[2017-06-23 13:47] daviwil commented on #916
Weird, not sure why that's happening.  I'll look into it!

[2017-06-23 13:48] daviwil commented on #911
Thanks for confirming Stephen!  I'll close this one now.

[2017-06-23 13:48] #911 closed

[2017-06-23 13:49] daviwil commented on #746
Thanks for the kind words John, glad the issue has been resolved for you!  Let us know if you see anything similar again :)

[2017-06-23 13:49] #746 closed

[2017-06-23 13:51] kamilkosek commented on #917
Sure, but since I´m new to 'Contributing to public GitHub Repo´s' i need to figure out how to that commit out 😆

[2017-06-23 14:02] kunaludapi commented on #918
My scripts are located in below location C:\scripts\Final\SplattingFromFile, There is some issue uploading zip file, Please bare with me, I am copy pasting logs here. Just to mentioned I found I don't have C:\Projects folder on my machine as per the logs.

**DebugAdapter.Log**
Session file path: C:\Users\vKunal\.vscode\extensions\ms-vscode.powershell-1.4.1\sessions\PSES-VSCode-4308-Debug, pid: 260

[2017-06-23 14:28] kamilkosek commented on #917
Maybe we will have someday a convenient way to achieve something like this:
![20170623_162522](https://user-images.githubusercontent.com/3264948/27486464-f1cc1c04-5830-11e7-958b-553fbe74b09c.gif)

I ❤️ GIF´s

[2017-06-23 14:42] daviwil commented on #917
Love the GIF!  Really cool to see everything hooked up end to end.  We can definitely look for ways to make it easier to build tool UIs, the [PowerShellEditorServices.VSCode](https://github.com/PowerShell/PowerShellEditorServices/tree/master/module/PowerShellEditorServices.VSCode) module might be a good place for that.

Fixed with PR #919

[2017-06-23 14:42] #917 closed

[2017-06-23 17:14] kamilkosek opened #920 "Colliding key shortcuts: Open in ISE & Toggle Developer Tools"
Both use Ctrl + Shift + i

[2017-06-23 17:18] daviwil commented on #920
We've been using Shift+Alt to replace old keybindings that clash, maybe that's a good way to fix this one too. Would you like to send a PR for that? Should be a one-liner, just change package.json :)

[2017-06-23 17:18] rkeithhill commented on #920
<kbd>Ctrl+Shift+i</kbd> is not a VSCode shortcut but an Electron shortcut for the dev tools.  Does F12 open the dev tools?

[2017-06-23 19:03] chuanjiao10 opened #921 "powershell.codeFormatting.preset bug"
Steps to reproduce
------------------
1 powershell.codeFormatting.preset = Stroustrup  or Allman
2 in the foreach or function.
3 "editor.insertSpaces": false, "editor.tabSize": 4
4 Has an impact on the contents of the try keyword
[code]

[2017-06-23 20:21] rkeithhill commented on #920
Nevermind on <kbd>F12</kbd>. That is specific to another Electron app I work on.  For now <kbd>Crtl+Shift+i</kbd> still works if you use it before the PowerShell extension gets loaded.  But yeah, that is annoying if you need the dev tools.

[2017-06-23 21:23] jkavanagh58 commented on #898
I will work with it but the Register-EditorCommand does not seem to work for me.

[2017-06-24 08:42] kamilkosek commented on #920
F12 goes to definition 😄
Didn´t know its electron related.

[2017-06-24 13:20] PowerSchill commented on #898
@pcgeek86 I am going to see if I can add this to the PowerShellEditorServices code. Do you mind if I use your splatting module's code?

[2017-06-24 14:04] bgelens commented on #856
I got this in 1.4.1 again (regression?)

![2017-06-24_16-02-18](https://user-images.githubusercontent.com/10071039/27509146-beedc604-58f6-11e7-914d-70f69487d40a.png)

[2017-06-24 14:33] kunaludapi commented on #918
@daviwil is there any update

[2017-06-24 14:52] #920 closed

[2017-06-25 10:03] mrboring commented on #872
@Josverl Thanks, I was just going to create an issue for this.

$pseditor.EditorServicesVersion

Major  Minor  Build  Revision
-----  -----  -----  --------
1      4      1      0

[DBG]: > code --list-extensions --show-versions
ajhyndman.jslint@1.2.1
dbaeumer.vscode-eslint@1.2.11
dkundel.vscode-new-file@3.1.0
eg2.tslint@0.15.0
emmanuelbeziat.vscode-great-icons@2.1.8
HookyQR.beautify@1.1.1
ms-vsco

[2017-06-25 20:26] rkeithhill commented on #162
I think something might have changed WRT completion list sorting in VSCode particularly when there is no text to the left of where list appears.  In the case above there's a space (not a `.` or `-` or `::`).   See https://github.com/Microsoft/vscode/issues/26096#issuecomment-299833097

[2017-06-25 23:23] BenCamareno commented on #887
I'm having the same problem with all my modules.
References seem to start loading then PowerShell exits.

This happens in both VSCode and VSCode Insiders.

What's the setting to disable references in the User Settings?
I love that option but would like to disable it until it's fixed. :)

`[9:9:54] Language server starting...
powershell.exe started --
    pid: 9844
    exe: C:\windows\Sysnative\Win

[2017-06-26 03:38] rkeithhill commented on #872
PR is on the way.  Hopefully will make it into the next drop.

[2017-06-26 10:00] kamilkosek opened #923 "Add the ability to pass parameters to 'Registered-EditorCommand' from HTMLContentView"
Passing parameters would give us more possibilities regarding UI tooling.
I´ve tried some ways to achieve it as you can see [here](https://github.com/kamilkosek/PowerShellEditorServices/commit/b10db0cf0ece4a2f535699b7afade542e8835b9d) and [here](https://github.com/kamilkosek/vscode-powershell/commit/0e63be104abc5a3254caf63839fa447bbba7b5a7). For this to work, JavaScript ([vscode-powershell #910](h

[2017-06-26 19:27] davebrannan commented on #888
Hi Dave. To reply to your comment above. When I'm debugging every time I hit a breakpoint, or step through, the cursor always jumps into the code and not the console (which you say it should), Means I always end up overwriting my code when I'm trying to type in the console! Is this known or expected?

[2017-06-26 20:31] Bill-Stewart opened #924 "Disable "n reference(s)" display for functions"
Is there a way to turn this off? Thanks!

[2017-06-26 20:36] yobyot commented on #738
Hi.

My symptoms have changed! Now, when debugging a PowerShell script on macOS in vscode 1.13.1 and PowerShell module 1.4.1 on beta 3 of PowerShell six, the first couple of step-ins execute. Then everything just hangs. It's usually after an `Import-Module AWSPowerShell.NetCore`, which is the latest version at 3.3.113.0.

What could I attach to this problem to help debug this issue? It's really th

[2017-06-26 20:37] yobyot commented on #738
Inadvertently closed by hitting the wrong button. ;-)

[2017-06-26 20:43] kapilmb commented on #921
@chuanjiao10 I am sorry but I do not understand the issue that you have raised. Can you please give more information? For example, the following:
- the text before formatting
- the text after formatting
- code formatting settings
- vscode version
- powershell extension version
- powershell version
- OS

[2017-06-26 20:46] rkeithhill commented on #921
In fact, it would be handy if you could run the `Toggle Render Whitespace` command so that the whitespace is visible.  Then paste screen shots of the code before/after formatting with the whitespace visible.

[2017-06-26 20:51] daviwil commented on #924
Not currently, but I'll add a setting for it.

[2017-06-26 20:55] rkeithhill commented on #924
@Bill-Stewart If you want to turn off **all** code lens support in PowerShell scripts, then you can do that now with your user settings.  Press <kbd>Ctrl+,</kbd> and add this to the end e.g.:
[code]

[2017-06-26 20:55] daviwil commented on #888
@davebrannan this is unavoidable at the moment. VS Code doesn't let me change the focus behavior when stepping, they always pop focus back to the editor.  I could do a workaround that forces the cursor to go back to the console but there'd be a split second where the cursor would be jumping back to the editor anyway.

I filed an issue against VS Code to provide me a way to control the focus behavi

[2017-06-26 21:04] daviwil commented on #924
Thanks Keith!  Didn't know there was a switch at the editor level :)

[2017-06-26 21:06] Bill-Stewart commented on #924
Thanks @rkeithhill - I don't want to disable all of code lens - just the references thing on functions that takes up vertical screen real-estate and creates a strange editing experience (weird line height on function lines).

[2017-06-26 21:07] Bill-Stewart commented on #924
Thanks @daviwil - If we can turn off that display, that would be great!

[2017-06-26 23:00] rkeithhill commented on #924
So does that mean you want the `Run Tests | Debug Tests` code lens disabled as well?  These take up vertical screen real-estate.  Just trying to understand the ask because the extension adds more than one type of code lens (function references and Pester test run/debug support).

Do you mean for PowerShell or for all languages?  If you meant "all languages" then the setting I showed above disables

[2017-06-26 23:56] daviwil commented on #914
Hey Matt, do you find that you can reproduce this issue reliably or does it only happen in random cases?  I'm having a hard time reproducing it reliably.

[2017-06-27 00:38] mattmcnabb commented on #914
I can chime in as well - I've seen this, and so far it appears to be totally random. However, I didn't have to close the editor - I could edit the line containing the marker (add a space, etc.) and this would clear the violation.

[2017-06-27 01:38] rkeithhill commented on #872
Fixed by https://github.com/PowerShell/PowerShellEditorServices/pull/534

[2017-06-27 01:38] #872 closed

[2017-06-27 03:26] pcgeek86 commented on #898
@PowerSchill  Go or it :)

[2017-06-27 08:54] chuanjiao10 commented on #921
•code formatting settings
{
	"editor.fontFamily": "Microsoft YaHei Mono",
	"editor.fontWeight": "bold",
	"editor.fontSize": 25,
	"editor.insertSpaces": false,
	"editor.tabSize": 4,
	"editor.formatOnSave": true,
	"files.insertFinalNewline": true,
	"files.trimTrailingWhitespace": true,
	"powershell.codeFormatting.preset": "Allman",
	"workbench.colorTheme": "Monokai",
	"editor.renderWhitespace": "all

[2017-06-27 13:29] Bill-Stewart commented on #924
I meant that the part that says "n reference(s)" under the function name. It creates distracting screen jumping when cursoring past them up or down, particularly in RDP (and I use vs code in RDP quite a bit).

[2017-06-27 13:38] daviwil commented on #924
If you use the setting that Keith gave you, those things will disappear.  Keith was referring to another set of those items that show up over Pester tests, but you probably wouldn't want to see those either since they would take up the same screen real estate.  I'd say using Keith's setting would be the most expedient approach to disable them right now until we can add one to the extension.

[2017-06-27 13:45] Bill-Stewart commented on #924
Sure, that workaround is fine for now. Thanks!

[2017-06-27 14:05] mattmcnabb commented on #924
See this [feature request for VSCode](https://github.com/Microsoft/vscode/issues/26204)

I love CodeLens, but I wish that it offered a different way to display the markers - it does feel a bit clumsy sometimes when these things interrupt your code's visual flow.

[2017-06-27 14:33] General-Gouda commented on #914
It does appear for me pretty randomly and it certainly isn't consistent on its timing. I can say that I see it most often within hash tables or custom object building where the key/value pairs are between curly braces. Can't say I've seen it too much outside of that.

[2017-06-27 15:06] wsmelton opened #925 "createTemporaryIntegratedConsole in Interactive Debug session does not catch breakpoints"
### Issue Description

Modifying my debug configuration for the interactive to include `"createTemporaryIntegratedConsole": true` and it does not acknowledge breakpoints.

### Steps to Replicate
Add that setting to my configuration:
[code]
Add breakpoints to the psm1 file of my module.
Select that configuration in debug side bar.
Then start debug session.
Session does start, as status bar goes org

[2017-06-27 17:59] jontreynes opened #926 "Integrated Terminal can't interact with Azure API"
### System Details

- Operating system name and version:
- VS Code version: 1.13.1
- PowerShell extension version:
ms-vscode.PowerShell@1.4.1
msazurermtools.azurerm-vscode-tools@0.3.5
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.15063.413
PSEdition                      Desktop
PSCompatibleVersions

[2017-06-27 18:50] jbruett commented on #734
David,

Finally back in the swing of things and I got a chance to check this out.
Works as expected.  Thanks again for getting back to me directly (totally
not necessary) and for all you're doing to make the PS plugin/VS Code
awesome!

-- John

On Thu, Jun 22, 2017 at 10:24 AM, David Wilson <notifications@github.com>
wrote:

[2017-06-27 20:27] kapilmb commented on #921
@chuanjiao10 Thanks for the details. This is a bug. We will get it fixed.

[2017-06-28 09:16] atiedemann opened #927 "Powershell extension intellisense not came up"
Hello @All,

I'm working with vscode to script my Power Shell scripts but the last days my intellisense of Cmdlets or parameters are not working.

I type import-cs and wait until 30 seconds and nothing comes up.
The same way with parameters....

If I completly remove the extension Powershell 1.4.1 than intellisense are working fine but than not Script Analyser is present and so on. :-(

I check th

[2017-06-28 13:55] mattmcnabb opened #928 "Pester CodeLens Isn't Triggered When Describe is Module-Qualified"
When I use the module-qualified command name `Pester\Describe`, the Code Lens for running tests is not triggered:

![image](https://user-images.githubusercontent.com/6998507/27640553-a2927a10-5be7-11e7-9777-dd0ae2cbe6ee.png)

### System Details
[code]

[2017-06-28 14:11] daviwil commented on #927
Strangely I don't see any IntelliSense requests getting sent from the extension.  During the session that you sent the logs for, did you try using Ctrl+Space in the file buffer?

[2017-06-28 14:12] daviwil commented on #928
Didn't expect that one, thanks!

[2017-06-28 14:14] daviwil commented on #926
The window is there, hit Alt+Tab and you'll see it.  Closing as a duplicate of issue #541

[2017-06-28 14:14] #926 closed

[2017-06-28 14:15] daviwil commented on #925
Thanks Shawn!  I'll take a look.

[2017-06-28 14:17] daviwil commented on #923
Yep, we definitely need a way to do that.

[2017-06-28 14:21] daviwil commented on #734
No problem at all, glad to hear it's fixed for you now!

[2017-06-28 14:21] #734 closed

[2017-06-28 14:23] daviwil commented on #872
This will come out in a patch update over the next few days.  Thanks Keith!

[2017-06-28 16:08] atiedemann commented on #927
Hi David,

Yes of curse! After I press CTRL+Space I wait several seconds (>=30) and nothin happens.
Thanks
Arne

Gesendet von meinem Windows 10 Phone

Von: David Wilson<mailto:notifications@github.com>
Gesendet: Mittwoch, 28. Juni 2017 16:22
An: PowerShell/vscode-powershell<mailto:vscode-powershell@noreply.github.com>
Cc: Arne Tiedemann<mailto:arne.tiedemann@tiedemanns.info>; Author<mailto:author@

[2017-06-28 17:06] daviwil commented on #927
Does this happen in any file you try it in or only in a specific file?  What if you create a new .ps1 file and try typing inside of it?  Just trying to rule out any issues with the specific file or workspace you're working in.

[2017-06-28 17:58] atiedemann commented on #927
Hi David,

yes this is exacly the same way on each machine.
But when I create a blank file all is fine until I have code of 50 lines.

I think it is depended on ScriptAnalyser because when I resolve any recommandations from Script analyser Intellisense works better but not really fast. If I have from the view of Script analyser a clean Code intellisense need two seconds to display.

In an absolutl

[2017-06-28 18:21] rkeithhill opened #929 "powershellExePath setting not accepting full path with env var"
### System Details

- Operating system name and version: Windows 10 CU
- VS Code version: 1.13.1
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`: 5.1.15063.447

### Issue Description
I've set the powershellExePath setting to run a local build using a full path that uses a vscode env var and the extension appears to be trying to use that as a relative path:
[code]
Note it work

[2017-06-28 20:39] anwather opened #930 "PowerShell Integrated Console not displaying prompt"
### System Details

- Operating system name and version: Windows 10 Version 16226
- VS Code version: 1.13.1
- PowerShell extension version:v1.4.1
[code]
ms-vscode.PowerShell@1.4.1
### Issue Description

When Code launches the PowerShell Integrated terminal is displayed as in the attached image. The prompt never appears.

### Attached Logs

Image of issue attached.
![snip_20170629083734](https://us

[2017-06-29 07:03] quicknclever commented on #689
Thanks!  Redirecting the VSCode_profile to also load my Powershell_profile is exactly what I was looking for and works fine for me. One line of code to maintain. I prefer the separation so that if there are any debugging preferences that I want to add in the integrated profile, it doesn't affect my main shell. Nice!

[2017-06-29 10:49] PrateekKumarSingh commented on #885
Observing the same issue.

[2017-06-30 09:28] coendewit commented on #927
Same here on both of my machines. I tried deinstalling the extension, deinstalling VS Code, deinstalling VS Code and deleting extension folder.

Code analyzer works, but intellisense and go to definition do not.

### Logging
[vscode-powershell.zip](https://github.com/PowerShell/vscode-powershell/files/1114688/vscode-powershell.zip)

### $psversiontable:
Name | Value
---- | -----
PSVersion | 5.0.10

[2017-06-30 10:49] coendewit commented on #927
Just confirming that the powershell project causes the failure. Opening just a subfolder of the project solves the problem.

[2017-06-30 17:26] glaisne opened #932 "Feature Request: Intellisense for DSC (just like ISE)"
I was a bit surprised it wasn't already there. I think adding the Intellisense features for DSC in the PowerShell extension would be a great addition.

Example:
[code]
or
[code]

Gene

[2017-06-30 18:22] daviwil commented on #932
Hey Gene,

IntelliSense already works for DSC configurations:

![image](https://user-images.githubusercontent.com/79405/27748899-1354fb8e-5d86-11e7-931a-6473599c4848.png)

![image](https://user-images.githubusercontent.com/79405/27748929-322118fe-5d86-11e7-9f0a-42b989383f25.png)

Can you tell me exactly the steps you took where the DSC IntelliSense didn't work?  Providing logs from a session where

[2017-07-01 08:31] bgelens opened #933 "Project formatting settings not honored when codeFormatting.preset is set in user settings"
### System Details
[code]

### Issue Description

We are making an [effort](https://github.com/PowerShell/DscResources/issues/284) to ship vscode settings containing PowerShell formatting rules with the Dsc Resource Kit repos so we will have an easy fix available for contributors.

It turns out that if you have the ```codeFormatting.preset``` set in the user settings, the individual rules in the w

[2017-07-01 09:41] bgelens opened #934 "Begin, Process, End opening brace is not properly placed during formatting"
### System Details
[code]

### Issue Description

Begin, process, end are not put on new lines when ```"powershell.codeFormatting.preset": "Allman"``` or ```"powershell.codeFormatting.openBraceOnSameLine": false```

Example code:

[code]

[2017-07-01 09:42] bgelens commented on #933
I see we just have to add ```"powershell.codeFormatting.preset": "Custom"``` to our set. Raised the issue too early 😄

[2017-07-01 09:42] #933 closed

[2017-07-01 18:32] dpo007 commented on #930
I'm experiencing exactly the same thing. Only difference is my Win10 build is currently 16193.1001.

[2017-07-01 19:15] bgelens commented on #930
Same as #742 Temporary workaround is explained in that issue

[2017-07-03 10:44] wathnai commented on #452
Hi guys,

Same error here Vs Code version 1.13.1 and Powershell 1.4.1. i tried to reinstall but unsuccessful.

[2017-07-03 14:59] AspenForester commented on #594
Is this in the same realm as $host.PrivateData.ErrorForegroundColor?
For a standard PS Console, I like to set $host.PrivateData.ErrorForegroundColor = [System.ConsoleColor]::Green

I've added "workbench.colorCustomizations":{"errorForeground":"#008000"} to settings.json, but that doesn't seem to apply to the integrated console, which continues to display errors in red.

[2017-07-03 16:25] Glober777 opened #935 "Add support for updating VSCode via Install-VSCode PS Script"
It would be really great if the Install-VSCode script could also be used to update the existing version of the VSCode with the latest one. Use case:
A user working in VSCode with an account that doesn't have administrative privileges (and with UAC configured to block elevation prompts). Install-VSCode script could be configured as a scheduled task (or as an SCCM published package) to keep VSCode u

[2017-07-03 16:28] Glober777 commented on #935
...or it could be a separate script, say Update-VSCode. Also, it would be nice if the script would check whether an updated version is available before going and downloading the binary.

[2017-07-03 17:10] glaisne commented on #932
Huh, Seems to be working now. Must have been a fluke. It wasn't working, but I can't seem to reproduce it now. If it happens again, I'll take better notes.

Sorry to bother.

[2017-07-03 17:10] #932 closed

[2017-07-04 06:58] mojinxun opened #936 "[Read-Host], NotSupportedException"
vs2015
I use nuget by tools [install.ps1]

$name = Read-Host "Enter your name"

but throw an exception:

Read-Host : 不支持所指定的方法。所在位置 E:\YYSoft.Example\WindowsService1\packages\Sodao.Test.1.4.1\tools\install.ps1:28 字符: 1
+ read-host
+ ~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Read-Host], NotSupportedException
    + FullyQualifiedErrorId : System.NotSupportedException,Microsoft.Power

[2017-07-04 07:20] Glober777 opened #937 "Pester failures are not shown in the Problems tab"
### System Details

- Operating system name and version: Windows 10 Enterprise (Anniversary Update)
- VS Code version: 1.13.1
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

[code]

[code]

### Issue Description

I don't get any failed Pester test results mapped into the Problems tab. Steps to reproduce:
1. Generate a new module using Plaster
2. Replace ${env.windir} with $

[2017-07-04 07:21] Glober777 commented on #937
I also wondering why do those code commands fail within the integrated terminal? Is there a problem with my installation of VSCode?

[2017-07-04 07:53] grzegorz-silarski opened #938 "createTemporaryIntegratedConsole setting clears out integrated console after debugging session ends"
### System Details

- Operating system name and version: Win10 Pro
- VS Code version: 1.13.1
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

PSVersion                      5.1.15063.413
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.413
CLRVersion                     4.0.30319.42000
WSM

[2017-07-04 19:00] cassta commented on #689
Hello, I'm still a bit confused. Was searching for couple of days to get better understanding how does the VSCode Powershell extension handles profiles and finally got to this thread. My understanding from the description of setting `"powershell.enableProfileLoading": true` is that it should also handle system wide profiles. Nevertheless I do not have available aby other profile than the one for "

[2017-07-04 20:09] rkeithhill commented on #938
Duplicate of #907

[2017-07-04 20:09] #938 closed

[2017-07-04 22:37] gwojan commented on #535
Um, @daviwil, when did PSReadline start working in the VSCode PowerShell terminal window? I just opened the terminal and noticed my PSReadline history was available. A quick ```Set-PSReadlineOption -EditMode Vi``` and I'm in hog heaven!

Is there something I should be watching for?

[2017-07-04 23:25] rkeithhill commented on #535
PSReadline support in the `PowerShell terminal` is a VSCode feature.  What isn't implemented yet is PSReadline support in the `PowerShell Integrated Console`.

[2017-07-05 01:00] rkeithhill commented on #936
I'm a bit confused.  You mention `vs2015`.  This extension is for `Visual Studio Code` and not `Visual Studio 2015`.   If the issue is with VS 2015, then you might try submitting the issue here: https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/category/167481-nuget-package-manager

[2017-07-05 01:13] rkeithhill commented on #937
What version of Pester do you have?  The output from Pester 3.4.0 and higher was modified to better support VSCode problem matchers.  The output should look like this:
[code]
Notice how the failed line is right below the test name?

[2017-07-05 01:17] rkeithhill commented on #937
BTW the issue with the NewPowerShelllScriptModule `env:` instead of `env.` was fixed a few weeks ago.  Hopefully we'll get a new version of Plaster out in a few weeks.

[2017-07-05 03:06] rkeithhill commented on #452
I can't repro this:
![image](https://user-images.githubusercontent.com/5177512/27847689-87cbd7c0-60fc-11e7-84e3-d144352b4e14.png)
@wathnai can you provide some details on how to repro this?  Along with the version of the PowerShell extension you're using as well as the VSCode version.  Thanks!

[2017-07-05 03:13] rkeithhill commented on #452
@wathnai Looking through your debug logs I don't see anywhere that you have started the debugger.  You won't see the value of variables unless you press F5 to start the debugger.  Make sure the file you're editing has a `.ps1` extension (save it to disk to give it a .ps1 extension).  Set a breakpoint on one of the lines in the script (press F9 to toggle breakpoints).  Then press F5 to start the de

[2017-07-05 07:54] wathnai commented on #452
Hi Keith,

My apologizes, i realize i did not save the script so that the reason that the variables don't appear.

Thanks for your support.

Regards

________________________________
De: Keith Hill <notifications@github.com>
Enviado: miércoles, 5 de julio de 2017 5:13
Para: PowerShell/vscode-powershell
Cc: wathnai; Mention
Asunto: Re: [PowerShell/vscode-powershell] Debugger not showing value of va

[2017-07-05 13:18] daviwil commented on #535
Hey Greg, unfortunately you're just seeing PSReadLine work inside of plain powershell.exe in the integrated terminal.  As Keith mentions, it doesn't currently work in the PowerShell Integrated Console yet.  I've started working on that last week though so I expect to have some progress soon!

[2017-07-05 13:21] daviwil commented on #689
@cassta can you capture Verbose logs and attach them here? Instructions: https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2017-07-05 13:22] daviwil commented on #452
No problem wathnai!

[2017-07-05 13:22] #452 closed

[2017-07-05 13:58] gwojan commented on #535
Thanks @daviwil and @rkeithhill! I guess I need to start playing with the Integrated Console because I'm sure I knew it was there. It will be great to have PSReadline support because that one particular feature is why I abandoned the ISE a long time ago. I'm such a lousy typist I need all the help I can get. ;-)

[2017-07-05 14:36] Glober777 commented on #937
Here's what I have for Pester on my machine:
[code]

So, shall I just update the Pester to 4.0.3 and see if that helps? Should I install it with both 32 and 64 bits versions of PowerShell?

Thanks!

[2017-07-05 14:41] rkeithhill commented on #937
Yes, update to `4.0.3` in 64-bit PowerShell (unless you use the PS vscode setting to run x86 PowerShell).

[2017-07-06 07:53] Stephanevg opened #939 "Powershell ISE profile won't load (Terminal freezes for a couple of minutes)"
***
I openend a first ticket here --> https://github.com/Microsoft/vscode/issues/30041, it got closed, and I were asked to open one here, so here it is. Thanks in advance!
***

Hi VSCode team,

As mentionned in the title, I have a PowerShell profile (see gist here under) that works flawlessly on the regular powershell console and the powershell ISE.

Once the file Documents\WindowsPowerShell\Micro

[2017-07-06 10:39] rdtechie commented on #930
Having the same issue with insider build 16232. The workaround that @bgelens is referencing to still works.

[2017-07-06 18:00] rkeithhill commented on #555
ISE does not allow you to set a breakpoint in an unsaved file.  The same applies to the VSCode PowerShell extension.  Internally, it uses the `Set-PSBreakpoint` command which, for a line breakpoint, requires a path.

You can set a command breakpoint and the debugger will hit that e.g.:
[code]
Set a command breakpoint on `foo` and the debugger will break there and then you can single step through t

[2017-07-06 18:04] rkeithhill commented on #555
Wait a tic, if I hit the command breakpoint I see another editor window open that uses a temp (saved) file so you can set line breakpoints.  The bug here @daviwil is that this `script listing.ps1` file isn't showing up by default.  It doesn't show up if I don't have the command breakpoint set.  Ideally it should show up when you start the debugger.  Maybe this is a case where the script is so shor

[2017-07-06 19:53] grumpkin commented on #555
Maybe I'm still doing this wrong but I still can't get it to break.  I have the unsaved script file that, creates a dummy function called `foo`, calls that function, then does what I actually want.  In the PowerShell Integrated Console I run `Set-PSBreakpoint -Command foo` (I don't know if that is actually what you meant by "Set a command breakpoint"), press F5 and it still just runs the entire sc

[2017-07-06 20:00] rkeithhill commented on #555
Trying setting the breakpoint in the VSCode Debug panel.  At the bottom, open the Breakpoints view, press the `+` button and type in `foo`:

![image](https://user-images.githubusercontent.com/5177512/27930338-7133399c-6253-11e7-837d-bc7d7d370ffe.png)

[2017-07-06 20:12] grumpkin commented on #555
That worked. Thanks very much.

[2017-07-06 21:15] rkeithhill commented on #797
This problem has been fixed with PR #941.  You can implement the fix without waiting on a new drop as the fix applies to the tasks.json file. Simply change this line:
[code]
to
[code]

The bug has to do with the PowerShell progress overlay causing the terminal to see a single failure multiple times.  The above "fix" is really more of a "workaround".

There is another bug lurking here with the `2.0

[2017-07-07 05:55] Glober777 commented on #937
@rkeithhill, updating Pester module indeed fixed the issue. Thanks a ton!

[2017-07-07 05:55] #937 closed

[2017-07-07 09:09] cassta commented on #689
@daviwil, I'm sorry, my bad. Not sure why I didn't realize it earlier, but as I use by default 64-bit version of Powershell I simple missed that VSCode is "just" 32-bit application, therefore working with profiles in SYSWOW64. Once profile was replicated to expected location everything started to work fine. Sorry for any inconvenience caused.

[2017-07-07 10:10] kborowinski commented on #930
I have the same issue on Windows 7 and Windows 10 but only when trying to debug in a temporary PowerShell Integrated Console.

OS: Windows 7 / Windows 10
VS Code: 1.13.1 / 1.14.0
PowerShell Extension: 1.4.1

[2017-07-07 15:56] kborowinski opened #942 "Temporary console debugging hangs on PowerShell Integrated Console prompt"
### System Details

- Operating system name and version: Windows 10.0.15063 x64
- VS Code version: 1.13.1
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

[code]

### Issue Description

Temporary console debugging hangs on PowerShell Integrated Console prompt.

*Note:* When "createTemporaryIntegratedConsole" is set to *false* debugging works as exptected.

### Steps to recre

[2017-07-07 20:02] PowerSchill commented on #820
I have created the code for creating the bug report. When selected it will collect the information below and open a new issue in the GitHub project. There is still some cleanup involved as well as handling log files. Is there any adjustments anyone see needed?

## Issue Description ##

I am experiencing a problem with...

## Attached Logs ##

Follow the instructions in the [README](https://github.

[2017-07-07 20:30] rkeithhill commented on #820
Any chance we can automatically attach the logs via a zip file?

[2017-07-07 21:08] PowerSchill commented on #820
I will look into it but I don't know that it is possible to attach a file to the issue via URL. If that is in fact the case then I might just have to create the zip and then instruct the user to attach it to the ticket manually.

[2017-07-07 23:04] rkeithhill commented on #820
At one point I thought @daviwil said there was a way to upload attachments to GitHub but I don't see it in the v3 REST API.

Dude, that is quite the list of extensions you have installed.  :-)  I wonder if we should put the VSCode extensions list in a collapsible section?  E.g.:

<details><summary>Visual Studio Code Extension (click to expand)</summary>
...
</details>

Not all browsers support thi

[2017-07-07 23:53] PowerSchill commented on #820
I added the code to collapse the extension listing.

[2017-07-08 01:44] rkeithhill commented on #820
Good news on the Edge front. Just installed today's Windows 10 Insider build and Edge displays the "details" section as collapsed.

[2017-07-10 00:02] JackUkleja commented on #692
I just noticed today that my "Run with PowerShell" shell menu item is missing. I'm using VSCode 1.13.1 with the 1.4.1 PowerShell extension.

[2017-07-10 00:10] JackUkleja commented on #692
@rambutan2000 Your .reg script didn't seem to fix the issue for me. Strange.

[2017-07-10 06:04] atiedemann commented on #927
Thanks for your reply an this workarround.
I think it will be good when the Script Analyser only work at the editing file not on all open files in VScode.

Have a nice day
Arne

[2017-07-10 06:17] atiedemann opened #943 "Question: ps1 file and compatibility to version 2 of Power Shell"
Hi all together,

this is only a question to vscode powershell.
Is this possible that I can define that a file must be compatible with PSVersion 2?

I know that this is possible with ISE and extension (ISESteroids) of Tobias Weltner @TobiasPSP but is this possible with vscode powershell?

Thanks
Arne

[2017-07-10 10:40] mattmcnabb commented on #943
@atiedemann Are you familiar with the "#requires" statement in PowerShell? This is how you can prevent a script from running unless it meets certain prerequisites. To learn more, run:

[code]

ISESteroids does have some great magic in there, though, that really helps us with version compatibility and analyzes our code to make sure we haven't violated our stated PowerShell version requirements. I d

[2017-07-10 12:54] jmiller76 commented on #935
Chocolatey does good with this.
I have an admin script on login that runs:
choco outdated
Then if an update is listed it can install the update.
$OutdatedString = choco outdated | ConvertFrom-Csv -Delimiter '|' -Header ('package name','current version','available version','pinned') | ? { $_.'current version' -match '[.]' }
    if ($OutdatedString) {
        $OutdatedString | FT
        choco upgra

[2017-07-10 20:01] olathemike commented on #548
I am not clear on where this stands, but I think code signing is becoming a big deal and will continue to increase in importance over time. We are now white-listing our scripts and exes and we have a choice between getting the chksum for each item we want to allow to run and entering that into the white listing tool (ouch), or using signed code (everything signed with one of a few certificates). I

[2017-07-10 20:36] rkeithhill commented on #548
I'm not opposed to putting this functionality into the VSCode PowerShell extension.  I just think that most folks would find an extension provided mechanism rather limiting.  OTOH when built into their `build` process can they

You can use VSCode's task runner to kick off a build using either psake or InvokeBuild.  That build process can do various things including copying your source into an outp

[2017-07-11 09:04] #910 closed

[2017-07-11 09:10] daviwil commented on #942
Hey Kris, which debugging configuration are you using, is it the one called "PowerShell Interactive Session"?

[2017-07-11 09:36] #942 closed

[2017-07-11 09:42] #909 closed

[2017-07-11 09:43] daviwil commented on #936
Yes, this is an issue with NuGet's custom PowerShell host.  I'd recommend speaking with their team about it as Keith suggests.

[2017-07-11 09:43] #936 closed

[2017-07-11 09:50] daviwil commented on #930
Closing as duplicate of #742.  Thanks Ben!

[2017-07-11 09:50] #930 closed

[2017-07-11 09:52] daviwil commented on #905
Should be within the next release or two, I'm working on it now.  Subscribe to issue https://github.com/PowerShell/vscode-powershell/issues/535 to be notified when that gets done.

[2017-07-11 09:52] #905 closed

[2017-07-11 09:54] daviwil commented on #935
Not sure that there will be a reliable way to check if VS Code has been updated outside of VS Code's own update mechanism.  You might have a better experience if you do like @jmiller76 suggests and use something like Chocolatey to manage installation and updating of VS Code.

However, if someone can figure out a reliable way to check for an updated VS Code through a REST request or something I'd b

[2017-07-11 10:24] Stephanevg commented on #939
Hi,

any news on this?

thanks

[2017-07-11 12:39] kborowinski commented on #942
Exactly David. It's "PowerShell Interactive Session" configuration.

On Jul 11, 2017 11:10, "David Wilson" <notifications@github.com> wrote:

[2017-07-11 14:02] PowerSchill commented on #820
In [logging.ts](https://github.com/PowerShell/vscode-powershell/blob/master/src/logging.ts) there are comments about it not being easy to open the logs in the operating system file browser. Is that still the case?

[2017-07-11 14:06] HowardHoffman commented on #918
I frequently get these errors:

`The PowerShell session has terminated due to an error` or `Debug adapter process has terminated unexpectedly`.

I can resolve only be closing VS Code and then restarting.  I am on Powershell (authored by ms-vscode) `1.4.1`.

[2017-07-11 14:33] kunaludapi commented on #918
It got resolved after uninstalling and reinstalling all extensions and VS
Code, I suspect it was due to one of the extension but not sure (Gradually
installed only required, Only uninstall and reinstall of VS code didn't
resolved).

On Tue, Jul 11, 2017 at 7:38 PM, HowardHoffman <notifications@github.com>
wrote:

[2017-07-11 14:43] daviwil commented on #918
@HowardHoffman can you please attach logs to this issue?

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2017-07-11 14:49] daviwil commented on #820
Yeah, there isn't an API to open the native file browser for each platform.  We could try to do it manually but it'd require having unique code for Windows, macOS, and Linux.

I could have sworn I had seen an API for attaching a file to an issue, but looks like it never existed!

[2017-07-11 14:58] daviwil commented on #942
Cool!  Just fixed it, it'll be in the next update.

[2017-07-11 15:01] daviwil commented on #939
Hey Stephane, the PowerShell extension does not load either of these profiles so this wouldn't be causing your problem.  VS Code's profile path is:

`\ServerName\UserName$\Documents\WindowsPowerShell\Microsoft.PowerShellISE_profile.ps1`

What's the contents of your $PSVersionTable?

[2017-07-11 15:59] olathemike commented on #548
Great suggestion, I will check it out. Thanks so much for detailing this out for me!

		Get Outlook for iOS

On Mon, Jul 10, 2017 at 3:36 PM -0500, "Keith Hill" <notifications@github.com> wrote:

I'm not opposed to putting this functionality into the VSCode PowerShell extension.  I just think that most folks would find an extension provided mechanism rather limiting.  OTOH when built into their bu

[2017-07-12 00:04] PowerSchill commented on #820
@daviwil In relation to the above conversation about compression can we use the Node zlib library without legal issues? Also would that be a function better at home with the Logger class?

[2017-07-12 00:31] kborowinski opened #945 "Feature Request: Option to use tabs instead of spaces when aligning property value pairs"
Is it possible to add option to align property value pairs with tabs instead of spaces?

[code]

Currently when formatting hashtable the tabs are replaced with spaces:

![image](https://user-images.githubusercontent.com/16168755/28096570-1f6fd164-66aa-11e7-9710-508a3872b4cb.png)

Would love to have the option to use tabs for alignment instead:

![image](https://user-images.githubusercontent.com/16

[2017-07-12 03:35] mojinxun commented on #936
thank you

[2017-07-12 09:19] DarkLite1 opened #946 "'Go to Definition' not opening the correct file"
### System Details

- Operating system name and version: Windows Server 2012 64 bit
- VS Code version: 1.15.0-insider
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      4.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion

[2017-07-12 09:57] DarkLite1 opened #947 "Code folding incorrect"
### System Details

- Operating system name and version: Windows Server 2012 64 bit
- VS Code version: 1.15.0-insider
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      4.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion

[2017-07-12 10:16] DarkLite1 opened #948 "IntelliSense in debug mode is behaving strange"
### System Details

- Operating system name and version: Windows Server 2012 64 bit
- VS Code version: 1.15.0-insider
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      4.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion

[2017-07-12 11:34] DarkLite1 opened #949 "DBG text displayed twice in the prompt when in debug mode"
### System Details

- Operating system name and version: Windows Server 2012 64 bit
- VS Code version: 1.15.0-insider
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      4.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion

[2017-07-12 12:17] DarkLite1 opened #950 "Editor input is not locked during debug mode"
### System Details

- Operating system name and version: Windows Server 2012 64 bit
- VS Code version: 1.15.0-insider
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      4.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion

[2017-07-12 15:08] rkeithhill commented on #945
I don't think this needs a new PowerShell setting.  The code should honor the current `editor.insertSpaces` and `editor.tabSize` settings

[2017-07-12 15:11] rkeithhill commented on #947
This is an issue with how VSCode does code folding i.e. it has complete control of this feature.  See this issue: https://github.com/Microsoft/vscode/issues/3422

[2017-07-12 15:11] #947 closed

[2017-07-12 15:18] rkeithhill commented on #949
Duplicate of #863

[2017-07-12 15:18] #949 closed

[2017-07-12 15:22] rkeithhill commented on #948
Work on supporting PSReadline in the PowerShell Integrated Console is going on now.  When that is finished, PSReadline will supply the tab expansion functionality and the experience should be very similar to what you get with the normal PowerShell console.

[2017-07-12 17:53] kborowinski commented on #945
I agree, but then it looks like the editor does not honor the `editor.insertSpaces` setting when aligning property value pairs. I've set `"editor.insertSpaces": false` and still the property value pairs are aligned with spaces.

[2017-07-12 20:24] poshcodebear opened #951 "Formatter does not run at all with certain unusual string line continuation construct"
### System Details

- Operating system name and version: Windows 10 RS2
- VS Code version: 1.14.0
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
[code]

### Issue Description

When running the code formatter, it will not work at all when a certain construct is used.  Here's a sample bit of code to demonstrate:
[code]
If you run the code formatter on that bit of code, I woul

[2017-07-12 20:30] poshcodebear opened #952 "Formatter does not handle foreach method correctly"
### System Details

- Operating system name and version: Windows 10 RS2
- VS Code version: 1.14.0
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
[code]

### Issue Description

When using the foreach method on an array, the formatter does not indent or space correctly.  For example, if you do something like this:
[code]
the formatter will format it like this:
[code]
It proba

[2017-07-12 20:43] kapilmb commented on #952
We are tracking an identical issue at #576. Please subscribe to that issue for updates regarding this issue.

[2017-07-12 20:43] #952 closed

[2017-07-12 20:45] poshcodebear commented on #952
Thanks!

I looked through the formatter issues but didn't spot that one.  Sorry for the duplicate.

[2017-07-12 20:46] kapilmb commented on #952
No problem at all!

[2017-07-12 21:25] kapilmb commented on #951
I think I understand the issue regarding the closing brace in the `if` statement. However, I do not understand the issue with regarding the `write-output` statement. Can you please provide more explanation about it? Thanks.

[2017-07-13 00:04] poshcodebear commented on #951
The Write-Output statement (more specifically, the string) causes the formatter to do nothing.  If you add that line or one with a string formatted similarly to it, the formatter will not make any changes to the document at all.  I just included the if statement as an example.

[2017-07-13 00:05] artisticcheese opened #953 "Can not use mouse anymore in Integrated console"
### System Details

- Operating system name and version: Windows 10 (1703)
- VS Code version: 1.14
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.1.15063.483
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2017-07-13 00:39] kapilmb commented on #951
Thanks for the clarification. The `write-output` statement is actually messing up the formatter in some way. If you remove or even comment out the `write-output` statement, the formatter handles the `if` statement properly.

[2017-07-13 00:46] marckassay opened #954 "PowerShell Integrated Console unusable with no internet"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.2.11
tslint|eg2|0.16.0
PowerShell|ms-|1.4.1
debugger-for-chrome|msj|3.1.6

---

Steps to Reproduce:

1.  Disconnect computer from internet
2.  Launch VSCode with a project that

[2017-07-13 00:47] PowerSchill commented on #953
So for example you can’t select text and then use `Ctrl-C` to copy the text?

[2017-07-13 00:49] artisticcheese commented on #953
Correct. Positioning mouse anywhere inside console and click left button does not start selection process at all, it behaves like I did not click any button.

[2017-07-13 01:06] PowerSchill commented on #953
I was able to duplicate the issue under certain circumstances:

 **Steps to reproduce the bug**

1. Open Visual Studio Code.
2. Select the version in the bottom right of the status bar.
3. Select *Restart Current Session*

At this point I am unable to select any text as you have described.

* Restarting VSCode does **not** fix the issue.
* Restarting the session does **not** fix the issue.
* Killi

[2017-07-13 01:12] PowerSchill commented on #954
I wasn’t able to reproduce the issue on my test system with those extensions. Do you have anything running in your Microsoft.VSCode_profile.ps1?

[2017-07-13 01:25] PowerSchill commented on #950
All of my test systems are WMF5 so I can’t duplicate the issue. For me the script executes correctly.

[2017-07-13 04:46] Tyriar commented on #953
@daviwil selection is now completely disabled if the shell indicates it's in mouse mode. I saw this reported in VS Code and could not reproduce so it seems to only happen for some setups with the powershell extension.

[2017-07-13 04:56] rkeithhill commented on #953
It is very easy to repro if you're using the PowerShell Integrated Console instead of the terminal:
![image](https://user-images.githubusercontent.com/5177512/28150967-1e210c64-6755-11e7-938c-550ff17a4d49.png)
Open VSCode and run the `PowerShell: Open Examples Folder` command, then open the `DebugTest.ps1` file.  The PSIC will get initialized within a few seconds of opening the first ps1 file.

[2017-07-13 05:38] LaurentDardenne commented on #954
I had a similar problem, moreover access to symbols is impossible.
When my ADSl modem is switched on but no internet connection (problem at the provider), it works.
When I switch off the modem I have the same worries. No error log is generated

[2017-07-13 06:37] bgraeb opened #955 "Ctrl+C not working"
In integrated console, it's not longer possible to interrupt script execution via `Ctrl+C`. It throws the error: `Cannot read property 'length' of undefined` at the top of VS Code

### System Details

- Operating system name and version: Windows 10.0.15063
- VS Code version: 1.14.0
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
[code]

### Issue Description

When running a

[2017-07-13 08:48] DarkLite1 commented on #948
Awesome! Thank you very much @rkeithhill Because this is a real annoyance in our workflow.

[2017-07-13 09:14] DarkLite1 commented on #950
Updated to WMF5.1 as you suggested. The problem is now solved. Thx :)

[2017-07-13 09:14] #950 closed

[2017-07-13 09:31] DarkLite1 opened #956 "Debugger not started when breakpoint is set in the editor"
### System Details

- Operating system name and version: Windows Server 2012 64 bit
- VS Code version: 1.15.0-insider
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.14409.
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0,
BuildVersion

[2017-07-13 14:04] mike-the-automator opened #957 "Incorrect terminator for multiline string literal using @' or @""
### System Details

- Operating system name and version: Windows 10 Enterprise Build 14393.1358
- VS Code version: 1.14.0
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`: pasted below.

[code]

[2017-07-14 01:04] marckassay commented on #954
Nothing is running in my Microsoft.VSCode_profile.ps1 file.  Below is a screenshot of what chrome debugger outputs during this scenario.
![chrome_debugger](https://user-images.githubusercontent.com/459665/28188138-1e8932cc-67ef-11e7-9ede-a890c573990a.png)

After some research, if I install a network loopback adapter it will work as expected.  Since I have a x64 bit OS I used the following:
[code]

[2017-07-14 07:45] SilenceHe opened #958 "When I type a parameter with a whitespace, why there's not list the value list for this parameter? just like powershell ISE did."
![tim 20170714153408](https://user-images.githubusercontent.com/4414171/28203249-71f63ed4-68ab-11e7-916a-bd00fcccb034.png)
### Issue Description

When I type a parameter with a whitespace, why there's not list the value list for this parameter? just like powershell ISE did.

### Example：
Invoke-RestMethod -Method

Note: see attachment for details

[2017-07-14 08:51] kamilkosek commented on #958
I think it´s because IntelliSense isn´t triggered after a whitespace.
You could press <kbd>Ctrl</kbd> + <kbd>Space</kbd> to trigger it manually.

[2017-07-14 11:12] SilenceHe commented on #958
Looks it's not work for me with Ctrl + Space

By the way, the VS Code version is 1.14.1 and the powershell extension version is 1.4.1

[2017-07-14 12:44] Hvid opened #960 "Make formatter capitalize cmdlets and parameters"
Please make it possible to capitalize cmdlets and parameters by pressing tab like ISE.

In ISE, when cursor is placed in the middle of the line "write-host" and you press tab, it becomes "Write-Host". Same goes for parameters - "-erroraction" becomes "-ErrorAction"

Maybe the "Format Document" command could do the same?

[2017-07-14 15:17] bgraeb commented on #955
Looks like this issue was created and fixed by the last two vs code updates. this can be closed

[2017-07-14 15:17] #955 closed

[2017-07-14 16:32] rkeithhill commented on #948
FYI @daviwil is doing that work and it can't come soon enough IMO.  :-)

https://www.youtube.com/watch?v=39S3dLDEbYs

[2017-07-14 16:48] DarkLite1 commented on #948
True that! It's a real pain in the behind sometimes :P That's the only reason I switch back to the PowerShell ISE when working on big scripts, just to have this nifty feature. Is there somewhere an issue report or something where we can track the progress on this implementation?

[2017-07-14 18:36] kapilmb commented on #960
Here is a similar issue: PowerShell/PSScriptAnalyzer#767

[2017-07-14 19:04] kapilmb commented on #958
I am not able to reproduce it. Here is what I observe.
![psesissue](https://user-images.githubusercontent.com/14225543/28226765-229a67d0-688c-11e7-825b-e9feec30d9a5.gif)

Maybe the completion request is getting timed out. Can you please provide the 'verbose' logs? Thanks.

[2017-07-15 02:32] Jaykul commented on #742
Still a problem on 1.4.1 on Build 16237

![image](https://user-images.githubusercontent.com/192942/28235828-528c6882-68e4-11e7-9e1c-a852e5be7e14.png)

[2017-07-15 03:06] SilenceHe commented on #958
@kapilmb My pleasure, but how to get the 'verbose' logs in this case? I don't know how to do that

[2017-07-15 04:18] Jaykul commented on #742
But it's fixed in 16241 👍
![image](https://user-images.githubusercontent.com/192942/28236387-1d26f8f6-68f3-11e7-8f3a-2e808aeba45a.png)

[2017-07-15 05:35] bgelens commented on #742
Confirm fix 👍

[2017-07-15 05:42] daviwil commented on #742
That's excellent news, thanks a lot for letting me know!

[2017-07-15 05:42] #742 closed

[2017-07-16 17:04] rkeithhill commented on #948
Yup, see #535

[2017-07-16 18:25] rkeithhill commented on #956
Running select script using the <kbd>F8</kbd> key doesn't start the debugger which is why your breakpoint is not hit.

However, if you have a folder open i.e. are in workspace mode, then go to the Debug view and select "PowerShell: Interactive Session" from the drop down and then press <kbd>F5</kbd> to attach the debugger to your live running PowerShell Integrated Console.  If your Debug config dr

[2017-07-17 07:28] DarkLite1 commented on #956
Thx @rkeithhill , this is indeed a valid workaround. However, I'd still consider this as a bug because in the standard `PowerShell ISE` this workflow does not require extra steps.

It just seems logical that when a user adds a breakpoint in the GUI, the debugger always stops at that point, regardless of where the script is invoked from.

[2017-07-17 07:38] DarkLite1 commented on #535
@daviwil any update on this killer feature? ;)

[2017-07-17 09:26] DarkLite1 commented on #960
+1 on this

[2017-07-17 09:29] DarkLite1 commented on #958
Having the same issue in vs code `1.15.0 Insider`:

![image](https://user-images.githubusercontent.com/10828570/28262391-176d1bec-6ae3-11e7-987d-c5cd436ea5da.png)

[2017-07-17 11:43] DarkLite1 opened #961 "Copying code with a here string is incorrect"
### System Details

- Operating system name and version: Win Srv 2012 64 bit
- VS Code version: 1.15.0 insider
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
[code]

### Issue Description

When copying code from one file to another, the code isn't correctly copied when a here string is used.

**Test code:**
[code]

**Result when copying from left to right:**
![image](https:

[2017-07-17 14:41] rkeithhill commented on #961
And IMO, the param, begin, process and end blocks should not be indented.

[2017-07-17 14:47] gerane opened #962 "Dynamic Comment Snippet not triggered if backspace is used."
### System Details

- Operating system name and version: Windows 10 Pro
- VS Code version: 1.15.0-insiders
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

[code]

### Issue Description

When trying to trigger the Dynamic Comment Help snippet, if you typo and have to use backspace when typing "<#", it won't trigger the Snippet.

### Attached Logs

[2017-07-17 14:50] rkeithhill commented on #956
I would be a little careful comparing ISE to VSCode at least when it comes to determining what is a bug.  ISE was built for PowerShell editing.  VSCode was built as a code editor that initially at least, targeted web development languages (HTML, JS, CSS).  But through a very nice extension mechanism, allowed many other languages to "plug into" VSCode.

In particular, the debug protocol is owned by

[2017-07-17 17:54] markwkjr commented on #829
Thanks for posting this @dbaileyut
I was going to submit this feature request but noticed you already had it in.

This is applicable to me in both writing/debugging and as a working terminal. Because in either case I may want to use Keyboard-based text selection.

Guess it comes down to really liking have a "one stop shop" for an editor and PowerShell Console. Guess I could continue to use ISE ful

[2017-07-18 13:35] jbruns2015 opened #964 "Watch Variables"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am new to this extension and apologize if it has been asked already.  Is there a way to watch variables as I step through code via breakpoints or line by line?

I just downloaded it today so I believe I am running the 1.4.1 v

[2017-07-18 13:36] jbruns2015 commented on #964
code -v
1.14.1
2648980a697a4c8fb5777dcfb2ab110cec8a2f58

$pseditor.EditorServicesVersion

Major  Minor  Build  Revision
-----  -----  -----  --------
1      4      1      0

code --list-extensions --show-versions
ms-vscode.PowerShell@1.4.1

$PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.14409.1005
PSEdition

[2017-07-18 13:37] Stephanevg commented on #939
Hey David!

Indeed, It is related to the PSVersion I am using:

I am facing the issue on my main computer with the following psversionTable:

Name                           Value
----                           -----
PSVersion                      5.0.10586.962
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.962
CLRVersion                     4.0.303

[2017-07-18 14:21] jbruns2015 commented on #964
A duh moment for sure.

Run code to a breakpoint, variables are there in the left pane.

[2017-07-18 14:21] #964 closed

[2017-07-18 15:54] jbruns2015 opened #965 "Passing Arguments to vscode-powershell"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

Another stupid question.  How do I pass in arguments when running Powershell code in VS code Powershell editor?

### Attached Logs

Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell#reporti

[2017-07-18 16:08] rkeithhill commented on #965
Have a look at:

https://blogs.technet.microsoft.com/heyscriptingguy/2017/02/06/debugging-powershell-script-in-visual-studio-code-part-1/
https://blogs.technet.microsoft.com/heyscriptingguy/2017/02/13/debugging-powershell-script-in-visual-studio-code-part-2/

Specifically part 2, section "Launch configuration settings / variables".  You can also add a new Debug Configuration (open your .vscode/lau

[2017-07-18 16:08] #965 closed

[2017-07-18 16:22] jbruns2015 commented on #965
Does this look right?

I just want to pass a string “qa” as argument zero.

The top portion of my launch.json file

{
    "version": "0.2.0",
    "configurations": [
        {
            "type": "PowerShell",
            "request": "launch",
            "name": "PowerShell Launch Current File w/Args Prompt",
            "script": "${file}",
            "args": ["-myArg qa"],
            "cwd": "$

[2017-07-18 17:55] rkeithhill commented on #965
If you want VSCode to prompt you for the args, make your set your args to:
[code]
If you want to specify the args directly in the launch.json, what you have should work.  Just make sure the file you want to debug is in the active editor window when you press <kbd>F5</kbd>.

[2017-07-18 17:58] jbruns2015 commented on #965
My issue was I was opening ps1 directly with VS Code which suppresses the gear icon, confusing the hell out of me.

[cid:image001.png@01D2FFC5.7C0AABC0]

-Joe B.

From: Keith Hill [mailto:notifications@github.com]
Sent: Tuesday, July 18, 2017 12:56 PM
To: PowerShell/vscode-powershell <vscode-powershell@noreply.github.com>
Cc: Bruns, Joe W. (TR Technology & Ops) <joe.bruns@thomsonreuters.com>; Auth

[2017-07-18 18:26] rkeithhill commented on #965
Glad you got it working.

[2017-07-18 23:36] kapilmb commented on #958
@SilenceHe Sorry for the delay in response. To enable `verbose` logging open `user settings`. (To open `user settings`, open the `command palette` and type `user settings`.). Once your settings are open, search for `powershell.developer.editorServicesLogLevel` setting and set it to `verbose`.

@DarkLite1 You *need* to press <kbd>ctrl</kbd>+<kbd>space</kbd> for the pop-up to show up for argument co

[2017-07-18 23:39] kapilmb commented on #962
What is the sequence of the key-strokes that is causing this?

[2017-07-19 02:00] gerane commented on #962
One I know I've done would be

<, $, backspace, #

On Jul 18, 2017 6:39 PM, "Kapil Borle" <notifications@github.com> wrote:

[2017-07-19 07:10] daviwil commented on #190
After thinking about this a bit, it seems like the most obvious way to approach this is to define the concept of a "workspace profile" that gets loaded in addition to the VS Code host profiles.  When the user loads a folder in VS Code, we'll look for a file called `.profile.ps1` (or better suggestion) in the root of the workspace path and then load that along with the other host profiles.

This wi

[2017-07-19 07:12] daviwil commented on #880
This might be a problem that can be solved using workspace profiles (https://github.com/PowerShell/vscode-powershell/issues/190).

[2017-07-19 13:04] PowerSchill commented on #190
I really like that idea. Would make development of modules and such much easier especially if I need to override installed modules with development versions.

[2017-07-19 14:47] rkeithhill commented on #190
I like the idea.  Do you want to load that file by a "conventional" name like `.profile.ps1` or indirectly via a setting that defaults to `${workspaceRoot}/.profile.ps1`.  Not sure it's worth the extra level of indirection and there is some value in always being able to identify this file.  And the extra level of indirection is something that could be added later if we find it is needed.

[2017-07-19 16:49] dragonwolf83 commented on #190
If it is going to be editor agnostic, it would make sense to continue the pattern to have a generic Workspace profile and a Host/Editor specific profile that can be used.

[code]

WorkspaceAllHosts would work well to cover the module loading scenarios since most of them shouldn't care about the Host to run.

WorkspaceCurrentHost would cover the $psEditor commands that might be specific to an Edito

[2017-07-19 16:49] mattmcnabb commented on #190
Like the idea, but not sure about using a generic file name like profile.ps1. I can imagine someone loading a project with a file named that and inadvertently running some code they didn't intend to. A safer way would be to include this in the .vscode folder, but i know you plan to leave this open for other editors. What if we had a project-level setting in there that would contain the path to the

[2017-07-19 16:51] PowerSchill commented on #190
@dragonwolf83 Considering that this setting would only be in VSCode I don't think you would need multiple values. For Example in Sublime Text you would need something to be stored in their project file.

[2017-07-19 16:56] PowerSchill commented on #190
I can see @mattmcnabb point. My PowerShell profile is a project so if I were using that workspace it would run every time.  Let me offer a suggestion of the default profile to be `workspace_profile.ps1`. I think that would greatly reduce the conflict possibilities.

By default the workspace profile would be `{WorkspaceRoot}\workspace_profile.ps1` but could be overriden in the project settings.

[2017-07-19 17:21] rkeithhill commented on #190
Maybe this frickin' Linux stuff is starting to rub off on me but I'm strangely attracted to `.profile.ps1`.  :-)  That said ... considering all other PowerShell profiles do not start with a `.`, I'd go something like what @PowerSchill suggests.  Is the term `workspace` editor agnostic?

[2017-07-19 18:04] dragonwolf83 commented on #190
@rkeithhill The `workspace` term is not used in all editors as many will use `project` but I think the definition of the term is clear enough that it can be safely used and understood.

@PowerSchill  I don't see why it wouldn't work in Sublime Text if there is an Integrated Terminal with PowerShell Editor Services. The `$PSEditor` extension reads the Project/Workspace settings from the Editor and

[2017-07-19 18:28] mattmcnabb commented on #190
I'm just saying that if there's a chance that a user will update the extension and then open a workspace that contains a file matching whatever the naming convention may be, then there is a risk and this should be avoided. Any code that is automtically run at load should be explicitly agreed to by the user. If the path to this file is set by a setting in the .vscode/settings.json and the setting i

[2017-07-19 18:49] rkeithhill commented on #190
@dragonwolf83

Given that the existing host-specific profiles already use `_` having a default of `workspace_profile.ps1` makes the most sense to me.  However, if this is controlled by an editor setting then you would be free to use `_`.  :-)

[2017-07-19 19:48] kapilmb commented on #962
With the given keystrokes, this is expected. The help is triggered only if the keystrokes are <,# or #,#. Anything else will not trigger help completion. In your case the editor sees "backspace,#" and hence it doesn't trigger the completion.

[2017-07-19 22:02] SeeminglyScience commented on #190
Definitely love this idea.

For security reasons would it be possible to have a prompt once per workspace? Similar to how VSCode handles [workspace terminal customizations](https://code.visualstudio.com/updates/v1_11#_custom-workspace-shell-settings).

As for the file name, I'd like to throw `ProjectName.profile.ps1` into the mix.  Similar to the `InvokeBuild` build script naming scheme.

[2017-07-20 04:36] daviwil commented on #962
Maybe we should support the case where the user backspaces and continues typing the character sequence?  Would that increase the complexity a lot?

[2017-07-20 04:51] daviwil commented on #190
The main reason why suggested `.profile.ps1` is because the naming doesn't stand out a whole lot in the project's root folder (i.e. it's not ugly looking).  For some reason I'm aesthetically opposed to `workspace_profile.ps1` as the standard name, just seems too long and clunky.  If we go with something more specific than `.profile.ps1`, I'd probably go with @SeeminglyScience's recommendation of `

[2017-07-20 04:53] daviwil commented on #190
Forgot to mention the security aspect: I can definitely show an initial prompt to ask the user whether they want to load the workspace profile for this project.

[2017-07-20 10:16] gwojan commented on #190
I would prefer the ```.profile.ps1``` because on the *nix platforms it becomes just another hidden file right? That's a behavior I wish we could emulate on Windows.

Just my 2 cents worth... 😊

[2017-07-20 11:24] SeeminglyScience commented on #190
@gwojan that's actually part of my problem with that name.

Do we really want this file to be hidden? I feel like it would be one of the first files you want to look at when opening someone else's project for the first time. Especially if it is registering editor commands.

[2017-07-20 12:59] PowerSchill commented on #190
To be honest as long as its a preference I don't really care as much since I can set it to what I want. But for the general public it is a bigger deal.  I do kind of like the `.profile` but I also am very familiar with Linux/OSX systems so its normal for me. Considering that most users, I am guessing, are Windows users and are not familiar with it.  Using other examples; InvokeBuild uses `*.build.

[2017-07-20 17:58] kapilmb commented on #962
It will probably not increase the complexity _a lot_ if we need to make it a 3-state machine instead of the current 2-state machine. But, I think it think the added complexity would still be unwarranted. A simple workaround for the current issue would be to press backspace twice and then retype the `magic` sequence again.

[2017-07-20 19:09] daviwil commented on #190
Thanks for all the feedback!  I think at first I'll go with `ProjectName.profile.ps1` and then see what kind of feedback we get then potentially add a setting if people want more flexibilty.

[2017-07-20 21:58] rkeithhill commented on #190
Sounds good.  And if we need to add the setting, we can use `"${workspaceRootFolderName}.profile.ps1`.

[2017-07-21 02:04] dragonwolf83 commented on #608
Looks like exit code should be coming soon in July 2017 release of VS Code according to https://github.com/Microsoft/vscode/issues/31090. The node-pty piece is done.

[2017-07-21 14:39] tmknight commented on #140
HI, any update to this highly anticipated enhancement?

[2017-07-21 15:12] marckassay commented on #954
@PowerSchill,
I believe having a network adapter enabled (or 'Up' status), regardless if its connected to the internet or not will not replicate this issue that is illustrated in the image of my first post.  That is, at least initially.  It seems that after a minute or so, the network adapter will detect no signal from ISP and switch to the status of 'Disconnected'.  At least that is what I conclu

[2017-07-21 19:13] evandrocoan commented on #75
On windows I use several of the `Ctrl+Alt+` key available for system wide shortcuts/operations. So I expect my applications do not require them, as they are already taken by me for my stuff.

[2017-07-21 19:52] CharlesSpencer commented on #603
Hi.  I'm new here, so I hope I'm not violating any unwritten rules or stepping on any toes.  I'm a Windows admin by trade and don't know jack-squat about development, so I apologize if I'm not expressing myself properly.

I'm having what I think is the same problem.  VSCode itself starts okay but as soon as I open an existing file or try to start a new one I get an error ‘The language service coul

[2017-07-21 23:10] andrewlathom commented on #603
I didn't have all the same symptoms you mentioned, but the suggestions in
this thread cleared up my issue.

https://github.com/PowerShell/vscode-powershell/issues/742#issuecomment-301915916

-Andy

On Fri, Jul 21, 2017 at 3:52 PM, CharlesSpencer <notifications@github.com>
wrote:

[2017-07-22 09:33] johlju opened #967 "PowerShell Integration Console is not returning a prompt"
### System Details

- Operating system name and version: Windows 10 Pro Insider Preview (build 16232_rs_prerelease.170624-1334)
- VS Code version: 1.14.2
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`: See below

[code]

### Issue Description
PowerShell Integration Console is not giving me a prompt. But I can debug. This started a while back. Not sure when exactly. Haven't h

[2017-07-22 21:59] weinand opened #968 "Debugger does not return pointer in powershell when using call operator (&)"
_From @mohakraaj on July 22, 2017 21:0_

- VSCode Version: Code 1.14.2 (cb82febafda0c8c199b9201ad274e25d9a76874e, 2017-07-19T23:34:09.706Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
python|don|0.6.9
xml|Dot|1.9.2
intellij-idea-keybindings|k--|0.2.12
MagicPython|mag|1.0.11
mssql|ms-|1.1.0
csharp|ms-|1.11.0
mono-debug|ms-|0.15.6
PowerShe

[2017-07-22 22:00] weinand commented on #968
Powershell debugging is provided by an extension; it is not part of VS Code.

[2017-07-23 15:53] dargmuesli opened #969 "Code formatter should keep indentation for multi-line pipelines v2"
### System Details

- Operating System: Windows 10 v1703
- VS Code version: 1.14.2
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
[code]

### Issue Description

Related to #448.

Currently for a block of code like this:

[code]

the code formatter gives this output:

[code]

It should at least retain the proper indentation or fix it if we notice that the following lines in

[2017-07-23 18:00] kborowinski opened #970 "Formatter inserts space in between open brace and curly brace for .Where() and .ForEach() methods"
### System Details

- Operating system name and version: Windows 10.0.15063 x64
- VS Code version: 1.14.2
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

[code]

### Issue Description

Formatter inserts space in between open brace and curly brace for .Where() and .ForEach() methods.

![formatting](https://user-images.githubusercontent.com/16168755/28501883-bcc9b5e4-6fe5-11e

[2017-07-24 03:46] PLogFinder opened #971 "PowerShell ISE Intellisense slow after installing VSCode with PowerShell extension"
### System Details

- Operating system name and version: Windows 7 SP1 64-bit
- VS Code version: 1.14.2
- PowerShell extension version: 1.4.1

### Issue Description

After installing Visual Studio Code with the PowerShell extension, I still need to use ISE.  But ISE IntelliSense runs too slow - 20-30 seconds or longer.  I close and uninstall Vsual Studio Code, and the ISE IntelliSense is quick aga

[2017-07-24 09:21] Stephanevg commented on #939
Hi,

More information on this:

Same result for when I add the function to $HOME\Documents\WindowsPowerShell\Microsoft.VSCode_profile.ps1

I noticed that the prompt function is *only* not loaded in the terminal: 2: PowerShell Integrated.

![image](https://user-images.githubusercontent.com/6302961/28516281-efdbf0c0-7060-11e7-8a9f-2a15703c1c96.png)

It works fine in the terminal 1: powershell.exe th

[2017-07-24 14:11] ChrisWarwick opened #972 "Errors in Integrated Console when invoking some native applications (PSHostRawUserInterface)"
### System Details

- Operating system name and version: Windows 10 Insider 16232
- VS Code version: 1.14.1
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.16232.1000
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVe

[2017-07-24 16:09] CharlesSpencer commented on #603
Interesting.  This morning the problem was gone.  The only action I've taken was a reboot.

Well, upon further study, the problem is gone IF I start VSCode by clicking the icon.  If I right-click and run as Admin, the problem is still there.

@andrewlathom, I'll try the step in the thread you linked to as soon as I can figure out how to sign my profile script in a way that's acceptable to AllSigne

[2017-07-24 19:46] CharlesSpencer opened #973 "-ShowWindow parameter in Get-Help"
### System Details

- Operating system name and version: Windows 10 Enterprise 64-bit 1703
- VS Code version: 1.14.2
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.15063.483
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}

[2017-07-24 20:46] sandersaares opened #974 "Bad formatting of call operator line"
### System Details

- Operating system name and version: Windows 10
- VS Code version:
Version 1.14.2
Commit cb82febafda0c8c199b9201ad274e25d9a76874e
Date 2017-07-19T23:34:09.706Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

[code]

[code]

### Issue Description

The following line is incorrectly formatted:

[code]

VS Code tr

[2017-07-25 09:19] Stephanevg opened #975 "History through up and down arrow in Debugger is not available"
Hi guys, I hope everybody is well ^^

For any Powershell script that I open in VScode, when I set a break point, and launch the script, VS code will stop at that breakpoint.

Once stopped, I then have the possibility to launch several commands in the interactive shell beneath the scripting pane. I can have a look into variables, launch various powershell commands, my loaded functions without any i

[2017-07-25 12:24] Stephanevg opened #976 "Markdown file formating breaks when file is added into git staging area."
Hi all,

I have an issue that breaks the formating of a markdown file as soon as we add it into a git repository.

the gif here under shows what the issue is, and how to reproduce it.

![2017-07-25_14-17-20](https://user-images.githubusercontent.com/6302961/28571642-287a0a14-7144-11e7-83f3-cdf291e05a29.gif)

I double checked, the file was of file format 'ASCI' before and **after** I added it to th

[2017-07-25 16:20] anon01924 commented on #536
I can reproduce.

[2017-07-25 16:31] daniel-merchant opened #977 "Reindent lines breaks here strings"
### System Details

- Operating system name and version: Windows Server 2016
- VS Code version: 1.15.0-insider
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

[code]

### Issue Description

Reindent Lines breaks here-strings

After running Reindent Lines:

[code]

This breaks there here-string as white space is not allowed before the string terminator (which the syntax high

[2017-07-25 22:19] rkeithhill commented on #975
This should be coming with the introduction of PSReadline support.  Tracked in issue #535.

[2017-07-25 22:24] rkeithhill commented on #976
This is very unlikely to be a PowerShell extension issue.  I suggest you file this on https://github.com/microsoft/vscode/issues since Markdown file editing is a feature of VSCode.

From the animated GIF, I said you have a file encoding change that has happened after editing the file in VSCode.  Perhaps the file was Unicode and got switch to UTF8 (or vice versa).

[2017-07-25 22:24] #976 closed

[2017-07-25 22:37] rkeithhill commented on #510
If you are experiencing a bug with the PowerShell code formatter (messing up here strings).  We are tracking that issue here #977

[2017-07-25 22:37] #510 closed

[2017-07-25 22:39] rkeithhill commented on #977
@kapilmb Does the "Reindent Lines" command use the code formatter?

[2017-07-26 06:44] Stephanevg commented on #975
Ok great! Looking forward to it!

[2017-07-26 06:45] Stephanevg commented on #939
Hi guys, any news on this? Could this be related to https://github.com/PowerShell/vscode-powershell/issues/535 ?

[2017-07-26 06:55] Stephanevg commented on #976
Yeah, makes sense actually.
Thanks for pointing me to the right place. I have open an issue there with the following number -> https://github.com/Microsoft/vscode/issues/31432

Santé!

[2017-07-26 13:36] kborowinski opened #978 "Debug attached process has terminated unexpectedly"
### System Details

- Operating system name and version: Windows 10.0.15063 x64
- VS Code version: 1.14.2
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

[code]

### Issue Description

Debugger crashes every time when debugging attached process.

![debugerror](https://user-images.githubusercontent.com/16168755/28624078-39515890-7218-11e7-83f3-8605a4d2282f.gif)

### Attached

[2017-07-26 14:00] helzgate commented on #812
@tmongero I had the same error you had on Mac 10.12.  I followed [<this>](https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md#macos-1012) link and did like the article said, I removed the old powershell using the `rm` command then I ran the two commands that fix some sort of OpenSSL linking, then I installed the latest PowerShell Beta 4 package.  I then updated the path

[2017-07-26 20:35] nromyn commented on #967
I'm seeing this too.

[2017-07-26 20:37] rkeithhill commented on #939
It depends on **which** terminal window you are referring to.  If you've put something in `Microsoft.VSCode_profile.ps1`, it will not show up in the `powershell.exe` terminal, because it uses the same current host profile that a regular PowerShell console uses.
![image](https://user-images.githubusercontent.com/5177512/28642284-1aa86298-720f-11e7-867c-9291fbb921f1.png)

BTW this is why you see the

[2017-07-27 07:02] daviwil commented on #967
You have two options:

- Upgrade to Windows Insider Fast Ring build 16241 (or higher)

- Use the workaround here: https://github.com/PowerShell/vscode-powershell/issues/742#issuecomment-301915916

[2017-07-27 07:58] kamilkosek opened #979 "Consider providing an FAQ"
Hi,
I was browsing through some issues and saw a lot of them where people were asking the same things:

- Is PSReadLine Supported ?

- What it is all about with the Terminals (powershell, PowerShell Integrated Console)?

- Why is Code Folding so weird ?
etc...
What you guys think about it ?

[2017-07-27 11:22] DarkLite1 commented on #961
Probably related to Microsoft/vscode#3422

[2017-07-27 16:12] rkeithhill commented on #979
Great idea. This is a start.  And it needs to be linked to from the README.md file.  https://github.com/PowerShell/vscode-powershell/wiki/FAQ

[2017-07-28 05:00] johlju commented on #967
@daviwil Installed the latest fast ring. Now it works again. Thanks! 😄

[2017-07-28 05:00] #967 closed

[2017-07-28 08:05] Stephanevg commented on #939
So, the ISE profile is NEVER read by vscode, I got that.

But my issue still remain. As mentionned above, the function located in the vscode profile is not loaded. On a test server with the same version of vscode, but with $psversion 5-1 it works though..

Do you guys need more to troubleshoot this?

[2017-07-29 16:08] wsmelton commented on #955
This is still happening to me in version 1.14.2 for both 32-bit and 64-bit version of Code. I'm on extension 1.4.1.

@bgraeb If it was fixed what version should we be on?

Just hit CTRL+C in the integrated terminal with nothing running or a command that is stuck in a loop and I get this bar:

![image](https://user-images.githubusercontent.com/11204251/28746258-488a8128-744e-11e7-88a6-96a0b0c8c4bb.

[2017-07-29 16:26] wsmelton commented on #955
It is odd but after reloading the window a few times it started working again.

[2017-07-29 16:27] rkeithhill commented on #939
I don't have access to a 5.0 machine at the moment.  Can you add timing code around the parts of your prompt function to identify the problematic command?  For example:

[code]
Then load the profile and see what results you get for the prompt function.  Maybe to start with, you simply time the entire prompt function to see if the delay is in the prompt function.

Also, execution policy could be se

[2017-07-29 16:28] rkeithhill commented on #955
Heisenbugs like this are a pain to track down & fix. :-(  BTW is there anywhere in your prompt function you are access the `length` property on an object?

[2017-07-29 16:52] SeeminglyScience commented on #939
Another thing to try, run this in the console that isn't loading it

[code]
This should load your VSCode profile.  If it doesn't load the file you expect, double check the path and name.

[2017-07-29 18:31] rkeithhill commented on #939
It would really help if you could first reproduce the problem and then grab the session log file and attach it to this request.

You can do the latter by opening the command palette (<kbd>Ctrl+Shift+P</kbd>) and executing the command `PowerShell: Open PowerShell Extension Logs Folder`.  A new VSCode instance will start.  Open the `EditorServices.log` file.  Right click on the editor window's title

[2017-07-29 20:41] rkeithhill commented on #968
I believe this is a misunderstanding of what the `&` operator is for in PowerShell. It does **not** return a `pointer`.  It merely invokes the command "named" by the string following the `&` operator e.g.:

[code]
This execute ipconfig.exe - nothing more.

If the command to execute was a PowerShell scriptblock, then the scriptblock is invoked and executed e.g.:
[code]
This invokes the scriptblock

[2017-07-29 20:41] #968 closed

[2017-07-29 20:53] rkeithhill commented on #974
The syntax highlighting (coloring part of the command as a comment) is handled by the https://github.com/powershell/editorsyntax project.  Please file an issue there for that issue.  But yeah, the code-formatter shouldn't be adding spaces after the commas in this case.

To be honest, I'm surprised this actually works at all given that `#` `,` are special characters to PowerShell.  Array arguments

[2017-07-30 19:58] rkeithhill commented on #961
Hmm, I cannot reproduce this on the 1.15 build from 7/28.  Can you share your user settings for the Insider's build where you are able to repro this?  Also, if there are any workspace settings, share those as well.

[2017-07-30 20:50] #979 closed

[2017-07-31 12:47] gerane commented on #962
@kapilmb My one issue with this is that a user won't know they need to do this. It might just seem unreliable and get less adoption. It took me some testing to actually pinpoint that the issue was the backspace. If I hadn't investigated with the intention to file a bug, then I might not have realized it was caused by the backspace.

[2017-07-31 13:12] mattmcnabb opened #981 "Breakpoints don't remove from Integrated Console"
### System Details

[code]

### Issue Description
#### Repro
1. Set a breakpoint in the editor with F9 or by clicking next to the line number
2. The breakpoint is visible in the debug pane, but not in the Integrated Console via `Get-PSBreakpoint`
3. Run the debugger up to the breakpoint
4. Now the breakpoint is returned by `Get-PSBreakpoint`
5. Stop the debugger
6. Remove the breakpoint from the e

[2017-07-31 14:51] rkeithhill commented on #981
This is how the VSCode debug protocol works ATM.  The PS integrated console doesn't get notified of breakpoints until the debugger is started.  One of the messages it sends as part of the debugger startup is a [setBreakpointsRequest](https://github.com/Microsoft/vscode-debugadapter-node/blob/master/protocol/src/debugProtocol.ts#L375).

There is no debugger protocol event from the debugger to vscod

[2017-07-31 15:37] mattmcnabb commented on #981
@rkeithhill The first behavior where the breakpoints don't show up until the debugger has started is not necessarily a big deal, but I thought it might help illustrate the problem.

The second behavior described in step 6 kind of makes sense based on your description. Ultimately it would be great if the Integrated Console and the editor matched up on all breakpoints regardless of where they are se

[2017-07-31 16:43] jmiller76 commented on #140
https://github.com/gravejester/psInlineProgress
 or
Install-Module -Name psInlineProgress -Scope "CurrentUser"

This works if you tweak line 110 in the PSM1 to bypass the detection of the ISE.
@gravejester

[2017-08-01 08:11] DarkLite1 commented on #961
So after testing this again with the latest insider build on 1/08 I've noticed the following:

- Select the test code above, press `CTRL + C` and CTRL + V in VS Code. The result is that the code is indented which breaks the here string. When doing `CTRL + V` in the PowerShell ISE, the code is not indented and works/looks fine:

![image](https://user-images.githubusercontent.com/10828570/28815215-e

[2017-08-01 16:33] rkeithhill commented on #961
Thanks for the settings info. Now I can repro the issue.  I couldn't repro before because I have this setting:
[code]
which apparently fixes the issue.  So for now, perhaps use that as a work-around?

[2017-08-02 06:13] DarkLite1 commented on #961
Thx Keith, good catch! It's actually weird, because according to your findings, if `"editor.formatOnPaste` is set to `false` or it's totally absent as in my case, it shouldn't do any formatting at all.

So yes, I believe setting this is a valid workaround. However, it's still a bug and should be fixed internally at some point. I'm sure other will run into the same issue. Thx again for the good inv

[2017-08-02 20:29] MustQ opened #982 "Comments in body of function break function"
### System Details

- Operating system name and version: Windows 10
- VS Code version:  latest 1.14.2
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.14393.1198
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2017-08-02 23:14] mlalkaka commented on #647
Is there something I can do to help identify the cause of this issue? I believe I'm also experiencing the same problem. I tried removing the PowerShellGet and PackageManagement modules from the Integrated PowerShell Console, but it seems those modules weren't loaded (see error output below). Thanks.

[code]

[2017-08-03 17:41] mariodeleon opened #983 "Problems with Powerhsell cmdlet Get-ItemProperty"
### System Details

- Operating system name and version:
OS Name:                   Microsoft Windows Server 2012 Standard
OS Version:                6.2.9200 N/A Build 9200

- VS Code version: 1.14.2
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.14409.1005
PSEditio

[2017-08-03 23:36] rkeithhill commented on #983
Can you check the process architecture of both by running `[intptr]::size`?

[2017-08-04 09:03] rfresow commented on #953
Experiencing the same problem. Any progress or workaround?

[2017-08-04 14:17] mariodeleon commented on #983
From Visual Studio Code
[intptr]::size = 8
------------------------------
From OS Builtin Powershell_ISE
[intptr]::size = 8

[2017-08-04 14:20] mariodeleon commented on #983
These are my only changes in Visual Studio Code configurations

launch.json
--------------------------------------------------
{
    "version": "0.2.0",
    "configurations": [

        {
            "type": "PowerShell",
            "request": "launch",
            "name": "PowerShell Launch Current File",
            "script": "${file}",
            "args": [],
            "cwd": "${file}"

[2017-08-04 15:45] RickFlist opened #984 "VS Code\PowerShell - "Formatting Document" Long Execution Time"
### System Details

- Operating system name and version: Windows 10 Ent x64
- VS Code version: 1.14.2 (Latest)
- PowerShell extension version: 1.4.1 (Latest)
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.1.15063.483
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0

[2017-08-04 22:26] mariodeleon commented on #983
Yo can now close this issue:
-------------------------------------------------------------
I had to change my code in Visual Studio Code to:
$AppName = "bladelogic"
$RegQry = Get-ItemProperty HKLM:\Software\Microsoft\Windows\CurrentVersion\Uninstall\*
$BladeLogicRegQry = $RegQry | where {$_ -match $AppName} | select displayname

[2017-08-05 03:42] wsmelton opened #985 "Debug Service crash stepping through PowerShell module"
### System Details

- Operating system name and version: Windows Server 2016
- VS Code version: 1.4.1 (x64 bit)
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with...debug services crashing.

Oddly enough I've had it step through this before, but after it crashing 2 or 3 times figured I'd post these logs. I get to

[2017-08-06 07:26] kniz commented on #243
I downloaded "cppcheck" plugin, but it coudn't be installed on my VSCode properly.
And above issues had been reproduced.

In my case, uninstalling "cppcheck" solved my issue.

[2017-08-06 15:10] solomonsunder opened #986 "Login-AzureRmAccount command stuck in Powershell Integrated Console"
### System Details

- Operating system name and version:

Windows 10 Pro, Version 1703, OS Build 15063.502

- VS Code version:

1.14.2

- PowerShell extension version:

bradygaster.azuretoolsforvscode@1.2.9
donjayamanne.githistory@0.2.3
formulahendry.azure-iot-toolkit@0.1.3
johnpapa.azure-functions-tools@0.3.0
ms-mssql.mssql@1.1.0
ms-vscode.azurecli@0.1.0
ms-vscode.csharp@1.11.0
ms-vscode.PowerShe

[2017-08-06 15:47] dfinke commented on #986
I believe the Azure Login Window pops up behind the other windows, that's what happens on my system, I have the latest vsc + pses. It doesn't show up on top.

[2017-08-06 15:53] solomonsunder commented on #986
@dfinke Thanks. I just found that out. I was reading another bug issue which mentioned it'd appear on Alt+Tab but didn't appear on mine. But when I minimised my browser etc, I could see it there.
However, it appearing on the top for the other command, made me miss that. Not sure if this is still a bug.

[2017-08-06 19:15] willam-gregoire commented on #986
Same happens with **Add-AzureAccount**, appears behind the console.

[2017-08-06 19:37] dfinke commented on #986
IIRC, it's a VS Code issue, don't know the timeline on it.

[2017-08-08 22:08] jackmusick opened #987 "Debugger frozen after first breakpoint"
### System Details

- Operating system name and version: macOS 10.12.6
- VS Code version: 1.14.2
- PowerShell extension version: 1.14.1
- Output from `$PSVersionTable`:

[code]
### Reproduce

1. Set breakpoint anywhere in the script.
2. Run 'PowerShell Launch Current File'
3. Once breakpoint has been hit, click Continue or Step In.

### Issue Description

I cannot use the debugger in VS Code as ex

[2017-08-09 01:00] swinster opened #988 "Oddities with vscode PS (sorry for the poor title)"
### System Details

- Operating system name and version: Windows 10 16257
- VS Code version: 1.14.2
- PowerShell extension version:1.41
- Output from `$PSVersionTable`:

[code]

[code]

### Issue Description

I am experiencing a problem with odd behaviour in PS Scripts. Initially, the debugger was throwing an error on a line of code that no longer existed, however this seem to have cleared, yet PS

[2017-08-09 01:41] krissmilne commented on #960
As Powershell isn't a case sensitive language, it would be good to provide the case formatting options for the developers preference.

Something along the lines of:

//Changes the case for powershell reserved words (if, else, elseif, function, switch, param etc...) to either UPPER, lower or First (capitalises the first letter)
"powershell.codeFormatting.reservedWordCase": "lower", "upper", "first"

[2017-08-09 04:23] krissmilne opened #989 "PSScriptAnalyzer incorrectly flags a variable as assigned but never used"
**System Details**

- Windows 10 1511
- VS Code Version: 1.14.2
- PowerShell extension version: 1.4.1
- $PSVersionTable

-----
PSVersion                      5.0.10586.962
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.962
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
Serializat

[2017-08-09 12:01] tsiemons opened #990 "Minor Foreach issue in script analyser"
PS C:\Users\TonSiemons\OneDrive\Powershell\SSP> code --list-extensions --show-versions
Kipters.codeshell@0.2.2
ms-mssql.mssql@1.1.0
ms-vscode.PowerShell@1.4.1
PS C:\Users\TonSiemons\OneDrive\Powershell\SSP> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.15063.502
PSEdition                      Desktop
PSCompatibleVersio

[2017-08-09 13:21] swinster commented on #988
Often, things fall over if I accidentally edit code when the debugger is still running, halted at a break point.

[2017-08-09 16:04] dandiddy commented on #869
Where would be the appropriate place to raise an issue regarding the parser?

[2017-08-09 16:47] MZelenovDELL commented on #594
Match VSCode Powershell Integrated Console functionality with ISE-hosted command window ( syntax coloring and intellisense capabilities)

[2017-08-09 19:42] kapilmb commented on #869
I think the [PowerShell](https://github.com/powershell/powershell/issues) repository should be the right place for a parser related issues.

[2017-08-10 10:29] DarkLite1 commented on #988
Seems to be related to #950

[2017-08-10 11:20] swinster commented on #988
Albeit running 5.1 :(

[2017-08-11 08:39] weinand opened #991 "Try-catch in VS Code call to Get-Mailbox don't catch error"
_From @AndersElonGroup on August 10, 2017 14:7_

- VSCode Version: Code 1.14.2 (cb82febafda0c8c199b9201ad274e25d9a76874e, 2017-07-19T23:34:09.706Z)
- OS Version: Windows 10 1703 (OS-version 16232.1000)
- PS Version: 5.1.16232.1000
- Extensions:
Extension|Author (truncated)|Version
---|---|---
PowerShell|ms-|1.4.1

---

When connecting to Office365 in Powershell and call the cmd Get-Mailbox, VS Cod

[2017-08-11 08:39] weinand commented on #991
@AndersElonGroup I do not understand the first step "connect to O365 with VS Code". Could you please provide more details.

[2017-08-11 08:39] weinand commented on #991
_From @AndersElonGroup on August 11, 2017 6:16_

Hmm, Some of my explanations in the post was missing, sorry about that.
have updated my post.

[2017-08-11 08:39] weinand commented on #991
I still don't understand whether you are running PowerShell scripts in the integrated terminal built into VS Code or in an interactive (debugging) session of the PowerShell extension?

[2017-08-11 08:39] weinand commented on #991
_From @AndersElonGroup on August 11, 2017 7:25_

Sorry, started using VS Code two Days ago.
Just upgraded VS Code this morning and now I cannot get the code to run at all :(

- VSCode Version: Code 1.15.0 (8b95971d8cccd3afd86b35d4a0e098c189294ff2, 2017-08-09T20:16:06.988Z)
- OS Version: Windows_NT ia32 10.0.16232
- Extensions:

Extension|Author (truncated)|Version
---|---|---
PowerShell|ms-|1.4.1

[2017-08-11 08:39] weinand commented on #991
Could you please answer my question from above first.

If you have an unrelated problem with the new VS Code 1.15.0 please create a new issue to avoid confusion.

[2017-08-11 08:39] weinand commented on #991
_From @AndersElonGroup on August 11, 2017 7:50_

I open my .ps1-file in VS Code, select each row to start the O365 session and press F8.
Then I select my function and press F8.
lastly I type a call to the function and press F8
The Result is shown in "Terminal"
Now with 1.15 it say Powershell Integrated Console, I'm not sure what it said in 1.14

[2017-08-11 08:39] weinand commented on #991
Thanks. The functionality you are using is provided by the PowerShell extension.
I'll move this issue to their repo.

[2017-08-13 05:27] r12f opened #992 "Intellisense is broken in VSCode when using pipes"
### Issue Description
Hi Team, I just started using vscode-powershell extension. And I like it a lot so far. But I was running into an issue, which intellisense will be broken after using pipes with ForEach-Object.

The code is really simple:
[code]

And from the screenshot below, we can see the completion suggestions we get are actually for the files/dictionaries, not for the names. So we cannot

[2017-08-13 13:48] johlju opened #993 "Fix c:\Windows\Sysnative powerShellExePath when using 64-bit VS Code"
### System Details

- Operating system name and version:
- VS Code version: 1.15.0 x64
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

PowerShell Integration Console fail to start. There is no such folder.

![image](https://user-images.githubusercontent.com/7189721/29250154-aec83ff2-803d-11e7-9fe2-a6341aa05c7c.png)

### Attached Logs

This is the on

[2017-08-14 08:20] nsleigh commented on #918
I am seeing exactly the same problem (logs attached). It seem to happen with specific files but I can't find anything common with them, they are even in the same folder as files that are ok. I am not debugging when it crashes just viewing the code.

[1502698131-aae3bc26-03ba-47be-b9ed-8984139d6e211502693666404.zip](https://github.com/PowerShell/vscode-powershell/files/1221636/1502698131-aae3bc26-0

[2017-08-14 09:08] nsleigh commented on #918
I thought the common feature was the file being non-UTF-8 but even after converting to UTF-8 the same files still cause a crash. Looking the code it seems be be that PowerShellEditorServices module is incorrectly calculating the number of lines in the file. Hope this helps.

[2017-08-14 21:53] daviwil commented on #991
Hey @AndersElonGroup, what behavior do you see when you run this in a plain powershell.exe shell?

[2017-08-14 22:05] daviwil commented on #594
@AspenForester that would be covered by issue #571

[2017-08-14 22:06] daviwil commented on #990
Moving this issue to the PSScriptAnalyzer repo.

[2017-08-14 22:06] daviwil commented on #990
This issue was moved to PowerShell/PSScriptAnalyzer#812

[2017-08-14 22:06] #990 closed

[2017-08-14 22:09] daviwil commented on #992
Thanks @r12f, I'll look into it.

[2017-08-14 22:10] daviwil commented on #993
Hey Johan, what's the value of "powershell.powerShellExePath" in your user settings?  Try clearing it out if it's set to the c:\WINDOWS\Sysnative path.

[2017-08-14 22:18] daviwil commented on #987
Thanks Jack, I'll take a look.

[2017-08-14 22:20] daviwil commented on #948
Closing this issue since it will be resolved with the inclusion of PSReadLine.

[2017-08-14 22:20] #948 closed

[2017-08-14 22:21] daviwil commented on #983
Glad to hear you figured it out!

[2017-08-14 22:21] #983 closed

[2017-08-14 22:25] daviwil commented on #982
Hey @MustQ, when you say "breaks the function", do you mean that it breaks syntax highlighting?

[2017-08-14 22:28] daviwil commented on #647
@mlalkaka can you [capture verbose logs](https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us) and attach them to the thread?

[2017-08-14 22:32] daviwil commented on #981
Like Keith said, this is a general issue with how VS Code's debug protocol works.  I'm tracking a possible solution with issue #625, will close this one in favor of that.

[2017-08-14 22:32] #981 closed

[2017-08-14 22:33] daviwil commented on #660
Also related to https://github.com/PowerShell/vscode-powershell/issues/625.

[2017-08-14 22:53] daviwil commented on #984
Actually now that I read this, I see you mention that it happens even on short scripts.  Is it consistently slow even when you open up a fresh VS Code session and try it?

[2017-08-14 22:53] daviwil commented on #985
Thanks Shawn, I'll take a look.

[2017-08-14 23:04] daviwil commented on #975
Yep, closing this issue in favor of the other one.

[2017-08-14 23:04] #975 closed

[2017-08-14 23:04] daviwil commented on #536
@anon01924 this should be fixed in VS Code 1.15.0, can you try it and let me know?

[2017-08-14 23:16] daviwil commented on #989
This is covered by https://github.com/PowerShell/PSScriptAnalyzer/issues/711, will close this issue in favor of that one.

[2017-08-14 23:16] #989 closed

[2017-08-14 23:20] daviwil commented on #973
Duplicate of issue https://github.com/PowerShell/vscode-powershell/issues/753.

[2017-08-14 23:20] #973 closed

[2017-08-14 23:21] daviwil commented on #986
Tracked by issue #621, will hopefully have a fix for it soon.

[2017-08-14 23:21] #986 closed

[2017-08-14 23:22] daviwil commented on #953
Looks like this is fixed now in VS Code 1.15.0, can @rfresow or @rkeithhill confirm whether they see it resolved too?

[2017-08-14 23:24] artisticcheese commented on #953
No, it's not fixed. I'm on 1.15.0

[2017-08-14 23:27] daviwil commented on #953
Interesting...  I'm able to repro it based on something @PowerSchill said earlier.  It appears that if a powershell.exe terminal gets launched **before** the PowerShell Integrated Console appears, mouse selection will not work in the Integrated Console.  However, if no powershell.exe terminal is opened before the PSIC gets launched, mouse selection works fine.

This definitely seems like an issue

[2017-08-14 23:28] daviwil commented on #988
@swinster unfortunately (as @DarkLite1 also figured out), VS Code doesn't lock the file that you run under the debugger so you might end up editing it by accident.  I'll take a look at your logs and see whether there's something else causing the crash you saw.

[2017-08-14 23:34] anon01924 commented on #536
fixed

[2017-08-14 23:35] daviwil commented on #536
Thanks a lot!  Closing for now, will reopen if anyone else sees the issue again.

[2017-08-14 23:35] #536 closed

[2017-08-14 23:41] RickFlist commented on #984
It does NOT repro if I launch code with the --disable-extensions parameter. Otherwise, it repros every single time, seemingly regardless of what extensions I have installed or the size of the script

[2017-08-14 23:50] daviwil commented on #961
In VS Code 1.15.0, they've turned on `editor.autoIndent` on by default (it used to be off by default).  This seems to be the culprit: when I turn off that setting the code gets pasted correctly.  VS Code seems to be deciding that anything inside of the function's curly braces should be indented so it incorrectly chooses to indent the here string.  Not sure if there's anything we can do about that

[2017-08-14 23:51] daviwil commented on #984
This issue is caused by the PowerShell extension, so that's really the only thing that matters in this case.  I'll take a look at your logs tomorrow and let you know if there's anything you can try to narrow down the source of the issue.

[2017-08-14 23:57] daviwil opened #994 "PowerShell formatting and indent bug when using the backtick character"
_From @woowil on August 14, 2017 17:6_

- VSCode Version: Code 1.15.0 (8b95971d8cccd3afd86b35d4a0e098c189294ff2, 2017-08-09T20:16:06.988Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: the listing length exceeds browsers' URL characters limit
---

Steps to Reproduce:

1. PowerShell
Settings.json:
"editor.formatOnSave": true,
 "editor.formatOnType": true,

### Desired Formatting:
<pre>
Get

[2017-08-14 23:57] daviwil commented on #994
@aeschli This seems to be caused by the new default of `editor.autoIndent: true`.  I've been getting a few reports of code being improperly formatted on paste with this setting turned on.  Is there an easy way to test my [indentation regexes](https://github.com/PowerShell/vscode-powershell/blob/master/src/main.ts#L51) to make sure they work correctly with this new default behavior?

[2017-08-15 00:56] adamdriscoll opened #995 "Register-EditorCommand doesn't seem to be registering my command"
### System Details

- Operating system name and version: Windows 10 Build 1703
- VS Code version: 1.14.2
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
[code]

[code]

### Issue Description

I'm trying to add a couple VS Code commands via Register-Command. I'm loading a module and in the PSM1 file, I'm calling Register-Command if the host is VS Code.

Here are the contents

[2017-08-15 01:08] adamdriscoll commented on #995
Need to run the ""PowerShell: Show Additional Commands" command to see registered commands in this manner.

[2017-08-15 01:08] #995 closed

[2017-08-15 01:24] r12f commented on #992
Cool! Thanks @daviwil! Please let me know, if you need any other information.

[2017-08-15 01:53] codykonior opened #996 "vscode-powershell / scripts / Install-VSCode.ps1 $IsLinux failure"
### System Details

- Operating system name and version: Server 2012 R2
- VS Code version: None
- PowerShell extension version: None
- Output from `$PSVersionTable`: Name                           Value
----                           -----
PSVersion                      5.1.14409.1012
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2017-08-15 04:25] johlju commented on #993
I had two settings in the User settings. Removed them both and PowerShell Integration Console starts again.
I didn't even thought of looking there, could you add that to the log output maybe?

[code]

[2017-08-15 06:26] rfresow commented on #953
I'm now using 1.15.0 64b and it's like @daviwil says. I also notice that it takes a long time before PowerShell Integrated is ready.

[2017-08-15 06:30] AndersElonGroup commented on #991
Strange ??
In just powershell.exe (as admin) I get the same error output as I did in VS Code.

But if I run it in powershell ISE the try-catch is working, how come?
I have not used powershell.exe for my day to day work just ISE, thats why this behaviour was unexpected.

[2017-08-15 11:49] mattmcnabb commented on #991
@AndersElonGroup this is normal and is due to implicit remoting, not the VSCode PowerShell extension. Connecting to Exchange Online via PowerShell works by implicit remoting, which means you're executing the Exchange commands on a remote Exchange server, not locally. This causes some[ issues with error](https://powershell.org/forums/topic/trycatch-not-working-for-imported-cmdlets-via-implicit-remo

[2017-08-15 12:40] rfresow commented on #953
After I enlarged the console with the up arrow in:

![image](https://user-images.githubusercontent.com/4982940/29316144-01519068-81c7-11e7-9f49-3f0e1f6d18d6.png)

The mouse selection seems to work again. Even after reducing the size back.

[2017-08-15 12:52] artisticcheese commented on #953
Confirming that enlarging windows is in fact fixing the issue.

[2017-08-15 15:54] RickFlist commented on #984
Thanks. Not being able to use Snippets has really slowed me down. :\

[2017-08-15 19:40] RickFlist commented on #984
I also just noticed that CTRL+SHIFT+O does not list all the functions in a module as well. I verified integrated terminal started and even killed and and restarted it. CTRL+SHIFT+O states "no symbol information found"

[2017-08-15 22:30] benpiper opened #997 "Integrated Console doesn't display >> prompt"
### System Details

[code]

### Issue Description

Behavior of PowerShell Integrated Console:
[code]
Expected behavior:
[code]

[2017-08-15 22:34] daviwil commented on #997
This is being tracked by #569, closing in favor of that.  Thanks!

[2017-08-15 22:34] #997 closed

[2017-08-15 23:19] benpiper commented on #569
Please make it so!

[2017-08-16 06:55] DarkLite1 commented on #961
Thx for the feedback @daviwil I'd rather not mess with custom settings because I think this should indeed be handled by the editor in all cases. So code awareness might be needed to make this work properly. Thank you for putting this on the agenda, as it might play for other languages too.

[2017-08-16 07:20] AndersElonGroup commented on #991
Thank you for the explanation. I did not know that.
You say temporarily set  $ErrorActionPreference  to Stop, is there any drawback to have it permanently to stop by $global:ErrorActionPreference = "Stop"

[2017-08-16 11:32] mattmcnabb commented on #991
Yes, there is definitely a drawback - any commands you run that return non-terminating errors would instead be terminating. If you're scheduling scripts that only run actions against Exchange Online then it would probably be fine to set the ErrorActionPreference to Stop for that session. If you're writing functions that you'll use in the shell or in other scripts then I would consider changing the

[2017-08-16 11:42] AndersElonGroup commented on #991
thank you again, I will add the $ErrorActionPreference = Stop to my O365-script which is my main use of Powershell.

Since this is not an issue, it was education for me, you can close this.
Can I somehow give you "forum-credit" for your help ?

[2017-08-16 11:47] mattmcnabb commented on #991
You can, but like in "Whose Line is it Anyway" the points won't count for anything. ;)

[2017-08-16 11:52] AndersElonGroup commented on #991
OK, I'll just say "A big thank you". :)

[2017-08-16 14:55] ajansveld commented on #261
Already a fan of vscode but this would really take it to the next level.

[2017-08-16 15:53] MaximoTrinidad opened #998 "VSCode - Integrated Terminal not clearing multi-lines entry when pressing ESC key."
OS Version:
PowerShell Extension:
### System Details
- Operating system name and version: Windows 10 Insider Build 16257
- VS Code version: VSCode Version: 1.16.0-insider
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`: (See below)

[code]

### Issue Description

Integrated Terminal PowerShell not clearing multi-lines entry when pressing ESC key. Please see Mike Robbins video

[2017-08-16 16:40] RickFlist commented on #984
FYI, while working on something I accidentally moved my powershell.json snippets file. This resolved the performance issues.

[2017-08-16 18:47] jrremillard commented on #129
Hi All

Is there any update on this request?

[2017-08-16 20:27] GoateePFE commented on #120
On MacOS with VSCode 1.15.1 and PowerShell Extension version 1.4.1 and PowerShell Core Beta 5...
I am able to start a job from the terminal window or by pressing F8 on a line in the editor. However, if I use the F8 method, then the terminal window does not respond until I press ENTER an additional time. If I run Start-Job in the terminal window directly then the prompt returns immediately. The sam

[2017-08-17 08:28] larssb commented on #188
Shared the idea on UserVoice. For reference here is a link: [https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/20579914-catch-illegal-syntax-in-array-definition](url)

[2017-08-17 14:06] NickPl opened #1000 "Insufficient PowerShell Host Version"
### System Details

- Operating system name and version: Windows Server 2012 R2 Standard
- VS Code version: 1.15.0
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      4.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion

[2017-08-17 14:16] sbakkis commented on #629
Any news regarding this? I am having this issue also.. A drag going back to ISE again.

[2017-08-17 14:17] NickPl commented on #1000
I think I figured out how to solve the issue. In the definition file there is this line:

PowerShellHostVersion = '4.0'

Which will check the host version. Since your version is 1.4.1, there is no bug.

You should change your version to 4.1. So it would be compatible with the critera. Thus, the major shoud always be the lastest Powershell version supported by your tool. Does it make sense to you?

[2017-08-17 15:51] Tyriar commented on #953
@daviwil could you try running PSIC against the xterm.js demo (on the v3 branch ideally) and see if it repros there? https://github.com/sourcelair/xterm.js/tree/v3#demo

You can set the executable here: https://github.com/sourcelair/xterm.js/blob/f3d375a7a8c4a078f9892b5983d700896eb13174/demo/app.js#L27

[2017-08-18 16:51] daviwil commented on #984
@kapilmb will look into this for the next release

[2017-08-18 17:47] RickFlist commented on #984
The snippets file was a red herring, after about 30 minutes the perf issues came back. Is there a workaround? Not having intellisense is very annoying

[2017-08-18 17:50] daviwil commented on #984
You could try turning off PSScriptAnalyzer in your settings:

[code]

[2017-08-18 17:52] RickFlist commented on #984
That seems to work. Thank you so much.

[2017-08-18 17:57] RickFlist commented on #984
Fudge. It's back.

[2017-08-18 19:10] aarontheadmin commented on #25
In relation to the original post, when you backspace a command, parameter, or argument, and try tab completion, it doesn't complete - just inserts a tab character, making you manually type it in. This happens in the script editor pane, whereas the Integrated Terminal does not have this problem.

[2017-08-19 17:51] kapilmb commented on #984
@RickFlist There is a good chance that the formatter is crashing, which is causing the problem. There are a few situations I can think of that that can cause it to crash but would like to know for sure what is causing the problem on your side.

Would it be possible for you to share the document on which this is happening so that I can find out the exact issue? Thanks!

[2017-08-19 17:53] RickFlist commented on #984
It literally happens in everything. I can open a new document and start typing, and intellisense fails

[2017-08-19 17:58] kapilmb commented on #984
This is very strange. I see that the zip file you have attached does not contain the logs. Can you please try sending me the logs again for the instance when you encounter the issue? (Steps for sending logs here: https://github.com/PowerShell/vscode-powershell#reporting-problems). Thanks.

[2017-08-19 18:03] RickFlist commented on #984
yup. won't be until EOD Monday probably

[2017-08-21 19:58] RickFlist commented on #984
I just looked in my VS Code settings and editorServicesLogLevel is already set to verbose. There were no logs in my original attachment?

[2017-08-21 20:02] RickFlist commented on #984
I checked and editorServicesLogLevel was already set to verbose. So I looked in the logs folder and still have logs from the time when I submitted the original issue, plus logs from the interim. Hopefully there is a plethora of information contained therein

[v-toddle@microsoft.com-vscode-powershell-logs-[2017-08-09 to 2017-08-21].zip](https://github.com/PowerShell/vscode-powershell/files/1239987/

[2017-08-21 20:07] daviwil commented on #984
Thanks Todd.  What did you use to create the ZIP file?  I actually get two sets of files when I open it with different ZIP tools on Windows and Linux.

[2017-08-21 20:31] RickFlist commented on #984
7-Zip, but it should have created a standard zip archive? I re-created the archive using Windows (not 7zip) and I have attached both archives again with names indicating what created the archive (tail of filename)

[v-toddle@microsoft.com-vscode-powershell-logs-[2017-08-09 to 2017-08-21]-WindowsZip.zip](https://github.com/PowerShell/vscode-powershell/files/1240055/v-toddle.microsoft.com-vscode-pow

[2017-08-21 20:38] RickFlist commented on #984
Here's what should be in the .zip

FullName                                                                                                                                                     Length
--------                                                                                                                                                     ------
C:\Users\v-toddle\.vscode\extensions\

[2017-08-21 22:17] kapilmb commented on #984
I looked through the logs that you attached, and I cannot find anything wrong with the formatter just through the logs:
[code]

It seems all the formatting requests are honored by the server, and it is not clear why the `formatting powershell document...` should stay stuck in the status bar.

My initial hunch was that the formatter crashed, but the only crash at the server appears only in one log

[2017-08-21 22:21] RickFlist commented on #984
Try these. They are pretty much the only two modules I've been working with over that time frame.

[v-toddle@microsoft.com-repro-scripts.zip](https://github.com/PowerShell/vscode-powershell/files/1240288/v-toddle.microsoft.com-repro-scripts.zip)

[2017-08-22 12:49] lipkau opened #1001 "incorrect syntax highlight in parameter type"
### System Details
[code]

### Issue Description

I have a parameter declared as: `[X509Certificate] $Certificate`.
However, the numbers in the typename are not colored correctly (see screenshot)

### Attached Logs

![image](https://user-images.githubusercontent.com/4992870/29566153-110b62cc-8749-11e7-88e8-eea53a98e140.png)

[2017-08-22 13:47] daviwil commented on #953
Tried setting it up to run in the demo page but I can't seem to get past this error:

![image](https://user-images.githubusercontent.com/79405/29568513-685b8bcc-8705-11e7-9149-8f03c5293f2d.png)

I think xterm.js is working fine on its own though, the problem only occurs in VS Code if "normal" terminal is opened before another that is opened with createTerminal.  If no prior terminal exists in VS C

[2017-08-22 13:51] daviwil commented on #1001
This issue was moved to PowerShell/EditorSyntax#56

[2017-08-22 13:51] #1001 closed

[2017-08-22 13:57] ajansveld opened #1002 "'Compare with Saved' crashes the PowerShell session"
### System Details

- Operating system name and version: Windows 10 (10.0.14393)
- VS Code version: 1.15.0 (8b95971d8cccd3afd86b35d4a0e098c189294ff2)
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
[code]

### Issue Description

When using the "Compare with Saved" feature on a PowerShell script the extension stops with a "The PowerShell session has terminated due to an error

[2017-08-22 14:05] daviwil commented on #1002
No problem!  I actually just started looking into this one again, expect a fix in the next update.

[2017-08-22 15:34] uernst opened #1003 "Problems running/debugging scripts with references to x86 dlls"
Hi,

first the specs:

### System Details

- Operating system name and version: win10prof
- VS Code version: 1.15.1 x64
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
PSVersion                      5.1.14393.1532
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.1532
CLRVersion

[2017-08-22 15:49] #637 closed

[2017-08-22 18:08] RickFlist commented on #984
So, with caution, I am going to say that over the last 24 hours VS Code has been much more performant.  There are still often delays in intellisense and Formatting Document does will sometimes run much faster.

I have made the following changes since bug opened:
* Upgrade to VS Code x64
* A few days ago I was prompted to update VS Code x64 which I did
* I found a ton of old Azure modules on my com

[2017-08-22 18:15] Tyriar commented on #953
@daviwil weird.

Ok then, in VS Code when you can reproduce the problem could you open devtools, add a breakpoint to [this line](https://github.com/sourcelair/xterm.js/blob/cc7c310eee72b8b43d1b5372d4482b4ca54d5b91/src/xterm.js#L1021) and see whether `mouseEvents` is `true`?

[2017-08-22 18:49] daviwil commented on #953
Just tried repoing it in 1.15.1, any time I hit a breakpoint on that line (regardless of whether the issue reproes or not), self.mouseEvents is always undefined:

![image](https://user-images.githubusercontent.com/79405/29581395-f847e00a-872d-11e7-8afd-5d013bd8ac0e.png)

Also in VS Code Insiders (which seems to have a different build of xterm.js judging from the code), I see the same thing, _this.

[2017-08-22 20:53] daviwil commented on #317
We accomplish this with session files now, closing this old issue.

[2017-08-22 20:53] #317 closed

[2017-08-23 14:12] 1trevor commented on #535
Will this also make it so Clear-Host actually clears the terminal window and doesn't just move the input line to the top of the screen?

[2017-08-23 16:05] aarontheadmin commented on #954
I am having the same issue - no internet causes "Starting PowerShell..."

- VSCode Version: Code 1.15.1 (41abd21afdf7424c89319ee7cb0445cc6f376959, 2017-08-16T18:05:38.342Z)
- OS Version: Windows_NT ia32 10.0.15063

My connection is going through a switch, router, then modem at work, and a router-modem at home. Same problem in both places.

[2017-08-23 20:51] RickFlist commented on #984
Hey Kapil, I just tried to format the CP-Azure.psm1 file in VS Code and it hung on "Formatting Document" forever. I opened up the logs and searched for error, and found this line repeated in bursts:

8/23/2017 1:43:32 PM [ERROR] - Method "DispatchMessage" at line 147 of C:\projects\powershelleditorservices\src\PowerShellEditorServices.Protocol\MessageProtocol\MessageDispatcher.cs

    MessageDispa

[2017-08-23 22:51] bonneycm opened #1004 "ArgumentOutOfRangeException when finding references crashes language/debug server"
### System Details

- Operating system name and version:  Windows Server 2008 R2
- VS Code version: 1.14.2   (also fails on 1.15)
- PowerShell extension version:  1.4.1
- Output from `$PSVersionTable`:
PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.117
CLRVersion                     4.0.30319.42000
WSMan

[2017-08-23 22:57] daviwil commented on #1004
Thanks for the report!  Seems that the issue here is unrelated to debugging, there's an unusual crash while the language server is searching for references of a symbol:

[code]

This exception definitely shouldn't crash the language server.  We'll get it fixed in an upcoming release.

[2017-08-23 23:00] bonneycm commented on #1004
Many thank YOUs!  I've been trying to repair this for 3 days!

-chris

On Wed, Aug 23, 2017 at 3:58 PM, David Wilson <notifications@github.com>
wrote:

[2017-08-23 23:23] FireInWinter opened #1005 "PowerShell Integrated Console VERY slow after silent errors in Select-Object"
### System Details
[code]
[code]

### Issue Description

Powershell becomes very slow and can take seconds every time I hit enter in the "PowerShell Integrated Console". To reproduce I just have to run the following:
```1..10000 | ForEach-Object { 'a'+$_} | Select-Object @{n='b';e={ $_ | Sort-Object { [ipaddress]($_) }}} | Out-Null```

At that point it is very slow.  Before that it works as expect

[2017-08-24 16:27] FireInWinter commented on #785
I've run into the same thing.  I notice the schedule for this has been bumped a few times and was wondering if we have an idea of when this will be addressed.  I have 1.4.1 installed, so I'm hoping this will be addressed soon as having a really long line and hitting enter at the wrong time makes it so you have to copy from the lines above it instead of just hitting up arrow.

[2017-08-24 18:50] daviwil opened #1006 "Integrated Console doesn't start when missing powerShellExePath setting"
The latest VS Code Insiders builds have caused a change in behavior which causes the PS Integrated Console to not launch when the `"powershell.powerShellExePath` setting isn't specified.   There must have been an API change related to default setting values.

[2017-08-24 20:00] blackneuron opened #1007 "Visual Studio Code 64-bit With A 32-bit Integrated Console"
### System Details

- Operating system name and version: Windows 7 64-bit 6.1.7601
- VS Code version: 1.15.1
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.117

[2017-08-24 22:55] daviwil commented on #1007
It's a bug, will get this fixed shortly.

[2017-08-24 23:04] daviwil commented on #991
Thanks a lot for the help Matt!  Closing this issue out now.

[2017-08-24 23:04] #991 closed

[2017-08-24 23:17] brwilkinson opened #1008 "Windows PowerShell versions not enumerated correctly in 64-bit VS Code"
code -v
1.15.1
41abd21afdf7424c89319ee7cb0445cc6f376959

![vscode](https://user-images.githubusercontent.com/3605266/29693076-96663a5a-8901-11e7-805d-04f9d9e34215.png)

$pseditor.EditorServicesVersion
Major  Minor  Build  Revision
-----  -----  -----  --------
1      4      1      0

code --list-extensions --show-versions
bradygaster.azuretoolsforvscode@1.2.9
donjayamanne.python@0.7.0
eriklynd.jso

[2017-08-24 23:20] daviwil commented on #1008
Thanks Ben!

[2017-08-25 11:44] MikeBazMSFT opened #1009 "Missing tooltip on PS version indicator"
### System Details

- Operating system name and version: Windows 10 Creators Update (1703)
- VS Code version: 1.14.2
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.1.15063.502
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...

[2017-08-25 14:54] daviwil commented on #1009
Thanks for pointing that out!  Fixing it today.

[2017-08-25 15:58] RickFlist commented on #984
Hi Kapil, were you ever able to repro or make any progress on this?

[2017-08-25 22:29] johnnyreilly opened #1011 "Starting Code results in "PowerShell language features are disabled due to an unsupported LanguageMode: ConstrainedLanguage" message"
Raising here after being directed to here: https://github.com/Microsoft/vscode/issues/33143

- VSCode Version: Code 1.15.1 (41abd21afdf7424c89319ee7cb0445cc6f376959, 2017-08-16T18:07:25.676Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
tslint|eg2|0.17.0
csharp|ms-|1.12.1
PowerShell|ms-|1.4.1
vscode-docker|Pet|0.0.16
vscode-icons|rob|7.12.0

[2017-08-25 22:33] daviwil commented on #1011
You're getting this error because we don't support ConstrainedLanguage mode at the moment.  Open powershell.exe, run this code and see what it returns: `$host.Runspace.LanguageMode`

The `terminal.integrated.shell.windows` setting is for VS Code's default Integrated Terminal experience, it doesn't have an effect on the PowerShell extension.

[2017-08-26 02:49] it-praktyk commented on #898
It looks like Sapien implemented it in [PowerShell Studio 2017: Service Release v5.4.141](https://www.sapien.com/blog/2017/06/27/powershell-studio-2017-service-release-v5-4-141/).

[2017-08-28 02:08] robe070 opened #1012 "editor.formatOnType/Paste insert extra tab at beginning of line"
### System Details

- Operating system name and version: WINDOWS 10 Pro Version 1703
- VS Code version: 1.15.1
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.15063.502
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
Build

[2017-08-28 11:36] powercode opened #1013 "Unable to debug PS5.1 module - useless errormessage"
### System Details

- Windows 10 RS2
- VS Code version: 1.15.1
- PowerShell extension version: 1.4.1

[code]

### Issue Description

I am experiencing a problem with debugging a file, launched with
[code]

The only output is
[code]

The script is doing has the following structure
[code]

The module exists in my module path, and I have another version of the files opened in the editor, and maybe lo

[2017-08-28 15:09] adbertram opened #1014 "Editor Services not starting due to "non-existent" path"
### System Details

- Operating system name and version: MacOS Sierra
- VS Code version: 1.15.1
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
[code]

### Issue Description

I use VS Code on my Mac and access PowerShell scripts on a Parallels Windows VM. Parallels mounts the Windows disk directly as a volume on my Mac. This has been working great until I recently upgraded t

[2017-08-29 08:29] elangelo commented on #683
Same here.

[2017-08-30 18:19] Tyriar commented on #953
Hm... Seeing if the event makes it to the SelectionManager would probably be the next step

https://github.com/sourcelair/xterm.js/blob/575c10114be5002b45d4d7842a6f8741ba87f5e3/src/SelectionManager.ts#L318
https://github.com/sourcelair/xterm.js/blob/575c10114be5002b45d4d7842a6f8741ba87f5e3/src/SelectionManager.ts#L453

This is the part of the code that actually does the selection.

[2017-08-30 22:37] agressiv opened #1015 "Function not honoring theme"
### System Details

- Windows 10 Build 1703

Copy / paste the following commands into the PowerShell Integrated Console, and paste the output here:

[code]

[code]

[code]

[code]
### Issue Description

I'm trying to mimic SAPIEN's PowershellStudio Theme, which is slightly different than the ISE theme that ships with the plugin.  It doesn't appear that the Powershell plugin handles functions consi

[2017-08-31 07:37] jurelab commented on #691
I am having same issue. ScriptMigo did you manage to solve it?

Name                           Value
----                           -----
PSVersion                      5.1.15063.502
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.502
CLRVersion                     4.0.30319.42000
WSManStackVersion

[2017-08-31 11:09] ScriptMigo commented on #691
J, I've not yet found a solution to my (our) issue. Recently upgraded to VSCode x64, but that did not resolve the problem either (one could hope, right?).

[2017-08-31 12:42] jurelab commented on #691
Thanks for quick response. I also use VSCode x64. Hope this gets fixed soon.
J

[2017-08-31 17:36] beatcracker commented on #619
It doesn't work for me (or I'm failing to understand how it's supposed to work).

### Steps to Reproduce:

1. Create new module: `Answer.psm1`
2. Add function to module:
[code]
3. Open module in VS Code
4. Set breakpoint by pressing <kbd>F9</kbd> on `42`
5. Import module via `PowerShell Integrated Console`:
[code]
6. Execute `Get-Answer` function from `PowerShell Integrated Console`:
[code]
7. Not

[2017-09-01 13:54] brandubh opened #1016 "AzureRM Tools extension prevents PowerShell extension from loading"
### System Details

- Operating system name and version: Windows 10 (1703) 15063.540
- VS Code version: 1.16.0-insider
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.15063.502
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0..

[2017-09-01 15:05] mklement0 opened #1017 "Editor Services fail on startup / don't load properly on macOS and Linux"
### System Details

- Operating system name and version:
   * macOS 10.12.6
    * Ubuntu 16.0
- VS Code version: 1.15.1
- PowerShell extension version: 1.14.1
- Output from `$PSVersionTable` (on macOS):

[code]

From macOS:
[code]

### Issue Description

Things start to go wrong when the PS version cannot be determined and the version is assumed to be v5:

[code]

In effect, the Editor Services do

[2017-09-01 16:15] AspenForester opened #1018 "Issue with disconnected pssession"
### System Details

- Operating system name and version: Microsoft Windows 10 Enterprise 10.0.14393 Build 14393
- VS Code version:
1.15.1
41abd21afdf7424c89319ee7cb0445cc6f376959
- PowerShell extension version:
Major  Minor  Build  Revision
-----  -----  -----  --------
1      4      1      0
ms-vscode.PowerShell@1.4.1
robertohuertasm.vscode-icons@7.12.0

- Output from `$PSVersionTable`:
Name

[2017-09-01 16:52] RickFlist commented on #496
Hi all,

Has this been released? If not is there a date?

[2017-09-01 17:31] daviwil commented on #496
@RickFlist try the "PowerShell: Expand Alias" command, that should work for now.

[2017-09-01 18:12] RickFlist commented on #496
That's what I'm using now. Thanks

[2017-09-02 00:13] daviwil commented on #1003
Hi Uwe, can you check and see if the `powershell.powerShellExePath` setting is present in your user settings file?  If so, remove it and the `powershell.useX86Host` setting should start working again.  If not, please let me know and I'll investigate.

[2017-09-02 10:27] Lazarix commented on #621
Is it possible to get this added to milestone 44 or 45
https://github.com/PowerShell/vscode-powershell/milestone/44
https://github.com/PowerShell/vscode-powershell/milestone/445

It would be great to get this solved and replace powershell as my main ISE.

[2017-09-02 10:27] IanMoroney commented on #621
Is it possible to get this added to milestone 44 or 45
https://github.com/PowerShell/vscode-powershell/milestone/44
https://github.com/PowerShell/vscode-powershell/milestone/445

It would be great to get this solved and replace powershell as my main ISE.

[2017-09-02 11:30] gravejester commented on #1015
The reason for this behavior is in how the syntax highlighting happens. It's based on a set of regex rules. The only reason we are able to assign a particular scope to the name of the function at declaration time is because the rule knows that if you start with the word _function_ then the name follows (very simplified), and we can assign a scope to it.

It's unfortunately impossible to write a re

[2017-09-04 14:30] NathanielArnoldR2 opened #1019 "Language-Specific editor.* Settings Ignored When Formatting Document"
### System Details

- Operating system name and version: Windows 10 1703 (15063)
- VS Code version: 1.15.1
- PowerShell extension version 1.4.1:
- Output from `$PSVersionTable`:
[code]
- Output from `code -v`:
[code]
- Output from `$psEditor.EditorServicesVersion`:
[code]
- Output from `code --list-extensions --show-versions`:
[code]

### Issue Description

[PSDocumentFormattingEditProvider.getEdi

[2017-09-05 11:12] swt-das commented on #550
Any update on the issue? As I'm sure everyone agrees this is a pain when debugging.

[2017-09-05 17:52] FireInWinter commented on #140
This is a big issue for me.  I have a lot of scripts that can take hours to run, but show the progress through Write-Progress.  Without it, I have no way of seeing what it is doing without modifying a lot of code.  Could we please get something even if it isn't a perfectly good UX?  Having something that sort of works and is ugly is better than nothing.

I also don't understand why the default con

[2017-09-05 19:46] daviwil opened #1020 "PowerShell session commands should start extension if not already started"
The "Restart Current PowerShell Session", "Show Session Menu", and "Show Integrated Console" commands currently raise a "command not found" error if the extension hasn't already been activated in the current window (usually because the user hasn't opened a PowerShell file yet).  These commands should cause the extension to activate so that they are useful in this case.

[2017-09-05 22:14] thoughtentity commented on #140
The current VS Code release `v1.15.1` has built in support for the `Write-Progress` cmdlet in the regular integrated shell however the progress UI will not show up if you're using the integrated shell provided by VS Code PowerShell extension.

![image](https://user-images.githubusercontent.com/208549/30085743-d3e30efe-924c-11e7-8c09-a8dfa95b9dcd.png)

[2017-09-05 23:18] anthony-gregg opened #1022 "Debugging session does not end, even after selecting "Stop Debugging""
### System Details

- Operating system name and version: Windows 10 Creator (15063.540)
- VS Code version: 1.15.1
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.1.15063.502
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
B

[2017-09-05 23:30] daviwil commented on #1007
Resolving as duplicate of #1008.

[2017-09-05 23:30] #1007 closed

[2017-09-05 23:32] daviwil commented on #1006
Wasn't actually able to reproduce this issue when I tried it, but I made sure that the correct default value will get sent through no matter what.

[2017-09-05 23:57] daviwil opened #1024 "Enable extension unit tests on Linux and macOS"
We've currently got extension unit tests disabled on Linux and macOS because the VS Code extension test runner is failing without any useful error message before running the tests.  We will re-enable these as soon as we can diagnose this issue.

[2017-09-06 00:50] #993 closed

[2017-09-06 00:50] #1006 closed

[2017-09-06 00:50] #1008 closed

[2017-09-06 00:50] #1009 closed

[2017-09-06 00:50] #1020 closed

[2017-09-06 08:49] ricardogaspar2 opened #1025 "Cmdlet help snippet does not get generated inside of workflow blocks"
Just a request for improvement.

So far I didn't find a plugin or a way to auto-generate PowerShell scripts documentation. It would be great to have this automated.

Probably there is, but I was searching online and in this repo, and I didn't find anything.

[2017-09-06 09:25] kborowinski commented on #942
Do I miss something? It still does not work in PowerShell 1.4.2 extension.

[2017-09-06 09:49] kborowinski opened #1026 "Missing prompt when launching temporary interactive debugging session"
### System Details

- Operating system name and version: Windows 10.0.16353.1000 x64
- VS Code version: 1.15.1
- PowerShell extension version: 1.4.2
- Output from `$PSVersionTable`:

[code]

### Issue Description

Reopening issue #942 - the command prompt still does not appear when stating an interactive debugging session

[2017-09-06 10:06] kborowinski commented on #1026
I know why. The PowerShellEditor services included with PowerShell extension 1.4.2 are the same as in 1.4.1, so the bug is still there.

[2017-09-06 14:09] daviwil commented on #1026
Hey Kris, sorry about that.  1.4.2 was a one-off client side only update to address some issues caused by the new 64-bit build of VS Code.  The original bug that I closed is still fixed but I haven't shipped those changes yet.  Was trying to get a "quick" update out to address 64-bit issues without pulling in unfinished work for 1.5.

I'll close this since the issue is fixed but unreleased.  Sorry

[2017-09-06 14:09] #1026 closed

[2017-09-06 14:11] daviwil commented on #1025
Hey Ricardo, have you tried typing out a comment block above or inside of a PowerShell function?  We automatically generate the help comment for you.  See this changelog note for more details:

https://github.com/PowerShell/vscode-powershell/blob/master/CHANGELOG.md#new-dynamic-snippet-for-adding-comment-based-help-748

Are you looking for something different entirely?

[2017-09-06 17:16] tmknight commented on #140
Confirmed!  Either execute your dotted script in 'powershell' host (not powershell integrated) or copy and paste code into 'powershell'.  Else use [https://github.com/gravejester/psInlineProgress]https://github.com/gravejester/psInlineProgress.  Be sure to REM Line 36 of the psd1
`# Name of the Windows PowerShell host required by this module
#PowerShellHostName = 'ConsoleHost'
`

[2017-09-06 17:33] brwilkinson commented on #1008
Thanks @daviwil looks good   :)

[2017-09-06 17:47] daviwil commented on #1008
Thanks for confirming!

[2017-09-06 18:35] brwilkinson commented on #773
Just to add a comment.

The SaveAs() method, I believe would be on the Type: Microsoft.PowerShell.EditorServices.Extensions.FileContext

$psEditor.GetEditorContext().currentfile | gm

[2017-09-07 08:23] CookieCrumbles commented on #551
Is the fix implemented in the latest Insiders update? I'm still having this issue. Currently working on a scraping project and this makes me rotate back to ISE :'(

[2017-09-07 14:39] mpearon commented on #517
@daviwil  - Has there been any more planning and/or movement on this project?

[2017-09-07 14:47] daviwil commented on #517
We've been occupied with other work lately so we haven't been able to focus on this particular issue.  I think the ideal way to add this feature would be through an extension module.  Thankfully @SeeminglyScience has done just that :)

https://github.com/SeeminglyScience/EditorServicesCommandSuite

Check out the Demo section for a GIF that demonstrates its features.

[2017-09-07 14:47] dlwyatt commented on #972
I'm seeing these errors even if transcription isn't running.

[2017-09-07 14:52] daviwil commented on #972
@gerane has reported this as well.  The core problem here is that the native app you're calling is doing something that causes one of the PSRawHostUserInterface methods I don't implement to be called so it fails.  The solution is to provide a more complete implementation there (though I'd rather find a way to reuse the real PowerShell ConsoleHost so that we can get past all of the current limitati

[2017-09-07 16:59] dlwyatt commented on #972
In my case, it happens on every external command I run.  Here's the innermost exception:

[code]

[2017-09-07 17:08] dlwyatt commented on #972
Interestingly, GetBufferContents is only called by NativeCommandProcessor.Complete() in a block where it's supposedly transcribing.  But if I run `Stop-Transcript`, it tells me the host is not transcribing.  I'll do some more digging to find out what's going on there.

[2017-09-07 17:23] dlwyatt commented on #972
Heh, nevermind.  Company's saving powershell transcripts via policy.  :)

[2017-09-07 17:53] gerane commented on #972
@ChrisWarwick @daviwil @dlwyatt oh! great find. I just tested and disabled the transcription policies and the errors stopped happening.

I can at least make sure this is disabled when doing presentations or demos now, but would be great to see this fixed.

[2017-09-07 17:58] gerane commented on #972
@daviwil @ChrisWarwick @dlwyatt The issue I encounter, is that depending on how the commands were invoked, these can become terminating errors.

For example, I have a function that runs a plaster template to create a new project, and also initializes the git repo and a bunch of other related tasks. If I run the command in the console, I get errors, but they are non-terminating. If I run this from

[2017-09-07 18:04] daviwil commented on #972
@dlwyatt Thanks Dave!  I don't know why I didn't look at the call stack and actually figure out why this was happening.  Looks like if I implement the method enough to satisfy this code the problem should go away:

https://github.com/PowerShell/PowerShell/blob/7c9b188c135ed001093641698d48a22fd016f6ab/src/System.Management.Automation/engine/NativeCommandProcessor.cs#L713

I'll try to throw that in

[2017-09-07 18:04] gerane commented on #972
Here is my issue from PSES PowerShell/PowerShellEditorServices#396

[2017-09-07 22:31] BoardWithLife opened #1027 "Terminal doesn't remove additional lines run from the editor when viewing history."
### System Details

- Operating system name and version: Windows 10 Enterprise
- VS Code version: 1.15.1
- PowerShell extension version: 1.4.2
- Output from `$PSVersionTable`: See Below

[code]

### Issue Description

I am experiencing a problem with running multiple lines in the editor creating issues when browsing history from the terminal.

1 .Create Multiple lines of code in the editor. (Just

[2017-09-08 00:48] jimp02 commented on #1019
I have this problem also.

In the user settings file I have:
    "editor.insertSpaces": false,

Then a powershell configuration override with:
    "[powershell]": {
        "editor.insertSpaces": true
    },

When I select "Format Document" in the context menu, the file it formats with tabs.
The powershell configuration override setting is ignored.

[2017-09-08 10:11] brandubh commented on #1016
Still present with extension 1.4.2

2017-9-8 12:09:12 [NORMAL] - Visual Studio Code v1.17.0-insider 64-bit
2017-9-8 12:09:12 [NORMAL] - PowerShell Extension v1.4.2
2017-9-8 12:09:12 [NORMAL] - Operating System: Windows 64-bit

2017-9-8 12:09:12 [NORMAL] - Language server starting...
2017-9-8 12:09:12 [NORMAL] - Language server startup failed.

[2017-09-08 10:52] abhi18av opened #1028 "Keeping the focus in the editor window in VsCode with F8"
Hi powershell team

I just have a relatively simple request that I'd like to know if it's possible to execute a snippet using `F8` and still keep focus on the same editor rather than moving to the terminal windows in VsCode?

### System Details

- Operating system name and version: Ubuntu - Xenial - 16.04.3
- VS Code version: 1.15
- PowerShell extension version:
- Output from `$PSVersionTable`:

[

[2017-09-08 12:05] cjrege commented on #1016
Hi, I am having the same problem here:

Windows 10 (1703) 15063.540

$PSVersionTable:
PSVersion                      5.1.15063.502
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.502
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
Serializatio

[2017-09-08 13:39] daviwil commented on #1016
Thanks all!  @Jaykul also reported this issue to me recently but I haven't yet figured out why it's happening.  The logs you've all pasted are a good starting point for investigation so I'll take a look today.

[2017-09-08 13:44] daviwil commented on #1028
Hey Abhinav, try this setting:

[code]

[2017-09-08 13:44] #1028 closed

[2017-09-08 13:46] daviwil commented on #1016
By the way, does this problem occur for you when using VS Code Stable 1.16.0 which was released yesterday, or only in the latest Insiders builds?

[2017-09-08 14:59] daviwil commented on #1016
Damn, not sure what happened there.  Seems like it's not launching PowerShell at all.  Can you try adding this setting to see if it makes any difference?

[code]

[2017-09-08 15:51] daviwil commented on #1016
Thanks a lot for confirming! I'll see if I can get a fix out for that today.

[2017-09-09 04:21] abhi18av commented on #1028
Hi @daviwil ,

Thanks for the prompt response, I appreciate it.

 I never realized that vscode had so many settings!

[2017-09-10 07:44] hmmwhatsthisdo opened #1029 "Add support for Types.ps1xml files"
### System Details

- Operating system name and version: Windows 10 Pro x64
- VS Code version: 1.16.0
- PowerShell extension version: 1.4.2
- Output from `$PSVersionTable`:
[code]
[code]

### Issue Description

Currently, there's no support for Types.ps1xml files - used for augmenting PoSH/CLR types through the Extended Type System. While the built-in XML language parser kind-of works, it only han

[2017-09-11 06:44] cjrege commented on #1016
@daviwil adding the powerShellExePath doesn't work for me in the 1.16.0 build, however the extension works with the latest insider build without any changes

[2017-09-11 18:04] FireInWinter commented on #702
Any chance of getting this addressed soon?  I've ran across it by just pasting a long, single line, command into the PowerShell Integrated Console.

[2017-09-11 18:34] richardrobberse commented on #1016
@daviwil adding the powerShellExePath didn't work for me either, I'm on the 1.16 build.

[2017-09-11 19:54] aydeisen commented on #1016
@daviwil ditto for me.  I'm running VSCode 1.16 on Windows 10 1703, and adding powershell.powerShellExePath.  I was hoping it was from switching VSCode from x86 to x64, but neither enabling the x86 PowerShell nor switching back to 32-bit VSCode resolved the issue

[2017-09-11 19:55] dee3sync commented on #1026
Using vs code v.1.16 on x64, the powershell integrated terminal does not launch.  Nothing appears in the logs even when verbose logging is set in the settings.

To fix this issue, I had to downgrade to code v.1.15 x64 and the powershell extension worked fine.  I see this issue was closed but still seems like a huge bug, is there another open ticket relating to this?

[2017-09-11 23:27] aydeisen commented on #1016
@daviwil I got the extension to work after disabling the 'Azure Tools for Visual Studio Code' extension by 'bradygaster', which is installed as part of the 'Azure Extension Pack' by 'Microsoft'.

[2017-09-12 06:29] richardrobberse commented on #1016
@aydeisen This worked for me too, thanks for the tip!

[2017-09-12 06:52] cjrege commented on #1016
@aydeisen removing the Azure tools also fixed powershell for me. And now after I added the msazurermtools.azurerm-vscode-tools extension again PowerShell still works...

[2017-09-12 09:17] kborowinski commented on #1026
@dee3sync - I think that your case is a different issue not related to bug with opening a _temporary_  interactive debugging session so I guess you should report it.

[2017-09-12 10:16] tyteen4a03 commented on #558
An option for OTBS would be great.

[2017-09-12 11:23] aydeisen commented on #1016
@cjrege: that extension doesn't look right.  It was the bradygaster.azuretoolsforvscode-1.2.9 extension that was the issue.  The ms-vscode.powershell-1.4.2 extension continued to work with all of the other Azure extensions included with the ms-vscode.vscode-azureextensionpack

[2017-09-12 16:13] rossuhrig opened #1031 "'Microsoft.PowerShell.EditorServices.dll' because it does not exist."
### System Details

- Operating system name and version: Windows 10 Enterprise x64
- VS Code version: 1.16
- PowerShell extension version: 1.4.2
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.15063.502
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVers

[2017-09-12 22:17] daviwil commented on #1016
Hey all, thanks a lot for the investigation!  It definitely turns out that the Azure Tools for VS Code extension (or more accurately, one of its dependencies) is causing this issue.  They use the AppInsights SDK for Node.js which hijacks some standard Node.js APIs to provide instrumentation.  Their wrapper of the filesystem module is causing an error to be thrown in a way that prevents the PowerSh

[2017-09-12 22:20] daviwil commented on #1031
Hi @rossuhrig, can you give me a text dump of the output of this command:

[code]

Thanks!

[2017-09-13 13:54] daviwil commented on #1017
Hey Michael, are you opening a workspace that contains a lot of files?  I've seen this issue reported in such cases because we're scanning the workspace files to find symbol details for reference and definition searches.  Seems we might be leaking file handles, so I'll need to look into that.

[2017-09-13 15:23] #1016 closed

[2017-09-13 15:29] daviwil commented on #1016
Just shipped 1.4.3 with a fix for this issue, let me know how it goes for you!

[2017-09-13 15:32] rossuhrig commented on #1031
PS C:\Users\itpr12377> ls -R $HOME\.vscode\extensions\ms-vscode.powershell-1.4.2\modules

    Directory: C:\Users\itpr12377\.vscode\extensions\ms-vscode.powershell-1.4.2\modules

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
d-----       09/06/2017  10:49 AM                PowerShellEditorServices
d-----       09/12/2017  10:49 AM

[2017-09-13 16:46] daviwil commented on #1031
Somehow the PowerShellEditorServices modules DLLs got deleted, that shouldn't happen under normal circumstances.  Can you try uninstalling the PowerShell extension, restart VS Code, then re-install the PowerShell extension?

[2017-09-13 17:11] mklement0 commented on #1017
Thanks, @daviwil.

Looks like you've identified the problem on macOS: The problem only happens in a large directory subtree with 12336 files, although only 36 of the files are PS-related (`*.ps1` / `*.psd1` / `*.psm1`).

Seemingly, all 12336 files are scanned and kept open, because even raising `ulimit -n` to the macOS 10.12 maximum of 10240 doesn't help.

Note that the default `ulimit -n` value i

[2017-09-13 17:36] daviwil commented on #1017
Thanks for the additional details!  I'll see if I can figure out a better way to open those files to work around the handle leakage, might be able to ship an update in the next couple of days.

[2017-09-13 18:03] aydeisen commented on #1016
@daviwil I can confirm that the Integrated terminal, along with the PowerShell extension, are now loading properly with bradygaster's `Azure Tools for Visual Studio Code` enabled.

Thanks for the quick turnaround.

[2017-09-13 20:47] daviwil commented on #1016
Fantastic, thanks for confirming, and thanks again for the diagnostic assistance!

[2017-09-14 07:45] brandubh commented on #1016
Great! It solves the issue. Thx a mil.

[2017-09-14 08:55] CookieCrumbles commented on #551
Every update of the Insiders version i hope to see this fixed, no joy so far :'-(

[2017-09-14 10:53] spaelling commented on #625
still in 1.43. Is the fix planned for 1.5.1?

[2017-09-14 14:11] daviwil commented on #625
Yes, but there's no ETA for when 1.5 or 1.5.1 will be released.  The team is busy on some internal compliance work right now so we won't have time to work on larger features or issues for a while.

[2017-09-14 17:52] FireInWinter commented on #1005
Is no one able to reproduce this?  Seems like I made it really easy to reproduce and I'm fairly sure it is a bug.  It might be a low priority bug, but if it hits you, it effectively hangs the "PowerShell Integrated Console".  Sometimes it seems to even cause vs code to become sluggish and I've had to restart vs code a few times when it got bad.

[2017-09-15 02:38] jackmusick commented on #987
I try and troubleshoot this at least once a week. Something I discovered today is that if I hit enter in the integrated console window, the debugger will move to the next line of code. Here are my steps:

1. Set breakpoint
2. Start debugging
3. Breakpoint is hit, click the next button or the start button. The debugger freezes.
4. Hit enter in the Integrated Terminal window, debugger continues onto

[2017-09-17 15:21] ricardogaspar2 commented on #1025
No, I didn't see that. Thank you very much @daviwil !

[2017-09-18 06:51] muzzar78 commented on #842
When I remote into a server within the integrated console, run psedit the file appears in VSCode. However, when I make an edit and save the file the changes aren't getting saved back to the remote server. I have attached the verbose log output.
[vscode-powershell-psedit.zip](https://github.com/PowerShell/vscode-powershell/files/1309888/vscode-powershell-psedit.zip)

[2017-09-18 16:10] devoncustard commented on #987
Version 1.16.1 suddenly stopped working. Have noticed that sometimes it will eventually (like up to 30 seconds) step to next line, but even as poor a coder as i am i dont need that long to read a line of code!

Reinstall worked on my work desktop which isnt Anniversay edition so im thinking it might be related to PS5.1?

[2017-09-18 18:50] jakauppila commented on #550
I've been trying to use VSCode for my day-to-day PowerShell needs, but this issue really hinders how fast I can be when debugging code.

[2017-09-19 02:35] richardajyoung opened #1034 "Where-Object not coloured correctly."
### System Details

- Operating system name and version:
BuildNumber     : 15063
Version         : 10.0.15063

code -v
1.16.1
27492b6bf3acb0775d82d2f87b25a93490673c6d

$pseditor.EditorServicesVersion
Major  Minor  Build  Revision
-----  -----  -----  --------
1      4      1      0

code --list-extensions --show-versions

eamodio.gitlens@5.1.0
filipw.scriptcsRunner@0.1.0
formulahendry.code-runner@

[2017-09-19 03:53] rkeithhill commented on #1034
This is most likely an issue with the https://github.com/powershell/editorsyntax project.

[2017-09-19 04:12] rkeithhill commented on #1034
It looks like this regex is hitting before the `Where-Object` regex:
[code]
`where` is NOT a language keyword according to these [docs](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_language_keywords?view=powershell-5.1).  So perhaps it should be removed from the above.  Although you'd think that `Foreach-Object` would have the same issue.

[2017-09-20 01:25] thezim commented on #1034
This bugs me to. This is what I have for my `PowerShellSyntax.tmLanguage` installed within my vscode (1.16.1) on OSX.

[code]

File itself appears to be very different from https://github.com/PowerShell/EditorSyntax/blob/master/PowerShellSyntax.tmLanguage

`foreach` has an exclusion with `object`. `where` should get the same treatment or outright removed as @rkeithhill recommended.

[code]

Adding

[2017-09-20 12:10] krehberger opened #1035 "Issues with German Umlaute"
### System Details

- Operating system name and version: Windows 10 Pro, 1703, 15063.608
- VS Code version: Code 1.16.1 (27492b6, 2017-09-14T16:38:23.027Z)
- PowerShell extension version: 1.4.3
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.15063.608
PSEdition                      Desktop
PSCompatibleVer

[2017-09-20 12:42] thezim commented on #1034
Even stranger on vscode (1.16.1) for Windows.

[code]

I don't believe `where(?!=-object)` is correct. The `=` shouldn't be there.

@rkeithhill any idea what repo we should escalate this to?

[2017-09-20 15:01] rkeithhill commented on #1034
Yes, we should move this whole issue over to https://github.com/powershell/editorsyntax

I believe @daviwil has a tool and the privs to move issues.

[2017-09-20 15:02] rkeithhill commented on #1034
I don't think the whole `where(?!=-object)` should be there.  AFAICT `where` is not a keyword.  It doesn't show up in `about_Languages_keywords`.

[2017-09-20 18:47] thezim commented on #1034
@rkeithhill but it is an alias.

[2017-09-21 06:09] skest3qc commented on #1035
Hi,
this is a problem with encoding. Check the enconding of the original file and if you edit and save this file in VS code the encoding is changed to UTF-8

[2017-09-21 07:04] LaurentDardenne commented on #1029
See also this feature request on [PSScriptnalyzer](https://github.com/PowerShell/PSScriptAnalyzer/issues/789) project

[2017-09-21 18:46] jackfruh commented on #480
I have the same problem, but mine is looking for powershell alpha 9, which is old. I'm on beta 7 now.

`9/21/2017 1:43:07 PM [ERROR] - powershell.exe cannot be found or is not accessible at path /usr/local/microsoft/powershell/6.0.0-alpha.9/powershell`

Where is it getting the path above from - I can probably just update a configuration and fix this.

[2017-09-21 19:04] daviwil commented on #480
@jackfruh Check your `powershell.powerShellExePath` setting, can you clear it out and restart VS Code?  I wonder if something I'm doing is causing a symbolic link path to be followed so that the version-specific PowerShell path is getting stored in that variable.

[2017-09-21 19:15] jackfruh commented on #480
No, it was me being stupid - I looked at the extension, and then the instructions for the extension and there was a step to point to a specific version - I had that in my preferences.
removed it and it appears to be ok now.

Thanks!

[2017-09-21 19:16] daviwil commented on #480
Hmmm, can you point me to that instruction?  I don't want other people to be tripped up by that too.

[2017-09-21 21:28] jackfruh commented on #480
Hi, to be clear the error was mine. I think the install docs are ok. I must have followed these instructions back in the alpha 9 days,  there is a section that talks about specifying a specific version of Powershell.

![screenshot1](https://content.screencast.com/users/basementjack/folders/Snagit/media/2161e3b6-7c42-4db6-a4de-f6ece21a0d50/2017-09-21_16-19-17.png)

![screenshot2](https://content.sc

[2017-09-22 15:37] rkeithhill commented on #1034
`Sort` and `Select` are aliases as well but they show up in a different color - white.

[2017-09-22 15:44] mkht opened #1036 "Japanese characters not displayed in the integrated console when paste it."
### Issue Description
When I paste japanese chars to the integrated console, pasted chars not displayed.

![code](https://user-images.githubusercontent.com/25482642/30752635-df531906-9ff7-11e7-9010-ebf175726736.gif)

#### How to repro
1. Copy japanese text. (e.g 'こんにちは')
1. Paste it to the integrated console.

### System Details
- OS Version: Windows 10 Pro x64 Japanese (build 15063.608)
[code]

#

[2017-09-22 17:04] thezim commented on #1034
Per @daviwil comments https://github.com/Microsoft/vscode/pull/34701 there is a larger update to cover mutiple issues including this one. I think we can close this issue out here.

[2017-09-22 17:21] daviwil commented on #1034
Yep, we've overhauling the syntax definition, hoping to have that ready soon.  Thanks for your PR!  I'll close this issue now.

[2017-09-22 17:21] #1034 closed

[2017-09-24 21:50] russgove commented on #550
same here, trying to switch to vscode, but this makes it very painful. I use this ALL THE TIME, when debugging scripts!

[2017-09-26 01:29] ContrarianChris commented on #902
I can replicate the same steps and am seeing exactly the same behavior.

All breakpoints in any of my scripts are ignored, except if the breakpoint exists inside a foreach loop.
With a script that has no for/foreach loops in it, which right now results in a straight through execution, adding a simple loop with a breakpoint inside immediately works and the breakpoint is hit during execution. All th

[2017-09-27 02:31] chrisdias commented on #824
i'm seeing this too...

[2017-09-27 16:31] D3MaxT commented on #551
I would love to see this fix implemented in the next release as well! With this fixed and the #region support coming in the next VSCode release, I can finally switch to VSCode full time for PowerShell!

Thank you for the hard work!

[2017-09-27 17:03] daviwil commented on #551
This is a bug in VS Code unfortunately.  To verify, start a new VS Code Integrated Terminal with powershell.exe, run Get-Process and then Clear-Host, observe that the screen clearing behavior is exactly the same as in the PowerShell extension's Integrated Console.

I'll have to discuss this with the VS Code team to get it resolved since there's nothing that can be done from within the PowerShell e

[2017-09-27 21:23] BladeFireLight commented on #972
I looking forward to this fix.  We have transcription on via Policy also.
right now any try/catch with a native command fails 100% of the time.

[2017-09-28 14:27] weinand opened #1037 "Break Points do not clear for Powershell"
_From @Steve-Lewis on August 22, 2017 16:1_

- VSCode Version: Code 1.15.1 (41abd21afdf7424c89319ee7cb0445cc6f376959, 2017-08-16T18:05:38.342Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.2.11
xml|Dot|1.9.2
vscode-html-css|ecm|0.1.8
rest-client|hum|0.15.2
csharp|ms-|1.12.1
PowerShell|ms-|1.4.1
team|ms-|1.122.0
html-cs

[2017-09-28 14:51] mattmcnabb commented on #1037
@weinand this is a duplicate of #625 and is due to VSCode's debugger implementation.

[2017-09-28 17:15] daviwil commented on #1037
@mattmcnabb the irony here is that @weinand is the author of VS Code's debugger ;)  #625 is actually something that needs to be fixed on my side.

[2017-09-28 17:16] daviwil commented on #1037
There was one part of the issue that VS Code's debugger played a role in but they just fixed that a couple of days ago.  Hopefully I'll get to finish the work on this soon.

Resolving as duplicate of #625.

[2017-09-28 17:16] #1037 closed

[2017-09-28 18:18] mattmcnabb commented on #1037
@weinand @daviwil well that's embarrassing!

[2017-09-28 19:33] D3MaxT commented on #551
Ah, I thought I read earlier that you had a fix for this. No worries. Hopefully there is an open issue for this in their repo.

Thank you for all your hard work!

[2017-09-29 01:55] mvvsubbu commented on #144
Is this something in your radar to be implemented anytime soon?

[2017-09-29 08:19] smandyscom opened #1038 "File path auto-completion by some key or ?"
### System Details

- Operating system name and version:
- Win10 Pro
- VS Code version:
- 1.14.2
- PowerShell extension version:
- 1.4.3
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.14393.576
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2017-09-29 08:24] #1038 closed

[2017-09-29 19:02] oldlost opened #1039 "Codelens shows references to files/folders excluded using "files.exclude" setting"
### System Details

- Operating system name and version: Windows Server 2012 R2
- VS Code version: 1.16.1
- PowerShell extension version: 1.4.3
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSRemotingProtocolVersion      2.3
BuildVersion                   10.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
PSVersion

[2017-10-01 14:29] muzzar78 opened #1040 "PSEdit not saving remote files"
@daviwil  - Could this issue be related to the following?

https://github.com/PowerShell/vscode-powershell/blob/aa86c7e6aad5aadba6d37c564f0678f868898fd4/src/features/RemoteFiles.ts#L11-L24

When I remote into a server within the integrated terminal, run psedit the file appears in VSCode. However, when I make an edit and save the file the changes aren't getting saved back to the remote server. I ha

[2017-10-02 09:29] CookieCrumbles commented on #551
So i suppose this means that there is no ETA on this issue? Is there any other issue i can track ?

[2017-10-02 22:28] agowa338 opened #1041 "PowerShell ext and VMware.PowerCLI vis mount name is already in use"
## Details
- VSCode Version: Code 1.16.1 (27492b6bf3acb0775d82d2f87b25a93490673c6d, 2017-09-14T16:38:23.027Z)
- OS Version: Windows_NT x64 6.2.9200
- Extensions:

## Extensions
Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.3.2
ansible-vault|dho|0.0.9
python|don|0.7.0
ansible|haa|0.2.5
terraform|mau|0.0.18
PowerShell|ms-|1.4.3
vim|vsc|0.10.1
jinja|who|0.0.8
---

## Steps to R

[2017-10-03 04:07] CodyALohse commented on #143
@jduncanator It's been awhile since you posted this, but did you ever find a resolution? I'm running into a similar issue and based on your screenshots it looks like you're using AcmeSharp module which I am as well.

I noticed that when running my script in the Powershell  Integrated console I get the type error, but if I run in the standard Powershell console the script runs fine.

[2017-10-03 05:12] jduncanator commented on #143
@CodyALohse It's been a while, but I think I ended up giving up trying to debug using the PowerShell integration with VS Code, and just resorted to using the PowerShell ISE.

Your issue sounds slightly different to mine, so may not be related.

As a side note, I've just tried to reproduce this @daviwil and the issue still remains. I'm not sure if its possible to blacklist the packaged dependencies

[2017-10-03 11:20] david-house commented on #954
Same issue VSCode 1.16.1
Windows 10.0.15063 64-bit
Powershell extension 1.4.3

[2017-10-03 13:11] adarobin commented on #1016
@daviwil There is still something weird going on with this extension on macOS.  I have to disable the Azure Tools for Visual Studio extension to get the PowerShell Integrated Console to display anything.  If I don't disable that extension, the PowerShell Integrated Console just sits like this forever:
![screen shot 2017-10-03 at 9 09 19 am](https://user-images.githubusercontent.com/17325289/311267

[2017-10-03 13:41] andystumph commented on #1016
I still experienced it on 1.4.3 as well. Had to disable Azure Tools to get the integrated console to launch. Running on Windows 8.1 though.

[2017-10-03 13:48] CodyALohse commented on #143
I think you nailed the issue personally, here is a similar ticket filed [ref](https://github.com/ebekker/ACMESharp/issues/139) on the AcmeSharp project where a version of the Newtonsoft lib was loaded in the GAC, the resolution there was to remove the GAC version.

[2017-10-03 14:31] aydeisen commented on #1016
I’m not seeing the issue reemerge on my Windows 10 machine.  The PS Integrated Console has been taken a little longer to load, but I assume that’s more of a vscode issue than a PowerShell Extension issue.

- VSCode Version: Code 1.16.1 (27492b6bf3acb0775d82d2f87b25a93490673c6d, 2017-09-14T16:38:23.027Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---

[2017-10-03 14:52] jackmusick commented on #987
My issue is strictly with macOS and PowerShell 6, unfortunately.

[2017-10-03 23:16] jduncanator commented on #143
@CodyALohse If you're still facing this issue, you may be able to forcibly load the correct version of the Newtonsoft.JSON assembly into the current AppDomain using reflection to force .NET to use that version of the assembly for future type resolution, and skip .NET from resolving to the packaged VS Code assembly (or one in the GAC). I haven't tested this, so your mileage may vary but something a

[2017-10-03 23:46] cormacpayne opened #1042 "Behavior when prompted for mandatory bool parameter is different in PowerShell Integrated Console"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I have the following in a `temp.ps1` script:

[code]

When I run `.\temp.ps1` with no parameters, I get prompted to provided a value for `Foo`, which I immediately press <kbd>ENTER</kbd>, assigning False to `Foo`. When running

[2017-10-04 15:13] AspenForester commented on #702
I just encountered it (for the first time in a while), and figured I'd ping the issue.  The scenario is consistent: lots of previous output in the scroll back buffer, and a wrapping line of code at the command prompt.

[2017-10-04 15:20] AspenForester commented on #1027
This is related to issue #998

[2017-10-05 07:37] aeschli opened #1043 "Cannot read property 'text' of undefined in HelpCompletionFeature"
powershell extension 1.4.3

editing on the empty line below (line 5) and doing code assist resulted in an error in the console
[code]

shell.ts:454 [ms-vscode.PowerShell] Cannot read property 'text' of undefined: TypeError: Cannot read property 'text' of undefined
	at HelpCompletionFeature.onEvent (/home/aeschli/.vscode-insiders/extensions/ms-vscode.powershell-1.4.3/out/src/features/HelpCompletion

[2017-10-05 07:43] aeschli commented on #1043
Oh, that's on Linux ;-) The status line shows that there is a problem with starting the language server:

10/5/2017 9:41:47 AM [NORMAL] - Language server starting --
10/5/2017 9:41:47 AM [NORMAL] -     exe: /usr/bin/powershell
10/5/2017 9:41:47 AM [NORMAL] -     args: /home/aeschli/.vscode-insiders/extensions/ms-vscode.powershell-1.4.3/scripts/Start-EditorServices.ps1 -EditorServicesVersion '1.4.1

[2017-10-05 14:45] ricardogaspar2 commented on #1025
@daviwil, I noticed that this trick is not possible to use in functions inside PowerShell workflows.
Do you know why?

Example:
[code]

[2017-10-05 19:58] aditya-sen opened #1044 "Powershell debugger fails with Language Service error"
### System Details

- Operating system name and version:Windows 7 Enterprise Service Pack 1
- VS Code version: 1.16.1
- PowerShell extension version: 1.4.3
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      6.0.0-beta
PSEdition                      Core
GitCommitId                    v6.0.0-beta.7
OS

[2017-10-05 21:50] rkeithhill commented on #1044
If you installed PS Core 6.0 beta and want to use it in VSCode that isn't the correct path.  It should be:
[code]
Anyway, no need to set this manually, if you click on the green PowerShell icon on the right end of the status bar it will display a list of PowerShell installations you can switch between.

Also, this crashed starting **Windows** PowerShell.  Can you fire up a Windows PowerShell promp

[2017-10-06 10:43] Nibushi opened #1045 "Error when using ConfigurationName parameter with Enter-PSSession"
### System Details

- Operating system name and version: Windows 8.1
- VS Code version: 1.17.0
- PowerShell extension version: 1.4.3
- Output from `$PSVersionTable`: 5.0.10586.117

### Issue Description

I am experiencing a problem with using the ConfigurationName parameter with the Enter-PSSession cmdlet. If I specify a configuration name when using Enter-PSSession I receive the following error:

[2017-10-06 13:05] jackmusick commented on #824
#987

This is the exact same thing I'm seeing. It's been a problem for a few versions, now. The only difference is that I'm experiencing after stepping into, every other time after pressing enter. This happens on macOS but not Windows.

[2017-10-06 13:27] iricigor opened #1046 "VSCODE- Insiders: Timed out waiting for the PowerShell extension to start"
### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.18.0 Insiders (commit date 2017-10-06T05:26:16.770Z)
- PowerShell extension version: 1.4.3
- Output from `$PSVersionTable`:  5.1.15063.632

### Issue Description

Error: Timed out waiting for the PowerShell extension to start.

This seems to be specific for latest 1.18 insiders build. All works normally on 1.1

[2017-10-06 13:41] rkeithhill commented on #1046
If you set script analysis to false (in your settings):
[code]
and reload VSCode Insiders, does it still timeout?

[2017-10-06 13:46] iricigor commented on #1046
Just tried it, and yes, still the same behavior.

[2017-10-06 14:33] aditya-sen commented on #1044
Output of $PSVersionTable:
Name                           Value
----                           -----
PSVersion                      6.0.0-beta
PSEdition                      Core
GitCommitId                    v6.0.0-beta.7
OS                             Microsoft Windows 6.1.7601 S
Platform                       Win32NT
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
PSRemotingProtocolVers

[2017-10-06 14:42] aditya-sen commented on #1044
I corrected the path to
"powershell.powerShellExePath": "C:\\Program Files\\PowerShell\\6.0.0-beta.7\\powershell.exe"

and also changed VS Code to start in admin mode. I still get the Language Service startup failure:
10/6/2017 9:39:23 AM [NORMAL] - Language server startup failed.
10/6/2017 9:39:23 AM [ERROR] - The language service could not be started:
10/6/2017 9:39:23 AM [ERROR] - Timed out wai

[2017-10-06 14:43] aditya-sen commented on #1044
Selecting Powershell 6 Beta from the language options also does not help.

[2017-10-06 15:27] marcosowns commented on #824
This is the exact same issue I have been experiencing for the last 2 months on Mac OS. Any help here would be appreciated.

[2017-10-06 19:04] Jaykul commented on #1039
I'd love this too. As we've been moving to a function-per-file source "built" into single-file PSM1 modules, those psm1 files sometimes end up _within_ the folder that I've selected as the root of a project -- this means they show up in `go to definition` and interfere with finding the file I needed to edit...

[2017-10-06 19:49] kborowinski commented on #1046
I have the same behavior in VS Code 1.18.0. The PowerShell extension does not start.

[2017-10-07 14:05] pldmgg opened #1047 "PowerShell Core AppImage breaks networking on Ubuntu, Debian, CentOS, and RedHat"
### System Details

I've tested / reproduced this issue on all of the the following systems:

 - Operating System: Ubuntu 16.04.2 LTS
Kernel: Linux 4.10.0-35-generic

- Operating System: Debian GNU/Linux 8 (jessie)
Kernel: Linux 3.16.0-4-amd64

- Operating System: Debian GNU/Linux 9 (stretch)
Kernel: Linux 4.9.0-3-amd64

- Operating System: CentOS Linux 7 (Core)
Kernel: Linux 3.10.0-514.16.1.el7.x

[2017-10-07 14:09] markekraus commented on #1047
I was able to repro this in both `PowerShell-6.0.0-beta.7-x86_64.AppImage` and `PowerShell-6.0.0-beta.8-x86_64.AppImage`

There appears to be an issue with DNS resolution in some instances. assuming the appimage is run as a normal user, ping works, but curl and nslookup do not. ping is unable to resolve if you run appimage as sudo.

The impact is that the web cmdlets are also unable to resolve hos

[2017-10-07 14:14] daviwil commented on #1047
Seems like this issue should be filed at the PowerShell/PowerShell repo? I can move it there for you if you think it's not related to the PowerShell extension for VS Code.

[2017-10-07 14:16] markekraus commented on #1047
ye.. woops.. wrong repo... https://github.com/PowerShell/PowerShell/issues

[2017-10-07 14:16] daviwil commented on #1047
Not a problem :)

[2017-10-07 14:17] daviwil commented on #1047
This issue was moved to PowerShell/PowerShell#5054

[2017-10-07 14:17] #1047 closed

[2017-10-07 14:18] pldmgg commented on #1047
Sorry about that...something something coffee :)

[2017-10-09 19:32] ChadThomsen opened #1048 "Cannot run PowerShellEditorServices when execution policy is set to AllSigned"
### System Details

- Operating system name and version:  Windows 7 (x64)
- VS Code version:  1.17.0
- PowerShell extension version: 1.4.3
- Output from `$PSVersionTable`:

PS C:\Users\q794776> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2017-10-09 20:13] PascalStarke opened #1049 "Powershell session keeps crashing "The filename could not be assigned within the system""
Hi there,

my Powershell-session keeps on crashing every 5 sec.

The verbose log I pulled is attached below.

Hint: I got a german OS, part of the errors are in german. If there is any trouble translating, I will gladly help.

The final error "Der Dateiname konnte durch das System nicht zugeordnet werden." could be translated to "The filename could not be assigned within the system".
Sadly I dont

[2017-10-09 21:19] aditya-sen commented on #1044
I managed to capture a screenshot of the startup error.
![vs-code_startuperror](https://user-images.githubusercontent.com/32553641/31358977-844f3990-ad0d-11e7-92dc-f1e2d4c87357.png)

[2017-10-09 21:58] phunkodelic commented on #1048
I reinstalled Visual Studio Code, and re-installed the PowerShell plugin and now the terminal loads but it takes a long time to load.  I did not time it but it seemed to take about 90+ seconds.

[2017-10-09 22:04] aditya-sen commented on #1044
Finally figured out the issue - I had overwritten my start-editorservices.ps1 file with another version that I copied from a github issue in order to troubleshoot other issues. This version was missing required parameters that the 1.4.3. PowerShell extension was trying to send to it.

[2017-10-09 22:04] #1044 closed

[2017-10-10 07:27] iricigor commented on #1046
Build from 10-10-2017 has the same issue.

[2017-10-10 08:45] BernieWhite commented on #1039
Agree, great suggestion. I also use a `build` directory in the project root, code in `src` keeps being associated with references to code in `build`. It definitely slows down my workflow, checking if the reference is actually to the correct files.

For me personally, exclusion though "search.exclude" which implicitly includes "files.exclude" in the filter would be preferred. I often refer back to

[2017-10-10 16:35] bdtoole opened #1050 "Feature Request: Out-GridView to VSCode"
This might be a limitation of VSCode itself, but if this is doable, it would be great to have an option that would allow the Out-GridView cmdlet to open the output in VSCode instead of an external PowerShell window.

[2017-10-11 11:43] sdcscripts commented on #550
Me too - loving vscode but the ability to use the interactive console whilst debugging at a breakpoint is massively hindered because of this bug :( It's the only thing really stopping me from jumping full swing into vscode.

[2017-10-11 15:49] mattmcnabb opened #1051 "Dark ISE Theme"
So I'm thinking about adding a dark theme to go along with the ISE theme added this spring. My thoughts are that I'd like to keep the console colors as-is, but have dark theming in the editor. Also, I haven't decided whether the UI theming should be kept light like the current PowerShell ISE theme, or whether it should follow the editor theme.

Also, before I begin I'd like to get others thoughts

[2017-10-11 16:06] mattmcnabb opened #1052 "Dark Theme"
I'm planning to create another theme that will be included in the PowerShell extension, this time with a dark editor. Before I begin I'd like to get others thoughts on what they would like to see from a PowerShell ISE Theme - Dark. I think I'll leave the console coloring as-is with the blue PowerShell background, but the editor will be dark.

1. Would you like the UI elements to follow the dark th

[2017-10-11 16:38] dotps1 commented on #1051
dark theme that came in the spring?  is that with the ISE preview thats in the gallery?

[2017-10-11 16:55] mattmcnabb commented on #1051
@dotps1 This spring we added the PowerShell ISE Theme to the VSCode Extension. This theme mimics the color style of the ISE's defaults. The thought was that it would make transition to VSCode a bit more comfortable for those used to the ISE. It comes with the bright white editor and blue console that we all know and love. This was made possible with VSCode's 1.13 release which added the capability

[2017-10-11 16:56] daviwil commented on #1051
A dark theme would be awesome!  I'm OK with whatever direction you want to go with it, maybe start working on something that looks good to you and then post screenshots here for feedback from others?

[2017-10-11 17:34] rickmoua opened #1053 "write-progress not show in vscode 1.17.0"
write-progress gives no error, but doesn't show the progress bar like in the ISE.
Using VSCode 1.17.0 on a windows 10 PSV5.1

VSCODE 1.17.0
PSV 5.1
windows 10

C:\Users\rickym.LSI\Desktop\RM> $psEditor.EditorServicesVersion

Major  Minor  Build  Revision
-----  -----  -----  --------
1      4      1      0

[2017-10-11 18:07] djobin commented on #1040
Hi!
I see the same behaviour. I can remotely edit .ps1 files and it get commited back to the remote server, but when editing other file types (.cmd, .txt, .log, etc.) it does not get synced back.

vs code :  1.17
ps extensions :  1.4.3

[2017-10-12 07:21] iricigor commented on #1053
related to #140

[2017-10-12 08:01] jmarkert commented on #594
define the terminal red to be green helps
"workbench.colorCustomizations":{"terminal.ansiBrightRed": "#008000"}

[2017-10-12 19:05] v2kiran opened #1054 "Update 1.17.1 breaks ps extension"
### System Details

- Operating system name and version:windows 10
- VS Code version: 1.17.1
- PowerShell extension version:
- Output from `$PSVersionTable`:5.1

### Issue Description

the update 1.17.1 released a couple of days ago seems to have broken the ps extension. the status bar at the bottom right hand corner says "starting powershell" . The console just displays the header "powershell int

[2017-10-13 08:47] WernerMairl commented on #824
Again 3 months later with a fresh/new environment!

Windows 10 HyperV
Ubuntu 16.04 Desktop amd64
installed VSCode (dep download and install via UI)
installed Powershell Core (beta 8) downloading dep and install via UI)

VS-Code 1.17.1
Powershell Plugin 1.4.3
Powershell 6.0.0.beta-8
--------------
what are the next steps to solve that ?
- Any trace that i can activate ?
- Any Linux/NodeJs/Atom/VSCo

[2017-10-13 11:35] muzzar78 commented on #1040
Hi,
I can confirm the behaviour I'm seeing is the same as @djobin. Saving ps1 files do get committed back to the remote host but other extensions don't.

[2017-10-13 12:12] muzzar78 commented on #1040
Here is the logic - it checks if the languageId is powershell.

https://github.com/PowerShell/vscode-powershell/blob/aa86c7e6aad5aadba6d37c564f0678f868898fd4/src/features/RemoteFiles.ts#L60-L63

So the workaround is to set the language mode to PowerShell regardless of the extension of the remote file and then the remote save works. I have tested this and it worked for me.