[2019-05-08 22:16] rjmholt commented on #1673
Unfortunately this looks most like https://github.com/microsoft/vscode/issues/62953. VSCode is not good about sending through error messages, but there's some problem occurring when it tries to start the PowerShell process to run the extension on.

Maybe there's a permissions problem with the PS 6.2 executable?

[2019-05-08 22:33] illusive-man commented on #1673
Well, I logged in as a local administrator and all Administrators rights for pwsh.exe were there. I added Read & Execute (there was only Read) for my User\goujon user and restarted the PC. After that it VSC extension and terminal started to work fine. Not sure it was what I did lately, but definitely helped in my case. Thank you very much, @rjmholt!!! You're the saviour! :)
![2019-05-09_1-32-22](h

[2019-05-08 22:37] rjmholt commented on #1673
Great news! Glad I was able to help

[2019-05-09 20:10] #1933 closed

[2019-05-10 00:33] Li-ReDBox commented on #1717
Not sure if it is related. If I select a function body in editor and press F8, then in terminal,
1) use Arrow Up;
2) run `Get-Help My-Func`

The help text is not readable. I guess F8 might have "typed" in every line of selected code which messed up the terminal. I have to manually clear the terminal to get it to normal.

[2019-05-10 09:49] J-kit opened #1956 "Classes: Go to definition"
**Summary of the new feature**
"Go to definition" works with simple scripts but not in classes. The editor just shows an info overlay saying "No definition found for [Method]"

It would be awesome if classes would be supported :)

[2019-05-10 14:33] TylerLeonhardt commented on #1956
This is a dupe of https://github.com/PowerShell/vscode-powershell/issues/3

This was difficult before because the 1.x version of the extension supported back to v3 but the 2.0 version of the PowerShell extension will support 5.1+ making this change much easier.

We can finally bring this feature in we just need time to do it.

[2019-05-10 14:33] #1956 closed

[2019-05-11 05:55] TylerLeonhardt commented on #456
This is basically done except for "The compilation script recognizes that there's no PowerShellEditorServices repo available and clones it" and we don't do the bonus.

[2019-05-11 05:56] TylerLeonhardt commented on #456
I'm actually not quite sure the bonus is possible...

Because of that, we can probably just close this.

[2019-05-11 05:56] #456 closed

[2019-05-11 06:05] TylerLeonhardt commented on #831
Since we don't want to execute PowerShell script without you knowing, @mattmcnabb is right here - you absolutely need to execute the `Register-ArgumentCompleter` in order for it to show up in intellisense.

To do that, all you need to do is select the full `Register-ArgumentCompleter` code and hit F8 to run it. Once you do that, the completions will show up.

I don't think this is an issue in the

[2019-05-11 06:05] #831 closed

[2019-05-11 14:00] osmayqc commented on #1360
It's works for me

[2019-05-11 15:43] osmayqc opened #1957 "The language service could not be started"
[code]

And File. log:

[code]

[2019-05-11 17:55] rjmholt commented on #1360
As noted by @fatherofinvention, execution policy can block the extension from running. The easiest way to fix this is captured in the documentation [here](https://docs.microsoft.com/en-us/powershell/scripting/components/vscode/using-vscode?view=powershell-6#installing-the-powershell-extension-on-restricted-systems)

[2019-05-11 18:02] rjmholt commented on #1957
Hi @osmayqc thanks for opening an issue. It looks like this might be an issue caused by a system configuration like group policy or execution policy.

Can you please try trusting the Microsoft signing certificate on the startup script by following [these steps](https://docs.microsoft.com/en-us/powershell/scripting/components/vscode/using-vscode?view=powershell-6#installing-the-powershell-extension

[2019-05-12 19:33] TylerLeonhardt commented on #1527
I think we can close this as external since this feature would need to come from PowerShell. Let me know if you feel otherwise!

[2019-05-12 19:33] #1527 closed

[2019-05-13 16:38] EricJizbaMSFT commented on #1941
@TylerLeonhardt I gave you permission to the vscode-azurefunctions repo - can you transfer this issue over to that repo?

[2019-05-13 16:49] ebmarquez opened #1958 "powershell auto-format indent not tab indenting correctly"
Issue Type: <b>Bug</b>

Updating a psm1 function the auto format is incorrectly setting the tabs for the second line past the param().

[code]

Settings JSON
[code]

Logs
[code]
Extension version: 1.12.1
VS Code version: Code 1.33.1 (51b0b28134d51361cf996d2f0a1c698247aeabd8, 2019-04-11T08:27:14.102Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---

[2019-05-13 18:00] rjmholt commented on #1958
Hi @ebmarquez, thanks for opening an issue.

This is likely to be a bug in PSScriptAnalyzer, which provides us with formatting functions.

Can you please check this by running `Get-Content -Raw ./your/PowerShell/script.ps1 | Invoke-Formatter -Settings @{ Rules = @{ PSUseConsistentIndentation = @{ Enable = true; PipelineIndentationStyle = 'IncreaseIndentationForFirstPipeline'; IndentationSize = 4;

[2019-05-13 18:41] ebmarquez commented on #1958
yeah, that's not working. I'm trying to figure out the correct syntax.

[2019-05-13 18:48] ebmarquez commented on #1958
This seems to do what you were intending.
[code]

and it looks like it is indenting incorrectly.

[2019-05-13 19:13] rjmholt commented on #1958
Ah, yeah, I think the formatting rules require that `IncludeRules` part.

Ok, that's definitely a PSScriptAnalyzer issue. I've opened a new issue there (linked above).

[2019-05-13 19:13] #1958 closed

[2019-05-14 00:45] cliffordfajardo opened #1964 "Powershell Debugger Not Loading all Modules : Get-StartApps is not recognized as the name of a cmdlet, function, script file, or operable program"
System Details Output

[code]

### Issue Description
When running the powershell debugger with this one line script:

[code]

I get the following error message:

[code]

![debugger-error](https://user-images.githubusercontent.com/6743796/57663286-3c694c00-75a8-11e9-8efa-eff6d4191f3d.PNG)

However, when I run `Get-StartApps` inside my Powershell GUI (Windows Powershell or Windows Powershell ISE), i

[2019-05-14 02:51] rjmholt commented on #1964
Hi @cliffordfajardo, thanks for opening an issue.

Can you report the result of the following command when you run it in the ISE:

[code]

Then can you copy the path of that module like this (or otherwise):

[code]

And then try to import it in the PowerShell Integrated Console in VSCode like this:

[code]

And report the output of that?

[2019-05-14 15:19] joshfria commented on #1957
I'm getting the same issue very often. I tried what you suggested, but it hasn't changed the behavior and I was never prompted.

[2019-05-14 15:33] rjmholt commented on #1957
@joshfria When you say "often" do you mean not always? Can you please follow [the troubleshooting doc](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) and report back here with as much information about your system as you can, including any configuration, policy or software that might be locking down your system?

[2019-05-14 15:41] cliffordfajardo commented on #1964
Running `(Get-Command Get-StartApps).Module | fl` ISE results in:

[code]

Running `(gcm Get-StartApps).Module.Path | clip` in ISE:

[code]

After pasting the module in VSCode Powershell Integrated Console and the running `Get-StartApps`, I'm still getting the same error:

[code]

Even importing the module inside my powershell (`.ps1`) is causing the same error as before:

[code]

[2019-05-14 16:06] rjmholt commented on #1964
Ok that's good information on the module path, but we still need the output (including errors) when you try to import that module from the given path in the Integrated Console:

[code]

This DLL doesn't look like it would be on your module path by default. Is there something in your PowerShell profile that makes it available? If so, the `$PROFILE` in the Integrated Console is a different path to t

[2019-05-14 16:17] rjmholt commented on #1964
Also, there are two more things that come to mind:

- A raw DLL as a binary module (i.e. without a manifest) strikes me as pretty unusual -- this might be intended to be loaded by something else
- Especially strange is a raw binary module that has a nested module that exports a function
- You may need to find that nested module with this: `(gcm Get-StartApps).Module.NestedModules | fl`

[2019-05-14 16:27] cliffordfajardo commented on #1964
Running `(gcm Get-StartApps).Module.NestedModules | fl` inside the powershell ISE

[code]

I did observe something interesting when running `Get-Module -ListAvailable` in (1)Poweshell ISE VERSUS in the (2)VSCode Powershell Intergrated Terminal

1. Ran inside powershell ise (I see `Start-Layout` module near the end of the output below. Also, the last two lines

[code]

2. Running inside `Get-Module

[2019-05-14 16:32] rjmholt commented on #1964
Good, so we now know it's from the `StartLayout` module.

Again, I still need the output of:

[code]

When run from the Integrated Console

[2019-05-14 16:34] rjmholt commented on #1964
I notice the second set of modules lists from the `x86` module path. I think you might be running in 32-bit Windows PowerShell.

You need to use the PowerShell picker in the bottom right to select `x64` PowerShell. If you click on it, a menu will appear at the top of the Window. You then need to select `Switch to: Windows PowerShell (x64)`

[2019-05-14 16:40] cliffordfajardo commented on #1964
1. Output of `ipomo StartLayout` inside Powershell ISE is no output so it works there
2. Output of `ipmo StartLayout` inside VScode:

[code]

### SOLUTION:

Poweshell was running in 32bit mode (x86) instead of 64bit `x64`. Once I changed it to `x64`` everything worked

[2019-05-14 16:42] #1964 closed

[2019-05-14 21:17] SydneyhSmith commented on #1673
Assuming this is resolved for everyone since there has been no activity since my last check-in, please let us know if this is not the case, thanks!

[2019-05-14 21:17] #1673 closed

[2019-05-14 21:23] SydneyhSmith commented on #1926
@PrzemyslawKlys thanks for reporting this as always! We are going to track this issue in #1561 since it is the same issue

[2019-05-14 21:23] #1926 closed

[2019-05-14 21:28] SydneyhSmith commented on #1944
Closing as a duplicate #1494

[2019-05-14 21:28] #1944 closed

[2019-05-15 07:46] lucvdv commented on #633
I think this must be be related:
* $PSScriptRoot shows an empty string as tooltip when debugging in VS Code,
* when you try to examine it while the script is paused during a debug session, by manually typing in '$PSScripRoot' (or Write-Host $PSScriptRoot or Write-Output $PSScriptRoot) in the integrated console window, an empty string is also returned.
* but when script code using it is executed, e

[2019-05-15 17:40] rjmholt opened #1965 "InvalidRunspaceStateException: ... runspace is not in the Opened state"
### System Details

System Details Output
[code]

### Issue Description

When a nested expression is entered into a string in a PowerShell editor buffer, PSRL will crash due to a runspace exception. It's likely the root cause isn't with PSRL integration but with PowerShellExecutionContext.

Here's a repro:

#### Step 1
[code]
#### Step 2
[code]

#### Expected Behaviour

Life as normal

#### Actual

[2019-05-15 17:50] kilasuit opened #1966 "Error in Intregrated VSCode Terminal from PSReadline"
### Issue Description

I occasionally get this error in the VSCode Integrated Terminal from PSReadline and it often is from copying and pasting a largish amount of text into the console.

![image](https://user-images.githubusercontent.com/6355225/57796663-943abb00-7740-11e9-93c5-33f0307feffa.png)

#### Expected Behaviour

This Doesn't throw an error

#### Actual Behaviour

Error is thrown

### Att

[2019-05-15 19:05] rjmholt commented on #1966
This looks like this might be a bug in PSReadLine itself: https://github.com/PowerShell/PSReadLine/issues/863

[2019-05-15 21:36] rjmholt commented on #1965
Workaround (kind of): close the parens immediately -- beating VSCode to the next document change notification will stop a crash for now.

[2019-05-16 03:46] BenJTucker commented on #702
Another workaround that makes me feel kind of dirty: launching powershell within the powershell console stops this behavior and other readline wonkiness for me.

<img width="755" alt="Screen Shot 2019-05-15 at 10 41 39 PM" src="https://user-images.githubusercontent.com/47569558/57825100-10de9100-7763-11e9-8d7f-bb5e442a4064.png">

[2019-05-16 21:13] rjmholt commented on #702
@BenJTucker FYI, launching a PowerShell subprocess will mean changes you make in that subprocess are not "integrated"; modules you import and functions, variables, etc that you define in that subprocess won't be picked up by VSCode.

Since PSReadLine does a much better job of handling the finicky business of terminal buffers, we're focusing on enabling that. It's currently available on Windows in

[2019-05-17 16:59] MarkKharitonov opened #1967 "Formatting a powershell script corrupts the dot sourced file paths"
I have the following line in my code:
[code]
After pressing Alt+Shift+F (i.e. format) it becomes
[code]
I use version v1.12.1 of the extension.

P.S.
The same behavior happens if & is used instead of .

[2019-05-17 17:12] rkeithhill commented on #1967
This issue is with the PSScriptAnalyzer which this extension uses for fomatting. Looks like this issue has been reported there: https://github.com/PowerShell/PSScriptAnalyzer/issues/1206  Vote it up.

[2019-05-17 17:12] #1967 closed

[2019-05-18 20:42] TylerLeonhardt commented on #934
This is really old (sorry for the delay!) and would be powered by PSScriptAnalyzer since it supplies formating.

@bgelens is this still happening for you?

[2019-05-18 22:42] TylerLeonhardt commented on #670
I get the feeling this is probably fixed... @bgelens any idea if this is a still a problem for you?

[2019-05-19 12:28] bgelens commented on #934
It's really old yes :)  Probably had something to do with DSC resource work as I normally use OTBS and cuddle.

I'll close it!

[2019-05-19 12:28] #934 closed

[2019-05-19 12:29] bgelens commented on #670
v6.0.0-alpha.18 :) Have not experienced this behavior recently. I'll close

[2019-05-19 12:29] #670 closed

[2019-05-20 16:39] JustinGrote opened #1968 "User Setting: Remember Terminal Status"
**Summary of the new feature**

User Setting to not automatically reopen terminal on reload

**Proposed technical implementation details (optional)**

A user setting, terminal.integrated.RememberTerminalState, that will prevent the integrated terminal from reopening if it was already closed, **even if the terminal window is visible at time of reload**

Currently, when using the powershell extensio

[2019-05-20 17:12] Jaykul commented on #1793
Closing all those issues without shipping them is bullcrap

[2019-05-20 18:23] gmckeown opened #1969 "PowerShell Integrated Console: "Value cannot be null" for missing mandatory parameter when debugging"
Issue Type: <b>Bug</b>

# Steps to reproduce
Create a .ps1 script file with the following contents:
[code]
Run the script from a PowerShell terminal window in VSCode.

# Expected behavior
Using an explicit "pwsh" terminal inside VSCode, or an external Windows PowerShell or PowerShell Core shell, the above code gives:
[code]

# Actual behavior
From the PowerShell Integrated Console, the same script

[2019-05-20 19:21] rjmholt commented on #1793
The issue that's been blocking this: https://github.com/PowerShell/vscode-powershell/issues/1936

It's turned out to require significant work to overcome, but we're doing our best to engineer around it.

[2019-05-20 19:25] rjmholt commented on #1793
@Jaykul please understand that GitHub issues represent open work items for us. More open issues means less focus (and therefore less ability to deliver features), and our workflow is that issues solved in master (i.e. preview) are closed. But because of the *nix console issue, we PSReadLine is not ready for stable release -- we were hoping it would be, but sometimes you hit hard problems in softwa

[2019-05-20 19:32] rjmholt commented on #1969
Looks like this occurs when a class is used as a mandatory parameter like this

[2019-05-20 19:33] rjmholt commented on #1969
It's likely that this is fixed in the preview extension using PSReadLine

[2019-05-20 19:34] rjmholt commented on #1969
@TylerLeonhardt just confirmed that this does indeed work with PSReadLine

[2019-05-20 20:26] TylerLeonhardt commented on #1731
This was an early bug if you opened an untitled workspace. This should be fixed in the current latest beta.

@fullenw1 are you still seeing this issue?

[2019-05-20 20:42] gmckeown commented on #1969
Just installed a fresh copy of VSCode Insiders:

Version: 1.35.0-insider (user setup)
Commit: a5536b8f5a16a10d859f3dec1e59701671bf069e
Date: 2019-05-20T05:17:36.269Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

Then installed PowerShell preview 2.0.2

Placed the following into my settings.json:

[code]
Output was as it was before:

[code]

Add

[2019-05-23 14:09] kilasuit opened #1981 "Add Outline support for DSC Resources in a Configuration"
Within VSCode you have the ability to look at a file and see the Outline which seems to be able to take you to Variable definitions as well as function definitions as per below

![image](https://user-images.githubusercontent.com/6355225/58256551-805e0d00-7d6f-11e9-86db-dd794ae93978.png)

Ideally I would like this to be able to also link to DSC Resources within a DSC Configuration, however as DSC r

[2019-05-23 14:38] TylerLeonhardt commented on #916
@kamilkosek any idea if you're still seeing this issue? It's been a minute and work has been done in this space

[2019-05-24 05:02] sba923 commented on #1876
@TylerLeonhardt Seems an official release of beta4 is being created... how are we going to get it to test with the VScode extension? As part of a new (official) preview of the extension? Maybe would be wise to ask a few people to test it _before that_?

[2019-05-24 06:50] TylerLeonhardt commented on #1876
A release happening next week will have beta4 in it already. The Preview extention is our opportunity to "test in production" so we don't need another process for shipping builds

[2019-05-24 06:58] sba923 commented on #1876
Great! I must confess I'm a little confused about the relationship between preview releases of the VScode extension and beta releases of PSRL. The latter ought to be made available separately from the VScode extension 'cos PSRL is used in normal PS hosts as well...

[2019-05-24 14:43] TylerLeonhardt commented on #1876
The PSRL addition in to the PowerShell extension is not quite stable enough to make its way into the Stable version of the extension.

That's why it's currently in Preview. It's been a substantial amount of work just to get it functional and even then, it's only functional on Windows as of right now.

Once we stablize the PSRL change, it will go into the Stable version of the extension and it will

[2019-05-24 14:46] TylerLeonhardt commented on #1876
Oh hmm you might be able to run:

[code]

And the PowerShell extension should pick that up

[2019-05-24 16:43] sba923 commented on #1876
Here's what this gets me:

[code]

Where should I go from there?

[2019-05-24 16:46] sba923 commented on #1876
My questioning was more about why there's (apparently) no stream of PSRL test releases outside of the consumption of PSRL by the VScode extension. But that's probably a topic I should address at lzybkr/PSReadline, not here ;-)

[2019-05-24 16:51] rjmholt commented on #1876
That's now at [PowerShell/PSReadLine](https://github.com/PowerShell/PSReadLine). I think the official release stream is the PowerShell Gallery ([beta4 release](https://www.powershellgallery.com/packages/PSReadLine/2.0.0-beta4)).

It looks like in your case you want

[code]

[2019-05-24 17:36] fullenw1 commented on #1731
Now it opens a blank page in the default browser. Not sure it is the expected behavior...
But I don't have the error message anymore.

[2019-05-24 18:06] TylerLeonhardt commented on #1968
Hi @JustinGrote can you try using this setting:

[code]

[2019-05-24 18:08] SydneyhSmith commented on #1941
@EricJizbaMSFT looks like we cant transfer this issue cross-org, have you opened an issue to track this on the Azure Functions side?

[2019-05-24 18:15] SydneyhSmith commented on #1478
Closing as this has been solved https://www.powershellgallery.com/packages/Install-VSCode/1.3

[2019-05-24 18:15] #1478 closed

[2019-05-24 18:17] rjmholt commented on #1584
This exists within PSSA now (https://github.com/PowerShell/PSScriptAnalyzer/pull/1117), so there may be some work for us to integrate it

[2019-05-24 18:25] SydneyhSmith commented on #1830
Closing as this fix has been merged and will be available in the next release

[2019-05-24 18:25] #1830 closed

[2019-05-24 18:26] JustinGrote commented on #1968
That's for the PS integrated console. I want the opposite, for the vscode
integrated terminal to not show and only show PS into grated.

May be more appropriate for the vscode repository directly.

On Fri, May 24, 2019, 11:07 AM Tyler James Leonhardt <
notifications@github.com> wrote:

[2019-05-24 18:28] SydneyhSmith commented on #1769
Going to close this as a duplicate of #1326

[2019-05-24 18:28] #1769 closed

[2019-05-24 18:29] SydneyhSmith commented on #1174
Closing as a duplicate of #1326

[2019-05-24 18:29] #1174 closed

[2019-05-24 18:30] SydneyhSmith commented on #1039
Closing as the fix has been merged and will be available in the next preview release

[2019-05-24 18:30] #1039 closed

[2019-05-24 18:33] SydneyhSmith commented on #894
I will close this as this is an old issue in VSCode that has likely been fixed, please let us know if that is not the case.

[2019-05-24 18:33] #894 closed

[2019-05-24 18:40] SydneyhSmith commented on #495
https://www.pwsh.site/powershell/2019/01/10/how-to-enable-coverage-markings-in-vscode-for-your-powershell-projects.html check out this blog post for how to enable this--going to close as this is available

[2019-05-24 18:40] #495 closed

[2019-05-24 18:44] SydneyhSmith commented on #858
Closing this as it is an editor syntax issue tracked  PowerShell/EditorSyntax#23

[2019-05-24 18:44] #858 closed

[2019-05-24 18:48] rjmholt commented on #1968
Ah right -- yeah I think that's most appropriate in the VSCode repo. I looked for a configuration on that briefly, but couldn't find one

[2019-05-24 18:51] SydneyhSmith commented on #802
Closing as it is now working.

[2019-05-24 18:51] #802 closed

[2019-05-24 18:52] SydneyhSmith commented on #87
https://code.visualstudio.com/api/references/contribution-points#contributes.taskDefinitions this link shows how to define your own custom tasks

[2019-05-24 19:07] SydneyhSmith commented on #1767
@kilasuit did you also try enabling the feature in the integrated console? To do this run
`Enable-ExperimentalFeature` in the integrated console

[2019-05-24 19:14] rjmholt commented on #1087
This is now done I think :)

[2019-05-24 19:14] #1087 closed

[2019-05-24 19:14] SydneyhSmith commented on #1251
PowerShell changed the file path scheme to only have a /6/ and a /6-preview/ this means that these side by side versions cannot be picked up because they are unguessable --closing as a result since we do pick up both pwsh and pwsh-preview

[2019-05-24 19:14] #1251 closed

[2019-05-24 19:15] SydneyhSmith commented on #1249
@HJLBX what is in your PowerShell profile, is there anything in there that could be causing this?

[2019-05-24 19:16] #1029 closed

[2019-05-24 19:18] SydneyhSmith commented on #1024
This is available for the preview in MacOS, closing as there is no support on Linux

[2019-05-24 19:18] #1024 closed

[2019-05-24 19:19] rjmholt commented on #1003
@uernst You should be able to configure the extension to use x86 PowerShell now -- there's a dropdown triggered by clicking on the PowerShell version in the bottom right hand side of the window.

Going to close this issue since it's old and likely solved. Please reopen it if there's still an issue.

[2019-05-24 19:19] #1003 closed

[2019-05-24 19:20] SydneyhSmith commented on #957
Closing as this is fixed in PSReadLine because of multiline input.
Closing as PSReadLine is now available in the PowerShell Preview extension, tracking that PSReadLine is not available in the main PowerShell Extension here #1793

[2019-05-24 19:20] #957 closed

[2019-05-24 19:22] #847 closed

[2019-05-24 19:22] #790 closed

[2019-05-24 19:23] rjmholt commented on #790
Closed, since VSCode has enabled remote development natively

[2019-05-24 19:28] SydneyhSmith commented on #9
Closing as this is available

[2019-05-24 19:28] #9 closed

[2019-05-24 19:29] rjmholt commented on #195
I think this is now fixed (to the extent we can fix it).

If you haven't opened a PowerShell, VSCode won't activate the PowerShell extension, which there's not much we can do about.

But you can open a new file (VSCode refers to them as "untitled") and set the language to PowerShell (using <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd>, entering the command `Change language mode` and selecting `Pow

[2019-05-24 19:29] #195 closed

[2019-05-24 19:29] rjmholt commented on #195
See also https://github.com/PowerShell/vscode-powershell/issues/194

[2019-05-24 19:36] rjmholt commented on #1216
There have been some performance improvements in the extension and in PSScriptAnalyzer, so this might be better now. Please let us know 🙂

[2019-05-24 19:39] TylerLeonhardt commented on #56
Closing this.

I made something similar here:
https://github.com/TylerLeonhardt/monaco-powershell

It had a wrapper that would forward websocket messages to the stdio version of PSES.

[2019-05-24 19:39] #56 closed

[2019-05-24 19:40] rjmholt commented on #1017
This is probably due to the reference resolver looking for definitions. @SeeminglyScience made a couple of great improvements in the references code to improve here. @glennsarti also added new file exclusion configurations coming in the next release that will help with that. Beyond that we might need to look into this further and find out if there's anything else we can do to limit file usage whil

[2019-05-24 19:41] TylerLeonhardt commented on #788
This should be fixed now.

[2019-05-24 19:41] #788 closed

[2019-05-24 19:45] TylerLeonhardt commented on #517
@SeeminglyScience did a great job in EditorServicesCommandSuite and we shouldn't stomp on his toes in that.

That said, @Jaykul hinted at something that this would make an awesome PSScriptAnalyzer rule.

I'll close this since folks should either grab ESCS or refer to the issue in PSSA that Rob will post here.

[2019-05-24 19:45] #517 closed

[2019-05-24 19:52] TylerLeonhardt commented on #1731
Ah that will be fixed in the next release.

[2019-05-24 22:19] EricJizbaMSFT commented on #1941
https://github.com/microsoft/vscode-azurefunctions/issues/1311

[2019-05-24 22:35] HJLBX commented on #1249
The PowerShell profile at that time was the default.

Since this issue is over 1 year old, the system state and the exact details of what happened at that time are long gone.

[2019-05-24 22:39] SydneyhSmith commented on #1249
@HJLBX thanks for the response, I see now that you had indicated that the profile was empty in the initial issue. I am going to close for now since we are unable to reproduce, but will re-open if this happens again. Thanks for opening the issue, and following up!

[2019-05-24 22:39] #1249 closed

[2019-05-24 22:46] SydneyhSmith commented on #1947
Closing this issue as inactive, will re-open if this is still an issue.

[2019-05-24 22:46] #1947 closed

[2019-05-24 22:47] SydneyhSmith commented on #1841
Closing this issue as inactive, will re-open if this is still an issue.

[2019-05-24 22:47] #1841 closed

[2019-05-24 23:31] rjmholt commented on #1941
Thanks!

[2019-05-24 23:31] #1941 closed

[2019-05-25 05:14] sba923 commented on #1876
Thanks @rjmholt for the `-Repository PSGallery` tip.

I went for this, and then overwrote all copies of PSRL on my systems with the now-official beta4:

[code]

[2019-05-25 11:37] pluggy commented on #647
I'm also having this problem, but for me it is *always* slow if I import a bunch of DSC modules. For instance try opening the dsc configuration that I pasted below, install the listed modules on your system and then test how long it takes to show code completion for a simple command like write-host.

On my main dev machine (Core i7-6900K, 32 GB RAM, Windows 10, SSD) it takes about 20 seconds.
On a

[2019-05-27 06:57] JulianTillmann opened #1988 "VS Code Crashes: Assertion Failed!"
### System Details

To help diagnose your issue, the following details are helpful:
- OS: Windows 10 1809, Build 17763.503
- VS Code: 1.34
- PowerShell Extension: 1.12.1
- Output from `$PSVersionTable`:

### VSCode version: 1.34.0 a622c65b2c713c890fcf4fbf07cf34049d5fe758 x64

### VSCode extensions:
andrzejzwierzchowski.al-code-outline@1.0.6
DotJoshJohnson.xml@2.4.0
file-icons.file-icons@1.0.17
hea

[2019-05-27 12:12] snewfie commented on #517
Can't get EditorServicesCommandSuite  to work with the latest vscode and PowerShell extension

is there a new setting or config that I am missing?

[2019-05-28 02:21] TylerLeonhardt commented on #747
An old issue that might be fixed

[2019-05-28 02:23] TylerLeonhardt commented on #380
This should be a feature in either PowerShell or PowerShellGet

[2019-05-28 02:30] TylerLeonhardt commented on #517
@snewfie can you open an issue over in https://github.com/SeeminglyScience/EditorServicesCommandSuite and provide as much info as you can?

[2019-05-28 16:46] SydneyhSmith commented on #747
I am having trouble reproducing this so I will close as fixed for now, and will re-open if this occurs again. Thanks!

[2019-05-28 16:46] #747 closed

[2019-05-28 16:56] SydneyhSmith commented on #1988
@JulianTillmann thanks for reporting this issue, I am trying to reproduce--when you are restarting VSCode, how are you doing this?

[2019-05-28 17:05] freak27 opened #1991 "Terminal Process Terminated with Exit Code 5"
### System Details
**OS:**
Windows 10 Enterprise 64-bit
Version: 1803
OS Build: 17134.765
**VSCODE:**
Version: 1.34.0 (user setup)
Commit: a622c65b2c713c890fcf4fbf07cf34049d5fe758
Date: 2019-05-15T21:59:37.030Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17134
**PS Extension**
v1.12.1
**PSVersionTable**
PSVersion                      5.1.17134.765
P

[2019-05-28 17:07] rjmholt commented on #1988
@JulianTillmann, if you uninstall the PowerShell extension from VSCode, does this problem still occur?

[2019-05-28 17:10] #380 closed

[2019-05-28 17:12] freak27 commented on #1991
Please find screenshots and logs here: https://drive.google.com/drive/folders/1EdweZ5JlHYbkbPZkyLlmOhMWZ9K_5FeP?usp=sharing

I really appreciate it

[2019-05-28 18:45] SydneyhSmith commented on #1920
Closing this issue as inactive, will re-open with more information....might also be worth looking into VSCode's new remoting extension as this may solve some of the challenges here.

[2019-05-28 18:45] #1920 closed

[2019-05-28 18:46] SydneyhSmith commented on #1957
Closing this issue as inactive/needs repro will re-open if the issue is still being hit.

[2019-05-28 18:46] #1957 closed

[2019-05-28 19:00] rjmholt commented on #1991
Hi @freak27, thanks for opening an issue.

It looks like this could be https://github.com/microsoft/vscode/issues/43169.

You've said that the PowerShell extension was working last week -- was this caused by a VSCode update perhaps?

If so, it might be worth trying VSCode Insiders to see if it's still present there.

[2019-05-28 19:08] derekslenk commented on #1920
The new remoting tools provided in Code Insiders fixes all of my issues

[2019-05-28 19:17] SydneyhSmith commented on #1543
Closing this issue as inactive/answered by settings--will re-open if this is not resolved

[2019-05-28 19:17] #1543 closed

[2019-05-28 19:20] SydneyhSmith commented on #1232
Closing this issue as inactive, will re-open if this is still an issue.

[2019-05-28 19:20] #1232 closed

[2019-05-28 19:23] SydneyhSmith commented on #916
Closing this issue as inactive, will re-open if this is still an issue.

[2019-05-28 19:23] #916 closed

[2019-05-28 19:24] SydneyhSmith commented on #1731
Closing as the fix (and the release) are now available

[2019-05-28 19:24] #1731 closed

[2019-05-28 19:24] SydneyhSmith commented on #1789
Closing this issue as resolved by the last update will re-open if this is still an issue.

[2019-05-28 19:24] #1789 closed

[2019-05-28 19:33] SydneyhSmith commented on #1875
This issue is fixed in the latest release.

[2019-05-28 19:33] #1875 closed

[2019-05-28 21:09] SydneyhSmith commented on #1968
Going to close this, as it needs to be done on the VSCode end

[2019-05-28 21:09] #1968 closed

[2019-05-28 21:13] rjmholt commented on #1988
This looks like it might be https://github.com/microsoft/vscode/issues/35117.

Can you try out VSCode Insiders to see if this still occurs?

[2019-05-29 05:39] JulianTillmann commented on #1988
@SydneyhSmith VS-Code is closed because of the crashing and I simply click on the VSC Icon. The "Reopen"-Button has the same  behaviour

@rjmholt uninstalling or disabeling the PowerShell Extension lets me start VSCode normally. But I want to use the Extension, so that is not an Option

I don't know if #35117 is the same issue, I don't use any zooming. Simply having a ps1-file still open when last

[2019-05-29 05:50] rjmholt commented on #1988
It sounds like this is a problem in VSCode that's being triggered because of a UI functionality that the PowerShell extension causes use of.

The error message you post looks like a deep error in VSCode's own node-driven terminal failing a native code assertion when it calls into a Windows OS API (I believe VSCode has been moving toward supporting modern terminal APIs in recent Windows versions).

[2019-05-29 17:55] freak27 commented on #1991
@rjmholt - like I said it was working last week before applying 1.34.0

Here's what's happening (from the Debug Log)

[code]

Right then I get the infamous:
**the Terminal Process terminated with error code: 5** error :(

[2019-05-29 18:33] corbob opened #1993 "Command Explorer doesn't sort like Show-Command"
This is a WIP issue... I have screenshots, but don't have time to fill out the entire Bug Report. As opposed to not file this, I'd like to get it in there with the intention of updating it this evening when I have time...

The crux of it is that `Show-Command` sorts with the hyphens included, it seems that Powershell's Sort-Object does not... (which typing that out might also mean a bug to file to

[2019-05-29 19:12] rjmholt commented on #1991
That does indeed sound like VSCode caused it then.

Try VSCode Insiders and let us know if the problem is resolved in that.

If so, the solution in VSCode Stable is to wait for the next update. Until then the options are to continue using VSCode Insiders or to roll back your VSCode version temporarily.

If that doesn’t fix it, I think we’ll need to move this issue over to the VSCode repo

[2019-05-29 19:15] rjmholt commented on #1993
@corbob What do you mean by hyphens included? As in Show-Command ignores hyphens?

This probably wouldn’t be considered a bug in Sort-Object but probably means we want to write our own sorting key function.

[2019-05-29 19:17] freak27 commented on #1991
This might be just Company Policies as I have the exact same VSCode Version and Extensions on my personal PC and it just works. Trailing down IT to see what the did ;(

[2019-05-29 19:17] #1991 closed

[2019-05-30 02:31] corbob commented on #1993
:thinking: it looks like it's .Net's way of sorting is not what **I** was expecting. When I use CSI to do some impromptu C# sorting (and type stuff wrong and such) I see that it appears to sort in the same way:
![image](https://user-images.githubusercontent.com/30301021/58588326-4334c780-8214-11e9-99f2-cec96750c004.png)

Whereas the way I expected it to sort is along the lines of JavaScript:
![ima

[2019-05-30 05:04] rjmholt commented on #1993
I'd suggest something like this:

[code]

[2019-05-30 15:59] rjmholt commented on #1993
(That can be improved if we want, so that new strings aren't allocated for the comparison. But it's more logic to maintain)

[2019-05-30 16:04] rjmholt commented on #1993
Oh I see that's not quite the sort order you're looking for.

Can you describe formally what the sort order you want is?

Is it just a system where `-` has a lower ordinal than alphanumerics?

In any case, the fix is pretty straightforward, we just need to specify exactly what sort order you expect.

[2019-05-30 16:22] jhoneill opened #1994 "Starting debug crashes PowerShell session if project is in onedrive folder"
System Details Output
[code]

OS is windows 10 1809  build
### Issue Description
My WindowsPowerShell directory is on onedrive.
C:\Users\james\onedrive\WindowsPowerShell has a symbolic link to
C:\users\james\documents\WindowsPowerShell so profile etc is found.

Although I can use the directory under documents, VS-Code the likes to convert it to the canonical name so when I work on a project in my

[2019-05-30 16:57] rjmholt commented on #1994
Thanks for opening an issue @jhoneill.

This error looks pretty similar (but slightly different to) https://github.com/PowerShell/vscode-powershell/issues/1830.

The relevant entry in the log is:

[code]

The `illegal characters in path` message is curious. It might mean we're not handling the URI conversion properly. We might be able to determine more if we know what path VSCode is sending to the

[2019-05-30 17:25] jhoneill commented on #1994
@rjmholt  thanks . here's a version of the log with diagnostic level turned on
[EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/3238030/EditorServices.log)

When I go to install a different version I've got the option for 2019.5.0 (released yesterday) or 1.12.1 (a month old) it looks like a new naming convention has been applied ...

[2019-05-30 17:40] rjmholt commented on #1994
Oh yep that's totally right! I'm still converting over myself :)

[2019-05-30 17:48] rjmholt commented on #1994
Here's the relevant line:

[code]

I'm not sure I've ever seen a `git:` URI scheme before in VSCode, but it looks like it's throwing out all our URI parsing (we have to special-case file schemes because .NET handles encodes/decodes URIs differently to VSCode).

Unescaping this renders it as `git:/c:/Users/mcp/OneDrive/WindowsPowerShell/Modules/MsftGraph/OneNote.ps1?{"path":"c:\\Users\\mcp\\OneDriv

[2019-05-30 18:27] rjmholt commented on #1994
Following VSCode's processes and being unable to find any documentation or issues that describe what this is, I've asked about this [on StackOverflow](https://stackoverflow.com/q/56383584/9944203). If that's not responded to by next week, I'll open an issue on VSCode.

I'm not sure what VSCode expects us to be able to do with a message like this. Best case scenario we use the `path` from the JSON,

[2019-05-31 04:48] corbob commented on #1993
Formally the sort appears to be called Ordinal in the StringComparer class... It feels like it's probably a little more complicated for us because we have a `List<PSCommandMessage>` instead of `List<String>`.

[code]

I think the easiest way to outline the difference I'm seeing is this screenshot:

![image](https://user-images.githubusercontent.com/30301021/58681519-97799d80-8321-11e9-806c-eb56cf1

[2019-05-31 11:41] PrzemyslawKlys opened #1995 "Clicking on links in console doesn't work for filepaths with spaces"
### System Details

System Details Output
[code]

### Issue Description

When something is broken, and an error is thrown VSCode allows you to ctrl+click link to link to file. This is great, but it doesn't work with the path that has spaces in them.

![image](https://user-images.githubusercontent.com/15063294/58703552-50cf8600-83a9-11e9-932e-77ad93b25eaf.png)

#### Expected Behaviour

Should work

[2019-05-31 16:35] rkeithhill commented on #1995
I'm not sure this is something the extension controls.  It is the VSCode terminal that turns paths into clickable links (not this extension).  And the extension doesn't control the generation of that path and the fact that it isn't quoted.  It is PowerShell that generates that error text.

[2019-05-31 18:03] rjmholt commented on #1995
Oops, had a comment written out but forgot to post and @rkeithhill's since commented!

@PrzemyslawKlys I'm not sure how we'd change this; these links appear because VSCode automatically turns paths into links (i.e. we don't do anything, it's a native VSCode feature).
The error message itself comes directly from PowerShell too.

If you get rid of the PowerShell extension and replicate the same erro

[2019-05-31 18:37] tlovland1 commented on #1183
I get this issue constantly.  If I step faster than ~once per second, the powershell / debugging session crashes

[2019-05-31 18:38] tlovland1 commented on #1183
I've gotten the issue @fourpastmidnight  describes quite often as well.

[2019-05-31 19:07] PrzemyslawKlys commented on #1995
I figured it might not be something straight forward. If it can't be fixed I can close this issue. It's not a big deal, just something that would be useful in the long run. Maybe a fix to PS6/PS7 so that throwing errors would include path in quotes? Still, older versions of PS would have the problem, but at least new releases would work.

[2019-05-31 19:09] rjmholt commented on #1995
Good thinking!

[2019-05-31 19:32] rjmholt commented on #1995
We should investigate how VSCode does this first -- it may be that quoting won't help

[2019-06-02 07:38] TylerLeonhardt commented on #1995
@Tyriar any thoughts here?

[2019-06-02 07:46] fatherofinvention opened #1997 "PSScriptAnalyzer Incorrect Warnings on brackets, parenthesis"
Issue Type: <b>Bug</b>

When typing the following code into the editor, I receive red squigglies on all curly brackets and parenthesis (open and closed) with the following message: "Missing closing '}' in statement block or type definition." and "Missing ')' in function parameter list."

Code:
=========
[code]

Extension version: 2019.5.0
VS Code version: Code 1.33.1 (51b0b28134d51361cf996d2f0a1c6

[2019-06-02 07:50] fatherofinvention opened #1998 "Help Completion Crashes PowerShell Integrated Console Session"
Issue Type: <b>Bug</b>

When Help Completion is set to "BlockComment" or "LineComment" and ## is entered inside of a function, the PowerShell session immediately terminates with error: "The PowerShell session has terminated due to an error, would you like to restart it?".

The workaround appears to be turning off Help Completion.

Extension version: 2019.5.0
VS Code version: Code 1.33.1 (51b0b2813

[2019-06-02 08:26] TylerLeonhardt commented on #1998
Thanks for the info! Can you also [attach the logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment) here so we can get a better idea of what's going on?

[2019-06-02 08:28] TylerLeonhardt commented on #1997
I think it's because you don't have a `$` in front of `OptionalParameters`

[2019-06-03 00:38] rkeithhill commented on #1995
Quoting doesn't seem to work.  :-(

[2019-06-03 00:41] rjmholt commented on #1995
Yeah I had a play around with it and I suspect the link support starts after the quote, where the `C:\` or the `/` occurs

[2019-06-03 00:43] rjmholt commented on #1997
Yeah that's a parse error because the script is invalid (no PSSA involvement even)

[code]

[2019-06-03 00:43] #1997 closed

[2019-06-03 07:14] cnEUL commented on #1758
Hello,
in 1.34 i have no output on the temp console. Only if i hit very fast when starting the debug process. on a win 2012 i have a correct running 1.32.4. So i downgraded my 1.34, but the result is the same. So the only diffrence i see is the operating system. Its working on windows 2012, but not on windows 10 - 1809.

[2019-06-03 17:16] corbob commented on #1995
I was going to suggest maybe trying 8.3 naming convention... But... WindowsPowerShell is one of two directories in `C:\Program Files` that doesn't have 8.3 naming (the other being `ModifiableWindowsApps`) (also note `Windows.old` appears to be another one with no 8.3...)

![image](https://user-images.githubusercontent.com/30301021/58820491-9b3e4600-85e7-11e9-8e66-0915b5a1d795.png)

[2019-06-04 07:36] danielfeiler opened #2007 "Powershell session terminates by "Format Document" on Windows 2008 R2"
If I try to do teh action "Format Document on a Windows 2008 R2 machine I get the message "The PowerShell session has terminated due to an error, would you like to restart it?
Extension logfile is attached.
[EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/3251075/EditorServices.log)

[2019-06-04 10:05] superfliege commented on #1656
+1 realy need this feature. It should also not be too hard to implement this. Thanks guys!

[2019-06-04 14:03] TylerLeonhardt opened #2008 "PSModulePath mutated during script changes"
Issue Description
=====

PSModulePath is modified with every edit to a file.

### Steps to repo

Run this in the PSIC:

[code]
Verify it changed.

Now make a single edit to a script and check the PSModulePath once more... It should look like:

Apparently, the PSModulePath is updated every time you spin up a Runspace so I wonder if we're doing something like that...

Attached Logs
=====

Follow the

[2019-06-04 14:59] aaroneg commented on #621
Just chiming in that I'd also like this fixed. It's super annoying with out-gridview.

[2019-06-04 16:30] corbob commented on #1656
I don't think it's quite as simple to implement as you're implying. It also  might not be worth investing too much time in a custom solution if vscode is working to include the functionality for us.

That being said, if I determine I have the time, I might take a stab at something like what @moymike noted in using a filter through input box.

[2019-06-04 16:49] rjmholt commented on #2007
Relevant log info:

[code]

Looks like PSSA can't be loaded (which is strange since it's bundled with the extension) and then we don't handle the load failure properly

[2019-06-05 11:07] superfliege commented on #1656
@corbob I do not know your code structure, but adding a textbox that filters a ListView should not be that hard.

Do not get me wrong. I'm sure you're doing a good job and I'm happy about this upcoming feature.

[2019-06-05 17:05] rjmholt commented on #1656
Indeed.

The extension doesn't have direct control of the UI; it uses a VSCode API called [Tree View](https://code.visualstudio.com/api/extension-guides/tree-view) which we use [here](https://github.com/PowerShell/vscode-powershell/blob/master/src/features/GetCommands.ts). It just takes data and displays it, so there's no way to alter the UI to include a filter.

There's an [outstanding feature re

[2019-06-05 22:45] deadlydog commented on #1758
I believe the issue is fixed in Windows 10 1902+. Upgrading my Windows version fixed it for me @cnEUL.

[2019-06-06 18:43] ryanfog opened #2011 "Problems: uses an unapproved verb"
Issue Type: <b>Feature Request</b>

Our company has a code standard for custom functions of say MSFT-Get-Process this is used to help identity when the function was written in house compared to coming from a 3rd party module which typically uses the standard verb-noun format.

The ask is can we have some ability to ignore unapproved verbs for at least functions so that they don't show as "problems

[2019-06-06 18:49] ryanfog opened #2012 "Problems: should use SecureString"
Issue Type: <b>Feature Request</b>

The "Problems" section appears to identitfy any vairable with some form of the word cred, credential etc. in it and flags it as an issue. We typically store password in encrypted .xml files using (Get-Credential) | Export-Clixml -Path .\pswd.xml
In order to use those encrypted credentials we would create a variable called $retrievedCreds = Import-Clixml -Path .\

[2019-06-06 18:57] ryanfog opened #2013 "Collapsing code within a function with help not working correctly."
Issue Type: <b>Feature Request</b>

This issue has to do with a function with help and it not collapsing correctly.
For Example:
[code]

If you were to collapse that function it would collapse fine. If you wanted to comment out the entire function using `#<` it collapses to the help section SYNOPSIS which is incorrect.

Extension version: 2019.5.0
VS Code version: Code 1.35.0 (553cfb2c2205db5f15f3

[2019-06-06 19:28] rkeithhill commented on #2011
You can always create workspace level PSSA settings file that excludes this rule. Put this in your `.vscode\settings.json` file:
[code]
and in the root of your repo, create `PSScriptAnalyzerSettings.psd1` with these contents:
[code]

[2019-06-06 19:36] metalmensch opened #2014 "Extension/Integrated Console hangs on startup before prompt"
Issue Type: <b>Bug</b>

Open Visual Studio Code (the terminal window won't load after five minutes with 30 gb of RAM).

Extension version: 2019.5.0
VS Code version: Code 1.35.0 (553cfb2c2205db5f15f3ee8395bbd5cf066d357d, 2019-06-04T01:17:12.481Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6600U CPU @ 2.60GHz (4

[2019-06-06 19:41] MarkKharitonov commented on #2014
I second this motion. Was about to open an issue myself. The console window just shows **PowerShell Integrated Console** and that's it.

[2019-06-06 20:09] rjmholt commented on #2012
That's PSScriptAnalzyer's [AvoidUsingPlaintextForPassword rule](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/AvoidUsingPlainTextForPassword.md), which has some naive assumptions in it.

If you're looking to disable it, there are some possibilities:
- You can [suppress the rule](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/Av

[2019-06-06 20:12] rjmholt commented on #2013
Can you please provide an example of a script where you've done this (e.g a modification of your initial example with the new comment inserted) and describe the actual vs desired behaviour?

[2019-06-06 20:14] rjmholt commented on #2011
What @rkeithhill says!

Also, you can [suppress rules](https://github.com/PowerShell/PSScriptAnalyzer#suppressing-rules) inline.

This is currently how we support what you're asking for.

I'll close the issue on that basis. Please let us know if that doesn't match what you want and we can reopen.

[2019-06-06 20:14] #2011 closed

[2019-06-06 20:17] rkeithhill commented on #2013
I'm not sure that nested block comments are supported in PowerShell (it doesn't parse correctly).  I suggest that you highlight the function in VSCode and press Ctrl+K, Ctrl+C to line comment out the function.

[2019-06-06 20:23] rjmholt commented on #2014
Thanks for opening an issue. If we can find a way to reproduce it, we can hopefully fix it.

This is likely not a performance issue.

A couple of questions:
- If you go to the Integrated Console and press <kbd>Enter</kbd>, does it then continue?
- When did this last work for you? Did it stop working when VSCode (not the extension) updated? Or when the PowerShell extension updated at the end of May

[2019-06-06 20:23] rjmholt commented on #2014
See also: https://github.com/PowerShell/vscode-powershell/issues/1795#issuecomment-479067928

[2019-06-06 20:24] rjmholt commented on #2014
One test is: if you go to an ordinary native `powershell` terminal, does something similar happen?

[2019-06-06 20:27] rjmholt commented on #1795
@tmknight Thanks for that info. I believe this is a Windows bug that VSCode itself has been trying to fix. The fact that it occurs outside of the extension means I don't think we can do much about it on our side.

@HJLBX, @Cazs03 can you let us know if you're seeing similar behaviour to this? If so, the fix will lie with Windows Update and the next VSCode release.

[2019-06-06 20:39] rjmholt commented on #2013
Yeah in the first example the comment only goes from line 1 to line 6. Line 14 is just a line comment with `>` as the only character

[2019-06-06 21:00] metalmensch commented on #2014
It looks like it was being stopped by a pending windows update on my end. I
rebooted, and it seems to have gone back to working.

On Thu, Jun 6, 2019 at 1:24 PM Robert Holt <notifications@github.com> wrote:

[2019-06-06 21:42] ckmscott opened #2016 "Not processing string functions correctly"
Issue Type: <b>Bug</b>

I am trying to concatenate a long, muti-line string using the Powersheel extension.  The functionality I am trying to use is:

[code]

When I process this in VSC, I get  an "Incomplete Item Token" error. When I process this same command in Powershell ISE it works.

Extension version: 2019.5.0
VS Code version: Code 1.35.0 (553cfb2c2205db5f15f3ee8395bbd5cf066d357d, 2019-06-04

[2019-06-06 22:42] ryanfog commented on #2013
Hopefully this helps illustrate the issue.

Full sample code
![Fullcode](https://user-images.githubusercontent.com/25650327/59070955-5a159280-8882-11e9-8831-e18246ff38e8.JPG)

This is correct
![Proper Collapse](https://user-images.githubusercontent.com/25650327/59070856-effced80-8881-11e9-98ff-7ec892dc7196.JPG)

This is correct
![Proper Collapse 2](https://user-images.githubusercontent.com/2565032

[2019-06-07 00:28] rkeithhill commented on #2013
Do you see that red squiggle on line 15?  That is an indication that this is invalid syntax.  I'm pretty sure nesting block comments is not valid PowerShell syntax.

[2019-06-07 03:33] rjmholt commented on #2013
PowerShell doesn't recognise anything after that first `#>` as a comment (we don't actually calculate it that way, but we maintain fidelity to PowerShell).

If we take that script:

[code]

And comment it out the way you suggest, it should all be a comment and nothing should happen if we invoke it:

[code]

However, invoking it I get this output:
[code]

This is because lines 10-15 are not comment

[2019-06-07 03:40] rjmholt commented on #2016
Hi @ckmscott, thanks for opening an issue.

How are you invoking this?

If it's by highlighting it and running in the Integrated Console (e.g. with <kbd>F8</kbd>), that's tracked by https://github.com/PowerShell/vscode-powershell/issues/569.

We've been investing in PSReadLine to bring this feature to the PowerShell extension, and it's currently available in the PowerShell Preview extension.

[2019-06-07 03:54] MarkKharitonov commented on #2014
I would like to answer the questions:

No, still stuck at **PowerShell Integrated Console**

Sorry, but I do not know.

I have two machines. On the "good" the Powershell console opens OK., On the "bad" - it is stuck. In both cases it is Windows 10.
Here is the info:
**"Bad" Machine**
Powershell Integrated Console hangs, pressing Enter does not help. At least not in the first N minutes, where N is

[2019-06-07 04:13] rjmholt commented on #2014
Hmmm it certainly looks like the only difference between machines is the Windows version (which implies it may be the Windows bug).

Another thing it might be worth doing is [turning the logging up to Diagnostic](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#logs) and seeing how far you get through startup

[2019-06-07 10:24] ckmscott commented on #2016
Robert,

Thanks for your reply.  I am highlighting running it in the Integrated Console.  I’ll refer to #659 for more info and will check out the Preview Extension.

Chris

________________________________
From: Robert Holt <notifications@github.com>
Sent: Thursday, June 6, 2019 10:40:42 PM
To: PowerShell/vscode-powershell
Cc: ckmscott; Mention
Subject: Re: [PowerShell/vscode-powershell] Not proce

[2019-06-07 15:19] rjmholt commented on #2016
Thanks @ckmscott!

[2019-06-07 15:19] #2016 closed

[2019-06-07 17:33] MarkKharitonov commented on #2014
Actually on the "bad" machine hitting many times Enter does force the console to show the prompt. So, yes - hitting multiple times Enter shows the console. But, it does not load the profile.

[2019-06-07 17:52] rjmholt commented on #2014
Yeah that sounds like the relevant Windows bug.

Which profile is that? The PowerShell extension looks for the profile in `~\Documents\PowerShell\Microsoft.VSCode_profile.ps1`. I assume this works on the good machine?

[2019-06-07 17:56] MarkKharitonov commented on #2014
Yes, it does not load the `$PROFILE`, whatever it should be in this context. Does load on the "good" machine.

[2019-06-07 18:13] rjmholt commented on #2014
Ohhhh, as in it loads once you press <kbd>Enter</kbd>?

Yeah that's because this Windows bug just stops the startup from proceeding (it's a bug in the Windows console APIs), before it can get to the profile execution stage. It's like if you put `Wait-Debugger` at the start of your profile.

The fix lies below the extension -- it's something we depend on VSCode and Windows for. From what I can tell

[2019-06-07 18:16] rjmholt commented on #1994
Ok, I've followed up with VSCode. This URI is coming from a git TextDocumentProvider, which we don't support. Instead of crashing, we should send back an error message.

[2019-06-07 18:19] rjmholt commented on #2007
@danielfeiler Can you report the output of the following in the Integrated Console:

[code]

[2019-06-07 18:20] rjmholt commented on #1998
@fatherofinvention Just following up here. For a crash like this, there will almost certainly be a stack trace in the logs that we can use to fix this.

[2019-06-07 18:28] rjmholt commented on #1988
@JulianTillmann @NAVFreak just want to follow up here -- I believe VSCode 1.35 has been released. If you update VSCode, does that fix this bug?

[2019-06-07 20:31] danielfeiler commented on #2007
@rjmholt  of corse:
PowerShell Integrated Console

PS C:\Users\danielfeiler> Import-Module PSScriptAnalyzer
Import-Module : The specified module 'PSScriptAnalyzer' was not loaded because no valid module file was found in any module
directory.
At line:1 char:1
+ Import-Module PSScriptAnalyzer
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ResourceUnavailable: (PSScriptAnalyzer:Strin

[2019-06-07 20:48] rjmholt commented on #2007
Hmmmm, that's very odd.

Have you altered `$env:PSModulePath` maybe?

Can you tell me what the following output:

- `gmo -list PSScriptAnalyzer`
- `gci ~\.vscode\extensions\ms-vscode.powershell-2019.5.0\modules`
- `$env:PSModulePath`

[2019-06-07 20:49] rjmholt commented on #2007
Also you should be able to fix this immediately with `Install-Module PSScriptAnalyzer -Scope CurrentUser`

[2019-06-07 23:04] rjmholt commented on #1994
The code we need to change for this is here: https://github.com/PowerShell/PowerShellEditorServices/blob/84a3d3f2ccb4af4e73ed5270712862d1242a6bad/src/PowerShellEditorServices/Workspace/Workspace.cs#L417-L476

Documenting so I can get back to it.

[2019-06-08 13:33] MarkKharitonov commented on #2014
Well, it does not load when I press `Enter`. But when I run `. $PROFILE` at the prompt it loads without a problem.

So, who knows what happens with this bug? Is it the Windows team? The VS Code team? Who is the address to get some info on ETA of the fix?

[2019-06-08 16:12] rjmholt commented on #2014
Ah, I misunderstood earlier. Given that, we still need more information to determine the bug.

If it's a Windows/VSCode terminal API problem, the fix is almost certainly already available and it's just a matter of you getting it.

Is this still the Integrated Console? What's the value of `$profile`? Do you get PS extension features like intellisense and diagnostics?

I think the best option is to

[2019-06-09 21:03] PrzemyslawKlys opened #2017 "Using DynamicParameters in ScriptBlock doesn't work"
Issue Description
=====

I am experiencing a problem with... Dynamic Parameters within a script block. Following gif shows the problem.

![Problem-VSCodeDynamicParameters](https://user-images.githubusercontent.com/15063294/59164194-264c9e00-8b0a-11e9-9916-4096e1ee8f1e.gif)

I am actually not quite sure on the behavior but it seems that DynamicParameters are not expanded when using inside ScriptBlo

[2019-06-11 03:11] compwiz32 commented on #1626
ok... i am sort of embarrassed to share what has worked for my issue. First, a little background...

just setup a new laptop and had the same issue as old laptop (hung up on "Starting PowerShell"). However, I didn't even get to install the apps that I thought might be fouling up the program (Anti-virus, etc). I ran vscode non domain-joined and had no issues, then I ran it after domain joined and i

[2019-06-11 13:50] compwiz32 commented on #1626
Just tested this on my old laptop and my suspicions have been confirmed. Running VSCODE as Administrator solved the issue on my old laptop as well. Again, i did not need to do this on a standalone desktop. I only had to do this once I joined my company's domain. This leads me to believe that we locked down some settings that interfere with the starting of the PowerShell extension.

[2019-06-12 21:07] rjmholt commented on #2017
@PrzemyslawKlys I tried reproducing this on my Mac and it gave me the dynamic parameters inside the scriptblock.

Have you tried reproducing this in the PowerShell console on your machine?

We get our completions from PowerShell, so it might be a Windows PowerShell bug.

[2019-06-12 21:08] rjmholt commented on #2017
<img width="804" alt="Screen Shot 2019-06-12 at 14 08 14" src="https://user-images.githubusercontent.com/7009879/59386452-8f573000-8d1b-11e9-8b33-ce2ee6de6cc0.png">

[2019-06-12 21:11] rjmholt commented on #1994
@rkeithhill, @TylerLeonhardt need to consult you on what those methods accept as an argument; I'm thinking it basically needs to be `TryGetFile` returns false for URI schemes we don't recognise

[2019-06-12 21:11] #2013 closed

[2019-06-12 21:12] SydneyhSmith commented on #1998
Closing this issue as inactive, will re-open if this is still an issue.

[2019-06-12 21:12] #1998 closed

[2019-06-12 21:13] PrzemyslawKlys commented on #2017
You need to open another script block to reproduce it.

[code]

Until you open `New-HTMLTab11` it works.. when you add { } it stops doing that.

[2019-06-12 21:14] SydneyhSmith commented on #1795
VSCode 1.35 should mean that this issue is fixed so I am going to go ahead and close it --please let us know if you are still hitting this issue and we will reopen/investigate further

[2019-06-12 21:14] #1795 closed

[2019-06-12 21:14] SydneyhSmith commented on #2007
@danielfeiler were you able to resolve this issue with @rjmholt 's suggestion above?

[2019-06-12 21:15] SydneyhSmith commented on #2012
Going to close this issue as inactive but would be happy to re-open/transfer with more details provided--thanks!

[2019-06-12 21:15] #2012 closed

[2019-06-12 21:16] rjmholt commented on #2017
Does this happen in the ordinary PowerShell console? This looks like it's probably a bug in PowerShell's [completer code](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/CommandCompletion/CompletionCompleters.cs).

There's not much we can do about it in the PowerShell extension, but it's worth trying in PowerShell 7 and if it's not fixed we should open

[2019-06-12 21:16] rjmholt commented on #2017
Ah probably still a bug in PowerShell then

[2019-06-12 21:37] rkeithhill commented on #1994
Sigh... It seems like we need to do some redesign of how manage client document representation in PSES.  We have these test methods scattered about.  It seems like a workspace should have a collection/dictionary of these documents - which I think today is a ScriptFile collection.  That seems a bit too PS centric to me.  Maybe it would be better to have a collection of EditorDocuments or TextDocume

[2019-06-12 22:04] rjmholt commented on #1994
Totally on your page there @rkeithhill.

I think this is worth patching in a small way for now and then we should come up with a better implementation going forward.

I'll try and open a PR this week

[2019-06-13 20:15] SydneyhSmith commented on #2007
Going to go ahead and close this as resolved but will re-open if you are still facing this issue--Thanks!

[2019-06-13 20:15] #2007 closed

[2019-06-13 20:16] SydneyhSmith commented on #2014
@MarkKharitonov were you able to resolve this with @rjmholt's suggestion of uninstalling, and reinstalling VSCode or are you still facing this issue? Thanks!

[2019-06-13 20:17] SydneyhSmith commented on #1988
Going to close this as resolved by VSCode 1.35 but will re-open if this is still an issue--Thanks!

[2019-06-13 20:17] #1988 closed

[2019-06-13 22:01] brycesteel opened #2022 "PowerShell Preview Extension v2019.5.0 Error Starting Language Services"
Issue Description
=====

The PowerShell Preview Extension v2019.5.0 fails to load on Windows Server 2016 with .NET Framework version 4.6.2 installed with the following error:

[code]

The log output is:
[code]

This seems to be similar to #1841

I suspect there is a dependency of > .NET 4.7.x, given another Server 2016 system I work on had this same issue with the in-box .NET 4.6.2 until I install

[2019-06-13 22:30] NAVFreak commented on #1988
Vs code Daily builds doesn't have this problem

Den tor 13 juni 2019 22:17 skrev Sydney Smith <notifications@github.com>:

[2019-06-13 23:00] MarkKharitonov commented on #2014
It is a bit heavy for me right now. Did not have time to do it yet.

[2019-06-13 23:15] carsontwilson opened #2023 "If a class called from a script throws an exception, the powershell integrated console will fail on subsequent calls"
I can reproduce this every time. If I have a script that calls a function, and that function calls a class... if that class throws an exception the script will exit as expected.

If you then try to run the script again, the powershell integrated console will fail. I could not see any entries at all in any of the debug logs even on verbose settings. VSCode is essentially locked, in time a message w

[2019-06-14 01:08] rjmholt commented on #2022
Thanks for opening an issue @brycesteel. I think your diagnosis is pretty accurate. This may actually be a PowerShellStandard bug.

If you go to `~/.vscode/extensions/ms-vscode.powershell-preview-2019.5.0/modules/PowerShellEditorServices/Start-EditorServices.ps1` you might be able to insert a `Wait-Debugger` and capture the `LoaderExceptions` output.

Otherwise it might appear in the [fusion log](

[2019-06-14 02:29] TylerLeonhardt commented on #2023
Thanks for the info! Can you also [attach the logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment) here so we can get a better idea of what's going on?

Also, any screenshots or sample code would be most helpful!

[2019-06-14 13:38] rkeithhill commented on #2023
A minimal repro along with your version info (VSCode/Extenion/PowerShell) would help a lot.  I tried with this but can't repro what you're seeing:
[code]

[2019-06-14 14:16] sandy081 opened #2024 "Flag machine specific configurations like paths as machine scoped"
I am developer from VS Code and we introduced Machine Scope for configurations in [1.34](https://code.visualstudio.com/updates/v1_34#_machinespecific-settings) which will help in [remote set ups](https://code.visualstudio.com/docs/remote/remote-overview).

I would like to encourage extension authors to adopt to machine scope if you have any settings that you think they are scoped to machine like `

[2019-06-14 16:15] rjmholt commented on #2024
@sandy081 would you be able to link to your documentation for how we adopt this scoping?

[2019-06-14 17:26] rkeithhill commented on #2024
Was just trying WSL Debug with PowerShell in today's VSCode Insider build and got this:

![image](https://user-images.githubusercontent.com/5177512/59526821-2694c280-8e97-11e9-8e3c-0892dcb50109.png)

@sandy081 Is this what we can expect from 1.36 when it ships unless we make this change?

[2019-06-14 17:31] rkeithhill commented on #2024
Nevermind.  Helps if you install the extension in the WSL Remote for Insiders.  🤦‍♂

[2019-06-15 09:28] lokwaniyash commented on #1507
My html file is doing the same thing, It happens whether there are many lines or not, my 3000 line and 30 line files act the same. Any fixes cuz it's very annoying to click the cursor where the I'm typing after every save. Thanks.

[2019-06-15 09:30] andrewducker commented on #1507
If you've got a reproducible situation where it happens every time then that sounds incredibly useful!

[2019-06-15 09:31] lokwaniyash commented on #1507
As a matter of fact, it's happening right now as I'm playing with some stuff.

[2019-06-15 09:45] andrewducker commented on #1507
Does it still do it if you disable the PowerShell extension? Because if it's HTML then I'd expect it's not the extension doing it. Worth a test!

[2019-06-15 10:04] lokwaniyash commented on #1507
I don't even have it installed.

[2019-06-15 10:07] andrewducker commented on #1507
In that case, presumably not a plugin issue, but a VS Code issue.

[2019-06-17 07:41] sandy081 commented on #2024
@rjmholt Here it is https://code.visualstudio.com/updates/v1_34#_machinespecific-settings

[2019-06-17 10:14] PrzemyslawKlys opened #2026 "Running PowerShell - instant return - yet code runs"
Issue Description
=====

It's a bit strange problem so I don't expect much but maybe it will give you something. I sometimes run F5 and get the instant finish of code (like less than 1 second), while I can see PowerShell continues to run as seen in the bottom (progress bar).

![image](https://user-images.githubusercontent.com/15063294/59596973-05331100-90f9-11e9-9d90-f7d6474f6b81.png)

I am not su

[2019-06-17 15:08] TylerLeonhardt commented on #2024
@sandy081 in the WSL remote development, is WSL still considered "remote and not technically this machine"

[2019-06-17 17:00] SydneyhSmith commented on #2026
Thanks--pulling out the error message
[code]

[2019-06-17 19:27] happywino opened #2027 "Extension crashes when formating"
Issue Description
=====

Whenever I try to format code, either from the context menu or via Ctrl-K Ctrl-F, the extension crashes, even on a file only containing "Import-Module ActiveDirectory".  The log contains an entry "Exception: PSScriptAnalyzer cannot be imported, AnalysisService will be disabled", should I be installing that or is it expected to be installed by the extension?

Attached Logs

[2019-06-17 21:46] tillig commented on #1019
I've just started learning about VS Code extension writing and I think the solution here will be:

- In `sendDocumentFormatRequest` [the `vscode.TextEditor` for the document is already retrieved](https://github.com/PowerShell/vscode-powershell/blob/4ecaf57f0b581fecb5f9dbf08aa15db9e0560176/src/features/DocumentFormatter.ts#L219)
- Pass that editor [when the `getEditorSettings` is called](https://gi

[2019-06-18 15:11] sandy081 commented on #2024
No, it is considered remote and paths varies in WSL.

[2019-06-18 15:19] tbone4711 opened #2034 "Variable Explorer"
**Explore the content of variables all the time**

At the moment you can only view the content of variables in debugger by setting a breakpoint and run the code. There is no way to select multiple lines and run them by pressing F8 and see the value of all variables like in debugger. Or run a small script by pressing F5. I suggest a pane like the "Variables" in debug but visible all the time(F5 and

[2019-06-18 15:26] SydneyhSmith commented on #1204
from @tbone4711 :
Explore the content of variables all the time

At the moment you can only view the content of variables in debugger by setting a breakpoint and run the code. There is no way to select multiple lines and run them by pressing F8 and see the value of all variables like in debugger. Or run a small script by pressing F5. I suggest a pane like the "Variables" in debug but visible all t

[2019-06-18 15:27] SydneyhSmith commented on #2034
Thanks for the feedback @tbone4711 I went ahead and added your comment to issue #1204 so we can continue to track the request in a single place, and I will close this issue as a duplicate--Thanks!

[2019-06-18 15:27] #2034 closed

[2019-06-18 15:43] TylerLeonhardt commented on #2024
Right, what I'm getting at is that marking something as "machine" scoped so the setting is marked "different in remote scenarios" is confusing since WSL is still on the same machine.

Apologies if this came off as bike-shedding, but I was confused by the ask initially and didn't want customers to be confused as well.

Something like "host" might have been a better name, IMO.

Anyway, we'll mark ou

[2019-06-18 16:21] tillig commented on #1019
Submitted a PR. Tested locally, I can get EditorConfig and on-the-fly settings overrides per editor window to take effect. Pretty simple fix.

[2019-06-18 21:14] SydneyhSmith commented on #2026
@PrzemyslawKlys what is your F5 configured to, I know you had changed it in the past? Thanks!

[2019-06-18 21:15] PrzemyslawKlys commented on #2026
Reverted back to defaults since PSScriptAnalyzer and VSCode made huge performance improvements.

So F5 = Start Debugging.

[2019-06-18 21:20] SydneyhSmith commented on #2027
Can you report the output of the following in the Integrated Console:
- `Import-Module PSScriptAnalyzer -PassThru`
- `gmo -list PSScriptAnalyzer`
- `gci ~\.vscode\extensions\ms-vscode.powershell-2019.5.0\modules`
- `$env:PSModulePath`

[2019-06-18 22:19] happywino commented on #2027
PS C:\Users\ad_jcphilli> Import-Module PSScriptAnalyzer -PassThru
Import-Module : The specified module 'PSScriptAnalyzer' was not loaded because no valid module file was found in any module directory.
At line:1 char:1
+ Import-Module PSScriptAnalyzer -PassThru
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ResourceUnavailable: (PSScriptAnalyzer:String) [Import-Module], Fi

[2019-06-18 23:01] rjmholt commented on #2027
Hmmm that's odd; the shipped PSScriptAnalyzer seems to be there, and that directory is on the path, but it's not available for some reason.

Maybe try:

[code]

[2019-06-19 05:55] sba923 commented on #1753
I confirm this issue; if I run the following script

[code]
and enter `12345` I get:

![image](https://user-images.githubusercontent.com/12860484/59740089-519c5f00-9267-11e9-95d9-25b38f05f877.png)

[2019-06-19 08:09] chuanjiao10 opened #2036 "support remote-ssh extension and update remoting.md"
hi :

debug with remote-ssh extension
------------
I use newest version of vscode and newest version of remote-ssh extension，
can open remote file and terminal(bash)，but powershell debug  do not work.

how can i edit launch.json？
I use '/root/.vscode-server/extensions/ms-vscode.powershell-2019.5.0/examples/.vscode/launch.json
' , every launch item not work.

debug document with remote-ssh extensio

[2019-06-19 08:24] pezmannen commented on #2022
Installing 4.7.2 resolved this issue for me

[2019-06-19 13:38] TylerLeonhardt commented on #2036
Yes so the doc does need to be updated to say "use the remote-ssh extension instead of what's in the doc today".

But we also should figure out why the remote-ssh extension is failing for you. Can you explain how you're using the remote-ssh extension?

Can you also [attach the logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your

[2019-06-19 14:45] chuanjiao10 commented on #2036
1 Install the latest version of vscode.
2 install the latest version of vscode extension: remote-ssh, remote-ssh-explorer
3 Define the ssh configuration file path:
Edit c:\Users\your username\AppData\Roaming\Code\User\settings.json
Add a line:
[code]
4 Write the contents of the ssh configuration file: d:\vscode\remote.txt, bom header +utf8 format.
Host 吃鸡ps62
  User root
  HostName 192.168.111.62

[2019-06-19 15:39] MarkKharitonov commented on #2014
I can only say that I no longer have the "good" machine - both are "bad" :-(.

[2019-06-19 16:34] rjmholt commented on #2036
One thing I see:

[code]

[2019-06-19 16:35] rjmholt commented on #2022
/cc @JamesWTruher

[2019-06-20 00:23] happywino commented on #2027
PS C:\Users\ad_jcphilli> Import-Module C:\Users\ad_jcphilli\.vscode\extensions\ms-vscode.powershell-2019.5.0\modules\PSScriptAnalyzer -PassThru
Import-Module : The specified module 'C:\Users\ad_jcphilli\.vscode\extensions\ms-vscode.powershell-2019.5.0\modules\PSScriptAnalyzer' was not loaded because no valid module file was found in any module directory.
At line:1 char:1
+ Import-Module C:\Users\a

[2019-06-20 02:41] TylerLeonhardt commented on #2036
Ah. Interesting. In the [Preview extension (which you can get here)](https://devblogs.microsoft.com/powershell/announcing-the-powershell-preview-extension-in-vscode/) we changed the pipe permission logic. @chuanjiao10 can you try the PowerShell Preview extension and see if this issue still repros?

[2019-06-20 04:54] chuanjiao10 commented on #2036
@TylerLeonhardt   ok!!!  thanks！！！

1 I delete /powershell/.vscode/launch.json
2 disable  powershell extension,then install  powershell-preview extension.
3 restart,open folder /powershell.
4 ```f5```
**Breakpoint, single step, completely normal.**

[2019-06-20 05:45] TylerLeonhardt commented on #2036
Awesome! Glad it's working for you 🙂

[2019-06-20 05:48] chuanjiao10 commented on #2036
Looking forward to the stable version of the powershell extension, early support for remote-ssh

[2019-06-20 05:55] TylerLeonhardt commented on #2027
Yes. This is expected. This is the structure of how PowerShellGet installs modules:
[code]

However... @rjmholt and I learned that support for this version number part didn't come until v5.0... and since you're on v4, it doesn't work.

We will need to [restructure our build logic here](https://github.com/PowerShell/PowerShellEditorServices/blob/master/PowerShellEditorServices.build.ps1#L476-L498)

[2019-06-20 05:59] TylerLeonhardt commented on #2027
Just so I've written in down for myself, this change only needs to go in the `legacy/1.x` branch

[2019-06-20 06:23] ghvanderweg commented on #2027
I'd like to pick this one up :)

[2019-06-20 06:28] TylerLeonhardt commented on #2027
Awesome! Let me know if anything is not clear.

I should note that this fix will require to you verify your fix on PowerShell v4 if you can...
Since this fix is for PowerShell v4 and v3 as well, you should work off of the `legacy/1.x` branch instead of the `master` branch.

When you clone both `vscode-powershell` and `PowerShellEditorServices` make sure you run:

[code]

in each folder to work off

[2019-06-20 06:51] ghvanderweg commented on #2027
Thanks for the clear instructions! Verifying on PowerShell v3 and v4 is not a problem, I can spin up VM's for that.

[2019-06-20 20:39] ms-217 commented on #1256
For me, the intellisense is very responsive until I add a function or an additional function to my script. To work around this, I comment out all functions I'm not currently working on:

[code]

Even having a single function slows intellisense responsiveness. It feels like the intellisense is processing every function one at a time by spawning a new instance without multi-threading.

This work aro

[2019-06-20 21:04] SydneyhSmith commented on #2023
Closing this issue as inactive, will re-open if this is still an issue.

[2019-06-20 21:04] #2023 closed

[2019-06-21 15:18] TylerLeonhardt commented on #1256
- [disabling CodeLens](https://github.com/PowerShell/vscode-powershell/issues/1174#issuecomment-379232062)
- [disabling ScriptAnalysis](https://github.com/PowerShell/vscode-powershell/issues/1497#issuecomment-417141584)

I'd like to ask everyone on this thread if there was one out of these two that helped a lot or if both helped a lot. This will help us understand the situation

[2019-06-23 07:47] potatoqualitee opened #2040 "Option to automatically switch to powershell.exe after Integrated Console has loaded"
**Summary of the new feature**

As a PowerShell developer, I generally only like to use powershell.exe since it is the most reliable host. I was told that this is because powershell.exe is a 100% fully implemented host.

As a VS Code user, I accept defaults and thus default to the PowerShell Integrated Console which does not have the same stable behavior as powershell.exe.

I didn't really underst

[2019-06-24 03:24] mattpwhite commented on #1256
Those help, but performance is still so bad that the extension borderline does not work.  I've strongly considered removing it and just going back to plain PowerShell-oblivious token completion.

From some casual dotTrace profiling, the performance issues that persist with those features disabled appear related to auto-formatting, having a significant number of modules installed, PowerShell's gene

[2019-06-24 14:09] JR70386 commented on #2014
I am having the same issue. I've found that when manually running the "args" command from Powershell itself, this code hangs indefinitely.

`C:\Users\jrichardson\.vscode\extensions\ms-vscode.powershell-2019.5.0\modules\PowerShellEditorServices\Start-EditorServices.ps1 -HostName 'Visual Studio Code Host' -HostProfileId 'Microsoft.VSCode' -HostVersion '2019.5.0' -AdditionalModules @('PowerShellEdito

[2019-06-24 17:54] lcanastreiro opened #2041 "Install / Update is pointing to incorrect link"
Issue Type: <b>Bug</b>

When trying to Install or Update the Powershell extension it is failing because it's pointing to the incorrect link - https://sqlopsextensions.blob.core.windows.net/marketplace/v1/extensionsGallery.json/publishers/Microsoft/vsextensions/powershell/2019.5.0/vspackage (Manual Option). The automatic install/update is generating a failed exception.

Azure Data Studio version: a

[2019-06-24 18:01] lcanastreiro commented on #2041
![image](https://user-images.githubusercontent.com/33402915/60041019-3c359380-96b2-11e9-85fd-9a1fba602445.png)

When Clicking on Update to 2019.5.0

[2019-06-24 18:03] lcanastreiro commented on #2041
![image](https://user-images.githubusercontent.com/33402915/60041150-8e76b480-96b2-11e9-871c-4b06b464f1be.png)

When Clicking on the "Download Manually" I'm getting an error - blob not found

[2019-06-24 19:34] SydneyhSmith commented on #2041
@lcanastreiro thanks for reporting this issue--this is happening in Azure Data Studio correct?
It may be related to this [change](https://github.com/microsoft/azuredatastudio/pull/6109#issuecomment-504217662 ). As a work around [this link ](https://sqlopsextensions.blob.core.windows.net/extensions/powershell/ms-vscode.PowerShell-2019.5.0.vsix)should work to manually download.

[2019-06-24 19:53] tillig commented on #2041
I'm seeing it in Azure Data Studio.

The workaround link does allow you to download the VSIX, but you can't just double-click the downloaded VSIX. After failing to install the update and clicking "Download Manually," you _must_ use the "Install from VSIX..." button that comes up in Azure Data Studio.

So:

- Attempt to install the update and let that fail.
- Click the "Download Manually" button.
-

[2019-06-24 20:49] JMGEHMAN opened #2048 "Install-VSCode doesn't support "Stable-User" BuildEdition"
The **BuildEdition** parameter of the Install-VSCode.ps1 script should support the *"Stable-User"* option - it currently only allows *"Stable"*, which results in an install of *"Stable-System*.

If a user wants to install the Insiders version of VS Code, they have the option of specifying *"Insider-System"* or *"Insider-User"*. However, there is only one option if selecting the *"Stable"* version.

[2019-06-24 21:51] SydneyhSmith commented on #2041
@alanrenmsft we are seeing this issue, wondering if you have any idea on the cause/fix? Let me know if we should transfer it to the ADS repo?

[2019-06-24 22:47] alanrenmsft commented on #2041
@SydneyhSmith oops, just noticed there was a typo in the link, I have corrected it. It might take a while for the changes to take effect. I have verified locally by deleting my cache and now it is pointing to the correct vsix file.

sorry about that.

[2019-06-24 22:48] alanrenmsft commented on #2041
I'll make sure to test that as well as letting your team also do the testing after each version update.

[2019-06-24 22:49] SydneyhSmith commented on #2041
Thanks @alanrenmsft!

[2019-06-25 04:38] TylerLeonhardt commented on #2040
You probably want the following setting then:
[code]

Which will make sure the PowerShell Integrated Console is started in the background so you still get all the features but without having to use the integrated console.

Keep in mind, a regular powershell.exe is not 'integrated' meaning intellisense and a few other features cannot be made aware of any state changes like setting a variable. Howev

[2019-06-25 06:51] potatoqualitee commented on #2040
That's exactly what I wanted! Thank you Tyler!

[2019-06-25 06:51] #2040 closed

[2019-06-25 08:55] ghvanderweg commented on #2048
The ValidateSet used to be just Stable and Insider, and [was changed to Stable, Insider-System and Insider-User when that functionality became available for VS Code Insider](https://github.com/PowerShell/vscode-powershell/pull/1477). So Option 2 would be the way to go in my opinion.

I'd like to pick this up :)

[2019-06-25 13:25] jupiterneptune commented on #1678
If possible, an enhanced search mode would be excellent! For example, search-as-you-type/filtering the whole list of possible commands in the explorer.

[2019-06-25 14:22] JMGEHMAN commented on #2048
Thanks, ghvanderweg. I'd like to take as well. Planning on using it as a demo on contributing to PowerShell/open source.

[2019-06-25 14:27] ghvanderweg commented on #2048
Alright, it's all yours then 😀

[2019-06-25 15:58] TylerLeonhardt commented on #2048
Awesome!

[2019-06-25 17:11] eamonoreilly opened #2050 "ConvertTo-SecureString hangs PowerShell host when run in the VS Code debugger within a local Azure Function host"
If you run the below code without using Wait-Debugger then it will run correctly without issue:

param($Request, $TriggerMetadata)

Wait-Debugger
$EncryptString = "eamon"
Write-Output $EncryptString

$TestSecure = ConvertTo-SecureString -String $EncryptString -AsPlainText -Force

$TestSecure
If you run it with Wait-Debugger enabled, it will not complete and crash the PowerShell host.

Please refer

[2019-06-25 21:07] SydneyhSmith commented on #2050
Could be related to #1863

[2019-06-25 21:08] #2041 closed

[2019-06-25 21:23] rjmholt commented on #2014
@JR70386 If you're running the startup script directly, that's intended behaviour. The script starts the backend and then waits patiently for a client to connect before proceeding. If there's no client, it will just wait indefinitely. Are you having trouble starting PowerShell from VSCode?

@MarkKharitonov Did you get a chance to try out those steps?

[2019-06-25 21:27] SydneyhSmith commented on #1256
@mattpwhite thanks for all this information it is super helpful to us! What setting are you using for auto-formatting (format on type, or format on save)...would you also please open an issue in the[ Script Analayzer repo](https://github.com/PowerShell/PSScriptAnalyzer) as formatting is done by Script Analyzer so the improvements will happen there.

[2019-06-25 21:28] rjmholt commented on #1256
@mattpwhite Thanks for the really great analysis!

[2019-06-25 21:28] SydneyhSmith commented on #1019
Closing as the PR has been merged..thanks for the fix @tillig!!

[2019-06-25 21:28] #1019 closed

[2019-06-26 01:41] jakauppila opened #2051 "Where-Object formatting bug"
### System Details

System Details Output
[code]

### Issue Description

I am experiencing a problem with auto-formatting when utilizing `Where-Object` with the following:

[code]

#### Expected Behaviour

[code]

#### Actual Behaviour

[code]

[2019-06-26 01:45] jakauppila commented on #2051
I would note, this is with the `IncreaseIndentationForFirstPipeline` indentation style set, it works just fine with `NoIdentation`; not sure if that is expected or not.

[2019-06-26 02:39] mattpwhite commented on #1256
Just format on paste (and occasional explicit format selection).  Formatting is far too buggy to apply to whole files.  I usually end up with everything jammed up on the left without any indentation if I let it do a whole file.  As if it’s decrementing the appropriate indent level more often than it’s incrementing it.  I don’t trust it to do much more than line up a hashtable.  I know I should pro

[2019-06-26 02:44] rjmholt commented on #1256
It's probably easier to repro directly with something like:

[code]

Amongst a few other things, we're working on how to host PSScriptAnalyzer better and hope to see some improvements there. Unfortunately, PSScriptAnalyzer has a few rough spots that are hard for us to contain, but because it's part of the default experience, people expect it. I'm also contributing to PSSA when I find time, particu

[2019-06-26 03:37] rkeithhill commented on #2051
I wonder if you are encountering the same PSSA bug as described here - https://github.com/PowerShell/PSScriptAnalyzer/issues/1236

Regardless, the formatting functionality is provided by the PSScriptAnalyzer repo referenced in the issue above.  If that issue doesn't match what you're seeing, please submit this issue to that repo.

[2019-06-26 03:37] #2051 closed

[2019-06-26 07:17] eryig commented on #2014
I have the same behaviour here and just tried something out (please see attached images):

1: Started VSCode with a Powershell Script ==> the prompt doesn't show up
2: Typed a character (in this case: "c") ==> the prompt is there
3: Made the Terminal window larger and restarted Code ==> everything's fine without the need to type a character or pressing enter twice.

So it looks like the shell is t

[2019-06-26 10:40] potatoqualitee opened #2052 "VS Code Integrated Terminal issue loading Azure DLL"
Hello,
I have some info that I wanted to share in case it's pointing to a bigger issue.

I've experienced, and [we've had several people report (GH, Twitter, Slack) that](https://github.com/sqlcollaborative/dbatools/issues/5799), certain DLLs will not load in the Integrated Shell.

This loading works in all other environments (ISE, powershell.exe).

[code]

Then later

[code]

I "fixed" my issue b

[2019-06-26 12:49] JR70386 commented on #2014
@rjmholt  Yes, I'm having trouble starting a PS terminal in VSCode. The behavior is similar, so that's why I brought up my manual tests.

[2019-06-27 15:05] potatoqualitee commented on #2052
Got some follow up info

[code]

Perhaps this has something to do with the sql enhancements in the new .net framework.

[2019-06-27 15:27] rjmholt commented on #2052
Hi @potatoqualitee, thanks for the info you've already provided.

We might need some more context here. The code snippets you provide -- are they from dbatools?

You're loading those DLLs with `Add-Type -AssemblyName <partial name>` right?

Because they don't have a stack trace, I'm not sure how to interpret the error messages, but they look like they're getting a `FileNotFoundException`.

It migh

[2019-06-27 15:38] potatoqualitee commented on #2052
This is plain SMO

![image](https://user-images.githubusercontent.com/8278033/60279509-7779d180-9901-11e9-9e7d-08b575858ba9.png)

But if I don't load dbatools, then it works no problem. here's me in another module

![image](https://user-images.githubusercontent.com/8278033/60279915-3cc46900-9902-11e9-80b8-957d85527cd8.png)

So now I'm gonna dig into what dbatools is loading that is making integrat

[2019-06-27 15:39] potatoqualitee commented on #2052
Sorry was just keeping some notes here for future people who may have the issue. Let me get that info for you, @rjmholt

[2019-06-27 15:46] potatoqualitee commented on #2052
Yes, the snippets are from dbatools

No, we load using Add-Type -Path and specify the path to the SMO DLLs provided in our module

I'm not sure how to get more info. I don't know where it's trying to get that file in the first place (it was supposed to skip if it detected integrated host) and will begin tracking that down. Note that the file is found when using powershell.exe and with non-Insiders

[2019-06-27 15:58] rjmholt commented on #2052
I think a couple of important points will be helpful:

- VSCode is a electron/node application and doesn't know about .NET or PowerShell, so it should have no bearing on .NET loading issues. So changing from VSCode Insiders to Stable shouldn't be causative. The Integrated Console is only affected by the PowerShell extension version, since that's where the Integrated Console comes from.
- The integ

[2019-06-27 16:01] rjmholt commented on #2052
I'm not sure I understand the initial code snippet for cache clearing you included in the issue description. Is your suspicion that that logic is causing a loading failure later? It's probably worth noting that manipulating private static fields can lead to unstable (sometimes thread-dependent) errors.

[2019-06-27 16:06] potatoqualitee commented on #2052
Thank you for your time and feedback.

I'm beginning to see that in my testing. Now I can't get VS Code Insiders to break 😩

Right? And now that VS Code Insiders went from broken to working, I'm super unsure how I'm going to fix this but we got one more complaint in our Slack channel today.

So far, VSCode powershell.exe terminal has had 100% success across both Insiders and Stable. I'll try more

[2019-06-27 16:45] rjmholt commented on #2052
Ok, so possibly safe to rule that out.

Does it look like a permissions error? That suggests the DLLs are loaded, most likely by PowerShell. You might be able to find them in `resmon.exe` and that should tell you who owns the locks.

Entirely possible, but it depends on how you're telling PowerShell/.NET Framework not to (I didn't catch that part above).

My current theory is that this is caused b

[2019-06-27 16:51] SeeminglyScience commented on #2052
@potatoqualitee Next time you run into the issue can you check `[Environment]::Is64BitProcess` in both the working and failing terminal?  Also check that both the stable and insiders versions are the same architecture.

[2019-06-27 16:53] daxian-dbw commented on #2052
@potatoqualitee Since you are using Windows PowerShell, can you please also try do the same operations in the default VSCode PowerShell terminal (not the integrated PowerShell console that comes from the PowerShell VSCode extension)? Just want to know if your module might have the same issue in the default VSCode PS terminal too.

[2019-06-27 16:54] rjmholt commented on #2052
@daxian-dbw from above

[2019-06-27 17:00] rjmholt commented on #2052
@adityapatwardhan

[2019-06-27 18:25] potatoqualitee commented on #2052
@SeeminglyScience - when it fails, `[Environment]::Is64BitProcess` reports true. When it succeeds, `[Environment]::Is64BitProcess` reports true.

@daxian-dbw  - I've been testing it for about an hour now and can't get it to reliably break, though it does seem to impact both editions of VS Code.

I have not been able to break powershell.exe in VS Code.

[2019-06-27 18:34] flagmanchris commented on #2052
I have only had issues with Integrated console. I'm getting it in both vscode insiders and vscode with both installed on the same machine. ```[Environment]::Is64BitProcess``` reports true for me although I don't have a working integrated terminal to compare to.

[2019-06-27 18:35] potatoqualitee commented on #2052
Chris was also the user that thought it was fixed by updating VS Code insiders but it ended up coming back.

[2019-06-27 18:39] flagmanchris commented on #2052
It makes me think I imagined it working! .Net version info:
[code]

[2019-06-27 18:44] potatoqualitee commented on #2052
.Net 4.7 introduced significant changes to System.Data.SqlClient. Unsure if that means anything to this issue  ¯\_(ツ)_/¯

[2019-06-27 21:16] IAmStoxe opened #2055 "Inline Pipes Break Formatting With Non-Defaults Settings Enabled"
When you use a pipe inline the formatting engine appears to think it needs to adjust the indentation level.

Fresh format with default settings
![image](https://user-images.githubusercontent.com/16467875/60301392-17296680-98e6-11e9-9e3e-1fb2e952ff4f.png)

Fresh format with "IncreaseIndentationForFirstPipeLine"
![image](https://user-images.githubusercontent.com/16467875/60301416-28727300-98e6-11e9-

[2019-06-28 16:11] SydneyhSmith commented on #2055
@IAmStoxe thanks for opening this issue, could you please clarify which formatting settings you have enabled, is it just "IncreaseIndentationForFirstPipeLine" or do you also have others as well? Thanks!

[2019-06-28 17:53] corbob opened #2058 "Identify locations in the code where we are doing naive get that should be changed to the document-specific editor rather than global configuration"
Creating an issue to track this comment: https://github.com/PowerShell/vscode-powershell/pull/2035#issuecomment-503633171

**Summary of the new feature**

As was found in #1019 We're not getting the appropriate setting all the time.

**Proposed technical implementation details (optional)**

Mimic what is done in #2035 for all locations in the code where we're getting properties.

Unless there's an

[2019-06-28 17:55] corbob commented on #2048
@TylerLeonhardt if @JMGEHMAN is picking this one up, should the Up-for-Grabs label be removed?

[2019-06-28 18:38] SydneyhSmith commented on #2052
@potatoqualitee @flagmanchris thanks for all the information, we will have to continue to investigate. We will let you know we have more questions...in the meantime if you get a consistent reproduction, let us know

[2019-06-28 18:53] TylerLeonhardt commented on #2048
I'll leave the tag for tracking but I did just assign it to @JMGEHMAN and we can use that for ownership.

[2019-06-28 19:07] rjmholt commented on #2052
If you want even more information, you might be able to capture the problem in a crash dump: https://blogs.msdn.microsoft.com/cobold/2010/03/01/collecting-crash-dumps/

If you send that through to us (upload or email), we can take a look

[2019-06-29 19:16] flagmanchris commented on #2052
I had a go at creating a dump file using winDBG; not sure if I did it right but I have generated a file at the point of the error. Its around 650MB does that sound right / where should I send it?

[2019-07-01 16:00] SydneyhSmith commented on #2052
Thanks @flagmanchris you can send them to  vscode-powershell@microsoft.com

[2019-07-01 16:20] flagmanchris commented on #2052
Thanks, just sent it through (onedrive link)

[2019-07-01 17:24] potatoqualitee commented on #2052
:bananadance: thanks to you both!

[2019-07-01 18:12] ChrisLynchHPE commented on #144
I know this is quite a long time ago, but has anything been done with this?  This is a major knock against VSCode with split module or script files within the same workspace.  I'd like to break apart my very large PSM1 into smaller ones, but still have IntelliSense across all PSM1 and PS1 files without needing to dot source everything for dev work.

[2019-07-02 21:39] rjmholt commented on #2052
Ok had a brief look at the crash dump in Visual Studio. The inner most exception indicates that more information is only available from the Fusion logs.

Can you please [enable fusion logs](https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer) and when the issue reoccurs, send those through to us?

[2019-07-02 21:40] rjmholt commented on #2052
You'll [need to set a registry key](https://stackoverflow.com/questions/255669/how-to-enable-assembly-bind-failure-logging-fusion-in-net) for this

[2019-07-02 22:37] daxian-dbw commented on #2052
I also took a look at the dump, and yes, please enable the Fusion log and run the application again to recollect a dump:

[code]

[2019-07-03 02:58] TylerLeonhardt commented on #1936
This is fixed if you use the [preview version of PowerShell](https://github.com/PowerShell/PowerShell#get-powershell)!

[2019-07-03 06:29] flagmanchris commented on #2052
Thanks, I've just collected another crash dump with the fusion logs enabled and emailed a link to the files. @rjmholt I'm not sure about the pdb files question if you could point me in the right direction I'll see what I can do.

[2019-07-03 15:34] daxian-dbw commented on #2052
Thanks @flagmanchris. The fusion logs you shared doesn't look like generated from yesterday. The timestamp for all `Microsoft.Azure.Services.AppAuthentication` related log entries are from 3/7/2019, and they all show successful loading from the `dbatools` module folder `C:\Program Files\WindowsPowerShell\Modules\dbatools\bin\libraries\Microsoft.Azure.Services.AppAuthentication.dll`.
[code]

This i

[2019-07-03 15:51] daxian-dbw commented on #2052
Two suspicious things I observed:
1. The logs shown in the `FunsionLogs` you shared indicate the successful binding was triggered by `Assembly.LoadFrom`, whereas the `_fusionLog` field in WinDbg indicates the loading was triggered by `Assembly.Load` with a partial assembly name `Microsoft.Azure.Services.AppAuthentication`.

2. The exception thrown from `System_Data_ni!System.Data.SqlClient.SqlAuth

[2019-07-03 16:18] flagmanchris commented on #2052
Thanks, hopefully @potatoqualitee can jump in here; the assemblies are shipped with the module but beyond that I am a user that has been able to consistently recreate the issue rather than having a clue what is going on :)
The fusion logs are from this morning, but ther should also be a matching crash dump file.

[2019-07-03 17:10] johndog opened #2064 "Debugger hangs when encountering certain issues"
Issue Description
=====
This is an issue I'm trying to debug:

[code]

If I attach to the running script prior to this occurring, I can step through the code for a while.  If I hit F5 to resume execution to the point of the exception, the debugger hangs forever with a spinning progress wheel in the status bar.

Attached Logs
=====

This appears in the EditorServices log about the time of the hang:

[2019-07-03 18:58] flagmanchris commented on #2052
Also, I wonder if I have confused things a little. The second dump file and fusion logs were generated using an updated version of dbatools which had the dll's moved to a different folder

[2019-07-04 08:10] oliviermasson opened #2066 "Powershell language extension fails to start"
Hello Team,

Powershell extension fails to start
Here are the output:
[code]

I'm using the following Powershell env:
[code]

I've tried unsuccessfully uninstall and reinstall the powershell extension

Thanks for you help

[2019-07-04 12:23] SetTrend commented on #985
This still frequently happens.

[2019-07-04 13:31] potatoqualitee commented on #2052
this gives me some info to go on, i'll see what i can do 👍

[2019-07-04 15:46] TylerLeonhardt commented on #2066
Thanks for the info! Can you also [attach the logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment) here so we can get a better idea of what's going on?

[2019-07-04 16:28] oliviermasson commented on #2066
In Diagnostic mode, i don't have much more informations:
[code]

My log directory contains only a file with same info as above

[code]

[code]

$psEditor return nothing

[code]

HTH

[2019-07-04 16:40] oliviermasson commented on #2066
Here is what i got when i open powershell log folder

![image](https://user-images.githubusercontent.com/38111592/60680254-dfdd2b80-9e8a-11e9-8538-f2de6cbc94f7.png)

As you can see this folder does not contain any EditorServices.log file, only vscode-powershell.log, with same information as displayed above

Regards

[2019-07-04 16:49] TylerLeonhardt commented on #2066
Do you have any GPO rules in place that this machine is a part of?

[2019-07-04 16:50] rkeithhill commented on #2066
Does this yield any events that happened at the same time you attempted to launch the extension?
[code]

[2019-07-04 19:20] SetTrend opened #2067 "Add an option to disable automatic parenthesis insertion"
# Add an option to disable automatic parenthesis insertion

Currently, when entering a function using <kbd>TAB</kbd> auto completion, a parenthesis is automatically added.

For me this is very confusing as I'm used to type parentheses myself (on German keyboards this may be simpler than on US-English keyboards as with German keyboards parentheses are available via <kbd>SHIFT</kbd>+<kbd>8</kbd> to

[2019-07-04 20:00] TylerLeonhardt commented on #2067
Completions in the extension are provided by PowerShell itself (Imagine hitting TAB in a PowerShell console on `ToBool`) and AFAIK that behavior is not configurable.

In a perfect world, we would ask PowerShell to ignore the parentheses. You should open an issue [over there](https://github.com/PowerShell/PowerShell) to support this.

The extension _could_ offer a setting to chop off the parenthese

[2019-07-04 23:27] SetTrend commented on #2067
Ah, I comprehend. Sure, you are right. I'll open an issue over there then.

Thanks für enlightening me!

[2019-07-04 23:27] #2067 closed

[2019-07-05 11:42] oliviermasson commented on #2066
Yes my laptop is managed by my company, so GPO are in place.
But this is the case since few years, and i use VS with powershell extension since few years without any trouble.
I could check with my IT, but i'm not aware of any change in our GPO.

Here are the event log during my issue.
As you will see, nothing relative with VS:
[code]

[2019-07-05 11:48] oliviermasson commented on #2066
I don't know if it's relative to my issue, but the error message when VS try to open a Powershell Integrated Console to a session timedout.

When i'm trying to open New Terminal
VS succefully and quickly open a powershell termninal, without any issue:

![image](https://user-images.githubusercontent.com/38111592/60720615-a01a5080-9f2b-11e9-831f-7ad57e6b50f9.png)

[2019-07-05 12:53] potatoqualitee commented on #2052
Okay, I tried a couple things and it's still broken. I don't know what to do.

It seems like Integrated Terminal notices app.config and loads it? Would we continue to see these problems if app.config was deleted? Or should I fully qualify the DLL (unsure how to do that besides dynamically writing it) How can I help from a dbatools perspective, @daxian-dbw?

Thank you for your time,
Chrissy

[2019-07-05 15:46] TylerLeonhardt commented on #2066
@olivermasson can you try this [troubleshooting step for restricted systems](docs.microsoft.com/en-us/powershell/scripting/components/vscode/using-vscode?view=powershell-6#installing-the-powershell-extension-on-restricted-systems) and let us know if that helps?

[2019-07-05 17:20] jobasque opened #2069 "ISE Add-Ons"
Powershell ISE Addons are small blocks of code that are executed and have a context menu item that opens for users executing the code. Useful for administration teams to use ISE as a toolbox with prebuilt functions.

[2019-07-05 19:43] mattmcnabb commented on #2069
Maybe take a look at `Register-EditorCommand`. This allows you to execute arbitrary scriptblocks from keyboard shortcuts.

[2019-07-06 09:17] potatoqualitee commented on #2052
Seems like we can get it to work consistently when app.config (or even appconfig.txt) is removed. Now i generate the file once, dynamically, in the dbatools temp directory. Unsure what that means for VS Code PowerShell.

[2019-07-06 20:00] rjmholt commented on #2052
@daxian-dbw for reference, the config file source is [here](https://github.com/sqlcollaborative/dbatools/blob/a84a117514b2e89b895c821b5e231dec05c2277b/dbatools.psm1#L968-L998) I think.

The integrated console doesn't do any special app.config handling; app.config operates below us at the .NET level and we do as little as possible to deviate from what PowerShell normally does.

I don't know much ab

[2019-07-07 12:26] potatoqualitee commented on #2052
Turns out the appconfig thing was a fluke. It's back to broken with app.config not existing.

We used to do Add-Type, but then specifically skipped all references to Microsoft.Azure.Services.AppAuthentication for VS Code Integrated Shell in an attempt to get this to stop happening.

It shouldn't even care about those DLLs now, so I'm really confused.

[2019-07-07 20:12] itfranck opened #2071 "codeFormatting.IgnoreOneLineBlock / hashtable problem"
Issue Type: <b>Bug</b>

Code formatting does not behave properly when declaring a hashtable in a IF condition.

Set your codeFormatting options to:

[code]

Write the following statement
[code]

Once formatted, they will appear as :

[code]
Trying the same thing with test assignment being an array @() instead of a hashtable work properly .

[code]

Extension version: 2019.5.0
VS Code version: Code

[2019-07-08 03:10] rkeithhill commented on #2071
Code formatting functionality is provided by PSScriptAnalyzer.  Can you submit this bug on that project - https://github.com/powershell/scriptanalyzer/issues?  Thanks.

[2019-07-08 03:10] #2071 closed

[2019-07-08 05:17] TylerLeonhardt commented on #2071
cc @bergmeister for visibility

[2019-07-08 05:37] itfranck commented on #2071
https://github.com/PowerShell/PSScriptAnalyzer/issues/1284

[2019-07-08 08:09] oliviermasson commented on #2066
Hi @TylerLeonhardt

I've followed the troubleshooting step for restricted systems, and now I can tell you that there doesn't seem to be any GPO that prevents the import of the module, nor a signature problem, see next screenshot:

![image](https://user-images.githubusercontent.com/38111592/60792799-a0526000-a166-11e9-8f7e-6484796966af.png)

And it's the same for this module:
![image](https://user-

[2019-07-08 08:38] oliviermasson commented on #2066
If it could help, i run Start-EditorServices.ps1 manualy.
Here is the output:
[code]

And Logfile testom_EditorServices.log contains following output:
[code]

[2019-07-08 12:07] YohannJourniac commented on #1863
I confirm i have the same problem.
Windows 7 Pro x64
Powershell 5.1
Visual Studio Code 1.36.0
PowerShell Language Support for Visual Studio Code 2019.5.0

I add Get-Credential into AddClick Button.

[2019-07-08 13:13] tmknight opened #2072 "Move to date-based versioning for the extension"
* Slack Community Chat: https://powershell.slack.com (you can sign-up at http://slack.poshcode.org/ for an invite)
* Gitter Chat: https://gitter.im/PowerShell/vscode-powershell
I suggest that the preview version be different than the release version.  Having them both (currently) be 2019.5.0 makes it nearly impossible to programatically determine which version is installed and also seems unorthodo

[2019-07-08 16:04] SydneyhSmith commented on #985
@SetTrend thanks for the feeback! If you experience more crashes it really helps us in terms of debugging/getting to the root of these issues if you are able to provide logs --instructions for how to do that are [here ](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment)

[2019-07-08 17:05] TylerLeonhardt commented on #2072
There were many reasons for switching to the date based versioning. See the original issue here: https://github.com/PowerShell/vscode-powershell/issues/1880

Unfortunately, the previous version scheme was a huge pain point that burned us due to limitations imposed by vscode and so the current versioning scheme is in affect for this reason.

If you want to programmatically check the version of the

[2019-07-08 17:23] tmknight commented on #2072
I absolutely agree with the moving to date versioning.  My suggestion was to not make it the same as the release version (e.g 2019.5.1 vs 2019.5.0).

As for suggestions in lieu of more explicit $host versioning, option 1 will work - I didn't think of that.

Suggestion 2, I did think of that route, though your suggestion will not return the enabled version, only if installed.  You would need to do

[2019-07-08 17:34] TylerLeonhardt commented on #2072
Yeah this sounds easy, but it’s an off-by-one error waiting to happen. We already have tooling around the current versioning scheme to make sure we don’t mess up again… Id be hesitant to change that - which takes a lot of verification to make sure we’ve crossed our ‘t’s and dot our ‘i’s.

At this time, I don’t think we have the bandwidth to put more work into the versioning and would rather wait o

[2019-07-08 17:35] TylerLeonhardt commented on #2072
I’m going to close this since we aren’t planning on doing any work in this space for now.

[2019-07-08 17:35] #2072 closed

[2019-07-08 17:36] tmknight commented on #2072
All, good, thanks for the quick responses.  Keep up the good work!

[2019-07-09 21:32] SydneyhSmith commented on #2064
Thanks for reporting this @johndog this issue looks similar to #1856 and is likely the result of a race condition between PSReadline, the extension and the command being invoked. For now we are tracking this needed architectural maintenance with #1856 and #1793 so I will close this issue...

[2019-07-09 21:32] #2064 closed

[2019-07-09 21:35] rjmholt commented on #2066
Do you know when this issue started occurring? Was it followed by a PowerShell extension update, or maybe a Windows update or possibly after a VSCode update?

[2019-07-09 21:47] rjmholt commented on #2069
@jobasque you've described what ISE addons are, but what are your desires for functionality in the PowerShell extension?

ISE addons are very specific to the ISE and particularly hook into WPF to generate their UI. VSCode runs on Electron, which is node-based (not .NET), and thus has no WPF APIs; they are entirely different technology ecosystems. Also, from the perspective of the PowerShell extens

[2019-07-10 07:36] oliviermasson commented on #2066
Hello Robert,

I'm not sure, because I haven't used it in almost a month.
I know that when I restarted VS code, there was an update of VS.
I don't know if there have been any updates to the plugin.
I think there have been updates on my OS.

For the record, I have another PC (which is not managed by my company) and for which, the powershell plugin runs correctly.
Here is the information for this PC

[2019-07-10 08:24] mcgurdan opened #2076 "Accept multiple suggested corrections"
VSCode seems to be bomb out if a diagnostic records have multiple elements within it's SuggestedCorrections property; despite the property being specified as plural and of type ObjectModel.Collection containing  [PowerShell.ScriptAnalyzer.Generic.CorrectionExtent].

This almost seems like a bug, but maybe it was just overlooked as generally there is only a single suggested correction (if any). I a

[2019-07-10 12:31] ykuijs opened #2077 "Executing commands during debugging that expand the max screen width result in error"
Issue Type: <b>Bug</b>

When I debug a PowerShell script and the command hits the end of the screen width, an error is thrown and I cannot that command:
[code]
Extension version: 2019.5.0
VS Code version: Code 1.36.0 (0f3794b38477eea13fb47fbe15a42798e6129338, 2019-07-03T13:25:46.372Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Inte

[2019-07-10 16:09] SydneyhSmith commented on #2077
@ykuijs thanks for reporting this issue it looks like it is  likely the same problem as #702 it might be worth trying the [PowerShellPreview extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) since that can enable PSReadline (with `"powershell.developer.featureFlags": [ "PSReadLine" ]` in your vscode settings) which handles scrolling the buffer

[2019-07-10 19:56] jobasque commented on #2069
Thanks all for help -- the last thing I need is a way to reload the VSCode window programmatically from within powershell (or some other method to re-apply the settings updated in settings.json file).
My 3 priorities for moving from ISE to VSCODE
-Custom global profile (server-wide)
RESOLUTION: c:\windows\system32\windowsPowershell\Microsoft.VSCode_profile.ps1
-ISE ADD-ON Menu options
RESOLUTION:

[2019-07-11 01:09] TylerLeonhardt commented on #2069
@jobasque I feel like you might want something similar to [Settings Sync](https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync) but private.

Is that correct?

[2019-07-11 02:18] jobasque commented on #2069
Hey Tyler,  that's correct. But due to security needs of customer, settings would need to be managed internally on a domain joined machine or via a global settings.json file. I also thought of a way to use the profile powershell to check the contents of the settings.json file and if required settings were missing, I could simply display a warning text and then force the vscode process to close. Wo

[2019-07-11 05:44] TylerLeonhardt opened #2080 "Add param block snippet"
**Summary of the new feature**

On my stream with Scott Hanselman, he wasn't sure on how to write a param block because we have snippets for individual parameters, not param blocks.

I'd be nice to have a snippet of a param block, with a parameter inside.

**Proposed technical implementation details (optional)**

Take the current `parameter` snippet, and wrap it in a param block and call it the `p

[2019-07-11 08:11] ykuijs commented on #2077
@SydneyhSmith I can confirm that installing and enabling the PowerShellPreview extension fixes this issue. Will close this issue, since the issue is already being tracked in the other issue.

Thanks!

[2019-07-11 08:11] #2077 closed

[2019-07-11 14:36] vexx32 commented on #2080
Should probably have something like this...
[code]
Maybe with some inline comments that properties not needed / set to $false can be omitted if not used.

[2019-07-11 15:29] rkeithhill commented on #2080
I think there's a difference between a "teaching" style snippet and a "productivity" snippet.  The above, as a productivity snippet, wouldn't work for me because I'd end up deleting more stuff than I would have typed in the first place.  For me, this would be a productivity snippet:
[code]

[2019-07-11 15:49] vexx32 commented on #2080
Hm, that's a very good point! Yeah definitely err on the side of productivity.

[2019-07-11 15:50] TylerLeonhardt commented on #2080
Sorry, @rkeithhill, that's what I wanted, but was too lazy to type it 😅

[2019-07-11 15:55] rkeithhill commented on #2080
FWIW I do think there is value in having "teaching" style snippets.  They just need to be easily distinguished somehow between normal productivity snippets.  That's why we have snippets that are prefixed with `Example-` and `Parameter-*` but I'm not sure that's really the best approach.

[2019-07-11 17:24] AspenForester commented on #2080
It might be nice to give the user the CHOICE of a comma, or maybe we should just leave the cursor at the right end of the variable name?

[2019-07-11 17:55] AspenForester commented on #2080
Something like this: Note where the `$0` moved to.
[code]

[2019-07-11 19:09] TylerLeonhardt commented on #2080
I’d approve that PR 😄

[2019-07-11 19:37] AspenForester commented on #2080
Well, let's see how I did...

[2019-07-11 21:06] SydneyhSmith commented on #2076
Thanks for reporting this @mcgurdan it would be great if we could identify what the exception was....It would be really helpful if you could also attach the logs--instructions for how to do that are [here ](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment)

[2019-07-11 21:10] SydneyhSmith commented on #2066
@oliviermasson sorry you are hitting this issue, it is difficult for us to identify the cause but I think the best option is to make sure you have a clean, up-to-date environment:

Uninstall VSCode
rm -fo -r ~\.vscode
Install any pending Windows updates
Restart your machine
Install VSCode
Install the PowerShell extension
Check for the bug
If it persists, Install VSCode Insiders
Install the PowerSh

[2019-07-12 08:44] andrewducker opened #2082 "Multiline formatting does not indent correctly"
Issue Description
=====

I am experiencing a problem with formatting of multiline commands.  Particularly with comments in them.  Given the following command, this is how Powershell formats it:
[code]
If I put in backticks then the formatter notices:
[code]
which is what I would expect.
However, if I then put in comments I get:
[code]
Which doesn't look right to me.

Environment Information
=====

[2019-07-12 16:04] portTack opened #2083 "Powershell Command Explorer keeps loading but shows nothing"
![Capture](https://user-images.githubusercontent.com/5780033/61141927-7c06c400-a483-11e9-8526-1fd0226eac28.PNG)
Issue Type: <b>Bug</b>

The Powershell Command Explorer extension on the sidebar keeps loading but not showing anything. The same thing happens to two other sidebar icons as well Test and Leetcode.

Extension version: 2019.5.0
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81

[2019-07-12 16:30] corbob commented on #2083
It feels like if other extensions are doing similar things, that it might be a vscode thing.

In any case, could you provide [logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#logs) to help us with troubleshooting what the issue might be?

[2019-07-12 17:18] oliviermasson commented on #2066
HI @SydneyhSmith

unfortunately uninstalling and completely re-installing vscode or vscode insiders as you told me does not fix the problem.
Is there not a way to have a little more verbosity in the `WaitForCompletion()` function?
Because it is precisely in this function that the problem occurs, at line 456 of **Start-EditorServices.ps1**
![image](https://user-images.githubusercontent.com/38111592

[2019-07-12 18:10] rjmholt commented on #2066
`WaitForCompletion` is [here](https://github.com/PowerShell/PowerShellEditorServices/blob/f2c1159cc914d6fb4ff3c60bc27d826166866a2c/src/PowerShellEditorServices.Host/EditorServicesHost.cs#L392-L399). It's a hook in the startup script where it waits for the language server to fire an event before it shuts down; if you're busy using the extension, you don't want that method to return because it means

[2019-07-14 01:35] rgoldhor opened #2085 "Timed out waiting for session file to appear."
### System Details

System Details Output
[code]

### Issue Description

I am experiencing a problem initializing the PowerShell VSCode extensions.

#### Expected Behaviour

The PowerShell VSCode extension should initialize successfully.

#### Actual Behaviour

The PowerShell VSCode extenstion tries for many seconds to initialize, and eventually fails with the error message "Language server startu

[2019-07-14 21:34] stevenjudd opened #2086 "PSReadLine Command History is not saving to the HistorySavePath location"
### System Details

System Details Output
[code]

### Issue Description

I am experiencing a problem with the PSReadline HistorySavePath file. First, it is not saving the command history to the defined file location.

Second, it would be preferred to have the default file name to not have white space characters in the name. Thus "Visual Studio Code Host_history.txt" would be "VisualStudioCodeHost_

[2019-07-15 10:52] bazgr opened #2087 "Outline doesn't show classes"
### System Details

- MacOS 10.14
- VS Code 1.36.1
- PS Extension 2019.5.0

### Issue Description

I recently started writing classes in Powershell and noticed that the outline only includes functions but not classes.

#### Expected Behaviour

Classes should appear in the outline view.

#### Actual Behaviour

Classes don't appear in the outline view.

I don't know if it's supposed to work and an a

[2019-07-15 14:32] TylerLeonhardt commented on #2087
This is a duplicate of https://github.com/PowerShell/vscode-powershell/issues/3

Classes support wasn't in the extension because we still supported v3/v4 in the stable version of the extension.

In the preview version, we're only supporting v5.1 and up so support for classes can finally be added back (there are commented out places in the code where this feature existed already. It was commented o

[2019-07-15 14:32] TylerLeonhardt commented on #2087
Closing this as a dupe.

[2019-07-15 14:32] #2087 closed

[2019-07-15 17:19] SydneyhSmith commented on #2085
Hi @rgoldhor  thanks for opening an issue. It looks like this might be an issue caused by a system configuration like group policy or execution policy.

Can you please try trusting the Microsoft signing certificate on the startup script by [following these steps](https://docs.microsoft.com/en-us/powershell/scripting/components/vscode/using-vscode?view=powershell-6#installing-the-powershell-extensi

[2019-07-15 18:02] yobyot commented on #1856
Me, too.

I continue to be disheartened at the inability of vscode to replace the console, much less the ISE. On macOS, it's worse -- I end up having to run a VM just to use Windows PowerShell. Delaying such important debugger issues as this with "architectural maintenance" is a way of saying, to me ears, "We really didn't think through debugging hard enough. And we don't care that much about pwsh

[2019-07-15 22:40] rjmholt commented on #1856
I understand your frustration. The maintainers of the PowerShell extension are all PowerShell users and contributors. We tend to write a lot more PowerShell and C# than JS.

The difficulty in the debugger comes because of the mismatch between a generalised multithreaded language server experience, and PowerShell's single-threaded completion system.

The work we're currently undertaking to restruct

[2019-07-15 23:53] yobyot commented on #1856
Thank you for your reply, @rjmholt.

I'm trying _not_ to use Windows PowerShell _anywhere_. I'd prefer to be using PowerShell 6.2.1 everywhere but cannot because of my main gripe with vscode: it does not reliably replace the Windows PowerShell ISE for even simple debugging, not to mention its inability to advanced debugging like Sapien's PowerShell Studio.

My frustration is that as good as PowerS

[2019-07-16 07:10] DarkLite1 commented on #1856
@yobyot I completely understand your point of view. I've had a similar feeling about using vscode to write PowerShell code in the past. That's why I opened [31555](https://github.com/microsoft/vscode/issues/31555) to make PowerShell a fist class citizen of vscode.

Anyway, back to the issue at hand. The debugger should indeed not be polluted with in-explainable errors. @rjmholt  can you tell us wh

[2019-07-16 07:55] oliviermasson commented on #2066
Hello @rjmholt ,

I don't have antivirus software on my laptop, but certainly something worse in terms of locking and it's called avecto defendpoint.
But despite this and for more than a year, vscode and all its extensions (including powershell) worked perfectly.
Watching event log, i can't notice any warning or error relative to powershell or any locks.
On the contrary, I only note that Start-Edi

[2019-07-16 08:14] oliviermasson commented on #2066
Please find the fusion.log collected during my issue
[fusionlog.zip](https://github.com/PowerShell/vscode-powershell/files/3395976/fusionlog.zip)

[2019-07-16 08:34] oliviermasson commented on #2066
As I suspected, our problem does not generates application dump.

[2019-07-16 11:38] pilgi3 opened #2092 "Extension needs tremendous RAM"
Issue Type: <b>Bug</b>

I openend different *.ps1 files, but only in read mode.
No script was started and after some time the extension suddenly needed a lot of RAM.
Visual Code was installed on Server 2016 and is a device installation (no user setup).
This behavior has not been observed in the past.

Extension version: 2019.5.0
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc19152

[2019-07-16 11:39] pilgi3 commented on #2092
![taskmgr](https://user-images.githubusercontent.com/44865075/61291539-0d9d6b00-a7cf-11e9-8b44-178b6d720faa.jpg)

[2019-07-16 11:54] SeeminglyScience commented on #1856
I'm gonna quote a [comment I wrote awhile ago](https://github.com/PowerShell/PowerShellEditorServices/issues/701#issuecomment-406795269) about this:

The issue is more complicated than it appears, and is mostly due to limitations in the engine.  The fix I proposed (if it would even work) would be pretty time consuming to write.  I typically only advise `$Error` to be used for interactive troublesh

[2019-07-16 13:36] mcgurdan commented on #2076
Okay, so below I have created a diagnostic record using invoke-scriptanalyzer:
Line                 : 34
Column               : 5
Message              : Test
Extent               : return "hello"
RuleName             : AvoidUsingReturn
Severity             : Warning
ScriptName           : TestScript.ps1
ScriptPath           : C:\temp\TestScript.ps1
RuleSuppressionID    :
SuggestedCorrections : {Mi

[2019-07-16 14:27] Deathnerd commented on #869
Still having this issue on VSCode 1.36.1 on Win10. Anybody figured it out yet?

[2019-07-16 15:27] TylerLeonhardt commented on #869
@rjmholt has been doing a ton of work on PSScriptAnalyzer’s formatter performance. Naturally, the vscode extension takes advantage of that perf bump. It’s coming soon! Thanks for your patience.

[2019-07-16 15:44] rjmholt commented on #2092
Duplicate of https://github.com/PowerShell/vscode-powershell/issues/1552.

This happens for a couple of reasons. One is because of the extension trying to resolve references in your ps1 files. To work where references come from, we must resolve file paths and modules and use PowerShell to do so. Another cause is PSScriptAnalyzer diagnosing and formatting, which again performs module look ups to de

[2019-07-16 15:44] #2092 closed

[2019-07-16 22:18] SydneyhSmith commented on #2086
Thanks @stevenjudd for opening this issue, you have some very valid concerns.

It looks like you are using the PowerShell extension, rather than the PowerShell Preview extension which unfortunately is the only place where PSReadline support is available in VSCode, we are tracking this issue with #1793

This is a result of PSReadLine using the host name to create this file path--changing our host n

[2019-07-16 22:31] rjmholt commented on #2076
It looks like we collect all the corrections, [but then it was implicitly assumed that they are unique](https://github.com/PowerShell/PowerShellEditorServices/blob/5f9d89a722b70f48f92b6d26dffdff256cd974bb/src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs#L1850-L1861) for a given span (the `dict.Add` requires uniqueness).

But semantically that should give you an error.

Anyway, lookin

[2019-07-16 22:38] rjmholt commented on #2086
FYI our host name is defined [here](https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Session/HostDetails.cs#L18-L22). It imitates the ISE's host name, which is `Windows PowerShell ISE Host`.

[2019-07-17 12:39] SeeminglyScience commented on #2086
As a work around, you can put this in your profile:

[code]

[2019-07-17 22:16] #2024 closed

[2019-07-18 13:24] AJDulk commented on #775
I am having this same issue using the following version:
PSVersion 6.2.2
PSEdition Core
OS Linux 3.10.0-957.21.3.el7.x86_64 #1 SMP Tue Jun 18 16:35:19 UTC 2019

gci $HOME/.vscode/extensions/ms-vscode.PowerShell-1.1.0/modules
gci : Cannot find path '/home/antony/.vscode/extensions/ms-vscode.PowerShell-1.1.0/modules' because it does not exist.

Get-Module -ListAvailable $HOME/.vscode/extensions/ms-v

[2019-07-18 14:34] iyoumans opened #2093 "Stop loading of powershell.exe terminal and only have integrated terminal"
I would like a setting that prevents the "powershell.exe" terminal from opening and only opens the "PowerShell Integrated Console" terminal. Having the two consoles trying to start at the same time causes some issues for me due to profile settings. All the settings.json settings seem to be for controlling the integrated terminal only.

[2019-07-18 14:40] corbob commented on #2093
🤔 I don't think it's possible to stop the integrated terminal from loading, but a few things that might help could be setting `terminal.integrated.shell.windows` to something else (like `cmd.exe` 😬 ), or set `terminal.integrated.shellArgs.windows` to include `-NoProfile` so that PowerShell doesn't load any profiles.

[2019-07-18 20:04] SydneyhSmith commented on #2083
Closing this issue as inactive, will re-open if this is still an issue--Thanks!

[2019-07-18 20:04] #2083 closed

[2019-07-18 21:06] rjmholt commented on #2093
Related to https://github.com/PowerShell/vscode-powershell/issues/1968

[2019-07-18 21:07] SydneyhSmith commented on #2093
@corbob is correct, vscode opens the powershell.exe, and it would be dangerous for us to trash the terminal since we do not have the full context of what could be running in that terminal (for example a user could have a long-running script), so I am going to go ahead and close this issue. @iyoumans let us know if the above provided workarounds do not help address your issue.

[2019-07-18 21:07] #2093 closed

[2019-07-18 21:27] rjmholt commented on #2066
Admittedly this issue and others like it are stumping us a bit.

One thing would be to try the preview version of the extension, `powershell-preview` in the marketplace.

The next suggestion would be to add logging statements to the ps1 and psm1 files. You should be able to just edit it at `~/.vscode/extensions/ms-vscode.powershell-2019.5.0/modules/PowerShellEditorServices/PowerShellEditorServices

[2019-07-19 02:17] goyzhang commented on #1656
The type-and-navigate feature has been added https://github.com/Microsoft/vscode/issues/10026
Is it possible to adapt it to this extension?

[2019-07-19 13:42] dahifi commented on #1656
I consider the PS command explorer essential for working in the ISE. Since it's been abandoned by MS, it would be nice if VSCode could implement this....

[2019-07-19 14:24] corbob commented on #1656
This is definitely being worked on. As @rjmholt  mentioned there's an outstanding feature request with vscode to ad a filter functionality. As of June 5th this was still planned, just delayed: https://twitter.com/CoryKnox/status/1135945751509504000 As for what @goyzhang mentioned, I haven't seen the type-and-navigate, so I don't know how difficult it might be for adapting to the TreeView.

[2019-07-19 14:34] TylerLeonhardt commented on #1656
@joaomoreno for visibility

[2019-07-19 16:56] yobyot commented on #1856
I'm apologize for attempting to beating a dead horse -- but the state of PowerShell debugging in vscode is a disaster. Check out this side-by-side demo. Bottom line: debugging a simple script yields different results in vscode on macOS vs. Windows. The two environments are running the same release of vscode, PowerShell Core and installed modules.

For example, consider the `AWSPowerShell.NetCore`

[2019-07-19 19:56] TylerLeonhardt commented on #1856
@yobyot can you share your debugging configuration? We’ve had similar reports with cmdlets that use SecureString under the hood. Also, this is probably not the best issue to have this conversation as your issue is different. Can you post it in here with [your logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment): #20

[2019-07-19 20:56] yobyot commented on #2050
Vscode debugger on macOS produces incorrect results when compared side-by-side to Windows debugger.
Side-by-side demonstration of issue:

![2019-07-19_12-40-12 (1)](https://user-images.githubusercontent.com/14332263/61564772-3464d700-aa45-11e9-83f8-c4ed8791207c.gif)

[code]
Logs:
[vscode-pwsh-logs-2019-07-19.zip](https://github.com/PowerShell/vscode-powershell/files/3412705/vscode-pwsh-logs-2019-0

[2019-07-19 20:57] yobyot commented on #1856
Done. Thanks for taking a look -- and for responding so quickly: https://github.com/PowerShell/vscode-powershell/issues/2050#issuecomment-513375148

[2019-07-20 23:21] rkeithhill commented on #1611
@isidorn I've implemented this in PR #2084.   Could you give this a look?  It has gone through some iterations so look at the latest comments on the PR.

[2019-07-21 15:22] TylerLeonhardt commented on #775
Thanks for the info @AJDulk can you open a new issue (easier for us, to track) and
[attach the logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment) so we can get a better idea of what's going on?

[2019-07-21 18:55] JustinGrote commented on #538
This should be marked as a dupe of #298

[2019-07-21 22:20] JustinGrote commented on #298
To follow up on @SeeminglyScience's work:

- Capturing $Error by breaking on erroractionpreference only works reliably on the "throw" keyword, other exceptions don't seem to call it.
- The breakpoints don't get cleaned up after a session and can trigger again if you look at erroractionpreference, etc. so I'm looking into having a remove-breakpoint somewhere maybe, via delayed runspace or something

[2019-07-22 22:33] kilasuit commented on #1767
I don't think I had but on testing this in 6.2 with the Experimental feature enabled this works as expected (although isn't that quick)

Using v7 preview 2 works as expected

[2019-07-22 22:33] #1767 closed

[2019-07-23 01:05] JustinGrote commented on #298
OK, I've come up with a pretty effective function to break on exceptions in lieu of a proper implementation (https://github.com/PowerShell/PowerShell/issues/2830)

## Features

1. Breaks on any terminating exception (doesn't catch non-terminating errors on purpose unless erroractionpreference='stop' is set)
1. Re-Execution in order to capture the relevant exception (toggleable behavior)
1. Cleans

[2019-07-23 03:40] dbaduck commented on #1265
Any updates on this one?  It is still there and it makes it hard to use Code and Azure Data Studio as demo places for PowerShell. Transcripts are key for learning and remembering after the time is done.

[2019-07-23 06:24] DarkLite1 commented on #1856
@SeeminglyScience I can understand the fact that the issue is hard or complicated to fix. But I'm quite sure that if the `$Error` variable in the `PowerShell ISE` stays clean of errors when there are non in the code, this should be true for that same code in `vscode`.

Errors about `exceeding the number of active scopes...` are just not acceptable when it's not coming from the script the developer

[2019-07-23 07:02] CreaterNo1 opened #2097 "Powershell Terminal Memory issues"
Whenever I am running a larger PowerShell script and debugging it, if I make steps quickly, the terminal crashes. This also happens when I for instance Get a lot of backup jobs, and if I try to cancel it, the terminal also crashes.
I gave back this error code:
The terminal process terminated with exit code: 3221225477
According to my research that seems like a bad memory mapping issue. I have made

[2019-07-23 09:36] joaomoreno commented on #1656
This is already implemented in Insiders using the new tree's highlight/filter functionality. Just start typing when focused in the tree. https://github.com/microsoft/vscode/issues/63566

[2019-07-23 15:25] McProgger opened #2098 "Attribute "Locked" is missing"
Issue Type: <b>Feature Request</b>

Hi,

Forms cannot be set the Locked attribute like in C#.

Extension version: 2019.5.0
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.17134

[2019-07-23 15:38] SydneyhSmith commented on #2098
@McProgger thanks for opening this issue, and providing the feature request---I am not too familiar with the "Locked" attribute and how that could be incorporated into the PowerShell Vscode extension...any repro steps or screenshots showing what you would like/expect to see would be super helpful! Thanks!

[2019-07-23 15:42] SydneyhSmith commented on #2097
@CreaterNo1 thanks for opening this--sorry to hear that you are hitting this issue! It would be really helpful if you could also attach the logs--instructions for how to do that are [here ](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment)

[2019-07-23 16:03] SydneyhSmith commented on #538
Thanks @JustinGrote closing as a duplicate of #298

[2019-07-23 16:03] #538 closed

[2019-07-23 17:06] JustinGrote opened #2099 "[Feature] Workspace Setting for Integrated Console PS Version"
**Summary of the new feature**

I work different projects, some require WinPS5 due to library dependencies, some use PS6+. Currently the integrated terminal that is used appears to be a "global" setting. If I switch it to PS6+ in one project and then open the other, it stays PS6+, this leads to annoying toggle back and forth.

I want to be able to set so that when I open a certain project or works

[2019-07-23 17:54] corbob commented on #1656
Can confirm this is working for me in insiders. 😍
![TreeViewTypeToHighlight](https://user-images.githubusercontent.com/30301021/61735019-ed722c80-ad37-11e9-84aa-857dca694bb0.gif)

Guess this means I need to get #1972 done so that this can be even more useful...

[2019-07-23 20:03] JohnyL opened #2100 "Troubles with cyrillic symbols"
VSCode 1.36.1. Default encoding in settings is UTF-8.
Trying to output cyrillic symbols:
[code]
Output:
1. PowerShell 5.1 x64 output:

2. PowerShell Core 6.2 output:

[2019-07-23 20:21] PrzemyslawKlys opened #2101 "ERRORS caught while waiting for EditorServicesHost to complete execution"
Issue Description
=====

I am experiencing a problem with... crashing during debug

[code]

Attached Logs
=====

[1563912556-485022fa-2cc3-4af1-8a8f-82fac007bb4f1563912552740.zip](https://github.com/PowerShell/vscode-powershell/files/3423932/1563912556-485022fa-2cc3-4af1-8a8f-82fac007bb4f1563912552740.zip)

Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell%23r

[2019-07-23 21:29] SydneyhSmith commented on #2099
Thanks for opening this feature request @JustinGrote! I was looking through other issues and was wondering if you feel that #190 addresses the same concerns as you?

[2019-07-23 21:41] SydneyhSmith commented on #2100
Thanks for opening this issue @JohnyL have you tried [our steps](https://docs.microsoft.com/en-us/powershell/scripting/components/vscode/understanding-file-encoding?view=powershell-6#configuring-vscode) for configuring encoding in VsCode?

[2019-07-24 01:40] JustinGrote commented on #2099
That issue is from a really long time ago before multi-root workspaces were
a native thing in VSCode, so I'd say not exactly, it just needs to be a
setting to change which version of powershell the integrated console starts
with, and it needs to be respected both as a user setting and a workspace
setting.

On Tue, Jul 23, 2019 at 2:29 PM Sydney Smith <notifications@github.com>
wrote:

[2019-07-24 08:48] CreaterNo1 commented on #2097
Visual Studio Code version
PS C:\temp> code -v
1.36.1
2213894ea0415ee8c85c5eea0d0ff81ecc191529
x64
____________________
PowerShell Extension version
PS C:\temp> code --list-extensions --show-versions
formulahendry.code-runner@0.9.11
ms-vscode.powershell@2019.5.0
ms-vsts.team@1.149.2
vscode-icons-team.vscode-icons@8.8.0
______________________________
Editor Service Version
PS C:\temp> $psEditor.Edi

[2019-07-24 08:49] CreaterNo1 commented on #2097
The logs have been sent by e-mail from the levlords@gmail.com to the vscode-powershell@microsoft.com

[2019-07-24 10:22] JohnyL commented on #2100
@SydneyhSmith I know that I should set windows-1251, but I wonder why UTF-8 worked for PS Core 6.2?

[2019-07-24 13:57] dammejed opened #2103 "Dependencies erroneously loaded from GAC first in Windows PowerShell"
Issue Description
=====

Powershell services appears to crash on launch with 'Missing method exception:'
[code]

Attached Logs
=====

[Powershell-logs.zip](https://github.com/PowerShell/vscode-powershell/files/3427129/Powershell-logs.zip)

Environment Information
=====

Visual Studio Code
-----

| Name | Version |
| --- | --- |
| Operating System | Windows_NT x64 10.0.17763 |
| VSCode | 1.36.1|
|

[2019-07-24 15:12] rjmholt commented on #2097
@CreaterNo1 could you provide a screenshot of this error please? It sounds like this is a native issue, which is unlikely to be occurring in our codebase (no native code).

[2019-07-24 15:30] rjmholt commented on #2100
PS 6+ defaults to UTF-8 when it sees no BOM. This is not the case in Windows PowerShell 5.1-.

[2019-07-24 16:22] SydneyhSmith commented on #2103
Hi @dammejed thanks for opening an issue, we often see start-up issues when system configuration like group policy, execution policy or antivirus are in place...your error message is a bit different from the one we typically see in this case but I am wondering if you are operating in a restricted system?

[2019-07-24 17:05] geeeyetee commented on #1840
Verified the fix. described by @rjmholt . After running `Install-Module -Name PSScriptAnalyzer` and restarting VSCode, the problem was resolved.

[2019-07-24 17:07] SydneyhSmith commented on #1840
@geeeyetee thanks for verifying!

[2019-07-24 18:06] dammejed commented on #2103
@SydneyhSmith There are undoubtedly GPOs applied to my machine, but none I'm aware of that would restrict powershell execution. I already checked the guide for [installations in restricted environments](https://docs.microsoft.com/en-us/powershell/scripting/components/vscode/using-vscode?view=powershell-6#installing-the-powershell-extension-on-restricted-systems),
and I had no requirement to approv

[2019-07-24 18:33] ThubLives commented on #1840
I'm still seeing premature un-indentation when the pipeline includes script blocks like in the case of ForEach-Object.
I'll try to complain in the right direction:  https://github.com/PowerShell/PSScriptAnalyzer/issues/1032.

[2019-07-24 19:20] dammejed commented on #2103
On a hunch, I checked if I had the dependency mentioned in the exception (Serilog) in my GAC, and it turns out I did, version 2.0.0.0. I uninstalled Serilog from the GAC, and the extension now works as expected.

I'm not sure why the GAC version was used, given that it's clearly not the minimum version needed, but it is what it is, I suppose.

I can close this issue, since I'm no longer affected,

[2019-07-25 03:30] rjmholt commented on #2103
Ah nice hunch! It's a bug on our part then; we only add the types we immediately call into on startup and let them load their dependencies as they go. From this it sounds like that's fragile and we should eagerly load everything (although in PS 6+ this isn't a problem actually)

[2019-07-25 03:56] TylerLeonhardt commented on #2103
Yeah since the .NET Framework loads from the GAC first, we'll probably need to load everything ourselves... Would be a great opportunity to try to take advantage of the RequiredAssemblies field in our module manifest

[2019-07-25 16:48] #2100 closed

[2019-07-25 19:11] scrambled2k3 commented on #1994
Any movement on a fix for this?  Or at least how to work around it?  I too am experiencing this issue all of the sudden and I have no idea why.  I haven't added any new extensions.  All of the sudden I can no longer execute PowerShell scripts in VSCode (it causes PowerShell terminal to crash).   I am seeing the same issue with the "git:/" path in my error log.

[2019-07-26 01:24] TylerLeonhardt commented on #2099
@JustinGrote is this the kind of setting you're looking for?

https://github.com/PowerShell/vscode-powershell/blob/master/package.json#L574-L576

[2019-07-26 01:29] TylerLeonhardt commented on #1656
Awesome! I'm going to go ahead and close this issue since it's in insiders. Let me know if anyone feels otherwise

[2019-07-26 01:29] #1656 closed

[2019-07-26 05:45] JustinGrote commented on #2099
@TylerLeonhardt my problems are likely related to #1586. I did some more extensive testing and found the following (using powershell-preview extension):

1. powershell.powershellexepath gets populated immediately if you toggle shell from the lower right menu (or use Show Session Menu)
1. **It does not update** if you specify a powershell.powershelldefaultversion and reload window.
1. Switching a s

[2019-07-26 10:36] CreaterNo1 commented on #2097
![image](https://user-images.githubusercontent.com/46622461/61946067-e64e5700-afa1-11e9-96e8-a02f6bb7acb7.png)
I don't think this will help the case, but this is what I get.

[2019-07-26 11:40] boenrobot opened #2104 "Stopping formatting from resolving pathexec"
Issue Description
=====

If I have a command that can be resolved to an .exe or .cmd or another PATHEXT extension, formatting the document adds the extension to it.

e.g.

[code]
becomes

[code]

I would like to be able to stop this from happening somehow.

Why would this be a problem if it's accurate you may ask? Because I'm trying to write a PowerShell script that would be ran via PowerShell cor

[2019-07-26 15:00] JustinGrote commented on #2099
### Workaround
Add this to your Microsoft.VSCode_profile.ps1
[code]

This will basically do the behavior I described above, and then whatever you set `powershell.powershellDefaultVersion` to will be sticky to that project, and stay that way if you terminal and reload a session. You can set a global user setting, as well as a per-workspace override, and it works fine. If you decide to switch sessio

[2019-07-26 15:12] JustinGrote commented on #2099
### Recommended Fix
@TylerLeonhardt  There should be a call to changePowershellExePath here:
https://github.com/PowerShell/vscode-powershell/blob/0388343e13e4baadfffc34b25d6d49a6200fee58/src/session.ts#L293-L295

[2019-07-26 16:09] rjmholt commented on #2104
In fact this is fixed by PSScriptAnalyzer 1.18.1 already: https://github.com/PowerShell/PSScriptAnalyzer/pull/1210#discussion_r273214686.

If you run `Install-Module PSScriptAnalyzer -Scope CurrentUser` you should override the current version.

We'll also be releasing an update of the extension in the next week or two that includes the updated PSScriptAnalyzer dependency.

[2019-07-26 16:09] #2104 closed

[2019-07-26 16:11] rjmholt commented on #2097
Where are you seeing that message?

[2019-07-26 20:58] SydneyhSmith commented on #2085
Hi @rgoldhor wanted to check in--did you get a chance to try the steps above?

[2019-07-26 21:38] SydneyhSmith commented on #2101
@PrzemyslawKlys thanks for opening this, the stack trace is very helpful...it would be great to know what you were debugging when this crash occurred and if you have a consistent repro of this. Thanks!!

[2019-07-26 21:53] SydneyhSmith commented on #2099
@JustinGrote thanks for providing all this info and proposed work around...we just discussed this and the possible ramification and are worried that this would cause unexpected behavior when choosing a version from the session menu...you are correct though in that we need to make a fix to ensure that the default version specified in the settings is being used for any session not started by the ses

[2019-07-26 22:02] SydneyhSmith commented on #1994
@scrambled2k3 we are hoping to get to this work item sooner rather than later but currently have no eta, thanks for your patience! In the meantime are you having trouble with all of your scripts or just those under this particular file structure?

[2019-07-26 22:11] SydneyhSmith commented on #298
@JustinGrote thanks for all your work here, this looks great. The change here will need to happen in Editor Services, probably in [this chunk of code ](https://github.com/PowerShell/PowerShellEditorServices/blob/55d01fc5f6e940c5e4f2ef7bcc68636a45a94e55/src/PowerShellEditorServices.Protocol/Server/DebugAdapter.cs#L677-L704), using this https://microsoft.github.io/debug-adapter-protocol/specificatio

[2019-07-28 08:27] PrzemyslawKlys commented on #2101
[code]

Set breakpoints on line 15 and 30. When line 15 hits simply go to debugging tab. Then click on the variable that you stopped on. For me it's dfsrSubObject. It crashes at that moment. I guess when trying to expand it.

![image](https://user-images.githubusercontent.com/15063294/62004178-e9705100-b121-11e9-9abb-289dc785b0a8.png)

Notice the progress bar on the left next to the variable. When

[2019-07-29 10:35] Kitsune-Fox commented on #162
I'm finding this to be a huge issue for me as well.

There are a few things that it does really stupidly.
I apologise if this isn't the right place for it but this issue is part of the intellisense issues I'm seeing.

When for instance using dot notation, it should default to the properties of the object and not to the last used method. This causes me a lot of pain, I'll end up having to scroll up

[2019-07-29 11:15] CreaterNo1 commented on #2097
I see it on the same place as this alert. Sadly I can't reproduce it for some reason, only this.

[2019-07-29 11:31] scrambled2k3 commented on #1994
@SydneyhSmith Ok, no problem.  I'm having the issue with all of my powershell scripts, no matter their location.  I can execute them fine withing PowerShell ISE.

[2019-07-29 16:10] buckmuu opened #2106 "PS Integrated Console crashing on debug"
Issue Description
=====

I am experiencing a problem with a debugging session. It crashes immediately.

![Untitled](https://user-images.githubusercontent.com/49308192/62063868-07c27380-b22c-11e9-8d10-e33dc651a7c3.png)

Attached Logs
=====

[EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/3443143/EditorServices.log)
[Start-EditorServices-EditorServices.log](https://github.

[2019-07-29 16:20] rkeithhill commented on #2106
Which debug configuration are you using?  If you are using `PowerShell: Launch Current File`, then what is the full path of the script you were trying to debug.  If you are using `PowerShell: Launch Script`, please post the debug configuration here.

[2019-07-29 20:31] mklement0 commented on #492
This would indeed be a great feature to have.

https://stackoverflow.com/a/57260486/45375 shows that the current workaround via the `PowerShell Attach to Host Process` launch configuration is

* far from user-friendly

* seem to work on _Windows_ only, and there only when attaching to a PowerShell _Core_ console.

[2019-07-29 22:33] TylerLeonhardt opened #2109 "this is a test"
pls ignore

[2019-07-29 22:33] TylerLeonhardt commented on #2109
hello?

[2019-07-29 22:35] TylerLeonhardt commented on #2109
hello again?

[2019-07-29 22:41] TylerLeonhardt commented on #2109
foo

[2019-07-29 22:43] TylerLeonhardt commented on #2109
foo

[2019-07-29 22:52] TylerLeonhardt commented on #2109
we have all the bots now

[2019-07-30 06:40] buckmuu commented on #2106
Hi @SydneyhSmith, thanks for the quick answer.
I currently use the `PowerShell: Launch Current File` configuration on the following script: "C:\Users\us1.COMPANY.IT\OneDrive - Company Spa\Azure DevOps Repo\Project01\Test\Test.Customer01.ps1"

[2019-07-30 06:49] buckmuu commented on #2106
I thougth the problem could be the ` - ` char, but the full path has always been that and it has always worked.

[2019-07-30 10:05] maximpashuk opened #2110 "Support PowerShell installed as .NET Core Global Tools"
My issue related to following newsblog:

https://devblogs.microsoft.com/powershell/introducing-powershell-as-net-global-tool/

I have uninstalled PowerShell 6.2.2 to test installation via ```dotnet tool install --global PowerShell```
Everything is working fine.

Unfortunately, VSCode powershell extensions can't automatically pick up PowerShell installed as .net core global tool and falls back to b

[2019-07-30 16:25] SydneyhSmith commented on #2110
Thanks for opening this issue @maximpashuk it looks like we need to incorporate ~\.dotnet\tools\pwsh.exe into the paths we check for all available PowerShell versions on a system.

[2019-07-30 16:32] SydneyhSmith commented on #2106
@buckmuu thanks for the additional information, it seems like the one drive path could be the culprit, an issue that we are tracking here: #1994 ...although you said you arent seeing this issue with other scripts in under that file path?

[2019-07-30 16:52] adityapatwardhan opened #2111 "Integrated terminal give no output if `pwsh` is invoked with a scriptblock"
Issue Description
=====

If a scriptblock is passed to `pwsh` in the integrated terminal, no output is shown. Same script when passed as a string works fine.

Repro:

pwsh -c { echo 1 }

This works though:

pwsh -c "echo 1"

Attached Logs
=====

Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell%23reporting-problems) about
capturing and sending logs.

Environme

[2019-07-31 06:36] buckmuu commented on #2106
@SydneyhSmith yes i confirm that if i try to start a debugging session on another project in the same root folder (`C:\Users\us1.COMPANY.IT\OneDrive - Company Spa\Azure DevOps Repo\Project02\script.ps1`) it works.

[2019-07-31 07:34] oliviermasson commented on #2066
Hi @rjmholt

I've tried the preview version of extension, but issue is still there.
I'm trying to log as much as possible
Will keep you updated as soon as possible

FYI my laptop as been upgraded to a new Windows version
![image](https://user-images.githubusercontent.com/38111592/62192586-2cc2fd80-b376-11e9-9172-6fbad62627d8.png)

![image](https://user-images.githubusercontent.com/38111592/6219264

[2019-07-31 10:04] PrzemyslawKlys opened #2112 "References doesn't work for 2nd project within one workspace"
Issue Description
=====

When you have one folder within one workspace it's fine. But if you choose to add another folder to workspace (like in the screenshot below) 2nd folder doesn't seem to get any References tracking.

![image](https://user-images.githubusercontent.com/15063294/62203103-d613ee80-b38a-11e9-8f73-8452eeb20c8b.png)

Normally this should show at least 1 reference.

![image](https:/

[2019-07-31 11:55] SetTrend opened #2113 "Global variables are erroneously reported as "never used""
System Details Output
[code]

### Issue Description

PowerShell extension reports global variables as assigned but not used when they are not used from within a `.psm1` module file. However, global variables may be used by scripts outside that module importing it.

#### Expected Behaviour

Global variables should never be reported as being unused.

#### Actual Behaviour

PowerShell extension repor

[2019-07-31 15:30] oliviermasson commented on #2066
Certainly something beyond my knownledge, but I wonder if the problem is not in the way VScode starts a new Terminal "Powershell Integrated Console" rather than in the code of the Language Editor Service itself.
Indeed, if I manually start a new terminal through:
![image](https://user-images.githubusercontent.com/38111592/62223581-7b43bc80-b3b5-11e9-9108-5489db143544.png)

And that, if in this one

[2019-07-31 18:08] carsontwilson commented on #2106
I also have crashing on debug. I file a ticket before (but couldn't really repro so let it die) where I thought it was on an exception in another class, but it turns out it just happens on debug. There's no rhyme or reason to it, it'll go for stretches where it's fine, then it will crash 10 or more times in a row on the same script. Some of the scripts are very simple with just a few lines, but al

[2019-07-31 20:25] rjmholt commented on #2112
This wasn't implemented when VSCode added multiple workspace support. No plans to implement it imminently, but we'll get there soon hopefully. Thanks for raising this.

[2019-07-31 20:30] rjmholt commented on #2111
@adityapatwardhan is it possible that PowerShell has a custom host-implemented way of doing this? The only real difference in our terminal is that the host is different

[2019-07-31 20:41] rjmholt commented on #2106
@buckmuu

From the screenshot, it looks like this other script you're running has some character in the filename that is causing an issue. Basically VSCode will turn it into a URI and then we turn it back into a filepath. Can you share the name of that second script? Or otherwise any non alpha-numeric characters that might be in that filename?

@carsontwilson in your case it sounds like you're hit

[2019-07-31 20:47] rjmholt commented on #2101
@adityapatwardhan it looks like this is some kind of COM inheritance problem:

[code]

Does that look familiar?

[2019-08-01 04:52] eedwards-sk opened #2114 "(Preview) PSReadLine Keyboard Commands do not work in the PowerShell Integrated Console (OSX)"
System Details Output
[code]

### Issue Description

PSReadLine Keyboard Commands do not work in the PowerShell Integrated Console

#### Expected Behaviour

Using keyboard combinations which are bound are executed.

#### Actual Behaviour

Attempting to use any keyboard commands does not work.

e.g. pressing `Ctrl+l` does nothing, even though it's bound by default to the below action

[code]

### A

[2019-08-01 08:17] buckmuu commented on #2106
Hi @rjmholt, I did some additional checks and I try to summarize as clearly as possibile:

- Issue is present only for the scripts under this specific folder `C:\Users\US01\OneDrive - Company Spa\Azure DevOps Repo\Project01`.
- All scripts in the problematic folder have this problem..
- All other projects under AzureDevOps repository works correctly.
- All the scripts work well if they are opened

[2019-08-01 17:46] rjmholt commented on #2106
Ah that path is the important bit! Looks like you're hitting https://github.com/PowerShell/vscode-powershell/issues/1994. I'm working on fixing that currently

[2019-08-01 18:38] rjmholt commented on #2014
Have just been thinking on this issue.

The commonalities seem to be:

- Running on Windows 10, not newer than 1809
- Windows PowerShell (i.e. not PS 6+)

Because this seems to be quite OS-dependent, we need to collect more information.

For everyone affected, please [turn your log level up to diagnostic and send through your logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/t

[2019-08-01 18:43] JustinGrote commented on #2110
# Workaround
This is what I do for my scoop-installed powershells, you can do the same for the dotnet tools global folder

[code]

[2019-08-01 18:57] rjmholt commented on #2066
@oliviermasson I'm going to deduplicate this issue to https://github.com/PowerShell/vscode-powershell/issues/2014. I've posted a comment in there about collecting more information.

[2019-08-01 18:57] #2066 closed

[2019-08-01 19:03] rjmholt commented on #2085
Deduplicating this issue to https://github.com/PowerShell/vscode-powershell/issues/2014

[2019-08-01 19:03] #2085 closed

[2019-08-01 21:05] SydneyhSmith commented on #2114
@eedwards-sk thanks for opening this issue, it looks like this is a unix specific bug... @TylerLeonhardt might have more context on this

[2019-08-01 21:35] SQLvariant opened #2115 "Get-PowerBIWorkspace : Attempted to access an element as a type incompatible with the array"
### Issue Description

I'm receiving the following error when trying to use the Get-PowerBIWorkspace cmdlet in VS Code & Azure Data Studio:

At line:1 char:1

I do not receive this error when running the exact same command in the ISE or PowerShell.exe, and I can reproduce these results on multiple machines.

### System Details

- Operating system: Windows 7
- Azure Data Studio version 1.9.0 (syste

[2019-08-01 21:42] wsmelton commented on #1678
This feature is available and works if I'm in Insiders, but does not in Stable. Any reason it would not work in both? The type by filter feature for Explorer pane works in both Editions.

![image](https://user-images.githubusercontent.com/11204251/62329342-4437de80-b47b-11e9-8ef7-57fecf532191.png)

I'm not using the Preview build of PS extension either.

[2019-08-01 22:20] TylerLeonhardt commented on #1678
@wsmelton it's because it hasn't been released to stable yet :) next release it should be there.

[2019-08-01 22:21] TylerLeonhardt commented on #1678
I'm gonna go ahead and close this. since 1) it's a vscode issue 2) it's addressed and making its way through the bands (insiders first, then stable)

[2019-08-01 22:21] #1678 closed

[2019-08-01 22:24] TylerLeonhardt commented on #2114
Hmm I can't repro this behavior. `Ctrl+l` does clear the screen for me.

@eedwards-sk what version of PSReadLine do you have? (`Get-Module PSReadLine`)

[2019-08-01 22:28] eedwards-sk commented on #2114
`Get-Module PSReadLine` does not work from inside the integrated terminal.

If from inside the terminal I then run `pwsh-profile` (so it's running an interactive session with `pwsh-preview` directly), then `Get-Module PSReadLine` works fine (returning `2.0.0`) and keyboard shortcuts work as expected.

[2019-08-01 22:30] eedwards-sk commented on #2114
Also, manually importing `PSReadLine` inside the integrated terminal session (`Import-Module PSReadLine`) does allow `Get-Module PSReadLine` to return, however it does not cause keyboard shortcuts to work.

[2019-08-01 22:51] wsmelton commented on #1678
Can you clarify @TylerLeonhardt is has not been released to the stable PS Extension? The type-to-search feature is in the VS stable edition already, at least for the Explorer panel; is there something else this depends on that VSC team has not released to stable yet?

[2019-08-01 23:06] SydneyhSmith commented on #2115
@SQLvariant thanks for reporting this issue, interestingly I can only repro in Windows PowerShell in VSCode/ADS

[2019-08-01 23:40] msftrncs opened #2116 "UNC Path autocompletion removes one leading slash, preventing further completions"
### System Details

VS Code 1.36
PowerShell Extension: Preview 2019.05
PowerShell 6.2 or 7.0 preview 2

System Details Output
[code]

### Issue Description

Attempting to complete a path to a directory on a UNC path, the leading slash keeps being removed by the completion.

`'\\server\share\somefolder\'`

#### Expected Behaviour

`'\\server\share\somefolder\AdditionalFolder\'`

#### Actual Behavio

[2019-08-02 00:22] TylerLeonhardt commented on #1678
The explorer panel has had this type-to-search feature for a while.

They recently (currently only in insiders) made type-to-search work on _any_ tree view. We have to wait for the next stable VS Code release for type-to-search to work in the Command Explorer

[2019-08-02 00:25] TylerLeonhardt commented on #2114
I'll need to talk to @rjmholt about this. I suspect it has something to do with how we're loading PSReadLine at start up...

Do you happen to have PowerShell 6.2 available? I'd like to see if the issue happens with that version as well

[2019-08-02 03:08] johndog commented on #1856
FWIW, I see these errors get added to $Global:Error every time I F10 in vscode debugger.

@SeeminglyScience wrote:

There are actually two ways I have used to enable modules to read $Error:

1. $global:Error returns the same error collection as the module consumer
2. **Get-Variable -Scope 1 Error** at module top-level will return the error collection accessible outside the module.  It's brittle, s

[2019-08-02 03:15] johndog commented on #1856
I might suggest that the debugger should always explicitly provide -ErrorVariable for every command it runs, so that its errors (designed or not) are always kept in a sandbox...

[2019-08-02 09:40] DarkLite1 opened #2117 "Intellisense not working when more than one DynamicParameter is used"
Version: 1.37.0-insider (user setup)
Commit: 92da68a71cfb60bd3b9b0d7fbfb2a7e1fff9dbaf
Date: 2019-08-01T05:37:54.848Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 6.2.9200

**Steps to Reproduce:**

Consider the following example function:

[code]
The function `New-DynamicParamter' can be downloaded [here](https://github.com/beatcracker/Powershe

[2019-08-02 12:45] rjmholt commented on #2116
@msftrncs what does the behaviour of this look like in the terminal for you? Since you're using PS 7, if the same thing happens there it's worth opening an issue on PowerShell

[2019-08-02 12:47] rjmholt commented on #2115
@SQLvariant can you supply the full stack trace of the above error. You should be able to drill down into `$error[0]` after getting that error

[2019-08-02 16:14] msftrncs commented on #2116
Everything works fine at the prompt, I have been working on the completions code myself, but I can confirm that everything works fine from the integrated terminal, both PS 6.2.2 and PS 7 preview.

Inside VS Code, the path completion seems to be working differently.  The leading slash is being removed, and it would appear, relative to the command prompt, the trailing slash is being removed too.

IM

[2019-08-02 18:00] #2106 closed

[2019-08-03 08:06] oliviermasson commented on #2014
Hi rjmholt,

Please find below a link containing a procdump of the powershell process hanged
https://netapp-my.sharepoint.com/:u:/p/masson/EV3R7hRefdtDvdSgb0rcQJgBD20DCP9RGYWcuC5MI92QLw?e=EKjFE6

HTH

[2019-08-05 02:40] JLOPS opened #2119 "The language service could not be started:"
**Issue:** pwsh extension doesn't work because error **"The language service could not be started"**, read all issues related (#1360, #1957, #1423, #340) and cannot solve the issue.

**Log** ("powershell.developer.editorServicesLogLevel": "Diagnostic")**:**
[code]

**VSCode Version:** 1.36.1
**OS Version:** `Linux x64 4.19.62-1-MANJARO`
**PowerShell Extension Version:** `v2019.5.0`
**PowerShell Ve

[2019-08-05 07:14] DarkLite1 opened #2120 "Functions disappear when regions are not properly closed"
[code]

Consider the following code:

[code]

When you select `FOLD ALL` or press `CTRL+K` and `CTRL+0` you'll see that two functions are no longer visible:
![image](https://user-images.githubusercontent.com/10828570/62445773-6a060180-b761-11e9-8f87-7d7fdf8b751e.png)

This made me freak out at first as I thought I'd lost some of my code. The scope for checking opening and closing regions should be

[2019-08-05 14:13] carmbell commented on #2115
I can repro this error as well.

[2019-08-05 15:18] SQLvariant commented on #2115
Robert,
I can't post the result here, but I could send it to you privately, if that works?

[2019-08-05 16:51] rjmholt commented on #2115
Sure - you can send it through to vscode-powershell@microsoft.com

[2019-08-05 17:38] SeeminglyScience commented on #1856
That's true, but you can't rely on those errors being *your* errors. They could be from previous invocations, other commands, or even event subscribers firing between script statements. That often leads to folks clearing them (which makes troubleshooting as a user difficult) or command failures based on incorrect information.  `$Error` is great interactively, but there's always a better pattern ot

[2019-08-05 17:56] rjmholt commented on #2014
@oliviermasson thanks for that!

It looks like at the point you've obtained the dump, the EditorServices module has not yet been loaded and it's still running the startup script.

Specifically, the pipeline thread is performing module discovery for autoloading for `Split-Path` (the command seems to be `Split-Path $LogPath -Parent`) and is enumerating files on the module path (under `C:\Program Fil

[2019-08-05 18:18] jrich523 opened #2121 "PSDefaultParameterValues on Get-Help for ShowWindow triggers help window on mouse over of cmdlet"
### System Details

- Windows 10 build 17134
- VS Code 1.26.1
- PowerShell extension v2019.5.0
- Output from `$PSVersionTable`
Name                           Value
----                           -----
PSVersion                      5.1.17134.858
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17134.858
CLRVersion

[2019-08-05 20:40] corbob commented on #2121
So I was thinking it would be a simple addition to here: https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Language/CommandHelpers.cs#L88-L90 whereby we add a parameter of `ShowWindow` and set it to `$false`. However, in PowerShell 7 (and presumably 6) this will likely fail: `Get-Help : A parameter cannot be found that matches parameter name 'showwindo

[2019-08-06 08:53] changbowen commented on #619
I'm using the below combination and it seems that the above feature only works if you start the debugger (by hitting F5) at least once. Is it by design or am I missing some options?

[code]

[2019-08-06 09:59] oliviermasson commented on #2014
Hi rjmholt,

I've send you a new procdump by email.
I've tryed to modify the script with
Pre-Import at the very begining of Start-Editorservice.ps1
And set log level to verbose only.

But for your last request regarding module path, i'm not sure to have done what you expected.

I've copied all modules files available from extension folder to my $PShome\Modules folder

The issue is still there, wit

[2019-08-06 15:33] rjmholt commented on #2014
Thanks for that!

Ah I should have explained better. If you set `$env:PSModulePath = $PSHome` at the start of the script, it will stop PowerShell from looking for modules elsewhere (which in this case might help because we don't depend on anything you might have installed).

But based on this procdump, I'm not sure that would help; it seems to be processing much earlier than before, and is still i

[2019-08-06 15:52] rjmholt commented on #2014
I just spoke to @PaulHigin offline about this, and it sounds like there have been other reports of extreme performance degradations in PowerShell in some Windows patches.

So another piece of important information would be the Windows build number, which you can get by running `winver`.

You might also be able to attach a debugger to the PowerShell process in Visual Studio and actually watch it in

[2019-08-06 16:10] JLOPS commented on #2119
Deleted $HOME/.config/Code and $HOME/.vscode solved the issue.

[2019-08-06 16:10] #2119 closed

[2019-08-06 16:51] rjmholt commented on #2119
This is a particular class of issue where VSCode unhelpfully gives no context when a configuration has become broken in some way. Similar errors occur when, for example, PowerShell updates and the configured path to it does not change.

[2019-08-06 18:03] GQnzo opened #2124 "Debugging in Temporary Console Fails"
Issue Description
=====

When I attempt to debug a script in "PowerShell Launch Current File in Temporary Console" I get the following error:

[code]

This happens even if I try to run a oneliner Write-Host command in the script. If I don't use the Temporary Console option it runs fine.

Attached Logs
=====

Environment Information
=====

Visual Studio Code
-----

| Name | Version |
| --- | --- |

[2019-08-06 18:04] GQnzo commented on #2124
Logs:
[vscode-powershell.log](https://github.com/PowerShell/vscode-powershell/files/3473564/vscode-powershell.log)
[DebugSession-5.log](https://github.com/PowerShell/vscode-powershell/files/3473566/DebugSession-5.log)

[2019-08-06 18:44] SydneyhSmith commented on #2120
@DarkLite1 thanks for opening this issue--I am able to reproduce this...interestingly it seems to be triggered by the comments in the first function i.e. I am unable to repro this without the first comment in the first function could be related to #2013

[2019-08-06 22:05] rjmholt commented on #2117
@DarkLite1 do other IDE features continue to work after you hit this?

[2019-08-06 22:11] SydneyhSmith commented on #2124
@GQnzo thanks for opening this issue...based on the error message you are getting
[code]
 this is an issue that we are aware of and should be fixed in the [Preview version of our extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview)...are you able to ugrade to this version and let us know if you still hit the issue.

[2019-08-06 22:12] SydneyhSmith commented on #2121
@jrich523 thanks for opening this issue, are you able to provide us with a screen shot so we can better understand the issue? Thanks!

[2019-08-06 22:16] rjmholt commented on #2120
There's no reason a region can't start in one function and end in another. In a case like this, if we take an opinion on how bad input works, it will probably break another use case. Comparing this with something like HTML, if you don't close a tag, everything is subordinate to that, so I think we're consistent there and this is working by design.

[2019-08-06 22:18] SydneyhSmith commented on #2117
@DarkLite1 thanks for reporting this...interestingly the editor and terminal are using the same API so it could be a performance reason as to why the parameters are not loading
It would be really helpful if you could also attach the logs--instructions for how to do that are [here ](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-

[2019-08-06 22:30] SydneyhSmith commented on #492
@mklement0 thanks for your detailed write-up! One point of clarification-- as of PowerShell 6.2 attach to host process is available cross-platform due to the cmdlet `Enter-PSHostProccess` being available...we do understand that this could be more user friendly and are working on making this experience, with some changes being to PowerShell itself

[2019-08-06 22:31] SydneyhSmith commented on #2116
@msftrncs it would be really helpful if you could attach the logs--instructions for how to do that are [here ](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment)

[2019-08-06 22:48] GQnzo commented on #2124
That worked!!! Thanks.

[2019-08-06 22:48] #2124 closed

[2019-08-07 03:23] mkanet opened #2125 "PowerShell Command Explorer doesn't display commands in VSCode Sidebar"
I'm using the latest PowerShell Preview Extension.  When I select, "PowerShell Command Explorer" from the VSCode Activity Bar, instead of seeing all the commands in the Sidebar, this happens in the VSCode Terminal:
![MKANET (Workspace) - Visual Studio Code 2019-08-06 20-15-00](https://user-images.githubusercontent.com/811008/62592303-9156ee80-b887-11e9-80a1-457534ee4980.gif)

**PowerShell Command

[2019-08-07 03:49] msftrncs commented on #2116
Is there a trouble reproducing this?  I have multiple installs behaving exactly the same way.

Here is a log of one instance:

[code]

The `$0` appearing in the `insertText` and `newText` fields is interesting, otherwise the insertion looks exactly like it should.

[2019-08-07 03:56] rkeithhill commented on #2116
IIRC the `$0` places the cursor **inside** the closing quote in order to facilitate further completions.

[2019-08-07 04:27] changbowen opened #2126 "Exception When Line is Too Long in PowerShell Integrated Console"
### System Details

Using code in portable mode.

[code]

The extension version is 2019.5.0.

### Issue Description

Exception when the line is too long in PowerShell Integrated Console. E.g. keep typing "a" until it reaches the right window border.
Seems the exception only occurs after start and stop debugging a script with a Read-Host at least once. For example after running the below with F5:
[

[2019-08-07 07:13] DarkLite1 commented on #2120
@rjmholt I hear what you're saying. But there is nothing in the world that can convince me there's a reason to have an opening region in one function and a closing region in another function. So if this is the design, I think it should be reevaluated.

Would it be possible for the folding logic to first look at functions and handle them as one unit?

[2019-08-07 07:21] DarkLite1 commented on #2117
@rjmholt when this happens and I try another function to complete in the editor pane, like type `Get-Pr` hit `CTRL+I` and expect it to complete to `Get-Process`, it wont work anymore. When intellisense is invoked it keeps showing the text `Loading...` but nothing happens.
![image](https://user-images.githubusercontent.com/10828570/62602718-a87ff580-b8f4-11e9-88d3-95d1bec740db.png)

[2019-08-07 07:32] DarkLite1 commented on #2117
@SydneyhSmith you can find the logs here:
[logs.zip](https://github.com/PowerShell/vscode-powershell/files/3475768/logs.zip)

Notice that the first run the function executed intelissense correctly, the second time I tried it it kept showing the text `Loading...` and nothing happened.

[2019-08-07 07:47] DarkLite1 commented on #2117
This is strange... When I try it manually it works fine, like this:

[code]

But when I use the example code from my first post with the function it doesn't work as desired in vscode, but it does in PowerShell ISE. So somewhere there's a difference in the dynamic parameters that make intellisense crash.

[2019-08-07 07:58] DarkLite1 commented on #2117
I made an export of both dynamic parameters, one that is generated by the function and one that is made manually. This will allow someone with more knowledge to see what the difference in them is and why intellisense doesn't work in `vscode` but does in the `PowerShell ISE`.

[DynamicParams.zip](https://github.com/PowerShell/vscode-powershell/files/3475865/DynamicParams.zip)

[2019-08-07 13:11] corbob commented on #2120
But Regions aren't a part of the language. They're there to help the developer group things together and collapse things they don't want to see in the moment. It's not for the extension to decide if someone's region layout makes sense.

Further: this is the same behavior you see with the ISE when you minimize the regions:
![image](https://user-images.githubusercontent.com/30301021/62625245-ac524e8

[2019-08-07 13:18] corbob commented on #2121
@SydneyhSmith here's a gif of the issue (hopefully it makes sense). Notice when mousing over `Write-Host` a PowerShell icon appears in the task bar.

![Get-Help-ShowWindow](https://user-images.githubusercontent.com/30301021/62588044-328a7880-b879-11e9-9534-f572ddfba286.gif)

I'm fairly certain the code that's causing it is https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/Powe

[2019-08-07 13:23] corbob commented on #2126
I think this is a duplicate of #702. Reading through that, it sounds like this might be alleviated by the preview extension, but there's also mention that PSRL also has this issue, so it might not be quite fixed there.

[2019-08-07 15:47] SydneyhSmith commented on #2125
@mkanet  thanks for opening this issue, and providing the gif...it would be really helpful if you could also attach the logs--instructions for how to do that are [here ](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment)

[2019-08-07 16:16] jkirch01 commented on #2115
It appears that the issue is caused by the version of the Newtonsoft.Json DLL being outdated (relative to what the PowerBI modules require).

[2019-08-07 19:09] SydneyhSmith commented on #2109
testing

[2019-08-08 07:47] DarkLite1 commented on #2120
@corbob yeah I hear you.... It's hard to admit but you're right. If the PowerShell ISE does the same then I simply don't have a point anymore. It would've been a nice to have but I understand if this gets closed. Thanks for the feedback guys, appreciate it anyhow.

[2019-08-08 09:13] changbowen commented on #2126
Looks like the preview version does fix the problem. Hope it gets released soon.
Thanks!

[2019-08-08 13:06] BatmanAMA commented on #67
It may not be worth pointing out that it looks like following [this style guide rule](https://github.com/PoshCode/PowerShellPracticeAndStyle/blob/07b47f97085efeb5b33af1b5556e4718683a2293/Style-Guide/Naming-Conventions.md#avoid-the-use-of--to-represent-the-home-folder) avoids this issue (admittedly, it doesn't provide any completion, but that seems preferable in this situation to me.)

[2019-08-08 13:55] BatmanAMA opened #2127 "Removals from $ENV:PSModulePath are not respected."
System Details Output
[code]

### Background
At my company, we use user documents redirection, causing my powershell user module folder to be located on a network share. In order to avoid issues with PSModule auto-loading, I remove `$HOME/documents/WindowsPowershell/Modules` from my modulepath and instead add `$HOME/WindowsPowershell/Modules` and have relocated all my user specific modules there.

[2019-08-08 14:58] strickdd opened #2128 "whitespaceBeforeOpenParen does not add a space between param and paren"
System Details Output

- Operating system name and version
    Windows 10 build 1903

[code]

### Issue Description

I am experiencing a problem with the "powershell.codeFormatting.whitespaceBeforeOpenParen" setting.

#### Expected Behaviour

When formatting a PowerShell document, a space should separate the "param" keyboard and the following open paren "(".

#### Actual Behaviour

When I format a

[2019-08-08 16:10] #2109 closed

[2019-08-08 16:12] mklement0 commented on #492
Thanks for the update and the pointer to the PR, @SydneyhSmith.

Not being familiar with `Enter-PSHostProccess`, I assume you mean that is being used behind the scenes and _should_ enable debugging via attaching to an external console on _all supported platforms_?

However, what I describe in the linked StackOverflow post for PowerShell Core works for me on Windows only.

On my macOS 10.14.6 machi

[2019-08-08 21:08] rjmholt commented on #2127
This is due to https://github.com/PowerShell/PowerShell/issues/9921. PSScriptAnalyzer uses a runspace pool internally (and we do in PSES as well) and that resets the PSModulePath. It will be fixed in PS 7 by https://github.com/PowerShell/PowerShell/pull/10300. We are doing other work on the extension at the moment, but will revisit the way we invoke PSScriptAnalyzer down the track. However, becaus

[2019-08-08 21:09] SydneyhSmith commented on #2128
@strickdd thanks for reporting this, formatting is actually provided by PowerShell Script Analyzer so I am going to move this issue over to that repo.

[2019-08-08 21:12] SydneyhSmith commented on #2121
@corbob thanks for the excellent gif and explanation...we agree that that is likely the best way forward...I'll mark this as up for grabs in case anyone has some time to tackle this issue

[2019-08-08 21:16] SydneyhSmith commented on #2120
@DarkLite1 agree that it would be awesome if folding was smart enough to know what users are intending, but this is not an easy challenge and near impossible to get right 100% of the time...thanks for opening the discussion

[2019-08-08 21:24] rjmholt commented on #2117
@DarkLite1 based on your response, I suspect you're hitting https://github.com/PowerShell/PowerShellEditorServices/issues/762#issuecomment-428756484. @SeeminglyScience might have some insight there.

This is something we don't have much control over; the fix lies in PackageManagement, but we're investigating how to fix it since it also affects PSScriptAnalyzer

[2019-08-08 21:31] rjmholt commented on #2115
Our Newtonsoft.Json version is constrained by PowerShell Core's Newtonsoft.Json version -- they must match.

So our code can link and work cross platform, we ship the same version in PowerShell Editor Services for Windows PowerShell.

You might be able to circumvent this by adding an `Add-Type` in the `Start-EditorServices.ps1` before any others targeting the Newtonsoft.Json.dll version you need.

[2019-08-08 21:40] rjmholt commented on #2126
PSRL is also making progress here. Despite all the work trickiness of managing it, this is why we went with taking PSRL into PSES; deduplication of work.

[2019-08-08 21:40] SydneyhSmith commented on #2115
Looks like this issue is also being tracked at https://github.com/microsoft/powerbi-powershell/issues/60 their recommendation is to use PowerShell Core

[2019-08-08 22:49] SydneyhSmith commented on #2116
Thanks @msftrncs based on the logs, it appears that the PowerShell extension is properly handling the the slashes, so I have opened an issue in the VScode repo to track this.

[2019-08-09 03:11] mkanet commented on #2125
My apologies.  The problem went away after I rebooted my PC.

[2019-08-09 03:11] #2125 closed

[2019-08-09 05:39] janegilring opened #2129 "F8 to run current line/selection takes a long time to react"
Issue Description
=====

I am experiencing a problem with F8 sometime taking a very long time to react, sometimes just a few seconds - other times it doesn`t seem to have been registered. Hence, you try again and after some time the selected line runs several times.

It is not very easy to reproduce, but I wanted to report it anyway since it affects day-to-day usability. Yesterday I was working on

[2019-08-09 06:37] DarkLite1 commented on #2120
If you thing this should be closed, feel free to do so. I'm ok with that. Thanks for clearing up the way I looked at this.

[2019-08-09 12:45] wsmelton commented on #2129
Just curious are you using the system setup or the user setup of VS Code? I've had little quirks happen in the User setup that I've had to stop using it because they were not reproducible, or stopped noticing them happening when I used the system install.

[2019-08-09 12:47] janegilring commented on #2129
Interesting. I'm using the user setup.

[2019-08-09 14:16] kroppt opened #2130 "Full executable paths are stripped on format"
### System Details

System Details Output
[code]
Codium version
[code]
Extension version
[code]
Editor Services version
[code]

### Issue Description

This extension is changing lines for me which I do not think should be changed. And the criteria doesn't make sense. If the full path used exists on the file system, then the path is stripped down to the last element.

#### Expected Behaviour

Full

[2019-08-09 15:06] KirkMunro commented on #2121
@SydneyhSmith and @corbob There is a broader issue that is worth addressing here that I've run into a number of times, and that you'll probably run into again if you don't address it properly.

`$PSDefaultParameterValues` is meant for customization of PowerShell behavior for commands that users invoke. It is not meant to modify behavior of tools that are built using PowerShell. That is why PowerSh

[2019-08-09 16:25] SydneyhSmith commented on #2130
@kroppt thanks for opening this issue and providing logs...it would be super helpful if you also provided repro-steps of a path that is getting stripped down, or a screenshot/gif of this issue

[2019-08-09 18:24] eedwards-sk commented on #2114
Not exactly sure how to tell VSCode which psversion to use, but after installing ps6.2, it did switch to it.

I was able to repro on 6.2 as well.

[code]

`Get-Module PSReadLine` returns nothing, and `Import-Module PSReadLine` works to allow `Get-Module PSReadLine`, but still doesn't provide any readline functionality.

Works fine if I run `pwsh` from inside the integrated console.

So basically,

[2019-08-09 19:33] SydneyhSmith commented on #2129
@janegilring sorry to hear that you are hitting this--thanks for opening this issue. As you mention it would be super helpful to know if there are certain cmdlets that this happens with and logs are even better. We have also had reports that disabling code lens `"editor.codeLens": false` can be a work around for improving the speed of F8 an issue that we are tracking in #1326

[2019-08-09 19:37] kroppt commented on #2130
1. Make file somewhere (e.g. `C:\test\test.exe`)
2. Enter full file path, with or without drive letter (e.g. `C:\test\test.exe`
3. Format Document (Shift-Alt-F)

A side note: in testing myself, I needed to put the file under its own folder for the drive-letter-less path to work, i.e. `\test.exe` did not change in format.
Additionally, you can give it the path to the folder, and it will do the same

[2019-08-10 03:01] SeeminglyScience commented on #2117
Yeah the OP doesn't hang for me, so there's a good chance it's related.

[2019-08-10 09:00] #2126 closed

[2019-08-10 12:00] #2120 closed

[2019-08-10 12:00] #2098 closed

[2019-08-10 12:00] #2097 closed

[2019-08-10 12:00] #2086 closed

[2019-08-12 13:01] oliviermasson commented on #2014
Hi rjmholt,

I've sent a new archive with 4 dump taken at different interval during the issue.

I can't or i don't know how to attach a debugger inside visual studio code, because when i try to run the debugger it claims that i need to have a powershell session started...
![image](https://user-images.githubusercontent.com/38111592/62865699-7107b380-bd0f-11e9-9fea-ee1041de4e64.png)
and it's no more

[2019-08-12 17:02] KirkMunro commented on #2121
When I posted this issue in the PowerShell repo, @BrucePay raised a good question:

If the PowerShell commands you are invoking are not dependent on the state of the current runspace, nor on modules loaded in the current runspace, then that would be a great solution to this problem, because the runspace you use for "internal" commands would never pick up on user preference variables or state. In t

[2019-08-12 18:25] carsontwilson opened #2131 "Frequent crashes (10-30) daily with no discernible pattern"
While attempting to debug VS Code using the powershell console, the console itself will crash many, many times per day.

The behaviour is always the same, but I can't determine why it happens or see any pattern. When it does happen, it's always when you first start debugging, console just sits there as if frozen.

After a few moments, VS will alert me of an issue with the window, ask me to re-open

[2019-08-12 18:40] SeeminglyScience commented on #2121
That would miss help from commands that were loaded from:

1. Dot sourced files
1. Imported modules that are not in `PSModulePath`
1. The user `$profile`

It would also use a different help cache which would (slightly) hurt performance.

If we're invoking PowerShell then we pretty much always need state.

[2019-08-12 18:43] KirkMunro commented on #2121
Thanks @SeeminglyScience, that's what I thought. The separate runspace idea seemed to simple, and for PowerShell tools like this (and PowerGUI and PowerWF and PowerSE in the past, which all had this same challenge), runspace state is central to what those tools do, in which case it is better to work around the problem where possible, perhaps using something like the method logic I shared earlier,

[2019-08-13 09:18] chuanjiao10 opened #2133 "$True , $false.Why is 【f】 lowercase?it is bug？"
$True , $false,Why is 【f】 lowercase?it is bug？

**Note the difference between capitalization**

$True , $false ，in vscode powershell automatic completion.
$true , $false ，in ise  automatic completion.
$true , $false ，in powergui powershell automatic completion.

i think $True,$False as well!

vscode powershell version = 2019.5
vscode powershell version = preview 2019.5

[2019-08-13 17:40] BatmanAMA commented on #2127
For anyone else experiencing this issue, I would recommend moving all your modules out of your user profile module path and into a system module path. I had about 130 modules in my user profile resting on a remote file share and it was causing near constant progress bars in VS code, and that is fully gone now that they are all in C:\program files\powershell\modules.

[2019-08-13 18:07] KirkMunro commented on #2127
Related: [PowerShell PR #10257](https://github.com/PowerShell/PowerShell/pull/10257)

[2019-08-14 00:44] TylerLeonhardt commented on #2115
Bot is a bit trigger happy...

[2019-08-14 05:44] ralf-escher opened #2134 "The language service could not be started"
This bug relates to [#2119](https://github.com/PowerShell/vscode-powershell/issues/2119)
Can't start any kind of terminal, which always result in "terminal process stopped with exit code (0)".

This issue occurs for another two collegues. One colleques can still work fine.
The difference: we have installed the latest [Windows 10 Version 1809 update](https://support.microsoft.com/en-us/help/4507469

[2019-08-14 06:47] ralf-escher commented on #2134
Windows Update doesn't seems to be the problem, since we now get the same error message on our server:

[code]

[2019-08-14 07:36] Glober777 opened #2135 "Preview extension crashes on mouse hover over a code block highlighted as a problem Pester"
Issue Description
=====

I am observing a crash of the Preview extension every time I hover over a block of code (inside a Pester test script) that is highlighted as a Problem (due to a test failure during the past run). As soon as I hover over, I can see a brief appearance of a little tool-tip showing the name of the failed test and a tiny message saying `No quick fixes available` and once it dis

[2019-08-14 11:11] Glober777 opened #2136 "Creating new project from Plaster template crashes editor services (Preview Extension)"
Issue Description
=====

If I have a "clean" instance of VSCode opened (with no projects opened) and try creating a new project using a Plaster template, the Preview Extension starts up and a while after it just crashes (before even providing a list of available templates)

Attached Logs
=====

Logs to be sent over an email

Environment Information
=====

Visual Studio Code
-----

| Name | Version

[2019-08-14 11:31] Glober777 opened #2137 "PowerShell preview extension does not allow running selection from undefined files"
Issue Description
=====

I've noticed that every time I create a new file (without saving it), set it as PowerShell, add in some code, select a fraction (or all of it), followed by pressing F8 I get a notification saying: `Cannot read property 'name' of undefined`:
![image](https://user-images.githubusercontent.com/18121861/63017445-0ab19b00-be9f-11e9-87bb-3a0089b7099a.png)

![image](https://user-

[2019-08-14 22:15] carsontwilson commented on #2131
Here are my user settings in case these are helpful:
{
    "git.autofetch": true,
    "git.confirmSync": false,
    "window.menuBarVisibility": "default",
    "editor.minimap.enabled": false,
    "powershell.developer.editorServicesWaitForDebugger": true,
    "window.zoomLevel": 0,
    "terminal.integrated.rendererType": "dom",
    "workbench.colorTheme": "One Monokai",
    "powershell.codeFormatt

[2019-08-15 00:00] #2129 closed

[2019-08-15 01:44] eedwards-sk commented on #2114
Still Occurring...

[2019-08-15 07:32] eedwards-sk commented on #1586
I just ran into this while using multiple powershell versions.

[code]

after closing the integrated terminal using the trashcan, and re-opening it using the warning dialog (as per the issue author), it loads `pwsh` instead of `pwsh-preview`:

[code]

[2019-08-15 07:32] BAKOTECH opened #2138 "Хост-процесс для расширений неожиданно завершил работу"
Issue Type: <b>Bug</b>

Что PowerShell, что Python не могут запуститься из-за ошибки Хост-процесс для расширений неожиданно завершил работу

Extension version: 2019.5.0
VS Code version: Code 1.37.0 (036a6b1d3ac84e5ca96a17a44e63a87971f8fcc8, 2019-08-08T01:22:37.660Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6267U CPU

[2019-08-15 13:35] kroppt commented on #2130
It's not inactive, actually. It still occurs.

[2019-08-15 13:40] eosfor opened #2139 "hitting F8 switches to PowerShell integrated and executes there"
### Issue Description

Here is the video for the issue (all versions are in the video)

![vscodeproblem](https://user-images.githubusercontent.com/9363027/63098187-00fd6580-bf7b-11e9-84f5-ff9f778dcefa.gif)

Basically, when I hit F8 code switches to Integrated Console and executes there. I expect it to run selection in the current active console. Do i miss something?

### Attached Logs

[vscode-pow

[2019-08-15 13:45] rkeithhill commented on #2130
Formatting is provided by the PSScriptAnalyzer project.  @SydneyhSmith Can you move this or perhaps mark it as duplicate if there's already a PSSA bug on this?

[2019-08-15 14:07] kroppt commented on #2130
When I format the line, it get changed as described, but when I look at rule violations using `Invoke-ScriptAnalyzer -ReportSummary .\test.ps1`, none appear. I also could not find a relevant rules.