[2017-05-09 22:25] daviwil commented on #140
Thanks Andy!  Yep, I've considered using that but not sure if it will be a good UX.  I'll experiment with it pretty soon :)

[2017-05-10 04:14] #626 closed

[2017-05-10 06:17] eishockey commented on #721
Same problem with code likie this:

VSCode Version: 0.12.1
VSCode Powershell Version: 0.12.2

[2017-05-10 13:44] daviwil commented on #721
Hey guys!  Can you check and see what your `F8` key is bound to?  Mine looks like this:

![image](https://cloud.githubusercontent.com/assets/79405/25901493/d168f7e6-354b-11e7-9690-c3aa43904c26.png)

It could be that you have your F8 key bound to the command `workbench.action.terminal.runSelectedText`.  If you do, these multi-line evaluations won't work because of issue #569.  Remove that command b

[2017-05-10 13:54] AndySchneiderDev commented on #721
That worked. Thanks!

[2017-05-10 13:54] #721 closed

[2017-05-10 16:48] mpearon commented on #705
@rkeithhill  @daviwil
It is awesome to see this in the 1.0.0 release!  It might be worth mentioning that the script **must be saved** for this to work.

[2017-05-10 18:02] AspenForester commented on #681
I hadn't noticed this behavior before, but I can report that I can duplicate the issue with:
VSCode: 1.12.0
PowerShell Extension: 1.0.0

Name                           Value
----                           -----
PSVersion                      5.1.14393.1066
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.1066
CL

[2017-05-10 19:06] BatmanAMA commented on #635
This seems to work as expected if the #region and #endregion tags are not indented, however in most cases auto-format kills this. I'm not sure if that helps at all, but I figured it's worth pointing out. Currently on version 1.0.0 of this extension and version 1.12.1 of vs code.

[2017-05-10 19:11] daviwil commented on #635
Ahhh yep, code formatting "fixes" it ;)  Now that the extension is at 1.0 I'm going to start investigating how to get this issue fixed in VS Code.

[2017-05-10 19:37] pcarnella opened #726 "Intellisense/Tab-completion Intermittent Failures"
### System Details

- Operating system name and version: Windows 10 Pro
- VS Code version: 1.12.1
- PowerShell extension version: 1.0
- Output from `$PSVersionTable`:
Name                           Value
PSVersion                      5.1.14393.693
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.693
CLRVersion

[2017-05-10 19:41] daviwil commented on #726
@pcarnella thanks for the report!  That log statement doesn't give enough context, can you grab the lines that are indented below it too?  That'd be helpful.

When this problem occurs, does the situation improve after running this command in the integrated console:

[code]

[2017-05-10 21:02] iricigor commented on #703
Similar thing is with continue keyword
![image](https://cloud.githubusercontent.com/assets/15923171/25921151/b0a119d8-35d4-11e7-8875-c3f687f033da.png)

[2017-05-10 21:30] daviwil opened #727 "Enable function and variable renaming support"
Now that VS Code has a "rename" action for symbols in a file, we can wire it up to allow renaming a function and all its occurrences across the workspace.

[2017-05-10 21:57] DanielSturm opened #728 "Arrow keys not working during debug session"
### System Details

- Operating system name and version: Windows 10 Professional x64
- VS Code version: 1.12.1
- PowerShell extension version: 1.0.0
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.14393.1198
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
Buil

[2017-05-10 22:10] jagrock commented on #496
For me, the completion option by default and a setting to enable the tab turns into on/off.

[2017-05-10 22:19] daviwil commented on #691
Just tried this on my machine, seems to be working fine.  Could you send verbose logs to me so I can see why it's giving you this error?

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

Thanks!

[2017-05-10 22:21] daviwil commented on #728
Hi Daniel, this is a known issue currently tracked by bug #550.  Please subscribe to that issue to be notified when the bug gets resolved.  I'll get this fixed soon!

[2017-05-10 22:21] #728 closed

[2017-05-10 22:59] ScriptMigo commented on #691
Will do David. Will be tomorrow when I'm in the office.

Thanks!

On May 10, 2017 6:19 PM, "David Wilson" <notifications@github.com> wrote:

[2017-05-11 00:09] pcarnella commented on #726
Thanks for looking into it, some more info...

PackageManagement module not loaded:

Remove-Module : No modules were removed. Verify that the specification of modules to remove is correct and those modules exist in the runspace.
At line:1 char:1
+ Remove-Module PackageManagement

5/10/2017 7:59:16 PM [ERROR] - Method "DispatchMessage" at line 301 of C:\projects\powershelleditorservices\src\PowerSh

[2017-05-11 06:44] fodonnel commented on #672
This rule is not very version control friendly.

If I remove _CertificateThumbPrint_ from the above example then all the other lines in the resource move back and look like the have been edited if I do a compare.

If i also had actually edited another line - like changing the _port_ it would not be clear. There are ignore whitespace settings that I use for the compare, the they are not the default

[2017-05-11 06:44] ehouarn-perret opened #729 "Caught error while waiting for EditorServicesHost to complete: One or more errors occurred."
### System Details

- Operating system name and version: Windows 7 Enterprise
- VS Code version: 1.12.1
- PowerShell extension version: 1.0.0
- Output from `$PSVersionTable`:
[code]

Copy / paste the below commands into the PowerShell Integrated Terminal, and paste the output here

`code -v`
[code]

`$pseditor.EditorServicesVersion`
Display nothing...

`code --list-extensions --show-versions`
[cod

[2017-05-11 07:50] andrewducker commented on #619
Will this also work with breakpoints set from the editor?

[2017-05-11 11:12] ScriptMigo commented on #691
David,
Attached are my verbose logs from when I attempt to enter-pssession.

-Scott

On May 10, 2017 6:19 PM, "David Wilson" <notifications@github.com> wrote:

[2017-05-11 14:08] daviwil commented on #691
Files attached to issue emails don't make it to GitHub unfortunately, can you e-mail the logs directly to me?  `daviwil` at `microsoft.com`

[2017-05-11 14:10] daviwil commented on #619
That one is tricky because VS Code's debugger model doesn't give me information about breakpoints until the user starts the debugger.  I've asked them about this already but we haven't come to a viable solution yet.  It's the last step in making a 100% compatible debugging experience between VS Code and the ISE, so I definitely want to get it working!

[2017-05-11 14:14] daviwil commented on #729
Hi @ehouarn-perret, thanks for sending along these logs!  Can you [turn on verbose logging](https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us) and send the EditorServices.log again?  It's missing one key piece of information that will help me fix the issue.

[2017-05-11 14:36] daviwil opened #730 "Provide command for cancelling current script execution in integated console"
Right now there's no  way for the user to terminate the currently running script or command while outside of the integrated console (Ctrl+C only works inside the console).  We should provide a command that allows the user to terminate the current execution so that they can bind it to Ctrl+C if they like.

[2017-05-11 14:49] daviwil opened #731 "Add a runspace picker menu for the attach debug configuration"
When debugging DSC configurations, it'd be helpful to optionally show a runspace picker so that the user can select the correct runspace in the LCM when attaching to its process.  We can use a debug config variable to invoke the picker as we do with the process selector.

/cc @bgelens

[2017-05-11 14:55] rkeithhill commented on #731
Hopefully you can control the order VSCode invokes the pickers (process first, then pid).  Then you just need to pass the process id to PSES to get back the available rs ids.

[2017-05-11 15:33] bgelens opened #732 "Add AppDomainName field for Attach process for debugging"
When debugging Dsc Resources, you need to attach to the process using ```DscPsPluginWkr_AppDomain``` AppDomain. Currently the AppDomain is not configurable and therefore it's not possible to use the Debug pane in VS Code.

As a workaround however, you can debug interactively by entering the host process via the integrated terminal. Thanks @daviwil for pointing that out.
However, you don't get that

[2017-05-11 18:24] pcgeek86 opened #733 ""Quick fix all" for fixable PowerShell issues"
In VSCode right now, you can only `Quick Fix` issues one at a time. It would be great if I could "quick fix all" in the following scopes:

* Current file
* Current workspace
* Current text selection

![screen shot 2017-05-11 at 10 00 58 am](https://cloud.githubusercontent.com/assets/466713/25965270/52825764-363c-11e7-8b4d-ff774ef37644.png)

Cheers,
Trevor Sullivan

**NOTE**: Related issue: https:/

[2017-05-11 19:12] daviwil opened #734 "Formatting with formatOnSave causes file to be dirty after save"

[2017-05-11 19:17] jbruett commented on #734
David, find the logs in the collapsed issue below.  Thanks!

<details>
<summary>EditorServices.log (verbose)</summary>
5/11/2017 3:08:15 PM [NORMAL] - Method "StartLogging" at line 126 of C:\projects\powershelleditorservices\src\PowerShellEditorServices.Host\EditorServicesHost.cs

    PowerShell Editor Services Host v1.0.0.0 starting (pid 17112)...

      Host application details:

        Name:

[2017-05-11 19:52] daviwil commented on #672
That's a fair point, though I don't see any way around this other than just turning off the rule if it's problematic for you.  Can you think of a better option?

[2017-05-11 19:53] daviwil commented on #731
I **hope** that VS Code evaluates them in the order in which they're in the file but you never know...  Good point though, I dunno if we can get the list of runspaces in a process without actually entering the process first.  Might be a little nasty...

[2017-05-11 19:56] kapilmb commented on #733
I think we can target this for v1.2 iteration.

[2017-05-11 20:07] daviwil commented on #726
Interesting that the editor is sending a cancellation request...  I wonder what's going on there.  Can you e-mail me the whole log file?  `daviwil` at `microsoft.com`.

[2017-05-11 20:09] kapilmb commented on #734
Does this happen only when you hit save and then close VSCode? From the logs, I can see that there is a shutdown event occurring at the end. So it might be the case that the language server receives a `shutdown` event before all the edits are applied. The `shutdown` event overrides the pending edits and hence leaves the file in a `dirty` state.

[2017-05-11 20:11] daviwil commented on #734
I think that was only because John was reproing the issue for me.  Both reports I've seen of this issue happen every time they save in the session.

[2017-05-11 20:11] jbruett commented on #734
no that was just me closing the editor.  I saved it once while in the editor, triggering the issue, and then closed the editor out

[2017-05-11 20:16] kapilmb commented on #734
Does it happen with only the `domain.ps1` file or with any other file?

[2017-05-11 20:25] jbruett commented on #734
Looks like it may have to do with size of the file.  On a shorter file, it doesn't look like I can replicate on a small file (20ish lines), but on the domain.ps1 file (100+ lines) it's consistent

[2017-05-11 20:46] kapilmb commented on #734
I am able to repro it for larger files too. I think the formatting takes a little bit too long such that the fomatting takes place even after saving takes place, which causes the file to become `dirty`.

[2017-05-11 20:50] kapilmb commented on #734
I don't think this issue is just related to hashtable formatting. It happens on large files even if we turn off `alignPropertyValuePairs` switch.

[2017-05-11 21:04] matijagrcic commented on #730
I can take a look at that, would love to contribute.

[2017-05-11 21:16] daviwil commented on #730
Sounds great, let me know how I can help!

[2017-05-12 00:21] asilverman opened #735 "Add the functionality for Get-Help <commandlet> -ShowWindow to command console"
### System Details

- Operating system name and version: Windows 8.1 Enterprise 64-bit (6.3, Build 9600)
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]
### Issue Description

I am experiencing a problem with the fact that it is not possible to pop a window with the command help when performing the following command on the PS TERMINAL
 Get-Help Copy-Item

[2017-05-12 00:27] daviwil commented on #735
Thanks Ariel!  This is actually a facet of a general issue in the integrated console, tracked by issue #621.  You can subscribe to that issue to be notified when the issue gets fixed.

[2017-05-12 00:27] #735 closed

[2017-05-12 01:10] Idanatcox commented on #683
same here with VSCode and Powershell ext 1.0.0
Version 1.12.1
Commit f6868fce3eeb16663840eb82123369dec6077a9b
Date 2017-05-04T21:26:50.689Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0

[OK]

[2017-05-12 08:51] ehouarn-perret commented on #729
@daviwil sure, just changed the verbosity, here is below the full content:

**vscode-powershell.log**
[code]

**EditorServices.log**
[code]

[2017-05-12 10:15] skest3qc opened #736 "Feature request: Generate splatting command from command"
Hi,

it would be nice to be able to create a splatting command, f.e selecting the long command -> right click -> create splatting command

Before:
`Get-Process -Name explorer -ComputerName localhost  -Verbose: $true -ErrorAction Stop`

After the conversion it could look like this:

$params=@{
   Name = "explorer"
   Computername = "localhost"
   Verbose = $true
   ErrorAction = "Stop"
}
Get-Proces

[2017-05-12 12:44] mpearon commented on #705
If there are no objections from @rkeithhill  and @daviwil , I'll close this issue.

[2017-05-12 13:24] daviwil commented on #705
Ahh!  I didn't realize we hadn't closed it out yet :)  Thanks Matthew!

[2017-05-12 13:24] #705 closed

[2017-05-12 13:26] daviwil commented on #736
Definitely, we've thought about this in the past.  @kapilmb, want to give that a shot at some point?

[2017-05-12 13:28] daviwil commented on #729
Thanks a lot!  I see the issue now, you're using the Perforce plugin and it's opening a virtual file path that we don't support.  I need to get this issue fixed: https://github.com/PowerShell/PowerShellEditorServices/issues/342

[2017-05-12 15:31] daviwil opened #737 "Switching between PowerShell versions on Windows is unreliable"
It appears that after the latest upgrade to `vscode-languageserver`  we've lost the ability to switch between PowerShell versions cleanly using the status bar menu.  Sometimes it hangs at startup causing the extension host to crash after a timeout.  Other times it seems to work fine.  There must be some initialization step that we need to clean up when using the newer version of that library.

/cc

[2017-05-12 16:28] ehouarn-perret commented on #729
Nice I almost forget that one, I can actually deactivate the plugin was not really using it.

[2017-05-12 18:05] yobyot opened #738 "Debugger crashes when stepping-in"
### System Details

- macOS 10.12.4
- VS Code version: 1.12.1
- PowerShell extension version: 1.0.0
- Output from `$PSVersionTable`:
PSVersion:                      6.0.0-beta
PSEdition:                      Core
BuildVersion:                   3.0.0.0
CLRVersion:
GitCommitId:                    v6.0.0-beta.1
OS:                             Darwin 16.5.0 Darwin Kernel Version 16.5.0: F...
Platform

[2017-05-12 21:04] AndySchneiderDev opened #739 "Capitalization in Menu Titles is Inconsistent"
### System Details

- Operating system name and version: Win 10, 1703
- VS Code version: 1.12.1
- PowerShell extension version: 1.0.0
- Output from `$PSVersionTable`:
[code]

### Issue Description

I am experiencing a problem with the capitalization on the menus.  When you right click on selected text, you get an option to "Run selection" "selection" should be capitalized to match the rest of the

[2017-05-12 22:05] stephenbonar commented on #140
Version 1.0 seems much more stable than the pre-release versions, I find myself using the PowerShell ISE less and less! I'm definitely looking forward to Write-Progress functioning in the integrated console, but until then, I at least have the workaround of adding a powershell.exe console in the integrated terminal, which still shows progress.

[2017-05-13 03:21] MattAllison opened #740 "Allow PowerShell formatting for "} else {""
### System Details

PS > code -v
1.12.1
f6868fce3eeb16663840eb82123369dec6077a9b

PS > $pseditor.EditorServicesVersion

PS > code --list-extensions --show-versions

artofshell.armsnippet@0.7.0
donjayamanne.githistory@0.2.0
DryWolf.dark-plus-plus-theme@0.0.9
gerane.Theme-8-Colour-Dark@0.0.2
gerane.Theme-azure@0.0.2
gerane.Theme-BetterJS@0.0.3
gerane.Theme-Blackboard@0.0.2
gerane.Theme-BlueDawn@0.0.

[2017-05-13 04:42] kapilmb commented on #736
@daviwil Sure. Most likely July iteration though.

[2017-05-13 13:54] brwilkinson commented on #609
@daviwil Please make the following the default setting.

"powershell.integratedConsole.focusConsoleOnExecute":false

People mostly use the ISE environment and this is a show stopper for developing scripts until you set this to false.

[2017-05-13 16:52] daviwil commented on #609
@brwilkinson unfortunately I can't, I was told that it must change focus by default for accessibility reasons.

[2017-05-13 23:10] kensel opened #741 "Error Command 'PowerShell.*' not found"
### System Details

- Operating system name and version: Windows 10 enterprise eval
- VS Code version: 1.12.1
- PowerShell extension version: 1.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

Using the PowerShell tools by Ctrl + Shift + P but it gives the error the command is not found for the powershell commands as seen in the image.

![2017-05-13_16h54_01](https://cloud.github

[2017-05-14 02:29] yhvicey opened #742 "Integrated console does not write output on Windows Insider build 16193"
### System Details

- Operating system name and version: Microsoft Windows [Version 10.0.16193.1001]
- VS Code version: 1.12.1
- PowerShell extension version: 1.0.0
- Output from `$PSVersionTable`:

![image](https://cloud.githubusercontent.com/assets/8000820/26030714/fe1c5672-388c-11e7-80af-21a450639f72.png)

### Issue Description

VSCode cannot launch integrated powershell and stuck at showing "s

[2017-05-15 03:19] brwilkinson commented on #609
@daviwil oh wow. That seems odd. . . . did you know the details?

[2017-05-15 06:40] Serivy commented on #729
Just hit this issue. Work around of disabling perforce plugin worked.

[2017-05-15 09:09] lipkau commented on #689
I have the same problem.
I am on Anniversary Update (BuildVersion                   10.0.14393.953).
My profile script: `"\\mydomain.com\shareName\Lipkau\Documents\WindowsPowerShell\profile.ps1"`
![image](https://cloud.githubusercontent.com/assets/4992870/26050354/9af803a2-395e-11e7-95ff-2d80e4c95c01.png)
![image](https://cloud.githubusercontent.com/assets/4992870/26050366/a8457bde-395e-11e7-99f6-

[2017-05-15 10:13] jaapbrasser commented on #742
I have the same issue on the 10.0.16193.1001 build and also on the previous Insider Fast Ring build. Does anyone know of a workaround for this issue?

[2017-05-15 13:19] daviwil commented on #742
I was able to repro the issue on Friday, looks like Windows broke the console APIs that I use to read input.  I was trying to install a newer canary build to test with but it kept rolling back.  I'll try again today to see if the latest builds fix the issue.

[2017-05-15 13:27] daviwil commented on #738
Hey Alex, thanks for the report!  I can't see an obvious issue in the logs, could you possibly provide me with the simplest script that reproduces the issue so I can try to catch it in the debugger?

[2017-05-15 13:29] daviwil commented on #739
This would be a super easy chance to contribute if you're interested :)  Otherwise I'll get it fixed soon!

[2017-05-15 13:31] daviwil commented on #709
Hey Will, this issue is being traced with #681 so I'll close this one in favor of the other.  I'd recommend subscribing to that issue to be notified when the issue gets resolved.  Thanks!

[2017-05-15 13:31] #709 closed

[2017-05-15 13:37] daviwil commented on #574
Hey @pchalabi, sorry for missing this issue in the past.  I'm tracking this issue on #681 with plans to fix it for the next release.  Will close this issue now, please subscribe to the other issue to be notified when the issue gets resolved.

[2017-05-15 13:37] #574 closed

[2017-05-15 13:39] daviwil commented on #697
Hey @codearoo, I'm currently tracking this issue under #619, hoping to get it fixed for the next update.  Please subscribe to that issue to be notified when it gets resolved.  Thanks!

[2017-05-15 13:39] #697 closed

[2017-05-15 13:40] daviwil commented on #256
@mattmcnabb I think we can close this now, right? :)

[2017-05-15 13:47] daviwil commented on #689
I'll take a look at this for the next update.

[2017-05-15 13:58] mattmcnabb commented on #256
Absolutely! This has come a really long way since I posted this. I'm now debugging in VSCode only and haven't looked back.

Thanks!

[2017-05-15 14:03] daviwil commented on #256
Thanks Matt, glad to hear it :)

[2017-05-15 14:03] #256 closed

[2017-05-15 14:11] AndySchneiderDev commented on #739
I'd be more than happy to, as long as the json file is the only thing that needs editing. I wasn't sure if there were any other files that would be affected.

[2017-05-15 14:12] daviwil commented on #739
Nope, just the JSON file.  You could do it entirely in GitHub's online editor

[2017-05-15 15:56] andrewducker opened #745 "Git merge doesn't understand UTF16 and that's what PSD1 files are created as."
### System Details

1.12.1
f6868fce3eeb16663840eb82123369dec6077a9b

Major  Minor  Build  Revision
-----  -----  -----  --------
1      0      0      0

ms-vscode.PowerShell@1.0.0

Name                           Value
----                           -----
PSVersion                      4.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.3

[2017-05-15 16:58] rkeithhill commented on #745
I suggest you file this issue on https://GitHub.com/powershell/powershell since that is where the `New-ModuleManifest` command is implemented.  Also, if you use the PowerShell extension command to create a new module template, it will create the PSD1 file using UTF8.  :-)

[2017-05-15 17:23] #739 closed

[2017-05-15 20:33] johnbeh opened #746 "Problems getting the debug system to behave"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

DEBUG

I can't persuade the F5 on the standard install to behave anything like sensibly.  If I have ONE PS1 file open it will run sensibly.

If I have a second file open it doesn't run at all. The little blue line just under th

[2017-05-15 20:38] daviwil commented on #746
You shouldn't have a different experience when opening more than one file, the debugger will only launch the currently active file when using the "current file" configuration.  Can you attach logs from a session where the debugger exhibits this behavior?

https://github.com/PowerShell/vscode-powershell#reporting-problems

[2017-05-15 20:55] daviwil commented on #742
Just tried this with Insiders build 16199 and I'm still seeing the problem.  I'll try to debug the issue and see where it's coming from.

/cc @bgelens

[2017-05-15 20:58] jaapbrasser commented on #742
Thanks for following up on this @daviwil, I appreciate that!

[2017-05-15 21:42] daviwil commented on #703
This is because PowerShell doesn't return completion results for either of these keywords.  I don't get completions for either of them in the ISE either.  We could definitely try to insert them as results, though!

[2017-05-15 21:43] daviwil commented on #702
Thanks Chris!  I'll take a look.

[2017-05-15 22:01] daviwil commented on #715
Did some work on this but I think I want to polish it a bit more before I ship it.

[2017-05-15 22:11] jpsnover opened #747 "HOST is not available in Debug Scriptblocks"
I set a breakpoint with an action like:
Set-PSBreakpoint -Script C:\temp\f1.ps1 -Line 5 -Action {if ($n -eq 4) {write-host -ForegroundColor red "************"}}

In ISE - this works
In VSCode - it does not

[2017-05-15 22:13] daviwil commented on #747
Thanks!  I'll take a look.

[2017-05-15 22:21] rkeithhill commented on #747
This works if you use `continue` e.g.:
![image](https://cloud.githubusercontent.com/assets/5177512/26081939/68844bb6-398a-11e7-9850-100eea9469fd.png)

[2017-05-15 22:31] daviwil commented on #747
Strangely this doesn't seem to be 100% reproable, I just watched Jeffrey try it a couple times and it worked part of the time.  He'll send logs the next time he sees it.

[2017-05-15 23:00] yobyot commented on #738
Thanks, David.

Is there an email address I can send the script to? To make sure you can run it, I have supplied read-only keys to an AWS account. I'd prefer not to post that here.

In the meantime, I am attaching the logs for a test of the script I'd send you which crashed in vscode (but not in a macOS PowerShell console).

[debug.zip](https://github.com/PowerShell/vscode-powershell/files/1002694

[2017-05-15 23:01] daviwil commented on #738
Yep!  Send it along to `daviwil` at `microsoft.com`.  Thanks a lot!

[2017-05-16 07:47] andrewducker commented on #745
Thanks.

Raised https://github.com/PowerShell/PowerShell/issues/3789 and https://github.com/Microsoft/vscode/issues/26722

[2017-05-16 07:48] #745 closed

[2017-05-16 09:52] daleecc opened #749 "Error when command input exceeds window size"
### System Details

- Operating system name and version: Windows 7 (64-bit)
- VS Code version: 1.12.1
- PowerShell extension version: 1.0.0

[code]

### Issue Description

When typing commands into the integrated terminal, if the edge of the window is reached (i.e. the command would wrap onto the next line), the error below occurs and the command will not execute.

[code]

[2017-05-16 13:20] daviwil commented on #749
Thanks @daleecc!  Looks like this is being tracked by #702, I'll close this issue in favor of that one.

[2017-05-16 13:20] #749 closed

[2017-05-16 13:32] daleecc commented on #749
Ah sorry I missed that one.

[2017-05-16 13:52] daviwil commented on #749
No problem!

[2017-05-16 14:05] daviwil opened #750 "Integrated console should wait for profile setting before showing first prompt"
Right now the integrated console will sometimes show its first prompt before the user's profile scripts get loaded, causing some weird behavior if the user has a custom prompt.  We should wait longer for the configuration request to be sent from the editor before showing the first prompt so that their profile scripts have a chance to be loaded first.

[2017-05-16 14:55] lipkau commented on #689
I retract my comment.
It was an error in my profile. I apologize.

[2017-05-16 15:22] mud5150 commented on #742
@jaapbrasser How are you killing the integrated console? Mine comes back whenever I try to debug. Having no luck trying to work around this issue.

[2017-05-16 15:40] jaapbrasser commented on #742
![image](https://cloud.githubusercontent.com/assets/12744735/26114718/5285c130-3a5e-11e7-9a3d-50473342b7ed.png)

This is what I do, click this button and then hit **<CTRL>** + **`**

![image](https://cloud.githubusercontent.com/assets/12744735/26114824/9fb7d038-3a5e-11e7-9b11-ec261ff5c4b6.png)

I do end up with this error message, so it is not a full workaround as this blocks me from seeing my ope

[2017-05-16 16:46] jdhitsolutions commented on #742
I still see this issue with VSCode 1.12.2

[2017-05-16 16:59] daviwil commented on #742
Updates to VS Code won't fix this unfortunately, it's an issue that manifests in PowerShell Editor Services.

[2017-05-16 17:36] DrYSG commented on #641
@rkeithhill  Hey, I was having this issue with lowercase .ps1 and changed it to .PS1 and it works.  VSCODE 1.12.2

[2017-05-16 17:39] daviwil commented on #641
@DrYSG You're still having this issue with PowerShell extension 1.0?

[2017-05-16 17:44] DrYSG commented on #641
[code]

![image](https://cloud.githubusercontent.com/assets/2865368/26120160/cc8ca366-3a3d-11e7-8e9f-10221e57f984.png)

[2017-05-16 17:52] rkeithhill commented on #641
What version of the PowerShell extension do you have?

![image](https://cloud.githubusercontent.com/assets/5177512/26120422/f0d80a36-3a2d-11e7-9a5c-99e3689d94c7.png)

[2017-05-16 17:56] DrYSG commented on #641
![image](https://cloud.githubusercontent.com/assets/2865368/26120660/79bbf05e-3a3f-11e7-86b7-c0a77462a7c0.png)

[2017-05-16 18:19] rkeithhill commented on #641
So you have 1.0.0 of this extension installed into VSCode?  The original bug was the opposite of what you are reporting.   PS1 did not work while ps1 did work.  Can you provide some repro steps?  Thanks.

[2017-05-16 19:30] DrYSG commented on #641
Yes, that is the funny thing. I am reporting the opposite. PS1 works and ps1 does not.

Steps

1. Create a powershell script named foobar.ps1 put some commands in it.
2. Use this launch.json shown below
2. Run the the debugger the "Launch current File" script
Make sure that the open tab is the PS1 file

Perhaps what I should be using is the 2.0.0 version of the launch.json?

[2017-05-16 20:32] rkeithhill commented on #641
The version of launch.json should be `0.2.0`.

[2017-05-16 21:07] daviwil commented on #742
## Workaround

OK folks, I've got a workaround for this issue.  Open up your VS Code profile at one of the following paths (create the file if it doesn't already exist):

**Windows PowerShell 5.1**
[code]

**PowerShell Core 6.0**
[code]

Insert this line at the top of the file:

[code]

Now restart VS Code.  When the Integrated Console appears, you should start to see output again.

## Explanation

[2017-05-16 21:11] mud5150 commented on #742
@daviwil Thanks man. That got me going.

[2017-05-16 21:12] daviwil commented on #742
Thanks for confirming, glad it helped!

[2017-05-16 23:02] daviwil commented on #741
Hey @kensel, generally you see these errors when the PowerShell extension hasn't been loaded yet.  When you tried running these commands, did you have a PowerShell file open?

[2017-05-16 23:56] brwilkinson commented on #742
Thanks worked for me. . .  well after I enabled the profile again.

"powershell.enableProfileLoading": true

[2017-05-17 00:52] ajansveld opened #751 "Keybinding for PowerShellFindModule (ctrl+k ctrl+f) conflicts with vscode defaults"
### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.12.2
- PowerShell extension version: 1.0.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

When using the default keyboard shortcut for Format Selection (ctrl+k ctrl+f) in a PowerShell script with selected text, the PowerShellFindModule action launches instead.

Suggest removing the keybinding

[2017-05-17 04:35] wsmelton commented on #530
This is effecting commits to GitHub using VS Code because every file I modify, with just one line, EVERY other line has the tabs converted to spaces. I have to know manually issue the convert command to put them back.

Not cool man!

[2017-05-17 05:20] jaapbrasser commented on #742
Also resolved it for me, you are a legend @daviwil, thanks for looking into this!

[2017-05-17 05:23] wsmelton commented on #530
Interesting note, just updated VS Code Insider Edition and this does not seem to be an issue for me now.

[2017-05-17 06:50] jpalo opened #752 "Stuck on "Starting Powershell...""
### System Details
- OS Version: WIn 10 (Windows_NT ia32 10.0.16193)
- VSCode Version: Code 1.12.2 (19222cdc84ce72202478ba1cec5cb557b71163de, 2017-05-10T13:20:36.315Z)
- PowerShell extension version: 1.0.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

1. Start VS Code
2. Either open existing .ps1 file OR switch editor mode from Plain Text to Powershell (from bottom right in VS C

[2017-05-17 08:45] demyte commented on #752
Same issue. Details:

*WINDOWS*
Windows 10 16188.rs_prerelease.170430-1928

*PORWERSHELL*
PSVersion                      5.1.16188.1000
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.16188.1000
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
Serial

[2017-05-17 09:48] bgelens commented on #752
Probably the same as #742
Please check workaround https://github.com/PowerShell/vscode-powershell/issues/742#issuecomment-301915916

[2017-05-17 09:50] csandfeld opened #753 "Calling Get-Help with the 'ShowWindow' parameter throws an error in the integrated console"
### System Details

- Operating system name and version:
Windows 10 Enterprise Version 1607 (OS Build 14393.1066)

[code]

### Issue Description
Not sure if this is supposed to work, but ...

Calling Get-Help with the 'ShowWindow' parameter throws an error in the integrated console
[code]

### Attached Logs
[logs.zip](https://github.com/PowerShell/vscode-powershell/files/1007253/logs.zip)

[2017-05-17 09:56] #752 closed

[2017-05-17 09:57] jpalo commented on #752
Thanks, same as [#742](https://github.com/PowerShell/vscode-powershell/issues/742) and that workaround works in my case ase well, so closing.

[2017-05-17 10:10] Graham-Beer opened #754 "F8 selection on code"
### System Details

- Operating system name and version: Windows 10 Latest version
- VS Code version: 1.12.2
- PowerShell extension version: 1.0
- Output from `$PSVersionTable`:
PSVersion                      5.1.15063.296
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.15063.296
CLRVersion                     4.0.30

[2017-05-17 11:37] mbsj opened #755 "Caught error while waiting for EditorServicesHost to complete: One or more errors occurred."
### System Details

- Operating system name and version: Windows 7 Enterprise
- VS Code version: 1.12.2
- PowerShell extension version: 1.0.0
- Output from `$PSVersionTable`:
[code]

[code]

### Issue Description

When edditing any script, after a while the following error is logged:
[code]

This causes all intellisense and the like to stop functioning until the console is restarted.

### Attached

[2017-05-17 13:38] daviwil commented on #752
Thanks Ben! :)

[2017-05-17 13:40] daviwil commented on #530
Hmmm, not sure why the Insider version would have improved this, but I'll keep an eye out for that!

[2017-05-17 13:41] daviwil commented on #751
Great point, I'll change that!  This action probably shouldn't even have a keybinding since it's not something that would be used very frequently.

[2017-05-17 13:56] daviwil commented on #754
Hey Graham, check your keybindings and see if you have F8 bound to `workbench.action.terminal.runSelectedText`.  If so, remove that binding so that the PowerShell extension's `PowerShell.RunSelection` binding gets used.

[2017-05-17 13:57] daviwil commented on #753
Strange, haven't seen that one before.  Will investigate, thanks!

[2017-05-17 13:58] #751 closed

[2017-05-17 14:02] daviwil commented on #147
Both profile support and integrated console have been implemented, closing this old issue :)

[2017-05-17 14:02] #147 closed

[2017-05-17 14:10] Graham-Beer commented on #754
Hi David,
Thank you for getting back so quickly.

I've checked and its in the list but not bound to F8 :
  // A set of command IDs whose keybindings will not be sent to the shell and instead always be handled by Code. This allows the use of keybindings that would normally be consumed by the shell to act the same as when the terminal is not focused, for example ctrl+p to launch Quick Open.
  "termi

[2017-05-17 14:13] daviwil commented on #689
Hey Shawn, it turns out that errors that occur while loading your profile script aren't currently being written to the console.  I can confirm that `profile.ps1` does get loaded so you've probably just got an error in that profile that isn't showing up in the console.  I'm fixing the error writing issue for tomorrow's update.

[2017-05-17 14:17] daviwil commented on #754
That list comes from your user settings, it doesn't reflect your keybindings.  Try opening the Keyboard Shortcuts view with `File -> Preferences -> Keyboard Shortcuts` and then search for `F8` or `workbench.action.terminal.runSelectedText`.

[2017-05-17 14:17] daviwil commented on #663
Fixed this for tomorrow's update!

[2017-05-17 14:18] dfinke commented on #754
Hey @Graham-Beer here's mine.

![image](https://cloud.githubusercontent.com/assets/67258/26158542/2bbd0464-3aea-11e7-9e23-acd8e458cfed.png)

hth

[2017-05-17 14:22] Graham-Beer commented on #754
Hi Doug,
I have the same in mine as well. Does it matter if the source is different ?

![image](https://cloud.githubusercontent.com/assets/12196171/26158766/a21ab500-3b14-11e7-8dc0-820e2162cfdf.png)

[2017-05-17 14:24] Graham-Beer commented on #754
Actually I have two, one for 'user' and one for 'default'

![image](https://cloud.githubusercontent.com/assets/12196171/26158839/e1995286-3b14-11e7-9c14-994d0d1ab34d.png)

[2017-05-17 14:24] daviwil commented on #754
That's the one that is causing the problem, if you remove the binding for F8 there it will start working correctly.

[2017-05-17 14:25] Graham-Beer commented on #754
For the user ?

[2017-05-17 14:25] daviwil commented on #754
Yep

[2017-05-17 14:27] #663 closed

[2017-05-17 14:27] #689 closed

[2017-05-17 14:27] Graham-Beer commented on #754
Awesome, removed the 'User' Entry and tested, working like a dream ! Thank you David and Doug for helping so quickly :)

[2017-05-17 14:28] daviwil commented on #754
No problem Graham!

[2017-05-17 14:28] #754 closed

[2017-05-17 14:45] dan185818 commented on #635
I don't see the behavior working correctly, with VS Code version 1.12.2 and the extension at 1.0.0.  I have a script that uses nested regions (One for folding all functions, then inside that, one for functions I've gotten from the Internet, one region for "database" functions, one for "log parsing" functions, and one for "Data Processing" functions.  This makes it so that I can fold all the functi

[2017-05-17 14:45] daviwil commented on #681
This seems to be fixed in the latest Visual Studio Code Insiders build, can you try it there and let me know if it's resolved for you?

[2017-05-17 14:47] daviwil commented on #635
@dan185818 this is an ongoing limitation of VS Code, there is still no fix on the radar yet.

[2017-05-17 15:39] pcgeek86 commented on #496
I would make the original request into something more broad, where you run an entire set of customizable PSScriptAnalyzer rules against the entire VSCode workspace, triggered by certain events (eg. `Files: Save All`). The PowerShell extension could have a configurable setting to point to the path of an array of PSScriptAnalyzer rule manifests, relative to the workspace path.

[2017-05-17 15:44] mpearon commented on #681
@daviwil
I checked in Insiders, and you are correct - it appears to be working as expected! :)

[2017-05-17 15:48] daviwil commented on #681
Great, thanks for confirming! I'll keep this issue open until that fix comes to the stable VS Code release.

[2017-05-17 15:48] mpearon commented on #736
This is the same as [#517](https://github.com/PowerShell/vscode-powershell/issues/517).  There was a little bit of strategic planning going on in that one, just in case it matters.
I'm excited to see this one happen!

[2017-05-17 15:52] mpearon commented on #692
I don't think I agree with the OP's observations here.  I've only seen this behavior if I changed the default association of PS1s, and I've installed on every machine I've has the opportunity to.
I use a registry modification similar to the one listed above.

[2017-05-17 16:56] daviwil commented on #736
Good catch!  I'll close this one in favor of the other since it came first.  Please subscribe to #517 to be notified when this feature gets implemented.

[2017-05-17 16:56] #736 closed

[2017-05-17 17:27] Jaykul commented on #689
The problem is that this host is missing a lot of things that the normal console host has, like the color settings in $Host.PrivateData, so profiles that work fine in ConHost (or even ISE) don't necessarily work fine here.

[2017-05-17 17:29] daviwil commented on #689
Yep, that's what I'm guessing.  Getting the errors to display is the first step in figuring out what people are doing that isn't supported here yet.  I'll see if I can get the PrivateData support added in the next release or two.

[2017-05-17 21:23] daviwil commented on #702
Looks like this only happens when the output exceeds the Console.BufferHeight and the user types a line longer than the Console.WindowWidth.  PSReadline solves this problem by scrolling the buffer:

https://github.com/lzybkr/PSReadLine/blob/8e851bfadbbe7cd5d898b2f01eb6cf010f684a71/PSReadLine/Render.cs#L473

The cross-platform implementation of ScrollBuffer is here:

https://github.com/PowerShell/P

[2017-05-17 21:26] daviwil commented on #625
Turns out that even if I implement the proper breakpoint sync logic on the server side, VS Code isn't capable of reacting to the BreakpointEvent that would allow me to update the editor's UI once the debugger starts.  I'm going to submit a PR to VS Code to make this work then I'll merge the PSES work once VS Code is capable of handling that event correctly.

The VS Code limitation is tracked here:

[2017-05-17 21:44] #619 closed

[2017-05-17 21:49] wsmelton opened #758 "Format Document is removing tabs"
Does this in both Editions of Code.

### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.12.2 (and Insiders 1.13.0
- PowerShell extension version: 1.0.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with...tabs/spaces when using "format document". If you go the command pallete and run format document, some of the t

[2017-05-17 21:51] daviwil commented on #758
Thanks for the report!  This is already covered by #530 so we'll keep tracking it there.  Great GIF though, I'll steal that for the other issue :)

[2017-05-17 21:51] #758 closed

[2017-05-17 21:51] daviwil commented on #530
Demo GIF stolen from Shawn's other issue:

![tabsspaces](https://cloud.githubusercontent.com/assets/11204251/26177764/ad07d798-3b20-11e7-97c4-252191aad172.gif)

[2017-05-17 22:28] clmcgrath commented on #702
Does simply installing psreadline fix this because I have it installed unless the no profile switch added by vscode disables this

[2017-05-17 22:29] daviwil commented on #702
Nah, PSReadline doesn't work inside of the Integrated Console right now.  Hoping to get that added in June.

[2017-05-17 22:40] clmcgrath commented on #702
Good to hear I miss it lol

On Wed, May 17, 2017, 6:29 PM David Wilson <notifications@github.com> wrote:

[2017-05-17 22:41] daviwil commented on #702
Me too!

[2017-05-17 22:58] SteveL-MSFT opened #759 "Syntax highlighting for variables incorrect where ? is treated as token separator"
$foo?bar = 1

"$foo?bar"

only $foo is highlighted as a variable, this causes confusion to the customer as PowerShell treats $foo?bar as the variable (which is allowed)

PSReadline highlights correctly

[2017-05-17 22:59] daviwil commented on #759
This issue was moved to PowerShell/EditorSyntax#49

[2017-05-17 22:59] #759 closed

[2017-05-17 22:59] daviwil commented on #759
Thanks Steve!  Moved it to the proper repo.

[2017-05-18 01:36] wsmelton commented on #689
My profile.ps1 has no errors in it. PowerShell.exe would show those if it did when loading it (outside of VS Code), and it loads cleanly.

[2017-05-18 01:38] wsmelton commented on #689
My exact profile on my local machine if you want something to test with...

[Microsoft.PowerShell_profile - Copy.txt](https://github.com/PowerShell/vscode-powershell/files/1009526/Microsoft.PowerShell_profile.-.Copy.txt)

[2017-05-18 01:54] rkeithhill commented on #689
@wsmelton  Just to be sure, check $Error right after the integrated console comes up.

[2017-05-18 13:02] wsmelton commented on #689
All clear.

[2017-05-18 15:09] csandfeld opened #760 "Integrated Console prompt problem when posh-git is loaded"
### System Details

- Operating system name and version:
Windows 10 Enterprise Version 1607 (OS Build 14393.1066)

[code]

### Issue Description
Not sure if this is a PowerShell Extension problem, or if it is a posh-git problem (feel free to reject this).

Recently after updating ps extension and vs code (sorry, don't recall from/to what versions) I noticed that when I hit enter at the Integrated

[2017-05-18 17:43] namngo opened #761 "Powershell Integrated Console hangs when starting"
### System Details

- Operating system name and version: Windows 10 x64 build 16193.
- VS Code version: 1.12.2
- PowerShell extension version: v1.0.0
- Output from `$PSVersionTable` (From Window's powershell, not VSCode):

Name                           Value
----                           -----
PSVersion                      5.1.16193.1001
PSEdition                      Desktop
PSCompatibleVersio

[2017-05-18 17:44] daviwil commented on #761
This is an issue in the latest Windows Insider builds, see issue #742.  The workaround that should unblock you for now is here:  https://github.com/PowerShell/vscode-powershell/issues/742#issuecomment-301915916

[2017-05-18 17:44] #761 closed

[2017-05-18 18:39] wsmelton commented on #530
This is in Insider Edition, but similar to above with format document it can only effect the previous line or the whole block of code.
![tabsspaces_2](https://cloud.githubusercontent.com/assets/11204251/26218103/5df4b86a-3bcf-11e7-8408-9e3f56e8f1a1.gif)

[2017-05-18 18:45] wsmelton commented on #530
Ok, so installed 1.1.0 of PS extension and reloaded window...now I don't see the previous behavior anymore.

[2017-05-18 20:05] pcgeek86 commented on #162
Related to this, parameters that are typed as an enumeration are also including snippets in the Intellisense results. Instead, we should limit the results to the enumeration values.

<img width="694" alt="screen shot 2017-05-18 at 11 35 12 am" src="https://cloud.githubusercontent.com/assets/466713/26221233/a0e0f396-3bca-11e7-8006-fb073fa7f678.png">

[2017-05-18 22:03] daviwil opened #763 "Comment help snippet should optionally allow placement inside of function definition"
It seems there are a number of people requesting the ability for our new comment help snippet to place the help string inside of the function body.  We should enable this to work there based on where the user is typing (above function, inside of function above param block, or bottom of function).  Better to be smart about it and place it where the user is typing than making them set an option.

[2017-05-18 22:09] pcgeek86 commented on #763
You beat me to filing this bug. :)

[2017-05-18 22:09] rkeithhill commented on #763
Choice is good. :-)

[2017-05-18 22:10] daviwil commented on #763
PSScriptAnalyzer can already do it, we've just got to wire it up :)

https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/ProvideCommentHelp.md

[2017-05-18 22:26] pcgeek86 commented on #760
@csandfeld Have you tried to reproduce this issue in the PowerShell console host? I don't immediately have access to a Windows 10 instance, but might have time to repro this later. Thanks for all the details, including the GIF.

[2017-05-18 23:33] kapilmb commented on #530
@wsmelton Is your `formatOnType` option set to `true` ? If that is the case, this behavior, even though not desirable, is expected. This should get fixed once we enable `tabs` for indentation.

The code formatter indents lines that have language constructs on them. Therefore, for some lines leading tabs get converted to spaces while for others they don't.

[2017-05-18 23:34] darksidemilk opened #764 "Feature request for new comment block"
A customizable file header type situation would be pretty cool.
Things like a default synopsis that includes a custom heading with author that pulls current user, update time, created time, stuff like that.
Also a .LINK comment with a customizable text entry to make linking to internal online powershell documentation easier.

Also thanks for making the comment block snippet at all, it's amazing.

[2017-05-19 03:30] #710 closed

[2017-05-19 04:01] pcgeek86 commented on #764
I would recommend using VSCode User Snippets for this sort of custom header. Does this seem like a reasonable solution to you?

http://stackoverflow.com/questions/29995863/how-to-add-custom-code-snippets-in-vscode

[2017-05-19 04:03] daviwil commented on #764
I think in this case he's asking for added customization in the new comment help block feature we added  today.  It's definitely something we can do but might not come immediately.

[2017-05-19 04:03] pcgeek86 commented on #755
@mbsj I've seen cases where VSCode extensions can step on each others' toes. I know it's not the easiest thing to do, but would you mind removing the other extensions that you have installed and seeing if the issue persists?

[2017-05-19 07:42] Graham-Beer opened #766 "Integrated Console hanging..."
### System Details

- Operating system name and version: Windows 10 Build 16199.rs_prerelease.170513-2252
- VS Code version: 1.12.2
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]
PS C:\Users\gbeer> code -v
1.12.2
19222cdc84ce72202478ba1cec5cb557b71163de
PS C:\Users\gbeer> $pseditor.EditorServicesVersion
PS C:\Users\gbeer> code --list-extensions --show-versions
AdamCavines

[2017-05-19 08:43] csandfeld commented on #760
@pcgeek86 Problem does not exist in the regular (non-integrated) PowerShell console

[2017-05-19 09:19] mbsj commented on #755
I ran through the extensions and it turns out that i was the [colorize](https://marketplace.visualstudio.com/items?itemName=kamikillerto.vscode-colorize) extension that tripped it up. At least it wasn't an essential extension :)

[2017-05-19 09:21] bgelens commented on #766
Same as #742. See workaround https://github.com/PowerShell/vscode-powershell/issues/742#issuecomment-301915916

[2017-05-19 09:43] Graham-Beer commented on #766
Thanks bgelens, missed that one :)

[2017-05-19 09:44] Graham-Beer commented on #742
Thank you @daviwil, workaround worked a treat.

[2017-05-19 10:41] DexterPOSH commented on #550
This is a pain, typing the commands again and again on the interactive console while debugging. Hoping this gets fixed soon.

[2017-05-19 10:53] DexterPOSH commented on #742
Aha! It works, now I can start moving away from the ConEmu 😄 .

[2017-05-19 12:05] lipkau opened #767 "Built-in PowerShell snippets can't be tabbed through"
### System Details
- Operating system name and version: `10.0.14393.1066`
- VS Code version: `1.13.0-insider    613724d43b4d50f6052bbb8007447ca96e687f26`
- PowerShell extension version: `ms-vscode.PowerShell@1.1.0`

### Issue Description
When using a snippet from the extension, the placeholder are missing and the tab jumps are not working.
Screen recording of the problem:
![2017-05-19_13-16-38](ht

[2017-05-19 12:23] csandfeld commented on #737
For me the integrated console hangs when I run the "PowerShell: Restart Current Session" command. Not sure if that is related, or if it should be logged as an issue of its own.

[2017-05-19 12:35] PowerSchill commented on #767
I can confirm the same issue on MacOS

ProductName:    Mac OS X
ProductVersion: 10.12.5
BuildVersion:   16F73

1.13.0-insider
ec76a9fc5146b822cdb14b982ac3e5b470dd646a

[2017-05-19 13:18] daviwil commented on #766
Thanks Ben!

[2017-05-19 13:18] #766 closed

[2017-05-19 13:21] daviwil commented on #737
I think it's the same issue, I'll look into it today.

[2017-05-19 13:30] daviwil commented on #767
Argh, they probably changed something again, I'll look into it.

[2017-05-19 13:54] pcgeek86 commented on #755
Awesome! Thanks for investigating this further. I'm going to close this out for now, but feel free to comment back here so we can reopen it if you find out something new related to this.

[2017-05-19 13:54] #755 closed

[2017-05-19 14:01] darksidemilk commented on #764
@daviwil got it. I certainly wouldn't expect it to be an immediate thing. Just noticed the request in the change log for feature requests regarding the comment block and wanted to do my small part.

[2017-05-19 14:21] daviwil commented on #764
Absolutely, I appreciate your input!

[2017-05-19 14:22] wsmelton commented on #530
@kapilmb it is set to false, default in user settings.

[2017-05-19 14:31] lipkau opened #768 "Feature request: generate help for Input and Output"
### Description
With the new feature of auto generating the help comments, I would appreciate the following features:
* generating `.INPUT`
* generating `.OUTPUT`
* appending `[OutputType()]`

[2017-05-19 14:33] daviwil commented on #768
Thanks Oliver!

[2017-05-19 16:23] PowerSchill opened #769 "Feature Request: Add support for anonymous functions to new comment functionality"
Could the new comment insert be updated to support anonymous functions?

Perhaps triggering when the first subsequent non-comment line is `[CmdletBinding()]`

Example:
[code]

[2017-05-19 17:50] daviwil commented on #769
We'll look into it!

[2017-05-19 18:00] daviwil opened #770 "Custom prompt function is written twice when Integrated Console appears"
Changing profile script output in 1.1.0 has inadvertently caused custom prompt functions to be written twice when the Integrated Console starts up:

![image](https://cloud.githubusercontent.com/assets/79405/26260504/52fbc6fc-3c82-11e7-84e9-ac3610ec6714.png)

/cc @nightroman

[2017-05-19 18:29] nightroman commented on #660
And the opposite is true, in a way. Namely,

- set a breakpoint by F9 is a script
- in the terminal invoke `Get-PSBreakpoint`

As a result, the BP is not in the output.
Also, if I invoke this script from the terminal then the BP is not hit.

Is it the related issue or should I open another?

[2017-05-19 18:32] daviwil commented on #455
This just got fixed in the 1.1.0 update, let me know if it works for you after you upgrade!

[2017-05-19 18:32] #455 closed

[2017-05-19 18:33] daviwil commented on #667
This should be fixed in 1.0.0, do you still see the issue anymore?

[2017-05-19 18:33] #667 closed

[2017-05-19 18:34] daviwil commented on #677
Hi @paccer-cn, this should be working for you now in 1.1.0!

[2017-05-19 18:34] #677 closed

[2017-05-19 18:36] daviwil commented on #660
I don't think there's an issue for it specifically right now, but this is actually a problem with VS Code's debugger model.  When you click a breakpoint in a file when the debugger isn't running, they don't send me any notification that the breakpoint was created.  They wait until the user starts the debugger before sending the breakpoints to my debug server.  I'm trying to get them to expand thei

[2017-05-19 19:02] kapilmb commented on #530
If `formatOnType` is set to `$false`, then this behavior is unexpected. I will dig into the issue to see what is going on here.

What things about `formatOnType=$true` annoyed you, if you don't mind sharing? Initially when we enabled that feature, the experience was not optimal. But we have been polishing the experience almost every release and I think the experience is decent as of now, but opini

[2017-05-19 19:09] nightroman commented on #660
I am looking forward to this development. It's probably too early to file all hiccups in debugging.

I am playing with some useful scenarios in VS Code debugger, e.g. automatically breaking into the debugger and opening scripts on terminating errors at the point of failure. It's promising but not quite reliable yet.

[2017-05-19 19:10] daviwil commented on #660
Definitely not too early!  File everything that you run across that doesn't work well for you, I'm hoping to polish out most of the issues over the next couple of months.

[2017-05-19 19:12] nightroman commented on #660
All right, I will create some issues then after a while when I get more facts.

[2017-05-19 19:16] daviwil commented on #660
Thanks Roman!

[2017-05-19 19:41] OneCyrus commented on #455
just tried it and it looks perfect. no issues.  thank you!

[2017-05-19 19:58] MaximoTrinidad commented on #742
@daviwil !  Thanks for the workaround. It work on both VS Code April release and in the latest VS Code Insider.

:)

[2017-05-19 19:59] daviwil commented on #455
Awesome, thanks for confirming!

[2017-05-19 20:07] csharmath opened #771 "Help snippet can be slow with large files having 100+ functions"
### System Details

- Operating system name and version: Windows 7 Enterprise
- VS Code version: VS Code Insiders 1.13.0-insider
- PowerShell extension version: 1.1.0
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.14409.1005
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0,

[2017-05-19 20:14] nightroman commented on #660
Here is the just published little debugging tool with the steps described in its comments:
https://www.powershellgallery.com/packages/Debug-Error

It works. But sometimes with some combination of factors it does not...

[2017-05-19 20:17] daviwil commented on #660
That's really clever!  You know, VS Code has a setting to break on exceptions that we can plug into.  Would you be interested in contributing this approach as a feature in PSES and the PowerShell extension?

[2017-05-19 20:18] daviwil commented on #771
Yikes!  Thanks a lot for the report, we'll take a look.

/cc @kapilmb

[2017-05-19 20:31] nightroman commented on #660
Why not? Let see how it works (hoping for some feedback). I am still playing with this and trying to use in Invoke-Build tasks troubleshooting in VSCode. To be honest, I started to use VSCode just recently because I was happy with my own sort of script IDE, PowerShellFar for Far Manger.

[2017-05-19 20:37] rkeithhill commented on #660
I've been waiting on @PaulHigin to add the ability to break on unhandled terminating error and it hasn't happened yet AFAIK.  This could be interesting way point until we get the built-in support in the debugger.

[2017-05-19 20:39] daviwil commented on #660
Yep, I think this could work in enough scenarios to satisfy the need in the short term, and on older PowerShell versions.

Roman, feel free to send an e-mail anytime with questions about how to get this hooked up.  I'm looking for the docs on the high level details right now, I'll pass them along to you soon.

[2017-05-19 20:51] daviwil commented on #660
Looks like the debug adapter protocol wants us to return the [`exceptionBreakpointFilters`](https://github.com/Microsoft/vscode-debugadapter-node/blob/master/protocol/src/debugProtocol.ts#L964) capability when it asks us to initialize so that it shows an exception breakpoint option in the UI:

We're returning this capabilities object here:

https://github.com/PowerShell/PowerShellEditorServices/bl

[2017-05-19 20:53] kapilmb commented on #771
I know why this is happening. We will get this fixed next release.

[2017-05-20 07:36] johlju commented on #667
@daviwil  I can't see this issue anymore (tested in v1.1.0.). Thanks a lot for fixing this. Saves seconds each debug. 😄

[2017-05-20 11:08] johlju opened #772 "PSSA: Variable is reported never assigned, but it is"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I got variables saying they are not assigned... but they are.  If thinking of `$testParameters`. Those variables starting with `$mockDynamic*` I can understand that they are reporting this, because they are used in a "dynamic s

[2017-05-20 14:56] daviwil commented on #667
No problem, thanks for confirming!

[2017-05-20 18:08] kapilmb commented on #772
Pester dot sources the script block given to `BeforeEach` in the corresponding `Context` scope. However, there is no way for PSSA to know about this dot-sourcing operation just through static analysis. Hence, unfortunately, the only way around this issue right now is to suppress the violations. More information about suppression can be found [here](https://github.com/PowerShell/PSScriptAnalyzer#su

[2017-05-20 18:51] johlju commented on #772
Yes, that makes sense. I have never seen those warnings before when coding in VS Code. It's after this latest version so I figured something was wrong.
But then we file this under "by design" and use that workaround if it gets too annoying :smile:

Thanks!

[2017-05-20 18:51] #772 closed

[2017-05-21 05:05] wsmelton commented on #530
@kapilmb it is strictly personal opinion/preference. If I am typing out code, whether according to my format rules/settings or not, having it change whenever I hit enter just takes my focus off of where my cursor was/is. So strictly a preference for me.

I mean maybe if it paused to format the block of text with a double-enter before actually formatting...I might turn it back on. Consider if you a

[2017-05-22 02:50] brwilkinson opened #773 "Please add extra functionality to $pseditor similar to $psise"
I would like to save files using the command line in VSCODE.

Please add $psise.CurrentFile.SaveAs()

[2017-05-22 08:05] michelderooij commented on #742
Bit late to the party, but thanks for the workaround (y)

[2017-05-22 15:12] PowerSchill commented on #773
Tagging on to this request, I would also like to be able to get information about VSCode as well. Specifically the version of VSCode.

[2017-05-22 15:34] PowerSchill opened #774 "Pressing enter does not cause the prompt to be redisplayed"
### System Details

- Windows 10 Build 10586
- VS Code version: 1.13.0
- PowerShell extension version: 1.1.0

Name                           Value
----                           -----
PSVersion                      5.0.10586.672
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.672
CLRVersion                     4.0.30319.42000
WSManStackVersion

[2017-05-22 17:18] deathly809 opened #775 "Language server startup failed: PowerShellEditorServices missing."
### System Details

- Operating system name and version:
Ubuntu 16.04

- VS Code version:
1.12.2

- PowerShell extension version:
1.1.0

- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      6.0.0-alpha
PSEdition                      Core
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2017-05-22 17:19] daviwil commented on #774
Thanks Mark!

[2017-05-22 17:24] daviwil commented on #775
Thanks @deathly809!  Sorry for the trouble with getting that error message, the terminal is supposed to stay open for a bit on error so that you can copy it.  I think I missed a case in the startup script which didn't catch this error case.

Can you give me the output of running these commands in PowerShell outside of VS Code:

[code]

[2017-05-22 17:29] deathly809 commented on #775
gci $HOME/.vscode/extensions/ms-vscode.PowerShell-1.1.0/modules
[code]

Get-Module -ListAvailable $HOME/.vscode/extensions/ms-vscode.PowerShell-1.1.0/modules/PowerShellEditorServices/PowerShellEditorServices.psd1

[code]

Get-Module -ListAvailable
[code]

[2017-05-22 17:31] daviwil commented on #775
Something is wrong here, the modules folder should not be empty.  How did you install the extension, via the VS Code Extensions pane?  Can you give me the output of this command:

[code]

[2017-05-22 17:33] deathly809 commented on #775
I installed through VSCode.

I see the problem, it is lowercase on Linux (powershell, not PowerShell).  Here is the original command with lowercase PowerShell

[code]

[2017-05-22 17:36] daviwil commented on #775
Hmmm, that's strange, I wonder if VS Code changed how they deal with paths when they install extensions.  Thanks for pointing this out, I'll try to get it fixed soon!

[2017-05-22 17:36] daviwil commented on #775
By the way, was this working for you successfully in the past or is this the first time you've tried to use VS Code and the PowerShell extension on Ubuntu?

[2017-05-22 17:38] deathly809 commented on #775
I have only just started using it and I don't recall it ever working.

[2017-05-22 18:38] triplec110h opened #776 "Unassigned variable rule does not consider += operator to be an assignment"
### System Details

- Operating system name and version:
- VS Code version: 1.12.2
- PowerShell extension version: 1.1.0
- Output from `$PSVersionTable`:
[code]

### Issue Description

I am experiencing a problem with...
PSES says variable is assigned but never used. It is used just below - see screenshot
![2017-05-22_11-36-46](https://cloud.githubusercontent.com/assets/21696527/26323258/015f9d06-

[2017-05-22 18:53] daviwil commented on #776
Hey @kapilmb, is there a bug tracking this already?  Seems like I've seen one but I can't find it.

[2017-05-22 18:55] kapilmb commented on #776
This is a known bug with the `PSUseDeclaredVarsMoreThanAssignments` rule. It is been tracked at PowerShell/PSScriptAnalyzer#636.

[2017-05-22 18:57] daviwil commented on #776
Thanks!  I'll keep this bug open to track the issue for the next update, but the fix will come as a part of the next PSScriptAnalyzer update.

[2017-05-22 19:31] johlju commented on #776
Maybe you are thinking of #772? I closed it since it was by design (how Oeater script works). But yesterday I saw the same problem in a normal PowerShell module when the variable was used in a script block, but assigned outside of the script block. Haven't had the time to submit an issue for that yet.

[2017-05-22 20:21] daviwil commented on #776
Yeah! That's the one :)

[2017-05-22 20:40] kapilmb commented on #776
On the surface [#772](https://github.com/PowerShell/vscode-powershell/issues/772) looks similar to this case but they are different. In [#772](https://github.com/PowerShell/vscode-powershell/issues/772), there is no way for PSSA to know if `$testParmeters` is in the same scope as that of the following `it` statements, as PSSA doesn't know what Pester does with those script blocks. But in this case

[2017-05-23 00:29] lennyi commented on #775
I believe I'm having a similar issue on OS X 10.12.5.
[code]

The language service fails to initialize with the following error:

[code]

I've had this behavior since I installed the extension a few weeks back and just now got around to troubleshooting it.  When I run the `Start-EditorServices.ps1` script from my terminal this is my output:

[code]

Output from `Get-module`:
[code]

Notice in the

[2017-05-23 03:10] daviwil commented on #775
Ahh!  Sorry guys, I just realized what the problem is.  You both need to upgrade to PowerShell 6.0.0-alpha.18 or higher.  I'd recommend [6.0.0-beta.1](https://github.com/PowerShell/PowerShell/releases/tag/v6.0.0-beta.1).  Once you install that version of PowerShell everything should start working.

[2017-05-23 03:21] alexaymonier commented on #753
Yeah getting that too

[2017-05-23 06:58] ctsstc commented on #508
How can I get stroustrup style for my if else statement blocks, I'm going crazy here.

[2017-05-23 14:20] daviwil commented on #508
@ctsstc follow this issue, we're fixing it soon: https://github.com/PowerShell/vscode-powershell/issues/740

[2017-05-23 14:21] daviwil commented on #508
But before I go too far in assuming what you mean, can you give an example of what you're looking for?

[2017-05-23 14:28] kvprasoon opened #777 "Change "Starting PowerShell" message when Integrated Console starts up"
Integrated terminal is awesome, especially when it is PowerShell.
But it always shows "Starting PowerShell..." even if is started.

![image](https://cloud.githubusercontent.com/assets/12897753/26291248/9fff902e-3eca-11e7-8c44-74bd458a274e.png)

We would like our awesome editor to its maximum perfection.

### System Details

- Operating system name and version: Windows 10 (10586.916)
- VS Code vers

[2017-05-23 14:33] daviwil commented on #777
That's because "Starting PowerShell..." is output.  If you type "Get-Process", the output will push it out of the screen.  Are you asking for it to never be displayed?

[2017-05-23 14:35] PowerSchill commented on #777
He might be referring to #742

[2017-05-23 15:00] daviwil commented on #777
That's what I thought at first, but he's not using a Windows Insider build.

[2017-05-23 15:19] rkeithhill commented on #777
You can put `Clear-Host` in your `C:\Users\<username>\Documents\WindowsPowerShell\Microsoft.VSCode_profile.ps1` and that will clear this message when the profile script is processed.

[2017-05-23 15:21] daviwil commented on #777
I wonder if more people are annoyed by the message?  I considered that when I added it, but I thought that maybe having it there was helpful to indicate that you're in the Integrated Console.

[2017-05-23 15:27] rkeithhill commented on #777
Maybe it's the transient nature of the message that might be teensy bit confusing.  Taking a page from the powershell.exe:
![image](https://cloud.githubusercontent.com/assets/5177512/26361968/d06aee6e-3f99-11e7-8062-e21b7768b083.png)
What if you modified the message to:
[code]

[2017-05-23 15:28] daviwil commented on #777
Yeah, I think that's the right way to do it.

[2017-05-23 21:59] daviwil opened #778 "PSScriptAnalyzer rule markers should include quick fix option for "Suppress this rule""
It'd be nice if our markers from PSScriptAnalyzer rules included quick fix options that would enable the user to suppress a rule violation either at the source location (SuppressMessageAttribute) or in the PSScriptAnalyzerSettings.psd1. This may not be needed for every rule, but it could be something we could generalize to make it easy to standardize.

Here's an example where this would be helpful

[2017-05-24 03:12] kvprasoon commented on #777
or We can have the Starting PowerShell message in the Status bar, where we see icons of error and warning !!! (and clear it once started).

![image](https://cloud.githubusercontent.com/assets/12897753/26385374/d9502120-405c-11e7-940d-aa9a2534e607.png)

[2017-05-24 03:17] rkeithhill commented on #777
The status bar message already exists:
![image](https://cloud.githubusercontent.com/assets/5177512/26385432/e775c576-3ffc-11e7-86ac-e4dee42d13b0.png)
The "want", as @daviwil says above, is to provide a way to help folks know when they are in the `PowerShell Integrated Console` vs a normal `PowerShell` terminal.

[2017-05-24 04:43] rkeithhill commented on #162
@pcgeek86 What completions do you get from PowerShell console / PSReadline for this parameter?

[2017-05-24 15:42] pcgeek86 commented on #162
![new-eccachecluster](https://cloud.githubusercontent.com/assets/466713/26412230/e21450c4-405c-11e7-8702-c81660a01ccb.gif)

@rkeithhill

[2017-05-24 16:07] daviwil commented on #775
Closing this issue for now since I think a PowerShell Core upgrade fixes the issue.  If this is not the case, let me know and I'll reopen for investigation.  Thanks!

[2017-05-24 16:07] #775 closed

[2017-05-24 16:09] daviwil commented on #162
Seems that we're giving snippet completions in some places where they aren't needed.  I'll check to see if there's a way to contextually suppress snippet completion items.

[2017-05-24 16:21] daviwil commented on #628
Hey @grumpkin, do you still see this issue in version 1.1.0 of the PowerShell extension?  In theory it should work now.

[2017-05-24 16:57] rkeithhill commented on #162
This broke somewhere between 0.12.2:
![image](https://cloud.githubusercontent.com/assets/5177512/26415404/9dc8469c-406f-11e7-8947-3535e9c47433.png)

and 1.1.0:

![image](https://cloud.githubusercontent.com/assets/5177512/26415456/c978dc84-406f-11e7-9017-348dfe561162.png)

[2017-05-24 16:59] pcgeek86 commented on #162
@rkeithhill Isn't that kind of comparing apples and oranges though? Parameter name vs. parameter value.

[2017-05-24 17:02] rkeithhill commented on #162
Yes.  Sorry hands typing `-` by themselves. Not what I meant to do.  :-)  Still, same result for 0.12.2 (other than icon):

![image](https://cloud.githubusercontent.com/assets/5177512/26415613/5e9ef7a8-4070-11e7-969a-98363c81665a.png)

Note: no scroll bar or extra completion items.

[2017-05-24 17:02] daviwil commented on #162
It is likely that something did break between 0.12.2 and 1.0.0, we changed the version of the language server client in the PowerShell extension and upgraded to the new LSP version in PSES.  I bet we forgot to wire something up.  Thanks for figuring that out Keith, I'll see if I can find tthe mismatch.

[2017-05-24 17:15] kvprasoon commented on #777
@rkeithhill  my bad, I didn't noticed it. Then I think that is more than sufficient .

[2017-05-24 20:38] #763 closed

[2017-05-24 20:47] daviwil commented on #771
Fixed with PR https://github.com/PowerShell/PowerShellEditorServices/pull/459.

[2017-05-24 20:47] #771 closed

[2017-05-25 08:09] ctsstc commented on #508
@daviwil http://eslint.org/docs/rules/brace-style
[code]

[2017-05-25 10:02] Josverl opened #781 "Markers from PSScriptAnalyzer should include the rule name"
I find the integration of scrip analyzer very helpful,
however sometimes there is a need to suppress a specific warning or error.

That can be done by adding decorating the code with something like
`[Diagnostics.CodeAnalysis.SuppressMessageAttribute("PSProvideCommentHelp", "")]`

the key here is that I need to look up the PSSA RuleName, that is not easily referenced searchable based on the informa

[2017-05-25 11:56] wsmelton opened #782 "Extension host crashes after closing Integrated Console terminal"
### System Details

- Operating system name and version: Windows 10 Pro
- VS Code version: 1.13.0-insider
- PowerShell extension version: 5.1
- Output from `$PSVersionTable`:

[code]

### Issue Description

In cases where the integrated terminal is causing code to run differently (can't explain fully but it does not compared to PowerShell.exe), I want to close the PowerShell Integrated Terminal.

[2017-05-25 13:08] daviwil commented on #782
There seems to be a bug here in general, thanks for letting me know about it.  You can disable loading of the integrated console entirely by using this setting:

[code]

Note that this will disable all language features so IntelliSense, etc won't work while this is set to false.  Another option is just to not show the PowerShell Integrated Console when you first open a PowerShell file:

[code]

La

[2017-05-25 13:10] daviwil commented on #781
Hey Jos, thanks for the feedback!  Issue #778 might be interesting to you, we plan to add "quick fix" options for adding rule suppressions so that you don't need to know exactly what to type for that.

I agree though, we definitely need to display the PSScriptAnalyzer rule name in the marker message so that it's easy to know what needs to be disabled.  We'll add that!

[2017-05-25 13:34] domhnal opened #784 "Loading temporary ExtensionService script causes error loop when execution policy locked to AllSigned"
### System Details

- Operating system name and version: Windows 10 Pro v1607
- VS Code version: 1.12.2
- PowerShell extension version:  1.1.0
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.14393.1066
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersi

[2017-05-25 13:41] daviwil commented on #784
Weird...  Not sure why the error keeps getting written repeatedly, looks like it's getting stuck in a loop.  Will investigate!

[2017-05-25 15:02] Jaykul commented on #508
@ctsstc Stroustrup and Allman are the only styles it does right now. Worst of the worst. 😛

I think it works like this:

## Stroustrup
[code]

## Allman
[code]

[2017-05-25 15:07] daviwil opened #785 "Integrated Console input not added to history if there is a parse failure"
If you type a command into the Integrated Console and it returns an error due to parsing the input text, the input line is not added to the user's command history.

[2017-05-25 15:29] daviwil commented on #508
@ctsstc your desired style is the default in our code formatter.  Can you give an example of where our default formatting does not follow that style?

[2017-05-25 18:32] daviwil opened #786 "Running "Show Integrated Console" command should start the extension"
The "PowerShell: Show Integrated Console" command currently doesn't cause the extension to be loaded if it isn't already.  It should start the extension and show the integrated console.

/cc @PowerSchill

[2017-05-26 09:51] johlju commented on #776
I got another example of the problem @triplec110h describing.

Only one of the variable `$result` is saying 'is assigned but never used'.

![image](https://cloud.githubusercontent.com/assets/7189721/26489807/23bc4e8e-4209-11e7-914d-f5b2b97e92b2.png)

![image](https://cloud.githubusercontent.com/assets/7189721/26489905/8c1fd4e6-4209-11e7-937e-1c85908af7e6.png)

[2017-05-26 16:34] cmcknz77 commented on #603
New version of VSCode installed - May 2017 (version 1.12.2)
Powershell Extension upgraded to 1.1.0
Problem remains as described above - new logs attached.
System Details
Operating system name and version: Windows 10 - x64 - 10.0.14393
VS Code version: 1.12.2
PowerShell extension version: 1.1.0
Output from $PSVersionTable:
PSVersion 5.1.14393.953
PSEdition Desktop
PSCompatibleVersions {1.0, 2.0, 3.

[2017-05-26 17:16] daviwil commented on #603
Thanks @cmcknz77!  There's definitely an exception happening during initialization that we're not capturing in a way that you can observe.  Can you try these steps:

1. Open the file `C:\Users\cmckenzie\.vscode\extensions\ms-vscode.powershell-1.1.0\scripts\Start-EditorServices.ps1` in the editor
2. Replace its contents entirely with the contents of this script: https://raw.githubusercontent.com/da

[2017-05-26 18:36] kapilmb commented on #776
@johlju Thanks for the example. This is a bug that we want address as soon as possible. But due to the complexity of the *right* solution we have not been able to devote enough cycles to solving it yet. But we will definitely try to address most if not all issues related to this rule, in the next few releases.

[2017-05-26 22:55] daviwil opened #787 "Add TaskProvider implementation for dynamic task generation"
In the upcoming 1.13.0 release, VS Code will be getting a new "task provider" API which will allow us to automatically populate the "Task: Run Task" menu with a task list that we generate from code.  This would be really useful for scooping the task names out of a psake or Invoke-Build script so that the user can run them easily.

There isn't any documentation yet but the API shape is here:

https

[2017-05-26 22:57] daviwil commented on #259
This will be possible in the very near future thanks to VS Code's new explorer tree API:

- https://github.com/Microsoft/vscode/issues/26948
- https://github.com/Microsoft/vscode-extension-samples/tree/master/tree-explorer-sample

[2017-05-27 07:13] nightroman commented on #787
[New-VSCodeTask.ps1]: https://github.com/nightroman/Invoke-Build/blob/master/New-VSCodeTask.ps1
[tasks.json]: https://github.com/PowerShell/PowerShellEditorServices/blob/master/.vscode/tasks.json

@daviwil
This is going to be really useful.

I have a question related to Invoke-Build. There is a tool [New-VSCodeTask.ps1]
which generates VSCode tasks bound to Invoke-Build tasks. You are probably
awa

[2017-05-27 12:01] ValMos commented on #603
@cmcknz77, I think, that you can specify "powershell.developer.powerShellExePath" (https://github.com/PowerShell/PowerShell/blob/master/docs/learning-powershell/using-vscode.md) to resolve this problem.
In my case, correct path was:
"powershell.developer.powerShellExePath": "C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe".

[2017-05-27 14:54] daviwil commented on #787
Hey Roman!  Yep, I definitely know about it.  I haven't used it because I'm pretty comfortable editing the tasks.json file.  I'll give it a try though!  You may not need to maintain that script much longer if the PowerShell extension will be able to get the list of tasks on its own.

Does the output encoding issue still exist with the new 2.0.0 version of the task runner that uses the Integrated T

[2017-05-27 15:25] Ghoshnik commented on #603
Thanks @daviwil . I had same issue with VScode on linux. That did the trick for me!

[2017-05-27 15:46] daviwil commented on #603
@Ghoshnik interesting, this script shouldn't have fixed anything, it just prints out more diagnostic information.  Can you tell me what version of PowerShell Core you're using on Linux?

[2017-05-27 16:27] Ghoshnik commented on #603
Weird.

Name                           Value
----                           -----
PSVersion                      6.0.0-beta
PSEdition                      Core
BuildVersion                   3.0.0.0

[2017-05-27 16:29] daviwil commented on #603
Thanks!  That's the right version to use for now.  What was happening before, the Integrated Console just wouldn't start?  I'll have to look at my script change a little more closely to see if there's an explanation for why it might have resolved that.

[2017-05-27 17:22] rkeithhill commented on #787
@nightroman In addition to the encoding issue see https://github.com/Microsoft/vscode/issues/15179#issuecomment-274634088.  Adding tasks to an existing tasks.json is a pain.  And you do need to be able to add to existing tasks.json files.  I frequently have my own custom tasks defined so modifications need to be additive.

Frankly I was hoping they would go with a file-based approach e.g.: psmodul

[2017-05-27 17:57] daviwil commented on #787
I think the new API allows you to do exactly what you would hope for: making your own file-based approach.  An extension could add a task provider that can pull tasks from any file type containing tasks (MSBuild, PowerShell build scripts, Gulp, etc).  I believe this should work in addition to the existing tasks.json file.

As far as Plaster plugging into this is concerned, when Plaster starts to p

[2017-05-28 12:08] nightroman commented on #787
@daviwil

I think so. Unless I am using a different version or do something not quite right. How can I check?

Perhaps much more that 90%. Yet I have some doubts on guessing about the default
script and getting tasks by parsing. There may be unknown "rules". Some tasks
may be imported, task names may be dynamic (not literal strings), or script
location/name may be not standard for the given worksp

[2017-05-28 12:31] nightroman commented on #787
@rkeithhill

to add to existing tasks.json files. I frequently have my own custom tasks
defined so modifications need to be additive.

I agree with every sentence. I was planning to support this in *New-VSCodeTask.ps1*,
to some extent. But now I am not sure because the PowerShell integrated console
came to VSCode and now task providers are coming, too.

Frankly, the integrated console alone made *

[2017-05-28 13:13] daviwil commented on #787
@nightroman In a tasks.json file, set the `version` field to `"2.0.0"`, restart VS Code, then run a task which prints output that typically doesn't work in task output.  The task will be run inside of an integrated terminal window so it should print everything out acceptably.

Thanks for the example on getting Invoke-Build tasks!  You're right, just parsing the build script won't be good enough.

[2017-05-28 16:11] nightroman commented on #787
@daviwil I tried `"version": "0.2.0"` (you probably mean this, not 2.0.0), the problem is still there.
The PS integrated console does not have this problem.

[2017-05-28 16:23] daviwil commented on #787
I definitely meant `"2.0.0"`, I don't know why they jumped from `"0.1.0"` to `"2.0.0"` though :)

[2017-05-28 17:18] nightroman commented on #787
Ah, at first I tried 2.0.0, it failed to start, so I thought it was a typo.

I tried again, this time I also changed the format of *tasks.json* (to be like
yours). It works now and the problem seems to be fixed, non-ASCII is shown fine.

There is one difference though, not sure if it is important or not.
The task I use for testing the output:

[code]

When I run it as VSCode task:

[code]

When I

[2017-05-28 21:58] daviwil opened #788 "psedit is missing when you use Enter-PSSession against localhost"
Repro steps:

[code]

The result is an error stating that `psedit` isn't a valid command.

/cc @alexandair

[2017-05-28 22:10] daviwil opened #789 "psedit is missing when in a "remote" session to a container or VM"
Seems that we might not be handling connections through named pipes or VMBus correctly. Also need to check SSH remoting to make sure it works.

/cc @alexandair

[2017-05-28 22:19] daviwil opened #790 "Investigate the possibility of a remote file browser using the new TreeProvider APIs"
This would be pretty useful for opening files when connected to a remote session.

[2017-05-29 07:05] nightroman commented on #787
@daviwil

FWIW, I have updated [New-VSCodeTask](https://www.powershellgallery.com/packages/New-VSCodeTask).

It uses the terminal 2.0.0, it does not need the work around output encoding,
and it is cross-platform (in theory, cannot test). The generated JSON file is
almost like your manually created [tasks.json].

[tasks.json]: https://github.com/PowerShell/PowerShellEditorServices/blob/master/.vsco

[2017-05-29 14:20] claudiospizzi commented on #372
Hi David

Same issue on my system. If I start Visual Studio Code with the PowerShell extension when I'm completely offline, like in the train, the PowerShell host is starting forever:
![image](https://cloud.githubusercontent.com/assets/1934246/26553018/055d19b8-448a-11e7-82c9-be3d1a04a8e9.png)

This are the log files:
[EditorServices.txt](https://github.com/PowerShell/vscode-powershell/files/10360

[2017-05-29 16:35] daviwil commented on #787
Looks like the default codepage in PowerShell is set to the one that's used by default on your system.  For the Integrated Console I'm setting it to UTF-8 on purpose to avoid some issues that users have seen with characters in their language.  I don't think there's anything to worry about there.

Thanks for updating your script, i'll have to give it a try!

[2017-05-30 05:10] ZodmanPerth commented on #742
Workaround doesn't help me at work because the script is blocked by group policy.
Will this be fixed in the next release?

[2017-05-30 08:02] jaapbrasser commented on #742
Even without administrative right you can change your ExecutionPolicy on the system, if you run the following you should be fine:

    Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope CurrentUser

[2017-05-30 10:59] egamma opened #791 "Heads up: Powershell snippet mixup variables with placeholders"
The syntax has been been made stricter some time ago
https://code.visualstudio.com/docs/editor/userdefinedsnippets#_snippet-syntax and we are now emitting warnings.

@daviwil these are the warnings I get in the latest insiders
[code]

[2017-05-30 13:28] daviwil commented on #791
Thanks for letting me know!  I've had reports recently (https://github.com/PowerShell/vscode-powershell/issues/767) of some of our snippet placeholders not working correctly, I'll fix those up in this week's release.

[2017-05-30 13:30] daviwil commented on #742
@ZodmanPerth not much I can personally do about it right now, this is an issue caused by changes to Windows' console implementation in the latest Insider builds.  I'm still waiting for a fix on their side.

[2017-05-30 13:31] daviwil commented on #742
Actually, I could possibly do a temporary fix inside of the language server to change the thing I'm doing that's triggering Windows console's bug, let me look into it for this week's release.

[2017-05-30 14:47] ChristopherGLewis opened #792 "Powershell Integrated Console colors wrong"
The Powershell IC doesn't display certain background and foreground colors the same as the ISE and CMD.Exe shell.

Main issue is a Background color of `BLACK` shows up as white, `GRAY` shows up as dark gray, `DARK GRAY` shows up as gray, and `WHITE` shows up as a third gray.

Also, when foreground and background are the same color, the IC defaults to white on white.

Simple script to test
[code]

[2017-05-30 15:00] daviwil commented on #792
Thanks for the repro script Chris! Seems like this may be an issue with VS Code's terminal implementation, I get the same results both in the PowerShell Integrated Console and the normal integrated terminal running powershell.exe.

Here's what it looks like for me from within powershell.exe (ignore the exact colors, I'm using a theme):

![image](https://cloud.githubusercontent.com/assets/79405/265

[2017-05-30 15:02] daviwil commented on #792
Hey @Tyriar, do you have any ideas on what might be going on with the terminal colors here?

[2017-05-30 15:25] Tyriar commented on #792
So winpty will transform the powershell colors to xterm escape sequences that are read and displayed by xterm.js. AFAIK there is no issue with the xterm.js logic so maybe there is a problem with winpty translating these?

[2017-05-30 16:37] rkeithhill commented on #791
Oops. Some (most?) of those are my bad.  Well, good that they are issue warnings now.

[2017-05-30 19:57] #770 closed

[2017-05-30 19:57] #774 closed

[2017-05-30 20:02] #737 closed

[2017-05-30 20:02] #777 closed

[2017-05-30 20:02] #782 closed

[2017-05-30 20:02] #786 closed

[2017-05-30 20:03] daviwil commented on #750
This was another manifestation of #770 which was just fixed.

[2017-05-30 20:03] #750 closed

[2017-05-30 21:35] #671 closed

[2017-05-30 22:09] #767 closed

[2017-05-30 22:09] daviwil commented on #791
Fixed with PR #795.

[2017-05-30 22:09] #791 closed

[2017-05-30 22:46] #781 closed

[2017-05-30 23:54] crshnbrn66 commented on #140
I too have been using VScode more and more and less and less ISE.

[2017-05-31 00:20] daviwil commented on #140
I've got an idea on how I might be able to reuse PowerShell's existing progress display, will experiment with this a bit and hopefully get it working in 1.3 or 1.4.

[2017-05-31 04:01] rkeithhill opened #797 "Changing to tasks.json v2.0.0 breaks Pester problem matching"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

When the version of tasks.json is set to `2.0.0` and there is a single Pester error, the error shows up multiple times - on the order of 6 to 12 times for the same error.  Switch the version back to `0.1.0` and the problem matc

[2017-05-31 04:24] ctsstc commented on #508
Oh wow, I've failed, I thought this was the main VSCode Repo; /facepalm...

[2017-05-31 04:28] daviwil commented on #508
No problem!  Yeah, that's one of the downsides I suppose, each extension has its own way of configuring code formatting (if it's even supported).  You might take a look at the "javascript.format.*" settings and see if you can find the setting you need there.

[2017-05-31 05:55] ahusking opened #799 "Login-AzureRmAccount"
### System Details

- Operating system name and version: Windows 10 - 1607, Build 14393.1198
- VS Code version: 1.12.2
- PowerShell extension version: 1.1.0
- Output from `$PSVersionTable`:

$PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.14393.1198
PSEdition                      Desktop
PSCompatibleVersions           {1

[2017-05-31 13:14] DouglasPlumley commented on #181
Seeing the same issue, #1 would be better than the current behavior.

Thanks!

[2017-05-31 13:52] adbertram opened #801 "Format rule request: Remove all semicolons at the end of lines"
I know some people love their semi-colons at the end of lines like in C# but it's not necessary for PowerShell. I'd love to take someone else's code and format the document to remove all of the semicolons from it.

[2017-05-31 14:33] daviwil opened #802 "Adjust tasks.json files for incoming schema changes"
Just installed today's VS Code Insiders build and our tasks.json to build the project is no longer working correctly.  We're going to have to figure out how to make it work again :/

[2017-05-31 14:39] pcgeek86 commented on #799
Closing as duplicate of #541.

[2017-05-31 14:39] #799 closed

[2017-05-31 14:40] pcgeek86 commented on #801
Maybe this is better suited for PSScriptAnalyzer?

[2017-05-31 14:41] daviwil commented on #799
Thanks Trevor!

@ahusking the problem here is that the dialog appears *under* the VS Code window, you should be able to find it in the taskbar or by Alt+Tab'ing.  We'll get the underlying issue fixed within the new few releases.

[2017-05-31 14:42] daviwil commented on #801
Part of the implementation would happen in the PowerShell extension so I'd say we can leave the issue here for tracking purposes.

[2017-05-31 14:43] pcgeek86 commented on #797
Related to #802

[2017-05-31 14:46] daviwil commented on #797
Maybe related, but I think this is more of an issue with the new terminal-based task runner not reading the terminal output correctly.   In theory it shouldn't require any changes on our side.

[2017-05-31 14:51] rkeithhill commented on #801
This could be make be a good example of using $psEditor.  :-)

[2017-05-31 14:55] pcgeek86 commented on #699
Edited log file output formatting on original post for readability.

[2017-05-31 14:57] pcgeek86 commented on #699
@ehouarn-perret Do you have any kind of software installed on your system that would prevent connectivity to the IPv4 loopback address on TCP 19754? It looks like something is actively preventing that connection from being made within the network stack, such as an overly aggressive firewall configuration. If it were an issue of the port not listening, you'd receive a timeout instead of a "connecti

[2017-05-31 15:02] pcgeek86 opened #804 "Feature Request: Call VSCode commands from $psEditor variable"
It would be really cool if a PowerShell script were able to invoke VSCode commands, effectively automating the IDE from PowerShell. This could be exposed via the built-in `$psEditor` variable that's accessible in the VSCode-PowerShell environment.

Related to #773, but more broad.

If there's already a way to do this, I'd love to hear it. I've explored the `Workspace` and `Window` variables on the

[2017-05-31 18:38] daGup opened #805 "Feature-Request -Built in method to codesign PS code."
This is something small and just a pet peeve I guess.  Is it possible to add in an option to quickly sign PS code.  Its a feature in some other PS Editors and just saves some boilerplate code I always have to run.  Ability to sign on save that sort of thing.

[2017-05-31 21:08] scrthq opened #806 "Add Admin Session Launch Configuration for Integrated Console"
### System Details

- Operating system name and version: `Windows 10 Enterprise 64-bit`
- VS Code version: `1.12.2 commit 19222cdc84ce72202478ba1cec5cb557b71163de`
- PowerShell extension version: `v1.2.0`
- Output from `$PSVersionTable`:
[code]
--
[code]

### Issue Description

I would like to be able to open an admin session of the Integrated Console via an admin launch configuration. Currently,

[2017-05-31 21:12] daviwil commented on #806
Thanks Nate!  We'll look into it.

[2017-05-31 21:14] daviwil opened #807 "Restarting PowerShell session doesn't retain PowerShell Core selection"
For some reason when I select one of the new PowerShell Core entries from the session menu, let the new session load, then try to reload it, it goes back to selecting the built-in Windows PowerShell install.  I would expect it to reload the session that was selected most recently.

[2017-05-31 21:17] daviwil opened #808 "PS> being added to custom prompts for some users"
Some users with custom prompt functions have reported that an extra `PS>` is being printed out after their custom prompt function runs.  This seems to be related to the return value of the function but I haven't been able to reproduce it yet.  Investigating...

[2017-05-31 21:20] rkeithhill commented on #807
Same thing happens when you switch to built-in x86.  :-(

[2017-05-31 21:22] daviwil commented on #807
Weird...  Not sure how that broke!

[2017-05-31 21:22] daviwil commented on #807
In other words, I don't think your changes caused it :)

[2017-05-31 21:27] rkeithhill commented on #807
It's like you're a mind reader.  :-p

[2017-05-31 21:34] daviwil commented on #807
I'm pretty sure it didn't, the more likely culprit is the changes around adoption of the newer vscode-languageclient library, that broke other stuff too.

[2017-05-31 21:40] daviwil commented on #807
Ok, I'm wondering if this ever worked...

https://github.com/PowerShell/vscode-powershell/blob/master/src/session.ts#L713

[2017-05-31 21:43] rkeithhill commented on #807
Guess that should be passing in the current sessionConfiguration, eh?

[2017-05-31 21:43] daviwil commented on #807
Yep.  I'm about to submit a PR

[2017-05-31 21:57] #807 closed

[2017-05-31 22:39] rkeithhill opened #810 "$pseditor.GetEditorContext().CurrentFile.GetTextLines() throws on Untitled (never saved) file"
### System Details

[code]

### Issue Description

This is the error I get in the PSIC:
[code]

It might actually be failing on accessing `CurrentFile`.

Here are the contents of my Microsoft.VSCode_profile.ps1 file:
[code]

### Attached Logs
[code]

[2017-05-31 22:53] #808 closed

[2017-05-31 23:28] #810 closed

[2017-05-31 23:35] daviwil commented on #805
Thanks for the request!  We're tracking this issue over at #548 so I'll close this issue in favor of that one.  I've got some thoughts on this, I'll add a comment over there.

[2017-05-31 23:35] #805 closed

[2017-05-31 23:40] daviwil commented on #548
/cc @dotps1 @daGup

So how do you normally sign your scripts, something like this?

[code]

I could pretty easily expose a task for signing the current script with some configuration parameters to set the cert path, timeStampUrl, etc.  I could also try to auto-sign scripts before running them in the debugger.  Would that be helpful?

[2017-05-31 23:54] daGup commented on #548
Yah.  I was looking at how to do something like this as a vscode task as
its like a build step but couldn't get my head around the setup of the task
with powershell

I never thought to do it as a dir select first filter though usually just
grab 1st entry from the cert array.

On May 31, 2017 4:40 PM, "David Wilson" <notifications@github.com> wrote:

/cc @dotps1 <https://github.com/dotps1> @daGup <

[2017-06-01 00:07] daGup commented on #548
Normally just path.  I just followed what was online.  However I do like
the parameters you added.  Is it something that can be optional input?

On May 31, 2017 4:56 PM, "David Wilson" <notifications@github.com> wrote:

[2017-06-01 00:08] daviwil commented on #548
Yep, it's possible to make those configurable.

[2017-06-01 00:29] rkeithhill commented on #548
@daGup I'm curious if you would you prefer a mini-build/release process that does the script signing for you - kind of like the task you were trying to set up?

One issue with signing scripts is that you often don't want to sign the "original" script especially if it is checked into source control.  It's much easier to develop & debug against a unsigned script and then sign the script when you're

[2017-06-01 01:08] aru-kun opened #812 "'PowerShellEditorServices' was not loaded because no valid module file was found in any module directory."
### System Details

- Operating system name and version: Ubuntu 17.04
- VS Code version: 1.12.2-1494422229
- PowerShell extension version: 1.2.0
- Output from `$PSVersionTable`:
Name                           Value
PSVersion                      6.0.0-alpha
PSEdition                      Core
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   3.0.0.0
GitCommitId

[2017-06-01 01:33] daGup commented on #548
That's awesome while reading this on my phone.  I'll punch it up on pc in a
bit.  Trying to implement something as easy for me to force down people's
throats.
There wasn't much code signing being done so I'm hoping to get this
implemented.  I really like the build process you've outlined.

On May 31, 2017 5:29 PM, "Keith Hill" <notifications@github.com> wrote:

@daGup <https://github.com/dagup> I'

[2017-06-01 02:09] mattmcnabb commented on #797
chiming in because my experience is a bit different. Using task version 2.0.0, I'm actually seeing tests invoked multiple times. After that, even with a failing test, there is nothing in the Problems console.

Switched to task version 0.1.0 and the tests are executed once and I do see matched problems.

[2017-06-01 02:10] daviwil commented on #797
@mattmcnabb weird, can you show us your tasks.json file?

[2017-06-01 02:39] mattmcnabb commented on #797
## The Task

[code]

## Version 2.0.0

Notice that the test loop several times and the end result is 71 passing and 8 failing. This is a template project with only 12 tests.

![problemmatch2 0 0](https://cloud.githubusercontent.com/assets/6998507/26662385/82b6d192-4651-11e7-93d5-0389919b0ae7.gif)

## Version 0.1.0

Here you can see in the output pane that the tests only execute once and the end re

[2017-06-01 03:02] Bluecakes opened #813 "PowerShell Editor Services terminating error trying to access external USB recycle bin"
Hey PowerShell extension team,

Thanks so much for the brilliant extension for PowerShell support in Visual Studio Code, i seem to be having a weird error in which the PowerShell Editor Services is trying to access one of the folders under the **$RECYCLE.BIN** folder in my external usb drive (Which being a system folder is denied access to pretty much everyone but the system).

I am able to reprod

[2017-06-01 03:06] daviwil commented on #813
Hey @Bluecakes, thanks for the report!  Seems like we aren't handling access denied exceptions correctly when we traverse the workspace path to find symbol references.  Since you've used a top-level path as your workspace path, we seem to be digging into that drive's Recycle Bin folder.

Should be a simple fix, just need to catch that exception and ignore the files in that folder.  I'll get it fix

[2017-06-01 03:39] rkeithhill commented on #797
@mattmcnabb remove the line `"isShellCommand": true` and try again.

[2017-06-01 08:03] Graham-Beer opened #814 "Integrated Console hanging on switch to PS 6.1 only"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with...
I'm running the latest windows 10 insider preview, and to get PowerShell 5.1 integrated console to work i've added '[System.Console]::OutputEncoding = [System.Text.Encoding]::ASCII' to my pro

[2017-06-01 08:27] chuanjiao10 commented on #496
Suggest:
Function bound to formatting rule:
"powershell.codeFormatting.ExpansionAliasToCommand" :false

[2017-06-01 13:39] mattmcnabb commented on #797
@rkeithhill That seems to have fixed it for the v2.0.0 task. I no longer see the tests looping, and the problems now show up in the problem pane. I do see the duplicate problem entries as described in the issue.

Thanks!

[2017-06-01 13:40] daviwil commented on #804
Hey Trevor!  Sorry for the delay.  Yep, we'll provide a way to invoke the editor's native commands.

[2017-06-01 13:50] #513 closed

[2017-06-01 13:53] daviwil commented on #554
Hey @steviecoaster, do you still see this issue in the latest PowerShell extension?  I believe we fixed it for 1.0, so try 1.2 and let me know if it still occurs for you.

[2017-06-01 13:58] mattmcnabb commented on #804
So would tasks be able to leverage these native commands? Or only from the Integrated Console? I'd love to be able to run my test task and automatically shoot the view over to the Problems pane when the tests complete. I'm sure there are some other use cases for accessing these commands from a task as well.

[2017-06-01 14:02] daviwil commented on #306
Hey @monghuz, I apologize for the extremely long delay in response!  Are you still seeing this issue in the latest VS Code and PowerShell extension versions?

[2017-06-01 14:04] jasonshave opened #815 "Intellisense in Terminal while in debug state not working"
Coming from the world of PowerShell ISE, we could use the command history (up arrow) to cycle through previously run commands and cobble together new code in the Terminal window while debugging. VSCode doesn't appear to have this capability yet it works when you stop the debugger.

Along the same lines, Intellisense would be great as well in the Terminal window while debugging.

[2017-06-01 14:05] daviwil commented on #804
Tasks are a different story since they're running in a fresh PowerShell instance that doesn't have any connection to the Editor Services session.  This might be a case where VS Code's tasks.json schema should give you the option on what pane should be opened after a task completes, worth filing a feature request since they're doing some major reworking of that format right now.

[2017-06-01 14:07] daviwil commented on #815
You don't get IntelliSense in the PowerShell Integrated Console while debugging?  That should be working.  History is definitely busted right now, though, #550 is tracking that issue.

If IntelliSense truly isn't working I'd recommend capturing debug logs and either post them here or send them to me, `daviwil` at `microsoft.com`:

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-l

[2017-06-01 14:09] daviwil commented on #814
Hey Graham, the problem here is that PowerShell Core 6 has a separate set of profile scripts than Windows PowerShell does so you'll have to use the same workaround in that version's $profile too.

[2017-06-01 14:55] Graham-Beer commented on #814
Hi David.
Looks like the profile is in C:\Users\gbeer\Documents\PowerShell and needs a Microsoft.PowerShell_profile.ps1 file. I've added in [System.Console]::OutputEncoding = [System.Text.Encoding]::ASCII but still hangs.

[2017-06-01 15:01] Graham-Beer commented on #814
Sorted did '$PROFILE | Format-List -Force' and found for all users it required a profile.ps1. Thanks for your help again David.

[2017-06-01 15:03] jeernest opened #817 "vertical scrollbar is missing when host screen buffer size is larger than windows width"
### System Details

- Windows 7 Enterprise
- VS Code version: 1.12.2, 19222cdc84ce72202478ba1cec5cb557b71163de
- PowerShell extension version: 1.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

my script sets buffer size in following way:
$host.UI.RawUI.BufferSize = New-Object System.Management.Automation.Host.Size(8192,50)
then it writes some long string to output and the curren

[2017-06-01 15:10] jeernest opened #818 "integrated terminal doesnt support Ctrl+Arrow and Ctrl+Shift+Arrow for moving and selecting text in console"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

when I switch to the terminal tab of the Integrated console, I can move left and right using arrows, but I'm not able to move using Ctrl+left, Ctrl+right which moves by words and I'm not able to select words using Ctrl+Shift+le

[2017-06-01 15:12] daviwil commented on #814
For the PowerShell extension the CurrentUserCurrentHost profile is `Microsoft.VSCode_profile.ps1`, so that would explain why putting the workaround in `Microsoft.PowerShell_profile.ps1` didn't work.  Your solution to put it in `profile.ps1` is fine, though!

Closing this issue since the problem has been resolved, thanks!

[2017-06-01 15:12] #814 closed

[2017-06-01 15:32] PowerSchill opened #819 "Feature Request: Add command to automatically generate the information requested when creating a new issue."
The information generated will include the information requested below.

[2017-06-01 15:35] daviwil opened #820 "Add a "Report a problem on GitHub" command that automates filing a bug on GitHub"
We need a command that will make it super easy for users to file new issues on GitHub so that they don't have to manually gather details on versions and environment information.  I imagine this will be a combination of TypeScript and PowerShell code.  @rkeithhill has started some of the PowerShell side code [in PowerShell Editor Services](https://github.com/PowerShell/PowerShellEditorServices/blob

[2017-06-01 15:35] rkeithhill commented on #764
I use a feature like this in R#.  It lies between snippets and a built-in expansion like the current comment help.  The nice thing about snippets is that users can easily take the an existing snippet and customize it to suite their taste.  But you can't auto-inject custom info (like username, time, etc).

The problem with built-in approach is that they are either not customizable or hard to custom

[2017-06-01 15:38] daviwil commented on #819
Whoops, didn't realize you were also filing one :)  Let's track it with the other issue since there's more details there. #820

[2017-06-01 15:38] #819 closed

[2017-06-01 15:39] daviwil commented on #818
This will be resolve when we enable PSReadline support in the console, follow bug #535 to be notified when this is done!

[2017-06-01 15:39] #818 closed

[2017-06-01 15:41] daviwil commented on #764
Hmmm, I wonder if there's a PowerShell module that knows how to create text from templates ;)

But seriously though, I agree.  It'd be really nice if there was a way to have project-specific templates for dynamic snippets.  This actually could be something that Plaster provides when the new framework API is ready.

[2017-06-01 15:46] rkeithhill commented on #820
FWIW now that I'm a bit more `node` knowledgeable, I would rip all that stuff out of PSES and do the version gathering and log dir compression in the extension.  There is a node `archiver` module that can be used to do the log dir compression.  And we can get the PSES version from the sessionManager.

The problem with relying on PSES is that sometimes the **issue** is that PSES never started.  :-)

[2017-06-01 15:50] daviwil commented on #820
Yep, it's true that there are cases where PSES won't be started, but my approach would be to provide a command in the PSES module that can be run in plain old powershell.exe without requiring an actual session to be active.

The problem with using the Node.js archiver module is that we'd have to get OSS appoval to use it, so it's probably better to continue using what we have available in PowerShe

[2017-06-01 15:50] rkeithhill commented on #764
Yeah, there's definitely a "templating" aspect to this.

Just need a way to register a completion trigger with VSCode.  I don't know if that exists though.  With R#, I get a standard company copyright file header when I type `fhdr` <kbd>tab</kbd>.

[2017-06-01 15:53] rkeithhill commented on #820
Ah, so no need to wire up a PSES request to trigger and get data back to the extension.  We would just spawn PowerShell with the PSES command, right?

[2017-06-01 15:53] daviwil commented on #764
This is something I plan to enable in the PSES APIs. Since we know when the file is being changed, we can invoke autocompletion providers that would be registered with our APIs.

[2017-06-01 15:54] daviwil commented on #820
Yep, exactly! We would run whichever PowerShell the user had configured just long enough to run that command and scrape its output.

[2017-06-01 15:55] daviwil commented on #820
Let's give @PowerSchill a shot at implementing this so that he can get comfortable contributing features :)

[2017-06-01 15:55] monghuz commented on #306
Hey @daviwil,

Sadly yes. I just upgraded to 1.12.2 but the issue is still there.
To repro the issue you can create a share (abc) on your local pc and try to resolve the address
type: \\yourPC\a
hit ctrl + space

result should be
\yourPD\abc

[2017-06-01 15:58] daviwil commented on #306
Can you try it in the VS Code Insiders release? I believe they fixed it recently but the fix hasn't made it to the main VS Code release yet.

[2017-06-01 16:26] jasonshave commented on #815
That's correct. If I try CTRL+<spacebar> I don't get IntelliSense while in debug mode (in the terminal tab). Should I be trying something else? Also, I'll send logs but if you could direct me how to capture them I'd appreciate it. If you want to hit me directly, try jassha at Microsoft.com on SFB.

[2017-06-01 17:46] mrboring opened #821 "Not all properties are displayed during debug in the Variable panel"
### System Details

- Operating system name and version: Windows 7 x64 [6.1.7601]
- VS Code version: 1.12.2
- PowerShell extension version: 1.2.0
- Output from `$PSVersionTable`:
PSVersion                      5.1.14409.1005
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14409.1005
CLRVersion                     4.0

[2017-06-01 17:50] rkeithhill commented on #821
Verified. Looks like we are getting the properties of the base object and not the extended properties of the PSObject.

[2017-06-01 18:02] daviwil commented on #821
How hard is the fix?  Think we can get it in today?  Planning to ship an update at some point during the day so we could fit it in.

[2017-06-01 18:08] rkeithhill commented on #821
Don't know yet.  Looking at the code.

[2017-06-01 18:35] daviwil commented on #817
Thanks for the report!  Not sure what's causing this, will investigate.

[2017-06-01 18:47] #813 closed

[2017-06-01 18:57] rkeithhill commented on #821
Testing.

[2017-06-01 19:09] rkeithhill commented on #821
I have a fix that adds in `NoteProperty`.   Can't do `ScriptProperty` (for BaseName) because I have a limitation at the moment where I can't get at these:
[code]
Do we want `AliasProperty`? I'm inclined **not** to add these as they just refer to other properties and they are more for end users (not folks debugging).

[2017-06-01 19:11] daviwil commented on #821
NoteProperty is probably good enough.  I agree with your justification for the others!

[2017-06-01 19:11] daviwil commented on #821
Oh and yeah, I don't see a need for AliasProperty until someone asks for it.

[2017-06-01 19:39] #821 closed

[2017-06-02 03:05] daviwil opened #823 "Provide a way to save rule list selected with "Select PSScriptAnalyzer Rules" menu"
When the user uses the "Select PSScriptAnalyzer Rules" menu we currently don't persist those selections past the current session.  We should provide an option in that menu which allows the user to save the current rule selection to a PSScriptAnalyzerSettings.psd1 file in their workspace path.

[2017-06-02 03:07] rkeithhill commented on #823
And optionally create that file if it doesn't exist and wire it up through .vscode\settings.json.  Yeah, that'd be nice too.

[2017-06-02 03:09] daviwil commented on #823
Yep, definitely.  However, I'd prefer if we could just be smart and detect a PSScriptAnalyzerSettings.psd1 file in the workspace root without the user having to configure it.  I *think* PSScriptAnalyzer does this already but I'm not sure.

[2017-06-02 03:22] mattmcnabb commented on #823
Thanks @daviwil! Weighing out whether I think it would be more valuable as a workspace setting or a user setting, if that's even feasible. Generally I would like the same rules turned on regardless of the project, but I can see how that may not be the right approach.

[2017-06-02 05:04] WernerMairl opened #824 "Step-Over does not returns until i press a key inside the terminal on Ubuntu"
### System Details

- Operating system name and version:
Ubuntu 16.04 (current LTS fresh installed) + Ubuntu Desktop
- VS Code version:
Version 1.12.2
Date 2017-05-10T13:16:25.899Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0

- PowerShell extension version:
1.2.1
- Output from `$PSVersionTable`:
PSVersion                      6.0.0-beta
PSEdition                      Core
BuildVersion

[2017-06-02 06:12] jeernest opened #825 "restarting integrated console doesn't use VS Code PS profile"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with Integrated Console. When I start the Integrated console, it looks like this
[code]
when I for some reason kill the terminal and start it again, it seems like it starts my default console profile

[2017-06-02 07:59] csandfeld commented on #760
Problem appear to been solved along with the other integrated console fixes in [v1.2.1](https://github.com/PowerShell/vscode-powershell/releases/tag/v1.2.1).
Thanks :-)

[2017-06-02 08:11] #760 closed

[2017-06-02 10:36] mrboring commented on #821
Thanks for the quick fix, it's much appreciated. I can confirm it's working as you specified. All `NoteProperty` are available, and `CodeProperty` and `ScriptProperty` are not.

As it happens when I was using VS Code it was the `BaseName` property that I was looking for, that's how I noticed that properties were missing. For now I can just add a `WATCH` for `BaseName`. However, someone new to Powe

[2017-06-02 13:04] daviwil commented on #825
Hey @jeernest, we released an update on Wednesday (1.2.0) which fixes this issue, please check again after installing this update and let us know if it works for you now!

[2017-06-02 13:16] daviwil commented on #760
Hey Christian, very glad to hear that, thanks for letting us know!

[2017-06-02 13:39] daviwil opened #826 "Some property types (ScriptProperty and CodeProperty) don't appear in debugger's Variables view"
This is a follow-on issue from #821 to track the lack of ScriptProperty and CodeProperty properties when looking at a PSObject in the debugger's Variables pane.  These are usually pretty helpful for debugging purposes so it'd be good to add support for them.

[2017-06-02 13:39] daviwil commented on #821
What else is the PowerShell extension and VS Code missing for ISE parity?  There isn't a variables view in the ISE by default, so I'm guessing you've been using ISE Steroids there?  Definitely interested to hear where we don't match up against the base ISE experience.

I've filed issue #826 to track the need for ScriptProperty and CodeProperty properties.

[2017-06-02 14:57] spacentropy commented on #625
I have the same issue.

[2017-06-02 16:48] mrboring commented on #826
Looking forward to this!

[2017-06-02 16:48] mrboring commented on #821
@daviwil When mentioning missing functionality I was not referring to the Variables panel. I was thinking of functionality such as `Write-Progress` and `PSReadLine`. I believe both of these are on the way.

By the way, I don't use ISE Steroids. I tried it, but found it slowed the ISE down too much.

With regard to the Variables panel, I'm used to the ISE (or PowerShell prompt). If I run `(Get-Chil

[2017-06-02 18:04] daviwil commented on #821
Thanks a lot for giving it a shot as your main IDE!  I really appreciate your feedback, feel free to file issues for anything else you find that's missing or not up to par.

The other features you mentioned you are definitely on the way, I'm finishing up some preliminary work now that will make it much easier to address the lack of Write-Progress and PSReadline.  My hope is that the PSReadline sup

[2017-06-02 18:18] daviwil opened #827 "An output panel appears showing an error when Integrated Console crashes or is closed"
This is due to the LanguageClient creating an output channel when there's a server error.  I need to disable that behavior.

[code]

[2017-06-02 18:30] jeremytbrun opened #828 "MS HTML prompt isn't brought to front focus when using Connect-AzureAD or Login-AzureRmAccount"
### System Details

- Operating system name and version: Windows 10 1607
- VS Code version: 1.12.2
- PowerShell extension version: 1.2.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.14393.1198
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2017-06-02 18:35] daviwil commented on #828
This is an ongoing issue, still need to find a way to fix it.  Currently tracking it with issue #621, subscribe to that issue for updates.  Thanks for the report!

[2017-06-02 18:35] #828 closed

[2017-06-02 21:45] daviwil commented on #812
Hi @aru-kun, sorry for the delay!  This issue is caused by using an out of date install of PowerShell Core.  I'd recommend updating to the latest version, 6.0.0-beta.2.  Let me know if that fixes the issue for you!

[2017-06-02 22:01] daviwil commented on #824
This is very strange, thanks for reporting it!  I'll take a look.

[2017-06-02 22:02] daviwil commented on #815
Hey Jason, you can follow the link I included in my previous comment, that tells you how to capture the logs.

[2017-06-02 22:38] daviwil commented on #551
This issue on the VS Code repo discusses the limitation in the integrated terminal: https://github.com/sourcelair/xterm.js/issues/106

[2017-06-02 23:26] mattmcnabb commented on #804
That's a good idea - i posted an issue here [#27960](https://github.com/Microsoft/vscode/issues/27960)

[2017-06-02 23:34] dbaileyut opened #829 "Enable console cursor movement and selection like the ISE"
Feature request....

### System Details

- Operating system name and version: Windows Server 2016 Version 10.0.14393
[code]
### Issue Description

It would be great if you could enable cursor movement and text selection in the integrated console like the PowerShell ISE allows. PSReadLine support will be great but this would go a bit further by enabling:

* Left clicking with the mouse on the comma

[2017-06-02 23:36] dbaileyut commented on #829
I posed this in the vscode repo but that probably wasn't the place for it. [https://github.com/Microsoft/vscode/issues/26401#issuecomment-303566020](https://github.com/Microsoft/vscode/issues/26401#issuecomment-303566020)

[2017-06-02 23:43] daviwil commented on #829
Hey @dbaileyut, thanks for the issue!  The fundamental limitation here is that VS Code's integrated terminal UI is meant to be just that, a textual terminal.  I think it's unlikely that they'll ever add mouse-driven cursor movement there since it would be hard to implement that consistently cross-platform among the range of different terminal hosts.

You mention "using the ISE host", it's actually

[2017-06-02 23:56] aru-kun commented on #812
Problem fixed!
Thank you so much!

[2017-06-02 23:56] #812 closed

[2017-06-02 23:56] daviwil commented on #812
No problem, thanks for confirming!

[2017-06-03 00:37] dbaileyut commented on #829
I use the ISE for both writing/debugging scripts and as my active working terminal as a sys admin. I don't think it's much of a factor from the scripting and debugging perspective.

It's more in that working terminal usage that I've grown accustomed to the mouse support in the ISE console, having used the ISE as my console of choice basically since it was released. It's very handy to be able to ar

[2017-06-03 14:02] ajansveld commented on #405
Is this still on the radar? Since version 0.9.0 (January 2017) we have the `powershell.codeFormatting.openBraceOnSameLine` option so is it possible to make the snippets conform to that setting?

[2017-06-03 15:32] #784 closed

[2017-06-03 15:42] PowerSchill commented on #820
Making progress... Is it acceptable to exclude the builtin extensions from extension list or do you feel it is useful to leave them included?

[2017-06-03 15:46] daviwil commented on #820
Let's exclude for now, I think it's only useful to know the non-standard extensions the user has.  Awesome that you're making progress!

[2017-06-04 03:53] WernerMairl commented on #824
tell me if or  how i can help....

[2017-06-04 16:06] jasonshave commented on #815
Sorry! Missed that. Logs sent :)

[2017-06-04 20:10] rkeithhill commented on #405
AFAIK VSCode snippets can only be specified in one style.  In theory, you "should" be able to get what you want with the settings:
[code]
And it does work if you "type" in the code.  But for snippet completion, it doesn't seem to "invoke" the "formatOnType" functionality.  :-(  You can force it by deleting the `{` and typing it again which is a major PITA.

The underlying issue with snippet comple

[2017-06-04 20:21] rkeithhill commented on #823
Agreed as long as folks are OK that "by convention" we automatically find a file by that name. BTW is it PSScriptAnalyzerSettings.psd1 or ScriptAnalyzerSettings.psd1?  And if the user chooses to use a different name (or location - perhaps in a subdir like src or source), then they'll have to tell us the path to the file.

I also like the idea that the UI mechanism is merely a UI over the correspon

[2017-06-04 20:47] daviwil commented on #405
Thanks for filing that!  I'm also wonder if I didn't set something up right, hopefully they'll be able to tell us.

[2017-06-05 00:08] vikram-pendli commented on #178
Hi,
I am also running into similar issue. Below is the version information for Visual Studio Code that I am using.

[code]
PowerShell extension version is `1.2.1`

VSCode is unable to display the Microsoft login prompt when we execute the CmdLet
`Add-AzureRmAccount`
This happens in all the following cases
1. Run the script (Ctrl + F5)
2. Debug thescript (F5)
3. Run the CmdLet from the integrated t

[2017-06-05 00:47] mattmcnabb commented on #823
@rkeithhill  I see your point. I think the workspace file would be just fine, and it makes sense to include these settings with a project, to help encourage coding standards for all project contributors. I'm used to flying solo on projects so bad habits prevail ;)

Since I can use a settings file already, the UI itself is not that important to me. For my part, you can keep the menu in place or scr

[2017-06-05 02:13] rkeithhill commented on #777
@kvprasoon Does the 1.2.1 release address the issue sufficiently to close it?

[2017-06-05 03:13] rkeithhill opened #830 "Killing the PSIC generates an error"
### System Details

- Operating system name and version: Windows 10 CU
- VS Code version: 1.12.2
- PowerShell extension version: 1.2.1
- Output from `$PSVersionTable`: 5.1.15063.296

### Issue Description

Fire up VSCode and open a PS file.  After the PSIC has started, press the trash can icon to kill the terminal.  You get this error:

![image](https://cloud.githubusercontent.com/assets/5177512/2

[2017-06-05 03:31] kvprasoon commented on #777
Thanks for addressing this, This is address elegantly in 1.2.1

[2017-06-05 11:27] LaurentDardenne opened #831 "[Question] Is there a way to use Register-ArgumentCompleter in an editor?"
If so, how to declare them ?

[2017-06-05 17:24] wsmelton commented on #689
This is still an issue with my profile not loading into the integrated terminal. Is that going to be fixed or I just need to use the PowerShell.exe terminal? None of the functions I have in my main profile are being loaded.

[2017-06-05 17:26] daviwil commented on #689
Do you see any errors written to the console when it loads?  I have a high degree of certainty that there's an error in your profile script that prevents it from completing.

[2017-06-05 17:27] daviwil commented on #689
Also check the `$Errors` variable to see if anything is there

[2017-06-05 21:08] wsmelton commented on #689
None. It loads fine for PowerShell.exe terminal with no errors so can't be my profile.

[2017-06-05 21:11] daviwil commented on #689
By the way, I noticed in an earlier comment that you pasted your `Microsoft.PowerShell_profile.ps1` file.  As I mentioned [before](https://github.com/PowerShell/vscode-powershell/issues/689#issuecomment-295438512), we use `Microsoft.VSCode_profile.ps1`.  Do you have one of those?  What are its contents?

[2017-06-05 21:12] daviwil commented on #689
Also, what's in your `profile.ps1` file?

[2017-06-05 21:18] daviwil commented on #830
The problem here is that I have no way of knowing whether the user clicked the trashcan.  The only notification I get (for now) is that the terminal closed and it looks the same whether the process crashed or the user closed it.  I'll see if I can get them to add an indicator to the event that describes what happened.

[2017-06-05 21:23] daviwil commented on #689
It just occurred to me after looking at your `Microsoft.PowerShell_profile.txt` that the functions you expect to exist aren't being loaded in your `profile.ps1` anyway.  I'd recommend one of two options:

1. Move the contents of your `Microsoft.PowerShell_profile.ps1` to a file in the same folder called `profile.ps1`
2. Create a new file in the same folder called `Microsoft.VSCode_profile.ps1` and

[2017-06-05 21:45] wsmelton commented on #689
I'll just continue using PowerShell.exe terminal. I'm not going to keep up with 2 seperate profiles.

[2017-06-05 21:46] daviwil commented on #689
Using my second recommendation, you won't have to.  But do whatever you like :)

[2017-06-06 05:45] skest3qc opened #832 "Support to delete with CTRL Backspace in Powershell Integrated Console"
Hi,
could you add the feature that we can delete with CTRL Backspace in Intergrated Console?
Thanks

[2017-06-06 07:06] adamrushuk commented on #832
I believe this feature will come with PSReadline support, which is already logged in #535

[2017-06-06 12:40] daviwil commented on #832
Adam is correct (thanks Adam!), this will come with the PSReadline integration.  Planning to start work on that next week, though it might take a little while before it gets shipped.  Follow #535 to be notified when it's done!

[2017-06-06 12:40] #832 closed

[2017-06-06 14:52] HyundongHwang opened #833 "Visual Studio Code powershell terminal display is broken"
### System Details

- windows version :
windows 10 (Microsoft Windows NT 10.0.15063.0)

- VS Code version :
version 1.12.2
commit 19222cdc84ce72202478ba1cec5cb557b71163de
date 2017-05-10T13:20:36.315Z

- vscode-powershell version :
1.2.1

[code]

[code]

### Issue Description

I have the following problem.

I am using VisualStudioCode with powershell, and the line breaks as shown below.

![](https

[2017-06-06 14:57] daviwil commented on #833
Hey @HyundongHwang, have you tried the [Visual Studio Code Insiders](https://code.visualstudio.com/insiders) release?  I think I saw a fix for this issue being worked on there.  If it doesn't work with that build, let me know and I'll investigate.

[2017-06-06 15:03] Liturgist opened #834 "Running debugger too soon after starting up crashes the language server"
### System Details

- Operating system name and version: Microsoft Windows [Version 6.1.7601] (Windows 7 Professional SP1)
- VS Code version: 1.12.2
- PowerShell extension version: 1.2.1
- Output from `$PSVersionTable`:
PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.117
CLRVersion                     4.0

[2017-06-06 15:06] HyundongHwang commented on #833
@daviwil
I installed vscode insider as you said.
But the problem is continuing in a different way.

![](http://s16.postimg.org/xgpadyd79/screenshot_2017_06_07_at_00_04_57.png)

[2017-06-06 15:11] daviwil commented on #833
Hey @Tyriar, do you know if there's a solution to the integrated terminal rendering issue shown in the screenshot @HyundongHwang posted here?

@HyundongHwang can you give us the output when you run this command in the terminal:

[code]

[2017-06-06 15:18] HyundongHwang commented on #833
@daviwil, @Tyriar

I do not know very well, but codepage seems to be a clue.

[code]

`활C:\U성 코드 페이지`  is `activated code page` in english.

[2017-06-06 15:21] daviwil commented on #833
Thanks!  Does the output improve after you enter this command?

[code]

If so, you might consider making it part of your [PowerShell profile](https://technet.microsoft.com/en-us/library/bb613488(v=vs.85).aspx) so that it gets loaded when you start up PowerShell.

[2017-06-06 16:24] HyundongHwang commented on #833
@daviwil, @Tyriar

Changing the codepage does not solve the problem.
First, I'll show you the problem screen shot below.
(I think the screen shot is better than the text capture because it is a UI problem)

![](http://s21.postimg.org/3n9ilrupj/screenshot_2017_06_07_at_01_21_43.png)

There is an additional problem.
In the powershell environment of vscode, profile.ps1 is not loaded.
Because of this,

[2017-06-06 16:37] replicaJunction opened #835 "focusConsoleOnExecute setting should be respected when debugger stops at a breakpoint"
### System Details

- Operating system name and version: Windows 7 x64 / Windows 8.1 x64
- VS Code version: 1.12.2
- PowerShell extension version: 1.2.1

- Output from `$PSVersionTable`:
[code]

[code]

### Issue Description

**Current VSCode behavior:**
1. Press F5 to run the current script OR press F8 to run the current line / selection
2. Script / line / selection runs in the Terminal pane
3. W

[2017-06-06 16:53] daviwil commented on #835
If you want to retain focus in the editor when pressing F8 you can use this setting:

[code]

Unfortunately we don't have control over the focus behavior when the debugger stops at a breakpoint so there's no way around that yet.  I might be able to implement a workaround, though, I'll give it a shot in an upcoming release.

[2017-06-06 17:01] replicaJunction commented on #835
Awesome. That setting will work for me for the time being, and I'll look forward to seeing what happens with that workaround.

[2017-06-06 17:46] Tyriar commented on #833
This is a duplicate of https://github.com/Microsoft/vscode/issues/19665, it's due to Windows Creators Update, make sure you update your Windows when it's available to fix it.

[2017-06-07 01:25] anwather opened #836 "HelpMessage parameter attribute does not dispay inside VSCode terminal"
### System Details

- Operating system name and version: Windows 10 1703

Copy / paste the below commands into the PowerShell Integrated Terminal, and paste the output here
[code]

### Issue Description

When using the helpmessage parameter attribute - if I call the function in the terminal without a mandatory parameter the helpmessage cannot be displayed.

[code]

From the terminal:
[code]

From

[2017-06-07 01:31] anwather commented on #836
[ParameterHelp.txt](https://github.com/PowerShell/vscode-powershell/files/1056699/ParameterHelp.txt)

[2017-06-07 03:32] xandora commented on #603
@daviwil Is this the "diagnostic information" your modified `Start-EditorServices.ps1` script should be outputting?

{"debugServicePort":18142,"status":"started","channel":"tcp","languageServicePort":14149}
Connecting to language service on port 14149...

[2017-06-07 12:46] daviwil commented on #603
@xandora I was referring to error output in the Integrated Console if there was a crash on startup.  The latest version of the PowerShell extension (1.2.1) includes this updated script, were you seeing the startup crash there too before using the script I linked to?

My suspicion is that the problem is being caused by the Start-EditorServices.ps1 script being signed in the official releases.  If a

[2017-06-07 13:44] daviwil opened #837 "Clicking functions in the debugger call stack does not navigate to the correct line"
I think some of the recent debug adapter protocol changes in VS Code might have broken our call stack view.  When you click on functions in the call stack they don't seem to navigate to the correct line.  Also looks like the line/column information on the call stack items isn't being displayed anymore.

Example here: https://youtu.be/DxFQ4uf9d7k?t=37m13s

[2017-06-07 13:48] daviwil opened #838 "Right clicking variable in debugger and selecting "Add to Watch" doesn't copy variable name to watch input"
For some reason the variable name is not being transferred to the Watch pane when you click "Add to Watch" in the Variables tree.

Example: https://youtu.be/DxFQ4uf9d7k?t=36m49s

[2017-06-07 13:50] daviwil opened #839 "Step Out doesn't seem to be stepping out of functions"
When stopped at a breakpoint inside of a while loop, clicking Step Out does not actually step out of the loop, it just continues to the next iteration of the loop.

Example: https://youtu.be/DxFQ4uf9d7k?t=36m5s

[2017-06-07 14:01] daviwil opened #840 "Attach to Process debugging is not hitting breakpoints on attach"
Something got broken recently with the Attach to Process debugging configuration.  When you attach to a process the breakpoint you set in your code doesn't get hit when the attach completes.

Example: https://youtu.be/DxFQ4uf9d7k?t=1h7m42s

Psychic debugger tells me this has something to do with the flag I'm using to determine whether I'm currently in debug mode for passing breakpoints from langua

[2017-06-07 15:22] LaurentDardenne commented on #831
_>>Have you tried it?_
Yes, into the integrated console. It works.

In the editor, the completion work with a ValidateSet  attribute :
![image](https://user-images.githubusercontent.com/4894452/26886232-1fc846e8-4ba5-11e7-9319-7eee822b378e.png)
But not with this :
![image](https://user-images.githubusercontent.com/4894452/26886189-12a27fe2-4ba5-11e7-9d3f-d3664af067b4.png)

This possibility is it s

[2017-06-07 15:27] pcgeek86 commented on #836
@anwather This message has some serious formatting issues. Can you please fix up the Markdown?

I was able to reproduce the same behavior, where you're not prompted to use `!?` for parameter help.

Would need @rkeithhill to weigh in on why the Integrated Terminal doesn't behave the same way as PowerShell Console Host. Is this something to do with a "mode" that the PowerShell engine is launch in, i

[2017-06-07 15:28] daviwil commented on #831
Interesting, I didn't know they weren't showing up in the editor's completions.  I'll take a look, thanks for pointing it out!

[2017-06-07 15:31] daviwil commented on #836
Fixed the formatting.  Thanks for pointing this out @anwather!  Looks like this is an inconsistency in our host implementation, I'll get that fixed.

[2017-06-07 18:46] daviwil opened #842 "psedit cannot open an empty file in a remote PSSession"
It seems that psedit is having an issue opening an empty file in a remote PSSession, need to investigate.

/cc @sstodd7532

[2017-06-07 18:56] sstodd7532 commented on #842
Here are a copy of the logs that I had from the test that I just ran
[1496861214-ed36508f-ecf3-45d3-a463-97d6a9111dbb1496857080988.zip](https://github.com/PowerShell/vscode-powershell/files/1059008/1496861214-ed36508f-ecf3-45d3-a463-97d6a9111dbb1496857080988.zip)

[2017-06-07 19:38] sstodd7532 commented on #842
It also does not appear to be saving the edits that I make to a file once I have content in them.

[2017-06-07 22:08] MakwaWes opened #843 "Cannot enter a PSsession if remote Powershell version is 3 or under."
### System Details

- Operating system name and version:
`Windows 10 - 10.0.14393`
`Windows Server 2012 - 6.2.9200`

- VS Code version:
`1.12.2`
- Editor Services :
`1.2.1.0`
- PowerShell extension version:
[code]
- Output from `$PSVersionTable`:
From the **client machine** :
[code]
On the **remote server** :
[code]

### Issue Description

While in VSCode, trying to enter a PS session on a remote

[2017-06-07 22:10] daviwil commented on #843
Thanks Wesley!  I'll look into it.

[2017-06-08 00:49] mattmcnabb commented on #831
@LaurentDardenne I don't believe this will work the way you expect - you'd have to execute Register-ArgumentCompleter first in order for intellisense to pick up the completion values.

![image](https://user-images.githubusercontent.com/6998507/26907614-ca652068-4bc2-11e7-84af-467bf7e0d9c7.png)

[2017-06-08 06:16] HyundongHwang commented on #833
@Tyriar @daviwil
Surprisingly, the terminal at android studio has the same symptoms.

![](http://s21.postimg.org/hxwwq0rp3/screenshot_2017_06_08_at_15_16_28.png)

[2017-06-08 18:05] #507 closed

[2017-06-08 18:05] #827 closed

[2017-06-08 19:48] Tyriar commented on #833
@HyundongHwang it's a problem with Windows so has a very wide impact and affects many applications. As I understand t the fix is rolling out to stable builds of Windows now.

[2017-06-08 22:19] daviwil commented on #838
This is caused by a new mandatory parameter in the latest VS Code:

evaluateName attribute mandatory for Add to Watch and Copy Value actions

VS Code previously tried to implement the Add to Watch and Copy Value actions by using the data from the VARIABLES view and a JavaScript-biased heuristic for building expressions that can be used with the evaluate request.

Since this approach does not work

[2017-06-08 22:23] daviwil opened #847 "Consider using Spectron to do UI testing of the PowerShell extension"
This may be the best way to verify behavior aside from typical unit tests:

https://electron.atom.io/spectron/

[2017-06-09 03:56] zhoufwind commented on #572
Hi, still got this error all the time, looking forward to hide it, thanks!
`[11:45:18] Language server starting...
powershell.exe started --
    pid: 8078
    exe: /usr/local/bin/powershell
    args: /Users/<username>/.vscode/extensions/ms-vscode.powershell-1.2.1/scripts/Start-EditorServices.ps1 -EditorServicesVersion '1.2.1' -HostName 'Visual Studio Code Host' -HostProfileId 'Microsoft.VSCode' -H

[2017-06-09 07:40] sandersaares opened #848 "I do not want PowerShell integrated console to open when I open a PowerShell file"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.11|
|githistory|donjayamanne|0.2.0|
|plantuml|jebbs|1.7.1|
|VS-code-vagrantfile|marcostazi|0.0.5|
|PowerShell|ms-vscode|1.2.1|
|qub-xml|qub|1.2.0|;

---

Steps to Reproduce:

1

[2017-06-09 07:49] adamrushuk commented on #848
You can use "powershell.integratedConsole.showOnStartup": false to ensure the PowerShell Integrated Console does not open :)

[2017-06-09 08:10] sandersaares commented on #848
Aha, you are right! I must have simply missed that setting somehow. Thanks for the hint!

[2017-06-09 08:10] #848 closed

[2017-06-09 08:24] adamrushuk commented on #848
No worries, happy to help!

[2017-06-09 13:07] mpearon commented on #681
Great news, @daviwil!  As of 1.13.0, this behavior seems to have been corrected! :)

[2017-06-09 13:08] #681 closed

[2017-06-09 13:08] daviwil commented on #848
Thanks a lot Adam!

[2017-06-09 13:09] mpearon commented on #306
Rejoice, @monghuz As of 1.13.0, this is corrected! :)

[2017-06-09 13:09] mpearon commented on #574
Hey, @pchalabi - there is good news!  1.13.0 corrected this behavior!

[2017-06-09 13:23] daviwil commented on #574
Awesome!  Thanks for confirming Matthew!

[2017-06-09 13:23] daviwil commented on #681
That's great, thanks a lot!

[2017-06-09 13:35] daviwil commented on #306
Yep, this should be fixed now, let me know if you still see it after installing the VS Code 1.13.0 update which just got released yesterday.

[2017-06-09 13:35] #306 closed

[2017-06-09 15:13] LaurentDardenne commented on #831
@mattmcnabb I agree.
But for the moment I don't know the code source of vscode-powershell...

[2017-06-09 21:16] daviwil opened #850 "Pester CodeLenses don't work for lower-cased "describe" blocks"
Thanks @dfinke!

[2017-06-09 22:02] daviwil opened #851 "Language server hangs when typing "Describe" into script"
Small issue with the Pester CodeLens implementation, fix incoming.

[2017-06-09 22:07] rebro-msft opened #852 ""Debug tests" auto-fills wrong test name"
### System Details

- Operating system name and version:  Windows 10 Enterprise
- VS Code version: 1.13.0
- PowerShell extension version: 1.3.0
- Output from `$PSVersionTable`:
[code]
[code]

### Issue Description

I am experiencing a problem with debugging Pester tests using the "Debug tests" link above a Describe block.  It is auto-filling in the wrong TestName:

![debug-tests-testname-issue](ht

[2017-06-09 22:09] daviwil commented on #852
Thanks for sending this!  I'm about to ship an update with a couple fixes, will get this one in too.

[2017-06-09 23:48] #850 closed

[2017-06-09 23:48] #851 closed

[2017-06-09 23:48] #852 closed

[2017-06-10 02:47] rkeithhill opened #854 "Breakpoints set in UI while script is running are never hit"
### System Details

- Operating system name and version: Windows 10 CU
- VS Code version: 1.13.0
- PowerShell extension version: 5.1.15063.296

### Issue Description

Open the Examples folder and then open DebugTest.ps1.  Set debug config to launch the current file then press F5.  Before the script terminates, set a breakpoint on line 12.  This used to work i.e. on the next iteration through the l

[2017-06-10 04:07] mattmcnabb opened #855 "Format document hangs indefinitely"
Right clicking on a script and selecting format document sometimes stalls out and all you get is  the text "Formatting current document..." in the status bar.

### System Details

- Operating system name and version:
- VS Code version: 1.13.0
- PowerShell extension version: 1.3.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion

[2017-06-10 04:07] v2kiran commented on #647
i confirm this issue...currently this is the reason why i use ISE to write the code test and then paste into vscode for formatting and organization.
In my case the intellisense actually stops working completely. If i kill and re-open the session it
sometimes works but 99 times out of 100 it does not.

In fact i have seen this behaviour on a couple of systems so its not isolated to just one machine

[2017-06-10 04:18] mattmcnabb opened #856 "Code Lens function references shouldn't include the function definition"
The new feature in v1.3.0 displays any references in a workspace for functions. These references always have a count of at least 1 because it includes the function definition in the references. Please consider referencing only the calls to the defined function, not the definition itself. This offers a more useful count.

![image](https://user-images.githubusercontent.com/6998507/26999904-62742150-

[2017-06-10 13:59] daviwil commented on #856
Good catch!  I'll get it fixed in the next release.

[2017-06-10 13:59] daviwil commented on #855
@kapilmb wanna take a look at this one?

[2017-06-10 14:02] daviwil commented on #854
Hmmm, I don't think PowerShell allows you to call Set-PSBreakpoint while execution is running, or at least the PowerShell ISE explicitly disallows it.  I could be wrong about that, though.

[2017-06-10 15:20] daviwil opened #857 "While typing in a file, NullReferenceException in ReferencesCodeLensProvider hangs language server"
Need a general way to catch exceptions coming from feature providers so that they don't take down the language server when they misbehave.

[code]

[2017-06-10 16:13] MattAllison commented on #855
Same problem.  Error portion of logs below.

Working in PowerShell - seems to work fine for simple scenarios.  Breaks most commonly when there are a lot of block comments.

6/10/2017 8:56:00 AM [ERROR] - Method "DispatchMessage" at line 147 of C:\projects\powershelleditorservices\src\PowerShellEditorServices.Protocol\MessageProtocol\MessageDispatcher.cs

    MessageDispatcher: No handler registere

[2017-06-10 16:15] daviwil commented on #855
Hmmm, maybe both of you are seeing a manifestation of #857.  This causes the language server to hang once it happens.  I think I just fixed it, might ship an update today or tomorrow!

[2017-06-10 16:17] MattAllison commented on #855
Was thinking it just may not like people named Matt.

[2017-06-10 16:17] daviwil commented on #855
That's the fix, I took out this line:

[code]

[2017-06-10 16:25] lukemgriffith opened #858 "ISE theme has incorrect colour for a variables dollar"
Hate to be that guy, but the dollar should be red.

![Example](http://i.imgur.com/5GBal9I.png)

[2017-06-10 16:26] daviwil commented on #858
Totally valid feedback, though this is a known issue with our syntax grammar: https://github.com/PowerShell/EditorSyntax/issues/23.  Once the grammar is fixed the theme should work correctly!

[2017-06-10 16:27] daviwil commented on #858
Keeping this bug open for now because I imagine other people will come here to report the same issue :)

[2017-06-10 16:31] rkeithhill commented on #838
Fixed by https://github.com/PowerShell/PowerShellEditorServices/pull/504

[2017-06-10 16:31] #838 closed

[2017-06-10 16:32] daviwil commented on #838
Sweet, thanks a lot!

[2017-06-10 20:07] nightroman commented on #854
PowerShell itself allows setting breakpoints while running. Try this script in a usual console:

[code]

BTW, I looked for `BreakpointUpdated` in this repo and did find any reference (I rather expected). Is it not useful?

[2017-06-10 22:34] rkeithhill commented on #854
I would have sworn that I used to be able to start DebugTest.ps1 in the debugger, then set a breakpoint and it would stop.

[2017-06-11 01:27] muzzar78 commented on #855
I'm seeing the editor service crash too when I open up a number of our pester test files (see attached log). I have seen the format document hang indefinitely on our bigger dsc files.

[EditorServices .txt](https://github.com/PowerShell/vscode-powershell/files/1066195/EditorServices.txt)

[2017-06-11 02:08] kapilmb commented on #855
@daviwil I will revisit this after #857 is resolved. There is nothing related to formatting that we checked in the last couple of releases so I doubt this is a formatting issue, but you never know!

[2017-06-11 09:21] bgelens commented on #742
Wanted to provide an update on this from the end-user exp:

without workaround it still doesn't work on Windows build ```16215``` with vs code ```1.13.0``` and PS Ext ```1.3.1```

An update though which didn't work before. I am now able to get a descent working prompt again by first setting ASCII mode and after setting Unicode mode.
![2017-06-09_20-50-05](https://user-images.githubusercontent.com/

[2017-06-11 12:11] ChrisWarwick commented on #547
Please (please!) add Pascal case as an option for keywords too (Foreach, If, etc etc). I realise I'm not in the majority here but it's a style I've used forever and I guess it would be easy to add to the above enhancement (and I'm sure there are other weirdos out there who would like this... :-))

Thanks!

[2017-06-11 16:05] daviwil commented on #742
Awesome, thanks Ben!  So is the output fixed for the rest of the session after that?  I might be able to just make that the fix internally.

[2017-06-11 16:08] daviwil commented on #855
@muzzar78 Thanks for the logs Adam, I now see another issue.  I'll ship a fix tomorrow.

[2017-06-11 16:11] daviwil opened #859 "PesterDocumentSymbolProvider sometimes crashes when opening a file"
Looks like the new PesterSymbolReference.GetCommandType isn't catching null cases.

Logs provided by @muzzar78:

[code]

[2017-06-11 16:12] daviwil commented on #855
@mattmcnabb can you reproduce the issue and grab Editor Services logs so I can see the specific error you get?

https://github.com/PowerShell/vscode-powershell#reporting-problems

[2017-06-11 16:35] mattmcnabb commented on #855
@daviwil sent via email

[2017-06-11 16:37] daviwil commented on #855
Relevant snippet from Matt's logs, looks to be the same as @muzzar78's.

[code]

[2017-06-11 17:44] mattmcnabb commented on #857
I'm seeing an issue where the Pester CodeLenses disappear from the document. Assuming it's due to this same issue, correct?

[2017-06-11 17:48] daviwil commented on #857
When the Pester lenses disappear do you see any exception in the logs?

[2017-06-11 17:58] mattmcnabb commented on #857
It appears to be the same one posted here. Tough to get an exact timestamp correlation, but it looks like the only significant error I see. There are a few other errors, but they appear to be happening around startup:

[code]

[2017-06-11 18:41] bgelens commented on #742
Yes, the rest of the session look normal now

[2017-06-11 23:44] daviwil commented on #837
Fixed with PR https://github.com/PowerShell/PowerShellEditorServices/pull/508

[2017-06-11 23:44] #837 closed

[2017-06-12 00:19] muzzar78 commented on #855
Thanks @daviwil . Our module is available on github if you want to reproduce the issue https://github.com/nubustech/NubusTech.CredentialStore. Any time I select a pester script from the tests folder the problem occurs.

[2017-06-12 00:25] wsmelton commented on #834
I can attest that I got this testing a file after the May 2017 Code update. I am on Windows 10 Creator Update, released this past week.

1. Open a new file
2. Set language to PowerShell for the file (did not try and save it as ps1)
3. Added basic function that just outputs a message with `Write-Output`
4. No breakpoints
5. Hit F5 and the error noted shows up.
6. Reload window
7. Hit F5 again and n

[2017-06-12 00:31] wsmelton commented on #839
Same issue for me but in a foreach loop. I hit the break point but then try to step out and looks like it just stops. I was doing this in a psm1 file for dbatools module.

[2017-06-12 13:41] SSvilen opened #860 "intellisense and scriptanalyzer are not working"
### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.13.0
- PowerShell extension version:1.3.1
- Output from `$PSVersionTable`:

PSVersion                 5.1.15063.296
PSEdition                 Desktop
PSCompatibleVersions      {1.0, 2.0, 3.0, 4.0...}
BuildVersion              10.0.15063.296
CLRVersion                4.0.30319.42000
WSManStackVersion         3.

[2017-06-12 13:50] daviwil commented on #860
Thanks @SSvilen!  Based on your logs this looks like a duplicate of #857 which will be fixed for an update that we're shipping today.  I'll close this as a duplicate of that issue.

[2017-06-12 13:50] #860 closed

[2017-06-12 15:22] dandiddy opened #861 "Slow intellisense when workspace contains a DSC module"
### System Details

- Operating system name and version: Windows 7 x64
- VS Code version: 1.3.1.0
- PowerShell extension version: 1.13.0
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.1.14409.1005
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2017-06-12 15:51] daleecc opened #863 "Entering debug mode results in double "[DBG]: " tag"
### System Details

- Operating system name and version: Windows 7 (64-bit)

[code]

### Issue Description

When a breakpoint is hit in debug mode, the command prompt includes two "[DBG]: " tags at the beginning. For example:

[code]

[2017-06-12 17:31] daviwil opened #864 "Improve visibility of hyphen/dash in the PowerShell ISE theme when typing in the editor"
_From @stefanstranger on June 12, 2017 13:26_

Please change the setting for the ISE Theme so you can see the dash when interactively typing to:
[code]

Changed editor.lineHighlightBackground setting from **#94c6f7** to **#add8e6**

/Stefan

_Copied from original issue: PowerShell/PowerShellEditorServices#511_

[2017-06-12 17:31] daviwil commented on #864
_From @stefanstranger on June 12, 2017 13:35_

Can be deleted published in wrong repo. Check https://github.com/Microsoft/vscode/issues/28525

/Stefan

[2017-06-12 17:31] daviwil commented on #864
It actually belongs in the https://github.com/PowerShell/vscode-powershell repo :)

[2017-06-12 17:34] #864 closed

[2017-06-12 17:37] daviwil commented on #861
Thanks @dandiddy!  I'll take a look.

[2017-06-12 17:46] daviwil commented on #572
@zhoufwind do you have any additional logs that might indicate what issue you are experiencing?  Follow these steps and see if an EditorServices.log file gets created:

https://github.com/PowerShell/vscode-powershell#reporting-problems

[2017-06-12 19:21] #855 closed

[2017-06-12 19:21] #857 closed

[2017-06-12 19:21] #859 closed

[2017-06-12 19:21] daviwil commented on #856
Fixed by this commit: https://github.com/PowerShell/PowerShellEditorServices/pull/513/commits/393d4dd4c6f30ecc9fcff71bb04497cfa3e86de1

Forgot to add it to the commit message :)

[2017-06-12 19:21] #856 closed

[2017-06-12 20:18] andystumph opened #867 "Intellisense loading modules?"
### System Details

PS C:\> code -v
1.13.0
376c52b955428d205459bea6619fc161fc8faacf

PS C:\> $psEditor.EditorServicesVersion

Major  Minor  Build  Revision
-----  -----  -----  --------
1      3      1      0

PS C:\> code --list-extensions --show-versions
arcticicestudio.nord-visual-studio-code@0.3.0
bradygaster.azuretoolsforvscode@1.2.7
formulahendry.azure-iot-toolkit@0.1.0
gerane.Theme-azure@0.

[2017-06-12 20:22] daviwil commented on #867
I need to change that behavior indeed.  I've got a partially completed fix for it, need to finish it up.  This fix is being tracked with issue #715 so keep an eye on that issue to know when it gets completed.  Thanks!

[2017-06-12 20:22] #867 closed

[2017-06-12 21:41] artisticcheese opened #868 "Debugger reports errors when running script with improperly encoded characters"
### System Details

- Operating system name and version:
- VS Code version: 1.13.0
- PowerShell extension version: 1.3.2
- Output from `$PSVersionTable`:
[code]

Copy / paste the below commands into the PowerShell Integrated Terminal, and paste the output here

code -v
$pseditor.EditorServicesVersion
code --list-extensions --show-versions
$PSVersionTable
[code]
### Issue Description

Configuration

[2017-06-12 21:45] daviwil commented on #868
How are you running the configuration, with F8?  What is your F8 key bound to?  Open `File -> Preferences -> Keyboard Shortcuts` and search for F8.  If you see it bound to `workbench.action.terminal.runSelectedText`, remove that binding.  If not, we can continue debugging the issue.

[2017-06-12 21:46] artisticcheese commented on #868
Running with F5

[2017-06-12 21:50] daviwil commented on #868
Does this code work in the PowerShell console?  There shouldn't be anything special about this code that should cause the PowerShell extension to have an issue.

Might be helpful if you captured logs and posted them here so I can see if there are any other internal errors: https://github.com/PowerShell/vscode-powershell#reporting-problems

[2017-06-12 21:54] artisticcheese commented on #868
Works fine in ISE.
![image](https://user-images.githubusercontent.com/13176884/27056966-c2449cf8-4f8f-11e7-8af7-5ea55d3388e6.png)

[1497303932-c32fd6c2-b7c9-4468-aa4b-59a2eb9463a21497303929626.zip](https://github.com/PowerShell/vscode-powershell/files/1069670/1497303932-c32fd6c2-b7c9-4468-aa4b-59a2eb9463a21497303929626.zip)

[2017-06-12 21:57] daviwil commented on #868
I have a suspicion that it has something to do with the file encoding.  For this file, what  encoding does VS Code report in the bottom right hand corner of the window:

![image](https://user-images.githubusercontent.com/79405/27057084-6e8d7d38-4f7f-11e7-9154-c48b3aa7e639.png)

[2017-06-12 21:59] artisticcheese commented on #868
Says UTF-8

![image](https://user-images.githubusercontent.com/13176884/27057151-81247422-4f90-11e7-902c-23af32eeebc8.png)

[2017-06-12 22:00] daviwil commented on #868
Ok, I'll see if I can figure out what's going on.  Thanks for the help!

[2017-06-12 22:04] artisticcheese commented on #868
Saving as Windows 1252 does in fact work.

[2017-06-12 22:07] artisticcheese opened #869 "Never ending "Formatting Powershell document ...""
### System Details

- Operating system name and version:
- VS Code version: 1.13.0
- PowerShell extension version: 1.3.2
- Output from `$PSVersionTable`:
[code]

Copy / paste the below commands into the PowerShell Integrated Terminal, and paste the output here

code -v
$pseditor.EditorServicesVersion
code --list-extensions --show-versions
$PSVersionTable
[code]
### Issue Description

Seeing never

[2017-06-12 22:14] daviwil commented on #869
Is this when formatting the same document as in your other script?  I don't see any errors in the latest log directory.

[2017-06-12 22:16] artisticcheese commented on #869
it's in general when working with DSC

[2017-06-12 22:17] daviwil commented on #869
Do you mind closing down VS Code, deleting the contents of the log folder (all of those Guid-named folders) and then trying to reproduce the issue again?  I need to make sure I'm looking at the right logs before I start making assumptions.

[2017-06-12 22:18] artisticcheese commented on #869
Here is updated logs as well as sample DSC file which shows this behavior
[1497305879-097b666e-05ba-4b5e-9d6a-e30e6200279e1497305876434.zip](https://github.com/PowerShell/vscode-powershell/files/1069711/1497305879-097b666e-05ba-4b5e-9d6a-e30e6200279e1497305876434.zip)

[2017-06-12 22:26] daviwil commented on #869
Thanks!  That's helpful.  I think something in the TypeScript code must be getting tripped up by this script because I never see the request(s) get sent to perform the formatting operation.

@kapilmb do you mind looking into why the extension code would get stuck on formatting this script?  Seems like it never even makes the script region request.

[2017-06-13 00:03] kapilmb commented on #869
This issue is the result of a combination of slow parsing of the file and the formatting implementation. The presence of `Import-DscResourc` keyword slows down the parser a lot, especially if the module is not present on the system.  We cannot really do much about the parser but will have the formatting fix soon.

[2017-06-13 06:04] nightroman opened #870 "$PSCmdlet.ThrowTerminatingError results in no error details on debugging"
### Issue Description

(1) Create and open the script in VSCode:

[code]

(2) Ensure the debugger configuration is "PowerShell Current File".

(3) Start debugging (<kbd>F5</kbd>).

**Actual output:**

[code]

Note two empty lines after the command before the error (not a bug deal) and
totally missed error details (this is the real problem).

**Expected output: (shown when we invoke in PSIC manuall

[2017-06-13 06:14] bgelens commented on #742
@daviwil I got some Chinese chars in the mix when doing stuff with git now.. maybe better to sit out Windows Insider builds until fixed!

[2017-06-13 09:28] JohnLudlow opened #871 "Runtime Error when clicking Run Tests on a Pester test"
### System Details

- Operating system name and version:  Windows 10 x64 build 15063.296
- VS Code version: 1.13.0
- PowerShell extension version: 1.3.2
- Output from `$PSVersionTable`:

[code]
[code]

Output of `code -v` from a normal terminal:
[code]
Output of `code --list-extensions --show-versions` from a normal terminal:
[code]

### Issue Description

I have a pester test:

[code]

When I cli

[2017-06-13 14:43] daviwil commented on #863
Yep, somehow that slipped in there.  Thanks for filing!

[2017-06-13 14:46] daviwil commented on #871
Wow, that's surprising.  This happens every time you try and run that test using "Run tests"?  What happens when you use "Invoke-Pester <path to script>" in the PowerShell Integrated Console, same result?

[2017-06-13 14:48] daviwil commented on #870
Thanks Roman, I appreciate all the details!  There must be something wrong with how I'm executing the script when debugging, I'll take a look.

[2017-06-13 14:50] daviwil commented on #834
Any improvement after the 1.3.2 update?  @Liturgist if you can still reproduce the issue can you capture and send logs as described here:

https://github.com/PowerShell/vscode-powershell#reporting-problems

[2017-06-13 14:51] daviwil commented on #833
Closing this since it's a Windows issue that's affecting everyone, not just VS Code.

[2017-06-13 14:51] #833 closed

[2017-06-13 14:55] daviwil commented on #742
Thanks for the update!  I agree, seems like the console components are undergoing a lot of change at the moment so it might be best to avoid the latest Windows Insider builds.

[2017-06-13 15:14] MaximoTrinidad commented on #742
Just an FYI

Still happening with PowerShell extension 1.3.2.

![vscodeposhinter_2017-06-13_10-05-22](https://user-images.githubusercontent.com/19892435/27089813-7c8f5a14-5029-11e7-8c01-13e6cedcba19.jpg)

[2017-06-13 15:29] JohnLudlow commented on #871
Grrr... It seemed like I could reproduce it reliably at first, but after trying it a few times it seems intermittent.

Initially, running the tests from `Run tests` showed the error, but I can't get that to fail anymore.
Invoke-Pester from the integrated terminal did fail once, but I can't get that to fail anymore either.
Running the test task (see configuration below) from the panel did work, but

[2017-06-13 15:32] daviwil commented on #871
Nah, the tasks.json tasks are invoked purely in PowerShell, the extension isn't involved there.

Oh, you know what? I have seen this type of error before coming from the Integrated Terminal UI.  There's a native library used called winpty which scrapes Windows console apps to surface them up to VS Code's HTML-based UI, I'll bet it's throwing an error.  I've seen this before when running my own tas

[2017-06-13 15:32] daviwil commented on #871
But then again, this error says specifically that powershell.exe has an issue, so once again I'm not so sure :/

[2017-06-13 16:09] JohnLudlow commented on #871
At the moment that's how it happens, so the `Run tests` thing was probably a red herring, and this might not be related to the PowerShell VSCode extension. I think I assumed it was the Run Tests codelens integration because that was the new thing in that last update.

[2017-06-13 17:53] Josverl opened #872 "Debug Watch Variable does not show usefull information for non-simple variable types"
### Issue Description
Variable Watches show less detail than the Auto variable view

While debugging a piece of code that uses a variable such as a hash table, the Wacth window is less than helpful.
#Code
$Groups = @{}
$Groups.Add( 'foo', 'bar' )

$Groups:  [Hashtable: 1 ]
and then the actual content of the hashtable

$Groups: "System.Collection.Hashtable..."

Expected :
I would expect the WATCH v

[2017-06-13 17:55] rkeithhill commented on #872
Yup, I've seen this.  Will look into it shortly.

[2017-06-13 17:57] kapilmb commented on #861
This is somewhat related to #869 - whenever a script contains `Import-DSCResource` keyword, parsing seems to slow down significantly.

[2017-06-13 19:39] mike-the-automator opened #873 "Debug Session Clutters Terminal Command History"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with commands being inserted into the command history by a debugging session.  The additional commands seem to be related to the debugging session.  I have reproduced this issue with a simple .ps1 fi

[2017-06-13 20:42] daviwil commented on #873
Thanks Mike!  This is coming from PowerShell, I had filed a bug on it some time ago:

https://github.com/PowerShell/PowerShell/issues/3109

I'll see if I can find a workaround that doesn't cause these commands to be added to your history.

[2017-06-14 09:09] davebrannan opened #875 "Cannot open project folder after enabling OneDrive Files on Demand"
### System Details

PS C:\Users\daveb> code -v
1.13.0
376c52b955428d205459bea6619fc161fc8faacf
PS C:\Users\daveb> $pseditor.EditorServicesVersion

Major  Minor  Build  Revision
-----  -----  -----  --------
1      3      2      0

PS C:\Users\daveb> code --list-extensions --show-versions
alefragnani.project-manager@0.18.0
eamodio.gitlens@4.1.1
humao.rest-client@0.14.4
jtlowe.vscode-icon-theme@1.5.

[2017-06-14 09:17] davebrannan commented on #875
Ah, just found an issue opened in the main VS code GitHub for this (#28703). Feel free to delete this issue,

[2017-06-14 11:24] mwallner opened #876 "references not found when used in class"
### System Details

- Operating system name and version: Windows 7 Enterprise SP1
- VS Code version: 1.13.0
- PowerShell extension version: 1.3.2
- Output from `$PSVersionTable`:
[code]

### references not found when used in class
As visible in the following screenshot, there is "1 reference" found for the function `Get-ResultStateBGClass` - this one usage is also visiable right below in the funct

[2017-06-14 16:41] grumpkin opened #877 "CodeLenses for function definitions closes the minimap when closed or reference clicked"
### System Details

Windows 10 1607
VS Code version: 1.13
PowerShell extension version: 1.3.2
Output from `$PSVersionTable`:
[code]

code -v:
[code]
$pseditor.EditorServicesVersion
[code]
code --list-extensions --show-versions
`ms-vscode.PowerShell@1.3.2`
[code]

[2017-06-14 18:07] daviwil commented on #877
Hey @grumpkin, looks like this is a bug in VS Code 1.13.0.  In the latest VS Code Insider build it seems to be fixed.  I believe they plan to release a hotfix update (1.13.1) in the very near future so I'd keep a look out for it there.

Going to close this now since it's a general VS Code issue.  Thanks!

[2017-06-14 18:07] #877 closed

[2017-06-14 18:13] daviwil opened #878 "StackOverflowException when running debugger a second time in a session"
After 1.3.0 (and more likely, 1.3.2) a StackOverflowException is crashing the Editor Services process when the user tries to debug a script the second time.  I'm not sure if this is a widespread issue but one user with a sufficiently complex codebase has hit it.

I suspect that the new stack trace gathering logic could possibly have something to do with it, maybe getting into a recursive loop.  He

[2017-06-14 18:16] daviwil opened #879 "Symbol navigation should show progress indicator for long requests"
If you use "Go to Definition" or "Find References" in a project with hundreds of PowerShell scripts it can take a long time (~10 seconds) for results to come back.  Until we get proper symbol indexing working we should at least show a progress indicator so that the user knows that the action was initiated.

This will require inserting a middleware handler into the LanguageClient so that we can int

[2017-06-14 18:20] daviwil opened #880 "Provide an easy way to add additional module paths to PSModulePath via settings"
Some projects might benefit from an easy way to add paths to their PowerShell session's PSModulePath so that modules in non-standard paths are available for IntelliSense and parse-time checks.

One specific use case is developing multiple DSC resources in the same folder structure.  You will get parse-time errors about missing DSC resources if your the other resources you're developing cannot be f

[2017-06-14 19:08] rkeithhill commented on #878
It's too bad more of the log didn't get flushed before the SOE.

[2017-06-14 20:13] Liturgist commented on #834
I would like to test this, but I do not know that I have the version of which you speak. When I started VSC code and updated, this is what I have. Which part should be 1.3.2?

Version 1.13.0
Commit 376c52b955428d205459bea6619fc161fc8faacf
Date 2017-06-08T16:43:13.058Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0

[2017-06-14 20:18] dfinke commented on #834
Click on the icon on the left to show `extensions`. You should see (or you can search for the) the PowerShell ext. Check the version number.

![image](https://user-images.githubusercontent.com/67258/27152758-e5e47e9c-511c-11e7-8840-36926dab2e3b.png)

[2017-06-14 20:38] rkeithhill commented on #834
I can repro this by following the instructions, then reloading the window, setting the untitled file's language to PowerShell and then immediately pressing F5.  If I wait until PowerShell has finished initializing I don't get the reported error.

I see this in the log - no exceptions but some logged errors:
[code]

BTW you can get another error (Debug adapter terminated unexpectedly) if you restar

[2017-06-14 22:51] Liturgist commented on #834
I do not seem to have the same problem using 1.3.2. Thanks for your help.

[2017-06-14 22:55] daviwil commented on #834
Thanks for confirming that it's improved in 1.3.2!  I'm concerned about the issues Keith found so I'll keep this issue open for now so we can investigate.

[2017-06-15 04:13] rkeithhill commented on #880
I like this idea.  I imagine this would be an array and it could default to perhaps `${workspaceRoot}` but it would be handy to be able to change that in a workspace settings file e.g. `${workspaceRoot}/src` or `${workspaceRoot}/out`.  And adjusting the PSModulePath env var at the process level would be simple.

We probably need to set expectations.  If your "module under development" has issues w

[2017-06-15 14:08] daviwil commented on #880
Yep, exactly what I'm thinking, the setting would be a list of paths that defaults to just `${workspaceRoot}`.  And the nice thing is that I'm already adjusting the PSModulePath to add the "bundledModulesPath" so this would just be a generalization of what I'm doing already :)

[2017-06-15 15:18] mmarchese opened #884 "Feature Suggestion: Cmdlet Help in Editor Right-Click menu"
Sometimes while editing in a PowerShell file I need to access Help about a cmdlet quickly. It would be nice if we could right click on a particular cmdlet and access its help file from the drop down list.

Perhaps have a submenu allowing for the help to be shown in the integrated console, show window or online as well?

[2017-06-15 15:25] daviwil commented on #884
Hey Matt, we do have one way of getting help right now, you can run the "PowerShell: Get Online Help for Command" command which will send you to the online help for the cmdlet under the cursor (bound to Ctrl+F1 by default).  Agreed, though, would be nice to add this to the right-click menu too.

[2017-06-15 15:27] mmarchese commented on #884
Good tip! Thanks!

[2017-06-15 16:03] ramya-rao-a opened #885 "PowerShell tab completion doesn't work for Write cmdlets when variable is in quotes"
_From @powershellpr0mpt on June 15, 2017 12:47_

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|PowerShell|ms-vscode|1.3.2|;

---

Steps to Reproduce:

1. Create a variable with
2. Type any of the PowerShell Write-cmdlets [Write-Output/Host/Warning/E

[2017-06-15 16:33] rkeithhill commented on #885
Indeed this does work from the command line so I'm a bit surprised it doesn't work in VSCode since we rely on the PowerShell engine's completion functionality.

[2017-06-15 16:35] ramya-rao-a opened #886 "'Save as' crashes the PowerShell session"
_From @powershellpr0mpt on June 15, 2017 8:35_

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|PowerShell|ms-vscode|1.3.2|;

---

Steps to Reproduce:

1. I had opened a .ps1 file through File Explorer in my editor
2. Clicked File -> Save as -> simply

[2017-06-15 16:39] johlju opened #887 "PowerShell Integration Terminal is crashing every time"
### System Details

- Operating system name and version: Windows 10
[code]
- VS Code version: 1.13.1
- PowerShell extension version: 1.3.2
- Output from `$PSVersionTable`: See below

`$pseditor.EditorServicesVersion` does not work since PowerShell Integrated Terminal i crashing.
[code]

### Issue Description

PowerShell Integration Terminal is crashing, and it seems when it tries to list the refer

[2017-06-15 16:59] mattmcnabb commented on #885
Wanted to point out that this doesn't appear to be an issue with the Write-* cmdlets, but simply the way intellisense works in the editor when a variable is inside double-quotes. For instance, you can repro this with Get-Process just like above.

I've always noticed this but simply chalked it up to the Intellisense behavior and learned to use Ctrl+Space to complete values inside quotes. It works j

[2017-06-15 17:01] mattmcnabb commented on #885
Another way of saying it: Intellisense is not automatically invoked inside quotes - you have to manually invoke it.

[2017-06-15 17:51] daviwil commented on #887
Ouch!  That's a weird one, sorry about that!  Does it only happen in this one file?

[2017-06-15 18:22] tysonflint opened #888 "Terminal Clutter while Step Debugging"
### System Details

Operation system name and version: Windows 8.1 (64-bit)

PS > code -v
1.13.0
376c52b955428d205459bea6619fc161fc8faacf

PS > code --list-extensions --show-versions
ms-vscode.PowerShell@1.3.2

PS > $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4

[2017-06-15 19:09] johlju commented on #887
No worries :) I don't know if it's only this file, only one I worked in today, I will code in others tomorrow, so I will let you know.

[2017-06-15 23:21] kapilmb opened #889 "Powershell Code format (PSScriptAnalyzer) flags variable as unused"
_From @cryptonym64 on June 15, 2017 19:15_

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.10.0|
|PowerShell|ms-vscode|1.3.2|         <----------
|theme-stayfresh|piotrekfracek|1.1.2|
|theme-cobalt0|sharksym|0.0.5|;

---

Steps to

[2017-06-15 23:46] ramya-rao-a opened #890 "After updates cannot run WPF code: Unable to find type [Windows.Markup.XamlReader]"
_From @music2myear on June 15, 2017 17:38_

- VSCode Version: 1.13.1
- OS Version: Win10 1703 (OS Build 15063.413
- PowerShell Extension Version: 1.3.2

Steps to Reproduce:

WPF code not working.

Code:
[code]
Output:

Running same code in PowerShell ISE works just fine.

Before issue began, three different installs occurred on my computer:

- VS Code updated from 1.13.0 to 1.13.1
- OS installed u

[2017-06-15 23:46] ramya-rao-a commented on #890
_From @music2myear on June 15, 2017 17:49_

Added logs of VS Code startup.

[Logs.zip](https://github.com/Microsoft/vscode/files/1078491/Logs.zip)

[2017-06-15 23:46] ramya-rao-a commented on #890
Moving to the Powershell extension repo first to rule out issues from the extension

[2017-06-15 23:51] rkeithhill commented on #890
I'm pretty sure this works in ISE because ISE is WPF-based and it has the WPF assemblies loaded.  I'm also pretty sure this wouldn't work if you ran the above directly from the PowerShell console.  You need to use `Add-Type` to load the `PresentationFramework` assembly IIRC.  See this SO post for more details: https://stackoverflow.com/questions/39386687/powershell-cant-load-windows-markup-xamlrea

[2017-06-15 23:51] daviwil commented on #890
@music2myear were you ever able to run WPF code inside of the PowerShell extension?  I'd bet that it never worked before because WPF does not get loaded into the PowerShell session by default in VS Code.  It's already loaded there in the PowerShell ISE because the ISE itself uses WPF for its UI.

Try adding this line before you load the XAML:

[code]

This will ensure that WPF's assemblies are loa

[2017-06-15 23:51] daviwil commented on #890
Double the support, double the fun ;)

[2017-06-16 00:24] music2myear commented on #890
@daviwil Yes, prior to the updates noted in the OP I was able to run WPF code without issue. These and other tutorial scripts worked just fine pasting the code into a ps1 file in VS Code, saving, and executing in either the Powershell.exe or "PowerShell Integrated" terminals. Both worked the same and both ran WPF code.

Earlier today I thought there might have been an issue with PS on my computer

[2017-06-16 01:17] #890 closed

[2017-06-16 01:50] daviwil commented on #890
@music2myear that's really weird, I've never seen something like that happen before.  I'm actually surprised  that calling WPF from within the Integrated Console was working before your updates.  If you had ever called Out-GridView, Show-Command, or Get-Help -ShowWindow in the session before running your script, any of those would have caused WPF to be loaded.  Outside of that I'm entirely unsure.

[2017-06-16 01:55] daviwil commented on #888
Hey Tyson, thanks for giving the PowerShell extension a shot!  The primary reason that we write the prompt out when the debugger stops is because the console is where you'd enter commands if you want to interact with the session while stopped.  Does PowerGUI have a separate UI element for entering commands while debugging?  If not, how do you know where to type?  Maybe that's not part of your work

[2017-06-16 01:56] daviwil commented on #888
Regardless of the prompt noise, it seems there are some unnecessary newlines in the output so I'll see if I can figure out what's going on there.

[2017-06-16 07:08] tysonflint commented on #888
David, PowerGUI has a prompt at the bottom of the screen that never appears to be scroll up into the script's output.  So I would say "yes" that it does have a separate UI element for entering commands while debugging even though there is no visible division for it within the console's window.  You can continue issuing commands between steps on this prompt, and then a copy the prompt will finally

[2017-06-16 07:21] powershellpr0mpt commented on #885
Just started working with VSCode instead of ISESteroids, so was something I had noticed.
Thought it was simply related to Write-* cmdlets only, but would think it's even worse when it's for all of them.

[2017-06-16 09:55] LaurentDardenne opened #891 "During the invocation of Pester, the parameter -TestName use always double quotes and causes the expansion of variables"
### System Details

- Operating system name and version:
Windows Seven SP1 FR
[code]

### Issue Description

I am experiencing a problem with running Pester test inside the editor.
The name of my test use simple quotes :
[code]
But during the invocation -TestName use double quotes :
[code]
This expand the variable and change the name of the test that do not exist

![image](https://user-images.gith

[2017-06-16 11:26] tsugliani opened #892 "Launch & Debug a Docker powershell container ?"
### Ability to debug a Powershell script/session in a docker container possible ?

A little background about my use case:

I need to work with multiple versions of powershell because of some other incompatibility issues, and for that purpose I use docker containers, but I don't know if there is a nice way to troubleshoot powershell scripts from within Visual Studio Code & debugger capability today

[2017-06-16 13:20] daviwil commented on #891
Good catch!  I'll get it fixed.

[2017-06-16 13:21] andrewlathom commented on #603
I'm having the same (or similar) problem. I get "Starting Powershell..." in the lower right forever. My log is attached. I've re-installed the 1.3.2 extension. What else can I try?

Thanks!
-Andy

[EditorServices.log.txt](https://github.com/PowerShell/vscode-powershell/files/1080867/EditorServices.log.txt)

[2017-06-16 13:34] daviwil commented on #603
@andrewlathom could you turn on verbose logging and send new logs?

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

The current log is helpful but I'm not getting the full picture.  Thanks!

[2017-06-16 14:08] andrewlathom commented on #603
Here you go - thanks for looking at them

-Andy

[EditorServices.log.txt](https://github.com/PowerShell/vscode-powershell/files/1080988/EditorServices.log.txt)

[2017-06-16 14:15] daviwil commented on #603
Strange that you'd see "Starting PowerShell" forever since it seems that your session has loaded successfully.  Looks like you started the debugger at the end of the logs, was the debugger working for you after you did that or did it seem to hang?

[2017-06-16 14:20] andrewlathom commented on #603
Whenever I try to start a script, either with or without the debugger, it doesn't run. I get the little Pause/Stop floating bar, but nothing executes.

[2017-06-16 15:29] johlju commented on #887
It seems it only crashes for the tests in the repo, as far as I can see now, I can only repro the crash in tests. I tested 5 tests, and 3 of 5 crashed.

These make the PowerShell Integration Console to crash:
https://github.com/PowerShell/xSQLServer/blob/dev/Tests/Unit/MSFT_xSQLServerFirewall.Tests.ps1
https://github.com/PowerShell/xSQLServer/blob/dev/Tests/Unit/MSFT_xSQLServerRole.Tests.ps1
https

[2017-06-17 02:29] wsmelton commented on #869
This was not using any DSC scripting. Was opening and closing about 90 files in a module to change a parameter type...starting committing the changes and noticed this...

![image](https://user-images.githubusercontent.com/11204251/27249419-d9ee7966-52da-11e7-89ce-d8eb5de29fed.png)

[2017-06-17 17:17] johlju opened #894 "CodeLens appearance causes horizontally-scrolled window to snap back"
### System Details

- Operating system name and version: Windows 10
[code]
- VS Code version: 1.13.1
- PowerShell extension version: 1.3.2
- Output from `$PSVersionTable`: See below

`$pseditor.EditorServicesVersion` does not work since PowerShell Integrated Terminal i crashing.
[code]

### Issue Description

Screen jumps back to beginning of row when row is long while cursor remains. I think this

[2017-06-17 17:57] johlju commented on #894
I have attached logs. I can reproduce.
For some reason PowerShell Integrated Console hanged when it started. Saw that now. That is why I couldn't reproduce at first.

[2017-06-18 03:37] pcgeek86 opened #898 "Feature request: Convert PowerShell command invocation to Splatting"
Back before VSCode PowerShell was emerging, I was often using the PowerShell ISE to author PowerShell code. While writing PowerShell code, I typically call a PowerShell command, and then convert that to a Splatting invocation, which took a bit of manual effort. The more parameters a command invocation has the more effort it takes to manually convert the command invocation to Splatting syntax. This

[2017-06-18 03:43] pcgeek86 commented on #25
Closing, as this currently works. Please comment if there's something specific that isn't working, and we'll reopen it.

![vscode-autocomplete-githubissue25](https://user-images.githubusercontent.com/466713/27257887-90624a02-539d-11e7-9b1e-12623e1ce0a0.gif)

[2017-06-18 10:29] SeeminglyScience commented on #898
You can do the same type of thing with editor commands and some of the EditorServices commands. For example this will splat whatever CommandAst is closest to your cursor.

[code]

[2017-06-18 16:18] daviwil commented on #25
I think what Sami was asking for was the ISE's behavior of cycling through completions when you hit tab, like this:

![012a64b3-8fa4-4d7f-bfa6-892494b9ed25](https://user-images.githubusercontent.com/79405/27262214-f96450b8-5406-11e7-875c-62967f2495b3.GIF)

I think we can certainly provide that behavior, just haven't had time to look into it recently.

[2017-06-18 18:26] pcgeek86 commented on #25
Gotcha. I was looking at the original request, not the follow-on comments.

It looks like the original request was for any type of tab completion, which works for parameters, parameter values, functions, etc.

[2017-06-18 19:58] kapilmb commented on #898
I think this issue is identical to that of #517.

[2017-06-18 22:04] pcgeek86 commented on #898
Thanks for pointing that out @kapilmb. Looks like SAPIEN implemented it into their editor based on my original release of `SplatHelper`. I'll close this one since the two issues are closely related.

![image](https://user-images.githubusercontent.com/466713/27264620-558df378-5437-11e7-878e-8891b4288c19.png)

[2017-06-18 22:04] #898 closed

[2017-06-18 22:48] kapilmb commented on #25
I think a very simple fix would be rebind `selectNextSuggestion` and `selectPrevSuggestion` actions to `tab` and `shift+tab` keys. This will not give a complete parity with the ISE behavior but the user will be able to tab through the suggestions instead of using the up/down arrow keys.

[2017-06-19 08:21] JakobGSvendsen commented on #544
this issue is still there on multiple install I have made within the last month?

Can I disable it?

[2017-06-19 08:29] brettmillerb commented on #544
You can add the setting to your profile @jakobGSvendsen.

`"powershell.integratedConsole.focusConsoleOnExecute": false`

I spoke to @daviwil about it and the setting couldn't be implemented by default so it's now a user setting.

[2017-06-19 13:01] daviwil commented on #25
I think we could make the ISE-style completion work with a general rebind of Tab and a new request to the language server, should be fairly straightforward.  I'll take a look at it next month sometime.

[2017-06-19 15:39] daviwil commented on #544
Hey Jakob!  Brett is correct, we had to leave "focus console on execute" as the default behavior due to accessibility requirements.  If you add the setting that Brett pasted to your User Settings, you'll get the behavior that you want.

[2017-06-19 16:42] pythoninthegrass commented on #572
Hi @daviwil. I emailed you my logs from my Napster work address. I'll be happy to help test with whatever you'd like to try. Also, forgot to mention my environment is OS X 10.10.5, VSCode 1.13.1.

Thanks for your help!

[2017-06-19 16:48] pythoninthegrass commented on #603
@daviwil Cross-posted in #572 after enabling verbose logging and replacing Start-EditorServices.ps1 with https://raw.githubusercontent.com/daviwil/vscode-powershell/eb8b2d31d2fafe5e2e09cdfed7f811c74d9d1bcf/scripts/Start-EditorServices.ps1

Thanks again!

[2017-06-19 23:57] rkeithhill commented on #892
Debugging a remote script requires that the remote computer (container) has PSRemoting enabled.  Since you are running in a container, I assume you'll need to map the container's port 5985 to a localhost port (say 15985).  Debugging with VSCode is done via the Debug Interactive Session configuration.   Once you've started that session, you use Enter-PSSession localhost -port 15985 to open a remote

[2017-06-20 14:11] PowerDBAKlaas opened #899 "PowerShell extension uses PSScriptAnalyzer settings file - Cannot update rules"
I had this error when doing: `<ctrl`>+`<shift`>+P, PSScript...
![image](https://user-images.githubusercontent.com/22813386/27336428-d0658de2-55cf-11e7-994e-8b7fe99241d6.png)
After Uninstall and reinstall the Powershell extension ( version 1.3.2, the same as it was before), there's another issue:
![image](https://user-images.githubusercontent.com/22813386/27337323-601dd3b6-55d2-11e7-9921-c520b00ad8

[2017-06-20 15:27] tadcrazio opened #900 "debugger is loading variables stored in the profile."
### System Details

- Windows 8.1
- VS Code version: 1.13.1
- PowerShell extension version: 1.3.2
- Output from `$PSVersionTable`:
[code]

[code]

### Issue Description

When using the debugger variables from my profile c:\Users\myuser\Documents\windowspowershell\profile.ps1  are being included in the debugger. It causes some confusion and makes the debugger look a little convoluted.
### Attached

[2017-06-20 15:41] rkeithhill commented on #900
Add the following setting to your user profile to prevent VSCode from processing your profile scripts:
[code]
After saving your settings file, restart the PowerShell session (or restart VSCode).

This will impact the editor as well i.e. if you preload modules you won't see them in the editor (intellisense) until you go into the PowerShell Integrated Console and import them.  Also, if you have a cu

[2017-06-20 15:54] tadcrazio commented on #900
Awesome thank you

[2017-06-20 15:54] #900 closed

[2017-06-20 17:22] Liquidmantis commented on #535
Hopefully this will include PSReadline's Vi EditMode and ViModeIndicator.  I found this issue while searching for a way to get vi mode working.

[2017-06-20 18:49] cixelsyd commented on #685
I had this issue with powershell-6.0.0-beta.2-osx.10.12-x64 but installing powershell-6.0.0-alpha.18-osx.10.11-x64 fixed it.

[2017-06-20 18:55] daviwil commented on #685
@cixelsyd this problem is caused by PowerShell Core 6 releases older than `alpha.18`, but `beta.2` is newer.  I think you may be hitting a different issue, can you provide more details about what happened in your case?  Logs would be helpful:

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2017-06-20 21:27] ironsalsa opened #902 "Debugging breakpoints now won't work on any script except debugexample.ps1"
### System Details

- Operating system name and version: Windows 8.1 Enterprise 6.3.9600 Build 9600
- VS Code version: 1.13.1
- PowerShell extension version: 1.3.2
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2017-06-20 21:59] ironsalsa commented on #902
Update: it only happens when breakpoints are outside of for loops - breakpoints in for loops are still respected.

[2017-06-20 22:11] daviwil commented on #902
@ironsalsa thanks for the report!  I'll take a look.

[2017-06-20 22:21] #191 closed

[2017-06-20 22:27] #530 closed

[2017-06-21 01:42] tmongero commented on #812
This same thing is now happening for me, on version 6.0.0-beta.2 of the PowerShell Core extension for the Visual Studio Code app. Same error message that aru-kun provided, except the version of PowerShellEditorServices it's expecting is v1.3.2.

[code]
`code -v` output:
[code]
`code --list-extensions --show-versions` output:
`ms-vscode.PowerShell@1.3.2`

`$PSVersionTable` output:
[code]

[2017-06-21 03:18] daviwil commented on #812
@tmongero Based on your $PSVersionTable output, you seem to be using `v6.0.0-alpha.14` of PowerShell Core.  Are you certain that you've installed `v6.0.0-beta.2`?

[2017-06-21 10:19] PowerDBAKlaas commented on #899
Actually, the thought that something is wrong, started with noticing that the warning and error count ( in the left lower corner) were and are always 0.

[2017-06-21 13:29] PowerDBAKlaas commented on #899
OK
    "powershell.scriptAnalysis.settingsPath": "bin//PSScriptAnalyzerRules.psd1",
was set to a non-existing file, so this was my own fault.
Maybe if the error message could say "file not found" I would realize that sooner than with "cannot update the rules"

[2017-06-21 13:34] daviwil commented on #899
Hey Klass, sorry for the delay in response.  I'm glad you figured out the issue!  You're right, we should indicate that the settings file is missing, I'll reopen this issue so we can track a fix for that.

[2017-06-21 13:38] daviwil commented on #887
Thanks for the details!  I ran out of time to fix this for today's upcoming release but after that's done I'm going to fix this for a patch update for next week :)

[2017-06-21 14:14] #367 closed

[2017-06-21 14:28] #891 closed

[2017-06-21 15:48] The-IT-Guy opened #905 "No code-complete in terminal"
Is it possible to use code-complete in the PowerShell integrated terminal?
Especially while debugging it would be really great to be able to write some small commands using code-complete like in ISE.
Instead, I have to write these commands in a new ps1 file and execute the file (or just a selection from the file). Is there a better way to do this?

Regards,
Fabian

[2017-06-21 18:17] tmongero commented on #812
Hey @daviwil -- was at the tail-end of the day yesterday, but I could have *sworn* I had the 6.0.0-beta.2 version installed. Anyhow, I upgraded to the latest version, rebooted my system, but the issue still persists. See new output of `$PSVersionTable` below:

[code]

[2017-06-22 05:49] rkeithhill opened #907 "New temporary console debugging should probably not close until user presses key"
On 1.4.0 the new temporary console feature is nice but after the debug run is done, I usually want to sift through and inspect output.  Perhaps we need a "Press any key to close the terminal"?

If the user presses F5 again to debug in a temp console, I'm fine if the extension forcibly closes the previous one.

[2017-06-22 09:46] rainerklier opened #908 "Workspace file scanning will throw exceptions on Linux when walking large file trees"
### System Details

- Operating system name and version:
openSUSE Linux
- VS Code version:
1.14.0-insider
- PowerShell extension version:
ms-vscode.PowerShell@1.4.0

- Output from `$PSVersionTable`:
PSVersion                      6.0.0-beta
PSEdition                      Core
BuildVersion                   3.0.0.0
CLRVersion
GitCommitId                    v6.0.0-beta.2
OS

[2017-06-22 10:10] stefanstranger opened #909 "Write-VSCodeHtmlContentView AppendBodyContent should accept pipeline input"
### System Details

- Operating system name and version: Windows 7
- VS Code version: 1.13.1
- PowerShell extension version: 1.4.0
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.117
CLRVersion

[2017-06-22 10:14] rainerklier commented on #908
i found out that version 1.2.1 at least works after starting code-insiders.
starting with 1.3.0 it does not work at all any more.

[2017-06-22 10:57] mattmcnabb opened #910 "Set-VSCodeHtmlContentView should allow passing stylesheets and JavaScript files as a parameter"
It would be great if we could style our HTML with the new *-VSCodeHtml cmdlets available with v1.4.0. It could possibly be implemented by giving us access to use <head> tags, or by passing in stylesheets to a parameter.

[2017-06-22 11:59] tsugliani commented on #892
@rkeithhill Thank you, I'll give it a try !

[2017-06-22 12:42] steviecoaster opened #911 "Powershell Extension crashing on OS X"
I get this error when opening any type of ps1 file or when changing the editor to Powershell on a new untitled file:

An error occurred while starting PowerShell Editor Services:

The specified module 'PowerShellEditorServices' with version '1.4.0' was not loaded because no valid module file was found
in any module directory.

This just started happening after my powershell module updated when I l

[2017-06-22 12:56] daleecc opened #912 "Debugging breaks when a breakpoint is removed mid-execution"
### System Details

- Operating system name and version: Windows 7 (64-bit)

[code]

### Issue Description

When a breakpoint is removed while the debugger is active (not at a breakpoint), the debugger functionality breaks. I believe it is still hitting breakpoints but not displaying that they have been hit, and it hangs when attempting to debug again.

To reproduce:

1. Open VSCode and save the s

[2017-06-22 13:02] tmmuessig opened #913 "Get-Help -ShowWindow causes window to appear below VS Code"
### System Details

- Operating system name and version: Windows 10 Version 1703 (OS Build 15063.413)

code -v =1.13.1       379d2efb5539b09112c793d3d9a413017d736f89
$pseditor.EditorServicesVersion
code --list-extensions --show-versions = ms-vscode.PowerShell@1.4.0
$PSVersionTable =
Name                           Value
----                           -----
PSVersion                      5.1.15063.4