[2018-07-06 16:09] SeeminglyScience commented on #1403
Hmm, in VSCode I'm not sure that it will be possible to get the same behavior at all.  Out of curiosity I pulled the `$Host` from the start up runspace (which would still be the default `ConsoleHost`).

When holding down a key conhost acts differently than xterm.  Doing something like this:

[code]

If you hold down a key while the above is running, conhost will report only key down until you rele

[2018-07-06 16:55] tylerl0706 commented on #1403
Hey @Tyriar sorry to bring you into this. I was wondering if you have any context to what @SeeminglyScience was saying.

[2018-07-06 17:47] Tyriar commented on #1403
The issue is you don't get individual keyup and keydown events? VT doesn't communicate keyup/keydown events, just key events. This may be something lost in translation going from the verbose Windows Console API to VT.

[2018-07-07 05:31] rjmholt commented on #1374
Hmmmmmmm, yes, now that I've tested this, I can confirm the same behaviour that @TheIncorrigible1 is reporting.

Will close this. We can reopen later if the behaviour is reproducible on another platform. Might need a test on Windows Server 2016?

[2018-07-07 05:31] #1374 closed

[2018-07-07 05:35] rjmholt commented on #1392
To be honest, it's not really my true preference. But managing this issue is tricky, since it's clearly behaving pretty badly (not so much in this issue as in others). Hopefully we can open up the discussion a bit, as well as work out where exactly we need to deal with this problem.

[2018-07-07 05:39] rjmholt commented on #1400
@Lowestkillcount Can you give an example of the path that isn't working? Also, have you tried this in PowerShell without VSCode? If it reproduces in PowerShell without VSCode, it would probably be a PowerShell issue (or could be by design).

[2018-07-07 05:51] Lowestkillcount commented on #1400
Interestingly enough - i've just reopened the same file i was working on and this doesn't happen anymore.... however this is on a different PC so maybe something in the other environment..

The issue was when working on a file in path:
C:\Users\LKC\Onedrive - S&M Company Pty Ltd \Script.ps1

Using the  Debug\Start Debugging option in the menu would result in the console throwing an error like belo

[2018-07-07 08:40] ajpaul18 opened #1404 "terminal process exited with code:1"
Issue Type: <b>Bug</b>

During VS Code startup,Powershell Terminal exits with the following errors
1. Terminal process exited with code :1
2. The language service could not be started

Extension version: 1.7.0
VS Code version: Code - Insiders 1.23.0-insider (a656d397e424173c86f32703e0c0293bd8084da0, 2018-05-03T00:07:45.778Z)
OS version: Windows_NT ia32 10.0.17134

<details>
<summary>System Info</s

[2018-07-07 16:19] tylerl0706 commented on #1404
Thanks for this. I noticed your VSCode version is quite behind... Can you upgrade to the latest and try again?

[2018-07-07 17:32] tylerl0706 commented on #1257
@Tyriar pinging you because of @prof7bit's added comment that this also happens in the Rust extension.

Do you folks have a way for us to add this? Or should we open an issue on vscode?

[2018-07-07 17:45] Tyriar commented on #1257
If it makes sense for an extension to scroll to the bottom then it can call `workbench.action.terminal.scrollToBottom` when it's running the new command. In the general case VS Code will only do this automatically on keyboard input and it doesn't make sense to add a setting to do otherwise, this would be super annoying if you wanted to look at output while running a command.

[2018-07-07 17:59] mklement0 commented on #1273
@tylerl0706: In this case I was thinking it's the `gam ... | % ToString` workaround that might help.

[2018-07-07 18:03] mklement0 commented on #1306
@tylerl0706: I think in this case the workaround is to ensure that the PS scripts are saved as UTF-8 _with BOM_:

Click on `UTF-8` in the VS Code status bar, choose `Save with Encoding`, then select `UTF-8 with BOM` and re-execute the script - see https://github.com/PowerShell/vscode-powershell/issues/1392#issuecomment-402369250

[2018-07-07 18:03] mklement0 commented on #1074
@tylerl0706: I think in this case the workaround is to ensure that the PS scripts are saved as UTF-8 _with BOM_:

Click on `UTF-8` in the VS Code status bar, choose `Save with Encoding`, then select `UTF-8 with BOM` and re-execute the script - see https://github.com/PowerShell/vscode-powershell/issues/1392#issuecomment-402369250

[2018-07-07 19:13] rjmholt commented on #1404
Hi @ajpaul18, thanks for opening an issue. This looks like a startup crash in EditorServices, but we'll need to collect more information to work out what the root problem is.

Out of curiosity, does red text flash in the console before the crash occurs? If so, the best way to work out what it says is a screen recorder (like a screen to GIF recorder). (Making that diagnosis easier is on the list of

[2018-07-07 19:14] rjmholt commented on #1404
Oh, yeah, like @tylerl0706 says, also worth upgrading VSCode!

[2018-07-07 19:35] tylerl0706 commented on #1257
We probably want to invoke this when sending certain requests then. I think the big one is F8 (Run Selection). Which would probably be as simple as adding:

[code]

to [this block of code](https://github.com/PowerShell/vscode-powershell/blob/945b12623406d8c7204ea8d36151d89e171109ff/src/features/Console.ts#L204-L230).

[2018-07-08 05:48] corbob opened #1405 "Show-Command like panel"
**Summary of the new feature**

ISE has a pane for Show-Command. It would be good to have something similar to this in VS Code.

Numerous users have expressed the lack of this feature for why they don't use VS Code for PowerShell.

**Proposed technical implementation details (optional)**

A side bar view for this seems to make the most sense.

[2018-07-08 19:45] rkeithhill commented on #1257
This works well:
[code]

Want me to PR that?  Also, should we put this behavior behind a setting? I would default it to scroll to bottom.  Even though that is a change in behavior, it is the behavior most folks expect IMO.

[2018-07-08 22:17] mklement0 commented on #1306
@tylerl0706:

Actually, on Unix-like platforms there is no need for this workaround, as these are the default values there.

I can confirm that the issue still exists in VSCode 1.25.0 / PowerShell extension 1.7.0  and that it is indeed - curiously - tied to whether the script file contains at least 1 function definition or not (the encoding of the script doesn't seem to matter).

[2018-07-09 02:22] ajpaul18 commented on #1404
![image](https://user-images.githubusercontent.com/30713772/42427508-2e63fa02-8372-11e8-8b73-93b5a2897b73.png)
![image](https://user-images.githubusercontent.com/30713772/42427536-5cfa91fa-8372-11e8-857f-818ee82e2f40.png)

I have updated to july 2018. Still the console crashes.
@rjmholt There is no red text flashing in the console before the crash, the console crashes immediately in startup.

[2018-07-09 02:38] rkeithhill commented on #1404
I believe the issue is that your home dir is named `Night's Watch`.  That single quote inside a single quoted path to the script is causing a parse error.  We would either need to double-up single quotes or switch to using double quotes.

[2018-07-09 02:48] rjmholt commented on #1404
@ajpaul18 No need for red text, that message is the important bit.

We should probably do some string escaping for the start script call

[2018-07-09 02:54] ajpaul18 commented on #1404
Yes,the user name is the problem. i tried installing in another user account , it  worked fine.

[2018-07-09 02:54] rkeithhill commented on #1404
We should be able to fix this though.

[2018-07-09 03:06] ajpaul18 commented on #1404
Update the regex in the start script?

[2018-07-09 03:08] rkeithhill commented on #1404
It fails before it even starts the start script.  This needs to be fixed in the extension where we launch powershell.exe with those args.  I'm working on a fix right now but I don't have a good test case for this.  Perhaps you could test it for me?

[2018-07-09 04:42] ajpaul18 commented on #1404
@rkeithhill  & @tylerl0706  .. Thanks guys, the fix works.
That issue was so annoying. Glad you guys could help me.  Cheers mates

[2018-07-09 04:45] rkeithhill commented on #1404
Let's let the PR merge automatically close this issue.  :-)

[2018-07-09 07:58] glennsarti opened #1413 "Folding provider tests are failing in VSCode 1.25"
This is due to the vscode-textmate module going from v3 to v4 and adding breaking changes.

[2018-07-09 07:58] glennsarti commented on #1413
e.g. https://ci.appveyor.com/project/PowerShell/vscode-powershell/build/1.7.0-insiders-654

[2018-07-09 07:59] glennsarti commented on #1413
There is a WIP PR up at https://github.com/PowerShell/vscode-powershell/pull/1410

[2018-07-09 12:30] powercode opened #1415 "Error trying to attach to host process"
![image](https://user-images.githubusercontent.com/3505151/42450219-bb84ed0e-8383-11e8-839e-1598c3103385.png)

Attaching works when hardcoding the PID in a launch task.

### System Details

- Win 10.0.16299
- VS Code version: 1.25.0
- PowerShell extension version: 1.7.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with attaching to a host process.

T

[2018-07-09 13:15] Tyriar commented on #1257
Looks good :slightly_smiling_face:

[2018-07-09 15:01] rkeithhill commented on #1415
Duplicate of #1322  This has been fixed and will show up in the next release.

[2018-07-09 15:01] #1415 closed

[2018-07-10 00:57] #1257 closed

[2018-07-10 01:12] #956 closed

[2018-07-10 01:42] #1404 closed

[2018-07-10 02:34] #1413 closed

[2018-07-10 03:22] rkeithhill opened #1417 "Code provider folding is not folding here strings"
### System Details

- Operating system name and version: Windows 10 1803
- VS Code version: 1.25.0 32-bit
- PowerShell extension version: daily build with PR #1416 pulled down
- Output from `$PSVersionTable`:

[code]

### Issue Description

Code folding via the folding provider seems to be working for everything except here strings:

![image](https://user-images.githubusercontent.com/5177512/42487

[2018-07-10 03:22] rkeithhill commented on #1417
Ping @glennsarti

[2018-07-10 03:31] rkeithhill commented on #1417
Could it be something to do with me running 32-bit VSCode?  That'd be odd but not unheard of.  Are you looking at this file via the extension debug host?

[2018-07-10 03:40] glennsarti commented on #1417
yes and I'm running 32bit too.

[2018-07-10 03:47] glennsarti commented on #1417
What's the green squiggle saying underneath your `$I`

[2018-07-10 03:47] SteveL-MSFT commented on #1403
Even PowerShell Core console host has this difference where on Windows, you can get the individual key up/down signals, while on non-Windows, you only get the key down.  I don't think VSCode-PS needs to do anything different here.

[2018-07-10 03:48] rkeithhill commented on #1417
That the variable `$I` is never used.

[2018-07-10 03:50] glennsarti commented on #1417
So the test failure is on that particular piece of text.   The plot thickens...

[2018-07-10 03:59] glennsarti commented on #1417
Oh that's super weird.  The tokenizer didn't see the heredoc.

[2018-07-10 04:02] rjmholt commented on #1417
Yeah I wondered if it was a grammar problem...

[2018-07-10 04:02] rjmholt commented on #1417
In that case, we should open an issue in EditorSyntax and mark as Resolution-External

[2018-07-10 04:03] glennsarti commented on #1417
Nope...not so fast.  I can repro the test failure, but not the actual failure.

[2018-07-10 04:05] glennsarti commented on #1417
Currently thinking this is a test fixture issue and it's loading the wrong powershell grammar file...

[2018-07-10 04:09] rkeithhill commented on #1417
I noticed when the VSCode instance pops up during the test, it is v1.24.1.  Even though I have v1.25 installed.

[2018-07-10 04:20] glennsarti commented on #1417
@rkeithhill Can you please try changing the file from CRLF to LF to see if it makes a difference

[2018-07-10 04:37] rkeithhill commented on #1417
You may have Git configured to use LF but the repo configures itself to use `auto` via `* text=auto` in `.gitattributes`.  Unless that is, you're on Linux/macOS, in which case `auto` would select LF.

[2018-07-10 06:46] glennsarti commented on #1417
@rkeithhill Ok so, it looks like I'm using the `tokenizeLine` method wrong.  I should really be feeding it a line by line, instead of jamming the whole file in there.  e.g.

1. It first splits the document into a line array
https://github.com/Microsoft/vscode/blob/d2b6bbb46fbdf535e2c96b3e00ac56ac1d427a69/src/vs/workbench/parts/themes/test/electron-browser/themes.test.contribution.ts#L227

2. And t

[2018-07-10 08:39] glennsarti commented on #1417
Started a WIP PR, with tests and janky workaround.

[2018-07-10 12:54] ITCTOM opened #1419 "Update ScriptAnalyzer"
Hi,
is it possible to update the Script Analyzer Plugin in PowerShell VSC Extension?

regards

  thomas

* Slack Community Chat: https://powershell.slack.com (you can sign-up at http://slack.poshcode.org/ for an invite)
* Gitter Chat: https://gitter.im/PowerShell/vscode-powershell

[2018-07-10 16:48] D3MaxT commented on #1310
I also vote for only supporting 5.1 and Core with 2.x.

For older versions, use 1.x or use ISE or PowerShell Studio.

[2018-07-10 20:54] BlueArcherX commented on #1315
@mpearon Some component of this fix was on VS Code, it was shipped in 1.24.  The remaining fix has to come with vscode-powershell 1.7.1.  I am not sure what the hold up is, it has been 2.5 months since 1.7.0, and very little movement is showing in the [milestones for 1.7.1](https://github.com/PowerShell/vscode-powershell/milestone/50)

[2018-07-10 21:31] Jaykul commented on #569
+Label AintGonnaDoIt☹️

Can we agree that after supposedly trying to get PSReadLine integrated for over a year, it's _**long** past time_ to improve _your own_ input?  I mean: how many people actually type in that console, the way it is?

Nobody on my team will use the interactive debugger, because working in that terminal is so horrible.

[2018-07-10 21:54] SeeminglyScience commented on #569
@Jaykul It's mostly done, PR is PowerShell/PowerShellEditorServices#672 if you want to try it out 😀

[2018-07-10 22:52] rkeithhill commented on #1315
My understanding is the change to use named pipes instead of TCP ports, introduced a delay due to both effort to implement and subsequent internal review. There's also been ongoing work to improve the whole release process to make it simpler/quicker to roll releases in the future.

If you were to take a look at merged PR's, you'd see there's been a lot of work done since 1.7.0.  I'm as anxious as

[2018-07-11 02:42] msftrncs opened #1420 "integrated console starts immediately if untitled editor is reloaded"
Issue Type: <b>Bug</b>

Start VSCode with PowerShell extension enabled, with an untitled and dirty PowerShell editor reloaded from hot-exit, but not restarted with the focus (so other editors that are not PowerShell must be also reloaded from hot-exit), and the PowerShell integrated console starts immediately (as soon as extensions start), with its 'starting' status and later the icon appearing in

[2018-07-11 04:58] rkeithhill commented on #1419
With the 1.8.0 release (released today), the extension should the latest version of the ScriptAnalyzer it finds on your machine.  Although this version shipped with `1.17.1`.

[2018-07-11 04:58] #1419 closed

[2018-07-11 07:11] fcharlie opened #1421 "v1.8.0: Permissions to the pipe file were not set properly cannot start"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with...

### Attached Logs

Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell#reporting-problems)
about capturing and sending logs.

[code]

[code]
`./modules/Po

[2018-07-11 07:15] Diederikjh opened #1422 "Powershell integrated terminal in VSCode doesn't start up."
### System Details

- Operating system name and version: Ubuntu 16.04
- VS Code version: 1.25.0
- PowerShell extension version: 1.8.0
- Output from `$PSVersionTable`: (see below)

[code]

### Issue Description

I had a working Powershell integrated terminal and debugger just yesterday, using the old version of the Powershell extension.

VS code had a non clean exit (As my system locked up).

This

[2018-07-11 07:56] fcharlie commented on #1422
see https://github.com/PowerShell/vscode-powershell/issues/1421

./modules/PowerShellEditorServices/Start-EditorServices.ps1:227

replace

[code]

to

[code]

[2018-07-11 08:03] Diederikjh commented on #1422
Awesome, thanks. Seems to have fixed it.  I also replaced the other occurrence of `%A` with `%a` 2 lines down.

[2018-07-11 08:07] fcharlie commented on #1422
@Diederikjh Maybe only linux need fix.

[2018-07-11 08:32] Diederikjh commented on #1422
Your probably right.

The debugger sometimes seems to crash on me. Not sure if it is related to the above changes.

[2018-07-11 08:57] abbgrade opened #1423 "The language service could not be started"
## Issue Description ##

After startup of VSCode i get the error message "The language service could not be started".

## Attached Logs ##

[1531298684-cba3b6d9-9142-4ef9-a52a-21986de530eb1531298680271.zip](https://github.com/PowerShell/vscode-powershell/files/2183723/1531298684-cba3b6d9-9142-4ef9-a52a-21986de530eb1531298680271.zip)

## Environment Information ##

### Visual Studio Code ###

| Nam

[2018-07-11 10:14] Diederikjh commented on #1423
Similar problems logged at #1421 and #1422. Workaround in last issue got terminal up, but debugger stil crashes sometimes.

[2018-07-11 13:48] nsleigh opened #1424 "The term 'New-Guid' is not recognized as the name of a cmdlet, function"
OS: Windows 7
PowerShell version: 4.0
$pseditor.EditorServicesVersion: 1.8

On upgrading version 1.8 I am seeing this error: PowerShell Editor Services The term 'New-Guid' is not recognized as the name of a cmdlet, function.

It looks like Start-EditorServices.ps1 is making use of the New-Guid function that was introduced in PS v5.

Workaround: edit Start-EditorServices.ps1 line 175 and change it

[2018-07-11 14:45] PrzemyslawKlys commented on #1346
![image](https://user-images.githubusercontent.com/15063294/42579853-756e4b2e-8529-11e8-826c-19eba36b6083.png)

![image](https://user-images.githubusercontent.com/15063294/42579862-7a0026d0-8529-11e8-801f-f6158641b985.png)

Event thou I don't use debugging I got this.. I can't do anything. I closed/killed powershell. Using 1.25 and 1.8. I just saw this first time ever when upgraded to 1.8. Before

[2018-07-11 14:52] andrewducker commented on #1424
Cheers for the workaround, same issue here.

[2018-07-11 14:59] andrewducker commented on #1424
Although even when I do that, if I then try to save a file, it displays "Formatting PowerShell document..." at the bottom of the screen, and then "The PowerShell session has terminated due to an error, would you like to restart it?"

(This happens every time.)

[2018-07-11 15:01] rkeithhill commented on #1424
Can you zip and attach the log files?  For instructions, see https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2018-07-11 15:09] andrewducker commented on #1424
[SaveCrash.zip](https://github.com/PowerShell/vscode-powershell/files/2185079/SaveCrash.zip)

[2018-07-11 15:12] andrewducker commented on #1424
This is probably a different bug to the one this issue was created for.  That one doesn't actually start the editor services up, because of the failure to create a named pipe, because new-guid doesn't exist.

Should I create a separate issue for this?

[2018-07-11 15:45] rkeithhill commented on #1424
Can you submit this issue to https://github.com/powershell/powershelleditorservices  Title something like PSES crash in `HandleDocumentRangeFormattingRequest` and attach the zip to that issue.  Thanks!

[2018-07-11 15:52] rkeithhill commented on #1424
As a work-around, try disabling code analysis with the user setting:
[code]
I think that should disable the formatting but unfortunately it also disables analysis.

[2018-07-11 16:12] ITCTOM commented on #1419
Thanks for the response.

I´ve installed the new version today it´s great.

Is there a documentation out there how to update the Script Analyser by myself?

Kind regards

Thomas Paetzold

From: Keith Hill <notifications@github.com>
Sent: Wednesday, July 11, 2018 6:58 AM
To: PowerShell/vscode-powershell <vscode-powershell@noreply.github.com>
Cc: Pätzold, Thomas <paetzold@itc.rwth-aachen.de>; Author

[2018-07-11 16:16] rjmholt commented on #1424
I've opened a PR for the `New-Guid` issue:
https://github.com/PowerShell/PowerShellEditorServices/pull/699

[2018-07-11 16:17] rjmholt commented on #1421
I've opened a PR to fix this:
https://github.com/PowerShell/PowerShellEditorServices/pull/698

[2018-07-11 16:20] rkeithhill commented on #1419
For install instructions, see https://www.powershellgallery.com/packages/PSScriptAnalyzer/1.17.1

[2018-07-11 16:30] rkeithhill commented on #1419
The PowerShell extension (v1.8.0) ships PSSA 1.17.1 in the folder `~\.vscode\extensions\ms-vscode.powershell-1.8.0\modules\PSScriptAnalyzer`.  You should not modify that version.  However if a newer release of PSSA comes out, you can install it using the instructions I pointed you to.  The extension (>= 1.8.0) will search for the latest version of PSSA on your system and load that.  If you don't h

[2018-07-11 16:36] andrewducker commented on #1424
Done:
https://github.com/PowerShell/PowerShellEditorServices/issues/700

[2018-07-11 16:41] #1417 closed

[2018-07-11 17:08] rkeithhill commented on #1424
@andrewducker Thanks!!  Closing the original issue in favor of https://github.com/PowerShell/PowerShellEditorServices/pull/699

[2018-07-11 17:08] #1424 closed

[2018-07-11 17:11] marckassay commented on #954
@tylerl0706, what's the build number to the version you referred to in your last post?  Because I noticed this issue again last week during a service outage where I live.

[2018-07-11 17:13] rjmholt opened #1425 "Improve releases"
## Meta issue for release improvements

### Automation

- [x] Improve the changelog generation script to create changelogs in the correct format.
- [ ] Work out a single place to set the extension version number (across client and server).
- [x] Improve VSIX publication - currently the build produces a VSIX, but `vsce` only wants to publish from
       a code base, meaning the VSIX needs to be dec

[2018-07-11 17:22] rkeithhill commented on #954
You VSCode should automatically update to 1.8.0 of the PowerShell extension.

[2018-07-11 17:29] tylerl0706 opened #1427 "Microsoft Security Advisory CVE-2018-8327: Critical Remote Code Execution in PowerShell Editor Services"
# Microsoft Security Advisory CVE-2018-8327
## Critical Remote Code Execution in PowerShell Editor Services

### Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in the open source versions of PowerShell Editor Services & the PowerShell extension for VSCode.

This advisory also provides guidance on what users can do to update their exten

[2018-07-11 17:36] rjmholt commented on #1419
As @rkeithhill says, installing a newer version of PSSA anywhere on your module path should give you that version in the extension

[2018-07-11 17:51] rjmholt commented on #1425
/cc @tylerl0706 @rkeithhill @SeeminglyScience

[2018-07-11 18:04] marckassay commented on #954
Oh nice! It just updated to 1.8.0 and now works even when internet is unavailable. Thanks!

[2018-07-11 19:06] rjmholt commented on #1421
@fcharlie Can you update your extension version to 1.8.1 and see if this is fixed?

[2018-07-11 19:07] rjmholt commented on #1422
@Diederikjh, @fcharlie Can you please update your extension to 1.8.1 (just released then) and see if this issue is fixed?

[2018-07-11 19:08] rjmholt commented on #1423
Hi @abbgrade, I've just pushed a patch. Would you be able to upgrade your installed extension and report back on whether the crash still occurs?

[2018-07-11 20:16] msm-fc opened #1428 "PowerShell Extension 1.8.1 breaks editor folding on region tags"
### System Details

- Operating system name and version:  Windows 10.1803.17134.137
- VSCode Version: 1.25.0
- PowerShell extension version: 1.8.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.17134.137
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVe

[2018-07-11 20:18] rjmholt commented on #1428
Thanks for opening an issue @msm-fc!

We think 1.8.0 broke this as well.

VSCode seems to implement [its own `#region` folding](https://code.visualstudio.com/updates/v1_17#_folding-regions), so maybe this got overridden?

/cc @glennsarti @rkeithhill

[2018-07-11 20:53] Diederikjh commented on #1422
Looks good for now. Terminal starts up, and debugging looks more stable.
Thanks

[2018-07-11 21:21] #1422 closed

[2018-07-11 22:37] rkeithhill commented on #1378
This was fixed in the 1.8.0 release.

[2018-07-11 22:37] #1378 closed

[2018-07-12 00:43] glennsarti commented on #1428
The new syntax folder is all or nothing, i.e. when active, only the folding ranges supplied willbe used.  None of the vscode default ones will be used.

The vscode region folding is defined here;
https://github.com/Microsoft/vscode/blob/master/extensions/powershell/language-configuration.json#L26-L31

The syntax folder uses this;
https://github.com/PowerShell/vscode-powershell/blob/master/src/feat

[2018-07-12 00:45] rjmholt commented on #1428
Thanks @glennsarti!

[2018-07-12 01:34] fcharlie commented on #1421
@rjmholt 1.8.1 is running

[2018-07-12 01:34] #1421 closed

[2018-07-12 10:08] stukey commented on #1428
I am experiencing this issue too.

Syntax folding enabled (powershell.codeFolding.enable = true):

![9d4bfac6-4166-4e1a-a52e-dc721fe22e5a](https://user-images.githubusercontent.com/12292623/42626982-98352f8e-85c3-11e8-8afb-dbf2f30cc99e.jpeg)

Syntax folder disabled (powershell.codeFolding.enable = false):

![6f0d0f44-7ec9-4ffd-a2b1-f42fbec9f287](https://user-images.githubusercontent.com/12292623/4

[2018-07-12 11:04] glennsarti commented on #1428
@stukey Thanks.  That makes it make easier to track down what's going on.  I've repro'd locally and working on a fix.

[2018-07-12 11:14] stukey opened #1429 "Inaccurate PSScriptAnalyzer "Line has trailing whitespace" errors since 1.8.0"
Since the update to the PowerShell Extension 1.8.0 (and 1.8.1) I am seeing 100s of alerts about my scripts in the 'Problems' section of VSCode indicating "[PSScriptAnalyzer] Line has trailing whitespace (PSAvoidTrailingWhitespace)". This rule in the script analzyer seems to be extremely unreliable since it's highlighting many lines of code that do not have any trailing or leading spaces - mainly i

[2018-07-12 11:16] stukey commented on #1428
@glennsarti Great thanks Glenn.

[2018-07-12 11:55] glennsarti commented on #1428
So PR #1430 is up to fix the region case sensitivity problem.

The PowerShell region folding doesn't actually come from the PowerShell extension, it's embedded in VSCode by default, which is why the behaviour can seem odd i.e. Code Folding Disabled, with VSCode 1.23 and PowerShell Extension 1.8.1 will have case sensitive region folding :-)

Interestingly, VSCode only fixed that in 1.24.0 which is

[2018-07-12 12:08] glennsarti commented on #1428
@stukey If you know how to use one-off extension builds, https://ci.appveyor.com/project/PowerShell/vscode-powershell-cs82i/build/1.8.1-insiders-236/artifacts has the VSIX file for that PR

[2018-07-12 12:15] stukey commented on #1428
Thanks @glennsarti I don’t know how to do that so I will wait for the release version. Just so I’m clear do I still have to disable syntax folding in order for region folding to work properly in ps1 scripts (as it did before 1.8.0)?

[2018-07-12 12:23] fullenw1 opened #1431 "Custom snippets don't show up among other snippets"
## Issue Description ##

Custom snippets don't show up among other snippets.
I am talking about those snippets:
[https://github.com/PowerShell/vscode-powershell/blob/master/docs/community_snippets.md](https://github.com/PowerShell/vscode-powershell/blob/master/docs/community_snippets.md)

Did I miss something?
I think there is nothing to install beside the vscode-powershell extension... or is it?

[2018-07-12 12:41] glennsarti commented on #1428
Yes.  Once the new version is released, you can re-enable syntax folding.

[2018-07-12 12:48] corbob commented on #884
@mmarchese how valuable is the ShowWindow portion of this request? Being an electron application, when you launch Get-Help with -ShowWindow, the window often times appears behind the VS Code window. It is my understanding that there is nothing that we can do to resolve that behavior 😞.

I have modified the ShowOnlineHelp call to do -ShowWindow instead of -Online and have found that the experience

[2018-07-12 13:03] mmarchese commented on #884
I've also noticed that windows pop up behind the VS Code window. I've learned to deal with it (especially while using Multi Factor Auth with Office 365 connections) but it is rather annoying. I would say that popping up the Online version would be a better solution if that is possible since that can take focus immediately. Some cmdlets don't have proper links though (or help needs to be updated).

[2018-07-12 13:14] mpearon commented on #704
I just want to make note that the language-aware folding was implemented in PowerShell 1.8.0/1!
Great job, everyone!

[2018-07-12 13:50] wsmelton commented on #1428
@glennsarti I pulled down the VSIX file and can confirm that region folding is working again under that artifact.

[2018-07-12 13:51] glennsarti commented on #1428
Excellent!! Thankyou!

[2018-07-12 13:54] corbob commented on #884
I like the idea of if there is no help link to output somewhere else. I'm not sure how to get ti to the console, but it is something I'm interested in investigating, I have some code that will check for a related links section which I think is that would tell us if there's an online help for it.

Regarding an issue, I'm not sure if there's an issue for it in the VS Code repo, it's more an issue wi

[2018-07-12 14:07] corbob commented on #884
With regards to adding it as another submenu I don't think that's currently possible. There appears to be a Feature Request for it in the vscode repo here: https://github.com/Microsoft/vscode/issues/9827

If we're comfortable with the Ctrl+F1 going online if it's available and defaulting to -full if it's not then I think I can code that up. If we want them as separate commands, that's still doable

[2018-07-12 14:18] stukey commented on #1428
When will this be merged into a release version? I have no idea how that works...

[2018-07-12 14:19] glennsarti commented on #1428
@rjmholt and @rkeithhill will be able to answer that

[2018-07-12 14:24] wsmelton commented on #1428
@stukey there is a menu option to "install from vsix file" that lets you manually add the extension:
![image](https://user-images.githubusercontent.com/11204251/42639243-28ef9ab4-85b5-11e8-9688-e5b137fae021.png)

Just download the file and browse to it when prompted. There is another prompt that you have an "earlier version" of the extension but just let it overwrite that version.

[2018-07-12 15:37] ciejepro opened #1432 "PSScriptAnalyser misreporting"
Issue Type: <b>Bug</b>

If statements comparing with $null aren't evaluated properly

if($Credential.UserName -ne $null) labelled as null on wrong side of operator

Several instances of "trailing whitespace' yet none exists

Extension version: 1.8.1
VS Code version: Code 1.25.0 (0f080e5267e829de46638128001aeb7ca2d6d50e, 2018-07-05T13:11:11.248Z)
OS version: Windows_NT ia32 10.0.14393

<details>
<s

[2018-07-12 15:47] PrzemyslawKlys opened #1433 "Crashed on script start"
### System Details

- Operating system name and version: Windows 10 Insiders
- VS Code version: 1.25
- PowerShell extension version: 1.81
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with... crashing of PowerShell Extension. Copied script from internet. Pasted. Saved. Crashed.

### Attached Logs
[EditorServices.zip](https://github.com/PowerShell/vsco

[2018-07-12 16:12] rkeithhill commented on #1432
I believe the "trailing whitespace" issue is a problem.  The $null warnings are probably correct - see https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/PossibleIncorrectComparisonWithNull.md

However, you can exclude both of these rules by adding a `PSScriptAnalyzerSettings.psd1` file to your workspace.  Then add a workspace settings file to `${workspaceRoot}/.vsco

[2018-07-12 16:18] rkeithhill commented on #1431
These are snippets that users can add to their own, custom snippets file. You can create one of those by following these instructions](https://code.visualstudio.com/docs/editor/userdefinedsnippets#_creating-your-own-snippets).

In general, we tend to add only **widely applicable** (general use) snippets to the extension itself.

[2018-07-12 16:18] #1431 closed

[2018-07-12 16:19] rjmholt commented on #1432
For any issues with PSScriptAnalyzer, you should report them [here](https://github.com/PowerShell/PSScriptAnalyzer/issues/new/choose)

[2018-07-12 16:22] rjmholt commented on #1429
Hi @stukey, for the rule itself you should open an issue [in the PSScriptAnalyzer repo](https://github.com/PowerShell/PSScriptAnalyzer/issues/new/choose).

There is also a way to persist PSSA configurations that @rkeithhill has detailed in https://github.com/PowerShell/vscode-powershell/issues/1432#issuecomment-404566571.

It might be worth keeping this issue open to discuss adding a persistent PS

[2018-07-12 16:24] rjmholt commented on #1432
Going to close this issue in favour of #1429.

[2018-07-12 16:24] #1432 closed

[2018-07-12 16:38] stukey commented on #1429
Thanks @rjmholt. I will open a separate issue. But I do think that we should be able to persist those rule settings across restarts. The other option of having to create files at the root of each directory seems kinda clunky.

[2018-07-12 16:41] rkeithhill commented on #1429
@stukey That's perhaps a personal preference but I certainly prefer having settings like this committed into my SCM system (Git, svn, etc).  Ideally, the PSSA UI would act as a UI for this settings file - creating it for you.

[2018-07-12 16:44] rjmholt commented on #1428
Also @stukey if you have the VSIX file downloaded, you can install it in the CLI like this:
[code]

[2018-07-12 18:43] stukey commented on #1429
@rkeithhill Yep, understood, but we’re not using an SCM currently. Our scripts are stored in numerous folders across multiple servers. So for us the new behaviour is extremely frustrating. Each script we open in VSCode now shows 100s of errors due to the new whitespace rule which we can never resolve or disable.

[2018-07-12 19:29] nathan-alden-hp commented on #1433
I am noticing massive problems with this update. Yesterday I was using 1.8.0 with absolutely no issues. Today, VS Code installed 1.8.1 automatically and I've had nothing but problems. Long terminal start times, long debugging times, frequent crashes... at one point I tried logging out of Windows thinking there was a process hanging somewhere.

The slowdowns and crashes happen even with the simples

[2018-07-12 19:59] rjmholt commented on #1433
Hi @nathan-alden-hp, would you be able to provide more information about your environment?

The following would be helpful in diagnosing the problem:
* The output of the following commands from the integrated console:
  - `$PSVersionTable`
  - `code -v`
  - `code --list-extensions --show-versions`
* Your operating system name/version
* Your [extension logs](https://github.com/PowerShell/vscode-pow

[2018-07-12 20:03] nathan-alden-hp commented on #1433
[code]
[code]
[code]
OS: Windows 10 Enterprise 1803

I can't get you extension logs at the moment.

[2018-07-12 20:16] rjmholt commented on #1429
The problem there is that the standard with linters (pyflakes, tslint, hlint, etc.) is to have a configuration file in the code base. The reason that's standard is because linting configurations tend to be per-codebase, not per-user (because multiple users with different linting configurations contributing to the same code would end badly).

But then the extension allows you to override that at ru

[2018-07-12 20:20] rjmholt commented on #1433
Okie doke, no worries. That sounds positive, but please do open an issue if you have any problems. And thanks for uploading that info too!

[2018-07-12 20:22] rjmholt commented on #1423
Going to close this for now, since it looks like we resolved the other two issues. We can reopen if it looks like this was a different issue.

[2018-07-12 20:22] #1423 closed

[2018-07-12 20:58] SeeminglyScience commented on #1429
I'd like to see the ability to configure global defaults that take affect only if there is no workspace rule set defined.  I also prefer to have the rule set in source control in general, but an untitled workspace or random drafts folder is a pretty common occurrence in PowerShell.

[2018-07-12 21:09] rkeithhill commented on #1429
We could have make the PSSA settings be a user/workspace configuration set of settings like my markdown linter uses e.g.:
[code]
But this has a number of issues.  We already have a file for settings - PSScriptAnalyzerSetting.psd1.  Having the settings in `.vscode\settings.json` kind of duplicates the PSSASettings files.  Also, PSSA can directly use PSSASettings.psd1 but not `.vscode\settings.json`

[2018-07-12 21:32] bergmeister commented on #1429
If the extension fixed/implemented https://github.com/PowerShell/vscode-powershell/issues/823 then this would make it easier for most users. I think this issue has priority over the already referenced https://github.com/PowerShell/vscode-powershell/issues/1429

[2018-07-12 21:53] rjmholt commented on #1429
Both issues seem pretty straightforward to implement too

[2018-07-12 21:57] rjmholt commented on #1429
Yeah I think there are a couple of fairly large design questions here (as in, changing them later will break things), which are:

1. If we persist UI-configured settings, where do we persist them to?
2. If we allow a second configuration path (e.g. per-user or per-{user+workspace}), what is its **precedence** wrt a workspace configuration file?

[2018-07-12 23:43] rkeithhill commented on #1429
Are you not concerned that if the user wants to run PSSA outside of VSCode, PSSA will not be able to use those settings?  This is why I've like having a PSScriptAnalyzerSettings.psd1 file.  You can use it inside VSCode and outside as well.

[2018-07-12 23:48] SeeminglyScience commented on #1429
I would still expect workspace settings to be controlled via a the same psd1 file.  The only difference is an additional setting that may control the default experience only if the workspace does not have a `PSScriptAnalyzerSettings.psd1`.

[2018-07-12 23:53] rkeithhill commented on #1429
You could do this now with a user setting of:
[code]
That would apply to everywhere except where a `.vscode\settings.json` file overrides that user setting.

[2018-07-13 00:13] SeeminglyScience commented on #1429
Oh cool! I don't know why I had it in my head that that was a workspace only setting :)  Now that I think about it, workspace only settings aren't even a thing are they? :P

A generic "disabled rules" setting that only applies when there are **no** other settings (workspace or otherwise) may still be a good idea.  Or maybe just an easier way to configure that file.

[2018-07-13 01:11] rjmholt commented on #1429
Yeah, now I think about it, having a set of "default rules" configured by the editor probably means we should have at least a way to disable them, and maybe also a VSCode configuration to add more in too.

Like:
[code]

[2018-07-13 01:35] SeeminglyScience commented on #1429
My thoughts

I don't think so.  If you have a user scoped setting file, you can already control everything there.  If you have a workspace setting file, that should take precedence over everything.  Otherwise it'd be too much of a pain to adhere to different repo's rule sets.

Yes (see above for reasoning)

No (see above for reasoning)

Yes.  I think this should be very light adjustments to defaul

[2018-07-13 01:40] rkeithhill commented on #1429
We should distinguish between VSCode workspace setting file `.vscode\settings.json` and the PSSA settings file `.\PSScriptAnalyzerSettings.psd1` file.  The latter can be used by both VSCode and PSSA directly.  The former by VSCode only.

[2018-07-13 01:49] SeeminglyScience commented on #1429
@rkeithhill that's a *really* good point.  Every instance I've said "settings file" I'm referring to `PSScriptAnalyzerSettings.psd1`.  For some reason I picture the `setting.json` a settings menu in any other GUI app even though I edit the json directly.  So I don't typically think of it as a settings file.  That's probably made everything I've said *incredibly* confusing :)

[2018-07-13 02:02] rkeithhill commented on #1429
I thought I was interpreting your intent correctly. Just wanted to make sure.  :-)

[2018-07-13 03:36] dragonwolf83 commented on #884
It makes more sense to recreate `-ShowWindow` functionality by using available UI within VS Code. I think it is possible to have it output into a split tab within a `WebView` or `PreviewHtml` view. That keeps to the spirit and allows you to see script, help, and console all together. Also makes it easy to have multiple tab help windows open if needed.

This also sets up the future for when PS Core

[2018-07-13 07:07] econba commented on #1428
I've installed the update and can also confirm that code folding an regions is working again and it is non case sensitiv. But unfortunately I recognized that code folding on regions now fails if a comment line follows the region start:
![image](https://user-images.githubusercontent.com/41182456/42677405-e96a6190-867b-11e8-8314-1dd629a08476.png)
only the commented line is folded:
![image](https://u

[2018-07-13 07:17] glennsarti commented on #1428
I can't repro that.

| Expanded | Collapsed |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/5819622/42677849-a75b492a-86af-11e8-9c49-3b1b76916311.png) | ![image](https://user-images.githubusercontent.com/5819622/42677884-bf5e93ce-86af-11e8-8f9c-a799de9ff1c2.png) |

[2018-07-13 12:56] mmarchese commented on #884
It would be nice to have a side by side view of the help with the code if that were possible. Especially now that you can have up to 4 separate panes.

[2018-07-13 17:39] rjmholt commented on #1429
Ok, I'm sold

[2018-07-13 18:58] stukey commented on #1429
@rkeithhill thanks for the suggestion. I have created a psScriptAnalyzerSettings.psd1 file and specified it in my user settings. That is working as desired to disable the new white space rule. I did have issues figuring out what default rules I should enable. The template psd1 file didn’t seem to contain all of the default rules that are enabled by the Powershell extension. So I manually added the

[2018-07-13 19:08] General-Gouda opened #1434 "Logpoints"
I did not see an open or closed issue related to the newer VS Code Logpoint feature so I thought I'd add one.

Having the ability to have specific log output to console without needing to write the code directly through the Logpoint functionality would be useful for debug purposes.

[2018-07-13 20:06] rkeithhill commented on #1429
If you specify only rules to exclude, you'll get the default rules minus the rules you have excluded.  As to which rules are enabled by default, maybe @bergmeister knows.

[2018-07-13 20:30] rjmholt commented on #1434
Looks like the feature for VSCode is [here](https://code.visualstudio.com/docs/editor/debugging#_logpoints).

@General-Gouda would you be able to give a small motivating example?

[2018-07-13 20:31] rjmholt commented on #1429
Is there a command to execute in the integrated console maybe? Like `Get-EnabledRules`?

[2018-07-13 20:53] bergmeister commented on #1429
PSSA itself has all rules enabled by default when calling `Invoke-ScriptAnalyzer`, it is PSES that decided to use the `-IncludeRules` parameter where PSSA runs only the specified rules.

[2018-07-13 20:57] rkeithhill commented on #1434
I have started work on this but got side-tracked.  We already support a form Logpoints way before VSCode added the concept. Take a look at the `Tracepoints` section of this blog post - https://blogs.technet.microsoft.com/heyscriptingguy/2017/02/06/debugging-powershell-script-in-visual-studio-code-part-1/

[2018-07-14 04:22] rkeithhill commented on #1429
This has been resolved by https://github.com/PowerShell/PowerShellEditorServices/pull/704 and will be in the next update to the extension.

[2018-07-14 04:22] #1429 closed

[2018-07-14 05:55] rkeithhill commented on #1433
@PrzemyslawKlys the logs you attached indicate the extension is failing right after a debug session has been started.  This is happening within 4 secs of the extension starting up PSES.  What exactly are you repro steps?  I see you listed:

But I'm not sure how any of that would initiate a debug session.

[2018-07-14 08:13] PrzemyslawKlys commented on #1433
@rkeithhill I may have pressed F5... however keep in mind that I've switched F5 with CTRL+F5 just for this reason. And even thou I don't use debugging at all. I am constantly getting VSCode hanging with that debugging in place. I am not sure where is it coming from.

![image](https://user-images.githubusercontent.com/15063294/42722552-27563290-874e-11e8-8c00-9766e1533fea.png)

I get VSCode to hang

[2018-07-14 15:49] rkeithhill commented on #1433
@PrzemyslawKlys Thanks.  With that, I can reproduce this.  The twist is that you are attempting to "run" the script before the PS editor (and debug) services (PSES) has fully initialized.  To avoid this for now, wait until this message in the status bar:

![image](https://user-images.githubusercontent.com/5177512/42726005-b2323732-874a-11e8-9e54-eb6984684932.png)

Changes to:

![image](https://use

[2018-07-14 16:11] PrzemyslawKlys commented on #1433
Great! I guess I am just impatient. Maybe I don’t know how to properly debug scripts in powershell and i essentially press f5 get errors/output, fix things, rerun and so on.

[2018-07-14 22:38] rkeithhill commented on #1433
@tylerl0706 @rjmholt Debugged this to this line:
[code]
This is happening because VSCode, seeing that the extension has been activated, allows run/debug session to be started **before** PSES is fully initialized.

[2018-07-15 00:20] rkeithhill commented on #1433
I have one attempt fix in the extension where we pop a warning dialog if the user attempts to debug/run a script before PSES has finished initializing.  The result is this warning notification:
![image](https://user-images.githubusercontent.com/5177512/42729343-3014f4c2-8792-11e8-9a38-e02ff4cb07f8.png)
Which expands to:
![image](https://user-images.githubusercontent.com/5177512/42729344-35ff50e4-8

[2018-07-15 16:45] msftrncs commented on #1420
Reference to my original mention of this issue on VS Code:
https://github.com/Microsoft/vscode/issues/53643

[2018-07-15 17:48] rkeithhill commented on #1420
What exactly is the bug?  Is it that the PowerShell extension is started upon VSCode restart from a hot exit **and** an untitled PowerShell editor (with text) is open but not active which that causes the PowerShell extension to start?  I can repro that.  But, as you suspect in your vscode issue, it is VSCode that is choosing to activate the PowerShell extension in this case.  I'm not sure there is

[2018-07-15 21:24] tylerl0706 commented on #1433
I'd rather just indicate that it's not ready yet. I think that's a reasonable approach/response considering it's rare people run into this.

I also really like the words on that warning!

[2018-07-16 00:46] #1428 closed

[2018-07-16 01:04] tylerl0706 commented on #1425
What is the correct format?

YES. I bookmarked this a while ago and really want to mess with it:
https://github.com/semantic-release/semantic-release

Well... I just stumbled upon this so I guess we COULD release from the code base instead of the vsix:
https://github.com/Microsoft/vscode-vsce/issues/191

but this tells me that you should be able to specify a vsix already...
https://github.com/Micr

[2018-07-16 01:13] tylerl0706 commented on #1346
Thanks for the info! Can you also [attach the logs](https://github.com/powershell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us) here so we can get a better idea of what's going on?

[2018-07-16 01:15] tylerl0706 commented on #1315
The PowerShell extension has been updated (now at 1.8.1). Can you give this a try now?

[2018-07-16 02:37] glennsarti opened #1437 "Syntax folding should differentiate between regions and comment blocks"
### System Details

- Operating system name and version: N/A
- VS Code version: N/A
- PowerShell extension version: N/A
- Output from `$PSVersionTable`: N/A

### Issue Description

While working on #1428 I thought of another possible issue with the syntax folding.  Currently regions and comment blocks are detected as the same thing which will cause issues when comments are not separated by empty l

[2018-07-16 06:42] jasoncopseynielsen commented on #1315
I received notice of an update to the extension and after installation - I can confirm that I am once again able to run powershell with args in debugging.

Thanks for sorting this out.

[2018-07-16 07:18] PrzemyslawKlys commented on #1346
@tylerl0706 unfortunately not for this one. Next time it happens I'll do so. Had it just once thou.

[2018-07-16 12:12] abbgrade commented on #1423
Hello,

Version 1.8.1 does not crash.

Thanks

[2018-07-16 15:45] carwyn commented on #702
I'm developing PowerShell Cmdlet scrripts and keep hitting this when testing longer argument strings.

[2018-07-16 17:47] 123dev commented on #1315
Working fine in 1.8.1.

Thanks

[2018-07-16 23:10] rjmholt commented on #1425
The script currently produces output like:
[code]
Which is what the PowerShell repo publishes. But our changelog format has historically been:
[code]

So currently keeping our CHANGELOG.md format consistent means transforming PowerShell changelog format.

[2018-07-16 23:11] rjmholt commented on #1425
Microsoft/vscode-vsce#146

Ah! I couldn't find that before. Good to know. Ideally we should record or even script it somewhere

[2018-07-16 23:15] rjmholt commented on #1425
Yeah the conflicts are a problem. But trying to go back through history to work out what the changes were seems like a second-class approach -- the person implementing the PR knows what the changes were best.

I think the commit/PR title+description are supposed to be the true record of the change. So perhaps the script should use the commit message as it does currently, but as maintainers (@rkeit

[2018-07-16 23:44] #1433 closed

[2018-07-17 00:05] msftrncs commented on #1420
because it simply doesn't happen if there are no untitled dirty editors that start as part of the hot-exit.   That makes it an abnormal behavior.  During normal operations the PowerShell icon only appears while an editor set to PowerShell language mode has focus, and it only starts after the first PowerShell editor has received focus after the start up.   As small and unimportant as this is, its s

[2018-07-17 17:54] mklement0 commented on #1392
@TheIncorrigible1:

My guess is that the performance impact (of looking for a BOM and selecting the encoding based on that, assuming that's what you meant) is negligible, but I've since noticed that even just using UTF8-with-BOM files with other _editors_ on Unix platforms is problematic:

`gedit` and some versions of `emacs` treat the BOM as _data_ and include it (invisibly) as part of the edit b

[2018-07-17 18:54] mklement0 commented on #1392
@rjmholt: Here are my thoughts on what the extension should and shouldn't do:

* As for the **default encoding** when creating a **new PowerShell file**:

   * As stated, for **Windows PowerShell** it should be **UTF-8 _with BOM_**, for **PowerShell Core** it should be **_BOM-less_ UTF-8**.

   * Challenges:

      * Technical: Not sure if the mechanism via the settings mentioned above is flexible

[2018-07-17 19:01] stukey commented on #1429
@rkeithhill Thanks again. I just wanted to point out that specifying only the excludes in the PSScriptAnalyzerSettings.psd1 file doesn’t in fact provide the default rules. I did this and several other rules were enabled which I had to disable by adding to the exclude list. These are the ones I had to exclude:

ExcludeRules = @('PSPossibleIncorrectComparisionWithNull',
                    'PSAvoidT

[2018-07-17 19:29] stukey opened #1439 "VSCode Peek / Go to Definition functions do not work when variable is cast as specific type"
### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.25.1
- PowerShell extension version: 1.8.1
- Output from `$PSVersionTable`: see below

[code]

### Issue Description
I am not sure whether this is a VSCode issue or a PowerShell Extension issue so please forgive me if I have logged this in the wrong place.

In the latest version of VSCode (1.25.1) with the lat

[2018-07-17 21:13] #1427 closed

[2018-07-17 21:20] rjmholt opened #1440 "F2 (rename) doesn't work for PowerShell variables"
<kbd>F2</kbd> doesn't seem to work for PowerShell variables, and the "Rename" option doesn't seem to appear. Renaming PowerShell variables can be tedious, so we should work to support this feature.

But we also need to be careful, since (unlike e.g. C# where lexical scope makes renaming safe) PowerShell's dynamic scoping means that renaming local variable references needs to occur conservatively.

[2018-07-17 22:21] stukey commented on #1348
I would love to see both of these ideas implemented.

[2018-07-18 00:56] msturtz2017 opened #1441 "Powershell Intergrated console terminates when ending debug session"
### System Details

- Operating system name and version: Windows 10 1803 (OS Build 17134.81)

- VS Code version: 1.25.1

- PowerShell extension version: 1.8.1
[code]

### Issue Description

I am experiencing a problem with...

PowerShell Intergated terminal terminates after debug session

Step to reproduce
Install PowerShell extension 1.8.1
Click reload to so the extension is available
In Visual C

[2018-07-18 01:46] tylerl0706 commented on #1441
Thanks for the info! Can you also [attach the logs](https://github.com/powershell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us) here so we can get a better idea of what's going on?

[2018-07-18 06:08] tylerl0706 commented on #1439
I have a fix for this - plus some bonus fixes :)

[2018-07-18 06:12] stukey commented on #1439
@tylerl0706 Great news. Thanks Tyler. Any more info on the bonus fixes 👍

[2018-07-18 06:14] tylerl0706 commented on #1439
[code]

will all go to the correct spot.

[2018-07-18 06:46] Falconne commented on #1342
Never mind, after turning on verbose logging I can see the problem is the new PS script analyser that has recently been updated in the PSES version that comes with this extension causing the delay. The scripts I was looking at are large, ~2000 lines and it seems the script analysis is taking around 45 seconds to do its thing. It runs on every formatting or code completion request, causing the hang

[2018-07-18 11:13] caparkaya commented on #1011
Hello,

Is there a roadmap for Powershell extension to support "Constrained Language Mode"? Because Powershell_ISE supports language features even in constrained language mode. Because many developers are working inside organizations which naturally use AppLocker policies for security, which enforces Constrained Language Mode, which removes many advantages of using VS Code for powershell developme

[2018-07-18 11:17] caparkaya commented on #606
Hello, is there an established roadmap, plan for this?

[2018-07-18 11:21] caparkaya commented on #291
Hello,
I see that this issue is still open but notification is already here for a long time for me in VS Code. Isn't it time to move to next step, i.e. removing the need for the message by supporting constrained mode like Powershell ISE does?

[2018-07-18 15:17] General-Gouda commented on #1434
@rjmholt I do a lot of work with Active Directory and with Exchange Online. Many of the cmdlets do not return any console output and so I need to inject some sort of output to know what user I'm iterating through. Or, I will simply output the index number.

Since VS Code doesn't (yet) support Write-Output I could see where outputting the index number through logpoints would be helpful rather than

[2018-07-18 16:10] msturtz2017 commented on #1441
I am working internally at Microsoft cannot attach the log

[2018-07-18 16:29] tylerl0706 commented on #1441
In that case, can you email them to vscode-powershell@microsoft.com ?

[2018-07-18 16:46] rjmholt commented on #291
Because we're not a native app (like the ISE), but instead a client/server, with the server being a PowerShell process running a module that hosts PowerShell execution, I suspect trying to implement this we'd have widespread problems with things like the whitelisted types (i.e. EditorServices is just an ordinary PowerShell module which uses non-whitelisted types for everything from just starting t

[2018-07-18 16:55] rjmholt commented on #1342
@Falconne we believe we've addressed the top issue, but without a known cause it's hard to be sure.

Making script analysis less impactful on the rest of the experience is something that we've been working away at in the background, but requires some architectural work.

[2018-07-18 17:13] rkeithhill commented on #1434
Agreed,  Keep in mind the trace points implementation is just using `Set-PSBreakpoint -Line xx -Action {}`.  That is, you can get the same functionality with raw PowerShell.

Implementing logpoints, will simplify take an expression like this `$var` and integrate it into an Action like `{ <script to execute>; continue }`.

[2018-07-18 18:33] msm-fc commented on #1428
@glennsarti using ms-vscode.PowerShell@1.8.1-insiders-236 with vscode 1.25.1, the issue appears resolved.  Thanks!!

I'm using this test code to verify:

`#Region Capitalized
#somecomment

#Endregion

#region lowercase
#somecomment

#endregion`

[2018-07-18 21:05] Falconne commented on #1342
@rjmholt I'll try script analysis again periodically to see how it goes. It would help if that ran in a background thread instead of blocking document formatting and code completion... which don't seem to need it anyway?

[2018-07-18 23:12] #1437 closed

[2018-07-18 23:43] rjmholt commented on #1342
Yes, script analysis [already runs asynchronously as a task](https://github.com/PowerShell/PowerShellEditorServices/blob/5a371f3138317b56e0e8fe4192526a8e53ad122c/src/PowerShellEditorServices/Analysis/AnalysisService.cs#L244-L253). (Threading not being chosen because it didn't originally exist cross-platform).

The problem seems to be more that message handling itself is not as asynchronous as it c

[2018-07-19 10:13] PrzemyslawKlys commented on #1346
![image](https://user-images.githubusercontent.com/15063294/42936620-de1953a2-8b4c-11e8-9082-201aa936edc5.png)

![image](https://user-images.githubusercontent.com/15063294/42936628-e1bb8c50-8b4c-11e8-8560-9076678af964.png)

[logs.zip](https://github.com/PowerShell/vscode-powershell/files/2209434/logs.zip)

Newest insiders version.

[2018-07-19 12:31] mmclane commented on #301
Me too

[2018-07-19 12:34] KevinLeeBuchan opened #1442 "Write-Progress is not showing any indicator"
**Summary of the new feature**

In PowerShell ISE, PowerGUI, or in the PowerShell console window, Write-Progress shows a dialog with a messaging showing script progress details.  Would like to see some support for this in VSCode.

**Proposed technical implementation details (optional)**

While progress is intended to be displayed by the script, show a three line display just above the "Problems/Ou

[2018-07-19 14:08] rjmholt commented on #1442
Hi @KevinLeeBuchan, this is a duplicate of https://github.com/PowerShell/vscode-powershell/issues/140.

`Write-Progress` support is currently being worked on as part of the integration of PSReadLine into the extension: https://github.com/PowerShell/vscode-powershell/issues/535.

[2018-07-19 14:08] #1442 closed

[2018-07-19 14:17] KevinLeeBuchan commented on #1442
Sorry for the duplicative suggestion.

Keep up the GREAT work!

---
Sent from my iPhone, probably via dictation. Please excuse any typos.

[2018-07-19 14:18] rjmholt commented on #301
Hi @JasonMorgan, @mrvladis, @mmclane would you be able to provide an example of:
* The script (including the workflow) you're writing in the editor
* The error you're getting (what it says, how you're getting it, where it's coming from, if it's a crash)

The difficulty I see here is that not only will a workflow not run in PowerShell Core 6, but it won't even parse (i.e. PowerShell Core 6 itself w

[2018-07-19 14:20] rjmholt commented on #1442
Thanks! I know development on this has been a while in the making, but you can follow the work here: https://github.com/PowerShell/PowerShellEditorServices/pull/672

[2018-07-19 14:30] mmclane commented on #301
I am using Code version 1.25.1
PowerShell extension version 1.8.1

Name                           Value
----                           -----
PSVersion                      6.0.2
PSEdition                      Core
GitCommitId                    v6.0.2
OS                             Darwin 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64
Platfor

[2018-07-19 14:49] rkeithhill commented on #301
You can switch to a "Windows PowerShell" session if you're on Windows or disable code analysis since it is PSScriptAnalyzer that generates that (parse) error e.g.:

[code]

Open up your user or workspace settings and add this setting:
[code]
Short of disabling script analysis, there is nothing this extension can do.  There is not even a PSSA rule we can ignore since it is a "parse" error.  I sugge

[2018-07-19 16:18] rjmholt commented on #301
Ah cool! Yeah, I saw you're on macOS, and it does make sense that you might want to develop for scenarios off-platform.

Like @rkeithhill says, disabling analysis is the best workaround for now. Another thing worth noting is that there is an (old) issue open for turning parse errors into something more ignorable: https://github.com/PowerShell/PSScriptAnalyzer/issues/264. I know I've discussed this

[2018-07-20 01:35] rjmholt opened #1443 "Allow VSCode configuration of PSScriptAnalyzer rules"
To follow on from the comments starting at https://github.com/PowerShell/vscode-powershell/issues/1429#issuecomment-404695963...

PSSA rules should be enable-able and disable-able in VSCode configuration. The current proposal is:
* Disabled rules turn off default rules, but not a local PSSA settings file
* Enabled rules add to the default rules

Current proposed format is:
[code]

[2018-07-20 09:55] neumaian opened #1444 "PowerShell Integrated Console crashes upon startup"
### System Details

- Operating system name and version: macOS High Sierra 10.13.6
- VS Code version: 1.25.1
- PowerShell extension version: 1.8.1
- Output from `$PSVersionTable`:

PSVersion                      6.1.0-preview.2
PSEdition                      Core
GitCommitId                    v6.1.0-preview.2
OS                             Darwin 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22

[2018-07-20 14:13] tylerl0706 commented on #1444
Thanks for this! Can you run `stat -f "%A" $PipeFile` and let me know what you get?

[2018-07-20 18:06] mpearon commented on #1315
I'm still having issues with this - but only when the vsLiveShare extension is enabled.  I mentioned this thread when reporting the issue there.

[2018-07-21 05:16] neumaian commented on #1444
Here you go:

PS /Users/adrian> stat -f "%A" $PipeFile
620

[2018-07-21 20:01] mattpwhite commented on #1342
At least for me, the problem does not appear to be related to script analysis.  Disabling it in the VS Code options does not have a meaningful impact, and I haven't observed any changes in newer versions of the extension since I filed this issue.

Since the PSES process is generally pegged when this issue is occurring, I thought attaching a profiler might suggest something.  A cursory look suggest

[2018-07-22 10:26] PrzemyslawKlys opened #1445 "VSCode PowerShell Insiders versioning?"
**Summary of the new feature**
VSCode PowerShell Insiders versioning for Insiders keeps on saying it's older then newest released version. It would be "easier" to manage if it would be version higher. For example current 1.8.1 would be 1.8.2 Insiders then Insiders would be dropped for 1.8.2 and then Insiders would 1.8.3 Insiders.

I'm asking because to be able to use insiders I had to disable Auto

[2018-07-22 12:17] AmandaCameron opened #1446 "PIC / ES Freezes for minutes at a time with no internet."
## Issue Description ##

When using the extension on my laptop when I have no internet, PIC and the Editor Services are both super slow. It took a good 5-minutes to scaffold out a project using plaster, and the intellisense never seems to load.

If I had to guess it's caused by something making a network call that takes too long and eventually times out.

## Attached Logs ##

[vscode-logs.zip](htt

[2018-07-22 20:18] mattpwhite commented on #1342
I probably spoke too soon.  Disabling CodeLens definitely helped, but the extension still has a lot of trouble keeping up.  It seems like operations often have trouble finishing within what appears to be a timeout from VS Code for things like IntelliSense completion.  Will try to dig further if that's helpful...

[2018-07-23 16:14] travis-sobeck opened #1447 "Folding on #region tag in powershell broken"
The latest update broke Folding on #region tag in powershell files.
VS code version 1.25.0 and 1.25.1

[2018-07-23 16:21] rkeithhill commented on #1447
Duplicate of #1428 which has been fixed.  Fix will show up in the next release due sometime later this week - I hope.

[2018-07-23 16:21] #1447 closed

[2018-07-23 16:29] travis-sobeck commented on #1447
Sorry, I missed that when I searched.

[2018-07-23 16:30] rkeithhill commented on #1447
No problem.  :-)

[2018-07-24 11:19] SundeepPaluru opened #1448 "Usage of Region Wrapper Command"
Issue Type: <b>Bug</b>

The usage of of Wrapper Command "region" is depreciated. Post VSCode Update

Regards
-Sundeep

Extension version: 1.8.1
VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:43:53.668Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2

[2018-07-24 16:37] mklement0 commented on #1439
@stukey: Just to aid in discovery of this issue, can you please correct the typo in the title (and body)? `peak` -> `peek`

[2018-07-24 17:03] stukey commented on #1439
Sure if you can tell me how to do that. I can’t see an option to edit the title, only the body of the original post.

[2018-07-24 17:04] stukey commented on #1439
Ah looks like @tyler0706 already did it.

[2018-07-24 17:07] mklement0 commented on #1439
@stukey: Great; in general, look for the button labeled `Edit` to the right of the title:

![image](https://user-images.githubusercontent.com/588825/43154471-728aa90c-8f42-11e8-8280-e16a026e4f1e.png)

[2018-07-24 17:11] stukey commented on #1439
Yup 🤯 I did edit the post but didn’t see any option to edit the title. Maybe it’s because Im getting the mobile view on my iPhone.

[2018-07-24 17:53] AlexHimself opened #1449 "[PowerShell] Foldable regions not working #region #endregion"
Issue Type: <b>Bug</b>

Foldable regions are not working for Powershell. Here are screenshots of Powershell ISE vs VS Code:

**PowerShell ISE:**
![image](https://user-images.githubusercontent.com/10466466/43156718-c1443f8a-8f2f-11e8-8e2c-42570b4ca891.png)

**VS Code:**
![image](https://user-images.githubusercontent.com/10466466/43156735-c6a0361e-8f2f-11e8-9c1f-784a8724d236.png)

Extension version:

[2018-07-24 18:01] rkeithhill commented on #1449
Duplicate of #1428 which has been fixed.  Fix will show up in the next release due sometime later this week - I hope.

[2018-07-24 18:01] #1449 closed

[2018-07-24 18:01] rkeithhill commented on #1448
Duplicate of #1428 which has been fixed.  Fix will show up in the next release due sometime later this week - I hope.

[2018-07-24 18:01] #1448 closed

[2018-07-24 21:02] andy2002a opened #1450 "Entering a string for a switch parameter causes powershell to crash"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version: 1.8.1
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.1.14393.2312
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14

[2018-07-25 03:50] glennsarti opened #1451 "Feature Request - Support Logpoints"
**Summary of the new feature**

VScode has made some changes to the Debug Adapter in https://code.visualstudio.com/blogs/2018/07/12/introducing-logpoints-and-auto-attach

**Proposed technical implementation details (optional)**

The PSES debug adapter should support logpoints as per https://code.visualstudio.com/blogs/2018/07/12/introducing-logpoints-and-auto-attach#_supported-languages

[2018-07-25 05:55] glennsarti commented on #1451
Living in the past .... :-)

[2018-07-25 14:54] #1439 closed

[2018-07-26 00:38] msftrncs commented on #1398
Couple of corrections to my update above, I may have mistakenly use 'console' in some places.  PowerShell ISE's console supports path auto-complete with intellisense, but the standard PowerShell 5.1 console from Windows 10, nor the VS Code PowerShell extensions integrated PowerShell console support this.

When I spoke of PowerShell ISE's console replacing the missing ending quote, it only does thi

[2018-07-26 00:56] msftrncs commented on #1398
Sorry, noticing the logs didn't seem like they said much, I missed you said to switch the logging to 'diagnostic'.   This log probably does you mode good.  I can clearly read that the intellisense operation occurred, and resulted in the expected file list being returned, but I don't see anything that explains why I was not presented that list.

[EditorServices.log](https://github.com/PowerShell/vs

[2018-07-26 15:44] bush3102 opened #1452 "Folding regions not working in version 1.8.1"
### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.25.1
- PowerShell extension version: 1.8.1
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.1.15063.1155
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2018-07-26 16:15] tylerl0706 commented on #1452
Dupe of https://github.com/PowerShell/vscode-powershell/issues/1437 - this will be fixed in the next release

[2018-07-26 16:15] #1452 closed

[2018-07-26 18:25] MayPLaY opened #1453 "Crash "Errors caught while waiting for EditorServicesHost to complete execution" between two conflicting file"
## Issue Description ##

Hi, I'm currently experimenting with Powershell DSC, and I have problem working with both my configuration script file and my configuration data file open at the same time.

Configuration Script = DSQ_INSTALL_IIS.ps1
Configuration Data = VmTest.psd1

I changed my service log to "powershell.developer.editorServicesLogLevel": "Diagnostic" to see what the problem was.

My pow

[2018-07-27 15:29] ravick4u commented on #918
I am also having the similar issue. Any update?

2018-07-27 11:24:36.623 [ERROR] C:\PowerShellEditorServices\src\PowerShellEditorServices.Protocol\MessageProtocol\ProtocolEndpoint.cs: In method 'OnListenTaskCompleted', line 391:
    ProtocolEndpoint message loop terminated due to unhandled exception:

    System.AggregateException: One or more errors occurred. ---> System.ArgumentException: Illega

[2018-07-27 15:43] nsleigh commented on #918
I haven't seen this problem with any of the latest updates.

[2018-07-27 15:46] ravick4u commented on #918
I am using 1.8.1 with Visual Studio code v1.25.1

[2018-07-27 16:00] ravick4u commented on #918
@nsleigh Looks like I found an issue. In my path, one of the folder has dot(.) in it. If I remove the dot then everything works ok. This was working earlier but not anymore. So for time being, I will have to rename my folder.

Hope this helps in troubleshooting issue.

[2018-07-27 18:42] rjmholt commented on #1447
@travis-sobeck The release went out this morning with a fix for this in it

[2018-07-27 18:42] rjmholt commented on #1452
@bush3102  The release went out this morning with a fix for this in it

[2018-07-27 18:43] rjmholt commented on #1428
The release went out this morning with a fix for this in it

[2018-07-27 18:43] rjmholt commented on #1448
@SundeepPaluru  The fix for this should be in the release published this morning

[2018-07-27 18:49] rjmholt commented on #918
@ravick4u Would you be able to share the full path of that folder (or something similar)?

[2018-07-27 18:50] rjmholt commented on #918
Also, @ravick4u could you share your platform information?
[code]
Should be enough, although if you're on non-Windows, more info about the OS is often helpful.

[2018-07-27 19:05] rjmholt commented on #1398
Hi @msftrncs, just to clarify, does this restate your problem:
 * You have a directory path (in the integrated console or the editor? Or both?) that you prompt for completions
  * The logs seem to show that completions are generated for that path
  * No completions appear

[2018-07-27 19:07] mattroyal commented on #702
I'm hitting this regularly as well, and would love to see a fix implemented.  Workaround right now is to zoom waaaaay out (Ctrl-), paste in a command I've constructed elsewhere, and then zooming in to a more normal level to do other work.

[2018-07-27 19:10] rjmholt commented on #1342
@mattpwhite thanks for that really great analysis! Definitely agreed we need to cache codelens as much as possible (see https://github.com/PowerShell/PowerShellEditorServices/issues/678).

VSCode controls sending CodeLens messages, so we have no choice but to improve the way we deal with them. I think step 1 is to improve caching, and step 2 will probably be a way of cancelling/rejecting code lens

[2018-07-27 19:14] rjmholt commented on #1446
Hi @AmandaCameron, thanks for opening an issue! As of v1.8.0 we don't do any networking at all in the PowerShell extension (in fact, we don't support TCP connections any more at all -- see https://github.com/PowerShell/vscode-powershell/issues/954).

It may be that VSCode itself trying to do a lot of networking -- see https://github.com/Microsoft/vscode/issues/54354.

[2018-07-27 19:18] rjmholt commented on #1445
Hi @PrzemyslawKlys, that actually sounds like a pretty good idea.

@tylerl0706 and I are thinking that every release, we should increment the `master` branch version immediately after so the insiders version is always ahead.

And then, we would only need to change the version in the following scenarios:
- Dropping the `insiders` for releases
- Incrementing the version number after releases
- Incre

[2018-07-27 20:33] PrzemyslawKlys commented on #1445
Sounds good to me.

[2018-07-27 21:19] rkeithhill commented on #1446
Another option might be PowerShell trying to verify the Authenticode signature on Start-EditorServices.ps1.  We've observed this behavior before with some code we have that validates assemblies are signed with a valid Authenticode cert.  It is usually something like a three minute hang/delay IIRC.  Although this was usually for systems that had never been connected to the internet (DOD stuff).

[2018-07-27 21:42] rjmholt commented on #1446
Good call @rkeithhill.

[2018-07-27 22:00] ravick4u commented on #918
@rjmholt Not sure why but now I am not able to reproduce the issue. :(

If this issue comes again I will report it. Below is requested details regarding PowerShell.

Name                           Value
----                           -----
PSVersion                      5.1.14409.1012
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2018-07-28 00:09] scrthq commented on #1273
@WToorenburghEasyMarkit cheers! 😄

[2018-07-28 08:15] PrzemyslawKlys commented on #1346
[logs.zip](https://github.com/PowerShell/vscode-powershell/files/2237778/logs.zip)

New crashes.

[code]

Simply by running script

[2018-07-28 09:50] PrzemyslawKlys commented on #1346
Also notice what happens after that many crashes

![image](https://user-images.githubusercontent.com/15063294/43355131-848c68bc-9257-11e8-9416-c511238d4303.png)

Maybe there is a way to clear intellisense on crash so it doesn't have all the old stuff. I guess you could clear it on initialization? Not sure if it would have wrong impact thou

I actually tried to record this... but I tried to do it i

[2018-07-29 12:13] PrzemyslawKlys commented on #1346
Maybe stupid thought.. but could it be related to terminal size? I can reproduce crashing heavily when I use  VSCode on my 4k monitor from left to right (almost full screen - I do have Taskbar on the left side). I get it less frequently when I split screen.

I've also found for PowerShell 6 - https://docs.microsoft.com/en-us/powershell/scripting/whats-new/breaking-changes-ps6?view=powershell-6

Pr

[2018-07-29 19:51] caparkaya commented on #1039
Hello,
Are there any developments on this? Any time / release plan? Any help needed? I'm looking for this as well, and would love to contribute to solution if required & possible.
Kind Regards,

[2018-07-30 08:21] Outek opened #1455 "Uninstalling Powershell Extension Error"
### System Details

- Operating system name and version: Windows Server 2016
- VS Code version: 1.25.1
- PowerShell extension version: 1.8.2
- Output from `$PSVersionTable`:
[code]

Copy / paste the following commands into the PowerShell Integrated Console, and paste the output here:
[code]

[code]
[code]

### Issue Description

When i try to uninstall the powershell extension:

[code]

Is there a

[2018-07-30 14:47] bush3102 commented on #1452
@rjmholt @tylerl0706 Thank you!!! Works like a champ!!!

[2018-07-30 14:53] neumaian commented on #1444
Problem exists with 1.8.2 as well.

[2018-07-30 15:02] neumaian commented on #1444
With 1.7.0, everything is okay.

[2018-07-30 18:12] rjmholt commented on #1455
This looks like it might be a bug in VSCode. See the following issues:
* https://github.com/Microsoft/vscode/issues/19377
* https://github.com/Microsoft/vscode/issues/1320#issuecomment-283606443
* https://github.com/Microsoft/ApplicationInsights-node.js/issues/128
* https://github.com/Azure/azure-xplat-cli/issues/3287
* https://github.com/Microsoft/ApplicationInsights-node.js/issues/180

Looks lik

[2018-07-30 23:33] msftrncs commented on #1398
Only in the editor, yes.
Yes
Yes, if the cursor was sitting outside (at the end) of the quoted path.  If the cursor is replaced back inside the end of the quoted path, then the completion suggestions appear.

[2018-07-31 00:40] swinster opened #1456 "Debug appears to be broken in VSCode 1.26 Insider build"
### System Details

- Operating system name and version: Windows 10 Insider, Build 17723
- VS Code version: 1.26 Insider
- PowerShell extension version: 1.81
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with running the debugger in this version of vsCode. I click debug and the status bar turns orange, but nothing else happens. Doesn't mater if I set

[2018-07-31 00:41] msftrncs commented on #1398
I keep missing this part …   the suggestion do not appear, if, with the cursor past the quote, you type a '\\'  or there is already a '\\' there.

![image](https://user-images.githubusercontent.com/26179051/43430836-87b348aa-9430-11e8-9934-0f1440a8412e.png)

[2018-07-31 01:54] rjmholt commented on #1456
Hi @swinster, thanks for opening an issue. Have you tried upgrading the PowerShell extension to version 1.8.2?

[2018-07-31 05:25] Outek commented on #1455
This Server isn't connected to the internet, the address: '65.55.44.109' isn't reachable.

[2018-07-31 05:37] rjmholt commented on #1455
I just tried the following command:
[code]

Which gives the following result:
[code]

So it looks like the server is up, just isn't responding to ICMP (so `ping` won't see it).

Are you behind an HTTP(S) proxy maybe?

Either way, it looks like this is a problem in VSCode — it probably shouldn't fall over when telemetry fails.

[2018-07-31 05:45] rjmholt commented on #1455
If you're behind a proxy, this may be the solution: https://github.com/Microsoft/vscode/issues/69#issuecomment-218074273

[2018-07-31 05:54] rjmholt commented on #1455
I've opened an issue in VSCode. We'll see what they say, but this looks like it's unrelated to the PowerShell extension itself, so I'll close this issue for now.

[2018-07-31 05:54] #1455 closed

[2018-07-31 06:44] tylerl0706 commented on #1450
I managed to grab a picture of the crash that flashes when executing the code above

<img width="1680" alt="screen shot 2018-07-30 at 11 42 25 pm" src="https://user-images.githubusercontent.com/2644648/43442273-579001aa-9452-11e8-86f8-30abf8bf9449.png">

[2018-07-31 08:59] swinster commented on #1456
@rjmholt I ran the update yesterday and apparently everything was on the latest revision. Indeed, my initial comment was incorrect (when I first started test this, the PowerShell extension _was_ on 1.8.2 - check the code block:

[code]

[2018-07-31 11:06] JohnDoepamin commented on #1346
I have only reproduced this issue when either one of these options is set to true:
    "editor.formatOnType": true,
    "editor.formatOnSave": true,
Or if I manually click on FormatDocument.

It I avoid this, the issue was not appearing.

[2018-07-31 11:20] PrzemyslawKlys commented on #1346
I do use editor.FOrmatOnSave althought not sure if it's related. I actually disabled it now and no change. I can reproduce this all the time now. If I have powershell terminal on larger part of screen or fully vertical on full 4k it will crash with 259 error. No matter the code. If it's below certain width it will work. The moment I scale it on width it goes bonkers.

[2018-07-31 14:26] mattpwhite commented on #1342
If I saw some low hanging fruit (and I do), would it be OK to send over a PR or two to improve perf?

[2018-07-31 14:34] tylerl0706 commented on #1342
@mattpwhite absolutely! PRs always welcome 😊

Sorry we haven't been looking into this at the moment. We've been pulled to work on porting Windows PowerShell modules and in my free time, I'm working to get PSReadLine into the extension (with @SeeminglyScience).

After PSReadLine is in, perf is my number one goal.

I appreciate any extra hands 😊

[2018-07-31 17:05] rjmholt commented on #1342
+1 on what @tylerl0706 said

[2018-07-31 17:26] rjmholt commented on #1456
Here's the tail of the logs:
[code]

None of those stand out to me as crashes, but I might be wrong.

[2018-07-31 17:29] rjmholt commented on #1456
I'll look into this properly when I get time. The debugger has been a bit unstable recently, so it's due for some attention.

[2018-07-31 18:58] ehagen commented on #1444
I have same problem on osx High Sierra 10.13.6 when staring debug session (F5 in vscode)

VSCode version 1.25.1
Powershell module: 1.8.2.

Error:
chmod: /var/folders/jq/wvssr6x90cdb2h1b4ly5n6l80000gn/T/CoreFxPipe_PSES_10ab90e9-4beb-4729-b1a9-d9f9cb63e63e: No such file or directory
stat: /var/folders/jq/wvssr6x90cdb2h1b4ly5n6l80000gn/T/CoreFxPipe_PSES_10ab90e9-4beb-4729-b1a9-d9f9cb63e63e: stat: No

[2018-07-31 19:05] swinster commented on #1456
I did look at the log myself and saw nothing obvious. It not as if the thing has crashed. it just site there doing nothing. Here's a super simple 2 line script with breakpoint on line one.

![image](https://user-images.githubusercontent.com/8142964/43481164-172cda2e-94fd-11e8-8715-bbc28c9e61d0.png)

I can press stop, but that's about it.

[2018-07-31 19:09] swinster commented on #1456
Interestingly, running a selection works....

[2018-07-31 20:58] splatteredbits commented on #1169
Maybe separate these two things? Every time I open any PowerShell file, I have to close that dang console that pops up. It's death by a thousand paper-cuts, so I continue to use the ISE. Intellisense and editor services should a non-interactiver console it uses. Then, if I want to run an interactive console for debugging, I can open one.

[2018-07-31 20:59] tylerl0706 commented on #1446
@rkeithhill off the top of your head, how might one test for this? I can try to set up a VM to test.

[2018-07-31 21:10] tylerl0706 commented on #1444
@neumaian + @ehagen: I have a feeling that something is touching the named pipe file before vscode can connect to it. Can you both turn on Diagnostic logging and attach the logs here?

Here are the steps: https://github.com/powershell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

Note: this will add a 3rd file to the log directory. We need all 3 please.

Very strange that you're ru

[2018-07-31 21:13] wsmelton commented on #1169
@splatteredbits you can resolve the terminal opening by setting the below to false in your user settings, by default it is set to true:

[code]

The session starting has to happen as that is part of the editor services. You will not have all the features f the PowerShell extension with out them/it.

[2018-07-31 21:26] tylerl0706 commented on #1260
Closing this since it was root caused to VSCode

[2018-07-31 21:26] #1260 closed

[2018-07-31 21:28] tylerl0706 commented on #1184
Closing due to inactivity

[2018-07-31 21:28] #1184 closed

[2018-07-31 21:29] rjmholt commented on #1383
Closing this as a bug in the VMWare extension.

[2018-07-31 21:29] #1383 closed

[2018-07-31 21:29] tylerl0706 commented on #163
Closing due to inactivity.

[2018-07-31 21:29] #163 closed

[2018-07-31 21:31] tylerl0706 commented on #415
This is a pretty old issue. Can you still reproduce this issue?

[2018-07-31 21:31] tylerl0706 commented on #1192
Closing due to inactivity

[2018-07-31 21:31] #1192 closed

[2018-07-31 21:33] tylerl0706 commented on #1203
I think this might have been fixed and we need some more repro information. I'm going to close this for now, if you still see the issue please comment and I'm happy to reopen this.

[2018-07-31 21:33] #1203 closed

[2018-07-31 21:33] tylerl0706 commented on #1219
Closing due to inactivity

[2018-07-31 21:33] #1219 closed

[2018-07-31 21:34] rjmholt commented on #1283
@SolidCore-IA are you still experiencing this crash?

[2018-07-31 21:40] rkeithhill commented on #1446
You can try with a VM that has access to the Windows ISO image for installation but has **never** had an internet connection.  In our case, it was folks running our code on submarines and in air-gapped satellite test systems.  In talking to the engineer who has run into this issue over the years, he says it can also happen on a system that has been connected to the internet **if** there is a probl

[2018-07-31 21:41] tylerl0706 commented on #1229
I don't think I ever got your email... :(

The squiggles are due to PSScriptAnalyzer and if you're receiving those when you shouldn't be, it's better to open an issue here: https://github.com/PowerShell/PSScriptAnalyzer

If it's related to general slowness of the extension not updating squiggles that's tracked with https://github.com/PowerShell/vscode-powershell/issues/1232

And if syntax highligh

[2018-07-31 21:41] #1229 closed

[2018-07-31 21:43] tylerl0706 commented on #1333
Closing due to inactivity

[2018-07-31 21:43] #1333 closed

[2018-07-31 21:43] tylerl0706 commented on #1389
Closing due to inactivity

[2018-07-31 21:43] #1389 closed

[2018-07-31 22:35] RumRogerz commented on #1360
@rjmholt
Sorry about the lateness of my reply, but yes! I played around with the default value to 120 seconds and that totally solved all my woes.  Now I'm shelling with power.

You can consider this ticket closed

[2018-07-31 23:34] rjmholt commented on #1360
Ah cool! We should probably keep this open until we merge a PR to fix it somehow.

[2018-08-01 03:25] travis-sobeck commented on #1447
Thanks, so far its working great!

[2018-08-01 03:57] ssaari commented on #415
No, it has not happened again, thanks.
On Tue, Jul 31, 2018 at 3:31 PM Tyler James Leonhardt <
notifications@github.com> wrote:

--
Scott Saari
Mobile:  (602) 230-7824

[2018-08-01 05:41] #415 closed

[2018-08-01 07:25] tylerl0706 commented on #1444
Sorry I should have clarified - Can you switch it from "Verbose" to "Diagnostic"?

[2018-08-01 07:26] neumaian commented on #1444
No change with PS 6.1.0 Preview 4 btw, have changed now to Diagnostic, waiting for Logfiles.

[2018-08-01 07:27] neumaian commented on #1444
[EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/2248422/EditorServices.log)
[Start-EditorServices-EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/2248423/Start-EditorServices-EditorServices.log)
[vscode-powershell.log](https://github.com/PowerShell/vscode-powershell/files/2248424/vscode-powershell.log)

The Logs are now with PS 6.1.0 Preview 4

[2018-08-01 08:02] tylerl0706 commented on #1444
Can you run:

[code]

And let me know what you get back?

[2018-08-01 10:34] neumaian commented on #1444
PS /Users/adrian> Test-Path /var/folders/s0/4w848hkn4wj44s5gwc2pgsmh0000gn/T/CoreFxPipe_PSES_bd3eb46c-9480-403a-a641-9633b7dff71f
True

[2018-08-01 15:05] rkeithhill commented on #1446
@AmandaCameron Good point - should have read your original post.  On Linux, I don't believe PowerShell Core does anything with script signatures.  The typical set of AuthenticodeSignature commands are not available on that platform.  Same behavior with the latest update - 1.8.2?

[2018-08-01 15:42] dpallen12 opened #1457 "PSScript Analyzer Very Slow"
Issue Type: <b>Bug</b>

After the addition of the whitespace checker that the pscript analyzer does, it takes a really long time, sometimes minutes before it realizes that the fix has been applied to the code to satisfy the analyzer.

Extension version: 1.8.2
VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:43:53.668Z)
OS version: Windows_NT x64 10.0.17134

<de

[2018-08-01 16:33] AmandaCameron commented on #1446
Just tested, and indeed it's still an issue under 1.8.2 -- worth noting I have my login shell also set to powershell (`pwsh-preview` to be exact) and it loads up fine,  both in my normal terminal as well as in the VSCode embedded terminal ( **NOT** The Powershell Integrated Console, though )

[2018-08-01 16:36] splatteredbits commented on #1169
@wsmelton That's not what I want. I want Intellisense and all that without a console opening.

[2018-08-01 17:25] rjmholt commented on #1169
@splatteredbits Setting:
[code]

Should give you intellisense without a console opening. If that's not happening, there's probably a bug.

The console itself is just a window into the PowerShell session used to host EditorServices though. So console or not, there's a PowerShell process running in the background to provide intellisense.

[2018-08-01 17:32] rjmholt commented on #1457
Hi @dpallen12, thanks for opening an issue. This is an area of active work for us at the moment, so we should hopefully have some improvements for this soon.

[2018-08-01 17:34] splatteredbits commented on #1169
@rjmholt Yay. That works. I got confused about earlier statements that I would lose intellisense with that setting.

[2018-08-01 17:34] ehagen commented on #1444
Installed 6.1 preview 4 and issue stays. I use setting: "powershell.debugging.createTemporaryIntegratedConsole": true,
and I have C# for Visual Studio Code (powered by OmniSharp) also installed and active in same workspace.

[2018-08-01 17:59] tylerl0706 commented on #1444
ok so there seem to be two issues here. For context, here is the function that sets the permissions of the pipe:
https://github.com/PowerShell/PowerShellEditorServices/blob/master/module/PowerShellEditorServices/Start-EditorServices.ps1#L220-L244

1. @neumaian has an issue where... the result of stat is different than what we expect:

[code]
prints out:
[code]

Notice that the `$mode` variable is

[2018-08-01 18:07] tylerl0706 commented on #1457
We can dupe this to the active issue here:
https://github.com/PowerShell/vscode-powershell/issues/1232

Let me know if you feel otherwise

[2018-08-01 18:07] #1457 closed

[2018-08-01 18:24] MayPLaY opened #1458 "Still having problems with Regions folding on 1.8.2"
## Issue Description ##

Hi,
I saw with 1.8.0/1.8.1 you guys had some problems with regions folding, and 1.8.2 was supposed to fix it. But as you see in this gif, I'm still having problems with everything getting folded instead of my designed regions.

I'm using "ctrl+k ctrl+8" and "ctrl+k ctrl+9" to fold/unfold. With the extentsion installed, I'm having trouble, but without it, I got no problem a

[2018-08-01 19:12] rjmholt commented on #1458
Hi @MayPLaY, I've watched through the GIF a couple of times, but just want to be clear about the behaviour you're seeing vs the behaviour you're expecting.

Can you restate, in words, (1) the behaviour you're expecting and (2) the behaviour you're experiencing that differs from that expectation?

Also worth noting that this folding feature can be disabled with:
[code]

[2018-08-01 19:25] rjmholt commented on #1039
Oh, meant to add... @caparkaya we are always over the moon to accept contributions -- feel free to open a PR anytime. Contributions also get mentioned in the [CHANGELOG](https://github.com/PowerShell/vscode-powershell/blob/master/CHANGELOG.md).

[2018-08-01 19:48] ozu945 opened #1459 "orphan endregion disables folding."
### System Details

- Operating system name and version: Win 7
- VS Code version: 1.25.1
- PowerShell extension version: 5.1.14409.1012
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.14409.1012
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2018-08-01 20:53] MayPLaY commented on #1458
Sorry for the confusion.

**Expected**
- Calling command "Un/Fold All Regions" : Get only "#region" and "#endregion" tag folding.
- Calling command "Un/Fold All" : Get everything fold (regions, statements, functions, etc.)
- This is what happen when the folding feature is disable (as you suggested), or extension is uninstalled.

**What it does**
- "Un/Fold All Regions" and "Un/Fold All" commands a

[2018-08-01 20:55] neumaian commented on #1444
It's just an assumption of mine, but I prefer the GNU Coreutils over the more BSDish commands of macOS on the console. And the stat of macOS (located under /usr/bin/stat) and the stat from coreutils are taking different command line parameters, so that may be the issue here seeing all this garbage instead of just 600. Have to test my theory tomorrow though. The one thing i don't understand here, w

[2018-08-01 20:59] tylerl0706 commented on #1444
@neumaian yeah the change was made in 1.8.0 to go from using TCP to communicate to using Named Pipes. The stat call is a new addition in 1.8.0 to ensure security is being enforced.

If you want to change the Start-EditorServices file to use `/usr/bin/stat` that might be a good way to test this.

Let me know what you find out!

[2018-08-01 21:02] tylerl0706 commented on #1444
I just tried on Fedora 28... stat -f "%A" $pipeName gives exactly what your log says. That's the problem.

I think for macOS we should add the path to stat ( `/usr/bin/stat`) to prevent the issue you're running into.

[2018-08-01 21:04] tylerl0706 commented on #1444
Ideally PowerShell should have an abstraction for this as getting file permissions would be useful, but I've not found a good way to do that.

[2018-08-01 21:12] tylerl0706 commented on #1458
@glennsarti for the awareness.

I think we currently mark a lot of these folds [as Region](https://github.com/PowerShell/vscode-powershell/blob/master/src/features/Folding.ts#L449) ... Except [for `<# #>`](https://github.com/PowerShell/vscode-powershell/blob/master/src/features/Folding.ts#L485-L491)

As a test... Does the "Un/Fold All Regions" fold block comments `<#    #>`?

[2018-08-01 21:12] tylerl0706 commented on #1458
@MayPLaY for the notification just in case

[2018-08-01 22:15] MayPLaY commented on #1458
Your guess is right ,"Un/Fold All Regions" doesn't fold block comments, but "Un/Fold All" does.

![powershellextension_commandproblemfold](https://user-images.githubusercontent.com/31284372/43551927-cdbe1492-95b6-11e8-8e5c-3764e98047ae.gif)

[2018-08-02 03:27] glennsarti commented on #1458
This seems like expected behaviour.

* Line comments (`# line comment`) and region comments (`<# ..... #>`) are Comments (Unfold/Fold all Block Comments)

* Everything else is a Region (Unfold/Fold all Regions)

[2018-08-02 03:28] glennsarti commented on #1459
Should there be tests for this?

[2018-08-02 05:25] tylerl0706 commented on #1459
Yeah definitely

[2018-08-02 05:52] tylerl0706 commented on #1458
Yeah, Glenn's right. I think we should probably open an issue on vscode to add another item to the enum... Maybe like a "Code" FoldingRangeKind

[2018-08-02 05:54] glennsarti commented on #1458
I haven't tried using an invalid enum integer e.g. -1

[2018-08-02 06:28] rjmholt commented on #1458
Actually, that's not a bad idea. Does assigning `4` work?

[2018-08-02 06:30] glennsarti commented on #1459
PR is up with a test for it.

[2018-08-02 06:37] glennsarti commented on #1458
Okay...so quick test, it does work.  Can't say I'm happy about it though.  It's definitely a hack

Changed the following

From:
[code]

To

[code]

[2018-08-02 06:51] neumaian commented on #1444
I can confirm the following fixes the problem:

--- Start-EditorServices.ps1.orig	2018-08-02 08:48:00.000000000 +0200
+++ Start-EditorServices.ps1	2018-08-02 08:48:44.000000000 +0200
@@ -235,7 +235,7 @@
         $mode = stat -c "%a" $PipeFile
     }
     elseif ($IsMacOS) {
-        $mode = stat -f "%A" $PipeFile
+        $mode = /usr/bin/stat -f "%A" $PipeFile
     }

     if ($mode -ne $DEFAULT_

[2018-08-02 09:26] WithHolm opened #1462 "Set Language+Debug Engine Ports?"
Hi!

Is there a way to set language and debug engine ports to a specific range?

Im trying to get vscode+powershell to work within a citrix enviorment, but they have a filtering rule saying that x user can only use a specific portrange. all other attempts to reach network traffic on ports that are not assigned to the user at just dropped. This means that when the integrated console starts it will

[2018-08-02 10:40] TEH30P opened #1463 "Hashtable expression key."
![vscode-powershell bug colorization](https://user-images.githubusercontent.com/15148944/43579075-8540b05a-9659-11e8-8b71-80d64fd99bea.png)

[2018-08-02 14:12] tylerl0706 commented on #1462
Hi @WithHolm, you have an outdated version of the extension.

We've switched away from using TCP ports to Named Pipes for communication which is file based.

This has allowed us to close all the network issue related bugs.

I suggest you grab the latest update.

Let me know if you have any problems.

[2018-08-02 14:13] tylerl0706 commented on #1462
I'm going to close this issue since it's not relevant anymore but feel free to open a new issue or reply here if you run into any problems.

[2018-08-02 14:13] #1462 closed

[2018-08-02 14:15] tylerl0706 commented on #1463
Hi @TEH30P, not sure I understand the issue. Could you clarify?

[2018-08-02 15:14] ya-alexander opened #1464 "Constant CPU load"
Issue Type: <b>Performance Issue</b>

Hi,

whenever I run a PS script in VS Code, the CPU load keeps staying at around 15-20% although the execution of the script already finished. It seems that Windows PowerShell is causing the actual load. Do you have any tips to remedy that behavior?

![image](https://user-images.githubusercontent.com/29278083/43593064-3b25602e-9677-11e8-8eb5-7be17f1f7e1b.png)

[2018-08-02 15:17] rkeithhill commented on #1464
What happens if you disable script analysis with the setting `"powershell.scriptAnalysis.enable": false`?

[2018-08-02 15:18] TEH30P commented on #1463
A letters above red line should be white. It is a method call not a type.

[2018-08-02 15:40] tylerl0706 commented on #1463
Oh I see. Thanks for clarifying! Syntax Highlighting is provided by [EditorSyntax](https://github.com/PowerShell/EditorSyntax).

Can you open this over there?

[2018-08-02 15:41] tylerl0706 commented on #1463
I'm going to close this since it's not related to the actual extension code.

If you feel otherwise, please let me know 👍

[2018-08-02 15:41] #1463 closed

[2018-08-02 15:43] tylerl0706 commented on #550
Soon ™ 😉

The PSReadLine PR is almost done.

[2018-08-02 15:52] TEH30P commented on #1463
Done!
https://github.com/PowerShell/EditorSyntax/issues/126

[2018-08-02 16:10] tylerl0706 commented on #1458
Ok. Let's maybe have a const static variable called like `FoldingRangeKindCode`? That's set to some arbitrary int?

Then we can have the expected behavior at least.

[2018-08-02 16:50] rjmholt commented on #1458
Wow, issue 55,686!

[2018-08-03 12:09] MartinSGill opened #1465 "Inner (variable) symbols not found/displayed"
### System Details

[code]

[code]

[code]

[code]

### Issue Description

Not sure if this is vscode-powershell or PowerShellEditorServices issue, but vscode is where I noticed it.

Not all symbols are indexed for the currently loaded script file, and therefore are not available as navigation targets.

For example:

This simple script has, in my opinion, five symbols defined.

![image](https://us

[2018-08-03 12:50] #1459 closed

[2018-08-03 13:23] Midacts opened #1466 "Format Document: Changes Tabs for Spaces"
### System Details

- Operating system name and version: Windows 10.0.15063
- VS Code version: 1.25.1 1dfc5e557209371715f655691b1235b6b26a06be x64
- PowerShell extension version: 1.8.2
- Output from `$PSVersionTable`:
[code]

Copy / paste the following commands into the PowerShell Integrated Console, and paste the output here:

[code]

### Issue Description

I am using PowerShell.

I have lines of

[2018-08-04 01:54] rjmholt commented on #1458
To quote from the VSCode issue:

[2018-08-04 02:27] tylerl0706 commented on #1458
Nice find, Rob!

[2018-08-05 03:39] glennsarti commented on #1458
OKay, I sense another PR on the way

[2018-08-06 00:36] glennsarti commented on #1458
Might have to PR a docs edit to the VS Code API.  As it doesn't mention that bit.  The only thing to indicate it's optional is the `?` in the interface definition, which is pretty obtuse.

[2018-08-06 01:31] MayPLaY commented on #1453
Hey!

To add on top of the logs I already gave you, I got a lot of crash with this kind of message too, it's getting hard working with the terminal.

In case that help!
Thanks a lot again.

`2018-08-05 21:21:00.948 [ERROR] C:\PowerShellEditorServices\src\PowerShellEditorServices.Protocol\MessageProtocol\ProtocolEndpoint.cs: In method 'OnListenTaskCompleted', line 391:
ProtocolEndpoint message loop

[2018-08-06 01:35] glennsarti commented on #1458
Fix PR is up - https://github.com/PowerShell/vscode-powershell/pull/1467

[2018-08-06 01:47] MayPLaY commented on #1458
Thanks @glennsarti

[2018-08-06 04:44] ya-alexander commented on #1464
Thanks for your quick reply. Unfortunately, disabling script analysis does not help. CPU load is still high although the script has finished running.

[2018-08-06 17:10] #1458 closed

[2018-08-06 17:16] rjmholt commented on #1466
Hi @Midacts, can you execute the following command to see if you get the same result:
[code]
If `output.ps1` here also has the converted tabs/spaces, then the problem is occurring in [PSScriptAnalyzer](https://github.com/powershell/psscriptanalyzer)'s `Invoke-Formatter` command. Otherwise, it is likely a problem in [EditorServices](https://github.com/PowerShell/PowerShellEditorServices).

[2018-08-06 17:35] ohadschn opened #1468 "PowerShell profile not loaded in temporary PowerShell Integrated Console when `powershell.debugging.createTemporaryIntegratedConsole` is set to true"
### System Details

- Operating system name and version: Windows 10 (1803)

[code]

### Issue Description

The PowerShell terminal and the PowerShell Integrated Console both load PowerShell profiles. However, when setting `powershell.debugging.createTemporaryIntegratedConsole` to true, profiles are not loaded. Looking at process explorer, I believe `powershell.exe` is being executed with `-NoProfi

[2018-08-07 12:11] PleaseStopAsking opened #1469 "DSC resource intellisense support"
### System Details

- Operating system name and version:
[code]
- VS Code version:
[code]
- PowerShell extension version:
[code]
- Output from `$PSVersionTable`:
[code]

### Issue Description

I am seeing an issue with intellisense loading custom DSC module resource definitions/syntax. Attached is the functionality working as expected in ISE vs. VSCode. I know there is an outstanding performance i

[2018-08-07 13:53] andy-krivtsov commented on #1174
Thanks a lot! I already thought about replacing VSCode to another IDE for powershell. Disabling CodeLens makes it usable again :)

[2018-08-07 14:28] ohadschn opened #1470 "Pass parameters to PowerShell.exe (specifically NonInteractive)"
`PowerShell.exe` supports [various command-line flags](https://docs.microsoft.com/en-us/powershell/scripting/core-powershell/console/powershell.exe-command-line-help?view=powershell-6). It would be beneficial to allow control over these arguments. Specifically, I want to run `powershell.exe -NonInteractive`. This is especially useful when `powershell.debugging.createTemporaryIntegratedConsole` is

[2018-08-07 14:52] SeeminglyScience commented on #1470
Technically we already do pass `-NonInteractive`, but only because we use a custom `PSHost`.

We should definitely look into implementing a host that mirrors the default `-NonInteractive` experience though.

[2018-08-07 14:57] SeeminglyScience commented on #1468
The integrated console is always started with `-NoProfile` because our custom host does the profile processing.

That profile processing step is probably skipped for temporary consoles though.  Not sure if that was a design decision or something that fell threw the cracks.  Either way, profile loading for temporary consoles should definitely be an option (and probably on by default)

[2018-08-07 18:52] rjmholt commented on #1288
@codywd, @avbor PowerShell 6.1.0-preview.4 has shipped with the fix for this in it. Does this issue persist?

[2018-08-07 21:54] rjmholt opened #1471 "Intermittent CodeLens crash"
### System Details

- Operating system name and version:
[code]
- VS Code version:
[code]
- PowerShell extension version: 1.8.2

- Output from `$PSVersionTable`:
[code]

### Issue Description

The PowerShell backend seems to be crashing every so often. Looks like a file that is generated by the build gets deleted by a cleanup rule and when it does the CodeLens falls over.

### Attached Logs
[code]

[2018-08-07 21:56] #1288 closed

[2018-08-07 21:59] rjmholt opened #1472 "Allow the addition of Environment Variables to PowerShell Exe configuration"
See https://github.com/PowerShell/vscode-powershell/issues/1288#issuecomment-387255899 for the proposal.

The suggested form is:
[code]

This would require some input sanitisation to ensure the environment variables aren't an override...

[2018-08-07 22:00] rjmholt commented on #1472
Related to https://github.com/PowerShell/vscode-powershell/issues/1470.

[2018-08-08 04:07] corbob opened #1473 "Right-click menu missing options when language mode set to PowerShell but file not PowerShell"
### System Details

- Operating system name and version: Windows 10 1803
- VS Code version: Insiders
- PowerShell extension version: 1.8.2
- Output from `$PSVersionTable`:

[code]

### Issue Description

1. Open an untitled document.
1. Change language to PowerShell.
1. Select text in the editor
1. Right click
1. * Expected result: Option to lookup help, or run selected text
1. Save file as .ps1 f

[2018-08-08 07:00] avbor commented on #1288
@rjmholt Yes, all work fine since preview 3 =)
![image](https://user-images.githubusercontent.com/32452033/43821448-ea4eef2e-9af1-11e8-8534-a03c822edd9d.png)

[2018-08-08 08:43] weloytty opened #1474 "Start-EditorServices failure loading ps1 files"
Issue Type: <b>Bug</b>

Occasionally (not every time), I open a .ps1 file and get the following error:

[code]

So I set "powershell.developer.editorServicesLogLevel": "Diagnostic", in my settings, and got this output.

[code]

This behavior seems to have started with 1.8.x, I don't recall seeing this before that.

Extension version: 1.8.2
VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b12

[2018-08-08 09:01] rjmholt commented on #1474
Just looked up the exit code (`0xC0000005` in hex). Possibly an access violation, which is pretty unexpected — we're not running any unmanaged code.

If this is an access violation, the best thing to do is probably get a core dump, which you can do by following the instructions here: https://docs.microsoft.com/en-us/windows/desktop/wer/collecting-user-mode-dumps.

Is it a specific ps1 file you're

[2018-08-08 14:07] gwojan commented on #1360
@fatherofinvention I was having the same problem and imported the certificate just like you suggested and problem solved. 😄 I also noticed a Microsoft code signing certificate that expires 08/11/2018. I wonder if that has any bearing on the problem.

[2018-08-08 18:31] weloytty commented on #1474
The problem usually happens when I do Open Folder on a folder of mixed .net (classic) and powershell code.  I captured the dumps, and them along with logs at https://github.com/weloytty/issue1474-vscode-powershell (The dumps were all >100MB, so I had to zip them)

[2018-08-09 18:28] rjmholt commented on #1441
Hi @msturtz2017 did you get a chance to send through those logs?

[2018-08-09 20:00] cpdohert commented on #1256
I was having this problem consistently and found a possible cause.

I was developing a PowerShell Module for internal use.  An old version of the module which I'd forgotten about was installed in C:\Users\cpdohert\Documents\WindowsPowerShell\Modules\MyModule\MyModule.psm1

I was also regularly running Import-Module C:\Users\cpdohert\Documents\repos\MyModule\MyModule.psm1 -Force in a PowerShell ISE

[2018-08-09 21:27] tylerl0706 commented on #1473
Awesome research @corbob - we should change the `when`s to use `editorLangId` instead of `resourceLangId` 😄

https://github.com/PowerShell/vscode-powershell/blob/master/package.json#L163-L170

[2018-08-10 02:49] corbob commented on #1473
PR #1475 opened for this 😄

[2018-08-10 05:36] ya-alexander commented on #1464
@rjmholt Thanks a lot. I tried disabling CodeLens and, at least for now, can confirm that it helped a bit. Windows PowerShell is still using 6-8% of CPU, but that is way less than the > 15% before. Do you have any more tips like that :-)

[2018-08-10 16:09] vandreytrindade opened #1476 "PSScriptAnalyzer not working correctly on Visual Studio Code"
### System Details

- Operating system name and version: Windows 10 1803 build 17134.191
- VS Code version: 1.25.1
- PowerShell extension version: 1.17.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.17134.165
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}

[2018-08-10 16:17] vandreytrindade commented on #1476
In the PSScriptAnalyzer github page, @kilasuit noticed that it has a delay to load the extension. In my environment it took more than 20 seconds to start. Even though the settings.json continues to not recognizing that parameter.

[2018-08-10 17:55] rjmholt commented on #1473
Closed by #1475

[2018-08-10 17:55] rjmholt commented on #1473
Closed by #1475

[2018-08-10 17:55] #1473 closed

[2018-08-12 03:30] fatherofinvention commented on #1360
Hey @gwojan (fellow Michigander!), I'm glad it helped you out. For anyone else reading, I've also seen this happen due to group policy enforced execution policy. Disabling the group policy object enforcing AllSigned or moving to another OG outside of the scope of that particular policy can resolve it but you may still need to complete the steps above to make sure the certificate is imported into t

[2018-08-13 01:50] SolidCore-IA commented on #1283
yes I am still having this issue. With a fully update debian 9.5, vscode, and powershell core.

[2018-08-14 13:38] jkavanagh58 opened #1478 "install-vscode"
Will there be a new install-vbscript version in PSGallery for this new "recommended" version. Not to mention why are you recommending it?
I just finished a script for a complete install of VSCode with extensions and modules... install-vscode allowed the argurments for version, architecture and installing extensions all in one...

[2018-08-14 16:54] RumRogerz commented on #1360
I think I should also point out that the certificate from that ps1 file in question expired on the 11th of this month (August)

[2018-08-14 17:59] Liturgist opened #1479 "powershell.enableProfileLoading not observed"
### System Details

[code]

### Issue Description

I am experiencing a problem with controlling the terminals created. On startup, a "powershell" terminal is created. But, it does not observe the settings I have given.

    "powershell.enableProfileLoading": false,

When I open a .ps1 file, a "PowerShell Integrated Console" starts and does observe the ProfileLoading setting. But, I cannot remove t

[2018-08-14 20:25] rjmholt commented on #1360
Thanks for the info everyone! I'm working on fixing this this week

[2018-08-14 21:11] joeyaiello commented on #1479
`powershell.enableProfileLoading` is only respected by the PowerShell Integrated Console. The `powershell` terminal you are using is just a generic VS Code terminal launching `powershell.exe` (just as it could be launching `cmd` or WSL/Linux `bash` or any other terminal).

If you can't remove the previous `powershell` terminal, that's likely a VS Code issue. There should be a little trash can that

[2018-08-14 21:11] #1479 closed

[2018-08-14 21:13] joeyaiello commented on #1478
Could you provide a little more context on your question? E.g. what do you mean by `install-vbscript`? Or the "recommended" version? Is there something you're seeing on the VS Code Marketplace?

[2018-08-15 08:54] C0smin opened #1481 "Reference counter skips scriptblock and when used as parameter"
## Issue Description ##

I have observed that the reference counter does not count when the function is being used as a scriptblock or as parameter in Get-Command, see example1.

Also if you reimpliment the function, the counter will be 1 for both, see example2.

## Attached Example ##
1
[code]
2
[code]
## Environment Information ##

### Visual Studio Code ###

| Name | Version |
| --- | --- |
| O

[2018-08-15 16:27] cdhunt opened #1482 "Hyperlink Cmdlets to URL in Related Links Help section"
I have worked with other VS Code Extensions that hyperlink certain symbols to a web site help page. `Get-Help cmdlet -Online` provides this functionality in the console. It would be helpful if I could Ctrl+Click on a cmdlet to open the help URL in the browser.

Here's an example with Terraform.
![image](https://user-images.githubusercontent.com/114173/44159730-53fdbd80-a086-11e8-8eb8-35d520e351ad.

[2018-08-15 17:02] rjmholt commented on #1481
Hi @C0smin, thanks for opening an issue. Yes, ideally we can improve the situation here. Since PowerShell has all the caveats of dynamic scope, the function provider, `Set-Variable`/`Get-Variable`, etc. things like the reference CodeLens are very much "best effort" features.

In terms of solvability (and bang for buck), I imagine the work priority would be:
- Fix function redefinition reference co

[2018-08-15 17:05] rjmholt commented on #1476
This looks like a performance issue with PSScriptAnalyzer. Ideally we can solve it with some of the ongoing work we're doing at the moment.

[2018-08-15 17:57] RobCannon commented on #869
Can this be re-opened?  It is occurring in the latest VS Code release, 1.26.0.  It blocks something where the editor and terminal panes are non-responsive.

[2018-08-15 19:02] rjmholt commented on #869
I'll reopen this issue since it sounds like it's not actually resolved. Problems like this are currently a bit tricky to diagnose in the EditorServices codebase, but we're working incrementally toward improving that

[2018-08-15 21:09] rjmholt commented on #1444
This should work now with the latest release. I'll close the issue for now and if the issue is ongoing we can reopen.

[2018-08-15 21:09] #1444 closed

[2018-08-16 12:27] RobCannon commented on #869
I can definitely recreate the issue of the never ending 'Formatting PowerShell document'.  I think editor services is not working at that point because Intellisense and syntax checking stops working.  But I can't recreate the non-responsive issue with the terminal and editor panes.

[2018-08-16 12:51] Midacts commented on #1466
Running the above command turned all tabs into spaces and saved the file as UTF-16 LE.

I did notice, in examples like PSCustomObjects, it didnt replaces all spaces with tabs, maybe 1+ of the tabs stayed a tab and all the rest were changed to spaces.

## Question
What would next steps be?

[2018-08-16 13:17] Midacts commented on #1466
Thanks for the great lead.

Running `Invoke-Formatter` with '-Verbose' shows that it is using a 'Settings\CodeFormatting.psd1' file in the PSScriptAnalyzer module.

I made my own codeformatting.psd1 file and it did use tabs EXCEPT in the case of key/value pairs. It converted to spaces between the key and the equal sign.

[PSScriptAnalyzer issue opened](https://github.com/PowerShell/PSScriptAnalyze

[2018-08-16 14:04] jschmitter commented on #599
@daviwil Are you saying that to use the vs code powershell debugger I need to make all my powershell modules backwards compatible with PowerShell v 1?  I must be misunderstanding something.

I'm experiencing the same issue, and definitely can't decrease the minimum version of my powershell modules.

[2018-08-16 14:08] tylerl0706 commented on #1466
Thanks for doing that! I'll close this now since it's a Script Analyzer issue. Let me know if you feel otherwise! 👍

[2018-08-16 14:27] tylerl0706 commented on #599
@jschmitter

that's not quite right. The version of PowerShell itself, and the version of the host represents 2 different things.

A good example of this is... Open actual pwsh.exe (or powershell.exe) and type `$Host.Version`. Then open the vscode PowerShell extension's PowerShell Integrated Console and to the same. They're different - yet both are using the same version of PowerShell.

The "host

[2018-08-16 14:27] SeeminglyScience commented on #599
@jschmitter `PowerShellHostVersion` does not refer to the PowerShell version, it refers the version of the external host stored by `$Host`.  In a normal session this is typically the engine's host `ConsoleHost`.  However, other applications can supply their own `PSHost` implementations to supply custom logic for things like prompting the user.

Honestly the idea of manifest field `PowerShellHostVe

[2018-08-16 14:35] rjmholt commented on #599
For reference, our host version *is* the extension version:
https://github.com/PowerShell/vscode-powershell/blob/bb545ab75ab4ffa9f12213924235b09944e95d90/src/session.ts#L74-L79

[2018-08-16 15:34] swinster commented on #1456
FWIW, now running VS code v1.27 and vscode-PowerShell 1.8.3 with no improvement.

[2018-08-16 18:53] MayPLaY commented on #1453
PSEditorServices do not crash anymore since 1.8.3.

[PowerShell/PowerShellEditorServices #715](https://github.com/PowerShell/PowerShellEditorServices/pull/715) maybe ?

[2018-08-16 21:33] tylerl0706 commented on #1456
@swinster I noticed your Debug config is set to "PowerShell" can you share what is in this debug config?

[2018-08-16 21:36] #1360 closed

[2018-08-16 23:48] rjmholt commented on #1334
Looks like this particular issue is a race condition -- the script file name is unset after the task is fired.

[2018-08-16 23:57] rjmholt commented on #1214
@mklap12 Are you still hitting this issue?

[2018-08-17 00:05] rjmholt commented on #1214
I'm having a hard time reproducing it

[2018-08-17 00:14] rjmholt commented on #1441
Not yet able to reproduce this. Will try again on a Windows machine tomorrow

[2018-08-17 00:16] swinster commented on #1456
@tylerl0706 do you mean the `launch.json` file? if so, the I'll add that bellow. I do nto think I have ever changed anything in here other than the Aegs section:

[code]

[2018-08-17 00:27] swinster commented on #1456
Just to be sure, I just removed the args, but still the same.

[2018-08-17 01:42] rjmholt commented on #1456
Those arguments are certainly odd, but if it runs the same without then I guess that's not it. I tried reproducing this today with no luck, but will try again tomorrow on a different machine with a setup closer to yours.

[2018-08-17 08:53] swinster commented on #1456
The reason for the arguments is that many of the PS scripts I work with are based on on file manipulation, and I make judicial usage or a shortcut in the `Send:To` folder, so right clicking on a file (or files) and sending them to the shortcut (which is then pointing to the PS script), passes the files names in as arguments.

[2018-08-17 17:33] tylerl0706 commented on #1456
@swinster can you try this config:

[code]

note that "program" is now "script"

[2018-08-17 18:08] Mark-Foresta opened #1488 "### snippet to auto generate DOCs for a cmdlet fails."
### System Details

- Operating system name and version:
Windows 10

- VS Code version:
Version: 1.25.1
Commit: 1dfc5e557209371715f655691b1235b6b26a06be
Date: 2018-07-11T15:43:11.471Z
Electron: 1.7.12
Chrome: 58.0.3029.110
Node.js: 7.9.0
V8: 5.8.283.38
Architecture: ia32
- PowerShell extension version: 1.8.3
- Output from `$PSVersionTable`:
PS C:\Users\Administrator> $PSVersionTable

Name

[2018-08-17 18:14] rjmholt commented on #1488
Hi @Mark-Foresta, would you be able to attach any relevant logs? The instructions are in the README link at the bottom of your issue description

[2018-08-17 18:53] Mark-Foresta commented on #1488
[IssuesFor1488.zip](https://github.com/PowerShell/vscode-powershell/files/2298369/IssuesFor1488.zip)

[2018-08-17 18:53] Mark-Foresta commented on #1488
I think I have attached them

[2018-08-17 21:28] rjmholt commented on #1488
Problem seems to occur here:
https://github.com/PowerShell/vscode-powershell/blob/6630390c88d29eeca3f463b9292a66db60fb230c/src/features/HelpCompletion.ts#L159-L189

First off it looks like we can't rely on VSCode for indentation as we used to?

[2018-08-17 21:29] rjmholt commented on #1488
Nothing has touched that code in several months though

[2018-08-17 22:07] rjmholt commented on #1488
It looks like we are passing the variable names through correctly, but VSCode is now doing something weird with them???

[2018-08-18 01:01] #1488 closed

[2018-08-19 13:38] swinster commented on #1456
Holy **** batman, that one change did the trick! Thanks @tylerl0706 .

I'm sure why this file was the way that it was, but I guess something should have updated in the past and this file didn't.

Thanks.

[2018-08-19 13:41] weloytty commented on #1474
Problem does not reoccur on 1.26.1

[2018-08-19 15:29] tylerl0706 commented on #1474
Glad to hear it @weloytty! If you ever hit this again, please reach out. Closing for now 👍

[2018-08-19 15:29] #1474 closed

[2018-08-19 18:57] corbob opened #1490 "Comment-Help shortcut seems broken"
### System Details

- Operating system name and version: Windows 10 1803
- VS Code version: 1.25.1 & 1.27.0 Insiders
- PowerShell extension version: 1.8.3
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.17134.228
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}

[2018-08-19 19:16] tylerl0706 commented on #1490
Dupe of https://github.com/PowerShell/vscode-powershell/issues/1488

Fix is in master, just need to do a release 👍

[2018-08-19 19:16] #1490 closed

[2018-08-19 19:16] corbob commented on #1482
@cdhunt do you know which extension provides this functionality? There appears to be a number of Terraform extensions:
![image](https://user-images.githubusercontent.com/30301021/44312211-55422980-a3a9-11e8-8950-9de2bef1d6a6.png)

A cursory look at the Azure Terraform one I don't see anything jumping out at me that would provide this functionality.

[2018-08-19 20:44] cdhunt commented on #1482
Yes, the one by Mikael.

[2018-08-20 00:42] #1334 closed

[2018-08-20 10:51] #1346 closed

[2018-08-20 12:47] mklap12 commented on #1214
Hi

Sorry the late reply. I updated Visual Studio some days ago, and after that it was working again.

Marius

________________________________
Fra: Robert Holt <notifications@github.com>
Sendt: fredag 17. august 2018 02.05.59
Til: PowerShell/vscode-powershell
Kopi: mklap12; Mention
Emne: Re: [PowerShell/vscode-powershell] Error "Debug adapter process has terminated unexpectedly" when running Powe

[2018-08-20 12:47] #1214 closed

[2018-08-20 12:48] mklap12 commented on #1214
Updated visual studio

[2018-08-20 12:58] danielschwensen opened #1491 "VSCode Update failed - Open Process"
### System Details

- Operating system name and version:
Windows 10, 10.0.17134

- VS Code version:
1.26

- PowerShell extension version:
1.83

code -v
code : Die Benennung "code" wurde nicht als Name eines Cmdlet, einer Funktion, einer Skriptdatei oder
eines ausführbaren Programms erkannt. Überprüfen Sie die Schreibweise des Namens, oder ob der Pfad korrekt
ist (sofern enthalten), und wiederholen

[2018-08-20 12:59] danielschwensen commented on #1491
[vscode-inno-updater.zip](https://github.com/PowerShell/vscode-powershell/files/2302433/vscode-inno-updater.zip)

[2018-08-20 14:14] tylerl0706 commented on #1491
Hi @danielschwensen, thanks for this! When you say "it stated you should raise an issue" I take it you mean VSCode?

[2018-08-20 14:47] danielschwensen commented on #1491
@tylerl0706 Yes, that is correct. Please find the message attached
![inno_updater_2018-08-20_16-47-00](https://user-images.githubusercontent.com/36114476/44347665-bac11380-a498-11e8-86c0-69f14f209184.png)
.

[2018-08-20 14:53] tylerl0706 commented on #1491
This is actually VSCode, itself, failing to update - not the vscode extension for VSCode.

You're going to want to open this over in:

https://github.com/Microsoft/vscode

They'll be able to help you further, much more than we can here.

[2018-08-20 14:54] tylerl0706 commented on #1491
I'm going to close this since it's vscode and not the vscode PowerShell extension - let me know if you feel otherwise

[2018-08-20 14:54] #1491 closed

[2018-08-20 15:04] danielschwensen commented on #1491
@tylerl0706  Thanks!

[2018-08-20 15:33] PrzemyslawKlys opened #1492 "EditorServices Crash - ERRORS caught while waiting for EditorServicesHost to complete execution"
### System Details

- Operating system name and version:
- VS Code version: 1.26.1
- PowerShell extension version: 1.8.3
- Output from `$PSVersionTable`:

[code]

[code]

### Issue Description

I am experiencing a problem with...  Editor Services crashing.

[code]

### Attached Logs

Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell#reporting-problems)
about c

[2018-08-20 16:05] rjmholt commented on #1492
@PrzemyslawKlys do you have a small reproducible scenario at all? What were doing when the crash happened?

[2018-08-20 18:46] PrzemyslawKlys commented on #1492
Unfortunately it doesn't happen a lot. It happend 3 times so far in 2 days.

I believe in last case it just happend. I was typing something in VSCode, maybe doing CTRL C+V and it simply crashed.

But it as well cane be related to those 2 things:
- i frequently use CTRL + S and I have format on Save - I don't think I did this this time thou
- i use onedrive to store my files (as additional safe to

[2018-08-20 19:06] rjmholt commented on #1492
Understood.

I'm pretty certain it's a race condition.

I'll need to look into it as part of broader work on the extension (getting threading right generally), so the fix is unlikely to be simple or immediate.

[2018-08-20 19:38] PrzemyslawKlys commented on #1492
Happend again:

[code]

Was just editing some code. Stopped, was looking at something else and noticed it crashed.

[2018-08-20 20:20] PrzemyslawKlys commented on #1492
And another one:

[code]

Let me know if you want me to keep on adding as i encounter those or it's enough for now (maybe you need full log as well). I guess without reproducible case it's not gonna be easy/nessecary. One more thing that I do common is having 3+ VS Code windows with 3 different projects open at all times.

[2018-08-20 22:02] JustinGrote commented on #1441
@rjmholt This may be the same issue as the PSReadline I've been seeing. I usually see it when doing Interactive Session, and when I stop it happens immediately.

Here's my initial repro:
https://github.com/PowerShell/PowerShellEditorServices/pull/672#issuecomment-401136015

And the follow-on logs:

[EditorServices.log](https://github.com/PowerShell/PowerShellEditorServices/files/2268351/EditorServ

[2018-08-20 22:06] JustinGrote commented on #604
Now that https://github.com/Microsoft/vscode/issues/13267 is closed, can we revisit this? It is super annoying still :)

[2018-08-20 22:56] rjmholt commented on #1441
@JustinGrote yes I think this is the issue you were seeing too. It has to do with us changing to named pipes. I'll have a look into it

[2018-08-21 11:15] GarryONeill opened #1493 "Inserting help is broken"
## Issue Description ##

Using VS Code to write PowerShell scripts. When writing an Advance function I used to be able to type '##' (that's a double hash) at the top of the function between the function name and the [cmdletbinding()] and it would automatically add the PowerShell help descriptions.

Now when I do this it doesn't add the help but breaks all of my formatting. This appears to be an is

[2018-08-21 11:45] GarryONeill commented on #1493
I can confirm the current version 1.8.3 broke this feature. I managed to install a previous version, 1.8.2, and the shortcut "##" to insert help works.

[2018-08-21 14:43] tylerl0706 commented on #1493
This is a dupe of https://github.com/PowerShell/vscode-powershell/issues/1488.

The fix is in master, it's just pending a release which I'll do sometime this week. Thanks!

[2018-08-21 14:43] #1493 closed

[2018-08-22 04:39] SolidCore-IA commented on #1283
tested today with a blank .ps1 file and still getting crashes from the powershell plug-in. A bunch of fresh logs attached. At this point I cant work with powershell files and the powershell plug-in at the same time at all.
[logs.zip](https://github.com/PowerShell/vscode-powershell/files/2308863/logs.zip)

[2018-08-22 05:03] rkeithhill commented on #1283
Thanks for attaching the logs.  I can now repro this issue (on Windows).  Essentially, create an Untitled-1 file, paste in the following text:
[code]
Convert the `\n` to newlines, set the editor file type to PowerShell, then go to the end of the press, press enter a few times and then back space the same number.  That caused the same exception for me:
[code]

[2018-08-22 10:39] GarryONeill commented on #1493
Awesome, thanks :)

[2018-08-22 17:40] rjmholt commented on #1492
This information seems like enough to go on for now -- it looks like the file offset in VSCode is not synchronised with the actual file.

It's the kind of thing that may be difficult to implement correctly, but we should still catch the error and just move on.

[2018-08-22 17:53] GABeech opened #1494 "Debug Session no respecting Added or removed Breakpoints & Integrated Shell Crash"
## Issue Description ##

When I run a debug session two things happen:

1. Any addition or removal of breakpoints is not respected
2. The Integrated shell Crashes after not exiting correctly

You can replicate this by running a small script like:

[code]

### Removing Breakpoint

* Set a breakpoint on the first `Write-Output`
* Debug The script
* Remove Breakpoint on First `Write-Output`
* Continu

[2018-08-22 20:51] SolidCore-IA commented on #1283
I get this crash on any powershell script or module. The /n lines were just me waiting for it to crash. It happens with in 60 secs of what I think is the powershell extensions loading on any posh file.

[2018-08-22 22:11] rjmholt commented on #1283
This looks like the same cause as https://github.com/PowerShell/vscode-powershell/issues/1492

[2018-08-22 22:41] rjmholt commented on #729
I believe @tylerl0706 added support for the `inmemory://` URI -- @ehouarn-perret, @Serivy would you be able to check if this bug is fixed? (Don't have perforce on my machine)

[2018-08-22 22:48] rjmholt commented on #886
Having trouble reproducing this. @powershellpr0mpt, are you still experiencing this issue?

[2018-08-22 22:50] rjmholt commented on #1283
Also this one: https://github.com/PowerShell/vscode-powershell/issues/1453

[2018-08-23 00:17] rjmholt commented on #1494
Thanks for opening an issue @GABeech. I can reproduce this on my machine. I've been looking into it but haven't found the cause yet. Will continue investigating.

[2018-08-23 01:03] rjmholt commented on #1494
So I've debugged this a couple of times and I've just hit a nasty hang here:
https://github.com/PowerShell/PowerShellEditorServices/blob/f1ab46289904b77fe5f5bd97cc89e2f5286444db/src/PowerShellEditorServices/Session/PowerShellContext.cs#L352-L355

[2018-08-23 12:23] PatTheOche opened #1496 "Problem with $arg when using debug mode"
- Operating system name and version: Windows 10
- VS Code version: 1.26.1
- PowerShell extension version: 1.8.3
- Output from `$PSVersionTable`:
[code]

### Issue Description

I am experiencing a problem when $arg contains values and a breakpoint is used to test the code.
if $arg is empty, no problem.
after breakpoint, each F10 key use, another error is raised.
Launch.json example :
[code]

### At

[2018-08-23 13:41] SeeminglyScience commented on #1494
@rjmholt If you have the PSRL build still, see if you can reproduce it there.  I made a lot of changes around the runspace handle queues.

[2018-08-23 14:30] csandfeld commented on #1492
I am experiencing what I believe to be the same issue, several times a day.
I think the problem first occured after the powershell extension was updated to version 1.8.3 (however that may be coincidental).

Logs and environment info attached below

## Attached Logs ##

### EditorServices.log ###
[code]

### vscode-powershell.log ###
[code]

## Environment Information ##

### Visual Studio Code ###

[2018-08-23 14:31] csandfeld commented on #1492
Let me know if you want me to try reproducing with verbose logging enabled.

[2018-08-23 17:18] rjmholt commented on #1048
Hi @davidm1984, we just did some work on this to make sure the certificates are all correct and up to date with the modules and scripts -- everything is Authenticode signed.

Would you be able to give some more info on the problem you experienced here and what you needed to do to work around it? You mentioned a build script, but do you mean the scripts to build from source? Or something in the rel

[2018-08-23 17:25] rjmholt commented on #1492
Hi @csandfeld, I think the logging has identified where in the code the issue is, but won't help us identify why.

Can you describe anything about how you were modifying the script when the extension crashed?

[2018-08-23 17:49] rjmholt commented on #1283
I've just realised the commonality in all these issues is adding a new line to the end of the file -- there seems to be an off-by-one problem there. Seems related to https://github.com/PowerShell/PowerShellEditorServices/pull/573 maybe?

[2018-08-23 18:32] csandfeld commented on #1492
Hi @rjmholt

I ran into this issue several times today, while testing some enums, classes, functions, and C# code (with Add-Type). I loaded a file holding the enums and classes, and a number of files each holding a function, into the active session using F5 (so running the debugger, but without doing any actual debugging). Then while typing a variable name ($whatever) in some test code, it would c

[2018-08-23 19:53] rjmholt commented on #1492
The variable name was at the end of the file right? Was the file a new untitled file? Or a modification of one changed on the filesystem?

[2018-08-23 21:25] rjmholt commented on #1441
So my current theory is that VSCode might be closing the named pipe on its end. The problem is that VSCode has to create the named pipe and it has to do so in a certain way to keep the connection secure. So this one might take some work to fix...

But I'm not sure why the named pipe is closing.

[2018-08-24 07:37] csandfeld commented on #1492
@rjmholt: Yes, the edit was at or towards the end of the file (there may or may not have been some line breaks after), and it was a modification of an existing file.

[2018-08-24 18:56] rjmholt commented on #1400
I'm having trouble reproducing this currently. @DanrwAU, are you still seeing this issue?

[2018-08-25 16:17] jahands opened #1497 "Decreased performance in the last couple months in large modules"
## Issue Description ##

I don't know when exactly it started, but at some point in the last few months performance greatly went down for a large file I'm working with (>6k LOC).
Specifically, formatting speed is so slow I rarely use it anymore. Autocomplete is often quite slow that I've stopped relying on it so much as well.

I appreciate what you guys are doing! I'm happy to help in any way I ca

[2018-08-25 17:02] tylerl0706 commented on #1497
Thanks for this! As mentioned on Twitter, we've been investigating a bunch of performance related issues.

Quick question though, in addition to the large file, do you open workspaces with a ton of files?

[2018-08-25 17:10] jahands commented on #1497
Yes actually. Here's cloc output:
![image](https://user-images.githubusercontent.com/10719325/44620768-bfeadd80-a85f-11e8-8c6f-5ede8913a17e.png)

[2018-08-25 17:55] rjmholt commented on #1497
@jahands Does [turning off CodeLens](https://github.com/PowerShell/vscode-powershell/issues/1174#issuecomment-379232062) help? Let us know if it does and by how much.

[2018-08-26 15:55] ehouarn-perret commented on #729
@rjmholt don't have it anymore

@Serivy?

[2018-08-27 00:50] #1450 closed

[2018-08-27 06:01] Serivy commented on #729
I can confirm that the problem I was having before no longer occurs with the perforce plugin enabled. Thanks for the fix!

[2018-08-27 19:56] PrzemyslawKlys opened #1499 "Editor services crashing when file in use"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with... Editor Services Crashing. I use VSCode with git but also all files are stored on OneDrive. So it's possible that when I save OneDrive (I'm guessing here) kicks in at same time that Format on

[2018-08-28 05:05] #1471 closed

[2018-08-28 05:10] #1283 closed

[2018-08-28 05:10] #1492 closed

[2018-08-28 09:15] PrzemyslawKlys commented on #1499
Great :-) Weirdly enough I started to experience this for first time in last 2 days. Before it was ok.

[2018-08-28 09:17] rjmholt commented on #1499
Yeah I'm similar -- first time I got this crash was a couple of weeks ago. I just assumed that deleting a file while it's under CodeLens anaylsis is a rare scenario. The fix was for a fairly old piece of code. Anyway, it's fixed now and we actually got a 10x CodeLens performance improvement out of it too.

[2018-08-28 09:19] PrzemyslawKlys commented on #1499
I'm really excited working in VSCode and PowerShell. It's so great tool even with those crashes I can't get back and sooner or later we will be getting less and less problems.

[2018-08-28 09:35] rjmholt commented on #1499
I hope so! We're wrangling with some technical debt, but I'm hoping we can make some solid improvements in the coming months.

The debugger is the next problem area. It really didn't like the move to named pipes, but we didn't have much choice on that one.

[2018-08-28 14:48] tylerl0706 commented on #1499
@rjmholt, that PR was to address when the file goes missing but this issue is when PSES can not access the file in question because something else is using it.

The change does catch an IOException:
https://github.com/PowerShell/PowerShellEditorServices/pull/732/files#diff-c32df74a02ef5cb6a69bfa0fcfd0162bR335

I would like to assume this would catch the error in question above: `System.IO.__Error.

[2018-08-28 14:52] andrewducker commented on #1094
Same here.  I try to "go to definition" for a class and it doesn't find anything, and it also doesn't find constructors.

[2018-08-28 15:20] tylerl0706 commented on #1094
Ah this is a dupe of https://github.com/PowerShell/vscode-powershell/issues/3

The problem here is that it's difficult to support classes AND PowerShell v3. @powercode has been working on adding this but I'm not quite sure on his status. Once we move to V2 of the extension which comes with PSReadLine, we will be able to support this with a smaller barrier.

[2018-08-28 15:20] #1094 closed

[2018-08-28 22:39] rjmholt commented on #1499
Yes I was working on the assumption that catching an `IOException` will handle this. I get the impression that it [mostly will](https://referencesource.microsoft.com/#mscorlib/system/io/__error.cs,f1436027d8b771e9,references)

[2018-08-29 00:26] SolidCore-IA commented on #1283
I guess Im a little confused. How do I obtain this fix? Wait for the next extension release?

[2018-08-29 00:53] tylerl0706 commented on #1283
Yeah we're planning on doing a release this week.

[2018-08-29 07:43] MalcolmTyler commented on #550
Any ETA yet on this bug fix being released?

[2018-08-29 08:52] RussPitcher commented on #1464
I've been having a similar issue when working on a 3000-line script with one hyper-threaded core from my 2-core laptop regularly nailed at 100% on a PowerShell process under VSCore and very laggy performance.  I also noticed that the status bar almost constantly had 'Formatting PowerShell document...' running.

Disabling CodeLens helped, but not a great deal.  Disabling script analysis has made a

[2018-08-29 20:07] jchris1 opened #1500 "Pester describe block "Run tests" and "Debug tests" do not run"
### System Details

- Operating system name and version:
Windows 10 Enterprise
Version 1709 (OS Build 16299.611)

- VS Code version:
Version: 1.26.1
Commit: 493869ee8e8a846b0855873886fc79d480d342de
Date: 2018-08-16T18:38:57.434Z
Electron: 2.0.5
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

- PowerShell extension version: 1.8.3

[code]
[code]
[code]

[code]

### Issue Descr

[2018-08-29 20:48] jahands commented on #1497
Not it does not. I've been using Code a lot for PS the last few days and
everything is still quite slow.

On Sat, Aug 25, 2018 at 12:55 PM Robert Holt <notifications@github.com>
wrote:

[2018-08-29 23:06] tylerl0706 commented on #1497
@jahands just out of curiosity. Whens the last time you killed all open vscode windows and restarted it?

[2018-08-29 23:09] rjmholt commented on #1500
Hi @jchris1, thanks for opening an issue. If you remove the `if` condition around the `It` clause, do the tests work?

[2018-08-29 23:12] rjmholt commented on #1464
Yeah disabling ScriptAnalysis is the other tip.

It looks like different features are performance bottlenecks on different machines.

If anyone is hitting an issue like this, try disabling individual features (should be similar to how CodeLens is disabled) and report back here -- it's much easier for us to determine the cause of performance issues with information like that on hand.

[2018-08-29 23:20] jahands commented on #1497
It's been a few days, probably a week on that PC actually

On Wed, Aug 29, 2018, 6:06 PM Tyler James Leonhardt <
notifications@github.com> wrote:

[2018-08-29 23:35] rjmholt commented on #1497
Does disabling script analysis help: `"powershell.scriptAnalysis.enable": false`?

[2018-08-29 23:46] rjmholt commented on #1497
Just had a look through the changes over the last few months (https://github.com/PowerShell/PowerShellEditorServices/commits/master) and there's nothing there that I can imagine causing serious performance degradations:
- Using the named pipe transport -- shouldn't change anything
- Fixed up our usage of the PSScriptAnalyzer module (by version) -- no significant extra processing there
- Changed th

[2018-08-30 09:33] msevastian commented on #550
Struggling from the same problem since started to use VS Code for Powershell coding :( Up arrow just doesn't populate any last command entered in debugger. Guys any news when it can be fixed?

[2018-08-30 12:52] stoinov opened #1501 "Properly highlight semicolon after variable in quotes"
## Issue Description ##

I am experiencing a problem with the code highlighting. Here is the example:
`$test = "Some text including $variable1:$variable2"`
This semicolon is shown with the color of the regular text. Instead it should be shown with the color of the variable name as this is parsed as scope by PS, as [explained here](https://docs.microsoft.com/en-us/powershell/module/microsoft.powers

[2018-08-30 13:06] stoinov opened #1502 "Properly highlight splatting operator in quotes"
## Issue Description ##

I am experiencing a problem with the highlighting of the [splatting operator](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_splatting?view=powershell-6) in quotes. Here is an example:
`"Some text with @splatting"`
This should be displayed with the normal color for quoted text, but instead is highlighted as variable, which is confu

[2018-08-30 13:09] stoinov commented on #1501
I just realized there is [another repo](https://github.com/PowerShell/EditorSyntax/issues) for this kind of issues. Can we move it there or should I recreate it?

[2018-08-30 13:09] stoinov commented on #1502
I just realized there is [another repo](https://github.com/PowerShell/EditorSyntax/issues) for this kind of issues. Can we move it there or should I recreate it?

[2018-08-30 13:19] stoinov commented on #1502
Found a [relevant issue](https://github.com/PowerShell/EditorSyntax/issues/137) that can track this. Closing.

[2018-08-30 13:19] #1502 closed

[2018-08-30 16:29] jchris1 commented on #1500
Hi,

Yes.  I have the same error with this example test block:

Describe "test" {
    It {
        1 | Should Be 1
    }
}

[2018-08-30 20:52] dpaulson45 opened #1503 "PowerShell process consumes CPU"
Issue Type: <b>Bug</b>

After a while of using Visual Studio Code with the PowerShell extention in enabled, the PowerShell process consumes a large amount of CPU like it is stuck in a loop. This is bad performance when i am not even utilizing the actual PowerShell process during my time of writing out PowerShell scripts.

Extension version: 1.8.3
VS Code version: Code 1.26.1 (493869ee8e8a846b08558

[2018-08-30 20:55] dpaulson45 commented on #1464
I think i might be seeing the same issue. I just filed #1503 for PowerShell using a large amount of CPU. Let me know if i can do anything to assist with debug/repro.

[2018-08-30 23:05] rjmholt commented on #1464
@dpaulson45 Can you try disabling script analysis and tell us what you find? Then re-enable it and try disabling CodeLens. Then disable both. And report back on what effect each has? Thanks!

[2018-08-30 23:05] rjmholt commented on #1503
Dupe of https://github.com/PowerShell/vscode-powershell/issues/1464

[2018-08-30 23:05] #1503 closed

[2018-08-30 23:08] rjmholt commented on #1500
Ah I've worked it out. This Pester test isn't valid because the `It` block needs a name. Try:

[code]

The Pester CodeLens will only recognise valid Pester tests, since it can't run them otherwise.

Try that and let us know how it goes. I'd also be interested to know if re-instating the `if` block still works.

[2018-08-30 23:40] ephenix opened #1504 "1.8.3 helpCompletion Bug"
## Issue Description ##

helpCompletion is copying the entire contents of the function

Confirmed this issue is only found in the 1.8.3 release.
I tested each release from 1.7.0 to 1.8.3; 1.8.2 was working.

Bug tested on two computers so far -- one Server 2016 machine and one Windows 10

[code]

Result:

[code]

Expected Result:

(after uninstalling and running this)
code --install-extension Powe

[2018-08-31 00:15] rjmholt commented on #1504
Hi @ephenix thanks for opening an issue. This issue is a duplicate of https://github.com/PowerShell/vscode-powershell/issues/1488 and will be fixed in the next release, which will hopefully be in the next week or so.

[2018-08-31 00:15] #1504 closed

[2018-08-31 00:57] rjmholt opened #1506 "Fix attribution bug in Changelog generation script"
The changelog script generates strange attributions for the wrong people. Example:

[code]

Notice that there is faulty attribution logic.

[2018-08-31 15:14] Cirzen opened #1507 "Code formatting causes cursor to jump to EOF"
I have my formatting style set to Allman. If I start typing something, e.g. a function, or a process block and put the open-brace at the end of the line, when the formatter kicks in and moves it to the next line, the cursor also jumps to the last line of the file.
Here's a screen grab of what happens.
![formatter](https://user-images.githubusercontent.com/13346199/44920339-94706300-ad37-11e8-9b66-

[2018-09-01 06:41] GarryONeill commented on #1493
This is still broken in the new version. Still having the same issue. Thanks

[2018-09-01 06:48] ghost opened #1509 "Inserting help inside a function is broken"
Using VS Code to write PowerShell scripts. When writing an Advance function I used to be able to type '##' (that's a double hash) at the top of the function between the function name and the [cmdletbinding()] and it would automatically add the PowerShell help descriptions.

Now when I do this it doesn't add the help but breaks all of my formatting.

I logged a previous bug report but was told this

[2018-09-01 09:26] tylerl0706 commented on #1500
It looks like you're using the older style of Pester asserts. Can you do 3 things:

1. Can you invoke them manually with Invoke-Pester from the terminal?
2. If you update the Should to `Should -Be 1`
3. What version of Pester do you have?

[2018-09-01 17:10] PrzemyslawKlys opened #1510 "EditorServices Crash - ERRORS caught while waiting for EditorServicesHost to complete execution"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with...

Still exists in 1.84 - related to #1492

[code]

Unless it's different error.. I was editing  code and removed \ or '

[code]

which made the text below that highlight everything and it cras

[2018-09-02 12:48] nlsdg commented on #1509
Same problem here. Logs and screenshots in the attached .zip.
[1509_log.zip](https://github.com/PowerShell/vscode-powershell/files/2343314/1509_log.zip)

Repo: create a new powershell file, paste the following and type ## on line 2. (Same as issue #1488.)
[code]

It turns into this:

[code]

[2018-09-02 13:53] shnipov opened #1511 "Error: The language client requires VS Code version ^1.26 but recevied version 1.25.1"
## Issue Description ##
After downgrade VS Code from 1.26 to 1.25.1 version I get this error when openning any powershell script.

## Attached Logs ##
[code]
## Environment Information ##

### Visual Studio Code ###

| Name | Version |
| --- | --- |
| Operating System | Windows_NT x64 10.0.17134 |
| VSCode | 1.25.1|
| PowerShell Extension Version | 1.8.4 |

### PowerShell Information ###

|Name|Va

[2018-09-02 14:36] tylerl0706 commented on #1511
Opened issue on the vscode-languageclient ^

[2018-09-02 14:49] shnipov commented on #1511
Thanks. Your comment helped me to find workaround.

You have dependency on `"vscode-languageclient": "~5.0.0"` and on my machine it has requirement of `"vscode": "^1.26"` in `C:\Users\user\.vscode\extensions\ms-vscode.powershell-1.8.4\node_modules\vscode-languageclient\package.json`. May be it changed after update of vs code.

I've changed it manually to `"^1.25"`, looks like it's working now.

[2018-09-02 14:53] tylerl0706 commented on #1511
Glad you're unblocked! I'll work with the folks over there and investigate this.

[2018-09-02 22:55] rjmholt commented on #1500
@jchris1 Can you also paste any output (e.g. error output) you get from clicking on `Run Tests`?

[2018-09-02 23:01] rjmholt commented on #1510
This crash is more mysterious. The relevant part of the error seems to be:
[code]

[2018-09-03 01:03] rjmholt commented on #1509
I'm having some trouble reproducing this. Here's my current build of `master` branch (the fix commits being the same as the build):
![functionsnippet](https://user-images.githubusercontent.com/7009879/44962846-f49a1b80-af68-11e8-9f27-6dae626f725e.gif)

[2018-09-03 01:30] rjmholt commented on #1509
@ghost, @nlsdg can you try using the extension build attached and see if the error still occurs?

[psvsix.zip](https://github.com/PowerShell/vscode-powershell/files/2343920/psvsix.zip)

[2018-09-03 05:07] SolidCore-IA commented on #1283
I have the update on the extension and still crashing. It crashes with a blank .ps1 file open. All new logs attached; including the blank .ps1 file I created only to test this.
[morelogs.zip](https://github.com/PowerShell/vscode-powershell/files/2344251/morelogs.zip)

[2018-09-03 08:35] victorwoo opened #1513 "Visual Studio Code PowerShell Extension crashes when IntelliSense about to pop out on passing param to custom function"
### System Details
[code]

### Issue Description

[code]

PowerShell extension for Visual Studio Code crashes when InteliSense about to parse `mytest` custom function.

### Attached Logs

[logs.zip](https://github.com/PowerShell/vscode-powershell/files/2344787/logs.zip)

[2018-09-03 09:26] RussPitcher opened #1514 "Folding: Allow option to leave closing brace line visible"
**Summary of the new feature**

As a user I want an option for brace-delimited code folding regions to leave the closing brace visible when the region is folded.

The current folding behaviour of VSCode with the PowerShell folding provider disabled leaves the opening and closing lines visible and folds the code in the contained lines.
![image](https://user-images.githubusercontent.com/12069491/449

[2018-09-03 09:44] DWOF commented on #1509
@rjmholt I'm having the same issue. I have installed the extension build but still experience the incorrect behaviour.

[1509.zip](https://github.com/PowerShell/vscode-powershell/files/2345046/1509.zip)

I have also changed to the user version of the install but the issue persisted.

`Function ExportFSAPI {

    Param(
        [Parameter(Mandatory = $True)][SecureString]$APIString,
        [Parame

[2018-09-03 13:27] oivindoh opened #1515 "Remote debugging macOS -> Windows not working properly (incorrect path)"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with [remote debugging](https://github.com/PowerShell/vscode-powershell/blob/master/docs/remoting.md). Following the example I'm assuming the correct debugging configuration (missing from example) wo

[2018-09-03 23:27] rkeithhill commented on #1509
Yup, I can repro.  In 1.8.4 if you use `##` before the function keyword, doc comment help completion works but it doesn't if you try to place the doc comments inside the function.

[2018-09-03 23:50] rjmholt commented on #1513
Thanks for opening an issue @victorwoo. This looks like a crash in the URI class in the CodeLens reference provider.

The workaround is to disable CodeLens: https://github.com/PowerShell/vscode-powershell/issues/1174#issuecomment-379232062

I suspect the non-ASCII characters are causing the crash (it's occurring when the `AbsoluteUri` property is referenced [here](https://github.com/PowerShell/Pow

[2018-09-04 02:40] rjmholt commented on #1513
I can't reproduce this on Ubuntu 18.04 LTS. It may be macOS specific.

[2018-09-04 02:55] rjmholt commented on #1500
I've tried this out on my machine now.

If I do:
[code]
or
[code]

I get an output like:
[code]

If I don't provide the name of the test like
[code]
gives
[code]

The `it` doesn't seem to be case-sensitive, but the `Describe` is -- which is likely a bug.

Also, the Pester lens only appears in files that end with `.tests.ps1`.

But so far I've been unable to reproduce the behaviour you're seeing @j

[2018-09-04 06:21] #1445 closed, assigned to nobody

[2018-09-04 15:54] jchris1 commented on #1500
Installed Pester version is 4.4.0

I can manually run the tests in the terminal:
[code]

[2018-09-04 16:51] jahands commented on #1497
I thought maybe it was time to split code out to multiple files so I moved a few classes to a new file. Formatting still took a really long time. But every now and again formatting will happen almost instantly like it used to. But then formatting again a little later is slow.

[2018-09-05 05:17] rjmholt commented on #1510
Got this one again today:

[code]

[2018-09-05 20:14] tylerl0706 commented on #535
@BatmanAMA @rjmholt is working on migrating PowerShell Editor Services to .NET Standard 2.0 and PowerShell Standard.

https://github.com/PowerShell/PowerShellEditorServices/pull/741

[2018-09-06 02:34] rjmholt commented on #535
Here's a build from that latest PR (which is pretty much complete) with the PSReadLine features enabled:
[psvsix.zip](https://github.com/PowerShell/vscode-powershell/files/2355223/psvsix.zip)

(GitHub won't let me upload a VSIX directly, but just expand the zip and it will be in there)

To install:
[code]
Or if you use VSCode Insiders:
[code]

Then you will need to enable the feature in your VSCod

[2018-09-06 02:42] rjmholt commented on #550
There's a preview build available to address this that you can find here: https://github.com/PowerShell/vscode-powershell/issues/535#issuecomment-418944258

Please give it a try -- it's a pretty significant feature, so if you hit any problems please open an issue :)

[2018-09-06 03:55] Fexception commented on #892
@Tsugliani, were you able to get this to work? If So, could you shed some light on how you did it? I'm experiencing the same issue.

Thanks in advance!

[2018-09-06 08:37] Cirzen commented on #1507
Cannot reproduce after a reboot. Closing as anomaly.

[2018-09-06 08:50] tylerl0706 commented on #1507
Thanks for the follow up!

[2018-09-06 11:33] raandree commented on #535
Right after having the new version installed, debugging was no longer possible:

[code]

After some time, I get this error:

[code]

The log shows:
[code]

[2018-09-06 12:08] SeeminglyScience commented on #535
@raandree This is a shot in the dark, but what's the highest .NET Framework version you have installed?  If it's under 4.7.1, try installing that.

[2018-09-06 13:12] djobin commented on #535
@raandree I have the same issue and I have found that the Microsoft.PowerShell.EditorServices.dll library is not in the expected path when the 'Start-EditorServices.ps1' script runs.

from the PowerShellEditorServices.psm1 👍

On my system, I don't have Powershell 6 installed, only the Desktop version (5.1) and in the .\ms-vscode.powershell-2.0.0\modules\PowerShellEditorServices\bin folder, there i

[2018-09-06 14:32] tylerl0706 commented on #535
@rjmholt has been working on porting all of PowerShell Editor Services to .NET Standard and this seems to be a place he missed.

Windows PowerShell 5.1 will be supported.

[2018-09-06 20:54] raandree commented on #535
@SeeminglyScience, thanks for the hint, but .net 4.7.2 is installed.

[code]

@djobin, this is it. Missing the Desktop folder as well.

When do we get a new build to play with?

[2018-09-07 02:29] rjmholt commented on #535
@raandree Just finishing one up now (sorry, currently in an Australian timezone, so a bit out of kilter with US business hours)

[2018-09-07 07:28] DarkLite1 opened #1517 "Here string intellisense completion and indentation"
In the editor here strings are not correctly completed and indented. some expamples:

![image](https://user-images.githubusercontent.com/10828570/45204817-ae9ec980-b280-11e8-92b5-20c28453a6e1.png)

This is very annoying when working with HTML strings.

[code]

[2018-09-07 14:27] tylerl0706 commented on #1517
Yep. This is a duplicate of https://github.com/PowerShell/vscode-powershell/issues/181. We just haven't had cycles to address the problem.

I would think one would just need to send a PR to VSCode itself and add to this
https://github.com/Microsoft/vscode/blob/master/extensions/powershell/language-configuration.json#L11

But I haven't tried it.

[2018-09-07 14:29] tylerl0706 commented on #181
I'm duping this to a newer one #1517. I think we might be able to modify the auto closing pairs here:
https://github.com/Microsoft/vscode/blob/master/extensions/powershell/language-configuration.json#L11

But I've not tried it

[2018-09-07 14:29] #181 closed

[2018-09-07 15:26] MayPLaY opened #1518 "Powershell terminal randomly crashes with "Access to the Path e:\ is denied""
## Issue Description ##
Hi!

A coworker gave me one of his file to review it. The file got this line:
`installCAIS_Traitement -ConfigurationData "E:\Sources\DSQ_INSTALL_CAIS_Traitement_LabFrancois.psd1" -OutputPath "./MOF"`

It randomly (2-3 times/day) makes my Powershell terminal (EditorServices) crashes with this error :
`    System.AggregateException: One or more errors occurred. ---> System.Un

[2018-09-07 17:52] animusyosho opened #1519 "JSON Syntax Highlighting in String of JSON within Powershell file"
I like to define objects in json and convert to hashtable object. That works well, but it's hard to troubleshoot JSON when it's not colored, and I have to copy and paste to a json file for vscode to color things in and show where I am missing a bracket or comma or whatnot. Would be nice if this is doable inside the powershell files themselves via this great plugin! If somehow that could just use t

[2018-09-07 18:02] tylerl0706 commented on #1519
Hi there! So what you'd like is JSON syntax highlighting inside of a string? Is that right?

[2018-09-07 18:06] rkeithhill commented on #1519
If you figure out how to do that, we need to tell the folks who provide TypeScript support. I'd love to have HTML/CSS highlighting within strings in my Angular component (ts) files.   :-)

[2018-09-07 18:06] animusyosho commented on #1519
Correct! If it's doable, that would make this even better. :)

[2018-09-07 18:28] tylerl0706 commented on #1519
I think you should open an issue on [VSCode](https://github.com/Microsoft/vscode) first to allow programatic ways to define regions of code - so that we could embed other syntax highlighting into a powershell file.

AFAIK, this is not possible for us to do based on what VSCode gives us.

[2018-09-07 18:35] rkeithhill commented on #1519
Vote up https://github.com/Microsoft/vscode/issues/1751.  I just did.

[2018-09-07 18:35] rkeithhill commented on #1519
Given this is a VSCode limitation. I'm closing this issue.

[2018-09-07 18:35] #1519 closed

[2018-09-07 20:04] SeeminglyScience commented on #1345
Looks like VSCode added something that tells extensions where they can store logs.  From the [release notes](https://code.visualstudio.com/updates/v1_27#_extension-logging):

[2018-09-10 07:15] DarkLite1 commented on #1517
Maybe @aeschli can have a look? It would be great if this could be fixed.

[2018-09-10 11:26] DarkLite1 opened #1520 "Unfolding not possible"
Consider the following file:

**Test.ps1**

[code]

1. Perform the action `Fold all` with the command palette
2. Try to `click` the `plus sign` to unfold, notice that unfolding is not possible with the mouse.

![image](https://user-images.githubusercontent.com/10828570/45294815-df8b3280-b4fc-11e8-83f3-44f5757d80dd.png)

Workaround: Unfold with the command palettte.

[code]

[2018-09-10 12:22] PrzemyslawKlys opened #1521 "EditorServices Crash - System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection."
### System Details

- Operating system name and version: Windows 10 insiders
- VS Code version: 1.27.1
- PowerShell extension version: 1.84
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with... crashing. I was splitting one large file into multiple smaller ones. As in 1 big file had like 5 functions and I was creating new file, renaming it to function

[2018-09-10 18:30] rjmholt commented on #1521
Duplicate of https://github.com/PowerShell/PowerShellEditorServices/issues/739

[2018-09-10 18:30] #1521 closed

[2018-09-10 18:34] rjmholt commented on #535
FYI, I've hit a snag but working to fix it ASAP. See https://github.com/PowerShell/PowerShellEditorServices/pull/741.

[2018-09-10 19:02] rjmholt commented on #1345
Looks like the default settings for the log path API are here: https://github.com/Microsoft/vscode/blob/f3b191ab38fb9f1717ce5ce3396bb41204ffb399/src/paths.js#L18-L25

Those should all be deleteable for users I imagine

[2018-09-10 19:49] TheIncorrigible1 commented on #1443
How would you plan on addressing rules that are configurable such as `PSProvideCommentHelp` or `PSAvoidUsingCmdletAliases`?

[2018-09-11 06:54] DarkLite1 commented on #1520
Opened #58414 in the right place

[2018-09-11 06:54] #1520 closed

[2018-09-11 07:58] DarkLite1 opened #1522 "Incorrect color"
Methods look like a string when called between `$()`:

![image](https://user-images.githubusercontent.com/10828570/45346286-1a4aa480-b5a9-11e8-8c85-b997117fdead.png)

[code]

[2018-09-11 14:31] tylerl0706 commented on #1522
Hi @DarkLite1, thanks for this! Since this is a syntax highlighting issue, can you please open it under https://github.com/PowerShell/EditorSyntax ? That's the syntax that's used everywhere.

I'm going to close this since it's an issue with Editor Syntax. Thanks!

[2018-09-11 14:31] #1522 closed

[2018-09-11 14:47] aeschli opened #1523 "Unfolding not possible"
_From @DarkLite1 on September 11, 2018 6:53_

Consider the following PowerShell file:

**Test.ps1**

[code]

1. Perform the action `Fold all` with the command palette
2. Try to `click` the `plus sign` to unfold, notice that unfolding is not possible with the mouse.

![image](https://user-images.githubusercontent.com/10828570/45294815-df8b3280-b4fc-11e8-83f3-44f5757d80dd.png)

Workarounds:
1. `Unfo

[2018-09-11 14:47] aeschli commented on #1523
It's a problem in the Powershell extension. It returns a range 1-2 which overlaps with the next range.
![screenshot from 2018-09-11 16-04-24](https://user-images.githubusercontent.com/6461412/45365274-74189200-b5dc-11e8-97c7-f1bba0f32181.png)

[2018-09-11 15:46] tylerl0706 commented on #1523
Thanks @aeschli and sorry @DarkLite1 for the running around. We'll look into this.

[2018-09-11 15:51] tylerl0706 commented on #1523
I was able to repro this. cc'ing @glennsarti who worked on this feature :) I wonder if this is related to the fact that there is a `({` next to each other - followed by a `})` further down.

[2018-09-11 20:03] gabrieljtaylor opened #1524 "Editor Services Crashes when Large Amount of Text is Removed"
## Issue Description ##

I am experiencing frequent and consistent crashes of the PowerShell extension whenever a large amount of text (that includes the last line of a script) is removed, either via deletion or via the text being pasted over. This is happening consistently and always produces the same error in the EditorServices log (see the error below or via the attached file).

I assume this i

[2018-09-11 21:12] rjmholt commented on #1524
Thanks for opening an issue @gabrieljtaylor. This is a duplicate of https://github.com/PowerShell/PowerShellEditorServices/issues/739.

[2018-09-11 21:12] #1524 closed

[2018-09-11 22:02] dpaulson45 commented on #1464
@rjmholt after disabling script analysis the CPU issue doesn't occur after i reload Visual Studio Code. CodeLens doesn't appear to matter if this is enabled or disabled.

[2018-09-12 01:14] glennsarti commented on #1523
Ahh ok...so overlapping ranges are a problem.  Previous testing showed this wasn't the case.  Okay...time to trim the ranges then!

[2018-09-12 01:52] glennsarti commented on #1523
@tylerl0706 Fix is up in PR 1525.  Just waiting on green CI.

[2018-09-12 01:53] glennsarti commented on #1523
@DarkLite1 Thanks for the issue report and providing an example script.  Makes debugging SO much easier and faster bugfix turnaround!

[2018-09-12 08:56] DarkLite1 commented on #1523
You're welcome and thanks for the fast fix 👍 I just hope #1517 gets some TLC too, as this is a very very annoying one when working with HTML. But that's another topic.

Thanks guys, really appreciate your help.

[2018-09-12 10:24] tms320 opened #1526 "Problem debugging script with arguments if path to script contains spaces"
- Operating system name and version: Windows 10 x64
- VS Code version: 1.27.1
- PowerShell extension version: 1.8.4

[code]
[code]
[code]
[code]

My powershell script "test.ps1" is located in "C:\Program Files (x86)\SomeFolder\" folder.
If I start debug this script (F5 key) without command line arguments then everything works fine.
But if I start debug with command line argument (for example "para

[2018-09-12 18:09] tylerl0706 commented on #1517
btw anyone should be able to play around with this. The file should be located here:
[code]
(I'm on a mac so it's slightly different `/Applications/Visual Studio Code - Insiders.app/Contents/Resources/app/extensions/powershell/language-configuration.json`)

Try adding `["@'", "'@"]` - and if that doesn't work, as a test, remove the `{ "open": "'", "close": "'", "notIn": ["string", "comment"]},`

I

[2018-09-12 18:20] tylerl0706 commented on #1526
Thanks for the very detailed issue! It's very helpful. My guess is that we're probably spliting the args string by " " and that's what's causing this. We'll investigate.

[2018-09-12 18:35] tylerl0706 commented on #1526
I reread this... question @tms320. Are you debugging with the "PowerShell Interactive Session" debug config?

[2018-09-12 18:35] tylerl0706 commented on #1526
this might be us not properly escaping paths

[2018-09-12 18:57] tms320 commented on #1526
I tried two debug configurations (defined in launch.json):
First:
[code]

Second:
[code]

[2018-09-12 19:03] tylerl0706 commented on #1526
The first one works and the second one doesn't. Is that correct?

[2018-09-12 19:06] tms320 commented on #1526
No. Both configurations work incorrectly.

[2018-09-12 21:33] TheIncorrigible1 opened #1527 "Intellisense: Splatting support"
As a frequent author of powershell scripts, I find myself using the splatting feature commonly.  When defining the hashtable for the cmdlet, I usually have the cmdlet below the hashtable so I can go back-and-forth with figuring out parameters and valid values with intellisense.  It would be nice if there was a DSC-esque autocompletion for keys and values.

I'm unsure how this should be accomplishe

[2018-09-13 01:03] rjmholt commented on #535
Ok I've uploaded a new VSIX in the [comment above](https://github.com/PowerShell/vscode-powershell/issues/535#issuecomment-418944258) ([psvsix.zip](https://github.com/PowerShell/vscode-powershell/files/2377341/psvsix.zip)).

I've made sure that this one works with Windows PowerShell, PowerShell Core 6.0 and PowerShell Core 6.1.

Give that a try 😄

[2018-09-13 01:09] rjmholt commented on #975
I've built a new preview of the v2 extension that you can find here: https://github.com/PowerShell/vscode-powershell/issues/535#issuecomment-420847754.

Also, on the `#require` point, it's worth noting that `-Version` refers to the [minimum version](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_requires?view=powershell-6#-version-nn) of PowerShell require

[2018-09-13 02:10] 0-0-1-0-1-0-1-0 commented on #25
@daviwil Has there been any progress on this? It would be nice to have a setting to choose the type of tab completion you want, ISE style or current style.

I prefer the ISE style as it cycles cmdlets, variables, classes, argument lists etc...

[2018-09-13 06:11] totkeks commented on #1202
Closed, because the related issue (https://github.com/PowerShell/EditorSyntax/issues/73) is fixed.

[2018-09-13 06:11] #1202 closed

[2018-09-13 06:36] DarkLite1 commented on #1517
Thanks for the help @tylerl0706 . I've tried your suggestion:

C:\Users\bgijbels\AppData\Local\Programs\Microsoft VS Code Insiders\resources\app\extensions\powershell\language-configuration.json

[code]

Nothing changed. After restarting VS Code Insiders it even threw an error that the PowerShell extension crashed. But that hasn't happened anymore after the first time.

[2018-09-13 15:15] rkeithhill commented on #1517
Try modifying just this section:
[code]
That works for me but now you lose auto-close of `""` and `''`.  :-(

[2018-09-13 16:00] kilasuit commented on #270
think this has now been added in cc @tylerl0706

[2018-09-13 16:00] #270 closed

[2018-09-13 16:18] tylerl0706 commented on #1517
Yep. I get the same thing as @rkeithhill.

So I think we should open an issue on vscode for guidance.

[2018-09-13 16:22] hdansou opened #1528 "PowerShellEditorServices crashes when using Command + S to auto-format and save"
### System Details

- Operating system name and version:
- VS Code version: 1.27.1
- PowerShell extension version: 1.8.4.0
- Output from `$PSVersionTable`: 6.1.0-rc.1

[code]

### Issue Description

I am experiencing a problem with Powershell Integrated console crashing when I save a file that is known to not have the proper formatting.

How to reproduce:
- Create a PowerShell file in another text

[2018-09-13 16:26] tylerl0706 commented on #1517
Opened this https://github.com/Microsoft/vscode/issues/58619

[2018-09-13 17:02] rjmholt commented on #1528
Closing as a duplicate of https://github.com/PowerShell/PowerShellEditorServices/issues/739

[2018-09-13 17:02] #1528 closed

[2018-09-13 17:04] rjmholt commented on #25
@SeeminglyScience were you discussing this recently in Slack? Possibly with @Jaykul?

[2018-09-13 17:39] SeeminglyScience commented on #25
Yeah, with @Jaykul and @0-0-1-0-1-0-1-0 actually.

My thoughts on this is that it shouldn't come from us.  In order to implement this we would need to essentially rewrite all of the intellisense logic that VSCode already provides.  That would be a rather hefty initial chunk of work, a entire new system to maintain, and would pretty drastically change the experience of using this extension vs other

[2018-09-13 18:33] rjmholt commented on #25
@0-0-1-0-1-0-1-0 given the fact that completion UX essentially happens at VSCode's layer, it might be worth opening an issue on VSCode itself. Building and maintaining a second completion stack would represent a pretty big resource drain for us

[2018-09-13 18:41] tylerl0706 commented on #1517
@rkeithhill I agree 100%. 😄

[2018-09-13 19:43] scrthq commented on #535
Working on Mac with 6.1 for me for the most part! At least PSReadline is working well 😃 SO AWESOME

[2018-09-13 20:10] TonyRoud commented on #535
@rjmholt Fantastic thank you for this!

[2018-09-13 20:38] rjmholt commented on #535
Btw, I should be able to link to an AppVeyor artefact soon. It's just complicated because the two repos need to be synced.

[2018-09-13 21:05] tylerl0706 commented on #1511
Now that `1.27` is released, I think we're going to close this issue. We only support versions `latest` and `latest - 1`.

If you have any concerns please let me know.

[2018-09-13 21:05] #1511 closed

[2018-09-14 06:51] DarkLite1 commented on #535
Looking forward to seeing this int he Insiders release 👍

[2018-09-14 06:55] DarkLite1 commented on #1517
Thanks @tylerl0706 and @rkeithhill for putting it in the spotlight, been struggling with this for a while now. If this gets fixed than VS Code will be my main editor.

[2018-09-14 10:19] markwragg commented on #535
Working for me too on MacOS with PSCore 6.1 :).

[2018-09-14 12:50] bergmeister commented on #535
Installed it on WinServer 2012R2 with WMF 5.1 and it does not seem work in the latest version of code or insiders (i.e. I cannot use the up/down keys to get to the last command in the debugger) unless I am doing something wrong

[2018-09-14 12:56] raandree commented on #535
Have you added this to your config?

[code]

[2018-09-14 13:32] bergmeister commented on #535
@raandree Yes, thanks. I forget this as I was on a new machine, sorry.

[2018-09-14 14:10] muzzar78 opened #1531 "Integrated terminal crashes with PS Extension V2 when stopping interactive debug session"
## Issue Description ##

I am experiencing a problem with PowerShell integrated terminal crashing when I stop an interactive debugging session. I'm able to replicate the problem each time I stop the interactive debugging session.

## Attached Logs ##
[vscode-powershell.zip](https://github.com/PowerShell/vscode-powershell/files/2383616/vscode-powershell.zip)

Follow the instructions in the [README]

[2018-09-14 17:28] felixfbecker opened #1532 "Signature help for calling .NET methods"
**Summary of the new feature**

When calling .NET methods in PowerShell scripts, I would like to see signature help. I can see the signature in the completion info, but not once I typed the `(`.

[2018-09-14 20:44] SeeminglyScience commented on #1527
@TheIncorrigible1 All of our completion results come from the PowerShell engine via the `System.Management.Automation.CommandCompletion.CompleteInput()` method.

I've opened a feature request there to track it (PowerShell/PowerShell#7789)

[2018-09-14 21:39] rkeithhill commented on #140
Seems to me that we should just emulate what PS Core does on Linux - displays the progress inline (using Write-Progress):

![image](https://user-images.githubusercontent.com/5177512/45576379-2302db00-b834-11e8-8a5e-45963c0f01f5.png)

I'd prefer that to be the default experience even in the Windows ConsoleHost.

[2018-09-14 21:56] SeeminglyScience commented on #140
We could just hijack `ConsoleHost`.

The initial runspace that PSES is started in is the runspace created with the process.  We could save the value of `$Host`  before starting the PSES runspace and call it's `WriteProgress` method.

[2018-09-15 09:17] raandree commented on #535
@rjmholt, thanks for the new version, this is a real improvement. Two things that I am missing:

1. CTRL+Backspace does not delete the word left to the cursor but results in ^W.
2. Clear-Screen still does not really clear the screen
3. When killing the terminal using the recycle bin icon you will be asked if you want to restart it. If I click on yes, the terminal is created in the background but n

[2018-09-15 16:55] rkeithhill commented on #535
Set the following PSRL handlers in your VSCode specific profile:
[code]
I'm assuming you're using the default `Windows` EditMode. If you use something else (`Vi/Emacs`) you may want other mappings.

[2018-09-15 18:41] rkeithhill commented on #535
This is an issue with VSCode and not the PS extension (or the PSRL integration).  See https://github.com/Microsoft/vscode/issues/30638 and https://github.com/Microsoft/vscode/issues/45693

[2018-09-16 07:46] PrzemyslawKlys opened #1533 "Unexpected module reload"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

So I'm working on a script when suddenly VSCode starts loading / reloading all modules

![image](https://user-images.githubusercontent.com/15063294/45594100-25307b00-b995-11e8-94bd-79c422c69f78.png)

I've seen that happen few t

[2018-09-16 08:06] iamshital commented on #869
I have this issue in every VSCODE version I had. Current reproducible in August update.

[2018-09-17 05:38] glennsarti opened #1534 "Contributor Guidelines say to use Insiders version but doesn't explain why"
The extension development document says to Install the Visual Studio Code Insiders Release ([Reference](https://github.com/PowerShell/vscode-powershell/blob/master/docs/development.md#4-install-visual-studio-code-insiders-release)) however it doesn't say why.

As a user
I would like to know
Why I need to use the Insiders Release
And what happens if I do not.

[2018-09-17 14:42] rkeithhill commented on #1534
I suspect it is to find bugs in the extension due to changes in VSCode which happens more often than one might think.  We'd (hopefully) see those early in the Insiders build, fix them and make available before the Insiders build becomes the Stable build.

[2018-09-17 21:00] #1523 closed

[2018-09-17 21:40] #1509 closed

[2018-09-18 00:40] tylerl0706 commented on #1534
We were talking about docs (in general) for PowerShell... All our repos are going to get cleaned up in the docs department soon.

@SteveL-MSFT this is another aspect we should consider across repos. Fixing README and CONTRIBUTING.md

[2018-09-18 11:00] Fazered commented on #1256
Experiencing the same issues. Killing the terminal resolved the issue for me but I don't have old modules or packages.

[2018-09-18 17:04] darksidemilk opened #1535 "## auto comment help broken"
Issue Type: <b>Bug</b>

Whenever I attempt to insert comment based help with the `##` shortcut that used to grab all the already created parameters, it inserts a full copy of my function instead of any help comment blocks.

I have tried changing the block comment settings to no avail.
The comment-help vscode command does work but I would really rather have my `##` command back as it made documenti

[2018-09-18 17:27] ebmarquez commented on #1256
Wow, removing these items make it barrly a step above the PowerShell IDE.  That really sucks.  I utilize both of these services when VSCode Powershell works.

From: Robert Holt <notifications@github.com>
Sent: Tuesday, September 18, 2018 10:21 AM
To: PowerShell/vscode-powershell <vscode-powershell@noreply.github.com>
Cc: Eric Marquez <ebm@bing.com>; Mention <mention@noreply.github.com>
Subject: Re

[2018-09-18 21:09] tylerl0706 commented on #1533
@PrzemyslawKlys I think I've seen similar behavior with Pester. Occasionally I'll get a little warning that says:

[code]

This could be an issue with Pester. Were you doing anything with Pester when you were seeing this?

Also, can you please attach the logs.

[2018-09-18 21:14] tylerl0706 commented on #1532
This is actually a dupe of https://github.com/PowerShell/PowerShellEditorServices/issues/13. It's been around for a while and is something that everyone would enjoy.

We'll get to this as soon as we can... however we're spread quite thin at the moment

[2018-09-18 21:21] PrzemyslawKlys commented on #1533
No. Not doing pester. I've seen this multiple times. I often hit an invisible version of it (or at least i think so) when F5 does nothing and VS Code says debug sessions is in progress. Something is triggering this. I would say it's more related to Formatting on Save or something similar.

Don't have logs thou. Or I have so many of them that I can't find this one you need. I'll try to see next tim

[2018-09-18 21:28] tylerl0706 commented on #1518
@MayPLaY thanks for this! We will handle that exception better. Can you do me a favor though - can you send me the logs with Diagnostic logging turned on? It's a setting:

[code]

[2018-09-18 21:34] tylerl0706 commented on #1500
Thanks for all your effort so far! With this new version, can you please attach the logs?

Before you do that can you set the log level to "Diagnostic":

[code]

[2018-09-18 21:36] tylerl0706 commented on #1533
Would you mind sharing which debug config you are using?

[2018-09-18 21:42] PrzemyslawKlys commented on #1533
Is that what you mean?

[code]

Or you need something else? I am pretty open to deliver anything :-)

[2018-09-18 21:52] tylerl0706 commented on #1533
Not quite. If you have one, it would be in `.vscode/launch.json` otherwise you're using the default.

[2018-09-18 21:55] PrzemyslawKlys commented on #1533
I've not touched anything outside of settings/keymaps so default.

[2018-09-18 23:49] tylerl0706 commented on #1533
I know you said you weren't using Pester but do you have any Pester scripts in the workspace you're working with?

This might be the extension reloading Pester due to you debugging.

[2018-09-19 07:01] PrzemyslawKlys commented on #1533
Not really no. PSWinDocumentation doesn't have pester. However it uses PSWriteWord/PSWriteExcel which both have pester tests but those are not loaded in the same VSCode. I often keep 3 or more VSCode open with different project. But I'm guessing it shouldn't interfere one another.

[2018-09-19 11:45] SeeminglyScience commented on #1533
What is more than likely happening is module autoloading.  If intellisense is triggered for a command that isn't currently loaded, but would be automatically loaded if invoked directly, then the module is imported.  That's done for the syntax message and parameter intellisense.

Since Pester uses some pretty common short words for it's commands (`in`/`it`/`should`/`and`/`but`/`given`/`then`/`when`

[2018-09-19 12:04] PrzemyslawKlys commented on #1533
That's a very good idea. So prevent this and any potential reloads in the middle of me working I should do import-module for all common modules, including Pester? I get quite a lot where I have VSCode claiming something is happening in background and yet I can't see anything.

[2018-09-19 13:27] MayPLaY commented on #1518
@tylerl0706 There you go, fresh logs from this morning.

[Logs_DiagnosticOn.zip](https://github.com/PowerShell/vscode-powershell/files/2397229/Logs_DiagnosticOn.zip)

[2018-09-19 16:19] rjmholt commented on #1518
This looks like two bugs happening here!

The PR above fixes the behaviour you're seeing (because it catches the `UnauthorizedAccessException`.

But it's resolving the wrong path too [here](https://github.com/PowerShell/PowerShellEditorServices/blob/8bf5c9c2132b0e4c8ee2df1c834c3a9a5006e0fd/src/PowerShellEditorServices/Workspace/Workspace.cs#L358-L381). I'll have a look into it

[2018-09-19 17:55] rjmholt commented on #1513
I just tried this on my Mac (OS 10.13.6, PS 6.1.0):

[code]

[2018-09-19 18:53] tylerl0706 commented on #1513
@victorwoo it looks like this might have been an issue in .NET Core 2.0 which was what we used in PowerShell Core 6.0.4.

Can you upgrade to PowerShell Core 6.1 and try again?

[2018-09-19 18:55] tylerl0706 commented on #1513
PS Core 6.1:
[code]

PS Core 6.0.4:
[code]

Note the extra `file:`.

[2018-09-19 20:28] PrzemyslawKlys opened #1536 "System.ArgumentOutOfRangeException: The value must be greater than or equal to zero and less than the console's buffer size in that dimension."
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with... crashing command. I decided to quickly test some commands in terminal window. It was working fine. Then at some point it stopped. The moment I was trying to type command that would reach edge

[2018-09-19 20:32] rjmholt commented on #1536
This looks like a PSRL issue maybe -- @SeeminglyScience might have a better diagnosis

[2018-09-19 20:41] SeeminglyScience commented on #1536
I believe there's an open issue somewhere already, but yeah it will be solved with PSRL.

If I remember correctly this is due to the current implementation relying on the window position related `Console` API's for going to the next line.  But it didn't account for window position staying the same after hitting the buffer size.  So that error will pop up after ~3k lines have been written.

As a wo

[2018-09-19 23:09] rjmholt commented on #1513
I've tried reproducing this in a few places now (including on macOS) and I don't seem to be able to.

It might be worth upgrading to PowerShell 6.1.0 to see if that fixes it.

I've also realised that this is the same bug as https://github.com/PowerShell/vscode-powershell/issues/1306.

[2018-09-20 02:38] #1518 closed

[2018-09-20 14:32] PrzemyslawKlys opened #1537 "There is already a debug configuration "PowerShell Launch Current File...""
### System Details
[code]

### Issue Description

I am experiencing a problem with... VSCode executing debug session that is invisible, unkillable and shows up for no reason. It's like I press F5 it doesn't register this and goes into hidden session/agenda outside of main powershell.

I do have logs from this but I don't think it contains anything worth while (nothing out of ordinary or crashing).

[2018-09-20 14:37] rjmholt opened #1538 "Implement HelpMessage in the interactive console"
(Should be a PowerShellEditorServices issue, but here for visibility)

Moved from https://github.com/Microsoft/vscode/issues/59042.

The ReadLine of the custom host does not support the `HelpMessage` parameter setting:

[code]

Running `Test-ParametersAndPrompts` in the Integrated Console correctly prompts for the `Path` parameter, but does not support the `?!` input to get the help message.

[2018-09-20 14:41] rjmholt commented on #1538
Marking this as up-for-grabs. The relevant code should be here: https://github.com/PowerShell/PowerShellEditorServices/tree/master/src/PowerShellEditorServices/Console

[2018-09-20 14:56] Diederikjh commented on #1422
I think this has regressed.

I'm getting
`Permissions to the pipe file were not set properly. Expected: 600 Actual:  for file: /tmp/CoreFxPipe_PSES_358c3f85-31c0-44b0-894c-802a7400bf55`

When starting a PowerShell debugger.

Powershell Extension version is 1.8.4.

VS Code version is 1.27.2

[2018-09-20 15:15] rjmholt commented on #1422
@Diederikjh The last change was [this one](https://github.com/PowerShell/PowerShellEditorServices/commit/2fe8994d8a0c439494030175117d6dcab6e00281#diff-e919a1b1d9d9369caf0e7f9d14e945e3) to use the full path of the `stat` binary (since this didn't work for users with custom `stat` installs).

Can you try changing the file back to just `stat` and reporting back?

[2018-09-20 15:21] Diederikjh commented on #1422
Just tried that:

    if ($IsLinux) {
        $mode = stat -c "%a" $PipeFile
    }
    elseif ($IsMacOS) {
        $mode = /usr/bin/stat -f "%A" $PipeFile
    }

Same behavior unfortunately.

[2018-09-20 15:40] rjmholt commented on #1422
Hmmm, as far as I know that behaviour hasn’t been changed otherwise.

Have you upgraded PowerShell version?

[2018-09-20 15:40] tylerl0706 commented on #1422
There hasn't been any other changes to that area. Did you update your Mac recently?

If you do `/usr/bin/stat -f "%A" somefile.txt`

Do you get the expected value? Should be a 3 digit number.

[2018-09-20 15:47] Diederikjh commented on #1422
I'm running on Ubuntu.
Yes I think a system update did do a Powershell update.
Running
`/usr/bin/stat -c "%a" ./somefile.pdf`
Returns
`644`

[2018-09-20 15:53] tylerl0706 commented on #1422
And what about just:

`stat -c "%a" ./somefile.pdf`

Since that's the actual code path you're going through. I expect it to be the same

[2018-09-20 16:10] Diederikjh commented on #1422
Yep, the same.

Ive tried reproducing this issue in another system, and can't.  Only difference I can see is the VSCode version where it does work is a bit older: 1.27.1

[2018-09-20 16:16] tylerl0706 commented on #1422
Hmmm... Do you happen to remember how you opened vscode? With the `code` CLI or something else?

[2018-09-20 16:17] Diederikjh commented on #1422
GUI on both systems.

`<Win>` -> code -> `down arrow` -> `enter`

[2018-09-20 16:42] Diederikjh commented on #1422
Starting from console (on both systems) has same behavior.

[2018-09-20 17:35] Diederikjh commented on #1422
From system where it doesn't work:
https://gist.github.com/Diederikjh/359977fdebd2b35d7a728978cfc97403
Modified as suggested above.

(On system where it does work:
https://gist.github.com/Diederikjh/2ca3c158d679481c338581c59d125e77 )

[2018-09-20 18:02] rjmholt commented on #1422
I just did a diff of the two:
[code]

So it's not a change in Start-EditorServices.ps1 that's caused it I don't think.

Might be worth putting a `Write-Host` in your newer version of the file to check that `$mode` is what we think it is there.

Can you post the result of the following commands:
- `cat /etc/lsb_release`
- `uname -a`
- `stat --version`

I've been developing PSES chiefly from an Ubun

[2018-09-20 18:30] Diederikjh commented on #1422
[code]
[code]

[code]

Same as system where it works

[2018-09-20 18:35] jchris1 commented on #1500
I clicked "Run Tests" and "Debug Tests" and got the same error.  Here are the logs:

[EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/2402596/EditorServices.log)
[Start-EditorServices-EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/2402597/Start-EditorServices-EditorServices.log)
[vscode-powershell.log](https://github.com/PowerShell/vscode-powers

[2018-09-20 20:44] rkeithhill commented on #1422
Is there something unusual about the `/tmp` dir or the perms on the `/tmp` dir?

[2018-09-20 22:33] rjmholt commented on #1160
It looks like PSSA has fixed this now. Going to close

[2018-09-20 22:33] #1160 closed

[2018-09-20 22:50] rjmholt commented on #541
This is the relevant VSCode issue btw: https://github.com/Microsoft/vscode/issues/42356

[2018-09-21 04:51] Diederikjh commented on #1422
Doesn't look like it. `ls -l /` gives

`drwxrwxrwt  25 root root    36864 Sep 21 06:48 tmp`

[2018-09-21 15:44] mattpwhite opened #1540 "Comment Help Badly Broken"
### System Details
[code]

### Issue Description

Using `##` to insert a help block seems to be broken pretty badly.  See below.

![broken-help](https://user-images.githubusercontent.com/3004040/45891428-95733e00-bd93-11e8-9f4b-be7255a98c77.gif)

### Attached Logs
[1537544346-abc98747-b062-4656-813c-b7a3fb0a1f0b1537544225572.zip](https://github.com/PowerShell/vscode-powershell/files/2406021/153754

[2018-09-21 16:50] rjmholt commented on #1540
This is a duplicate of https://github.com/PowerShell/vscode-powershell/issues/1509.

Originally caused by https://github.com/PowerShell/PowerShellEditorServices/pull/715, and fixed in https://github.com/PowerShell/PowerShellEditorServices/pull/740.

[2018-09-21 16:50] #1540 closed

[2018-09-21 17:13] mattpwhite commented on #1540
Sorry for the dupe (and the bug, which I guess was mine) :/

[2018-09-21 17:28] rjmholt commented on #1540
Haha, no worries! It ain't fixed til it's released -- so I'm hoping we can do that next week at some point.

We got comment help *above* the function working and released first, so one "workaround" is to expand the comment help snippet *above* the function and then cut/paste it below the function.

[2018-09-23 01:49] Myrlin1 opened #1542 "Debug adapter has terminated unexpectedly"
### System Details

- Operating system name and version:
Windows 10 version 1803 build 17134.285
- VS Code version:
1.27.2 (user setup)
- PowerShell extension version:
v1.8.4
- Output from `$PSVersionTable`:
<table>
<tr><th>Name</th><th>Value</th></tr>
<tr><td>PSVersion</td><td>5.1.17134.228</td>
<tr><td>PSEdition</td><td>Desktop</td></tr>
<tr><td>PSCompatibleVersions</td><td>{1.0, 2.0, 3.0, 4.0..

[2018-09-23 03:18] baespey opened #1543 "Disable matching word highlighting"
Visual Studio Code settings allow you to disable matching words with an option called Selection Highlight.  But when I added the PowerShell extension, this feature came back.

How do I disable it for the PowerShell extension?

[2018-09-25 01:46] victorwoo commented on #1513
On macOS 10.13.6 (17G2307)

PS Core 6.0.4:

[code]

PS Core 6.1.0:

[code]

I think the result on PS Core 6.1 still error.

[2018-09-25 02:40] rjmholt commented on #1513
Yes, try `$uri.LocalPath`

[2018-09-25 06:35] victorwoo commented on #1513
On macOS 10.13.6 (17G2307) with PS Core 6.1.0:

[code]

It seems OK.

[2018-09-25 08:38] Tnk1972 commented on #1542
Also getting the same debug termination error when debugging any script in extension version 1.8.4, logs do not show anything obvious but crash always generates a "Socket closed, shutting down." message in DebugAdapter.log which is probably to be expected, but not seeing anything else even with Verbose logging enabled.

[2018-09-25 12:35] kilasuit opened #1544 "[Query] Can you add a WSL installed version of PowerShell Core as a session option on Windows?"
The scenario (which may/maynot be possible) would be to have VSCode on Windows be able to add in a WSL session of PowerShell Core on Windows machines

This assumes

- WSL feature is installed

- Ubuntu image installed

- Pwsh installed in Ubuntu WSL

If this were possible then that would help local xplat development in VSCode eve further than currently

[2018-09-25 12:38] kilasuit opened #1545 "[Query] Can you add a container based installed version of PowerShell Core as a session option on Windows?"
The scenario (which may/maynot be possible) would be to have VSCode on Windows be able to add in a docker baseed session of PowerShell Core on a Windows machines

This assumes

- Container feature is installed

- Latest version of Docker is installed on the machine

- Dockerfiles can be targeted to kick start a pwsh session.

If this were possible then that would help local xplat development in VS

[2018-09-25 12:50] kilasuit commented on #1544
My initial thoughts are that this should be able to be surfaced using the `powerShellAdditionalExePaths` setting?

[2018-09-25 12:50] kilasuit commented on #1545
My initial thoughts are that this should be able to be surfaced using the `powerShellAdditionalExePaths` setting?

[2018-09-25 14:18] MarkMichaelis commented on #1440
I can confirm that this isn't working and it is disappointing. :(

[2018-09-25 17:02] rjmholt commented on #1544
The `powershellAdditionalExePaths` would be the right place. It looks like you can call any WSL executable [by passing it as a parameter to `wsl.exe`](https://docs.microsoft.com/en-us/windows/wsl/interop), so if the additional exe paths feature supports that, then that would be the way to go.

Otherwise, we should invest in something similar to https://github.com/PowerShell/vscode-powershell/issue

[2018-09-25 17:08] rjmholt commented on #1543
@baespey Does it disable again if you disable it now with the PowerShell extension installed? Are you sure the setting persists between sessions? You may need to set something in the [VSCode settings](https://code.visualstudio.com/docs/getstarted/settings). Also see https://github.com/Microsoft/vscode/issues/5351.