[2016-05-14 12:40] dfinke opened #180 "Profile loading should be enabled by default"
Using 0.6.0. I created a test.ps1, typed in `notepad $profile` hit `F8` and added `ipmo mymodule` that is in `C:\Program Files\WindowsPowerShell\Modules`. That module is set up to add a ps cmd to the editor.

I run vs code, open a ps1, navigate to the PowerShell cmds in the palette, it is not there.

Do an `F8` on `ipmo mymodule` in the open ps1, navigate and the cmd shows up.

Here is my log.

![

[2016-05-14 15:46] pcgeek86 opened #181 "Here-string is incorrectly completed"
# Issue

When you type `@'`, a single quote is tacked on at the end, but doesn't include the closing `@`, so you're left with `@''`, which isn't a useful PowerShell construct.
# Expected Result

In my opinion, one of two things should happen, when you type `@'`:
1. Nothing
2. ``n`n'@`is appended (two new lines, followed by`'@`), and then the caret should be moved to the middle line (see screenshot

[2016-05-14 17:17] daviwil commented on #181
This is probably caused by how VS Code does its quote completions, they might not account for weird syntax like ours.  I'll see if there's anything I can do on our side.

[2016-05-14 17:22] daviwil commented on #180
Can you put this setting in your user settings and reload VS Code?  I need to see the verbose logs to tell what's going on there:

`"powershell.developer.editorServicesLogLevel": "Verbose"`

After that you should be able to see in the logs where your profile script is being executed.  If you can paste that bit and any errors that come after it we might be able to figure it out.

[2016-05-14 17:31] daviwil commented on #179
Hey @jahshuah, no problem.  The first thing we should do is check the logs.  Open up your VS Code User Settings (`File -> Preferences -> User Settings`) and insert this line into the file that appears in the pane on the right side:

`"powershell.developer.editorServicesLogLevel": "Verbose"`

Now restart VS Code and open a PowerShell file and try getting IntelliSense a few times.  Now you should be

[2016-05-14 17:39] daviwil commented on #178
Hmm, I can't repro this.  I was able to add an account using that cmdlet and then use F8 to run something else afterward:

[code]

I'm also able to get IntelliSense etc after running it.  Have you tried this in a fresh VS Code session?  There may be some specific set of steps needed to make it happen.

[2016-05-14 19:43] jahshuah commented on #179
So, it took restarting VSCode twice to get IntellSense working, but it works now. You'll find the EditorServices.log file attached. Not sure what changed after the second restart of VSCode, but as I said, it's working now. Th

anks for the assist.
[EditorServices.txt](https://github.com/PowerShell/vscode-powershell/files/264670/EditorServices.txt)

[2016-05-14 21:30] daviwil opened #182 "Using 'Run Selection' on a line without a selection only runs to the cursor position"
Currently the 'Run Selection' command only runs the section of the line up to the current cursor position when no text is selected.  It should run the whole line by default.

cc @gaelcolas

[2016-05-14 21:36] daviwil commented on #179
Yep the logs look good to me now.  Not sure why you needed to restart VS Code a couple of times, but I've seen instances where a fresh install of the extension doesn't get activated correctly the first time.  Not sure if it's a VS Code bug or something else.

I'll close this issue for now since it seems to be working for you.  Let me know if you run into it again and we'll debug it further!

[2016-05-14 21:36] #179 closed

[2016-05-15 13:28] selfvoid opened #183 "Timing issue in LanguageServer initialization"
[Like was here](https://github.com/PowerShell/vscode-powershell/issues/179)
On Windows 10 and latest VS Code and PowerShell extension.

[Got log like in this comment](https://github.com/PowerShell/vscode-powershell/issues/179#issuecomment-219232869) (attached)

[EditorServices.txt](https://github.com/PowerShell/vscode-powershell/files/264996/EditorServices.txt)

But, unfortunately double app resta

[2016-05-15 18:32] rkeithhill commented on #156
Still repros for me.  I pretty much press F10 after it hits the breakpoint and it sometimes wedges.  See the attached debug log.

[DebugAdapter.txt](https://github.com/PowerShell/vscode-powershell/files/265182/DebugAdapter.txt)

This part of the log looks suspect:
[code]
Notice the two writes with seq number `804`.  Could be a glitch with logging.  If not, could that mess up vscode?

[2016-05-15 18:42] daviwil opened #184 "$host.Version reports old extension version number in debug adapter"
In the 0.6.0 release of the PowerShell extension, `$host.Version` is supposed to report the version of the PowerShell extension that the user is running.  However, it currently reports version 0.5.0 even though 0.6.0 is installed.  This could be a bug in how VS Code's extension metadata API is pulling out the version number, must investigate.

[2016-05-15 18:56] daviwil commented on #184
Turns out that this only occurs when running a script in the debugger.  It's due to a hardcoded version in package.json since the version needs to be sent as a command line parameter to the host executable.  We will need to update this hardcoded version by hand until they give us a way to use manifest variables as program parameters in debug adapter registration...

[2016-05-15 20:15] daviwil commented on #183
Thanks for the report, @selfvoid!  @rkeithhill is able to reproduce the same issue.  This appears to be a timing issue in the initialization of the language server.  I think I should be able to reproduce this issue consistently enough to work on a fix.  Will ship an updated version of the extension this week with this issue resolved.

[2016-05-15 20:17] daviwil commented on #179
Hey @jahshuah, turns out that there's actually a bug here due to a timing issue in initialization.  Since it's likely that you'll see this happen again I just wanted to let you know that I'm looking into it.  Tracking the fix using bug #183.

[2016-05-15 20:19] daviwil commented on #180
In case anyone else runs into this issue, it turns out that this is due to profile loading not being enabled by default in this release of the extension.  I had done this on purpose to ensure that there were no widespread issues when everyone updated.  To enable profile loading, add this setting to your User Settings file in VS Code:

[code]

I'll keep this bug open to remind myself to set the def

[2016-05-15 23:14] daviwil commented on #177
I'm going to re-open this issue as a way to track the common request that code folding be improved.  This is an issue that still needs to be fixed by the VS Code team.

[2016-05-16 21:54] daviwil commented on #183
Fixed in PowerShell Editor Services, update coming out today.

[2016-05-16 21:54] #183 closed

[2016-05-16 22:02] jahshuah commented on #179
@daviwil You're so right. I just opened VS Code and sure enough, no IntelliSense. I'll follow #183 going forward. Thanks again for your help.

[2016-05-16 22:04] daviwil commented on #179
Just fixed it!  Will be shipping an update in an hour or two.

[2016-05-16 23:43] #180 closed

[2016-05-16 23:43] #182 closed

[2016-05-16 23:43] #184 closed

[2016-05-16 23:50] daviwil commented on #183
Just shipped the 0.6.1 update, let me know if things are working right for you now!

[2016-05-17 16:34] JanCervak commented on #120
The issue is still present in the current marketplace release (0.6.1 - 5/17/2016).

[2016-05-17 17:00] rkeithhill commented on #120
Sorry, this item is still on the backlog.  To keep track of the status of this bug, keep an eye on the `Milestone` field to the upper right.

Hopefully we can get it at least figured out for the next release and possibly fixed if the "fix" is simple enough.  :-)  I think we are shooting for a faster release frequency which may help as well.

[2016-05-17 17:13] TechGuyTJ opened #186 "no Variable IntelliSense"
When typing $ the only intellisense that comes up is
![image101](https://cloud.githubusercontent.com/assets/6272541/15331787/f389b322-1c30-11e6-8333-db1812e379ba.png)

I then moved it outside of the function and received the same results
![image011](https://cloud.githubusercontent.com/assets/6272541/15331802/0a8d5344-1c31-11e6-9710-43b18350c51d.png)

I can get it to work but typing . and then typi

[2016-05-17 17:19] daviwil commented on #186
Thanks for the report TJ.  First of all, are you using the latest versions of VS Code (1.1.1) and the PowerShell extension (0.6.1)?

You can gather logs by following these instructions:

Open up your VS Code User Settings (File -> Preferences -> User Settings) and insert this line into the file that appears in the pane on the right side:

`"powershell.developer.editorServicesLogLevel": "Verbose"`

[2016-05-17 18:46] fromthewoods opened #187 "Language server sometimes crashes then $ErrorActionPreference = "Stop""
vscode: 1.1.1
Powershell: 0.6.1
Windows 10 x64 1511

I'm seeing a lot of crashes: (logfile is attached)

[code]

[EditorServices.zip](https://github.com/PowerShell/vscode-powershell/files/268912/EditorServices.zip)

[2016-05-17 18:54] daviwil commented on #187
Hmm, seems like you've got `$ErrorActionPreference = "Stop"` somewhere in your script or profile, correct?  Looks like I'm not correctly handling the exception that gets thrown in some cases when this is turned on.  I was able to get it to repro by setting my ErrorActionPreference and then hovering over a function defined in the same file.  I'll look into it.

Thanks for the report!

[2016-05-17 19:34] fromthewoods commented on #187
You are correct. I have $ErrorActionPreference = "Stop" in my profile. Not sure that I need it anymore. :) Thanks for the great product btw!

[2016-05-17 19:37] fromthewoods commented on #187
However, now that I think about it, I will use ErrorActionPreference in scripts and test them via Pester, so better handling might be in order.

[2016-05-17 19:39] daviwil commented on #187
Yep, I need to ensure that it'll be handled correctly no matter what.  I just found the issue actually, might have a fix out today.

[2016-05-17 20:11] TechGuyTJ commented on #186
[EditorServices.log.zip](https://github.com/PowerShell/vscode-powershell/files/269061/EditorServices.log.zip)

[2016-05-17 21:17] daviwil commented on #186
Hmmm, hard to tell what the issue is judging from the logs alone.  Can you try creating a blank .ps1 file and try it there?  I'm wondering if there's something about the specific file you're editing that could be causing this.

[2016-05-17 23:38] daviwil commented on #187
Fixed it in PowerShellEditorServices.  Might see if I can grab another couple more fixes tomorrow to put into a patch release.

[2016-05-17 23:38] #187 closed

[2016-05-18 14:02] randomchance commented on #107
I really like using dot sourcing to organize code, however I find it to be too fragile for importing resources from *other locations*. I think it would be ideal if you scaffold a `.buildtasks\` directory in the project root and copy the canned tasks into it.

This has the benefit of:

* Still accomplishes goal of distributing common tasks
* Gives new users an example to examine
* Allows easier deb

[2016-05-18 14:25] daviwil commented on #107
Hey Chance, you should check out our new project Plaster: https://github.com/PowerShell/Plaster.  We're building a project scaffolder which will stamp out standalone projects in a structure much like the one Keith is proposing in this issue.  Those projects will definitely not require Editor Services or the PowerShell extension to be installed.

[2016-05-18 15:17] larssb opened #188 "Not alerted when using an incorrect sign to separate typed array elements"
Hi....

I'm an avid user of Visual Studio Code. Today I had an issue where getting an element at a certain index in a typed array failed. As I was troubleshooting this issue I found that it was simply because I had used a '.' (dot) instead of a ',' (comma) to separate the elements when I defined the typed array variable.
Okay, that is a clear mistake on my part, as I thought about it I would have

[2016-05-18 15:22] Sharpiro opened #189 "Include App.config for mixed-mode assemblies with extension distribution"
Command:

[code]

Error:

[code]

I receive this error in VS Code w/ vscode-powershell , as well as VS tools for powershell 2013. Works fine in a normal powershell window/ISE.

[possibly related issue](https://github.com/adamdriscoll/poshtools/issues/410)

[2016-05-18 15:24] daviwil commented on #188
Hi @larssb, thanks for the report.  It seems that for whatever reason, the PowerShell engine considers this to be valid syntax because it does not report any parser errors when it encounters this line.  For the PowerShell extension in VS Code to show an error there, the PowerShell engine would need to report it upon parsing the code.

The only other way we might be able to show an error in this ca

[2016-05-18 15:34] rkeithhill commented on #189
Go to the extensions's install bin dir `$home\.vscode\extensions\ms-vscode.PowerShell-0.6.1\bin` and create a file called `Microsoft.PowerShell.EditorServices.Host.exe.config` and put this in it:
[code]
Save the file in UTF8 encoding.  Close VSCode, open it and try again.

[2016-05-18 15:35] daviwil commented on #189
Damn, Keith beat me to it :)  But yes, this is the solution that the ISE uses.  I'll make sure we include this file in future releases of the extension.

[2016-05-18 15:39] Sharpiro commented on #189
thanks for the quick response guys.  This fix worked for me.

[2016-05-18 15:59] daviwil opened #190 "Allow user to specify a startup script in their workspace configuration"
It'd be nice if we provided a way for the user to configure a startup script which gets run when VS Code opens their project folder.  This would allow them to configure their session for the project they're developing without having to add anything extra to their profile.  This would also allow registration of project-specific editor commands using the $psEditor API.

[2016-05-18 18:08] daviwil opened #191 "Add $psEditor extension for HTML document preview API"
A really interesting possibility for the `$psEditor.VSCode` API would be to provide integration with the new [TextDocumentContentProvider](https://code.visualstudio.com/docs/extensionAPI/vscode-api#TextDocumentContentProvider) API in VS Code.  This API allows you to show an HTML-based preview of arbitrary content.  This could enable PowerShell script authors to show UI or rendered data as a result

[2016-05-19 13:53] TechGuyTJ commented on #186
Tried with a new file. Hope this helps
[EditorServices.log.zip](https://github.com/PowerShell/vscode-powershell/files/272684/EditorServices.log.zip)

[2016-05-19 15:10] rkeithhill commented on #186
Windows refuses to open that and it kicked off a defender "send files to Microsoft" notification. Hmm...

[2016-05-19 17:09] TechGuyTJ commented on #186
My issue seems to be resolved. I realized I was running version 1.0.0 of VS Code. Updated to 1.1.1 and the intelliSence on variables work. Sorry for not checking my VS Code version.

[2016-05-19 17:24] daviwil commented on #186
Ahhhh that makes sense actually.  They fixed an IntelliSense bug for us in 1.1.  Glad to hear it's been resolved!

[2016-05-19 19:47] randomchance commented on #107
That's pretty nice, I'm gonna test it out after we wrap up the next deployments. Do you see that being leveraged in editor services? Or would ES have independently maintained tooling?

[2016-05-19 20:02] daviwil commented on #107
Yep, part of the reason for making it is to use it in all editors that leverage Editor Services :)

[2016-05-19 22:16] BrianFarnhill opened #192 "PSD1 files used for DSC Configuration Data showes script analyser error for whole file"
Currently if you open a PSD1 file that is used to pass configuration data to a DSC configuration (as per the [guidance on how to handle configuration data](https://msdn.microsoft.com/en-us/powershell/dsc/configData)) when I open these in VS Code I get the below error about it not being a valid manifest.

![image](https://cloud.githubusercontent.com/assets/1332611/15411337/906cfcc0-1e62-11e6-89fa-7

[2016-05-19 22:56] daviwil commented on #192
Hey Brian, this marker is coming from PSScriptAnalyzer.  It seems that the [PSMissingModuleManifestField](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Rules/MissingModuleManifestField.cs) rule is not checking whether a .psd1 file is not actually a module manifest file.  Could you file this as an issue over at the PSScriptAnalyzer repo?

https://github.com/PowerShell/PSScriptAnal

[2016-05-19 23:05] rkeithhill commented on #192
This issue has already been submitted for PSScriptAnalyzer.  See  https://github.com/PowerShell/PSScriptAnalyzer/issues/472

[2016-05-19 23:32] daviwil commented on #192
Ahhh, thank you!  I could have sworn I had seen one before but couldn't find it...  I'll close this issue since there's already an issue tracking the bug.

[2016-05-19 23:32] #192 closed

[2016-05-19 23:52] rkeithhill commented on #192
@BrianFarnhill For now you can create a file like this and put in your home folder or elsewhere:

[code]
Then open up VSCode's User Preference Settings and add this to your user settings:
[code]

[2016-05-20 00:02] BrianFarnhill commented on #192
@rkeithhill I literally just finished doing that after reading through the related issues and PRs in the sciprt analyzer repo. Thanks for the tip guys!

[2016-05-20 21:01] Sharpiro opened #193 "Typing "n" breaks intellisense"
**Description**
When I type "n" on a fresh line, intellisense breaks until application is restarted

**Repo**
1. Open VS Code and create a new document
2. Select "Powershell" from the languages at the bottom right of the window
3. Type any command not starting with "n" to show that intellisense is working.
4. Type the letter "n" on a new line
5. Test to see that intellisense is no longer functioni

[2016-05-20 21:05] daviwil commented on #193
Hey @Sharpiro, I just tried this with the latest releases of everything and couldn't reproduce it.  Could you  send some logs from the language server so that we can diagnose the issue?

You can gather logs by following these instructions:

Open up your VS Code User Settings (File -> Preferences -> User Settings) and insert this line into the file that appears in the pane on the right side:

`"pow

[2016-05-21 15:36] Sharpiro commented on #193
So i tried reproducing this error on my personal machine and I could not do it either.

This is currently only occuring on my work machine.
Here are the logs for it:

[EditorServices.txt](https://github.com/PowerShell/vscode-powershell/files/275922/EditorServices.txt)

[2016-05-21 16:22] rkeithhill commented on #193
This is the interesting bit:
[code]
I'm looking at it.  Doh.  This one is mine.  I should have regex escaped the tooltip text before injecting it into a regex pattern.  Well, at it should be easy to fix.

[2016-05-21 16:27] Sharpiro commented on #193
any idea why this is happening sporadically, and what I could do for a workaround?

[2016-05-21 16:35] rkeithhill commented on #193
Not yet but I can repro this exception so that should give me some confidence to fix it.

[2016-05-21 17:03] rkeithhill commented on #193
@Sharpiro Do you have `notepad++.exe` on both machines?

[2016-05-21 17:11] rkeithhill commented on #193
I'm closing this issue here and tracking it in PSES https://github.com/PowerShell/PowerShellEditorServices/pull/241

[2016-05-21 17:11] #193 closed

[2016-05-21 17:33] Sharpiro commented on #193
I do have notepad++ on both machines, and the application installs to the machine's path by default I believe.

[2016-05-21 17:37] rkeithhill commented on #193
On the machine that works, if you go to the PowerShell console and type `Get-Process -Name Note<tab>` does `notepad++.exe` show up as you tab through the process names?

[2016-05-21 17:42] daviwil opened #194 "Add option to enable PowerShell Editor Services to be loaded for any project type"
The `$psEditor` API has utility outside of just PowerShell files and projects.  It might be nice to allow an opt-in way for users to turn on PowerShell Editor Services for every workspace (not just ones containing PowerShell files) so that PowerShell-based editor commands can be used on any type of file or project.

[2016-05-21 17:46] Sharpiro commented on #193
yea it does, this auto-populates
[code]
[code]

My work machine is Win7 while my home machine(the one with no issues) is Win10, both using Powershell 5, though it was manually installed on the Win7 box.

[2016-05-21 17:49] rkeithhill commented on #193
Well I'm stumped for the moment.  I was able to repro on my Windows 10 machine running version`5.0.10586.122` of PowerShell.

[2016-05-21 17:52] rkeithhill commented on #193
As for a workaround - how often do you use notepad++.exe?  :-)  The only workaround I know of is to either temporarily remove the notepad++ install dir from the path or rename notepad++.exe to maybe notepadpp.exe until we push out 0.6.2.

[2016-05-21 17:58] Sharpiro commented on #193
removing it from path worked.  I can now type the letter "n" again lol.  Thanks.

[2016-05-21 18:03] rkeithhill commented on #193
Sorry, that's kind of a crappy workaround (and my bad for introducing this bug in the first place) but that's all I got until we can push out updated bits.

[2016-05-21 18:07] daviwil commented on #193
Since I've got another bug fix ready, I might be able to ship 0.6.2 on Monday.

[2016-05-21 21:48] dfinke opened #195 "Can't run PowerShell.ShowAdditionalCommands"
You need to have opened a PowerShell file before this works.

![image](https://cloud.githubusercontent.com/assets/67258/15450968/adc82208-1f7b-11e6-81b7-e65f6310b6b6.png)

[2016-05-22 01:39] daviwil opened #196 "Add a hotkey for PowerShell.ShowAdditionalCommands"
It'd be useful to have a hotkey for the "PowerShell: Show additional commands from PowerShell modules" command which is the entry point for the editor command menu.

**FEEDBACK NEEDED:**  Any suggestions for a good hotkey?

/cc @gerane

[2016-05-22 01:40] daviwil commented on #195
I'll need to find a smoother way of handling this.  Maybe if someone invokes the method I could activate the extension?  That would allow the user to get editor commands even if PowerShell files hadn't been opened yet.

[2016-05-22 02:20] gerane commented on #196
I am writing a blog post right now about the new features in the Extension, and one of my recommendations is to set a Key Binding for this. It actually makes using the editor commands a real pleasure. I went ahead and added instructions to update the keybindings and what to add, but mentioned that my guess was that this would eventually be handled by the Powershell Extension itself.

The PowerShel

[2016-05-22 05:24] vors opened #197 "In debug session, if error happened at the first part of pipeline "Please start a debug session to evaluate" shows up"
In any debug session try this

[code]

Notice "Please start a debug session to evaluate" message.
Why does it appear?

[2016-05-22 11:42] dfinke commented on #196
Searching for ShowAdditionalCommands  can also be a "fuzzy" search. I use `ps a`. I believe David is working to implement the custom commands at the root menu, and with shortcut keys.

[2016-05-22 15:54] daviwil commented on #197
Hey Sergei, can you tell me the steps you took to start the debug session before running this command in the console?  The 'Please start a debug session to evaluate' message comes from VS Code so it must have thought you weren't debugging something at the moment.  Maybe you found a bug?

[2016-05-22 15:56] daviwil commented on #197
If I open a workspace, select a .ps1 file and then press F5, a debug session starts.  If I run the same line as you did I get this output:

[code]

[2016-05-22 15:58] daviwil commented on #196
Yep, I am going to make that happen at some point.  In the meantime it'd be faster if there was a hotkey like `Ctrl+Shift+P` that brings you to the PowerShell-based command menu, would be faster than using the fuzzy search.

[2016-05-22 16:25] daviwil commented on #195
Also thanks to @gerane's blog post I've realized that I need to remove the PowerShell file type restriction on this command, it should be available in any file.  Probably shouldn't require editor focus either.

[2016-05-22 17:41] vors commented on #197
@daviwil interesting, indeed I cannot repro it now. Sorry for a vague repro, I though it just error handing in debug session and was too tired to analyze it more yesterday.

I did A LOT of steps. I will keep eye on it.

[2016-05-22 17:41] #197 closed

[2016-05-22 17:48] daviwil commented on #197
That's OK man, definitely let me know if you see it again.  I write out debugger logs to the following path so we might be able to find something there next time:

`c:\Users\sevoroby\.vscode\extension\ms-vscode.PowerShell-0.6.1\bin\DebugAdapter.log`

[2016-05-22 19:03] vors opened #198 "vscode insists there is a parse-time error, but code executes fine"
![image](https://cloud.githubusercontent.com/assets/816680/15455839/b02dd972-2014-11e6-86f8-4c0dea84f7e4.png)

[code]

That's a weird problem.
I didn't  understand how to repro it.
Re-opening file didn't help. Re-opening VSCode did help.

[2016-05-22 19:11] daviwil commented on #198
Hmmm...  What happens if you open the same file in the ISE?  Those errors could only be coming from the PowerShell parser of Script Analyzer

[2016-05-22 19:14] rkeithhill commented on #198
Yeah, I was just going to suggest running script analyzer from the command line against the test script.  Also, @vors, can you check the error/warning messages <kbd>Ctrl+Shift+M</kbd>?

[2016-05-22 22:12] vors commented on #198
So it happened again. It's clearly error from PS parser.
It repros along the lines, when you typing `type.name`, then add `[` and `]`
For some reason, when it reports error after the first `[` added, it doesn't refresh results, when you continue typing and error persists.

I will continue work on a simple repro

![image](https://cloud.githubusercontent.com/assets/816680/15456760/2bea59c2-202f-11e6

[2016-05-23 03:03] rkeithhill commented on #198
Does this only happen with types from assemblies that aren't loaded by default?

[2016-05-23 05:35] v-pavanp opened #199 "Improve syntax coloring definition to meet the standards of PowerShell ISE, Visual Studio"
I compare VSCode coloring with Visual studio with different themes and observed that the cmdlet, parameter name and values are not following correct pattern.
Actual:
1. With Light (Visual Studio) and Dark+ (Default Dark) themes the PS comdlet , parameter and parameter value are displaying in the same color.

![vslighttheme](https://cloud.githubusercontent.com/assets/17735796/15461182/8ec3af4c-206d

[2016-05-23 12:21] dfinke opened #200 "Show logs in output window when the language server crashes"
Opened a C# file. An information message popped up saying there was a problem. Two buttons were presented, `show log` or `close`. Clicked `show log` and the stacktrace was shown in the output window.

Seems like a nice to have.

[2016-05-23 13:52] daviwil commented on #200
Your problem is that you opened a C# file ;)  Nah, that's a good suggestion.  @gerane gave me a similar idea a while back:  https://github.com/PowerShell/vscode-powershell/issues/18

I just improved the way that I store logs for the extension so I should be able to do this pretty easily.

[2016-05-23 16:53] daviwil opened #201 "Expose VS Code's new diff view API via $psEditor"
VS Code 1.2.0 will expose a new api, [`vscode.diff`](https://github.com/Microsoft/vscode/issues/1865), which causes its file diff view to be displayed based on the contents of two documents represented by their URIs.  This might be helpful for an editor command so it'd be nice to expose it.

Would also be nice to see if there are comparable APIs in other editors so that we can make this a general

[2016-05-23 17:18] daviwil commented on #199
Hey Pavan, the problems you see with VS Code's syntax highlighting for PowerShell come from the TextMate syntax definition we borrowed from Sublime Text which is based purely on regular expressions.  We won't be able to keep 100% consistency with Visual Studio and the PowerShell ISE because VS Code does not allow us to implement a custom classifier based on the PowerShell parser.

That said, we ne

[2016-05-23 20:33] gerane commented on #196
Well, don't set any KeyBinding that uses `ctrl+shift+alt`, it will break multiline select. I am trying out `alt+p` atm.

[2016-05-24 12:20] maximpashuk commented on #125
Can reproduce problem if "File"->"New File", paste code and launch.
If I save file before launch, then no problem occurs, 'hello' string in output.

So I think this issue can be closed, but instead of this, another issue should be created:
vscode-powershell should not launch unsaved files.

[2016-05-24 12:21] maximpashuk commented on #120
Having the same issue as @mcmiv413, my integration scripts actively using powershell jobs, so this will be nice to have full support of jobs in vscode-powershell.

[2016-05-24 17:51] gravejester commented on #199
I'd love to help out with this one @daviwil.

[2016-05-24 18:15] daviwil commented on #199
That'd be fantastic!  Would love some help on that.  I need to create a GitHub repo for the common syntax coloring definition used across VS Code, Sublime Text and Atom.  I'll get that started today.

[2016-05-24 18:18] gravejester commented on #199
Nice, let me know when you have it set up and I'll start taking a look at it. :)

[2016-05-24 18:42] vors commented on #199
Excellent, lets do it!
For sublime side of things see https://github.com/SublimeText/PowerShell/issues/148

[2016-05-24 19:41] lzybkr opened #203 "No obvious way to stop infinite loop"
I ran some script with F8 - there was an infinite loop with no output.  I saw no indication anything was running (the OUTPUT window didn't pop up), but I couldn't run anything else with F8.

There should be some indication that a selection is running, and there should be a way to stop it.

[2016-05-24 20:33] daviwil commented on #203
Ahhh yes, great point.  I should add extra commands like "Abort current execution" (wording?) and also "Restart language service".  That would help deal with a situation like this or anything that might cause the language service to crash.

In the meantime the way to deal with this problem is either to run VS Code's "Reload Window" command (causes the extension and language service to be restarted

[2016-05-24 20:40] rkeithhill commented on #203
When you run a task in VSCode there is a little spinning indicators in the status bar.  Can we do something like that with "Run selection"? And if execution is taking longer than a few seconds, display an info popup (or maybe status bar text) saying "Execution of this command appears to be taking a while.  Here's how you cancel execution".

[2016-05-24 20:50] daviwil commented on #203
Yep, those are also worth doing!

[2016-05-25 18:26] daviwil opened #204 "Add command to open Microsoft.VSCode_profile.ps1 in the editor"
It'd be easier for users to set up their VS Code profile if we add a command that they can launch to have their `Microsoft.VSCode_profile.ps1` opened in the editor whether it exists or not.  This should probably be implemented using an editor command written with the $psEditor API.

[2016-05-25 18:44] gerane commented on #204
This is the one that I am using

[code]

[2016-05-25 19:26] daviwil commented on #204
Yeah, basically that.  I'm actually planning to include a standard set of $psEditor commands with PSES so that stuff like this can easily be added to all editors.  Maybe you'd want to contribute this command to that?

[2016-05-25 23:14] jdhitsolutions opened #205 "PowerShell External Window runs x86 and not x64"
I added this to my settings.json file
 "externalTerminal.windowsExec": "powershell"

it works and I get a PowerShell session. But I am running a 64 bit system and I think I'm getting a 32bit PowerShell session. I disabled my profiles and opened a new PowerShell session outside of code. Looking at the current PowerShell process path shows this:
C:\Windows\System32\WindowsPowerShell\v1.0\powershell.

[2016-05-25 23:22] daviwil commented on #205
Hey Jeffery, I must have misunderstood what you meant earlier, now I see what you mean.  If you're launching the external console it's definitely going to launch the 32-bit version since VS Code is running as a 32-bit process.  I don't think there's much you or the VS Code team can do about this because it's Windows that decides to launch the 32-bit powershell.exe when it's spawned from a 32-bit p

[2016-05-25 23:35] jdhitsolutions commented on #205
This makes more sense now. I assumed VSCode was a 32bit app which is why I get a 32bit PowerShell console. Of course, what I really want, like many others, is that integrated console experience like the ISE. I use the ISE daily because of all of the customizations I've made. But I can see where VSCode offers an attractive alternative.

[2016-05-25 23:44] daviwil commented on #205
Yep, I'm constantly bugging the VS Code team to give me what I need to make an ISE-equivalent console experience possible.  It's a really high priority.  Definitely keep checking back in on the extension over time to see where we're at on that.  Once I get sufficient documentation going it'll be easier to tell what level of interactive console experience we have at any given point.

[2016-05-25 23:45] gerane commented on #205
You could easily make this into an editor command. I deal with this when
deploying software with kace. You could just detect if running in a 32 bit
process and launch powershell via sysantive. I'm not able to show you an
example atm.

This should be an issue for vs code really. By default, I feel it should be
using 64 bit terminals if on a 64 bit machine.

That brings up another question. Will the

[2016-05-25 23:58] daviwil commented on #205
Actually, yeah, I may have misspoke.  Invoking powershell.exe from the sysnative path would work, we use that right now for the "Open in PowerShell ISE" command:

`c:\Windows\Sysnative\WindowsPowerShell\v1.0\powershell.exe`

This overrides Windows' SysWOW64 path selection in 32-bit processes.

@gerane: Which internal terminal, the one provided by PSES?  That defaults to 64-bit and you have to chan

[2016-05-26 00:01] gerane commented on #205
I typed this on my phone, so you might want to double check everything.

https://gist.github.com/gerane/dde06b9de33c4a86a770b292a385b502

On Wed, May 25, 2016, 6:45 PM David Wilson <notifications@github.com> wrote:

[2016-05-26 00:09] gerane commented on #205
Could easily make it open to current project dir with $context added in.

On Wed, May 25, 2016, 7:01 PM Brandon <gerane@gmail.com> wrote:

[2016-06-01 20:50] daviwil opened #206 "Add "attach to process" support for PowerShell debugging"
VS Code is adding a new feature which allows you to invoke an extension command which can return a value to be used in a launch config variable.  This is currently being advertised as a way to show a quick pick dialog from your extension code to allow the user to choose a process to which the debug adapter will be attached.  PoshTools currently provides "attach to PowerShell process" functionality

[2016-06-03 07:09] KushGoswami commented on #101
Hello, I am having same issue with VS Code, I am on VS code version 1.1.1 and I am using Windows 7 and Power shell version 2.0 , Is it not supported on Win 7 with PS 2.0 ??

[2016-06-03 18:03] daviwil commented on #101
Hey @KushGoswami, as @rkeithhill mentioned in the other issue on the PowerShellEditorServices repo we don't currently support PowerShell 2.0.  You'll need at least PowerShell 3.0 before you can use the functionality supported by the PowerShell extension.

Going to close this issue since we've determined that it was originally coming from an incompatible PowerShell version.  We now have PowerShell

[2016-06-03 18:03] #101 closed

[2016-06-03 18:45] troshko111 opened #207 "Extension should not keep EditorServices.log file locked while running"
`ms-vscode.PowerShell-0.6.1\bin\EditorServices.log` is locked by `Microsoft.PowerShell.EditorServices.Host.exe` and thus cannot be synced across machines while `vscode` is opened and running

Use case: I sync `vscode` settings through Dropbox using symlinking, but said file cannot be synced and causing "infinite" sync retries since it's locked (access denied).

I checked the file and it's not even

[2016-06-03 18:49] daviwil commented on #207
Hey Taras, thanks for the report!  I hadn't considered this possibility.  The file does actually get written to but you won't see much detail there when the log level isn't set to `Verbose`.  I'll see about changing the logging code to not keep the file open constantly and only open it when a write needs to be made.

Alternatively I could provide a setting that would allow you to change the log fi

[2016-06-03 18:55] TarasRoshko commented on #207
Oh I see. I would suggest only opening the file when you are about to flush the log buffer to it, that way you still have good logging performance when necessary but no handle is being kept most of the time.

Adding an option specifying the file location seems unnecessary, I can hardly imagine anybody using such feature (except for trying to work around cases as this)

[2016-06-03 19:56] daviwil commented on #207
Great point, I'll just try to batch writes and only flush when I need to.

[2016-06-06 22:33] pcgeek86 commented on #57
Any updates on this @daviwil? I keep running into it 😢

[2016-06-06 22:58] daviwil commented on #57
Nah, have been too busy on other stuff lately.  The new integrated terminal support in VS Code should theoretically support it, though.  Check out @gerane's blog post on the topic: http://brandonpadgett.com/powershell/Set-Default-VSCode-PS-64Bit/.  Only downside to the integrated terminal support is that there's no connection between it and the editing experience.

[2016-06-06 23:05] gerane commented on #57
If it is a specific command, you could set it up as a task runner for right
now. I think that would work at least.
On Jun 6, 2016 5:58 PM, "David Wilson" <notifications@github.com> wrote:

[2016-06-10 04:17] #199 closed

[2016-06-10 20:38] vors opened #208 "Expand aliases works silently, needs 'running indicator'"
When I worked on https://github.com/PowerShell/platyPS/issues/126
I tried use "Expand aliases" on a file with 1.5k lines.

There was no feedback from vscode that it started to do something.
I thought it's not working, but then I checked it in 20 seconds and it was done.
I'm not sure how much time did it take, but since the operation is not instant it requires some visual progress indication for be

[2016-06-10 20:39] daviwil commented on #208
Thanks Sergei!

[2016-06-10 20:42] dfinke commented on #208
Wow, that worked?! :-)

[2016-06-11 08:43] rsgoheen opened #209 "Intellisense makes suggestions when typing comments"
When typing comments, both single line and block comments, intellisense is making keyword suggestions.

![powershellvscodecomment](https://cloud.githubusercontent.com/assets/806850/15984153/d9c67092-2fb8-11e6-8139-3dd34745d117.png)

[2016-06-11 16:10] daviwil commented on #209
Yep, this is a common problem in VS Code, here are some relevant issues:

- https://github.com/Microsoft/vscode/issues/719
- https://github.com/Microsoft/vscode/issues/7326

They seem to suggest that the extension shouldn't be providing completions inside comment blocks but in this case VS Code seems to be giving you snippet suggestions and a word-based completion (the `for` with the `abc` icon).

[2016-06-12 19:10] vors commented on #198
Same thing again, different use-case. Re-open helps.

![image](https://cloud.githubusercontent.com/assets/816680/15993308/a58c9f5c-3096-11e6-9fc3-1cd7b19c5a68.png)

[2016-06-12 19:11] daviwil commented on #198
You're missing a dollar sign on `ConvertNotesToList`, maybe that's the issue?

[2016-06-12 19:13] vors commented on #198
oh, sorry my bad

[2016-06-12 19:13] daviwil commented on #198
No problem!

[2016-06-13 18:06] kapilmb commented on #208
With ScriptAnalyzer providing the ability to expand aliases through its SuggestCorrections property, the question I would like to ask is, should we have "expand aliases" have and maintain it's own implementation or use ScriptAnalzyer''s service?

[2016-06-13 18:50] daviwil commented on #208
Script Analyzer's expansion is nice when the user wants to expand a single alias into the fully-qualified command name.  Doug's Expand Alias command does it automatically across the whole file, so I think the intent is a little different.  However, if we want to provide this type of "whole-file correction" operation in Script Analyzer we can definitely discuss how to make that happen.

[2016-06-14 08:24] rsgoheen commented on #209
Still getting suggestions in block comments after adding that to the user settings.json.  It's more annoying than anything, and I'd rather live with that over turning off suggestions globally.

[2016-06-14 08:26] rsgoheen commented on #209
Closing this bug since it's being handled under the main VSCode project.

[2016-06-14 08:26] #209 closed

[2016-06-14 18:15] ian-moore commented on #132
I have this problem too but with a different analyzer warning, I'm not sure if it's related or maybe I don't understand the rule?

![image](https://cloud.githubusercontent.com/assets/1709416/16054272/02704132-3232-11e6-847b-0b9c62e8f883.png)

[2016-06-14 18:17] daviwil commented on #132
@kapilmb do you know if the ShouldProcess rule has also been fixed with the extent checking that doesn't make it mark the whole file?

[2016-06-15 04:59] rkeithhill commented on #132
@ian-moore Is this the first function in the file?  If so, as a workaround, put a blank like before the function.  You also see to have a file encoding issue as indicated by the `? in diamond` character before the [CmdletBinding] attribute.

[2016-06-15 05:14] kapilmb commented on #132
This appears to be PSShouldProcess rule violation. As of now, the violation extent of this rule marks the entire function :(  - https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Rules/UseShouldProcessCorrectly.cs#L67

[2016-06-16 11:51] forethoughtde opened #211 "Debugger stopped working after upgrading vscode to Version 1.2.1"
Debug adapter process has terminated unexpectedly

PHP debugger stopped working after upgrading to version 1.2.1

[2016-06-16 11:52] #211 closed

[2016-06-16 19:51] ian-moore commented on #132
I'm not exactly sure what I updated today, but I no longer receive the warning, even before removing the invalid character. Thanks for the help though!

[2016-06-16 22:49] pstephens commented on #10
+1

[2016-06-16 22:53] hairylime commented on #10
yes, please - close the book on ISE completely with this feature

[2016-06-16 23:26] daviwil commented on #10
The new integrated terminal in VS Code has opened up some interesting possibilities, I'm looking into how I can use that to our advantage :)

[2016-06-21 15:05] rs38 opened #212 "Symbol renaming incorrectly changes symbols that start with the original symbol's name"
Currently it (called "change all occurancies") can only find&replace which is not usefull to refactor (as it also changes comments and unrelated similar variables). This is not like rename.refactor e.g. for C#
Example:

[code]

renaming `$URI` to `$URIOriginal` will also change unrelated `$URI2`

[2016-06-21 19:48] tillig opened #213 "Pipe DebugAdapter errors to console on failure"
In trying to write a script that has a `PSCredential` parameter, it took a bit to convert the ambiguous error message that appears ("Debug adapter process has terminated unexpectedly") into something meaningful. Finding the `DebugAdapter.log` wasn't really straightforward - the message didn't indicate I should look there; nothing in the docs or the README indicate where to look.

As it turns out,

[2016-06-22 08:22] dbaeumer opened #214 "Debugging hangs for a powershell script containing git commands."
_From @lawrencebr on June 21, 2016 22:26_
- VSCode Version:
- OS Version:

Steps to Reproduce:
1. Create a script with "git clone" in it, my script is below:

`Write-Host "Start Git Test";

$result = git clone <git repo> "$PSScriptRoot\test.git" 2>&1;

Write-Host "Finished Git Command";
Write-Host $result;`

please note that the <git repo> I am attempting to clone is a local bare repository on my

[2016-06-22 12:49] gerane commented on #214
I was just going to file the same issue. I am seeing the same issue.

@daviwil This was the debug hanging issue I was talking to you about. Took me a while to pinpoint the cause.

[2016-06-23 15:04] gerane commented on #204
I guess this one can be closed now.

[2016-06-28 02:01] ConnectedReasoning commented on #46
I'm getting this error on a Mac. Where should I look for the log?

[2016-06-28 06:18] daviwil commented on #46
Hi @ConnectedReasoning, the debugging feature doesn't work on OSX because PowerShell is not supported on that platform. All language and debugging features (aside from syntax highlighting and snippets) need the PowerShell runtime to operate.

[2016-06-29 07:10] daviwil commented on #204
Good point, closing it, thanks for contributing those commands!

[2016-06-29 07:10] #204 closed

[2016-06-29 14:12] lc9er opened #215 "Intellisense autocomplete not working with Powershell (module version 0.6.1)"
VSCode Version: 1.2.1
Powershell Module Version: 0.6.1
OS Version: Windows 10

Steps to Reproduce:

1. Edit a ps1 file, verify language set as 'Powershell'.
2. Attempt to autocomplete a cmdlet like 'get-host', by typing 'get-'. No suggestions pop up.
3. Attempt to manually get suggestions by typing Ctrl-Space. VS Code replies "No suggestions"

Occasionally, I will receive Intellisense suggestions

[2016-06-30 06:34] nerdfactor commented on #215
Same Problem here. Logfile says:

0.06.2016 08:28:43 [ERROR] - Method "CurrentDomain_UnhandledException" at line 178 of C:\projects\powershelleditorservices\src\PowerShellEditorServices.Host\Program.cs

    FATAL UNHANDLED EXCEPTION:

    System.AggregateException: Mindestens ein Fehler ist aufgetreten. ---> System.AggregateException: Mindestens ein Fehler ist aufgetreten. ---> System.ArgumentExce

[2016-06-30 06:49] rkeithhill commented on #215
Thanks for the stack trace. Looks like a case of not regex encoding the completion item text before throwing it at regex. The + chars in g++.exe are getting interpreted as metacharacters. I thought I had fixed all spots where we did this but I must have missed some.

[2016-06-30 16:23] mlhickey opened #216 "powershell ext - colorizer has issues with quoted string containing @"
Using VSC 1.3.0-insider and PowerShell 0.6.1. The colorizer portion exhibits odd behavior then a quoted string contains the @ character.  The behavior changes depending on whether single- or double-quote character is used, but both are incorrect/

1. Edit/create .ps1 file with multiple lines of code, add line like $next = $jsonObj.'@odata.nextlink'
[colorizer-bug.ps1.txt](https://github.com/PowerS

[2016-07-01 04:07] rkeithhill commented on #215
@nerdfactor Are you sure you're using the 0.6.1 version of the extension?  The failure mechanism I believe you are seeing was fixed in early February. The code, that corresponds to the error message is:
[code]
The escapedToolTipText for `g++.exe` comes out as `g\+\+\.exe` but error message you see doesn't show the metacharacters as escaped:
[code]
Note the `+` and `.` metacharacters in `g++.exe` a

[2016-07-01 07:53] nerdfactor commented on #215
Manifest file states:

<Identity Language="en-US" Id="PowerShell" Version="0.6.1" Publisher="ms-vscode"/>

The logfile starts with:

30.06.2016 11:25:38 [NORMAL] - Method "Main" at line 145 of C:\projects\powershelleditorservices\src\PowerShellEditorServices.Host\Program.cs

    PowerShell Editor Services Host v0.6.1.356 starting (pid 1768)...

      Host application details:

        Name: Visual

[2016-07-01 13:30] lc9er commented on #215
Here's my log file. Looks like the same error:

[code]

[2016-07-01 15:40] rkeithhill commented on #215
@nerdfactor and @lc9er thanks for confirming the version.

[2016-07-04 22:24] jimbrownthrowaway opened #217 "Output window only opens first time run selection (F8) is used"
Extremely new to using both VS Code and the PowerShell Extension so please forgive me if I'm missing something obvious or if this shouldn't even be filed as an issue.

When you use F8 to run a selection of code the first time you do it the output window opens to show the results.  If you then close the output window and use F8 again it doesn't open the output window again, if you open it manually

[2016-07-05 03:13] gerane commented on #216
@gravejester is this related to the issue you just fixed?

[2016-07-05 05:16] gravejester commented on #216
Yes, I think this one is related, but not fixed by my latest PR, will fix and push new commit to get this fixed as well :)

[2016-07-06 13:07] joaomoreno opened #218 "Powershell PSScriptAnalyser not working in Insiders builds"
_From @simon-michaud on July 6, 2016 13:3_

- VSCode Version:1.3.0-Insiders / Commit a1293f50
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. VSCode + Powershell Extension + Install-Module PSScriptAnalyser
2. No automatic analysys of ps1 / psm1 when  **"powershell.scriptAnalysis.enable": true** in _Default Settings_

Works from command line **Invoke-ScriptAnalyser**

_Copied from original is

[2016-07-07 13:58] daviwil commented on #218
Hi @simon-michaud, we use a minimal set of Script Analyzer rules by default in the VS Code extension.  It's somewhat likely that you just haven't triggered any of the rules with your current code.  Could you give an example of some code which you expect to trigger a Script Analyzer rule?

[2016-07-07 14:00] daviwil commented on #213
That's a great point, I'll find a way to make the logs of these failures more easy to locate in the editor.

[2016-07-07 14:01] daviwil commented on #217
Yeah, the assumption I made here is that if the window had been auto-opened the first time and the user manually closed it, then it might get annoying if we auto reopen it each time output gets written.  I'm hoping to avoid this problem entirely in the near future by removing the current Run Selection functionality in favor of using the new integrated terminal for an ISE-like interactive experienc

[2016-07-07 14:02] daviwil commented on #212
Yep, I think there's a bug with the renaming here.  We'll get it fixed.  Thanks!

[2016-07-07 14:04] daviwil commented on #214
Interesting, thanks for the report, I'll have to look into this.

[2016-07-07 17:43] gerane opened #219 "Debugger cannot find [System.Drawing.Color] when in script"
When debugging a script that contains a Color type it throws an error.

Example is using `New-SlackMessageAttachment -Color $([System.Drawing.Color]::red)`

[code]

[2016-07-08 05:58] rkeithhill commented on #219
You need to load that assembly `Add-Type -Assembly System.Drawing`

[2016-07-08 09:53] otstrel opened #221 "Syntax highlighting broken for braced variable in string"
Syntax highlighting appears to be broken for braced variable in string surrounded by curly braces (`{"${t}_"}`):
![image](https://cloud.githubusercontent.com/assets/3508928/16683870/a478ca2c-450a-11e6-8cec-23512549fe67.png)
Works fine without outer braces (`"${t}_"`):
![image](https://cloud.githubusercontent.com/assets/3508928/16683878/ad6dab3e-450a-11e6-8c73-35a4dcd6987c.png)

Worst part is that

[2016-07-08 10:06] daviwil commented on #221
Hey @okallstad, is this something you could add to your PR?

[2016-07-08 10:33] gravejester commented on #221
I'm on it :)

[2016-07-08 10:36] gerane commented on #219
Why does the debugger need to load it? Running in any other context does
not require it to be loaded.

[2016-07-08 11:51] simon-michaud commented on #218
Ok, then I should try to set the rules to the ones Script Analyser on the
command line uses...

Can you tell me how to do this ?

On Thu, Jul 7, 2016 at 9:58 AM David Wilson <notifications@github.com>
wrote:

[2016-07-08 17:17] BornToBeRoot opened #222 "Syntax highlighting broken when accessing a csv-file"
Maybe it's the same as #221

![image](https://cloud.githubusercontent.com/assets/16019165/16695512/9a6f7e6e-4540-11e6-8a63-ca5aac1e8b99.png)

Edit: VSCode 1.3.0 & PowerShell Extension 0.6.1

[2016-07-08 19:57] gravejester commented on #222
Yes, this bug will be fixed in the next update.

[2016-07-10 07:15] rkeithhill commented on #219
Well, if I fire up a PowerShell v5 console with `-NoProfile` it doesn't have the assembly loaded either:
[code]
However, once I execute `Out-GridView` that assembly is loaded.  It would also be loaded by default for ISE since ISE is a WPF app.

I wouldn't rely on PowerShell loading an assembly meant for GUI apps.  For instance, you could get the debugger to work by simply calling this command befo

[2016-07-10 07:53] rkeithhill commented on #218
For a quick test, copy the following to a file under your home dir (say $home\pssa-settings.psd1):
[code]
Then open up your user settings file in VSCode (Ctrl+Shift+P - type 'user' and select Open user settingss). Add the following to your user preferences settings:
[code]
Save the user settings file and reload VSCode.  Now the extension will use the default rules for the script analyzer.

[2016-07-10 17:55] rkeithhill commented on #217
ISE will make the console pane visible on pressing F8, if it is not visible.  If "run selection" runs in the terminal window, and the terminal window is closed, the terminal window would be opened by the extension, right?  I think folks would expect that.

[2016-07-11 01:34] rkeithhill commented on #214
Is this a case of exe stdio interfering with the stdio between the debug host and vscode?

[2016-07-11 04:36] GitChow opened #223 "Install via vsix behind coperate proxy"
proxy issue, how can I install it manually via download? I try to put the git resources as a folder under "extension", but it seems not working. I saw relevant documentation talking about  .vsix file, how can I create it from your source? or do you provide? thanks a lot !

[2016-07-11 12:02] simon-michaud commented on #218
Thanks for the info, everything works as expected now.

On Sun, Jul 10, 2016 at 3:53 AM Keith Hill <notifications@github.com> wrote:

[2016-07-11 14:08] lawrencebr commented on #214
By exe stdio I assume you mean Visual Studio 2015 interfering with Visual Studio Code?  If that is what you are asking, then I don't think so because I was working on a larger script and debugging with VS Code the entire time, and I didn't run into problems until I reached the git portion of that script.

To test my theory I wrote a script with just the Git code and found the same issues, and that

[2016-07-13 00:49] rkeithhill commented on #214
No, not referring to VS 2015.  We've seen exe's that somehow manage to interfere with the stdio channel between VSCode and the debug host. https://github.com/PowerShell/PowerShellEditorServices/issues/147

[2016-07-13 07:30] wellsluo opened #224 "Language service crashes on dot-sourced path in script"
- VSCode Version: 1.3.1
- OS Version: Windows 10.1511
- PowerShell Extension version: 0.6.1

Reproduced on at least 2 Windows 10 machines.

Symptom
======
1. "Find All References" show empty window or "No result" window. So as "Go to definition".
2. Auto complete doesn't work to show related PowerShell cmdlet.
3. Ctrl+ mouse hover on function name, doesn't show underline and can't click to jump fu

[2016-07-13 07:52] wellsluo commented on #171
I encountered the same issue here. refer post "Editor service crashed" https://github.com/PowerShell/vscode-powershell/issues/224

I tested on follow path with different project/folder names:
C:\Temp\
D:\Code\

[2016-07-13 09:27] wellsluo commented on #224
Performed further test, found the crash was caused the dot source operator.   Refer following sample code, remove the second line, there will be no problem.

Sample file
========
[code]

[2016-07-13 11:36] bahaula commented on #221
Just adding to this one.
I'm not yet sure if it's related but a similar case:
![image](https://cloud.githubusercontent.com/assets/518296/16802014/db60e894-4906-11e6-9131-39b1aec6f1f8.png)
I guess it's broken when using properties with spaces also.

[2016-07-13 14:45] daviwil commented on #221
Should be fixed with this commit: https://github.com/gravejester/EditorSyntax/commit/990a2ca3db8afed4b124d18083070728c70fa5cd

We'll be submitting a PR to VS Code to get the syntax definition updated for their next release.

[2016-07-13 14:45] #221 closed

[2016-07-13 14:48] daviwil commented on #223
Hey @GitChow, check out our [Releases](https://github.com/PowerShell/vscode-powershell/releases) page.  For each release I prepare a ZIP file containing the extension files.  You should be able to extract this zip file into the path `$HOME\.vscode\extensions`.  Let me know if you have any trouble with this.

[2016-07-13 14:48] #223 closed

[2016-07-13 14:49] daviwil commented on #224
Hi @wellsluo, thanks for the report!  I'll see if I can figure out what the issue is there.

[2016-07-13 14:59] daviwil commented on #222
This will be fixed in VS Code as soon as we get our fixed syntax definition merged in the VS Code repo.  Thanks for the report!

[2016-07-13 14:59] #222 closed

[2016-07-13 15:00] daviwil commented on #218
Thanks for confirming, Simon!  I'll close this issue since it's resolved.

[2016-07-13 15:00] #218 closed

[2016-07-13 15:00] daviwil commented on #217
Good point, Keith.  The correct trigger for opening the window should be the invocation of Run Selection rather than just from receiving output.

[2016-07-13 15:02] daviwil commented on #216
Since @gravejester has fixed this I'll go ahead and close the issue.  @mlhickey, you may not see the fix until the next VS Code release (or an upcoming VS Code Insiders build if you use that).  Thanks!

[2016-07-13 15:02] #216 closed

[2016-07-13 15:05] daviwil commented on #219
Yep, that assembly is not loaded by default.  Keith is correct, it gets loaded when anything UI-related gets loaded into the PowerShell session.  Out-GridView is one way, running your code in the ISE is another way.  If the Slack module depends on that type it needs to call `Add-Type -Assembly System.Drawing` when the module gets loaded.

If you start `powershell.exe` with `-NoProfile` and try to

[2016-07-13 16:34] pmcelreavy opened #225 "Color coding problem when using [ValidateScript({Test-Path "${_}`:\" -PathType Container})]"
I use the following code to test the if the driver letter exists (sorry I can't figure out how to format it correctly due to the apostrophe):

[code]

And because of {} and ` color coding gets all out of whack in the IDE. You'll notice that most of the code afterwards is considered a string. This used to work at least 2-3 versions ago.

[2016-07-13 17:14] gerane commented on #219
This isn't actually a GUI app, but is sending a slack message. The color was for the color of the notification. I will just have to add the type before hand.

[2016-07-13 19:09] treestryder opened #226 "The closing single or double quote of a member name is treated like the start of a string."
Example
`# This is the normal color of a comment.
$TestObject = New-Object -Properties 'Member With A Space'
$TestObject.'Member With A Space' # This is orange because vscode-powershell behaves as if the closing quote starts a new string.`

Screen Shot
![vscode_member_with_space](https://cloud.githubusercontent.com/assets/3682967/16816393/b134dabc-490b-11e6-8af9-c16403877c6f.png)

[2016-07-13 20:17] daviwil commented on #226
I think @gravejester has fixed this issue: https://github.com/PowerShell/EditorSyntax/issues/10.  It should be resolved for you in the next VS Code release.

[2016-07-13 20:18] daviwil commented on #225
@gravejester, do you know if your PR resolves this?

[2016-07-13 20:21] daviwil commented on #214
@rkeithhill: The stdio thing could be possible, I'll have to look into it.  I'll try it in a newer build with the named pipes setup to see if I get the same hang.

[2016-07-13 20:31] treestryder commented on #226
Yep. Looks the same to me. Thanks.

[2016-07-13 20:31] #226 closed

[2016-07-14 02:36] GitChow commented on #223
Great, thank you @daviwil , it works now !!

[2016-07-14 02:44] rkeithhill commented on #219
It doesn't have to be a GUI app.  I have PSReadline handler function loaded in my profile that loads WinForms to copy stuff to the clipboard.  When testing, I try to always fire up PowerShell with `-NoProfile` to make sure that I'm testing in more of a "clean state".

[2016-07-14 22:43] Chiliyago opened #227 "ctrl-c not working in terminal"
In version 1.3.1 I noticed that ctrl-c does work which prevents exiting the current command.  In my case I configured terminal to open PowerShell.

Example:
[code]

[2016-07-14 22:45] daviwil commented on #227
Where is this, in the integrated terminal?  If so, you'll need to file a bug at the https://github.com/Microsoft/vscode repository because they own the UI for that terminal experience.

[2016-07-17 22:24] #219 closed

[2016-07-17 22:24] rkeithhill commented on #219
Closed issue as "by design".

[2016-07-17 22:32] rkeithhill commented on #214
@daviwil This is indeed fixed, based on my limited testing, in 0.7.0 by the new (pipe) approach to connecting with the VS code client.

[2016-07-17 22:42] rkeithhill commented on #215
@Ic9er Are you on Windows 7 as well?  Also, what text did you type before trying to get auto-completion?

[2016-07-18 12:08] lc9er commented on #215
I am on Windows 10.

I get this when typing, "get-", or "show-". Any cmdlet it seems.

On Sun, Jul 17, 2016 at 6:42 PM, Keith Hill <notifications@github.com>
wrote:

[2016-07-18 14:30] daviwil commented on #214
Awesome!  I'll keep this open until we get ready to ship so I can verify it again once we're ready.

[2016-07-18 20:01] LaurentDardenne commented on #225
Same problem, but with different source code :
[code]

[2016-07-18 20:39] LaurentDardenne commented on #225
Another case :
[code]

[2016-07-18 21:44] rkeithhill commented on #225
I wonder if this [feature request for VSCode](https://github.com/Microsoft/vscode/issues/1967) would be a better long term answer for PowerShell colorization.

[2016-07-18 21:59] rkeithhill commented on #215
@lc9er Where is `g++.exe` installed on your system?  `Get-Command g++.exe | Format-List` should show you the location.

[2016-07-18 22:26] daviwil commented on #225
[A discussion has been started](https://github.com/Microsoft/language-server-protocol/issues/18) about adding syntax highlighting support to the language service API but I'm not sure when it'll happen.  Seems like it'll happen eventually though.

[2016-07-19 00:04] lc9er commented on #215
C:\strawberry\c\bin

It was installed as part of the Strawberry Perl Chocolatey package.

On Mon, Jul 18, 2016 at 5:59 PM, Keith Hill <notifications@github.com>
wrote:

[2016-07-21 14:14] dotps1 commented on #129
as the current insiders build on 20160721, this is still not working, and it seems both issues are closed.

[2016-07-21 14:20] nfields03 commented on #129
I believe we're still waiting on the main VS Code application to support language aware folding; once that gets into the main program I suspect PowerShell folding/regions will happen in short order...

[2016-07-21 14:31] johlju commented on #129
#Region tag works only if the tag is written within the first 4 spaces.

[2016-07-21 14:37] dotps1 commented on #129
I have mine directly at the start of the row:
![image](https://cloud.githubusercontent.com/assets/1016996/17026727/1213fb50-4f2f-11e6-9382-d3b937467383.png)

I tried to hover over the lines to show the plus signs.

[2016-07-21 14:38] dotps1 commented on #129
it right at the start, no spaces:
![untitled](https://cloud.githubusercontent.com/assets/1016996/17026771/4345cb04-4f2f-11e6-88b0-0aad75a4ba56.png)

[2016-07-21 14:50] johlju commented on #129
Ok, so it seems `#region` must be within a function as well.
![2016-07-21 2](https://cloud.githubusercontent.com/assets/7189721/17027180/2f5370f4-4f63-11e6-8af2-a479ea137aa9.png)

[2016-07-21 14:53] dotps1 commented on #129
I'm glad you figured that out, but that seems like its incorrect right?  I mean, I'm more likely to use this function in scripts rather then inside functions.

[2016-07-21 15:00] johlju commented on #129
Yes, I think it need to (and should) work anywhere you put it, as long as it's the only thing on that row.
I pointed out this before as well, in another issue, which also is closed, In that issue @daviwil said we need to wait for VS.Code to get the functionality. In this issue he says they are working on it. They probably has more pressing matters, and hasn't gotten that far yet. :)

[2016-07-21 15:04] johlju commented on #177
Information: #region does work inside functions which the first 4 spaces. But not outside a function, or after 5 spaces and more. See more in closed issue #129

[2016-07-21 15:14] daviwil commented on #227
Looks like you filed this issue over at the VS Code repo, thanks for doing that!  I'll close this issue now since the problem is being tracked here:

https://github.com/Microsoft/vscode/issues/9347

[2016-07-21 15:14] #227 closed

[2016-07-21 15:18] daviwil commented on #129
I wonder if they're using the syntax highlighter scopes to determine where to fold...  The latest VS Code update contains a refactored PowerShell syntax highlighting file so maybe that accounts for the change in behavior?  I'll have to look into it again when I get more time.

[2016-07-30 19:02] rkeithhill opened #230 "Automatically add required .vscode assets"
I was playing around with ASP.NET Core today in VSCode and noticed the following.  First I scaffolded a webapi project just `yo aspnet`.  It created no VSCode artifacts.  When I loaded this folder into VSCode it popped two messages.  It wanted to do a `dotnet restore` and it told me my project was missing `assets`.  I clicked yes to add the missing assets and noticed that the .vscode dir appeared.

[2016-08-01 10:18] johlju commented on #108
This problem still exists in the 1.3.1 version. But I now saw that in the Output pane (when runnig with F8) the problem does not exist. So it seems that the problem are only shown in the debug console.

![image](https://cloud.githubusercontent.com/assets/7189721/17291058/f5079c2c-57e1-11e6-8360-79e63cd42acc.png)

[2016-08-01 10:26] johlju commented on #108
OK! Found that when the file has encoding `UTF-8` this problem occurs. When the Encoding is `UTF-8 with BOM` or `UTF-16 LE` this problem does not occur (only tried with those three encodings).
Below screenshot is from the running the code with file encoding `UTF-16 LE`.
![image](https://cloud.githubusercontent.com/assets/7189721/17291198/c0c6ba28-57e2-11e6-97be-f056b71f7b34.png)

[2016-08-04 20:52] daviwil commented on #108
Weird!  Not sure why it *would* work with UTF-16 and not with UTF-8.  Thanks for the update!  We'll keep looking into this.

[2016-08-06 05:22] tonidy commented on #186
Hi @daviwil ,

I experienced this issue with the following environment:
* VS Code 1.4.0
* VS Code PS 0.6.1

![image](https://cloud.githubusercontent.com/assets/823034/17454860/0dc1752a-5bd0-11e6-9c59-ca2336150b86.png)

With VS Code 1.3.1 the intelliSence work well. Here my log https://gist.github.com/tonidy/ed0e9a056a24ebf2a9fc02372ce2a6fe

[2016-08-06 05:32] rkeithhill commented on #186
Weird.  It looks like the extension's language service receives a shutdown message about 34 seconds after starting.  Presumably you had the test.ps1 file open for longer than that.

[2016-08-06 05:40] tonidy commented on #186
@rkeithhill

I don't understand correctly about this. I have uninstalled then install vscode-powershell again. But it still error.

[2016-08-06 14:12] LaurentDardenne commented on #225
vsccode 1.4 fix these problems.
Thank you :-)

[2016-08-06 19:20] rkeithhill commented on #186
Dang, it appears that auto-completion is broken pretty badly in VSCode 1.4.0.

[2016-08-07 09:55] omerbenamram commented on #186
Experiencing the same since 1.4.0. Auto completion completely broken.

[2016-08-08 07:51] andreamaruccia commented on #215
I am also having problems with Intellisense and variables autocompletation. Is there another version of the extension you can advise to install? It it possible to install an older version of the extension?

[2016-08-08 15:03] daviwil commented on #186
I'll look into this today, might be able to fix it and kick out an update.

[2016-08-08 15:04] daviwil opened #231 "In VS Code 1.4.0, IntelliSense has stopped working"
Something about VS Code 1.4.0 has caused PowerShell IntelliSense to stop working.  Must be an API change of some sort, will investigate.

[2016-08-08 15:05] daviwil commented on #186
I'm going to close this bug again because the original issue was resolved.  I've opened the following bug to track the issue with VS Code 1.4.0, let's continue the discussion there:  https://github.com/PowerShell/vscode-powershell/issues/231

[2016-08-08 15:05] #186 closed

[2016-08-08 15:06] daviwil commented on #231
Details from @tonidy:

I experienced this issue with the following environment:
* VS Code 1.4.0
* VS Code PS 0.6.1

![image](https://cloud.githubusercontent.com/assets/823034/17454860/0dc1752a-5bd0-11e6-9c59-ca2336150b86.png)

With VS Code 1.3.1 the intelliSence works well. Here my log https://gist.github.com/tonidy/ed0e9a056a24ebf2a9fc02372ce2a6fe

[2016-08-08 15:07] daviwil commented on #215
I don't believe an older version of the extension is going to help with this issue.  Did your problem start after the 1.4.0 release of VS Code got installed?  If so, let's continue the discussion over on this issue: https://github.com/PowerShell/vscode-powershell/issues/231

[2016-08-08 19:39] pcgeek86 commented on #231
I'm having this problem in version 1.4.0 on Windows 10 RTM Anniversary Update.

![image](https://cloud.githubusercontent.com/assets/466713/17493414/777dc2d6-5d6d-11e6-932f-e0073e10f71b.png)

[2016-08-08 19:47] dotps1 commented on #231
I have had this for a while, I thought it was something I broke!  lol.

I am using the insider preview
![image](https://cloud.githubusercontent.com/assets/1016996/17493681/6c5f3b0c-5d7f-11e6-8fea-82335aca26dd.png)

[2016-08-08 20:38] daviwil commented on #231
I'm also seeing the problem in 1.4.0, looks like something changed in VS Code's completion engine. PS Editor Services is getting a completion request and returning the correct results, they're just not being displayed.  Investigating...

[2016-08-09 12:50] pmcelreavy commented on #225
I can confirm, my issue has been resolved.

[2016-08-09 12:50] #225 closed

[2016-08-09 15:04] FooBartn commented on #231
Not sure if it helps at all, but the completions are working for actual parameter options. I.E.

New-Item -ItemT  <--- Nada
New-Item -ItemType F <-- I get the menu, with File at the top of the options.

Like so:
![autocomplete](https://cloud.githubusercontent.com/assets/8498617/17521338/8edcfec8-5e18-11e6-9651-4c344c98bc84.png)

[2016-08-09 15:05] daviwil commented on #231
IntelliSense behavior has indeed changed in VS Code 1.4.0 but it should be something easy to fix on my side, will give it a shot today.

[2016-08-09 21:44] robplank commented on #177
Adding a comment block inside of a function also impact the folding of code

#
and
<#
    Comment
 #>
![image](https://cloud.githubusercontent.com/assets/12474044/17534698/0c78c394-5e50-11e6-908a-96b7e186b297.png)

[2016-08-09 22:02] rkeithhill commented on #177
Yup, same issue.  VSCode folds based on indentation level.  The language extension does not get a chance to participate in code folding to provide more semantics-aware folding.  Too bad. I hope VSCode can add this before too long.

[2016-08-09 22:08] rkeithhill commented on #215
Ah it looks like I fixed this back in May but it never made it into a release.  Is that correct @daviwil?  If so, this should be fixed with the 0.6.2. release coming out shortly.

[2016-08-09 22:30] daviwil commented on #215
Yep, sorry for the delay on getting that out!  I think at the time I was planning on putting out 0.6.2 but delayed it for some reason and never got back around to it...  New release with the fix will be out today or tomorrow.

[2016-08-09 23:32] rkeithhill commented on #215
No problem. I thought I was going crazy for a bit, looking at the stack trace and the code thinking - no way this can be happening.  :-)

[2016-08-09 23:36] gerane commented on #231
@FooBartn the F for File is not a recommendation from PSES. It is completing based on it being used before.

[2016-08-09 23:36] gerane commented on #231
You can tell by the ABC logo next to the name

[2016-08-10 20:18] gbritton1 opened #232 "Invoke-Sqlcmd works from PS command prompt. not from VSCode"
Running VSCode 1.4 with PowerShell Extension 6.1,  When I try Invoke-Sqlcmd in the debugger I get:

When I run the same command in the Powershell command line or ISE, it works just fine.

What am I missing?

[2016-08-10 22:26] daviwil commented on #232
Hey @gbritton1, check out @rkeithhill's comment on this issue:

https://github.com/PowerShell/vscode-powershell/issues/189#issuecomment-220065601

This should resolve the issue for you.  Since #189 already tracks the issue I'll go ahead and close this one.  If it turns out that this fix doesn't work for you, let me know and I'll try to investigate.  Thanks!

[2016-08-10 22:26] #232 closed

[2016-08-11 13:33] gbritton1 commented on #232
Thanks!  That fixed it!!

[2016-08-11 15:36] Allieway opened #233 "Syntax highlighting is different than other editors."
When using the same theme for vscode as Powershell ISE or Vistual Studio 2015 the way syntax highlighting is done is completely different. This happens in Atom, vscode, and sublime text.
Below are pictures of what I mean.

I understand that themes will not have powershell specific support, but it seems as though every theme I try is completely different to Powershell ISE, which is what I am used t

[2016-08-11 22:13] daviwil commented on #233
Hi @Allieway, this is mostly due to how the current shared PowerShell syntax highlighting definition works.  @gravejester has been working on a refactored version but we had to pull it recently because it had an issue.

The main difference between the ISE's highlighting and what you see in the other editors is that the ISE leverages PowerShell's parser to extract the correct token types for all th

[2016-08-12 11:35] BornToBeRoot commented on #231
Same problem after the latest vscode update.

![image](https://cloud.githubusercontent.com/assets/16019165/17621119/977c4612-6091-11e6-8775-19e873a5426e.png)

Hope you can fix it soon.

BTW: Great Job with this Extension. :+1:

[2016-08-12 14:26] Allieway commented on #233
I may head over and see if I can contribute at all. The issue seems to be that it would be a joint effort of both the themes and the editor syntax. Would it be better to use the incorrect scope names for the syntax to make it look standard on all themes instead of using the correct scope names and having the themes that aren't setup for powershell to look off? I did see several comments that were

[2016-08-12 16:34] richardhenke commented on #231
I'm having an issue with my  IntelliSense is giving me problems as well.
Here's my version:
![image](https://cloud.githubusercontent.com/assets/9287136/17629435/9294caee-6077-11e6-952b-d5f6b6ee4a6d.png)

Whenever I hover over anything I just get "Loading...". I'm also not able to use the ctrl+D command for multiple cursors and when I try to refactor a variable in a file by pressing "F2" on it it j

[2016-08-12 18:54] #231 closed

[2016-08-12 18:56] daviwil commented on #187
Just shipped an update of the extension with this fix included!  Sorry it took so long to get that out.

[2016-08-12 18:57] daviwil commented on #232
Just released an update to the extension and I included the necessary files so you shouldn't have to do this fix again :)

[2016-08-12 18:57] daviwil commented on #231
New extension release is up with a fix for this!

[2016-08-12 18:59] daviwil commented on #215
Just shipped a new update to the extension with a fix for this issue!

[2016-08-12 18:59] #215 closed

[2016-08-12 19:05] lc9er commented on #215
Works! Thanks for the fix.

On Fri, Aug 12, 2016 at 2:59 PM, David Wilson <notifications@github.com>
wrote:

[2016-08-12 20:34] daviwil commented on #233
That'd be great, thanks!  Yeah, it seems we'd need to make the scope names conform to what the editors' themes are using, otherwise the themes would need to change to conform to us (not so likely :smile:).

It'll probably take a more focused effort to make a scope-conformant tmLanguage and then compare it's colorization results to what the ISE puts out.  We need to do some work to enable regressio

[2016-08-15 01:49] tonidy commented on #231
@daviwil I have tried it and it working now. Awesome :+1:

[2016-08-15 09:10] gravejester commented on #233
For anyone that want to contribute regarding scope names and such, I have started this discussion for this: https://github.com/PowerShell/EditorSyntax/issues/8

[2016-08-15 19:44] rkeithhill opened #236 "PowerShell Find?Install modules from PSGallery advertises kbd shortcut that doesn't work"
The command says the keyboard shortcut is `Ctrl+K Ctrl+F` but when I use that shortcut VSCode tells me that the key combination is not a command.

[2016-08-15 19:46] rkeithhill opened #237 "PowerShell Find/Install module from PSGallery takes long time to show list"
I think it might be better to show a "search" text box immediately while still waiting for results of a list of everything.  If I start to type in a search term, the code should wait for a pause (say 1 sec) and then search PSGallery with what is typed in so far.  Of course a change in typing, should spawn off a new find-module command and update the results list accordingly.

[2016-08-15 20:51] daviwil commented on #237
Yep, agreed.

[2016-08-15 20:53] daviwil commented on #236
The key combo just worked for me, it just took about 8 seconds for the list to finally show up.  After I hit the key combo I saw "Initializing..." in the status bar.  Strange that you're not seeing it...  How far into your session are you before you hit the combo?  Just wondering if maybe PSES isn't fully initialized at that point.

[2016-08-16 08:45] stej opened #238 "Syntax highlight doesn't recognize '#text' property"
I have this code:

[code]

The syntax highlighter is confused from the ending apostrophe behind the ```#text``` property.

![image](https://cloud.githubusercontent.com/assets/253560/17693228/183d8aea-639e-11e6-9d4e-078560d0aa31.png)

The problem is probably caused by the hash sigh ```#```, because once I remove it, it is ok.

_Workaround_
[code]

[2016-08-16 08:47] andreamaruccia commented on #215
Works! Nice job!

[2016-08-16 17:34] rkeithhill commented on #236
I don't think it is a timing thing as I opened up VSCode and it opened my last PowerShell project.  I pressed the key combo within a few seconds and it worked.  I *can* repro this behavior if I end the language server host process.  So this is not a bug related to this functionality.  At the time I submitted this, my language server host process must have died.

[2016-08-16 17:34] #236 closed

[2016-08-16 17:48] legobytes commented on #155
I'm still seeing the issue with Login-AzureRmAccount not prompting for login credentials unless I have a break on the following line. I'm using VSCode 1.4 with PowerShell Extension version 0.6.2 on Windows 10.

[2016-08-17 05:52] kilasuit commented on #155
@legobytes - could you raise this as a new issue and reference this one by using the issue number #155

[2016-08-17 13:29] legobytes opened #239 "Login-AzureRmAccount doesn't prompt for login credentials"
Seems to be a recurrence of #155 .

If I put a break on the line following the Login-AzureRmAccount, it will prompt for credentials.

VS Code: 1.4.0
PowerShell Extenstion: 0.6.2
OS: Windows 10 Version 1607 (OS Build 14393.10)
PowerShell: 5.1.14393.0

[2016-08-18 11:53] deshiknaves opened #240 "Double clicking variable selects variable, but copying and pasting does not have the $ symbol"
When you double a variable name, vscode-powershell will select the variable name with the $ sign. However, once you copy it to the clipboard and then paste it somewhere else, it does not contain the $ symbol.

[2016-08-18 12:48] ian-moore opened #241 "Script analyzer doesn't recognize that variable is being expanded in string when checking for use"
I get the code hint when I am expanding the object like below:

![image](https://cloud.githubusercontent.com/assets/1709416/17774193/04492e9c-6518-11e6-8824-b13dd442681f.png)

But not if I do this:

![image](https://cloud.githubusercontent.com/assets/1709416/17774216/253914d2-6518-11e6-8d23-fd9574b00e08.png)

On version 0.6.2

[2016-08-18 12:54] ian-moore commented on #241
Oops. Should wait a few hours after waking up to open issues :)

![image](https://cloud.githubusercontent.com/assets/1709416/17774358/e09fe034-6518-11e6-9bdb-a661eb4b27cb.png)

[2016-08-18 12:54] #241 closed

[2016-08-18 18:05] GHRoss opened #243 "Debug adapter process has terminated unexpectedly"
With the latest version of VS Code (1.4.0), and the latest version of PowerShell for VS Code (0.7.0) running on Windows 10 version 1607 OS Build 14393.51, whenever I run a PowerShell script, I get a 'Debug adapter process has terminated unexpectedly'.

This is what I see in developer tools...

`Ctrl+Alt+ keybindings should not be used by default under Windows. Offender:  40995  for  PowerShell.Exp

[2016-08-18 18:09] daviwil commented on #243
Hey GHRoss, thanks for the report.  Can you zip up the contents of the following folder and send it to me?

`$HOME\.vscode\extensions\ms-vscode.PowerShell-0.7.0\logs`

[2016-08-18 18:27] GHRoss commented on #243
[https://dl.dropboxusercontent.com/u/11359089/logs.zip](url)

If there's a better way to send these to you, please let me know.

[2016-08-18 19:42] maksims-prieditis opened #244 "Extension is not working if windows username contains spaces"
Installed extension today for the first time and it seems like I'm the only one who got spaces in windows account. :) Basically, EditorServices couldn't be started (log attached) and I guess debugger fails for the same reason. Added local account without spaces -- everything works.

[1471546041-PowerShell.txt](https://github.com/PowerShell/vscode-powershell/files/425686/1471546041-PowerShell.txt)

[2016-08-18 20:09] daviwil commented on #244
Ouch, I immediately see the issue.  Sorry for the trouble!  Will get this fixed in the next couple of days.

[2016-08-18 20:10] daviwil commented on #244
The path to Start-EditorServices.ps1 needs to be enclosed with quotation marks:

[code]

[2016-08-18 20:29] daviwil commented on #243
Strange, I see no errors in the log output...  When you run your code in the debugger, are you selecting the 'PowerShell' or 'PowerShell x86" configuration?

[2016-08-18 20:35] rgl opened #245 "Installing from the command line or UI does not work"
I'm trying to install from the command line with:

[code]

But after I start code it errors out with:

![image](https://cloud.githubusercontent.com/assets/43356/17789465/36e4ee78-658a-11e6-9def-16794588d1e6.png)

Even reinstalling the extension from the UI does not work.

Sorry, but I didn't find a way to troubleshoot the install (`--verbose` does not seems to do the trick), so you have to help me

[2016-08-18 20:52] daviwil commented on #245
Hey Rui, can you zip up the contents of the following folder and send it to me?

`$HOME\.vscode\extensions\ms-vscode.PowerShell-0.7.0\logs`

You can just drop the zip file into the comment box and it should upload the file to GitHub.

[2016-08-18 21:00] alejandro5042 opened #246 "Restore default PSScriptAnalyzer ruleset"
I want to use aliases, but as of today's update, I am getting underlines _all_ over my source. They are very distracting and I cannot find a way to disable them. Is there an option? If not, I propose this being an issue that should be fixed.

[2016-08-18 21:02] daviwil commented on #246
Apologies for that, we have changed to a different method for integration PowerShell Script Analyzer and didn't carry over the default ruleset we were using before.  I'll address this in a patch release in a few days.

[2016-08-18 22:51] robbiepc30 opened #247 "Debug adapter process has terminated unexpectedly for OS X"
I think this might be a bug of some sort. I downloaded the PowerShell that just came out for OS X v6.0.0-alpha.9 and updated the Visual studio code version to the latest 0.7.0. When I try to run simple script I get the following Error "Debug adapter process has terminated unexpectedly" if I press F5 or if I select a line and press F8 I get command I get error " 'PowerShell.RunSelection' not found"

[2016-08-18 23:00] daviwil commented on #247
Hey Robbie, thanks for sending your log file, that was helpful.  Judging from the error I think you may need to install OpenSSL using a tool like [Homebrew](http://brew.sh/):

[code]

After installing OpenSSL you should be able to launch the extension successfully.

[2016-08-18 23:02] robbiepc30 commented on #247
Thanks! that did the trick

[2016-08-18 23:05] daviwil commented on #247
Glad to hear it!  I'll have to add that to the documentation since I've heard this from another user as well.

[2016-08-18 23:30] #247 closed

[2016-08-19 06:58] geoffian opened #248 "Start-EditorServices.ps1: [System.Random]::new() errors in Windows with Powershell 4"
Running on Windows 8 (Powershell v3) & Windows 2012r2 (Powershell 4) from logs:

powershell.exe started --
    pid: 8304
    exe: C:/Windows/System32/WindowsPowerShell/v1.0/powershell.exe
    bundledModulesPath: C:\Users\BB45210\.vscode\extensions\ms-vscode.PowerShell-0.7.0\modules
    args: C:\Users\BB45210\.vscode\extensions\ms-vscode.PowerShell-0.7.0\scripts\Start-EditorServices.ps1 -EditorServ

[2016-08-19 14:13] crchad commented on #248
I'm seeing the same issue since updating to 0.7 this morning. Win 8.1 & PS 4, e.g.
ERROR: Method invocation failed because [System.Random] does not contain a method
ERROR: named 'new'.
At C:\Users\USERNAME\.vscode\extensions\ms-vscode.PowerShell-0.7.0\scripts\Star
t-EditorServices.ps1:103 char:1
+ $rand = [System.Random]::new()

Also includes several others e.g.:
ERROR: Method invocation failed be

[2016-08-19 14:17] jrotello commented on #243
I'm running into the same issue. The only message that stands out to me is...

[code]
[logs.zip](https://github.com/PowerShell/vscode-powershell/files/427167/logs.zip)

[2016-08-19 14:42] philkloose commented on #248
I'll just add that I'm seeing the same issue on Win7x64 (PowerShell v3).

[2016-08-19 15:52] GHRoss commented on #243
PowerShell. If I try using PowerShell x86, I get the following...

[2016-08-19 22:08] daviwil commented on #248
Hi guys, thanks for the report!  There's definitely an issue on older Windows systems, I'll try to ship an update early next week to address this.

In the meantime you can remove the installed PowerShell extension and download one of the older releases from our [releases page](https://github.com/PowerShell/vscode-powershell/releases).  Just extract the previous release package into `$HOME\.vscode\

[2016-08-20 07:37] rgl commented on #245
Here it is:

    powershell.exe started --
        pid: 1184
        exe: C:\Windows\Sysnative\WindowsPowerShell\v1.0\powershell.exe
        bundledModulesPath: C:\Users\vagrant\.vscode\extensions\ms-vscode.PowerShell-0.7.0\modules
        args: C:\Users\vagrant\.vscode\extensions\ms-vscode.PowerShell-0.7.0\scripts\Start-EditorServices.ps1 -EditorServicesVersion "0.7.0" -HostName "Visual Studio Co

[2016-08-20 07:54] rgl commented on #245
Installing PowerShell 5.0 fixes the problem (Windows 2012 R2 comes with PS 4.0).

[2016-08-22 02:52] daviwil commented on #245
Ahhh!  Yes, others have seen this issue too.  Thanks a lot for sending along these logs.  I'll track this issue over at #248 since a few people have reported it there as well.  Glad you were able to get around it!

[2016-08-22 02:52] #245 closed

[2016-08-22 03:47] chrisvanderpennen opened #249 "Editor no longer uses ambient PSModulePath when launched from command line"
I've got a DSC project set up that includes a folder for modules intended to be packed and deployed to a pull server, including some custom ones for our own software.  I created a small script, to the effect of:

[code]

in the project root, which until recently launched VS Code and provided completion over the DSC resources in `./src/modules`.

As of 0.7.0, this no longer works. Code launches, bu

[2016-08-22 03:51] chrisvanderpennen commented on #249
I just tried `"powershell.enableProfileLoading": false`, didn't help.

[2016-08-22 04:26] thirdwaffle commented on #243
Same problem here.

**OS Name:** Microsoft Windows 10 Pro (10.0.10586 Build 10586)
**VS Code:** 1.4.0 (Commit 6276dcb0...)
**PowerShell Extension:** 0.7.0
**PowerShell:** 5.0.10586.494

On the first attempt to start debugging, this gets written to DebugAdapterClient.log:

[code]

On the second attempt, this is written to the log:

[code]

This is the contents of PowerShell.log:

[code]

Also, it's

[2016-08-22 04:26] rkeithhill commented on #249
You can create a profile called `Microsoft.VSCode_profile.ps1` and configure $env:PSModulePath in there plus set `"powershell.enableProfileLoading": true`.   That should work on 0.7.0.

[2016-08-22 04:45] thirdwaffle commented on #243
FWIW I rolled back to version 0.6.0 of the extension and debugging works fine.

[2016-08-22 07:05] chrisvanderpennen commented on #249
Great, that worked.  Thanks!

I've just tinkered with making the PS host name configurable so you can load a project-specific profile, would you like me to open a pull request?

[2016-08-22 07:34] alexandrudima opened #250 "PowerShell on Mac OS X: Intellisense not working for cmdlets"
Moved from Microsoft/vscode#10731

---

From @DSotnikov

- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Add PowerShell extension,
2. Open a PowerShell script,
3. Type Get-P and press Ctrl-space - expected outcome is to see Get-Process - instead shows No Suggestions.

[2016-08-22 07:35] alexandrudima opened #251 "PowerShell on Mac OS X: error Debug adapter process has terminated unexpectedly"
Moved from Microsoft/vscode#10730

---

From @DSotnikov

- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Added PowerShell extension,
2. Created a simple file hello.ps1 with simple script: $i = 1,
3. Save the file,
4. Open folder containing the file,
5. Click Debug,
6. Accept default launch.js

[2016-08-22 12:24] legobytes commented on #239
Appears to be resolved in 0.7.0

[2016-08-22 13:49] daviwil commented on #250
Thanks Alex!

Hey @DSotnikov, I am going to make a guess and say that you might not have OpenSSL installed on your machine.  This will cause the language and debug services to fail to load.  If you have Homebrew installed you can just run `brew install openssl`and then restart VS Code.  Let me know if that works!

[2016-08-22 13:49] daviwil commented on #251
I believe this is caused by the same reason as I explained in #250 so I'm closing this for now.

[2016-08-22 13:49] #251 closed

[2016-08-22 14:21] DSotnikov commented on #250
Yes, that helped! Thank you so much!

You can close the ticket now.

[2016-08-22 15:21] theyanster opened #252 "[Erreur] Could not start language service: undefined"
Extension version: 0.7.0
Visual Code version: 1.4.0
OS: Windows 7 Pro SP1 x64, **French**
PowerShell version installed on system (output of $PSVersionTable):

[code]

Description:

Getting following errors when opening a PowerShell script after installing the PowerShell extension:

**[Erreur]** Could not start language service: undefined
**[Erreur]** Couldn't start client PowerShell Editor Service

[2016-08-22 15:22] theyanster commented on #252
![2016-08-22_11-16-54](https://cloud.githubusercontent.com/assets/21135311/17860212/a86b9790-685a-11e6-9af8-46f21a92cec4.png)

[2016-08-22 20:03] daviwil commented on #239
Interesting!  Not sure I did anything to fix it :)  Since it's working now I'll close this issue.  Please let me know if you see it again and I'll reopen to investigate.  Thanks!

[2016-08-22 20:03] #239 closed

[2016-08-22 20:12] daviwil commented on #252
Hey @theyanster, this is definitely an issue with the extension running on PS 3.0.  I'm going to try to get a fix out for this today or tomorrow.  You can check out the following issue for more details and a temporary workaround:

https://github.com/PowerShell/vscode-powershell/issues/248

I'll close this issue since we're already tracking it over at #248.  Thanks for the report!

[2016-08-22 20:12] #252 closed

[2016-08-22 20:15] daviwil commented on #249
I think we're actually looking at a different way to accomplish this through an additional settings parameter in the project's settings.json file.  Definitely would be interested in a PR for that!  If you want, we can discuss this a little bit more before you get started.

[2016-08-22 20:17] daviwil commented on #249
Oh, and regarding the initial issue, we've changed the way that we launch our language service using a new instance of PowerShell.exe so maybe the context doesn't get carried across anymore.  I'll look into it a bit more to understand the core issue.

[2016-08-22 20:18] daviwil commented on #250
Glad to hear it!  Closing the issue now.

[2016-08-22 20:18] #250 closed

[2016-08-22 20:50] phunkodelic opened #253 "Couldn't start client PowerShell Editor Services & Could not start language service: undefined"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. Start Visual Studio Code
2. Open a .ps1 file to edit.
3. I am getting two errors: Couldn't start client PowerShell Editor Services & Could not start language service: undefined

PowerShell Version 4.0
Windows 7 x64.
Visual Studio Power Sh

[2016-08-22 21:01] PlagueHO opened #254 "Error: Could not start language service: undefined with 0.7.0 on VSCode 1.4.0"
I get the following error when starting VSCode after installing the VSCode-PowerShell 0.7.0 extension in VSCode 1.4.0:
![editorserviceserror](https://cloud.githubusercontent.com/assets/7589164/17870727/b184a9cc-690c-11e6-8efb-6c89a482810c.png)

This is running on a Windows 7 machine. Other members of my Dev team have the same issue.

The plugin (0.7.0) works fine on VSCode-Insiders v1.5.0.

[2016-08-22 21:54] daviwil commented on #254
Hey Daniel, is this PowerShell v2 or v3 running on Windows 7?  We currently don't support PS v2.

Strange that VS Code 1.4 vs 1.5 Insiders would make a difference, it shouldn't have an impact...  Is this on the same machine?

[2016-08-22 22:45] PlagueHO commented on #254
Hi @daviwil  - It's PS4.0 on Windows 7.0. It is strange.

It works fine on VSCode 1.3.1 (I downgraded to confirm). I couldn't see any reason for this either. I'm just using the insiders build now anyway, so I'm not too worried. Thought it was worth reporting though.

[2016-08-22 22:47] daviwil commented on #254
Apparently there's some sort of issue in VS Code 1.4 that didn't show up until now.  Bizarre!  I think I've seen someone else with a similar error, I wonder if they've been affected by this one as well.

At any rate, thanks a lot for confirming which VS Code versions it was happening with!  I'll keep the bug open for now to track this.

[2016-08-22 22:50] PlagueHO commented on #254
I was mistaken about it working on VSCode Insiders 1.5.0-insiders. It has the same problem on that version. I was mistaken because I hadn't yet clicked a PS1 file (only XML and MD files) so thought it worked. So same error is 1.5.0-insiders. Sorry about that.

[2016-08-22 22:51] daviwil commented on #254
Hmmm OK, so maybe there is something different in the later VS Code builds that's causing this.  Thanks, I'll keep an eye out for that!

[2016-08-22 23:10] pl4x commented on #244
Same issue... after about 2 hours of debugging i finally decided to check out the bugs section.  Thanks for filing this, thanks for fixing this and thanks for the fix!

[2016-08-22 23:12] daviwil commented on #244
Hey Andrew, sorry for the trouble, I'll definitely get this fixed soon!  Working on fixes for an upcoming 0.7.1 update right now.

[2016-08-23 01:28] rkeithhill commented on #249
@daviwil I looked briefly at how we use child_proces.spawn() and it would appear that the child processes are supposed to inherent the env block.  So the env var should have been defined in the PowerShell process.  With ProcExp I do see it defined in some of the various code.exe instances.

Man, why does it load so many code.exe processes when I only have one editor instance open?

[2016-08-23 08:53] MoreThanHidden commented on #254
![vs](https://cloud.githubusercontent.com/assets/1351964/17885882/be0826b6-6951-11e6-83e0-15b5131c9f21.png)
Just confirming it doesn't work on VSCode 1.3.1 or 1.4.0, also this looks to be a duplicate of #253

[2016-08-23 10:06] PlagueHO commented on #254
@MoreThanHidden - good point about the duplicate. I note that #253 has the exact same configuration as I do:
Windows 7 x64, PS4.0

On all my Windows 10 machines this plugin and VSCode combo works just fine. Seems like it might be a Win7 or PS4.0 specified issue.

[2016-08-23 12:19] phunkodelic commented on #254
I am the someone else with this issue.  I have the same setup as PlagueHO does and have the exact same issue.

[2016-08-23 12:47] powerfischi commented on #254
The error results from syntax used that is only available in PS5.0 I guess.

e.g. in .vscode\extensions\ms-vscode.PowerShell-0.7.0\scripts\Start-EditorServices.ps1 the ::new Syntax is used throughout the whole file.

$tcpListener = [System.Net.Sockets.TcpListener]::new($ipAddress, $portNumber);

instead of

$tcpListener = New-Object System.Net.Sockets.TcpListener($ipAddress, $portNumber);

And tha

[2016-08-23 13:09] powerfischi commented on #254
After replacing all lines that use the ::new Syntax with New-Object, I get the following error in the logs:

powershell.exe started --
    pid: 10124
    exe: C:\WINDOWS\Sysnative\WindowsPowerShell\v1.0\powershell.exe
    bundledModulesPath: C:\Users\10490184\.vscode\extensions\ms-vscode.PowerShell-0.7.0\modules
    args: C:\Users\10490184\.vscode\extensions\ms-vscode.PowerShell-0.7.0\scripts\Star

[2016-08-23 16:56] daviwil commented on #249
Yeah, the problem is that VS Code is launching their plugin hosts in child processes and apparently those don't always inherit the env variables without Code doing some extra work.  This has actually caused a problem in VS Code running on Linux because Electron there is more strict about env var inheritance for some weird reason.

[2016-08-23 17:33] daviwil commented on #254
Thanks guys, I've already worked out all the issues in the PowerShell files but there is one more issue I need to take care of in the C# code for the language service.  Putting that together now; if it works I'll ship an update in a few hours.

Thanks for your patience!

[2016-08-23 17:59] rkeithhill commented on #254
@daviwil Check you email.  There is one other minor fix I'd like to get in there.

[2016-08-23 19:25] daviwil commented on #254
Ok, got things working again on Win7 with PSv3!  Going to prepare a pull request and try to get a release prepared shortly.

[2016-08-23 20:11] PlagueHO commented on #254
Thanks @daviwil , @rkeithhill , @phunkodelic for helping us (not by choice) Windows 7 users! Heroes of the downtrodden and forgotten :grinning:

[2016-08-24 11:37] phunkodelic commented on #254
No problem as things like this happen all the time.  I assume the new version that comes out will be 0.7.1 since it will have bug fixes in it?  Keep up the good work as I have gotten used to using Visual Studio Code and like it much better then the ISE or other tools I have tried.  Thanks!

[2016-08-24 11:50] mattmcnabb opened #256 "Debugging experience is lacking"
Right now the VSCode PowerShell debugging experience is lacking compared to using the ISE. A great example of this is debugging commands in a module. In the ISE I can set breakpoints in a module and then run the command in the integrated console to initiate the debugging session. This seems very natural.

In VSCode, since the debugger and the interactive terminal are separate, I have to have a scr

[2016-08-24 15:48] FaffeF commented on #46
Still getting this error with PowerShell v6.0.0-alpha.9 installed on OSX El Capitan.

The DebugAdapterClient.log is empty 😿

[2016-08-24 15:59] rkeithhill commented on #256
You can do that in VSCode with the Debug console (Ctrl+Shift+Y).  There is a prompt/text area at the bottom where you can type in commands when the debugger is paused or stopped at a breakpoint.

[2016-08-24 16:09] mattmcnabb commented on #256
@rkeithhill thanks, I guess I lost that info somewhere. I think I really need to spend some time on this. So do you have any advice for making module debugging a bit easier?

[2016-08-24 16:22] daviwil commented on #46
Hey @FaffeF, you may need to install OpenSSL on your Mac for the extension to work correctly. Check out our installation instructions here:

https://github.com/PowerShell/PowerShell/blob/master/docs/learning-powershell/using-vscode.md

Check out the 'NOTE' in the OS X installation instructions for VS Code.

[2016-08-24 17:12] daviwil commented on #254
Ran into a final issue while preparing the release, should get that resolved and new update shipped today.

[2016-08-24 17:13] daviwil commented on #254
@phunkodelic That's awesome to hear, thanks a lot!

[2016-08-24 17:22] rkeithhill commented on #256
For now I have a "DebugHarness.ps1` script in my modules that imports the module via a relative path and then calls the various functions in the module so I can debug it.  That script usually goes in my `test` directory.  It would be nice if the Integrated Terminal could be used as the PowerShell host for the extension's language & debug host.  Then you'd have a situation very similar to ISE.  In

[2016-08-24 20:11] DSotnikov opened #257 "Doc issue: broken link"
https://github.com/PowerShell/PowerShell/blob/master/docs/learning-powershell/using-vscode.md#editing-with-vs-code has a broken link at the end of the article:

[Debugging PowerShell in Visual Studio Code](https://github.com/PowerShell/vscode-powershell-ops/tree/master/vscode-powershell/examples) is linked to https://github.com/PowerShell/vscode-powershell-ops/tree/master/vscode-powershell/example

[2016-08-24 21:14] rkeithhill commented on #257
That's because that repo is currently private.  @daviwil Is the plan to make that public at some point?

[2016-08-24 21:23] daviwil commented on #257
Whoops!  That one slipped through the cracks.  Thanks for reporting that @DSotnikov!  I'll submit a PR over there to fix it.  The correct path is in this repo:

https://github.com/PowerShell/vscode-powershell/tree/master/examples

The other repo was only meant for pre-launch work and won't be made public :)

[2016-08-24 21:56] #246 closed

[2016-08-24 21:56] #248 closed

[2016-08-24 22:51] #244 closed

[2016-08-24 23:11] daviwil commented on #244
I just released an update to the extension, check it out and see if it resolve the issue for you!

[2016-08-24 23:12] daviwil commented on #246
Fixed in the latest release!

[2016-08-24 23:12] daviwil commented on #248
Just shipped a new release with a fix for this issue!  Let me know if it resolves everything for you.

[2016-08-24 23:13] daviwil commented on #254
Just shipped a new release with a fix for this issue!  Let me know if it resolves everything for you.

[2016-08-24 23:13] #254 closed

[2016-08-24 23:13] daviwil commented on #253
Just shipped a new release with a fix for this issue!  Let me know if it resolves everything for you.

[2016-08-24 23:13] #253 closed

[2016-08-24 23:15] ChrisLynchHPE commented on #166
I hope progress can be made on this issue.  Intellisense either becomes broken (with 'Loading...' and eventually just goes away), or extremely slow to generate the list (even on a blank line).  It makes development of PowerShell libraries really difficult.

I should also specify that this happens for me when I'm developing within my main module (which currently has >70K lines of code).  When I'm i

[2016-08-24 23:27] daviwil commented on #166
Hey Chris, I'm going to prioritize this issue now that the cross-platform work is done.  It's annoying me too at times.

@verysmallposhscript: How's the delay going for you in the latest releases of VS Code (1.4.0) and the PowerShell extension (0.7.10?

[2016-08-24 23:36] daviwil commented on #257
Got a PR out to fix this: https://github.com/PowerShell/PowerShell/pull/2053

[2016-08-24 23:50] ChrisLynchHPE commented on #166
Thanks!  I was using Visual Studio 2013, but VSCode is so much lighter overall.  I love the progress both projects have made.  Hopefully this performance bug can be squashed!

[2016-08-25 01:44] mattmcnabb commented on #256
@rkeithhill Thanks for all the info. For now I think I'll work with your approach and use a debugger script. This may end up enforcing better habits anyway and make my debugging processes more formal. I'm still interested in seeing where you guys go with debugging in the interactive terminal, but if I can get all my work done it's not a must-have.

[2016-08-25 06:43] maksims-prieditis commented on #244
It works like a charm! Thank you!

[2016-08-25 06:49] PlagueHO commented on #254
Looking good, have been using it all day! Thanks @daviwil - really appreciate your work on this.

[2016-08-25 07:51] FaffeF commented on #46
OpenSSL was already installed. Updated the extension to 0.7.1 this morning, and suddenly debugging worked!

- Then it worked again!
- Then it didn't work (same error, showing me launch.json)
- Then it worked a lot across different files.
- Then it failed a lot.
- After a restart debugging works again...

Log files look like below, with the error the only difference between successful and failed at

[2016-08-25 07:55] powerfischi commented on #254
Looking good here, too! Thanks a lot @daviwil and keep up the good work!

[2016-08-25 12:14] phunkodelic commented on #254
@daviwil -  Looks good here as I finally had a chance to try it.  Thanks a lot for fixing it!  Keep up the good work and keep those great new features coming.

[2016-08-25 13:41] daviwil commented on #257
PR has been merged.  Thanks for the report!

[2016-08-25 13:41] #257 closed

[2016-08-25 13:42] daviwil commented on #254
Awesome, thanks a lot for letting me know!

[2016-08-25 13:46] daviwil commented on #244
Excellent, thanks a lot for confirming!

[2016-08-25 13:48] daviwil commented on #243
I released 0.7.1 yesterday, has that improved anyone's experience?  On another issue (#64), @FaffeF has reported that debugging works more often for him now but still fails intermittently:

[2016-08-25 13:49] daviwil commented on #46
So sometimes it works and sometimes it doesn't work in the same session...  That's strange, but it gives me some clues.  Let's continue this discussion over on issue #243 because others are seeing similar issues there.

[2016-08-25 13:56] jrotello commented on #243
I'm having the same experience as @FaffeF. It seems to work the first time I debug when opening VS Code, but subsequent debugging fails until I close VS Code.

[2016-08-25 13:59] adbertram commented on #177
I would love to be able to fold at #region as well.

[2016-08-25 14:01] adbertram opened #259 "Add "function explorer" tree in the Explorer panel"
Is there any chance at getting a function explorer window like this?

![image](https://cloud.githubusercontent.com/assets/4306938/17972546/b8ec2840-6aa4-11e6-815f-32f8c9793d0a.png)

[2016-08-25 14:20] daviwil commented on #259
Absolutely.  I've got a plan to enable some helpful UI panels for the PowerShell extension within the next few months.  I'll make sure this is a part of it.

[2016-08-25 14:33] adbertram opened #260 ""Smart" function rename"
When I rename a function, I want to rename it wherever there's a reference. Here's a quick screencast for how it's done in PowerShell Studio. This is so helpful for me and would be for others as well.

http://www.screencast.com/t/jupQC2yVLz

[2016-08-25 14:35] adbertram opened #261 ""Smart" variable rename"
When I rename a variable in one place, I want to ensure all references to that variable are renamed that are in the same scope. Basically, I want to ensure when a rename a variable that anything that might be depending on that name is renamed as well in the same script.  Here's an example:

http://www.screencast.com/t/ggUIoKqSC

[2016-08-25 14:35] Liquidmantis commented on #250
Thanks!  I've had the same issue and this fixed it.  Maybe a note should be added to the install steps?

[2016-08-25 15:00] adbertram opened #262 "Color coding is off when using parameter validation attributes"
It seems like it's not "seeing" the end quote in the parameter validation attribute.

http://www.screencast.com/t/jdE5iVbYtLeI

[2016-08-25 15:06] adbertram opened #263 "Parsing error on DSC configuration is incorrect on OSX"
I see this error on a DSC configuration of mine, but I can compile MOFs from this config just fine. I'm on OSX. Is this because CIM is not on OSX?  If so, DSC parsing should be disabled altogether.

System.ArgumentNullException: Value cannot be null.
Parameter name: path1
   at System.IO.Path.Combine(String path1, String path2)
   at Microsoft.PowerShell.DesiredStateConfiguration.Internal.DscClass

[2016-08-25 15:20] MrsMad commented on #263
System.IO.Path is incorrect, use System.I.O.Path

On Thu, Aug 25, 2016 at 11:07 AM, Adam Bertram <notifications@github.com>
wrote:

[2016-08-25 15:43] DSotnikov commented on #250
David added a note to
https://github.com/PowerShell/PowerShell/blob/master/docs/learning-powershell/using-vscode.md#editing-with-visual-studio-code

On Thu, Aug 25, 2016 at 7:35 AM, Will Ernst <notifications@github.com>
wrote:

[2016-08-25 16:01] adbertram commented on #263
I don't have this reference anywhere in the DSC configuration.

On Thu, Aug 25, 2016 at 10:20 AM, MrsMad <notifications@github.com> wrote:

[2016-08-25 16:08] daviwil commented on #250
Let me know if I should also add that note to this project's README.md so that it shows up on the extension info page in VS Code. I wonder if users will even follow the link to the installation document?

[2016-08-25 16:14] rkeithhill commented on #262
The PowerShell extension doesn't actually do the PowerShell syntax colorization.  That TextMate file is provided with VSCode. However, you can submit this issue on that [project](https://github.com/PowerShell/EditorSyntax).  There are currently quite a few issues folks are raising.

Ultimately, you can only do so much with the regex approach before it starts to get too hard to manage.  The right a

[2016-08-25 18:28] Liquidmantis commented on #250
Thanks!  Much appreciated.  I ended up on that page while troubleshooting my issue as it seemed logical that I hadn't installed or configured something correctly so that seems sufficient to me personally.  I don't know that it makes sense to clutter the README with duplicate information.  If someone isn't going to follow the link to the installation document they probably wouldn't read the README

[2016-08-25 18:32] DSotnikov commented on #250
IMHO, ideally VSCode would check for OpenSSL (if it is a prerequisite) and
complain about the prerequisite not being met.

Right now, both VSCode and PowerShell extension get installed just fine and
then intellisense and debugging are failing with errors that are hard to
correlate with lack of OpenSSL.

Dmitry

On Thu, Aug 25, 2016 at 11:28 AM, Will Ernst <notifications@github.com>
wrote:

[2016-08-25 19:04] daviwil commented on #250
That's a good point.  The OpenSSL requirement is actually coming from PowerShell, but I wonder if there'd be an easy way for the extension to check for it without launching PowerShell...  Looks like checking for the existence of `/usr/local/opt/openssl` could be a good start.  What do you think?

[2016-08-25 19:07] daviwil opened #264 "Add check for OpenSSL on OS X before starting the language service"
The extension should check for the existence of OpenSSL on OS X before starting the language service.  If it cannot be found, the user should be directed to the documentation which guides them through the OpenSSL installation.

One way to check for existence could be to test for the existence of `/usr/local/opt/openssl`

[2016-08-25 19:07] daviwil commented on #250
Tracking that request here: https://github.com/PowerShell/vscode-powershell/issues/264

[2016-08-25 21:48] daviwil commented on #263
I haven't seen this issue specifically but I've seen others like it related to DSC, see this thread on Twitter:

https://twitter.com/andschwa/status/767799188109221889

It might be worth filing an issue on the [PowerShell/PowerShell](https://github.com/PowerShell/PowerShell/issues) repo to see if there's a bug there.

[2016-08-26 02:11] rkeithhill commented on #166
@daviwil It would be nice if VSCode would allow us to return the completion list in phases.  First we give VSCode the raw-ish completion data sans help.  Then as someone moves up and dow the list, VSCode queries to see if there is more "info" for that completion item.  Kind of like how they handle scopes today with the expensive property.  Perhaps it is only when expensive is true that VSCode asks

[2016-08-26 06:22] Jaykul commented on #256
Lately, my module dev pattern includes breaking out functions into their own files, and merging them back together during build. Because of that, I can test individual functions as scripts during development, so I've been playing with three ways of doing debug testing ...

0. If you're doing full-blown TDD, you can just have the `launch.json` invoke pester with the name of the current file as a `-

[2016-08-26 06:33] JustinGrote commented on #10
That would be great! For now I use the integrated terminal and dot source the scripts I need as a sort of poor man's REPL, but having it more seamless would be great.

[2016-08-26 06:52] sandy081 opened #265 "cannot read property onDidStop of null"
_From @maxcli on August 23, 2016 16:49_
- VSCode Version: 1.4.0
- OS Version: win 10 ver 1601

  I see error :   cannot read property onDidStop of null

Steps to Reproduce:
1.  debugging powershell,
2.

_Copied from original issue: Microsoft/vscode#10848_

[2016-08-26 06:52] sandy081 commented on #265
I wonder it could be related to the power shell extension on VS Code. I would suggest to check with the extension - https://github.com/PowerShell/vscode-powershell

Please reopen the issue if not so. Sorry for not being very helpful here.

[2016-08-26 06:52] sandy081 commented on #265
_From @maxcli on August 25, 2016 17:7_

i upgraded to 0.7.1 today. It actually makes it worse :-(
The program hangs when I hit F5
I will open a new issue since you closed this one.

[2016-08-26 07:05] rkeithhill commented on #265
@maxcli Can you zip up and attach the log files found under `$home\.vscode\extensions\ms-vscode.PowerShell-0.7.1\logs`.

[2016-08-26 10:24] sevenam commented on #154
+1 for this. I really, really miss this functionality!

I think this is the only thing missing to make Powershell ISE obsolete for my part.

As far as I can see, there is no real indication that code is running, even with the Powershell Output window up (other than any output that is to be written to shell is missing).

[2016-08-26 14:02] mattmcnabb commented on #256
@Jaykul thanks for you input on this. I've never really thought of doing it this way, especially the build approach without the function declaration. I also tend to write modules with one file per function, but I haven't merged them back together into a monolithic .psm1 - I tend to leave them as is and dot-source in the module file. I have seen your discussion around this in the practice and style

[2016-08-26 14:54] kilasuit commented on #246
@daviwil personally i dont feel this is "fixed" as realistically the default ruleset should be to have any rules that emit warnings or errors throw - exactly as it would be if you just ran Invoke-ScriptAnalyzer -Severity Error,Warning

We then can allow users like @alejandro5042 to disable the Aliases rule using their own rulesets *but* for the greater good of the community and those new to PowerS

[2016-08-26 14:58] sandy081 opened #266 "VS Code hangs when i launch Powershell debug with f5"
_From @maxcli on August 25, 2016 17:11_

VSCode Version: 0.7.0. (Installed Aug 25,16)
OS Version: win 10

I immediately hang

Steps to Reproduce:
1. set a breakpoint on 2nd line of ps1 code.
2. f5

_Copied from original issue: Microsoft/vscode#10966_

[2016-08-26 15:51] alejandro5042 commented on #246
I know I have already voiced my opinion on the other thread. I'm afraid the use of aliases is "religious" in nature and we'll only have to agree to disagree.

[code]

Why should I--an unrelated user--have to support the workflow of someone who is intentionally removing all their aliases? Aliases are part of the PowerShell language and are extremely useful for day-to-day usage. I shouldn't have to

[2016-08-26 16:19] rkeithhill commented on #246
IMO the extension shouldn't be super opinionated about this argument but it should make it easy for folks to get what they want.  Today, it's perhaps not as obvious as I'd like but you can create your own ruleset file and apply it globally to VSCode on your machine or to a specific workspace by adding and configuring the setting in your user settings file (or workspace settings file for the projec

[2016-08-26 16:26] alejandro5042 commented on #246
I agree with waiting to see how the issue settles with PowerShell proper. Naturally, the editor should support whatever default the community decides--but make it easy to override.

[2016-08-26 17:27] dfinke commented on #256
@Jaykul Interesting. I came across tags in the PowerShell repo tests. Still grokking. Any links on where python folks are using the inline harness approach?

[2016-08-26 17:49] maxcli commented on #265
Keith,
 here is the zip you asked for
Thanks.

On Fri, Aug 26, 2016 at 12:05 AM, Keith Hill <notifications@github.com>
wrote:

[2016-08-26 18:30] daviwil commented on #256
@rkeithhill Yeah, that'd be one downside of running PowerShell in the integrated terminal and hosting the language and debug services from within it.  Another option might be to launch the terminal and then use PowerShell's ability to attach to another process to jump into the language service's runspace, though I haven't assessed the downsides of that yet.

@Jaykul Awesome details, I like your se

[2016-08-26 18:33] daviwil commented on #166
Technically they do allow that right now, there's an initial "completions" request that gets the list and then the "resolve" request that asks for further details about the currently selected completion.  It could be that using Get-Help to get cmdlet details could be causing a slowdown.

[2016-08-26 18:52] daviwil commented on #246
@rkeithhill is correct, the main reason for cutting down the list of rules to a small set is that there was a lot of marker noise showing up in the average PowerShell file.  However, I do think it'd be great if you want to start a separate issue on this repo to get some community consensus about what that default ruleset should be.  I am happy to change it to whatever people thing is the right def

[2016-08-26 18:56] daviwil commented on #266
Hey @maxcli, can you try updating to version 0.7.1 of the PowerShell extension and see if the issue improves for you?  If not I'll get you to grab some logs so I can take a look.  Thanks!

[2016-08-26 18:58] daviwil commented on #265
@maxcli sorry, just realized there are two issues now :)  Looks like your attachment didn't show up on GitHub, can you come to this GitHub issue page and upload it directly?  Thanks!

[2016-08-26 18:58] daviwil commented on #154
Good point!  I'll do something about this soon.

[2016-08-26 19:00] daviwil commented on #10
I'm going to experiment a little bit and see if I can make something happen here for the 0.8.0 release of the extension.

[2016-08-26 19:03] dotps1 commented on #10
do it @daviwil!  DO IT!

[2016-08-26 19:13] JustinGrote commented on #10
I'd say it's not the highest of high priorities, but it is basically the only reason why I use ISE anymore, I'll flip back there if I need to "experiment" with a script because it's just way too cumbersome to start, debug, can't F9/paste some code into that same debug session easily to try it over and over in a particular context (e.g. middle of a foreach loop), etc., and then lose all my state if

[2016-08-26 19:17] daviwil commented on #10
@JustinGrote actually your suggestion isn't very far off from what I've got in mind.  In the next release of VS Code the debugger will be able to launch a console app directly into the integrated terminal.  They've also provided an API where the extension code can launch a debug session on its own.

Putting those two features together, I'll basically be able to auto-launch a persistent debug sessi

[2016-08-26 19:18] JustinGrote commented on #10
I agree seems worth a shot. We'll see how it goes, thanks again.

[2016-08-26 20:06] MarlonRodriguez commented on #243
Still a problem on 7.1

[2016-08-26 20:46] rkeithhill commented on #166
@daviwil Do we spin up the Get-Help task on another thread right after the initial request?  And do (should) we cache that information?  Ideally, the resolve request would come in and we'd either have the cache entry populated or not and return quickly.  Over time, the Get-Help bg task(s) would finish and fill in the cached data?  Just brainstorming a bit here.

[2016-08-26 21:39] daviwil commented on #166
Crap, GitHub totally wiped out the text I had written here :(  Anyway, we invoke Get-Help right after the user highlights one of the completion results they get back (the resolve step).  I've filed an issue on the PSES repo to track the need for a cache:

https://github.com/PowerShell/PowerShellEditorServices/issues/280

[2016-08-27 00:21] MarlonRodriguez commented on #264
That check on the path only works if you are using homebrew.  For MacPorts:
[code]
fixes it.

[2016-08-27 00:25] MarlonRodriguez commented on #250
I posted on #264 but just in case someone out there is looking for the fix for MacPorts:
`ln -s /opt/local/lib/libcrypto.1.0.0.dylib /usr/local/lib/
ln -s /opt/local/lib/libssl.1.0.0.dylib /usr/local/lib/
`

[2016-08-27 06:54] LaurentDardenne opened #267 "Use a customized rule (PowerShell script) with PSScriptAnalyzer ?"
Is it possible to use a customized rule (PowerShell script) with PSScriptAnalyzer and VsCode ?
Or is it preferable to use rules written in C# ?

[2016-08-27 14:22] smiket opened #268 "Error: Input fields of type 'PSCredential' are currently not supported."
I ran into this issue when debugging in Studio Code 1.4.0 with Powershell Extension 1.7.1.
Not sure if the exception is from Studio Code, or from the extension.

Input fields of type 'PSCredential' are currently not supported.
At C:\Dev Poc\PowerShell\Advisor TFS Crawler\GetTfsSettings.ps1:10 char:1
+ $creds = Get-Credential
+ ~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : OperationStopped:

[2016-08-27 14:42] daviwil commented on #268
This is coming from the extension, we currently don't support PSCredential in the debugger because we need to find a secure way to pass credentials from the editor to the debug server.  There may be a different way to solve this in the near future, fingers crossed!

Also related: https://github.com/PowerShell/vscode-powershell/issues/57

[2016-08-27 16:33] rkeithhill commented on #262
@adbertram I'm going to close this as the syntax colorization is handled by another [project](https://github.com/PowerShell/EditorSyntax).

[2016-08-27 16:33] #262 closed

[2016-08-28 19:04] rkeithhill commented on #267
At this point in time, the extension doesn't allow you to specify a path for `-CustomRulePath` which is how you'd supply your custom rules to Invoke-ScriptAnalyzer.  Ditto for `-RecurseCustomRulePath`.  It would be nice if this could be specified in the settings file but right now that only accepts the keys `ExcludeRules`, `IncludeRules` and `Severity`.

[2016-08-28 20:48] smiket commented on #268
Thanks David, sorry I missed the other report on this.  Excellent job on the extension - really nice product.

[2016-08-28 20:48] #268 closed

[2016-08-29 12:19] adbertram commented on #263
I don't get this error in the ISE or PowerShell Studio on Windows.

[2016-08-29 14:37] daviwil commented on #263
It's definitely caused by the open-source build of PowerShell.  That's why I think it'd make sense to file a bug on PowerShell/PowerShell to see if it's a bug or just a missing dependency.

[2016-08-29 14:40] daviwil commented on #262
I think this is actually fixed in the updated version of the syntax definition, we just have to work through some of the issues with it before we can roll it back out again.

[2016-08-29 16:54] pcgeek86 commented on #243
I'm getting this error message a lot. @daviwil

![image](https://cloud.githubusercontent.com/assets/466713/18059582/e4b307f2-6dd6-11e6-99ae-982458d4d55c.png)

[2016-08-29 16:57] daviwil commented on #243
Trevor, can you send me your logs?  Zip up this folder and e-mail it to me:

`$HOME\.vscode\extensions\ms-vscode.PowerShell-0.7.1\logs`

[2016-08-29 18:39] pcgeek86 commented on #243
@daviwil Sent them over -- can you verify the link works?

[2016-08-29 20:49] daviwil commented on #243
@pcgeek86 got it, thanks man!  I'll take a look at these in a little while.

[2016-08-30 00:13] kolinchang commented on #243
Hi guys, we are having the same problem.  We have downgraded to 0.6.1 for now and seems to run fine.

[2016-08-30 00:14] bullying520 commented on #243
I downgraded the extension to 0.6.1 and it fixed my issue.
Here are the steps if anyone is interested:

1. download the 0.6.1 from: https://ms-vscode.gallery.vsassets.io/_apis/public/gallery/publisher/ms-vscode/extension/PowerShell/0.6.1/assetbyname/Microsoft.VisualStudio.Services.VSIXPackage
2. Rename Microsoft.VisualStudio.Services.VSIXPackage to Microsoft.VisualStudio.Services.VSIX
3. uninstall

[2016-08-30 01:39] kilasuit opened #270 "Requirement to define the Default PSScriptAnalyzer ruleset & enable Custom (User Defined) rulesets in VSCode"
Following on from #246 I personally think that the default ruleset should be to include all Error & Warning Severity rules from PSScriptAnalyzer.

My reason behind this amounts to the following example
- New user to PowerShell, perhaps on Windows or now on Linux
- Likely to have copied someone else's script off of an online source (common scenario)
- Helps them to improve script writing for use ac

[2016-08-30 02:18] rkeithhill commented on #270
Try adding a file called settings.json to your `.vscode` folder with this content:
[code]
Then put a file called PSScriptAnalyzerSettings.psd1 in your workspace root folder (or under it somewhere - adjust the relative path above).

[2016-08-30 17:39] daviwil commented on #270
Hey Ryan, there might be a bug right now where the settings path you provide isn't being used.  I'll file a separate issue for that.

[2016-08-30 17:41] daviwil opened #271 "PSScriptAnalyzer settings path isn't being passed along"
It appears that we might not be passing along the `powershell.scriptAnalysis.settingsPath` setting to PSScriptAnalyzer in the language service.  This is likely caused by the recent changes to our PSScriptAnalyzer integration so I'll just need to wire that back up.

[2016-08-30 17:41] daviwil commented on #270
New issue is https://github.com/PowerShell/vscode-powershell/issues/271

[2016-08-30 19:50] pcgeek86 opened #272 "Syntax highlighting problem with ValidateScript parameter attribute"
# Issue
The `[ValidateScript({ ... })]` parameter attribute is commonly used to perform customized validation on parameter values that a caller passes into a PowerShell function. In Visual Studio Code `1.4.0`, running on Windows 10 Anniversary Update, with version `0.7.1` of the PowerShell extension, the syntax highlighting inside this parameter attribute is incorrectly handled.

![image](https://

[2016-08-30 21:17] rkeithhill commented on #272
@pcgeek86 Can you submit this on the http://GitHub.com/powershell/editorsyntax project?  That is the project that tracks the syntax highlighting for PowerShell in VSCode, as well as other editors.

[2016-08-30 21:43] antonyoni opened #273 "Debugger crashes after multiple runs."
Versions:
VSCode: 1.4.0
OS: Windows 10.1607
Extension: 0.7.1

After running the debugger multiple times, there is a 'powershell has stopped working' error:
![vscode-error-3](https://cloud.githubusercontent.com/assets/17799601/18108008/471076c4-6f02-11e6-885e-3800eccc60ee.png)
and the following in the Console:
[code]

Once this happens I get a 'Debuger adapter process has terminated unexpectedly' e

[2016-08-30 21:54] pcgeek86 commented on #272
Closing this issue. Please use this one instead: https://github.com/PowerShell/EditorSyntax/issues/17

[2016-08-30 21:54] #272 closed

[2016-08-30 21:58] daviwil commented on #273
Hey @antonyoni, can you zip up the following folder and e-mail it to me, `daviwil [at] microsoft.com`:

`$HOME\.vscode\extensions\ms-vscode.PowerShell-0.7.1\logs`

Thanks!

[2016-08-30 21:59] daviwil commented on #273
Could be related to this issue: https://github.com/PowerShell/vscode-powershell/issues/243

[2016-08-31 12:19] gpuido commented on #273
I experience the same bug, I'll send you my logs.

[2016-08-31 15:19] antonyoni commented on #273
I've just sent the logs. I also noticed some strange behaviour where not all expected output is showing in the Debug Console. If I run the following:

[code]

I get nothing in the output console. Uncommenting the warning still produces nothing. If the warning and error are uncommented, then I get everything including the error, but not "line 2". Stdout not getting flushed?

I don't think this was

[2016-08-31 15:40] rkeithhill commented on #273
I've seen this as well on 0.7.1.  If you set a breakpoint on line 1 and step over it, you'll see its output.  But when you stop over the last line, you probably won't - at least I don't.  Seems like a flushing issue as you will see the outputting while stepping but if the script executes fast enough, there is no output.

[2016-08-31 19:52] kilasuit commented on #271
Just to add I was making use of the settings.json that pops up when you click through the UI to User Settings and it seems just this setting doesn't seem to be "sticking" through.

Also for clarification if this was to be changed whilst VSCode is open would that then take instant effect (like adding keys or changing the integrated terminal does) or would it require for VSCode to be closed complete

[2016-08-31 23:24] alex-hempel commented on #273
I'm experiencing the same issue on the same config, although it's been like that for me since 0.7.0.

[2016-09-01 16:48] daviwil commented on #273
Thanks for sending your logs, guys, I am looking at them now.

@antonyoni: You're right, the output issue is related to the one you found.  Need to investigate that as well.

[2016-09-01 16:53] Glober777 opened #274 "Extension crashes on Ctrl+Hover"
Hi,

I'm getting the following errors when I hover over the mouse cursor over a cmdlet (implemented within the same module) holding a Ctrl button:
Error: Error from the extension host: channel closed
Error: Extension host terminated unexpectedly. Please reload the window to recover._

Here's the output from the Debugging Tools:
Ctrl+Alt+ keybindings should not be used by default under Windows. Off

[2016-09-01 17:09] daviwil commented on #274
Interesting!  That's the first time I've seen this one.  Looks like I'm trying to access a file that the process doesn't have authorization to access.  Just need to catch that exception.  I'm fixing some other bugs today so I'll throw this one in for the next patch update.

[2016-09-01 18:28] daviwil commented on #243
I just looked over a bunch of logs and I'm seeing some patterns in the error messages.  Looks like the connections to the debug service are being rejected at times even though the Editor Services logs say that the socket was initialized successfully.

I'll try to reproduce and fix the issue today.  If I can't immediately get a fix I'll still try to make some tweaks to the debugger client so that i

[2016-09-01 21:13] jackfruh commented on #243
I just want to say that Powershell on osx might be the best thing to happen since sliced bread.

[2016-09-01 22:48] daviwil commented on #243
I think I fixed the problem!  Filed an issue on the PowerShellEditorServices repo to track it: https://github.com/PowerShell/PowerShellEditorServices/issues/284

New release with the fix within 24 hours!  I'll close the bug after everyone has confirmed that the problem is gone.

[2016-09-01 22:48] daviwil commented on #273
I think I fixed the problem!  Filed an issue on the PowerShellEditorServices repo to track it: https://github.com/PowerShell/PowerShellEditorServices/issues/284

New release with the fix within 24 hours!

[2016-09-01 23:26] daviwil commented on #271
If you change the VS Code setting which specifies the Script Analyzer settings path, the change will be reflected immediately.  However if you change the contents of your settings file, it won't be reflected until you change the code in one of your files again.  This is because we aren't watching the contents of the settings file (yet).

I have a fix for this issue, will go out with the 0.7.2 rele

[2016-09-01 23:55] daviwil commented on #274
Hey @Glober777, could you gather more logs for me so I could see specifically what kind of path is causing this issue?  You can follow [these instructions](https://github.com/PowerShell/vscode-powershell#reporting-problems) to gather and send your logs.  Thanks!

[2016-09-02 05:54] Glober777 commented on #274
Hi @daviwil , I've just sent out the logs to your email. Please check.

By the way, it seems that the extension crashes not only when I hover the mouse pointer over functions, but for variables as well.

Thanks a ton!

[2016-09-02 15:44] bughit commented on #273
Why isn't 0.6.2 on the releases page?

[2016-09-02 16:31] daviwil commented on #273
Sometimes I just forget to do it :/ For this release I'm going to put together a script to automate the release uploads on GitHub so that they're always available.

[2016-09-02 18:34] daviwil commented on #274
Hey @Glober777, thanks for sending the logs!  I've got a fix prepared that should keep the language server from crashing in future cases like this.  The issue turned out to be caused by line 426 in your script:

[code]

It looks like some "curly" quotation marks made it into this line of code which caused .NET's path resolution methods to throw an exception.  I've added some exception handling and

[2016-09-02 19:00] daviwil commented on #264
Thanks a lot @MarlonRodriguez!  I'll include your fix in the troubleshooting notes.

[2016-09-02 21:08] daviwil commented on #134
Hey @tibmeister, did the new profile support solve your problem with loading third-party modules?  Let me know!

[2016-09-02 21:12] daviwil opened #276 "Create a script to automate pushing releases to GitHub"
Needs to do the following things:
1. Run `vsce package` and unpack to a folder
2. Gather extension files into a folder called `ms-vscode.PowerShell-<version>`
3. Zip up the extension folder to `ms-vscode.PowerShell-<version>.zip`
4. Gather the CHANGELOG.md notes for the latest release
5. Create a release using the [GitHub API](https://developer.github.com/v3/repos/releases/#create-a-release)
6. Up

[2016-09-02 22:01] #243 closed

[2016-09-02 22:01] #264 closed

[2016-09-02 22:01] #271 closed

[2016-09-02 22:01] #273 closed

[2016-09-02 22:01] #274 closed

[2016-09-03 03:20] daviwil commented on #265
Hey @maxcli, can you try out today's update of the PowerShell extension (0.7.2) and see if the problem has been resolved?

[2016-09-03 12:17] antonyoni commented on #273
@daviwil that's fixed it - haven't had to restart vscode yet today. thanks!

[2016-09-03 15:14] daviwil commented on #273
Excellent, thanks a lot for confirming!  Please let me know if you hit another crash, I've added some additional logging which should help diagnose future issues.

[2016-09-04 05:59] rkeithhill commented on #214
Hmm, tried this again with 0.7.2 and it eventually worked but git clone seems to be generating ErrorRecords for the clone progress messages.

[2016-09-04 14:47] daviwil commented on #267
@kapilmb is working on a new way for PSScriptAnalyzer to load settings which should support all of the parameters Invoke-ScriptAnalyzer can take.  Hopefully we'll have that in for 0.8.0!

[2016-09-04 21:38] adbertram commented on #264
It'd be nice if a link to some instructions on how to resolve this were added to the notification as well.

[2016-09-04 22:38] daviwil commented on #264
That's what the "Show Documentation" button on the notification does, did it not show up for you?

[2016-09-05 06:15] Glober777 commented on #274
@daviwil, it works like a charm now. Thank you so much! That line of code has caused me some other issues, but that's another story for another community :)

[2016-09-05 23:36] adbertram commented on #264
I'm blind. Thanks but I had originally installed it. It wasn't until I
updated again to this latest version that I saw that popup and Intellisense
isn't working.
When I run brew install openssl I get:

openssl-1.0.2h_1 already installed

On Sun, Sep 4, 2016 at 5:38 PM, David Wilson <notifications@github.com>
wrote:

[2016-09-06 13:57] dsmeltz commented on #151
v0.7.2

I'm using two Write-Output calls immediately after calling Invoke-RestMethod.  The two statements output to the console as expected in ISE.  When running the same script in VS Code, the two Write-Ouput statements don't output anything unless I set a break point on the first one and step over them one at a time.  These two statements are at the end of the file.

[2016-09-06 15:07] duffwv opened #277 "Debugger throws error when launched before Editor Services finishes initializing"
The debugger doesn't seem to work.  Either the bar on the bottom of vscode turns from blue to orange momentarily, and the debugger stops.  No variable information, ignores breakpoints, no output to the console.  Or I get the error: "Debug adapter process has terminated unexpectedly"
### System Details
- Windows 8.1
- VS Code version: 1.40
- PowerShell extension version: 0.7.2

[code]
### Attached

[2016-09-06 16:13] duffwv commented on #277
Although, I still git the error I mentioned occasionally.  It seems the times the bar just goes from blue to orange to blue again the debugger is running.

It appears there are two things that I didn't expect.

1. It ignores breakpoints on blank lines
2. It never displays the last line in the console, the debugger stops and clears at the end of script execution.

So,

1. I can't set a breakpoint o

[2016-09-06 17:27] daviwil commented on #151
Hey @dsmeltz, this is a known issue that we are investigating.  You can subscribe to this issue to be notified of future updates: https://github.com/PowerShell/PowerShellEditorServices/issues/138

[2016-09-06 17:27] daviwil commented on #277
Hey @duffwv, I checked out your logs, can you [turn on verbose logging](https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us) and capture logs again?

Regarding breakpoints on an empty line, this is not allowed by PowerShell.  You can't set breakpoints on an empty line in the PowerShell ISE either.  The output issue you reported is a [known issue](https://gith

[2016-09-06 17:31] daviwil commented on #264
Interesting, @RamblingCookieMonster mentioned the same thing to me yesterday.  If you follow the steps in the documentation page about [creating symbolic links](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#installing-openssl-via-macports) it should fix the problem for you.

Quick question before you do that though: was IntelliSense working for you without a p

[2016-09-06 17:34] daviwil commented on #274
@Glober777 awesome, glad to hear it's resolved!

[2016-09-06 17:36] daviwil commented on #214
Sounds like the ISE ;)  The situation is a little more complicated now due to stdout from native apps not being written correctly when using CoreCLR PowerShell.  Hopefully one of my approaches to using the native console host will help solve this problem for good...

[2016-09-06 17:50] RamblingCookieMonster commented on #264
@adbertram try this (probably a way to script this out, but, a bit busy, sorry!:

* `brew info openssl`
* Pick out the path to the latest, e.g. `/usr/local/Cellar/openssl/1.0.2h_1` - `find /usr/local/Cellar -name libssl.1.0.0.dylib` might also work.
* Create links mentioned above.

Example:

[code]

Cheers!

[2016-09-06 18:54] LaurentDardenne opened #279 "Debugger throw an exception : An attempt was made to transition a task to a final state when it had already completed"
### System Details

_Seven x64 Fr_
- VS Code version:   _1.4.0_
- PowerShell extension version: _0.7.2_
- $PSVersionTable :

[code]

I am experiencing a problem with the debbuger.
The debug console throw an exception :
_An attempt was made to transition a task to a final state when it had already completed_
### Attached Logs

[Demo File](http://ottomatt.pagesperso-orange.fr/Temp/IssueWithDebugger.

[2016-09-06 19:05] daviwil commented on #279
Hey Laurent, thanks for reporting this!  I'll have to dig in a bit to see why this exception is being thrown.  There might be a regression in the debugger's command evaluation logic somewhere.

[2016-09-06 19:07] daviwil commented on #266
Hey @maxcli, just checking back in, can you try this with the latest version of the PowerShell extension (0.7.2, released last Thursday) to see if the problem has been resolved?  If not, [follow these instructions](https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us) to grab logs so that we can take a look.

[2016-09-06 19:14] LaurentDardenne commented on #279
I had the problem with the version 0.7.1
I have not taken the time to find a simpler demo ...

[2016-09-06 19:20] daviwil commented on #279
No problem!  I can work with the current repro.

[2016-09-06 22:58] thirdwaffle commented on #277
Similar issues here.

**OS Name:** Microsoft Windows 10 Pro (10.0.10586 Build 10586)
**VS Code:** 1.4.0 (Commit 6276dcb0...)
**PowerShell Extension:** 0.7.2
**PowerShell:** 5.0.10586.494

I've had the "Debug adapter process has terminated unexpectedly" error once or twice. However, more annoyingly, nothing is written to the debug console unless the code hits a breakpoint.

I'm using this simple te

[2016-09-07 13:55] christianhv commented on #243
Hello,
I do not think that this issue is solved. I have to downgrade the extension in order to have the debug option.  Running now version 0.6.1. Greets

[2016-09-07 13:59] daviwil commented on #243
Hi @christianhv, could you capture logs using version 0.7.2 so that I can see what might be going wrong?  Full instructions can be found here:

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2016-09-07 14:01] duffwv commented on #277
Sorry I missed the verbose thing.  After eliminating my confusion by the breakpoint and final output things. I noticed some consistency regarding the error.  It seems to occur the first time I try to debug, afterwards it works.  I haven't used it long enough to see if it occurs over time.  I've included the logs with and without A/V and firewall on as the error occured the first time and then I qu

[2016-09-07 14:05] duffwv commented on #277
After that it occured to me to try to open vscode and wait.  If I open vscode and immediately start to debug it fails the first time.  I opened vscode and waited a full 30 seconds and ran it and it worked.  Seems to have a significant delay between opening vscode and the debugger service on my system.

[2016-09-07 14:05] daviwil commented on #277
Thanks a lot for putting those together!  I'll take a look and let you know what I find.  And thank you too, @thirdwaffle!

[2016-09-07 14:10] daviwil opened #281 "Provide progress indicator for language/debug server startup"
Some users are attempting to start debugging just after loading a PowerShell script for the first time in a session.  In some cases the language and debug servers have not yet finished initializing so there needs to be some indication in the UI that the extension isn't fully initialized yet.

[2016-09-07 14:11] daviwil commented on #281
Adding this to 0.8.0 but I might fix it in a patch release if it turns out to be a common source of confusion.

[2016-09-07 14:12] daviwil commented on #277
@duffwv ahhhh yes.  this is definitely a problem, there is an initial delay for the language service to start up.  I've just created a new issue (#281) to add some progress indicator to make it clear when the language/debug server is still in progress of starting up.

[2016-09-07 14:13] daviwil commented on #281
Also need to have a better error message when the user tries to run the debugger when PSES hasn't finished starting.

[2016-09-07 14:29] daviwil opened #282 "$psEditor commands should be registered as VS Code commands"
Currently commands that are registered using the `$psEditor` API are not being registered as commands with VS Code.  We'll need to start registering them so that we can take advantage of new extensibility points like context menus: https://github.com/PowerShell/PowerShellEditorServices/issues/290

[2016-09-07 14:36] pcgeek86 commented on #243
@daviwil FYI I just wanted to let you know that I'm currently not experiencing the bug on 0.7.2 with VSCode 1.4.0. Thanks for fixing it! Hopefully Christian's issue is an easy one to solve.

[2016-09-07 15:32] christianhv commented on #243
Hello,

I could not upload the zip file. You can find it as attachment in this email. 

Regards,
Christian

On Sep 07, 2016, at 03:59 PM, David Wilson <notifications@github.com> wrote:

Hi @christianhv, could you capture logs using version 0.7.2 so that I can see what might be going wrong? Full instructions can be found here:
https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-a

[2016-09-07 15:54] rkeithhill commented on #281
BTW, depending on what's in the user's profile this can take several seconds.  I've seen PowerShell take as much as ~15 seconds to cold start.  The 5.1 version of PowerShell will tell you how long it took to process your profile - giving you a strong hint that if you want PowerShell to load faster - lighten up your profile.  I wonder if we could do the same?  Display a progress message like "Proce

[2016-09-07 16:04] pcgeek86 opened #283 "First execution of PowerShell script changes context into debugger"
### System Details
- Operating system name and version:
- VS Code version: 1.4.0
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]
### Issue Description

When you open VSCode and run a PowerShell script, for the first time in the new session, the PowerShell Extension switches VSCode from the Explorer context, into the Debugging context. Subsequent executions do not do

[2016-09-07 16:11] pcgeek86 opened #284 "Script output does not get written to the debug console"
### System Details
- Operating system name and version:
- VS Code version: 1.4.0
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]
### Issue Description

Sometimes I run a PowerShell script, and the Debug Console shows nothing.

Sometimes I run a PowerShell script, and the Debug Console shows output, but not Error stream output.

Sometimes I run a PowerShell script and

[2016-09-07 16:54] daviwil commented on #283
This is VS Code's doing and I don't think there's any way for me to turn it off.  Might be worth filing a feature request to them to provide an option to not automatically jump to the debugging workspace when debugging starts for the first time.

[2016-09-07 16:57] daviwil commented on #281
Based on the way I do startup I'm not sure if I'll be able to give updates to the UI between those phases.  I launch powershell.exe and it basically takes care of loading the PSES module.  Maybe after loading is complete I could give some message if a certain part of the process takes longer than a certain time expectation?

[2016-09-07 16:59] daviwil commented on #284
Yep, this is a general problem with output flushing at the moment.  I've got an issue filed at the PS Editor Services repo to track the work for this: https://github.com/PowerShell/PowerShellEditorServices/issues/138

[2016-09-07 17:03] daviwil commented on #243
Hi Christian, unfortunately GitHub does not include e-mail attachments when you reply to issue mails.  Can you email your zip file to daviwil [at] microsoft.com?  Thanks!

[2016-09-07 17:17] daviwil commented on #224
Hey @wellsluo, I think I might have fixed this issue in release 0.7.2, can you try it out and let me know if your problem is resolved?  See this issue for more details: https://github.com/PowerShell/vscode-powershell/issues/274

[2016-09-07 18:43] pcgeek86 commented on #284
@daviwil Thanks, this is a show-stopper for VSCode. I'm using the PowerShell Console host to run tests for now, instead. Still authoring in VSCode.

[2016-09-07 21:31] bughit commented on #284
can you make 0.6.2 available, it;s the last working verion

[2016-09-07 21:38] daviwil commented on #284
Hey @bughit, there's a set of steps you can follow here to get back to 0.6.2 (just change the version from 0.6.1 to 0.6.2):

https://github.com/PowerShell/vscode-powershell/issues/243#issuecomment-243296211

Is it the script output issue that's blocking you or something else?

[2016-09-07 22:16] bughit commented on #284
yes

[2016-09-08 00:09] adbertram commented on #264
Thanks @RamblingCookieMonster! That did it.

[2016-09-08 00:09] adbertram commented on #264
@daviwil Yes. This was working fine before I updated.

[2016-09-08 01:25] tibmeister commented on #134
Yes, after creating the Microsoft.VSCode_profile.ps1 file and copying the contents of the standard profile file into this then things began working as expected.

[2016-09-08 05:08] sethreidnz opened #285 "Debug adapter does not restart correctly when client connection gets forcibly terminated"
**Please fill in these details so that we can help you!**
### System Details
- Operating system name and version: Windows 10
- VS Code version: 1.4.0
- PowerShell extension version:     0.7.2
- Output from `$PSVersionTable`:

[code]
### Issue Description

I have been trying to debug PowerShell and lately it has been crashing powershell itself. From a fresh restart it is fine and works. But if I st

[2016-09-08 08:51] itzik-h commented on #224
Tested with 0.7.2 - The language service is not crashing.
It reports this error in the log:
`[ERROR] - Method "ResolveRelativeScriptPath" at line 332 of C:\projects\powershelleditorservices\src\PowerShellEditorServices\Workspace\Workspace.cs`
Yet there is some other problem: The path the log stat as problematic is not a path at all - it is a function!.
I have created a simple test case:
1. Put the

[2016-09-08 08:53] itzik-h commented on #171
Added test sample to #224

[2016-09-08 12:02] christianhv commented on #243
I already did that. Thanks

Kind regards,
Christian.

On Sep 7, 2016, 7:05 PM +0200, David Wilson <notifications@github.com>, wrote:

[2016-09-08 13:53] daviwil commented on #224
Hmmm, weird!  Thanks for sending the logs and test files, I'll take a look at this today.

[2016-09-08 13:55] daviwil commented on #285
Thanks for sending the logs Seth!  I'll take a look today.

[2016-09-08 14:02] daviwil commented on #134
Thanks for confirming that Jody!  I'll go ahead and close this issue.

You can run PowerShell and the PowerShell VS Code extension on Linux and OS X right now:

https://github.com/PowerShell/PowerShell
https://github.com/PowerShell/PowerShell/blob/master/docs/learning-powershell/using-vscode.md

The profile support will work the same way as it does on Windows, just with OS-specific profile paths.

[2016-09-08 14:02] #134 closed

[2016-09-08 14:03] daviwil commented on #264
Damn, so apparently my path check gave a false negative for Homebrew installs...  I'll need to look into that.

[2016-09-08 14:07] daviwil commented on #243
Christian, I haven't received the logs in a separate e-mail (not in my junk mail either).  If you sent the logs to the e-mail address you are replying to now, that goes to GitHub, not my e-mail address.  Can you send a new e-mail directly to daviwil [at] microsoft.com with the logs?  If you've done that already, I apologize, but I never received it.

[2016-09-08 14:14] daviwil commented on #238
Hi @stej, I apologize for the long delay in replying to this.  We're tracking all of our syntax highlighting issues over at the [PowerShell/EditorSyntax](https://github.com/PowerShell/EditorSyntax) repo now.  I've moved your issue there to be addressed.  Thanks!

[2016-09-08 14:14] #238 closed

[2016-09-08 14:20] daviwil commented on #230
I noticed that recently using the OmniSharp extension too.  Agreed, that would be nice to have.  I think it should be fairly easy to add logic for.  At the very least it'd be nice to have a launch.json file.  Anything else that might be nice to have?

[2016-09-08 14:22] daviwil commented on #240
Hi @deshiknaves, I apologize for the long delay in responding to this issue.  This could be a general issue with VS Code but I'll take a look today to see if we caused it somehow.

[2016-09-08 14:36] daviwil opened #286 "False negative for OpenSSL check when installed via Homebrew?"
@adbertram [has reported](https://github.com/PowerShell/vscode-powershell/issues/264#issuecomment-245457563) that users on OS X who installed OpenSSL via Homebrew have been getting the "OpenSSL not installed" message even though the language service was working for them in the 0.7.1 release.  I'll need to experiment to see whether PowerShell works properly with Homebrew installs without the /usr/l

[2016-09-08 14:36] daviwil commented on #264
Tracking the false negative problem here: https://github.com/PowerShell/vscode-powershell/issues/286.  Thanks Adam!

[2016-09-08 18:03] justsayno commented on #285
Thanks let me know if you need anything else. It's pretty consistent I can
repro it every time I restart. Frustrating cuz it forces me back to the
dreaded PowerShell ISE :-)

On 9/09/2016 1:55 am, "David Wilson" <notifications@github.com> wrote:

[2016-09-08 21:11] LaurentDardenne commented on #279
VScode version 1.5.0 seems to correct the problem.

[2016-09-08 21:16] daviwil commented on #279
Hmmm, not sure how it did that, but let me know if you see it again :)

[2016-09-08 22:30] daviwil commented on #224
Hey @itzik-h, can you tell me what this code is supposed to do:

[code]

The dots `.` that you're using before the opening curly brackets `{` seem to be causing the language service to think those are dot-sourcing references.  I'm going to fix that issue on my side, but I'm genuinely curious about what that this code is supposed to accomplish!

[2016-09-09 06:16] itzik-h commented on #224
This code will add a function to an object (a sort of a class workaround for PowerShell ver < 5).
If you omit the "." -> when you call `init` it will return the function body itself instead of running it.
(This is obviously just a sample function and it is not doing any thing special, I just noticed the bug with functions similar to this one).

[2016-09-09 06:44] rasmus91 opened #287 "Feature Request: Prompts for things like 'Get-Credential'"
### System Details

- Operating system name and version: Windows 10 Enterprise
- VS Code version: 1.5.1
- PowerShell extension version: Newest available
- Output from `$PSVersionTable`:

[code]

### Issue Description

Well, it's really a matter of  certain features not functioning very well, like for instance if you open Powershell and do: "Get-Credential -Message 'Some Message" -UserName 'john@do

[2016-09-09 13:47] daviwil commented on #287
Hey @rasmus91, support for anything requiring secure prompts has been on our backlog for a while: #57.  I am about to start working on a new way of integrating a PowerShell terminal into VS Code that should hopefully solve this problem for good.  I'll go ahead and close this issue since we're already tracking that feature request, but thanks for filing it!

[2016-09-09 13:47] #287 closed

[2016-09-09 13:48] daviwil commented on #224
Cool, thanks for the explanation!  I've got the issue fixed now, it will go out with the next update (0.7.3) in a few days.

[2016-09-09 14:49] grzegorz-silarski opened #288 "JobSourceAdapter type not found while running the workflow"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10.0.10240
- VS Code version: 1.5.1
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with invoking a workflow from VS Code.
Please find code below:

### Attached Logs

Follow the instructions in

[2016-09-09 14:59] #288 closed

[2016-09-09 16:33] rkeithhill opened #289 "0.7.x lost the ability to debug with PowerShell x86"
### System Details

- Operating system name and version:
- VS Code version: 1.5.1
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.1.14393.103
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10

[2016-09-09 16:51] daviwil commented on #289
Yeah, now you have to set the x86 mode setting for Editor Services because the language and debug server are running in the same process.  I did a bad job of transitioning and communicating that, will add some documentation about it.

[2016-09-09 17:29] daviwil commented on #288
Hey Grzegorz, did you mean to close the issue so soon?  I'd certainly like to know more about the problem you ran into.

[2016-09-09 22:41] rkeithhill commented on #289
Hmm, if we had launch outside the debugger then attach to process, then we'd be set.  :-)

The way it is now is more or less how ISE works.  Except that I can pick the ISE I want to start (x86/x64).  With VSCode I have to tweak a user setting and reload VSCode.  And tweak and reload to switch back to x64.  Not the end of world but not ideal either.

[2016-09-09 22:50] daviwil commented on #289
Yeah, definitely not ideal.  I suppose it would be nice to easily switch to a different bitness for debugging purposes but that will complicate things with the new design.  Not totally out of reach though, I think we might be able to accomplish this with a separate PowerShell session.  Once I get the new integrated terminal approach going it'll be worth looking into this again.

[2016-09-09 22:53] daviwil opened #290 "Bring back selectable bitness (x64, x86) for script debugging"
In the move to the new PowerShell-based hosting model for the language and debug servers we lost the ability to allow the user to easily select which bitness of PowerShell to use (x64 or x86) via the debugger configuration UI.  We need to bring this back somehow.

Currently my thinking is that we can use the debug adapter's new "launch in integrated terminal" setting to launch an independent Power

[2016-09-09 22:53] daviwil commented on #289
Filed a separate issue to track that: #290

[2016-09-10 05:27] z442a9 opened #291 "Extension should notify user when Constrained or Restricted language mode is enabled"
**Please fill in these details so that we can help you!**
### System Details
- Operating system name and version: Windows 10 Enterprise 64-bit (1607)
- VS Code version: 1.5.1
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]
### Issue Description

Everytime when I open any PS script with VS Code and PS extension installed I get these errors:

Error: Could not start lan

[2016-09-10 14:07] GHRoss commented on #243
Christian, are you using Windows 7?

I am still experiencing the same issues on my personal Windows 7 laptop (didn't upgrade, bootcamp Macbook Pro drivers for my generation don't exist for Windows 10 -1) BUT my work PC is Windows 10 and seems to be working fine with the latest update.

[2016-09-10 14:44] daviwil commented on #243
@GHRoss great question, I'll check it out on Windows 7 on Monday.  Too many OS versions and platforms to keep up with now :)

[2016-09-10 14:54] GHRoss commented on #243
I'm now having problems with the latest version of VS Code and the PowerShell extention!

I get no output in the debugger now.

Tested on Windows 10 and Windows 7. Script gives expected output in ISE.

[2016-09-10 15:35] daviwil commented on #243
What happens if you set a breakpoint somewhere near the end of the script, does it get written out when you run again?  If so, could be another manifestation of issue #284.

[2016-09-11 08:38] GHRoss commented on #243
Almost certainly this is the same issue

Some scripts will work, others do nothing.

Write-Output doesn't work, for example. But that's a separate issue now.

I'd say this bug is resolved?

[2016-09-11 23:27] deshiknaves commented on #240
Without the extension, it doesn't highlight the $ before the variable name, so I figure there is some logic in the plugin that does that, but isn't updating the selection when copying it.

[2016-09-12 01:04] justsayno commented on #285
Any progress on this? It's has happened to me about 4-5 time in the last 30 minutes... I love using vsCode for this so much more than Powershell ISE that I just restart my computer and keep going :-)

Do you know how I could restart the powershell process without a reboot?

[2016-09-12 01:58] daviwil commented on #285
Hmmm, you shouldn't have to restart your computer to resolve the issue. Does restarting VS Code not make the problem go away? I was looking over your logs on Friday and nothing was fully jumping out at me yet. Will take another look tomorrow!

[2016-09-12 02:02] justsayno commented on #285
No it seems that vsCode is crashing the powershell process. And if I restart it still is crashed. It's almost like it keeps a record of which process it spawned and won't just spawn another one... I can successfully debug without restarting in PowerShell ISE after vscode crashes so I don't think its a system wide issue now that I think about it.

[2016-09-12 18:30] ConstantineK commented on #243
I had a similar error where write-output is not shown, after several tests I was able to trigger the "Debug adapter process has terminated unexpectedly" in VS Code: 1.5.1/Windows 8 version 6.3.9600 but the issue is intermittent.

I reduced my test down to a document which contains two lines:
`"test"`
`write-output "test"`

If I add a breakpoint or throw an error via typing invalid commands I will

[2016-09-12 18:31] bughit commented on #243
download the 0.6.1 from: https://ms-vscode.gallery.vsassets.io/_apis/public/gallery/publisher/ms-vscode/extension/PowerShell/0.6.1/assetbyname/Microsoft.VisualStudio.Services.VSIXPackage
    Rename Microsoft.VisualStudio.Services.VSIXPackage to Microsoft.VisualStudio.Services.VSIX
    uninstall the current 0.7.1
    open a powershell console
    locate to your vs code installation folder
    run "

[2016-09-12 20:47] daviwil commented on #285
@justsayno It only crashes the current session's process.  Each new VS Code session creates a new powershell.exe process.  It's likely that the next time you start VS Code you are attempting to start the debugger too fast before the next powershell.exe starts up.

Issue #281 should address that so it's more clear that the language/debug server hasn't fully initialized yet.  For now if you wait ano

[2016-09-12 20:53] justsayno commented on #285
Thanks for that. Any ideas on what is crashing it? It's very intermittent and I can't really figure out if it's something that my scripts are doing (I don't **think** so)

[2016-09-12 21:01] daviwil commented on #291
Hi @z442a9, it appears that your machine must have some policy set which enabled [ConstrainedLanguage mode](https://technet.microsoft.com/en-us/library/dn433292.aspx).  This is preventing the language service from loading successfully.

Open a normal PowerShell prompt and run this line and let me know if the output is `ConstrainedLanguage` or `RestrictedLanguage`:

[code]

You may have to talk to

[2016-09-12 21:05] daviwil commented on #285
Your folder contained a lot of logs and it was hard to pinpoint where the crashing was happening.  How reliably can you reproduce the issue? If you can do it pretty reliably, could you clear out your logs folder and reproduce the issue then send me the targeted logs?  If it's not easy to reproduce I'll just continue sorting through the logs to see what I can find.

[2016-09-12 21:09] daviwil commented on #243
Hey @ConstantineK, #284 is open, you should subscribe to that issue to be notified when the issue is fixed.

[2016-09-12 21:15] daviwil commented on #240
So I realized what was causing the confusion here: when you have the PowerShell extension installed, it uses the extension's language server to find "occurrences" of the symbol under the cursor.  Since the language server knows how to identify the `$` on the variable name, it gets included with the highlight on the variable when you put your cursor on it.  This is confusing because it looks like t

[2016-09-12 21:15] #240 closed

[2016-09-12 21:27] daviwil opened #292 "Update OpenSSL check on OS X to look for Homebrew install correctly"
According to information @mklement0 found [here](https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md#os-x-1011), the PowerShell libraries on OS X have the path to Homebrew's OpenSSL libraries baked in so it is not necessary to check for the `/usr/local/lib` path for those libraries.  This has been raising false-negative notifications for some users on OS X when PowerShe

[2016-09-12 21:38] daviwil commented on #285
Actually, I think I do see the issue now.  I'm not sure what's causing it, but it looks like the connection between VS Code and the debugger is getting forcibly closed at times.  This could be an unexpected issue with the debugger client but I'm not quite sure yet.

At least on my side, there's an issue where this type of forced close isn't causing the debug adapter to shut down correctly so it's

[2016-09-12 21:42] justsayno commented on #285
Yes I will. I will clear my logs now as I am working on a PowerShell scripts and it might happen. Thanks for your help.

[2016-09-12 22:18] christianhv commented on #243
Hello,

Sorry for my late reply. I did send the log files. I will check again but I think already did. Yes, indeed. I am using windows 7.

Regards.

[2016-09-12 22:47] daviwil commented on #224
Since I believe @wellsluo's issue is fixed, let's track your issue over at #171 now @itzik-h.  I'll close this issue for now, @wellsluo, let me know if the issue is still present for you in 0.7.2!

[2016-09-12 22:47] #224 closed

[2016-09-12 22:51] daviwil commented on #281
I've decided to do this work for 0.8.0 since there are a few things I want to do to make it easier for users to easily understand the state of PSES when the extension is running:

- [ ] Implement new status bar item like the C# extension which makes it obvious whether PSES is initializing, running, or failed.
- [ ] Create a new output channel which will contain client-side PSES log output
- [ ] Ho

[2016-09-12 22:54] daviwil commented on #277
Still waiting to hear back from the VS Code team for a way to display a specific error from the debug adapter at startup (https://github.com/Microsoft/vscode-debugadapter-node/issues/57).  I might end up fixing this for 0.8.0 along with related issue #281.

[2016-09-12 22:57] daviwil commented on #286
Looks like I forgot about this issue when creating #292.  @mklement0 discovered that the PowerShell distribution for OS X knows how to find Homebrew's installation of OpenSSL so we need to account for that in the extension logic.  I'll close this issue and track the fix over at #292.

[2016-09-12 22:57] #286 closed

[2016-09-12 23:23] daviwil opened #293 "Run PSES's PowerShell session inside of the integrated terminal"
Recent improvements to VS Code's APIs, specifically the new `createTerminal` API, have made it possible for our extension to programmatically launch PowerShell inside of the integrated terminal UI.  This will allow the user to directly interact with the PowerShell session in which PSES is running for a complete integrated console experience that works even while debugging a script.

**Things to co

[2016-09-12 23:24] daviwil commented on #217
Moving this to 0.8.0 because I might be able to get rid of it entirely if the new integrated terminal approach (#293) works out!

[2016-09-12 23:40] christianhv commented on #250
Hello,

I have installed OpenSSL and "symlinked", but I am still not able to debug in VSCode.

What should be any other thing to take into account?

Suggestions?

Christian

[2016-09-13 03:43] z442a9 commented on #291
Hi

$ExecutionContext.SessionState.LanguageMode = ConstrainedLanguage

[2016-09-14 10:09] szotyii commented on #151
v0.7.2
Any luck with the investigation?
Thanks!

[2016-09-14 14:37] daviwil commented on #151
I've got a better way in mind to solve this problem, going to try and make it happen for the next big release (0.8.0)!

[2016-09-14 15:00] daviwil commented on #250
@christianhv can you capture logs and e-mail them to me?  If you've done those steps and it still doesn't work then maybe there's another problem.

[2016-09-14 19:09] daviwil opened #294 "Integrate Plaster into the PowerShell extension"
The time has come for Plaster to get integrated into the PowerShell extension so that it can provide the "New Project" and "New File" experiences for PowerShell.  At first it may be prudent to use a more hard-coded integration with top-level commands being registered in the package.json file.  These commands will cause requests to be sent to PowerShell Editor Services to have Plaster be invoked so

[2016-09-14 20:54] daviwil commented on #281
I've pushed a branch with the initial work on this here: https://github.com/PowerShell/vscode-powershell/tree/daviwil/extension-status.  Will continue after I've completed some other things.

[2016-09-16 14:18] sgtoj commented on #3
Would this allow for symbols search and goto for PS 5.0's classes and enums?

[2016-09-16 14:24] daviwil commented on #3
Yep, that's something we haven't finished yet.  Seems like you had commented on the Editor Services issue for this a while back:

https://github.com/PowerShell/PowerShellEditorServices/issues/14

Sorry about that :/  I'll see if I can get some help to get that implemented for the 0.8.0 release!

[2016-09-17 13:28] szotyii commented on #151
When can we expect the next big release?
Thanks!

[2016-09-17 14:39] daviwil commented on #151
I'm shooting for the first couple weeks of October.

[2016-09-17 18:58] MaximoTrinidad opened #295 "VS Code "powershell.developer.powerShellExePath" not changing path to executable"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows Server 2016 TP5
- VS Code version: 1.5.2
- PowerShell extension version: PowerShell 6.0.0-alpha.10
- Output from `$PSVersionTable`: See attached image.

Please see attached image.
![vscodeposhpathissue](https://cloud.githubusercontent.com/assets/19892435/18610214/40f98614-7ce

[2016-09-17 19:42] rkeithhill opened #296 "try snippets use "catch [System.Exception]" and there's a potential bug with this approach"
If you specify multiple catch statements and use [System.Exception] for the catch all, that clause will always execute.

### System Details

- Operating system name and version: Windows 10 1607
- VS Code version: 1.5.2
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]

### Issue Description

Here is the issue. Look at this code:
[code]

Which catch statement do you exp

[2016-09-17 19:58] daviwil commented on #296
Weird, good catch!

[2016-09-17 20:03] daviwil commented on #295
The "Code Runner" extension isn't owned by us and doesn't use this setting.  If you check the PowerShelllog.txt you'll see that the PowerShell extension is indeed using the PowerShell exe path that you specified.  You can also see this in the Editor Services log:

[code]

Maybe the "Code Runner" extension has its own setting?

[2016-09-17 20:48] rkeithhill commented on #296
Tracking the PowerShell issue here https://github.com/PowerShell/PowerShell/issues/2293

[2016-09-17 20:49] #296 closed

[2016-09-17 20:53] MaximoTrinidad commented on #295
Hi David,

I could find any custom settings for PowerShell.

So, what's the VS Code way to run and see the results of a PowerShell script? How can I verify that's executing the changed execute path?

I find "Code Runner" practical but that's because I'm trying understand VS Code environment settings.

Any hints?

Greatly Appreciated,
Max

[2016-09-17 20:59] rkeithhill commented on #295
In the current version, the output from your script is displayed in the debug console.  You can open the debug console by pressing the little terminal icon in the upper-right part of the Debug tool window.  Or on Windows press `Ctrl+Shift+Y`.

[2016-09-17 21:00] daviwil commented on #295
The best option for simple script evaluation is to select some text and press F8. We've got a crude interactive console support which doesn't let you type commands but you can evaluate selections in your script. You can type `$PSVersionTable` into your file, select it, then hit F8 to see the version info of the PowerShell edition you're running in.

The next major release of the PowerShell extensi

[2016-09-17 23:40] MaximoTrinidad commented on #295
That's Great!  Thanks for your quick response.  I was going to showcase this on my PowerShell User Group on Sept.29th with lots of other goodies.

Thanks again,
Maximo Trinidad
:)

[2016-09-17 23:44] MaximoTrinidad commented on #295
Thanks Keith!

[2016-09-20 01:23] zaxebo1 commented on #295
please release the binary flatpak format (so that one can install it across linux distributions and also without administrative access)
as of now, releasing only in .deb and .rpm format forces one to install in global admin places with admin rights mode only.

please see http://www.flatpak.org  for details

[2016-09-20 11:19] sgtoj opened #298 "Debug Support for Any Exceptions and Uncaught Exceptions"
Is it possible to debug support to enable break points for: Any Exceptions, or Uncaught Exceptions?

![VS Code Debug Breakpoints](http://i.imgur.com/MKna0uD.png)

[2016-09-20 14:26] daviwil commented on #298
I'm not sure how this would work in the case of PowerShell.  What do you think, @rkeithhill?

[2016-09-20 14:30] daviwil commented on #295
Hey @zaxebo1, this would be better as a request to the Visual Studio Code team since our extension gets installed as part of that.  It seems that another user has already filed this request there, so they're aware of it already: https://github.com/Microsoft/vscode/issues/7112

[2016-09-20 15:05] rkeithhill commented on #298
I've wanted this for a while but I think PowerShell would need to be modified to support this.  Who's the debugger expert on the team? Paul H?

FYI, I filed a UserVoice suggestion on this back in March - please vote it up: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/12843021-enhance-set-psbreakpoint-to-allow-us-to-set-except

[2016-09-20 17:21] daviwil commented on #298
Yep, @PaulHigin is the PowerShell debugging expert.

[2016-09-20 18:16] PaulHigin commented on #298
This is a fairly common request and something we have in our backlog, but is impossible to implement with our current script debugger.  The reason is that the script debugger runs on the script execution thread and requires running script to work.  But once an exception is thrown on the script execution thread the script is no longer running and the script debugger no longer works.  At this point

[2016-09-20 18:26] daviwil commented on #298
The mixed code/script debugger would be extremely nice to have and would be pretty easy to surface in VS Code.

[2016-09-20 18:29] lzybkr commented on #298
That prototype generated a pdb and code that the C# debugger could consume - it was useful, but not a PowerShell experience.

[2016-09-20 21:25] clumnah opened #299 "Output not displaying in Debug Console for Powershell"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.5.2
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:
PS D:\OneDrive\Documents\WindowsPowerShell> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.14393.1

[2016-09-20 21:29] daviwil commented on #299
Hey @clumnah, now I see what you were referring to on Twitter.  This is currently a known issue with the PowerShell extension, something we're working to fix for the next release (within 2-4 weeks).  I'm closing this issue as a duplicate of issue #284 since we've been trackign it there.

If you don't need the full features of the debugger, you can select code in your script file and hit the F8 key

[2016-09-20 21:29] #299 closed

[2016-09-20 23:44] clumnah commented on #299
Ok thank you for looking into the bug. Glad it already being looked at slated to be fixed. I am really looking forward to transitioning over to Code from ISE.

From: David Wilson [mailto:notifications@github.com]
Sent: Tuesday, September 20, 2016 5:29 PM
To: PowerShell/vscode-powershell <vscode-powershell@noreply.github.com>
Cc: clumnah <clumnah@outlook.com>; Mention <mention@noreply.github.com>
S

[2016-09-21 12:15] Golosok commented on #259
Please make it also to support PS classes, memebrs and methods.

[2016-09-21 12:27] Golosok opened #300 "Since upgrade to VSC 1.5.2 cannot search through simbols and no copletion"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version:
Windows Server 2012R2
- VS Code version:
1.5.2
- PowerShell extension version:
0.7.2
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0,

[2016-09-21 12:38] sgtoj commented on #177
Does a new GitHub issue need to be created for `#region`/`#endregion` support?

[2016-09-21 14:18] daviwil commented on #177
@sgtoj yep, `#region`/`#endregion` support falls under this category as well.

[2016-09-21 14:20] daviwil commented on #300
Hi @Golosok, it's likely that the language service is not starting for you.  Can you capture and send your logs using the process described [here](https://github.com/PowerShell/vscode-powershell#reporting-problems)?

[2016-09-21 14:27] Golosok commented on #300
@daviwil
Hi David,
Sent you the logs to MS email.
Thanks,
Alex

[2016-09-21 19:27] Bill-Stewart commented on #261
I think you can do this already by 1) selecting the variable, 2) use the command `editor.action.selectHighlights` (default key mapping is <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>L</kbd>), then 3) type the replacement name.

[2016-09-21 19:28] Bill-Stewart commented on #260
I think you can do this already by 1) selecting the function's name, 2) use the command editor.action.selectHighlights (default key mapping is Ctrl+Shift+L), then 3) type the replacement name.

[2016-09-21 19:30] Bill-Stewart commented on #259
Have you tried `workbench.action.gotoSymbol` (default key mapping <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>O</kbd>), then type <kbd>:</kbd>?

[2016-09-21 23:52] JasonMorgan opened #301 "ignore workflow errors in Powershell Core"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Mac OS
- VS Code version: 1.5.2
- PowerShell extension version: 6 alpha
- Output from `$PSVersionTable`:

[code]

### Issue Description
workflow statements present an error and I can't seem to suppress it.  I understand workflow won't run but I want to author them without an error.

[2016-09-23 01:06] sgtoj commented on #261
@Bill-Stewart You're some what correct. @adbertram is referring to the **Rename Symbol** (F2) command. It will smartly update the symbol (e.g. variable, class, functions, etc.) versus a blind change of all occurrence of a word.

[code]

With Symbol Rename, the editor will understand that both occurrence `SomeValue` from `$something.SomeValue` are the same but the one from `$anotherthing.SomeValue`

[2016-09-23 15:30] Bill-Stewart commented on #261
Well, I interpreted the OP's request as variables rather than object members. I wouldn't mind this if performance is good. (As noted, we can already change variables pretty easily.)

[2016-09-23 15:35] rkeithhill commented on #298
@PaulHigin What do you think about this workaround by @nightroman?  https://github.com/nightroman/PowerShelf/blob/master/Debug-Error.ps1

[2016-09-23 17:16] PaulHigin commented on #298
Very clever.  I like it.  But I believe this just handles the case where PowerShell is throwing the exception (either through throw keyword or -ErrorAction Stop).  @lzybkr can you confirm?  I was thinking in terms of a general exception being thrown in managed code.  Still this looks to be very useful and something we could support internally.

[2016-09-23 19:09] nightroman commented on #298
Unfortunately, `Debug-Error.ps1` does not show the error itself, it just breaks into the debugger. The error has not been written yet (i.e. added to $Error) by PowerShell. The tool is useful only in special cases, rather rare.

[2016-09-23 21:12] rkeithhill opened #302 "Variable hover/data tips not working in the debugger"
**Please fill in these details so that we can help you!**
### System Details
- Operating system name and version: Windows 10 1607
- VS Code version: 1.5.3
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]
### Issue Description

I can no longer hover over a variable in the debugger and get a hover tip.  This used to work not too long ago.
### Attached Logs

In looking a

[2016-09-23 21:15] daviwil commented on #302
Hmmm, I think that parameter may cause it to be evaluated in the REPL but I'm not sure...  Worth investigating though.  I wonder if the debugger client has changed the way they request these?  We're a little out of date with the latest protocol I think.

[2016-09-23 21:19] rkeithhill commented on #302
Yeah, I've been "loosely" following debug protocol updates but I really need to sink my teeth into the updated protocol and see where we should update our implementation.

[2016-09-24 04:13] rkeithhill commented on #302
And indeed it was the change "expensive" on the Autos variable container that broke this.  What's more, if I back out the change, the `Auto` variables node still stays open.  If you remember, that was the original bug we were trying to fix - the Auto variable container kept closing as you'd step through code.  Sigh.  Guess I'll poke around the VSCode debug issues to see what changed.

[2016-09-26 12:24] ChadThomsen opened #304 "Debugger not catching mistyped commands"
**Please fill in these details so that we can help you!**
### System Details
- Operating system name and version:
  Windows 7
- VS Code version:
  1.5.3
- PowerShell extension version:
  0.7.2
- Output from `$PSVersionTable`:
  Name                           Value
  ---

  PSVersion                      4.0
  WSManStackVersion              3.0
  SerializationVersion           1.1.0.1
  CLRVersion

[2016-09-26 20:29] Bill-Stewart opened #305 "Function name highlighting not correct"
### System Details
- Operating system name and version: Windows 7 x64
- VS Code version: 1.5.3
- PowerShell extension version:  0.7.2
- Output from `$PSVersionTable`:

[code]
### Issue Description

See picture - when function definition is indented, highlighting of function name is not correct.

![vscode-powershell-highlight-problem](https://cloud.githubusercontent.com/assets/22036935/18850589/6fd

[2016-09-26 20:35] rkeithhill commented on #305
Does this behave any better if you save the file with a .ps1 extension? From the picture, I can't tell if you've set the file type to PowerShell.  Even then, I seem to recall an issue where that really doesn't work quite right until you've "saved" the file with a .ps1 extension.

[2016-09-26 20:53] daviwil commented on #4
This one is irrelevant now :)

[2016-09-26 20:53] #4 closed

[2016-09-26 20:54] Bill-Stewart commented on #305
Yes, file type is PowerShell; issue presents whether file saved or not.

[2016-09-26 20:56] daviwil commented on #305
For disabling the automatic highlight you could try this setting but I'm not sure it will turn off the 'occurrences' highlighting: `"editor.selectionHighlight": false`.  Wasn't able to find a specific setting for that one unfortuantely.

I've never seen incorrect file offsets being sent back before, mind capturing logs from a clean launch of the editor/extension so that I can take a look?

[2016-09-26 20:58] rkeithhill commented on #305
It is pretty easy to repro.  Open VSCode, set the Untitled-1 file to type PowerShell, type in
[code]
Double click Test and the whole function name is highlighted.  Indent the whole function and double-click in Test again and the selection highlight is wrong.

[2016-09-26 21:01] Bill-Stewart commented on #305
Keith is correct; that is the behavior. I have `editor.selectionHighlight` setting set to `false` but the highlighting still happens in PowerShell. (I would prefer no automatic highlighting.)

[2016-09-26 21:06] daviwil commented on #305
Cool, I'll investigate, thanks!

[2016-09-28 09:18] monghuz opened #306 "Network path broke when using auto complete"
**Please fill in these details so that we can help you!**
### System Details
- Operating system name and version: Win 10
- VS Code version: 1.5.3
- PowerShell extension version: 0.7.2
### Issue Description

When I using the auto complete feature for network path the leading double backslash changed to single one. As a result of it after every time I need to read the missing backslash to the beginn

[2016-09-28 10:49] Aculeo opened #307 "Syntax highlighting for commented out code incorrect (Doc"
### System Details
- VS Code version: 1.5.3
- PowerShell extension version: 0.7.2

Found a minor issue with the highlighting for commented out code. It highlights '.Description' like it is part of the documentation for a cmdlet. PowerShell ISE highlights this correctly. Not really a big deal, just found it a bit irritating :)

**VS Code / PowerShell**:
![vscode-powershell-highlighting-bug](https:/

[2016-09-28 20:59] rkeithhill commented on #307
Syntax highlighting is done by a different project - https://github.com/PowerShell/EditorSyntax  Can you submit this issue on that project?

[2016-10-02 12:52] GHRoss commented on #284
Has there been any progress made on this? It's sort of killing me.

[2016-10-02 14:33] daviwil commented on #284
Yep! I've made huge progress with moving everything to a new model where all console activity happens directly in the real PowerShell console running in the integrated terminal. I think I'll have a new update ready in a couple weeks.

I'm really sorry this issue has been causing your trouble, soon you won't have to deal with it anymore :)

[2016-10-05 12:50] mcwidg3t opened #309 "No Debug Console output when no breakpoint set on script"
### System Details
Windows 10 Pro Insider Preview (Build 14931)
VS Code 1.6.0-insider
vscode-Powershell 0.7.2

PSVersion                      5.1.14931.1000
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14931.1000
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVe

[2016-10-05 14:31] rkeithhill commented on #309
Duplicate of issue #284  We believe this issue will be fixed in an update coming in late October or early November.

[2016-10-05 14:31] #309 closed

[2016-10-05 14:39] daviwil commented on #309
Yeah, the script is probably finishing so fast that the output never makes it to the editor.  I'm working on a larger fix for that right now :)  More details (hopefully) later today!

[2016-10-05 15:03] mcwidg3t commented on #309
Good news, thanks for the update.

[2016-10-05 21:35] daviwil opened #311 "Feedback needed: Try out a preview of integrated console support!"
I've been working hard over the last few weeks to bring a fully integrated PowerShell console to VS Code via the PowerShell extension.  The work isn't finished yet but I wanted to share a preview release to get some initial feedback which will help guide the final steps to getting this released in 0.8.0 in late October.

The most interesting thing about this feature is that it uses the standard Po

[2016-10-05 23:18] jvheaton commented on #311
Couple things I have noticed.

1. Console threw an error on opening.  Went back an unblocked the zip file and reloaded and then worked.
2. Tab completion in console seems to duplicate when having issues finding the ex. [cd '.\Program Files (x86)\EMET 5.5'cd '.\Program Files (x86)\EMET 5.5']

[2016-10-05 23:28] daviwil commented on #311
Hmmm, weird.  I'm surprised the that the ZIP file would have caused a problem.  Do you have the error handy?  If not that's OK.

Not sure why the tab completion would be messed up there, got a screenshot of that?

Thanks for the help!

[2016-10-06 01:28] Leon99 commented on #167
Any update on this one?

[2016-10-06 01:28] mattmcnabb commented on #311
The ZIP file wouldn't cause an issue - Windows saw this as a remote file and then when you extract, all the extracted files will be remote as well. You just have to unblock the ZIP before you extract.

[2016-10-06 01:52] mattmcnabb commented on #311
- Running selections seems to do what is expected and variables, function definitions, etc. are available in the console. F5 still runs in the debugger, but I suppose that's to be expected.
- PSEdit works fine for me.
- $PSEditor also seems to work in the console, at least at a basic level.
- No issues using Get-Credential. Didn't know this was a problem before.
- Ctrl-C doesn't seem to do anythin

[2016-10-06 02:33] gerane commented on #311
@daviwil could you do a powershell-preview or similar extension and put it in the marketplace?

[2016-10-06 02:36] gerane commented on #311
I'm interested to see if this fixes run selection for me. It was broken with current console. @tyriar was hoping this integration will get that working. It currently doesn't treat code blocks as a whole, but instead each line individually.

[2016-10-06 02:39] daviwil commented on #311
@gerane Yeah, I've considered that recently, might try it at some point.

@mattmcnabb Thanks for the notes!  And thanks for reminding me about profile, I forgot to mention that this should be loading the Microsoft.VSCode_profile.ps1 instead of the standard ConsoleHost profile.  If people end up disliking that behavior I'm happy to change it.

Ctrl+C definitely works for me if I'm running a script

[2016-10-06 02:40] gerane commented on #311
@mattmcnabb ctrl+c has been broken in the integrated terminal for a while. If you highlight text it will copy, but if you highlight text or use ctrl+c in the prompt portion it throws an error. Do you can't break out of running code. It's one of my biggest gripes.

[2016-10-06 02:41] gerane commented on #311
@daviwil do you think your integration fixed the ctrl+c to break or did they just recently fix this in there insiders maybe?

[2016-10-06 02:42] daviwil commented on #311
@gerane Might have been fixed this week at some point in Insiders, I hadn't tried it before that.  Has been working well for me!

[2016-10-06 02:43] gerane commented on #311
@daviwil I'll try it in the morning. There was an update towards the end of the day that I didn't install.

[2016-10-06 02:45] gerane commented on #311
@daviwil I realty do think out would be beneficial to have a preview or beta flag for extensions though. I wonder if this has ever been considered.

[2016-10-06 02:46] daviwil commented on #311
Not sure, I was looking for an issue about that on the VS Code repo but didn't see one.  I'll file one tomorrow

[2016-10-06 03:14] Tyriar commented on #311
You can add "preview" text as in https://marketplace.visualstudio.com/items?itemName=Tyriar.terminal-tabs by adding `"preview": true,` to your [package.json](https://github.com/Tyriar/vscode-terminal-tabs/blob/3d71fa818ddc350a69fbd70a14ceaeb64eb4d205/package.json#L6). It only seems to show on the web though, not in-product so I created https://github.com/Microsoft/vscode/issues/13276

[2016-10-06 03:35] gerane commented on #311
@tyriar And I think I know an extension I'll be trying out in the morning. I left a comment on that issue.

[2016-10-06 04:34] daviwil commented on #311
@Jaykul reports that text seems to get sent to the terminal in reverse line order (using F8) after he loads his [Profile module](https://github.com/Jaykul/Profile).  Need to investigate why that's happening.

[2016-10-06 04:49] gerane commented on #311
Only after profile? Do you think commands that alter your prompt are impacting it?

[2016-10-06 05:21] rkeithhill commented on #311
@Jaykul is heavy into developing his PowerLine prompt module.  :-)

[2016-10-06 06:37] 4c74356b41 commented on #311
wow dude,  this is absolutely stunning, love my vscode even more now!

[2016-10-06 14:47] mgreenegit commented on #311
Installed and loaded without issue.  I did need to unblock the zip file, as described above.

[2016-10-06 14:56] Jaykul commented on #311
So, my profile.ps1 has LF endings (not CRLF). I modified the `Profile.psd1` to *not* depend on [PowerLine](/Jaykul/PowerLine), and even carefully did: `ipmo Profile; rmo PowerLine;` on one line to make sure PowerLine wasn't loaded and the prompt wasn't changed.

Even then, hitting F8 in my profile script results in the selected lines being put into the console in reverse order...

[2016-10-06 15:01] daviwil opened #312 "Automatically add the "internalConsoleOptions" setting to existing launch.json files"
With the upcoming integrated console support, VS Code's debug console will automatically appear when the user starts the debugger unless the following setting is added to `launch.json`:

[code]

To simplify the user experience moving into the new version, it'd be better if we can use the new configuration APIs to manipulate any existing `launch.json` file to insert this setting to `PowerShell` con

[2016-10-06 15:04] daviwil commented on #311
@mgreenegit glad to hear it worked after unblocking the files!

@Jaykul I'll give that a shot when I get into the office and see if I can figure out what the deal is

[2016-10-06 15:11] dfinke commented on #311
My .zip was not blocked. Had to unblock the start-editorsevice.ps1 though

[2016-10-07 01:50] gerane commented on #311
I didn't get to test it today. Had some other things take priority. I did test ctrl+c default behavior @daviwil . If I have the cursor active in the prompt I get an error saying the terminal isn't the active window, but if I click above the prompt it will properly accept ctrl+c.

@jaykul what behavior do you get in the terminal prior? I ask because I have broken behavior with the run selection key

[2016-10-07 01:52] gerane commented on #311
@jaykul was also wondering if it could be a line ending issues too.

[2016-10-07 20:07] gerane commented on #311
@daviwil just installed it, noticed a few things right off.

* In terms of profiles, It also does not load the default profile.ps1 for all hosts. It seems to only load the vscode profile, instead of profile.ps1 and vscode profile.

* It doesn't import PSReadline by default. This breaks keyboard shortcuts, text highlighting with shift, and ctrl + left/right.

* If you have the prompt selected, it r

[2016-10-07 20:10] gerane commented on #311
Also, @Tyriar some of the weird run as selection issues we were discussing, they are being caused by the built in module PSReadline. Maybe we can look a bit more into this and see if we can figure out the cause.

[2016-10-07 20:12] gerane commented on #311
@daviwil actually, odd, it doesn't look like it loaded my VSCode profile either. All of my editor commands weren't loaded.

[2016-10-07 20:22] gerane commented on #311
@daviwil it doesn't appear to be loading a profile for all for me.

[2016-10-07 20:41] gerane commented on #311
@daviwil I have found more problems, especially with Editor Commands, which seem totally broken. Do you want me to keep listing things here or are you ready for separate issues for this. Some of the Editor Command issues:

* PromptForChoice is now redirected to the console. This gives a poor user experience because you have to have the editor pane selected with a ps1 file to trigger an Editor Comm

[2016-10-07 20:48] daviwil commented on #311
@gerane I mentioned in the initial post above that PSReadline isn't supported right now because it messes with my ability to use the console's runspace.  I remove it by default when PSES loads so you shouldn't have it in your session unless you loaded it on purpose.  @sgtoj reported issue with using PSReadline VS Code repo [here](https://github.com/Microsoft/vscode/issues/13251) recently.

Regardi

[2016-10-07 21:20] Tyriar commented on #311
I think ctrl+c is an issue with pty.js

[2016-10-07 21:22] TheRealBenForce opened #313 "Marketplace direct download link for vsix package not working."
**Please fill in these details so that we can help you!**
### System Details
- Operating system name and version: n/a
- VS Code version: 0.7.2
- PowerShell extension version: n/a
- Output from `$PSVersionTable`: n/a

[code]
### Issue Description

I found this link for assistance in determining the link to resolve to an extension for direct downloads from the marketplace.
https://code.visualstudio.

[2016-10-07 21:35] gerane commented on #311
@daviwil I would be happy to see a proper API for that instead of Promptforchoice. It has always been a pain to use and had issues. I always felt like it was good for now, but eventually should be replaced with some form of Api.

It would be nice to build of off $psEditor. Just something like this would be pretty interesting:

[code]

This is just sort of comparing to the current, but could really

[2016-10-07 21:42] rkeithhill commented on #313
This is an extension for "Visual Studio Code" not "Visual Studio".   Visual Studio Code does not use the VSIX package format.  If you're looking for a PowerShell extension for Visual Studio, check out the excellent [PowerShell Tools for Visual Studio](https://visualstudiogallery.msdn.microsoft.com/c9eb3ba8-0c59-4944-9a62-6eee37294597).