[2016-10-07 22:36] daviwil commented on #311
Yeah, Doug submitted a pull request for the Show*Message APIs, I'm going to merge it in for 0.8.

Basic Editor Commands are working for me, maybe yours aren't working because they depend on the prompt stuff?  I'll get PSReadline working in 0.9 hopefully, I'll need to enable a hook in PSReadline so that it will give me access to the runspace when I need to run a command.

[2016-10-07 22:46] daviwil commented on #313
Surprisingly, VS Code does use VSIX as the packaging format for extensions!  Don't ask me why...

However, gallery link issues should be directed to the Visual Studio Code team since we have no control over the ilnks on the extension marketplace.  We usually package a side-loadable ZIP file upon each release of the extension, you can find them here:

https://github.com/PowerShell/vscode-powershell

[2016-10-07 22:56] gerane commented on #311
@daviwil yeah, I only tested ones with prompt

[2016-10-08 16:50] adbertram opened #314 "Errors/Warnings still show up in Problems window when file is closed"
**Please fill in these details so that we can help you!**
### System Details
- Operating system name and version: MacOS Sierra
- VS Code version: 1.5.3
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]
### Issue Description

Whenever I have a file open in an editor that has a problem with PSScriptAnalyzer and close it, the entry still exists in the Problems window.

![

[2016-10-08 17:13] daviwil commented on #314
Hmmm, I wonder if VS Code has a bug there. I'll look into it.

[2016-10-08 19:10] GHRoss commented on #284
Awesome, thanks David.

[2016-10-09 04:28] rkeithhill commented on #313
Well, I learned something new today.  :-)  I've only seen the ZIP's on the GitHub repo.

[2016-10-09 21:10] Jaykul commented on #311
@daviwil @gerane yes! It appears my paste problem is resolved by (re)unloading PSReadLine after importing that Module profile: it sets a bunch of PSReadLine preferences `if($Host.Name -eq "ConsoleHost") {` which of course has to be done by calling cmdlets from PSReadLine, which results in autoloading it.
😖
Not sure how to fix that -- I'm very wary of custom hosts that are built on ConsoleHost -- h

[2016-10-09 21:13] rkeithhill commented on #311
[code]
😃

[2016-10-09 21:26] Jaykul commented on #311
It will make me sad, but now that I've got PS5 everywhere (where PowerShell itself pre-loads the module), maybe I should stop testing to see which host I'm in before using PSReadline, and instead, just test whether it's currently loaded -- if someone has unloaded it for some reason, obviously I don't want to interfere with their devious machinations 😈

[2016-10-10 00:29] bcdady commented on #311
I'm not sure if you care to provide this level/depth of backward compatibility, but because I recently got my hands on a rebuilt Win7 with PS v2, I thought I'd give this a go, before upgrading to more current WMF.

I saw the earlier comments about unblocking the zip, and so Unblocked before extracting, and haven't found any extracted files with blocking/blocked issues. I set my ExecutionPolicy to

[2016-10-10 14:18] daviwil commented on #311
@Jaykul I'm going to provide another way to find out if the console host is being used in an editor, `$psEditor.EditorDetails.Name`or something like that.  In fact, if you see that `$psEditor` is not `$null` then that's a pretty good indication that you're in an editor.  But yeah, you could also check if PSReadline is loaded and don't call the config commands if it's not.  Sorry for the trouble th

[2016-10-10 14:20] daviwil commented on #311
@bcdady Hey Bryan, thanks for giving this a shot!  The PowerShell extension unfortunately doesn't support PSv2, only PSv3 and above.  A lot of the errors you're seeing are due to me using things that are not available in PSv2.  Was worth a shot though!

[2016-10-11 06:29] OCram85 opened #315 "[ValidatePattern()] regex breaks SyntaxHighlighting"
### System Details

- Operating system name and version: `Win 7 Prof 64Bit`
- VS Code version: `1.5.3`
- PowerShell extension version: `0.7.2`
- Output from `$PSVersionTable`:
[code]

### Issue Description

I noticed a syntax highlight issue while using regex in `[ValidatePattern()]`.
#### Example1:
![2016-10-11 08_24_43-invoke-2fausersync ps1 - visual studio code](https://cloud.githubusercontent.

[2016-10-11 10:19] carlosrfernandez commented on #285
Is there any workaround for this? I've just updated to VSCode 1.6 and while restarting was working before, it isn't working with 1.6.

[2016-10-11 12:53] GHRoss commented on #311
Ooo, sadly I missed this so I couldn't help in testing. Is it due a release soon?

[2016-10-11 14:18] daviwil commented on #311
@GHRoss right now I'm shooting for end of October or early November.  Still got a lot of work to finish to make it work well.

[2016-10-12 04:16] rkeithhill commented on #315
Syntax highlighting is done by a different project.  Can you submit this bug on that project?  https://github.com/powershell/editorsyntax

[2016-10-12 07:07] bcdady commented on #311
Thanks @daviwil - I've updated now to v3, and the earlier reported errors are gone.
I think these symptoms were previously reported, but I'll just confirm my symptoms: that I've not gotten F8 to work, and although `& PROFILE` loads my expected profile script, this script does not load when the TERMINAL extension is initiated.

[2016-10-12 07:08] bcdady commented on #311
Is there a shortcut-key, or a way to map keystrokes to jump focus/cursor from editor to console?
In ISE, I frequently use ctrl+D / ctrl+I to jump back and forth, but in Code I'm having to use the mouse to get back and forth.

[2016-10-12 08:39] OCram85 commented on #315
Sure! Thanks for your advice...
https://github.com/PowerShell/EditorSyntax/issues/26

[2016-10-12 14:28] daviwil commented on #295
I think this issue is resolved now, right?  I'll close it for now, happy to reopen if there's still a lingering issue.  Thanks!

[2016-10-12 14:28] #295 closed

[2016-10-12 14:29] daviwil opened #317 "Debug adapter should resolve session details file using launch.json parameter"
At some point, VS Code's `launch.json` gained the ability to have a parameter's value be resolved using a command registered in the extension.  This will solve the issue that we currently have where VS Code's PID has to be used to uniquely identify a session so that the session details file can be loaded when the debug adapter starts.  Instead of the debug adapter looking for the session file base

[2016-10-12 14:32] daviwil commented on #315
Thanks Marco!  Closing this issue since you filed it over on the EditorSyntax repo.

[2016-10-12 14:32] #315 closed

[2016-10-12 14:38] daviwil opened #318 "Provide commonly used ISE hotkey compatibility"
There are a few hotkeys that are commonly used in the ISE, we should try to provide a way to replicate them.  @dfinke provided a [Gist with all of the ISE's hotkeys](https://gist.github.com/dfinke/e78a197a4cff82cb7acc9cfc51d162a4) and pointed out that these seem to be the most used which don't have analogues in VS Code yet:

[code]

Since some of these keybindings may conflict with built in VS Cod

[2016-10-12 14:39] daviwil commented on #311
Regarding the hotkeys, not yet, but I just filed issue #318 to track that.  Also, profiles aren't being loaded in this preview release of the integrated console, I'm adding that back now and might send out an update to the preview in a few days.

[2016-10-12 14:48] daviwil commented on #302
This is fixed in VS Code 1.6 now, right?

[2016-10-12 15:20] rkeithhill commented on #318
FWIW I used ISE for years before switching over to VSCode w/PS extension.  I used `Ctrl+D` and `Ctrl+I` quite a bit - `Ctrl+R` less so and `Ctrl+M` not at all.  Having a kbd shortcut to quickly switch focus between editor and terminal would be handy but not just for PowerShell.  I do some PHP and ASP.NET MVC in VSCode and it would be handy for that as well.  :-)

[2016-10-12 15:23] rkeithhill commented on #302
Yup.

[2016-10-12 15:36] rkeithhill commented on #302
If VSCode thinks there are no duplicate variable names in non-expensive scopes it will display debug hover tips.  I believe 1.7 and higher will remove the whole "don't display debug hover on a duplicate variable name check".  What I do notice in 1.6 is that Autos isn't starting open during a debug session.  I believe it used to do that.  Sigh...  Nothing like chasing a moving target.  :-)

At this

[2016-10-12 18:39] daviwil opened #319 "Add a new command to set launch.json to debug the current script"
Our default `launch.json` configuration uses a variable which always uses the path of the currently-edited script when you start the debugger.  This is handy in many cases, but it'd also be nice if you could easily run a command which will edit your `launch.json` so that it always runs a specific script regardess of which script you're currently editing.  We could also add another command to reset

[2016-10-12 18:39] daviwil commented on #319
We could also add a similar command to set or clear the arguments to be used when the script gets invoked.

[2016-10-13 06:12] wellsluo commented on #224
Thanks David!  I tested on 0.7.2, bug is fixed.

[2016-10-13 21:01] daviwil commented on #224
Awesome, thanks for confirming!

[2016-10-15 19:10] daviwil opened #320 "Wire up ILogger implementation through LanguageClient"
I'd like to get the logs of the `LanguageClient` class to show up in our new logging infrastructure but the `LanguageClient` class currently doesn't accept an `ILogger` parameter.  Since upgrading the `vscode-languageclient` class might wreak havoc on our protocol implementation, I'm deferring this task until I have time to reconcile any protocol changes that would come from upgrading after the `I

[2016-10-16 21:34] bcdady commented on #311
While testing with PowerShell v3, I've encountered some code snippets that hang the integrated terminal/console to the point that ctrl+c doesn't recover control. In this case, I resort to clicking the Trash can icon to 'Kill Terminal'. But then I can't find a way to re-start a PowerShell Terminal/console. Clicking the + will add another cmd.exe Terminal/console instance, but the only way (so far)

[2016-10-16 23:18] daviwil commented on #311
Hmmm, weird, snippets are hanging the console?  That's strange, is there a specific one I can try that would reproduce the behavior?

Since releasing this preview I've implemented a "Restart Interactive Console" command which will make it much easier to restart the session without reloading VS Code.  I'm planning to post a new preview ZIP tomorrow with some nice improvements, I'll let you know whe

[2016-10-17 14:11] adbertram opened #321 "Syntax coloring doesn't recognize quoted strings in parameter validation attribute"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: MacOS Sierra
- VS Code version: 1.5.3
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]

### Issue Description

![image](https://cloud.githubusercontent.com/assets/4306938/19440989/9756eeda-9449-11e6-94f9-8a24697a3c11.png)

[2016-10-17 19:23] rkeithhill commented on #321
@adbertram Can you file this over on the https://github.com/PowerShell/editorsyntax project?  That project provides the textmate files that does PowerShell syntax colorization.

[2016-10-17 20:51] adbertram commented on #321
Sure.

[2016-10-17 20:52] #321 closed

[2016-10-17 20:59] rkeithhill commented on #321
@adbertram Thanks!

[2016-10-17 23:39] tibmeister opened #322 "Commandline Args in launch.json"
So not sure what format these args need to be in, I've tried several including a json array to no avail.  One of the args also has a UNC path so that's fun, takes me back to good ole C++!

Anyway, running Windows 10, Code 1.6.0, POSH Extension 0.7.2.

Whenever I try to debug I get that lovely error "Debug adapter process has terminated unexpectedly".

[2016-10-17 23:42] daviwil commented on #322
Hey Jody, can you paste your launch.json here so we can take a look?

[2016-10-17 23:42] rkeithhill commented on #322
Try passing the arguments as a single string.  Also, yes, you have to obey JSON string syntax so `\` have to be escaped.  Keep in mind that PowerShell will accept `/` as a path sep so that might be easier to use.

[2016-10-18 05:42] tibmeister commented on #322
So it would be something like
"args": [
"-Param1 MyParam -ParamUNC \\\\myserver\\folder\\file"
],
So I also tried
"args": [{
"-Param1": "MyParam",
"-ParamUNC": "\\\\myserver\\folder\\file"
}],

[2016-10-18 14:20] daviwil commented on #311
OK folks, I need your feedback on a dilemma I'm facing with the integrated console work.  I'm becoming increasingly concerned that leveraging the standard "ConsoleHost" is going to be harder to get right than I thought.  I'm not certain that it's a bust yet but I don't want to sink any more time into it if it isn't truly valuable.

What if PSES had it's own console-based host implementation which

[2016-10-18 14:39] mattmcnabb commented on #311
Is the ConsoleHost really that valuable at all? I've often thought of it as a limitation and a roadblock to PowerShell adoption. Just look at the number of folks out there on social media that complain about PowerShell, only when questioned their gripes are actually about the ConsoleHost and it's lack of features (improving a lot, I know). This is what drives many to suggest using the ISE while le

[2016-10-18 14:58] dfinke commented on #311
I don't have enough insight on the custom host v. ConsoleHost. What I know of your ConsoleHost host approach sounded really cool and ambitious. Reflection-based hacks, always come back to bite. The notion of having PSReadline and more in the vs code console is good. Having a consistent console across the boards is optimal. I don't know if that's doable given the legacy issues. Don't know it it's t

[2016-10-18 16:06] rkeithhill commented on #311
I don't mind if VSCode-powershell has its own host for debugging and editing REPL work.  If that host has enough implemented to be my primary VSCode integrated terminal even better.  But that means it must handle PSReadLine and posh-git correctly.  :-)

But if it can't that's OK too as long as I can still bring up PowerShell in the default VSCode terminal window.  Which I currently can with the VS

[2016-10-18 17:35] daviwil commented on #311
Thanks for the feedback guys!

One thing I probably didn't clarify well enough: this will still be a terminal-based app and the REPL experience you get will be very similar to what you see in the current preview.  Also, PSReadLine would play a big role because I'll modify it slightly to drive the console experience.  It basically reimplements the ConsoleHost's input loop so I should be able to tak

[2016-10-18 18:29] daviwil commented on #322
I think in your first example you shouldn't enclose the args string inside of square brackets, the "args" value should just be a string.  Can you try that and let us know if it resolves the issue for you?

[2016-10-18 18:36] dragonwolf83 commented on #311
Do you have the same issues with latest Windows 10 Insider builds? Is it improved?

It would be better for Windows 10 long-term if the issues get resolved in the standard ConsoleHost. That doesn't help with legacy, so you may still have to do a custom ConsoleHost for Windows 7-8 based systems.

For example, Windows 10 gaining 24-bit color support. Are we saying that work will not apply now in PSES

[2016-10-18 18:41] daviwil commented on #311
@dragonwolf83 the "console host" I'm referring to is `powershell.exe`'s PSHost implementation called `ConsoleHost`. the Windows console host doesn't factor in to the decision because VS Code is hosting `powershell.exe` in a different terminal implementation.

However, the 24-bit color support of the PowerShell console running in VS Code will definitely be limited by VS Code's terminal implementati

[2016-10-18 19:00] rkeithhill commented on #322
And don't forget that in JSON a `\` has be escaped.  I'd use:
[code]
Unless you are passing that path to a native Windows exe.  The `[]` are required based on our type def of args taking an array.  :-(

[2016-10-19 00:36] lzybkr commented on #311
A slightly modified `ConsoleHost` sounds problematic - you're basically forking the code. It would be far better to fix the one console host for your needs.

Note that "better" integration of PSReadline in the console host is problematic. I went with that approach in some early internal builds of V5, it caused problems that weren't easily solved. I'd have to dig some in the SD history to recall wh

[2016-10-19 22:57] daviwil commented on #311
@lzybkr I need to find a solution that will work with PSv3 and up. Improving the PSv6 ConsoleHost doesn't help there unless we can find a way to make it work across my supported range of PowerShell versions.  Let's discuss it next week sometime when you're back, would certainly appreciate your help to determine the best course of action!

[2016-10-20 12:05] PrometheusRising1 opened #323 "Download Problem"
On the extensions page at visual studio code, MS notes that you can download an extension for reuse from a share:
https://code.visualstudio.com/docs/editor/extension-gallery?pub=ms-vscode&ext=PowerShell

The format is as follows (reproduced from the above linked page):
https://${publisher}.gallery.vsassets.io/_apis/public/gallery/publisher/${publisher}/extension/${extension name}/${version}/assetb

[2016-10-21 05:24] nigurr commented on #167
Any update on this? This is indeed core feature that is expected

[2016-10-23 04:10] rkeithhill commented on #294
As for hard-coded commands, yeah we should specify the -Editor VSCode parameter directly. If they're invoking Plaster from VSCode I think it is reasonable to create the appropriate VSCode files (.vscode\tasks.json and settings.json).

RE Chicken and egg problem, if we register the built-in Plaster template's as extension commands, can't those commands force startup of PSES?  We could certainly lau

[2016-10-24 12:39] Flightdeck73 opened #325 "Prompting for Security Warning constantly"
### System Details
- Operating system name and version: Microsoft Windows 7 Professional 6.1.7601
- VS Code version:

[code]
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]
### Issue Description

Editor constantly sets focus to security warning textbox and the PowerShell output displays:
###### Prompt has been cancelled due to a timeout.

I only have the Powershell,

[2016-10-25 00:09] tibmeister commented on #322
Sorry for not getting back sooner, yes, the "Bash" style path worked like a charm :)
One question, does the debug session run in the overall powershell session as the rest of VSCode or is it different?  There's some pre-work I have to do before I can debug and currently I have to paste this into the debug console for each debugging run.

[2016-10-25 17:40] daviwil commented on #322
@tibmeister Glad to hear it worked!  You are correct, the debug session is not the same as the one used for IntelliSense/F8 support.  For script debugging that requires some initial setup, we recommend (for now) that you have a "bootstrapper" script that you set as your "program" in `launch.json` which does the necessary setup and then dot-sources the script you want to debug.  We'll find a better

[2016-10-25 17:40] #322 closed

[2016-10-25 19:57] Bill-Stewart commented on #318
Agree they should be opt-in.

[2016-10-25 20:24] weinand opened #326 "Powershell last statement output not seen"
_From @jbruns2015 on October 25, 2016 17:21_

- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: ms-vscode.PowerShell-0.7.2

Steps to Reproduce:

This shows me '1' in debug console
$a = 1
Write-Host $a
Exit

This shows me nothing in debug console
$a = 1
Write-Host $a

_Copied from original issue: Mi

[2016-10-25 20:24] weinand commented on #326
_From @jbruns2015 on October 25, 2016 17:32_

If I do not use breakpoints and run this:

$a = 1
Write-Host $a
Exit

I don't see the '1' in the Output console or the Debug Console.

[2016-10-25 20:39] rkeithhill commented on #302
This seems to be working correctly in VSCode Insider builds.

[2016-10-25 20:50] daviwil commented on #326
Hey @jbruns2015, this is a known issue with the PowerShell extension, see issue #284 for more information.  I'm hoping to have this issue resolved for the next release.

Thanks @weinand for passing the issue along!

[2016-10-25 20:50] #326 closed

[2016-10-25 22:10] jbruns2015 commented on #326
ETA on next release?

[2016-10-25 22:32] daviwil commented on #326
The ETA keeps shifting gradually but for now I'm *hoping* it'll happen the second week of November.  Lots of things going on between now and then so it's hard to say for sure.

[2016-10-26 14:15] waldo1001 commented on #37
For some reason, I'm hitting 99% with the latest VSCode update.. .
I haven't been able to repro the above, because frankly, I'm not able to get into VSCode anymore :-/

[2016-10-26 17:02] chantisnake opened #327 "support for dot source"
When I dot source another file `a.ps1`, is it possible to get all the intellisense for the function and classes for `a.ps1` in my current script?

[2016-10-26 22:55] Leon99 commented on #144
This is an extremely important feature. It will significantly improve PowerShell development experience.
I wonder if there is a way to "trick" the completion engine to treat the modules in the opened folder the same way it treats the standard library?

[2016-10-26 23:59] daviwil commented on #144
@Leon99 Not sure, I'll have to ask around and see.  Good idea though!

[2016-10-27 00:00] daviwil commented on #327
Hey @chantisnake, this is something that isn't currently provided by the PowerShell engine but I'd like to find a way to support it.  We've got issue #144 tracking this already so I'll close this issue in favor of the existing one.  You can subscribe to the other issue to be notified when any progress gets made.

Thanks!

[2016-10-27 00:00] #327 closed

[2016-10-27 01:28] rkeithhill commented on #144
@daviwil Wouldn't this work in the new system where we have a PowerShell interactive console as long as you F8 the lines that dot source other scripts?  That works in ISE.

[2016-10-27 01:30] Leon99 commented on #144
If it's possible to modify $profile file and then re-init auto-completion engine, it'd be an easy job. Hook onto opening a folder, get the list of .psm1 files available, import them through $profile, init auto-complete. Done.

[2016-10-27 08:03] Glober777 commented on #144
Approach suggested by @Leon99 sounds interesting, although the import would have to also automatically reoccur every time those module files change, as IntelliSense may continue suggesting things based on the previous version of the module.

[2016-10-27 20:56] daviwil commented on #144
@rkeithhill Yep, that'd work, though I think the expectation is that the user wouldn't need to do that.

@Leon99 @Glober777 That's one option I suppose, but I'd rather find a way that either allows the existing completion engine to become aware of file relationships or find another way using my own analysis so that no code needs to be evaluated before the IntelliSense results come back.

I've got

[2016-10-28 05:02] pcgeek86 opened #328 "Incorrect syntax highlighting for numeric digits in type names"
### System Details

- Operating system name and version: Windows 10 Anniversary Update
- VS Code version: 1.6.1
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]

### Issue Description

When I utilize a .NET class that exists within a .NET namespace, whose name contains a number character, the syntax highlighter incorrectly colors the numeric characters in the fully qu

[2016-10-28 06:09] pcgeek86 opened #329 "Errors / warnings in VSCode not cleaned up after file rename"
### System Details
- Operating system name and version: Windows 10 Anniversary
- VS Code version: 1.6.1
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]
### Issue Description

When you rename a file, the syntax errors don't get cleaned up. Over time, you end up accumulating a large number of reported errors, that don't actually exist. When you click on one of these er

[2016-10-28 06:57] Leon99 commented on #144
@daviwil Sounds like a proper plan. My only concern is that it may take a lot of effort to implement, that's why I suggested a "low budget" idea. Well, at least I think it is. In fact, for me it'd be okay even if there was a command that I need run manually to import all the modules in the current folder plus do some magic to make sure that IntelliSense sees it.

[2016-10-28 17:37] daviwil commented on #329
Hmmm, interesting.  I've seen VS Code not be very thorough about cleaning up warning/errors but maybe we're causing this somehow.  I'll look into it, thanks!

[2016-10-28 17:38] daviwil commented on #328
This issue was moved to PowerShell/EditorSyntax#28

[2016-10-28 17:38] #328 closed

[2016-10-28 18:04] schwartzmx commented on #167
I would be interested in helping out with this, I think this would be a great addition. 👍

[2016-10-29 22:19] pcgeek86 opened #331 "F8 conflicts with"
### System Details

- Operating system name and version: Windows 10 Anniversary Update
- VS Code version: 1.6.1
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]

### Issue Description

The F8 keyboard shortcut, to run the "current" line in PowerShell scripts, conflicts with the default VSCode keyboard shortcut for F8, which points to the `Go to Next Error or Warning`

[2016-10-30 21:25] weinand opened #332 "Powershell Plugin - Inconsistent Debug Console Output"
_From @rageshm110 on October 30, 2016 7:15_
- VSCode Version: Code 1.6.1 (9e4e44c19e393803e2b05fe2323cf4ed7e36880e, 2016-10-13T16:21:53.542Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: donjayamanne.python-0.5.0, ms-vscode.PowerShell-0.7.2

Steps to Reproduce:
1. Ctrl+Shift+D
2. Start Debugging

I am not able to see any output at debug console even with very basic cmdlets like get-service

[2016-10-30 21:25] weinand commented on #332
_From @rageshm110 on October 30, 2016 7:46_

![error](https://cloud.githubusercontent.com/assets/6996136/19835134/fb2e9684-9ea2-11e6-8e51-30a354c7cf8c.PNG)

[2016-11-01 23:14] rkeithhill opened #333 "Add support for file icons in Explorer viewlet"
I see this in 1.7 insider's (could have existed before) but I think it would be nice to add some icons for the standard PS files:

![image](https://cloud.githubusercontent.com/assets/5177512/19911030/8a367568-a056-11e6-9408-dce5b8bcbc69.png)

[2016-11-02 21:42] nojvek opened #334 "Add support for attaching to a powershell script"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with...

### Attached Logs

Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell#reporting-problems)
abou

[2016-11-04 02:11] N6UDP opened #335 "$_ doesn't work for conditional breakpoints"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version:Windows 10
- VS Code version:1.7.1
- PowerShell extension version:0.7.2
- Output from `$PSVersionTable`:

[code]

### Issue Description
[code]
This works fine with
[code]

[2016-11-04 02:25] rkeithhill commented on #335
This doesn't work in ISE either.  The problem is that `$_` has special meaning inside the scriptblock passed to the Action parameter.  In this context, `$_` refers to the breakpoint.  You can inspect the breakpoint's HitCount and other properties.

It is easy to work around this like so:
[code]
Then use a condition expression of `$i -gt 10`.

[2016-11-04 02:48] N6UDP commented on #335
I could have sworn I did a conditional on that at one point in ISE but I must have been imagining things ;) I didn't even think to try it in ISE.  It actually does work with $script:_
```Set-PSBreakpoint -Line 2 -Action {if($Script:_ -gt 10){break}} -Script t.ps1```
works with
[code]
FWIW

[2016-11-04 02:50] N6UDP commented on #335
Confirmed ```$script:_ -gt 10``` works in code -- closing this.

[2016-11-04 02:50] #335 closed

[2016-11-04 03:07] rkeithhill commented on #335
Thanks for the tip on `$script:_`!

[2016-11-04 03:49] N6UDP commented on #335
I suppose the only thing that could be done is to warn folks in the help/documentation (or during entry into the textbox)

[2016-11-04 11:51] eugeneniemand opened #336 "MisleadingBacktick from script analyzer is not raising a warning in vscode"
### System Details

- Operating system name and version: Windows 7
- VS Code version: 1.7.1
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

### Issue Description

When using back ticks for line continuation and a white space exists after the back tick the parameters on the following lines are ignored. I would ideally like a red/green squiggly to appear under the white space

[2016-11-04 11:52] eugeneniemand commented on #336
Looks like github is removing the trailing whitespace

[2016-11-04 16:00] rkeithhill commented on #336
Our default ruleset is pretty minimal after much feedback that we had too many rules enabled. That said, I think this rule should be in the default ruleset.

You can workaround this for now by creating a `ScriptAnalyzerSettings.psd1` file and putting it in work space.  Add the following contents to this file:
[code]
Then add a `.vscode\settings.json` with this in it:
[code]
Now VSCode will use the

[2016-11-04 16:00] lucdekens opened #337 "Add breakpoint hit counter feature"
In VSC 1.7, the new breakpoint hit counter feature was introduced.
Currently it only works in the Node.js debugger.

Can this feature be implemented for PowerShell breakpoints in the PowerShell extension?

[2016-11-04 16:04] rkeithhill commented on #337
Work is under way.  See https://github.com/PowerShell/PowerShellEditorServices/issues/298.

I should have this work committed in a few days but you will have to wait until the next drop of the PowerShell extension (hopefully in a few weeks).

 Today you can do a simple hit count breakpoint in VSCode 1.7 by adding a conditional breakpoint with this expression:
[code]

[2016-11-04 16:44] lucdekens commented on #337
Great to hear.
Looking forward to that one

[2016-11-04 19:21] Jaykul opened #338 "The "PowerShell: Resolve Expand Alias" feature should do more"
Expand Alias ought to resolve parameter aliases and short forms to full parameter names (if you need it, there is code in [PoshCode/CodeFlow](https://github.com/PoshCode/CodeFlow/blob/master/Expander.psm1)).

Expand Alias ought to also (have an option to) expand command names to fully-qualified module names to avoid ambiguity -- or perhaps offer to add an `Import-Module` at the the top for all the

[2016-11-05 16:29] rkeithhill commented on #337
Implemented over in the PowerShellEditorServices.  Waiting for PR acceptance.  https://github.com/PowerShell/PowerShellEditorServices/pull/300

[2016-11-05 16:29] #337 closed

[2016-11-05 21:41] rkeithhill commented on #336
Completed.

[2016-11-05 21:41] #336 closed

[2016-11-06 15:50] sunitjoshi opened #340 "OSX Error The language service could not be started"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Darwin Kernel Version 16.1.0 (macOS Sierra 10.12.1)
- VS Code version: 1.7.1
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      6.0.0-alpha
PSEdition

[2016-11-08 13:39] Flightdeck73 commented on #325
This turned out to be an older module in my C:\Users\{user}\Documents\WindowsPowerShell\Modules
After i deleted it the security warning went away.

[2016-11-08 13:39] #325 closed

[2016-11-10 21:34] lgolding opened #342 "Does vscode-powershell display Write-Verbose output?"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Microsoft Windows 10 Enterprise
- VS Code version: 1.7.1
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]

### Issue Description

I don't see the output from Write-Verbose statements anywhere, neither in the Debug Console nor in the Output window (with P

[2016-11-15 00:50] amoisis opened #343 "FR: Format Source Code in an Editor"
Hi is there any plans to enable format source code (beautifying) in vs code?

I think it would be a great feature

[2016-11-16 00:32] lgolding commented on #342
Never mind. It displays verbose output on the Debug Console if I add `-Verbose` to `args` in my launch.json:

[code]

[2016-11-16 00:32] #342 closed

[2016-11-17 21:05] sba923 commented on #284
Problem's still there with VSCode 1.7.1 (upgraded today) with version 0.7.2 of the extension...

Back to ISE for now ;-)

[2016-11-18 20:03] daviwil commented on #334
Hey @nojvek, looks like this issue is already captured in issue #206, will go ahead and close this one in favor of that.  If I'm misunderstanding the feature request, please let me know.  Thanks!

[2016-11-18 20:03] #334 closed

[2016-11-18 20:04] daviwil commented on #332
Closing as duplicate of issue #284.

[2016-11-18 20:04] #332 closed

[2016-11-18 20:12] daviwil commented on #340
Hey @sunitjoshi, do you have OpenSSL installed?  Check out these instructions:

https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#1-powershell-intellisense-does-not-work-cant-debug-scripts

Can you confirm which version of OpenSSL you have installed?

[2016-11-18 20:12] daviwil commented on #343
Yes!  We'll be working on this soon.  Please follow issue #167 to be notified of updates.  Thanks!

[2016-11-18 20:12] #343 closed

[2016-11-18 21:30] daviwil commented on #331
Hmmm, interesting, haven't seen that one before.  Does VS Code show you any warning about that or does  Run Selection just overshadow it?  F8 is kinda ingrained in PowerShell users' workflow so it might be hard to not use that keybinding by default.  Any ideas?

[2016-11-18 23:35] sunitjoshi commented on #340
The version is:
OpenSSL 0.9.8zh 14 Jan 2016

[2016-11-18 23:44] sunitjoshi commented on #340
One more thing, I've these outputs:
○ → **which** openssl
/usr/bin/openssl

○ → ln -s /usr/local/Cellar/openssl/1.0.2j/lib/libssl.1.0.0.dylib /usr/local/lib/libssl.1.0.0.dylib
ln: /usr/local/lib/libssl.1.0.0.dylib: **File exists**

[2016-11-19 17:12] pcgeek86 commented on #331
@daviwil The current behavior, that I'm observing, is that the PowerShell F8 key binding is taking precedence over the VSCode default. I'm not sure what the best solution is here. I see both sides to this issue.

- `F8` is familiar to PowerShell ISE users
- `F8` is familiar to VSCode users, for a specific, default behavior

In my opinion, breaking the default editor behavior is worse than asking u

[2016-11-20 01:02] rkeithhill commented on #331
I agree with @pcgeek86.  We could use <kbd>Alt+/</kbd> instead.  That aligns with the F# `SendLine` command and it doesn't appear to conflict with any existing, core shortcuts.

[2016-11-21 17:50] ThubLives opened #345 "Inconsistent user-selection word highlighting behaviour"
### System Details

- Operating system name and version:  Windows 7 SP1
- VS Code version:  1.71
- PowerShell extension version:  0.7.2
- Output from `$PSVersionTable`:
[code]

### Issue Description

Placing the cursor on a word doesn't always auto-highlight other words like it within the file (depends on language parsing?).  Manually highlighting the word with the mouse or keyboard does seem to c

[2016-11-21 19:39] pcgeek86 commented on #331
I like that idea, Keith.

[2016-11-23 15:50] Helocheck commented on #250
Hello,

I'm facing the issue despite following instruction here https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#1-powershell-intellisense-does-not-work-cant-debug-scripts

I've installed Openssl via homebrew but when trying to use intellisense I get a "no suggestion" despite SSL libraries and links being there.

To be noted I still get the OpenSSL warning when o

[2016-11-25 16:57] RobertBernstein commented on #284
Hoping this gets fixed in VSCode v1.7.2 and v0.7.2 of the extension soon.  Thanks!

[2016-11-25 19:55] sba923 commented on #284
I hate to say, but with VSCode v1.7.2 and v0.7.2 of the extension the problem's still there...

[2016-11-25 19:56] rkeithhill commented on #284
Yes, it is still a problem.  You can workaround the issue by setting a breakpoint on the last line of script that executes.

[2016-11-28 14:22] kuulemart opened #348 "Go to Definition of function parameter jumps into first function having that parameter"
### System Details

- Operating system name and version: Win10 Anniversary Update
- VS Code version: 1.7.2
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.14393.206
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVers

[2016-11-28 14:27] daviwil commented on #348
Thanks for the report!  I'll take a look.

[2016-11-28 15:45] pcgeek86 commented on #284
@daviwil any ETA on the fix for this?

[2016-11-28 15:53] daviwil commented on #284
I'm working in it this week to be included with 0.8.0.  Will keep you posted!

[2016-11-28 16:09] pcgeek86 commented on #284
@daviwil Nice!! I will test and tweet about it as soon as it drops!

[2016-11-28 17:10] daviwil opened #349 "Add support for module debugging"
We should add support for module debugging by allowing the user to easily set the .psd1 file in their launch.json without having to edit it manually.  If we add a new VS Code command like "Select module (.psd1) to be debugged", we could display a quick pick dialog that lists all of the .psd1 files found in the workspace.  The user can select one of those and their launch.json will be updated autom

[2016-11-28 17:10] RobertBernstein commented on #284
Thanks, @daviwil!

[2016-11-29 11:57] richardcox13 opened #351 "Syntax Highlighting Fails on Where-Object"
### System Details

- Operating system name and version: Server 2012 R2
- VS Code version: 1.7.2
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:
[code]

### Issue Description

Syntax highlighting of

    $s = $x['system.applicationHost'].sites.site | Where-Object -Property name -eq -Value  'Site1'

only highlights the `Where` of `Where-Object`:

![image](https://cloud.github

[2016-11-29 14:04] daviwil commented on #289
This situation will improve in 0.8.0 now that it will be much easier to temporarily switch to an x86 session without fiddling with the settings file.  We'll still need an option to force the debugger to use an independent x86 session though, so I'll put this issue back on the backlog for now.

[2016-11-29 14:05] daviwil commented on #289
Oh, this issue was for documentation.  I'll definitely add that for 0.8.0 since there's a solution for this.

[2016-11-29 14:12] daviwil commented on #351
Hey @richardcox13, we're tracking this issue over at another repo: https://github.com/PowerShell/EditorSyntax/issues/22.  I'll close this issue in favor of the other, please subscribe to it to be notified when the issue gets fixed.  Thanks!

[2016-11-29 14:12] #351 closed

[2016-11-29 15:40] daviwil commented on #284
I've got a fix for this, it'll definitely be in 0.8.0: https://github.com/PowerShell/PowerShellEditorServices/pull/306

[2016-11-29 16:02] GHRoss commented on #284
Can we test somehow?

[2016-11-29 16:10] daviwil commented on #284
I'll send out a preview build a little later today, would be nice to have folks try it out.

[2016-11-29 16:24] GHRoss commented on #284
Cool, where would I be able to find this?

[2016-11-29 17:08] daviwil commented on #284
I'll post it to this issue so you'll see it.

[2016-11-29 18:29] BruceP99166 opened #352 "Unresolved dependency"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Win 10
- VS Code version: 1.7.2
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.1.14393.206
PSEdition                      Desktop
PSCompatibleVersions

[2016-11-29 20:21] daviwil commented on #284
OK, here's a preview package.  Ignore the version number here, I'm using an arbitrarily increased version just for the purpose of sending out a preview.  Also, just to be clear, **USE AT YOUR OWN RISK**.  This build was created on my dev machine as a convenience for you guys so make sure you do the proper virus scanning, etc before you use it.

Download here: [PowerShell-0.7.10.zip](https://github

[2016-11-29 20:42] CendaL opened #353 "Cannot run debugger when offline"
When one is offline, the debugger does not start. Here is a log:
[code]

[2016-11-29 21:56] daviwil commented on #284
@ConstantineK Do your reactions mean that it worked for you? :)

[2016-11-29 22:01] ConstantineK commented on #284
Have to test in a bit, just something I have been waiting for :D

[2016-11-29 22:02] daviwil commented on #284
Cool!  Let me know how it goes :)

[2016-11-29 22:04] sba923 commented on #284
I've tested with a first, very small script of mine, works fine.

My plan is to try to stop using ISE for a while, and see what that gets me...

I'll keep you posted.

[2016-11-29 22:09] daviwil commented on #284
@sba923 thanks for letting me know!  Keep me posted

[2016-11-29 22:23] #284 closed

[2016-11-29 22:47] rkeithhill commented on #284
I did manage to get it to crash:
[code]

[2016-11-29 23:31] daviwil commented on #284
@rkeithhill Consistently or just once?  That seems unrelated to this change but its in an area where I've seen crashes before

[2016-11-29 23:48] daviwil commented on #302
Yep, working correctly for me too.  Closing this.

[2016-11-29 23:48] #302 closed

[2016-11-29 23:51] rkeithhill commented on #284
Just once.  Unfortunately, I haven't been able to repro it.

[2016-11-30 11:11] GHRoss commented on #284
Works for me, thanks David.

Does this build include any other fixes?

[2016-11-30 15:04] daviwil commented on #284
It includes a pretty big change that improves the user-friendliness of the PowerShell integration.  Most of it you won't see unless there's a problem with the extension, but you can see one change in the status bar:

![image](https://cloud.githubusercontent.com/assets/79405/20757377/dea47c32-b6ca-11e6-88be-669f9f94be12.png)

Clicking this brings up this handy menu:

![image](https://cloud.githubus

[2016-11-30 15:06] GHRoss commented on #284
That's awesome actually.

My intellisense is incredibly slow, but that's always been the case. Ha.

[2016-11-30 15:13] daviwil commented on #284
Shouldn't be slow, are you running it on a machine with limited resources (like a VM)?  Was it faster in an earlier version of the extension?

[2016-11-30 15:14] daviwil commented on #267
Hey @kapilmb, is it possible to include a custom script-based rule using the new settings file work you did?  Do you have an example of that somewhere?

[2016-11-30 15:16] daviwil commented on #352
Hey @BruceP99166, it seems like you need to restore your C# project dependencies before you can continue working on that project.  The message you see must be coming from the C# extension.  It seems like you might need to install the .NET Core tools because it's trying to launch the "dotnet" command but not finding it.

If you need further help with this you might try filing an issue at the [C# ex

[2016-11-30 15:16] #352 closed

[2016-11-30 15:35] GHRoss commented on #284
I'm not, and I can't work out why it's so slow. I have to wait about 30 seconds to a minute to get any suggestions back.

[2016-11-30 16:11] ozu945 commented on #284
got the same crash as rkeithhill, twice.  but now it doesn't happen again.
saw the dialog asking to restart the poweshell session, that's new.

[2016-11-30 21:52] ConstantineK commented on #284
Works for me, had a simple command and ran it without update, didnt flush, with the VSIX extension, works like a charm :D

[2016-12-01 13:42] richardcox13 commented on #351
No problem... I did have a quick look, but not that far back :-)

[2016-12-01 15:47] #281 closed

[2016-12-01 16:42] ConstantineK commented on #284
Having a few situations this morning where the same behavior (output not flushing) is occuring, trying to create a reproducible scenario now.

[2016-12-01 17:04] chrmarti opened #354 "Provide a simple way to execute scripts when a folder hasn't been opened"
_From @TheKnightCoder on December 1, 2016 11:35_

- VSCode Version: 1.8.0-insider
- OS Version: Windows 7

Steps to Reproduce:

1. install powershell extension
2. make a script using $PSScriptRoot   (directory of script)
3. Highlight code and press F8

$PSSScriptRoot is always C:\Program Files (x86)\Microsoft VS Code Insiders

This messes up all my scripts. and this is the only easy way of running

[2016-12-01 17:18] daviwil commented on #354
Have you tried running your script in the debugger (F5)?  Here's what I see:

![image](https://cloud.githubusercontent.com/assets/79405/20804241/fa9f24be-b7a6-11e6-9306-1d1f8c078918.png)

When you run script code with F8, it's basically just executing that text directly so no `$PSScriptRoot` gets set.  Even the ISE doesn't populate `$PSScriptRoot` in that case.  Running the script in the debugger

[2016-12-01 17:19] daviwil commented on #354
Sorry, didn't read all of the initial report, seems like you figured out that it works in the debugger.  Does this work correctly for you in the ISE or any other editor?

[2016-12-01 17:27] daviwil commented on #353
Hi Lukas, thanks for the report!  I'll take a look.

[2016-12-02 01:30] kapilmb commented on #267
As of now, PSSA settings file does not support have the `CustomRulePath` field. However, after its inclusion in PSSA settings file, VSCode should be able to run custom rules. I will create a issuse PSSA repo to track this issue.

[2016-12-02 01:35] kapilmb commented on #267
here is the issue PowerShell/PSScriptAnalyzer#675

[2016-12-02 09:14] TheKnightCoder commented on #354
Thanks this has helped. So I guess my issue isn't as bad as I thought.
basically I would like to be able to right click a script "Open with code" then press F5 to run.
Currently you must right click the folder the script is in, "open with code", select the file then press F5.
So opening a single file with code feel kinda useless

[2016-12-02 11:40] TheKnightCoder opened #355 "Debug Console Output"
### System Details

- Operating system name and version:
- VS Code version: 1.8.0-insider
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

### Issue Description

I am experiencing a problem with powershell Debug console output.
When I run a script with no break points the last few write-hosts/write-outputs do not display in the debug console.
for instance if I make a script

[2016-12-02 15:32] daviwil commented on #355
I just fixed this issue but it hasn't been released yet: https://github.com/PowerShell/vscode-powershell/issues/284.  I'm planning to push out a new update at the end of next week.

You can try a build which has the fix here: https://github.com/PowerShell/vscode-powershell/issues/284#issuecomment-263687307

[2016-12-02 15:32] #355 closed

[2016-12-02 20:13] chrmarti opened #356 "Document symbol list should contain variables defined in functions"
_From @wsmelton on December 2, 2016 18:9_

- VSCode Version: 1.7.2
- OS Version: 10.0.14393

Steps to Reproduce:

1. Open a ps1 file made up of just one function
2. Issue CTRL + P
3. Enter @ symbol
4. Only thing listed is the function name, none of the variables are showing.
5. Remove the function name and brackets (`function {}`) and then repeat.
6. You will now see the variables listed.
7. Open

[2016-12-02 20:40] daviwil commented on #356
Interesting suggestion!  I wonder how this would work if there are multiple instances of the same variable name used in different scopes.

[2016-12-02 20:42] daviwil commented on #354
Good point, this is one of the confusing aspects of VS Code for people who move over from the ISE.  I'll see if I can find a good way to allow script execution easily without opening a folder.

[2016-12-04 16:05] jlucktay opened #357 "Closing round bracket breaks syntax highlighting on ValidatePattern parameter attribute"
### System Details

- Operating system name and version: Windows 10 Pro, version 1607, build 14393.447
- VS Code version: 1.7.2
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with syntax highlighting inside a ValidatePattern attribute on a parameter.

The highlighting seems to break if I make use of a closing round

[2016-12-05 15:02] daviwil commented on #167
Since this is a commonly requested feature, let's discuss what features that a PowerShell code formatter should have in VS Code.  I'd love to see before and after examples of script code which show how you'd  like your code to be formatted.  @kapilmb and I will be using your ideas and examples to come up with an initial code formatting implementation for a future extension update!

It doesn't matt

[2016-12-05 15:35] bgelens commented on #167
I get a lot of scripts which before I can even look at them, need to fix indentation style for.
![image](https://cloud.githubusercontent.com/assets/10071039/20890642/e1151260-bb07-11e6-9bb2-03b2b90bb3c6.png)
Number of spaces should be consistent and tabs or spaces should be used (I'm spaces but preferably configurable).
![image](https://cloud.githubusercontent.com/assets/10071039/20890699/1492d370

[2016-12-05 20:43] mattmcnabb commented on #261
Plus one on the request from @adbertram. The key here is that the token rename should be scope-aware in PowerShell. We've been doing this in ISESteroids for a while:

![image](https://cloud.githubusercontent.com/assets/6998507/20901627/5975974a-bb01-11e6-870a-ed543d3a68c4.png)

[2016-12-05 21:22] rkeithhill commented on #261
Because of PowerShell's dynamic scoping that is hard to get right i.e. infer scripter intent.  In the example above, I'd argue that renaming `#Var1` on line 2 shouldn't rename the variable on line 5.  Line 2 should be considered a "new" $Var1 variable because of PowerShell's "copy on write" behavior.

Now if line 2 was `$script:Var1 = ...` then it would be obvious that line 5 should be renamed.

H

[2016-12-06 12:22] mattmcnabb commented on #261
@rkeithhill you're right about the intention of the example above. Sounds like it's difficult to implement - still would be really nice to have. Wonder how it's achieved in ISE Steroids?

[2016-12-06 14:47] adbertram commented on #261
PowerShell Studio does it as well and I used it religiously.

On Tue, Dec 6, 2016 at 6:22 AM, Matt McNabb <notifications@github.com>
wrote:

[2016-12-06 14:54] daviwil commented on #261
The question isn't whether it's possible (it is), it's whether the change we make is correct in terms of how PowerShell's variable scoping works.  Right now our symbol renaming is primitive but once we start doing it the "right" way, it will adhere as well as it can to PowerShell's scoping rules.

[2016-12-06 14:59] adbertram commented on #261
Great! Can we get that next week? ;)

On Tue, Dec 6, 2016 at 8:54 AM, David Wilson <notifications@github.com>
wrote:

[2016-12-06 15:03] daviwil commented on #261
Nope ;)  You will get a new release with some other shiny features, though.

[2016-12-06 16:10] daviwil opened #359 "Enable single-file (no workspace) debugging experience"
One important part of the PowerShell ISE workflow that needs to be replicated in VS Code is opening the editor, typing in some PowerShell script, setting a breakpoint, then running the code.  Currently VS Code requires you to open a folder to define a workspace where a launch.json file can be found.  This limitation will have to be removed before we will be able to provide this experience.

The VS

[2016-12-06 16:19] daviwil commented on #354
I just created another issue to track this request, forgot that this one already existed!  I'll close this in favor of the other.

https://github.com/PowerShell/vscode-powershell/issues/359

[2016-12-06 16:19] #354 closed

[2016-12-06 16:20] daviwil commented on #349
After discussing this with @rkeithhill, we decided this might not be necessary once the interactive console is back.  Holding off until we have an interactive console and can try it out.

[2016-12-06 16:21] rkeithhill commented on #359
Minor clarification on ISE behavior.  ISE will not allow you to set a breakpoint until you save the script to file.

[2016-12-06 16:57] JustinGrote commented on #167
### Key Items

1. Indentation Fixes such as BGelens excellent description above.
2. Brace Alignment - Due to style differences, have a toggleable option to do:

function foo {
}

vs.

function foo
{
}

(I think the first option should be default)

3. Alias/Parameter/Attribute/etc. Expansion. A lot of this already exists but having a "one click fix" would be nice. Basically allow me to write using

[2016-12-06 17:25] rkeithhill commented on #167
I'd rather have alias expansion be a separate operation.  I have certain aliases I have whitelisted with PSSA and I wouldn't want the formatter to ignore that whitelist.  I would also consider staying away from formatting pipelines to start with. Folks just have too many ways and I'm not sure there's much consensus.

**Space between keywords and curlies/parens**
I would like to see the formatter s

[2016-12-06 18:01] JustinGrote commented on #167
@rkeithhill Can you explain more about the PSSA whitelist? Why wouldn't you want these cleaned or fully expanded? In either case could again easily be a true/false toggleable preference for the formatter. Just curious.

[2016-12-06 18:06] daviwil commented on #132
This one has been fixed for a while, just forgot to close the bug!

[2016-12-06 18:06] #132 closed

[2016-12-06 18:20] daviwil opened #360 "First-class dependency modules (PSScriptAnalyzer, Plaster) should not be bundled with the extension"
Currently we bundle the PScriptAnalyzer module with the PowerShell extension for the sake of convenience.    Instead of this, we should either use the user's installed, compatible version of the modules or prompt them to install the dependency modules.  We can take care of the entire module installation experience.

Eventually we may consider removing the PowerShellEditorServices module from being

[2016-12-06 18:30] rkeithhill commented on #167
We use the PSSA whitelist, because we find it acceptable to use cd/pushd/popd in our scripts.  I also would not expect a "formatter" to expand aliases.

[2016-12-06 18:42] JustinGrote commented on #167
OK, so since it is a style preference I'd recommend it be available as an option as such. Just another toggleable field to put in your settings.json, something like:
powershell.codeformatter.expandAliases = $true
powershell.codeformatter.expandCommands = $true
powershell.codeformatter.expandParameters = $true

And if you really wanted to get fancy have a whitelist preference for each that you coul

[2016-12-06 18:45] daviwil commented on #167
So to be a little more transparent about what we're doing, we are going to try to implement a set of rules in Script Analyzer which identify and apply code style fixes.  Since PSSA can now do alias expansion with whitelisted aliases, everyone will get the behavior that they want but it just won't be considered a "formatting rule" :)

[2016-12-06 18:46] JustinGrote commented on #167
@daviwil I think that's the best way to go, as if its in PSSA it can be applied more generically than just in VSCode (you could use it in ISE for example).

[2016-12-06 18:49] daviwil commented on #167
Yep, or on the command line!

[2016-12-06 18:50] daviwil commented on #167
Whoops, missed the rest of the text, thanks e-mail preview.  We were just getting the discussion started here so that we don't distract people with the Script Analyzer aspect.  When we start the effort for this soon we'll be tracking it at the PSScriptAnalyzer repo.

As far as the UI is concerned, we'll be coming up with a way to configure PSSA more easily in the VS Code experience.  Right now you

[2016-12-06 18:53] JustinGrote commented on #167
@daviwil OK sounds good. My original post is the "before/after" you were asking for :).

https://github.com/PowerShell/vscode-powershell/issues/167#issuecomment-265205548

[2016-12-06 18:56] daviwil commented on #167
Yep, indeed it is.  Thanks everyone for the great feedback so far!  Seems like the largest benefit would just be straightening up the indentation and curly brace alignment.  Regarding things like where curly braces go, those details will absolutely be configurable.  We'll ship with some default rules that are configured to behave like the recommendations in the PowerShell community's style guide b

[2016-12-06 18:58] JustinGrote commented on #167
@daviwil Only other thing I can think if is optionally a preview feature, that runs the code and then pops up a diff just like with how Git Compares work in VSCode so you can review before accepting. Can't imagine I'd personally use this often but others might find it helpful.

[2016-12-06 19:56] daviwil commented on #167
Hmmm that's an interesting suggestion, we could definitely give it a shot!

[2016-12-06 22:22] daviwil commented on #360
@kapilmb will try to get this started for the PSScriptAnalyzer integration for 0.9.0.

[2016-12-07 00:14] daviwil commented on #359
True!  Good point.

[2016-12-07 00:33] daviwil opened #361 "Add troubleshooting note about slow IntelliSense results in PowerShell v5"
I've heard from a couple people recently that IntelliSense results are sometimes slow to return.  I'd like to investigate the cause of that issue.

@GHRoss: could you give me more details about the IntelliSense slowness that you reported [here](https://github.com/PowerShell/vscode-powershell/issues/284#issuecomment-263896329)?  Does it only give you 30 seconds delay on the first time you get Intel

[2016-12-07 12:46] GHRoss commented on #361
Hi David,

No problem. I've sent the logs over to you.

I can only describe the problem as typing, for example...

Get-Chil

And then having to wait for Intellisense to catch up.

[2016-12-07 12:58] GHRoss commented on #361
I'm actually seeing very different results on both computers.

Here is what I see on my current machine...

![1](https://cloud.githubusercontent.com/assets/5963184/20968549/dc3860c8-bc7c-11e6-859d-7cdae4a60396.png)

And here is what I see on my old machine (and believe to be what I should be seeing).

![2](https://cloud.githubusercontent.com/assets/5963184/20968566/e8fbdbb4-bc7c-11e6-92c4-9f55e2ba

[2016-12-07 14:29] daviwil opened #362 "Tab completion fails in certain scopes"
_From @bobbytreed on December 6, 2016 17:26_

Not sure if this has been reported, but it is a very odd specific case.

If you create a script (Untitled.ps1) and put one line in it $host.EnterNestedPrompt().
When you run the script you will enter a nested prompt, obviously, at that point if you create any variables you will not be able to tap complete to them.  You can see them with Get-VAriable an

[2016-12-07 14:30] daviwil commented on #362
Hey @bobbytreed, I haven't heard of this issue before, will investigate.  Thanks!

[2016-12-07 14:58] daviwil commented on #361
Judging from the logs, it seems that IntelliSense takes about 10 seconds to return for cmdlet names but it's pretty much instant for cmdlet parameters.  Is that correct?

This is pretty weird, my assumption was that Get-Help was causing a problem but it seems that the IntelliSense engine is lagging behind.

[2016-12-07 14:59] daviwil commented on #361
By the way, if you go into the ISE on the same machine do you get the same IntelliSense slowness?

[2016-12-07 19:10] daviwil commented on #166
So it turns out that this may be coming from the PowerShell engine instead of Get-Help like I originally thought (see issue #361).  I'll talk to some folks today to see if I can figure out a resolution for 0.8.0.

[2016-12-08 02:17] ssaari opened #363 "Unable to see Write-Host output"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Caption        : Microsoft Windows Server 2012 R2 Standard
CSDversion     :
BuildNumber    : 9600
OSArchitecture : 64-bit
- VS Code version: 1.7.2
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:
Name                           Value
----

[2016-12-08 10:54] GHRoss commented on #361
In ISE I get...

Intellisense...

Stopping Intellisense...

Intellisense timed out.

This all happens with about 5 seconds.

[2016-12-08 11:14] GHRoss commented on #361
Interestingly I was searching around for a potential solution to this and came across the following article...

http://windowsitpro.com/windows-client/solve-intellisense-hangs-integrated-scripting-environment

I did as it said and deleted all the files.

Upon trying Intellisense again, it hangs for much longer and then the files in that folder are all regenerated.

Then trying Intellisense a final

[2016-12-08 14:35] daviwil commented on #363
Hey @ssaari, can you try the preview build I posted [here](https://github.com/PowerShell/vscode-powershell/issues/284#issuecomment-263687307) and see if it resolves your issue?

[2016-12-08 15:32] daviwil commented on #361
Thanks, that's really helpful!  I'll ask someone if there's a known issue in PowerShell 5.0.

[2016-12-08 16:18] ssaari commented on #363
Yes, sir, @daviwil, it sure did.  Thank you!

[2016-12-08 16:18] #363 closed

[2016-12-08 16:20] daviwil commented on #363
Glad to hear it!  I'll be shipping an official update with that fix early next week.

[2016-12-08 16:21] rkeithhill opened #364 "Add debug configurationSnippets to package.json to light up "Add Configuration" experience"
See https://github.com/Microsoft/vscode/issues/16937 for details.

[2016-12-08 17:20] wsmelton opened #365 "PSScriptAnalyzer module version support"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.7.2
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:
[code]
### Issue Description

Checking the modules folder for this extension, PSScriptAnalyzer shows as 1.7.0. Which corresponds to the last release for this extension (Septembe

[2016-12-08 18:19] daviwil commented on #365
Hey Shawn, thanks for the suggestion!  We've been working toward this for a while, actually.  The ultimate goal is to have PSScriptAnalyzer plug into the PowerShell extension without there being a direct dependency on a specific PSScriptAnalyzer version.  This would allow you to get the benefits of any new updates to PSScriptAnalyzer without requiring an equivalent update to the PowerShell extensi

[2016-12-08 18:19] #365 closed

[2016-12-08 22:27] daviwil commented on #361
Looks like this is indeed a known issue with PowerShell 5.  It's been fixed in PowerShell 5.1 which explains why IntelliSense works fine for you on your other machine.

[2016-12-08 22:49] GHRoss commented on #361
That's great news! Although I'm in two minds about updating to WMF 5.1 as it's still in preview, my experience can't get much worse at the moment, so I think I'm going to update it as soon as possible.

I guess that means this bug can be closed?

[2016-12-08 22:53] GHRoss commented on #329
I have seen this too. A restart seems to clear.

[2016-12-08 22:53] daviwil commented on #361
I'll keep it open to remind myself to put a note in the Troubleshooting document about this in case other people have issues.  Thanks again for your help investigating the issue!

[2016-12-08 22:56] GHRoss commented on #331
I'm not too keen on this. F8 is my go to key for running highlighted text in PowerShell just like it is in the ISE. Although I wouldn't have a problem if this was configurable as it currently is within VS Code's preferences.

[2016-12-08 23:01] daviwil commented on #331
Yeah, I think there's enough built-in expectation from PowerShell developers that F8 should execute the selection.  However, conflicting with a built-in keybinding isn't great, so I'm thinking about providing some kind of prompt the first time the user loads the extension to ask them if they want to use ISE-style keybindings and then auto-configure them if they confirm.  The defaults would be desi

[2016-12-08 23:07] GHRoss commented on #331
Love that idea. I'd go straight for the ISE bindings.

[2016-12-08 23:10] JustinGrote commented on #279
I can reproduce this consistently with this code:
[code]

and a breakpoint on $test = ""

start a debug session with F5 and then running the following command in the debug console:
$pscmdlet.myinvocation.boundparameters | foreach {$PSItem} | gm

it shows the Get-member output and then shows the error.
http://imgur.com/a/w5o8U

With other commands it seems random whether it errors or not, but it al

[2016-12-08 23:16] daviwil commented on #279
Interesting, I had a report from @gerane earlier about debugger problems when messing with $PSBoundParameters:

Not sure if there's some relation there...  Thanks for the repro script, that will be helpful!

[2016-12-08 23:36] rkeithhill commented on #331
Ditto except that I'd punt on the ISE bindings.  :-)  Seriously though, these days I'm using VS Code for other languages as well e.g.  C# and PHP.  It is nice when I can count on the VS Code shortcuts I know regardless of which extension is active.  This is one thing I didn't like about R# for a long time until they gave us the option to retain VS shortcuts during install.  Much like you are sugge

[2016-12-09 13:17] Glober777 opened #366 "Add debugger launch configuration settings for output preferences"
Is it possible to edit launch.json file so that when I debug my scripts they run with $DebugPreference set to 'Continue'?

[2016-12-09 13:58] daviwil commented on #366
Not yet, but we should add that!

[2016-12-09 14:07] daviwil opened #367 "Add option in launch.json to create a new PS process for each script debug session"
There are some cases where it's useful to create an entirely new PowerShell process instance when debugging a script.  For example, when writing PowerShell classes it isn't easy to quickly make tweaks to your class code in the same session because PS classes are generated into assemblies at runtime and can't be unloaded/reloaded.  In this case, creating a fresh PowerShell process for each run of t

[2016-12-09 15:05] rkeithhill commented on #367
Definitely. I have been worried about this sort of thing leading to an incorrect assumption that a script is working because of "left-overs" in the debug session. Or in the case you outline, troubles debugging on subsequent runs.

[2016-12-09 19:08] daviwil commented on #166
Yes, this is a problem with the completion engine in PowerShell v5.  Get-Help was wrongly accused.  I'm going to close this issue now since it probably isn't needed.  If anyone has strong feelings about it, I will be happy to reopen it.

[2016-12-09 19:08] #166 closed

[2016-12-09 19:37] daviwil commented on #171
The final work for this is being checked in with https://github.com/PowerShell/PowerShellEditorServices/pull/314.  You should see an improvement in the upcoming 0.8.0 release!

[2016-12-09 19:37] #171 closed

[2016-12-09 19:43] daviwil commented on #353
Hey Lukas, I can't seem to reproduce this issue even after trying it a few different ways.  Some questions:

- How are you offline when you see the problem?  Airplane mode?  No available wifi/ethernet connection?
- Which operating system are you running?
- Are you using VS Code Stable or Insiders?  Can you try it with the Insiders release if you haven't yet?

Thanks!

[2016-12-09 21:37] ssaari commented on #363
Hi,

I had started VS Code (the 0.7.10) in another RPD session, got kicked off, and was in another session when I logged back in.  Same logon but different session.  I can't open VS Code from its shortcut or from File Explorer.  Same environment as at the beginning of this thread.  Here's a Get-Process.  I guess I will pipe this to Stop-Process.
DF_PS> gps *code*

Handles  NPM(K)    PM(K)      WS(

[2016-12-09 22:08] daviwil commented on #363
This might be caused by the fact that code tries to reuse existing windows if you open another instance with the same workspace path.  This could be an instance where the process starts up and then tries to load the previous session then it realizes there's already another window with that session so it tries to activate it.  Through some weird interaction with Windows the window might be lost and

[2016-12-09 22:18] ssaari commented on #363
okay, thanks.

[2016-12-09 22:21] #217 closed

[2016-12-09 22:21] #292 closed

[2016-12-09 22:21] #361 closed

[2016-12-10 01:28] tomaaa commented on #250
Same thing here and I tried everything on the forum

[2016-12-10 02:09] daviwil commented on #250
@tomaaa can you please capture and send logs by following these instructions:

https://github.com/PowerShell/vscode-powershell/blob/master/README.md#2-capture-verbose-logs-and-send-them-to-us

[2016-12-10 22:46] rkeithhill commented on #364
What do you think about this impl of the debug configurationSnippets:

![image](https://cloud.githubusercontent.com/assets/5177512/21076693/3ff663d4-beef-11e6-9858-8761ed99a963.png)

This is what the Start Debugging target drop down looks like.  Note that I want to rename the current target `PowerShell` to `PowerShell Launch (current file)`.  This will allow the user to use the `Add Configuration`

[2016-12-10 23:50] rkeithhill commented on #364
Been playing with this.  I like it! It is not uncommon to have different scripts with a workspace that you want launched for debugging.  This feature allows you to do that:

![image](https://cloud.githubusercontent.com/assets/5177512/21076987/b13c63d2-bef8-11e6-9de3-4962c3a2ecb3.png)

[2016-12-11 06:22] tomaaa commented on #250
Reproducing the problem doesn't seems to generate logging. I added the "powershell.developer.editorServicesLogLevel": "Verbose" in settings.json.

[2016-12-11 16:21] daviwil commented on #364
I like the config naming a lot, makes things really clear.  I think we'll get attach to process going pretty soon so it's good to leave room for that, as you have.  Also good to be consistent with other extensions.

Hmmm, seems they're running a little late on 1.8, but maybe they'll ship soon after we do and it won't matter.  I guess the biggest issue is whether there will be a way to create a def

[2016-12-11 16:52] daviwil commented on #250
@Helocheck @tomaaa there was a bug in the way I was checking for the Homebrew installation of OpenSSL, this was fixed on Friday:  https://github.com/PowerShell/vscode-powershell/issues/292.  I think your problems should be fixed when we release the 0.8.0 update this week (shooting for Wednesday).  If you still have trouble after that, let me know and I will diagnose further.

[2016-12-11 16:55] tomaaa commented on #250
Excellent, I will check again this week.
Thanks

[2016-12-11 17:55] rkeithhill commented on #364
I tried the extension in VSCode 1.7 and was able to create a launch.json file from the Debug view. The only differences are that the configuration name is the updated name and instead of "program" it uses "script".  That should work just fine for a person using the launch.json file on the same machine they upgraded to 0.8.0.  However if that get's checked in and someone else clones it and tries to

[2016-12-11 22:05] #364 closed

[2016-12-12 08:03] isidorn commented on #364
@rkeithhill looks great!

[2016-12-12 08:22] rkeithhill commented on #364
@isidorn Thanks for the feedback!

[2016-12-12 21:17] pcgeek86 opened #371 "Mac OS X :: PowerShell Intellisense not invoking"
### System Details

- Operating system name and version: Mac OS X 10.11.6
- VS Code version: 1.7.2
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]

### Issue Description

PowerShell Intellisense not working for cmdlets, similar to #250. I simply receive a PowerShell code snippets auto-complete correctly, however.

- I have the latest PowerShell Alpha installed (Alpha

[2016-12-12 21:19] pcgeek86 commented on #371
![screen shot 2016-12-12 at 2 19 16 pm](https://cloud.githubusercontent.com/assets/466713/21117234/0a0d4dea-c076-11e6-9cfe-109e87329b35.png)

[2016-12-12 21:22] daviwil commented on #371
Those instructions were updated in anticipation of the 0.8.0 release on Wednesday, you'll need to follow an extra step for now:

[code]

After Wednesday's update this will no longer be necessary.  I'd release it today but we've got a couple more things to finish up.

[2016-12-12 21:27] pcgeek86 commented on #371
@daviwil Should those arguments be reversed? I just get "file exists," and the `/opt/local` directory doesn't exist.

[2016-12-12 21:29] daviwil commented on #371
Crap, sorry, I tried to copy/paste those on the fly but got the parameters wrong.  Here's the correct lines:

[code]

[2016-12-12 21:31] pcgeek86 commented on #371
I can confirm that these steps work. Thank you @daviwil.

![screen shot 2016-12-12 at 2 31 13 pm](https://cloud.githubusercontent.com/assets/466713/21117613/af9dc61c-c077-11e6-80f5-e5c4d01e9e26.png)

[2016-12-12 21:31] #371 closed

[2016-12-12 21:33] daviwil commented on #371
Thanks for confirming!

[2016-12-13 14:49] Glober777 opened #372 "Extension host terminates when editing code offline"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10 Enterprise
- VS Code version: vscode-powershell
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:
PS > $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.14393.479
PSEdition

[2016-12-14 16:30] adbertram commented on #26
I just ran into this today as well. It would be nice to at least get syntax coloring for enums.

[2016-12-15 00:32] daviwil commented on #107
Plaster integration is coming to 0.8.0, closing this now :)

[2016-12-15 00:32] #107 closed

[2016-12-15 00:34] daviwil commented on #329
Verified the issue,  I suspect this is due to using a sorely outdated version of `vscode-languageclient`.  I'll check on this again after we update to the latest version.

[2016-12-15 00:36] daviwil opened #374 "Syntax error markers sometimes don't update for a long time"
This issue is hard to reproduce so it'd be nice if someone can come up with a solid repro.  Sometimes when editing a script file the error markers don't get cleared away when the syntax issue has been fixed in the code.  Not sure what's causing this yet, but there's some chance it could be caused by our use of a super-outdated `vscode-languageclient` library,

Reported by @adbertram, I've also see

[2016-12-15 00:38] #294 closed

[2016-12-15 00:39] rkeithhill commented on #374
Yup, I've seen the same thing.  It usually catches up though. I've sometimes tried saving the file to see if that helps and sometimes I'll just do a `reload window`.

[2016-12-15 14:29] CendaL commented on #353
I run Win10 enterprise. I have tried it again now with LAN not connected and WiFi adapter disabled (previously WiFi was unavailable) in both stable and insider version. Logs are basically the same: [logs.zip](https://github.com/PowerShell/vscode-powershell/files/654877/logs.zip)

[code]

[2016-12-15 14:40] daviwil commented on #353
Hey Lukas, can you try something for me?  Open the following file in VS Code:

`c:\Users\<your username>\.vscode\extensions\ms-vscode.PowerShell-0.7.2\out\debugAdapter.js`

Go down to line 24, it should look like this:

[code]

Change that line so that it looks like this:

[code]

Save the file then completely restart VS Code and try debugging a PowerShell script again.  Any improvement?  If so, I

[2016-12-15 14:59] CendaL commented on #353
Yep - that works for me!

[2016-12-15 15:01] CendaL commented on #353
Yep, that works for me!

[2016-12-15 15:12] daviwil commented on #353
Awesome, thanks for confirming!  I'll get a fix in for that :)

[2016-12-15 15:15] #353 closed

[2016-12-15 15:46] LethiferousMoose opened #377 "System and Scope Modifier variables do not evaluate in hover tooltip"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version:
- VS Code version: 1.8.0
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:
PSVersion                      5.0.10240.17146
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.42000
BuildVersion

[2016-12-15 16:18] rkeithhill commented on #377
I believe that is because those scopes are marked as `expensive` to be retrieved by VSCode.  We'll need to evaluate if it really is a perf hit to retrieve all scopes.  OTOH `$env` is not a scope but a PSDrive.  You can evaluation $env values within the Debug Console at the prompt.

[2016-12-15 16:21] LethiferousMoose opened #378 "Step Over does not return the caller and debugger locks up"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version:
- VS Code version: 1.8.0
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:
PSVersion                      5.0.10240.17146
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.42000
BuildVersion

[2016-12-15 19:45] LethiferousMoose opened #379 "Go To Definition/Find All References with Set-Variable"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version:
- VS Code version: 1.8.0
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:
PSVersion                      5.0.10240.17146
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.42000
BuildVersion

[2016-12-15 20:37] daviwil opened #380 "Provide npm-like feature for installing development dependency modules"
npm/package.json has the concept of "devDependencies" which are modules that get pulled down to assist with development.  The PowerShell extension should leverage some metadata, probably in the .psd1, to figure out the module/version for each dependency so that it can prompt the user to install them.  This will help module authors who need a specific version of a tool (like PSake or platyPS) pull

[2016-12-16 00:39] daviwil opened #382 "Update changelog for 0.8.0"
Going to try something new here, using GitHub to host images to put in the changelog :)

![status_indicator](https://cloud.githubusercontent.com/assets/79405/21247551/fcf2777c-c2e4-11e6-9659-7349c35adbcd.png)

![session_menu](https://cloud.githubusercontent.com/assets/79405/21247555/009fa64c-c2e5-11e6-8171-76914d3366a0.png)

![pssa_rule_select](https://cloud.githubusercontent.com/assets/79405/2124

[2016-12-16 11:46] wibblemonkey opened #384 "Powershell snippets broken in latest VS Code release (1.8.0)"
### System Details

- Operating system name and version: Windows Server 2012 R2
[code]

VSCode Version 1.8.0
 - Commit 38746938a4ab94f2f57d9e1309c51fd6fb37553d
 - Date 2016-12-13T17:45:32.595Z
 - Shell 1.4.6
 - Renderer 53.0.2785.143
 - Node 6.5.0

PowerShell extension version: 0.7.2

Output from `$PSVersionTable`:
[code]

### Issue Description

The changes to snippets in the latest release of VS

[2016-12-16 14:34] daviwil commented on #384
Thanks a lot Jim!  I just fixed all the snippets, it'll go out with today's update to the extension!

[2016-12-16 14:35] #384 closed

[2016-12-16 15:07] Glober777 opened #386 "Suggestion: Expandable objects in the debug console"
While going through release notes for VS Code 1.8 I came across [this enhancement](https://github.com/Microsoft/vscode/issues/15796) and thought that it would be really handy if the same would work for objects sent by PowerShell script to the standard output (pipeline) and possibly even for Verbose, Debug and Error channels. What do you think?

[2016-12-16 15:27] adbertram opened #387 "Variables in snippets now being treated as placeholders"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: macOS Sierra
- VS Code version: 1.8
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`: PS v6 alpha 13

### Issue Description

Variables inside of PowerShell snippets are now being treated as placeholders. For example, these are the exact same thing now:

$var
${va

[2016-12-16 15:34] adbertram opened #388 "Syntax errors are not reported when powershell.scriptAnalysis.enable is set to false"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: macOS sierra
- VS Code version: 1.8
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`: PSv6 alpha 13

### Issue Description

It seems that Code no longer can detect problems in my scripts. I can make a number of edits that would prevent the script from compiling a

[2016-12-16 15:59] #382 closed

[2016-12-16 16:07] adbertram commented on #387
To get around this, I've had to replace all PowerShell variables with double $. They are still treated as placeholders but if I don't change them, at least they stay that way.

[2016-12-16 16:10] daviwil commented on #387
Fixed with #384, it'll be in today's update!

[2016-12-16 16:10] #387 closed

[2016-12-16 18:39] baileyjames9 opened #389 "1.7.2 freezes on debugging with Visual Studio Code 1.8"
**Please fill in these details so that we can help you!**

### System Details
Visual Studio Code 1.8.0
Powershell extension 1.7.2

- Operating system name and version:2012
- VS Code version:1.8
- PowerShell extension version:1.7.2
- Output from `$PSVersionTable:

Name                           Value
----                           -----
PSVersion                      5.0.10586.117
PSCompatibleVersi

[2016-12-16 18:45] daviwil commented on #389
May be related to https://github.com/PowerShell/vscode-powershell/issues/378, will investigate.

[2016-12-16 18:47] daviwil commented on #386
Yep, it'd be interesting, but as we transition to using the Integrated Terminal UI for our console experience, this possibility may go away.  There may still be some way to do it from the debug console, though, will have to investigate.

[2016-12-16 19:03] daviwil opened #390 "New Project experience doesn't open project folder correctly in some cases"
Destination paths like the following don't open correctly:

- `~/MyNewModule`
- `$HOME/MyNewModule`

We should resolve these paths in the language server and send back the full path to the new workspace so that VS Code doesn't need to resolve the path (especially in the case of using PowerShell variables like `$HOME`).

[2016-12-16 23:23] Persistent13 opened #391 "Desired State Configureation WindowsFeature Name Field Intellisense Crashes PowerShell Session"
### System Details

- Operating system name and version: Microsoft Windows 10 Pro Insider Preview
- VS Code version: 1.8.0
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

When writing a DSC file if I attempt to use intellisense to complete the name field of WindowsFeature shown below the PowerShell session will crash.

[code]

The crashing sto

[2016-12-16 23:46] daviwil commented on #391
Thanks Dakota!  I see the crash in the logs, will try to get this fixed for an 0.8.1 update next week.

[2016-12-17 00:03] daviwil commented on #388
Ok, there might be a big here, I don't see *any* markers being sent back to the editor for syntax errors in the file.  I suspect it's because you've got the `powershell.scriptAnalysis.enable: "false"` setting in your config file.  This shouldn't stop syntax errors from being reported.  There was a change in that area of the code recently, I think it might have broken syntax error reporting when Sc

[2016-12-17 00:07] daviwil commented on #378
Hey @LethiferousMoose, thanks for the report!  I'm missing the EditorServices.log files in the two ZIPs you sent, those will be the ones with useful information.  Can you follow [these instructions](https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us) and try to reproduce the problem again?

[2016-12-17 00:09] daviwil commented on #379
We'll look into it!

[2016-12-17 00:10] daviwil commented on #377
I'd like to make hover work as many places as possible.  I think Keith's right, it's probably due to the `expensive` flag we set on those scopes.  We'll re-evaluate that and see if we can turn it off.

[2016-12-17 01:28] wsmelton opened #392 "Quick Fix action is not working"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10,
- VS Code version: 1.8.0
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with...Quick fix actions do not seem to work either with accessing the light bulb prompt or actually applying the qu

[2016-12-17 02:38] LethiferousMoose commented on #378
You can probably close this one... It seems after I rebooted my computer the issue no longer occurs. I will re-log it if I see it happening again. Until then I will not be able to supply new logs.

[2016-12-17 02:38] #378 closed

[2016-12-17 02:52] LethiferousMoose opened #393 "Go To Definition/Find All References with scope modifier"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version:
- VS Code version: 1.8.0
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:
PSVersion                      5.0.10240.17146
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.42000
BuildVersion

[2016-12-17 04:36] rkeithhill commented on #379
This is tricky because `Set-Variable` creates variables at `runtime` so there is no AST representation of the variable at edit time.  You could special case this and find instances `New-Variable` and `Set-Variable` that use a string literal for the variable name.  But if the cmdlet uses an expression e.g. `Set-Variable -name (Get-VariableNameFunction) -value 42`, not so easy without partially exec

[2016-12-17 05:23] kapilmb commented on #392
Looks like the document is unsaved. The current implementation of quick fix does not work in unsaved (untitled-1) documents.

[2016-12-17 08:08] kapilmb opened #395 "Quick Fix for PSAvoidUsingAliases rule replaces the entire command"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Microsoft Windows NT 10.0.14393.0
- VS Code version: 1.8.0
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:
[code]

### Issue Description

![quickfixavoidaliasbug](https://cloud.githubusercontent.com/assets/14225543/21285428/e147f00c-c3ec-11e6-9603-de8c1b99065a.

[2016-12-17 09:29] kapilmb commented on #388
It is caused by [this](https://github.com/PowerShell/PowerShellEditorServices/blob/develop/src/PowerShellEditorServices.Protocol/Server/LanguageServer.cs#L1088). We actually return the syntax markers from a downstream method which never gets called if analysis is disabled. I already have a fix in a branch on the PSES repo but I'll wait till a pending PR is merged.

[2016-12-17 16:22] #314 closed

[2016-12-17 16:24] #392 closed

[2016-12-17 16:39] daviwil commented on #390
Ultimately depends on https://github.com/PowerShell/Plaster/issues/218 being wired up through Editor Services.

[2016-12-17 16:43] daviwil commented on #379
Yep, Keith's right, it's difficult to make this work 100% (or even 50% for that matter).  I think the expectation should be that "obvious cases" like `Set-Variable` with the variable name plainly visible will be located.  We shouldn't need to partially execute any code to get language features to work.

[2016-12-17 17:45] rkeithhill commented on #390
I'll look into this today.

[2016-12-17 22:24] wsmelton commented on #392
Ok here it is in a saved file, same version and computer...

![quickfix_issue_savedfile](https://cloud.githubusercontent.com/assets/11204251/21290156/318dbb2c-c475-11e6-87e3-cd2539328bdc.gif)

[2016-12-17 22:35] gerane opened #396 "Extension commands loaded in PowerShell profile are not being registered"
### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.9.0 Insiders
- PowerShell extension version: 8.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

When trying to load the Editor Command menu, v8.0 throws the following error

`No extension commands have been loaded into the current session.`

The logs show that my Editor Commands were successf

[2016-12-18 16:21] daviwil commented on #392
Hey Shawn, this could be a UI issue with VS Code.  When you see this happen, try pressing <kbd>Ctrl+.</kbd> when your cursor is on `gci` and see if it gives you the corrections menu.  If it still works in that case we might need to file a bug at the VS Code repo.

[2016-12-18 17:51] daviwil commented on #396
I might have broken something here, will investigate for 0.8.1

[2016-12-19 00:44] rkeithhill commented on #386
I don't think you'd want every object diverted from `Out-Default`.  Given this UI is specific to VSCode, perhaps PSES could export a command like `Write-ExpandableObject` when it is loaded into VSCode?

[2016-12-19 00:51] rkeithhill commented on #26
Shouldn't this be moved to http://github.com/powershell/editorsyntax and closed here?

[2016-12-19 00:51] dfinke opened #397 "As a PoSher, I'd to be able to apply all ScriptAnalyzer suggestions"
This would be useful for both the current file and the for all the files analyzed in the directory.

[2016-12-19 11:16] nightroman commented on #396
Same issue here. I think it happened on upgrading VSCode-PowerShell from 0.7.2 to 0.8.0. Upgrading VSCode itself to 1.8.0 did not cause this problem.

[2016-12-19 14:25] gerane commented on #396
@daviwil same on my work desktop. Let me know if I can help with anything else or could help test any changes.

[2016-12-19 14:27] wsmelton commented on #392
Yep, `CTRL + .` brings up the content menu for me to use.

[2016-12-19 14:27] daviwil commented on #396
I just checked it, looks like I broke profile loading in general.  Looking into it now

[2016-12-19 14:32] daviwil opened #398 "Restarting after PowerShell configuration changes doesn't use new settings"
It seems that the restart prompt that appears after you change PowerShell configuration settings doesn't actually cause the new settings to be picked up.  I just commented out the powerShellExePath and restarted but it still got used.  Seems like a logic bug.

[2016-12-19 14:41] daviwil commented on #396
Profile loading is fine, was just testing with the wrong profile path :/  This looks like it's caused by an event sequence I hadn't accounted for when I totally redesigned the extension code.  Fixed it, PR incoming!  I'll be shipping an update in the next couple of days so this fix will go out with it.

[2016-12-19 14:48] daviwil commented on #398
Looks like I was mistaken, it's working fine!

[2016-12-19 14:48] #398 closed

[2016-12-19 14:59] daviwil commented on #392
Thanks for verifying Shawn!  I filed issue https://github.com/Microsoft/vscode/issues/17540 on the VS Code repo to see if they can fix the disappearing lightbulb issue.

[2016-12-19 15:06] gerane commented on #396
@daviwil yeah, was going to say that this also doesn't work when using f8 or running the register command either. Profile is running and commands output as being registered, but not showing up as having any registered.

Anyway I can get the fix for my local build for the time being? I may have to revert to previous version if not. Totally kills my workflow without them lol.

[2016-12-19 15:14] daviwil commented on #396
@gerane It should be working when you use F8 on an editor command registration after the profile has been loaded.  Are you saying it isn't working in that case?

Here's a preview drop, I didn't bump the version number so you might need to uninstall the existing 0.8.0:

[PowerShell-0.8.0.zip](https://github.com/PowerShell/vscode-powershell/files/661385/PowerShell-0.8.0.zip)

Rename **.zip** to **.v

[2016-12-19 15:16] daviwil commented on #391
I've got a fix ready for this, it will go out with the 0.8.1 update this week!

[2016-12-19 15:18] daviwil commented on #340
Hi @sunitjoshi, this issue should be fixed in the latest 0.8.0 update, please try it out and let me know if it works for you.  I'll reopen the issue if you still see problems after the update.

[2016-12-19 15:18] #340 closed

[2016-12-19 15:18] gerane commented on #396
@daviwil ok, that is working now actually. It wasn't working on my laptop though.

[2016-12-19 15:19] gerane commented on #396
@daviwil is there a cli for installing a vsix, or only the one in the GUI?

[2016-12-19 15:19] daviwil commented on #396
I've only seen the one in the GUI, not sure if they give a CLI path.

[2016-12-19 15:21] daviwil commented on #389
Hey @baileyjames9, if you can still reproduce this issue, do you mind capturing logs with the following instructions and send them to me:

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

If you'd prefer not to send the logs in the open you can send them via email: *daviwil [at] microsoft.com*

[2016-12-19 15:22] gerane commented on #396
@daviwil I may see if just highlighting and running one works out. When I registered one, they all were visible. I couldn't get that to work on my laptop, but this is likely ok for me until you get that fix out.

I can test that one if you need me to though.

[2016-12-19 15:23] daviwil commented on #396
I'm pretty sure highlighting and running will work.  The only problem I saw in the code was when the commands are registered in your profile, the registration events happen too early for the extension command code in the extension to catch them.

[2016-12-19 15:27] gerane commented on #396
@daviwil hmm, let me retest. Just noticed the window I was in still had 7.2 loaded and hadn't been reloaded since the update

[2016-12-19 15:28] gerane commented on #396
@daviwil yeah, running f8 still doesn't register the commands.

[2016-12-19 15:28] gerane commented on #396
@daviwil let me grab that zip and try that out.

[2016-12-19 15:30] daviwil commented on #396
If it doesn't work, grab logs and send them to me?

[2016-12-19 15:41] gerane commented on #396
@daviwil Yup, that worked. However, highlight + f8 didn't work prior to the fix. I tested f8 as well just to make sure, and it works with the changes.

[2016-12-19 15:42] gerane commented on #396
@daviwil Now to test out multi select =)

[2016-12-19 15:48] LethiferousMoose opened #400 "Select PSScriptAnalyzer Rules terminating PowerShell session"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version:
- VS Code version: 1.8.0
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:
PSVersion                      5.0.10240.17146
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.42000
BuildVersion

[2016-12-19 15:53] #391 closed

[2016-12-19 16:00] daviwil commented on #400
Thanks for the report!  I see the problem, looks like we're asking for the available PSScriptAnalyzer rules while Script Analyzer is already running so it throws an exception.  Need to find a good way to deal with this.

[2016-12-19 16:00] #396 closed

[2016-12-19 16:43] Bill-Stewart opened #401 "Session startup should indicate if the current PowerShell version is unsupported"
- Operating system name and version: Windows Server 2008 R2
- VS Code version: 1.8.0
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:
[code]

Issue description:

Error when starting PowerShell module. ERROR: Remove-Module : No modules were removed. Verify that the specification of modules to remove is correct and those modules exist in the runspace.

### Attached Logs

powers

[2016-12-19 16:56] daviwil commented on #401
Hi Bill, unfortunately we don't support PowerShell v2 at this time and we currently have no plans to do so. Regardless of that, you did indeed find a bug with our startup script. When I fix that issue, I'll make sure to include a check for the PowerShell version so that we can let the user know our lack of support for anything below PSv3.

[2016-12-19 16:59] Bill-Stewart commented on #401
Unfortunately I can't upgrade PowerShell on this particular machine at this time. It would be nice not to see this error. Understood that there's some stuff that might not work on PS v2.

[2016-12-19 17:02] adbertram opened #402 "Enable the use of the spacebar to enable/disable PSScriptAnalyzer rules in dropdown"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: MacOS Sierra
- VS Code version: 1.8
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`: PSv6 alpha 13

When invoking PowerShell: ScriptAnalyzer Rules from the settings menu, it would be nice to be able to enable/disable each rule by arrowing up and down and hitting

[2016-12-19 17:04] adbertram opened #403 "When changing PSScriptAnalyzer rules in settings dropdown, do not force scrolling"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: MacOS Sierra
- VS Code version: 1.8
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`: PSv6 alpha 13

As-is, when invoking PowerShell: ScriptAnalyzer Rules from the settings menu, when I'm changing a rule where I had to scroll down, it will immediately scroll all

[2016-12-19 17:08] adbertram opened #404 "When opening session logs folder from settings, don't open a workspace"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: MacOS Sierra
- VS Code version: 1.8
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`: PSv6 alpha 13

When I open the session logs folder, it opens up a new workspace and if I have one open already, forces me to reopen the workspace I had open after I'm done revie

[2016-12-19 17:20] daviwil commented on #404
Is it opening the logs folder in the existing VS Code window?  If so, this might be a bug in VS Code's `vscode.openFolder` command on macOS because I'm explicitly telling it to open in a new window.

[2016-12-19 17:22] daviwil commented on #403
We don't have control over that right now unfortunately, we're using VS Code's showQuickPick API which doesn't allow us to place the selection where we want.  Eventually we need a better UI for this but showQuickPick worked for now.

[2016-12-19 17:25] daviwil commented on #402
This is also something that VS Code controls as part of the showQuickPick API.  They prioritize any keys other than <kbd>Enter</kbd> as input because typing allows you to filter the selections.  You might be able to file an issue at their repo to ask about it but my assumption is that they'll want to keep it as-is.

[2016-12-19 17:30] adbertram commented on #404
Apologies. You're correct.

[2016-12-19 17:30] #404 closed

[2016-12-19 17:39] daviwil commented on #404
No problem!

[2016-12-19 18:35] chantisnake opened #405 "Add an option to insert a new line before crully braces"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10 Version 1607, build 14393.576
- VS Code version: 1.8.0
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:
[code]

### Issue Description

Is it possible for an option to put a new line before curly braces (like `"javascript.format.placeOpenBraceOnNewLine

[2016-12-19 18:41] daviwil commented on #405
Thanks!  Will look into it.

[2016-12-19 19:02] rkeithhill commented on #405
https://github.com/PoshCode/PowerShellPracticeAndStyle/blob/master/Style%20Guide/Code%20Layout%20and%20Formatting.md#open-braces-on-the-same-line - just sayin'.  :-)  That said, if we ever get script formatting support we will likely provide both styles of braces: Stroustrup (current snippet style) and Allman.

[2016-12-19 19:03] daviwil commented on #405
After writing PowerShell and TypeScript nonstop for the past week, I'm having a hard time not putting curly braces on the same line in C# code ;)

[2016-12-19 19:04] rkeithhill commented on #405
Isn't it fun being a polyglot programmer?  ;-)

[2016-12-19 20:25] daviwil commented on #401
I've got a fix prepared to smooth out the rough edges when the extension is loaded on a machine with PowerShell v2.  Also fixed the issue where the session menu throws an error if you click the status bar item when there was a startup failure.

https://github.com/PowerShell/vscode-powershell/pull/406

[2016-12-19 22:54] #395 closed

[2016-12-19 23:00] daviwil commented on #26
Yep!

[2016-12-19 23:01] daviwil commented on #26
This issue was moved to PowerShell/EditorSyntax#29

[2016-12-19 23:01] #26 closed

[2016-12-19 23:02] daviwil commented on #397
Thanks Doug!

[2016-12-19 23:14] #388 closed

[2016-12-20 09:15] itzik-h opened #408 "Code action requests from other extensions crash the language server"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: win 7x64
- VS Code version: 1.8.0, 1.8.1
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:
[code]

### Issue Description

PowerShell extension is terminating continuously (after each restart vie the new option to restart).
I could not find any specific action tha

[2016-12-20 15:43] daviwil commented on #408
Hey @itzik-h, I see what's going on in the logs but I am a little surprised at what is happening.  Could you [turn on verbose logging](https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us), reproduce the issue, and send me your logs again?  It'd help me understand what VS Code is sending which is causing the problem.  At any rate, we'll definitely get this fix

[2016-12-20 16:06] itzik-h commented on #408
The log contains lots of sensitive information.
Using the Verbose logs I think I have narrowed it down to some interop with a spellchecker plugin `streetsidesoftware.code-spell-checker`.
log snippet:
[code]
When ever there is a typo in the code - PowerShellEditorServices crushes.
I must have lots of typos :) as disabling this plugin stooped the problem.

[2016-12-20 16:11] daviwil commented on #408
Thanks for sending that, it's exactly what I needed to see.  Weird that they're sending us requests for the markers of a different extension!  Looks like I'll need to ignore anything code action request with a `source` that I don't recognize.

[2016-12-20 16:58] rkeithhill commented on #408
I wonder if that is a VSCode bug?

[2016-12-20 17:04] daviwil commented on #408
Yeah, it's a possibility. I might file an issue over there to see what they say about it.

[2016-12-20 17:19] drewjanderson opened #409 "PowerShell Syntax Highlighting not working - VSCode on Windows 10"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10.0.14393 Build 14393
- VS Code version: 1.8.1
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:
PSVersion                      5.1.14393.576
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2016-12-20 18:17] daviwil commented on #409
Thanks Drew!  So by "syntax tagging", do you mean the red squiggle syntax errors?  In your logs I see script diagnostics being run but I don't see any errors being sent back.

[2016-12-20 19:07] drewjanderson commented on #409
Sorry by this I meant syntax highlighting for cmdlets, params, etc. This is how it looks right now (attached).
![image](https://cloud.githubusercontent.com/assets/24446757/21364170/af41145c-c6bd-11e6-9d41-3d583953d0a9.png)

[2016-12-20 19:12] daviwil commented on #409
Ahhh, that makes sense.  Use the `Preferences: Color Theme` command to change your color theme to "Dark+":

![image](https://cloud.githubusercontent.com/assets/79405/21364299/13792536-c6a5-11e6-8d11-66df7adb5da7.png)

The "Dark (Visual Studio)" theme is really bland by comparison:

![image](https://cloud.githubusercontent.com/assets/79405/21364311/21b3cff2-c6a5-11e6-8b8c-b803820111da.png)

[2016-12-20 19:16] drewjanderson commented on #409
You're kidding me!!!! Wow I'm such an idiot.

Thanks for not beating me up on that one. Your solution "fixed" my "problem."

The head condition might require more work.

[2016-12-20 19:16] #409 closed

[2016-12-20 19:18] daviwil commented on #409
Heh, don't worry about it, it's not the first time that color theme has caused confusion!

[2016-12-21 14:54] daviwil commented on #400
Fixed by PowerShell/PowerShellEditorServices#329

[2016-12-21 14:54] #400 closed

[2016-12-22 15:17] sunmorgus opened #410 "System.Windows.Forms Dialogs Don't Open In Debugger"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10 x64
- VS Code version: 1.8.1
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

Using the below script in the debugger, the dialog window does not appear, and the debugger crashes.

[code]

### Attached Logs

[vscode-powe

[2016-12-22 16:08] LethiferousMoose opened #411 "Add an option to load PowerShell profiles in debug sessions"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.8.0
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.0.10240.17146
WSManStackVersion              3.0
SerializationVersion

[2016-12-22 16:10] daviwil commented on #411
Currently this is by design but we can certainly add an option for it.

[2016-12-22 16:30] FrankMuraschow opened #412 "Add an option to run powershell.exe with a parameter like "-Version 2""
### System Details

- Operating system name and version: Windows Server 2008 R2 Standard
- VS Code version: 1.8.1
- PowerShell extension version: 0.8.0

- Output from `$PSVersionTable`:
PSVersion                      4.0
WSManStackVersion              3.0
SerializationVersion           1.1.0.1
CLRVersion                     4.0.30319.42000
BuildVersion                   6.3.9600.16406
PSCompatible

[2016-12-22 16:38] daviwil commented on #412
Not sure whether our code will work in PowerShell 2 compatibility mode but we'll look into it.  Thanks!

[2016-12-22 16:38] daviwil commented on #410
Hmm, haven't seen this before.  I'll take a look!

[2016-12-22 19:39] tegaaa commented on #243
So i'm on windows 7 with vscode 1.8.1 (latest as of today) and powershell ext 0.8.0 and I have this issue all the time.  It works with simple powershell but as soon as I call other stuff and the PS becomes complex it fails then I get this error for 5 or 6 runs (have to stop VSC and restart it) until it starts working again.  I have nothing in the log stating errors all is clean (start listening et

[2016-12-22 19:43] daviwil commented on #243
@tegaaa Have you tried turning on Verbose logging to see if there's any extra information there?  You should send logs regardless of whether anything looks obviously like an error:

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2016-12-22 20:29] tegaaa commented on #243
Here it is.  Terribly annoying.  I can’t debug at all now… I’m still on 0.8.0 but something is broken not sure what.

Cheers,

ET

From: David Wilson [mailto:notifications@github.com]
Sent: Thursday, December 22, 2016 2:44 PM
To: PowerShell/vscode-powershell <vscode-powershell@noreply.github.com>
Cc: Etienne Tremblay <etienne.tremblay@live.ca>; Mention <mention@noreply.github.com>
Subject: Re: [Po

[2016-12-22 20:32] tegaaa commented on #243
so here it is (the log).  This is terribly annoying, I can't debug at all now... I love Code and this extension is a god save compared to ISE.  I'm sure you'll figure it out.
[1482438108-b667273e-6b41-4064-a3fe-3666882634341482438106635.zip](https://github.com/PowerShell/vscode-powershell/files/669738/1482438108-b667273e-6b41-4064-a3fe-3666882634341482438106635.zip)

[2016-12-23 10:35] Glober777 opened #413 "Uncaught Exception: SyntaxError: Unexpected end of JSON (extension host crash)"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10 Enterprise
- VS Code version:
Version 1.8.1
Commit ee428b0eead68bf0fb99ab5fdc4439be227b6281
Date 2016-12-19T14:49:23.350Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:
Name                           Val

[2016-12-23 14:49] daviwil commented on #413
That's really weird...  The extension logs don't show any error.  I've seen a similar "Unexpected end of JSON input" error while debugging the extension but I've never seen that crash the extension host before.  If you reload the window after this happens do things usually work OK after that?

[2016-12-23 15:07] Glober777 commented on #413
This time it didn't crash after I reloaded, but I'm not sure about all the other cases (whether those were caused by the JSON input or not).

[2016-12-23 16:22] gerane opened #414 "Expand Alias Problem fixer is broken if alias is followed by a '{'"
if you use the new Problem fixer for Aliases it breaks if followed by a '{'. It appears to remove everything following the '{' until it encounters the first line that doesn't start with a space.

### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.9.0-Insiders
- PowerShell extension version: 1.8 (Modified version with working Editor Commands)
- Output from `$PS

[2016-12-23 16:27] daviwil commented on #414
@kapilmb fixed this in PSScriptAnalyzer, we just need to ship the update: https://github.com/PowerShell/PSScriptAnalyzer/pull/685

[2016-12-23 16:40] gerane commented on #414
@daviwil Ahh ok, didn't realize that was being handled by PSScriptAnalyzer.

Not a big deal, I rarely ever use aliases in an editor, this was me fixing an alias in someone else's code lol =)

[2016-12-23 17:04] ssaari opened #415 "Wrong (closed) script was run in the debugger"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with...

### Attached Logs

Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell#reporting-problems)
abou

[2016-12-23 17:17] daviwil commented on #415
Hey @ssaari, can you provide some more context about this issue? Which script was run? When did it happen? Can you tell me the set of steps you took before the issue occurred?

[2016-12-24 04:18] rkeithhill commented on #411
If we provide this functionality I think it should be `opt-in`.  I've been burned before when scripts I wrote worked on my computer because of things I had configured in my profile and failed on other computers with a different (or no profile).

In general I think it is a better practice to *not* rely on functions/variables/aliases defined in a profile script especially if you plan to distribute t

[2016-12-24 04:22] daviwil commented on #411
Yep, definitely not something to be turned on by default!

[2016-12-25 17:04] Semy000 opened #416 "Assembly could not be found"
### System Details:

- Operating system name and version: Windows 10 Enterprise
- VS Code version: 1.8.0
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:

PSVersion                      5.1.14393.576
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.576
CLRVersion                     4.0.303

[2016-12-25 18:32] SETOL commented on #416
The only one way that works in this case it's to download specific version of assembly with NuGet and use Add-Type with the path of this assembly. Is there is some supported way to avoid this steps? If we run script outside of vs code there is no need to load some assemblies by itself.

[2016-12-26 20:39] ssaari commented on #415
I'm terribly sorry I probably don't know enough details to be helpful.  The
script that ran unexpectedly had been open and run to debug on a previous
day, probably one day before.  I remember opening a folder and having two
other scripts open from having been open before.  One of them was run to
debug and that is when the output of the closed script started appearing in
the debug pane.  This scrip

[2016-12-27 09:23] carlosrfernandez commented on #243
I'm getting this exception thrown

`12/27/2016 10:18:24 AM [ERROR] - Method "ExecuteCommand" at line 500 of C:\projects\powershelleditorservices\src\PowerShellEditorServices\Session\PowerShellContext.cs

    Runtime exception occurred while executing command:

    System.Management.Automation.CmdletInvocationException: The scope number '6' exceeds the number of active scopes.
    Parameter name: s

[2016-12-27 14:30] daviwil commented on #415
No problem Scott!  If you get a chance to grab those logs I'd be happy to take a look.  I've never heard of the wrong script being executed from VS Code's debugger before but there are a couple things I could look into there.

[2016-12-27 19:13] ssaari commented on #415
I have attached my logs.  The script that ran by mistake was call run-refresh.3e.ps1 if that helps.
[ssaari_logs.zip](https://github.com/PowerShell/vscode-powershell/files/674554/ssaari_logs.zip)

[2016-12-28 20:26] dfinke opened #417 "Setting for automatically applying PScriptAnalyzer fixes - as you type"
I always want `md` (aliases) to be expanded to `mkdir`.  `AlwaysApplyPScriptAnalyzerFixes = $true` would be a setting users can set to do this.

It might be interesting to be able to enable applying groups PScriptAnalyzer Fixes, while editing PowerShell.

[2016-12-29 11:05] Glober777 opened #418 "Debugger should retry until extension loads or give error when it times out"
### System Details

- Operating system name and version: Windows 10 Enterprise
- VS Code version: 1.8.1
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

Hi,

Today I've noticed an issue where a debug adapter terminates immediately when I try to debug one of my scripts. Interestingly, the popups regarding termination repeats twice, and if you lo

[2016-12-30 13:42] dgee2 commented on #243
I've just hit the same issue on VSCode 1.8.1 and PowerShell extension 0.8.0.

I seem to have solved this by uninstalling the PowerShell extension, reloading VSCode and reinstalling the extension. I can now debug PowerShell again.

Posting here as it's the top result on Google when searching for this.

[2017-01-02 09:54] wsmelton commented on #349
I am quite interested to see this functionality added, and how it would work. When you refer to access to the interactive console do you mean supporting the "console" setting in the launch.json file as noted in [VS Code docs](https://code.visualstudio.com/Docs/editor/debugging)?

[2017-01-03 09:09] 176coding opened #420 ""Go to Definition" should follow Import-Module references"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: win7
- VS Code version: 1.8.1
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:
[code]
### Issue Description
here we have b.psm1
[code]
and we have a.ps1 to call test2
[code]
it can run successfully, but when I "Go to Definition" of test2 function, it not working

[2017-01-03 15:20] daviwil commented on #418
Thanks @Glober777! This is part of the reason why I added the loading indicator, to make it more obvious when the extension hasn't finished loading yet.  The missing piece here is some clear indication from the debugger that the PowerShell extension is still loading.  Unfortunately they don't give me a way to return an explicit error message (or I haven't found a way yet, at least).  I'll keep loo

[2017-01-03 15:21] daviwil commented on #420
Yep, "Go to Definition" currently doesn't follow Import-Module references, that's something we need to add.

[2017-01-03 15:25] daviwil commented on #349
Yep, ultimately we will stop using the "Debug Console" and start using the integrated terminal for the PowerShell debugging experience.  Work on that is starting soon.

In the meantime, an update later this week (0.9.0) will provide an "interactive" debugging mode which uses the existing Debug Console interface, basically just allowing you to start a new PowerShell session without running a specif

[2017-01-03 15:42] sunmorgus commented on #410
A little more info... I changed the code to this (using Add-Type instead of [System.Reflection...]) and debugged through it... it won't progress past the ".ShowDialog()" and never actually shows the dialog.

[code]

I do know that some of the windows forms stuff works, because I can use the below code to pop up a message balloon:

[code]

[2017-01-04 14:44] megamorf commented on #129
Any news on this?

[2017-01-04 14:48] daviwil commented on #129
Not at the moment, we are still waiting for support for syntax aware folding to be added in VS Code.

[2017-01-04 14:52] hillbear commented on #311
As a followup to the Win7 PSv2 issue bcdady brought up, is there an option to disable the integrated console? Sadly, upgrading to a newer WMF will not be an option and basically here for syntax highlighting.

[2017-01-04 14:56] daviwil commented on #311
VS Code has PowerShell syntax highlighting built in so the only real value you get on PSv2 is the snippets this extension provides.

If you install the current release of the PS extension (0.8.0) then it should give you a warning about using an unsupported PowerShell version. If it doesn't then I'll need to fix that.

[2017-01-04 16:02] hillbear commented on #311
Thanks! I forgot about the snippets as well.

It does throw the Remove-Module error listed above, not a version warning.

[2017-01-06 10:53] sir-Higgins opened #421 "Language server should give a helpful error message when started in ConstrainedLanguage mode"
### System Details

- Operating system name and version: Windows 10 1607 (14293.576)
- VS Code version: 1.8.1
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

When I open a .ps1 Script
there is three messages on top of the windows
- Could not start language service:
- Couldn't start client PowerShell Editor Service
- PowerShell could not be sta

[2017-01-06 15:26] daviwil commented on #421
Judging from the logs, it appears that your computer is configured with the [ConstrainedLanguage](https://msdn.microsoft.com/powershell/reference/5.1/Microsoft.PowerShell.Core/about/about_Language_Modes) mode which makes it impossible to start the language server.  I'll add an extra check for this in the startup process so that I can give a helpful error message in this case.

[2017-01-06 16:33] sir-Higgins commented on #421
ConstrainedLanguage is set in powershell when you activate applocker rules in windows 10 and powershell v5
https://www.sysadmins.lv/blog-en/powershell-50-and-applocker-when-security-doesnt-mean-security.aspx

I had an applocker rule that was still applied after a GPO change for some test
https://technet.microsoft.com/en-us/library/hh310286(v=ws.10).aspx

After removing the applocker rules the lang

[2017-01-09 20:51] cajunitalian opened #422 "Issue with PowerCLI in Powershell Extension - Intellisense"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.8.1
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

Unable to use intellisense w/ PowerCLI Module Cmdlets. See my screenshot, you'll see the PowerCLI Module path is clearly in $env:PSModulePath (C:

[2017-01-09 20:57] daviwil commented on #422
Hey Matteo, you might need to load the module into the session before IntelliSense appears.  For now the best way to do this is add `Import-Module PowerCLI` to your VS Code profile:

`$HOME\Documents\WindowsPowerShell\Microsoft.VSCode_profile.ps1`

After adding that, restart VS Code and you should get IntelliSense for the module.

[2017-01-09 21:02] cajunitalian commented on #422
That profile doesn't exist - how can I create it?  Do I just manually build it?

I know in typical POSH you just run the commands but the integrated terminal in VSC is using my local logged in AD Profile which has it's own POSH Profile.

*Micorsoft.Powershell_profile.ps1

[2017-01-09 21:05] rkeithhill commented on #422
Create it like so:
[code]
Notepad should ask you if you want to create the file.

[2017-01-09 21:10] cajunitalian commented on #422
That did the trick.  Thanks guys, trying to convert from heavy VS2016 over the VSC

[2017-01-09 21:10] #422 closed

[2017-01-09 23:32] mjbvz opened #424 "Sometime VS Code Debugger will Crash (PowerShell Extension) then odd things happen"
_From @swinster on January 9, 2017 23:27_

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14986
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.5|
|beautify|HookyQR|0.7.3|
|rest-client|humao|0.11.4|
|PowerShell|ms-vscode|0.8.0|

---

Steps to Reproduce:
Not sure if this is with VS

[2017-01-09 23:33] mjbvz commented on #424
@swinster This sounds like an issue in the powershell extension so I've moved the issue over here.

Can you please provide a minimal powershell sample document and step by step guide to repo this issue.

Thanks

[2017-01-09 23:43] swinster commented on #424
I will keep you posted on how to repro, but at the moment I'm clueless. Once i had got into this state, this was the following functions I ran:

[code]

I would stick a Brake-point at `$Result`, then step into the functions. I could see the the `Begin` block ran in `Test-Function-1`, then the `Begin` block in `Test-Function-2`. All good so far, however, as I continued to step through, I would expe

[2017-01-10 17:12] JustinGrote commented on #411
You can load a profile script by just putting it as part of your launch.json. I don't think a lot of dev time needs to be spent on this.

[2017-01-10 17:33] rkeithhill commented on #411
@JustinGrote  Not too mention I think it will get a lot of folks in trouble when their script/module won't run on somebody else's machine that doesn't execute the same profile commands.

[2017-01-11 23:26] Leon99 opened #425 "Variables used in paths do not get "document highlighted" correctly due to bad extents"
Example:

![image](https://cloud.githubusercontent.com/assets/6840381/21870591/393f2a5e-d8b1-11e6-8aa7-afcc52adb3b4.png)

Though

![image](https://cloud.githubusercontent.com/assets/6840381/21870765/16405464-d8b2-11e6-8622-6307dc28291d.png)

Code:
[code]

[2017-01-12 03:19] rkeithhill commented on #425
Where is the variable (presumably `$thisDirectory`) not being recognized? Syntax colorization, IntelliSense, during debug?  Also, can you provide version information of PowerShell, VSCode and the PowerShell extension?  Thanks.

[2017-01-12 05:41] Leon99 commented on #425
Syntax colorization and 'go to definition'.
PSExt: 0.8.0, PS: 5.1
VSC: 1.8.1

[2017-01-12 06:42] rkeithhill commented on #425
I can't repro the syntax colorization issue:

![image](https://cloud.githubusercontent.com/assets/5177512/21879579/e712a4cc-d856-11e6-9328-99dd55dbf728.png)

But I can repro the issue with go to definition on the variable.

[2017-01-12 10:36] Leon99 commented on #425
The main difference between your and my screenshots is that in my screenshot the cursor is positioned on the variable, but the whole expression is highlighted with a background. In your screenshot the cursor is positioned on the next line, therefore I don't expect to see any highlighting.

[2017-01-12 11:15] dustinmoris opened #427 "Ctrl+Alt+ keybindings should not be used by default under Windows."
The PowerShell keybindings offend the convention that Ctrl+Alt+ should not be used under Windows by default:

![image](https://cloud.githubusercontent.com/assets/4580714/21887565/569a208e-d8b8-11e6-83ed-72bd8a385502.png)

This is the warning from the developer tools in VS Code under Windows.

The exact offender is this one:

[code]

[2017-01-12 14:51] daviwil commented on #425
That's a different thing, it's symbol occurrence highlighting.  We might have a bug in judging the extents of the variable, it would affect both Go to Definition and occurrence highlights.  I'll take a look at it, thanks!

[2017-01-12 14:54] daviwil commented on #427
It's more of a warning than an error so it can be safely ignored.  That said, we haven't come up with a better unused key combination for this command, any suggestions?

[2017-01-12 17:22] angel120 commented on #243
Running VSCode 1.8.1, PowerShell extension 0.8.0:

Steps taken:
* Started debugging a PS script at 12:14 PM
* Hit a breakpoint, checked some values
* Pressed continue
* Debugger showed the "pause" button (instead of the "play" button), but the script stopped running

Here's my EditorServices.log:
[http://pastebin.com/eCC2Ymf4](http://pastebin.com/eCC2Ymf4)

[2017-01-12 19:06] #418 closed

[2017-01-13 10:41] lansalot opened #430 "PSScriptAnalzyer corrupts multi-line code during replace-aliases"
Platform
Win7 x64

To replicate (note use of backtick to split line)

[code]

PSScriptAnalyzer pulled that up at gwmi being an alias, so I hit the lightbulb to convert it to Get-WMIObject. This happened.

```$Pools = Get-WmiObjectroot\microsoftiisv2" -Authentication PacketPrivacy -erroraction SilentlyContinue```

![anim](https://cloud.githubusercontent.com/assets/9885921/21930187/8a378920-d98c-11e

[2017-01-13 10:54] lansalot commented on #430
With logging turned up:

13/01/2017 10:52:03 [VERBOSE] - Method "ReadMessage" at line 111 of C:\projects\powershelleditorservices\src\PowerShellEditorServices.Protocol\MessageProtocol\MessageReader.cs

    READ MESSAGE:

    {
      "jsonrpc": "2.0",
      "id": 47,
      "method": "textDocument/codeAction",
      "params": {
        "textDocument": {
          "uri": "file:///c%3A/scripts/powersh

[2017-01-13 14:22] daviwil commented on #430
Yep, we've got this issue fixed in the PSScriptAnalyzer side, just need to ship an update.  We'll have everything updated on Tuesday.

[2017-01-13 15:25] lansalot commented on #430
I like the sound of that. Thanks!

[2017-01-13 15:25] #430 closed

[2017-01-13 16:07] pcgeek86 opened #432 "Clear-Host doesn't clear the PowerShell Output window in VSCode 1.8.1"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Mac OS X Sierra
- VS Code version: 1.8.1
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with Clear-Host. It doesn't clear the PowerShell Output window in Visual Studio Code.

[2017-01-13 16:41] rkeithhill opened #433 "Pester problem matcher is not jumping to correct line of code when you click an error"
Probably just need to fix the problem matcher in tasks.json.

[2017-01-14 16:28] rkeithhill commented on #433
Now I can't reproduce it.  Figures.

[2017-01-14 17:12] #433 closed

[2017-01-15 00:48] drewjanderson commented on #57
Is there progress being made on Get-Credential? Look forward to be able to use this when working in vscode! @daviwil

[2017-01-15 00:52] daviwil commented on #57
Get-Credential depends on the interactive console experience, will start working on that in earnest after the 0.9.0 release next week.

[2017-01-16 01:18] fredskis opened #436 "Comments on same line as Function not styled when opening brace is on next line"
### System Details

- Operating system name and version: Windows 10 1607 (14393.576)
- VS Code version: 1.8.1
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

When adding comments on the same line as a function where the opening brace is on the next line, the comment doesn't get formatted correctly.
I'm using the Dark+ (default dark) theme and

[2017-01-16 02:04] rkeithhill commented on #436
PowerShell syntax colorization is handled in a separate project: [EditorSyntax](https://github.com/powershell/editorsyntax).  Would you mind posting this issue on that repo?

[2017-01-16 04:51] fredskis commented on #436
Will do, thanks

[2017-01-16 04:54] #436 closed

[2017-01-16 21:59] daviwil commented on #123
This shipped in 0.8.0.

[2017-01-16 21:59] #123 closed

[2017-01-16 22:00] daviwil commented on #206
@rkeithhill has finished this for 0.9.0!

[2017-01-16 22:00] #206 closed

[2017-01-18 12:21] sunmorgus commented on #410
A suggestion for fixing this (maybe a quick fix?)... for C# projects, there is an attribute in the launch.json called externalConsole (see screenshot below) that allows you to debug in an external window. Not sure if that would be possible for powershell, but maybe worth looking at.

![image](https://cloud.githubusercontent.com/assets/2287216/22063792/bf20bf24-dd4e-11e6-9e14-0a852d48f6d9.png)

[2017-01-18 13:54] daviwil commented on #410
Unfortunately this setting will not make a difference, it's more of an issue with the code in our debug adapter.  I still haven't got a chance to look at this but I will as soon as I ship 0.9.0.  Sorry for the delay!

[2017-01-18 18:45] daviwil opened #440 "Introduce ILanguageClient facade to simplify IFeature implementations"
We need an `ILanguageClient` (or `ISession`?) interface that will enable the creation of a `LanguageClientWrapper` class which will abstract away the use of the real `LanguageClient` when the language server is started or restarted.  It needs to support the following features:

- Holding on to request and event subscriptions so that they can be re-subscribed for new `LanguageClient` instances
- Qu

[2017-01-18 19:17] #408 closed

[2017-01-19 15:47] marking opened #445 "Language Service 0.8.0 exits with exception in code insiders 1.9.0"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10 64bit (1607 -- 14393.693)
- VS Code version: insiders 1.9.0
- PowerShell extension version: 0.8.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

Language service exits with exception. I believe it is because the path of a newly added file to the folder is

[2017-01-19 15:53] daviwil commented on #445
Yep, found and fixed that one already.  Fix will be coming out with 0.9.0 within a couple hours.

[2017-01-19 15:53] #445 closed

[2017-01-19 16:00] marking commented on #445
At least I know I'm not crazy.

[2017-01-19 16:23] daviwil commented on #445
Yeah, it's a weird new thing that popped up in yesterday's Insider release.  Thanks for taking the time to report it!

[2017-01-19 17:02] rkeithhill opened #446 "Script formatting should allow setting for space between keyword and opening paren"
For instance, I prefer to see:
[code]
instead of
[code]
Same would apply to other keywords: `elseif`, `for`, `foreach`, `while`, `switch`, etc.

[2017-01-19 20:03] Jaykul opened #447 "Crash running formatter on new, untitled document"
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version:
Windows 10 AU
- VS Code version:
1.9.0-Insider
- PowerShell extension version:
0.9.0
- Output from `$PSVersionTable`:
[code]

### Issue Description
Crash when calling format document on a new unsaved document.

### Steps to repro
Create a New File
Set the Syntax to PowerShell
Write s

[2017-01-19 20:07] daviwil commented on #447
This is happening for new script files that haven't been saved yet, they are still marked as "Untitled".  If you create a new file, paste in Joel's example script, click the file type selector in the status bar and turn it to PowerShell then hit <kbd>Shift+Alt+F</kbd>, you'll see the crash.  Here's the exception from the logs:

[code]

We basically just need to handle untitled files correctly.

/c

[2017-01-19 20:10] daviwil commented on #446
This should also cover spaces around equals signs, like in this example:

[code]

The resulting output should be:

[code]

[2017-01-19 20:12] Jaykul commented on #446
And the space after the closing parenthesis that you *both* added.
And making sure it's only *one* space. Currently it doesn't even do that.

[2017-01-19 20:14] daviwil opened #448 "Code formatter should keep indentation for multi-line pipelines"
Currently for a block of code like this:

[code]

the code formatter gives this output:
[code]

It should at least retain the proper indentation or fix it if we notice that the following lines in the pipeline are indented.

/cc @Jaykul

[2017-01-20 01:38] kapilmb opened #450 "EditorServices crashes after running code formatter"
### System Details

- Operating system name and version: Windows 10 Enterprise
- VS Code version: 1.8.1
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:
[code]

### Issue Description
Sometimes. editorservices crashes after running code formatter.

### Attached Logs

[1484869858-someValue.sessionId.zip](https://github.com/PowerShell/vscode-powershell/files/718224/1484869858-so

[2017-01-20 04:24] #447 closed

[2017-01-20 08:17] dragonwolf83 commented on #359
Please allow it to set a breakpoint without saving a file! That is probably my top annoyance in using ISE.

My main use case is that I'm often creating concept scripts to try out ideas that I don't want to save yet. I use the Editor instead of the Terminal to script because I can read it, structure it, and can go back to run individual lines. The debugger would help a lot to figure out why a conce

[2017-01-20 08:34] weinand opened #452 "Debugger not showing value of variables"
_From @EHBrant on January 19, 2017 13:27_

- VSCode Version: Code - Insiders 1.9.0-insider (215a0af33046d3940e665d46ecaeac9623f2f769, 2017-01-19T07:12:16.209Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|PowerShell|ms-vscode|0.8.0|

---

Steps to Reproduce:

Hello,
I am new to VS Code and want to use it to write/debug PowerShell scripts.  I norma

[2017-01-20 08:34] weinand commented on #452
This is the PowerShell extension. Moving.

[2017-01-20 09:03] Aculeo opened #453 "Variable assignment with if else construct should stay in same line"
I often end up writing something like this, because PowerShell does not have a null coalescing operator (??):

[code]

However, the code formatter ends up reformatting this (with `powershell.codeFormatting.newLineAfterOpenBrace` set to `false`):

[code]

IMO this should stay in the same line, could also be an option.

### System Details

- VS Code version: 1.8.1
- PowerShell extension version: 0.9

[2017-01-20 11:44] APraestegaard commented on #129
That'll be great!

[2017-01-20 14:14] daviwil commented on #453
Thanks for the feedback!  We're definitely considering having such a rule.  Should there be a setting to say that below a specified line length, the single-line assignment should be prserved?  Or should we just preserve all single-line assignments?

[2017-01-20 14:16] daviwil commented on #359
@dragonwolf83 unfortunately this just isn't possible right now because the PowerShell debugger does not allow it.  We are using the [`Set-PSBreakpoint`](https://msdn.microsoft.com/powershell/reference/5.1/microsoft.powershell.utility/Set-PSBreakpoint) command to set breakpoints in the runspace.  As you can see from the documentation, there's no way to set a line breakpoint without a script path.

[2017-01-20 14:17] daviwil commented on #359
Closing this issue because it is now supported in v0.9.0 and the upcoming VS Code 1.9.0!

[2017-01-20 14:17] #359 closed

[2017-01-20 14:19] daviwil commented on #452
Hi Ernest, sounds like you might have hit a bug because all of this should be working.  First of all I'd recommend upgrading to the 0.9.0 version of the PowerShell extension which just got released yesterday.  Next, capture verbose logs by [following these instructions](https://github.com/PowerShell/vscode-powershell#reporting-problems) and post them here or send them to me directly at `daviwil at

[2017-01-20 16:23] EHBrant commented on #452
OK Thanks will do

________________________________
From: David Wilson <notifications@github.com>
Sent: 20 January 2017 14:19
To: PowerShell/vscode-powershell
Cc: EHBrant; Mention
Subject: Re: [PowerShell/vscode-powershell] Debugger not showing value of variables (#452)

Hi Ernest, sounds like you might have hit a bug because all of this should be working. First of all I'd recommend upgrading to t

[2017-01-20 16:53] cobdev opened #454 "GPO which sets "Bypass" execution policy causes extension to fail startup."
**Please fill in these details so that we can help you!**

### System Details

- Operating system name and version: Windows 10 CBB v1607
- VS Code version: 1.8.1
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:
Name                         Value
----                           -----
PSVersion                      5.1.14393.576
PSEdition                      Desktop
PSCompatibl

[2017-01-20 17:00] daviwil commented on #454
Thanks for the report!  I'll get this fixed for the patch update next week.

[2017-01-20 17:01] daviwil commented on #454
@ftischhauser originally reported this in issue #119 so I'm sure he'll want to know when it's fixed.

[2017-01-20 17:01] cobdev commented on #454
Thank you!  You guys are awesome!

From: David Wilson [mailto:notifications@github.com]
Sent: Friday, January 20, 2017 9:01 AM
To: PowerShell/vscode-powershell <vscode-powershell@noreply.github.com>
Cc: Smith, Daniel P. <dpsmith@cob.org>; Author <author@noreply.github.com>
Subject: Re: [PowerShell/vscode-powershell] GPO which sets "Bypass" execution policy causes extension to fail startup. (#454)

[2017-01-21 08:54] OneCyrus opened #455 "breakpoints with run selection (F8) not working"
breakpoints are ignored while only running the selection (F8) and not the full file (F5).

### System Details

- Operating system name and version: W10 1607
- VS Code version: 1.9.0 (Insider from 1/20/17)
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:

[code]
### Issue Description

Setting a breakpoint and running with F5 stops at the breakpoint. Running only the selection

[2017-01-21 12:52] Aculeo commented on #453
Yes, I think that would be great if it honored my prefered line length. I usually stick with a 100.  If I remember correctly Visual Studio does a great job with reformatting code, often putting just the assignment into the next line if it exceeds the specified length, like this:

[code]

[2017-01-21 16:32] daviwil commented on #455
That is by design.  F8 does not run the code inside of the debugger.  VS Code only sends breakpoints to me when you use F5 to run your script within the context of the debugger.  I will try to address this with the integrated console work since you should be able to activate the debugger and then use F8 to run script selections.

[2017-01-23 03:15] daviwil opened #456 "Streamline the extension development experience"
Now that PowerShell Editor Services [can be built from VS Code](https://github.com/PowerShell/PowerShellEditorServices/pull/351) using cross-platform tools, it's time to make the extension development experience much more smooth.

Here's the ideal experience starting from zero:

0. User installs PowerShell for their platform if necessary
1. User clones the vscode-powershell repo and opens it in VS

[2017-01-23 09:19] OneCyrus commented on #455
thanks for the response! I'm looking for forward to a next version with improved debugging experience. we are getting really close with the feature set to use vscode instead of ISE.

[2017-01-23 20:49] troshko111 opened #457 "Debugger hangs on scripts with long running commands"
### System Details

- Operating system name and version:
[code]
- VS Code version: `1.8.1`
- PowerShell extension version: `0.9.0`
- Output from `$PSVersionTable`:

[code]

### Issue Description

Debugger would almost always hang if stepping through a script running some long operations (in my case calling separate script provisioning Azure resources).

Stepping through it won't hit the breakpoint

[2017-01-23 21:53] daviwil commented on #457
Hi Taras, it'd be great if you could capture logs and send them to me so that I can look into this issue further.  Here are some instructions:

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2017-01-24 14:57] Bill-Stewart commented on #401
Still seeing the following error (vscode 1.8.1, Windows Server 2008 R2, module version 0.9.0):

    ERROR: Remove-Module : No modules were removed. Verify that the specification of modul
    ERROR: es to remove is correct and those modules exist in the runspace.
    At C:\Users\<username>\.vscode\extensions\ms-vscode.PowerShell-0.8.0\scripts\Start-EditorServices.ps1:63 char:18
    +     Remove-Mod

[2017-01-24 15:05] daviwil commented on #401
Looks like it's running extension 0.8.0?  From the log you pasted:

[code]

In 0.9.0, the PowerShell version gets checked before the Remove-Module call occurs so this shouldn't be happening if the correct extension version is running.  Let me know what you find!

[2017-01-24 15:09] Bill-Stewart commented on #401
Sorry, I pasted the wrong text. This is the actual error:

    powershell.exe started --
        pid: 18676
        exe: C:\Windows\Sysnative\WindowsPowerShell\v1.0\powershell.exe
        bundledModulesPath: C:\Users\IHSNetIQDRAService\.vscode\extensions\ms-vscode.PowerShell-0.9.0\modules
        args: C:\Users\<username>\.vscode\extensions\ms-vscode.PowerShell-0.9.0\scripts\Start-EditorServices.p

[2017-01-24 15:10] daviwil commented on #401
Ouch!  Clearly I didn't test that on a PowerShell v2 machine :)  Thanks for pointing that out, I'll fix it in 0.9.1.

[2017-01-24 15:12] Bill-Stewart commented on #401
Thanks!

[2017-01-24 16:08] galenus opened #460 "launch.json arguments are not being processed"
### System Details

- Operating system name and version: Win10 Pro
- VS Code version: 1.9.0-insiders
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with debugger: the arguments specified in the launch.json are not passed into the session launched with F5 command.

[2017-01-24 16:15] rkeithhill commented on #460
Can you list your `launch.json` file here?

[2017-01-24 16:22] galenus commented on #460
Here it is:

    {
        "version": "0.2.0",
        "configurations": [
            {
                "type": "PowerShell",
                "request": "launch",
                "name": "PowerShell Launch (current file)",
                "script": "${file}",
                "args": ["./development"],
                "cwd": "${file}"
            }
        ]
    }

And the parameters declaration f

[2017-01-24 16:26] rkeithhill commented on #460
You are specifying a relative path and the launch.json sets the current working dir to the dir that ${file} (the script being debugged) is in.    Is it possible that is the problem?  For `"cwd":` you can use a value of `"${workspaceRoot}"` IIRC.

[2017-01-24 16:53] galenus commented on #460
Same launch.json running in the stable VS Code Stable (1.8.1) works as expected.

[2017-01-24 16:57] daviwil commented on #460
I'll take a look, maybe I broke something with my debugging changes.

[2017-01-24 17:31] rkeithhill commented on #460
Hmm, I can't repro it.

[2017-01-25 08:39] LeeDailey opened #462 "formatting should allow brace indent to match contained code indent"
### System Details

- Operating system name and version: win7x64
- VS Code version: 1.8.2
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:

[code]

### Issue Description
howdy y'all,

currently the code formatter indents the braces & sub-controls [elseif/else] to the same level as the control block. i want them indented to the same level as the code.

default ...
[code]
what

[2017-01-25 08:41] MarvTheRobot opened #463 ""Extension host terminated unexpectedly" -Failed to look up PowerShell version, defaulting to version 5"
### System Details

- MacOS 10.12:
- VS Code version: 10.8.1
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

VSCode Extension Host terminates when viewing any PowerShell files (PS1, PSM1, PSD1)
Bottom right of VSCode sits saying 'Starting PowerShell'

PowerShell loads fine from the build in terminal and on the system in general.

Restarting th

[2017-01-25 14:51] daviwil commented on #463
The "Failed to look up PowerShell version" error should not be the cause of a crash, that exception message is just written out for my benefit.  However, the "Extension host terminated unexpectedly" message comes from VS Code, not the PowerShell extension.

Can you try the [VS Code Insiders](https://code.visualstudio.com/insiders) release to see if you notice the same problem there?  Maybe it was

[2017-01-25 16:21] daviwil commented on #463
Yep, let's close it for now, but definitely let me know if you run into it again!

[2017-01-25 16:21] #463 closed

[2017-01-25 18:03] dustinmoris commented on #427
Hi, I just checked and Shift+Alt+E is a free keybinding and Shift is just above Ctrl, so the muscle memory in our hand should quickly get used to Shift+Alt+E after a change :)

[2017-01-25 18:04] daviwil commented on #427
Ahhh great idea!  I'll change it to that.

[2017-01-25 18:19] #427 closed

[2017-01-28 23:34] rkeithhill opened #467 "Launch Interactive Session config should have cwd setting"
Without it, you get dumped into VSCode's install folder which you rarely want.  I'm thinking it should default to `${workspaceRoot}`.

[2017-01-29 05:06] vamichael opened #469 "Debug adapter process has terminated unexpectedly error"
I'm getting this error after stopping a debugging session.  I have to restart code each time.

[2017-01-29 10:43] mrward opened #470 "Debugger hangs after adding watch expression with missing parameters"
### System Details

- Operating system name and version: Mac El Capitan and Windows 10
- VS Code version: 1.8.1
- PowerShell extension version: v6.0.0-alpha.14 and 5.1.14393.693 (Windows).

### Issue Description

To repro:

1) Put a breakpoint on a line in a PowerShell script.
2) Run the debugger.
3) When the breakpoint is hit add "Write-Debug" without the quotes into the watch window.
4) The Debu

[2017-01-29 15:33] daviwil commented on #470
Thanks for the details!  I've seen a few reports about watch variables having issues with the latest release so I'll get this fixed for this week's patch update.

[2017-01-29 15:34] daviwil commented on #469
Hey @vamichael, can you capture verbose logs and send them to me?  Here are some instructions:

https://github.com/PowerShell/vscode-powershell#reporting-problems

[2017-01-29 15:39] #467 closed

[2017-01-30 07:15] rkeithhill commented on #460
Hmm, I can reproduce the extension not passing environment variables across:
[code]
in the log file I see:
[code]
No sign of the env var that the VS Code docs claim is supported: https://code.visualstudio.com/docs/editor/debugging#_variable-substitution

[2017-01-30 07:56] galenus commented on #460
Not sure it's the same thing, in my case I didn't get the arguments at all.

[2017-01-30 09:12] rdtechie commented on #57
Don't want to bug you, but do you have a update to share with us David?

[2017-01-30 11:46] komal436 opened #471 "Enable IntelliSense in the debug console"
**Please fill in these details so that we can help you!**
The details are as follows:
https://github.com/Microsoft/vscode/issues/19430
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with...

### Attached Logs

Follow the instructions in the [READ

[2017-01-30 15:13] Roadkill4545 opened #472 "Issue with Syntax Coloring"
### System Details

- Operating system name and version:  Windows 8.1
- VS Code version:  1.8.1
- PowerShell extension version:  0.9.0
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.117
CLRVersion

[2017-01-30 15:24] Roadkill4545 commented on #472
I munged up the formatting on the code.  I updated it above.  (Sorry about that).

[2017-01-30 17:23] pcgeek86 commented on #153
@daviwil Any update on this? I'm still encountering this bug. Thanks!

[2017-01-30 17:56] rkeithhill commented on #472
The syntax highlighting for PowerShell is done in the https://github.com/PowerShell/EditorSyntax project.  Can you post this defect there?

[2017-01-30 18:17] daviwil commented on #471
Hey @komal436, we are planning to replace the Debug Console with a real interactive terminal experience for our debugger, so you should get full tab completion there.  I'll keep this bug open until then.  Thanks!

[2017-01-30 18:19] daviwil commented on #57
Not yet, sidetracked with other things over the last week.  The plan is still to get a first pass of the interactive console shipped in 0.10.0 including Get-Credential support.

[2017-01-30 18:21] daviwil commented on #463
If it works correctly for you in Insiders, I'd wait until later today or tomorrow because VS Code 1.9.0 will be released very soon.  If the issue still occurs there then I'll discuss it with the VS Code team.

[2017-01-30 18:26] daviwil commented on #472
This issue was moved to PowerShell/EditorSyntax#32

[2017-01-30 18:26] #472 closed

[2017-01-30 18:27] daviwil commented on #472
Thanks @Roadkill4545, I just moved the issue over to the PowerShell/EditorSyntax repo so that we can track it there.

[2017-01-30 18:28] daviwil commented on #153
Nah, too many other high priority issues recently.  I'll assign it to the next feature update in case we get a chance to look into it.

[2017-01-30 19:17] Roadkill4545 commented on #472
Thank you!  Sorry for the misunderstanding.

[2017-01-30 19:40] daviwil commented on #472
No misunderstanding at all, we need to be more clear about where to file syntax bugs.

[2017-01-31 07:12] mpriem commented on #25
Would love to hear the latest on this one! Any chance of this getting addressed?

[2017-01-31 10:44] CyMadigan opened #475 "Please enable support for commands like Get-Credential"
Please enable support for commands like Get-Credential, it's a must in my powershell life.

[2017-01-31 13:43] fdncred opened #476 "PowerShell could not be started, Starting the CLR failed with HRESULT 80040153"
### System Details

- Operating system name and version: Windows 10 Enterprise, Version1607, Build 14393.693
- VS Code version: 1.9.0-insider
  -Version 1.9.0-insider
  -Commit fcac9b686abe4292e69a774f61c8c4ce17768bf5
  -Date 2017-01-31T00:57:46.157Z
  -Shell 1.4.6
  -Renderer 53.0.2785.143
  -Node 6.5.0
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:

|Name

[2017-01-31 14:29] daviwil commented on #475
We're tracking this with issue #57, so closing this in favor of that.  We'll be addressing the Get-Credential issue very soon.

[2017-01-31 14:29] #475 closed

[2017-01-31 14:41] daviwil commented on #476
Your log contains a very strange COM error:

[code]

Based on a little research, it seems that this error code is [REGDB_E_INVALIDVALUE](https://msdn.microsoft.com/en-us/library/cc704587.aspx?f=255&MSPPError=-2147217396), "Invalid value for registry".  This sounds like a problem on the system rather than a problem with the PowerShell extension.

Do you get any similar errors or crashes when you tr

[2017-01-31 16:31] fdncred commented on #476
I can run powershell from the command prompt just fine with either -NoProfile or -ExecutionPolicy Unrestricted. I can also run it as administrator or regular user without issue or with ISE and without. I looked for a way to repair powershell but didn't see one.

[2017-01-31 16:52] gerane commented on #282
Would this also add the commands to the main list of extension commands and allow them to be set via keybinding?

[2017-02-01 11:06] Miotis opened #477 "SubExpression operator brokes lines indent"
### System Details

- Operating system name and version: Win8.1
- VS Code version: 1.8.1
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:
[code]

### Issue Description

Code auto formatting (Shift+Alt+F) works incorrect if it tries to format indents after any SubExpression operator $(expression) usage.
Note: It works correct if SubExpression is inside double quotes.

Example

[2017-02-01 14:33] daviwil commented on #477
Interesting, thanks for the report!  /cc @kapilmb

[2017-02-01 14:34] daviwil commented on #476
What happens if you run VS Code as administrator?

[2017-02-01 15:18] fdncred commented on #476
Thanks for continuing to help me troubleshoot.

The same thing happens. I just ran it and this was the output.

    powershell.exe started --
        pid: 14936
        exe: C:\WINDOWS\Sysnative\WindowsPowerShell\v1.0\powershell.exe
        bundledModulesPath: C:\Users\20396600\.vscode-insiders\extensions\ms-vscode.PowerShell-0.9.0\modules
        args: C:\Users\20396600\.vscode-insiders\extension

[2017-02-01 15:20] daviwil commented on #476
Yep, no EditorServices.log will be created because powershell.exe never fully started up.  I'll have to ask someone internally if they've seen this error before.

[2017-02-01 17:52] musaugurlu opened #478 "Stuck at Starting Powershell"
### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.8.1
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:

| Name                      |          Value          |
|---------------------------|:-----------------------:|
| PSVersion                 |      5.1.14393.693      |
| PSEdition                 |         Desktop         |
| PSCompati

[2017-02-01 17:59] rkeithhill commented on #478
There is a setting for the PowerShell extension that allows you to enable/disable profile loading.  Set it to false and see if that gets you going.

[2017-02-01 18:03] musaugurlu commented on #478
Yes. If I disable profile loading. It works.

Thank you for quick reply

[2017-02-01 18:13] daviwil commented on #478
Another thing you can do is change your profile to skip those prompts if not in the ConsoleHost.  For example:

[code]

[2017-02-01 18:13] #478 closed

[2017-02-01 18:38] musaugurlu commented on #478
That's great. I'll add it to my profile. Thanks.

[2017-02-01 19:12] fdncred commented on #476
I'm not sure how helpful this is but I used procmon.exe to see the command line that is being issued by vscode and ran it.

    C:\Users\20396600>C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -NonInteractive -ExecutionPolicy Unrestricted -Command "& 'C:\Users\20396600\.vscode-insiders\extensions\ms-vscode.PowerShell-0.9.0\scripts\Start-EditorServices.ps1' -EditorServicesVers

[2017-02-01 19:13] daviwil commented on #476
Oh!  Is this 32-bit Windows?

[2017-02-01 19:14] fdncred commented on #476
No, was I not supposed to use System32?  My system is 64-bit.

[2017-02-01 19:20] daviwil commented on #476
Nah, 64-bit should be fine.  I'm just confused why running the `c:\Windows\sysnative` variant would cause this error.  VS Code runs as a 32-bit process, so the default behavior of the PowerShell extension is to run the 64-bit powershell.exe from `c:\Windows\sysnative` so that the 32-bit version doesn't get run by default.

There are two things you can try:

- Change the `powershell.useX86Host` set

[2017-02-01 19:27] fdncred commented on #476
Your suggestions didn't make any difference.  Same "Error starting blah blah blah".

I also tried my command line again substituting sysWOW64 in place of Sysnative and it runs fine.  I then tried to change the settings to usex86Host to false and changing the powerShellExePath to use sysWOW64. None of that made any difference.  Everything still fails with the same error. :(

[2017-02-01 19:31] daviwil commented on #476
Is this only happening on a particular machine?  Anything special about that machine like restrictive security or group policy settings?

[2017-02-01 19:34] fdncred commented on #476
I only have 1 machine with vscode-insiders. It happens on that machine.  I run vscode (non-insiders) on another machine and things work close to normal.

[2017-02-01 19:38] daviwil commented on #476
On the machine which has trouble, have you tried this with non-insiders to see if it works there?  It'd be good to know if they broke me somehow with the latest changes.

[2017-02-01 19:39] fdncred commented on #476
I'll install non-insiders on that machine and get back with you shortly.

[2017-02-01 20:14] fdncred commented on #476
Unfortunately, non-Insiders fails exactly like vscode-Insiders.

[2017-02-01 23:11] daviwil commented on #476
Thanks for trying that out, it's sort of a relief that vscode-stable has the same behavior.  I'll keep looking for answers.

[2017-02-02 00:33] wsmelton commented on #476
Just noting, I'm on Windows 10 (same PS Version and Build Number), but my Commit of VS Insider has a different value. I have no issues running either edition on my machine.

[Note I just updated Insider version on my machine today.]

![image](https://cloud.githubusercontent.com/assets/11204251/22532444/bd2c1b64-e8ac-11e6-919a-0a5cd4328e60.png)

Have you tried removing and reinstalling VS Code (bot

[2017-02-02 13:27] fdncred commented on #476
This morning I uninstalled vscode and vscode-insiders and removed all the .vscode folders from AppData so everything was gone.  I then reinstalled vscode-insiders, installed settings-sync plugin and all my plugins were reinstalled.  I opened a folder with a ps1 file and it is still broken as before.  I'm running the same version of insider as the above screenshot.

Any other ideas?

[2017-02-02 14:20] wsmelton commented on #476
My opinion this is to specific to your machine configuration. If you are on a domain it could be policies, even if you are not could be AV software or any number of things.

1. Disable all your plugins except for PS Extension. Just open VS Code (no folder, no ps1 file) and set integrated terminal to open PowerShell and see if it opens.
2. If that does not work, login to your machine as a new user

[2017-02-02 15:11] jackmusick opened #479 "Start-EditorServices.ps1 - [System.Net.Dns]::GetHostEntryAsync returns null on macOS"
[Logs.zip](https://github.com/PowerShell/vscode-powershell/files/748101/Logs.zip)

### System Details

- Operating system name and version: macOS 10.12.3
- VS Code version: 1.8.1
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      6.0.0-alpha
PSEdition                      C

[2017-02-02 15:17] daviwil commented on #479
That's weird, I've never seen that particular call fail before.  I haven't tried the extension with alpha15 on macOS yet, maybe something changed that I wasn't aware of.  I'll look into it.

[2017-02-02 15:18] daviwil commented on #479
Thanks for the detailed notes, by the way!

[2017-02-02 18:32] #477 closed

[2017-02-02 20:10] fdncred commented on #476
Integrated terminal with PowerShell works fine. Always has, with or without all my extensions. I'll try another account after while.  Any thoughts on using/installing PowerShell 6.0 alphas?

[2017-02-02 22:45] jackmusick commented on #479
Not a problem! Your issue template helped a lot. If you know of a complete way to remove all things Visual Studio Code and PowerShell from macOS, I could try that and give you an update. I've tried simply removing the app and PowerShell in /usr/local/microsoft/powershell, but that didn't seem to help.

[2017-02-02 23:07] jackmusick commented on #479
This might have been an issue with my system. For some reason, I didn't have localhost pointing to 127.0.0.1 in my hosts file. After adding that back, it seems to work just fine. I wouldn't have been able to find that without your excellent logging so kudos!

[2017-02-03 00:29] AbhimanyuAryan opened #480 "Powershell.exe cannot be found or is not accessible at path /usr/local/bin/powershell"
I have installed Powershell extension for macOS sierra but when ever I open VS code I get these strange errors.
<img width="655" alt="screen shot 2017-02-03 at 5 54 33 am" src="https://cloud.githubusercontent.com/assets/8083613/22574577/cc174d22-e9d5-11e6-9ebc-733ad65eb396.png">
<img width="787" alt="screen shot 2017-02-03 at 5 54 24 am" src="https://cloud.githubusercontent.com/assets/8083613/2257

[2017-02-03 00:31] daviwil commented on #480
Have you installed PowerShell for macOS?  That's a prerequisite for using the extension.

https://github.com/PowerShell/PowerShell/releases

[2017-02-03 00:32] daviwil commented on #480
Here are the installation instructions:

https://github.com/PowerShell/PowerShell/blob/master/docs/installation/linux.md#macos-1011

[2017-02-03 01:45] dfinke opened #481 ""editor.formatOnPaste": true does not format"
Copy/Paste into a `ps1` file, but does not format on paste. Press `alt+shift+f` and it formats.

[code]
`"editor.formatOnPaste": true`

![image](https://cloud.githubusercontent.com/assets/67258/22576177/24c3a18a-e988-11e6-88bc-486b4c96a4df.png)

![image](https://cloud.githubusercontent.com/assets/67258/22576257/77b1a342-e988-11e6-984f-cb68b4e7b3d1.png)

![image](https://cloud.githubusercontent.com

[2017-02-03 01:51] AndrewRichardson2 opened #482 "Run PowerShell code in a terminal window with F8 key, instead of PowerShell Output window"
### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.9.0
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

It would be fantastic if the PowerShell extension could be configured to run code in the terminal window with F8, rather than the "PowerShell Output" window.  It's really handy to be able to interact with

[2017-02-03 06:07] #480 closed

[2017-02-03 13:24] fdncred commented on #476
I tried these versions:

* 0.6.0
* 0.7.1
* 0.7.2
* 0.8.0

All give the same type of error but slightly different from version 0.9.0.

    ERROR: & : AuthorizationManager check failed.

    PowerShell could not be started, click 'Show Logs' for more details.
    ERROR: At line:1 char:3
    + & 'C:\Users\20396600\.vscode-insiders\extensions\ms-vscode.PowerShell ...
    +   ~~~~~~~~~~~~~~~~~~~~~~~~~~

[2017-02-03 14:22] daviwil commented on #462
Hi Lee, not sure how I managed to forget to reply to this issue, sorry about that!  We'll look into making this configurable in the future once we've gotten a little further along with the formatting.

[2017-02-03 15:02] daviwil commented on #476
Thanks for trying all of those!  The AuthorizationManager error is interesting, but those are generally related to execution policy settings.  Since you said earlier that you are able to run the same command string that the PS extension runs, I'm guessing that your PC has no problem running with an Unrestricted execution policy.

At this point it seems like this must be caused by running PowerShel

[2017-02-03 15:30] fdncred commented on #476
Here's a screenshot from vscode-insiders with my Execution policies.  Should they all be set the same?

![code - insiders_2017-02-03_09-29-34](https://cloud.githubusercontent.com/assets/343840/22597004/6333713c-e9f3-11e6-8e9c-fff6d8757536.png)

[2017-02-03 15:33] daviwil commented on #476
I don't think so, here's what it looks like on my machine where everything works fine:

![image](https://cloud.githubusercontent.com/assets/79405/22597090/088a7ad8-e9e3-11e6-9b8b-96eca5cffc14.png)

[2017-02-04 23:43] LeeDailey commented on #462
howdy daviwil,

thank you for the response! [*grin*]

i have problems seeing the break between two blocks of code using the style you folks [and many others] prefer. if you have two of the IF block shown above and use your format, the two simply blend into each other. well, to me they do ...

i look forward to each new version of your extension even more than i do to the updates for VSCode. [*grin

[2017-02-05 01:26] rkeithhill commented on #462
Given the **wide** assortment of [brace styles](https://en.wikipedia.org/wiki/Indent_style), I'd rather see script formatting focus, in the short term at least, on more central scenarios/issues (`if () {} else {}` on same line as form of ternary op, pipeline formatting, etc) before tackling the more esoteric brace styles.   :-)

BTW this setting in Visual Studio is called "Indent open and close br

[2017-02-05 02:10] LeeDailey commented on #462
howdy rkeithhill,

that last example with the detached open brace is ... not quite on topic since the PS extension already has a setting for that. in your example, the open brace would be on the same line as the `function foo` and not subject to indentation.

_i_ would use it that way [*grin*] .others, however, would almost certainly put the open brace on the same line as the function. that is alr

[2017-02-05 02:17] rkeithhill commented on #462
The point of the last example was not where the brace is but that the braces are indented and affects more than just `if` statements.  That's all.

[2017-02-05 05:32] LeeDailey commented on #462
howdy rkeithhill,

ah! i misunderstood that. [*blush*] thank you for clearing that up for me! [*grin*]

take care,
lee

[2017-02-06 01:15] rkeithhill opened #486 "Disconnect icon missing in VS Code 1.9.0 when attached to PowerShell host process"
### System Details

- Operating system name and version: Windows 10 AU
- VS Code version: 1.9.0
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`: 5.1.14393.693

### Issue Description

VS Code 1.9.0 doesn't seem to be using the "disconnect" icon in the debug actions pane when I'm attached to a PowerShell host process.  In 1.8.1 I saw this:

![image](https://cloud.githubusercont

[2017-02-06 05:08] rkeithhill opened #487 "Add Launch Config Snippet for Pester Tests?"
I was looking at the Node.js debugger configurations, they have one for Mocha tests:

I wonder if we should have a similar config snippet for debugging Pester tests?

[2017-02-06 14:14] gmckeown commented on #420
To allow for the working-directory being something other than the script path, I use the following:

# Import Include Files
$script_path = $MyInvocation.MyCommand.Path
$dir = Split-Path $script_path
import-module $dir\..\My-Functions.psm1

For me, it is preferable to keep this module with the code that depends on it rather than placing it in the module path (it keeps together all of the code I sup

[2017-02-06 15:42] rkeithhill commented on #460
Ignore my issue. `${env.HOME}` doesn't get sent across because Windows doesn't define a HOME env var.  The `$env:HOME` available in PowerShell must have been created by PowerShell (I guess).  In the launch.json file, `${env.USERNAME}` works just fine.

[2017-02-06 17:51] DerfOh opened #488 "Command PowerShell.RunSelection not found"
### System Details

- Operating system name and version: Windows 7
- VS Code version: 1.9.0
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:

Name                           Value
PSVersion                      5.0.10586.117
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.10586.117
CLRVersion                     4.0.30319.42000
WSManS

[2017-02-06 17:56] daviwil commented on #488
Do you ever get any error messages from within VS Code other than the one about RunSelection not being found?  The extension would write out some manner of log file if it had tried to start.

[2017-02-06 18:11] DerfOh commented on #488
Nope VS Code starts up without any other error messages. The log file does not get written despite.

``` "powershell.developer.editorServicesLogLevel": "Verbose" ```

I also disabled all other extensions except PowerShell and also attempted specifying the path to powershell.exe to no avail.

Another member of my team (who is experiencing the same issue) seems to have gotten it working normally by

[2017-02-06 18:20] daviwil commented on #488
Oh interesting, so somehow VS Code 1.9 caused the issue?  You are able to use PS extension 0.9.0 normally with VS Code 1.8?

[2017-02-06 18:35] daviwil commented on #487
A default Pester debugging config could be nice, we just might need to make sure the user understands that they'll have to change the default test path of the config if they don't have their test files under `.\test` or whatever we deem the default.

[2017-02-06 18:36] daviwil commented on #486
Weird...  Maybe they changed it?  I'll look into it.

[2017-02-06 18:38] rkeithhill commented on #487
I think we might be able to get away with just throwing the `${workspaceRoot}` at Pester and it will find and run all *.Tests.ps1 files.  The user can always limit that to `${workspaceRoot}/test` or `${workspaceRoot}/tests` if they need to.

[2017-02-06 18:38] daviwil commented on #487
Good point, sounds good to me!

[2017-02-06 19:39] emmdeeess commented on #488
I am using VS Code 1.8 with PS Extension 0.9.0 successfully. Upgrading to 1.9 breaks all PS functionality, besides the "Command 'PowerShell.RunSelection' not found" error when trying to use f8 to run snippets, all Intellisense, etc does not work.

[2017-02-06 19:43] daviwil commented on #488
That's really strange.  I just tried VSC 1.9 with PS extension 0.9 on a Windows 7 machine with PS v3, started up just fine.  I'm not sure why the extension wouldn't even try to start.  Do you see this status bar item show up when you open a PowerShell file for the first time:

![image](https://cloud.githubusercontent.com/assets/79405/22663430/6c59ea64-ec61-11e6-88cc-88bde6c4f9ef.png)

[2017-02-06 19:43] DerfOh commented on #488
@daviwil That appears to be the case for both of us.

[2017-02-06 19:51] daviwil commented on #488
@emmdeeess which version of Windows are you using?

[2017-02-06 20:10] DerfOh commented on #488
It says PowerShell for the file type when opening a ps1 file but it doesn't display "Starting Powershell..." or any other indication of the extension being loaded.

[2017-02-06 20:12] daviwil commented on #488
Can you try removing and re-installing the PowerShell extension in VSC 1.9?  Maybe it's not being activated due to an issue caused by upgrading VS Code.

[2017-02-06 20:16] emmdeeess commented on #488
Windows 7 here. Tried all variations of installing / uninstalling extension, could not get it to load in 1.9.

Tried fresh install, deleted .vscode folder in home folder and Code folder in AppData. Fresh install of 1.9 and fresh install of 0.9.0, no dice.

[2017-02-06 20:17] DerfOh commented on #488
Same here, reinstall of plugin as well as editor did not resolve the issue, there is still no indicator for powershell starting either.

[2017-02-06 20:22] daviwil commented on #488
Just filed an issue on the VS Code repo to see if they know of any other things we can try.

[2017-02-06 21:45] #446 closed

[2017-02-07 06:13] rkeithhill commented on #487
I added this and it works but works as an accident.  I specify the script setting as `Invoke-Pester` which is not a file path.  However, the code:
[code]
This works only when there are no `args` as it adds the string as a command.  How should we proceed on this?  I don't like the fact that `args` won't work.  Probably the right way to make this work is add another property say `command` that is mu

[2017-02-07 13:12] 1Mystogan1 opened #491 "OSX The language service could not be started: Error: spawn EACCES"
### System Details

- Operating system name and version: MasOS Sierra version 10.12.3
-
[vscode-powershell.log.zip](https://github.com/PowerShell/vscode-powershell/files/757705/vscode-powershell.log.zip)

Kernel Version:	Darwin 16.4.0
- VS Code version: 1.9.0
- PowerShell extension version: 0.9.0

Hi,

Every time it try and and run the PowerShell or the debug i get the following Error

The languag

[2017-02-07 14:34] daviwil commented on #491
Can you run `powershell` in the Terminal app, does it load correctly?

[2017-02-07 14:44] 1Mystogan1 commented on #491
Hi,

Thanks you for the quick response!

I have just this minuet got it working.

It was a combination of PowerShell not running in the terminal and .Net not working correctly.

After installing Powershell from https://github.com/PowerShell/PowerShell/releases/ and installing .NET from https://www.microsoft.com/net/core#macos and following the install instructions resolved the issue.

Visual Code

[2017-02-07 14:44] #491 closed

[2017-02-07 15:04] daviwil commented on #491
Glad to hear you got it working!  I will improve the experience on OSX so that it is clear PowerShell needs to be installed for the extension to work.

[2017-02-07 19:41] clmcgrath opened #492 "Add option to launch and debug external powershell.exe"
Now that we have an attach option it would be really helpful to be able to
automate this process into an launch external console option

theoretically could this not simply be done by creating the powershell exe in a windowed mode then adding the attach functionality to add the debugger

the built in debugger is great but we lose all layer 2 interactive functionality like progress bars and message

[2017-02-07 19:44] daviwil commented on #492
Certainly a possibility.  We could launch powershell.exe to run a specific script and then auto-attach to it with the debugger.

[2017-02-07 22:46] #448 closed

[2017-02-08 09:36] weinand opened #494 "Debug hangs immediately on powershell script"
_From @ssaari on February 7, 2017 0:20_

- VSCode Version: Code 1.9.0 (27240e71ef390bf2d66307e677c2a333cebf75af, 2017-02-02T08:31:00.827Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|mssql|ms-mssql|0.2.0|
|csharp|ms-vscode|1.6.2|
|PowerShell|ms-vscode|0.7.10|

---
After updating to v1.9.0, no scripts run, either in single file or normal debug s

[2017-02-08 16:13] rkeithhill commented on #494
Does the latest version of PowerShell extension 0.9.0 work any better?  Note that 0.9.0 is the first version to support single file (no-workspace) debugging.  Also, was the PowerShell script saved to disk?  That's still a requirement even in 0.9.0.

[2017-02-08 18:01] daviwil commented on #494
@ssaari It looks like you have the "preview" version 0.7.10 installed, I believe this is the one with the (failed) preview of interactive console support.  This version already has issues with debugging so I'd recommend against using it.

Also, due to an issue with VS Code, you will not see update notifications for the PowerShell extension since you've installed a preview release of the extension.

[2017-02-09 00:08] #453 closed

[2017-02-09 06:47] rkeithhill opened #495 "Show Pester CodeCoverage data as green/red lines of source text"
When you run Pester with -CodeCoverage it will give you a percentage of code coverage but it also gives you every line that is not covered:
[code]
It would be cool if we could use this data to color script text red/green (covered/not covered) like Visual Studio does.

[2017-02-09 11:13] galenus commented on #460
Works both in VS Code 1.9.1 and 1.10.0 - Insider. Can be closed.

[2017-02-09 11:13] #460 closed

[2017-02-09 13:22] daviwil commented on #460
Thanks for confirming @galenus!  Let us know if you see it happen again.

[2017-02-09 13:45] fdncred commented on #476
Is there anything else I could try?  Do you have any tips of how to debug deeper into the issue to figure out what's going on?  I'm up for anything.

[2017-02-09 13:50] daviwil commented on #476
Hey Darren, thanks for continuing to look into this.  I found [this link](https://community.spiceworks.com/topic/849064-authorizationmanager-check-failed) which has a couple of suggestions.  One that seems interesting is to run `sfc /scannow` to check if there are any corrupted Windows system files.  Maybe give that a shot and see if it returns anything interesting?

They also mention checking for

[2017-02-09 13:54] ww40 opened #496 "Auto expansion for alias commands."
A common factor in providing help and reviewing PowerShell scripts in general we find veterans who will use alias's for common commands such as %(ForEach-Object), cls(Clear-Host), ri(Remove-Item), mi(Move-Item, CD(Set-Location)....I'm sure you see where i'm going with this.

What if upon saving your solution there would be an option to automatically convert all the alias commands into their full c

[2017-02-09 14:03] daviwil commented on #496
We could definitely enable "expand aliases on save" and put it behind a setting so that it can be turned on per-workspace.

[2017-02-09 14:04] daviwil commented on #496
@kapilmb wanna give this a shot for 0.11.0?

[2017-02-09 14:56] fdncred commented on #476
I ran sfc /scannow and it reported, "Windows Resource Protection did not find any integrity violations." I then downloaded and ran WMIDiag.vbs from Microsoft and it found errors!  So then I ran the batch file from monitoring-for-wmi-corruption-issues and it renamed and recreated my wmi repository.  Then reboot. Then I ran winmgmt /verifyrepository and there were no inconsistencies!

Unfortunately,

[2017-02-09 18:15] kapilmb commented on #496
This looks like a special case of #417. Sure, we can get target it for 0.11.0.

[2017-02-09 18:32] rkeithhill commented on #496
Please do not enable it by default.  I think this needs to be "opt-in".

[2017-02-09 18:32] daviwil commented on #496
Yeah, enabling by default would not be the desired behavior.

[2017-02-09 18:52] eweilnau commented on #496
It might be nice to allow configuration to include or exclude aliases from this expansion. I know several people in the community who are against expanding *-object aliases (i.e. select, where)

[2017-02-09 18:53] daviwil commented on #496
Luckily Kapil has already satisfied your request :)

https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/AvoidAlias.md#alias-whitelist

[2017-02-09 18:53] daviwil commented on #496
Might be worth having a blacklist too, though.  A whitelist will be harder to maintain.

[2017-02-09 18:54] rkeithhill commented on #496
I was one of those folks until PowerShell went cross platform where `sort` is a native util and PowerShell Core does not provide `sort` as an alias to `Sort-Object`.  Now I'm firmly in the camp of expanding *-Object.

[2017-02-09 18:56] eweilnau commented on #496
I see this as part of (or at least similar to) formatting in which more configuration is better because consensus is (nearly) impossible.

[2017-02-09 21:26] dfinke opened #497 "Format Document doesn't format correctly subexpressions like this"
*Before*

[code]
*After*
[code]

[2017-02-09 21:28] daviwil commented on #497
I think @kapilmb just fixed this.  Kapil, can you verify it works with your latest changes?

[2017-02-09 21:33] kapilmb commented on #497
Yes, this issue has been fixed!

_Before_
[code]

_After_
[code]

[2017-02-09 23:20] daviwil commented on #497
Thanks for confirming!  Closing this for now, we can reopen it if other cases are still broken after the update.

[2017-02-09 23:20] #497 closed

[2017-02-09 23:22] daviwil commented on #479
Thanks Jack!  Glad you were able to figure it out.

[2017-02-09 23:22] #479 closed

[2017-02-10 10:17] adambirds opened #498 "Add ability to create submenu addons as you can in ISE."
### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.9.1
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

You should add the ability to create submenu addons as you can in ISE using your profile.

Useful for shortcuts like below:

[code]

[2017-02-10 14:54] adbertram opened #499 "Feature request: "Go to Definition" works across all files in a workspace"
It'd be super-convenient for me if I could right-click on a function call click "Go to Definition" and it would find the module (if exists) that's in my current workspace, open up that file and then go to the function declaration.

[2017-02-10 14:57] daviwil commented on #499
Yep, we have a lot of work to do on the symbol features in PowerShell Editor Services.  We need to start working on module-level analysis to enable this.

[2017-02-10 16:19] rkeithhill commented on #498
The PowerShell extension lets you write & register commands using PowerShell syntax.  At the moment, these commands appear only in the command palette menu IIRC.  For a deeper level of customization, Visual Studio Code has a very rich extensibility model.  See http://code.visualstudio.com/docs/extensions/overview

[2017-02-10 17:31] rkeithhill commented on #486
Fixed in vscode.

[2017-02-10 17:31] #486 closed

[2017-02-10 17:35] daviwil commented on #486
Nice!  Thanks for following up on that.  I noticed it yesterday also but didn't have time to file it.

[2017-02-10 18:45] VGib opened #500 "On Linux when launching current file /usr/bin and /bin command are not reconized"
### System Details

- Operating system name and version: archlinux (linux)
- VS Code version: 1.9.1-1
- PowerShell extension version: 0.9
- powershell git compiled today
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      6.0.0-alpha
PSEdition                      Core
PSCompatibleVersions           {1.0, 2.0, 3.

[2017-02-10 19:08] daviwil commented on #500
Hmmm, interesting.  Can you grab verbose logs and send them to me?

https://github.com/PowerShell/vscode-powershell#reporting-problems

Also, are you compiling the PowerShell extension from Git to get the latest changes just to try them out?  I'm planning to provide a way to install "Insiders" builds of the latest changes for those who want to try them.

[2017-02-10 23:13] ssaari commented on #494
Yes, installing 0.90 fixed it.  Thanks, @daviwil  and @rkeithhill!

[2017-02-10 23:25] daviwil commented on #494
Glad to hear it, thanks for confirming!

[2017-02-10 23:25] #494 closed

[2017-02-11 10:44] VGib commented on #500
I mistake it was powershell which was compuiled from git.
I send you the errors

[2017-02-11 10:49] VGib commented on #500
Le vendredi 10 février 2017, 20:08:46 CET David Wilson a écrit :

Hello,

here are the files you asked for.

Regards,

Vincent Gibault

[2017-02-11 15:28] daviwil commented on #500
Hey Vincent, the files didn't get attached to the GitHub issue.  Can you email them to me at *daviwil at microsoft.com*?  Thanks!

[2017-02-11 17:09] VGib commented on #500
[logs.zip](https://github.com/PowerShell/vscode-powershell/files/768740/logs.zip)
oups here they are

[2017-02-11 20:47] pcgeek86 opened #503 "Running debugger against module manifest (psd1) file results in confusing error message"
If you hit F5 to invoke the debugger, and currently have a PowerShell module manifest file open, a confusing exception is thrown, and captured in the Visual Studio Code **Debug Console**.

[code]

It'd be great to be able to set up multiple launch configurations, similar to how NPM works, so that hitting F5 isn't dependent on having the right file selected. For example, you might set up a launch c

[2017-02-11 20:50] daviwil commented on #503
You can already set up multiple launch configurations that launch specific file paths, but launching .psd1 files isn't currently supported. I'll either add support for it or add an appropriate error message.

[2017-02-11 20:50] rkeithhill commented on #503
You can set up multiple configurations.  In the Debug view, press the `gear` icon to open your launch.json file. Now press the `Add Configuration` button and pick the "PowerShell: Launch Script" and fill in the script you want to launch.

[2017-02-11 20:51] rkeithhill commented on #503
Also, be sure to check out my Debugging in VS Code Part 2 blog post that goes live on Monday. It covers this in a fair amount of detail.

[2017-02-11 20:53] rkeithhill commented on #503
And for launching Pester tests - see #487.  It can be made to work now but I'm not sure I would rely on it - which is why I didn't add support yet.

[2017-02-11 20:53] rkeithhill commented on #487
@daviwil Do you know if the changes for interactive console support will still allow a `"script":` arg of `Invoke-Pester`?

[2017-02-11 20:54] pcgeek86 commented on #503
Sounds good, thanks. I'd suggest keeping this open for the purposes of tracking "launching" a .psd1 file. What exactly would that do? I would maybe throw an exception, saying that you can't launch a .psd1, maybe? Not sure I have the best solution, but the current exception certainly isn't immediately helpful.

[2017-02-11 20:56] daviwil commented on #487
Idea: maybe we can add an additional parameter to the launch config called "command" which takes a command name then the args parameter applies to that. That parameter and "script" would be mutually exclusive.

[2017-02-11 20:58] daviwil commented on #503
Ideally it'd just call Import-Module with that path and drop you into the console.

[2017-02-11 21:00] rkeithhill commented on #503
On the extension, do we have a chance to inspect the `"script":` arg before it gets sent to PSES?  Either in VSCode or PSES we could test that A) the file exists (in case we allow an arg like `Invoke-Pester` which isn't a file) and if it is a file that exists B) has to have certain extension: .ps1, .psd1, .psm1 etc.  Right now, it will try to launch against any file type (.md, .yml, .json, etc).

[2017-02-11 21:02] rkeithhill commented on #487
You mean like this:

Great minds think alike.  :-)

[2017-02-11 21:04] daviwil commented on #487
I dunt reed 2 gud ;)

If you want to make that change, go for it!

[2017-02-11 21:20] daviwil commented on #503
Yep, check out this function:

https://github.com/PowerShell/vscode-powershell/blob/develop/src/features/DebugSession.ts#L26

If you want to stop execution from happening, skip the `vscode.commands.executeCommand('vscode.startDebug'...)` call.

[2017-02-11 21:25] rkeithhill commented on #503
Should we initially not allow debugging of a `.psd1` file?  It's more of a data file and it might not even be a module manifest.  It might be string localization file.  We could always come back later and enable `.psd1` debugging.

[2017-02-11 21:30] daviwil commented on #503
Hmmm, good point.  We can probably figure out whether it's a module manifest file, but not necessarily worth doing right now.

[2017-02-13 10:21] GHRoss commented on #481
I also have this problem, for what it's worth.

[2017-02-13 13:13] LaurentDardenne opened #504 "Plaster fails to create project when input prompt defaults are used"
### System Details

    Operating system name and version: Windwos Seven sp1
    VS Code version:  1.9.1
    PowerShell extension version: 0.9.0
    Output from $PSVersionTable:
[code]

### Issue Description
I execute a Plaster template , when I change the windows focus,  VSCode display this error message :
_"Project creation failed, read the Output window for more details."_

### Attached Logs

!

[2017-02-13 18:40] Jaykul commented on #496
I just wish tab-expansion would offer to change cd to Set-Location...

[2017-02-13 18:41] daviwil commented on #496
@Jaykul: what would be the desired flow for that?  You type cd and you get Set-Location as a completion option?  Or you type cd and hit `tab` and it turns into Set-Location?

[2017-02-13 19:21] Jaykul commented on #462
I don't want to end up having `braceStyle` take a name:

* Allman/Petzold
    * Whitesmiths
    * GNU/Stallman
* 1TBS/OTBS (K&R)
    * Ratliff
    * Stroustroup
    * Java
...

Many of the indent/brace styles have actual *reasons* for existing _in the languages where they were conceived,_ but this is PowerShell, and many of these arguments don't hold water -- it's not worth your time to create fea

[2017-02-13 20:14] daviwil commented on #462
Excellent points, Joel, thanks for that!  I agree, we don't want to go too far with this.  We'll keep our formatting options scoped down to what makes sense for PowerShell.

[2017-02-14 10:23] LeeDailey commented on #462
howdy y'all,

it is not so much the braces that i want indented. the style PS uses makes consecutive multi-control blocks blend into each other. try putting two IF/ELSEIF/ELSE blocks one after the other.

the nice thing about whitesmith indentation is that the primary control block is out-dented compared to all of its subsidiary components.

i suspect that this will go the way of the dodo ... but

[2017-02-14 15:10] #481 closed

[2017-02-14 16:24] squatched commented on #411
Could this information be added to a README somewhere in the meantime? This information being:
- How to edit launch.json to load the user's profile.
- A brief note explaining why this might trip the user up.

I found this functionality confusing personally. All sessions of PS on my computer behave one way, except for the one I'm debugging in? I understand what you're saying about distributing scri

[2017-02-14 20:17] weinand opened #506 "Debugger hangs on break points in PowerShell code"
_From @wmc777 on February 14, 2017 18:40_

- VSCode Version: Code 1.9.1 (f9d0c687ff2ea7aabd85fb9a43129117c0ecf519, 2017-02-09T00:26:45.394Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|azuretoolsforvscode|bradygaster|1.2.1|
|PowerShell|ms-vscode|0.9.0|
|azurerm-vscode-tools|msazurermtools|0.3.4|

---

Steps to Reproduce:

1. Set a break point
2.

[2017-02-15 03:15] rkeithhill commented on #506
@wmc777 Do you have any watch expressions defined in the Debug view?  If so, that is a known issue that is being worked on for the next release.

[2017-02-16 02:02] wmc777 commented on #506
No, I did not have watch expressions defined. I just had a couple of break points set.

[2017-02-16 07:54] Glober777 opened #507 "Add CodeLens support for PowerShell function references"
It would be really handy if there were some CodeLens capabilities added into the vscode-powershell extension, like the number of references for a function\cmdlet, class and its methods from current and all other scripts within the project folder.

[2017-02-16 14:18] daviwil commented on #507
Yep, we'll be getting to that soon.

[2017-02-16 15:58] rkeithhill commented on #507
Of course, until the extension works across a scripts in a workspace, code lens support won't be super useful.

[2017-02-16 18:40] daviwil commented on #506
@wmc777 can you capture verbose logs while debugging and send them to us?

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2017-02-16 22:50] Jaykul opened #508 "Code formatting should place cuddled else on new line when openBraceOnSameLine is false"
In an attempt to conform to the `Allman` style indenting preferred by my team, I set `powershell.codeFormatting.newLineAfterOpenBrace": false` and Format Document converted this:

[code]

to this:

[code]

I don't know what you call that half-cuddled else, but I just call it wrong 😉

If people have set `"powershell.codeFormatting.openBraceOnSameLine": false,` you need to ditch the cuddled else as

[2017-02-16 22:52] daviwil commented on #508
@kapilmb looks like a minor bug in the brace formatting rule

[2017-02-16 23:48] Jaykul commented on #508
P.S.: my vote is to not add the `elseOnSameLine` setting.

Just do full Allman style for `openBraceOnSameLine = false` and OTBS otherwise.

[2017-02-17 13:40] fdncred commented on #476
Is there something I can to do help debug this?

[2017-02-17 17:01] wmc777 commented on #506
I captured the logs and will send it to you via email. Here is an example of the hang>
![ms-vscode powershell_hangs](https://cloud.githubusercontent.com/assets/6521260/23074966/c141c0d8-f508-11e6-9a2b-020e1e4522a7.gif)

[2017-02-18 03:29] SubThr33 opened #510 "Multi-line string variable formatting"
### System Details

- Operating system name and version: Win10 x64
- VS Code version: 1.8.1
- PowerShell extension version: 0.9.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

Hi, I am not sure if this has been reported before, but multi-line strings do not seem to store correctly within powershell scripts when they are not left aligned to line space 0. If the closing '"@' is no

[2017-02-18 04:16] rkeithhill commented on #510
The multi-line strings you refer to are called `here` strings and the syntax requires that the closing quotation has to be the first character on the line.  See the help topic `man about_quoting_rules`.  Your second example is invalid syntax.  The red squiggles you see are telling you that.

[2017-02-18 06:01] rkeithhill commented on #487
OK, have implemented this and will be submitting PRs to both this repo and PSES.  Came to conclusion that we don't need a Command property.  I modified the PSES launch code to verify if the "script" is a path to a file or not.

[2017-02-18 15:51] #487 closed

[2017-02-18 15:53] #503 closed

[2017-02-20 09:43] Golosok commented on #3
Any updates on this? I have version 0.9.0 now and this doesn't seem to work.

[2017-02-21 13:26] tonylea commented on #357
I've also noticed this issue.

Using:
- Windows 10 Pro
- VS Code version: 1.9.1
- PowerShell extension version: 0.9.0

Validate pattern am using: `[ValidatePattern("^([0-9a-fA-F]{2}[:-]{0,1}){5}[0-9a-fA-F]{2}$")]`

[2017-02-21 14:36] daviwil commented on #507
CodeLens is more than just "find references" you can add arbitrary markers which launch arbitrary actions on any line of code.  I'm curious to see what people will use it for when I add it to the $psEditor API.

[2017-02-21 21:52] #508 closed

[2017-02-21 22:34] rkeithhill commented on #508
Uh, if `openBraceOnSameLine = true` I still don't want a cuddled else/elseif/catch/finally.  So if the formatting is doing that now, I would prefer a setting disable that.

As long as I can get the formatter to format to:
[code]
I'll be happy.  :-)

[2017-02-21 23:03] kapilmb commented on #508
@rkeithhill With PowerShell/PSScriptAnalyzer#713 checkin, the codeformatter will allow only the following options

### Style 1
`"powershell.codeFormatting.openBraceOnSameLine": true`

[code]

### Style 2
`"powershell.codeFormatting.openBraceOnSameLine": false`

[code]

### Style 3
`"powershell.codeFormatting.ignoreOneLineBlock": true`
[code]

[2017-02-21 23:05] daviwil commented on #508
And the new `NewLineAfter` setting is true by default, meaning that cuddled else is opt-in by setting `NewLineAfter` to false.

[2017-02-21 23:07] kapilmb commented on #508
@daviwil We haven't exposed that switch via codeformatter - Should we expose that here? Then it would look something like this: '"powershell.codeFormatting.newLineAfterCloseBrace": true`

[2017-02-21 23:10] daviwil commented on #508
Yep, definitely.

[2017-02-22 00:20] kapilmb commented on #508
PR #512 adds the `newLineAfterCloseBrace` switch .

[2017-02-22 23:34] daviwil opened #513 "Remaining work for 1.0"
## Needed for 1.0

- [ ] Language features for classes - Kapil
  - [ ] Go to definition, find references, rename symbol https://github.com/PowerShell/PowerShellEditorServices/issues/14
  - [ ] Document and workspace symbol providers https://github.com/PowerShell/vscode-powershell/issues/3
- [ ] Module-wide symbol indexing and operations - Kapil
   - https://github.com/PowerShell/PowerShellEditorSe

[2017-02-23 15:05] wmc777 commented on #506
@daviwil I sent the the captured logs to in an email. Did you have  a chance to review them?

[2017-02-23 21:58] Hummer311 commented on #389
I'm also xperiencing the same issue. I'll follow the above instructions and you the log hn I get home.

[2017-02-23 22:54] Hummer311 commented on #389
Some additional logs - I believe I started experiencing  problems when I configured a launch.json. [logs2.zip](https://github.com/PowerShell/vscode-powershell/files/797931/logs2.zip)

[2017-02-24 11:57] LeeDailey commented on #177
howdy y'all,

is there a VSCode issue for this? if so, would some kind person please point me to it?

take care,
lee

[2017-02-24 12:13] Plork commented on #482
try this in your keyboard shortcuts

// Place your key bindings in this file to overwrite the defaults
[
    {
        "key": "f8",
        "command": "workbench.action.terminal.runSelectedText",
        "when": "editorTextFocus && editorLangId == 'powershell'"
    }
]

[2017-02-24 15:53] rkeithhill commented on #177
@LeeDailey See https://github.com/Microsoft/vscode/issues/3422

[2017-02-25 00:28] LeeDailey commented on #177
howdy rkeithhill,

thank you! [*grin*] my search talent was not up to snuff ...

take care,
lee

[2017-02-26 21:11] ahubbard opened #514 "Feature request: intellisense in integrated terminal (like ISE)"
### System Details

any/any

[code]

### Issue Description

I am experiencing a problem with... syntax in the integrated terminal.  ISE has intellisense not just in the editor, but also in the integrated terminal.  That would be extremely useful in VS Code as well.

### Attached Logs

none

[2017-02-27 14:18] wellsluo commented on #514
+1, and colorful characters is also needed.

[2017-02-27 19:16] mattmcnabb commented on #507
I love the function reference capability in ISESteroids, so this would be a win in VSCode assuming we can get all references in a project. Sounds like that could be a ways off.

@daviwil Could you use the markers for something like "to-do" comments? Any chance these could also be used to fold region comments?

[2017-02-27 19:25] daviwil commented on #507
We're trying to get cross-module find references going within the next month or two, Codelens support will line up with that.

What would you expect to see for todo comments?  We don't have any control over region folding unfortunately.

[2017-02-27 20:33] rkeithhill commented on #507
@mattmcnabb RE region-based code-folding see https://github.com/Microsoft/vscode/issues/3422#issuecomment-189576426