[2020-01-24 16:59] TylerLeonhardt commented on #2435
What's in the PowerShell Preview extension is expected to make it into stable around mid-Feb.

[2020-01-24 17:02] TylerLeonhardt commented on #2436
This is a dupe of https://github.com/PowerShell/vscode-powershell/issues/1779

That's the primary mechanism for switching the PowerShell version you want to use which is why it has that pop of color.

[2020-01-24 17:04] TylerLeonhardt commented on #2420
Totally understand - just want to make sure this is scoped to Windows PowerShell for you and not all versions of PowerShell.

[2020-01-24 17:33] Tyriar commented on #2436
Well I'm suggesting removing color completely, not being able to customize it or pull it from the theme. The same applies to the orange error one, plain default like tslint (and the notification) would be preferable imo:

<img width="96" alt="Screen Shot 2020-01-24 at 9 31 20 AM" src="https://user-images.githubusercontent.com/2193314/73090084-82431780-3e8c-11ea-9e70-4fddd1fcecf5.png">

[2020-01-24 17:33] Tyriar commented on #2435
This was in stable, if preview is better you can close this.

[2020-01-24 17:47] TylerLeonhardt commented on #2435
Yeah we have a whole dialog now: https://github.com/PowerShell/vscode-powershell/blob/master/src/session.ts#L148-L164

[2020-01-24 17:47] #2435 closed

[2020-01-24 17:48] anthonyvdotbe commented on #2434
It doesn't: that setting only prevents the Terminal view from being shown as soon as a PowerShell script is opened, but the `PowerShell Integrated Console` is still there. So when I hit ``Ctrl + ` ``, I'll end up in the `PowerShell Integrated Console`, rather than a standard powershell terminal.

[2020-01-24 17:55] TylerLeonhardt commented on #2434
The PowerShell Integrated Console is needed to get debugging working because debugging PowerShell script requires some console output.

In order to light up what you're asking for that would mean that debugging would not be possible.

We could have a mode like that, but I personally feel like

[code]

gets us 80% of the way there and is already supported.

[2020-01-24 18:09] anthonyvdotbe commented on #2434
I don't know the `TerminalOptions.hideFromUser` API that @Tyriar mentioned, but he said

so as I read it, from an extension POV, the terminal would work exactly the same (i.e. the extension can still write output to it), and it's still possible for the user to request the terminal to be shown when they want to debug PowerShell scripts and see the output.

[2020-01-24 18:49] TylerLeonhardt commented on #2434
@Tyriar is it possible to unhide a terminal?

[2020-01-24 19:35] Tyriar commented on #2434
@TylerLeonhardt you can use `hideFromUser`, the first time `Terminal.show()` is called it will just be like a regular terminal. So you can unhide it, but you can't re-hide it.

[2020-01-24 19:44] TylerLeonhardt commented on #2434
Gotcha. So I guess we can kinda support this by using hideFromUser at start up instead of "not running show" and then debugging should "unhide" the terminal.

Unfortunately, once it's shown, we wouldn't be able to re-hide it like you said... but this should be good for @anthonyvdotbe maybe?

when was `hideFromUser` added to `TerminalOptions`?

[2020-01-24 21:23] tillig opened #2438 "Pester test `Context` failures not showing up in Problems window"
Issue Description
=====
If you have a Pester test where a `BeforeAll` or `AfterAll` block fails that failure doesn't show up in the Problems window. Test failures do properly display.

Here's a repro test you can use to try it out:

[code]

The output of this in the console looks like:

[code]

The Problems window does display the test failure - 'has two failures - context and test' but it does NO

[2020-01-24 22:54] TylerLeonhardt commented on #2417
@doug4772 I don't think you're experiencing the same issue on macOS. Can you add the logs & screenshots here?

[2020-01-25 00:00] #2432 closed

[2020-01-25 09:51] anthonyvdotbe commented on #2434
Yes, this would be great, thanks.

[2020-01-26 10:33] PrzemyslawKlys opened #2439 "Intellisense doesn't work after pressing F5 and not pressing ENTER in console"
Issue Description
=====

This one is pretty weird and I understand that title may not be really describing it. Basically take any code run it with F5 and after the code is done IntelliSense won't work right away. You need to go to console and press ENTER and it comes back. It may be triggered with something else as well just haven't noticed with what but I've been hitting this issue more and more

[2020-01-27 10:13] centreboard commented on #2166
@rjmholt I've attached a gif of trying `psedit test.txt` The logs should also show the successful `psedit test.ps1`
![psedit_txt](https://user-images.githubusercontent.com/10487726/73165921-b7e63b80-40ec-11ea-96e4-bc2c96f3c57e.gif)
[1580118535-4bfb4a3d-47b1-4a15-a6a2-3fb446c2e98d1580118522765.zip](https://github.com/PowerShell/vscode-powershell/files/4116529/1580118535-4bfb4a3d-47b1-4a15-a6a2-3fb4

[2020-01-27 15:54] TylerLeonhardt commented on #2377
As a workaround, I wonder if using `powershell.integratedConsole.useLegacyReadLine` will have an effect here since it doesn't have PSReadLine... I doubt it though.

@Tyriar just so you're aware of this issue - there are a few folks on Twitter too who've complained about this issue.

[2020-01-27 15:56] Tyriar commented on #2377
@TylerLeonhardt you can also move back to winpty to avoid it as the crash is due to conpty:

[code]

You might notice other quirks with that though.

[2020-01-27 18:46] #2434 closed

[2020-01-27 18:47] #2372 closed

[2020-01-27 18:47] #2407 closed

[2020-01-27 18:47] #2408 closed

[2020-01-27 19:23] rjmholt commented on #2439
I suspect this is a duplicate of https://github.com/PowerShell/vscode-powershell/issues/2364. Not sure why it occurs yet, but basically the pipeline isn't made available for intellisense immediately after debugging finishes. Your insight about prompt cancellation might be important actually.

[2020-01-27 19:29] rjmholt commented on #2396
I wonder if this is related to https://github.com/PowerShell/vscode-powershell/issues/2364

[2020-01-27 19:33] rjmholt commented on #2425
Yeah after toying with some possibilities, basically if you want to get rid of the banner you can use the setting @TylerLeonhardt. If you want a new banner, you should be able to just put a `Write-Host` in your `$profile` and it will show up when the PSIC starts.

[2020-01-27 19:35] rjmholt commented on #2425
Random thought to throw out as up-for-grabs: maybe there should be a way to suppress the startup banner from PowerShell too so that you can do it all in the `$profile`?

[2020-01-27 19:37] rjmholt commented on #2364
(Note: eventually debugging comes back. @PrzemyslawKlys mentioned it might be a consequence of interacting with/cancelling the prompt)

[2020-01-27 19:39] rjmholt commented on #2420
I'll see if I can try to reproduce this on your particular Windows version.

We have a small menagerie of hangs that occur only on Windows and sometimes they seem quite OS version specific.

[2020-01-27 19:55] TylerLeonhardt commented on #2364
Can't repro on macOS with a local build - can you try a local build?

[2020-01-27 19:57] PrzemyslawKlys commented on #2364
@TylerLeonhardt have you seen: https://github.com/PowerShell/vscode-powershell/issues/2439 - it's quite easy to reproduce.

[2020-01-27 20:00] TylerLeonhardt commented on #2166
That path has a negative number... very curious... that gif is SUPER helpful, thanks @centreboard!!

[2020-01-27 21:40] rjmholt commented on #2166
Reading the previous logs though, that doesn't seem to be a common factor

[2020-01-27 22:19] TylerLeonhardt commented on #2166
@centreboard after you save the file the first time in VS Code, can you `Get-Content` the temp file path? I'm curious if the temp file is being saved correctly. You can see the temp file path just below the tab in VS Code.

[2020-01-27 22:25] TylerLeonhardt commented on #2364
The repro steps are the same right @PrzemyslawKlys?

[2020-01-27 22:27] PrzemyslawKlys commented on #2364
Hrmm, seems so. Have any code, press F5, any IntelliSense for parameters on next try doesn't work. Press Enter in console and everything works. So pressing F5, pressing Enter in console is the proper way to continue straight away. Or simply wait for "timeout" to happen (however not sure how long that is).

[2020-01-27 22:45] TylerLeonhardt commented on #2364
Yeah it looks like it's fixed in my local build unless there's a mac and windows behavior difference which is totally possible.

[2020-01-27 22:49] rjmholt commented on #2166
I'm looking into why VSCode wouldn't send us a didSave notification. Given that @centreboard is on 1.41.1, it seems unlikely that it's a bug in that VSCode version.

It could be a configuration thing maybe, so maybe we should take a look at the configuration settings?

Otherwise, it might be worth seeing if we can trace a save in VSCode. That should be possible [by starting VSCode with trace loggi

[2020-01-27 23:57] rjmholt commented on #2364
I'll take a look today on my machine

[2020-01-28 07:52] DarkLite1 commented on #2420
Thank you, this is the version we're currently on:

![image](https://user-images.githubusercontent.com/10828570/73245015-884a3880-41ab-11ea-8c97-2949396f98af.png)

[2020-01-28 10:02] centreboard commented on #2166
@TylerLeonhardt I can confirm that `test.ps1` as an identical folder path with a negative id to `test.txt` when opended with `psedit`
@rjmholt I've run `code --log trace` and reproduced again:
[20200128T094922.zip](https://github.com/PowerShell/vscode-powershell/files/4121772/20200128T094922.zip)

[2020-01-28 12:39] Hypernut commented on #2411
If you mean v2020.1.0 by "next release" then it is not.

[2020-01-28 15:02] TylerLeonhardt commented on #2411
I was referring to @corbob's issue about the log file permissions.

[2020-01-28 20:00] #2439 closed

[2020-01-28 22:23] SydneyhSmith commented on #2438
@tillig thanks for reporting this issue, we are able to reproduce this. It is not an issue we will likely have the resources to solve in the short term (although we do welcome PRs and can point you in the right direction if you are interested)...it is an issue that may get addressed in the medium term as we will need to make changes to align with Pester 5...thanks!

[2020-01-28 22:26] SydneyhSmith commented on #2438
This is where the relevant code is:
https://github.com/PowerShell/vscode-powershell/blob/50a26119f654f3ff444f048e42ce1cb8d15b3a7b/package.json#L344-L364

[2020-01-28 23:03] tillig commented on #2438
OK, so it sounds like a problem matcher thing to you, too? I can probably take a look at it.

[2020-01-28 23:31] joshfria commented on #2377
@Tyriar
I continue to have this issue across both of my PCs. Windows build 18309 or higher is required to disable conpty with that setting. My company's PCs are not to this build yet. Adding LegacyReadLine does not help the issue. Unfortunately these workarounds do not help for me.

I only have this issue on the preview extension. I previously submitted https://github.com/PowerShell/vscode-powersh

[2020-01-29 00:25] tillig commented on #2438
Done. The issue was in the location (line/file) matching part. [Submitted a PR for that.](https://github.com/PowerShell/vscode-powershell/pull/2447)

[2020-01-29 03:26] bland328 commented on #1309
I, too, would love to see this fixed, as well, and hoping to cover the case mentioned above...

    this_autocompletes="$this_does_not"

...as well as this case, in which the variable name is within both brackets and double quotes...

    this_autocompletes="${this_does_not}"

...not to mention this case that I run into plenty when building strings:

    this_autocompletes="But this one '${does_no

[2020-01-29 07:00] JustinAddams commented on #1611
With these simplified options, whats the preferred method for debugging a script that has parameters.
Used to use "PowerShell Launch Current File w/Args Prompt" and enter the parameters I wanted to test with.

[2020-01-29 07:12] JustinAddams commented on #1611
Ah apoligies, I follow the documentation rabbit hole further and found my answers.

From here: https://code.visualstudio.com/docs/languages/powershell#_debugging
You then have to go to here: https://devblogs.microsoft.com/scripting/debugging-powershell-script-in-visual-studio-code-part-2/

And then it's explained how to hard code some parameters which is nice enough for most users.
Though it could

[2020-01-29 07:40] Jawz84 opened #2448 "[Powershell Preview regression bug] Debugger hangs when a breakpoint inside a scriptblock is hit"
Issue Description
=====

I am experiencing a problem with the debugger. It hangs when a breakpoint inside a scriptblock is hit.

Steps to reproduce:

- Paste the script as a new ps1 file, and run it.
- In the Integrated terminal type 'Stop-Service -Name \<tab\>'
- The debug session is started, but it does not accept further interaction.

[code]

Beyond this point, you can only kill the integrated

[2020-01-29 10:51] qwertoyo commented on #1422
Hi! I'm in the future but I had this issue while attaching vscode with the powershell extension to an Apline-based container (we needed to debug some pwsh there) and I "fixed" it just copying  `stat` bin where the extension was expecting it.

Error:

   at >System.Management.Automation.Interpreter.EnterTryCatchFinallyInstruction.Run(InterpretedFrame frame)

   at System.Management.Automation.Inter

[2020-01-29 15:05] TylerLeonhardt commented on #1422
We no longer rely on stat in the [PowerShell Preview](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) (coming to Stable next month)

So you shouldn't have to do this if you use that. 😊

[2020-01-29 18:19] rjmholt commented on #2377
@joshfria are you experiencing a lock up in the UI of VSCode as well? Or just in the terminal? Are you able to provide the following:

- [Your extension logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#logs)
- A gif of your screen when the lock up happens
- The versions you're using of VSCode (in the `About` menu), PowerShell (`$PSVersionTable`) and Windows

[2020-01-29 19:23] rjmholt opened #2449 "MSI installation stalls with update PowerShell feature on Windows"
When the update PowerShell feature is run on Windows from the VSCode PowerShell extension, the MSI will try and close all running PowerShell processes. When the PSIC/EditorServices is one of these processes, it will try and close it and sometimes gets stuck.

If you try to unblock the MSI by disposing of the PSIC (thus ending the PSES process), the MSI will silently disappear/crash.

[2020-01-29 19:27] bgelens commented on #2190
I have an issue with relative path with version `2020.1.0` preview extension on mac with PSv7rc2

I can only use the full path. Relative won't work. I tried both `./PSScriptAnalyzerSettings.psd1` and `PSScriptAnalyzerSettings.psd1`. The file is in the root of the folder I opened.

From pses output:

[code]

Note file: in the middle

When specifying the full path, it works correctly.

[2020-01-29 19:59] rjmholt commented on #2411
So this is very much the scenario that the temporary console is intended to address.

Could you elaborate on what you mean by `interactive debugging` here?

Is the debugger not launching for you when you run a script in a temporary console?

Unfortunately this is not a trivial thing to do. It's probably *possible* (I believe it's how the AzF PowerShell worker does things), but not at all foolproof

[2020-01-29 20:18] Hypernut commented on #2411
Thanks for taking the time to address this.
By interactive debugging I mean if I hit a breakpoint, I can use the console to query variables and do stuff in the console with all the variables assigned up to this point in the script.
There is a bug in the temp console and because of this you can type in one command and then nothing else.
Also the temp console does not allow to query variables and st

[2020-01-29 20:36] rjmholt commented on #2411
And that should not be too hard to automate, or is it?

Well that kills the whole PowerShell process driving the extension, which is pretty state driven.

Automating that is essentially what the temporary console is supposed to be. It starts another PowerShell process with a lighter-weight server in it (just the debug service, rather than the language service as well).

So my thinking is that we s

[2020-01-29 20:45] Hypernut commented on #2411
Please do. :-) There is bug open for that for nearly two years. :) https://github.com/PowerShell/vscode-powershell/issues/1263#issue-312995484
That is why I thought this way might be easier...

Maybe ot is supposed to that and its due to the same bug it is not, I dunno.

[2020-01-29 20:57] bergmeister commented on #2190
@bgelens Your scenario should definitely work (at least I know that it does on Windows). I vaguely remember there was a temporary issue with it at the end of the year 2019 but that should've been fixed now. Is it working for you at least with the 'stable' extension or a previous version of the preview extension? Also, can you try to do this on a normal folder and not OneDrive, maybe that's the cul

[2020-01-30 09:45] bgelens commented on #2190
@bergmeister

Normal folder preview extension:
[code]

When switching to the stable extension, it works fine. So the issue is with preview only

[2020-01-30 16:38] rjmholt commented on #2166
The VSCode logs I was hoping for aren't in that zip it seems. Their documentation on logging might be lacking.

I'm going to try firing up an RS3 VM to see if I can get a reproduction in a more faithful environment.

[2020-01-30 19:05] rjmholt commented on #2409
I'm just looking into this quickly and we immediately pass the body string to [`encodeURIComponent()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent). I would have expected that to do what we want. Certainly the way I'd want to implement this would be to put the body we want into a string in normal text and then use a library function to URI-es

[2020-01-30 22:47] SydneyhSmith commented on #2291
@ili101 we have published a fix for this, please let us know if you are still hitting this issue--thanks!

[2020-01-30 22:49] SydneyhSmith commented on #1862
Marking as fixed as the PR for this has been merged...should be available in the next update

[2020-01-30 22:57] #2285 closed

[2020-01-30 22:58] SydneyhSmith commented on #2276
This should be fixed by: https://github.com/PowerShell/PowerShellEditorServices/pull/1162

[2020-01-30 22:58] #2276 closed

[2020-01-30 23:28] rjmholt opened #2450 "Bundle the PowerShell extension"
See https://code.visualstudio.com/api/working-with-extensions/bundling-extension

[2020-01-31 01:00] #2419 closed

[2020-01-31 02:01] rjmholt commented on #2420
I've managed to reproduce this now, and quite consistently.

For some reason `_readLineCancellationSource` is null [here](https://github.com/PowerShell/PowerShellEditorServices/blob/e051a89b2d639cea5e2771d92f314dc99cd44ab7/src/PowerShellEditorServices/Services/PowerShellContext/Session/PSReadLinePromptContext.cs#L75).

[2020-01-31 02:01] rjmholt commented on #2420
Looking into the solution now

[2020-01-31 13:54] KaMilleT commented on #1374
I can reproduce this.

[code]

PowerShell Integrated Console in VSCode:

[code]

PS-Console:

[code]

The behaviour is different in VSCode when -Prompt is used while using Read-Host.

[2020-01-31 15:01] LethiferousMoose opened #2451 "Classes from NestedModules are not known to Intellisense"
### System Details

System Details Output
[code]

### Issue Description

I recently started using C# cmdlets and migrated a lot of classes from PowerShell into a shared location to be accessed between PowerShell and C# modules. After experimenting and getting assistance from the PowerShell team (see [question](https://github.com/PowerShell/PowerShell/issues/11735)) I found that in order to use cus

[2020-01-31 15:13] LethiferousMoose commented on #2451
False alarm, I made some edits to the file and now everything works. Very strange.

[2020-01-31 15:13] #2451 closed

[2020-01-31 15:39] Tyriar commented on #2377
@rjmholt this is certainly https://github.com/microsoft/node-pty/issues/375 (https://github.com/microsoft/terminal/issues/1810, https://github.com/microsoft/vscode/issues/71966) which happens when conpty terminals get closed. I don't think further info is needed.

[2020-01-31 16:17] rjmholt commented on #2377
In @joshfria's case, he reported that it only happens with the preview extension. I've reopened https://github.com/PowerShell/vscode-powershell/issues/2387 to track that separately and see if I can reproduce it. Given that it's on an older Windows version and appears only in the preview extension, I'm thinking the issue he's hitting isn't what we're tracking in this issue.

[2020-01-31 16:26] rjmholt commented on #2451
It may be the performance issues in the current stable extension release. The red squigglies you mention above are parse errors in PowerShell where its class type checking is failing because the module exporting the classes you want can't be found. Once the module is imported that goes away, but the extension might not have made the updates to its representation of the file yet. That's something w

[2020-01-31 17:27] LethiferousMoose commented on #2451
Thanks @rjmholt I was actually just coming back to ask a follow-up question, but that seems to answer it. It does happen consistently when first launching, then as soon as you make a file change it corrects itself, my guess if you are right and the modules aren't yet loaded on open.

[2020-01-31 18:23] rjmholt commented on #2451
It may actually be working as a side-effect of unintended module loading. See https://github.com/PowerShell/vscode-powershell/issues/715.

[2020-01-31 18:48] rjmholt commented on #2022
This should be fixed now (by https://github.com/PowerShell/PowerShellEditorServices/pull/1151). Could you let me know if you're still experiencing this.

[2020-01-31 21:19] TylerLeonhardt commented on #1374
This is actually a dupe of https://github.com/PowerShell/vscode-powershell/issues/1790

[2020-01-31 21:37] rjmholt commented on #2387
Given some elements of (1) this only occurring with the preview extension and (2) some evidence of UI activity, I reopened this issue.

I've fired up a Windows VM with the following OS version:

[code]

I used the master branch of the preview extension.

I initially just had Windows PowerShell installed and was able to start and use the extension. I then installed PowerShell 7.0.0-rc.1 alongside a

[2020-01-31 22:07] TylerLeonhardt commented on #2190
@bgelens your issue was fixed in https://github.com/PowerShell/PowerShellEditorServices/pull/1161 - a fix I made a few days after the last release... so it's pending a release. Sorry about that. `[System.Uri]` is a nightmare in a cross-plat world lol

[2020-01-31 22:07] LethiferousMoose commented on #2451
@rjmholt What is the expected outcome of #715? How will Intellisense work if it ends up not importing dependent modules?

[2020-01-31 22:07] #2420 closed

[2020-01-31 22:37] rjmholt commented on #2166
Ok I haven't been able to reproduce remoting from:

[code]

to:

[code]

At this point, if I find time, I'll see if I can read through the code and see where code paths for PS and non-PS files diverge for some clues.

[2020-01-31 23:01] rjmholt commented on #2417
Ok, I've just managed to spin up a fresh RS3 VM with VSCode 1.14.1 and PS 5.1 to try this out. I wasn't able to reproduce a startup freeze with either the current stable extension or the current master build. That may mean that rather than being a Windows bug this is a policy or antivirus issue.

One last resort is to collect a [procdump](https://docs.microsoft.com/en-us/sysinternals/downloads/pro

[2020-01-31 23:07] rjmholt commented on #2246
Thinking about this, we may need to override `Set-PSReadLineOption` to intercept parameters that run scriptblocks and turn them into callbacks back into PSES to run things on the pipeline thread.

However that's rather complex, so I'm not going to attempt it immediately. Also, @daxian-dbw might have a better idea here.

[2020-01-31 23:26] rjmholt commented on #2451
Well that's something of an open question. On the one hand, intellisense in PowerShell is very much machine-state-driven, so I don't see any real way around it. On the other hand, importing modules as a side-effect of editing and getting completions is, I feel, not a great thing for an editor to do.

Similar to a lot of other scripting language extensions, we have a lot of users with different sce

[2020-01-31 23:55] rjmholt commented on #2448
May be related to https://github.com/PowerShell/vscode-powershell/issues/2246.

Worth noting that generally most scriptblocks will behave as normal, but there are a few exacerbating factors here:

- The scriptblock is used as an argument completer, so it gets called deep within PowerShell via PSReadLine
- The breakpoint set is a command breakpoint
- The breakpoint seems to be set within the comple

[2020-01-31 23:56] daxian-dbw commented on #2246
@jhoneill I'm not sure about what causes the deadlock, but maybe a good news is that with the latest version of PSReadLine, you don't need leeholmes workaround to filter out the sensitive commands, it's built-in now :)

[2020-01-31 23:58] rjmholt commented on #2448
I've just managed to reproduce this. Will investigate

[2020-02-01 01:43] rjmholt commented on #2448
So a preliminary look shows the following:

- The thread moving to resume the debugger is waiting for the frame to exit [here](https://github.com/PowerShell/PowerShellEditorServices/blob/38fd616d9dccbd30e1250222010e756fd1235984/src/PowerShellEditorServices/Services/PowerShellContext/PowerShellContextService.cs#L1300-L1309)
- A thread waiting for the current PowerShell execution to complere [here](

[2020-02-01 02:02] rjmholt commented on #2448
So:

- ReadLine is waiting on the completion, which is blocked by the debugger
- The debugger is waiting on the stack frame to pop, which is blocked by ReadLine

First naive theoretical solution: flag when the command being run is the prompt to tell the debugger not to wait for the stack frame to resume

[2020-02-01 02:13] SeeminglyScience commented on #2448
It's probably going to go further than that.  Since PSRL is still running, the ReadLine runspace handle will be taken.  That handle queue isn't set up to be nested like the normal execute handles.  None of the read line stuff is set up for that scenario iirc.

Plus even if you get all that sorted, the `PSEventManager` will still be busy processing the original completion call, so once the debugger

[2020-02-01 10:57] jrydval opened #2452 "Ctrl-C and other Alt- and Ctrl- keys are ignored or wrongly interpreted"
Issue Type: <b>Bug</b>

The PowerShell Integrated Console ignores some keypresses (like "Crtl-C") and some others (like "Atl-Arrows" and "Cmd-Arrows") are wrongly interpreted and shows some letters instead of doing a cursor movements on MacOS.

How to reproduce:

Type a text into PowerShell Integrated Console on MacOS and press Crtl-C. Nothing happens. Expected is termination of the input and jump

[2020-02-01 18:33] Hypernut commented on #2411
@rjmholt So, that was it? :)

[2020-02-01 19:11] rjmholt commented on #2411
I may be misunderstanding what you're asking, but if you're asking about progress on this, we're currently concentrating on [these issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.0.0). We tend to prioritise issues based on a combination of severity and demand, and those ones are taking all of our attention at the moment. Ideally when we've driven

[2020-02-01 19:17] rjmholt commented on #2452
It sounds like you're using the legacy readline, which is currently what's used in the stable extension.

The behaviours you're after come from a PowerShell module called PSReadLine, which will be brought into stable when PowerShell 7 is released next month. You'll need to use PowerShell 7 with it, since PowerShell 6 has a bug in it that compromises the PSReadLine experience. If you'd like to try

[2020-02-01 19:58] TylerLeonhardt commented on #2452
Theres's more to this. Maybe @Tyriar knows how to help... the default behavior on macOS when you hold Alt and hit any other key is to display special characters. I had to disable this in iTerm2... the same thing probably has to happen in VS Code but I'm not sure how off the top of my head.

[2020-02-02 04:12] SheepDomination opened #2453 "PowerShell checking extension, forever ?"
I want to know why in the status bar is the PowerShell cycling, as if it's checking the extension and this goes on forever ?

[2020-02-02 22:00] #2452 closed

[2020-02-03 00:30] antonydeepak opened #2454 "Fails to detect the installed version of powershell Ubuntu Snap"
I have Powershell core installed in Ubuntu through Snap. This vscode extension fails to detect the installed version. Running `ShowSessionMenu`(or other powershell commands) fails with
`Running the contributed command: 'PowerShell.ShowSessionMenu' failed.`

I have updated the `powerShellAdditionalExePaths` but doesn't seem to help
[code]

I turned on `Diagnostic` logging but surprisingly there are

[2020-02-03 16:12] ggirard07 opened #2455 "Stopping on a breakpoint influence script behavior using last execution status variable "$?""
### System Details

System Details Output
[code]

### Issue Description

When breaking in a script execution from VS Code, the debugger seems to influence the value of the predefined variable containing the last execution status `$?`. For example, If I am breaking on a `if` statement checking this variable, result is always `$true` while during a real world execution it might not.

**Steps to repr

[2020-02-03 17:19] rjmholt commented on #2455
This is a duplicate of https://github.com/PowerShell/vscode-powershell/issues/2347

[2020-02-03 17:23] TylerLeonhardt commented on #2453
Hi @SheepDomination - can you provide a gif or screenshot of what you're seeing? Can you also [attach the logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment) here so we can get a better idea of what's going on?

[2020-02-03 17:24] rjmholt commented on #2453
Hi @SheepDomination are you able to provide more details of what you’re experiencing? If you follow the issue template it will help you provide the information we need to understand your issue, like:

- your PowerShell extension version
- your VSCode version
- your PowerShell version
- your operating system name and version
- the behaviour you’re expecting
- the behaviour you’re experiencing
- pos

[2020-02-03 17:26] #1790 closed

[2020-02-03 17:27] #2438 closed

[2020-02-03 18:34] rjmholt commented on #2454
It sounds like the whole extension is failing to start if you're unable to run `ShowSessionMenu`.

I just tried running this on my Ubuntu 18.04.4 LTS VM but wasn't able to reproduce it myself:

![snap](https://user-images.githubusercontent.com/7009879/73678420-30a94280-466d-11ea-96ea-d82a812274af.JPG)

That VM's details:

[code]

In some other cases of startup issues like this, it's come down to a

[2020-02-03 18:52] ggirard07 commented on #2347
@rjmholt in a previous post you said

Just to be sure, the value presents in `$?` variable is dedicated to the current PowerShell host process. This is not shared among multiple Powershell command prompt shell opened in parallel.

[2020-02-03 19:32] rjmholt commented on #2347
This is correct.

However, this is not synonymous with that. A given PowerShell process may host multiple threads. Normally (in a standard interactive session), one of these threads is where the PowerShell pipeline is being run and others represent background worker threads within PowerShell that you don't need to worry about. However, you can run pipelines in different runspaces in PowerShell, an

[2020-02-03 19:44] ggirard07 commented on #2347
@rjmholt thanks for the detailed answer. Really appreciated.

In my specific case, I use `$?` mostly when invoking external executable so I don't have to manage error based on both `$LASTEXITCODE` and whether the executable wrote to stderr, as I assume `$?` already handle all of this for me.

If I just can't trust `$?` for this purpose, then I will simply revert back to `$LASTEXITCODE` until we ma

[2020-02-03 21:16] rjmholt commented on #2347
Actually, [$? just relies on `$LASTEXITCODE` too](https://github.com/PowerShell/PowerShell/blob/2e553038c54925b3756a72ead7a9cdf130fc5854/src/System.Management.Automation/engine/NativeCommandProcessor.cs#L727-L728). There have been discussions about this in the PowerShell repo that I wasn't able to find immediately, but basically there are applications (on Windows as well as on *nix) that write to

[2020-02-04 00:29] JustinGrote commented on #2371
@rjmholt  @TylerLeonhardt

An alternative thought, is it possible for the extension on a pause to "re-poll" the breakpoints? That way if you had an interruption and start again, the breakpoint list would refresh and you could clean them up at that time.

[2020-02-04 07:10] jrydval commented on #2452
Thank you.

PowerShell-Preview works fine!

[2020-02-04 07:17] HenryHerman opened #2459 "Exception when loading: [System.Windows.Markup.XamlReader]::Load($XmlNodeReader)"
VSCode Version: 1.41.1 with PowerShell Extension. No Other Extensions are installed
    OS Version: Windows 10 - Ver. 1909

Steps to Reproduce:
[code]

When running Powershell Core 7 RC2 in VSC:
This Exception is thrown when loading: [System.Windows.Markup.XamlReader]::Load($reader):
"Exception calling "Load" with "1" argument(s): 'The invocation of the constructor on type 'System.Windows.Window'

[2020-02-04 09:40] HenryHerman commented on #2459
Script attached
[Get-FixedDiskv3.txt](https://github.com/PowerShell/vscode-powershell/files/4152484/Get-FixedDiskv3.txt)

[2020-02-04 17:48] rjmholt commented on #2459
I just tried this now using the initial repro snippet and I hit a similar exception, but because `$inputXml` was `$null`. Following your script, this worked for me in 7.0.0-rc.2 in the Integrated Console:

![xaml](https://user-images.githubusercontent.com/7009879/73771551-703a6200-4733-11ea-9146-df143efcd88e.gif)

If you're hitting this consistently, could you post the results of `Get-Error`.

I s

[2020-02-04 19:00] #2455 closed

[2020-02-04 19:50] HenryHerman commented on #2459
[github-2459.txt](https://github.com/PowerShell/vscode-powershell/files/4155653/github-2459.txt)
HI Robert
Thanks for your comments :-)
I get the error consistently. The result from get-error is attached

[2020-02-04 21:21] rjmholt commented on #2459
I see this in the log:

Can you post the result of:

[code]

This suggests that your PowerShell might be in MTA apartment state for some reason (running the same PowerShell version, mine is not). [We specifically set the runspace ApartmentState to STA](https://github.com/PowerShell/PowerShellEditorServices/blob/07c8ee1cdbfecde5cc70c40c5a873647b1462597/src/PowerShellEditorServices/Services/PowerShe

[2020-02-04 21:29] HenryHerman commented on #2459
Before I continue could you please explain to me, why the script works perfect in PowerShell 7, when  I disable the PowerShell Extension in VSC?

[2020-02-04 21:48] rjmholt commented on #2459
Wait, writing a response here I just had an idea. I'm suspecting that the issue you're having is something that's only present in the stable extension. If you can, try `powershell-preview` and see if the issue is resolved. That will become stable this month.

Of course! The PowerShell extension gets almost all of its functionality from a PowerShell process behind the scenes. But all of the interac

[2020-02-04 22:01] HenryHerman commented on #2459
The Preview version of the extension has the same version number 2020.1.0, so previous I did not think it was worth trying to use the preview version, but by your request I tried and my problems was solve. Thanks for your assistance :-)

[2020-02-04 22:01] #2459 closed

[2020-02-04 22:22] SydneyhSmith commented on #2371
@JustinGrote that could be an interesting idea, let's reengage on this after our next release

[2020-02-04 23:16] SheepDomination commented on #2453
@TylerLeonhardt Here is the screen shot, as well as the [logs](https://ln2.sync.com/dl/1d0dfd910/bj443mjr-brnzvjx9-v8m2fzhd-6n5d3gnh).
![powershell_rotatingsync](https://user-images.githubusercontent.com/6827459/73795467-ad751300-4778-11ea-859a-440d5cdd8f26.jpg)

@rjmholt
PowerShell Extension - 2020.1.0
VSCode Version - 1.41.1
PowerShell version - 5.1.18362.145
Operating System - Windows10 1909

T

[2020-02-05 12:04] kevstev01 commented on #823
**Seemed like a breach of contract.** +1

[2020-02-05 13:33] danielboth commented on #1469
I'm also still waiting for proper DSC support in vscode, one of the major blockers in using vscode.

[2020-02-05 14:59] DmitrySokolov opened #2460 "Variables defined with `Set-Variable` are not fully supported in the editor"
Issue Type: <b>Bug</b>

[code]

1) When cursor is on the fisrt `MY_CONST`, other `$MY_CONST` is not highlighted
2) When typing `$MY_<crtl+space>` there is no suggestion for `$MY_CONST`

Extension version: 2020.1.0
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18363

[2020-02-05 17:11] TylerLeonhardt commented on #871
@JohnLudlow this is a very old issue - have you still been experiencing this issue?

[2020-02-05 17:30] rjmholt commented on #2460
Indeed using `Set-Variable` [causes issues for PowerShell as well](https://github.com/PowerShell/PowerShell/blob/43c88a4ff163ed97f445c641416b695933b4b1a1/src/System.Management.Automation/engine/parser/VariableAnalysis.cs#L40-L55).

The ability to define a variable using a command is something particular to PowerShell and its dynamism.

There are simple cases, but in general it's impossible to anal

[2020-02-05 18:28] DidierFaudemerGdoc opened #2461 "Crashing very often"
Issue Type: <b>Bug</b>

Crashing very often

Extension version: 2020.1.0
VS Code version: Code - Insiders 1.42.0-insider (705f01577dd37d6f17eaa683ab89b0c392fa1a7c, 2020-02-03T14:02:55.075Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7600U CPU @ 2.80GHz (4 x 2904)|
|GPU Status|2d_canvas: enabled<br>flash_3d: ena

[2020-02-05 18:30] rjmholt commented on #2461
Hi @DidierFaudemerGdoc, can you give us some more details? What kind of crash are you experiencing? Can you upload your logs, as detailed in our [troubleshooting docs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md)?

Also are you using the `powershell` or `powershell-preview` extension?

[2020-02-06 07:26] antonydeepak commented on #2454
So, I found that `Powershell: Restart Current Session` worked. So making it permanent with `powershell.startAutomatically` kinda solved the problem.

Thank you for the timely help.

[2020-02-06 12:23] JohnLudlow commented on #871
@TylerLeonhardt I agree it's old. In the meantime, I've moved companies and changed focus quite a bit so I no longer do the things I was trying to do originally, but a lot of the things above (like the version of PowerShell I use) aren't true anymore.

I can try to repro it though if you like.

[2020-02-06 15:13] TylerLeonhardt commented on #871
If you don't mind, a repro attempt would be great. Otherwise, this issue will be automatically closed eventually.

[2020-02-06 15:15] TylerLeonhardt commented on #2454
The PowerShell extension starts automatically when you open a PowerShell file in the editor.

Does this not happen for you?

[2020-02-06 16:48] JustinGrote commented on #2396
@rjmholt @TylerLeonhardt  Just confirming this is definitely still an active issue, I'll see it after doing complicated debugging, start/stopping debug etc. after 3-5 minutes or so, however I haven't been able to nail down a root cause.

I'll turn on Debug logging and see if I can catch it in the act and submit the logs.

[2020-02-06 16:52] pcgeek86 commented on #1341
Has any progress been made on this? I just ran into this issue, and found it had already been created almost 2 years ago. It seems that the issue is only with custom PowerShell v5 classes, when using this syntax: `[OutputType([MyClass])]`. The work-around previously mentioned seems to work okay: `[OutputType('MyClass')]`.

* PowerShell Core 6.2.4
* MacOS Catalina 10.15.3

### This Works

<img widt

[2020-02-06 17:00] SeeminglyScience commented on #1341
This should probably be moved to PowerShell/PowerShell.  All we do is display the results that the engine gives us.

[code]

Returns:

[code]

So there's nothing that can be done on in the extension itself.

[2020-02-06 19:05] antonydeepak commented on #2454
Looks like it does not. One another thing I noticed is that it happens in my Windows as well. So, it might be something about the way I configure my powershell core.

[2020-02-06 22:34] SydneyhSmith commented on #2454
@antonydeepak thanks, could please share the entirety of your user and workspace settings if possible?

[2020-02-06 22:35] SydneyhSmith commented on #2453
@SheepDomination we recently published an update to our [Preview Extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) which has addressed a number of underlying architectural issues, would you mind giving it a try and letting us know if you are still hitting this issue?

[2020-02-06 22:38] SydneyhSmith commented on #1469
Going to mark this as up for grabs for now, until we get more bandwidth...if anyone has some knowledge of C# and wants to contribute we would be happy to help you get started!

[2020-02-06 22:40] SydneyhSmith commented on #1341
@SteveL-MSFT can you please transfer this issue to the PowerShell/PowerShell repo?

[2020-02-06 22:46] SydneyhSmith commented on #1464
Going to close this as a result of the major architectural changes we made in the omnisharp port.

[2020-02-06 22:46] #1464 closed

[2020-02-06 22:46] SydneyhSmith commented on #1256
Going to close this as a result of the major architectural changes we made in the omnisharp port.

[2020-02-06 22:46] #1256 closed

[2020-02-06 22:47] SydneyhSmith commented on #1326
Going to close this as a result of the major architectural changes we made in the omnisharp port....please let us know if this is not fixed in the PowerShell Preview Extension

[2020-02-06 22:47] #1326 closed

[2020-02-06 22:49] SydneyhSmith commented on #1310
In the next release of the PowerShell extension we will be dropping support for v3/v4. For more information:
https://devblogs.microsoft.com/powershell/powershell-editor-services-roadmap/

[2020-02-06 22:49] #1310 closed

[2020-02-06 22:51] SydneyhSmith commented on #702
Closing as PSReadLine is now available in the PowerShell Preview extension, tracking that PSReadLine is not available in the main PowerShell Extension here #1793

[2020-02-06 22:51] #702 closed

[2020-02-07 00:02] SheepDomination commented on #2453
@SydneyhSmith I assume recently is the January 13, 2020 preview release of the PowerShell Preview ?

[2020-02-07 00:16] TylerLeonhardt commented on #2449
This seems to be a PowerShell issue as I can repro this outside of the PowerShell extension. I've opened an issue over there:

https://github.com/PowerShell/PowerShell/issues/11796

[2020-02-07 00:17] #2449 closed

[2020-02-07 00:39] pcgeek86 commented on #1341
@SeeminglyScience good test, thanks for pointing that out. I didn't think about calling `tabexpansion2` directly.

[2020-02-07 13:16] o-l-a-v opened #2462 "2020.1.0-Preview - Terminal went all black after unlock from lock screen"
## System info
* Windows 10 Enterprise 1909 18363.628
* VS Code 1.42.0
* Extension v2020.1.0-Preview
* PowerShell Core 7 rc 2 as default, used in this example

## Steps to reproduce
Not 100% reproducable.

* Do a lot of scripting in a PS1 file so that terminal has a lot of output
* Lock computer screen, go to the toilet, come back and all text is gone
* Try to get text to reappear, but you can't.

[2020-02-07 15:14] JohnLudlow commented on #871
@TylerLeonhardt Creating a new project with a plaster template, I can no longer reproduce this issue. My guess is that it was fixed as a side effect of other changes. I'd suggest you could close this issue, and if someone notices it again, it could be reopened.

[2020-02-07 16:02] rjmholt commented on #2462
@o-l-a-v hsve you seen this behaviour at all with the ordinary non-integrated powershell console only VSCode?

I’ve actually noticed similar behaviour in PowerShell’s own Windows console when I move it between screens of different resolutions. I lose the prompt and cursor and there’s no suggestion that it responds to input. Sometimes I can get it back by resizing the window repeatedly.

[2020-02-07 16:35] o-l-a-v commented on #2462
I think it might be related to scaling, I've had other programs (ConnectWise Manage client) act wierd after unlocking after sleep mode.

[2020-02-08 15:23] PeterHodges15 opened #2463 "constructor of 'System.Windows.Window' ->binding constraints exception."
Unzip this to c:\1\
Script Code:
$XamlRaw = (Get-Content "c:\1\TestXAML.XAML")
    $XamlRaw = $XamlRaw -replace 'mc:Ignorable="d"', '' -replace "x:N", 'N' -replace '^<Win.*', '<Window'
    $Xml = [Xml]$XamlRaw
    $reader = (New-Object System.Xml.XmlNodeReader $Xml)
    $XAMLWindow = $N
ull #Can only read once, else a ~Corrupted $XAMLWindow
    $XAMLWindow = [System.Windows.Markup.XamlReader]::Loa

[2020-02-08 22:46] TylerLeonhardt commented on #2463
Hi @PeterHodges15

Does this reproduce outside of VS Code in PowerShell 7?

[2020-02-09 01:37] SKNZ commented on #869
powershell-preview solved the issue for me.

[2020-02-09 01:52] rjmholt commented on #2463
I believe this is the same issue in https://github.com/PowerShell/vscode-powershell/issues/2459, which is solved by changes in the preview extension, coming to stable this month

[2020-02-09 15:55] SheepDomination commented on #2453
Unfortunately as shown in my previous screen shot of the continuously cycling of Powershell still continues.

[2020-02-10 04:00] #2463 closed

[2020-02-11 06:09] antonydeepak commented on #2454
[user_settings.txt](https://github.com/PowerShell/vscode-powershell/files/4184280/code_user_settings.txt) - paths have been fuzzed.
Since I open random powershell files which are not part of any workspace, I am not sure if any workspace settings would help.

[2020-02-11 15:34] joshfria commented on #2387
Sorry for the delay @rjmholt. When I run procdump on the code.exe process I see these exceptions at the time of occurrence.
[09:27:52] Exception: E06D7363.?AVLibWinptyException@@
[09:27:52] Exception: E06D7363.msc
[09:27:53] Exception: 406D1388

I do have a dump file I can upload, but am leery of putting it on a public site. Is there anyway I can send it to you directly.

[2020-02-11 17:00] rjmholt commented on #2387
Thanks for following up!

Absolutely, you can mail it (or a link to it) to [vscode-powershell@microsoft.com](mailto:vscode-powershell@microsoft.com).

Those exceptions don't look familiar (they don't look like CLR exceptions), but hopefully the dump will be elucidating.

[2020-02-11 18:20] joshfria commented on #2387
It has been sent. Thank you.

[2020-02-11 22:14] SydneyhSmith commented on #2454
@antonydeepak we published an update to our [Preview Extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) which has addressed a number of underlying architectural issues, would you mind giving it a try and letting us know if you are still hitting this issue?

[2020-02-11 22:17] SydneyhSmith commented on #2453
@SheepDomination sorry to hear that you are still hitting this issue. What were you hoping to do when you hit this issue i.e. just starting the extension? debugging? formatting? thanks!

[2020-02-11 22:19] SydneyhSmith commented on #869
@SKNZ thanks for checking, I will close this issue

[2020-02-11 22:19] #869 closed

[2020-02-11 23:25] rjmholt commented on #2387
Thanks for that. It looks like it's a dump of `code.exe`, which is the VSCode process rather than the one running PowerShell Editor Services (a `powershell.exe`).

We can't do much the `code.exe` dump since that's another application. Given your initial bug report my thinking is that

this part is https://github.com/PowerShell/vscode-powershell/issues/2377.

However,

this part is a crash within P

[2020-02-12 01:05] SheepDomination commented on #2453
I was hoping that the recycling PowerShell icon as seen in a previous screen shot would not be shown continuously ?
What is the reason behind this to begin with ?

[2020-02-12 05:06] antonydeepak commented on #2454
@SydneyhSmith I guess the problem here is that `powershell.startAutomatically` option should be enabled for powershell extension to activate on opening a powershell file. Guess this option was not enabled by default in my installation  when I originally reported the issue; now that I have it turned on, the extension works all the time. Guess that explains right?

[2020-02-13 18:47] SydneyhSmith commented on #2453
@SheepDomination the "recycling PowerShell icon" means that a PowerShell script (could be coming from the extension or not) is running in the background...this can be triggered by any number of issues so it is difficult to pin point your specific issue without knowing what was going on beforehand, what were you running when it occurred? Had you just opened VSCode?

[2020-02-13 18:49] SydneyhSmith commented on #2454
@antonydeepak glad to hear you were able to resolve your issue, thanks for reporting back. I am not sure what the underlying cause is for this, since the default value is supposed to be true, but given that you are the only one reporting this and you are resolved, I will close this issue for now.

[2020-02-13 18:49] #2454 closed

[2020-02-14 00:19] TylerLeonhardt commented on #412
In the next version of the extension, we will only support Windows PowerShell 5.1, PowerShell Core 6.2, and PowerShell 7+.

Because of this, we will not be supporting the `-version 2` parameter.

The extension hasn't worked with v2 for a very long time anyway.

[2020-02-14 00:19] #412 closed

[2020-02-14 08:36] solomonsunder commented on #1422
I have this issue on the Temporary Powershell Integrated Console when I click Debug.

`PowerShell Integrated Console

/bin/chmod: cannot access '/tmp/CoreFxPipe_PSES_zhv4igvh.xwb': No such file or directory
/usr/bin/stat: cannot stat '/tmp/CoreFxPipe_PSES_zhv4igvh.xwb': No such file or directory

Permissions to the pipe file were not set properly. Expected: 600 Actual:  for file: /tmp/CoreFxPipe_P

[2020-02-14 09:30] solomonsunder opened #2471 "Temporary Powershell integrated terminal in VSCode crashes Ubuntu"
### System Details

- Operating System: Ubuntu 18.04.4 LTS
- VS Code Version: 1.42
- Powershell Extension Version: 2020.1.0

### Issue Description

Powershell Temporary Integrated Terminal does not startup when the debug icon is clicked. Gives below error:

### Attached Logs
[DebugSession-3.log](https://github.com/PowerShell/vscode-powershell/files/4203741/DebugSession-3.log)
[EditorServices.log](

[2020-02-14 13:39] rjmholt commented on #2471
Hi @solomonsunder, have you tried out your scenario with the `PowerShell Preview`? That uses a totally different mechanism to create the named pipe, so this issue may well be fixed there.

The preview extension will be delivered to to stable in the next week or so, so keep an eye out for the next update there too.

[2020-02-14 17:12] TylerLeonhardt commented on #1422
@solomonsunder please read this comment above yours:
https://github.com/PowerShell/vscode-powershell/issues/1422#issuecomment-579797355

[2020-02-14 17:12] TylerLeonhardt commented on #2471
Duplicate of https://github.com/PowerShell/vscode-powershell/issues/1422

[2020-02-14 22:03] chriskuech opened #2472 "Comment-based help is not shown in intellisense"
Issue Type: <b>Bug</b>

1. Create a module in %PSMODULEPATH%.
1. Export a function from the module with some parameters.
1. Insert a comment-based help snippet and populate the fields.
1. Import the module in a different script.
1. Notice that tab completion works with the exported function, but no help synopsis/description is shown when hovering over the function call.

Extension version: 2019.5.

[2020-02-14 22:14] rjmholt commented on #2472
Getting comment-based help directly from PowerShell source is not currently supported (and I'm not sure any other experiences support it either). Instead, we pick up module help from external help files, which you can generate from comment-based help with [platyPS](https://github.com/PowerShell/platyPS).

PowerShell itself doesn't do anything special to surface comment-based help, and it isn't rec

[2020-02-15 00:33] SeeminglyScience commented on #2472
@chriskuech works for me, can you post a simple repro?  Remember to restart the session after adding the CBH as help content is cached per session.

Also if restarting the session doesn't work, check that your CBH is *inside* the function.  e.g.

[code]

instead of

[code]

Not sure if it still matters, but there was a point where `FunctionDefinitionAst.GetHelpContent()` (which I believe is what `

[2020-02-15 01:00] #2417 closed

[2020-02-15 19:00] #2471 closed

[2020-02-17 02:01] SheepDomination commented on #2453
When I'm in Bash or the command-line, the recycling PowerShell icon appears, but when I'm in a Powershell, the icon is not visible ?

[2020-02-17 08:58] solomonsunder commented on #1422
@TylerLeonhardt @rjmholt Thanks. It works with Powershell Preview, though it does give some error while firing up.

By the way, is it expected behavior for the TEMP Powershell Integrated Console to not have the modules that was imported into the original console? For eg I had to put Import-Module AWSPowerShell.NetCore in the script.

[2020-02-18 10:03] BartKlaasse opened #2475 "The language service could not be started"
### System Details
Windows 10 version 1903 build 18326.657
Extension: Powershell 2020.1.0

System Details Output
[code]

### Issue Description

I am experiencing a problem with the language service.

#### Expected Behaviour

As soon as i open a powershell file in vscode the language service should be started

#### Actual Behaviour

I get a error message saying: The language service could not be st

[2020-02-18 16:44] rjmholt commented on #2453
@SheepDomination could you walk us through the steps from opening VSCode to having this issue? Ideally, if you're able to capture a GIF of going from startup to this behaviour, that would help us work out what's going on.

The little cycling icon is just there to indicate that the PowerShell process powering the PowerShell extension and the integrated console is running. When it sends a runspace s

[2020-02-18 16:47] rjmholt commented on #1422
Absolutely; the TEMP console is supposed to be a clean session.

That's a worry. Can you open a new issue for that with the full error message and the output of `gmo -list PSReadLine`?

[2020-02-18 17:08] PeterHodges15 opened #2476 "Enable running PowerShell with Arguments (ex: -sta)"
Issue Type: <b>Feature Request</b>

n Settings.JSON I can specify:
[code]
But this does not enable me to start up Powershell with certain arguments.
Namely I want to start like:
[code]
so that the thread starts in "Single-Threaded Apartment" (This cannot be changed once started)
I would expect that if you highlighted sections of code and ran them, you will remain in STA mode.
If you ran the script

[2020-02-18 18:44] rjmholt commented on #2476
This is a duplicate of https://github.com/PowerShell/vscode-powershell/issues/1470.

It turns out the VSCode API makes this easy for us, so it should be possible to do

[2020-02-18 18:48] rjmholt commented on #2475
Interesting that that error looks fairly basic but we've never seen it reported before.

In the `powershell-preview` extension, we've rewritten the startup logic to not use a PowerShell script at all, so this likely doesn't occur there. So it might be worth trying that out (you'll need to install the `powershell` extension).

The next release of the `powershell` extension will be using that, so it

[2020-02-18 18:53] PeterHodges15 commented on #2476
Great.  If you get it in, I will get latest, build and test it out.

[2020-02-18 18:59] rjmholt commented on #2476
It's currently marked as up-for-grabs, but I'll see if I can look into it later in March

[2020-02-18 19:11] BartKlaasse commented on #2475
Switching to preview seems to fix the issue indeed... When i tried Switching about a week or two ago it didnt...

I guess ill be using the preview untill the next release

[2020-02-18 22:08] TylerLeonhardt commented on #1422
If you use PowerShell 7, this will go away... but I also have PR out to fix this:
https://github.com/PowerShell/PowerShellEditorServices/pull/1200

[2020-02-19 04:10] SheepDomination commented on #2453
@rjmholt When switching between shells as seen in the video below; it is really odd, as you'll see when I use the word; _exit_, I can stop the powershell icon from spinning when and only when I'm in powershell.

Although if I'm in the command-line shell and type powershell, the powershell cycling icon continues to spin ? If there is a way to access logs, that may be more helpful.

![powershell_cyc

[2020-02-19 04:47] rjmholt commented on #2453
Oh wait, are you in the integrated console and running `bash` or `powershell.exe` within it?

If so, then the PowerShell running spinner is very much expected. The PowerShell process driving the extension is busy, because you are synchronously running a command as a subprocess within it. PowerShell is busy running your command.

[2020-02-19 04:52] SheepDomination commented on #2453
Yes, the terminal in vscode. Oh, I see 👍

[2020-02-19 04:59] rjmholt commented on #2453
Ah! Yes, essentially the PowerShell pipeline/runspace is occupied running the command as a subprocess. As far as it's concerned, it's busy while you interact with the command as a subprocess. So this is intended behaviour, but even if it weren't I don't think we'd be able to change it; there's no way to tell the difference from PowerShell's perspective from an interactive `cmd` subprocess and a lo

[2020-02-19 12:24] #2475 closed

[2020-02-19 14:13] kizzle911 opened #2480 "Stuck at starting powershell"
Issue Type: <b>Bug</b>

Unable to start powershell in VSCode's terminal session.  Stuck at "Starting Powershell".

Extension version: 2020.1.0
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7920HQ CPU @ 3.10GHz (8 x 3100)|
|GP

[2020-02-19 16:40] rjmholt commented on #2480
Hi @kizzle911, thanks for opening an issue.

We'll need some more information to have a chance of diagnosing your issue. In particular:

- Are you using the `powershell` or the `powershell-preview` extension?
- Please have a read through the [troubleshooting docs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) and send through your logs
- Have you been able to

[2020-02-19 16:59] kizzle911 commented on #2480
Hi @rjmholt,

1) I was using powershell extension but now I switched to powershell-preview extension, and still noticing the same issue.
2)
[Archive.zip](https://github.com/PowerShell/vscode-powershell/files/4226230/Archive.zip)

3) I believe there was a VSCode update and possible a powershell extension update.

Here's the current error message:
2/19/2020 11:57:15 AM [ERROR] - Timed out waiting fo

[2020-02-19 17:12] rjmholt commented on #2480
It's timing out because, for some reason, the backend PowerShell process isn't starting. Normally the invocation you see at the top of the log files will start a PowerShell process which fires a command and launches PowerShell Editor Services, which should write a new log out into a different file right next to the ones you've uploaded.

I'm assuming you've got PowerShell installed and can run it?

[2020-02-19 17:20] rjmholt commented on #2480
Another relevant recurrence from the logs is this:

So it looks like it's able to start a process, but that process crashes for some reason. If you're able to try that command, hopefully it crashes in the same way and we can study the error message. The first thing we do on startup is log, so it sounds like it's happening quite early.

[2020-02-19 17:22] kizzle911 commented on #2480
I get the following message when I attempt the above:

Import-Module : Could not load file or assembly 'System.Runtime, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.
At line:1 char:1
+ Import-Module '/Users/ks/.vscode/extensions/ms-vscode.powershel ...

+ CategoryInfo          : NotSpecified: (:) [Import-Module], FileNotFoundExceptio

[2020-02-19 17:26] rjmholt commented on #2480
Ah interesting, what's the output of `$PSVersionTable` in `/usr/local/bin/pwsh`?

[2020-02-19 18:04] kizzle911 commented on #2480
Name                           Value
----                           -----
PSVersion                      6.0.2
PSEdition                      Core
GitCommitId                    v6.0.2
OS                             Darwin 19.3.0 Darwin Kernel Version 19.3.0: Thu Jan  9 20:58:23 PST 2020; root:xnu-61...
Platform                       Unix
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
PSRe

[2020-02-19 18:27] rjmholt commented on #2480
Ah! If you upgrade to 6.2.4 or 7.0.0-rc.2, you should no longer experience this issue.

6.0.2 went out of support on Jul 20, 2018. This error is caused by a mismatch between the .NET version it uses and the version we compile against since we target the lowest supported version (Unfortunately there's no way I can find the improve the error reporting here &mdash; it happens before our code runs in-

[2020-02-19 18:43] kizzle911 commented on #2480
@rjmholt  - You're totally right.  Upgrading the PS version to 6.2.4 did the trick.

Thank you.

[2020-02-19 18:43] #2480 closed

[2020-02-19 22:00] #2476 closed

[2020-02-20 05:00] #2453 closed

[2020-02-20 18:22] #2190 closed

[2020-02-20 19:16] jhowa1 opened #2485 "Turn off warnings until a check is requested by the developer"
"UseDeclaredVarsMoreThanAssignments" warning appears while typing the bloody variable in for the first time.   To make it worse, a lightbulb obscures the name of the variable making the code

While the idea to make this check makes sense, doing so while typing code in is beyond annoying.   It gets in the way.  Instead, do a code review on demand to make this check and any other checks on request.

[2020-02-20 21:16] rjmholt commented on #2485
We do currently have a delay built in with a cancellation mechanism, so that diagnostic analysis is not rerun or published until almost a full second after you finish typing.

I don't believe VSCode has a mechanism to make such a request currently; their presumed architecture (which we follow) is that diagnostics are run when the file is opened or changes. While it may be possible for us to invent

[2020-02-21 01:00] #2461 closed

[2020-02-21 01:29] IainM-NZ commented on #2404
The integrated terminal should follow the machine settings, it's frustrating having to set the policy each time. New (powershell) terminals created do use the correct execution settings, no reason for the integrated one to be different.

[2020-02-21 04:42] rjmholt commented on #2404
Ok I've played with this a bit now. It's not trivial.

When we start PSES, we're forced to run it with execution policy `Bypass` to be able to load the modules that users depend on as part of their experience. That means we can't simply inherit the execution policy, since it's been overridden.

So the remaining solution is to remember the initial execution policy and transmit that. The problem the

[2020-02-21 14:15] mrboring opened #2486 "[Preview-2020.2.0] Breakpoint - Hit Count not working with Set-StrictMode"
### System Details

System Details Output
[code]

### Issue Description

Breakpoints based on `Hit Count` don't work when `Set-StrictMode` is set.

#### Expected Behaviour

I expected the Breakpoint to be hit.

#### Actual Behaviour

Breakpoint was not hit.

Here are my steps to reproduce the issue:

1.    Started Windows Sandbox
2.    Installed PowerShell: `PowerShell-7.0.0-rc.2-win-x64.msi`
3.

[2020-02-21 14:41] SeeminglyScience commented on #2404
You can query the other scopes in the same process, so running something like below before we run profiles could work.

[code]

Does really make me wish setting it to `Undefined` wasn't a no-op though...

Anyway, still not free, but cheaper than starting another process.

[2020-02-21 15:00] rjmholt commented on #2404
I was just having a similar thought! I’ll keep plugging on this

[2020-02-22 13:07] PrzemyslawKlys opened #2487 "Path is lost in console PSReadLine"
Issue Description
=====

I am experiencing a problem with... PSReadline. In the last preview release, you've fixed the output in the console and it's much better experience now.

However, there is still the last thing to fix. If you run code that doesn't return anything straight after starting VSCode it will lose the path.

[code]

![image](https://user-images.githubusercontent.com/15063294/750928

[2020-02-22 13:11] #2026 closed

[2020-02-22 13:11] #1561 closed

[2020-02-23 21:15] pwahlmueller commented on #1183
I still have this issue with the actual versions (code 1.42.2 and powershell 2020-01). Very annoying as the system may then be partially in an inconsistent state - I then have to clean things up before I can debug again.

[2020-02-23 21:26] rjmholt commented on #1183
Give `powershell-preview` 2020.2.0 a try. A large number of debugging issues have been solved in that. Changes there are being released to stable alongside PowerShell 7 next month.

[2020-02-23 22:10] ili101 opened #2488 "[Preview-2020.2.0] F5 works only once"
Issue Type: <b>Bug</b>

#### Setup:
Preview-2020.2.0 + PS7
(Do not create launch.json)
#### Steps to reproduce:
1. F5 (file will run)
2. F5 (debugger will start and do nothing)

![F5](https://user-images.githubusercontent.com/6960531/75121077-67391280-5699-11ea-8034-5a6b192b3755.gif)
[EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/4242519/EditorServices.log)
Extension ve

[2020-02-23 22:14] ili101 commented on #2424
Still a problem on 2020.2.0 Preview

[2020-02-23 22:20] ili101 commented on #2291
Still a problem on 2020.2.0 Preview

[2020-02-23 22:37] ili101 commented on #2377
Still a problem on 2020.2.0 Preview
(I know it's a different Microsoft department bug but you are going to probably get a lot of complaints when preview becomes stable if it's not fixed)

[2020-02-23 22:40] rjmholt commented on #2377
This issue is tracking a VSCode bug which occurs in stable too, so the particular extension installed won't affect its occurrence, only the fact of the terminal being used by the extension

[2020-02-23 22:48] ili101 commented on #2377
Crushes 100% of the times on preview, never crashes on stable.

[2020-02-23 23:12] jhowa1 commented on #2485
Some editors will put the warnings in a separate panel, with each warning having a link to the line requiring attention.   Here are other ways to remove the intrusion of warnings in the middle of writing the line of code that are simple and have been used.
- Use a command button to turn on/off warnings
- Use a control key sequence to turn on/off warnings.   And example would be Control-W to do thi

[2020-02-23 23:20] rjmholt commented on #2485
Just as an FYI, in VSCode this is the `Problems` pane

[2020-02-24 17:37] TylerLeonhardt commented on #2488
@ili101 do you have any workspace open?

[2020-02-24 18:07] ili101 commented on #2488
It happens with and without workspace.
I tested it only on windows.
Hitting enter or Ctrl+C between F5s actually prevent the problem.
Maybe another clue after the second F5 if I F6 to pause it stops on a temporary script with only `0` in it.

[2020-02-24 18:11] rjmholt opened #2489 "PSScriptAnalyzer not running when no settings file present"
From https://github.com/PowerShell/vscode-powershell/pull/2484.

Currently under investigation

[2020-02-24 18:21] TylerLeonhardt commented on #2488
That's really great information @ili101. Thank you!

[2020-02-24 19:12] rjmholt opened #2490 "Hang on startup"
I'm now getting a relatively frequent hang on integrated console startup.

It's not at all clear what's causing this.

I'm able to attach a debugger, but that doesn't show that we're waiting anywhere other than where we expect to be, which is quite myterious:

![threads](https://user-images.githubusercontent.com/7009879/75183075-96ca3800-56f6-11ea-8069-68144323284c.JPG)

[2020-02-24 19:25] rjmholt commented on #2490
Stepping through in the debugger, the `Dispose()` method is being called almost immediately on the `EditorServicesRunner` object (and the call stack there doesn't make much sense)

[2020-02-24 19:37] rjmholt commented on #2489
Looking into this, I've tried to reproduce the issue but I get the default experience.

In the logs I have the following entry:

[code]

@bergmeister would you be able to provide more information about the repro steps for this issue?

[2020-02-24 19:48] rjmholt commented on #2490
Solved: the startup task was being passed out of the using block before being awaited. [Production code is unaffected by this](https://github.com/PowerShell/PowerShellEditorServices/blob/86d780470a79de62e0f47299a7a069c01c249a92/src/PowerShellEditorServices.Hosting/Commands/StartEditorServicesCommand.cs#L241). Closing.

[2020-02-24 19:48] #2490 closed

[2020-02-24 22:13] rjmholt opened #2491 "Hang on startup when awaiting terminal PID"
Working with current master, I'm getting an occasional (about 50% of the time) hang on startup in Windows PowerShell.

This is again mysterious like the last issue I opened:

![threads](https://user-images.githubusercontent.com/7009879/75195838-9722fd00-570f-11ea-8eff-e0ef166ce2b7.JPG)

However, there's no dispose issue here.

Debugging the progress of this seems to interfere with the possibility

[2020-02-24 22:42] bergmeister commented on #2489
@rjmholt I tried to clean everything: did a 'git clean -dfx' on the the vs-code  and PSES repo and made sure I had the latest changes on master. Using pwsh 7-rc2 (waiting for chocolatey to update to rc3...). Usually I also use the latest master version of pssa, I deleted that one and now use the out of box version of pssa as well. However, PSSA still does not work. OS is Windows 1909. Building usi

[2020-02-24 22:43] rjmholt commented on #2491
Ok, think this was a stale build from the last issue. Trying to reproduce it isn't working.

[2020-02-24 22:44] rjmholt commented on #2489
Yeah I'm hoping some info will be in there. Rewriting the analysis service I added extra logging, so we should know what's going on there

[2020-02-24 22:45] bergmeister commented on #2489
[EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/4247204/EditorServices.log)
[StartEditorServices.log](https://github.com/PowerShell/vscode-powershell/files/4247205/StartEditorServices.log)
[vscode-powershell.log](https://github.com/PowerShell/vscode-powershell/files/4247206/vscode-powershell.log)

[2020-02-24 22:47] rjmholt commented on #2491
Right I just got it again...

[2020-02-24 23:06] rjmholt commented on #2489
Interesting. This also contains the line:

[code]

[2020-02-24 23:09] rjmholt commented on #2491
Adding some logging I see this:

[code]

It seems we are left waiting for the named pipe connection for some reason

[2020-02-24 23:10] bergmeister commented on #2489
The repo in question is a 6 month old version of https://github.com/chocolatey/choco
But I tried different folders, so it is not a problem specific to this repo and as I said I tried both physical files or in-memory files. Could it be because you guys run your dev env mostly on Unix systems and not Windows?

[2020-02-24 23:17] rjmholt commented on #2489
Is it possible you're starting PSES with a settings file present on the file system, but later removing it?

[2020-02-24 23:21] rjmholt commented on #2491
It seems the backend is working properly here but the client is not connecting to the named pipe...

[2020-02-24 23:32] bergmeister commented on #2489
I don't think so, I've even tried to re-open a new folder

[2020-02-25 00:54] rjmholt commented on #2489
I'm almost always on Windows, both in the office and at home. My daily driver in the office is Windows 10.0.19535 (right now, I'm sure I'll get another update in the week).

I'm still not quite sure what's going on here, but if you're able to debug it you might be able to find the source of that error log (it's not one of our messages). If it's coming from a caught error, it might be somewhere whe

[2020-02-25 01:28] rjmholt commented on #2491
Log points showing we are stuck here:

https://github.com/PowerShell/vscode-powershell/blob/17d9a59ffa58a6f3d9e0cf73c92a3b8e2f0748b0/src/process.ts#L125

Pausing in the debugger shows in `timers.js`...

[2020-02-25 01:36] TylerLeonhardt commented on #2291
This doesn't repro on non-Windows. I'll have to try when I get into the office tomorrow.

@SeeminglyScience any thoughts?

[2020-02-25 01:44] TylerLeonhardt commented on #2377
@ili101 can you try either setting:

[code]
or
[code]

and see if that changes anything for you? We need more data.

[2020-02-25 01:50] TylerLeonhardt commented on #2491
@rjmholt anything else useful in that pause? Maybe we should bring Danial in since it's terminal related?

[2020-02-25 02:20] SeeminglyScience commented on #2291
Maybe race condition here?

https://github.com/PowerShell/PowerShellEditorServices/blob/4c12d38a3f08d92c90846fa1dbb8a71495c4ad48/src/PowerShellEditorServices/Services/PowerShellContext/Console/WindowsConsoleOperations.cs#L35-L54

Maybe because the handle is released before the field is nulled?

Shot in the dark, if that doesn't pan out let me know and I'll take a closer look.

[2020-02-25 02:26] Ayanmullick opened #2495 "Register-EditorCommand fails due to ALC changes"
Issue Description
=====

I am experiencing a problem with running the below code in the Integrated terminal.

[code]

Creating as discussed with @SeeminglyScience .

Attached Logs\screenshot
=====
![image](https://user-images.githubusercontent.com/17693249/75209178-40cfb180-5743-11ea-8296-5ec38b6d70f4.png)

Environment Information
=====

Visual Studio Code
-----

<details><summary>Visual Studio Co

[2020-02-25 04:09] animehunter123 opened #2496 "vscode-powershell extension does not load the Microsoft.VSCode_profile.ps1 in vscode portable mode (with the data/ folder)"
### System Details
Windows 10 Enterprise (10.0.18363 N/A Build 18363)
VSCode-win32-x64-1.42.1
ms-vscode.powershell-2020.1.0

$PSVersionTable
PSVersion                      5.1.18362.628
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.18362.628
CLRVersion                     4.0.30319.42000
WSManStackVersion

[2020-02-25 04:58] TylerLeonhardt commented on #2495
I can repro this on macOS in PS7.

I can't repro this on macOS in PS6 though, which is interesting.

[2020-02-25 04:59] rjmholt commented on #2496
This does raise the question about *expected* behaviour (I note in your expected behaviour section, you describe the current behaviour). Certainly no matter where VSCode or where PowerShell is installed, the user directory's location does not change (and PowerShell similarly does not look in a different place for profiles when installed elsewhere).

We should collect more information on this befor

[2020-02-25 05:00] rjmholt commented on #2491
Unfortunately there's really not much to go on. When I next reproduce it I'll take a full screenshot

[2020-02-25 05:04] animehunter123 commented on #2496
Thank you very much! Yes, my goal is to make a portable vscode folder with a .\data directory, that has the vscode-powershell plugin which has a Microsoft.VSCode_profile.ps1 in the .\data directory. I was expecting it to readily load the profile from .\VSCode-win32-x64-1.42.1\data\user-data\User\, which I thought would have been great.

[2020-02-25 13:02] SeeminglyScience commented on #2491
@rjmholt does it look like this?

![image](https://user-images.githubusercontent.com/24977523/75249646-9e481a80-57a4-11ea-8068-8daf079bc0e8.png)

I have that every time I open certain workspaces.  Maybe related to number of files or number of open editors.  Pictured is PowerShell/PowerShell, happens every reload.  This is PowerShell 7.

If I `Enter-PSHostProcess`, there's only one runspace and the

[2020-02-25 15:13] JustinGrote commented on #2377
@TylerLeonhardt I tested using the "a" method (type a and then trash the window) and did it 3 times in each style. vscode vs. vscode-insiders didn't matter. I did it in a "clean" install by downloading the portable zip and adding the data folder.

![image](https://user-images.githubusercontent.com/15258962/75260335-4e665500-579e-11ea-9f12-54a8beac27c9.png)

[2020-02-25 16:43] rjmholt commented on #2491
Yeah the terminal looks like that (although I see all the diagnostic logs). I'm also testing it with PowerShell/PowerShell and WinPS + PS7, but only get it occasionally.

As I debug it, the server side seems to be behaving correctly; the reason you're only seeing the single runspace and that cmdlet is because we're still in there waiting for the client to connect. So the terminal prints the banner

[2020-02-25 16:45] rjmholt commented on #2491
I wonder if this is actually a symptom of https://github.com/PowerShell/vscode-powershell/issues/2377 or at least related to it

[2020-02-25 16:46] rjmholt commented on #2491
I wonder if this is actually a symptom of https://github.com/PowerShell/vscode-powershell/issues/2377 or at least related to it

[2020-02-25 16:46] rjmholt commented on #2491
@Tyriar, just quickly, does https://github.com/PowerShell/vscode-powershell/issues/2491#issuecomment-590634653 look at all familiar to you?

[2020-02-25 18:01] bergmeister commented on #2489
Ok.
The  situation in the debugger is quite clear, especially when reading the code as well: Due to the default setting being `PSScriptAnalyzerSettings.psd1`, the used setting path in the `TryFindSettingsFile` method already has the value of combining the workspace root with `PSScriptAnalyzerSettings.psd1`
https://github.com/PowerShell/PowerShellEditorServices/blob/c99aae37481462b3423e77852e832a9b

[2020-02-25 18:05] rrmistry opened #2497 "Command filter hides helpful shortcuts"
# Summary
![PowerShellFilterBug](https://user-images.githubusercontent.com/25514145/75272725-72408f80-57cc-11ea-9f26-72bc72526bdd.gif)

### System Details

System Details Output
[code]

### Issue Description

I am experiencing a problem with the user interface. The filter on PowerShell commands is extremely useful to have. But the filter overlaps the first row of commands and I can't click on the

[2020-02-25 18:15] rjmholt commented on #2377
@ili101 @JustinGrote are you seeing a UI freeze (where clicking on things in VSCode or on the `X` does nothing) or just a terminal freeze?

[2020-02-25 18:19] rjmholt commented on #2489
I agree with that analysis; thanks for looking into that.

Yeah I'm not sure either. Very explicitly cleared my settings.

Testing out a fix now.

[2020-02-25 18:30] TylerLeonhardt commented on #2291
This only seems to affect the _first_ call to Read-Host and only when running with debugging (F5)

[2020-02-25 18:35] SeeminglyScience commented on #2291
Oh you know what, I bet the PSRL `ReadKey` thread isn't getting cancelled.

[2020-02-25 18:37] TylerLeonhardt commented on #2291
But wouldn't subsequent F5's have the same issue then?

[2020-02-25 21:12] ili101 commented on #2377
@rjmholt we get a full UI freeze like posted before:

Then you wait for ~30 seconds for VSCode to notice it's frozen and you get the massage as posted in OP first massage:

[2020-02-25 21:36] rjmholt commented on #2377
Ok understood. It's not clear to me why the legacy extension wouldn't cause this if it's using the same terminal API to restart the PowerShell process. That's the source of my confusion.

I'll see if I can look into the source code and see if there are any differences.

[2020-02-25 21:56] JustinGrote commented on #2377
@rjmholt @ili101 covered the issue specifically.

As mentioned https://github.com/microsoft/node-pty/issues/375 is the root cause most likely, and I assume in preview perhaps you're using ConPTY or some ConPTY feature that hooks into this issue, because as noted when you disable ConPTY, it stops happening.

[2020-02-25 22:01] rjmholt commented on #2377
This is probably the most likely explanation. Unfortunately that suggests it's two libraries we don't control colliding with each other...

I absolutely agree

[2020-02-25 22:02] SydneyhSmith commented on #2497
@rrmistry thanks for reporting this, it looks like this is a UI issue that come from VSCode, please open an issue in their repo. Thanks

[2020-02-25 22:02] #2497 closed

[2020-02-25 22:05] SydneyhSmith commented on #2487
@PrzemyslawKlys thanks for reporting this, we are able to reproduce the issue...since there is a work-around (hitting "enter") for this it is not our highest priority but we still hope to fix it when possible

[2020-02-25 22:07] rjmholt commented on #2495
[Code for reference](https://github.com/PowerShell/PowerShellEditorServices/blob/4c12d38a3f08d92c90846fa1dbb8a71495c4ad48/module/PowerShellEditorServices/Commands/Public/CmdletInterface.ps1#L50)

[2020-02-25 22:07] SydneyhSmith commented on #2486
The hit count relies on script that is not strict mode compliant, which is likely why you are hitting this issue. Because of this I will mark this as an enhancement, although we may investigate alternatives to this script. Thanks!

[2020-02-25 22:09] SydneyhSmith commented on #1183
Sounds like this has been fixed in our latest preview release so I will close for now. Thanks!

[2020-02-25 22:09] #1183 closed

[2020-02-25 22:12] yobyot commented on #1183
With all due respect we don’t know if this issue — a long-standing one that makes debugging scripts difficult — is actually fixed.

Can we leave this open until we have some evidence?

[2020-02-25 22:12] rjmholt commented on #2486
Code for reference:

https://github.com/PowerShell/PowerShellEditorServices/blob/4c12d38a3f08d92c90846fa1dbb8a71495c4ad48/src/PowerShellEditorServices/Services/DebugAdapter/Debugging/BreakpointApiUtils.cs#L182-L205

[2020-02-25 22:15] rjmholt commented on #2387
After more discussion in #2377, I'm going to deduplicate this issue to that one

[2020-02-25 22:15] #2387 closed

[2020-02-25 22:22] SydneyhSmith commented on #1183
We have closed it given that there is no current action item for us on this issue, and we use this to track our work items...if we have evidence that it is persistent we are always happy to re-open

[2020-02-25 22:54] SeeminglyScience commented on #2495
`Import-EditorCommand` has some too, may just want to do a sweep of all the ps1's

[2020-02-25 23:00] JustinGrote commented on #2377
@rjmholt FYI let us know if you can't reproduce, it's pretty simple:

1. Start an **Integrated Terminal** in a code instance with powershell preview extension installed.
2. Type 'a'
3. Click the trash icon in the terminal bar.

[2020-02-25 23:27] rjmholt commented on #2377
Yeah, that's a nice repro, happens for me too. And it does seem likely that something in the depths of PSReadLine is exacerbating the issue. But currently not clear at all what we can do to fix it. @TylerLeonhardt is currently looking into it.

[2020-02-25 23:42] TylerLeonhardt commented on #2377
Does anyone feel like this happens when they _don't_ interact with the console before hand? Cause we could workaround this issue by hiding the PSIC until it's ready to read input, but that's a workaround to this problem and not really a fix.

[2020-02-26 00:03] rjmholt commented on #2377
So a bit more investigating here reveals that it occurs in ordinary PowerShell within VSCode as well (I cut some frames out while we wait for the crash dialogue, since otherwise it was quite a long GIF):

![lock](https://user-images.githubusercontent.com/7009879/75298709-171c9600-57e8-11ea-9d6d-6fc590b39e66.gif)

@SteveL-MSFT and @daxian-dbw might be interested in this

[2020-02-26 00:09] rjmholt commented on #2495
I'm a bit confused by this. [It looks like that's the right namespace for `EditorCommand`](https://github.com/PowerShell/PowerShellEditorServices/blob/4c12d38a3f08d92c90846fa1dbb8a71495c4ad48/src/PowerShellEditorServices/Extensions/EditorCommand.cs#L8-L14).

[2020-02-26 00:14] rjmholt commented on #2491
@sdwheeler

[2020-02-26 00:38] rjmholt commented on #2377
@JustinGrote and @ili101 thanks for following up with us on this btw. @JustinGrote I see you've tracked this issue across several (Microsoft-owned) GitHub repos and just want to thank you for that too.

We're going to do our best to follow up on this issue on our end since PowerShell customers are heavily affected.

[2020-02-26 02:48] TylerLeonhardt commented on #2291
Ok I've got a PR out for this!

[2020-02-26 07:25] pwahlmueller commented on #1183
Have tried it with 2020-02 powershell-preview on one machine - could not reproduce the issue any longer.

[2020-02-26 14:14] SeeminglyScience commented on #2495
Oh... PowerShell can't resolve any types from PSES outside of the `Microsoft.PowerShell.EditorServices.Hosting` assembly.

This might not be new, wasn't there an issue about `Import-EditorCommand` already from around the time ALC changes were made?

[2020-02-26 15:30] TylerLeonhardt commented on #2488
I was unable to repro this on Windows, however, I did reproduce this on @SydneyhSmith 's machine.

It seems to happen when a machine is totally bogged down and so the PowerShell extension runs very slowly and gets into some bad state.

Still investigating...

[2020-02-26 16:28] TylerLeonhardt commented on #2495
But why would it work on 6.2?

[2020-02-26 16:44] SeeminglyScience commented on #2495
🤷‍♂ differences in how ALC's work?

[2020-02-26 17:04] #2489 closed

[2020-02-26 17:42] rjmholt commented on #2495
Ah, I had assumed that loading the PSES asm into the default ALC would work for PowerShell, but I suppose it doesn't. It happens that the [way PowerShell exposes types in 7](https://github.com/PowerShell/PowerShell/blob/d46dfc26b7ee22a5598fff7680ea654ff9f7175d/src/System.Management.Automation/utils/ClrFacade.cs#L52-L64) has changed since [6.2](https://github.com/PowerShell/PowerShell/blob/ba332d04

[2020-02-26 17:46] #2291 closed

[2020-02-26 17:48] TylerLeonhardt commented on #2424
PR out for this.

[2020-02-26 19:44] rjmholt commented on #2495
Turns out this isn't possible, from what I've tried.

Ideally we could spin this out into a new assembly which is internally enlightened through the various APIs, but I don't think we have time for that before the release given the other high-priority bugs we want to address.

This works if we fully-qualify the type names for now, so I'll do that. Later on I'd like to spin out a separate module fo

[2020-02-26 19:49] Tyriar opened #2499 "Use new language status items API for status bar info"
PowerShell uses the very right of the right status bar to show both initializing and version number:

![image](https://user-images.githubusercontent.com/2193314/75381461-a16b0580-588d-11ea-94b3-f5f086a2922c.png)

![image](https://user-images.githubusercontent.com/2193314/75381440-97490700-588d-11ea-977c-82ce5764fc6e.png)

This is bad since it makes the status bar unstable; all items left of the PS

[2020-02-26 20:56] #2424 closed

[2020-02-26 21:12] #2404 closed

[2020-02-26 22:43] TylerLeonhardt commented on #2488
I'm able to reproduce when I comment out my personal changes to the `prompt` function.

[2020-02-26 23:20] rjmholt commented on #2364
So the root cause here is that the DisconnectHandler asks the PowerShellContextService to abort execution, which sets the session state to `Aborted`. Since that's not `Ready`, a number of things don't work. This issue is intermittent because of a race condition with running PowerShell commands overriding the state, but adding a lock causes it to reproduce all the time.

The problem now is that we

[2020-02-26 23:42] rjmholt commented on #2488
This seems to have the same root cause as https://github.com/PowerShell/vscode-powershell/issues/2364

[2020-02-27 00:38] animehunter123 commented on #2496
Wow you guys are great, I cant wait until it is pushed to the release version. Thank you so much everyone (honestly appreciate how much work and quick turnaround everyone is doing for this). Have a great week.

[2020-02-27 04:44] rjmholt commented on #2496
Just to be clear, we haven't acted on this yet. It's not clear that this is behaviour we want. Right now, I can imagine it being a configurable setting perhaps. But it's certainly not a normal thing for the profile file to be relative to the user's location.

We're currently trying to get the extension working well for a release next week, and we have a backlog of requests after that. So I'll mark

[2020-02-27 14:15] nithundamodaran commented on #1758
i have similar observation , am sadly on 1.29 due to some restriction , win 10 build version is 17763

[2020-02-28 03:11] rjmholt opened #2504 "Unable to start the extension properly with AllSigned execution policy"
![executionpolicy](https://user-images.githubusercontent.com/7009879/75507121-fcd3eb00-5994-11ea-841c-9e3201ee7222.PNG)

[2020-02-28 03:25] rjmholt commented on #2504
Looks like PSSA doesn't work in this scenario either.

[2020-02-28 03:38] rjmholt commented on #2504
I've tried this out also to simulate a scenario where policy sets execution policy (meaning we won't be able to override it), and we can't unblock files. So I don't see a way to make that scenario work.

[2020-02-28 08:21] DarkLite1 commented on #2488
I think I'm having the same issue. The code never finishes execution and the debug pop-up at the top stays. Quitting it is not always possible, so I'm forced to kill the terminal and restart it. It might be related but code unfolding is also no longer possible in some cases. Thank you for looking in to this nasty little bug.

[2020-02-28 21:44] #2504 closed

[2020-02-28 21:57] rjmholt opened #2505 "Move editor services command module and relevant public types into their own assembly"
**Summary of the new feature**

PSES uses a fresh ALC to hide its dependencies from PowerShell and other modules. This makes it hard to use those things that are meant to be exposed. Even though the PSES assembly is loaded into default ALC, PowerShell doesn't quite see it that way.

The simplest fix for this is to move it all out into a new assembly. This will break some of the type names from a f

[2020-02-28 22:03] rjmholt opened #2506 "Can't start PSES properly when execution policy is set by GPO"
From https://github.com/PowerShell/PowerShellEditorServices/pull/1214.

At startup there's no way to opt-in to loading PSReadLine and we get message like https://github.com/PowerShell/vscode-powershell/issues/2504.

At this point the prompt becomes largely useless.

The user workaround to this is to trust the Microsoft certificate, with which PSRL is signed. (This is distinct from the Windows-inbo

[2020-02-28 22:07] rjmholt opened #2507 "Script Analysis unavailable when execution policy does not trust PSScriptAnalyzer"
Due to how we lazily load PSScriptAnalyzer, script analysis currently does not work when execution policy is set in a way that prevents loading of PSScriptAnalyzer. This can occur even in environments where we have managed to start in `Bypass` mode, because we set it back to the correct execution policy before PSSA is loaded.

User workarounds are:

- Use a less restrictive execution policy
- Trus

[2020-02-28 22:11] rjmholt opened #2508 "Debug command/abort race condition causes bad state in PSES"
From https://github.com/PowerShell/PowerShellEditorServices/pull/1210.

While https://github.com/PowerShell/PowerShellEditorServices/pull/1210 patches this, it is likely to not be enough to fully prevent the issues occurring here.

Instead we need to sift through the interaction between the debugger, PSReadLine and the PowerShellContextService to ensure that our internal conceptual state machine m

[2020-02-28 23:47] #2364 closed

[2020-02-28 23:47] #2488 closed

[2020-02-28 23:48] rjmholt commented on #2396
Sorry, this was closed by accident in the PR I just merged. It *may* be fixed by that, but needs to be manually tested.

[2020-02-29 00:24] iampeterdaniels commented on #535
After updating to the non-preview powershell extension v 2020.1.0 and vscode 1.42.1, I have lost syntax highlighting in the integrated console.  The actual code editor is working fine.  Any ideas?

[2020-02-29 00:28] iampeterdaniels commented on #1793
Apologies in advance if this is the wrong place for this.  I thought that the latest powershell extension added PSReadLine to the console like the preview.  Am I confused?  I would prefer not to go back to the preview as the "regular" extension does seem more stable.  I just miss the syntax highlighting and intellisense in the console.

[2020-02-29 01:45] JustinGrote commented on #2396
@rjmholt  thanks! I'll grab a CI build VSIX and give it a shot, this has been happening a lot to me during long interactive sessions.

[2020-02-29 02:11] JustinGrote commented on #535
@iampeterdaniels non-preview extension doesn't have PSReadline, you have to use the preview extension for psreadline functionality (which includes syntax highlighting, special characters, etc.)

[2020-02-29 02:34] iampeterdaniels commented on #535
Thank you, Justin.  Not sure why I thought the PSReadline 2.0 release somehow translated into it being in the non-preview extension.

[2020-02-29 02:36] JustinGrote commented on #535
@iampeterdaniels the current preview extension should roll into stable very soon, they're trying to target it for the PS7 release which will probably drop sometime this week or next.

[2020-02-29 02:37] iampeterdaniels commented on #1793
Justin Grote set me straight in #535.  PSReadline is NOT in the non-preview extension, ergo this open issue.

[2020-03-02 15:37] Tyriar commented on #2491
Haven't had any reports of processId not resolving on my end.

[2020-03-02 15:47] sdwheeler commented on #2491
@rjmholt The workaround build you provided resolved my hang.

[2020-03-02 16:32] rjmholt commented on #2491
Fixed https://github.com/PowerShell/vscode-powershell/pull/2498

[2020-03-02 16:32] #2491 closed

[2020-03-02 16:50] rjmholt commented on #2491
Just to document a bit more, I can reproduce this with the following change from https://github.com/PowerShell/vscode-powershell/commit/d431617d6997c75fdce35342323e016f1bbaf271:

[code]

So startup pauses, since the client never opens a named pipe. The debugging the server shows it waiting on a named pipe connection.

In the client, pausing the debugger shows us stopped here:

![pidHang](https://u

[2020-03-02 16:51] #2495 closed

[2020-03-02 21:55] sidetrak2 opened #2512 "PowerShell Terminal won't load"
Issue Type: <b>Bug</b>

3/2/2020 1:49:31 PM [NORMAL] - Visual Studio Code v1.42.1 64-bit
3/2/2020 1:49:31 PM [NORMAL] - PowerShell Extension v2020.1.0
3/2/2020 1:49:31 PM [NORMAL] - Operating System: Windows 64-bit
3/2/2020 1:49:31 PM [NORMAL] - Path specified by 'powerShellExePath' setting - '"C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe"' - not found, reverting to default PowerShell

[2020-03-02 22:25] #2022 closed

[2020-03-02 22:33] rjmholt commented on #2512
@sidetrak2 thanks for opening an issue.

This looks similar to https://github.com/PowerShell/vscode-powershell/issues/2417, https://github.com/PowerShell/vscode-powershell/issues/1626 and https://github.com/PowerShell/vscode-powershell/issues/2014 (which may need consolidation). Unfortunately, we've tried a number of things to reproduce those issues and haven't been able to do it. To fix the issue

[2020-03-02 22:54] rjmholt commented on #1626
@compwiz32 I know it's been a while, but if you were able to identify what settings were causing this, that might help us to fix the underlying problem here

[2020-03-02 23:43] WithHolm opened #2516 "Preview: Autopopulation of comment based help not working"
### System Details

System Details Output
[code]

### Issue Description

#### Expected Behaviour

In std version of powershell when you wrote `##` above a function you would get a autopopulated comment based help with the relevant parameters.

#### Actual Behaviour

when you write `##` the characters will just be "removed", in lack of a better term.

### Attached Logs

Follow the instructions in t

[2020-03-03 00:42] rjmholt commented on #2516
@WithHolm can you attach or send through your logs? With those we might be able to work out why this isn't working for you. You can find instructions on how to do that in the `Attached Logs` section of your issue description

[2020-03-03 00:49] WithHolm commented on #2516
[logs.zip](https://github.com/PowerShell/vscode-powershell/files/4278707/logs.zip)

[2020-03-03 01:03] sidetrak2 commented on #2512
PSVersion 5.1.16299.1146
![image](https://user-images.githubusercontent.com/1693716/75732586-b689cf00-5ca7-11ea-8dc4-376b125752bd.png)

[2020-03-03 01:11] rjmholt commented on #2512
Do you mean a Windows, VSCode or extension update?

[2020-03-03 01:23] TylerLeonhardt commented on #2516
fix out for this ^

A workaround for you to use for now is to make sure the function you're running it on doesn't have any other linting problems. Then it will work.

[2020-03-03 01:31] sidetrak2 commented on #2512
I do recall an update, in the last few weeks, to VSCode that failed and left it uninstalled; I had to reinstall it from scratch. Though I don't recall if the problem began after that.

[2020-03-03 01:32] rjmholt commented on #2512
Ok. Well given that this is the 2020.1.0 extension (which came out in January) it sounds like this has been caused by an update in VSCode or Windows. We can review at the end of the week to see if this problem persists

[2020-03-03 01:39] #2516 closed

[2020-03-03 10:42] DarkLite1 opened #2518 "Unfolding not always possible"
## Issue Description

Since the last update of the PowerShell Preview extension there is an issue with unfolding certain code blocks. When refactoring some code you will see that pressing `CTRL + 0` will collapse all regions but sometimes it's no longer possible to expand the regions by clicking on the arrow in front of the collapsed code. When doing this nothing is unfolding and after 10 to 15 se

[2020-03-03 14:33] sidetrak2 commented on #2512
Windows did an update this morning and now it is loading correctly.

[2020-03-03 15:19] RoscoeT opened #2519 "Periodically my whole screen goes black"
Issue Description
=====
While using VsCode periodically my whole screen goes black for a few seconds, except for the mouse pointer. It did not do this prior to updating to Version: 1.42.1 using ms-vscode.powershell-2020.1.0.
I see several errors in the logs which I will attach.
Since I use code in a Windows 10 VM in virutal box I tries starting it with the command line switch --disable-gpu and thi

[2020-03-03 15:24] rjmholt commented on #2519
Hi @RoscoeT does VSCode do this if you uninstall the PowerShell extension?

[2020-03-03 15:26] rjmholt commented on #2518
@DarkLite1 is there anything in the logs suggesting an error?

[2020-03-03 16:21] TylerLeonhardt commented on #2518
Also a sample script that you've seen this with would be very helpful.

[2020-03-03 16:59] #2512 closed

[2020-03-04 00:13] RoscoeT commented on #2519
TBH I'm not 100% sure if the screen blacking out is linked to vscode or not but the errors exist regardless. It does seem to only happen when i am using vscode. And only started after updating vscode.
The errors mentioned are all related to the PowerShell extension so I don't imagine they would not persist if I were to uninstall. Sorry I don't know how to reproduce the issue as it just seems to ha

[2020-03-04 07:39] DarkLite1 commented on #2518
I knew this question was coming ;) It's just very hard to consistently reproduce, but it happens quite often as in every 2 times after refactoring code.

I've add some test code in attachment. When both files are open and you are in the file ``Set permissions.Tests.ps1` and press `F5` to execute it, everything goes fine. Than you refactor something in the production file or the test file, press `C

[2020-03-04 13:29] DarkLite1 commented on #2518
An example of the folding/unfolding icons `>` that are missing:

![image](https://user-images.githubusercontent.com/10828570/75884085-7ac84400-5e24-11ea-9272-89af49893d86.png)

[2020-03-04 15:44] moymike commented on #1309
I'm Powershell Preview 2020.2.0 and this is still an issue.

[2020-03-05 10:58] DarkLite1 commented on #2518
Figured out how to reproduce this:

1. Open the file `Testie.ps1` in attachment
2. Collapse all by using `CTRL + K` and `CTRL + 0`
3. Open the top comment section of the  file and add some random text in the comments or simply change the e-mail address in the last line `AUTHOR SomeoneElse@ms.com`
4. Try to click on the arrow before `Process{` to unfold it
    Notice that unfolding that section is

[2020-03-05 14:47] ili101 commented on #2518
I can confirm this is something that started in the last release (preview@2020.2.0).
But it's not an unfolding problem, it's everything the extension do hang for a long time.

To reproduce do the steps @DarkLite1 provided in his last post.
Add to step 4 more things like F8 on some line and hover over a variable to get the intelligence tooltip.
The unfold will not work, the F8 will not execute and

[2020-03-05 15:16] DanteNahuel opened #2520 "Using Windows Forms Unexpected behaviour and errors"
System Details Output
[code]

### Issue Description

When trying to use Windows Forms in a Powershell script I get errors that I don't get when running the same script/lines in Powershell ISE or Powershell 7 console

#### Expected Behaviour

Running this:
[code]
Should run smoothly without any errors.

#### Actual Behaviour

However, I get the following errors:
[code]

I get it to work with the fo

[2020-03-05 15:25] rjmholt commented on #2520
Hi @DanteNahuel, can you give us:

- a small reproduction of the issue
- a description of your expected behaviour
- a description of the actual behaviour

[2020-03-05 15:27] rjmholt commented on #2518
Does it work if you go into the console and press <kbd>Ctrl</kbd>+<kbd>C</kbd>?

[2020-03-05 15:27] #2520 closed

[2020-03-05 16:23] ili101 commented on #2518
<kbd>Ctrl</kbd>+<kbd>C</kbd> doesn't seems to effect this.

[2020-03-05 16:31] rjmholt commented on #2518
@DarkLite1 could you post your example as text?

[2020-03-05 16:32] rjmholt commented on #2520
Did the issue resolve? If so what was the resolution? (Even if it's a small thing, it might help another user)

[2020-03-05 17:01] DanteNahuel commented on #2520
@rjmholt I closed it because I'm able to reproduce it in Powershell 7 console as well, so I'm guessing this is not Visual Code related.

[2020-03-05 18:33] PSVortex commented on #2518
I can confirm this. My observation is that extension spends a lot of time to analyze PS Script Analyzer along with my customized settings for it.

[2020-03-05 18:43] rkeithhill opened #2521 "Ubiquitous parameters don't always auto-complete"
### System Details

System Details Output
[code]

### Issue Description

Trying to complete `invoke-webrequest -error` is not supplying the expected `ErrorAction` completion.

#### Expected Behaviour

The auto-complete list should provide `-ErrorAction`

#### Actual Behaviour

The auto-complete list initially does not supply it:

![image](https://user-images.githubusercontent.com/5177512/76013931-

[2020-03-05 18:56] rkeithhill opened #2522 "Auto-completion fails due to performance issues"
### System Details

System Details Output
[code]

### Issue Description

Auto-complete was working for about 5 minutes into editing a small script (220 lines) but now it has wedged.

#### Expected Behaviour

Auto-complete should not ever stop working - in an ideal world. :-)

#### Actual Behaviour

I get the dreaded "Loading..." message for at least a minute before I give up:

[VSCodePSAutoComplet

[2020-03-05 18:57] rjmholt commented on #2521
That's strange

[2020-03-05 19:12] rjmholt commented on #2522
Does <kbd>Ctrl</kbd>+<kbd>C</kbd> help?

[2020-03-05 19:15] rkeithhill commented on #2377
I just ran into this with the 2020.3.0 update. :-(

[2020-03-05 19:21] rkeithhill commented on #2522
In the integrated terminal?  For some reason, the integrated terminal is not appearing in my list of terminals.

[2020-03-05 19:22] rkeithhill commented on #2522
Also, seems my PS Session is still using RC.3 even though I upgraded to the GA release.

[2020-03-05 19:24] rjmholt commented on #2377
I'd encourage anyone hitting this issue to add their 👍 to this issue and:
- https://github.com/microsoft/vscode/issues/71966
- https://github.com/microsoft/node-pty/issues/375
- https://github.com/microsoft/terminal/issues/1810

[2020-03-05 19:25] rjmholt commented on #2522
It's probably defaulting to preview. Try switching to `PowerShell (x64)`

[2020-03-05 19:25] rkeithhill commented on #2522
OK, now on PS 7 GA and have PSIC displaying.  I had done some experimenting with settings a while back and apparently set showOnStartup to false.  Fixed.

[2020-03-05 19:31] rkeithhill commented on #2521
This is stranger (maybe).  Read-Host parameter completion shows only the ubiquitous parameters. Where is `Prompt` (other than in the description)?

![image](https://user-images.githubusercontent.com/5177512/76018003-c9d1b000-5edc-11ea-8edd-94641b211e53.png)

Wait a tic, if I scroll up they are there:

![image](https://user-images.githubusercontent.com/5177512/76018218-1e752b00-5edd-11ea-99e3-868a6

[2020-03-05 19:35] ThubLives opened #2523 "When showOnStartup is off, integrated console only starts during debugging"
Issue Description
=====

If powershell.integratedConsole.showOnStartup is set to false, the workbench.action.terminal.toggleTerminal command starts the default terminal instead of the integrated PowerShell terminal.  In version 2020.1.0 and earlier, the integrated PowerShell terminal would be started when using toggleTerminal, rather than the default terminal.

The only obvious way to start the in

[2020-03-05 19:35] rjmholt commented on #2521
I'm seeing this now too

[2020-03-05 19:36] rjmholt commented on #2522
Are you running anything in the time before the completions fail?

[2020-03-05 19:37] rjmholt commented on #2523
Yes that was https://github.com/PowerShell/vscode-powershell/pull/2437, which fixed https://github.com/PowerShell/vscode-powershell/issues/2434.

It sounds like we want to break this out into a configuration rather than bake the setting in.

[2020-03-05 19:50] ThubLives commented on #2523
I would suggest replacing the `powershell.integratedConsole.showOnStartup` config option with a tri-state option something like `powershell.integratedConsole.showConsole` with states:  `OnStartup`, `AsDefault`, and `OnCodeExecution`.

[2020-03-05 19:57] rjmholt commented on #2518
Can you expand on this? How did you observe this? Does it seem to be interacting with folding?

[2020-03-05 20:10] rjmholt commented on #2522
I'm getting sluggish completions, but haven't been able to repro this yet

[2020-03-05 20:11] rjmholt commented on #2521
And now I can't repro it again!

[2020-03-05 20:20] PSVortex commented on #2518
@rjmholt It's simple:
1. Launch VSCode
1. Load ps1 script which has functions/foldable regions
1. Immediately start clicking multiple times at the fold 'arrow', folding/unfolding is not possible
1. In the background, Powershell interactive console is starting and with it, PSSctiptAnalyzer starts to analyze code
1. When PSSctiptAnalyzer display list of problems at "Problems" tab, folding/unfolding

[2020-03-05 20:21] rkeithhill commented on #2522
No, not running anything.  I can do a develop reload and try auto-completion and initially, it works OK but gets slower.  Some context, these couple of PS scripts are in a project that houses an Electron app with several Angular lib projects. That's six `node_modules` directories and 295,000 files.

[2020-03-05 20:34] rjmholt commented on #2522
Wow. Hmm yeah I suspect this is related to that. I think there might be a simple fix here that we've been overlooking for a while, where we need to filter out bad files...

I'm thinking of https://github.com/PowerShell/vscode-powershell/issues/1256#issuecomment-504842937

[2020-03-05 20:35] rjmholt commented on #2518
It sounds a bit like the folding just isn't ready because the extension is still starting.

If you edit a script, does folding then take a while again?

[2020-03-05 20:50] ThubLives commented on #2523
I would even suggest that the default should be changed to `AsDefault`, meaning that the integrated console only starts when the user opens the terminal pane.  Certainly, I haven't run into any other language extensions that have a shell that opens the terminal on startup, so it always seemed a bit presumptuous for what is primarily a code editor.

I presume that this behaviour was only added in t

[2020-03-05 20:54] TylerLeonhardt commented on #2521
I feel like this could be a PowerShell bug because we don't really mess with the result of the `CompleteInput` call.

[2020-03-05 21:04] rjmholt commented on #2523
Well the Integrated Console runs all the language features of the extension; the terminal is created whether its shown or not, since otherwise the extension won't do very much.

Certainly most users expect the console to show immediately. We are most often compared to the ISE, but even without the comparison it's something that is very much an intentional part of the extension's architecture.

So

[2020-03-05 21:20] rjmholt commented on #2522
That just encourages me to get back to work on PSScriptAnalyzer...

[2020-03-05 21:25] ili101 commented on #2518
I see 2020.3.0 stable is out (you probably should also update the preview extension to the same version as stable so everyone that on it will also be on 2020.3.0 and not stay behind)

Tested on it and it looks like it still happening but the freezes is shorter.
I can reproduce if I open a network folder with a lot of powershell files and do the same test, but locally or opening a network folder wi

[2020-03-05 21:38] rjmholt commented on #2518
Releasing takes a little while and we all work on several things, so we'll probably do a preview release in the coming week or so. Not our preferred choice, but it will only happen once since there will be no more fork.

Ok so it sounds like a file performance issue where we're looking through too many files. Are these files PowerShell files?

With every change:

- The backend representation of th

[2020-03-05 22:16] SydneyhSmith commented on #2519
Given that the screen blacking out is not at our abstraction layer, and is likely unrelated to other errors you may be experiencing, I am going to close this issue for now (happy to re-open if you have more re-pro info)

[2020-03-05 22:16] #2519 closed

[2020-03-05 22:22] SydneyhSmith commented on #2518
Adding @glennsarti in case he has any thoughts considering he contributed the folding feature.
@TylerLeonhardt seems to remember that file filtering may have stopped working at some point, Glenn do you recall that?

[2020-03-05 22:49] ThubLives commented on #2523
@rjmholt As someone who has adopted vscode as a common code editor for quite a few languages, it seems odd that the PowerShell extension is the only language-based extension I've used that wants to change the layout every time it's started.
That said, if I can just change a config option to solve it, then my preferences don't have to get in anyone else's way. :)

To that end, these look sensible t

[2020-03-06 00:19] rjmholt commented on #1634
Possibly this was the same as https://github.com/PowerShell/vscode-powershell/issues/2488?

[2020-03-06 00:56] rjmholt commented on #1309
Oh I just realised this isn't a completion bug, it's a completion *trigger* issue; it you press <kbd>Ctrl</kbd>+<kbd>Space</kbd>, you get the intellisense.

We need some way of telling VSCode to trigger a completion, but I'm not sure if that's possible within strings. We'll have to look into it

[2020-03-06 01:01] rkeithhill commented on #2521
You might be onto something.  When I use command-line (PSRL) completion with no chars specified, I don't get any of the ubiquitous parameters:

![image](https://user-images.githubusercontent.com/5177512/76039871-ee448100-5f0a-11ea-881c-62dcc00c5bc3.png)

This has changed since 5.1.  Not sure what the behavior of 6.x was since the 7 install removed it.  :-(

However, once I type in a char like `-e`

[2020-03-06 01:22] TylerLeonhardt commented on #2518
My PR out will re-enable a feature Glenn added and allow anything set in the following settings to be automatically ignored when looking for symbols (used in folding and references):

files.exclude
search.exclude

[2020-03-06 01:33] glennsarti commented on #2518
Unfolding is not dependant on the Language Server.  That's all client side.  As comment above, it can be a perf issue on generating the folding regions.

IIRC yeah that code didn't make to 2.0 and I didn't have time to migrate it as there was no unit testing running at the point * glares at Tyler and Rob *

However there should not be any reason for those two features to be related.  Folding only

[2020-03-06 01:41] glennsarti commented on #2518
Although I don't understand this:  Seems odd to create a logger on the Folding Handler in an unrelated class.

https://github.com/PowerShell/PowerShellEditorServices/blob/c005ef7c4a695a484e171962feaaeb0ba527311f/src/PowerShellEditorServices/Services/TextDocument/Handlers/CodeLensHandlers.cs#L35

https://github.com/PowerShell/PowerShellEditorServices/blob/c005ef7c4a695a484e171962feaaeb0ba527311f/sr

[2020-03-06 01:51] TylerLeonhardt commented on #2518
typos!

[2020-03-06 02:09] TylerLeonhardt commented on #2518
Right. My guess is that since Folding and references both needs symbols to be calculated first, the Folding lag is due to that.

[2020-03-06 02:35] glennsarti commented on #2518
I made a typo or you did?

![image](https://user-images.githubusercontent.com/5819622/76044727-2a70f380-5f96-11ea-9e76-9990a2244943.png)

[2020-03-06 03:03] glennsarti commented on #2518
Nope.  Folding doesn't use the AST and therefore no symbols, it uses the tokeniser

But I think I know what you're getting at.

The FoldingRangeHandler gets the scriptfile (Although the script is set at document open/edit time)
The ScriptFile constructor calls `SetFileContents` (https://github.com/PowerShell/PowerShellEditorServices/blob/c005ef7c4a/src/PowerShellEditorServices/Services/TextDocumen

[2020-03-06 03:39] TylerLeonhardt commented on #2518
me

[2020-03-06 04:05] TylerLeonhardt commented on #2521
hmm yeah... it might be worth opening this in the PowerShell repo.

[2020-03-06 07:29] PSVortex commented on #2518
No. After an initial 'pause time' when folding is impossible, editing script doesn't cause this issue again.

[2020-03-06 09:55] DarkLite1 commented on #2518
The example is in [this zip file](https://github.com/PowerShell/vscode-powershell/files/4292534/Testie.zip).

On a side note, as mentioned by others, it's not only the folding/unfolding that isn't working. Other features like selecting text and pressing `F8` to get it executed or simply pressing `CTRL + C` to cancel the ongoing action (whatever that is) doesn't work either.

[2020-03-06 11:41] HerBenSte opened #2525 "Disable - WARNING: Editor operations are not supported in temporary consoles."
**I'm using:**
"powershell.debugging.createTemporaryIntegratedConsole": true
to always start a new console window to prevent any old code loading issues which I had in the past.
Only restart of VSCode was fixing it.
Since I use temporary consoles I never ran into that issue again.

**But now (I guess since the last update) I get this warning:**
[See screenshot](https://i.imgur.com/SBg0SvD.png)

Th

[2020-03-06 14:35] DarkLite1 commented on #2518
Yes, even after running the script multiple times the issue remains. There's a delay in functionality which makes working in the editor impossible. The only way around this is to kill PSIC and restart it and even then you have to wait very long.

Food for thought: Even if there is only 1 file open in the editor the issue appears. You have to know, that just like @rkeithhill  mentioned in another i

[2020-03-06 17:33] TylerLeonhardt commented on #2525
@HerBenSte do you use this setting?:

`"powershell.integratedConsole.forceClearScrollbackBuffer": true`

[2020-03-06 17:49] rjmholt commented on #2518
It does. But rules in PSScriptAnalyzer ask for context from PowerShell for things like aliases. That's something that (1) we have no control over in our code and (2) PSSA users would consider breaking if it changed.

It sounds like this is a performance issue caused by looking at too many files, especially on network shares. We'll do our best to make this an area of investigation. I'm currently bu

[2020-03-06 18:39] JustinGrote commented on #298
Now that Powershell 7 is out, perhaps it's as "easy" as just wiring up the "Uncaught Exceptions" button to set ErrorActionPreference = 'break' for now?
![image](https://user-images.githubusercontent.com/15258962/76112238-acf9b300-5f96-11ea-9d85-20b6cb2ec1aa.png)

@SeeminglyScience @KirkMunro @rkeithhill

I'll be able to take a stab at a PR in a couple weeks, knowing basically no Typescript and jus

[2020-03-06 18:49] spidey323 opened #2526 "The Language Service Could not be started"
The extension wont even load so I can't get the PSVersion.
Everything was working fine until the update of the powershell extension.

Issue Description
[code]

[code]

[2020-03-06 19:10] rjmholt commented on #2526
This is at least a reasonable sign that it's some we might be able to fix. We've seen other issues like this where an OS update causes issues.

It looks like this is a session file issue but we don't log enough information to discern the problem. It might be available in VSCode's own logs (try the `Developer: Show Logs` option and pick `Extension Host`) or possibly in the developer tools console (

[2020-03-06 19:12] rjmholt commented on #298
Very happy to help with that. The hard won't be the language as much as navigating the code, but I think we have a fair idea of where things should go.

[2020-03-06 19:13] rjmholt commented on #298
The other hard part is managing the version-specificity. It's a pain writing code that works in 7 but fails gracefully and informatively in older PowerShells.

[2020-03-06 19:30] mattmcnabb opened #2527 "ISE Mode Settings Restore"
**Summary of the new feature**

Great job on the new ISE Mode commands! However, when I switch to ISE Mode I'd like to be able to easily switch back to the settings I previously had configured. What are your thoughts on adding a backup feature to the affected settings so that when you disable ISE Mode these can be properly restored?

**Proposed technical implementation details (optional)**

I thin

[2020-03-06 19:58] spidey323 commented on #2526
I'm glad it looks fixable. I've tried uninstalling/re-installing several times. Looks like it happened with the update for March. (I even tried installing an older version. Appreciate your help.
Here's the log output from the above command:
[2020-03-06 13:56:12.488] [exthost] [info] extension host started
[2020-03-06 13:56:12.544] [exthost] [info] ExtensionService#_doActivateExtension vscode.debug

[2020-03-06 20:12] spidey323 commented on #2526
The application hangs as soon as I install the powershell ext so I have to keep it disabled. -FYI

[2020-03-06 20:16] spidey323 commented on #2526
![2020-03-06_14-15-48](https://user-images.githubusercontent.com/61885696/76119430-0a046180-5fb5-11ea-88e2-e5cdcb1459c1.png)

[2020-03-06 20:49] SeeminglyScience commented on #298
@KirkMunro do you know if there's a way to only break on uncaught errors? Or otherwise determine that an error was uncaught?  Also determine whether the error was terminating?

Right now it's all errors, even if caught.  That's still awesome and way better than no error breakpoints period though.

[2020-03-06 21:31] rjmholt commented on #2526
Hmmm, I don't see anything of use in there (unfortunately VSCode's own logs are quite opaque).

Could you try installing the (zipped) VSIX I linked above? Can do it like this:

[code]

You'll then need to disable the PowerShell extension and restart VSCode.

Hopefully that will log the reason for startup failure.

The hang you're seeing may well be https://github.com/PowerShell/vscode-powershell/i

[2020-03-06 22:10] adamdriscoll opened #2528 "Duplicating Comment Based Help"
### System Details

### VSCode version: 1.42.1 c47d83b293181d9be64f27ff093689e8e7aed054 x64

### VSCode extensions:
eamodio.gitlens@10.2.1
Equinusocio.vsc-community-material-theme@1.4.1
Equinusocio.vsc-material-theme@32.5.0
equinusocio.vsc-material-theme-icons@1.1.4
johnpapa.vscode-peacock@3.5.0
ms-dotnettools.csharp@1.21.13
ms-vscode.powershell@2020.3.0
ms-vsliveshare.vsliveshare@1.0.1711
ms-vsli

[2020-03-06 22:13] adamdriscoll opened #2529 "Interactive Console Stops Responding"
### System Details

System Details Output
[code]

### Issue Description

The PowerShell Interactive Console no longer accepts keystrokes sometimes. It's very hit or miss but has happened to me a couple of times today.

#### Expected Behaviour

The interactive console continues to function.

#### Actual Behaviour

Typing doesn't have any effect on the interactive console.

https://recordit.co/Ral9d

[2020-03-06 22:14] JustinGrote commented on #298
@SeeminglyScience You're right! For some reason I thought it was working on uncaught exceptions only.
![image](https://user-images.githubusercontent.com/15258962/76126667-8f3b4680-5fb4-11ea-9374-78364fddcfb1.png)

Sounsd like more of a upstream (Powershell) bug to me, since ErrorActionPreference = 'stop' doesn't stop on uncaught exceptions.

[2020-03-06 22:19] rkeithhill commented on #2529
This has happened to me too on 2020.3.0.

[2020-03-06 22:26] TylerLeonhardt commented on #2529
Have either of you been using the Preview extension? Curious if you ever saw that behavior then.

You could still try the PowerShell Preview extension which is currently slightly behind Stable...

I want to try and narrow down when this problem started happening.

[2020-03-06 22:42] spidey323 commented on #2526
I dont see the link. The hang is more when the extension is trying to be loaded, that's what happens.
Please let me know how to get the VSIX. I need to get up and running asap. thanks

[2020-03-06 22:43] spidey323 commented on #2526
I've already tried the Powershell preview ext and get the same behavior.

[2020-03-06 22:47] TylerLeonhardt commented on #2526
The link is in this comment: https://github.com/PowerShell/vscode-powershell/issues/2526#issuecomment-595916638

[2020-03-06 22:54] rjmholt commented on #2526
[Link](https://github.com/PowerShell/vscode-powershell/files/4299919/psvsix.zip)

[2020-03-06 22:57] rjmholt commented on #2528
Given how difficult PSSA has been with comment help generation, I almost wonder if we should just write out own comment help generator

[2020-03-06 22:59] rjmholt commented on #2527
I seem to recall discussing this when the feature was implemented, but we decided to let the work be request before we did it.

I think it's a fair ask.

[2020-03-06 23:12] happywino commented on #2526
I started seeing the same issue today, possibly right after VSCode autoupdated.  If I run the launch command from a regular command prompt here's the error I get;

Import-Module : The module manifest 'C:\Users\ad_jcphilli\.vscode\extensions\ms-vscode.powershell-2020.3.0\modules\Powe
rShellEditorServices\PowerShellEditorServices.psd1' could not be processed because it is not a valid Windows
PowerSh

[2020-03-06 23:23] spidey323 commented on #2526
@rjmholt  Where do I place the psvsix.zip so code can unzip and install?

[2020-03-06 23:38] happywino commented on #2526
After a little more investigation I think the issue might be the use of $PSEdition in .vscode\extensions\ms-vscode.powershell-2020.3.0\modules\PowerShellEditorServices\PowerShellEditorServices.psd1

According to [this source](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_language_modes?view=powershell-7);

By default, only the following variables are perm

[2020-03-06 23:59] SeeminglyScience commented on #298
@JustinGrote Yeah for sure, there's still great value in enabling "All Exceptions".

[2020-03-07 00:29] TylerLeonhardt commented on #2528
I think if this bug shows up more often we should consider that

[2020-03-07 00:50] rjmholt commented on #2526
You need to unzip it yourself and then install the VSIX in code or through PowerShell.

Try running this in PowerShell:
[code]

[2020-03-07 00:52] rjmholt commented on #2526
@happywino you're using PowerShell 4, which [the PowerShell extension no longer supports](https://github.com/PowerShell/vscode-powershell/issues/1310)

[2020-03-07 00:59] rjmholt commented on #298
Do you mean `$ErrorActionPreference = 'Stop'` doesn't stop on *caught* exceptions?

If so, what really happens is that it does "Stop" (by which I mean throw a terminating error), but then that error is caught.

To change the behaviour of `$ErrorActionPreference = 'Debug'` I feel that's more of a consistency break, since unlike other error actions it would need to search up the stack to determine i

[2020-03-07 01:26] SeeminglyScience commented on #298
My thought here is to add something to the compiler to emit something when processing a `TryStatementAst` that would allow tracking this easier.  Still pretty complex but would be incredibly useful.

[2020-03-07 05:54] happywino commented on #2526
Ouch, so what version of the extension should I install and use given I
have no control of the powershell version installed on my environment?

On Fri, Mar 6, 2020, 4:52 PM Robert Holt <notifications@github.com> wrote:

[2020-03-07 12:37] utw4376 opened #2530 "conhost.exe remains after exiting VS Code"
Issue Type: <b>Bug</b>

I am using VS Code w/ PowerShell module. Since updating to 2020.3 and released version of PS 7.0 after closing VS Code a conhost.exe process keeps running.

Steps to reproduce:
1. Start VS Code. (As I have PS as default language a PS 7.0 session gets started)
2. File -> Exit
3. conhost.exe is still running

When using PowerShell 5.1 instead of PS 7.0 conhost.exe terminates

[2020-03-07 15:25] adamdriscoll commented on #2529
I wasn't using the preview extension day-to-day. I installed it a couple of times but ran into issues so I was on the previous stable. So this is the first I'm seeing this behavior.

I can try the preview to see if I see it there.

[2020-03-07 15:53] adamdriscoll commented on #2529
I just ran into this again. This time, I realized something was wrong when I couldn't start the debugger. The terminal is also stuck. Here's my log. I have diagnostic logging enabled but I don't see any diagnostic level stuff so I'm not sure what's up with that.

[code]

The last warning there was like 15 minutes before I actually encountered the problem.

[2020-03-07 15:54] adamdriscoll commented on #2529
Here's the editor service log.

[log.txt](https://github.com/PowerShell/vscode-powershell/files/4302086/log.txt)

[2020-03-07 19:08] TylerLeonhardt commented on #2526
In the extensions pane click on the gear:
![image](https://user-images.githubusercontent.com/2644648/76150838-4e4e3b00-6063-11ea-852b-551c2ada14b5.png)
Then click "Install another version..."

and choose the one right before the last one.

That said...

I would highly recommend pushing on those that do have control to upgrade to Windows PowerShell 5.1 (in-place upgrade)...

or better yet, [go get

[2020-03-07 19:14] PrzemyslawKlys opened #2531 "Have Session Menu also change default shell for VS Code's integrated terminal"
Issue Description
=====

Is this an oversight or by design?

![image](https://user-images.githubusercontent.com/15063294/76150975-14efec80-60b0-11ea-822d-603d82c645d2.png)

Even though the PowerShell Integrated Console is PS 7, PowerShell isn't.

Attached Logs
=====

Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell%23reporting-problems) about
capturing and se

[2020-03-07 19:18] TylerLeonhardt commented on #85
Some of this is covered in https://docs.microsoft.com/en-us/powershell/scripting/components/vscode/how-to-replicate-the-ise-experience-in-vscode?view=powershell-7

and a tad in https://docs.microsoft.com/en-us/powershell/scripting/components/vscode/using-vscode?view=powershell-7

but it would be nice to have one place

[2020-03-07 19:34] TylerLeonhardt commented on #2531
That is provided by VS Code, not the PowerShell extension. It's configurable though via the command pallet.

![image](https://user-images.githubusercontent.com/2644648/76151223-5c05bf80-6067-11ea-9535-b1bdd928ac4f.png)

[2020-03-07 19:57] PrzemyslawKlys commented on #2531
But is it possible to bind it so it switches when you switch? I guess from my perspective it would be cool to have?

[2020-03-07 20:32] TylerLeonhardt commented on #2531
I see. I guess we could do that but I would want more user feedback saying they want that... and it would need to be configurable because I'm not sure everyone would want that behavior.

[2020-03-07 22:39] rjmholt commented on #2530
This is https://github.com/microsoft/vscode/issues/50308.

Also discussed in https://github.com/PowerShell/PowerShell/issues/11542.

[2020-03-07 22:40] rjmholt commented on #2531
Yeah I could see us getting a whole bunch of cranky bug reports about that

[2020-03-08 08:24] TobiasPSP opened #2532 "Parameter and argument completion broken"
Issue Type: <b>Bug</b>

When a function parameter uses a PS-defined enum as datatype, parameter and argument completion are broken *on the editor pane where the function was defined* (even though the syntax displays correctly). The issue is not present on *other* opened editor panes or the console.

Try this code:

[code]
## Expected result:
When entering "Test-It -" and pressing `CTRL`+`SPACE`, t

[2020-03-08 09:53] TylerLeonhardt commented on #2532
There's a bug in PowerShell itself that is causing this experience. A simple repro:

[code]
no results...

but then if we define the enum ahead of time, it works:

[code]

Gives us:
[code]

[2020-03-08 10:01] TobiasPSP commented on #2532
Great find. I can confirm that this apparently seems to be a long-standing bug in PowerShell as it can be repro'ed in WPS as well.
So next step: what's the best way to carry this over to the PS team? Should I open a new case?

[2020-03-08 10:06] TylerLeonhardt commented on #2532
@SteveL-MSFT can you transfer this issue into the PowerShell/PowerShell repo please.

Unfortunately, I think the same behavior will happen with PowerShell classes as well...

[2020-03-08 10:07] TobiasPSP commented on #2532
BTW I noticed earlier that the attribute [ArgumentCompleter({...})] has the same issue:

THIS (fails):

[code]
VERSUS THIS (works):

[code]

Seems to be the same underlying issue in PowerShell.

[2020-03-08 10:08] TylerLeonhardt commented on #2532
Does the ISE work fine? Maybe we need to consider borrowing the code from the ISE... though that could be fixing one bug, and exposing many more...

[2020-03-08 10:18] TobiasPSP commented on #2532
No in fact with the attribute example, this first surfaced in the ISE. Don't know why they moved back to ISE in the latter case, it is editor-agnostic.

It must be related to how PowerShell parses the code. There *is* a slight difference: with the enum example, this messes up parameter completion altogether. With the completer attribute, only the completion results are messed up.

Should I open a

[2020-03-08 10:37] TobiasPSP commented on #2532
I moved the issue over to the powershell team: https://github.com/PowerShell/PowerShell/issues/12079

For *VSCode* this is definitely no issue. Thanks for looking into this Tyler! Your test approach using tabexpansion2 directly was very helpful.

[2020-03-08 10:45] #2532 closed

[2020-03-08 11:22] mrboring commented on #2522
I'm also getting a slow down on auto-complete. Even with a project containing only a few files.

[2020-03-08 15:40] lincolnzocateli commented on #2526
Guys, I noticed that the PowerShell extension was giving an error when opening a .ps1 file, so I uninstalled it, closed vscode and tried to install again, I couldn't, now it's not possible to install, see the generated log.
[VSIXInstaller_0b284ba3-a28e-4f61-a104-2a0db64c4bd2.log](https://github.com/PowerShell/vscode-powershell/files/4303437/VSIXInstaller_0b284ba3-a28e-4f61-a104-2a0db64c4bd2.log)

[2020-03-08 15:59] TylerLeonhardt commented on #2532
Thanks for doing that, Tobias!

[2020-03-08 17:34] ili101 opened #2534 "Nested errors in debugging not shown in console"
Issue Type: <b>Bug</b>

Example from https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_trap?view=powershell-7#using-the-break-and-continue-keywords
[code]
1. Save example to file (Optional).
2. Run with F5.

Expected output (and is working correctly on 2020.2.0):
Error trapped + Error
![image](https://user-images.githubusercontent.com/6960531/76167850-737d9f0

[2020-03-08 17:44] tonipohl commented on #2217
Hi,
I ran into the same issue yesterday, the issue suddenly appeared. I could no longer run PS commands in VSCode with the PS extension, although I tried to reconfigure it properly. My solution was to upgrade PS 6.2.x to PS 7.0. Then it worked again.
dotnet tool update --global PowerShell
Tool 'powershell' was successfully updated from version '6.2.3' to version '7.0.0'.
https://docs.microsoft.com

[2020-03-08 18:09] spidey323 commented on #2526
@rjmholt : This appears to be an issue. Do we wait for a fix or what's the next action plan?

[2020-03-08 22:03] alexandair opened #2535 "Enable "ISE Mode" at the workspace scope"
**Summary of the new feature**

At the moment, ISE Mode could be enabled globally, changing the global VSCode settings.
User should be able to enable it at the workspace scope, so that global settings are not changed, and only certain workspace is affected.

[2020-03-09 00:04] TylerLeonhardt commented on #2535
I think this is reasonable. It'd be really easy to add too.

Add to this method:
https://github.com/PowerShell/vscode-powershell/blob/94f362490be029017ecf24d820a03e6a1e1c6bac/src/features/ISECompatibility.ts#L48

and use [this API](https://code.visualstudio.com/api/references/vscode-api#window):
[code]

The phrases I'm not 100% on yet... but it's a very simple code change.

cc @corbob who original

[2020-03-09 07:47] DarkLite1 commented on #2518
Thank you for the reply. But just to be clear, there are no network shares open in my workspace. All files are on the local drive.

[2020-03-09 08:44] HerBenSte commented on #2525
@TylerLeonhardt
No I don't but I tested it right now.

**I basically use:**
"powershell.debugging.createTemporaryIntegratedConsole": true
To make sure I always have a clean script load.
That's working nice so far. But the last update of the PowerShell-Plugin shows this yellow Warning message everytime.

I mean, I can ignore it but if there is a way to disable this message it would be appreciated!

[2020-03-09 10:05] HerBenSte opened #2536 "PowerShell extension - Not signed PowerShell-Files"
Hello,
in my company only signed PowerShell-Files are allowed to use.
Since that I wrote a script which checks all files if they are signed or not.

**In your PowerShell-Extension for VSCode nearly every file is signed but the list below** (please sign those files and update the plugin).
If you need I can upload the simple script to check all PowerShell-Files for future extension releases.

_Maybe

[2020-03-09 12:28] raaaaaymond commented on #1169
Setting `powershell.integratedConsole.showOnStartup` to `false` doesn't seem to work for me. The integrated Powershell terminal still opens. As many others in this thread, I don't want to open an integrated Powershell terminal every time I open the `.ps1` file, I just want intellisense. Any suggestions?

[2020-03-09 13:31] SeeminglyScience opened #2537 "Add a public API to enable add-on extensions"
**Summary of the new feature**

As a writer of a PowerShellEditorServices extension I want to enable users to install a vscode extension containing my module.

I *need* that extension to be able to:

1. Use the integrated console to install the module from the gallery, or provide an additional `PSModulePath`
1. Import the PSES extension module on vscode extension activation

I *want* that extensio

[2020-03-09 14:04] SeeminglyScience commented on #2522
@rjmholt do you know which release of `PackageManagement` had the dead lock fix? And do you know if that's included with anything?

I think I've seen it recently, but didn't look into it past confirming the thread was stuck getting tab completion for `Install-Package`.  Might just be my environment though.

[2020-03-09 15:05] Robbie-sys opened #2538 "Startup fails when incorrect Serilog assembly picked up from the GAC"
System Details Output
[code]

### Issue Description

Hey everyone, running into an issue where I can't execute from the editor.
Powershell works as expected from the terminal.  I've uninstalled and reinstalled the extension as well as Visual Studio Code.  Any help would be greatly appreciated!

[2020-03-09 16:07] rjmholt commented on #2522
[1.4.5](https://github.com/OneGet/oneget/blob/WIP/Changelog.md) I believe

So far as I know, it's only included with PowerShell.

But that is a good recommendation. Try updating `PackageManagement` if you can

[2020-03-09 16:33] SeeminglyScience commented on #2522
Yep I had a copy at the user level that was 1.4.4, that was getting imported instead of the 1.4.6 at the machine level.  Not sure why, I could have sworn it would pull the latest.

It may be worth considering including `PackageManagement` with the extension 😕

[2020-03-09 16:40] soulwiper opened #2539 "Startup fails due to Serilog GAC linking"
After PowerShell Extention updated itself with 2020.3.0 within Visual Studio Code I was getting the following errors:
- Cannot debug or run a PowerShell script until the PowerShell session has started. Wait for the PowerShell session to finish starting and try again.
- Language Startup issue (can not remember the exact error)

Downgrading back to the previous PowerShell Extention version 2020.1.0

[2020-03-09 17:55] TylerLeonhardt commented on #1169
@raaaaaymond

It's working for me. Double check.

You need to uncheck this:
![image](https://user-images.githubusercontent.com/2644648/76242766-74571500-61f4-11ea-84dc-12012046407c.png)

and then restart vscode.

[2020-03-09 18:00] TylerLeonhardt commented on #2525
Sorry, I mean in your user settings. Open your preferences and uncheck this box:

![image](https://user-images.githubusercontent.com/2644648/76243193-2e4e8100-61f5-11ea-96b5-e1fcae5cc524.png)

[2020-03-09 18:00] raaaaaymond commented on #1169
@TylerLeonhardt Yep that's the option that I unchecked. Restarted and all, but the integrated console still shows up whenever I open a `.ps1` file.

My system info is below:

Version: 1.42.1 (user setup)
Commit: c47d83b293181d9be64f27ff093689e8e7aed054
Date: 2020-02-11T14:45:59.656Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

[2020-03-09 18:18] TylerLeonhardt commented on #2534
I can repro this on macOS as well...

![image](https://user-images.githubusercontent.com/2644648/76244613-a6b64180-61f7-11ea-8d62-4104ca957b3d.png)

It only seems to have started occurring in the last update as it doesn't repro in the PowerShell Preview extension

[2020-03-09 18:31] ili101 commented on #2518
I have spent an hour trying to pinpoint the  cause of the problem, it looks like the number of filed in your VSCode open folder dose not effect the problem but the number of subfolders do.
@DarkLite1 how many subfolders do you have?
I can see that with 10,000 subfolders locally it freezes for ~30 seconds and on a network share with 3000 subfolders it freezes for a minute +

[2020-03-09 18:44] TylerLeonhardt commented on #2518
This is very good data @ili101. Thank you for taking the time to provide this

[2020-03-09 18:46] andystumph commented on #2539
Had the same issue. Downgraded until issue is resolved.

[2020-03-09 18:58] Robbie-sys commented on #2538
Update;
Uninstalling PowerShell Extension v2020.3.0 and reinstalling PowerShell Extension v2019.12.0 fixed the issue.

[2020-03-09 19:04] TylerLeonhardt commented on #2538
Thanks for the info! Can you also [attach the logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment) here so we can get a better idea of what's going on?

[2020-03-09 19:06] TylerLeonhardt commented on #2539
Thanks for the info! Can you also [attach the logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment) here so we can get a better idea of what's going on?

[2020-03-09 19:14] TylerLeonhardt commented on #2536
So from this list, we can ignore any in `.\ms-vscode.powershell-2020.3.0\examples` as those are not run... we can also ignore the Plaster stuff since those are a part of a template.

That leaves:
Clear-Host.ps1
InvokePesterStub.ps1

Both of these should be signed.

[2020-03-09 19:20] TylerLeonhardt commented on #2536
InvokePesterStub.ps1 should probably be moved into the PowerShellEditorServices repo - right now it exists in this repo. However there is quite a large PR out refactoring it #2441  so I will wait until that's in to move InvokePesterStub over.

[2020-03-09 19:27] TylerLeonhardt commented on #2526
Can you also [attach the logs for the PowerShell extension](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment) here so we can get a better idea of what's going on?

Please make sure you enable Diagnostic logging:
[code]

[2020-03-09 19:57] Robbie-sys commented on #2538
Logs attached. The issue appears to only happen with the most recent version.
-------------------------------

[vscode-powershell.log](https://github.com/PowerShell/vscode-powershell/files/4308655/vscode-powershell.log)
[StartEditorServices.log](https://github.com/PowerShell/vscode-powershell/files/4308656/StartEditorServices.log)

[2020-03-09 20:00] mmascolino commented on #2526
[1583783706-7a4eb4ff-6b52-4f10-809c-1f499e45a07d1583783704111.zip](https://github.com/PowerShell/vscode-powershell/files/4308668/1583783706-7a4eb4ff-6b52-4f10-809c-1f499e45a07d1583783704111.zip)
I too can reproduce this although there isn't much in the logs despite turning on the diagnostic logging.

[2020-03-09 21:30] rjmholt commented on #2526
@lincolnzocateli those logs look like something Visual Studio might create, which is where the VSIX tries to install itself if you double click on it. How are you installing the PowerShell extension? The best way is to find it in the VSCode marketplace and install it directly by clicking on the install button

[2020-03-09 21:33] rjmholt commented on #2526
@mmascolino that does match the OP's log issue.

Can you try installing [this VSIX](https://github.com/PowerShell/vscode-powershell/files/4299919/psvsix.zip) (you will need to unzip it and then install it into VSCode, disable the PowerShell extension and make sure that one is picked up as `powershell-preview`) and collecting the logs from that?

[2020-03-09 21:37] rjmholt commented on #2526
@spidey323

We currently need more information to reproduce this issue. Without that information, we're unable to fix it, since we haven't been able to reproduce this issue in our environments.

If you're able to install [this VSIX](https://github.com/PowerShell/vscode-powershell/files/4299919/psvsix.zip) and send the same logs to us again, that would help us resolve this issue.

[2020-03-09 21:40] blackberrystorm opened #2542 "Write-host output never shows now"
Issue Type: <b>Bug</b>
Output of Write-Host stopped showing up in visual studio code. Only output on any script is the source file path.

For instance a small snippet of a script that worked before... (Get-Content $Path) | ForEach {Write-Host $_, "-", ([System.Net.NetworkInformation.Ping]::new().Send($_)).Status

Even a simple "hello world" does not work. I removed the powershell extension, added

[2020-03-09 22:01] TylerLeonhardt commented on #2542
@blackberrystorm do you think you could share a screenshot or video of what you're seeing? I can't seem to repro it.

Also, how are you running the snippet of script? In the PowerShell Integrated Console? By using F5? By using F8?

[2020-03-09 22:09] motowilliams opened #2543 "Formatting no longer works"
### System Details

System Details Output
[code]

### Issue Description

Latest version of extension no longer formats scripts

#### Expected Behaviour

It should format the script like it has forever.

#### Actual Behaviour

Nothing happens

### Attached Logs

Follow the instructions in the [troubleshooting docs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#

[2020-03-09 22:30] soulwiper commented on #2539
Hi Tyler.
As requested I zipped the log files but I also attached a word file.  Hope this helps.  I tried to follow the instructions as best I could on your page for providing inforrmation about your environmen.  tPlease let me know if you need anything else.

Regards
Costa Zachariou

    On Monday, 9 March 2020, 14:06:28 GMT-5, Tyler James Leonhardt <notifications@github.com> wrote:

Thanks for t

[2020-03-09 22:33] rjmholt commented on #2539
@soulwiper unfortunately GitHub won't upload email attachments to the comment. If you'd prefer to email the logs directly, try sending them to vscode-powershell@microsoft.com

[2020-03-09 22:34] rjmholt commented on #2543
Hi @motowilliams, can you please attach your logs as described in the last link in your issue description?

[2020-03-09 22:45] TylerLeonhardt commented on #2543
Also your script that wasn't formatted correctly would also be hugely helpful.

[2020-03-09 23:22] rjmholt commented on #2538
[code]

This looks like something to go on!

[2020-03-09 23:54] davesbrown commented on #1586
seems to be loading 7 by default even when changing
"powershell.powerShellDefaultVersion": "C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\powershell.exe"

[2020-03-09 23:55] rjmholt commented on #2538
This is quite mysterious. Perhaps we're picking up the wrong version of a dependency from the GAC?

[2020-03-09 23:55] rjmholt commented on #2539
I'm going to deduplicate this issue to https://github.com/PowerShell/vscode-powershell/issues/2538

[2020-03-09 23:57] rjmholt commented on #2526
I think this is https://github.com/PowerShell/vscode-powershell/issues/2538. Going to use that issue, since there's good info in there

[2020-03-09 23:58] #2530 closed

[2020-03-10 00:14] rjmholt commented on #2397
@olyamusok can you try out this extension package for me and see if the issue persists?

[psvsix.zip](https://github.com/PowerShell/vscode-powershell/files/4309575/psvsix.zip)

It's a zip file, since GitHub won't allow uploading a VSIX directly. To install it, do this:

[code]

[2020-03-10 00:15] rjmholt commented on #2538
@Robbie-sys can you try following the steps in https://github.com/PowerShell/vscode-powershell/issues/2397#issuecomment-596838842 and letting me know if that helps with your issue?

[2020-03-10 00:30] rjmholt commented on #1586
"powershell.powerShellDefaultVersion": "C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe"

The default needs to be specified by name rather than path; try:

[code]

[2020-03-10 00:51] rjmholt commented on #2522
Hmmm, that's an idea, although we'd need to import it differently the way the module path works.

[2020-03-10 01:30] TylerLeonhardt commented on #1586
The original issue is fixed now. If you still see this behavior please let us know.

[2020-03-10 01:30] #1586 closed

[2020-03-10 01:34] TylerLeonhardt commented on #2522
Curious to know if the others in this thread have the same issue. @rkeithhill @mrboring

[2020-03-10 08:05] DarkLite1 commented on #2518
@ili101 thanks for your help in figuring this out, Really appreciate it.

In my workspace there are 3 open folders, the maximum depth of these folders is usually `Prod\scriptName\scriptFile.ps1` and `Prod\scriptName\scriptFile.tests.ps1`. So the levels are not very deep,, same logic for the modules folder. All these files and folders, as said, are to be found on a local drive on the server, no net

[2020-03-10 08:55] mrboring commented on #2522
@TylerLeonhardt, I have two, one is for 5.1:

[code]

### System Details

[code]

### PSModulePath

[code]

[2020-03-10 10:28] ili101 commented on #2518
I made something to help reproduce.
I don't know if this the same source of the problem that @DarkLite1 have as he works locally and with not that meany folders but it could be the same thing maybe amplified by some factor.

1. Download this [GenerateExample2518.ps1.txt](https://github.com/PowerShell/vscode-powershell/files/4311591/GenerateExample2518.ps1.txt), remove the ".txt" and save to a fold

[2020-03-10 11:36] maximpashuk commented on #2110
According to
https://github.com/PowerShell/vscode-powershell/pull/2503
this issue seems to be fixed, so I close it.

[2020-03-10 11:36] #2110 closed

[2020-03-10 12:09] soulwiper commented on #2397
I don't have PowerShell-Insiders (I don't think).  Is that going to be a problem?  How do I tell if I have PowerShell-Insiders?

[2020-03-10 12:10] SeeminglyScience commented on #2522
@mrboring

Huh, that's weird.  What's `[Environment]::Is64BitProcess`?  All of your paths are x64 except this one, might be nothing, but is strange.

[2020-03-10 12:16] mrboring commented on #2522
@SeeminglyScience

[code]

Also:

[code]

[2020-03-10 12:41] SeeminglyScience commented on #2522
Sort of a shot in the dark, but maybe worth changing that entry in your `$env:PSModulePath` to `C:\Program Files\WindowsPowerShell\Modules`.

[2020-03-10 12:42] dorgrin6 opened #2544 "[.NET Global Tool] The integrated shell will not start"
Issue Type: <b>Bug</b>

Just opening vscode.
Extension crashes.
Added the log after looking at the powershell extension logs tab.
Trying to debug any powershell file will trigger the same messages.

Extension version: 2020.3.0
VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summ

[2020-03-10 12:44] mrboring commented on #2522
@SeeminglyScience Thanks for the suggestion. I'll give that a go and let you know how I get on.

That said, the slow down in auto-complete has only started recently. The `PSModulePath` has not changed for some time.

[2020-03-10 12:49] dorgrin6 commented on #2544
I'm not sure why but the extension is trying to load powershell core (pwsh.exe) rather than powershell.exe.

my config file looks like this:
{
    "window.zoomLevel": 1,
    "diffEditor.ignoreTrimWhitespace": false,
    "git.autofetch": true,
    "git.enableSmartCommit": true,
    "editor.fontFamily": "'Cascadia Code',Consolas, 'Courier New', monospace",
    "editor.fontLigatures": true
}

[2020-03-10 13:35] blackberrystorm commented on #2542
@TylerLeonhardt  Thank you for the reply. I appreciate it.

I can send you a screen shot sure. I removed host names from it.  I used this script because it was the first one I ever wrote while starting to learn. A known working script so to speak. XD

![image](https://user-images.githubusercontent.com/48922541/76317197-67442f80-62a1-11ea-8950-bf8394da15ec.png)

The output will be " PS C:\Users\$EN

[2020-03-10 14:13] rjmholt commented on #2397
That VSIX linked above will install “PowerShell Insiders” rather than “PowerShell”. It will appear as a separate VSCode extension. So after you install that VSIX you need to uninstall or disable the “PowerShell” extension and restart VSCode. Then “PowerShell Insiders” will start up

[2020-03-10 14:14] Robbie-sys commented on #2538
Hey @rjmholt - after installing the Powershell preview and disabling the Powershell extension the problem persists.

[StartEditorServices.log](https://github.com/PowerShell/vscode-powershell/files/4312885/StartEditorServices.log)
[vscode-powershell.log](https://github.com/PowerShell/vscode-powershell/files/4312886/vscode-powershell.log)

[2020-03-10 14:16] rjmholt commented on #2147
@maximpashuk is this now solved for you?

[2020-03-10 14:22] rjmholt commented on #2538
@Robbie-sys Can you set the log level to diagnostic in your configuration and grab the logs again? That will help me work out if the reason Serilog is getting the MissingMethodException is that it’s coming from somewhere else

[2020-03-10 14:24] Robbie-sys commented on #2538
@rjmholt  - Oops, please find the new logs attached.

[StartEditorServices.log](https://github.com/PowerShell/vscode-powershell/files/4312920/StartEditorServices.log)
[vscode-powershell.log](https://github.com/PowerShell/vscode-powershell/files/4312921/vscode-powershell.log)

[2020-03-10 15:26] mabead commented on #1673
I installed PowerShell 7 from [here](https://github.com/PowerShell/PowerShell/releases) and it fixed the problem for me.

[2020-03-10 15:36] #2542 closed

[2020-03-10 15:39] rjmholt commented on #2542
@blackberrystorm did you mean to close this? If so, could you say why?

[2020-03-10 15:49] rjmholt commented on #1673
Yeah, this likely means that the issue is what I think it is in https://github.com/PowerShell/vscode-powershell/issues/2538. Resolving the right dependency in .NET Core is much much easier, so we have a well-defined solution that works for PS 6 and 7.

[2020-03-10 15:56] rjmholt commented on #2542
Even if the solution was a simple thing, it might help someone else

[2020-03-10 16:08] blackberrystorm commented on #2542
Sorry about the lack of comment. I forgot to hit send.

Turns out a domain admin changes settings with trust and caused everyone to lose the ability to execute scripts remotely.

[2020-03-10 16:20] rjmholt commented on #2538
Thanks for that!

There it is:

[code]

Compare that to the same line in my log:

[code]

[Here](https://github.com/serilog/serilog-sinks-file/blob/a015038cdba0a38caa4feb73a78bb85ac0a3464b/src/Serilog.Sinks.File/FileLoggerConfigurationExtensions.cs#L241-L258)'s the method we depend on being there and [here](https://github.com/PowerShell/PowerShellEditorServices/blob/ce265d7ed1e58db348b91c8a16679fa

[2020-03-10 16:33] TylerLeonhardt commented on #2397
This does not install PowerShell itself. We're only talking about the PowerShell extension and PowerShell Preview extension. You don't need to install anything else other than that VSIX

[2020-03-10 16:43] rjmholt commented on #2397
Oh wow, rereading my comment I totally see the confusion. Yeah this installs the PowerShell **extension for VSCode**, not PowerShell the program. It will use the normal `powershell.exe`.

[2020-03-10 17:13] soulwiper commented on #2397
Yeah ok,  thank you both.  I am hoping to try it a little later today.  I will let you know.

Sent from my T-Mobile 4G LTE Device

Using Outlook for Android

On Tue, Mar 10, 2020 at 11:43 AM -0500, "Robert Holt" <notifications@github.com> wrote:

This does not install PowerShell itself.

Oh wow, rereading my comment I totally see the confusion. Yeah this installs the PowerShell extension for VSCod

[2020-03-10 17:19] rjmholt commented on #2538
Ok our csproj specified Serilog.Sinkgs.File version 4.1.0, so something seems amiss here

[2020-03-10 18:29] Phatius opened #2545 "Importing Az Module after Integrated Console has loaded any of the Az* modules will results in no exported commands for said module"
### System Details
System Details Output
[code]

### Issue Description

If a PS1 file is opened that contains an Az module reference and then Import-Module Az is called, the Az cmdlets in the PS1 file will no longer work.

#### Expected Behaviour

When importing the Az Module, all Az cmdlets should work
[code]

#### Actual Behaviour

If the module is pre-loaded by the Console, the module will not

[2020-03-10 19:09] rjmholt commented on #2545
I suspect this is the same issue as https://github.com/PowerShell/vscode-powershell/issues/2397.

Can you try out the VSIX in https://github.com/PowerShell/vscode-powershell/issues/2397#issuecomment-596838842 and let us know what happens?

[2020-03-10 19:14] James-Pickett commented on #2544
@dorgrin6 , I just deleted my pwsh.exe and it booted up fine. Obviously, that's not a good long term solution if you still want to have powershell core, but it will get you moving.

[2020-03-10 19:25] rjmholt commented on #2545
Also, this is known not to happen in PS 6 and 7, since we have a particular solution available in .NET Core only

[2020-03-10 19:34] rjmholt commented on #2538
https://github.com/serilog/serilog/issues/1319#issuecomment-499737824

The 2.0.0 assembly version seems to be very much by design...

[2020-03-10 19:45] rjmholt commented on #2544
@dorgrin6 were there any other logs, like `StartEditorServices.log`?

By default, if you have `pwsh.exe` installed, the extension will look for that first. You can change this by setting the `PowerShell Default Version` or clicking on the little version icon in the bottom right and selecting the PowerShell you want from the drop down.

[2020-03-10 19:48] Phatius commented on #2545
@rjmholt - Tried the Preview version zipped in #2397 without any luck. I had the same results as before.

[2020-03-10 19:53] rjmholt commented on #2545
Can you try this one:

[psvsix.zip](https://github.com/PowerShell/vscode-powershell/files/4314486/psvsix.zip)

Just want to double check.

Note you'll need to uninstall the PowerShell extension to make sure the PowerShell Preview extension is the one you're seeing work

[2020-03-10 19:57] rjmholt commented on #2544
Oh you might need to set the log level to Diagnostic in the settings

[2020-03-10 20:42] Phatius commented on #2545
Uninstalled the PowerShell extension and the PowerShell Preview extension. Relaunched VSCode. Installed via the ZIP file. Relaunched VSCode. Issue remained.

Note: I was trying to run my scripts (Pester Tests) via a PowerShell 7 prompt outside of VSCode with similar results.

[code]

I'm having a harder time putting together a simple repo test script for sharing without an attached editor as with

[2020-03-10 21:00] TylerLeonhardt commented on #2538
by design between 2.7 and 2.8... but we're on 4.1 now. Surely that should use an assembly version update

[2020-03-10 21:01] rjmholt commented on #2545
Oh, you're using PS 7! Well this is especially unexpected, since we did a lot of work on this for https://github.com/PowerShell/vscode-powershell/issues/2334

[2020-03-10 21:02] rjmholt commented on #2545
Oh! You seem to be loading from the Windows PowerShell module path though.

Have you started VSCode from WIndows PowerShell and are running PS 7 in it?

[2020-03-10 21:02] rjmholt commented on #2545
If so, try starting VSCode from PS 7

[2020-03-10 21:07] Phatius commented on #2545
I removed all Az modules from Windows Powershell's Module path. Reinstalled the required version via PS7 and all is well: Using both the extension you attached and the stable released version 2020.3.0.

Seems the transition from Windows PowerShell to PS 7 wasn't seemless for me.

Thanks for your assistance, cheers!

[2020-03-10 21:07] #2545 closed

[2020-03-10 21:15] mmascolino commented on #2538
over on #2526 @rjmholt asked to repo with the preview extension so here it is:
[1583874501-afcdef50-8118-4dc4-8e85-97bc2d5ea4661583874498632.zip](https://github.com/PowerShell/vscode-powershell/files/4314816/1583874501-afcdef50-8118-4dc4-8e85-97bc2d5ea4661583874498632.zip)

[2020-03-10 21:30] TheDanishDynamo opened #2546 "Select $variable with double click in editor"
As a developer I want to select a variable including the $ so that I don't have to select it manually by sliding.

When a user double-click a variable, the whole variable including the $ is selected

[2020-03-10 21:33] TylerLeonhardt commented on #2546
[code]

Add this to your settings JSON in VS Code and now your double clicks on a variable names include the dollar sign '$'.

From my tweet:
https://twitter.com/TylerLeonhardt/status/1102749805233737729

[2020-03-10 22:27] TylerLeonhardt commented on #2546
I need to add this to the [ISE compat doc](https://docs.microsoft.com/en-us/powershell/scripting/components/vscode/how-to-replicate-the-ise-experience-in-vscode?view=powershell-6)

[2020-03-10 22:29] TylerLeonhardt commented on #2546
We should also consider this for ISE Mode

[2020-03-10 23:07] rjmholt commented on #2526
@mmascolino after looking at your logs in https://github.com/PowerShell/vscode-powershell/issues/2538#issuecomment-597321559, I can't see any errors there. But it looks like the startup times out before the session file is written (which is pretty strange, since it waits for two minutes and then the session file is written 20 seconds later).

Is there some kind of antivirus or similar on your syst

[2020-03-10 23:56] mmascolino commented on #2526
There is definitely standard issue corporate America AV software running

[2020-03-11 03:05] soulwiper commented on #2397
Even with the preview (psvsix.zip) you requested me to try out I still run into the same problem as before.  I can not debug and language issue prompt poping up.

However I did not an error poping up for a second on the terminal before and with the preview.  I did not think of capturing it.  I have attached it as an jpeg image below.

![PowerShell preview extention error messages before blank term

[2020-03-11 04:23] rjmholt commented on #2526
Ok, sounds like the startup is just too slow. We might be able to increase the timeout

[2020-03-11 06:03] jotrueck opened #2547 "PSIC startup fails due to dot-sourcing in Constrained Language Mode"
### System Details
System Details Output
[code]

### Issue Description

The Powershell Integrated Console Starts with Erroroutput

#### Expected Behaviour

The Powershell Integrated Console Starts without Error

#### Actual Behaviour
Whenever VSC is started with installed Powershell extension it fails

### Attached Logs

[code]

[2020-03-11 06:11] TylerLeonhardt commented on #2521
There's nothing we can really do for this since we rely on TabExpansion2 so I'm going to close this. If you wanna open this in the PowerShell repo I think that would be helpful.

[2020-03-11 06:11] #2521 closed

[2020-03-11 06:12] TylerLeonhardt commented on #2547
This is a duplicate of https://github.com/PowerShell/PowerShellEditorServices/issues/1221.

[2020-03-11 06:20] TylerLeonhardt commented on #572
The whole point of the PowerShell extension is the language server... so I'm going to go ahead and close this.

I think we've come a long way since the original issue was opened. If there's anything else in this thread that you'd like to see still, let us know.

[2020-03-11 06:20] #572 closed

[2020-03-11 06:22] TylerLeonhardt commented on #815
This should all be supported in the latest version of the PowerShell extension so I'm going to close this. Let us know if we missed something!

[2020-03-11 06:22] #815 closed

[2020-03-11 06:23] TylerLeonhardt commented on #691
Hi all, this should be working in the latest extension so I'm going to close this. If you're still seeing the problem - let us know!

[2020-03-11 06:23] #691 closed

[2020-03-11 06:26] TylerLeonhardt commented on #694
Just gave this a try and it's not reproing. It's probably that old PowerShell/PowerShell issue. I'm going to close this but if you still see it let me know!

[2020-03-11 06:26] #694 closed

[2020-03-11 06:27] TylerLeonhardt commented on #703
I'm going to close this now that we have https://github.com/PowerShell/PowerShell/issues/7891 over in the PowerShell repo.

[2020-03-11 06:27] #703 closed

[2020-03-11 06:29] TylerLeonhardt commented on #830
This issue is the expected behavior and I don't think we should change it. The PSIC provides all the language features for the PowerShell extension behind the scenes and we already have a mechanism to hide it at start up if you don't want to see it so I'm going to close this.

If anyone disagrees, please let us know!

[2020-03-11 06:29] #830 closed

[2020-03-11 07:04] TylerLeonhardt commented on #153
I did https://github.com/microsoft/vscode/issues/92433

[2020-03-11 09:07] elrod-johnson commented on #2543
apologies if the format is incorrect.
i wanted to comment on this issue instead of starting a new issue

**System Details**
== PowerShell Details ==
- PowerShell version: 5.1.14409.1018
- Language mode:      FullLanguage

== Environment Details ==
 - OS description: Microsoft Windows 6.3.9600
 - OS architecture: X64
 - Process bitness: 64

.code -v
1.42.1 c47d83b293181d9be64f27ff093689e8e7aed054 x

[2020-03-11 10:59] mrboring commented on #2522
@SeeminglyScience I've done the change you suggested and it doesn't make a difference.

I've had a bit more time to do testing and find that the issue increases the longer you work on a file. I had a test file with 35 line and by the last line there was a small delay (upt to three seconds, not there on earlier lines). If I switch to another file, do some editing, switch back to the original file,

[2020-03-11 13:56] HerBenSte commented on #2525
@TylerLeonhardt
This setting is not set at all in the settings.json even in no settings the checkbox is set (workspace and so on).

**I only set the value:**
"powershell.debugging.createTemporaryIntegratedConsole": true

To make sure everytime I load the PowerShell it's new and no variable are filled with something else before. But since the last update of that extension it takes like 5sec until i

[2020-03-11 15:44] TylerLeonhardt commented on #2543
Aha - @elrod-johnson yours has something very interesting... a stack trace!

[code]

@motowilliams logs didn't have anything useful, I'm afraid. Can you turn on Diagnostic logging and try again?

[code]

My guess is that you both are having the same issue though.

[2020-03-11 15:52] mrboring commented on #2522
I've just experienced auto-complete not working. After about 30 seconds I gave up and typed the text. At the same time, I noticed that document formmating stopped working.

[2020-03-11 17:01] BinaryWizard904 opened #2548 "Nested Errors Are Not Output During Debugging"
Issue Description
=====
If you debug a script containing nested error handling, any errors thrown by a nested function do not print to the integrated terminal, regardless of ErrorAction preference.  Instead, such errors stop execution but do not print to console.

This behavior differs from the behavior of both a standalone powershell terminal, and the behavior of the Integrated Terminal if the sc

[2020-03-11 18:35] SydneyhSmith commented on #2548
Thanks @BinaryWizard904 looks like it is probably the same issue as #2534 we are investigating the cause.

[2020-03-11 18:39] SydneyhSmith commented on #2544
@dorgrin6 what version of the .NET global tool are you using? to find this run:
`C:\Users\dogrinsh\.dotnet\tools\pwsh.exe -v`

[2020-03-11 18:45] rjmholt commented on #2547
See also https://github.com/PowerShell/PowerShellEditorServices/issues/754

[2020-03-11 18:46] rjmholt commented on #2547
https://github.com/PowerShell/vscode-powershell/issues/606

[2020-03-11 18:55] rjmholt commented on #2529
@adamdriscoll what PackageManagement version do you have installed? Can you try updating it past 1.4.5 and see if this continues?

[2020-03-11 18:58] adamdriscoll commented on #2529
I have 1.4.6 installed (with a bunch of others, apparently)

[code]

[2020-03-11 19:00] TylerLeonhardt commented on #2537
I guess today you could throw your module into the bundled module path as a workaround.

[2020-03-11 19:10] #2539 closed

[2020-03-11 19:12] #2548 closed

[2020-03-11 19:31] TylerLeonhardt commented on #2525
Fix out for this ^

[2020-03-11 20:20] #2397 closed

[2020-03-11 21:01] SeeminglyScience commented on #2537
Yeah that's something.  That would at least take away the burden of updating away from the user.  Not sure if that's an implementation detail we'd want to encourage folks to depend on though.

Also that, and also the setting to force imports (if we have/had it) would have a lot of timing issues.  Especially if both extensions are starting, and mine needs to update or something.  Ideally it would b

[2020-03-11 21:03] SeeminglyScience commented on #2522
@mrboring try this:

[code]

Check which version you're getting when you do that

[2020-03-11 21:03] alfredmyers commented on #2544
I'm seeing this on Ubuntu 18.04 as well.
Same versions of vscode and and extension as OP.
PSVersion: 6.2.3.

[2020-03-11 21:11] rjmholt commented on #2544
This is https://github.com/PowerShell/vscode-powershell/issues/2158.

Older versions of the PowerShell dotnet global tool have a bug in them where arguments are not processed properly, breaking our startup invocation.

Please update your PowerShell version to 7 to enable this, or configure the PowerShell extension to use a non-global tool installation like:

[code]

[2020-03-11 21:17] #2525 closed

[2020-03-11 21:21] TylerLeonhardt commented on #2537
Totally agree. Just wanted to unblock you at least since I'm not sure when we'll have the time to do this work. 😅 Plus, when has an implementation detail stopped you in the past 😉

[2020-03-11 22:48] rjmholt commented on #2534
Started looking into this, and there's definitely a race condition at work here; in some debugging sessions, choosing the right breakpoints actually gets the errors to print.

We correctly catch the `RuntimeException` and process it [here](https://github.com/PowerShell/PowerShellEditorServices/blob/47d45630dd1a21f42b2f0a32171427f7746c6c35/src/PowerShellEditorServices/Services/PowerShellContext/Pow

[2020-03-11 23:24] rjmholt commented on #2529
If you run `import-module PackageManagement -passthru` in the integrated console it should tell you which is being used there

[2020-03-11 23:48] adamdriscoll commented on #2529
It's using 1.4.6

[code]

[2020-03-12 00:13] #2534 closed

[2020-03-12 00:52] dgancho commented on #2544
I did update to PowerShell 7, and the issue still existed. Here is the workaround that worked for me:
1. Exit VS Code
2. Rename C:\Program Files\PowerShell to  C:\Program Files\PowerShell_
3. Open VS Code and wait for PS terminal to start. It should start v 5.1 now.
4. Click on the PS version icon (bottom right), and Switch to: Windows PowerShell (x86)
5. Once loaded, click on the icon again and S

[2020-03-12 00:56] rjmholt commented on #2544
@dgancho can you share any information about the crash you were seeing?

[2020-03-12 00:59] dgancho commented on #2544
I did not look into logs, and nothing crashed, it was just hanging at
 =====> PowerShell Integrated Console <=====
I realized this was pwsh.exe, so above steps were to force it load from powershell.exe.
Let me know if want any further info while I ma at my desktop right now

[2020-03-12 01:02] TylerLeonhardt commented on #2544
I think the .NET global tool is significantly slower than the MSI so it might be that you didn't wait long enough, possibly.

[2020-03-12 01:05] dgancho commented on #2544
I did leave it for hours :) And can repro again by switching back to PowerShell (x64). It never loads
![image](https://user-images.githubusercontent.com/9956329/76477508-d06f9400-63c2-11ea-9b0f-9430c3d8de16.png)

[2020-03-12 01:35] TylerLeonhardt commented on #2544
Thanks for the info! Can you also [attach the logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment) here so we can get a better idea of what's going on?

[2020-03-12 02:40] alfredmyers commented on #2544
Thanks @rjmholt .

Updating to PowerShell 7 did the trick for me:

[code]

[2020-03-12 03:05] SeeminglyScience commented on #2537
A whole lot more these days 😛 Now if it worked without timing issues and saved the user from having put something their profile... that'd be a different story 🙂

If we all agree this is desired then I'll implement it.

[2020-03-12 03:25] elrod-johnson commented on #2543
i just tried formatting this file and saw the same response. i.e., no formatting.
**E:\__FVHS\LDAP_Users_CN.ps1**
do you want to see the logs for that?

[2020-03-12 12:26] bvbeek commented on #2529
Same issue here with version 1.0.0.1 of PackageManagement
Several days the console is unusable and F8 and F5 also not working. Need to reload window.

[2020-03-12 12:36] mrboring commented on #2522
@SeeminglyScience

[code]

I notice that, since changing the `PSModulePath` as you suggested above, a new version (1.3.1) of the `PackageManagement` module has appeared:

[code]

I've got the following in my settings:

[code]

I'll leave the extended logging on until I come across the issue. Then I'll post the logs here.

[2020-03-12 13:06] alfredmyers commented on #2544
@TylerLeonhardt

Can you elaborate on that?
Is it slower at installation time or at invocation time?
If it is slower at invocation time, then those sensitive to performance may want to choose among the other installation methods described in the docs referenced from [Installing various versions of PowerShell](https://docs.microsoft.com/powershell/scripting/install/installing-powershell)

[2020-03-12 13:26] olyamusok commented on #2397
@rjmholt apologies for delayed response, just saw the tag. Glad @soulwiper  else was able to test.

[2020-03-12 13:45] taipva opened #2549 "Formatter does not run properly when saving <filename> -hangs on Running Powershell formatter"
Issue Type: <b>Performance Issue</b>

Formatter hangs when saving file with the message Saving 'filename': Running "PowerShell" Formatter

Extension version: 2020.3.0
VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820

[2020-03-12 15:28] TylerLeonhardt commented on #2544
Significantly was an exaggeration. 😅

The MSI bits are optimized for Windows because it can only ever be installed on Windows.

The .NET global tool contains stuff that truly runs on every platform and so it doesn't have such optimizations.

You can see the difference at startup but not usually anywhere else.

[2020-03-12 17:05] TylerLeonhardt commented on #2549
Thanks for the info! Can you also [attach the logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment) here so we can get a better idea of what's going on?

Also, the script that has the formatting problem would be very helpful.

This could be a dupe of #2543

[2020-03-12 17:16] soulwiper commented on #2397
@TylerLeonhardt and @rjmholt and @olyamusok is there a solution found to the dilemma of not been able to debug and the language issue when using PowerShell Extention 2020.3.0?

[2020-03-12 17:24] rjmholt commented on #2397
@olyamusok I believe @soulwiper is experiencing a different issue, which it turns out isn't fixed by this. We're going to try a fix for your issue in the next preview release

[2020-03-12 17:36] rjmholt commented on #2544
@dgancho I think you're seeing a different problem. We're currently tracking the non-specific startup issues in https://github.com/PowerShell/vscode-powershell/issues/2526, and keeping this one focused on .NET global tool issues.

It's slower to start up because it can't be cross-genned. This means it must be interpreted a slower way from .NET IL when it starts. This might impact the extension's s

[2020-03-12 17:45] rjmholt commented on #2529
@bvbeek you'll need to upgrade PackageManagement. Older versions of it have an issue that cause deadlocks when working in PSES. We spent some time looking into it and it wasn't possible to mitigate from PSES; instead @SeeminglyScience fixed the underlying issue in PackageManagement.

Beyond that though it does sound like there's another issue in the extension somewhere, but we haven't been able to

[2020-03-12 17:52] rjmholt commented on #2543
E:__FVHS\LDAP_Users_CN.ps1

Ok, that's useful information

[2020-03-12 17:53] TylerLeonhardt commented on #2529
From @adamdriscoll's logs:

[code]

[2020-03-12 18:10] TylerLeonhardt commented on #2529
There are about 300 of those in his logs. Also a result of the `signatureHelp` message.

[code]

[2020-03-12 19:06] TylerLeonhardt commented on #2543
@elrod-johnson yes logs would be helpful! We'll be pushing an update to the preview version of the extension (next week likely) that has some more logging so we can better diagnose this issue.

[2020-03-12 19:38] rjmholt commented on #2543
[psvsix.zip](https://github.com/PowerShell/vscode-powershell/files/4326125/psvsix.zip)

@motowilliams @elrod-johnson can you install this VSIX with the following steps:

- Expand archive to get the VSIX
- `code --install-extension ./PowerShell-insiders.vsix`
- Disable the PowerShell extension in VSCode and ensure the PowerShell Preview extension is now installed
- Restart VSCode

I've added some l

[2020-03-12 19:51] SydneyhSmith commented on #237
Going to close this issue as we are improving the speed Find/Install from the PowerShellGet side

[2020-03-12 19:51] #237 closed

[2020-03-12 19:52] #319 closed

[2020-03-12 20:18] mmascolino commented on #2526
Is there something I should be investigating?  Is there any good reason why the startup might be taking so long?

[2020-03-12 20:49] rjmholt commented on #2526
We've certainly seen some AV programs interrupt startup and seriously impact the time it takes.

If you can give this VSIX a try, it has an extended startup time:
[psvsix.zip](https://github.com/PowerShell/vscode-powershell/files/4326490/psvsix.zip)

You'll need to:

- Disable the PowerShell extension
- Expand the archive
- `code --install-extension ./psvsix/PowerShell-insiders.vsix`
- Restart VSC

[2020-03-12 21:04] SydneyhSmith commented on #2537
Thanks @SeeminglyScience, can you clarify briefly what APIs you are planning to implement? Feel free to open a PR :smile:

[2020-03-12 21:08] SydneyhSmith commented on #2522
@mrboring we looked through your logs and are working on a fix that will hopefully be available in our next preview release, thanks!

[2020-03-12 21:24] SydneyhSmith commented on #2162
Closing as fixed by PowerShell/PowerShell#10574

[2020-03-12 21:24] #2162 closed

[2020-03-12 21:26] SydneyhSmith commented on #2157
@itfranck we recently published an update to our extension which has addressed a number of underlying architectural issues, would you mind giving it a try and letting us know if you are still hitting this issue?

[2020-03-12 21:39] SydneyhSmith commented on #1118
@weinand we recently published an update to our extension which has addressed a number of underlying architectural issues, would you mind giving it a try and letting us know if you are still hitting this issue?

[2020-03-12 23:16] animehunter123 commented on #2496
Thank you, I wanted to say thank you so much for implementing this guys. You guys are awesome, I confirmed the latest version now has this fixed.

(Future dream request, can you guys make a addon called "vscode-bash" that is similar to the "vscode-powershell" addon? Currently, there is not a bash equivelant to this addon, and it would be my dream to have a addon like that?)

Kind regards, and than

[2020-03-12 23:59] rjmholt commented on #2496
Glad to hear it's fixed.

Unfortunately, being on the PowerShell team, our mandate is only for PowerShell. You might like something like [this](https://marketplace.visualstudio.com/items?itemName=mads-hartmann.bash-ide-vscode) (not an endorsement, just the first promising search result).

[2020-03-13 00:00] #2496 closed

[2020-03-13 00:12] dgancho commented on #2544
@TylerLeonhardt I attach 2 sets of Diagnostic logs (same machine)
v5.1: when `"powershell.powerShellDefaultVersion": "Windows PowerShell (x64)"`
and
v7.0: when `"powershell.powerShellDefaultVersion": "PowerShell (x64)"`

`dotnet tool update powershell -g` did not help. The issue persists and is reproable every time when I switch to v7.0.

[v7.0.zip](https://github.com/PowerShell/vscode-powershell/

[2020-03-13 00:22] dgancho commented on #2544
And here is the crash, if I Ctrl+C in the _hanging_ the Terminal:

![image](https://user-images.githubusercontent.com/9956329/76578480-f742ce80-6485-11ea-8bec-14ebca6dc693.png)

[2020-03-13 00:48] TylerLeonhardt commented on #2522
Can you all give the [PowerShell Preview](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) extension a try? We just did a release of it.

Don't forget to disable the regular PowerShell extension for VS Code when you enable the PowerShell Preview extension for VS Code

[2020-03-13 00:48] TylerLeonhardt commented on #2526
Can you all give the [PowerShell Preview](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) extension a try? We just did a release of it.

Don't forget to disable the regular PowerShell extension for VS Code when you enable the PowerShell Preview extension for VS Code

[2020-03-13 00:49] TylerLeonhardt commented on #2543
Can you all give the [PowerShell Preview](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) extension a try? We just did a release of it.

Don't forget to disable the regular PowerShell extension for VS Code when you enable the PowerShell Preview extension for VS Code

[2020-03-13 00:49] TylerLeonhardt commented on #2529
Can you all give the [PowerShell Preview](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) extension a try? We just did a release of it.

Don't forget to disable the regular PowerShell extension for VS Code when you enable the PowerShell Preview extension for VS Code

[2020-03-13 00:49] TylerLeonhardt commented on #2544
Can you all give the [PowerShell Preview](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) extension a try? We just did a release of it.

Don't forget to disable the regular PowerShell extension for VS Code when you enable the PowerShell Preview extension for VS Code

[2020-03-13 00:50] TylerLeonhardt commented on #2397
Can you all give the [PowerShell Preview](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) extension a try? We just did a release of it.

Don't forget to disable the regular PowerShell extension for VS Code when you enable the PowerShell Preview extension for VS Code

[2020-03-13 00:50] TylerLeonhardt commented on #2538
Can you all give the [PowerShell Preview](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) extension a try? We just did a release of it.

Don't forget to disable the regular PowerShell extension for VS Code when you enable the PowerShell Preview extension for VS Code

[2020-03-13 00:51] TylerLeonhardt commented on #2518
Can you all give the [PowerShell Preview](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell-Preview) extension a try? We just did a release of it.

Don't forget to disable the regular PowerShell extension for VS Code when you enable the PowerShell Preview extension for VS Code

[2020-03-13 01:05] dgancho commented on #2544
Just did, same thing same exception, logs attached
[v7.0-ext_preview.zip](https://github.com/PowerShell/vscode-powershell/files/4327348/v7.0-ext_preview.zip)

![image](https://user-images.githubusercontent.com/9956329/76580037-a930c980-648b-11ea-9a22-1a8b725cb94b.png)

[2020-03-13 01:15] rjmholt opened #2554 "Deadlock in abort execution"
From https://github.com/PowerShell/vscode-powershell/issues/2544#issuecomment-598486319.

See also https://github.com/PowerShell/vscode-powershell/issues/2544#issuecomment-598488705.

Likely related to https://github.com/PowerShell/vscode-powershell/issues/2508

Migrating @dgancho's issue here

[2020-03-13 01:16] rjmholt commented on #2544
@dgancho I'm migrating your issue to https://github.com/PowerShell/vscode-powershell/issues/2554, since it's unrelated to the .NET global tool startup crash

[2020-03-13 01:27] MarkKharitonov opened #2555 "Running Save Participants dialog is hanging on save and preventing the script from saving"
Issue Description
=====

Saving a ps1 script opens a "Running Save Participants ..." dialog that just hangs. Saving does not proceed until the dialog is closed.

Attached Logs
=====

[logs.zip](https://github.com/PowerShell/vscode-powershell/files/4327410/logs.zip)
<img width="692" alt="2020-03-12 21_26_04-Clipboard" src="https://user-images.githubusercontent.com/489792/76581011-4d286e00-64a8-11ea

[2020-03-13 01:40] TylerLeonhardt commented on #2555
This is very strange... a quick search says it might be a vscode bug: https://github.com/search?q=%22Running+Save+Participants%22&type=Code

[2020-03-13 01:49] MarkKharitonov commented on #2555
Another quick search yields this - https://github.com/microsoft/vscode/issues/90542
Which is closed for they think it is extensions.
Indeed, without any extensions it does not seem to occur. I have only one extension - Powershell.

[2020-03-13 02:25] rjmholt commented on #2555
Do you have format on save enabled?

[2020-03-13 11:14] elrod-johnson commented on #2543
logs running **ms-vscode.powershell-preview@2020.3.0**

.code --list-extensions --show-versions
aws-scripting-guy.cform@0.0.24
bmewburn.vscode-intelephense-client@1.3.11
DotJoshJohnson.xml@2.5.0
esbenp.prettier-vscode@3.20.0
felixfbecker.php-debug@1.13.0
felixfbecker.php-intellisense@2.3.14
formulahendry.code-runner@0.9.17
lonefy.vscode-JS-CSS-HTML-formatter@0.2.3
ms-azuretools.vscode-azurefunctio

[2020-03-13 11:27] scriptingstudio commented on #2518
Disabled regular PowerShell ext and enabled Preview ext. Folding/unfolding problem gone.

[2020-03-13 13:39] adamdriscoll commented on #2529
Installed. I've got logging and all that jazz enabled and will upload anything relevant when\if I run into the issue.

[2020-03-13 14:23] adamdriscoll opened #2556 "Code Collapsing is in the wrong place"
### VSCode version: 1.42.1 c47d83b293181d9be64f27ff093689e8e7aed054 x64

### VSCode extensions:
eamodio.gitlens@10.2.1
Equinusocio.vsc-community-material-theme@1.4.1
Equinusocio.vsc-material-theme@32.5.0
equinusocio.vsc-material-theme-icons@1.1.4
johnpapa.vscode-peacock@3.6.0
ms-dotnettools.csharp@1.21.14
ms-vscode.powershell@2020.3.0
ms-vscode.powershell-preview@2020.3.0
ms-vsliveshare.vsliveshar

[2020-03-13 14:25] billcumming opened #2557 "System.IO.File functions behave differently in VSCode vs PS ISE"
I discovered much to my surprise that System.IO.File functions like Exists, WriteAllLines, Delete, ReadAllLines et al. behave DIFFERENTLY in VSCode Powershell Integrated Console versus the PowerShell ISE.

VSCode IGNORES any calls to Set-Location (or the DOS equivalent "cd") and the IO.File functions seem to believe that the current working directory is %USERPROFILE% = C:\Users\username. So if you

[2020-03-13 15:27] SeeminglyScience commented on #2557
This behavior is consistent with the PowerShell console.  Related issue (and explanation): PowerShell/PowerShell#9829

[2020-03-13 15:39] bvbeek commented on #2529
Installed and testing right now

[2020-03-13 16:11] TylerLeonhardt commented on #2529
If anything, we've added more logging which will help us diagnose better

[2020-03-13 16:52] billcumming commented on #2557
The explanation is fine for what it is, but my issue is that VS Code and PS ISE execute the SAME CODE differently.

I can see how e.g. the .Net functions would have a different concept of "current directory" from the PowerShell Set-Location cmdlet, but this should not change when you run it in different environments. That frightens me.

Unless of course there is something inherent in the VS Code e

[2020-03-13 16:53] rjmholt commented on #2543
@elrod-johnson can you try running the steps in https://github.com/PowerShell/vscode-powershell/issues/2543#issuecomment-598378220 as well.

I put together the extension in that comment to log the formatting issue better so that we might be able to trace the null-ref exception

[2020-03-13 17:28] SeeminglyScience commented on #2557
To clarify, I mean that the ISE is inconsistent with the behavior of the PowerShell console.  So developing in the ISE and then actually invoking in `powershell.exe/pwsh` will cause the same confusion as ISE to this extension.

Yeah I agree. I don't know the reasons behind the decision to make the ISE work differently than the console.  If VSCode does the same thing though, that just makes the scr

[2020-03-13 18:14] adamdriscoll commented on #2529
So I still haven't run into the issue where everything locks up. That said, I have just run into an issue where I can no longer start the debugger and IntelliSense doesn't work.

Checking on the logs, I noticed this.

![image](https://user-images.githubusercontent.com/1256531/76648250-f2345c80-6523-11ea-9fb8-90b9abc92f73.png)

They pretty much all end the same:

[code]

[log.txt](https://github.co

[2020-03-13 18:21] adamdriscoll commented on #2529
I must have a magical file because now I can debug it once and it always gets into the state where it can no longer debug.

[2020-03-13 18:22] SeeminglyScience commented on #2557
Actually now that I check, the ISE doesn't seem follow `Set-Location`/`cd` for me.  I think it's just the shortcut you're using.

[2020-03-13 18:26] SeeminglyScience commented on #2529
@adamdriscoll Can you type in the integrated console? What happens when you type a command and hit enter? Does it invoke the command or hang?

[2020-03-13 18:59] billcumming commented on #2557
Oh wow. I didn't know that even the ISE is not consistent with the PS console!!

I agree using Resolve-Path or $PSScriptRoot or specifying a Fully Qualified Path would all solve this issue. Now that I KNOW this affects all .Net function calls I can be vigilant.

And it sounds very possible my invocation of the PS ISE could be involved here.

But good Lord I don't dare trust any of my existing scri

[2020-03-13 19:01] #2557 closed

[2020-03-13 19:02] TylerLeonhardt commented on #2557
@SeeminglyScience thank you so much for helping @billcumming!

[2020-03-13 19:03] rjmholt commented on #2557
It sounds like this could be a nice PSSA rule, especially since it's an effect in a static .NET API

[2020-03-13 19:34] PSVortex commented on #2518
@TylerLeonhardt Tested ili101 example, the issue still happens - for a short moment, folding and unfolding is not possible.

[2020-03-13 19:59] TylerLeonhardt commented on #2556
For this issue I think it would be really helpful to provide the [Language Server payload logs](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#provide-language-server-protocol-payload-logs) and also the script/repo you have open so I can give it a try myself (if possible)

[2020-03-13 20:25] MarkKharitonov commented on #2555
Yes

Le jeu. 12 mars 2020 à 22:25, Robert Holt <notifications@github.com> a
écrit :

--
Be well and prosper.
==============================
"There are two kinds of people.Those whose guns are loaded and those who
dig."
   ("The good, the bad and the ugly")
So let us drink for our guns always be loaded.

[2020-03-14 12:04] elrod-johnson commented on #2543
here you go Tyler
let me know if you need anything else.
[1584186319-1a75101c-90f0-4d66-8dc0-e8b4e0fa578f1584186150151.zip](https://github.com/PowerShell/vscode-powershell/files/4332687/1584186319-1a75101c-90f0-4d66-8dc0-e8b4e0fa578f1584186150151.zip)

[2020-03-15 13:03] mrboring commented on #2522
@TylerLeonhardt I tried the new preview extension over the weekend.

Many auto-complete slowdowns in a forty minute period. Note that is a gap in the logs between 10:54:25 and 11:02:51. I lost the logging for this period. I'm wondering if it's possible that some of the slowdowns were caused by having extended logging enabled:

[code]

I did have auto-complete stop working on Saturday 14 March. I d

[2020-03-15 15:51] gsscoder opened #2558 "Function without arguments not colorized"
Hi **vscode-powershell** team, thank you for great job!

It's more easy if I show you a screenshot:
![ps-colorcoding-vscode](https://user-images.githubusercontent.com/1194228/76704966-d3c59100-66dc-11ea-908f-d19cee0f2184.PNG)

I expect `ScriptName` function to be colorized with a color different from the rest of the string.

Have a nice day.

Regards,
Giacomo S. S.

[2020-03-15 16:12] adamdriscoll commented on #2556
I'll work on getting those logs tomorrow.

This is from the UD repo: https://github.com/ironmansoftware/universal-dashboard

It's this script: https://github.com/ironmansoftware/universal-dashboard/blob/master/src/poshud/dashboard.ps1

[2020-03-15 16:44] tig commented on #1263
I'd love to see this fixed!

[2020-03-15 19:55] TylerLeonhardt commented on #1263
This should work now. Does it not?

[2020-03-15 19:56] TylerLeonhardt commented on #2558
This should go in: https://github.com/PowerShell/EditorSyntax

Can you open this over there?

[2020-03-15 20:06] rkeithhill commented on #2558
FWIW that regex's that drive the colorization are pretty complicated and brittle IMO.  This would just work at the point we have semantic (AST) based colorization supported by the extension.  I believe VSCode is looking into enabling this capability.

[2020-03-15 20:09] TylerLeonhardt commented on #2558
Yeah when that is something that is possible, we can probably move to that. That said, I would expect a new issue to be opened for "Support semantic colorization" when that's possible for us to do so.

[2020-03-15 20:41] tig commented on #1263
Tyler, I may be holding it wrong and attributing this bug incorrectly. I'll try to test this again soon and report back.

[2020-03-15 21:01] tig commented on #1263
@TylerLeonhardt what I was trying to do, that led me down the rabbit hole to this bug is here: https://stackoverflow.com/questions/60697598/debug-powershell-cmdlet-written-in-c-in-vs-code

[2020-03-15 22:16] DesertBear opened #2559 "exiftool.exe hangs on Run Selection (F8)"
### System Details

System Details Output
[code]

### Issue Description

When using the Call Operator (&) and using F8 (Run Selection) to run Exiftool (the stand-alone Windows executable [HERE](https://exiftool.org/)), the terminal hangs as if it's waiting for something.  This means it's then necessary to click inside the terminal window, and then either press the 'ESC' key (which will then allow

[2020-03-16 03:00] Hypernut commented on #1263
nope still does not work.

[2020-03-16 03:01] Hypernut commented on #2411
why is this being closed, if it is not fixed?

[2020-03-16 07:57] maximpashuk commented on #2147
@rjmholt Not tested yet. Will wait while powershell team provide msix package for powershell 7 (see https://github.com/MicrosoftDocs/PowerShell-Docs/issues/5519)

[2020-03-16 10:58] mrboring opened #2560 "v2020.3.0-preview Pester installation problem"
### System Details

System Details Output
[code]

### Issue Description

I suspect you are aware of this. This is for other users who may have this issue.

The following is displayed in the terminal:

[code]
Executing `Install-Module Pester -MinimumVersion 5.0.0 -Scope CurrentUser -Force` results in the following error:

[code]

#### Expected Behaviour

I expected Pester 5 to be installed.

#### A

[2020-03-16 14:17] spidey323 commented on #2526
@TylerLeonhardt I tried the PS preview and have the same behavior....locks at STARTING POWERSHELL

[2020-03-16 15:31] TylerLeonhardt commented on #2560
Pester 5 is still in beta so you have to use `-AllowPrerelease`

[2020-03-16 15:45] TylerLeonhardt commented on #2147
The added logic is in so we can close this for now. Once you get around to testing it and if it doesn't work, we can reopen!

[2020-03-16 15:45] #2147 closed

[2020-03-16 15:46] TylerLeonhardt commented on #2526
Thanks, we also need the logs. We added more logging to the Preview to give us a better sense of what's happening... hopefully.

[2020-03-16 15:55] mrboring commented on #2560
@TylerLeonhardt Sure, I'll close this issue.

[2020-03-16 15:55] #2560 closed

[2020-03-16 15:58] TylerLeonhardt commented on #2560
Thanks @mrboring! Due follow that RFC and give us your feedback

[2020-03-16 16:05] TylerLeonhardt commented on #2556
I cloned it and opened that file and didn't see any unusual folds so I'll wait and see what your logs say.

[2020-03-16 17:14] spidey323 commented on #2526
@TylerLeonhardt    Here's the logs with Diagnostics on. Not much to show except it's hung on waiting for the session file.
[vscode-powershell.log](https://github.com/PowerShell/vscode-powershell/files/4339395/vscode-powershell.log)

[2020-03-16 18:17] TylerLeonhardt commented on #2526
Were there any other logs? I'm looking for this file specifically:

[2020-03-16 18:29] mmascolino commented on #2526
I triggered this again with the Preview Extension and the EditorServices.log and StartEditorServices.log files are 0 byte.

[2020-03-16 18:42] TylerLeonhardt commented on #2526
@mmascolino have you tried these steps before?:

https://docs.microsoft.com/en-us/powershell/scripting/components/vscode/using-vscode?view=powershell-7#installing-the-powershell-extension-on-restricted-systems

Does that help at all?

[2020-03-16 19:11] mmascolino commented on #2526
I hadn't...I've been successfully using the released version of this Extension since early 2019 if not earlier.

I just tried that and got the same results with the same 0-byte log files.

[2020-03-16 19:45] spidey323 commented on #2526
@TylerLeonhardt  I dont have the EditorServices.LOG...only the vscode-powershell.log I attached.
What's next steps as it seems others are having the same issue?

[2020-03-16 21:08] Vegas588 commented on #2526
This same issue has crushed my ability to use Powershell at all in VS Code. Hope it gets sorted soon. Tired the preview and same issue. For the time being, I have had to completely use another PC.

[2020-03-16 21:25] spidey323 commented on #2526
@Vegas588  Same here. I've been trying to send logs and appears to be a wide spread issue as this has been working for over a YEAR without problems UNTIL the new Powershell Ext was pushed for 3/2020.

[2020-03-16 22:08] TylerLeonhardt commented on #2526
The last version of the stable extension was a complete overhaul of the extension. To narrow it down to one particular change is hard.

@mmascolino I may take you up on that offer...

My current suspicion is that Windows PowerShell is loading an old assembly from the GAC...

**Can you folks try 3 more things for me?**

1. In a regular PowerShell console, lets try running what vscode-powershell run