[2018-01-30 18:02] tylerl0706 commented on #1048
To @jcoryatjr, @legendaryleo7, and @phunkodelic. Are you guys still experiencing this issue on stable (or any insider build before today)?

[2018-01-30 18:35] tylerl0706 commented on #139
What's interesting about what @ToddBowles is seeing is that the results are the same in VSCode and powershell.exe.

It's only in the ISE where the results are different

[2018-01-30 18:52] tmknight commented on #1048
@tylerl0706
RE: PS Terminal.  Yes, I observed that with Integrated and Native
RE: Stable - Agreed.  I keep both installed.

Let me know if you need additional info - though I see Insiders has been updated and the issue is resolved.

Cheers

[2018-01-30 20:47] lhoff commented on #550
Plus one.

And bump.

[2018-01-30 22:57] Eickhel commented on #868
Great work @tylerl0706! thanks for confirm the bug... I guess it's time to move to PS Core ;)

[2018-01-30 23:01] tylerl0706 commented on #868
It's _really_ good. But I suppose I'm bias 😄

With that said, I'm going to close this bug since it's actually a Windows PowerShell bug. Feel free to open another issue if you have any other troubles!

And use PowerShell Core 6 😎

[2018-01-30 23:01] #868 closed

[2018-01-30 23:11] tylerl0706 commented on #145
Hey @jrieken, have seen this issue recently?

[2018-01-30 23:12] tylerl0706 commented on #146
Hey @jrieken, have seen this issue recently?

[2018-01-30 23:15] tylerl0706 commented on #150
You mean [this repo](https://github.com/powershell/editorsyntax), @daviwil  😄

[2018-01-30 23:16] rkeithhill commented on #150
Yeah, this issue should be moved to that repo - if it's still an issue (I suspect it is).

[2018-01-30 23:16] tylerl0706 commented on #150
It is, for the record

[2018-01-30 23:21] tylerl0706 commented on #150
Opened there so I'll close it here.

[2018-01-30 23:21] #150 closed

[2018-01-30 23:37] tylerl0706 commented on #156
I'm having trouble reproing this. It _might_ be fixed. Can anyone repro the issue?

[2018-01-30 23:40] tylerl0706 commented on #158
This looks like an old issue from pre-PSIC days. Read-Host in the PSIC works just fine without supplying input. Is there another scenario we care about?

[2018-01-30 23:46] tylerl0706 commented on #159
Should we defer this issue (close it) to PowerShell's issue that JohnLudlow has opened? If PowerShell adds completions for psd1's we should get intellisense for free, right?

[2018-01-31 00:02] tylerl0706 commented on #163
I can't seem to repro this anymore. Can anyone else give it a try?

[2018-01-31 00:13] tylerl0706 commented on #173
Maybe I'm missing something but you can already run code.cmd from within a PowerShell console and it will launch VSCode. Do we get any benefit from having a `code.ps1`?

Also, this issue should probably be opened against [vscode itself](http://github.com/microsoft/vscode).

If I'm missing something, please clue me in! 😄

[2018-01-31 00:16] rkeithhill commented on #159
Yup.

[2018-01-31 00:17] rkeithhill commented on #158
No.

[2018-01-31 00:17] #158 closed

[2018-01-31 00:39] marking commented on #173
no, you are not missing anything. Just seems like the right thing to do. I filed an older issue against vscode, but once they saw ".ps1", the referred me to here. I'm not pushing for this anymore; was actually surprised to see a fresh comment.

[2018-01-31 00:39] #173 closed

[2018-01-31 02:23] legendaryleo7 commented on #1048
@tylerl0706
I had this problem as far back as 2017-11-13. My integrated terminal stays open but stays stuck at a blank screen. I never get a prompt.

Here's the logs from Stable - 2018-01-25:
[1517364087-05661b6c-5d4b-4b3b-be4e-5c550c0e6d391517364064920.zip](https://github.com/PowerShell/vscode-powershell/files/1680137/1517364087-05661b6c-5d4b-4b3b-be4e-5c550c0e6d391517364064920.zip)

And Insiders

[2018-01-31 08:37] J0F3 commented on #1174
That's what I've assumed. So I can fully understand that the search through the whole workspace takes some time. Especially if there are many files in the workspace. So no worries. :-)

However, beacuse of this behavior, I would find it nice, to have a setting to restrict the "reference search" to the current directory (without subdirectories) or even to the currently opened files.

Actually VSCod

[2018-01-31 18:37] rkeithhill commented on #156
When I say press F10 above, what I really mean is press **and hold** F10.

[2018-02-01 01:09] tylerl0706 commented on #156
Worked on macOS but I did experience a hang on my Windows VM.

[2018-02-01 01:58] rkeithhill commented on #156
Good ol' monkey testing FTW. BTW I believe we should close this issue.  I've tried the repro instructions and the original issue no longer repros.  Then we should open a new issue along the lines of "Stepping too fast in the debugger causes a hang on Windows".

[2018-02-01 11:00] Ben-Shirley commented on #1177
Hey @tylerl0706 I'd like to submit a PR for this if I may

[2018-02-01 13:10] Ben-Shirley commented on #1177
PR submitted
https://github.com/PowerShell/vscode-powershell/pull/1182

first PR so hope I did everything right! grateful for any guidance :)

[2018-02-01 16:02] tylerl0706 commented on #156
I agree.

[2018-02-01 16:02] #156 closed

[2018-02-01 16:05] TylerLeonhardt opened #1183 "Stepping too fast in the debugger causes a hang on Windows"
This was opened as a result of closing https://github.com/PowerShell/vscode-powershell/issues/156#issuecomment-362028145

Stepping too fast in the debugger causes a hang on Windows.

**Repro steps**
1. on Windows open VSCode and debug a script that has a while loop or some loop.
2. Press and hold down F10 to step over.

The debugging session will hang and you will not be able to continue debugging

[2018-02-01 16:08] tylerl0706 commented on #1177
Thanks @Ben-Shirley! Let me take a look.

[2018-02-02 01:01] tylerl0706 commented on #159
Sounds good!

[2018-02-02 01:01] #159 closed

[2018-02-02 15:54] alexandrudima opened #1184 "Running selected code taking a long time to action"
Moved from https://github.com/Microsoft/vscode/issues/33071
From @Gizmo3k

---

- VSCode Version: 1.15.1 x64
- OS Version: Windows 7 Enterprise SP1

Running selected code from the editor is taking a long time (30+ seconds) using the F8 key. On occasion, the F8 key doesn't appear to do anything at all. This was not an issue in the previous version. The complexity of the selected code does not seem

[2018-02-02 17:20] tylerl0706 commented on #175
I can't repro this anymore on Windows. However, on macOS I can't expand aliases at all via the command pallet.

I'm going to close this issue and open a new one with that info since it is unrelated to this issue.

[2018-02-02 17:20] #175 closed

[2018-02-02 17:30] tylerl0706 opened #1185 "`PowerShell: Expand Alias` command doesn't work on macOS"
## Issue Description ##

`PowerShell: Expand Alias` command doesn't work on macOS. The Integrated Console reacts to the command by showing a new prompt.

Attached are the logs.

This looks to be the important bit:

[code]
Just not sure why that error would get thrown.

## Attached Logs ##

[logs.zip](https://github.com/PowerShell/vscode-powershell/files/1690217/logs.zip)

## Environment Informatio

[2018-02-02 17:42] tylerl0706 commented on #1184
Thanks @alexandrudima for moving that here and thanks @Gizmo3k for the report!

@Gizmo3k: Can you send me the logs. Look at [this](https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us) for instructions.

Also, how big is your workspace and how big is the file?

[2018-02-02 17:45] tylerl0706 commented on #176
Seems to be very quiet, plus it was a vscode bug. Closing it.

[2018-02-02 17:45] #176 closed

[2018-02-02 17:58] tylerl0706 commented on #178
@jwikman yep. This is either a vscode or electron issue. I opened it on vscode since they closed the last one:

https://github.com/Microsoft/vscode/issues/42356

I'm going to close this issue since Add-AzureRmAccount isn't hanging. Let's watch the bug I created for the dialog showing behind vscode.

[2018-02-02 17:58] #178 closed

[2018-02-02 18:08] tylerl0706 commented on #188
I'm going to close this now since it's an issue with the PowerShell parser itself and we can use the uservoice to track the issue. Thanks!

[2018-02-02 18:08] #188 closed

[2018-02-02 18:08] tylerl0706 commented on #189
😃

[2018-02-02 18:09] tylerl0706 commented on #189
wait there's still more work here.

[2018-02-02 18:32] tylerl0706 commented on #189
Actually, looks like @daviwil added the file. This _is_ fixed 😄

context: https://github.com/PowerShell/vscode-powershell/issues/232

[2018-02-02 18:32] #189 closed

[2018-02-02 18:45] tylerl0706 commented on #195
Care to share that blog post? 😄

I'm trying to hunt down this restriction you mention, @daviwil.

[2018-02-02 18:51] tylerl0706 commented on #196
This is a simple change to https://github.com/PowerShell/vscode-powershell/blob/master/package.json#L61

just need to find a good keybinding.

I'll make it up-for-grabs since it's a good "1st time contributor" issue.

[2018-02-02 18:54] tylerl0706 commented on #198
Has anyone run into this issue recently?

[2018-02-02 18:57] tylerl0706 commented on #200
This for sure is fixed, right? I get a pop up that says it crashed and even a button to show the output.

[2018-02-02 19:05] tylerl0706 commented on #203
This is _kinda_ fixed with the `PowerShell: Restart Current Session` command... but it could be better.

[2018-02-02 19:08] tylerl0706 commented on #205
I wonder if this issue changes at all since the addition on the Integrated Console.

[2018-02-02 19:12] tylerl0706 commented on #208
It would be cool if this could do like:

"50 alias expanded" though a simple "Aliases expanded" would be a good first step.

[2018-02-02 19:19] tylerl0706 commented on #212
Interesting. If you highlight just "URI" on line one, I can repro your issue.

However, if you don't highlight anything, renaming works as expected.

[2018-02-03 01:12] rkeithhill commented on #205
The original issue:
[code]
launching 32-bit PowerShell from 32-bit VSCode is really a VSCode issue.  Anyway, how do you even get VSCode to launch an "external" terminal these days?  And with PSIC you can pick your bitness. I say close it.

[2018-02-03 02:16] #1185 closed

[2018-02-03 05:45] vors commented on #198
Not me

[2018-02-03 15:27] timoline opened #1186 "snippit PSCustomObject"
Sorry I ask again to add a snippit..:-)
but Is it possible you add a snippit for PSCustomObject

e.g
[PSCustomObject]@{
    Name = $Name
    Description = $Description
    Path = $Path
}

Or is there already a snippit for it?

thanx

[2018-02-03 22:28] rkeithhill commented on #1186
No such snippet exists atm.  I'm not sure about the utility of the snippet as defined above since my PSCustomObject is very likely to have different fields than your PSCustomObject (Name, Description, Path).  So the expansion wouldn't save me much if I had to delete most of it.  Perhaps we could have an extension.  Perhaps the snippet defines a single name/value set of placeholders.

BTW you can p

[2018-02-04 05:41] postanote opened #1187 "Recent updates, OS and or VSCode breaks integrated scripting environment."
The integrated scripting environment will not run any function block code.
This started as of the last few VScode and OS updates.
Complete uninstall, reinstalls done, multiple times, using ia32 and x64 versions after manual registry cleanup of all VScode, Visual Studio Code keys and data.

Sample quick function

function new-test ($name)
{
    $name
}
new-test -name 'tester'

(Get-CimInstance -Cla

[2018-02-04 07:26] wsmelton commented on #1169
@atkinsroy one note in reference this comment:

The extensions integrated console is required to be running in order for intellisense and other features within the editor (where you develop your scripts) to function. They go hand in hand. If you are working on a script where you are using a module say from PS Gallery, the first time you reference a command in that module the Editor service will lo

[2018-02-04 07:32] wsmelton commented on #1187
Your example function runs fine on my machine under the PowerShell integrated terminal by selecting all the code and hitting F8:

![image](https://user-images.githubusercontent.com/11204251/35775245-e1211244-094a-11e8-85ce-9052b9728ead.png)

The errors you show with `unexpected token` and such would tell you tried to paste that into the PowerShell Integrated terminal:

![image](https://user-images

[2018-02-04 07:36] wsmelton opened #1188 "Oddity with cursor movement after hitting enter"
### System Details
[code]

### Issue Description
[Twitter conversation with Tyler...](https://twitter.com/wsmelton/status/959640064258138112)

Seeing odd behavior that just seems to pop-up on me that hitting enter for a new line and the cursor will just jump ack to the previous line.

### Attached Logs

[VSCode_PSExtension_CursorIssue.zip](https://github.com/PowerShell/vscode-powershell/files/1692

[2018-02-04 07:58] timoline commented on #1186
ok very good point, thanks
I'll have a look at the userdefined snippits

[2018-02-04 09:57] atkinsroy commented on #1169
Hi Shawn,

Thanks for the follow up.  I've done some reading and understand the need for the integrated console now. I just find that it crashes quite a bit, so I've learned to not rely on it for integrative sessions. I do miss out on RunSelections, but having colourisation is more important for me.

[2018-02-04 09:57] #1169 closed

[2018-02-04 13:24] markallisongit opened #1189 "Intellisense on Windows: PowerShell cmdlets is not working"
### System Details

- Operating system name and version: Windows 10 1709
- VS Code version: Version 1.19.3 x64
- PowerShell extension version: 1.5.1
- Output from `$PSVersionTable`: See below

[code]

### Issue Description

Intellisense for PowerShell cmdlets is not working.

### Attached Logs

Logs folder is empty! However if I enable developer tools in Help menu, I can see this:
[code]

[2018-02-04 19:38] postanote commented on #1187
Thanks for getting back and the comments. Yet, your assumptions are no valid.
This code was directly typed in not copy/paste.  That is not something I do in VSCode, ever.
The code runs fine in the console host using F5/F8, just not in the integrated with F5/F8.
If I could post a video as proof, I 'd do that.

I have been using Monad/PowerShell/ISE and VSCode since their release and even teach cour

[2018-02-04 22:46] postanote commented on #1187
Update on troubleshooting...
F5/F8 only works when the entire function code is on one line.
Very strange.

PowerShell Integrated Console

When the same function sample is all on one line --- success

function new-test ($name){ $name }
new-test -name 'tester'

Results

PS C:\Users\postanote> function new-test ($name){ $name }
PS C:\Users\postanote> new-test -name 'tester'
tester

Moving the braced

[2018-02-05 00:57] postanote commented on #1187
Finally found the issue in an unexpected place while comparing one of my pristine VM's to my main daily machine. Looking at every default and user config one line at a time.

Root cause to this dilemma. --- *** Default Key bindings. *** updates!!!

In earlier versions of VSCode, there was not a default option to run PowerShell Selected text, like we could with the Windows PowerShell ISE. So, creat

[2018-02-05 00:58] #1187 closed

[2018-02-05 11:45] stas-sultanov commented on #239
The problem reproduces from Terminal window
prompt window does not appear

VS Code:
Version 1.19.3
Commit 7c4205b5c6e52a53b81c69d2b2dc8a627abaa0ba
Date 2018-01-25T10:36:34.867Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

vscode-powershell 1.5.1

[2018-02-05 18:57] TylerLeonhardt opened #1190 "Daily/weekly VSIX build"
With the comments going on in:
https://github.com/PowerShell/PowerShellEditorServices/issues/604#issuecomment-360966764

I want to talk about having a daily/weekly build of the VSIX so that folks who are waiting on a particular fix don't have to wait for us to release (or hand craft a vsix for them, or have them do it themselves) in order to get the change they need.

We have CI in place already.

[2018-02-05 19:03] daviwil commented on #1190
We produce a VSIX with every AppVeyor build:

https://ci.appveyor.com/project/PowerShell/vscode-powershell/build/artifacts

Right now it only includes a compiled PSES (no PSScriptAnalyzer or Plaster) but you could probably add a step to pull those in.  The only thing you'd be missing are signed bits for PSES.  Setting up a nightly build in AppVeyor would allow a daily package to be published with

[2018-02-05 19:19] tylerl0706 commented on #1190
Yep, I knew we were creating the VSIX but I also knew it wasn't a complete VSIX that we ship.

I think what would be interesting is a daily/weekly/ondemand push of PSES to the Gallery or NuGet.org (signed and all) (possibly as prerelease) and then have appveyor bring in PSSA, Plaster, PSES via the Gallery.

We also need to eventually remove building PSES out of CI for vscode-powershell anyway (it'

[2018-02-05 19:51] tylerl0706 commented on #702
@SeeminglyScience has been working (tirelessly, I might add) on adding PSReadLine support. He's made some incredible progress. This issue will be fixed when that work is done.

[2018-02-06 05:51] tylerl0706 commented on #1170
Thanks for this! We'll get that published soon.

[2018-02-06 05:58] tylerl0706 commented on #239
@stas-sultanov can you check to see if the prompt opened up behind VSCode?

We've been seeing that a lot and opened an issue here on VSCode:
https://github.com/Microsoft/vscode/issues/42356

[2018-02-06 06:01] tylerl0706 commented on #1189
@markallisongit  are you using VSCode Insiders or Stable?

[2018-02-06 06:09] tylerl0706 commented on #1169
@atkinsroy hey there, thanks for your concern! I will say that crashing is not a feature 🙂

If you ever experience a crash, we want to know about it so we can fix it.

We try to make it as painless as possible to file issues so that we can get the info we need to fix the issues you're experiencing. Take a look out how to send us logs here:
https://github.com/powershell/vscode-powershell#reporting-

[2018-02-06 06:11] tylerl0706 commented on #1188
Thanks for the report, @wsmelton! We'll take a look!

[2018-02-06 06:12] tylerl0706 commented on #198
I'll close this for now. If it shows up again, feel free to open a new one!

[2018-02-06 06:12] #198 closed

[2018-02-06 06:14] tylerl0706 commented on #205
Sounds good!

[2018-02-06 06:14] #205 closed

[2018-02-06 08:48] markallisongit commented on #1189
@tylerl0706 using stable. I am having the exact same problem on my desktop and my laptop with same Windows versions and vscode versions. I built a new Windows 10 1709 VM and installed code with all my extensions, but didn't see the issue.

[2018-02-06 12:55] klmj commented on #1160
As explained in **Powershell Code format (PSScriptAnalyzer) flags variable as unused #889**, this has aleady been reported here : PowerShell/PSScriptAnalyzer#827

Go there and +1 this issue 😃

[2018-02-06 20:26] raandree commented on #550
This missing feature is really annoying. Any ETA?

[2018-02-06 20:28] yobyot commented on #550
It is _so_ annoying. Plus F11 in a debug session seems to be broken as well.

[2018-02-06 21:31] DouglasPlumley commented on #535
Looks great @SeeminglyScience!  I'm ready to ditch ISE :)

[2018-02-06 22:19] rkeithhill commented on #550
As long as you're on Windows 5.x or PowerShell Core - this fix in in the works.  That fix is to integrate PSReadLine 2 into PSIC which will bring history support.  Unfortunately, Windows PowerShell v3/4 are not supported by PSRL 2.

[2018-02-06 22:22] yobyot commented on #550
pwsh 4? pwsh *3*?? I never knew you. Seriously, fixing this would be a great incentive to get to pwsh 5.1.

[2018-02-07 06:22] antikhonov opened #1191 "Integrated Terminal crashes due to incorrect editor position"
### System Details

Operating system name and version: Windows 10.0.14393

[code]
### Issue Description
Environment. I have tho editors open
1. "Launcher" file. Used to set some vars and execute the script I'm currently working on. I created a debug configuration that launches that file. It has 29 lines
2. The script file. It has 100+ lines.

The issue itself. Sometimes when I edit the second file

[2018-02-07 21:22] #1177 closed

[2018-02-08 10:43] kerbou commented on #702
Good to hear 👊

Any ETA on this?

[2018-02-09 10:04] aeschli opened #1192 "Error opening/debugging Powershell"
_From @d1964b on September 11, 2017 14:16_

[1505138349-1b3696d4-d5ef-4ba9-b68c-3b6d7eedb04e1505138345318.zip](https://github.com/Microsoft/vscode/files/1292816/1505138349-1b3696d4-d5ef-4ba9-b68c-3b6d7eedb04e1505138345318.zip)

- VSCode Version: Code 1.16.0 (787b31c0474e6165390b5a5989c9619e3e16f953, 2017-09-06T16:27:49.891Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (tr

[2018-02-09 11:18] SQLDBAWithABeard opened #1193 "Using Code Insiders 1.21.0 - Terminal crashes when formatting script with The term 'Invoke-Formatter' is not recognized as the name of a cmdlet"
### System Details

09/02/2018 10:51:31 [NORMAL] - Method "StartLogging" at line 144 of C:\projects\powershelleditorservices\src\PowerShellEditorServices.Host\EditorServicesHost.cs

    PowerShell Editor Services Host v1.5.1.0 starting (pid 7776)...

      Host application details:

        Name:      Visual Studio Code Host
        ProfileId: Microsoft.VSCode
        Version:   1.5.1
        Arch

[2018-02-09 11:34] Glober777 opened #1194 "Selection highlight colors within breakpoint (PowerShell ISE Theme)"
### System Details

- Operating system name and version:
- VS Code version: 1.20.0
- PowerShell extension version: 1.5.1
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.15063.786
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10

[2018-02-09 14:38] mattmcnabb commented on #1194
Logs probably aren't needed. I'll take a look and see if there's another way to highlight this. At first glance I think the problem is that the debugger highlight is the same color as the cursor highlight.

[2018-02-09 14:52] rfletche847 commented on #535
Found this while trying to get syntax highlighting working in the integrated console. I look forward to this being available! Great work!

[2018-02-09 16:07] tylerl0706 commented on #1127
Here's the build.ps1 PR for PowerShellEditorServices:
https://github.com/PowerShell/PowerShellEditorServices/pull/623

[2018-02-09 16:36] Liquidmantis commented on #535
@SeeminglyScience Any ETA for seeing this in Insiders?  This is the final piece to having a comfortable single pane workflow and not need to set up a side-by-side ConEmu instance.

Thanks for the work!

[2018-02-09 16:57] tylerl0706 commented on #1192
Thanks @aeschli for routing this over!

@d1964b: Thanks for the report! Can you send us the logs so that we can get a better sense of what's happening?

Here are the instructions:
https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2018-02-09 20:40] SeeminglyScience commented on #535
@Liquidmantis I'm thinking I can get a solid build of it behind a feature flag not next release but the one after.  No promises as I'm a little short on free time atm, but that's the goal :)

[2018-02-09 22:19] #1179 closed

[2018-02-10 09:21] SQLDBAWithABeard commented on #1193
It finds the module in my local user path

10/02/2018 09:11:01 [NORMAL] - Method "FindPSScriptAnalyzerModule" at line 354 of C:\projects\powershelleditorservices\src\PowerShellEditorServices\Analysis\AnalysisService.cs

    PSScriptAnalyzer found at C:\Users\mrrob\OneDrive\Documents\WindowsPowerShell\Modules\PSScriptAnalyzer\1.10.0\PSScriptAnalyzer.psd1

10/02/2018 09:11:01 [VERBOSE] - Method "Enu

[2018-02-10 09:21] #1193 closed

[2018-02-10 15:03] mattmcnabb commented on #1194
Ok, I now think this may be a bug in the light theme defaults in VSCode itself. I was able to repro your issue with any light theme, but not with included dark themes:

### Light
![image](https://user-images.githubusercontent.com/6998507/36063322-7c622808-0e49-11e8-8144-6df756af8aa2.png)

### Dark
![image](https://user-images.githubusercontent.com/6998507/36063326-900bd156-0e49-11e8-97d6-fbf38a8c2

[2018-02-10 17:17] Tyriar commented on #1194
@mattmcnabb yeah it looks like a color clash with the light theme(s), you should create an issue at https://github.com/Microsoft/vscode

[2018-02-11 20:37] realonedet commented on #1159
I've been having the exact same issue (on windows and mac), posted previously with no resolution, has this been root caused yet ?

[2018-02-12 08:30] antikhonov commented on #1191
After some tests, I was able to find the most probable reason for such behavior: the MS anti-Meltdown patch. If it is turned off, the problem vanishes. My CPU model is Intel Core2 Quad CPU Q9500 @ 2.83GHz. Turns out that applying the MS patch for Meltdown breaks the VS code or the PowerShell extension somehow. If this is true, will it be fixed somehow in the next version?

[2018-02-13 10:17] kilkikou commented on #1048
I have also the same issue. Here is the log.

[code]

I'ne enable the loging to verbose, but nothing more is added to the logfile. And the file EditorServices.log is not created...I'm running vscode without administrator rights.

Any ideas? Thank you.

[2018-02-13 20:29] meaderick opened #1195 "Editor service frequently crashing immediately after opening project folder"
### System Details

- Operating system name and version: Microsoft Windows NT 6.1.7601 Service Pack 1
- VS Code version: 1.20.0
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

Editor service frequently, but not always, crashing. Stack trace says System.IO.PathTooLongException thrown but none of my source file paths are more than about 100 chars.

Wa

[2018-02-13 20:39] meaderick commented on #1195
More info: IntelliSense seems to be working normally, but references/gotos (F12) are not.

[2018-02-14 01:16] bjmaynard01 commented on #1048
I can confirm, I am having the same problem with VSCode 1.19.2 and PowerShell extension 1.5.1. No integrated terminal will open, powershell or otherwise unless I run the program with elevated credentials. Logs are the same as what everyone else is seeing, but have been pasted in below.

2/13/2018 8:13:36 PM [NORMAL] - Visual Studio Code v1.19.2 64-bit
2/13/2018 8:13:36 PM [NORMAL] - PowerShell Ext

[2018-02-14 01:23] rkeithhill commented on #1048
Is there an EditorServices.log file at this location: `'C:\Users\<user>\.vscode\extensions\ms-vscode.powershell-1.5.1\logs\1518570816-9847f26b-3ab2-4368-a1f3-a9c76d0125911518570813582\EditorServices.log'`.  If so, could you post the contents here if short. If long, please zip and attach.  Thanks.

[2018-02-14 01:27] bjmaynard01 commented on #1048
There isn't an EditorServices.log file in the folder, only a vscode-powershell.log file (note directory changed due to new run, but same log output)

![image](https://user-images.githubusercontent.com/463486/36183442-443d9948-10fc-11e8-993e-bd3a9e2c2f04.png)

[2018-02-14 01:28] rkeithhill commented on #1048
OK, well that is consistent with the PSES module not getting far enough along to even create the log file.

[2018-02-14 01:34] rkeithhill commented on #1048
It looks like you redacted your username for the log output but this piece remains: `C:\Users\bryan.maynard.vscode\...`.  Is that exactly what was in the log file? I suspect that should be `C:\Users\bryan.maynard\.vscode\...` with the `\` between user name and the .`vscode` dir.  Assuming that was just a mistake in the redaction, can you try executing this from a PowerShell prompt:
[code]
Is there

[2018-02-14 01:36] bjmaynard01 commented on #1048
You are correct, it was a missed/error redaction...anywho, when I run the command you gave me in a PS window, it goes to PowerShell Integrated Console, and then nothing else happens.

[2018-02-14 01:38] rkeithhill commented on #1048
So in this case, there is an EditorServices.log file in the `C:\Users\bryan.maynard\.vscode\extensions\ms-vscode.powershell-1.5.1\logs\1518570816-9847f26b-3ab2-4368-a1f3-a9c76d0125911518570813582` dir?

[2018-02-14 01:39] bjmaynard01 commented on #1048
Yes, pasted below

2/13/2018 8:31:46 PM [NORMAL] - Method "StartLogging" at line 144 of C:\projects\powershelleditorservices\src\PowerShellEditorServices.Host\EditorServicesHost.cs

    PowerShell Editor Services Host v1.5.1.0 starting (pid 3312)...

      Host application details:

        Name:      Visual Studio Code Host
        ProfileId: Microsoft.VSCode
        Version:   1.5.1
        Arch

[2018-02-14 01:40] rkeithhill commented on #1048
OK, so the PSES module starts up correctly but something seems to go wrong in trying to attach to the VSCode terminal window.  Do you have any special integrated terminal settings set in your user (or workspace) settings?

[2018-02-14 01:40] bjmaynard01 commented on #1048
I don't, it's a fresh installation

[2018-02-14 01:46] rkeithhill commented on #1048
Hmm...

[2018-02-14 02:38] rkeithhill commented on #1048
Is there any difference if you execute this (was missing some Powershell.exe params):
[code]

[2018-02-14 02:49] bjmaynard01 commented on #1048
Unfortunately, no, the console goes to the same integrated console message with the same output in the EditorServices log...this really makes no sense. Makes me believe it's some type of security control that is in place on my work laptop.

[2018-02-14 02:58] rkeithhill commented on #1048
AFAICT that is exactly the exe & args passed to the VSCode API that creates the terminal (starts PSES) e.g.
[code]
Can you try an experiment? Start task manager, go to the Details pane and sort by Name and then find the PowerShell processes and select one (to keep window from scrolling).  Now start a debug session in VSCode and see if a new PowerShell appears in the list.  It might not run for lon

[2018-02-14 04:35] rkeithhill commented on #1159
I've got a fix in the works for this.  In the process I found another issue - I think with VSCode's debug protocol.  There is a BreakpointEvent that allows the debug adapter to notify VSCode about `line` breakpoints changes that occur in the debug adapter.  I see no equivalent for function breakpoint changes.

I could be missing something in the debug protocol spec but just in case, I've raised an

[2018-02-14 09:30] Bummibaer commented on #1046
I'm using V1.19.3 and Windows 7 Professional.
When I run VS as Admin, I get the same error.
It seems, when I resume after some minutes.

[2018-02-14 12:29] bjmaynard01 commented on #1048
So, I did do this, and I briefly saw another powershell process spawn, then die. This happened about 4 times before VSCode timed out trying to load the engine.

[2018-02-14 14:44] VSCodeUser opened #1196 "There is no output when run Get-MsolPasswordPolicy -DomainName domain.com"
### System Details

- Operating system name and version: Windows 10 Ent 2016 LTSB  /10.0.14393/
- VS Code version:
Version 1.20.0
Commit c63189deaa8e620f650cc28792b8f5f3363f2c5b
Date 2018-02-07T17:09:39.780Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

- PowerShell extension version:
- Output from `$PSVersionTable`:

Name                           Value
----

[2018-02-14 16:24] rkeithhill commented on #1048
Thanks for checking that.  Can you check your event log (both Applications and WindowsPowerShell) to see if there are any clues as to why the PowerShell process exited early:

![image](https://user-images.githubusercontent.com/5177512/36215230-c111bdde-1168-11e8-83f1-9537a0522eb1.png)

[2018-02-14 17:07] tylerl0706 commented on #1196
Hi there, thanks for this! Couple questions:

What are you expecting to get back?
Can you attach the logs? You can follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell#reporting-problems).

[2018-02-14 22:57] bergmeister commented on #550
+1
I would even offer to fix a PSSA issue of your choice in exchange for getting this fixed.

[2018-02-14 23:48] SeeminglyScience commented on #550
@bergmeister careful now, my price is steep 😉  (PowerShell/PSScriptAnalyzer#850)

[2018-02-15 00:12] bjmaynard01 commented on #1048
I'm not seeing anything in either log pertaining to the problem. I appreciate all the help, but at this point I think I'm simply better off using the PS ISE

[2018-02-15 00:37] bergmeister commented on #550
@SeeminglyScience Phew, I'm glad you did not pick one of the many `PSUseDeclaredVarsMoreThanAssignments` issues that all require a re-write of the rule...
Jokes aside, I think your referenced issue is really important because it is a blocker for many people. I had it already in the back of my mind to look at it but you confirmed that it really needs to be investigated and hopefully properly fixed.

[2018-02-15 00:50] rkeithhill commented on #1048
Totally understand.  Thanks for all your help.

[2018-02-15 01:00] tylerl0706 commented on #1194
I'm going to close this as external for now since this is really outside of the extension's control. Go ahead and use @mattmcnabb's to track the issue.

Thanks all!

[2018-02-15 01:00] #1194 closed

[2018-02-15 01:02] tylerl0706 commented on #702
🔜

... but seriously. This won't be in the next release next week 1.6.0... however, we're targeting it to be released in 1.7.0.

[2018-02-15 06:34] rkeithhill commented on #1048
@bjmaynard01 (or anyone game for this experiment) Could you try one more thing for me?  I have fixed a bug related to testing for socket ports in use.  Can you grab this file - https://raw.githubusercontent.com/PowerShell/vscode-powershell/b25e1abe5d0c9539f0f06e025089bf2c0a504ab0/scripts/Start-EditorServices.ps1 and use its contents to completely replace the contents of `$Home\.vscode\extensions\m

[2018-02-15 06:36] rkeithhill commented on #1046
Can you give this a try and let me know how it goes? https://github.com/PowerShell/vscode-powershell/issues/1048#issuecomment-365837862

[2018-02-15 07:52] lafe commented on #1132
The same issue also occurs on Windows Server 2008 R2.
- Operating system name and version: Windows Server 2008 R2 Enterprise (6.1.7601; SP1)
- VS Code version: 1.21.0-insider (x64, Commit 70e020b2377f12894ca11254548ce365a0e435f1)
- PowerShell extension version: 1.5.1
- Output from `$PSVersionTable`:
[code]

[2018-02-15 10:19] VSCodeUser commented on #1196
Thanks for the prompt reply!
I updated my VS code today to version:

Version 1.20.1
Commit f88bbf9137d24d36d968ea6b2911786bfe103002
Date 2018-02-13T15:34:36.336Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

and everything is working now.

I expected /and now I am able/ to see the output below:
---------------------------------------------------------------------------------
Exte

[2018-02-15 10:19] #1196 closed

[2018-02-15 15:16] Omniusz commented on #1188
I experience the same thing, but only with very scripts, it seems to be when the 'references' labels occur

[2018-02-15 15:17] Omniusz commented on #1183
Yeah, this pesters me too.

[2018-02-16 00:13] tylerl0706 commented on #1127
And here's the PR for vscode-powershell:
https://github.com/PowerShell/vscode-powershell/pull/1199

[2018-02-16 03:50] rkeithhill commented on #1132
The log file indicates a PathTooLongException.  I think this might be caused by VSCode giving us a special type of path for these Git diff windows.

[2018-02-16 05:09] rkeithhill commented on #1159
The fix for this should be in the upcoming 1.6.0 release.

[2018-02-16 08:35] hvl71 commented on #1058
Thanks @daviwil and @ajansveld. As a new user of Visual Studio Code I found this behaviour confusing. I thought it was a bug and it impacted the way I perceived the product. Probably many other users expect F5 etc to behave like in Visual Studio etc. I don't know if this is the right place, but I'd suggest the default behaviour is changed to "powershell.integratedConsole.focusConsoleOnExecute": fa

[2018-02-16 09:39] Omniusz commented on #733
Hi @tylerl0706,

This is a pretty exciting feature which I have been waiting for desperately. Is this now in the pipeline for this extension now it's supported by VSCode?

Is there a roadmap for this extension?

Cheers

[2018-02-16 15:36] tylerl0706 commented on #1058
Well, the reason F5 moves to the console is because F5 is supposed to start debugging.

When you run F5, you shouldn't really be changing the code (generally speaking) because you're debugging your script - people are more likely to run something in the integrated terminal to debug something at a particular breakpoint.

Again, generally speaking.

That said, if a lot (majority) of people would rat

[2018-02-16 15:39] daviwil commented on #1058
The default can't be changed due to accessibility requirements.  When you take an action that causes text to be written in a different pane, the focus/cursor is supposed to move to that pane.  @tylerl0706 if you want to know more, talk to Keith Bankston, he's the one who asked me to make the change to begin with.

[2018-02-16 16:17] rkeithhill commented on #1058
FWIW this **used** to bug me too because the console ate `F10/F11` so stepping stopped working for me until I put the focus back in editor.  That issue is now fixed in VSCode 1.20.  The terminal now passes the common debug `F` keys through to the debugger.

[2018-02-16 18:45] tylerl0706 commented on #1058
@daviwil that makes perfect sense. Thanks for the info

[2018-02-16 20:10] Ryoken0367 commented on #1048
I'm having the same issue, only in the 1.20.1 release; everything was fine in 1.20. I tried your replacement script, and I'm not seeing the log file; however, instead of just closing the terminal, VS Code is now displaying the below:

An error occurred while starting PowerShell Editor Services:

AuthorizationManager check failed.
   at System.Management.Automation.AuthorizationManager.ShouldRunInt

[2018-02-16 20:58] rkeithhill commented on #1048
Looks like the script can't run because I stripped out the authenticode signature.  Crud.  Looks like we will have to wait until 1.6.0 drops in order to get log file info from Start-EditorServices.ps1.  Thanks for giving it a go!

[2018-02-16 21:11] hvl71 commented on #1058
I couldn't solve my issue by setting this user setting (as previously mentioned on this issue):
"powershell.integratedConsole.focusConsoleOnExecute": false

I think it's because I'm on Ubuntu and instead hits this issue:
https://github.com/PowerShell/vscode-powershell/issues/1119

I'm on VSCode 1.20.1 and Powershell Extension 1.51.

So it looks like those affected like me just have to wait for 1.5

[2018-02-16 21:55] Ryoken0367 commented on #1048
You're welcome. Any ETA on 1.6.0, or should I revert to VS Code 1.20?

Thank you!

[2018-02-16 22:12] rkeithhill commented on #1048
We're shooting for early next week. Crossing my fingers.

[2018-02-16 22:15] tylerl0706 commented on #1058
1.6.0 will be released next week 🎉

[2018-02-17 09:12] hvl71 commented on #1058
Fantastic! looking forward to that! Thanks!

I was curious if I'd see the same issue on Windows, so I installed VSCode 1.20.1 and Powershell Extension 1.51. It worked like a charm..:-)

[2018-02-17 17:01] DonPwrShellHunt commented on #1102
I've also had problems installing 1.5.1 from the VSIX file on a system not connected to the internet. As a work around I first install 1.5.1 on an internet connected machine, and copy the ms-vscode.powershell-1.5.1 extensions directory to a USB device. Installation on the disconnected system is then just a directory copy to the extemsions directoy. The VSIX install method would obviously be better

[2018-02-17 17:34] tylerl0706 commented on #1102
I'm curious, have you had any luck installing other VSIX's for VSCode without internet?

I just want to rule out the possibility that it could be a VSCode (itself) issue.

[2018-02-17 18:13] DonPwrShellHunt commented on #1102
I installed at least five other VSIX's just fine during the session where I encountered the powershell extension VSIX issue. I tried the VSIX extension install via the GUI, and using the code command line options. (same result either way)

[2018-02-17 22:03] tylerl0706 commented on #1102
Thanks for the info! I'll look into this.

[2018-02-17 22:15] rkeithhill commented on #1102
This is a consequence of us updating to the newer debug protocol.  That requires you to be on VSCode 1.19.0.  From the package.json file:
[code]
This is why we "try" not to snap to a new VSCode engine version without waiting for a few releases (ie we try to support VS Code current version and the previous version).  In this case, the VSCode folks changed the debug protocol such that it would break

[2018-02-17 23:17] bergmeister commented on #1190
We had similar discussions already on twitter about pre-releases especially with regards to pre-releases of PSSA. Apparently the shipped version of PSSA in the extension is only a fallback version if PSSA is not installed. Therefore we could offer pre-releases of PSSA and the extension independently but I think it would be a great idea to include the latest build of PSSA in the vsix as well for be

[2018-02-18 05:55] rkeithhill commented on #1102
Nevermind, 1.5.x has a min version of `1.17.0`.  I was looking at `master` instead of the 1.5.x tags.

[2018-02-19 02:07] simeyla commented on #986
Is there a `Ctrl+C` type command?
Or if we can't find the login dialog is it permanently stuck?

[2018-02-19 04:32] Arshavink opened #1200 "powershell on mac"
I Installed Visual studio code for mac OS and I am working on powershell on it when  I  update the get-help(update-help) I get this error :
Update-Help : Failed to update Help for the module(s) 'Microsoft.PowerShell.Archive, Microsoft.PowerShell.Core, Microsoft.PowerShell.Host, Microsoft.PowerShell.Management, Microsoft.PowerShell.Security, Microsoft.PowerShell.Utility, PackageManagement, PowerShe

[2018-02-20 04:24] tylerl0706 commented on #1200
Thanks for this!

I want to see if this is first an issue with PowerShell.

Can you open a terminal (not in VSCode),
start PowerShell by typing `pwsh` in the terminal
And try to update help here?

Let me know what you get.

[2018-02-20 05:03] Arshavink commented on #1200
Yes It works on terminal I update it

[2018-02-20 08:24] totkeks opened #1202 "Syntax highlighting on ParameterSetName not working with spaces around assignment operator"
### System Details

- Operating system name and version: Windows 10, 1703
- VS Code version: 1.20.1
- PowerShell extension version: 1.5.1
- Output from `$PSVersionTable`:

[code]

[code]

### Issue Description

Syntax highlighting is not working for code like this:
[code]
![image](https://user-images.githubusercontent.com/2941389/36413655-b009e96a-161f-11e8-8d8c-6e15699170da.png)

If I remove the

[2018-02-20 13:51] bugili opened #1203 "Powershell Integrated Terminal crashes as soon as file is opened"
### System Details

donjayamanne.githistory@0.4.0
dracula-theme.theme-dracula@2.8.1
ms-mssql.mssql@1.3.0
ms-python.python@2018.1.0
ms-vscode.csharp@1.14.0
ms-vscode.PowerShell@1.5.1
ms-vsts.team@1.122.0

Name                                       Value
----                                          -----
PSVersion                                 5.1.15063.786
PSEdition

[2018-02-20 16:06] rkeithhill commented on #1203
Any chance you could provide a copy of the script?  It seems there is a parse error in the script that is tickling a bug in one of the CodeLens implementations.

[2018-02-20 16:11] rkeithhill commented on #1202
@tylerl0706 This probably belongs in https://github.com/powershell/editorsyntax.  Can you move it there?

[2018-02-20 23:32] tylerl0706 commented on #1050
What I would LOVE to see here is an "Out-WebGridView" for PowerShell Core (and Windows PowerShell maybe) that will create an `Out-GridView`-like experience in your browser (aka cross plat). VSCode could then intercept this call and rather than opening in the browser, it could open in VSCode.

Great feature request :)

[2018-02-20 23:46] tylerl0706 commented on #907
This is a part of https://github.com/PowerShell/vscode-powershell/pull/1201 , right @rkeithhill?

[2018-02-20 23:48] rkeithhill commented on #907
Yes, except that you don't press a key. You can close the terminal window using the little trashcan icon.  Or you can let it hang around.  The next temp integrated console debug session will close the previous session before it creates the new one.

[2018-02-20 23:54] tylerl0706 commented on #773
https://github.com/PowerShell/PowerShellEditorServices/pull/590 we've added `.Save`which will be out this week in 1.6.0. That said, a SaveAs where you pass a string as the name for untitled files might be interesting.

I'll keep this open for that... but this issue should be moved to https://github.com/powershell/powershelleditorservices/

[2018-02-21 01:31] SeeminglyScience commented on #1119
@tylerl0706 I missed this one in the PR, if you could close please :)

[2018-02-21 01:32] SeeminglyScience commented on #1146
@tylerl0706 another issue I missed in the PR

[2018-02-21 04:00] tylerl0706 commented on #18
I'm gonna close this since we have the button that shows the output

[2018-02-21 04:00] #18 closed

[2018-02-21 04:04] tylerl0706 commented on #200
Closing because we have a popup now.

[2018-02-21 04:04] #200 closed

[2018-02-21 04:19] tylerl0706 commented on #1119
Closing as fixed in the version shipping this week!

[2018-02-21 04:19] #1119 closed

[2018-02-21 04:20] tylerl0706 commented on #1146
Closing :)

[2018-02-21 04:20] #1146 closed

[2018-02-21 04:21] tylerl0706 commented on #907
Sounds good. We can probably close this then unless you think the "press a key" should be kept around.

[2018-02-21 04:40] rkeithhill commented on #907
Fixed by PR #1201 and PSES PR https://github.com/PowerShell/PowerShellEditorServices/pull/625.

[2018-02-21 04:40] #907 closed

[2018-02-21 04:54] tylerl0706 commented on #333
I see the PowerShell logo for `.ps1`, `.psm1`, `.psd1`. I think we can close this now, right?

[2018-02-21 05:03] rkeithhill commented on #333
Yup.

[2018-02-21 05:03] #333 closed

[2018-02-21 05:03] tylerl0706 commented on #548
@rkeithhill do you think we should add such a task to the `tasks.json`?

[2018-02-21 05:14] rkeithhill commented on #548
The problem with the task is it requires input/modification.  It requires info to pick a code signing cert when there is more than one on the machine.  That is pretty common for my machines.

If we made this an extension command, we could present a pick list of code-signing certs *if* we find more than one valid code-signing cert.

[2018-02-21 09:05] bugili commented on #1203
There's a lot of them, and really think that it's somehow folder related but sure:

[code]

They all work when I open them separately as single files.

[2018-02-21 12:58] logg-sar opened #1204 "Wish: Is there a way to show Variables when executing line (F5) or block (F8)"
Hi there
maybe I´m working different then any other or I´m working wrong, but thats the way im doing it.

Defining a variable is mostly one line. For example: ** $proc=(Get-WmiObject win32_processor).LoadPercentage**

After writing I mark the line and execute it via F5, so the variable is filled.
If I want to see how its filled I have to mark it and press again F5. It would be easyier to see it as

[2018-02-21 13:49] SeeminglyScience commented on #154
The easiest way to do this would probably be to create `ExecutionStartedEvent` and `ExecutionEndedEvent` notifications for PowerShellEditorServices to send to the editor.  One way to send the events would be to have the [LanguageService](https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Language/LanguageService.cs) attach to the `ExecutionStatusChanged

[2018-02-21 14:38] jcoryatjr commented on #1048
I did solve my problem.  It was with a couple of links I had created in my modules folder.  The links pointed to a location that no longer existed and defaulted to C:\.  Once I removed them, everything started working as it should.  Now really loving the powershell in VSCode!

[2018-02-21 16:50] tylerl0706 commented on #1115
This will be in 1.6.0

[2018-02-21 18:44] clavrus opened #1205 "Server 2016 - Intellisense Delay with PowerShell Extension"
### System Details

- Operating system name and version: Windows Server 2016
- VS Code version: 1.20.1
- PowerShell extension version: 1.5.1
- Output from `$PSVersionTable`: below

[code]

### Issue Description

- VSCode Version: 1.20.1
- OS Version: Server 2016
- PowerShell Extension 1.5.1
- PowerShell Version 5.1

**Steps to Reproduce:**

1. Open a new document with PowerShell as language
2. Typ

[2018-02-21 19:50] tylerl0706 commented on #863
Fixed in https://github.com/PowerShell/PowerShellEditorServices/pull/627.

Will be released in 1.6.0

[2018-02-21 19:50] #863 closed

[2018-02-21 19:54] #1159 closed

[2018-02-21 22:24] clavrus commented on #1205
Note: This is in the editor, not the terminal. Terminal intellisense works fine.

[2018-02-22 03:28] dragonwolf83 commented on #140
VS Code team has a new ticket for a better Progress API https://github.com/Microsoft/vscode/issues/44090. At quick glance, I think it would give us a GUI that could handle PowerShell's Write-Progress complexities. Please track the API and provide feedback as they develop it.

@tylerl0706 I voted in https://github.com/PowerShell/PowerShellEditorServices/issues/384 to go ahead and get the terminal p

[2018-02-22 05:21] rkeithhill commented on #1205
Can you attach a zip of the extension log files? See the following for instructions on how to do this - https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2018-02-22 05:36] rkeithhill commented on #1204
You can display variable contents in the PowerShell Integrated Console.  After executing a line like the one you show above, switch to the PowerShell Integrated Console terminal and type `$proc` and press enter.  That will display the contents of the $proc variable.  Unfortunately, display of variables in the VSCode debug view is controlled by VSCode and it only displays variables if it thinks the

[2018-02-22 13:07] munrocket opened #1207 "Off annoying beep sound"
When I using the VS Code with "terminal.integrated.shell.windows" set to powershell.exe and deleting characters with backspace there is a high-pitched, old-school sound warning when there are no more characters to delete back. It would be wonderful if there is a setting to disable that sound by default. Because it's very annoying and difficult to off.

You can lisen this [sound](https://dl.dropbox

[2018-02-22 17:34] Ryoken0367 commented on #1048
Installed 1.6.0, same issue. I checked, and did not see a Start-EditorServices.log in the logs directory.

However, that being said, I had a thought. This issue seems to have cropped up for me after a policy change to force AllSigned for the powershell execution policy. I was able to revert the change back to RemoteSigned, and everything loads correctly now. As soon as I go back to AllSigned, the

[2018-02-22 17:56] cantrellj commented on #357
Appears to happen in ValidateScript also

System Details
Operating system name and version: Windows 10 Pro 10.0.10586.0
VS Code version: 1.19.3
PowerShell extension version: 1.6.0
Output from `$PSVersionTable`:
[code]
![image](https://user-images.githubusercontent.com/28454901/36555354-57ce3144-17c7-11e8-925e-3bb58db1e25c.png)

[2018-02-22 18:29] rkeithhill commented on #1048
@Ryoken0367 Interesting.  It sure would be nice to figure out which script is failing when the policy is set to AllSigned.  When we invoke the script, we start a powershell process with the param -ExecutionPolicy ByPass.  That "should" bypass the execution policy.

Can you open your User settings and the following setting:
[code]
If you already have that setting, just make sure that it is set to D

[2018-02-22 18:55] clavrus commented on #1205
[logs.zip](https://github.com/PowerShell/vscode-powershell/files/1749161/logs.zip)

[2018-02-22 19:46] Jaykul opened #1208 "Temporary windows still close after script run"
If I configure `"createTemporaryIntegratedConsole": true` in a particular configuration in the launch.json ...
then consoles launched via that config stay open.

But if I set my workspace settings to
[code]

The new console is created, but still closes after run.

### System Details
Windows 10
VS Code Insiders 1.21 (2018-02-21)
PowerShell extension version: 1.6

I can attach more logs or whatever

[2018-02-22 19:49] Ryoken0367 commented on #1048
I changed that setting, it was set to Normal; but I'm still not getting the log. Definitely happy to help track this down if you have anything else you need.

[2018-02-22 21:35] rkeithhill commented on #1048
Thanks!  Do you see any text appear (however briefly) in the PowerShell Integrated Console terminal?  The terminal window should show powershell.exe starting up and I'm guess it chokes on execution policy.  If you have a screen capture tool, that might help capture text that appears very briefly.  Although I've gotten pretty good at hitting PrintScreen key at the right time.  :-)

One other thing

[2018-02-22 22:05] Ryoken0367 commented on #1048
There was an error flashing up on the Terminal for a brief moment and disappearing; I was able to grab it with PrintScreen:
![error](https://user-images.githubusercontent.com/4183282/36566562-b786b956-17d8-11e8-8737-84a831c3bbc9.png)

As for the Event Log; there are 8 entries for that time. I can get screenshots of those too, if you'd like, but here's the first detail from each (oldest first):
Pro

[2018-02-22 22:15] rkeithhill commented on #1048
Interesting, what do  you get if you run this command from a PowerShell console:
[code]
I get:
[code]
Also, what do you get for this command:
[code]

[2018-02-22 22:21] rkeithhill commented on #1048
This is curious.  Your error says it fails on line 1 char **3**.  This is line 1:
[code]
Char 3 is the start of the text `PowerShell` but why wouldn't PowerShell see that whole line as a comment?

[2018-02-22 22:25] Ryoken0367 commented on #1048
From the first command I get the same result you do. Valid with the same thumbprint.

From the second command I get an error:
`Get-Content : Could not open the alternate data stream 'Zone.Identifier' of the file
'C:\Users\WApgar\.vscode\extensions\ms-vscode.powershell-1.6.0\scripts\Start-EditorServices.ps1'.
At line:1 char:1
+ Get-Content -Stream Zone.Identifier ~\.vscode\extensions\ms-vscode.po .

[2018-02-22 22:33] rkeithhill commented on #1048
Thanks  if the error mentioned `Could not open the alternate data stream 'Zone.Identifier' of the file`, that means the file has been "unblocked".  OK so we have a valid Authenticode signature on the script and the script is not blocked.

What's your $PSVersionTable info?  Also, can you copy/paste the text (or images) of these two event viewer events:
[code]
Thanks again for all your help!

[2018-02-22 22:46] Ryoken0367 commented on #1048
[code]
![eventlog2](https://user-images.githubusercontent.com/4183282/36568522-34445dc6-17df-11e8-9fbc-7130f645ecf1.png)
![eventlog1](https://user-images.githubusercontent.com/4183282/36568529-376ded78-17df-11e8-98f8-5ab1ce642205.png)

[2018-02-22 23:06] rkeithhill commented on #1048
Dang. I don't see anything out of the ordinary in those two events.

Hmm, I wonder if you are running into this (see his own, first comment) about group policy: https://community.spiceworks.com/topic/1451509-mdt-powershell-script-authorizationmanager-check-failed

[2018-02-22 23:23] clavrus commented on #1205
I updated to the PowerShell extension 1.6 and no change in behavior

[2018-02-22 23:30] Ryoken0367 commented on #1048
It seems this is definitely the issue; at least for me. We were pushing out the execution policy through GPO. As a test, I have turned that off, and left my machine set at AllSigned, and it runs just fine. Guess I'll be looking into pushing that out through a registry setting instead moving forward.

Thank you for all the help!

[2018-02-23 03:02] rkeithhill commented on #1205
Hmm everything is clipping along nicely until we attempt to process your profile:
[code]
Could you temporarily rename your profile file - `C:\Users\su-rp53\Documents\WindowsPowerShell\profile.ps1`?  Stick a `.bak` on it or something and then retry VSCode to see if the perf issue still exists.  If it doesn't, we'll need to figure out what's going on with your profile.

[2018-02-23 03:24] rkeithhill commented on #1208
No need for logs.  Got the problem spotted and fixed.  Will be in next update.

[2018-02-23 03:34] rkeithhill commented on #357
Syntax highlighting is being managed out of the https://GitHub.com/powershell/editorsyntax project.  @tylerl0706 Can you move this issue over to that repo?

[2018-02-23 03:38] rkeithhill commented on #1207
As you've found this is a feature of the GitHub.com/lzybkr/psreadline project.  I suggest you file an issue on that project.  In fact, the "terminal.integrated.shell.windows" works (and will behave the way you describe) without the PowerShell extension installed.  I'm closing this since there is nothing that the PowerShell extension does to contribute to this issue.  If you feel this is incorrect,

[2018-02-23 03:38] #1207 closed

[2018-02-23 05:42] alexandair opened #1210 "New-EditorFile triggers an error messsage"
[code]

### Issue Description

When I run New-EditorFile, a new file is created, but I also get an error message:
[code]

### Attached Logs

Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell#reporting-problems)
about capturing and sending logs.

[2018-02-23 06:09] tylerl0706 commented on #1210
Interesting. Does that error happen when you run:

[code]

In the integrated console?

[2018-02-23 12:16] Benny1007 commented on #1210
Does for me

:\MICROSOFT\PowerShell> $psEditor.GetEditorContext()
Exception calling "GetEditorContext" with "0" argument(s): "One or more errors occurred."
At line:1 char:1
+ $psEditor.GetEditorContext()
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [], MethodInvocationException
    + FullyQualifiedErrorId : AggregateException

I:\MICROSOFT\PowerShell> New-EditorFi

[2018-02-23 12:25] SeeminglyScience commented on #1210
I can repro if I comment out `"files.defaultLanguage": "powershell"` from my settings.

@tylerl0706 there's an overload on `openTextDocument` that allows you to specify what language the new text document should be.  If we just always set that to `powershell` it should resolve the issue.

[2018-02-23 12:29] yoke88 opened #1211 "powershell.exe terminated or terminal UI was closed"
### System Details

- Operating system name and version: deepin linux 15.5
- VS Code version: 1.19.0-1513245498
- PowerShell extension version: 6.0.1
- Output from `$PSVersionTable`:

[code]

### Issue Description

when i open a script , script content is below: there will be a prompt ask for 'The powershell session has terminated due to an error,would you like to restart it ,if i click yes ,after

[2018-02-23 14:32] clavrus commented on #1205
You were correct. My profile.ps1 is set up to import a number of my commands, but I think I've identified the one line that vscode isn't liking.

Import-Module C:\scripts\modules\trconfig.psm1 - If I comment out this line, vscode intellisense is much snappier.

I've added the trconfig.txt for your reference. I don't see anything in it that should cause problems. I am able to import a different .ps

[2018-02-23 14:44] clavrus commented on #1205
It looks like it's this line that's causing it.

Add-PSSnapin Microsoft.Exchange.Management.PowerShell.SnapIn

[2018-02-23 16:01] tylerl0706 commented on #1210
Perfect for the hackathon!

[2018-02-23 16:02] tylerl0706 commented on #1210
Thanks for the report everyone!

[2018-02-23 21:32] tylerl0706 commented on #1186
This will be just a matter of adding these snippets to:
https://github.com/PowerShell/vscode-powershell/blob/master/snippets/PowerShell.json

[2018-02-23 21:37] tylerl0706 commented on #1051
context: This should be just modifying https://github.com/PowerShell/vscode-powershell/blob/master/themes/theme-psise/theme.json

as far as I know.

[2018-02-23 21:43] tylerl0706 commented on #996
This check for `$IsLinux` should be changed to:

[2018-02-24 00:05] alexandair commented on #1210
`$psEditor.GetEditorContext()` works on my machine without a problem. New-EditorFile still fails.

[2018-02-25 21:50] rkeithhill commented on #1211
The interesting bits of the log are:
[code]
I've seen this `"failure to look upPower Shell version, defaulting to version 5"` several times now.  It needs to be looked into.

[2018-02-26 05:32] tylerl0706 commented on #1211
Yeah I can look into this since I repro it consistently.

[2018-02-26 06:06] tylerl0706 commented on #1210
This only seems to happen with Untitled files... because:

[code]

works fine.

[2018-02-26 13:24] mvahsen opened #1213 "Debugging slow after Session kill and restart"
I have a strange behaviour about the performance during debugging.
First time after reboot debugging performance is ok, when I kill the terminal and restart the session, performace is really slow.

Does anyone have some tipps?

Best regards

Marco

[2018-02-26 14:00] mklap12 opened #1214 "Error "Debug adapter process has terminated unexpectedly" when running Powershell scripts"
### System Details

- Operating system name and version:
Microsoft Windows NT 6.3.9600.0
- VS Code version:
1.20.1
- PowerShell extension version:
1.6.0
- Output from `$PSVersionTable`:
5.1.14409.1012
[logs.zip](https://github.com/PowerShell/vscode-powershell/files/1758839/logs.zip)

[code]

[2018-02-26 14:01] jskii commented on #1164
This appears to have been fixed in version 1.6.0 so I will close this request.

[2018-02-26 14:01] #1164 closed

[2018-02-26 15:54] rkeithhill commented on #1205
@veepee78 Thanks for attaching your log files! In your EditorServices.log file I'm seeing a 10 second gap every time we invoke PSSA (part of a codeLens/resolve request):
[code]
CodeLens/PSSA should be running in the background until you click on one.  Also, the slowest IntelliSense response I've seen from the language server in the log file is:
[code]
That doesn't mean that there isn't something o

[2018-02-26 20:33] bgelens opened #1215 "psedit non PowerShell files are not actually saved."
### System Details

[code]

### Issue Description

Enter a PSSession and open a PowerShell file (ps1) and edit is with vs code. Save it and works as expected.

Now do the same for a different file type (e.g. .rb) adjust and save it. The modification is not saved. VS Code gives you the impression it is handled. But it isn't.

See gif for both cases:

![2018-02-26_21-30-21](https://user-images.githu

[2018-02-27 14:41] no-escape commented on #1174
I have the same issue and I can tell you, it is really painful to work with this. I have many script files in my workspace and just starting VS Code and integrated powershell terminal, the powershell.exe process, immediatelly takes up to 1.5GB memory without me doing any work, CPU core spikes to 100% usage for about a minute, then goes back down.

I have to be careful to actually NOT press ctrl+sp

[2018-02-27 16:44] rkeithhill commented on #1195
I think this is the key.  VSCode has changed the file URI format or something and we are not detecting that properly.  Thanks for info!

[2018-02-27 16:44] Cirzen commented on #703
Does this need doing for all keywords?
There's nothing in there for try / catch / finally either. This frequently results in me over-writing catch with another cmdlet name instead after pressing enter:
![allman_catch](https://user-images.githubusercontent.com/13346199/36741161-4f9ba6fa-1bdc-11e8-8911-dafe1b2d4834.png)

[2018-02-27 17:04] moymike commented on #703
Just tested on a .JS file, and the try, catch and finally all work with intellisense.
With .PS1 only the try is recognized.

[2018-02-27 17:17] Cirzen commented on #703
I can only see try as a snippet, not as a known keyword.
![image](https://user-images.githubusercontent.com/13346199/36743207-9c11b36c-1be1-11e8-89be-e03437eb34d7.png)

[2018-02-27 17:56] moymike commented on #703
Okay, you are right, somehow I managed to disable the Powershell extension.  Now I am seeing the same thing, just the snippets try, trycf and tryf ... typing catch or finally are not recognized at keywords.

[2018-02-27 21:49] moymike opened #1216 "[PSScriptAnalyzer] Updating of Problems pane intermittent"
### System Details
1.20.1
f88bbf9137d24d36d968ea6b2911786bfe103002
x64

Major  Minor  Build  Revision
-----  -----  -----  --------
1      6      0      0

arcticicestudio.nord-visual-studio-code@0.6.0
casualjim.theme-desertex@0.0.6
davidmart.theme-jsfiddle-like-syntax-vscode@0.0.6
DotJoshJohnson.xml@1.9.2
gerane.Theme-azure@0.0.2
gerane.Theme-Dreamweaver@0.0.2
gerane.Theme-feelgood@0.0.2
gerane.T

[2018-02-27 23:16] tylerl0706 commented on #703
so we have:

throw, continue, try, catch & finally.

I think we should open an issue on PowerShell (https://github.com/powershell/powershell) to see if adding completion results for these keywords is needed.

@SteveL-MSFT, do you have any thoughts on this?

[2018-02-28 00:53] tylerl0706 commented on #1215
Looks like a bug to me. Thanks for the report!

[2018-02-28 00:54] tylerl0706 commented on #1216
Thanks for opening this! We'll take a look.

[2018-02-28 00:56] tylerl0706 commented on #1214
Hi there, thanks for this! Would you mind attaching the logs?

The instructions can be found [here](https://github.com/PowerShell/vscode-powershell#reporting-problems).

[2018-02-28 01:03] tylerl0706 commented on #1200
In the terminal, are you running posh

[2018-02-28 02:37] rkeithhill commented on #1214
The log zip is attached but it isn't that helpful.  The debug adapter stops logging pretty quickly:
[code]

 @mklap12 Can you set the PowerShell log level to `Diagnostic` and then paste the contents of the `Start-EditorServices.log` file here?  Thanks.

[2018-02-28 05:17] SteveL-MSFT commented on #703
I think we should open an issue in PowerShell repo rather than special case this for PSEditorServices

[2018-02-28 09:16] mklap12 commented on #1214
Thanks. Here are the log files. We have another similar Windows server 2012 R2, and we get the same error message there. Both servers have several other Powershell Modules installed like vmware and scom. Could some of those module cause the error?

[Start-EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/1766407/Start-EditorServices.log)
[vscode-powershell.log](https://gith

[2018-02-28 16:10] tylerl0706 commented on #1200
Question, @Arshavink... when it worked in the terminal, were you running push with sudo?

[2018-02-28 19:21] jeremytbrun opened #1217 "PowerShell Integrated Console clarification questions (syntax highlighting and execution policy)"
### System Details

- Operating system name and version: Windows 10 (Build 15063.877)
- VS Code version: 1.20.1
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.15063.786
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
Buil

[2018-02-28 19:21] Arshavink commented on #1200
No without sudo

[2018-02-28 20:08] prkrnt opened #1218 "Feature Request: Add Function Picker"
### System Details

- Operating system name and version: Windows 10

[code]

### Feature Request

Coming from full Visual Studio, one of my favorite things is the ease at which you can navigate a large PowerShell module based on function name.  Most of the code I write is based on functions and being able to easily click a drop down and see every function AND navigate to it with a click is a huge

[2018-02-28 20:35] rkeithhill commented on #1218
This exists within a single script file - press <kbd>Ctrl+Shift+O</kbd> to view symbols.  What we don't have IIRC, is support for viewing all symbols in a workspace.

[2018-02-28 21:05] prkrnt commented on #1218
I knew it had to be there, but just didn't know where to look.

Thanks!

[2018-02-28 21:05] #1218 closed

[2018-02-28 21:59] rkeithhill commented on #1218
I don't know about you but it bugs me slightly that this list isn't alphabetical like in VS.  But as you scroll through the list it jumps to that code location.  The VSCode folks told me that they preferred to keep that list in the order in which symbols appear in the document.  Not sure I totally buy that but ...

[2018-03-01 00:21] tylerl0706 commented on #1195
Do you think you could expand on this a little, @Glober777? What diff editor are you looking at exactly?

[2018-03-01 08:40] wartje opened #1219 "Variables in the watch section arent changed when the scope changes."
### System Details

- Operating system name and version: Windows 10 Version 1607 build 14393.1944
- VS Code version: 1.20.1
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description
When a variable name is reused in a different scope (from script to function) , the value in the "watch" section remains the value of script scope and isn't changed to value of the

[2018-03-01 13:33] prkrnt commented on #1218
I think what bugs me more than that is how code folding is completely broken still.

[2018-03-01 16:32] theznerd opened #1220 "Double Hash (##) Trigger"
Is there a way to disable the double hash trigger that adds single line comment blocks inside of functions aside from forking and removing the trigger myself? I'd prefer to just use the comment block "<#" trigger and leave my ability to comment out sections of my code using multiple hash marks (e.g. ###### BEGIN USER EDITABLE SECTION ######)

[2018-03-01 16:45] Geogboe commented on #1220
I just noticed this myself. I actually just discovered it accidentally but can't find ANY docs pertaining to it. It's not even listed in the snippet reference: https://github.com/PowerShell/vscode-powershell/blob/master/snippets/PowerShell.json#L536-L555

No sure if this is happening for anyone else but, for me, it only happens if I use a double hash ( ## ) either at the FIRST line after a functio

[2018-03-01 16:50] theznerd commented on #1220
Seems to happen at the last line of a function too... If I create my function with three empty lines, I can successfully put the double-hash in the middle one without the trigger taking place. Will be an alright workaround for now.

The "offending" code is located in at line 117 of HelpCompletion.ts - at least this is where the trigger is defined.

https://github.com/PowerShell/vscode-powershell/b

[2018-03-01 16:53] Geogboe commented on #1220
@theznerd Good find! I guess it's not considered a snippet then.

[2018-03-01 17:52] #1127 closed

[2018-03-01 18:46] vrdse commented on #535
@SeeminglyScience  that's great to hear! can't wait to finally have PSReadline support, thanks

[2018-03-01 21:23] hahn-kev commented on #792
@confusingbits I'm having the same issue, however if I enable legacy console then wsl (or bash on windows) doesn't work given it's unsupported according to this:
[code]

[2018-03-01 22:15] ExchangeTips opened #1221 "Close tag not recognized after here-string header"
### System Details

- Operating system name and version: Windows 10 Pro 10.0.16299
- VS Code version: 1.20.1
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:

Name                           Value
----                           -----
PSVersion                      5.1.16299.98
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVe

[2018-03-01 22:27] moymike commented on #1221
Do you have the closing tag -->
"@
typed starting at column 1?  If there is a tab or space in front of it, I get that behavior, but otherwise it works.  This was true with ISE also.

[2018-03-01 22:28] ExchangeTips commented on #1221
No, I didn't. Thanks. That fixed it.

[2018-03-01 22:28] ExchangeTips commented on #1221
Well, not exactly "fixed", but good enough for now.

[2018-03-01 22:48] confusingbits commented on #792
@hahn-kev I eventually ran into the same issue and had to revert. I don't have a solution.

[2018-03-01 23:05] rkeithhill commented on #792
Given that this repros in the "normal" (non-integrated) PowerShell terminal in VSCode. I think this issue should be moved to the VSCode repo.  There is nothing this extension can do to fix this issue.  If you disagree please feel free to re-open.

[2018-03-02 01:01] rkeithhill commented on #1221
I'm going to close this. If you still think there is an issue syntax colorization, please file it at https://github.com/powershell/editorsyntax.  WRT to code folding, vote here - https://github.com/Microsoft/vscode/issues/3422

[2018-03-02 01:01] #1221 closed

[2018-03-02 03:02] rkeithhill commented on #140
I dunno on this.  PS Core has perf issues with write-progress and that is all handled within the same process.  For this, we're talking about sending json messages from one process (PS debug adapter) to another (VSCode extension).  And given Electron's architecture there might even be a third process involved.  Hopefully we can get the integrated console up-to-snuff in terms of displaying progress

[2018-03-02 23:39] rkeithhill commented on #1218
Have you voted on this VSCode issue related to code folding?  https://github.com/Microsoft/vscode/issues/3422

[2018-03-04 15:57] darkquake93 commented on #535
I got it working, all you do is import the module ;) Read the install instructions for PowerShellGallery, it's fairly straightforward.

https://github.com/lzybkr/PSReadLine

[2018-03-04 15:59] daviwil commented on #535
@darkquake93 if you just import the standard PSReadline module into the PS extension's Integrated Console, it will break all language and debugging functionality. @SeeminglyScience's work is to enable PSReadline to coexist with the PowerShell extension's language capabilities.

[2018-03-04 16:06] darkquake93 commented on #535
Oh I didn't realise. I only use Powershell for minimal use on my home Windows 7 machine, and all seems good for the time being with syntax highlighting and ctrl+delete etc working. I'll keep that in mind though, but my computer at work is already on Windows 10 so that's probably where I'll do debugging in the future, I just like to run simple scripts at home :)

[2018-03-04 19:08] benpiper commented on #702
Will the solution to #569 also fix this?

[2018-03-05 04:50] tolarianNZ commented on #1189
Same issue here on Windows 8.1, Visual Studio Code v1.20.1, PS Extension v1.6.0, and another colleagues using Win10.   Tab auto-complete on common PS cmdlets doesn't seem to work... for example get-childitem... but any cmdlet really.  I found a similar [article ](https://github.com/PowerShell/vscode-powershell/issues/215) in 2016 of this being fixed, but it seems to have returned?  Any word on an

[2018-03-05 21:39] rkeithhill commented on #1203
Yeah, that script alone isn't enough to trigger the crash.  :-(

[2018-03-06 13:30] lipkau commented on #190
Hey

Why must this only be available in VsCode?
What if the confit (profile) file looked more like a composer/npm config? And when called, “invoke-plaster” would use the configured values for the parameters?
This way it would be usable from the console, as long as the workingDir has the file.

[2018-03-07 14:51] massimonewsuk commented on #992
I am having the same issue when using Select-Object. I raised an issue with PowerShell thinking it's a PS issue, but it turns out it works perfectly fine in PS. Here's the issue: https://github.com/PowerShell/PowerShell/issues/6330

[2018-03-07 21:41] shahwahed opened #1222 "found a virus in vsix file"
### System Details

- Operating system name and version:
- VS Code version: 1.6.0
- PowerShell extension version:
- Output from `$PSVersionTable`:

As I looking for a offline installation of vscode-powershell, I download the vsix file for offline download
using the following URL :

https://ms-vscode.gallery.vsassets.io/_apis/public/gallery/publisher/ms-vscode/extension/PowerShell/1.6.0/assetbyname

[2018-03-07 22:44] jacerm opened #1223 "Pester Describe blocks with tags lose integration functionality"
### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.20.1
- PowerShell extension version: 1.6.0

### Issue Description
- Standard Pester Describe blocks provide Run Tests and Debug Tests buttons for easy Pester integration. When you add Tags to the Describe block, the Pester integration buttons are no longer available. See images below.

![2018-examplewithouttag

[2018-03-08 14:58] AspenForester commented on #571
Just checking in on this.  I'm sure there are conflicting dev commitments between this and PSReadLine integration.

[2018-03-08 16:50] jeremytbrun commented on #1217
Thanks for the info @dsolodow.

The default Integrated Terminal does seem to honor Set-ExecutionPolicy when set in an independent PowerShell window, but the "PowerShell Integrated Console" that loads with the vscode-powershell extension does not seem to honor it (see screenshot). It seems to default to "RemoteSigned". When I try to set the policy within the PS Integrated Console it errors (see scr

[2018-03-08 17:00] dsolodow commented on #1217
Fascinating. What happens if you run
[code]

[2018-03-08 18:03] jeremytbrun commented on #1217
That seems to work. Hmmm. But why does it default back to RemoteSigned after restarting the PowerShell Integrated Console? Any way to make it default to something else?

![capture1](https://user-images.githubusercontent.com/28311946/37167869-184b46e6-22d1-11e8-86a2-a96ce585da4a.PNG)

[2018-03-08 18:09] jeremytbrun commented on #1217
It appears it may be configurable by adding the following line of code to Microsoft.VSCode_profile.ps1.

`Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Scope Process`

Let me know if this is the only way you know of.

Thanks @dsolodow !

[2018-03-08 18:14] #1217 closed

[2018-03-08 20:34] dsolodow commented on #1217
Yeah, adding it to the profile was something I mentioned earlier. :)
I personally avoid using the host specific profiles, so I'd instead add the following to profile.ps1:
[code]

[2018-03-08 20:46] jeremytbrun commented on #1217
Thanks. Sorry I didn't make that connection at first. :)

Thanks for the pointer on the general profile script.

[2018-03-12 08:45] ingemar-hn opened #1226 "Powershell PSScriptAnalyzer, error in PSUseDeclaredVarsMoreThanAssignments"
### System Details

- Operating system name and version: Windows 10
- VS Code version:
Version 1.22.0-insider
Commit 5450fdc79778b5a76a27ea7e5fd68e9ebbe44107
Date 2018-03-12T05:15:51.483Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:
[code]

Copy / paste the following commands into the PowerShell Integrated Con

[2018-03-12 13:30] TheIncorrigible1 commented on #1222
Why aren't you using the [official download link](https://github.com/PowerShell/vscode-powershell/releases/download/v1.6.0/PowerShell-1.6.0.vsix)?

[2018-03-12 15:46] tmknight commented on #140
In the interim, I've created a module to display progress (attached).  Not super elegant, but may work for most purposes: https://github.com/tmknight/Write-InlineProgress

[2018-03-12 17:34] mpearon commented on #177
So, according to [this](https://code.visualstudio.com/updates/v1_21#_folding), the VSCode Team has implemented an API for code folding.  I'm sure this is on the implementation radar somewhere, @rkeithhill ?

[2018-03-12 23:03] rjmholt commented on #154
I have a working implementation for this (just a text-in-status-bar update): [client](https://github.com/rjmholt/vscode-powershell/tree/execution-status-notifications) and [server](https://github.com/rjmholt/PowerShellEditorServices/tree/execution-status-notifications).

I'll add some tests and open PRs for each component.

I'm fairly new to the PowerShell extension client/server codebase and to V

[2018-03-13 02:30] rkeithhill commented on #177
@mpearon Thanks for the pointer.  We'll definitely be looking at this but keep in mind that it is a "proposed" API with limitations i.e.:

So we will be tracking development of this API but we will need to wait until it's done before rolling it out with the PowerShell extension.

[2018-03-13 02:37] rkeithhill commented on #1226
This issue has been submitted on the PSScriptAnalyzer repo where it needs to be addressed. Please vote up that issue - https://github.com/PowerShell/PSScriptAnalyzer/issues/831

[2018-03-13 02:37] #1226 closed

[2018-03-13 10:41] TheShihan commented on #829
+1
If possible, please add this. It would make the transition from PowerShell ISE less painfull.

[2018-03-13 23:16] mpearon commented on #177
@rkeithhill - I completely understand! :)  I'm just glad you guys are aware of it.  I'm excited to see the magic happen!

[2018-03-14 00:11] dragonwolf83 commented on #829
You can now `Alt+Click` to move the cursor on the command line with the mouse. This was just added in
[Visual Studio Code v1.21](https://code.visualstudio.com/updates/v1_21#_move-cursor-with-altclick).

[2018-03-14 18:49] kcurtis3247 commented on #1195
[EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/1812469/EditorServices.log)

I get the same type of PathTooLongExceptions. Log attached.

In my case it's definitely only showing up with svn, as I can get rid of the errors by disabling the extension. It looks like it's including a bunch of encoded characters.

![vscode](https://user-images.githubusercontent.com/10444270/3

[2018-03-15 12:11] csandfeld opened #1228 "'<#' does not trigger insert of comment based help ('##' does)"
### System Details
[code]

### Issue Description

Typing <# right above/below a function statement, no longer triggers insert of comment based help. Typing ## does work, but I like the block comment better for the comment based help.

See GIF for details:
![2018-03-15_12-49-47](https://user-images.githubusercontent.com/2597673/37461778-d0b77fd2-284f-11e8-8f15-3d46a1ed9c60.gif)

### Attached Logs

[2018-03-15 18:00] 1RedOne opened #1229 "Syntax highlighter crasehes after typing subexpression within Write-Host cmd"
## Issue Description ##

Syntax highlighter reports everything as error when typing a $SubExpression.

## Attached Logs ##

*sent via email*
Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell#reporting-problems) about
capturing and sending logs.

## Environment Information ##

### Visual Studio Code ###

| Name | Version |
| --- | --- |
| Operating System | Win

[2018-03-15 18:01] 1RedOne commented on #1229
I mean, I know that I should avoid Write-host, but I didn't think it would crash VSCode Syntax Highlighter.

[2018-03-15 20:10] yltlatl commented on #410
Hi, is there any plan to fix this? Working on a project that uses this a lot, and it is a pain switching over to ISE to debug...

[2018-03-15 20:17] moymike commented on #410
I ran into this myself on a longtime running script that prompts for user/password:
`if ($WithDomain) {$CredentialType = [System.Management.Automation.PSCredentialTypes]::Domain
}
else {
$CredentialType = [System.Management.Automation.PSCredentialTypes]::Generic
}
$ValidateOption = [System.Management.Automation.PSCredentialUIOptions]::ValidateUserNameSyntax
$Host.ui.PromptForCredential($WindowTitl

[2018-03-15 20:17] moymike commented on #410
I ran into this myself on a longtime running script that prompts for user/password:
`if ($WithDomain) {$CredentialType = [System.Management.Automation.PSCredentialTypes]::Domain
}
else {
$CredentialType = [System.Management.Automation.PSCredentialTypes]::Generic
}
$ValidateOption = [System.Management.Automation.PSCredentialUIOptions]::ValidateUserNameSyntax
$Host.ui.PromptForCredential($WindowTitl

[2018-03-15 20:19] moymike commented on #410
I ran into this myself on a longtime running script that prompts for user/password:
`
$Host.ui.PromptForCredential($WindowTitle, $Prompt, $UserName, "", $CredentialType, $ValidateOption)`

On ISE or commandline this creates a windows box that prompts.  With the current terminal, it prompts in plain text.

[2018-03-15 22:55] shahwahed commented on #1222
Thanks for the link,  but still got the same problem :
https://www.virustotal.com/fr/file/b4d73a0323f77131de15f2d25c2e5e061f7ae382f5a9d4943e0b0e97d8b306fc/analysis/1521042496/
![vsixvt01](https://user-images.githubusercontent.com/4116493/37495120-2dcad622-28ac-11e8-9eaa-b68883a36f0a.png)

how can I be sure this is a false positive virus hit, or a truth problem

[2018-03-15 23:08] Velocet opened #1230 "[Error] TypeError: Cannot read property 'text' of undefined at HelpCompletionFeature.onEvent"
### System Details

- Operating system name and version: `Windows 10 Enterprise 1709 [10.0.16299.98]`
- VS Code version: `1.21.0`
- PowerShell extension version: `1.6.0`
- Output from `$PSVersionTable`:
[code]

[code]

### Issue Description

When using command completion an error gets thrown inside `Log (Window)`:
[code]
Example: Writing `Write-Ho` throws an error when pressing Tab to complete the

[2018-03-19 17:06] stigjoergensen commented on #551
Cant it be implemented as a Ctrl+k type of work-around until its fixed?

[2018-03-19 20:31] shanselman opened #1231 "$global:options['CustomArgumentCompleters'] in Powershell hosted in VS is $null...but it's false outside"
Issue Type: <b>Bug</b>

In a PowerShell window, run:

`$global:options['CustomArgumentCompleters'] -eq $null`

and note that it's TRUE

Now run the same command in a regular PowerShell window and note that it's FALSE.

This prevents a number of scripts from running within VS Code's PowerShell, including the popular "z" replacement for changing directories.

VS Code version: Code 1.21.1 (79b44aa704

[2018-03-19 20:31] shanselman commented on #1231
Moved over from https://github.com/Microsoft/vscode/issues/46079

[2018-03-19 23:43] gradinkov opened #1232 "Error/warning detection is randomly broken"
Repro:

1. open VS Code
2. ctrl+n, ctrl+s, save as foobar.ps1
3. paste: `$test = @{ "item1" = @("foo"); "item1" = @("bar") }` then ctrl+s
4. unused warning for $test, and duplicate keys error for second item1 won't appear
5. open a new line, type `write-host "hello"` and save, then the warning and error should appear.
6. empty whole first line, ctrl+s, red error underline remains on empty char 1
7

[2018-03-19 23:54] gradinkov commented on #1232
It could be that I write code that's not too conventional and too prone to mess up IntelliSense, I really dunno. I'm a PowerShell noob, this is my first shot at it. Maybe just writing invalid code in [rudehash.ps1](https://github.com/gradinkov/rudehash/blob/master/rudehash.ps1), then fixing it will trigger this more easily. To me it happens every few minutes, which gets really irritating after a w

[2018-03-20 00:39] rkeithhill commented on #551
This is an issue with VSCode as it is the same with the vanilla PowerShell terminal as well as CMD.  Please vote up this issue - https://github.com/Microsoft/vscode/issues/30638

[2018-03-20 00:39] #551 closed

[2018-03-20 01:10] rjmholt commented on #1230
I've just tried to reproduce this with `Write-Ho<TAB>` and couldn't, but if `null` is occurring there, then perhaps VSCode is sending us a bad message... With some defensive programming, we can just return when we are sent `null` (although perhaps we still want to log an error there...).

@Velocet TypeScript compiles to JavaScript. So you're quite right that the error is occurring in `...\HelpComp

[2018-03-20 01:10] rjmholt commented on #1230
Also, thanks for opening an issue!

[2018-03-20 01:11] rkeithhill commented on #1230
I have seen it before in the dev tools window.  Let me see if I can repro it.

[2018-03-20 03:54] rkeithhill commented on #1231
I suspect that the "z" change directory utility has some script that it puts in a profile script.  If that script is in `Microsoft.PowerShell_profile.ps1` it will not get run inside the PowerShell Integrated Console terminal window.  If you move that script to profile.ps1 then it will get loaded by all hosts for the current user.

[2018-03-20 04:09] rkeithhill commented on #410
I think @sunmorgus has a reasonable idea but it might be hard to implement.  You can work-around this by launching your script in an external console with a `Wait-Debugger` at the start, use VSCode to attach to the process and then debug it.  However, we should provide an easier way to do this i.e. debug via a new, external console.

[2018-03-20 04:15] rkeithhill commented on #1229
What exactly do you mean by crashing?  Does the language server actually crash?  If so, can you please provide the log files for that session (see https://github.com/PowerShell/vscode-powershell#reporting-problems for instructions on attaching a zip of the log files).  Or do you see that syntax colorization is messed up after this command?

[2018-03-20 04:21] rkeithhill commented on #1228
This happens to me at times but usually I'm glad it fails because most of those times I'm commenting out a function and the auto-expansion to a help template is really bothersome.

[2018-03-20 05:58] tylerl0706 commented on #733
Here's what is required:

"Each extension/language can implement quick fix all using the existing CodeActionProvider API"

@Omniusz there are some perf related issues that are at the top of my priority. As soon as I get those figured out I can start looking at this.

But of course... PRs always welcome 😄

[2018-03-20 07:16] tylerl0706 commented on #154
Fixed in #1227 🎉

Now you'll see a little spinner as well as some text 😄

all thanks to @rjmholt 🎉

[2018-03-20 07:16] #154 closed

[2018-03-20 07:17] tylerl0706 commented on #208
@rjmholt can you test to see if this is fixed for free with #1227 😄

[2018-03-20 07:43] tylerl0706 commented on #1232
Totally understandable and thank you so much for opening this! I couldn't repro what you are seeing on my mac but let me try a few other VMs and get back to you.

[2018-03-20 15:23] Cirzen commented on #1228
Keith makes a good point. I love the ability to auto insert the help comments, especially with the parameter names already filled out.
I'm not keen on the hash marker on every line though, I think it's uglier than the multi-line comment alternative, and it gets annoying having to insert '#' and set the indent correctly. Would an alternate snippet shortcut be better?

[2018-03-20 15:31] GABeech commented on #1228
In addition to the '#' style being uglier the [recommended style](https://github.com/PoshCode/PowerShellPracticeAndStyle/blob/master/Style-Guide/Documentation-and-Comments.md) is to use '<#' block comments.

[2018-03-20 16:49] pcgeek86 commented on #154
@tylerl0706 Awesome!

[2018-03-20 18:01] rjmholt commented on #1223
Ah, I can replicate this nicely and think I see [where the issue lies](https://github.com/PowerShell/PowerShellEditorServices/blob/80755157599b620c8e24517e4d36166bd2943922/src/PowerShellEditorServices/Symbols/PesterDocumentSymbolProvider.cs#L42). Hopefully a fix will be straightforward.

[2018-03-20 18:05] joeyaiello commented on #1232
@tylerl0706 and I talked, this *might* have something to do with the size of the flat .ps1 you're working with on you project. But it's certainly not the biggest .ps1 I've ever seen ([here's](https://github.com/PowerShell/PowerShellGet/blob/master/PowerShellGet/PSModule.psm1) what PowerShellGet looked like before a recent refactor), so it's reasonable that we should work better with larger files l

[2018-03-20 18:26] tylerl0706 commented on #1228
So it seems that this a pretty opinionated feature. However, we have some conflicting experiences.

* If we allow `<#` to create block comments, then we hurt those that want to comment out functions.
* If we don't have snippet to create block comments, then we hurt those that like that style of help.

Based on this, I wonder if I can convince those that want a block comment snippet if we can chang

[2018-03-20 18:27] gradinkov commented on #1232
But it also happens with my 2 line example...

[2018-03-20 18:28] tylerl0706 commented on #1232
I've been speaking with @SeeminglyScience about this and he had some thoughts on why this was happening. Even for small files. It's entirely possible that the bigger the file, the more common this issue is.

[2018-03-20 18:29] gradinkov commented on #1232
I C, that might very well be the case indeed.

[2018-03-20 18:43] Cirzen commented on #1228
Happy with any particular shortcut.
"help" is already an alias though, so my instinct would be to shy away from that. I quite like <##
The comment based help is equally applicable for entire ".ps1" files as well as functions, so I would add the request that it should work for both.

[2018-03-20 18:53] GABeech commented on #1228
@tylerl0706 any reason to not make it a config option?

Could be as simple as `"powershell.autoGenerateHelp": "off|block|comment|on"`

off= don't generate
block = block style ('<# #>')
comment = comment style ('##')
on = enable both.

Default it to on, and people can tweak the config to suit their needs and wants.

[2018-03-20 19:10] SeeminglyScience commented on #1228
Slightly more ambiguous solution:

Make the completion provider API available from PowerShell/C# (like was done with code lens and symbols).  Then refactor the existing HelpCompletionProvider to implement that API and allow it to be removed/adjusted from PowerShell.

[2018-03-20 19:14] moymike commented on #1232
This the same issue?
[https://github.com/PowerShell/vscode-powershell/issues/1216]

[2018-03-20 19:27] gradinkov commented on #1232
Definitely almsot identical, tho I don't think closing and reopening the file ever solved this issue for me. Only a full Code restart.

[2018-03-20 21:23] brettmillerb commented on #1228
I think the issue here is that the last update broke the way that it worked and typing `<#` used to generate the help but it doesn't work anymore.

The preferences are also a good discussion but something broke in the last update.

[2018-03-20 21:58] tylerl0706 commented on #1228
@SeeminglyScience oh I see this is not just a snippet. Got it. Then you're right, completion provider should be available from PowerShell/C#. That way we can also do `Register-EditorCompletion` or something.

Btw everyone, there is a snippet for `<#` help called: `comment-help`!
https://github.com/PowerShell/vscode-powershell/blob/master/snippets/PowerShell.json#L557-L577

Please use that as a wor

[2018-03-20 22:01] brettmillerb commented on #1228
The `<#` used to generate help and include help for already declared parameters. Was awfully handy 👍

[2018-03-21 01:39] #953 closed

[2018-03-21 03:20] Velocet commented on #1230
@rjmholt Thanks for clarification! 👍

Is there anything i can do to help? Maybe a detailed trace or something alike?

[2018-03-21 04:17] rjmholt commented on #1230
If you could provide something like that, it would definitely be helpful. The issue as it appears now seems trivial to fix, but I can't reproduce it and VSCode really shouldn't be sending us null messages, which makes me wonder if something stranger is going on

[2018-03-21 04:19] rjmholt commented on #1230
Actually, I see above that you've already got a trace. My inclination is to just fix the superficial bug and see if bad things persist -- we lose nothing by being defensive. I will open a PR tonight

[2018-03-21 06:03] rjmholt commented on #1229
If you have an error trace for a crash like this, that would very helpful

[2018-03-21 06:07] rjmholt commented on #1219
Thanks for opening an issue!

Would you be able to provide an example of this behaviour? We just need to reproduce it

[2018-03-21 06:15] rjmholt commented on #1213
Hi! Would you be able to provide your configuration info?

The output of `$PSVersionTable` would be helpful, and possibly any logs (instructions [here](https://github.com/PowerShell/vscode-powershell#reporting-problems))

[2018-03-21 06:29] rjmholt commented on #1204
Hi @logg-sar, are the currently extant features that @rkeithhill described suitable? Or is there a different functionality you were looking for? If it's the second one, could you maybe describe it in more detail or give an example?

[2018-03-21 06:38] rjmholt commented on #1195
I'm assuming that `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem\LongPathsEnabled` is set to `0` on these systems?

If so, I wonder what our mitigation can be if VSCode is generating the paths...

[2018-03-21 07:58] csandfeld commented on #1228
Exactly @brettmillerb - it used to work when then typing ```<#``` but no longer does (I should have been more clear about that when opening the issue).

And as you mentioned above, it was more handy than a regular snippet, as it generated help for already declared parameters - something the snippet does not.

Looking at [HelpCompletion.ts](https://github.com/PowerShell/vscode-powershell/blob/8d8f2

[2018-03-21 10:46] AWahlqvist opened #1237 "Possible powershell.codeFormatting.whitespaceAroundOperator bug"
### Issue Description

Not sure if this is an actual bug or not, but consider this example when setting powershell.codeFormatting.whitespaceAroundOperator to true:

[code]

When using the "auto-formatter", VSCode changes it to:

[code]

Is that the expected behavior? It does work of course, but I've never seen it written like that ever, so wanted to confirm if it's intented.

Thanks!

[2018-03-21 13:50] michaelschulz commented on #996
$IsLinux is available in PS 6. The sript itself (at this point) doesn't support installation on Linux, so what's the point of switching the $Architecture to either 64-bit or 32-bit if an OS that's not supported by this script is detected?

[2018-03-21 14:05] dsolodow commented on #996
It doesn't; it only does that check if the OS is Windows.
Did you perhaps miss the ! in `if (!($IsLinux -or $IsOSX))` ?
It would have been more readable to make it 'if (-not($IsLinux -or $IsOSX))`

[2018-03-21 14:46] michaelschulz commented on #996
No, I did see the !. What I was wondering was why even check for that if there's no support to install on anything but Windows? Looking into a way to implement for Linux.

[2018-03-21 15:04] dsolodow commented on #996
Ah. Well, the bitness check only occurs for Windows; Linux and OSX go to
the "write-error' at the end.
For Linux support, would probably have to add some checks for distro,
version and bitness to grab the right package/repo.

Sent from mobile

On Wed, Mar 21, 2018, 10:47 AM Michael Schulz <notifications@github.com>
wrote:

[2018-03-21 15:29] michaelschulz commented on #996
Correct, plus a decision whether to do a direct install from package or add repo and then install from there which would probably be the preferred way in order to keep the system up to date.

[2018-03-21 17:33] GABeech commented on #1228
After Doing a bit of digging. It seems like the following is happening:

when you type `<#` it auto-completes to `<##>` (no space, not sure if this is relevant),

Taking a peek at what is happening in the `onEvent` function in `HelpCompletion.ts`, this auto complete is showing up as two text changes:

1: `<`
2: `##>`

This causes the matcher to not match and thus not insert the generated help.

[2018-03-21 23:05] mklement0 commented on #907
@rkeithhill:

That's a great improvement, but it doesn't seem to have made it into v1.6.0, neither on Windows nor on macOS (haven't tried Linux).

Is there a problem with the PRs, or should we expect it in a future release and, if so, which one?

[2018-03-21 23:08] rkeithhill commented on #907
There's a bug that has been fixed and will show up in the next release.  It works today for the Pester Run/Debug Tests code lens.  What it doesn't work for is launch configurations unless you specifically add the field `"createTemporyIntegratedConsole": true`.

[2018-03-22 06:29] #996 closed

[2018-03-22 06:34] #196 closed

[2018-03-22 06:40] #1186 closed

[2018-03-22 06:55] tylerl0706 commented on #1231
@shanselman So just to clear things up:

#### Results of `$global:options['CustomArgumentCompleters'] -eq $null`:
PowerShell Integrated Console (part of PowerShell extension): `False`
Regular PowerShell console in VSCode (ships with VSCode): `True`
PowerShell.exe/pwsh.exe: `True`
PowerShell ISE: `<not sure>`

Do I have this right?

Keep in mind that the ISE, powershell.exe, and the PowerShell Inte

[2018-03-22 06:59] tylerl0706 commented on #1228
Great find @GABeech!

[2018-03-22 07:08] tylerl0706 commented on #1220
Yeah so this is more powerful than a snippet. It will scan your function and add parameter comments and such to the help.

You're right, we need to document this better. Feel free to open an issue to write a doc (or contribute if you'd like! 😃)

Just an FYI...
Right now there's a bug in the `<#` help comments generation. See #1228

We're considering doing some abstractions to allow folks to regist

[2018-03-22 07:18] tylerl0706 commented on #1222
UnixConsoleEcho is a library that @SeeminglyScience made to fix a few issues related to Unix based systems:
https://github.com/SeeminglyScience/UnixConsoleEcho

He's a contributor of this project and PowerShellEditorServices the language server this extension uses.

I don't think this is a true problem. That said, I'd be interested in getting more information on why this is getting flagged and may

[2018-03-22 07:47] tylerl0706 commented on #907
We can probably release a 1.6.1 relatively soon to get that fix out.

[2018-03-22 07:50] tylerl0706 commented on #996
If folks use a certain distro of linux, they're more than welcome to submit a PR with an automated installation for that distro 😃 same goes for macOS.

[2018-03-22 12:02] SeeminglyScience commented on #1222
If you drill down to the file, it looks like it's hitting a rule that tries to detect obfuscated PowerShell scripts.  From what I can tell it hits if the word "PowerShell" is embedded somewhere, and the file is under a specific size.

That library doesn't have the word PowerShell anywhere, but the dll from the nuget package also runs clean.  [Here's the scan](https://www.virustotal.com/en/file/044

[2018-03-22 17:12] ClintWeaver commented on #1228
Would it be possible to create a Command Pallet action to trigger the generation of comment-based help.  While we're at it, I would also recommend creating a Settings option for the default location of comment-based help.  I'm sure people are very passionate about where the correct place is for that block of text.

If I had a say in the matter, the default should be between the function name and t

[2018-03-22 17:32] Tyriar commented on #953
@artisticcheese was this fixed?

[2018-03-22 17:38] artisticcheese commented on #953
Yes, works for me.

[2018-03-22 20:26] SourabhRanka commented on #580
Hey @daviwil  what to do make your changes work for me?

[2018-03-22 20:46] tylerl0706 commented on #580
@SourabhRanka to not start the PowerShell extension automatically, simply go to your settings in vscode and search for `powershell.startAutomatically`. You can set that to false by clicking on the little pencil icon.

Keep in mind, you'll loose out on all of the features: IntelliSense, code navigation, integrated console, code formatting, etc until you run: `PowerShell: Restart Current Session` in

[2018-03-22 21:13] vikashdaya commented on #599
@szhivotovsky ... found this while looking for the same issue.
If you change the version of the host in the Okta.psd1 file to 1.0, the module with load and work...

# Minimum version of the Windows PowerShell host required by this module
PowerShellHostVersion = '1.0'

[2018-03-22 22:03] shanselman commented on #1231
Yes, in fact, in the ISE it's "Cannot index into a null array." because #global:options is itself $null.

So it seems like the "Regular PowerShell Console" (the standard host) isn't populating that array, while, as you point out, the PowerShell extension is.

The ask is that the VS Code standard one do it so profiles that use this array don't crash.

[2018-03-22 22:05] #1231 closed

[2018-03-22 23:44] lwajswaj opened #1241 "Not rendering properly ValidatePattern with GUID regex"
### System Details

- Operating system name and version: Windows 10 Pro - 1709
- VS Code version: 1.21.0
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.16299.251
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersio

[2018-03-23 00:47] rkeithhill commented on #1241
This is a bug with the TextMate file for PowerShell which lives in a different repo. This particular issue has been submitted on that repo. Please 👍 that issue - https://github.com/PowerShell/EditorSyntax/issues/34

[2018-03-23 00:47] #1241 closed

[2018-03-23 07:28] tylerl0706 commented on #1132
Ok, this must be the same issue as #1195, I'm going to dupe it to that. Let me know if you see otherwise!

[2018-03-23 07:28] #1132 closed

[2018-03-23 07:36] tylerl0706 commented on #1195
I'm going to close this as a dupe to https://github.com/PowerShell/PowerShellEditorServices/issues/569 since this issue is actually with PowerShell Editor Services.

It's seems clear that we're not catching this exception and handling it accordingly.

[2018-03-23 07:37] tylerl0706 commented on #1195
Let me know if you see otherwise! Thanks everyone :)

[2018-03-23 07:37] #1195 closed

[2018-03-23 17:39] markekraus opened #1242 "Add Feature to List PowerShell Builds in Session Menu when Working on PowerShell Core"
I do quite a few builds of PowerShell from VS Code and one feature I think that would be really nice is the ability to automatically detect PowerShell builds form the project root and add them to the selection list in the PowerShell Session Menu:

![20180-03-23-02](https://user-images.githubusercontent.com/6509955/37844866-08f782be-2e97-11e8-9727-d0a6c6aa0ceb.PNG)

Ideally, it would detect the rel

[2018-03-23 18:04] markekraus opened #1243 "Make powershell.powerShellExePath a Worksapce Configuration"
I would like to use different PowerShell versions in different in different workspace folders without having to change my user settings for all workspaces. I would like for when  `powershell.powerShellExePath` is set in the workspace, the version of PowerShell define there would load. This is helpful when working switching back and forth between Windows PowerShell and PowerShell Core Projects.

Cu

[2018-03-23 18:25] rkeithhill commented on #1242
It seems like if we could make `powershell.powerShellExePath` a workspace setting then it would address this issue well enough, right?  I mean, this feature request is pretty corner-case.  :-)

[2018-03-23 19:49] markekraus commented on #1242
No really. When working on the project I may switch from Windows PS, to Core, to Debug Build, to Release Build. I may have a temporary editor file open with the same snippet of code and testing the behavior in each, or just going back and forth from building and debugging. I do a bunch of jumping around of PS versions in this work space, so the setting in the workspace wouldn't really address this

[2018-03-23 21:17] tylerl0706 commented on #1243
Thanks for this, Mark! Are you able to add any of the other PowerShell settings to workspace level settings?

[2018-03-23 21:26] tylerl0706 commented on #1242
There isn't an editor at this time. That said, as a work around, it could be possible to write a script to modify the setting @rkeithhill mentioned and then restart the current session (this part you may have to do manually).

It's not ideal and I want to make this better for PowerShell contributors.

[2018-03-23 21:33] markekraus commented on #1243
This is the only one I have run into that does not work as a workspace setting. I define quite a few normally with regards to the formatting (Team OTBS! WOOT!) and have never had any issues.

[2018-03-24 05:18] rkeithhill commented on #1155
OK, I think I've fixed this a better way.

[2018-03-24 11:26] markallisongit commented on #1189
Very interested to know when this might be fixed. I've got a new laptop and the same issue has appeared there too.

[2018-03-24 11:35] tolarianNZ commented on #1189
Hoping replies via email work.  It was user error for me in the end.  Even
once you install the PowerShell extension for whatever reason you need to
click Reload.  When I did this all works really well now.  May not be
everyone's case but hope this helps.

Best regards,

Ryan Pool

On Sat, 24 Mar. 2018, 10:26 pm Mark Allison, <notifications@github.com>
wrote:

[2018-03-24 13:39] Rdnaskel commented on #1048
Can confirm, I have run into this problem right after we changed our script execution policy to AllSigned through GPO. So there is no way to bypass (pun intended?) execution policy that has been pushed out through group policy?

[2018-03-24 18:04] markallisongit commented on #1189
@tolarianNZ no this did not work for me, neither does a reboot nor reinstall of the extension.

[2018-03-24 20:48] tolarianNZ commented on #1189
Ah I almost forgot, you must also save the script as .ps1 before it can
recognise which language to base your code on.  Unsaved code won't work.

Best regards,

Ryan Pool

On Sun, 25 Mar. 2018, 5:04 am Mark Allison, <notifications@github.com>
wrote:

[2018-03-24 21:38] rkeithhill commented on #1228
OK, I found the culprit and unfortunately it is VSCode. In the file `C:\Program Files (x86)\Microsoft VS Code\resources\app\extensions\powershell\language-configuration.json` there is this decl:

[code]
Remove that last decl for `<# #>` and voila, help-completion works again.  So we need to figure out who on the VSCode we need to get this changed for 1.22.

Also, I'd really, really like to change

[2018-03-24 21:41] tylerl0706 commented on #1189
Actually, you don't have to save it as a `.ps1` you can just change the language mode to PowerShell and the extension will start.

You can change this by opening up the command pallet (`ctrl(or cmd on Mac)+shift+p`) and type "language". It should say something like "Change language mode" and then hit enter and find PowerShell.

[2018-03-25 05:51] rkeithhill commented on #1195
Fix is coming.

[2018-03-25 06:01] MrDRamos opened #1245 "Add Debug feature to set the next line to execute"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

I am experiencing a problem with...

### Attached Logs

Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell#reporting-problems)
about capturing and sending logs.

[2018-03-25 06:04] rkeithhill commented on #1189
This error:
[code]
has been fixed and will appear in the next drop 1.6.1.  However, there are likely many causes of Intellisense not appearing so YMMV.

[2018-03-25 06:10] rkeithhill commented on #1245
I don't think this extension can do that without support from the underlying PowerShell debug engine which this extension uses.  You might think about making this request on the https://GitHub.com/powershell/powershell repo.  That said, I'm not sure VSCode even exposes a debug UI for this feature.  We're somewhat limited by what the VSCode debugger UI/API exposes.

[2018-03-25 13:12] csandfeld commented on #1228
Good find @rkeithhill.

So the issue logged here comes from fixing issue https://github.com/Microsoft/vscode/issues/9799 in commit https://github.com/Microsoft/vscode/commit/2504d71ba327a3da44278286b2ccda148e354fb8.

Personally I see limited benefit of auto-closing block comments. Typically I use block comments to comment out parts of the code I am working on, during development. When doing that,

[2018-03-25 14:11] tylerl0706 commented on #1228
@csandfeld raises a very good point. Very rarely, if ever, do I ever want the block comment to be automatically closed.

@rkeithhill if we kept in the autoClosingPair for `<##>` can we still use `<#` or rather `<##>` as a help trigger? (assuming the proper setting is set to `Block`)

[2018-03-25 14:13] tylerl0706 commented on #1245
So is this feature like...

I hit a breakpoint... some button lets me execute the next line without continuing? Or am I misunderstanding

[2018-03-25 14:19] tylerl0706 commented on #1243
Strange... ok I'll look into this.

[2018-03-25 14:27] tylerl0706 commented on #1229
I think I understand what @1RedOne is saying and I think it's a dupe of https://github.com/PowerShell/vscode-powershell/issues/1232.

My guess is `syntax highlighter` is PSSA results (aka squiggles 👍 ).

[2018-03-25 14:34] tylerl0706 commented on #1048
@rkeithhill perhaps we're missing something that needs to be signed?

[2018-03-25 14:38] tylerl0706 commented on #1237
@AWahlqvist

So this formatting actually comes from [PSScriptAnalyzer](https://github.com/powershell/psscriptanalyzer). We just get the results from it and make the changes to the code.

Can you move this over to there so the folks that work on PSSA are aware?

[2018-03-25 15:48] tylerl0706 commented on #1243
ok so the `isExecutable` setting is the culprit.
https://github.com/PowerShell/vscode-powershell/blob/master/package.json#L400

Apparently with that set, the setting can only be set in user settings:
https://github.com/Microsoft/vscode/issues/33439#issuecomment-325928860

I'm going to do some digging to see why/if there's a workaround.

If you don't mind trying something for me, or I'll get to it

[2018-03-25 15:52] tylerl0706 commented on #1152
Found the docs:
https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesviews

[2018-03-25 16:43] markekraus commented on #1243
@tylerl0706 I don't have the bandwidth and the moment, unfortunately.

But one thought I had about this:

Lets' say you have `"powershell.startAutomatically": true`, and I create a malicious repo that had `powershell.powerShellExePath` in the workspace settings (which get distributed with the `git clone`) and it is pointed at a malicious binary included in the repo. When you open the work space an

[2018-03-25 16:44] tylerl0706 commented on #1232
This is one of my main focuses next week. I'll keep you updated.

[2018-03-25 16:47] tylerl0706 commented on #1243
Yeah, it makes perfect sense. But we need some sort of work around that's not painful. 🤔

I'd imagine this is a somewhat common problem for folks in the ruby/python space that have repos that only work on certain version.

[2018-03-25 16:49] rkeithhill commented on #1048
Possibly but I don't have access to a domain to test this on i.e. where I could set that policy to AllSigned.  I do all of my PSES/ext work at home where it's just a workgroup setup.

[2018-03-25 16:54] rkeithhill commented on #1243
@markekraus That is a valid concern - if we made that setting a workspace setting.  BTW I removed that `isExecutable` field in the package.json a few days ago and the behavior was ... uh weird.  :-)

Ideally, we would take that path "verbatim" but as token to a specific version (desktop/pscore, 32/64, etc).  We already enumerate the installed versions of PS Core. Not sure how we'd handle locally b

[2018-03-25 16:59] tylerl0706 commented on #1243
Thanks for testing that @rkeithhill!  I guess we'll have to ask the VSCode team for guidance here.

[2018-03-25 18:14] markekraus commented on #1243
RE automatic execution: I'm just throwing this out there, but, would it be possible to 1) determine if the exe setting is coming from the workspace and 2) not auto launch PS it is is? i'm not familiar at all with the codebase or the possibilities here, so just thinking aloud.

[2018-03-25 18:28] tylerl0706 commented on #829
Recap:

Done:
✅ Left clicking with the mouse on the command line to move the console's cursor to that location

These should be coming with PSReadLine integration tracked [here](https://github.com/PowerShell/vscode-powershell/issues/535):
* Selecting a range of text (ideally, including multiple lines) with the mouse then deleting that text via the delete key, starting to type, or pasting something

[2018-03-25 19:54] #1155 closed

[2018-03-25 22:35] rkeithhill commented on #1228
The code as designed only works with two character trigger char seqs.

BTW why does the PowerShell lang config file contain this auto-closing pair:
[code]
WTF?  And C# has a bit better auto-closing def that at leasst puts a space in there:
[code]
So we should probably use this for PowerShell:
[code]

The bulk of the help comments I've seen and created use Block comment style.  I'm really leaning t

[2018-03-25 22:43] rkeithhill commented on #1243
If you don't auto-launch the PS integrated console (start PS auto) then the editor is pretty crippled.  Auto-completion only completes identifiers in the file, no F8 exec, no PSSA integration, no symbols, etc.

What we could do is add a powershell.developer setting that allows you to specify the path to the ps exe in a workspace setting.  Then when you change the PS with the session menu, it only

[2018-03-25 23:02] rkeithhill commented on #1232
I can repro on PS Core 6.0.2 but not with Windows PS 5.1.

[2018-03-25 23:13] markekraus commented on #1243
What about this design:

Allow configuring multiple exe paths in the user settings with:

[code]

Then a workspace setting to allow you to chose from a predefined user setting:

[code]

or

[code]

again, I have no clue what is and is not possible here.

[2018-03-25 23:18] markekraus commented on #1243
Also, understood on the lack of functionality without auto launch. I didn't mean for it to end there. There have been times in the past where I have turn off the automatic terminal feature. You can still start it ad hoc. I'd envisioned a toaster message with a "This workspace is configured to use <fullpath> to lauch the integrated terminal do X, Y, Z" or something.

[2018-03-25 23:28] rkeithhill commented on #1243
That wouldn't be very convenient on a team? Requiring everyone to configure a "user" setting to make the workspace setting work seems wrong to me.

What if we just skipped the worksapce setting and added a user-setting that allows you to add PowerShell binaires/names to the session list e.g.
[code]
There's no need to list the "installed" version of PS.  Like I said, we already enumerate those.

[2018-03-25 23:41] rkeithhill commented on #1245
No, it's more like moving the IP (instr pointer) to another instruction and telling the program to resume there.  I use this in C# all the time. Step over a method look for a bug, notice that the method returned null when I wasn't expecting it to.  Then I set the next statement to execute up to the method I just had called and then I step into the method, see: https://msdn.microsoft.com/en-us/libr

[2018-03-25 23:41] #1245 closed

[2018-03-25 23:43] markekraus commented on #1243
But selecting them in the list is no different than what we have to do now. This issue is separate from the other where I'd like the PowerShell builds populated in the selector. This issue is about having workspace/project configurable version of PowerShell such that it loads Windows PowerShell or PowerShell Core as defined in the project/workspace so when working on multiple projects at once or i

[2018-03-25 23:57] rkeithhill commented on #1243
You're right. I was conflating the two issues.  Yes, this should be doable. I'd think that we'd add a `"powershell.startupPowerShellVersion":` user/workspace setting which would probably be a string where you specify the name you see in the session menu e.g.:
[code]

[2018-03-26 00:24] markekraus commented on #1243
That would work for me!!!

[2018-03-26 04:28] GavinEke opened #1247 "Update Install-VSCode on PSGallery to latest version"
The PSGallery version of `Install-VSCode` is version 1.0 and should be updated to the latest version (1.2) to include fixes and new functionality.

* PSGallery: https://www.powershellgallery.com/packages/Install-VSCode/
* GitHub: https://github.com/PowerShell/vscode-powershell/blob/master/scripts/Install-VSCode.ps1

[2018-03-26 06:01] tylerl0706 commented on #1247
This is a dupe of #1170. Sorry it's taken so long, I'll get that done this week.

[2018-03-26 06:02] #1247 closed

[2018-03-26 06:02] tylerl0706 commented on #1170
Sorry it's taken so long, was dealing with some permission issues. I'll get that done this week.

[2018-03-26 07:06] AWahlqvist commented on #1237
Thanks @tylerl0706! I opened up an issue over at the PSSA repo instead!

[2018-03-26 07:06] #1237 closed

[2018-03-26 08:48] brettmillerb commented on #1228
I agree that `##` with a setting to control behaviour is the best way to satisfy more people.

Alternatively as it's _technically_ a snippet can we not use `help-block` along the lines of `comment-help` which already exists or is there a need to distinguish between the two different types of snippet?

[2018-03-26 09:48] Sharken03 commented on #550
+1
SeeminglyScience has a commit ready since October 2017, but it seems that commit is just the tip of the iceberg. Anyways, would be really good with an ETA, as this issue prevents me from using VS Code with PowerShell.

[2018-03-26 12:46] HJLBX opened #1249 "getplastertemplate.ps1 from Prior VSCode Install Is Still Executing When Open Default PowerShell Console"
Uninstalled VSCode but now every time I launch the default PowerShell, getplastertemplate.ps1 keeps executing and it is triggering the installed security software - which blocks it and creates alert notifications:

03/26/18 04:12:04 Prevented process <getplastertemplate.ps1 | C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe> from launching from <c:\users<user>.vscode\extensions\ms-vscode.

[2018-03-26 14:21] simulot commented on #1102
I have check extenstion v1.6.0 with VSCode 1.21.1, and it works.

[2018-03-26 14:21] #1102 closed

[2018-03-26 15:00] rddoove commented on #535
When o When will this be there?

[2018-03-26 15:07] rkeithhill commented on #535
https://www.youtube.com/watch?v=39S3dLDEbYs  :-)

[2018-03-26 16:57] sdcscripts commented on #550
+1

Really am looking forward to seeing when the update is made to support
this, As love vscode but have to resort back to ISE for basic debugging in
pwsh :(

On Mon, 26 Mar 2018 at 10:48, Sharken03 <notifications@github.com> wrote:

[2018-03-26 17:28] HJLBX commented on #1249
There is a file named ModuleAnalysisCache that was created when VSCode was installed in

C:\Users\<users>\AppData\Local\Microsoft\Windows\PowerShell

When ModuleAnalysisCache is renamed (or deleted), the issue stops.

[2018-03-26 18:08] #1223 closed

[2018-03-26 22:47] tylerl0706 commented on #1170
1.2 has been published:
https://www.powershellgallery.com/packages/Install-VSCode/1.2/DisplayScript

[2018-03-26 22:47] #1170 closed

[2018-03-27 00:12] tylerl0706 commented on #1249
Thanks for the report!

Can you share with us what is in your PSModulePath?

[2018-03-27 00:15] HJLBX commented on #1249
C:\Users\Lockdown\Documents\WindowsPowerShell\Modules;

C:\Program Files\WindowsPowerShell\Modules;

C:\WINDOWS\system32\WindowsPowerShell\v1.0\Modules

[2018-03-27 00:21] tylerl0706 commented on #1228
@brettmillerb makes a good point, if we already have the advanced snippet `##` we might as well remove the vscode snippet and use `help-block`, `comment-help` and whatever other triggers to trigger the advanced snippet.

I haven't explored that part of the code much, but that makes sense to me.

[2018-03-27 00:28] tylerl0706 commented on #1229
Hmm I don't think I got the email. You sent it to: `vscode-powershell@microsoft.com`?

[2018-03-27 00:29] tylerl0706 commented on #1229
Alternatively you can upload the zip here so more eyes can debug 😄 lots of awesome non-Microsoft maintainers 😄

[2018-03-27 00:32] tylerl0706 commented on #1249
ok that looks normal... How about:

[code]
Is that set to 1 or 0?

[2018-03-27 00:43] tylerl0706 commented on #1249
Also, do you have Plaster in your PSModulePath?

[2018-03-27 03:42] rkeithhill commented on #1228
There is a difference.  The help completion provider understands the AST of the function and creates boiler-plate text for each parameter.  That is one (maybe only) feature that folks really like.

I think I'm going to create a PR with this change - `##` is only trigger with a setting to disable this feature or select the comment style (block or line).  And then we can see what folks think in the

[2018-03-27 03:48] #1230 closed

[2018-03-27 05:26] HJLBX commented on #1249
$env:PSDisableModuleAnalysisCacheCleanup is not returning any value.

Plaster is not in my PSModulePath.

[2018-03-27 07:16] csandfeld commented on #1228
The only drawback I see from not having ```<#``` trigger help completion, is limited discoverability of the feature (I would not have noticed the feature, had it not been for the ```<#``` trigger). With that said, I think the ```##``` trigger with an option to configure the style would work well.

Besides the trigger, maybe a "PowerShell: Insert comment based help" option could be added to the com

[2018-03-27 09:37] darkquake93 commented on #535
You're welcome to try installing the module anyway like I did, I found it was good enough.

[2018-03-27 10:55] Rdnaskel commented on #1048
@rkeithhill Any ideas we (I) could test for you?

[2018-03-27 11:42] SeeminglyScience commented on #535
@darkquake93 It sounds like you are talking about getting PSReadLine to work in Windows 7, this discussion is for getting PSReadLine to work within the console created by this extension in VSCode.  We explicitly remove the module at start up because it breaks all editor features, just installing the module wouldn't make a difference in this case.

[2018-03-27 12:38] darkquake93 commented on #535
Oh sorry, you're right. Thanks for the explanation anyway.

[2018-03-27 17:34] Jaykul commented on #1228
Personally, I wish the help generation would only kick in when I _really_ ask for it. I dislike using `.PARAMETER` in comment-based help, so there's not much I want _generated_ in help anyway (a little snippet is enough).

I also **never** want help outside the function...

Maybe it could trigger off a period... but only when it's as the first non-whitespace, non-comment character, within the firs

[2018-03-27 18:02] rkeithhill commented on #1228
Agreed on both points.

I know how you feel. I **never** want help **inside** the function...  Years of doing C# doc comments has just burned in that mental pathway - permanently. :-)

We should be able to get the VSCode folks to tweak that auto-closing declaration.

That's an interesting approach but would require a good bit of change to the PSES help completion code.

[2018-03-27 22:24] tylerl0706 commented on #1048
Just want to chime in here, @Rdnaskel if there's something that is suppose to be signed that isn't I can fix that.

[2018-03-27 22:34] rjmholt commented on #1243
I was thinking of something similar to @markekraus' suggestion while reading through #1242 as well.

I feel like configuring a dictionary of PowerShell executable paths once on a machine in user settings seems like a lightweight strategy (and we can always work out how to automatically discover them later). And very flexible, since users can pair any key and path they like.

We can start with a de

[2018-03-27 23:30] rkeithhill commented on #1243
Those default will get out of date pretty quickly based on PS Core shipping updates every few months.  Besides, it doesn't seem right to supply a config for a version of PowerShell that isn't actually installed.  And that default changes based on the platform. Last I checked, Windows PowerShell doesn't run on Linux/macOS.  :-)

Therefore, the user setting would start out empty as defined in the pa

[2018-03-28 00:04] rjmholt commented on #1243
If that method involves having two sets of PowerShell paths (those we detected and those users added) which we can't switch between transparently, then that would be annoying.

The actual config file should probably begin with nothing in it, but the autodetected PowerShell installations in my mind should behave exactly like user configured ones, rather than having two classes of PowerShell.

So I

[2018-03-28 01:17] rkeithhill commented on #1243
I think we are violent agreement.  :-)

[2018-03-28 01:20] codykonior commented on #535
Any update on when this will be available?

[2018-03-28 16:24] rkeithhill commented on #1048
It would be helpful if someone could setup (or find) an OU with the mentioned GroupPolicy set (force AllSigned).  Then put a computer in that OU and apply the group policy (`gpupdate /force`).  Then create (or find) a signed script and try to run it like so:
[code]
I think the issue is that the above fails because the command line attempt to "bypass" execution policy does not override the group po

[2018-03-28 17:29] masaeedu commented on #869
Hi @artisticcheese. Why was this closed?

[2018-03-28 17:33] artisticcheese commented on #869
I'm not seeing this issue anymore and in addition it has been open for close to a year now so I thought both things warrants archival.

[2018-03-28 22:17] tylerl0706 commented on #1232
I'm going to clone RudeHash and try to repro this on a couple OS's.

[2018-03-28 22:38] gradinkov commented on #1232
Thanks a lot, really appreciate it!

[2018-03-29 07:41] tylerl0706 commented on #1232
Hey everyone, I'm having a super hard time repro'ing this. I won't stop trying, but if you DO run into this issue, please grab the logs and drop them here so I can take a look. It'll be really helpful. Thanks!

[2018-03-29 14:01] mbrinkho commented on #1051
Just a thought - if you change the user settings you can get the white on blue with any theme you like.

[code]

[2018-03-29 20:00] tylerl0706 commented on #1216
If you manage to get another repro of this, can you send me the logs? You can attach them here (preferred) or send them to vscode-powershell@microsoft.com

[2018-03-29 22:10] dfinke opened #1250 "In the code base, change the language mode, and New-EditorFile fails"
Swap the `return` statements, the second works (original), the one with the `language` param set fails.

![image](https://user-images.githubusercontent.com/67258/38116027-589a4678-337c-11e8-9712-5b8f60a86bae.png)

Chatted with @daviwil, could be an issue with new `untitled` files.

[2018-03-30 03:03] StingyJack commented on #641
If I start by opening a folder with with a `.ps1`. and try to debug that `.ps1` I get the OP error.   I can rename the file to `.ps1` within VSC and then it debugs. If I rename it back to `,ps1` again, I can now debug it.

I looked through the commits tied to this, and the extension handling looks correct (not using locale, but I dont think that matters), so there is probably something wrong with

[2018-03-30 04:15] rkeithhill commented on #641
@StingyJack Are you on the latest VSCode release?  Also, what OS are you using?

VSCode should indicate the document's language in the lower right part of the status bar.  In looking at this I noticed the following in the VSCode docs:

We've had this warning in our package.json file for a long time:

![image](https://user-images.githubusercontent.com/5177512/38124252-9ea06d70-339d-11e8-9b3a-18d4de

[2018-03-30 13:12] StingyJack commented on #641
case sensitive language identifiers is a bug =D  (seriously, whoever wrote that doc isnt thinking. These are human-used identifiers like someone's name and would be capitalized based on i18n sometimes, not machine understood data where casing may be important)

It does show PowerShell as the language.
![image](https://user-images.githubusercontent.com/15381181/38138656-001056f4-33fa-11e8-8741-a6ef

[2018-03-30 15:07] bazgr opened #1251 "Enumeration of PowerShell versions doesn't work on macOS"
After installing pscore 6.1.0-preview1 I expected to be able to switch between 6.0 and 6.1 via clicking on the version in the status bar, but it seems the directory /usr/local/microsoft/powershell/ is being ignored. I have the following versions installed:

[code]

If I use any of these versions directly, I will get the option to "Switch to PowerShellCore" which will then point to /usr/local/bin/p

[2018-03-30 15:41] tylerl0706 commented on #1251
Thanks for this! We've been having some discussions recently about this experience.

Right now, "PowerShell Core" just uses wherever is symlnked to `/usr/local/bin/pwsh` but it would be nice to be able to discover all the side-by-side versions and select from all of them.

[2018-03-30 15:49] tylerl0706 commented on #1243
So, what about an array of folder paths? Then we can remove isExecutable from the setting.

powershell.powerShellExePath: [ "path/to/folder/with/pwsh",
"path/to/folder2/with/pwsh"
]

Then those get automatically added to the list of PowerShell versions to switch to.

[2018-03-30 16:08] markekraus commented on #1243
@tylerl0706 How would you select which one as the default in the workspace?

On reason I suggested a JSON object was so a workspace could have a name setting, but the user could over ride that path in their own settings. For example, a PowerShell Core module project being worked on by a macOS user and a Windows user. The workspace setting would be arbitrary

This would be on the workpace and ships

[2018-03-30 16:29] rkeithhill commented on #1243
Ditto @markekraus / @rjmholt however I was suggesting we call it:
[code]
I'm not keen on the name `powerShellExePathWorkspaceConfigs` because you don't *need* a workspace setting/config for this to be useful.

Then in your workspace's settings.json file you could set another property called:
[code]
or perhaps
[code]
The existing powershell.powershellExePath would stay as it is - tracking the curre

[2018-03-30 16:39] rjmholt commented on #1243
@rkeithhill, yes I'm very much in favour of those suggestions.

Also, I assume we're locked in to the inconsistent camel-casing of "power[sS]hell"?

[2018-03-30 16:39] tylerl0706 commented on #1250
I looked into this a bit. David is right the problem only happens with Untitled files. Right now, the extension can only interact with PowerShell untitled files using $psEditor:

repro:
1. new untitled file
2. Change language to PowerShell
3. $psEditor.GetEditorContext() # this works
4. Change language to Ruby
5. $psEditor.GetEditorContext() # this fails

We should be able to interact with any Unt

[2018-03-30 16:43] rkeithhill commented on #1243
If you are referring to the setting prefix, then yes but I think that is the "VSCode way".   For instance, all the TypeScript settings start `"typescript":`.  All the language names are lower-case for the settings.

[2018-03-30 16:55] markekraus commented on #1243
@rkeithhill I'm cool with whatever name. I am bad at naming things so long as the design is flexible and make sense I'm cool with whatever :)

[2018-03-30 17:56] tylerl0706 commented on #1249
Very strange. Thanks for the report.

[2018-03-30 18:31] gradinkov commented on #1232
Exactly what kind of log?

[2018-03-30 20:29] tylerl0706 commented on #1232
We have some instructions here:
https://github.com/PowerShell/vscode-powershell/blob/master/README.md#2-capture-verbose-logs-and-send-them-to-us

It also includes turning on Verbose logs that is crucial. Diagnostic would be even better if it doesn't affect performance.

[2018-03-30 22:43] bergmeister commented on #267
You can specify `CustomRules` in the settings file but currently there is  this feature (or bug, not sure) that using CustomRules, the default rules are disabled.

[2018-03-30 22:45] bergmeister commented on #776
@tylerl0706 The bug got fixed in the referenced PR above this comment.

[2018-03-30 23:35] tylerl0706 commented on #776
Thanks @bergmeister! 🎉

[2018-03-30 23:35] #776 closed

[2018-03-31 11:16] Rdnaskel commented on #1048
Sorry for the delay.

@rkeithhill It is strange but the scripts run just fine when I run them manually and signature is correct.
I tried it with two scripts, one of which is just `Get-Process`, the other one is somewhat more complicated.
When `Get-Process` is correctly signed it runs just fine both natively from the console and with execution policy `Bypass`. But just when I've scrambled the signa

[2018-03-31 20:43] roblourens opened #1253 "Ignore problems on commented out line"
_From @ixixit on March 2, 2018 23:5_

### Issue Type
Bug

### Description

Hello!  In this powershell script, I've created an if block which is commented out, and has no statement block following it.  It is correctly detected as a comment line in the syntax, but the problem section reports it as an active problem, though it is not active in the script due to the # comment block.

[code]
Problems:

[2018-03-31 20:43] roblourens commented on #1253
_From @ixixit on March 5, 2018 15:54_

Sorry about the font sizes.  Not sure why that particular IF line went crazy.

[2018-03-31 20:45] ixixit commented on #1253
No worries, I'm glad we can try to fix it!

On Sat, Mar 31, 2018, 2:43 PM Rob Lourens <notifications@github.com> wrote:

[2018-04-01 07:54] tylerl0706 commented on #1253
Hi @ixixit, thanks for the report and thanks to @roblourens for bringing it over here!

Can you supply us with the logs when you see this issue? The info on how to do that is here:
https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

It's super important to set the logs to Verbose. If you can set the logs to Diagnostic, that'd be even better if it's ok on you

[2018-04-01 09:55] bazgr commented on #1251
I looked into platform.ts and basically you'd have to expand the currently windows-only section on line 143-162 with the paths for linux or macOS respectively:

[code]

I'm just assuming here that Linux uses the same path (haven't checked).

[2018-04-01 14:34] cameronove commented on #1250
I was going to try to tackle this issue, but wouldn't it actually be an Issue with PowerShellEditorServices?  If I open a normal Powershell console in VSCode it doesn't even recognize the $psEditor variable.  $psEditor seems to only be available in the integrated console.

[2018-04-01 18:04] rkeithhill commented on #641
This is hard for me to debug since I can't repro it.  BTW I debug workspaces with `.ps1` files in them all the time.  Maybe you could tell me how you are debugging i.e. what is the debug configuration you are using.

Also, this doesn't quite parse for me:

You say you rename the file from a `.ps1` to `.ps1` in VSC.  What am I missing here because it looks like you are not making **any** change to

[2018-04-01 19:55] TeamIST commented on #869
I am new to VSCode but I am experiencing this issue on Server 2016 32 and 63bit.

[2018-04-02 01:03] tylerl0706 commented on #1250
@cameronove well I think the test I'd run is, when you open a new Untitled file, what messages does VSCode send to PowerShell Editor Services (if any)? What messages are sent to PowerShell Editor Services when you set the Language Mode to PowerShell in VSCode?

[2018-04-02 01:06] tylerl0706 commented on #1250
But you're right, it could be an issue with Editor Services handling PowerShell files differently than non-PowerShell files

Or... It could be that VSCode is not notifying Editor Services because it's not a PowerShell file.

[2018-04-02 01:37] shihanpietersz commented on #1113
this issue is still not fixed. not sure why MS is pushing so much to VSCODE when its still a half baked product. I think i might just start using the PS ISE again

[2018-04-02 03:37] roblourens opened #1254 "Slow Format Document / Go To Definitions with multiple folders open"
_From @PrzemyslawKlys on March 31, 2018 6:53_

- VSCode Version: 1.21.1
- OS Version: Windows 10

Steps to Reproduce:

1. Open Visual Studio Code
2. Load a folder (with loads of scripts) - i have around 300 scripts scattered around
- C:\Support\Scripts\Automated
- C:\Support\Scripts\Includes
3. Try to use Go to definition or Format Document on .PS1 script
4. It will take a long time before anythin

[2018-04-02 03:51] roblourens opened #1255 "PowerShell intellisense support for Dockerfile"
_From @kasunsjc on March 31, 2018 10:49_

Hi Team,

PowerShell intellisense support for Dockerfile will be a great feature to write Dockerfile to have less typos. This will help when typing long RUN commands in dockerfile.

Thanks

_Copied from original issue: Microsoft/vscode#47024_

[2018-04-02 11:59] StingyJack commented on #641
it should say

If I start by opening a folder with with a powershell script ending in `.ps1`. and try to debug that `.ps1` I get the OP error. I can rename the file to `.PS1` within VSC and then it debugs. If I rename it back to `.ps1` again, I can now debug it.

This is more or less fresh install, as I don't use VSC often at all.

[2018-04-02 22:33] rkeithhill commented on #641
Thanks for clarifying. That is pretty weird though. Hmm....

[2018-04-03 06:29] tylerl0706 commented on #1254
Thanks for the report! This is a dupe of https://github.com/PowerShell/vscode-powershell/issues/984

Closing as dupe. Please +1 that Issue to that we can prioritize. If you think this was closed by mistake, feel free to let me know.

[2018-04-03 06:29] #1254 closed

[2018-04-03 06:32] tylerl0706 commented on #1255
This is an interesting ask... The first question that comes to mind is, would it make sense for this logic to exist in the PowerShell extension, or the Docker extension?

I know that it's possible to have extensions with dependent extensions... I wonder if a 3rd extension (that depends on PowerShell and Docker) could be made that glues together these extensions.

An interesting issue. Thanks for t

[2018-04-03 06:53] tylerl0706 commented on #1113
The ISE is complete and in maintenance mode - you can use it, depend on it, but know that no new features will be coming.

That said, I'll say this about VSCode... One great thing about VSCode is that it's cross-platform, something the ISE is not. This is fantastic for PowerShell Core, the cross-platform version of PowerShell.

In addition to that, the git integration is sharp, you have access to

[2018-04-03 06:56] tylerl0706 commented on #1113
All that said, I think this issue might be relatively trivial. I'll have to do some investigation but I think this would be a simple one for a first time contributor. I'm going to mark this as up-for-grabs and give some more context when I get a chance.

[2018-04-03 07:43] LaurentDardenne commented on #267
@bergmeister  Thank you :-)
I try this with VSCode.

[2018-04-03 08:54] LaurentDardenne commented on #267
It works with this [prototype](https://github.com/LaurentDardenne/ParameterSetRules) :
![image](https://user-images.githubusercontent.com/4894452/38238928-ae2e4294-372b-11e8-9ed5-8a6a7580777c.png)
In the file ''C:\Users\Laurent\AppData\Roaming\Code\User\settings.json'' I changed the entry _"powershell.scriptAnalysis.settingsPath":".//ScriptAnalyzerSettings.psd1"_
I still have a doubt about the loc

[2018-04-03 11:27] LaurentDardenne commented on #267
We can use the global or local configuration file (settings.json) of the project (Workspace) but once declared the global file, the local file is not taken into account.
This seems exclusive.

[2018-04-03 11:27] #267 closed

[2018-04-03 15:13] tylerl0706 commented on #1251
@rkeithhill is doing some work on enumeration. This should get fixed with that change - I'll help him verify on mac.

The related issues:
https://github.com/PowerShell/vscode-powershell/issues/1242
https://github.com/PowerShell/vscode-powershell/issues/1243

[2018-04-03 18:05] ebmarquez opened #1256 "IntelliSense slow or unresponsive forced to kill powershell to force it to work."
### System Details

- Operating system name and version:
[code]
- VS Code version: 1.21.1
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:
[code]
Copy / paste the following commands into the PowerShell Integrated Console, and paste the output here:

code -v
[code]
$pseditor.EditorServicesVersion
[code]
code --list-extensions --show-versions
[code]
$PSVersionTable
[code]
[logs

[2018-04-03 22:52] tylerl0706 commented on #1256
Hi there, thanks for the report. Can you please attach the logs (instructions: https://github.com/powershell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us)

And also give me some details on how big your workspace is and how big your file is that's giving you slow intellisense?

[2018-04-03 23:14] ebmarquez commented on #1256
it shows the logs are already attached.
[logs.zip](https://github.com/PowerShell/vscode-powershell/files/1872741/logs.zip)
My PSM1 file is 6704 lines

**workspace size**
All files which includes Jinja2, C#, Python, Powershell:
[code]
Powershell related files:
[code]

[2018-04-04 02:39] lushibi commented on #1256
I have a problem that the intellisense does not work at all, until I exit the "PowerShell Integrated Console" which is opened by vscode automatically.

![image](https://user-images.githubusercontent.com/9878842/38285781-7194ef9e-37f4-11e8-9a89-f46552faf8f1.png)

[2018-04-04 18:02] vhusker opened #1257 "Jump to Bottom of Integrated Terminal When Running PowerShell"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

Run a command in PowerShell that sends a bunch of output to the terminal window.  Scroll up through the terminal window so that you can't see the bottom.  Run a command in the editor window, and the terminal window doesn't move

[2018-04-05 00:40] tylerl0706 commented on #1257
Sounds like a reasonable request. Thanks for opening this! Question for you, does this work in the default Powershell/cmd/bash terminal in vscode or does it not scroll down only in the PowerShell Integrated Console?

[2018-04-05 09:47] jvedie commented on #1256
I confirm the behaviour, killing the Integrated Console in VSCode made the IntelliSense work back again.

[2018-04-06 00:06] gazm81 commented on #357
This is still an issue in VS code 1.21.1 with PowerShell plugin 1.60.
Doesn't appear on any other IDE we have tested.

[2018-04-06 01:59] tylerl0706 opened #1258 "show*Message block script execution until message is dismissed"
VSCode changed a few things around with their new messages showing up in the bottom right. It kind of broke us but we can consider it as an opportunity to make the show*Message functions better. Here they are:

[code]

They exist in: `$psEditor.Window`:
[code]

When you run one of these, a message pops up and the script does blocks until the message is dismissed.

Now, we have the ability to take

[2018-04-06 07:18] tylerl0706 commented on #357
This issue was moved to PowerShell/EditorSyntax#74

[2018-04-06 07:18] #357 closed

[2018-04-06 11:58] J0F3 commented on #1174
I added as workaround the following setting in my settings.json:
    "[powershell]": {
        "editor.codeLens": false
    }

This will however disable the "Function references" feature but instead Intellisense works again just fine in bigger work spaces.

[2018-04-06 12:35] YuriySamorodov opened #1259 "Ctrl+Backspace Does Not Work"
It looks like Ctrl+Backspace shortcut to delete word is not working although it is specified in keyboard Shortcuts.
![image](https://user-images.githubusercontent.com/5260172/38421550-2e368eb6-39b0-11e8-85ed-ff10a1e26c47.png)

### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

[code]

### Issue Description

[2018-04-06 12:40] YuriySamorodov opened #1260 "Terminal Pane Resize Is Not Working"
Not sure if this is correct place to report an issue.
If I try to resize  try to resize terminal pane with `Ctrl+Shift+LeftArrow` or `Ctrl+Shift+RightArrow` it does not seem to be working.
![image](https://user-images.githubusercontent.com/5260172/38421737-d3eb92e8-39b0-11e8-9860-fc614e3fbd4e.png)

### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension v

[2018-04-07 11:58] jtuttas commented on #535
Any news about this feature?

[2018-04-09 14:58] jvedie commented on #1256
It seems that the following "old" line in my user settings was messing up things.
"powershell.powerShellExePath": "C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\powershell.exe"

Once removed, IntelliSense is working fine and quickly again.

[2018-04-09 15:38] vhusker commented on #1257
How can I test this?  Whenever I run anything that's PowerShell it jumps to the PowerShell Integrated Console.

[2018-04-09 22:41] tylerl0706 opened #1262 "Open-EditorFile hangs when piping into it"
[1523313486-06903663-870e-4b16-9ee7-6e96ee1ba2231523285035716.zip](https://github.com/PowerShell/vscode-powershell/files/1892190/1523313486-06903663-870e-4b16-9ee7-6e96ee1ba2231523285035716.zip)
## Issue Description ##

I am experiencing a problem with...

Open-EditorFile hangs when piping into it

## Attached Logs ##

Follow the instructions in the [README](https://github.com/PowerShell/vscode-po

[2018-04-10 04:01] amitbha commented on #603
### System Details

- Operating system name and version: Archlinux - x64
- VS Code version:  1.22.1
- PowerShell extension version: 1.6.0
- Output from $PSVersionTable:

Name        |                   Value
----         |                  -----
PSVersion     |                 6.0.2
PSEdition       |               Core
GitCommitId    |                v6.0.2
OS          |                   Linux 4.

[2018-04-10 16:18] strawgate opened #1263 "Temporary Console does not allow interactive debugging via console"
### System Details

- Operating system name and version: Windows 10 Enterprise x64 1709
- VS Code version:
Version 1.22.0-insider
Commit 5450fdc79778b5a76a27ea7e5fd68e9ebbe44107
Date 2018-03-12T05:15:51.483Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
- PowerShell extension version: 1.6.0

- Output from `$PSVersionTable`:
PSVersion                      6.0.0-beta.9
PSEdition

[2018-04-10 17:28] tylerl0706 commented on #1259
Thanks for this! I want to narrow this down to the PowerShell extension if we can.

If you disable the PowerShell extension in your extensions tab and reload VSCode, does `ctrl+Backspace` work?

If so, then we're probably overwriting the shortcut. If that doesn't fix the issue then the problem is either with another extension or with VSCode itself.

[2018-04-10 17:38] tylerl0706 commented on #1259
Actually this looks like it's about the PowerShell Integrated Console. This will be added with PSReadLine support. That work is being tracked here:
https://github.com/PowerShell/vscode-powershell/issues/535

closing this as a dupe.

[2018-04-10 17:38] #1259 closed

[2018-04-10 17:39] tylerl0706 commented on #1260
Thanks for this!

This will be added with PSReadLine support. That work is being tracked here:
#535

closing this as a dupe.

[2018-04-10 17:46] tylerl0706 commented on #1260
Actually, this is something else.

Question, @YuriySamorodov. Did you modify this setting at all?:
`terminal.integrated.commandsToSkipShell`

[2018-04-10 23:00] tylerl0706 commented on #1256
@ebmarquez oops missed the logs. Thanks for the extra info!

[2018-04-10 23:01] tylerl0706 commented on #1256
This is one of the more important perf bugs that I've been hearing about.

[2018-04-10 23:28] tylerl0706 commented on #535
@SeeminglyScience is working really hard on this. We had a demo at the MVP Summit in March but it still has a few bugs he is figuring out. It's a substantial change to PowerShell Editor Services.

[2018-04-10 23:48] tylerl0706 commented on #1257
Ah. Reading the issue again I see what you mean - ignore my question :)

I missed this part:

[2018-04-10 23:53] tylerl0706 commented on #603
@amitbha I see you're using Arch. Has the extension ever worked for you?

@rkeithhill your extra logging is working :)

[2018-04-10 23:56] tylerl0706 commented on #1263
Did we meet at PSHSummit? Someone mentioned this to me yesterday :)

This sounds like a bug for sure.

[2018-04-11 00:53] strawgate commented on #1263
Yep that was me! If I don't get lazy I've got a couple more to file tomorrow :)

[2018-04-11 01:51] Liquidmantis commented on #535
:shipit:

[2018-04-11 05:03] dbaduck opened #1265 "Integrated Console and Transcript shows extra stuff"
### System Details

- Operating system name and version: Windows 10 (10.0.16299.251)
- VS Code version:
Version 1.22.1
Commit 950b8b0d37a9b7061b6f0d291837ccc4015f5ecd
Date 2018-04-06T02:26:57.615Z
Shell 1.7.12
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64
- PowerShell extension version:
- Output from `$PSVersionTable`:
Name                           Value
----                           -----

[2018-04-11 15:26] tylerl0706 commented on #1228
Also wanted to chime in and say that having this setting set to null or empty string should turn off this setting completely.

[2018-04-11 16:00] tylerl0706 commented on #1263
Go crazy :) but do me a favor and search for your issue first - less work for me 😉

[2018-04-11 23:49] GHRoss opened #1266 "$env:PSModulePath Question / Potential Issue"
I'm having an issue with Intellisense being very slow.

I've managed to whittle it down to VS Code loading modules over the network, so every time I hit tab, it goes off to the network share and does what it needs to do and then Intellisense works.

This can be up to 2 minutes at a time, however.

I removed the entry from $env:PSModulePath in the integrated VS Code terminal, fine, Intellisense is

[2018-04-12 01:04] amitbha commented on #603
@tylerl0706 My first time using vscode-powershell extension. It has never worked properly.

[2018-04-12 01:18] tylerl0706 commented on #603
That's what I figured... this could very well be a PowerShell or .NET Core issue. We'll have to look deeper.

[2018-04-12 01:27] tylerl0706 commented on #603
@amitbha I'm not on Arch so it's going to be difficult to repro so I'm going to need your help.

Here's the function that tests the availability of a port:

[code]

Can you tell me the exact line that causes the exception? You will probably need to remove the try/catch.

[2018-04-12 01:32] tylerl0706 commented on #1266
fascinating... sounds like a bug... Thanks for the report! Where does it get the file share path from? Are you adding that to the PSModulePath in your profile or something?

It'd be helpful if you could share the logs.

[2018-04-12 03:04] amitbha commented on #603
@tylerl0706 I remove the try/catch, and the error message is:

   at System.Management.Automation.ExceptionHandlingOps.CheckActionPreference(FunctionContext funcContext, Exception exception)
   at System.Management.Automation.Interpreter.ActionCallInstruction`2.Run(InterpretedFrame frame)
   at System.Management.Automation.Interpreter.EnterTryCatchFinallyInstruction.Run(InterpretedFrame frame)

[2018-04-12 04:06] amitbha commented on #603
I print the parameters before tcpListener:
[code]
and the ouput is:

::1, 28897
127.0.0.1, 23946
::1, 23946
127.0.0.1, 11824
::1, 11824
127.0.0.1, 13519
::1, 13519
127.0.0.1, 10183
::1, 10183
127.0.0.1, 21058
::1, 21058
127.0.0.1, 26056
::1, 26056
127.0.0.1, 29872
::1, 29872
127.0.0.1, 13568
::1, 13568
127.0.0.1, 17054
::1, 17054
127.0.0.1, 24736
::1, 24736
127.0.0.1, 10205
::1, 10205
127.0.0.1, 1

[2018-04-12 04:40] tylerl0706 commented on #603
@amitbha: So do all of those values throw the exception?

[2018-04-12 09:42] amitbha commented on #603
@tylerl0706
Yes, all of them.

[2018-04-12 14:20] vladpopov opened #1267 "Powershell Code is working well on Powershell.exe and Powershell ISE but not working on VS Code"
I'm trying to validate Json against Schema using Powershell and Newtonsoft dlls. My script is working well as expected if I run it on Powershell.exe or Powershell ISE but it isn't working if I run it using VS Code (on same PC).

[code]
If I run it using VS Code (version 1.12.1, Powershell extension version 1.6.0) I have such error:

[code]
My OS is fully updates Windows 10 x64.
[code]
Json file:

[2018-04-13 06:01] sandersaares opened #1268 "I cannot press enter in PowerShell files after Code 1.22.2 update"
### System Details

- Operating system name and version: Windows 10 v1709
- VS Code version: 1.22.2
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:

[code]

### Issue Description

After update to Code 1.22.2, the PowerShell extension does not let me press enter in some situations. The newline appears but focus returns to the previous line.

See https://youtu.be/Yql5mJbVHsk f

[2018-04-14 20:44] falkheiland opened #1269 "Powershell: Select Script Analyzer Rules -> edit + confirm ->The PowerShell session has terminated due to an error, would you like to restart it?"
### System Details

- Operating system name and version: Win 10 Home 10.0.16299.0
- VS Code version: 1.22.2
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.16299.251
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVer

[2018-04-14 20:45] mheijkant commented on #1048
I did not follow the complete discussion about this issue, but I had the same problem.
I fixed it because I noticed a script file was blocked by my Comodo Virusscanner.
Is was placed in a container. The file is named
C:\ProgramData\Comodo\Cis\tempscrpt\C_powershell.exe_EFAEA8F70B368160CB79A10CD78D7AABE655764F.ps1
When this script was trusted the issue was resolved.

Hope this helps.

[2018-04-14 20:54] rkeithhill commented on #1269
Duplicate of #1155 which has been fixed on master.  This fix should appear in the next update (after 1.6.0).

[2018-04-14 20:54] #1269 closed

[2018-04-15 15:50] PrzemyslawKlys commented on #1268
I don't have that issue. VS Code 1.22.2, powershell 1.6.0.

[2018-04-16 06:07] sandersaares commented on #1268
Here is my settings file, for reference, in case there is some connection here:

[code]

[2018-04-16 06:16] PrzemyslawKlys commented on #1268
`{
    "vsicons.dontShowNewVersionMessage": true,
    "team.showWelcomeMessage": false,
    "html.format.wrapLineLength": 0,
    "sync.gist": "",
    "sync.lastUpload": "",
    "sync.autoDownload": false,
    "sync.autoUpload": false,
    "sync.lastDownload": "",
    "sync.forceDownload": false,
    "sync.anonymousGist": false,
    "sync.host": "",
    "sync.pathPrefix": "",
    "sync.quietSync":

[2018-04-16 08:01] pramodag opened #1271 "Get-Item and Test-Path failes for some registry entries in Integrated console"
### System Details

- Operating system name and version: Windows 10 Enterprise
- VS Code version: 1.22.2
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.16299.98
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion

[2018-04-16 09:19] Rogacz opened #1272 "Code formatting breaks the code by moving brace to a comment"
### System Details

- Operating system name and version: Windows 10 1703
- VS Code version: 1.22.2
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:
[code]

### Issue Description

I am experiencing a problem with code formatting.
I used default powershell.codeFormatting settings and have set:
[code]

If I paste a code with opening brace on second line it doesn't check if previ

[2018-04-16 12:49] wsmelton commented on #1272
This would be expected to me and not the main reason but one of the reasons why I don't use online comments.

[2018-04-16 14:21] Rogacz commented on #1272
@wsmelton I agree and I don't use inline comments.
But I thought intention of code formatting feature is that I can grab poorly formatted code from internet or co-worker ;) and be able to read it.

[2018-04-16 14:46] sandersaares commented on #1268
This seems to have some dependency on the file contents. By randomly changing parts of the file, I can get the effect to disappear. It is pretty hard to narrow it down - deleting random lines in various parts of the file just magically fixes it.

I am finding it hard to nail down a repro given the erratic behavior. Is there some way I can submit my project files privately for investigation?

[2018-04-16 15:25] tylerl0706 commented on #1268
Glad you're not totally blocked. It's sounding like it could be related to https://github.com/PowerShell/vscode-powershell/issues/1154

Which could be related to ScriptAnalyzer being run in the background.

You can email sensitive data to vscode-powershell@microsoft.com this will only go to Microsoft employees.

[2018-04-16 15:39] PrzemyslawKlys commented on #1272
what if you change the formatting to different code formatting preset? https://github.com/PoshCode/PowerShellPracticeAndStyle/issues/81

Seems like Allman could work here?

[2018-04-16 15:56] sandersaares commented on #1268
Great. Sent you a file to repro this with.

I notice that the problem does not occur if I press enter before the "0 references" lines appear in the editor.

[2018-04-16 16:11] tylerl0706 commented on #603
@amitbha I think this might be a bug on the .NET Core team. For some reason, it's having a hard time listening on ports. Here's what I think you should do:

### if you have the dotnet sdk installed on your Arch machine:
Create a small C# console app that just does the following:
[code]
I might not have the syntax perfectly.

### If you DON'T have the dotnet sdk installed on your Arch machine:
Just

[2018-04-16 17:44] ramya-rao-a commented on #1268
@sandersaares Can you disable the format on type and format on paste features in your settings and see if you still see the issue?

[2018-04-16 19:16] sandersaares commented on #1268
The issue stops occurring if I disable the format on type feature.

[2018-04-16 21:11] brentbain opened #1273 "Integrated Console - Failing to Execute GAM"
### System Details

- Operating system name and version: Windows 10
- VS Code version: 1.22.2
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:
----                           -----
PSVersion                      5.1.14393.2189
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.14393.2189
CLRVersion

[2018-04-16 23:45] tylerl0706 commented on #1268
Thanks for the info! We'll take a look. @ramya-rao-a thanks for offering the suggestion 👍

[2018-04-17 01:14] tylerl0706 commented on #1242
@rkeithhill your PR will address this as well, right?

[2018-04-17 03:46] rkeithhill commented on #1242
I think so. It will not "detect" them automatically but it will allow you to add paths via the `powershell.powerShellAdditionalExePaths` settings.

[2018-04-17 04:24] tylerl0706 commented on #1242
@markekraus are you happy with that?

[2018-04-17 04:56] amitbha commented on #603
@tylerl0706

Thanks for your patience. This code exactly find where the problem is:
[code]
Line 6 throws the exception:

I remember that, **I disabled ipv6 on all network interfaces in sysctl.conf** like this:
`net.ipv6.conf.all.disable_ipv6 = 1`

So, bug or not?

[2018-04-17 05:06] rkeithhill commented on #603
@amitbha Can you test this code:
[code]
The problem is that we test both ipv4 and ipv6 and if either of those fail, then we fail the port.  That is not correct.  Whichever one succeeds first, we should indicate that port is available but not only that the port is available but which address family we should use to connect.  Hence the above returns `$ipAddress` on sucess and `$null` on failure.

[2018-04-17 08:32] markekraus commented on #1242
@tylerl0706 @rkeithhill yes.. that works for me!

[2018-04-17 10:09] Antasik opened #1274 "Symbol discovery: class methods"
### System Details

- Operating system name and version: Win 10 1709
- VS Code version: 1.22.2
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:

`PSVersion                      5.1.16299.248`
`PSEdition                      Desktop`
`PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}`
`BuildVersion                   10.0.16299.248`
`CLRVersion                     4.0.3031

[2018-04-17 11:46] amitbha commented on #603
I updated the 'Start-EditorServices.ps1' with the new code, and open the vscode In hope. But the problem 'Language server startup failed' persisted.
I checked the "sessions" directory, and there is no session file.

I copy the command in output and manually run it ike below:

And the session file is created sucessfully! Its content is:

👽

[2018-04-17 15:03] rkeithhill commented on #603
Thanks for trying that.  I'll submit a PR later tonight for this change to the script.  The callsite for the Test-Availability function has to change to capture the IP address and pass it up to its caller.

[2018-04-17 15:53] tylerl0706 commented on #603
@rkeithhill didn't we recently make a change to check for IP v6 as well as IP v4 because sometimes a port was already taken with IP v6 but would show available to IP v4?

[2018-04-17 17:14] rkeithhill commented on #603
Yup and this proves that one of the two primary address families may not be available on a machine.  Now need to fix it to handle that case without failing.  :-)

[2018-04-17 21:14] tylerl0706 commented on #1253
I can't seem to repro this but it looks related to https://github.com/PowerShell/vscode-powershell/issues/1232

I'm going to close this as a dupe of that. If you see otherwise, feel free to attach the logs here and I can reopen!

(or attach logs in the other issue)

[2018-04-17 21:14] #1253 closed

[2018-04-17 21:15] tylerl0706 commented on #1260
Gentle ping, @YuriySamorodov 🙂

[2018-04-17 21:16] tylerl0706 commented on #1262
I can only repro this half of the time.

[2018-04-17 21:26] tylerl0706 commented on #1266
Glad to see you're at least unblocked. Seems like a bug. We'll take a look.

[2018-04-17 21:32] tylerl0706 commented on #1267
Thanks for the report! If you run this "line-by-line" using F8 to run the selection, does it work in the PowerShell Integrated Console or does it still fail?

[2018-04-17 21:34] YuriySamorodov commented on #1260
@tylerl0706 Not at all. Here are my settings:
![image](https://user-images.githubusercontent.com/5260172/38899370-49d2e2f2-42a0-11e8-8673-028bb60531c7.png)

[2018-04-17 21:43] tylerl0706 commented on #1268
@sandersaares I got your email! Thanks!

Seems like our formatting isn't as good as it should be for "format on type".

[2018-04-17 21:55] tylerl0706 commented on #1272
This has been fixed in https://github.com/PowerShell/PSScriptAnalyzer/pull/929 . In the next PSScriptAnalyzer version, this will be fixed and the next vscode-extension release after that will contain that fix.

[2018-04-17 21:59] tylerl0706 commented on #1272
I'm going to close this for now as external/dupe of https://github.com/PowerShell/PSScriptAnalyzer/issues/826.

If you want to get the CI build of PSSA so that this doesn't happen, go here:
https://ci.appveyor.com/project/PowerShell/psscriptanalyzer/branch/development/job/eeh97eis3ycxn9s9/artifacts

And put the unzipped folder in your `$env:PSModulePath`

No guarantee that the CI build will be 100

[2018-04-17 21:59] #1272 closed

[2018-04-17 22:01] tylerl0706 commented on #1274
Thanks for the report! It's a dupe of the PowerShellEditorServices issue here: https://github.com/PowerShell/PowerShellEditorServices/issues/14

Give that a +1 so that we can prioritize it!

Thanks again 😄

[2018-04-17 22:01] #1274 closed

[2018-04-17 22:18] rjmholt commented on #1271
Hi @pramodag, thanks for opening an issue!

Because I don't have the particular registry paths you've got above, I can't reproduce this issue; everything seems to work for `Get-Item "HKLM:\Software\"`. I tried it with `Get-Item "HKLM:\Software\Microsoft\Windows\Windows Error Reporting\LocalDumps" and still got the same result in all consoles.

Is there a common registry key you can reproduce this

[2018-04-17 22:32] tylerl0706 commented on #1260
Thanks for that! In the settings, what does it say for

`terminal.integrated.commandsToSkipShell`

It should be the default value but I just want to confirm.

[2018-04-17 22:35] YuriySamorodov commented on #1260
@tylerl0706
In fact there are many values under `terminal.integrated.commandsToSkipShell`
Here they are:
[code]

[2018-04-17 22:36] rjmholt commented on #1273
Hi @brentbain, thanks for reporting this!

I know you've said the error messages are due to permissions errors, but your screenshot indicates an encoding problem. Do you know how the permissions problem is precipitating that error?

[2018-04-17 22:38] tylerl0706 commented on #1260
Ok so the messages I expect are in there. Does this work in the default Powershell terminal within VSCode?

[2018-04-17 22:38] rjmholt commented on #1273
Also, for us to reproduce this (ideally without needing to download and run `gam.exe`), do you know what the permissions are on the OAuth file and how they differ from those on `gam.exe`?

[2018-04-17 22:41] YuriySamorodov commented on #1260
@tylerl0706 yes, SelectAll copy/paste with Ctrl-C/Ctrl-V work flawlessly.

[2018-04-17 23:28] brentbain commented on #1273
@rjmholt Thanks for following up...
I guess I do not know 100% that the issue is permissions errors - reading the GAM forum (also in github), the primary maintainer has answered a couple questions related to errors with the actual line (12881) as the first traceback - his answer was always to check file permissions on the oauth2.txt file - or to delete it and try recreating it from the console win

[2018-04-18 02:27] rjmholt commented on #1273
Sorry for not being more helpful. This is a rather mystifying bug though.

100% agree that the failing in the VSCode console and not failing in the Integrate Console is the categorising feature of where the fault lies. (With that said, I don't think we own the VSCode console -- that probably is an issue for VSCode).

The Integrated Console is a client/server process that communicates by JSON, so w

[2018-04-18 13:18] jeremytbrun opened #1275 "Console hangs when running a code selection in remote session file."
## Issue Description ##

I am experiencing a

The console hanging when running a code selection in remote session file.

Steps to reproduce.
Enter-PSSession
Open-EditorFile <file>
Select a line from opened file and _Run Selection_.

The console then hangs.

## Attached Logs ##

Follow the instructions in the [README](https://github.com/PowerShell/vscode-powershell#reporting-problems) about
capturi

[2018-04-18 16:11] tylerl0706 commented on #1260
Sorry, I was a bit vague, here's what I meant.

In the terminal you'll see this "PowerShell Integrated Console":

<img width="1386" alt="image" src="https://user-images.githubusercontent.com/2644648/38944115-e5ebe192-42e7-11e8-9b7a-c647893fbf27.png">

Can you set that (click on it, it's a drop down) to just "powershell" and not the "PowerShell Integrated Console" and tell me if `Ctrl+Shift+LeftArr

[2018-04-18 16:14] tylerl0706 commented on #1275
Thanks for the info! This looks related to #1262...

Can you please attach the logs? The instructions can be found here:
https://github.com/PowerShell/vscode-powershell#reporting-problems

[2018-04-18 16:39] YuriySamorodov commented on #1260
@tylerl0706
Chose "powershell" terminal. Still does not work (I have tried both left hand side and right hand side Ctrl/Shift keys). Please note this is another VS Code instance on another PC, however behavior the same. And I have the latest stable vscode installed everywhere.
Can you please guide me to the correct location to report this bug?

[2018-04-18 18:38] tylerl0706 commented on #1260
@YuriySamorodov thanks for the info! I can say with confidence that this is a VSCode issue and not an issue with the PowerShell extension.

You're going to want to open an issue over here:
https://github.com/microsoft/vscode

Make sure that you link this issue to the new one you create so they can see our discussion! Let me know when you've opened that so we can close this one here in the PowerShe

[2018-04-18 18:40] #1243 closed

[2018-04-18 18:42] #1211 closed

[2018-04-18 21:37] TravisEz13 opened #1276 "Add Syntax Aware Code Folder (when available)"
from the VS Code release notes

[2018-04-18 21:53] tylerl0706 commented on #1275
Thanks! Taking some notes for myself..

tons of `$/cancelRequest` messages. Could be unrelated to the issue.

Also saw this warning:

[code]

which could cause something funny to happen. I need to look at #1262 to see the logs in that one.

[2018-04-18 22:01] rjmholt commented on #773
https://github.com/PowerShell/vscode-powershell/pull/1261 Adds `SaveAs()` support. Please give it a try and open a new issue if you have feedback.

[2018-04-18 22:09] tylerl0706 commented on #1275
It looks like they might be related. I'm going to dupe that to this one.

[2018-04-18 22:09] tylerl0706 commented on #1262
duping to #1275

[2018-04-18 22:09] #1262 closed

[2018-04-19 08:30] pramodag commented on #1271
Dear @rjmholt
 Thanks for your response. I believe it was something wrong with VS code. I did a complete uninstall of VS code and installed again. Now I get the same result on all consoles. I should have done it before opening the issue :(

[2018-04-19 08:30] #1271 closed

[2018-04-19 08:31] deejaybeam opened #1277 "ExecutionPolicy Allsigned -> the language service could not be started"
### System Details

- Operating system name and version: Windows Server 2016, Windows 10, ...
- VS Code version: 1.22.2
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:
Name                           Value
----                           -----
PSVersion                      5.1.14393.2125
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0

[2018-04-19 12:53] fbehrens opened #1278 "Command `Run Selected Text in active Terminal` doen't execute Command when a NewLine is Selected"
Hi,
i just want to report a little detail which would help my transition from sublime to vsCode.
I am used to develop in a very interactive way, where I am always pasting code from my editor to a terminal window.

I observed that the VsVode `integrated Terminal` seem to paste line by line, and can't handle multiline snippets as:
[code]

However this extensions comes with an own `Powershell` Termin

[2018-04-19 16:12] tylerl0706 commented on #1271
No worries! Glad it's fixed for you, @pramodag! If you ever have any trouble, you can always open an issue 🙂

[2018-04-19 17:27] tylerl0706 commented on #1278
@fbehrens welcome to VSCode! 😄

Let me address your comments:
* pasting multiline code will be fixed when the Integrated Console gets PSReadline support that @SeeminglyScience has been working hard on 🙂 we're tracking that with this bug here #535

As a work around, you should try this feature of VSCode...

Select some code in your editor and hit `F8`! That will run the selected code in the Integra

[2018-04-19 17:30] tylerl0706 commented on #1277
This looks like a duplicate of https://github.com/PowerShell/vscode-powershell/issues/1048

I'd recommend taking a look at that one.

[2018-04-20 16:40] rayholtz commented on #1256
I also can confirm that killing the Powershell Integrated Console makes Intellisense work again.  I have VScode v1.22.1.

[2018-04-20 16:58] metalmensch opened #1279 "Powershell multiple ) get removed when I type one nested"
Issue Type: <b>Bug</b>

I'm not sure if this is a bug or not. When I put am trying to insert things with ) inside of another set of (), any ) characters to the right get removed, and I'm left with one. It is really annoying.

Example:
if ((1=1) | (2=2))
In this example, if I was adding the (2=2) after creating the original (1=1), the format would become:
((1=1) | (2=2)

Extension version: 1.6.0
VS

[2018-04-20 18:31] ebmarquez opened #1280 "ms-vscode.powershell-1.6.0 Debug Adapter process has terminated unexpectedly"
### System Details

[code]

### Issue Description

Install VS Code
Install Powershell module.
Open powershell script.
Click on Debug
Setup Launch with paths to the input variables for the script.
Click on Debug. Get a popup reporting Debugger failed.

### Logs
Vscode Logs: [logs.zip](https://github.com/PowerShell/vscode-powershell/files/1933202/logs.zip)

![image](https://user-images.githubusercon

[2018-04-20 18:40] ebmarquez commented on #1280
[code]

[2018-04-20 18:55] ebmarquez commented on #1280
Unhandled exception
[code]

[2018-04-20 23:57] tylerl0706 commented on #1279
Hi @metalmensch thanks for the report! I'm not quite sure I follow you on the example. Are you saying that you're doing:
[code]

and are trying to add (paste?) `| (2 -eq 2 )` between the last two `)` and the last one goes away?

[2018-04-21 01:03] metalmensch commented on #1279
Effectively that. Yes. The )) becomes ) when the left hand one is inserted.

On Fri, Apr 20, 2018, 16:57 Tyler James Leonhardt <notifications@github.com>
wrote:

[2018-04-21 01:05] tylerl0706 commented on #1280
@ebmarquez Thanks for the report! Looks like the cause of this is one of the git windows:

[code]

This has been fixed in:

https://github.com/PowerShell/PowerShellEditorServices/pull/645

and will be in the next release coming next week!

[2018-04-21 02:12] tylerl0706 commented on #1279
hmm I can't seem to repro what you're experiencing. Can you give me a few more examples and I'll keep trying?

[2018-04-22 00:10] #603 closed

[2018-04-22 00:14] tylerl0706 commented on #603
@amitbha The fix will be included in the next release - going out next week.

[2018-04-22 19:05] SolidCore-IA opened #1283 "posh extension crashing on debian linux"
## Issue Description ##

I am experiencing a problem were the powershell extension keeps crashing on Debian 9.4 linux. Error is "The powershell session has terminated due to an error, would you like to restart it?". I thought at first it was because of the integrated terminal, but I disabled the integrated terminal to auto-start. It happens with all ps1 or psm1 files when I open them or if I try t

[2018-04-23 09:31] fbehrens commented on #1278
@tylerl0706 Thanks a lot. `F8` works great for me.

Looking forward for PSReadline support.

I wonder what makes it so hard to provide a PSReadline Terminal. In my sublime world, the terminal is completely decoupled from the Terminal, whatever process is running there.

Another little feedback is the feature that i miss the most is `Goto Symbol in Workspace` having all Powershell functions.

[2018-04-23 09:31] #1278 closed

[2018-04-23 17:31] jkavanagh58 opened #1284 "Integrated Console unable to run scripts."
### System Details

- Operating system name and version: Windows 10 15603
- VS Code version: 1.22,2
- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:
[code]

Copy / paste the following commands into the PowerShell Integrated Console, and paste the output here:

code -v
$pseditor.EditorServicesVersion
code --list-extensions --show-versions
$PSVersionTable
[code]

### Issue Desc

[2018-04-23 18:35] jkavanagh58 commented on #1284
Nothing really in this log
[vscode-powershell.log](https://github.com/PowerShell/vscode-powershell/files/1939559/vscode-powershell.log)

[2018-04-23 19:52] jkavanagh58 commented on #1284
interesting enough, select script contents and press **F8** works

[2018-04-24 01:11] WToorenburghEasyMarkit commented on #1273
I've encountered this as well. The encoding error arising from the client-host JSON structure of the plugin makes sense, insofar as my inexperience in these things can allow.

I don't know if it's possible to use Python3 with GAM, as for Windows, it comes in a packed exe. As far as I can tell, I think we might need to ask jay0lee to compile the tool using Python3.

[2018-04-24 06:56] Arunideas commented on #144
This is really a important feature to make sure VScode as ISE is less preferred for Powershell developers after seeing the Vscode :)  Am ne of those eagerly waiting 😀

[2018-04-24 07:52] fbehrens commented on #1278
@tylerl0706  Mucho thanks, again. I learned that the editor is connected via the Language Service to the `Powershell Integrated Console`. Yes I knew about `F12` and the forward/back navigation.  But what I am missing a little, is the feature to fuzzy search in a `CTRL-P` like selectbox with all my functions.

[2018-04-24 15:42] k1rb opened #1286 "How to stop the ## comment block in a PS1."
While editing a PS1 in VS Code if I type two '#' characters this is happening:
[code]
This is not what I want. How can I stop this from happening?

Thank you for your help.

[2018-04-24 15:53] tylerl0706 commented on #1286
This was fixed in #1282. You will be able to disable it. The release will be out sometime this week. 😀

[2018-04-24 15:53] #1286 closed

[2018-04-24 16:00] #1277 closed

[2018-04-24 16:02] tylerl0706 commented on #1284
This is very strange and I can't repro it either which leads me to believe that it's a permission issue with VSCode specifically (where as powershell.exe and ISE are preinstalled so that's why we don't see it). There's a lot of talk on permissions regarding group policy over here: https://github.com/PowerShell/vscode-powershell/issues/1048 does any of that apply to you?

[2018-04-24 16:06] tylerl0706 commented on #1283
Hi there, thanks for this report. We'll take a look! I just want to say that if you delete the integrated terminal, you basically get rid of all the good features of the extension (rich intellisense, script analyzer squiggles, the ability to run something with F8)

Can you do me a favor and set your logs to `Diagnostic`? This will give us a 3rd log that I'm interested in. Just attach the zip of al

[2018-04-24 16:39] k1rb commented on #1286
I appreciate the quick response and thank you guys for all of your hard work!

[2018-04-24 19:25] rjmholt commented on #899
@tylerl0706, it looks like there's a bug in the extension where we're not persisting PSSA rule file settings, as above.

[2018-04-24 19:54] rkeithhill commented on #899
@PorkyProgs

You can use any filename you want but the tyipcal filename is `PSScriptAnalyzerSettings.psd1`.

When using a relative path in a workspace settings file, the path is relative to the workspace root.  If you put the setting in your user profile, it should be an absolute path.

[2018-04-24 21:25] tylerl0706 commented on #1283
Is this the setting you changed?:
`"powershell.integratedConsole.showOnStartup": false`

I'm having a hard time reproducing this.

Just curious, what do you get if you don't disable the integrated terminal?

[2018-04-25 15:00] jkavanagh58 commented on #1284
Just throwing it out there... PowerShell terminal loads the profiles, PowerShell Integrated is where it fails...
![code_2018-04-25_10-58-40](https://user-images.githubusercontent.com/4750977/39254368-eb0380aa-4877-11e8-84b3-5c75cbc3edae.png)

[2018-04-25 16:01] rkeithhill commented on #1284
Could you try disabling all your other extensions (except PowerShell of course) and try to repro the issue?

[2018-04-25 17:30] jkavanagh58 commented on #1284
Same results @rkeithhill. I am thinking possibly a GPO because things were working well on Monday,  and today I noticed some odd issues with PowerCLI as well. I just don't know how in the PowerShell terminal it works without issue but in the integrated terminal it does not. No issues loading 6.0.2 shell but 5.1 x86 and x64 do experience the profile as well as any other ps1.

[2018-04-25 18:18] codywd opened #1288 "FailFast: The terminfo database is invalid (Integrated Terminal)"
### System Details

- Operating system name and version: Arch Linux (Kernel 4.16)
- VS Code version: 1.22.2
3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9
x64

- PowerShell extension version: 1.6.0
- Output from `$PSVersionTable`:
PSVersion                      6.0.2
PSEdition                      Core
GitCommitId                    v6.0.2
OS                             Linux 4.16.3-1-ARCH #1 SMP PREEMP

[2018-04-25 20:44] mortenherman opened #1289 "Powershell session crashes and will not restart"
Issue Type: <b>Bug</b>

I have tried several times that if I stop a debug session in powershell, that I cannot attach a debugger again. also when the debugger environment crashes even though VSCode asks to restart it, it does not work afterwards.
one of the places I have seen the issue with stopping the debug session was running a long invoke-restmethod call, and prior to the http call returning,

[2018-04-26 02:10] rkeithhill commented on #1284
So `6.0.2` uses profiles from a different directory - `~\Documents\PowerShell` instead of `~\Documents\WindowsPowerShell`.  Also, I don't "think" that group policy settings apply to PS Core.

Are you profile scripts signed?  If so, are they blocked i.e. have the Internet Zone.Identifier on them?  You can check that with  `Get-Item <path-to-profile> -Stream *`.  If you see `Zone.Identifier` in the

[2018-04-26 06:40] Glober777 opened #1291 "Problem matcher skips some failed tests"
Issue Type: <b>Bug</b>

I've noticed that not all the test failures that are reported by Pester show up in Problems list. For example, I have the following script (`Invoke-SomeCustomOperation.ps1`):
[code]

Here's how the `Invoke-SomeCustomOperation.Tests.ps1` file looks like:
[code]

Just in case, here's what I have in `tasks.json`:
[code]
Here's the screenshot of the VSCode with Test run:
![imag

[2018-04-26 11:15] benlavender opened #1292 "Tab completion doesn’t work inside script blocks."
Hi, it seems when attempting to use the tab completion feature in script blocks there is no completion, except a tab spaces are added instead.

There appears to be some issues in the open issues with auto-completion but not sure if mine relates to the issue.

Thanks :+1:

[2018-04-26 17:36] osudude opened #1294 "VSCode pause button eventually quits responding to mouse clicks in long running powershell script"
Have a long running powershell script that iteratively queries mssql and then queries the underlying file system and writes the results to a file.  Since code runs for a long time, I like to periodically pause execution and look at the internal progress.  Pause button works great for the first several  hours of script execution.   Some point after 24 hours of continuous running VSCode Pause button

[2018-04-26 21:09] tylerl0706 commented on #1280
Closing this since the release went out today. If you're still seeing the same issue, please reach out!

[2018-04-26 21:09] #1280 closed

[2018-04-26 21:14] jeremytbrun commented on #1275
Great! Should this be labled as a bug like the previous issue?

[2018-04-26 21:25] tylerl0706 commented on #1289
Thanks for the report! Can you attach the diagnostic logs here? The instructions on how to do so are found here:
https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

That will help us debug the issue :)

[2018-04-26 21:29] tylerl0706 commented on #1291
Hi there, thanks for the report! Looks a bug. We'll take a look!

[2018-04-26 21:31] tylerl0706 commented on #1292
Thanks for the report. Can you please attach the log so that we can investigate?

The instructions can be found here:
https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2018-04-26 21:39] tylerl0706 commented on #1294
Thanks for the report! Are you running the script with F5 (aka with debugging)? Also, can you please attach the logs? Instructions can be found here:

https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

I can't say this is a common use-case of the debugger. This issue could really be an issue with our debug adapter, vscode, or even PowerShell itself.

[2018-04-26 21:40] osudude commented on #1294
F5 debug

[2018-04-26 21:50] tylerl0706 commented on #1278
I think Ctrl-T shows symbols that are loaded in the runspace. Example:

Let's say you have 2 files:

* test.psm1
* test.ps1

In test.psm1:
[code]

in test.ps1:
[code]

If you do an F8 on the Import-Module in test.ps1, then the symbol for Get-Foo shows up.

[2018-04-26 21:52] tylerl0706 commented on #1275
Indeed 👍 couldn't get to this in the release today but will try to get to it for the next one!

[2018-04-27 07:00] fbehrens commented on #1278
@tylerl0706  thanks for going after this issue.  Crtl-T shows only Symbols of opened editors `code 1.22.2
 vscode-powershell 1.7.0`

![image](https://user-images.githubusercontent.com/13704/39348483-9a3b78ae-49f7-11e8-9f4e-0a7eb9e19dfe.png)

![image](https://user-images.githubusercontent.com/13704/39348921-587e8224-49f9-11e8-839c-4589b9db2e5f.png)

[2018-04-27 12:38] markallisongit commented on #1189
@rkeithhill I notice that 1.7.0 has been released but this issue was not included. Any ideas on whether it will appear in the next one?

[2018-04-27 12:51] jkavanagh58 commented on #1284
Yeah clearly not VSCode Powershell extension issue. I noticed that in none of my shells, hosted or standard CLI that my function prompt {..}  wasn't working. If I call prompt for testing... it fails... I made a minor change to the function profile.ps1. Works like a charm when Run As Administrator but standard start of CLI I get
Cannot invoke method. Method invocation is supported only on core type

[2018-04-27 13:18] SQLDBAWithABeard opened #1298 "Formatting not working with 1.7.0"
### System Details

- Operating system name and version:
- VS Code version:
- PowerShell extension version:
- Output from `$PSVersionTable`:

1.22.2
3aeede733d9a3098f7b4bdc1f66b63b0f48c1ef9
x64

ajor  Minor  Build  Revision
-----  -----  -----  --------
1      7      0      0

CoenraadS.bracket-pair-colorizer@1.0.37
eamodio.gitlens@8.2.4
formulahendry.docker-explorer@0.1.6
gerane.Theme-Blackboard@

[2018-04-27 13:40] sonjz opened #1299 "Backtick ` in Terminal window not parsed correctly"
### System Details

- Operating system name and version: Window 10
- VS Code version: 1.21.1
- PowerShell extension version: 1.7.0
- Output from `$PSVersionTable`:

[code]

### Issue Description
I have some bootstrap code that I was testing and noticed an issue in VSC Terminal: Powershell .  Here is a portion of code I attempted to copy and paste.
[code]
Pasting into Powershell had no issues.
![im

[2018-04-27 14:55] tylerl0706 commented on #1299
This will come with the addition of PSReadLine :) drop a comment and a :+1: over there!

I'm going to dupe this to that.

[2018-04-27 14:55] #1299 closed

[2018-04-27 15:00] tylerl0706 commented on #1189
Ah. So you can still reproduce the issue?

Can you set the log level to "diagnostic" and let me know if any logs get generated then? Instructions here if you need them: https://github.com/PowerShell/vscode-powershell#2-capture-verbose-logs-and-send-them-to-us

[2018-04-27 17:56] jkavanagh58 commented on #1284
Starting to appear this is a recent AppLocker policy

[2018-04-27 17:56] #1284 closed

[2018-04-27 18:40] manytwo opened #1302 "Easy way Configure debug on specific powershell version"
Is there a simple way to start  a debug session to an older version of powershell?

The launch.json file can't handle powershell command line arguments, it can be an easy way to add some debug options.

I m not very familiar with advanced vscode debug configurations, How can this be done rigth now?

[2018-04-27 18:43] jkavanagh58 commented on #1284
Started working through the issue, CLI and ISE is working now, VSCode still experiencing:
PowerShell Integrated Console

The term 'C:\Users\vndtekjxk\Documents\WindowsPowerShell\profile.ps1' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:0 char:0

[2018-04-27 19:14] jkavanagh58 commented on #1284
Working through I now have the CLI and ISE working without issue but VSCode PowerShell Integrated Console fails to load the profile.ps1 from my WindowsPowerShell folder. Not sure where the difference between a hosted instance like ISE and VSCode would be.

[2018-04-27 21:16] rjmholt opened #1303 "CurrentFile.SaveAs() doesn't work for untitled files"
If an untitled file is opened and the language mode changed to PowerShell, trying to SaveAs() will silently do nothing because the first thing we do is [check for the file path](https://github.com/PowerShell/vscode-powershell/blob/ab5ee300b37c3f5fe2c4a83e0370d8b92d628822/src/features/ExtensionCommands.ts#L394). Untitled URIs fail this test, so just do nothing.

We should instead recognise untitled

[2018-04-27 22:16] rjmholt opened #1304 "File operations won't work on case-sensitive file systems on macOS"
The `normalizeFilePath` function we use in some file manipulation functions [assumes that all macOS file systems are case-insensitive]( https://github.com/PowerShell/vscode-powershell/blob/ab5ee300b37c3f5fe2c4a83e0370d8b92d628822/src/features/ExtensionCommands.ts#L450), which is not true.

HFS+ and APFS have case-sensitive variants that we should try not to break. Also worth noting that NTFS is [a

[2018-04-28 01:52] rkeithhill commented on #1302
Are you referring to the script/command that is to be debugged?  If so, you can pass arguments to that command:
[code]
If you are referring to passing commands to PowerShell.exe, then no it doesn't do that.  One issue, is that once you start VSCode and open a PowerShell file, the PowerShell Integrated Console is started to handle both language service requests (search symbols, script analysis, etc

[2018-04-28 02:10] rkeithhill commented on #1298
Those log entries are just from the extension - VSCode side.  We need the logs from the language service - PSES side - to see what is going wrong in PSES.

[2018-04-28 03:43] rkeithhill commented on #1105
@markgossa We made a change in `1.7.0` that we hope will fix this scenario.  Any chance you could try to repro the issue with this version of the extension?

[2018-04-28 06:54] SQLDBAWithABeard commented on #1298
It's this again.
I have 1.16.1 fodler in $HOME\.vscode-insiders\extensions\ms-vscode.powershell-1.7.0\modules\PSScriptAnalyzer this time.

2018-04-28 07:41:40 [ERROR] - Method "InvokePowerShell" at line 445 of C:\projects\powershelleditorservices\src\PowerShellEditorServices\Analysis\AnalysisService.cs

    The 'Invoke-Formatter' command was found in the module 'PSScriptAnalyzer', but the module c

[2018-04-29 03:32] rkeithhill commented on #1298
From a regular PowerShell prompt can you `cd` to `~\.vscode\extensions\ms-vscode.powershell-1.7.0\modules\PSScriptAnalyzer\1.16.1` and try to import that version `ipmo .\PSScriptAnalyzer.psd1`?

If that works, try the same thing from the PSIC in VSCode.  And if that works, execute this in PSIC:
[code]
PSScriptAnalyzer is a module that VSCode does not load by path.  It relies on module auto-loading

[2018-04-29 03:34] rkeithhill commented on #1298
Ah, it looks like PSES does attempt to import the module explicitly.
[code]
However, this happens after several attempts to run `Invoke-Formatter`.  So we have a timing issue I suppose.

[2018-04-29 11:49] SeeminglyScience commented on #1298
[This line is the issue](https://github.com/PowerShell/PowerShellEditorServices/blob/58fab2da05d0809471c7b30a7832487804846009/src/PowerShellEditorServices/Analysis/AnalysisService.cs#L120).  Previously it would use `Get-Module -ListAvailable` to determine the highest version module installed and import that path explicitly into the `initialsessionstate` for PSSA.

That's my bad, I remember specifi

[2018-04-30 08:50] manytwo commented on #1302
I mean Pass arguments to powershell.exe .
Goal is simple: Debug powershell with `-Version 2` parameter. Even if powershell V2 is deprecated, some scripts should work even on windows server 2003 in my case.

Launch.json provide a sample to start in a new temporary terminal. I was looking how to send arguments to powershell.exe at this lauch.
[code]

More will be updated, more we will need an easy w

[2018-04-30 14:25] themaximax opened #1306 "Linux. The console crashes if you use functions and the script is in a folder in Cyrillic."
**Description of the problem**
If the script is in the folder with the folder name in Cyrillic, the powershell console stops working, and the functions should be used in the script.

If the script is written without functions, then the integrated console works fine. Also, the integrated console works if there is no Cyrillic in the location path, regardless of whether it contains functions or not.

[2018-04-30 17:19] tylerl0706 commented on #1298
I'm going to let @rjmholt respond since we removed that logic on purpose.

@SQLDBAWithABeard as a mitigation, if you install a newer version of PSScriptAnalyzer, your issue should go away.

[2018-04-30 17:27] rjmholt commented on #1298
Yes, this is my fault. I changed the PSScriptAnalyzer import so it would honour the module path. Previously it searched all available modules and found the most recent one on the path and imported it. I've been hearing a lot of users saying how impossible it is when they can't specify a lower version of something, and it seemed bad that we were second-guessing the import module logic.

I think we

[2018-04-30 18:06] SeeminglyScience commented on #1298
Makes sense to me, I've run into that and it's not fun.

That would work with how we currently configure the PSSA `RunspacePool`, but if we ever decided to change the minimum or maximum `Runspace`s allocated then `Import-Module` can no longer be guaranteed to be persistent.

If it's possible to enforce a minimum version with `InitialSessionState` that would be ideal.  If not, we would either need

[2018-04-30 18:55] SQLDBAWithABeard commented on #1298
gmo PSScriptAnalyzer -ListAvailable | % Path gives

C:\Users\mrrob\OneDrive\Documents\WindowsPowerShell\Modules\PSScriptAnalyzer\1.10.0\PSScriptAnalyzer.psd1
C:\Program Files\WindowsPowerShell\Modules\PSScriptAnalyzer\1.16.1\PSScriptAnalyzer.psd1
C:\Users\mrrob\.vscode-insiders\extensions\ms-vscode.powershell-1.7.0\modules\PSScriptAnalyzer\1.16.1\PSScriptAnalyzer.psd1

Importing from VSIC doesn't

[2018-04-30 22:00] omniomi commented on #1279
@tylerl0706, not the person who opened this but

1. Open a new file.
2. Type `(` which should auto complete `()` with your cursor in the middle.
3. Type `)` and you'll notice it still only says `()` with your cursor outside instead of `())`

It appears to be an issue with VS Code in general though and not just the PowerShell extension as it does the same thing in say C#. Typically the completion o

[2018-05-01 19:00] rjmholt commented on #1298
@SQLDBAWithABeard Just to document, importing the module from within VSCode won't resolve the issue because PSScriptAnalyzer starts from a runspace pool when the extension starts up (which is precisely why using the `-MinimumVersion` flag is tricky).

PSScriptAnalyzer runs in its own sandbox essentially, so state changes in the editor won't affect it. It works by sending the text of the script int

[2018-05-01 21:13] tylerl0706 commented on #1294
Thanks for that! Can you also attach the logs?

[2018-05-01 21:26] tylerl0706 commented on #1306
Thanks for the report! We'll look into it.

[2018-05-01 22:15] osudude commented on #1294
Looks like VSCode just updated PowerShell Extension to newer version.   If I can reproduce will attach log.