[2021-05-21 08:45] isidorn commented on #3338
Thanks for doing this PR.
There was an issue on the VS Code side that I tackled via https://github.com/microsoft/vscode/commit/779f9876bc0a29fa2cfd811e5c613e05c5ec8e21

So now it should work. I tried it out with.
You can verify with vscode insiders from Monday. Thanks a lot 👏

[2021-05-21 11:00] lansalot commented on #3306
File is gone from icloud and no preview out yet... arghhhhhhh, that's helpful :(

[2021-05-21 14:53] Tyriar opened #3360 "Extension should not duplicate integrated console terminals"
You can get some context on this here: https://github.com/microsoft/vscode/issues/123805

Basically PS integrated consoles get reconnected when the window is reloaded currently by design, the PS extension should detect these and kill them before trying to start up another one (or even better re-establish the connection if that's possible).

[2021-05-21 16:08] TylerLeonhardt commented on #3360
@rjmholt @andschwa  You _should_ be able to terminals with name "PowerShell Integrated Console" and kill them before creating the one the new session will use... but I thought I saw this bug so just heads up if you do:
https://github.com/microsoft/vscode/issues/123805#issuecomment-846017342

[2021-05-21 19:00] #3348 closed

[2021-05-22 06:17] eddiezato commented on #2530
VS Code keeps recommending the "powershell extension" all the day, but I just can't use it. After a full day of editing ps1 files, I regularly find that the task manager is overflowing with dozens of conhost processes. I have to either manually kill them one by one or reboot the computer. It's frustrating as hell.

[2021-05-22 21:21] AlbertWaelti opened #3363 "Debug PSTask PSInvalidOperationException"
Issue Type: <b>Bug</b>

When debugging a PSTaskJob (Runspace) a get the following exception:
.PSInvalidOperationException: The pipeline was not run because a pipeline is already running. Pipelines cannot be run concurrently.

TestScript.ps1
=====================================
$files = @("file1.txt","file2.txt","file3.txt");

$files | ForEach-Object -AsJob -Parallel {

    Wait-Debugger
    Write

[2021-05-23 14:21] wsmelton commented on #2418
You can tell the extension to use the Terminal that is part of VS Code and note the Integrated Terminal.

This setting was added in 2020 to the extension settings `powershell.integratedConsole.showOnStartup`. This will cause when you hit F5 or "run selection" (right-click context) to execute in Code's terminal.

Debugging will still use the Integrated Terminal since it has a dependency but use the

[2021-05-23 14:44] wsmelton commented on #3349
I would mention this is a VS Code issue more than extension. @TylerLeonhardt fixed this issue at one point in VS Code in microsoft/vscode#114235. An additional change was made in the extension for preview 2020.5.0 #3129 to address it, but I think this is still on Code's side if it is to be fixed.

The proper use of snippets is not to include the brackets first. Type the alias and then tab key will

[2021-05-23 16:18] TylerLeonhardt commented on #3349
So there are actually 2 different behaviors of accepting a completion.

You can see what options are available if you have the setting `editor.suggest.showStatusBar` on.

One will be mapped to Enter, one will be Shift+Enter.

The default behavior of Enter is controlled via the setting `editor.suggest.insertMode`.

* insert (default): doesn't replace any trailing characters. It only inserts them.
*

[2021-05-23 19:23] MartinGC94 opened #3364 "IntelliSense uses the wrong icons for some completion result types"
### Issue Description
See the following screenshot:
![image](https://user-images.githubusercontent.com/42123497/119272855-6ed2c880-bc08-11eb-8355-2485f0769532.png)

A lot of them seem to use the text icon even though VS code includes icons that are more appropriate.
VS Code icons can be found here: https://code.visualstudio.com/api/references/icons-in-labels#icon-listing all of the icons intended

[2021-05-24 03:51] NReilingh commented on #2824
I need to raise one thing since this issue is still affecting people (like me):

Inside of VSCode, the output of `$env:PSModulePath -split ';'` is:

[code]

but OUTSIDE of VS Code it's:

[code]

THE KEY DIFFERENCE here is that VS Code is importing modules from the `-Scope AllUsers` location over the `-Scope CurrentUser` location. You can also see this ordering in the output of `Get-Module PackageM

[2021-05-24 17:32] andschwa commented on #715
That seems reasonable @MartinGC94, I'll reopen this so you can close it again with your PR.

[2021-05-24 17:35] #715 closed

[2021-05-24 18:09] wsmelton opened #3366 "Extension does not start or initialize with PS1 file"
Issue Type: <b>Bug</b>

Open VS Code workspace (PowerShell module). Open a current PS1 file or an Untitled-1 file (setting language to PowerShell). Neither show that the extension is starting.

Using command palatte to `Show Integrated Console` does nothing. As well, the extension log only shows 3 entries:

[code]

It is not until I use command palette to `PowerShell: Restart current session` that

[2021-05-24 18:16] wsmelton commented on #3366
Disregard. Had to go through the settings file and somehow `powershell.startAutomatically` got added and set to `false`.

[2021-05-24 18:16] #3366 closed

[2021-05-25 01:08] #3338 closed

[2021-05-25 16:29] andschwa commented on #3200
Fixed with #3357.

[2021-05-25 16:29] #3200 closed

[2021-05-25 16:41] andschwa commented on #2933
@PrzemyslawKlys can you verify that this no longer repros with the latest preview release?

[2021-05-25 16:44] andschwa commented on #1943
Can anyone confirm my suspicion that this is no longer an issue? That is, whenever I've installed the VSIX lately in setup and fresh VS Code instances, the theme no longer auto-applies.

[2021-05-25 17:12] andschwa commented on #3364
That sounds like a great thing to improve!

[2021-05-25 17:19] andschwa commented on #3278
Tyler's suggestions have fulfilled my needs pretty well for this. I wish there were a better way to eval a function still (i.e. update its definition in the current session for manual testing in the integrated console, without having to manually select the thing and "run selection" it over), but I can usually go to the start of the function and use brace jump to select to the end.

[2021-05-25 17:19] #3278 closed

[2021-05-25 17:22] andschwa commented on #3295
@bwarren18 Does this only happen when semantic highlighting is enabled?

[2021-05-25 17:27] andschwa commented on #3259
Flagged! Would love to merge a PR to fix this, as it looks to be a rather annoying bug.

[2021-05-25 17:28] andschwa commented on #3206
Is this breaking anything?

[2021-05-25 17:29] andschwa commented on #3131
The fix for this was merged in #3132, not sure why the issue didn't close.

[2021-05-25 17:29] #3131 closed

[2021-05-25 17:38] andschwa commented on #2766
This being the case, I'm going to close this issue. Thanks for the information 😁

[2021-05-25 17:56] PrzemyslawKlys commented on #2933
I've not seen this issuee since very long time now. Even before you "fixed it" on Apr14

[2021-05-25 18:13] #2933 closed

[2021-05-25 18:35] corbob commented on #1943
Can confirm that this seems to no longer happen. It looks like the UI added this option to set the theme once it's been installed:
<img width="731" alt="2021-05-25_11-31-43" src="https://user-images.githubusercontent.com/30301021/119550280-16f1aa00-bd4d-11eb-8d5d-d2ede8402e9f.png">

Picking a random extension that is just a theme, it pops up the choice as soon as it's installed:
<img width="1048"

[2021-05-25 20:36] #3277 closed

[2021-05-25 20:53] bwarren18 commented on #3295
@andschwa Yes.  If Semantic Highlighting is set to false it looks fine; the bug reappears if set to true again.

[2021-05-25 21:25] JustinGrote opened #3369 "DotNet Method Intellisense needs newline between overloaded methods"
## Example
![image](https://user-images.githubusercontent.com/15258962/119570410-ee75aa00-bd64-11eb-87b1-c2f2afa02778.png)

## Expected
Each constructor would have a newline

## Actual
All constructors are one long line which makes them hard to read, especially to newbies.

[2021-05-25 21:49] andschwa commented on #1943
Hooray! I'm simply going to update our own docs and make sure it's called out in the readme that you _get_ the ISE theme with this extension, but that you must (finally!) manually activate it if you want it.

[2021-05-26 08:51] MartinGC94 commented on #3369
This is a VS code problem. That window used to not be resizeable, when they were fixing that they tried different things and at one point it worked perfectly but then they broke it with an IMO bad design decision of ignoring line breaks unless they are followed by indentation.

This extension could probably work around this by injecting some indentation after every linebreak in the tooltip but IMO

[2021-05-26 20:46] andschwa commented on #3295
Helpful to know, thank you!

[2021-05-26 22:30] #1943 closed

[2021-05-26 22:32] therealderrickd opened #3373 "Powershell ISE vscode theme with Cascadia Font italics and code / text readability issue"
**Issue**:
Combination of v**scode-powershell PowerShell ISE theme** + **Terminal Preview v1.9.1445.0** + **Cascadia Cod**e font
https://github.com/microsoft/terminal/releases/tag/v1.9.1445.0
https://github.com/microsoft/cascadia-code

When Cascadia was released back in ~2019, I found that having the Italics specific .TTF file installed made the Powershell ISE Theme text somewhat unreadable such a

[2021-05-26 23:00] #2766 closed

[2021-05-27 14:16] rjmholt commented on #3206
Theoretically it means you can't write extensions for PSES easily. But if nobody is depending on that, it's not an issue yet. It's something we should ideally get working eventually.

[2021-05-27 15:01] bwarren18 commented on #3295
I wish I knew a way to consistently reproduce the issue.
It seems to happen when a file is left open in VS code for a while.
Let me know if there is any thing you would like me to check when it happens again.  Thanks.

[2021-05-27 16:15] andschwa commented on #3295
I've seen it occasionally, we have a whole project planned to address the semantic highlighting issues. It was helpful to be able to categorize this. I'm contemplating disabling semantic highlighting by default until we have it working better.

[2021-05-27 16:32] andschwa commented on #3373
So...the "readability" issue here I think is that [Cascadia Code's italic fonset](https://github.com/microsoft/cascadia-code/blob/main/images/cascadia-code-italic-characters.png) isn't very readable (in apparently your and also my opinion). Looking at your screenshot I thought for a minute we were for some reason having foreign letters rendered, because the 's' and 'l' are not what I would have ex

[2021-05-27 17:50] SydneyhSmith commented on #3363
Thanks @AlbertWaelti thanks for providing the detailed repro steps-- we will mark this as a bug, looks like quite the complicated issue--thanks!

[2021-05-27 17:50] andschwa commented on #3363
Some info, I tried to repro with PowerShell 7 _outside_ VS Code and could not:

[code]

but in the integrated terminal in VS Code, it repros exactly as posted:

[code]

[2021-05-27 20:16] #3221 closed

[2021-05-27 22:00] #3349 closed

[2021-05-28 04:39] rkeithhill opened #3378 "Double clicking variable selects variable AND $ prefix - this is not desirable"
### System Details

System Details Output
[code]

I had to run this from pwsh.  PSIC just hangs when I try to run this command.  But PSES is:
[code]

### Issue Description

Double-clicking a variable has changed to now selecting the `$` prefix.  This is a problem when pasting over the variable when used in splatting e.g. `@iwrArgs` becomes `@$iwrArgs`.  Ditto with string interpolation `"${smtpServ

[2021-05-28 18:44] therealderrickd commented on #3373
@andschwa thanks for your feedback.
Yes, agreed the "readability" is lacking.  I found it surprising, given the code friendly marketing push behind it from Cascadia and Terminal.  And we're not alone.....

https://github.com/microsoft/cascadia-code/issues/468
https://github.com/microsoft/terminal/issues/10231

 I'll take a look at the Hack font and also sharing I use [Consolas font ](https://docs.

[2021-05-29 03:22] Juesto opened #3381 "Extension issue, also failing to start on win7"
- Issue Type: `Bug`
- Extension Name: `powershell`
- Extension Version: `2021.2.2`
- OS Version: `Windows_NT x64 6.1.7601`
- VS Code version: `1.56.2`

reporting warning from Running Extensions
![image](https://user-images.githubusercontent.com/12691160/120056741-a086cd80-c014-11eb-891b-9b0e32ba868c.png)

[code]

Extension Log
[code]
Output when attempting to run commands
[code]
[code]

[2021-05-29 13:39] pb5050 opened #3435 "Extension incorrectly attempts x64 update on Arm64 platform"
I use nothing but native arm64.....

I get this alert in visual studio code (arm64) an alert about an updated version of powershell.

![Powershell Issue](https://user-images.githubusercontent.com/58855947/120072346-0dbc5200-c059-11eb-946e-80d5d2071bd9.png)

when clicking it tries to install x64 version  instead of arm. would be nice to have an arm installer or recognize im using arm and not x64.

[2021-05-29 16:47] MJECloud opened #3382 "Integrated Terminal uses deprecated shellArgs"
### System Details
[code]

### Issue Description

After the integrated terminal starts up i get this message:
![image](https://user-images.githubusercontent.com/22131101/120077885-f73fe600-c0ac-11eb-9be4-f13cfb030572.png)

When i click on ```Migrate``` it makes the following changes to VS Code settings.
![image](https://user-images.githubusercontent.com/22131101/120078033-b72d3300-c0ad-11eb-9d89-e

[2021-05-30 00:42] twest820 opened #3383 "Cmdlet.WriteProgress() fails intermittently with Win32 internal error 0x57"
### System Details
[code]

### Issue Description
Cmdlet.WriteProgress() fails infrequently during long running cmdlets, potentially resulting in hours of lost CPU time due to unexpected script failure. This appears to be some type of VS Code-PowerShell 7 integration issue that's new since January but so far I've been unable to identify a reliable repro. The call to WriteProgress() itself has been

[2021-05-31 07:37] potatoqualitee opened #3384 "VS Code + PowerShell 7 from the Store Broken"
Issue Description
=====

I am experiencing a problem with I'm guessing the PowerShell 7 Store.

After seeing the results in the video below, I upgraded psreadline, EditorServicesCommandSuite, I even deleted them from my system entirely from my system then reinstalled the extension so perhaps it's the versions within the extension.

I've installed/reinstalled/uninstalled powershell 7 as well as the

[2021-05-31 16:36] Big2thaE opened #3385 "VSCode system.typeloadexception"
Issue Type: <b>Bug</b>

Start Powershell Integrated Console.  Results in: VSCode system.typeloadexception: could not load type 'system.management.automation.subsystem.predictionresult' from assembly.......

Extension version: 2021.2.2
VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System In

[2021-05-31 16:45] Big2thaE commented on #3385
https://user-images.githubusercontent.com/36280037/120222506-a8599400-c205-11eb-9256-51cc33a3e999.mp4

[2021-06-01 19:19] andschwa commented on #3378
Is this sufficient for you? Since it's only a supplied default, the behavior is easily overridden.

[code]

This was a small change I made based on feedback gathered during a VS Code PowerShell extension meetup. See https://github.com/PowerShell/vscode-powershell/pull/3359 It seemed like _most_ users would prefer the ISE-like behavior were - and $ are not word separators.

What if we put `$` back

[2021-06-01 19:23] andschwa commented on #3381
Please try the latest preview release and let us know if it still repros!

[2021-06-01 19:26] andschwa commented on #3382
Thanks for the bug report! Looks like an upstream VS Code change we'll have to deal with.

[2021-06-01 19:32] andschwa commented on #3385
This appears to be a bug relating to an interface change in PowerShell Preview and PSReadLine, and not a VS Code PowerShell extension specific issue. To resolve your issue here, install the stable PowerShell version instead of the preview. See https://github.com/PowerShell/PSReadLine/issues/2511

[2021-06-01 19:43] andschwa commented on #3385
This is weird...this _should not_ be happening with PSReadLine 2.1.0 based on the PowerShell 7 preview release notes: https://github.com/PowerShell/PowerShell/releases/tag/v7.2.0-preview.6

[2021-06-01 19:45] andschwa commented on #3385
@Big2thaE have you installed a beta version of PSReadLine on your machine?

[2021-06-01 19:49] andschwa commented on #3385
Also see https://github.com/PowerShell/PowerShell/issues/15496

[2021-06-01 19:50] andschwa commented on #3385
Ah I found it in the GIF, you do have PSReadLine 2.2.0-beta2 installed. Ok, please revert to 2.1.0 (just install PSReadLine and let the extension use its bundled version instead).

[2021-06-01 20:05] andschwa commented on #3384
This is due to your machine having an incompatible version of PSReadLine 2.2.0-beta2. It is curious, as far as I'm aware that issue should only occur with the latest PowerShell 7 _preview_ [7.2.0-preview.6](https://github.com/PowerShell/PowerShell/releases/tag/v7.2.0-preview.6) and you look like you have 7.1.3, but the stack trace is identical to the problem reported in #3385. Please revert PSRead

[2021-06-01 20:06] rjmholt commented on #3383
@twest820 are you able to give us more information about where you call `Cmdlet.WriteProgress()` in C# and how your cmdlet is called from PowerShell?

[2021-06-01 20:13] andschwa commented on #3384
@rjmholt Can you help me confirm this? The store release is 7.1.3, which I would have _thought_ was compatible with PSReadLine 2.2.0-beta2, but I mean check that stack trace as it flies by in the GIF.

[2021-06-01 20:15] rjmholt commented on #3384
It's definitely in the prediction part of PSReadLine, which suggests that it's related to that.

[2021-06-01 20:16] andschwa commented on #3384
I downloaded that GIF and stepped through it frame by frame, it is the _same_ stack trace.

[2021-06-01 20:44] andschwa commented on #3384
Ok we have a plan: to avoid incompatibility issues such as this and #3385 we are going to patch PowerShellEditorServices to _only_ load our bundled version of PSReadLine.

[2021-06-01 20:46] rjmholt commented on #3381
@Juesto what PowerShell version are you running? The PowerShell extension for VSCode is only compatible with PowerShell 5.1 and above.

[2021-06-01 20:48] andschwa commented on #3384
@daxian-dbw this is such a strange issue, it's the exact same stack trace caused by the incompatibility issue, but it's with 7.1.3; @rjmholt thinks he may know what's going on.

[2021-06-01 21:00] #3385 closed

[2021-06-01 21:05] daxian-dbw commented on #3384
2.2.0-beta2 version of PSReadLine shouldn't have this issue with 7.1.x because the affected bits only kick in when the .NET version is >= 6, while 7.1.x uses .NET 5. The logs show the path to the pwsh.exe but not the version of the powershell:

This path looks like installed from Windows Store, and it's likely 7.2.0-preview.6

[2021-06-01 21:17] andschwa commented on #3384
Hey @potatoqualitee are you perhaps using "PowerShell Preview" in the store?

[2021-06-01 21:18] rkeithhill commented on #3378
I've got no problem leaving `-` out as that is not supported in a variable name unless you're willing to use `{}` e.g. `${foo-bar} = 42`.  **IF** I weren't going to use camel/Pascal-casing, I'd use `_` instead e.g. `$foo_bar = 42`.  But not having `$` in there is messing me up on a daily basis.   I wonder if the `wordSeparators` could be different depending on whether you have a modifier key press

[2021-06-01 21:27] andschwa commented on #3378
Just playing around with this, the included change makes the VS Code experience consistent with PowerShell itself. That is, if you put the cursor on `$Foo-Bar` the PowerShell extension (correctly) highlights the whole thing, and double-clicking it with this change then selects the whole thing. Without the included change, double clicking `Bar` is really confusing, as it gets selected, and slightly

[2021-06-01 21:41] andschwa commented on #3384
So ok, this is strange, but for some reason 2.2.0 is being bundled alongside 2.1.0.

[2021-06-01 21:47] andschwa opened #3387 "ADO Pipeline build is adding PSReadLine 2.2.0"
We've verified that the ADO Pipeline for PowerShellEditorServices correctly brings PSReadLine 2.1.0 in, but then found that 2.2.0 is bundled alongside it in the built VSIX. This is bizarre, and part of the cause of #3384 and #3385. Our build _should not_ be downloading another PSReadLine. We are going to patch the 2021.5.1 release, and then fix this for the next release.

[2021-06-01 22:00] #3384 closed

[2021-06-01 22:07] andschwa commented on #3387
The consumed PowerShellEditorServices build is publishing correct artifacts:
<img width="382" alt="Screen Shot 2021-06-01 at 3 06 46 PM" src="https://user-images.githubusercontent.com/2226434/120396225-0ca25380-c2eb-11eb-8bf7-559d3014b5b4.png">

[2021-06-01 22:09] andschwa commented on #3384
Going to leave this closed in favor of #3387, the task to fix the build. The latest stable release is patched and _only contains_ PSReadLine 2.1.0, effectively avoiding this problem.

[2021-06-02 00:41] Big2thaE commented on #3385
Thank you so much!!

Closing VSCode and then running

Install-Module -Name PSReadLine -RequiredVersion 2.1.0 -force

in a PS Terminal was the winning version that set it back.

-Erik
________________________________
From: Andrew Schwartzmeyer ***@***.***>
Sent: Tuesday, June 1, 2021 5:10 PM
To: PowerShell/vscode-powershell ***@***.***>
Cc: Big2thaE ***@***.***>; Mention ***@***.***>
Subject: Re: [

[2021-06-02 13:23] twest820 commented on #3383
Thanks, RJM. 15380 looks plausible to me as well though, curiously, I've been evaluating using PowerShell 7 (x64) directly as a workaround and haven't so far seen a repro outside of VSCode. There's an update to 15254 suggesting 7.2.0-preview.5 isn't enough to fully mitigate the issue. The build bot on 15380 indicates 7.2.0-preview.6. I've installed that on one of our instances and we'll see how it

[2021-06-02 14:05] mat-ocl opened #3390 "Install-VSCode.ps1 not detecting 64-bit architechture in Windows 10"
### System Details

System Details Output
[code]

### Issue Description

I'm installing VSCode on a 64-bit Windows 10 but i get a message like this:
`WARNING: 64-bit install requested on 32-bit system. Installing 32-bit VSCode`

#### Expected Behaviour

64-bit VSCode should install on a 64-bit Windows 10

#### Actual Behaviour

The function Test-IsOsArchX64 is testing the OS Architechture with:
`(

[2021-06-02 15:23] SoulSeekkor opened #3391 "Debug PowerShell 5.1 Untitled Files Not Working"
Issue Description
=====

Porting an issue from [here](https://github.com/microsoft/vscode/issues/123179) that was determined to be an extension issue specifically.  Had previously created this [issue](https://github.com/PowerShell/vscode-powershell/issues/3343) but it was closed prematurely.

Unless my memory is incorrect, one of the biggest advantages to VS Code over ISE was that we used to be ab

[2021-06-02 17:32] rjmholt commented on #3383
Yeah often we see race conditions that are present in PowerShell occur more prevalently in PSES because there's more going on in-process.

Anyway, further discussion is best had in that issue. I expected @msftbot to close this one with the label I added, but I suspect that might not be configured properly, so will close now. Thanks!

[2021-06-02 17:32] #3383 closed

[2021-06-02 17:39] andschwa commented on #3391
Hi, please try the latest release (from yesterday) v2021.5.1. I see your comment here https://github.com/PowerShell/vscode-powershell/issues/3343#issuecomment-843671740. I cannot repro this on my Mac with PowerShell 7 and 2021.5.1.

[2021-06-02 17:42] andschwa commented on #3390
Thanks @mat-ocl!

[2021-06-02 17:43] #3390 closed

[2021-06-02 18:28] SoulSeekkor commented on #3391
Unfortunately I have and it still does not stop on the breakpoint.  This is with VS Code version 1.56.2 now.

[2021-06-02 19:09] andschwa commented on #3391
Can you try PowerShell 7? Just trying to narrow down the cause.

[2021-06-02 19:21] SoulSeekkor commented on #3391
I can't install it to try it right now, and we don't use anything past 5.1 since there's no good way to reliably make sure all client machines have it.  Assuming my personal machine has the same issue I can try it later today and update this issue with my findings.

[2021-06-02 22:25] poshcodebear commented on #3378
I'm definitely not one of those happy with this change.

It messes with Ctrl+Backspace, so erasing and retyping a variable name means also having to retype the $, and erasing a parameter also erases the trailing -.

It messes with quick refactoring, so Ctrl+F2 to change the name of a variable means, again, retyping the $, even though it makes no sense that I'd want to change that part since all va

[2021-06-02 22:33] andschwa commented on #3391
As far as I know, debugging untitled files in PowerShell 5.1 is unsupported (at least, it's not working now, and hasn't worked since I started maintaining the extension based on bug reports). I would suggest using the new (currently only in Insiders) configuration setting to always prompt to save files when debugging if you're still using PowerShell 5.1:

[code]

As per #3357 we no longer prompt t

[2021-06-02 22:37] andschwa commented on #3378
Per the changelog you can revert with:

[code]

[2021-06-02 22:41] andrewsav-bt commented on #2864
https://github.com/PowerShell/vscode-powershell/issues/2793

[2021-06-02 22:43] rkeithhill commented on #3378
💯 Amen brother!

[2021-06-03 05:00] Juesto commented on #3381
thanks a bunch, im on 3.0

[2021-06-03 05:00] #3381 closed

[2021-06-03 06:37] dragonwolf83 commented on #3378
I don't think its that simple. I've hated it for years that you can't double click to select the whole variable with the `$` when trying to just copy and paste it. That triggers more work to add it back in or go select it again without double-clicking so that it captures it. Either way, the user gets a bad experience.

If triple-clicking would have selected the whole word instead of the line, it w

[2021-06-03 07:36] PrzemyslawKlys opened #3393 "PSReadLine 2.2.0-beta 3 breaks extension"
Issue Description
=====

I am experiencing a problem with... PSReadline 2.2.0-beta3. Once it's installed it impacts VSCode heavily and it's hard to find out what's wrong. The behavior is as shown in the GIF. After pressing F5, nothing happens. I had to go in, delete every entry of PSReadLine in all PowerShells - and just leave PSReadLine that comes with VSCode. It then works, but I guess this shou

[2021-06-03 08:07] PrzemyslawKlys commented on #3393
@daxian-dbw - do you need me to open an issue on PSReadLine repo as well? This may be an issue with PSReadLine itself?

[2021-06-03 10:49] potatoqualitee commented on #3384
@andschwa I think I was using the PS Preview but then uninstalled it and went with the stable version and both were broken. Seems like you have the solution though, thank you!

[2021-06-03 11:56] baldieavenger opened #3394 "Profile fails to load when `System.Windows.Forms` objects are used, hanging extension"
Hey team,
Since the latest update, i'm not able to use the editor to run any code. Love that I wont get prompted to save now when running, not loving the fact the PowerShell session never completes now when running my auto loading profile (365 module signs in, which appear to be successful - Other than the latest ExchangeManagement module never popping out the creds prompt but I can work around us

[2021-06-03 12:26] SoulSeekkor commented on #3391
Okay, I could have sworn it had always worked in the past and was one of the nicer improvements over using ISE in that you could debug a quick test without having to leave junk files everywhere.  If that is no longer the case and won't be continued then you may close this out,.

The prompting to save files which changed (broke imo, it never used to have that behavior) where they included that part

[2021-06-03 16:29] CATgwalker opened #3395 "Unable to Load Terminal"
Issue Type: <b>Bug</b>

After recent update to 2021.5.1, the terminal fails to load with below error on Windows Server 2016 with WMF 5.1

![image](https://user-images.githubusercontent.com/78571293/120678983-49db2280-c45e-11eb-8f9f-084d4702c4a5.png)

Extension version: 2021.5.1
VS Code version: Code 1.56.2 (054a9295330880ed74ceaedda236253b4f39a335, 2021-05-12T17:13:13.157Z)
OS version: Windows_NT

[2021-06-03 16:30] andschwa commented on #3393
PSReadLine 2.2.0-beta3 is incompatible with the extension right now, we bundle (and only support) 2.1.0. In the past it was decided that the extension should _try_ to use the latest version of PSReadLine installed, despite potential compatibility issues, but we are planning to revert that behavior to avoid bugs just as you all have hit here (https://github.com/PowerShell/PowerShellEditorServices/i

[2021-06-03 16:35] poshcodebear commented on #3378
The way I see it, with copying, you have three options:

- Double-click and move your mouse over until it selects everything you want (it will automatically select whole words if you start with a double-click, so it's pretty easy to just do that, and since doing that makes selecting multiple words faster and easier in general, it's quick to get used to doing this)
- Use the autocomplete/Intellisen

[2021-06-03 16:36] daxian-dbw commented on #3393
This is strange. Comparing to 2.2.0-beta2, the 2.2.0-beta3 PSReadLine just made the necessary changes to adapt to the new prediction interface in powershell 7.2.0-preview.6, which shouldn't affect the vs code extension in my understanding.

I found the following exception in the 'EditorServices.log', maybe @andschwa can see if this is relevant?

2021-06-03 09:21:39.246 +02:00 [DBG] Finished: Routi

[2021-06-03 16:36] andschwa commented on #3391
I _think_ what happened was that upstream VS Code added behavior to prompt to save files, or in some way changed it such that it started happening. Later they added the configurable option `nonUntitledEditorsInActiveGroup` and it was recommended we enable it by default to avoid the prompting, since most users (using the extension and PowerShell 7) _don't_ need to save the untitled files, only the

[2021-06-03 16:37] andschwa commented on #3395
What version of PowerShell are you using? @rjmholt we should take a look at this.

[2021-06-03 16:38] andschwa commented on #3394
Hi,

Could you please provide more [logging and environment information by following these steps](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment)?

Thanks!

[2021-06-03 16:40] CATgwalker commented on #3395
[code]

[2021-06-03 16:42] andschwa commented on #3393
Interesting...can't say it wouldn't be the first serialization bug with OmniSharp (if that's what's going on).

However, @rjmholt and I found that PSReadLine 2.2.0-beta2 was _also_ incompatible. So it's not just beta3.

[2021-06-03 16:44] andschwa commented on #3395
Interesting...can you tell me if it repros with PowerShell 7? Just to help narrow down the cause.

Also, could you please provide [your logs by following these steps](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment)?

[2021-06-03 16:48] kborowinski commented on #3393
@andschwa That is strange. I have reverted to *PSReadLine 2.2.0-beta2* and the debug controls work as expected.

[2021-06-03 16:55] CATgwalker commented on #3395
I am not able to install PowerShell 7 on this server - it is an Azure Automation hybrid worker and only works with PS 5.1.

[1622738848-33b3fe3f-9d15-4d9e-95f6-08cd39cb8ff81622738843439.zip](https://github.com/PowerShell/vscode-powershell/files/6593179/1622738848-33b3fe3f-9d15-4d9e-95f6-08cd39cb8ff81622738843439.zip)

[2021-06-03 17:07] baldieavenger commented on #3394
Hiya!

Here you go, wasn't sure which so you have all 3!

I updated to v2021.5.1, restarted, entered creds from the prompts and tried to run something using F5 from the editor again and got the same issue.

Thanks!
[VSCode-Logs-20210603..zip](https://github.com/PowerShell/vscode-powershell/files/6593231/VSCode-Logs-20210603.zip)

[2021-06-03 17:31] andschwa commented on #3393
Are you certain beta2 is loading? We found that nothing _seemed_ broken but upon inspection that PSReadLine was failing to load at all when beta2 was installed, and so left us both with the fallback/legacy readline. Try `Get-Module PSReadLine` and see if it's loaded.

[2021-06-03 17:35] daxian-dbw commented on #3393
Did you use powershell 7.2.0-preview.6 when doing this investigation? The beta2 PSReadLine is only incompatible with preview.6, it would work well with other versions of PowerShell, such as 7.1.x or 7.2.0-preview.5.

[2021-06-03 17:35] andschwa commented on #3395
That is helpful, thanks!

@rjmholt curiously I see this:

Why on earth is netstandard trying to be loaded for PowerShell 5.1? This https://github.com/PowerShell/PowerShellEditorServices/pull/1426 is the only related change I can think of, but it doesn't appear like it'd cause this.

[2021-06-03 17:36] andschwa commented on #3393
Nope, just regular PowerShell 7.1.x.

[2021-06-03 17:37] andschwa commented on #3394
All three is perfect, thanks!

[2021-06-03 17:39] andschwa commented on #3394
Ah, I see in the logs that this is with PowerShell 5.1. Can you try PowerShell 7 and see if it still repros?

[2021-06-03 18:14] kborowinski commented on #3393
@andschwa Yeah it loads but on *PowerShell 5.1* and on *7.2.0-preview.5*:

![psreadline](https://user-images.githubusercontent.com/16168755/120692568-39e83080-c4a8-11eb-9826-ae4aa632bc41.gif)

[2021-06-03 18:19] PrzemyslawKlys commented on #3393
I'm pretty sure 2.2.0-beta used to work fine until PS 7.2.0-preview6 - where it wouldn't work correctly (but only in that PS). Both PowerShell 7 and PowerShell 5.1 worked fine until i updated to beta3.

[2021-06-03 18:41] rkeithhill commented on #3393
Interesting - PSRL does not load for me in PSIC Preview 2021.5.1:

[2021-06-03 18:45] andschwa commented on #3393
This is expected. [2.2.0-beta is incompatible with PS 7.2.0-preview6](https://github.com/PowerShell/PowerShell/releases/tag/v7.2.0-preview.6):

Beta3 has just come out and I certainly haven't tested it with the extension, as we ship and support 2.1.0.

If you have anything higher than 2.1.0, then I believe this is also expected, as it's what Rob and I experienced too. 2.2.0 is still in beta and do

[2021-06-03 18:58] kborowinski commented on #3393
@rkeithhill *PSReadLine 2.2.0-beta2*:

[code]

[2021-06-03 19:45] andschwa commented on #3393
Hey all, I am going to let the bot close this issue. Thanks for beta testing PSReadLine and reporting the incompatibility issue. Fortunately the workaround is to use the latest stable release of PSReadLine. @daxian-dbw and I will coordinate to ensure the stable release of PSReadLine 2.2.0 _is_ compatible and works as expected, and in the next release of the extension (which we don't yet have a dat

[2021-06-03 20:30] andschwa commented on #3395
Could this have something to do with it @rjmholt:

From https://docs.microsoft.com/en-us/dotnet/standard/net-standard

[2021-06-04 01:04] andschwa commented on #3395
Well, that's a bug. @rjmholt I can confirm that `netstandard.dll` is not contained in `, but I have no idea why:

[code]

[2021-06-04 01:28] rkeithhill commented on #3378
The gift that keeps on giving:
![image](https://user-images.githubusercontent.com/5177512/120731874-b6c3dc00-c4a1-11eb-9184-7499e3ec15d5.png)

🤦‍♂️

[2021-06-04 03:15] andschwa commented on #3395
Ok so I can reproduce this in the build and have a good commit at v2.3.0, and a bad commit at v2.4.0-preview.1, but only if I delete the whole `.dotnet` folder and run our `SetupDotnet` task (in addition to cleaning and building). In former, we were only installing up to .NET SDK 5.0, in the latter we now install .NET SDK 6.0 (to support PowerShell 7.2). The behavior of `dotnet publish` appears to

[2021-06-04 09:10] baldieavenger commented on #3394
I can, but, it's not managed Enterprise wide so this wont help for everyone here that uses Code as well as 5.1 on our prod servers. Also, embarrassingly im not sure how to update Code to use Ps7....
Is 5.1 no longer supported?

[2021-06-04 09:38] baldieavenger commented on #3394
So this isnt an issue with Code v Version: 1.56.2 (system setup), which is annoying again as the EUC team decide to add this as a managed app, via a process which means they are out of date and I havent figured out how to kill it from my machine yet, but I will.....
Id say you can close this, unless you want to dig in any further with 1.54.3?
(Ill also open another ticket about ExchangeManagementO

[2021-06-04 09:41] baldieavenger commented on #3394
Side note.... Now that im not prompted to save changes when using Editor, it doesnt run the code with the changes I made, unless I save it first. Is that intentional? I assumed it would allow me to run whatever was in that editor at that time, regardless of if id saved it or not?

[2021-06-04 10:14] baldieavenger opened #3396 "`Connect-ExchangeOnline` fails because `System.Windows.Forms` objects are used"
Hi,
When updating to the latest ExchangeOnlineManagement module, i'm unable to get the pop out to sign in. This works fine with 2.0.3 and in ISE / PowerShell.
Running 5.1 Powershell, 1.56.2 (system setup) Code.
Attached Diagnostic logs when both versions for comparison and a screenshot of the creds pop up Im expecting.
Thanks!
John

[CodeLogs20210604.zip](https://github.com/PowerShell/vscode-power

[2021-06-04 17:17] andschwa commented on #3395
Hello! @CATgwalker can you unzip this attached zip file and use "Extensions: Install from VSIX..." to test this in your environment? I think it should fix the problem.

[PowerShell-insiders.vsix.zip](https://github.com/PowerShell/vscode-powershell/files/6600198/PowerShell-insiders.vsix.zip)

[2021-06-04 17:28] andschwa commented on #3396
Hi, could you also open an issue with the [module's repo too](https://github.com/MicrosoftDocs/office-docs-powershell)?

[2021-06-04 19:17] andschwa commented on #3394
It should _only_ not be prompting for untitled files, and that should only be the case in VS Code Insiders right now. Otherwise that behavior is unchanged. What happened was that we added this default config for their upcoming feature: https://github.com/PowerShell/vscode-powershell/pull/3357/files

For PowerShell files, it is to set to prompt for `nonUntitledEditorsInActiveGroup` or, "all editors

[2021-06-04 19:17] andschwa commented on #3394
Sorry, haven't had a chance to look at the main part of this issue yet.

[2021-06-04 19:19] baldieavenger commented on #3394
No worries, I'm in the UK so the weekend has already started

[2021-06-04 21:27] ThubLives commented on #3378
I'm kind of puzzled about the trend to keep changing defaults to more closely mimic the ISE when there is a palette command "PowerShell: Enable ISE Mode" that was added specifically to make it easy to change a number of settings to values that more closely mimic the ISE.  "PowerShell: Disable ISE Mode" returns those values to the extension defaults, but if those defaults are already ISE-like and f

[2021-06-04 21:29] CATgwalker commented on #3395
Thanks! Apologies for the delay.

Unfortunately I receive a different error now. See attached logs.
[1622836655-7c736c18-4425-4e95-bca5-8721574ee9501622836574157.zip](https://github.com/PowerShell/vscode-powershell/files/6601315/1622836655-7c736c18-4425-4e95-bca5-8721574ee9501622836574157.zip)

[2021-06-05 00:11] dragonwolf83 commented on #3378
As far as I can tell, this has nothing to do with ISE. ISE does not include `$` when you double click or use keyboard shortcut. Including this in ISE-Mode wouldn't make sense.

So why this change? Because without further documentation, to alot of users this could appear to be a bug or quirk. Check the following issues about missing `$` when selecting: https://github.com/PowerShell/vscode-powershel

[2021-06-05 00:19] andschwa commented on #3395
Ah, ok, no problem. I need to copy all the stuff out of bin and not just that one folder. We did figure out the problem upstream, I'm just figuring out a workaround until it's fixed properly.

[2021-06-05 21:34] ninmonkey opened #3398 "Version v2021.5.1 Textmate Scope is incorrect for negative numeric literals, when used as a parameter"
### System Details
<details><summary>System Details (Click to Expand)

</summary>

System Details Output
[code]

</details>

### Issue Description

The Textmate scopes or token is wrong on negative numeric literals

![image](https://user-images.githubusercontent.com/3892031/120905925-1396d200-c61b-11eb-8e8d-f4bb5efae140.png)

### Working behavior

Non-parameters, and positive numbers are okay

![t

[2021-06-07 06:03] JustinGrote opened #3399 "Start-Job -PSVersion 5.1 does not include the Windows Powershell module user path when run in PSIC terminal"
Issue Type: <b>Bug</b>

[code]

### Expected
PSModulePath contains $HOME\Documents\WindowsPowershell\Modules

### Actual
Only contains system folders and the powershell preview extension modules folder
`C:\Program Files\WindowsPowerShell\Modules;C:\WINDOWS\system32\WindowsPowerShell\v1.0\Modules;c:\Users\JGrote\.vscode-insiders\extensions\ms-vscode.powershell-preview-2021.5.0\modules`

### Workaro

[2021-06-07 09:19] baldieavenger commented on #3394
Happy Monday! Rearing to go to help out where I can for this!

[2021-06-07 19:14] alex4998 opened #3401 "Need to be able to debug powershell inline script block jobs"
I already asked a question in this regards on StackOverflow. Here it is https://stackoverflow.com/questions/67708312/is-it-possible-to-debug-powershell-inline-script-block-jobs-in-visual-studio-cod but still have no response. It looks like it is a missing feature. What I need is an ability to debug inline script block jobs in powershell scripts.

[2021-06-07 23:14] ThubLives commented on #3378
@andschwa sited ISE-like behaviour as the goal for this change, so that was the basis of my comment.  If this seems like a bug for new users, then it would likely do so for other languages as well and would perhaps make more sense to address it in vscode itself, rather than making this an exception for only PowerShell.

Again, consistency is a valuable feature of vscode that helps those who work i

[2021-06-07 23:46] dragonwolf83 commented on #3378
What is considered a word is different per language. VS Code did address the issue by allowing `editor.wordSeparators` to be configured at the language level which is what was done here. Many languages don't have an issue because `$` is not mandated for use in variables and thus not part of the word (hence word separator).

Consistency is a relative term. Consistent to what? I would say it is very

[2021-06-08 03:25] ThubLives commented on #3378
The consistency I'm talking about is basically this:  High level languages don't differ much in how they are constructed semantically.  Even in what they do and do not consider to be a "word".  Therefor there should be few exceptions, if any, with how one is to navigate text of any high level coding language.  It really is just text.

PowerShell in particular isn't unique in terms of the semantic

[2021-06-08 05:00] zhaohaoshu opened #3402 "Formatting the PowerShell script removes necessary pipe operator `|`"
### System Details

System Details Output
[code]

### Issue Description

Create a PowerShell file, input following script, and hit `Alt+Shift+F`. The pipe operator in `$a | ForEach-Object { $_ }` is removed.

[code]

Related settings in `settings.json`:

[code]

#### Expected Behaviour

The format result should look like:

[code]

#### Actual Behaviour

The format result is (note that the `|` is m

[2021-06-08 05:26] zhaohaoshu opened #3403 "Format doesn't work for comma `,` separated parameters"
### System Details

System Details Output
[code]

### Issue Description

Create a PowerShell file, input following script, and hit `Alt+Shift+F`. The file is not formatted.

[code]

Related settings in `settings.json`:

[code]

#### Expected Behaviour

The format result should look similar to:

[code]

#### Actual Behaviour

The file is unchanged.

Here are some other input/output combinations if

[2021-06-08 09:57] Schillman opened #3404 "Snippets doesn't follow the new word separator standard"
System Details Output

[code]

### Issue Description

The Snippet behaviour still matches the old separators. It doesn't select the $ to be replaced when inserting a snippet.
![image](https://user-images.githubusercontent.com/19289252/121164229-bcc60e00-c84f-11eb-897c-f4a297728ca5.png)

#### Expected Behaviour
I would expect it to match the behaviour of the word separators by default for PowerShel

[2021-06-08 12:55] SetTrend opened #3407 "On Windows, PowerShell integrated should replace built-in terminal"
On Windows machines, PowerShell Core commonly is the default terminal used by Visual Studio Code.

I think it makes sense to replace the built-in PowerShell Core completely with the Integrated PowerShell terminal provided by the PowerShell add-in when the add-in is installed. In most of the cases it's of no use to have two breeds of the same terminal at the ready.

So, I propose to replace the Boo

[2021-06-08 17:23] rkeithhill commented on #3378
@dragonwolf83  Changing three years of EXISTING behavior was probably not a good idea IMO.  That is one issue I have with certain OSS projects.  Folks seem a little cavalier with making changes to well established behavior.  At the very least, the change in behavior should have been made "opt-in".

[2021-06-08 19:00] #2874 closed

[2021-06-08 19:43] dragonwolf83 commented on #3378
That is exactly how this works. Nothing is hard-coded here. The VS Code feature is a global setting called `editor.wordSeparators`. It defines a list of characters that should be treated as the boundary to separate a word from another so that you can do word navigation and selection. It defaults to the most common characters, but that can break things for other languages or even in terminal usage.

[2021-06-09 10:14] nExoRek opened #3408 "upgrading extension removes custom PowerShell.json"
### System Details

### VSCode version: 1.56.2 054a9295330880ed74ceaedda236253b4f39a335 x64

### VSCode extensions:
adammaras.overtype@0.2.0
bencoleman.armview@0.4.5
donjayamanne.githistory@0.6.16
formulahendry.code-runner@0.11.4
GitHub.vscode-pull-request-github@0.26.0
mechatroner.rainbow-csv@1.8.1
ms-dotnettools.vscode-dotnet-runtime@1.1.0
ms-vscode.powershell@2021.5.1
msazurermtools.azurerm-vsc

[2021-06-09 11:43] anankee26 commented on #3297
hello,

I tried a complete uninstall of VScode (with profil deleted) and re-install in
[code]
with only the powershell add-on in 2021.5.1
then an uninstallation of PS 7.13

but nothing to do, still impossible to start windows powershell 5

now, with the new version of VsCode, I have this message that appears in the terminal at startup:
[code]

and in editorservices.log
[code]

and in vscode-powers

[2021-06-09 15:33] 50Wliu opened #3409 "Powershell icon is unreadable on light themes"
### System Details

VS Code: 1.56.2
PowerShell extension: 2021.5.1
PowerShell version: not relevant, but 7.1

### Issue Description

When using a light theme, the icon in the status bar that indicates the active PowerShell version has exceptionally poor contrast and is practically unreadable. This may be an issue with the light theme I'm using (Bluloco Light Theme) - in that case, let me know and

[2021-06-09 15:51] rjmholt commented on #3409
Related to https://github.com/PowerShell/vscode-powershell/issues/2436

[2021-06-09 16:09] rjmholt commented on #3408
I'm not sure we have control over that folder, since we don't have control over how VSCode installs things.

I suspect though that editing things inside an extension folder like that is something that VSCode deliberately won't support or help with, since to it those are just extension assets to pave over for installation.

Instead, I think [user snippets are intended to be stored elsewhere](https:

[2021-06-09 16:09] #3408 closed

[2021-06-09 16:28] rjmholt commented on #2103
I know this is the older issue, but https://github.com/PowerShell/vscode-powershell/issues/2538 has some more pertinent discussion so I'll deduplicate to that and pin that one.

Loading from the GAC first is a by-design behaviour in .NET Framework that we can't work around and the issue is that Serilog's assembly versioning is deliberately broken.

The solution for us is likely to remove Serilog.

[2021-06-09 16:28] #2103 closed

[2021-06-10 13:46] PowershellNinja commented on #3378
I found this issue after noticing the select behavior of the PowerShell extension changed (to the worse in my perception), but I'm really thankful there is a workaround that brings back the old behavior.
I have been using the extension on a daily basis since it was first published and it may look like a simple change, but if you're used to typing the extra $ sign after the copy/paste of a variable

[2021-06-11 13:59] youngr137 opened #3410 "Debugger hangs when `System.Windows.Forms` objects are used"
[1623418243-1001617c-c46c-460d-a567-6024e60e18a91623416489171.zip](https://github.com/PowerShell/vscode-powershell/files/6638904/1623418243-1001617c-c46c-460d-a567-6024e60e18a91623416489171.zip)

System Details Output
### VSCode version: 1.57.0 b4c1bd0a9b03c749ea011b06c6d2676c8091a70c x64

### VSCode extensions:
ms-vscode.powershell@2021.5.1
vscodevim.vim@1.21.1

### PSES version: 2.4.3.0

### Pow

[2021-06-11 16:24] andschwa commented on #3394
Hey! Sorry, I was on vacation this last week and am just now back today. I should get to this on Monday, currently just triaging everything.

[2021-06-11 19:52] andschwa commented on #3401
Can you confirm that this scenario is supported in the [PowerShell Debugger](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_debuggers?view=powershell-7.1) itself? We can only support it if it's already in the debugger, as we're just a front-end for that.

[2021-06-11 19:53] andschwa commented on #3404
Thanks! I've been meaning to look through the snippets, I think they all need a little TLC.

[2021-06-11 19:58] andschwa commented on #3297
I think this _may_ be related to issues in general with the assemblies shipped for PowerShell 5.1 support. Our use of .NET 6 (because of our support of PowerShell 7.2.x) brought in a bug with `dotnet` (https://github.com/dotnet/sdk/issues/18101) which caused #3395. I'll get the workaround in place for that, or they'll fix it upstream, and then we can test if it resolves this issue too.

[2021-06-11 20:14] niktastik opened #3412 "PowerShell IntelliSense is showing incorrect suggestions"
Issue Type: <b>Bug</b>

I just upgraded today and have been experiencing many errors with PowerShell IntelliSense. For example, if I want to have my closing parenthesis for a Param block on the next line after the final parameter, that's shown as an error.

I'm also seeing that IntelliSense is reporting errors with lines that are commented out.

Extension version: 2021.5.1
VS Code version: Code 1.

[2021-06-11 20:15] alex4998 commented on #3401
I don't understand what you ask me to confirm. The first thing that I did, I added a question to the StackOverflow ( https://stackoverflow.com/questions/67708312/is-it-possible-to-debug-powershell-inline-script-block-jobs-in-visual-studio-cod). It contains all the details of what I tried and nobody could help me. Then I opened an issue with vscode (https://github.com/microsoft/vscode/issues/125682

[2021-06-11 20:16] andschwa commented on #3378
Perhaps we move the `$` exclusion only into ISE mode, and keep the `-` exclusion? That seems to be a good option that would satisfy the most people.

[2021-06-11 20:18] andschwa commented on #3412
Hi,

Could you please provide more [logging and environment information by following these steps](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment)?

Thanks!

[2021-06-11 20:22] andschwa commented on #3401
Is this ability available in the PowerShell Debugger itself? If so, then this is the correct place to ask us to extend that support to the extension (as you filed this issue in the VS Code's extension repo), and if it's not available in the PowerShell Debugger, then we should transfer it to the the [PowerShell repo](https://github.com/powershell/powershell) as a feature request.

If you need help

[2021-06-11 20:36] niktastik commented on #3412
[EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/6640875/EditorServices.log)
[StartEditorServices.log](https://github.com/PowerShell/vscode-powershell/files/6640877/StartEditorServices.log)
[vscode-powershell.log](https://github.com/PowerShell/vscode-powershell/files/6640878/vscode-powershell.log)

[2021-06-11 20:39] dragonwolf83 commented on #3378
From what I tested ISE doesn't include `$` in selection so anyone relying on that behavior and using ISE mode would run into this same issue.

It just needs to default with `$` as a word separator like it was. This is already a setting controllable by users but it is clearly not understood what setting does it and what change to make. If you can provide a section in PowerShell settings that make i

[2021-06-12 00:33] andschwa commented on #3395
Ok, one more insiders build to test if you would please:
[PowerShell-insiders.vsix.zip](https://github.com/PowerShell/vscode-powershell/files/6641383/PowerShell-insiders.vsix.zip)

[2021-06-12 00:36] andschwa commented on #3387
Interesting...recent build in ADO seems to no longer do this.

[2021-06-12 15:16] youngr137 commented on #3410
Ok I have noticed that although F10,F11 etc are not working the terminal prompt is from the debugger eg [DBG]: PS C:\Users\...\cmds\testit> so I can type v to step over or c to continue and the code jumps to the next breakpoint
eg Hit Line breakpoint on 'c:\Users\...\cmds\testit\HelloWorld.ps1:6'
Sadly nothing is visible in VARIABLES. CALL STACK shows Running and stays with that even when script e

[2021-06-12 18:57] CATgwalker commented on #3395
Thanks! Terminal is loading correctly now with that build.

[2021-06-14 08:08] MickaJsd commented on #2824
Executing these two line in terminal window (as admin) solved the problem for me. Thank you very much :)

[2021-06-14 16:37] AlfiCode commented on #3410
I observe the same behaviour with the integrated terminal.
I saw it with 2 different commands:
$VerRes = gitversion /version
[string]$tmpVerRes = perl -le 'print $]'.
It doesn't matter if I run (F5 without breakpoint) or step over (F10).
The debugger does nothing. The blue symbols (F5, F10, F11, Shift+F11) on debug-bar are greyed out.
I go to the terminal press the enter-key and the debugger conti

[2021-06-14 16:59] andschwa commented on #3395
Perfect, thanks for the info! This will get fixed in the next preview release (or maybe I'll just drop it straight into a stable release, we'll see).

[2021-06-14 17:00] #3395 closed

[2021-06-14 17:07] andschwa commented on #3394
@baldieavenger I'm wondering if this has to do with the main PowerShell 5.1 bug https://github.com/PowerShell/vscode-powershell/issues/3395#issuecomment-859969488 that cropped up this release. Can you test this extension build? [PowerShell-insiders.vsix.zip](https://github.com/PowerShell/vscode-powershell/files/6650046/PowerShell-insiders.vsix.zip)

[2021-06-14 20:30] andschwa commented on #3399
Thanks @JustinGrote. I can reproduce this in my integrated console, but only when using PowerShell 7 in the IC, it does not reproduce in PowerShell 5.1. @rjmholt cannot reproduce it, so this bug feels a bit tricky. @PaulHigin is there anything we should know about within the remoting context that `Start-Job` uses that may cause the environment not to be successfully propagated (after the pruning I

[2021-06-14 20:33] andschwa commented on #3407
Thanks for the feature suggestion! This seems like it would take a lot of effort to ensure it's done right, as VS Code explicitly recommends that extensions are not setup to start at the launch of the editor itself. We are currently prioritizing bugs and other reliability issues, so I can't say we'll get to this any time soon, but we appreciate the idea!

[2021-06-14 20:39] andschwa commented on #3410
Interesting. It seems to be a protocol issue because as you say the PowerShell process itself is correctly debugging, it's just that the information that needs to be relayed from the process to the DAP server underneath VS Code. We'll need to repro this internally to make any headway, and the DAP is actually being worked on by @rjmholt so perhaps this bug will be fixed by the rework in https://git

[2021-06-14 20:53] andschwa commented on #2780
@ohadschn Try PowerShell 7.1.3, we don't think the fix was in 7.1.1.

[2021-06-14 20:56] andschwa commented on #3297
Hey @anankee26 can you try this insider build of the extension and see if it fixes your issue?
[PowerShell-insiders.vsix.zip](https://github.com/PowerShell/vscode-powershell/files/6651227/PowerShell-insiders.vsix.zip)

[2021-06-14 20:57] PaulHigin commented on #3399
I don't think Start-Job is doing anything special.  It runs the job script in a separate child process, which should pick up environment from the parent.  I know @SteveL-MSFT has spent time with $PSModulePath under different start up conditions, and may have an idea.

[2021-06-14 20:58] andschwa commented on #3342
Looks like that issue was #3407

[2021-06-14 21:03] andschwa commented on #3378
Sounds good, thanks all for the feedback. I'll make the change to put `$` back into word separators, but continue to exclude `-` as everyone seems to like that, and update the documentation with a tip on how to exclude have double-click select all of `$foo` instead of just `foo`.

[2021-06-14 21:03] youngr137 commented on #3410
If there is anything further you need from me please let me know. I’m UK
based but retired so my time is my own.
Roger

On Mon, 14 Jun 2021 at 21:39, Andrew Schwartzmeyer ***@***.***>
wrote:

[2021-06-14 21:05] andschwa commented on #3399
This is a weird scenario because we're starting in PowerShell 7, which has an incompatible `PSModulePath` environment variable, and so it cannot be passed as-is when `Start-Job -PSVersion '5.1'` is used. Based on testing, `pwsh` itself is doing _something_ to either reset or trim that environment variable before starting the PowerShell 5.1 process, but when used from the IC, a part of that logic a

[2021-06-14 21:13] andschwa commented on #3412
Could you also provide a script that this reproduces on, and perhaps a GIF? What you're describing doesn't sound like an IntelliSense issue but maybe a parser issue, could you share exactly what error messages are being reported? A screenshot or GIF of the full code and error message(s) would be great.

[2021-06-14 21:15] rjmholt commented on #3391
Windows PowerShell doesn't have the breakpoint APIs required to debug a file in memory like that. Those APIs were added in PS 7 and we added support for them in https://github.com/PowerShell/PowerShellEditorServices/pull/1119. AFAIK, prior to that we never supported untitled file debugging.

[2021-06-14 21:20] JustinGrote commented on #3399
@andschwa I vaguely remember something about there being this kind of logic when calling powershell.exe from a pwsh.exe window, because it would bring along its PSModulePath env variable and screw up powershell.exe. Maybe this logic still occurs even when doing a start-job even though its not necessary because it's a completely separate space.

@SteveL-MSFT may recall the issue, I think it was pws

[2021-06-14 22:04] ohadschn commented on #2780
@andschwa looks good, thanks!

[2021-06-15 08:41] anankee26 commented on #3297
Hello @andschwa

vscode update in
[code]

- So, uninstalling the add-on powershell 2021.5.1
- restart vscode
- install add-on powershell  from  .vsix provided:
- start terminal powerhell windows x64 5.1 always KO
- start terminal powerhell x64 7.1.3 ok.

[code]

EditorServices.log:
[code]

StartEditorServices.log = empty

vscode-powershell.log:
[code]

[2021-06-15 09:46] Guigz25 commented on #3297
Hi,
I'm having the same problem.
I tried to reinstall powershell from .vsix provided but still KO.

[2021-06-15 10:03] youngr137 commented on #3410
You are right about Forms:
A simple 3 line script demonstrates the issue seen:
Add-Type -AssemblyName 'System.Windows.Forms'
$form = New-Object System.Windows.Forms.Form
Write-Host "Hello"
Runs correctly until you set a breakpoint, for example, on the Write-Host.
Other scripts I run where forms are not used work correctly with the debugger.

[2021-06-15 13:41] baldieavenger commented on #3394
Hi Andrew,
I tried this but it didnt help. I suspect though this is just my machine and something caused by a mis config on my side somewhere. I dont get the same issue on a server after updating to the latest VScode and PS and my local code is slowly breaking.... Intellisense doesnt work in the editor anymore eithe....
Plan to rebuild next week though and start from scratch so if no one else has

[2021-06-15 15:21] ThubLives commented on #3378
I don't think we should keep the hyphen exclusion either.  We've been focusing on the dollar sign, but I think most of the arguments against that change apply to both.  Certainly PowerShell cmdlets are explicitly formed as Verb-Noun pairs and as such there is a lot of value in handling them as separate words.

For my own workflow, I regularly replace just the "verb" portion of the cmdlet.  For exa

[2021-06-15 17:04] andschwa commented on #3297
Hm, that `DryIoc` exception made me think for a minute this could be the deadlock fixed in https://github.com/dadhi/DryIoc/commit/c1c89b699963a2eb10ea63dde131ff9b15ef310c, but that fix made it's way into `DryIoc` 4.7.6, which was picked up by OmniSharp `0.19.2`, which was picked up by PSES and this extension in v2021.5.1. Just FYI @rjmholt

[2021-06-15 17:05] andschwa commented on #3297
But your error with v2021.5.1 is _very_ different from your original error with v2021.2.2. I guess we should debug the former since the latter has gone away?

[2021-06-15 19:27] #3378 closed

[2021-06-15 20:25] JustinGrote opened #3414 "Add a "Getting Started" Experience for vscode-powershell"
**Summary of the new feature**
The new getting started experience lets extension authors contribute tour walkthroughs of their extension.
https://code.visualstudio.com/updates/v1_57#_new-getting-started-experience

**Proposed technical implementation details (optional)**

VSCode-Powershell would be a good candidate, and this would be a good `up-for-grabs` item for a community member to develop, ma

[2021-06-15 21:13] bkarlow-optimo opened #3415 "VS Code Powershell debugger hanging - PS 7 with Powershell extension"
Issue Description
=====

I am experiencing a problem with... VSCode debugger with Powershell integrated console set to Powershell Core version 7.1.3.  The debugger launches, finds the first breakpoint in the entry point PS1 script file, executes to the first breakpoint - all good.

Immediately upon stepping over the breakpoint (F10), debugger hangs, terminal is non-responsive.

This MAY be related

[2021-06-15 22:29] andschwa opened #3417 "Enable partial support in untrusted workspaces"
Separate from #3334, with some effort we could enable the extension in untrusted workspaces if we carefully restrict certain user settings with `restrictedConfigurations` and code paths with the `isTrusted` API. However, this is feature work we do not yet have scheduled.

[2021-06-15 23:00] #3391 closed

[2021-06-15 23:44] #3334 closed

[2021-06-16 10:04] anankee26 commented on #3297
Hello @andschwa

yes the first error with v2021.2.2 doesnt't appear now. I agree that it is better to debug the one that is currently present. with v2021.5.1.
Unless v2021.2.2 is hidden by v2021.5.1 ! We'll see if we can fix the DryIoc ... ;-)

[2021-06-16 11:16] IAmIlliest commented on #2792
Just dropping into say I have this same issue quite often. It then often ends up getting to the point where the debugger can't even attach to the process (reloading the extensions, VS Code and Powershell doesn't even seem to fix that, tends to need a reboot).

[2021-06-16 17:04] TylerLeonhardt commented on #3334
so uh... what about seeing my prototype :)

[2021-06-16 18:11] andschwa commented on #3334
@TylerLeonhardt Would still love to see it, that's why I filed #3417!

[2021-06-16 18:11] andschwa commented on #3417
@TylerLeonhardt has a cool prototype to show us for some of this 😄

[2021-06-16 18:12] TylerLeonhardt commented on #3417
Let me know when you want the demo :)

[2021-06-16 18:34] andschwa commented on #3414
Hey, I think this would be really cool. Our documentation in general needs a major revamp. While this would take a fair bit of shepherding and then maintenance work once we have it, I think I'm willing to see that through. @SydneyhSmith and @rjmholt  should we start a whole "documentation" project? I need to get the `docfx` site back up, write releasing docs, write an architecture doc...so much to

[2021-06-16 18:38] andschwa opened #3418 "Document release process"
Over the last few months I've revamped the release process and it is now significantly easier (though there is, of course, still room for improvement). My notes are just on my computer right now and I'd instead like to properly document them in the repo for myself and potential future maintainers.

[2021-06-16 18:40] rjmholt commented on #3418
Related to https://github.com/PowerShell/vscode-powershell/issues/2286

[2021-06-16 18:40] andschwa opened #3419 "Write a high-level architecture document"
Like described [here](https://matklad.github.io/2021/02/06/ARCHITECTURE.md.html).

[2021-06-16 23:01] andschwa commented on #3382
@MJECloud I am having trouble replicating this. Are you sure it was the _integrated_ console from the extension (and not just a `pwsh` console), and that it reproduced with nothing configured in `settings.json`?

[2021-06-16 23:14] andschwa commented on #3382
As far as I can tell, this is not from the extension's integrated console. I admit the name is a bit confusing. We (the PowerShell extension) do start a terminal we call the `integratedConsole`, and it is an "integrated terminal" in VS Code, as they call _all_ terminals hosted in the VS Code app "integrated terminals." However, the settings in your report (like `terminal.integrated.shell.windows`)

[2021-06-16 23:20] andschwa commented on #3326
This isn't happening nearly as often now @rjmholt 🤷

[2021-06-16 23:30] andschwa commented on #3418
[code]

[2021-06-17 04:29] alex4998 commented on #3401
I guess I already answered your question and I believe you know all this stuff better than me. There is Debug-Job cmdlet - https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/debug-job?view=powershell-7.1, so this feature should be available, right?

[2021-06-17 07:20] MJECloud commented on #3382
@andschwa yeah, i'm pretty sure it was the integrated console.
The message always showed up, when starting the terminal from the vscode extension.

But it looks like the message disappeared with a new version of the insiders build.
Before submitting the issue, I cleaned my settings.json file of deprecations.

Otherwise it seems that the issue can be closed.
Thank you for digging into that! :)

[2021-06-17 08:27] LeopoldLerch commented on #2792
Same here, Breakpoint does not get hit. However, I am sure i got the right process as "Pausing" is working, when I hit "Pause" during the execution of the script-file, the debugger jumps directly into the current position of the code and I can even step through it. However, any breakpoint in that same file is not hit.

I also noticed, that after disconnection of the debugger, the integrated consol

[2021-06-17 12:41] IAmIlliest commented on #2792
Yep, confirming the same symptoms as Leo above. Probably unrelated, but just in case it isn't, I'm using Conda environments.

For what it's worth, I'm doing the bits below in a condition where VS Code PS Extension is no longer able to attach to another host process (it times out). Using PS 7.1.3:

- I can attach to the other (first) PS Host process from a second (external to VS Code) PS instance.

[2021-06-17 12:49] SeeminglyScience commented on #3401
Using a slightly modified version of the code from the SO thread I'm able to repro.

[code]

In the PSIC we don't actually stop execution, though we are definitely getting the debugger stop event.  If the above is saved to a file and invoked manually from the PSIC, you can see VSCode get the event to start debugging (pause/restart/etc menu comes up) and we start getting host output from the job.

[2021-06-17 16:29] #3418 closed

[2021-06-17 17:08] andschwa commented on #3387
I haven't seen this happen again. I almost suspect we maybe didn't see it the first time? I don't know. Anyway, it's something to be on the lookout for, but I'm resolving this.

[2021-06-17 17:08] andschwa commented on #3387
Actually, I think we should resolve this by an addition to the build script that essentially tests the built output to be sure this doesn't repro.

[2021-06-17 17:20] andschwa opened #3422 "Add "Preview" indicator to Preview extension's marketplace icon"
Right now it is exactly the same as the stable extension. I just want to take it and plaster the text "PREVIEW" on it 😅

[2021-06-17 17:56] Tiberriver256 opened #3423 "Integrated Console - Write-Progress messes things up"
### Issue Description

Running a script with `Write-Progress` screws up the console.

#### Example Script

[code]

#### Expected Behaviour

Should look like this (example taken from pwsh running in VSCode):

![image](https://user-images.githubusercontent.com/6989492/122449273-afa5cf00-cf73-11eb-8451-75926c9dabcf.png)

#### Actual Behaviour

Looks like this:

![image](https://user-images.githubuser

[2021-06-17 20:00] #3382 closed

[2021-06-17 20:22] andschwa commented on #87
@TylerLeonhardt Now that the PR you mentioned went in, can we mark this issue as resolved?

[2021-06-17 20:26] JustinGrote commented on #87
This can be closed, I agree with Tyler that even though Pester is considered a "de-facto" part of the ecosystem, it's not something the team supports directly and doesn't need to be owned by the Powershell Team.

I've been working on a reimplementation that uses the test APIs natively as an excuse to learn typescript and if it ever gets there I will release it as a standalone option. I don't see a

[2021-06-17 21:05] JustinGrote commented on #87
Although related: vscode-powershell provides the codelens for Run Test and Debug Test, and does have a Pester Stub. Should plans be made to deprecate and sunset that functionality?

[2021-06-17 21:18] TylerLeonhardt commented on #87
There at least needs to be a setting to disable it so I can automatically apply the setting and migrate customers

[2021-06-17 21:21] JustinGrote commented on #87
Agreed, I'd like to be able to have a popup that says "do you mind if we disable the native Pester codelens?"

If this gets marked up-for-grabs I'll consider doing it if mine ever reaches a ready-to-go state.

[2021-06-18 23:00] #87 closed

[2021-06-20 06:53] Reapism commented on #2824
Works just fine!

[2021-06-22 17:46] Vacant0mens opened #3428 "Format Rule Request: -not vs !"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

I realize `!` isn't exactly an alias of `-not`, but in order to have more consistently-formatted code across repositories and teams, there should be a setting to auto-form

[2021-06-22 18:32] strickdd commented on #3415
I'm having a very similar issue, but the debugger never hits the first breakpoint and I'm using PS 5.1. It shows the toolbar (screenshot below), but never hits the breakpoint and the terminal hangs - can't scroll or type.

Debug Toolbar
![image](https://user-images.githubusercontent.com/4924102/122978850-efe6c200-d364-11eb-9797-33830570f7a3.png)

**Simple Script**
[code]

**Logs**
[EditorServices.

[2021-06-22 18:40] strickdd commented on #3415
Not sure if it matters, but highlighting code and pressing F8 runs that section of code without issue.

[2021-06-22 20:22] tillig opened #3429 "Using VS Code variables in PSScriptAnalyzer settings path causes settings to not be found"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-06-22 22:05] andschwa commented on #3415
Hey, just an FYI we are actively working on https://github.com/PowerShell/PowerShellEditorServices/issues/1295 which re-wires the debugger. Hence we are prioritizing that rather than fixing issues with the existing implementation. We intend to have that in the next preview, and then we will see if this problem goes away 😄

[2021-06-22 22:06] andschwa commented on #3428
@rjmholt is this something that PSSA is capable of providing diagnostics / fixes for?

[2021-06-22 22:21] TylerLeonhardt opened #3430 "Hide Pester CodeLens"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

My test adapter extension: https://github.com/TylerLeonhardt/vscode-pester-test-adapter

shows its own CodeLens for Running and Debugging tests and I want these CodeLens t

[2021-06-22 22:21] TylerLeonhardt commented on #87
opened https://github.com/PowerShell/vscode-powershell/issues/3430

[2021-06-23 07:20] padlock780 commented on #2536
I've encountered this. This file was blocked by AppLocker. Please can these files be signed?
Microsoft and others recommend not allowing exes/scripts to run via path rules where the user has write access.

        %OSDRIVE%\USERS\%USER%\.VSCODE\EXTENSIONS\MS-VSCODE.POWERSHELL-2021.6.1\MODULES\POWERSHELLEDITORSERVICES.VSCODE\POWERSHELLEDITORSERVICES.VSCODE.PSD1

[2021-06-23 07:25] NotoriousPyro opened #3432 "Accepting the prompt to upgrade PackageManagement breaks PowerShell"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-06-23 14:17] bkarlow-optimo commented on #3415
@strickdd -
Thanks for the feedback.  I'm glad I'm not the only one experiencing similar issues.

@andschwa -
Thank you for the feedback.  Understood regarding focus on new implementation of the debugger, and that is great news.  I still think it important to raise these issues so others are aware they are not alone.

Any target release date for the new debugger?  I read through the referenced thr

[2021-06-23 15:55] andschwa commented on #2536
@padlock780 Thanks for bringing this to my attention. Our last release unfortunately encountered an issue which resulted in it not being signed. Releasing a patch update today to fix this.

[2021-06-23 15:57] andschwa commented on #2536
@rjmholt Since the original bug is over a year old and to my knowledge resolved with the signing we set up six months ago, I'm going to close this bug with a fix to always sign our artifacts.

[2021-06-23 16:04] TylerLeonhardt commented on #2536
I think the problem in this issue was that the Pester script here is not signed:
https://github.com/PowerShell/vscode-powershell/blob/master/InvokePesterStub.ps1

because it's in vscode-powershell and not PSES.

[2021-06-23 16:25] andschwa commented on #2536
I can fix that too.

[2021-06-23 17:00] andschwa commented on #3415
The whole year of 2020 was...a mess, for everyone (also I was not yet a maintainer here). We are planning to get it into the next release, hopefully end of this month, potentially next month, but not much later than that!

[2021-06-23 19:31] yobyot commented on #3137
Hello, pwshTeam.

Any update on this issue? A workaround? _Anything?_

It's so hard to write an Az Function using the command line debugger.

Thanks.

[2021-06-24 01:38] acelaya77 opened #3436 "the powershell success stream seems to quit working while connected to Exchange PSSession"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-06-24 01:38] andschwa commented on #3137
Can you confirm it's not working in the same manner with the latest release? We switched to use the Debug Adapter Protocol in February. On that note, the debugger is actually getting rewired (again, but it's necessary) as part of https://github.com/PowerShell/PowerShellEditorServices/issues/1295

[2021-06-24 01:41] andschwa commented on #3435
We (unfortunately) have our own logic in the extension to suggest updating PowerShell. Perhaps we'll fix this bug, but frankly I've been contemplating removing that logic entirely. PowerShell _already_ has its own logic to prompt users to update; I don't think the extension has any business adding duplicative logic on top of that, especially (as evidenced by this bug, among several) that it's _bug

[2021-06-24 01:46] andschwa opened #3437 "Document our versioning process"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

I've been inconsistent in choosing version numbers while managing the editor services and our stable and preview channels, therefore I need to pick and document one cohere

[2021-06-24 10:58] yobyot commented on #3137
Confirmed. Exactly the same problem.

[2021-06-24 13:29] bkarlow-optimo commented on #3415
@andschwa - Thank you for the update.  I suppose I can work around this issue for now.  Regards.

[2021-06-24 17:47] #3437 closed

[2021-06-24 23:23] andschwa commented on #2536
Oops, wasn't totally fixed.

[2021-06-25 14:33] peetrike commented on #3415
The problem might be connected to PSReadline v2.2.0-Beta3 (reported in https://github.com/PowerShell/PSReadLine/issues/2616)

[2021-06-25 16:51] strickdd commented on #3415
I know I wasn't in the list, but in case it helps... here are my available PSReadline modules.
![image](https://user-images.githubusercontent.com/4924102/123459240-02a30600-d5b4-11eb-829a-c357985eef93.png)

[2021-06-25 17:37] bkarlow-optimo commented on #3415
I am only on version 2.1.0.  See below:

PS C:\> Get-Module PSReadline -ListAvailable

    Directory: C:\program files\powershell\7\Modules

ModuleType Version    PreRelease Name                                PSEdition ExportedCommands
---------- -------    ---------- ----                                --------- ----------------
Script     2.1.0                 PSReadLine

[2021-06-28 00:11] Abax378 commented on #3410
System Info:
Windows 10 version 20H2 (OS Build 1904201052)
.NET 3.5 and 4.8.084 installed
Visual Studio Code version 1.57.1
VS Code extension PowerShell (ms-vscode.powershell) version 2021.6.2
PowerShell version 5.1.19041.1023 and 7.1.3

My comments touch on items previously discussed in this issue - hopefully they add something valuable.

I was debugging a PowerShell script that used Get-ChildIte

[2021-06-28 09:46] baldieavenger commented on #3394
Hi Andrew,
Anything more you need from me to dig into this?
Thanks!
John

[2021-06-28 09:47] baldieavenger commented on #3396
Hi Andrew,
Anything more you need from me to dig into this?
Thanks!
John

[2021-06-28 17:16] andschwa commented on #3410
I have great news for you! We are actively making a concerted effort to resolve our debugger (and other) stability issues! See more in our [blog post](https://devblogs.microsoft.com/powershell/powershell-for-visual-studio-code-may-2021-update/) and track our progress in the [project](https://github.com/PowerShell/vscode-powershell/projects/9).

[2021-06-28 21:51] Abax378 commented on #3410
I reinstalled Visual Studio Code (on top of the existing installation), then I tried debugging a file *without* a reference to System.Windows.Forms. Debug worked. Then I tried debugging a file *with* a reference to System.Windows.Forms: debug failed and was broken for all scripts. Reinstalling Visual Studio Code restored debug again.

[2021-06-28 21:54] Abax378 commented on #3410
Once I debugged a script with a reference to System.Windows.Forms, the debugger failed on all scripts. I then reinstalled Visual Studio Code (on top of the existing installation), and debug function was restored. If I again tried to debug a script with a reference to System.Windows.Forms, this cycle was repeated.

[2021-06-29 01:00] #3412 closed

[2021-06-29 16:02] #2536 closed

[2021-06-29 16:02] #3293 closed

[2021-06-29 16:08] andschwa commented on #3410
Oof, that sounds awful.

[2021-06-29 20:58] andschwa commented on #3423
That is indeed a bug, thanks for reporting it. It's unfortunately a bit difficult to fix as its a custom PowerShell host. We will look into this.

[2021-06-29 21:00] andschwa commented on #3423
@rjmholt thinks this a race condition between `Write-Progress` and the printing of the prompt. This may be fixed by https://github.com/PowerShell/PowerShellEditorServices/issues/1295

[2021-06-29 21:05] Tiberriver256 commented on #3423
🤞

[2021-06-29 21:22] andschwa commented on #3432
Ah that is interesting. @NotoriousPyro Can you read through #2824 and see how this intersects?

[2021-06-29 23:56] andschwa commented on #3429
Oof. We think this is an issue due to the loading of PSSA being moved out of process (did I remember that right @rjmholt?) or at least into a different context. We'll have to figure out how to address this.

[2021-06-29 23:57] andschwa commented on #3436
Do you know if this repros with PowerShell 7?

[2021-06-30 20:51] alialo opened #3441 "PowerShell Integrated Console won't execute code (entire document or selection) unless pasted"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-07-01 09:12] dariomws commented on #3396
Hi @baldieavenger, thank you for your feedback.

I've tested it and it's working for me.

VS Code:
![image](https://user-images.githubusercontent.com/33589238/124098482-e0e6ca80-da5c-11eb-8aed-9c4b9fe8fec8.png)

ISE:
![image](https://user-images.githubusercontent.com/33589238/124098743-1f7c8500-da5d-11eb-8e79-905f3356a095.png)

[2021-07-01 15:43] baldieavenger commented on #3394
Something to add! I use a little Microsoft.VSCode_profile.ps1 which contains a pop out then invoke command so I can choose the ps1 profile I want to use at the time and its this causing the issue!
If I just use my log in script as Microsoft.VSCode_profile.ps1 it auto loads, prompts, signs in and then has finished doing its thing!
If I use my function to open and let me choose which one, it doesnt!

[2021-07-01 17:14] andschwa commented on #3394
Oh, that is helpful. I see your function uses `System.Windows.Forms` which I know is causing other issues too: https://github.com/PowerShell/vscode-powershell/issues/3410#issuecomment-860976636

[2021-07-01 20:19] alialo commented on #3441
Seems like every release after 2020.3.0 causes the issue:

2021.6.2 - broken
2021.6.1 - broken
2021.5.1 - broken
2021.2.2 - broken
2020.6.0 - broken
2020.4.0 - broken
2020.3.0 - works
2020.1.0 - works
2019.12.0 - works
2019.11.0 - works

I will do some more digging...

[2021-07-03 16:42] alialo commented on #3441
Issue appears to be caused by [PowerShellEditorServices](https://github.com/PowerShell/PowerShellEditorServices) and [PSReadLine 2.2.0-beta3](https://www.powershellgallery.com/packages/PSReadLine/2.2.0-beta3), specifically introduced in the [v2020.4.1-preview](https://github.com/PowerShell/vscode-powershell/releases/tag/v2020.4.1-preview) release. Using a release prior to 2020.4.1-preview everythi

[2021-07-03 16:42] #3441 closed

[2021-07-04 15:33] baldieavenger commented on #3394
Looks like the same cause then for both of these too!
https://github.com/MicrosoftDocs/office-docs-powershell/issues/7895
https://github.com/PowerShell/vscode-powershell/issues/3396

[2021-07-04 15:33] baldieavenger commented on #3396
Looks like its due to "System.Windows.Forms"
https://github.com/PowerShell/vscode-powershell/issues/3394#issuecomment-872416633

[2021-07-06 16:45] andschwa commented on #3394
Ah, well, at least we know the problem. My understanding is that it may be difficult to fix due to the way `System.Windows.Forms` interoperates with a program's threading. But maybe https://github.com/PowerShell/PowerShellEditorServices/issues/1295 will fix it? We shall see...

[2021-07-06 16:52] baldieavenger commented on #3394
Thanks! Whilst I'm here...... Any ideas on another way I can open a dialogue box to ask me for a ps1 to load? Lol

[2021-07-07 20:24] hemingsent commented on #3415
This was indeed my issue. I removed the PSReadline v2.2.0-Beta3 and now it is working properly.

[2021-07-08 16:18] yobyot opened #3452 "Restore "with args" to the launch.json"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Sometime after ec53532bcf856725e1c763068122131aa949eb50, `PowerShell Launch Current File w/Args Prompt` was removed from `launch.json`.

That useful way of specifying args

[2021-07-08 16:59] thomglow commented on #3415
Uninstalling PSReadline v2.2.0-Beta3 fixed my issue with the debugger hanging also.

[2021-07-09 15:02] hemingsent commented on #3415
I spoke too soon. I removed it and it worked for a while, now it is back. With only 2.1 installed. I will keep testing and see what may have caused the issue to reappear.

[2021-07-12 20:19] andschwa commented on #3415
I'm dropping a new Preview of the release this week that will only use the bundled version of PSReadLine, and so should avoid this issue entirely!

[2021-07-13 06:28] FriedrichWeinmann opened #3456 "Word Separator configuration for "$" ignored"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-07-13 09:58] potatoqualitee opened #3457 "Do not auto-load module"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

I tried finding this, not sure if it's already implemented but is it possible not to auto-load the module that I'm working on? All of my work is done in Windows Terminal a

[2021-07-13 18:46] andschwa commented on #3456
You'll need to set those options for PowerShell files as well, as we supply a [default value](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#double-click-isnt-selecting-the-whole-variable) for PowerShell files. So just add this to your `settings.json`:

[code]

[2021-07-13 18:47] andschwa commented on #3456
Also, you may want to inspect why you have three separate extensions installed 🧐

[2021-07-13 20:33] andschwa commented on #3452
You can add this to your individual projects' `launch.json` on an as-needed and personal-preference basis. Do you mean that you want it in this repo for the purposes of developing the extension itself? Perhaps I'm not sure what you're asking, feel free to open a PR!

[2021-07-13 20:37] andschwa commented on #3457
Could you please elaborate on what issues you're hitting? My hunch is perhaps your problem with "DLL changes" is file locks due to being on Windows, since you say you're developing in a separate process (presumably `pwsh` in the Windows Terminal). Modules should not be auto-loaded by the extension (and in fact, recently we merged a PR that prevented completions from auto-importing modules too). If

[2021-07-13 20:38] yobyot commented on #3452
I'm saying this was *in* the default launch.json until at some point in the past it was removed for no apparent reason. I'd like it put back into the defaults that are available when adding a new PowerShell debug profile.

As seen in the screenshot below, it's not there. That means one has to remember it, save it somewhere else and cut-n-paste it and/or find it in the repo.

It was **much** more c

[2021-07-13 20:39] andschwa commented on #3137
Dang, well, we're actively fixing some threading issues in https://github.com/PowerShell/PowerShellEditorServices/issues/1295 which will also change the underlying debugger implementation quite a bit, perhaps it'll be fixed then.

[2021-07-13 20:42] andschwa commented on #3297
@anankee26 I've lost track of what the bug is here. I'm going to mark this resolved because your original issue in v2021.2.2 as we discovered was resolved by updating to v2021.5.1. Could you please open a new bug for your new issue? Thanks!

[2021-07-13 20:44] yobyot commented on #3137
*Perhaps*? _Maybe_? **_Possibly_**? That's not especially comforting -- especially when this Azure Functions PowerShell support is GA and debugging a function *has never worked correctly.* Isn't anyone at Microsoft embarrassed that one cannot accurately and conveniently debug PowerShell Azure Functions? (Even a local PowerShell script debug session isn't all that reliable, either.)

Sorry to be a

[2021-07-13 20:46] andschwa commented on #3394
@rjmholt thinks that we may have missed a location in PSES where we are not using `ConfigureAwait(false)` which causes these issues with `System.Windows.Forms`, so it looks like a bug on our end that we need to investigate. Sadly we cannot think of another way to open a dialogue box (though I suppose you could just use a Y/N prompt on the terminal?)

[2021-07-13 20:46] andschwa commented on #3137
We're working on it!

[2021-07-13 20:52] andschwa commented on #3452
Ok, cool! Feel free to open a PR, I'll mark this up-for-grabs 😁

[2021-07-13 21:27] potatoqualitee commented on #3457
Agreed

Yes indeed

Will do. I recall the process taking a bit, so I'll earmark it for tomorrow, and meanwhile, here you can see me switching branches and no PowerShell or pwsh being open -- just VS Code with nothing being typed in the Integrated Terminal. Perhaps that extra powershell terminal is throwing VS Code for a loop? Nothing was typed there either.

![image](https://user-images.githubuser

[2021-07-13 22:00] #3297 closed

[2021-07-13 23:09] andschwa commented on #1921
Whoops, thought this was to the general VS Code marketplace, which we need to do first. Then we can do the ADS marketplace (however, it may always be manual because they need to verify version support before taking new releases).

[2021-07-14 07:53] FriedrichWeinmann commented on #3456
Heya Andy,
thanks for the swift and precise information on how to resolve this!
Worked just fine :)

Any way to get this setting exposed to the config UI though? As it is there is zero discoverability to find this on your own.

[2021-07-14 07:53] #3456 closed

[2021-07-14 11:33] potatoqualitee opened #3459 "Extension auto-loads PowerShell modules"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-07-14 16:10] potatoqualitee commented on #3459
Was just troubleshooting some changes to our repo and got a note from a colleague that said VS Code loaded dbatools in his PATH and it was causing issues with his dbatools repo which had a different dll version. Once he `Uninstall-Module`, it gave no problems.

![image](https://user-images.githubusercontent.com/8278033/125655316-8ba245fc-e13c-4285-9b67-a24601f4fda6.png)

[2021-07-14 21:46] andschwa commented on #3456
I'd love to do it through the UI, I just need to learn more about the VS Code extension API to do it right. I'd say that's totally up for grabs if you wanted to make it happen!

[2021-07-15 08:11] anankee26 opened #3462 "Exception encountered starting EditorServices (DryIoc has waited for the creation of the scoped)"
hello,

With reference to _Originally posted by @anankee26 in https://github.com/PowerShell/vscode-powershell/issues/3297#issuecomment-857624566_

Powershell Windows terminal 5.1 doesn't start in vscode but ok with PS 7.1

[code]
with the powershell add-on in 2021.6.2

This message that appears in the terminal at startup:
[code]

and in editorservices.log
[code]

and in vscode-powershell.log
[code

[2021-07-15 08:14] anankee26 commented on #3297
OK, done in #3462

[2021-07-15 09:33] grzegorz-silarski commented on #2742
I had something similar while using interactive debugging. Debugger works but interactive terminal hangs and I can't type any word in it. It's basically dead. The connection with this thread is the `$ErrorActionPreference` variable as this happens whenever it's set to `$ErrorActionPreference = [System.Management.Automation.ActionPreference]::Stop`.

OS:
`MacOS 11.4`

Logs from Editor Services:
[co

[2021-07-15 09:49] grzegorz-silarski commented on #2742
An update. The issue is with watches like in @oliverroer post.

I'm getting:
[code]

I have 3 watches set that values aren't defined in the script I debug:
<img width="254" alt="image" src="https://user-images.githubusercontent.com/3469443/125767842-f2794563-14e7-4d92-8010-d1e35b8e2f47.png">

[2021-07-15 15:57] andschwa commented on #3297
Thanks!!

[2021-07-15 16:27] pcgeek86 commented on #1204
I'd love the ability to explore variables that are defined in the PowerShell Terminal, without the debugging context. I frequently use this technique to learn various PowerShell APIs for web services.

[2021-07-17 04:23] ninmonkey commented on #3024
### Describe bug or problem

**Update:** There's currently 2 parts:

1. **bug** : The formatter is ran when the script has parse errors / can't run. (Verses the linked thread where the case was valid) like https://github.com/PowerShell/PSScriptAnalyzer/issues/1402#issuecomment-704418988

quoting @rjmholt:

2. **feature request**: `vscode-powershell` preferences are missing a formatting setting.
Us

[2021-07-19 15:04] pcgeek86 opened #3466 "PowerShell extension fails to start inside container"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-07-19 17:46] andschwa commented on #3466
That looks like a pretty clear cut bug! I'll try to reproduce.

[2021-07-20 21:02] rjmholt commented on #3459
Could you elaborate on the following, I didn't understand them:

Which module is being loaded here? When you say the DLLs are marked as changed, do you mean a different DLL is also loaded or some kind of mutation is occurring with a DLL?

[2021-07-20 21:07] rjmholt commented on #3459
I just tried this out with the steps you mention and I wasn't able to reproduce the issue.

I've created a debug vsix that will log the stack trace of assembly resolve events in the logger, so see if you can try that out and show us the logs:

[PowerShell-insiders.zip](https://github.com/PowerShell/vscode-powershell/files/6851228/PowerShell-insiders.zip)

[2021-07-20 21:09] andschwa commented on #3459
Digging into the logs, I see assembly load events fired _only_ for our own dependencies, until the `prompt` function is executed, which then schedules some job using `postprofile` and my current hypothesis is that this starts loading `dbatools.dll` eventually. Can we see your prompt and that post-profile job?

We are also not able to reproduce this following your instructions. After cloning the `d

[2021-07-20 21:19] andschwa commented on #3462
Hi,

Could you please provide more repro information? What code repository are you trying to use, what's your environment setup, what steps do I need to follow in order to reproduce this?

Thanks!

[2021-07-20 21:19] andschwa commented on #3457
Marking this as a duplicate as we're now tracking in the new issue.

[2021-07-20 21:23] andschwa commented on #2742
We'll come back to this when the debugger implementation is revamped (in https://github.com/PowerShell/PowerShellEditorServices/issues/1295).

[2021-07-20 21:26] andschwa commented on #3326
These are no longer flaky, and we're not sure why, but let's not solve problems that no longer exist.

[2021-07-20 21:26] #3326 closed

[2021-07-20 21:30] andschwa commented on #3387
I haven't seen this repro once since, and we've gone ahead and fixed PSES to only load the bundled PSReadLine. So I'm not sure if we should keep this open.

[2021-07-20 21:30] #3387 closed

[2021-07-20 21:32] andschwa commented on #3415
@thomglow Can you try the 2021.7.0-preview version ("PowerShell Preview") on the marketplace, install PSReadLine v2.2.0-beta3 on your machine, and verify that this issue is fixed? The preview extension has logic now that only loads the bundled PSReadLine 😁

[2021-07-20 21:33] hemingsent commented on #3415
@andschwa  I did test mine without and beta of PSReadLine and it still hangs for me. I will get some more information here shortly and edit this post.

[2021-07-20 21:37] andschwa commented on #3415
Oops, actually I mean @hemingsent, whose issues _did_ have to do with PSReadLine beta3. I think your issue is different.

[2021-07-21 06:13] peetrike commented on #3415
the 2021.7.0-preview works with PSReadLine v2.2.0-beta3.  Debugger starts and works normally

[2021-07-21 06:34] potatoqualitee commented on #3459
Ohh! This will be helpful, thank you. I did have some remnants of a postprofile function to delay the loading of things. brb

[2021-07-21 06:51] potatoqualitee commented on #3459
k, I just commented out every line of my profile and I'm still getting the issue 🤔  I'll dig in more today.

Btw, should I still be loading this in my vs code profile? `if ($psEditor) { Import-Module EditorServicesCommandSuite }`

[2021-07-21 12:37] thomglow commented on #3415
With the 2021.7.0-preview of the PowerShell extension in VSCode and
PSReadLine v2.2.0-beta3, my issues of running code in VSCode and having it
hang, have been resolved. Thank you.

On Wed, Jul 21, 2021 at 1:13 AM Peter Wawa ***@***.***> wrote:

[2021-07-21 15:46] davmac1 opened #3471 "PackageManagement update problem"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-07-21 17:44] andschwa commented on #3459
I have no idea what that does, so I'm going with "No." 😅

[2021-07-21 17:44] andschwa commented on #3415
Yay, thank you!

[2021-07-21 17:51] andschwa commented on #3415
I'm going to leave this issue open as @bkarlow-optimo original reported issue is, to my knowledge, unrelated to the PSReadLine beta3 incompatibility issue.

[2021-07-21 22:00] #3457 closed

[2021-07-22 13:50] strickdd commented on #3415
Just installed 2021.7.0-preview with PSReadLine v2.2.0-beta3 and tested. Debugger hangs for me still. The debug toolbar comes up, but the breakpoint is never hit. I'm using PS 5.1. The terminal locks up and has to be killed/restarted to interact with it again.

It looks like PSReadline 2.1.0 was loaded initially so I removed that and manually loaded PSReadline 2.2.0.

After manually loading 2.2.0,

[2021-07-22 18:27] andschwa commented on #3415
Sounds like your issue @strickdd is also (unfortunately) not the PSReadLine issue.

[2021-07-22 22:12] panekj opened #3474 "Publish extensions on open-vsx"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Publish `ms-vscode.PowerShell` and `ms-vscode.powershell-preview` on https://open-vsx.org
That would allow people using [code-server](https://github.com/cdr/code-server) o

[2021-07-23 07:12] potatoqualitee commented on #3459
awesome, that old module was the problem! No more auto-loading. Thank you all for your time.

[2021-07-23 07:12] #3459 closed

[2021-07-23 17:24] andschwa commented on #3459
Yay! So glad to hear it @potatoqualitee 🥳

[2021-07-23 21:05] johndog opened #3478 "Need a way to choose between Pester v4 and v5 when both versions are installed"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

Pester v5 represents a breaking change.  .test.ps1 scripts which run correctly for v5 do not run correctly for v4 and vice-versa.
A user may need to run tests written agai

[2021-07-24 12:32] UselessGuru commented on #3415
I am the co-developer of [https://github.com/Minerx117/NemosMiner/tree/testing](https://github.com/Minerx117/NemosMiner/tree/testing) and I've got slightly different problem with the debugger which might be related.

Executing
[code]
breaks the debugger - the breakpoint gets hit, but the relevant code will not get highlighted.

Sample code to reproduce the problem:

[code]

1. Add a breakpoint to

[2021-07-26 13:59] #3471 closed

[2021-07-26 14:00] davmac1 commented on #3471
found solution

[2021-07-27 20:38] andschwa commented on #3474
Thanks for the suggestion! While I _personally_ would encourage this to happen, from a professional standpoint we don't want to publish our Microsoft-signed releases to a non-Microsoft repository. I hope you understand! Meanwhile, I am going to mark this up-for-grabs, and again, would love to see a community member step up to create an automated process that builds, packages, and publishes a versi

[2021-07-27 20:39] andschwa commented on #3478
This would be great to see, but it's not on our current timeline. I'm going to mark this up-for-grabs.

[2021-07-27 20:43] andschwa commented on #3415
Yes, we seem to have a number of issues right now around the use of `System.Windows.Forms`. I need to (or someone else, if you're willing) debug through PowerShell Editor Services to see if we messed up any async calls. Most likely we need to ensure that `.ConfigureAwait(false)` is used on _every_ call, otherwise the threads get mixed up since `Forms` brings in its own threads too. A process dump

[2021-07-28 09:43] panekj commented on #3474
Thanks, I will try to figure that out.

[2021-07-28 11:05] My-Random-Thoughts opened #3484 "PowerShell Integrated Console Does Not Work in Constrained Language Mode [needs test]"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [ ] I have verified that I am using the latest vers

[2021-07-28 19:34] renerichard-gr commented on #3410
I see the same behaviour, VSCode runs up until a breakpoint without any issues, then when I single step (F10) it hangs forever.

[2021-07-28 23:42] #2286 closed

[2021-07-28 23:42] andschwa commented on #2286
We did it!!!

[2021-07-28 23:54] andschwa commented on #3287
So I believe that I've essentially resolved this but without resorting to submodules, with two things:

https://github.com/PowerShell/PowerShellEditorServices/issues/1476 ensures that given a build of PSES, we know exactly which commit it came from, and this is available to the extension too (indeed, it's printed at startup!)

[code]

And https://github.com/PowerShell/vscode-powershell/commit/a987

[2021-07-28 23:54] #3287 closed

[2021-07-29 14:22] banyula commented on #3410
I have the same issue trying to debug a PS script that uses Windows Form. Unable to do it with VS Code I tried to use ISE (yuk!!) and at the end I was able to do it using Visual Studio 2019 and a trial copy of PowershellProTools that provides a similar capability.

Please rush on fixing this issue.

[2021-07-29 14:24] renerichard-gr commented on #3410
To be clear I'm not using WIndows Forms. I'm only importing the ActiveDirectory module.

[2021-07-29 17:30] andschwa commented on #3422
We need a better icon too, our current icon is 120x120 but [the docs](https://code.visualstudio.com/api/references/extension-manifest#fields) say it should be at least 256x256.

[2021-07-29 17:34] UselessGuru commented on #3415
I am please to help - can you give exact instructions.
I know how to debug Powershell. However I do not (yet) understant 'PowerShell Editor Services'. Any links to prepare myself?

[2021-07-30 00:52] AfanasievAA commented on #3415
I have same issue.
[code]
After breakpoint gets hit, pressing F10 reproduces a problem (debugger does not highlight anything and hungs). If you then hit F11 - script continues (writes "OK" to host) but debugger hungs anyway.

[2021-07-30 12:38] youngr137 commented on #2742
I tried to reproduce this which was straight forward. I noticed that the console has a debug prompt. Typing 'c' allowed the script to continue. In this sense it is similar to the issue I raised 'PowerShell debugger hangs using F10 (#3410)'.

[2021-07-30 14:23] peetrike opened #3489 "PowerShell extension doesn't stop powershell Integrated Console process when project is closed"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-07-30 14:49] peetrike commented on #3489
It might be connected to the Workspace Trust feature introduced recently.  I have added next configuration to my settings.json:
[code]

[2021-07-30 16:38] andschwa commented on #3410
For what it's worth, you should only need to restart the PowerShell session. From the command palette in VS Code, run "PowerShell: Restart Current Session". I have made some progress debugging this but haven't found the root cause yet.

[2021-07-30 16:40] andschwa commented on #3415
Your script has been quite useful, I spent yesterday debugging! I've got things a little more stable (you can now exit the debugger even after it "hangs" at that breakpoint, which didn't seem to be working at first).

It's perhaps a little painful to get this debugged, you end up with three concurrent debugging sessions. Before getting to that point, if you're interested, you can get setup just de

[2021-07-30 20:55] dualmoon opened #3490 "Language server fails to start when workspace has ephemeral directories"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-02 10:55] brianking commented on #3474
@panekj Before I issue the namespace to you on Open VSX, can you confirm that what you published is 'a version of the extension built on the MIT Licensed sources' and perhaps say a few words how you did it?

[2021-08-02 11:31] panekj commented on #3474
@brianking
I've used `ovsx` to build and publish what is currently available on open-vsx but it's wrong, built extension is broken as it doesn't include everything (or rather it includes almost nothing) but I've wanted to try if publishing works (and then I've learned it's not possible to unpublish versions)
I've also had issues with doing that in the beginning:
![image](https://user-images.github

[2021-08-02 20:52] andschwa commented on #3474
It looks like `ovsx` the tool is trying to create the VSIX package itself. You should debug that. We use the `Invoke-Build Package` task that calls `vsce package` to create the VSIX.

[2021-08-03 22:29] #3422 closed

[2021-08-03 22:42] andschwa commented on #3484
Unfortunately we don't currently have extensive tests for Constrained Language Mode compatibility, so while this feature was at one point implemented, we have no way to guarantee that it will continue to work. We will need to work on our side to add sufficient testing so that we can both get the feature working again and then assert (with some amount of confidence) that it'll continue to work. I'm

[2021-08-03 22:46] rjmholt commented on #3415
See also: https://github.com/PowerShell/vscode-powershell/issues/2352

[2021-08-03 22:57] andschwa commented on #3489
@peetrike Can you please clarify: do you have these projects marked "trusted" or "untrusted"? I have to assume "trusted" or the extension wouldn't/shouldn't be starting in the first place at all.

[2021-08-03 23:01] andschwa commented on #3490
Hey, thanks for the info, but unfortunately this seems like it'll be nigh-impossible to reproduce adequately enough to fix, and as you said, it's quite the edge case. I'm going to mark this as resolved (won't fix) if you don't mind. The "numerous files in workspace" issue #3307 is still open and pending investigation, which if solved would potentially solve this issue too.

[2021-08-04 00:27] webtroter commented on #1468
Hi,

I use temporary session because I write powershell Classes. But my prompt is often too long and I'd like to set it in the profile.

I sadly don't have code to contribute. Maybe if I could pass the prompt somehow in the vscode launch.json that would be great.

Thanks a lot!

[2021-08-04 05:54] peetrike commented on #3489
I have those projects marked as trusted.  And configuration mentioned above marks the PowerShell extension always trusted.

I usually switch between projects several times a day and in the past there was no problems.  But then recently I noticed, that ~20 GB of my machine memory was taken by pwsh processes, while I had only couple of them running (to my knowledge).  So it might be connected to rec

[2021-08-05 02:47] pctechwill opened #3496 "VSCode 1.58.2 SYSTEM (and USER) installation"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-05 05:00] #3490 closed

[2021-08-07 02:10] corbob opened #3499 "suggested extension `msjsdiag.debugger-for-chrome` has been deprecated"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-08 20:10] rbuckton opened #3500 "No Syntax Highlighting for `enum` declarations"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-09 09:19] HolgerGiesen opened #3501 "Execute PowerShell-Code with 'F8' or 'F5' in integrated console failed"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-09 16:44] andschwa commented on #3499
Feel free to open a PR to fix!

[2021-08-09 16:50] andschwa commented on #3500
Hi,

It appears that a [long-standing issue](https://github.com/PowerShell/EditorSyntax/issues/29) in the PowerShell highlighting grammar is the cause of this.

The extension's built-in (but experimental) semantic highlighting does support `enum` correctly. You can follow the instructions [here](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#problems-with-synta

[2021-08-09 20:21] #3499 closed

[2021-08-09 22:57] andschwa commented on #3394
Hey @baldieavenger, could you test this dev build and let me know if it solves the issue?
[powershell-preview-2021.8.1.zip](https://github.com/PowerShell/vscode-powershell/files/6957834/powershell-preview-2021.8.1.zip)

[2021-08-09 22:59] andschwa commented on #3410
@banyula @Abax378 @youngr137 (and anyone else with issues debugging a PowerShell script which uses an object from `Systems.Windows.Forms`), could you test the dev build uploaded in the linked comment and let me know if the issue is resolved? Thank you! https://github.com/PowerShell/vscode-powershell/issues/3394#issuecomment-895604756

[2021-08-09 23:05] andschwa commented on #3415
@UselessGuru @AfanasievAA  (and anyone else with issues debugging a PowerShell script which uses an object from `Systems.Windows.Forms`), could you test the dev build uploaded in the linked comment and let me know if the issue is resolved? Thank you! https://github.com/PowerShell/vscode-powershell/issues/3394#issuecomment-895604756

@bkarlow-optimo is your issue the same as theirs, or separate?

[2021-08-10 01:41] AfanasievAA commented on #3415
I've quick tested it. It works! No more debugger fails. Used Visual Studio Code 1.60.0 insider (x64) with your extension.

[2021-08-10 05:14] UselessGuru commented on #3415
I've quick tested it. It works! VSC 1.59 & PWSH 7.2-Preview8

[2021-08-10 09:14] panekj commented on #3474
I've used just `vsce` for packaging it and it works fine

[2021-08-10 09:43] sunilram-net commented on #2965
CBS           : 1
Install       : 1
InstallPath   : C:\Windows\Microsoft.NET\Framework64\v4.0.30319\
Release       : 528372
Servicing     : 0
TargetVersion : 4.0.0
Version       : 4.8.04084
PSPath        : Microsoft.PowerShell.Core\Registry::HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework
                Setup\NDP\v4\Full\
PSParentPath  : Microsoft.PowerShell.Core\Registry::HKEY_LOCAL_MACHINE\

[2021-08-10 09:56] anankee26 commented on #3462
Hello,
Sorry pour the delay, I was on vacation.

When I run vscode (v1.59 today), i open a simple file .ps1 with a --echo "test"-- inside. Nothing else.
I use Gitlab community edition 13.7.3 (server) for repository ; locally, git version 2.29.2.windows.2 . I have remote-WSL v0.58.2 in vscode too but not activated currently. I have deactived all plugins in vscode.

I'm on windows 1809 (enterprise 1

[2021-08-10 12:10] HolgerGiesen commented on #3501
Hi,
The problem was solved when I updated the PowerShell extension to version 2021.8.0. Now the F5 and F8 keys worked again.

Thanks,

[2021-08-10 12:10] #3501 closed

[2021-08-10 12:13] baldieavenger commented on #3394
Hi Andrew,
Installed and opened Code, prompted for my profile.ps1 and then starts to load but doesnt seem to actually open it and load anything.
I also dont get an option for the dropdown integrated terminal now when I did before, so I assume I wouldnt be able to hit f5 to run my script in the editor if it did load anyways (Unsure if thats helpful but thought id mention!)

Logs attached.

Thanks!

[2021-08-10 14:02] banyula commented on #3410
I just tried and it worked as expected, not the first time after the VSIX was loaded because it hung on the DisplayDialog() method call by not displaying the dialog window. After I restarted VSCode it started working fine again being to able to stop at breakpoints after windows.form was invoked before DisplayDialog, as well as displaying the proper dialog thereafter.

[2021-08-10 14:09] youngr137 commented on #3394
Ok so I installed the preview and tested with the simple HelloWorld.ps1 that I started with and that worked first time however I could not get it to start again (f5). There is an ETIMEDOUT logged in the output for the extension.  I have tried with other scripts that use System.Window.Forms and they all appear to do the same. That is run once on first start up of Visual Studio but can't be started

[2021-08-10 16:31] andschwa commented on #3394
@baldieavenger I tested that build with your posted profile.ps1 and it seems to be working exactly as expected now. As @SeeminglyScience mentioned, there's an entirely separate upstream issue with VS Code that GUI windows are displayed _behind_ the VS Code window, and there's sadly nothing we as extension authors can do about it. So while debugging your profile, after I've stepped over the line wh

[2021-08-10 16:31] andschwa commented on #3410
There's an entirely separate upstream issue with VS Code that GUI windows are displayed _behind_ the VS Code window, and there's sadly nothing we as extension authors can do about it. So it sounds like it worked as best it could! This is great news.

[2021-08-10 16:32] andschwa commented on #3501
Fantastic to hear!

[2021-08-10 16:34] andschwa commented on #3462
Oops, sorry, didn't mean to let the bot close this.

[2021-08-10 16:43] andschwa commented on #3410
Here's that issue: #1175

[2021-08-10 16:43] andschwa commented on #3394
Here's that issue: #1175

[2021-08-10 17:10] youngr137 commented on #3394
I am sure there is no hidden dialogue. I do see that when debugging with Visual Studio but the issue is that after working normally on first attempt the second run will timeout and give 10/08/2021 18:05:55 [ERROR] - Error on Debug Adapter: Error: connect ETIMEDOUT \\.\pipe\PSES_pmxwttse.nu3 on the output for the Powershell Extension. The code never gets to start under the debugger.

[2021-08-10 17:22] baldieavenger commented on #3394
Hi Both,
Ive looked for Windows behind and everywhere else but this doesnt help me. Alt + Tab doesnt show anything open either.
My Microsoft.VSCode_profile.ps1 contains the choose file prompt.

[Microsoft.VSCode_profile.txt](https://github.com/PowerShell/vscode-powershell/files/6963263/Microsoft.VSCode_profile.txt)

That still seems to pop out for me in front and I can choose my "365AdminSignIns.p

[2021-08-10 18:20] andschwa commented on #3415
@bkarlow-optimo and @strickdd I'm not certain your issues were the same root cause, but would you test the dev build posted in https://github.com/PowerShell/vscode-powershell/issues/3394#issuecomment-895604756 so I know?

[2021-08-10 18:23] andschwa commented on #2742
This is not a bad idea at all, I'll see what I can do.

[2021-08-10 18:26] andschwa commented on #3394
Well that's strange, and seems very different 😢

[2021-08-10 18:34] andschwa commented on #3394
Ok, wait, so at this point the issue is _only_ happening when `Connect-ExchangeOnline -UserPrincipalName adm-User@domain.com -ShowProgress $true` (which presumably uses `System.Windows.Forms`) is piped e.g. `"&'$file'" | invoke-expression`, is that right?

@rjmholt any ideas?

[2021-08-10 19:35] hugh-martin opened #3505 "Error on Debug Adapter: Error: connect ETIMEDOUT \\.\pipe\... after second execution in PowerShell Integrated Terminal"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-10 19:51] hugh-martin commented on #3505
I disabled the PowerShell extension, installed the PowerShell Preview extension (ms-vscode.powershell-preview@2021.8.0) and got the same results.

[2021-08-10 20:35] andschwa commented on #3394
@youngr137 You seem to be seeing the same thing as what was just reported in #3505

[2021-08-10 20:41] andschwa commented on #3396
@baldieavenger your profile and script aside, is this issue alone resolved by the dev preview I had you try? That is, can you run `Connect-ExchangeOnline` in the integrated terminal?

[2021-08-10 20:42] Abax378 commented on #3394
I disabled the current PS extension in VS Code and loaded the .vsix file referenced above. The terminal posts a PID like this

PID: 15156

then keeps posting the same line in a repeating loop. Eventually, VS Code reports that loading PS is taking longer than usual and sometimes reports it could not load the language. Killed the terminal window and started a new one, but subsequent terminals don't

[2021-08-10 20:45] andschwa commented on #3394
@Abax378

It is waiting for a debugger to be attached to the PowerShell process. That is due to a user setting:
[code]

Please set that to `false` instead and try again!

[2021-08-10 21:01] Abax378 commented on #3394
Did that. Debugger works as expected several times in a row. Same result with a restart of VS Code.

[2021-08-10 21:06] andschwa commented on #3396
@baldieavenger With the stable extension, I can reproduce the issue where the authentication prompt doesn't open at all from `Connect-ExchangeOnline`. With the dev build and Windows PowerShell, the authentication prompt _does_ open for me in the integrated console. After authenticating, the module takes a looong time to finish, but eventually drops me back at a prompt, presumably having connected.

[2021-08-10 21:12] andschwa commented on #3496
@pctechwill Can you try the latest release of the extension, v2021.8.0?

[2021-08-10 21:13] baldieavenger commented on #3394
I didnt have this setting so added it, if set to true I get either PID:0 7836, PID: 22228, PID: 14684, PID: 16512 when opening. (Is it meant to be different every time? Should I even be looking to add this and let you know what it does??)
If set to fale, I get the same behaviour which is as you asked @andschwa above

[2021-08-10 21:16] andschwa commented on #3394
This setting instructs the extension to wait for a debugger to be attached to the PowerShell process that it starts. That's why it's emitting the PID (which is different every time because new processes each have a new Process ID). It's used by developers for debugging the extension. Unless you _want_ to attach a debugger to the extension's PowerShell process, leave it set to `false`.

Can you sta

[2021-08-10 21:18] andschwa commented on #3489
Sounds like the changes made upstream to VS Code isn't allowing for spawned processes to be closed :/

[2021-08-10 21:20] baldieavenger commented on #3394
No problem!
After using [Microsoft.VSCode_profile.txt](https://github.com/PowerShell/vscode-powershell/files/6964582/Microsoft.VSCode_profile.txt) to open a prompt to allow me to select [365AdminSignIns.txt](https://github.com/PowerShell/vscode-powershell/files/6964584/365AdminSignIns.txt) which should auto sign me in to Exchange Online, I dont get the authentication box pop up whih then passes th

[2021-08-10 21:21] andschwa commented on #3394
Instead of:

[code]

Can you try:

[code]

[2021-08-10 21:26] baldieavenger commented on #3394
No change :(

[2021-08-10 21:30] andschwa commented on #3394
You're certain you've uninstalled the PowerShell extension from the marketplace and manually installed the VSIX I posted? I can no longer reproduce your issue with the dev build I posted, while I could reproduce it from the marketplace version. What version are you seeing on startup in the integrated console?

[2021-08-10 21:31] andschwa commented on #3505
@hugh-martin and @youngr137, could this be a duplicate of #2821?

[2021-08-10 21:33] andschwa commented on #2508
I'm going to move this to the Editor Services Pipeline project, as that's really the meat of this issue.

[2021-08-10 21:37] baldieavenger commented on #3394
I think so!
![image](https://user-images.githubusercontent.com/39298966/128937949-d861ce60-4d4f-48d5-9f23-f3a4f0f63447.png)

This is interesting though, if I skip `Connect-ExchangeOnline -UserPrincipalName adm-User@domain.com -ShowProgress $true,` the next one to pop out is `Connect-SPOService -Url "https://domain-admin.sharepoint.com"` and this one _does_ pop out and let me enter my credentials.

[2021-08-10 21:39] andschwa commented on #3462
I really am not sure what's going on here, but the DryIoc package is a dependency of OmniSharp, so I'm trying to get it updated to its latest version (a bugfix release) in the hope that it may resolve your issue.

[2021-08-10 21:42] baldieavenger commented on #3394
I tried changing `Connect-ExchangeOnline -UserPrincipalName adm-User@domain.com -ShowProgress $true` to `$cred = Get-Credential
Connect-ExchangeOnline -Credential $cred -ShowProgress $false`
This allows me to type my creds in the terminal and I wondered if that would mean it doesnt need to open the browser to authenticate, but its still the same so it must try and use tha pop up browser to authent

[2021-08-11 12:36] hugh-martin commented on #3505
@andschwa, I do not believe so.  I don't see any errors or timeouts in vscode-powershell.log from #2821.  Also, in my case, I avoided using debug at all, which seems to be the focus of that issue.

[2021-08-11 12:53] youngr137 commented on #3410
I probably confused people looking at issue #3394 with my comment there yesterday as they should have been here for this issue. Essentially the issue raised appears to be fixed by the preview v2021.8.1. I am able to run scripts with System.Windows.Form objects in them and step through using F10, F11 etc. There is a remaining problem (which I don't think is the same as issue #2821) where the script

[2021-08-11 15:46] hugh-martin commented on #3505
FYI, I cannot duplicate the issue with PowerShell extension v2021.6.2.  Switching back to v2021.8.0 of the PowerShell extension brings the issue back.

[2021-08-11 15:58] andschwa commented on #3505
Oh that's interesting! Ok, can you let me know if it reproduces with [v2021.7.0-preview](https://github.com/PowerShell/vscode-powershell/releases/tag/v2021.7.0-preview)? This would help me narrow it down!

[2021-08-11 15:59] andschwa commented on #3410
Super helpful, thanks @youngr137! Sometimes this feels like a game of whack-a-mole: fix one problem and another crops up 😬

[2021-08-14 13:42] gfmoore opened #3508 "Got message about ps v7.1.4 But how "Upgrade now"?"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-16 14:55] scotto88 commented on #3508
I got the same message. How do you "Upgrade now" ?

[2021-08-16 15:46] rkeithhill commented on #3508
It depends on how you installed and which platform.  For Windows, you could have installed via the MSI package, Microsoft Store, or dotnet tool.  For MSI package, go to https://aka.ms/getpowershell and download 7.1.4 and install it.  Or if you have winget installed you can run `winget upgrade powershell`.  For MS Store, open up the Store and select `Downloads and udpates` and `Get Updates`.  For d

[2021-08-16 16:00] rkeithhill commented on #3508
This is the current upgrade message for reference. It appears to be the same for all platforms:

![image](https://user-images.githubusercontent.com/5177512/129592624-95b23b60-adfa-4739-9876-cff3508b7c22.png)

Rather than just dumping folks off at the downloads page, it does seem like taking them to a "How to upgrade PowerShell" page would be better.  It would be even better if the URL generated co

[2021-08-16 16:51] rjmholt commented on #3508
Closing as external

[2021-08-16 18:21] gfmoore commented on #3508
Thanks @rkeithhill.
I had just discovered wget which worked from within VS Code  terminal, but I had no idea about other methods.

I hadn't realised it was a PS message, I thought it was a message provided by VS Code, sorry my bad.

Thanks everyone. Hope this will prove useful to others

[2021-08-16 18:21] #3508 closed

[2021-08-16 23:15] brenttempleton opened #3509 "Run Powershell generates "Running the contributed command: 'Powershell.Debug.Start' Failed"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-17 12:30] Tom-CK opened #3510 "Scripts using PNP.PowerShell do not work in VSCode"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-17 16:36] rjmholt commented on #3510
Can you provide the output of `$error[0] | fl * -force` after the error occurs?

[2021-08-17 17:44] Tom-CK commented on #3510
$error[0] | fl * -force

writeErrorStream      : True
PSMessageDetails      :
Exception             : System.Reflection.TargetInvocationException: Ein Aufrufziel hat einen Ausnahmefehler verursacht. ---> System.MissingMethodException:
                        Methode nicht gefunden: "Int32 System.Text.Encodings.Web.TextEncoder.FindFirstCharacterToEncodeUtf8(System.ReadOnlySpan`1<Byte>)".

[2021-08-17 17:45] Tom-CK commented on #3510
Maybe a typo in a configuration ?
I did not change anything in config.

[2021-08-17 18:01] andschwa commented on #3510
Can you confirm that `$PSVersion` from the integrated console session itself? I'm wondering if maybe you're in PowerShell 7 there...(I mean, it should still work, but it would help narrow things down).

@rjmholt Look at the accepted answer in https://docs.microsoft.com/en-us/answers/questions/302548/jsonserializer-throws-exception-in-xamarinios.html, very curious.

[2021-08-17 20:18] andschwa commented on #3505
So that narrows down the bug to be either a change between PowerShell Editor Services [v2.4.6 and v2.4.7](https://github.com/PowerShell/PowerShellEditorServices/compare/v2.4.6...v2.4.7), as there isn't a substantial code change to the extension that I can see between [v2021.7.0-preview and v2021.8.0](https://github.com/PowerShell/vscode-powershell/compare/v2021.7.0-preview...v2021.8.0) (except per

[2021-08-17 20:21] andschwa commented on #3505
@rjmholt, @dkattan, any ideas? I'll try to repro locally.

[2021-08-17 20:51] andschwa commented on #3509
Hey, the last validated extension that Azure Data Studio accepted was [v2021.2.2](https://github.com/microsoft/azuredatastudio/pull/14467), but your bug report indicates that you're running v2021.8.0. This isn't really supported. @Charles-Gagnon, do you know what's up? How is this user running a non-bundled version of the extension?

Also, @rjmholt is vaguely aware that debugging in ADS is not sup

[2021-08-17 20:55] Charles-Gagnon commented on #3509
@brenttempleton How did you install the extension?

It's likely they just installed the VSIX manually - the ADS gallery does still only point to 2021.2.2.

Debugging in ADS is disabled currently so that won't work unfortunately if you're relying on the VS Code debugging API. We're working on re-enabling that but no ETA currently.

[2021-08-17 21:26] hugh-martin commented on #3505
For whatever it's worth, I have been working with PowerShell extension v2021.6.2 for several days now and the problem has not re-occurred.  Thanks again for the efforts.

[2021-08-17 21:28] brenttempleton commented on #3509
I have tried with older version of the extension as well, manually installed newer to see if that worked.

If debug is not supported, should still be able to run the script file without having to highlight all the text and then run selected (F8)

Thanks

Brent

[2021-08-17 23:24] andschwa commented on #3509
Launching the script file is still done through the debugging APIs of VS Code, so since ADS disables that, it's not supported.

[2021-08-17 23:45] brenttempleton commented on #3509
hmm, okay -- I guess this is now a feature request.  would that go into this forum or back on the ADS one?

Thanks

Brent

[2021-08-17 23:54] andschwa commented on #3509
ADS, for enabling debugging in their editor. What you're looking to do _should_ work just fine in normal Visual Studio Code with the regular PowerShell extension installed from the marketplace.

[2021-08-18 00:56] GitQuantumPower commented on #2824
This worked for me.

[2021-08-18 07:20] Tom-CK commented on #3510
This is the result of $PSVersionTable in PowerShell Integrated Console of vscode:

Name                           Value
----                           -----
PSVersion                      5.1.19041.1023
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.19041.1023
CLRVersion                     4.0.30319.42000
WSManStac

[2021-08-18 07:31] Tom-CK commented on #3510
Maybe same problem here:
https://github.com/pnp/powershell/issues/727

[2021-08-18 11:05] Tom-CK commented on #3510
I have removed module "PNP.PowerShell" in Version 1.7.0 and installed this module in version 1.5.0.
The error went away.
Then I updated module "PNP.PowerShell" back to Version 1.7.0 - the error was there again.
This can be reproduced.

Conclusion:
The problem must have something to do with module PNP.PowerShell Version 1.7.0.

But strange anyway: The exception is only thrown when running CMDLets i

[2021-08-18 15:53] rjmholt commented on #3510
Going to reopen the issue here since it's quite possible this is at least partially an issue in PSES

[2021-08-18 20:00] #3509 closed

[2021-08-19 01:19] GeekTieGuy opened #3511 "[System.Runtime.Interopservices.Marshal]::ReleaseComObject() causes debugger crashes in latest release"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-19 03:03] andschwa commented on #3511
Hey, I'm releasing an update to the preview extension probably tomorrow with a lot of debugger stability fixes. I'll ping you here when it's available on the marketplace, would love to see if we get lucky and the problem goes away.

[2021-08-19 06:25] lantrix commented on #492
It looks like 10189 was split up into two PRs:

- PowerShell/PowerShell#10338 - merged and `v7.0.0-preview.4` was released which incorporates this pull request
- PowerShell/PowerShell#10492 - merged and `v7.1.0-preview.6 ` was released which incorporates this pull request

[2021-08-19 17:38] andschwa commented on #3410
The fix has been merged and will be in the next release! Seeing as how your new bug @youngr137 already has a separate issue, I'll mark this one resolved.

[2021-08-19 17:38] andschwa commented on #3396
That fix is merged and will be in the next release!

[2021-08-19 17:40] andschwa commented on #3394
Since the original bug in this issue is fixed, and that fix is now merged and will be in the next release, I will mark this issue as resolved. For your new problem, could you kindly open a new issue? You may want to wait until the extension is updated so you can try to reproduce it...take a look on Monday!

[2021-08-19 17:43] andschwa commented on #3415
Since my best guess is that this was related to the threading issues within PSES and OmniSharp, and since those are now fixed and merged, I'm going to mark this issue as resolved. Please wait for the next update to the extension to roll out (no later than Monday) and see if this has been fully resolved for you. If not, since this thread got long and covered several problems, please open a new issu

[2021-08-19 19:00] #3436 closed

[2021-08-19 19:00] #3219 closed

[2021-08-19 19:01] #3015 closed

[2021-08-19 19:01] #2969 closed

[2021-08-19 19:01] #2850 closed

[2021-08-19 19:01] #2615 closed

[2021-08-19 19:01] #2609 closed

[2021-08-19 19:01] #2555 closed

[2021-08-19 19:01] #2518 closed

[2021-08-19 19:01] #2396 closed

[2021-08-19 19:01] #2131 closed

[2021-08-19 19:01] #2052 closed

[2021-08-19 19:01] #2381 closed

[2021-08-19 19:01] #3415 closed

[2021-08-19 19:01] #3410 closed

[2021-08-19 19:01] #3396 closed

[2021-08-19 19:02] #3394 closed

[2021-08-19 19:17] andschwa commented on #2960
Oops, we just updated the bot rules. Looks like it was closed because it was still marked as needing repro info. I'll reopen and try to repro with the info you've given.

[2021-08-19 19:30] andschwa commented on #2381
I know the bot auto-closed this due to age, but reading through the original issue, it may very well be fixed by the latest preview (going out today). I threaded through a cancellation token so that the debugger can stop more gracefully.

[2021-08-19 19:33] andschwa commented on #2166
This seems like it actually did have repro info (and indeed, is a very long issue). Re-opening and removing that label.

[2021-08-19 19:40] andschwa commented on #2661
I know the bot closed this due to inactivity, but I wanted to point out that the latest extension bundles PSReadLine 2.1.0, and will also no longer attempt to load other versions of PSReadLine on the system. So if this issue still repros with the latest extension, that would be good to know!

[2021-08-19 19:41] andschwa commented on #2675
Re-opening as I see repro info was provided (the label was just not removed), and the bug seems to be a race condition between the formatter being run on paste and other text edits.

[2021-08-19 19:43] andschwa commented on #2697
Hm, I'm going to re-open this. For PSReadLine we decided to specifically only load the bundled copy of the module, and when we pull in the upcoming PSScriptAnalyzer release (v1.20.0) I would like to change the logic to match. There are too many potential pitfalls when PSES is allowed to just import anything on the system.

[2021-08-19 19:45] andschwa commented on #2850
I know the bot closed this automatically, but I wanted to add that we intentionally disabled semantic highlighting by default a while back in #3377 because it was too buggy. Eventually when the rest of the backlog is cleared out I plan to work on stabilizing that feature and re-releasing it with proper test coverage.

[2021-08-19 19:46] lookcloser commented on #2661
I just tested with 2021.8.0 and this problem is still happening.

I am not sure why this issue is marked as needing repro info. As far as I can tell, this issue shows up whenever you attempt to use autocompletion in a remoting session. I don't think it's necessary to do anything special to reproduce it.

[2021-08-19 19:51] andschwa commented on #2909
I've actually seen this issue and it seems to happen in my experience whenever the PowerShell session is restarted. Re-opening because since I've seen it then I can repro it.

[2021-08-19 19:53] andschwa commented on #2661
Good to know! Thanks for the update. Sorry, I updated the bot and allowed it to close inactive issues marked "Needs: Repro Info" and then learned a lot of issues hadn't had that label properly removed. Live and learn 🤷

[2021-08-19 19:56] andschwa commented on #2969
Hey! There's been a _lot_ of changes (for better or worse) to the extension since September, 2020. Please test the latest preview extension and re-open this if it still recurs!

[2021-08-19 19:58] andschwa commented on #3015
I know the bot closed this automatically after I updated its actions, but for what it's worth, this bug is not reproducing for me with v2021.8.1-preview and PowerShell 7:

[code]

[2021-08-19 20:00] andschwa commented on #3078
Sorry, I updated the bot to close issues with "Needs: Repro Info" that were inactive, but I can there is indeed repro info here. Re-opening!

[2021-08-19 20:01] andschwa commented on #3101
I see that repro info was not actually needed, the label was just never removed. Re-opening!

[2021-08-19 20:03] andschwa commented on #3146
This definitely had repro info, and what's more, looks like it might be an external issue (or at least an interaction with an external module). Could you test the latest preview extension that went up today, v2021.8.1-preview?

[2021-08-19 20:05] andschwa commented on #3219
Hey! I know the bot closed this automatically, but I wanted to add that I actually identified and fixed a bug where the required DLLs were not being included in the PSES bits bundled with the extension. It turned out to be a bug in the .NET SDK that we since worked around and they recently resolved upstream. Please test the latest preview extension on the marketplace (v2021.8.1-preview) and re-ope

[2021-08-19 20:06] andschwa commented on #3241
This does not seem to need repro info and so was incorrectly closed. Re-opening, sorry about that!

[2021-08-19 20:07] andschwa commented on #3279
Sorry about that, the bot got a little eager. Please do test with v2021.8.1-preview that just went up on the marketplace and let me know what the result is!

[2021-08-19 20:08] andschwa commented on #3289
This was actually still pending (on me, in fact) for investigation. The bot got a little over-eager, sorry about that!

[2021-08-19 20:10] andschwa commented on #3462
Sorry, the bot got a little over-eager. We actually got DryIoc updated upstream in OmniSharp, and I was really hoping to land that in the latest preview, but it just barely missed the window. It will be in the next release though, so hopefully we can test soon and see if the updated package resolves it (the authors said "contains bugfixes!" so you know, 🤞).

[2021-08-19 20:12] andschwa commented on #3505
Just FYI this is on my docket to investigate as the next big problem happening.

[2021-08-19 20:21] andschwa commented on #3410
The Powershell Preview is out with this fix in it!

[2021-08-19 21:09] andschwa commented on #3511
Any chance we got lucky? v2021.8.1-preview (aka "PowerShell Preview") is up!

[2021-08-19 23:08] andschwa opened #3513 "Debugger won't run until `ENTER` is pressed in integrated console"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-19 23:12] andschwa commented on #3513
Before `ENTER` is pressed the logs are:

[code]

[2021-08-19 23:13] andschwa commented on #3513
And then afterwards:

[code]

[2021-08-19 23:16] andschwa commented on #3513
Ah ha, I think I broke it here:

https://github.com/PowerShell/PowerShellEditorServices/blob/3c27ec396bbd73d8e6f3daac8dba32622ed870ef/src/PowerShellEditorServices/Services/PowerShellContext/Session/PSReadLinePromptContext.cs#L147

[2021-08-20 00:26] JustinGrote commented on #3513
I was bit by this in the pester test adapter, glad to see it's a known issue.

[2021-08-20 09:22] akselbork opened #3515 "VSCODE v1.59.1 - POWERSHELL - F5 and F8 not working as intented"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-20 10:22] PrzemyslawKlys commented on #3515
It doesn't work for me either. The New PowerShell preview is broken. When presssing F5 in 5.1 or in PS 7 the PowerShell icon in the bottom is progressing but nothing happens.

[2021-08-20 12:36] SeeminglyScience commented on #3513
@andschwa I think it's this:

https://github.com/PowerShell/PowerShellEditorServices/blob/6a19daf5bc3e8547fbdc10f351ac2a81d76f9cec/src/PowerShellEditorServices/Services/PowerShellContext/PowerShellContextService.cs#L768
[code]

Linked cancellation token sources work by essentially registering a cancellation handler on the target token.  I'm guessing the handlers are invoked sequentially on the sam

[2021-08-20 13:38] sheppyh commented on #1856
Does removing the "Needs: Attention 👋" label mean we're unlikely to see any attention/fixes to this issue any time soon?

[2021-08-20 15:14] baldieavenger commented on #3394
I mean, its the same issue just worked through symptoms and the Beta isnt working for me as mentioned and after trying everything requested and providing all the logs but hey ho....
Ill come back if I still have issues and can confirm a colleague has the same issues after we update on Monday. Thanks!

[2021-08-20 19:45] fbehrens commented on #3515
I have the same when running cmmand `Powershell: Run Selvetion` after the update of `Powershell Preview` to `2021.8.1`.

After rollback to `2021.8.0` it works again.

[code]

[2021-08-20 22:14] GeekTieGuy commented on #3511
Looks like with that version, I can't reliably invoke the debugging session. Sometimes it will launch the script, sometimes it won't. Most of the time it won't, actually. But when it does (after a fresh VS Code launch for example), things no longer crash while debugging the script! So - Yay? One step back - one step forward.

[2021-08-20 22:56] andschwa commented on #3513
Haha, oops, our bad. @rjmholt and I added the `Stop()` registration at the last minute. That explains why this was only in 2.4.8 and not 2.4.7.

[2021-08-20 22:58] andschwa commented on #3394
So, your issue goes away when you execute the code directly in your profile script, right? It now only fails when it's executed through `"&'$file'" | invoke-expression`? That seems to me to be a completely separate (albeit obviously still extant and annoying! I know) issue from the the bug around `System.Windows.Forms`.

[2021-08-20 23:01] andschwa commented on #3515
Duplicate of #3513, will be fixed Monday with a new update to the preview. Sorry about that! Wondering how to add a regression test around this, and super open to ideas on that topic.

[2021-08-20 23:01] andschwa commented on #3513
This also applies to "Run selection" etc.

[2021-08-20 23:02] andschwa commented on #3511
Yup, one step forward and one step backward is _exactly_ how this feels sometimes. Slowly starting in on the [test project](https://github.com/PowerShell/vscode-powershell/projects/17) to bring all our existing tests back online, and am making a deliberate point to add regression tests for everything fixed going forward, because the state of this is just...rough.

[2021-08-20 23:03] andschwa commented on #3511
Also for not being able to reliably invoke the debugging session, I think that's #3513.

[2021-08-20 23:05] andschwa commented on #3452
@yobyot any luck finding the prior code that we could restore?

[2021-08-21 18:30] yobyot commented on #3452
[code]

From `examples/.vscode/launch.json` at ec53532.

This is from 2017 -- and was removed sometime later in the defaults. IOW, it doesn't belong in the examples; it belongs in the default `launch.json.`

[2021-08-21 19:09] rkeithhill commented on #3452
Back in the day, I implemented this feature #707.  The `configurationSnippet` in question is:
[code]
Originally we put this in the `configurationSnippets` & `initialConfigurations` fields under `debuggers` in the `package.json`.  But the VSCode team complained that the PowerShell extension offered too many debug configurations by default - see #1611.  So they asked us to whittle down the defaults

[2021-08-22 01:00] #3515 closed

[2021-08-23 04:24] freMea opened #3517 "Formatting fails to pretty print a bad formatted document"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

I have some code copied from a pdf. Here it is when I paste it in VSCode :
[code]

A long one-line code.

After formatting it, I get this :

[code]

It is better but far f

[2021-08-23 17:02] rjmholt commented on #3513
Oh whoops!

[2021-08-23 18:09] GeekTieGuy commented on #3511
Thank you for the work you're doing with this!!!

[2021-08-23 18:20] tedsdou opened #3519 "Play button not working in PowerShell Preview v2021.8.1"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-23 18:28] andschwa commented on #3519
Duplicate of #3513, which I actually just successfully tested a fix for.

[2021-08-23 18:29] #3513 closed

[2021-08-23 21:00] andschwa commented on #3511
[PowerShell Preview 2021.8.2](https://marketplace.visualstudio.com/items?itemName=ms-vscode.powershell-preview) will be out in just a few minutes, would you test and confirm this issue has been fully resolved? Thanks!

[2021-08-23 21:01] andschwa commented on #3519
[PowerShell Preview 2021.8.2](https://marketplace.visualstudio.com/items?itemName=ms-vscode.powershell-preview) will be out in just a few minutes, would you test and confirm this issue has been fully resolved? Thanks!

[2021-08-23 21:05] andschwa commented on #3462
@anankee26 [PowerShell Preview 2021.8.2](https://marketplace.visualstudio.com/items?itemName=ms-vscode.powershell-preview) will be out in just a few minutes, would you test and confirm this issue has been fully resolved? It comes with that update to OmniSharp v0.19.4 (and so DryIoc 4.8.1 per https://github.com/OmniSharp/csharp-language-server-protocol/pull/610) Thanks!

[2021-08-23 21:06] tedsdou commented on #3519
Tested and verified.  Thanks for the speedy fix!

[2021-08-23 21:06] andschwa commented on #3505
I've been attempting to look at this and have not been able to reproduce it yet. [PowerShell Preview 2021.8.2](https://marketplace.visualstudio.com/items?itemName=ms-vscode.powershell-preview) is out now, would you test and see if this still reproduces?

[2021-08-23 21:36] hugh-martin commented on #3505
I am happy to report that it is not happening with PowerShell Preview 2021.8.2 and PowerShell 7.1.3.

[2021-08-23 22:00] #3519 closed

[2021-08-23 22:18] andschwa commented on #3505
Woo-hoo!

[2021-08-23 22:23] andschwa commented on #3511
@GeekTieGuy ok that's available on the marketplace! It seems promising, can you see if it still repros?

[2021-08-24 01:00] #3505 closed

[2021-08-24 06:36] o-l-a-v commented on #2187
Soon two years since this issue was created. Are we waiting for the PowerShellEditorServices issue 1295? Any ETA?

![image](https://user-images.githubusercontent.com/6450056/130568173-2cc7b84a-5505-4150-b787-0f5d416b528d.png)

[2021-08-24 08:01] anankee26 commented on #3462
Hello @andschwa ,

I disabled powershell 2021.8.0 and installed powershell preview 2021.8.2.

VS code in version
[code]

Unfortunately, always an error when I start powershell windows 5.1. However, there are somes differences in the log with the previous:

[code]

[code]

[code]

[2021-08-24 13:32] strickdd commented on #3394
@andschwa I installed the preview linked and initial tests have allowed me to debug as expected. I'll continue to run some tests today. If debugging fails again, should I open a new issue or is there one I can reference since this has been closed?

[2021-08-24 16:19] rjmholt commented on #3394
If it fails again it's probably a new (if related) problem, so worth a new issue for fresh discussion

[2021-08-24 16:34] baldieavenger commented on #3394
It always worked when executing the code directly, I've only ever had the problem when using the `"&'$file'" | invoke-expression` but ill give it a try, just in case when the new version is released!
Thanks.

[2021-08-24 16:56] andschwa commented on #3394
It's out! Give it a go. This particular issue seems like something else is going on that Rob and I need to debug with you. That line of PowerShell itself is confusing, as it's first invoking the file `$file` (the [`&`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_operators?view=powershell-7.1#call-operator-) says "run this as a script") and then taking t

[2021-08-24 16:56] andschwa commented on #3462
Good to know, thanks! I just wanted to rule out any bugs fixed in their new release first.

[2021-08-24 18:13] strickdd opened #3522 "Debugger Issues"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-24 18:14] strickdd commented on #3394
Thought things were working well, but started having issues. Boiled it down to the simplest steps I could.
https://github.com/PowerShell/vscode-powershell/issues/3522

[2021-08-24 18:16] andschwa commented on #3522
Did you try `v2021.8.2-preview`? There was an issue in `v2021.8.1-preview` where the debugger "hung" waiting for an enter to actual cancel PSReadLine, #3513.

[2021-08-24 18:24] strickdd commented on #3522
Updated to v2021.8.2-preview
[code]

Now, here are the results:
## Scenario 1 (PowerShell 5.1)
No change, still does not hit the breakpoint

## Scenario 2
No change, still hangs with the debug toolbar showing. Pressing "enter" does not continue on or close the debug toolbar

## Logs from current run
[EditorServices.log](https://github.com/PowerShell/vscode-powershell/files/7041330/EditorServices.l

[2021-08-24 18:51] andschwa commented on #3522
Scenario 1 reproduces for me; however, I'd point out that this is debugging an _unsaved_ script. @rjmholt is that something we actively support? I'm not sure how we would, as there is no script file name to pass to the debug adapter.

Scenario 2 also reproduces for me; however, this is again a strange scenario: it's using the PowerShell debugger in the integrated console to _start_ the debugger (w

[2021-08-24 18:59] strickdd commented on #3522
Scenario 1:
Ref for unsaved debugging:
- https://github.com/PowerShell/vscode-powershell/releases/tag/v2021.5.1
- https://github.com/PowerShell/vscode-powershell/pull/3357

Scenario 2:
This is something ISE has always supported, and I believe VSCode has allowed me to do since I switched over. However, I can't confirm how long VSCode has had this functionality.

[2021-08-24 19:03] andschwa commented on #3522
Digging into this a little bit, Scenario 1 is explicitly only supported in PowerShell 7 and up. It requires the PowerShell breakpoint APIs, which are not available in PowerShell 5.1. And this scenario's issue _does not_ reproduce with PowerShell 7. This should probably be documented somewhere, I found it by looking through [PSES](https://github.com/PowerShell/PowerShellEditorServices/blob/3274c230

[2021-08-24 19:04] andschwa commented on #3522
But I don't understand why that message isn't in your log.

[2021-08-24 19:08] strickdd commented on #3522
Retried Scenario 1 under PS 7 with a slight difference. I modified and debugged an existing file, but did NOT save the file before debugging.

Debugging started, pressed F5, and it entered a "weird" PS file and stops there

![image](https://user-images.githubusercontent.com/4924102/130675031-dc3546dc-d8eb-43fc-9e0d-73bb15fd5e10.png)

Pressing F5 again, I get to another file, but the debugger is "h

[2021-08-24 19:08] andschwa commented on #3522
I could see Scenario 2 as something that "just worked" in the past. It's good to know that this is functionality you want; it's sad that we did not have tests for it. Because now we'll have to fix it and _this time_ add regression tests. I confirmed it reproduces with both PowerShell 7 and 5.1.

[2021-08-24 19:11] andschwa commented on #3522
You should probably save your file before debugging. Again, not sure if that's something we actively support. Breakpoints are set on files with line numbers. In the case of untitled files, I'm not sure _how_ that's implemented; I imagine VS Code is creating a pseudo file for us. The original implementation looked like it guessed that a file was unsaved, and then passed the buffer contents to the d

[2021-08-24 19:13] rjmholt commented on #3522
I didn't think it was in PS 5.1 because there was a whole discussion about the API to support it in PS 7. But our behaviour should do something like reject the breakpoints.

Is the debugger hanging or just staying on? What is your debug configuration that's running when you hit <kbd>F5</kbd>? A `PowerShell Interactive Session` is supposed to effectively stay open.

The big difference between VSCod

[2021-08-24 19:17] SeeminglyScience commented on #3522
It's identified in VSCode with an ID like `untitled:Untitiled-x` where x is in incrementing number.  On the PowerShell end the `Parser.ParseInput(string input, string fileName, ...)` overload is used which can attach any arbitrary string to `Ast.Extent.File` (which is what the engine uses to match line breakpoints to a "file")

[2021-08-24 19:19] andschwa commented on #3522
For what it's worth, it does reject the breakpoint (kind of). It shows up as "unverified" in the editor.

[2021-08-24 19:20] rjmholt commented on #3522
Yeah that's what I imagined it should do. We still execute the file (since we can) but communicate that we won't honour the breakpoint

[2021-08-24 19:20] andschwa commented on #3522
That sounds like this is working as expected then? To be honest, I've never used the "PowerShell Interactive Session" debugger before 😅

[2021-08-24 19:22] rjmholt commented on #3522
Depends on @strickdd's debug configuration

[2021-08-24 19:26] SeeminglyScience commented on #3522
It's also worth noting that there is support for debug sessions triggering outside of that debug config option. For example, if you just type `Wait-Debugger` in the PSIC it'll trigger a debug session on the VSCode side.

Even though line breakpoints don't come through automatically, it's still a very useful feature with variable/command breakpoints (and `Wait-Debugger`).

[2021-08-24 19:27] andschwa commented on #3522
How do you get the VS Code side to detach and end debugging after this session? That seems to be what's not working.

[2021-08-24 19:31] strickdd commented on #3522
Another weird thing is happening as I started testing more.

## working scenario
1. Open file C:\temp\DebuggingTest.ps1 (created in scenarios above)
2. Set breakpoint at line 3
3. Press F5
4. Breakpoint is hit
5. Press F5 to continue

Functions as expected

## Weird debugging experience
This was alluded to above, but I'm able to consistently reproduce
1. Moved file from C:\temp\DebuggingTest.ps1 t

[2021-08-24 19:31] SeeminglyScience commented on #3522
Was about to edit with:

😀

iirc when I was hooking that up to the PSRL integration it was done via a runspace availability event handler... If it's still set up that way it may be a good idea to look for a better pattern when attempting a fix.

[2021-08-24 20:24] andschwa commented on #3452
Thank you for the historical context!

[2021-08-24 20:26] andschwa opened #3524 "Update bundled PSScriptAnalyzer to `v1.20.0`"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

We just got [PSScriptAnalzyer `v1.20.0`](https://github.com/PowerShell/PSScriptAnalyzer/releases/tag/1.20.0) shipped, and so should update our bundled module!

### Propose

[2021-08-24 20:37] andschwa commented on #3522
@strickdd You keep saying you "Press F5" but we really need to know: what debug configuration is this running?

[2021-08-24 20:43] andschwa commented on #3522
Changing the labels as at this point I don't think there's an extant bug. There's definitely room for improvement (throwing a more visible message when adding a breakpoint to an untitled file when using PowerShell 5.1, and somehow signaling "end debugging" to the editor when a script has stopped running if the debugger was started from PowerShell), but especially that latter one, it would need to

[2021-08-24 20:47] andschwa commented on #3510
Just for reference, the module sources: https://github.com/pnp/powershell

[2021-08-24 20:58] andschwa commented on #3510
@Tom-CK Can you check if this works with PowerShell 7? We have a theory right now...

[2021-08-24 21:01] andschwa commented on #3510
Hey @erwinvanhunen, this bug appears between 1.5.0 and 1.7.0, and we think it was the introduction of your own ALC that may have caused this unfortunate interaction. PSES's assembly load logic when running with Windows PowerShell (so full .NET) does not check for the assembly version, it only resolves by name, and we _think_ that's the issue. Since PSES has its own resolve assembly event, the one

[2021-08-24 21:09] andschwa commented on #3489
@TylerLeonhardt is this something VS Code could look at?

[2021-08-24 21:10] TylerLeonhardt commented on #3489
@Tyriar @meganrogge

[2021-08-24 21:12] TobyLeduc opened #3525 "pnp.powershell issues when running in powershell integrated console"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-24 21:16] andschwa commented on #3525
Duplicate of #3510.

[2021-08-24 21:17] andschwa commented on #3462
@anankee26 do you have anything in your PowerShell profile? We think that this is due to a dependency problem but need to know what all is running.

[2021-08-24 21:18] rjmholt commented on #3510
It looks like PnP also [does some dependency wrangling](https://github.com/pnp/powershell/blob/e06c687263f07f3d2908970a2cac42ece6f71d46/src/Commands/Base/PnPPowerShellModuleInitializer.cs#L32-L60) and registers their own assembly resolve event, but neither of us checks the required assembly version.

I've had a go implementing that. Give the extension here a try and let me know what happens.

[pse

[2021-08-24 21:21] andschwa commented on #3452
Given the historical context provided by @rkeithhill and the fact that the tooltip and provided debug configurations all work as expected, we're going to stick with VS Code's ask and keep this as currently designed. Thank you though!

[2021-08-24 21:24] andschwa commented on #2187
Indeed, we are. It is progressing! @rjmholt just replaced the entire prompt logic, much simplifying it, and is working on plumbing through cancellation tokens now. We can't commit to any particular date, but we are actively working on it and hope to have it as soon as possible.

[2021-08-24 21:26] andschwa commented on #2960
I saw this when bringing the debug service unit tests back online...it's strange.

[2021-08-24 21:27] rjmholt commented on #3462
I think this issue is another one to do with our dependency handling and assembly resolution logic in Windows PowerShell (so could be improved by https://github.com/PowerShell/PowerShellEditorServices/pull/1561).

The part that doesn't make sense to me is why this is failing at startup -- why is there a bad dependency on only one user's machine? Why is nobody else reporting this?

The profile is p

[2021-08-24 21:27] rjmholt commented on #3462
Probably diagnostic logs indicating when each assembly is being loaded would give us some insight here

[2021-08-24 21:47] TobyLeduc commented on #3510
I loaded the zip, disabled the original powershell extension and it did not fix the issue for me. My issue might be different because so far I am only having issues using the "Teams" commands. The SharePoint commands I have used so far have not caused me any issue.
[code]

[2021-08-24 21:51] TobyLeduc commented on #3525
Sorry, I thought this was different based on the fact the my sharepoint commands worked without any problem. I'll make comments in #3510

[2021-08-24 21:51] #3525 closed

[2021-08-24 23:06] andschwa commented on #3510
Well, that's good to know. 🤔

[2021-08-24 23:13] rjmholt commented on #3510
Ok that's much stranger than getting an exception, and harder to debug unfortunately

[2021-08-24 23:45] yobyot commented on #3452
So, let me see if I get this right. It was in, then another product group disliked the cosmetics of it (“too many entries”) and so something an unknown number users (including me) came to rely on was summarily removed.

But it’s gonna stay that way because the historical context Microsoft chooses to honor is the one that allows it to remain consistent in its own bubble.

Why even bother taking inp

[2021-08-25 00:36] TobyLeduc commented on #3510
Here is the error when I try to target a specific site as this actually gives an error.
[code]

[2021-08-25 11:23] technofab opened #3526 "Powershell extension won't start"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-25 13:12] Tom-CK commented on #3510
Sorry for my late reply, I was on holidays for some days:

Please remind:

- the error is thrown only when working VSCode-PowerShell. It it not thrown when using regular PowerShell.
- after installing package PNP.PowerShell in Version 1.5.0 everything worked fine. Went back to 1.7.0 the error was thrown
  in VSCode PowerShell-Extension only.

[2021-08-25 13:35] strickdd commented on #3522
Happy to provide you this information; how do I pull the debug configuration so I can provide it?

[2021-08-25 14:54] 1sttec opened #3527 "Process block incorrectly flagged as error/alias of Get-Process"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-25 15:31] TobyLeduc commented on #3510
For me the error only exists in the "Powershell Integrated Console" terminal, switching terminals to "Powershell" I can run the commands and they work.
![image](https://user-images.githubusercontent.com/89481046/130816951-775c208e-7944-407b-9ba4-abc3901fd330.png)

Yes 1.5.0 is the last working version for this issue.

[2021-08-25 16:40] rjmholt commented on #3526
' -LogLevel 'Normal' -LogPath 'c:\Users\user.vscode\extensions\ms-vscode.powershell-2021.8.2\logs\1629890092-e9128c08-26bb-4a7a-8b04-ec955914db821629890016515\EditorServices.log' -SessionDetailsPath 'c:\Users\user.vscode\extensions\ms-vscode.powershell-2021.8.2\sessions\PSES-VSCode-29028-233472' -FeatureFlags @() '" terminated with exit code: 1.

We need more information to understand this situati

[2021-08-25 20:04] andyleejordan opened #3529 "Update ADS readme"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

The document that ADS uses for its marketplace is woefully out-of-date, we need to update it: https://github.com/PowerShell/vscode-powershell/blob/master/docs/azure_data_s

[2021-08-26 22:56] #3529 closed, assigned to nobody

[2021-08-27 23:58] SeeminglyScience commented on #3522
I don't feel strongly enough about it to press the issue, all I ask is that it's kept in mind when reviewing feedback.  I have a feeling it's one of the things that contribute to a general perception of jank that most users would have difficulty articulating.  Even with a pretty good understanding of how it all works I thought it was a bug 🤷

But yeah I agree, at face value having to hit stop or c

[2021-08-28 14:59] technofab commented on #3526
As for I understand, doing the command, must appear a new menu option called "SESSION"

![image](https://user-images.githubusercontent.com/14272723/131222155-b27f3f79-3e9a-4917-80ae-81a80c4c5c39.png)

[2021-08-28 18:47] GeekTieGuy commented on #3511
I've been able to work in the debugger much better now. I would consider things good enough now to close this issue, so I'll just do that.

[2021-08-28 18:47] #3511 closed

[2021-08-30 16:33] andschwa commented on #3522
I think that's totally fair. It certainly took understanding it for it to make any sense at all, but then it became clear why it's that way and why it may not be fixable. It's that we've tied two debuggers together, and the protocol we used to do so (DAP) doesn't know the first debugger also has its own UI (the `Wait-Debugger` etc. commands).

[2021-08-30 18:20] SeeminglyScience commented on #3522
That is a UI that we provide though. I'm probably going to over explain so please ignore what you already know and apologies:

When the engine hits a debug stop it invokes an event that the `PSHost` is expected to subscribe to.  It's the `PSHost`'s job handle rendering a nested repl, debug messages, and when to resume execution, etc.  The `PSHost` in `PowerShellEditorServices` is what handles all

[2021-08-31 09:05] JamesLear92 opened #3537 "Current directory is included in PowerShell "launch" option; breaking launch configurations that run a command"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-31 09:14] JamesLear92 commented on #3537
Issue is not present in:
ms-vscode.powershell-preview@2021.8.0

Is present in:
ms-vscode.powershell-preview@2021.8.3

[2021-08-31 18:05] andschwa commented on #3537
Oh, crap, sorry about that.

[2021-08-31 20:22] olegk25 opened #3539 "Powershell debugger is freezing in VS code"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-08-31 20:28] olegk25 commented on #3539
![image](https://user-images.githubusercontent.com/43548822/131571421-75cee8c0-ba0d-4827-9ac9-923cd753b740.png)

[2021-08-31 20:50] olegk25 commented on #3539
vscode-powershell.log:

8/31/2021 4:45:39 PM [NORMAL] - Session file found
8/31/2021 4:45:39 PM [NORMAL] - Registering terminal close callback
8/31/2021 4:45:39 PM [NORMAL] - powershell.exe PID: 24340
8/31/2021 4:45:39 PM [NORMAL] - Language server started.
8/31/2021 4:45:39 PM [NORMAL] - Registering terminal PID log callback
8/31/2021 4:45:39 PM [NORMAL] - Connecting to language service on pipe \

[2021-08-31 20:55] rkeithhill commented on #3537
I don't think this has anything to do with the `cwd` field.  The `script` field name was picked because we wanted to allow not just a filename but arbitrary script e.g. `"script": "Invoke-Pester"`.  It seems that something (either the extension or PSES) is prepending a path to the `script` field value assuming it always specifies a path to a PS1 file.  Whatever it is, It should not make that assum

[2021-08-31 21:05] andschwa commented on #3537
Interesting...I will dig into PSES changes and see how we broke it. Thanks Keith!

[2021-08-31 21:26] andschwa commented on #3539
Hi,

Can you reproduce this using PowerShell Core? I cannot. About to try with Windows PowerShell.

[2021-08-31 21:46] andschwa commented on #3537
Ah, it was https://github.com/PowerShell/PowerShellEditorServices/pull/1540/commits/da439373a5dc0d83e8a53ad9417e5a34973afdba 🙃

[2021-09-01 00:09] liberdis commented on #3522
I came here trying to make heads or tails of the wide variety of odd behavior the 1.59.1 update seems to have brought my 5.1 debugging experience. Fairly consistently now in my module (no unnamed files) when i hit a breakpoint and then F5 to continue my integrated console hangs. This can't possibly be by design, I have tried clicking all the "stop" buttons to no avail

[2021-09-01 02:17] andschwa commented on #3537
All right. Fixed this and covered it with a test. Will get it into the next preview.

[2021-09-01 02:17] andschwa commented on #3537
Thanks for the issue! Keep them coming.

[2021-09-01 02:18] andschwa commented on #3522
@liberdis do you think you might have the same issue(s) as #3539?

[2021-09-01 02:21] andschwa commented on #3539
Also @olegk25 could you please provide more [logging and environment information by following these steps](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md#providing-information-about-your-environment)? Specifically please turn on diagnostic logging. It's helpful to see where it failed, but I want to know what it was doing as it got to that point.

[2021-09-01 02:22] andschwa commented on #3526
Please click that highlighted command, and then show me what you see after you've clicked it.

Also, I see in your screenshot that the extension has started, as the integrate console banner displayed and the prompt is available.

[2021-09-01 09:00] JamesLear92 commented on #3537
Awesome work, thanks for the quick fix.

[2021-09-01 17:05] #3537 closed

[2021-09-01 22:30] jessiewestlake commented on #2860
To make matters worse... You also have the same problem when the parameter argument is not a string, but a negative number (e.g. `-1` or `-3.14`).

[code]

[2021-09-02 02:24] andschwa commented on #3522
@SeeminglyScience what exactly is `&& PromptNest.CurrentFrame.FrameType is PromptNestFrameType.Normal` checking, and is there an alternative? I've started an attempt to implement this and "'PromptNest.CurrentFrame' is inaccessible due to its protection level."

[2021-09-02 03:01] andschwa commented on #3522
Yeah...this did not quite work. I'll see if I can figure it out but unfortunately I think it's going to be a bit more complicated than just adding that code at the end of `ExecuteCommandAsync`.

[2021-09-02 03:03] SeeminglyScience commented on #3522
`NestedPromptLevel is 1` is probably better anyway.

Basically it's just checking that the current REPL isn't for a debugger stop, a remote runspace, or a nested prompt.

[2021-09-02 03:09] SeeminglyScience commented on #3522
Roger that, I'll take a crack at it this weekend and see if it's feasible

[2021-09-02 03:19] andschwa commented on #3522
I seem to be sending the notification too soon...I'll take a look in the morning. It _is_ stopping the debugger now, just it's doing so immediately after the breakpoint is hit. So it starts and then stops.

[2021-09-02 20:48] andschwa commented on #3522
Hey...it's a-working. It just might be a bit fragile (and it needs tests).

[2021-09-03 04:57] michal037 opened #3543 "ANSI Escape Code received from the SSH from the Linux's BASH breaks the output in the PowerShell Integrated Console"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-09-03 12:05] technofab commented on #3526
After I remove another time the extension and PS 6 too now works. I can upgrade.. to ps7 ?

[2021-09-03 17:22] olegk25 commented on #3539
Hello @andschwa , I've found a workaround by removing (disabling did not help) all other extensions. Now I'll be adding them back and see if I can reproduce the issue again. And thank you for the diagnostics tip :)

[2021-09-03 21:26] andschwa commented on #3526
Oh, ok, cool. Maybe some weird state on your machine.

Yes, you _should_ update to PowerShell 7 since PowerShell 6 is not supported (at all, not just be the extension).

[2021-09-03 21:27] andschwa commented on #3543
Hi, while Code won't recognize and highlight it, it's a valid option and enables tracer logs on the server. Please enable this setting and provide these logs. Thanks!

[2021-09-03 21:28] andschwa commented on #3543
If this is empty it means you're executing in a regular `pwsh` shell in VS Code, and _not_ in the integrated terminal. Can you please confirm your bug is extant in the integrated terminal (and provide a screenshot)?

Thanks!

[2021-09-03 21:29] andschwa commented on #3543
If this is empty it means you're executing in a regular `pwsh` shell in VS Code, and _not_ in the integrated terminal.

Per your attached screenshot, this is happening in a regular `pwsh` shell, and _not_ in the integrated terminal. Therefore this is not an extension-specific bug. Transferring to VS Code... FYI @TylerLeonhardt

[2021-09-03 21:30] andschwa commented on #3539
Hey that's interesting...let me know which one you find that causes the issue!

[2021-09-04 14:07] michal037 commented on #3543
Thank you for making this clear.

I raised the bug again with the following settings:
[code]

log:
[PowerShell_Editor_Services.txt](https://github.com/PowerShell/vscode-powershell/files/7109863/PowerShell_Editor_Services.txt)

You're right! My bad.

[code]

[2021-09-04 15:06] Liturgist commented on #335
Still a bug in 2021. Is this bug a "will not fix"? Requiring the creation of `$hack_variable = $_` is less than desirable.

[2021-09-07 08:31] yarecki opened #3568 "vscode-powershell extension Installation failing"
I'm trying to install the extension on an isolated system using a downloaded vsix file. VSCode version is 1.50.1 and the extension version I'm installing is 2021.8.2. Installation fails with following error

[code]

Anything I can do on my end to get the extension install successfully?

[2021-09-07 13:21] cruscio opened #3547 "Actively warn user when PSIC is not active terminal during execution of PowerShell: Run Selection"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

If executing `PowerShell: Run Selection` when the active terminal is not a PowerShell Integrated Console (e.g. by a user switching between bash and pwsh tabs, on a Linux r

[2021-09-07 16:32] andschwa commented on #335
The work-around is to use `$script:_` instead, since the scope needs to be stated explicitly.

[2021-09-07 18:06] andschwa commented on #3543
Could you try getting the output of `stty` for us? Like what @SeeminglyScience describes here: https://github.com/PowerShell/PowerShellEditorServices/pull/1571#issuecomment-914498100

[2021-09-07 18:13] matt555 commented on #3227
Just adding what I had to do for a fix on a new laptop where my entire user profile was migrated from old to new (un-desired btw).  To add to confusion, vscode auto-upgrade on old laptop had failed a few weeks prior which left code.exe in a directory starting with an underscore; though still usable.

_note: just documenting chain of events, obviously some of these steps are likely unrelated and al

[2021-09-07 19:39] michal037 commented on #3543
I don't have `stty` on Windows. Therefore, it won't work for me in PowerShell.

I found a better solution:

1. Download PuTTY: https://www.chiark.greenend.org.uk/~sgtatham/putty/
2. Run putty.exe
3. Change logging: Session -> Logging -> Session logging -> All session output
4. Set host: Session -> Host Name
5. Open session

---

### printable

[code]

---

### raw

[code]

![raw](https://user-imag

[2021-09-07 20:29] olegk25 commented on #3539
well, no luck catching it again so far... Maybe it was something else. Closing the ticket as non-reproducible

[2021-09-07 20:29] #3539 closed

[2021-09-07 20:36] andschwa commented on #3539
There's a new version of the preview extension out today too!

[2021-09-07 20:51] SeeminglyScience commented on #3543
Oh I thought you were on linux my bad, not related then. Might be [console mode](https://docs.microsoft.com/en-us/windows/console/console-modes) related. There isn't really a quick way to test that like there is for stty though afaik

[2021-09-07 21:00] #3526 closed

[2021-09-08 13:14] u84six opened #3550 "Powershell terminal is default even though git bash is set to default"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-09-08 14:35] Zalson commented on #3462
I've been seeing this issue, too. Haven't needed to use powershell much lately but after a few VS code updates, mine started doing this.

`Exception encountered starting EditorServices. Exception logged in D:\a\1\s\src\PowerShellEditorServices.Hosting\Commands\StartEditorServicesCommand.cs on line 246 in EndProcessing:
System.AggregateException: An error occurred while writing to logger(s). ---> D

[2021-09-08 16:49] andschwa commented on #3550
Are you opening VS Code with a PowerShell file in the foreground? If so that starts the extension and so the integrated terminal as well.

[2021-09-08 17:00] andschwa commented on #3537
This fix is available in the preview that went out yesterday!

[2021-09-08 17:01] andschwa commented on #3522
@strickdd Can you test out the preview extension that updated yesterday for Scenario 2? I believe I've lit that feature up, but still working on a way to thoroughly cover it in tests.

[2021-09-08 17:02] andschwa commented on #3510
@TobyLeduc Could there be some missing state that you're relying on? Because that error looks legitimate, that the command executed but the team was not found.

[2021-09-08 18:07] TobyLeduc commented on #3510
I don't think so. Even if I just request all teams I get zero results and no errors, yet I know there are about 100 teams in the tenant. It only appears to be an issue when using the integrated console and pnp.powershell > 1.5
[code]
I have even tried the same two lines on a different system (server 2012r2) with a first time install of vscode/pnp.powershell. I have also switched to a Contoso test

[2021-09-08 21:02] andschwa commented on #3510
Ok, I definitely thinks its an issue with both PSES and PNP.PowerShell using their own Assembly Load Contexts.

[2021-09-08 23:08] andschwa commented on #3550
Ah, this looks like it was a bug upstream in VS Code, and has since been resolved: https://github.com/microsoft/vscode/issues/132607

[2021-09-09 02:00] #3550 closed

[2021-09-09 07:35] hobeol commented on #3510
I'm unable to login:
Connect-PnPOnline -Url "https://xxxx.sharepoint.com/sites/IT-InfrastrukturundSupport" -Credentials (Get-Credential) -CreateDrive -DriveName "SPO"

Connect-PnPOnline: Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=6.11.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. Could not find or load a specific file. (0x80131621)

$error[0].Exception | fl

[2021-09-09 08:07] hobeol commented on #3510
Same issue  with PnP.Powershell 1.5.0
WARNING:
A newer version of PnP PowerShell is available: 1.7.0.

Use 'Update-Module -Name PnP.PowerShell ' to update.
Use 'Get-PnPChangeLog -Release 1.7.0' to list changes.

You can turn this check off by setting the 'PNPPOWERSHELL_UPDATECHECK' environment variable to 'Off'.

Connect-PnPOnline: Could not load file or assembly 'System.IdentityModel.Tokens.Jwt,

[2021-09-09 12:17] KevinLeeBuchan opened #3556 ""script" configuration in launch.json behavior no longer runs a cmdlet."
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-09-09 17:05] andschwa commented on #3556
Duplicate of #3537 and (fortunately) already resolved, the fix is available in the PowerShell Preview extension. Can you confirm it works for you? I'm about to roll it into stable today.

[2021-09-09 17:17] KevinLeeBuchan commented on #3556
So sorry... can you link me to instructions to install the preview of the extension?  I'd love to test it.

[2021-09-09 17:26] andschwa commented on #3556
In the VS Code marketplace, search for "PowerShell." Disable the "PowerShell" extension, reload, then install the "PowerShell Preview" extension (with the pretty colored icon) and reload.

<img width="413" alt="image" src="https://user-images.githubusercontent.com/2226434/132733470-f0e88930-c69c-460e-9094-f389ae895ed7.png">

[2021-09-09 19:09] andschwa commented on #3556
That fix is now in the just-updated stable extension!

[2021-09-09 22:40] andschwa commented on #3543
Can you confirm this is still reproducing with v2021.9.0? I mean, it probably does, but it'd be helpful to know. Otherwise we're hoping the editor services pipeline work (https://github.com/PowerShell/PowerShellEditorServices/issues/1295) _may_ fix it as it replaces much of our custom console host implementation with re-use of PowerShell's own (which clearly works).

[2021-09-09 22:44] andschwa commented on #3547
Hey, I love this idea. We would take a PR that does the first proposal, but slightly modified:

If the current selected terminal is not the integrated terminal, prompt the user: explain what's going on, allow the user to cancel, proceed, or proceed and ignore going forward (this would be accompanied by a new extension setting that would default to false, but if true would not prompt).

The reason

[2021-09-09 22:47] andschwa commented on #3462
@Zalson Can you fill out the normal bug report but paste it here? Specifically we're looking for you environment information. Does this reproduce only with PowerShell 5.1 (as it does for @anankee26) or do you see it with PowerShell 7.1 as well?

[2021-09-09 22:54] andschwa commented on #3462
Could either/both of you try the insiders debug build that Rob posted in this comment: https://github.com/PowerShell/vscode-powershell/issues/3459#issuecomment-883709140

It should let us see exactly which assembly is loaded and when, and may let us figure out which one is failing to load (which we suspect is the issue behind the deadlock that is causing DryIoc to fire its timeout).

[2021-09-10 09:19] anankee26 commented on #3462
Hello,
@andschwa , I deactived the extension PS 2021.9.0 and installed the powershell-insider.vsix : it's a "preview version" in v2021.4.1.

VScode update in
[code]

Enclosed logs files, always in debug mode.
[VScode-editorservices-log-20210910.txt](https://github.com/PowerShell/vscode-powershell/files/7142728/VScode-editorservices-log-20210910.txt)
[VScode-powershell-log-20210910.txt](https://git

[2021-09-10 13:16] KevinLeeBuchan commented on #3556
I have tested it on two different machines, across four different configurations that rely on the same capability and all were successful.  Thank you.

Closing bug report.

[2021-09-10 13:16] #3556 closed

[2021-09-10 16:29] michal037 commented on #3543
I have tested and the problem persists.

https://user-images.githubusercontent.com/7441419/132886654-6c4e4e32-b9c3-4788-9a1b-ac0334aa85ce.mp4

[2021-09-10 16:31] andschwa commented on #3543
Thought so. We'll have to try to repro it, but also are hopeful the work Rob is doing may fix it. Unfortunately these kinds of issues tend to be the most difficult to fix.

[2021-09-13 17:39] andschwa commented on #3527
Hi @1sttec, the latest release of the extension comes with PSScriptAnalyzer v1.20.0, which should no longer erroneously highlight a `process` block as an error like this. Can you verify for us? Thanks!

[2021-09-13 17:42] andschwa commented on #3261
Hi @DEberhardt, the latest release of the extension comes with PSScriptAnalyzer v1.20.0, which should no longer erroneously highlight a `process` block as an error like this. Can you verify for us? Thanks!

[2021-09-13 17:46] andschwa commented on #3105
Just ran into this and was about to open an issue against myself 🤣

[2021-09-13 17:49] andschwa opened #3561 "Enable TypeScript compiler's strict mode"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

The following options should be enabled in [`tsconfig.json`](https://github.com/PowerShell/vscode-powershell/blob/master/tsconfig.json):

[code]

### Proposed Design

We'l

[2021-09-13 18:47] andschwa commented on #3307
For what it's worth, it definitely looks like we examine every `.ps1` file because otherwise I don't know how PSES is finding symbols defined in other files 🙃

[2021-09-13 20:49] andyleejordan opened #3562 "Command `NewProjectFromTemplate` needs to expand paths"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-09-13 21:21] andschwa opened #3563 "RFC: Remove (or move, or improve) `Register-EditorCommand`, `$psEditor` etc."
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

I have just discovered (after maintaining this extension for the better part of the year) this entire interface around registration of editor commands. It's somewhat [docu

[2021-09-13 22:23] SeeminglyScience commented on #3563
I'll include my response in that thread for completeness:

---

Yeah you gotta assembly qualify the type due to ALC weirdness.  Or just type it as `object` which is what I've seen most often. Docs are a bit jacked.

Yeah I use it extensively in [EditorServicesCommandSuite](https://github.com/SeeminglyScience/EditorServicesCommandSuite). I've seen it in a few profiles as well, a lot of the more sim

[2021-09-14 00:04] #2450 closed

[2021-09-14 00:08] andschwa commented on #2499
While I want to say we should wait on https://github.com/microsoft/vscode/issues/129037, it will be long between that being finalized, implemented, and then subsequently stabilized such that we can drop all the old code that I think we _should_ at least improve the existing code somewhat and fix this issue.

[2021-09-14 00:27] TylerLeonhardt commented on #3563
The `$psEditor` object is also "backcompat" for the `$psISE` variable in the ISE.

[2021-09-14 11:20] potatoqualitee opened #3565 "VS Code Formatting Instability"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.
- [X] I have read the [troubleshooting](https://github.com/PowerShell/vscode-powershell/blob/master/docs/troubleshooting.md) guide.
- [X] I have verified that I am using the latest vers

[2021-09-14 14:29] TylerLeonhardt opened #3567 "Explore platform-specific extension releases"
### Prerequisites

- [X] I have written a descriptive issue title.
- [X] I have searched all [issues](https://github.com/PowerShell/vscode-powershell/issues?q=is%3Aissue) to ensure it has not already been reported.

### Summary

See microsoft/vscode#23251 (comment), VS Code Marketplace now allows extensions to publish different VSIXs for each platform (Windows, Linux, macOS).

This document has al

[2021-09-14 17:19] isidorn commented on #3567
@TylerLeonhardt thanks a lot for creating this.

[2021-09-14 19:43] DEberhardt commented on #3261
Hello,
thank you for the feedback, I just checked and I am on v1.20.0
[code]

and though it is always hard to prove non-existence of something, I think I managed to do so:
![image](https://user-images.githubusercontent.com/44290340/133322997-00850dca-811a-4143-8cad-ade1cf1c6fae.png)

Thank you for fixing this one, it has annoyed me greatly.
Hope this conveys my gratitude 😎
![image](https://user-im

[2021-09-14 19:43] DEberhardt commented on #3261
#please-close

[2021-09-14 19:51] andschwa commented on #3261
Shaka. When the walls fell. 👍

[2021-09-14 19:58] DEberhardt commented on #3261
More like, "Shaka. When the bug is squashed" 😸

[2021-09-14 20:39] andschwa commented on #3565
Hey Chrissy!

Super great to hear things are finally starting to work better ☺️ The PSScriptAnalyzer update was a tremendous collaboration among the team, and I was so happy to be able to pick it up! It seems to have solved a _lot_ of issues for everyone. That said, it clearly has room for improvement, and I'm hoping we can do that work.

As far as the "large chunk" of code randomly moving/pasting

[2021-09-14 20:59] andschwa commented on #3567
Hi @TylerLeonhardt and @isidorn,

Thanks for the suggestion, and it’s neat to see VS Code exploring areas such as this. The PowerShell extension fortunately has a very small footprint, less than 20 MB! We’ve recently shrunk it even further by bundling and minifying its JavaScript.

As you know, PowerShell Editor Services fully embraces the .NET Standard cross-platform target framework approach, as

[2021-09-14 21:29] TylerLeonhardt commented on #3567
I was mostly referring to the contents of the `Desktop` folder which is around 2.7mb. This folder doesn't need to be in the package for non-Windows because it's only for Windows PowerShell.

![image](https://user-images.githubusercontent.com/2644648/133335790-56238ffb-e4b3-4c62-9c92-82e880242bb5.png)

I agree that this issue isn't a high priority issue and I'm certainly not expecting work on it an

[2021-09-14 21:31] TylerLeonhardt commented on #3567
If you have specific issues, don't hesitate to open issues on vscode! I know that that can be a bit painful... part of the reason I never attempted it.

[2021-09-14 22:01] #3105 closed

[2021-09-14 22:10] rjmholt commented on #3568
I believe what you're seeing there is warning and not related to the actual issue.

The 2021.8.2 release of the PowerShell extension [only supports VSCode version 1.53 and up](https://github.com/PowerShell/vscode-powershell/commit/ec63b415865b6a6292a9fda2352fd5739c7f8d83).

Please try upgrading your VSCode installation (the latest is 1.56) and installing the PowerShell extension then.